&--cobertura {
  background-color: #ffffff;

  .e-container {
    padding-right: 0px;
  }

  .e-container-flex {
    align-items: stretch;
    width: inherit;
    max-width: inherit;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      display: inline-block;
      width: 252px;
      height: 272px;
      background-image: m_image_url('2022/11/dots-mob.png');
      z-index: 3;
      right: 106px;
      top: 40px;

      @include responsive-width($tablet_m) {
        width: 390px;
        height: 303px;
        background-image: m_image_url('2022/11/dots-tab.png');
        top: 65px;
        right: inherit;
        left: 50%;
        margin-left: -275px;
      }

      @include responsive-width($laptop_s) {
        background-image: m_image_url('2022/11/dots-desk.png');
        width: 544px;
        height: 280px;
        top: 75px;
        margin-left: -508px;
      }

      @include responsive-width($laptop_m) {
        top: 75px;
        margin-left: -431px;
      }
    }

  }

  .e-container-flex__item--1 {
    width: 40% !important;
    align-self: center;
    z-index: 4;

    @include responsive-width($laptop_s) {
      width: 30% !important;
    }

    @include responsive-width($laptop_m) {
      width: 40% !important;
    }
  }

  .e-container-flex__item--2 {
    width: 60% !important;

    @include responsive-width($laptop_s) {
      width: 70% !important;
    }

    @include responsive-width($laptop_m) {
      width: 60% !important;
    }

    picture,
    img {
      height: 100%;
      margin-right: 0;
      margin-left: auto;
      width: auto;
    }
  }

  h2 {
    color: #004fb9;
    font-size: 33px;
    font-weight: 300;
    margin-bottom: 60px;

    b {
      font-weight: 800;
      font-size: 30px;
      width: 180px;
      display: inline-block;

      @include responsive-width($tablet_s) {
        font-size: 36px;
        width: 280px;
      }

      @include responsive-width($laptop_s) {
        font-size: 40px;
        width: 380px;
      }

      @include responsive-width($laptop_m) {
        font-size: 60px;
      }
    }

    @include responsive-width($tablet_s) {
      font-size: 40px;
    }

    @include responsive-width($laptop_s) {
      font-size: 50px;
    }

    @include responsive-width($laptop_m) {
      font-size: 70px;
    }
  }

  a.e-tc--orange {
    text-decoration-line: underline;
    font-weight: 600;
  }
}