.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Entel_CyberWow_liberados' data-layer-name='Entel_CyberWow_liberados' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__item__wow_liberados
        .principalcontent_bg
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_extra('title', img_path + '2022/10/banner-wow-lib-tit', 'png', 'Un equipo liberado espera por ti')

                .e-button-buy
                    a.btn-buy.animated.btn-datalayer(href='https://miportal.entel.pe/personas/catalogo/liberados') LO QUIERO

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                +mx_picture_retina_extra('', img_path + '2022/10/banner-wow-lib-prod', 'png', 'Aprovecha el Cyber WOW del 24 al 28 de octubre') 

            //- .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago' target="_blank") Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://miportal.entel.pe/personas/catalogo/postpago/migra#terminos-y-condiciones" ) aquí!]]
            //- small.e-legal-small.e-legal-small__desk Válido en #[a(href="https://entel.pe") entel.pe] del 25 al del 29 de octubre del 2021. Stock min: 20 por modelo. No aplica RUC 20. Cobertura de delivery y restricciones en #[a(href="https://catalogo.entel.pe" ) catalogo.entel.pe]