.entel__slider--home__item(data-entel-slide-index='5' data-entel-slide-time='8000' data-layer-id='Entel_CyberWow_accesorios' data-layer-name='Entel_CyberWow_accesorios' data-layer-position='Home - Banner Superior 5' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__item__wow_accesorios
     
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina('title', img_path + '2022/10/banner-wow-accesorios-tit', 'png', 'Encuentra el accesorio perfecto para tu celu en: entel.pe')

                .e-button-buy
                    a.btn-buy.animated.btn-datalayer(href='https://miportal.entel.pe/personas/catalogo/accesorios') LO QUIERO

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                +mx_picture_retina_extra('', img_path + '2022/10/banner-wow-accesorios-prod', 'png', 'Aprovecha el cyber WOW del 24 al 28 de octubre') 

            //- .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago' target="_blank") Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://miportal.entel.pe/personas/catalogo/postpago/migra#terminos-y-condiciones" ) aquí!]]
            //- small.e-legal-small.e-legal-small__desk 
            //-     span *Entel Store.pe comercializado por IX Comercio  
            //-     span Válido del 25/10/21 al 29/10/2021 en #[a(href="https://entelstore.pe") entelstore.pe]. Stock mínimo 10 unidades por accesorio. No aplica RUC 20. Cobertura de delivery y más información en #[a(href="https://entelstore.pe" ) entelstore.pe]