.entel__slider--home__item(data-entel-slide-index='2' data-entel-slide-time='8000' data-layer-id='Entel_CyberWow_cuota0' data-layer-name='Migra hoy!' data-layer-position='Home - Banner Superior 1' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago&_ga=2.74499026.1545966670.1601923930-1719534366.1591052647')
    .entel__slider--home__item__content.entel__slider--home__item__wow_cuota0_form
     
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_extra('title', img_path + '2022/04/banner-form-wow-tit', 'png', 'Migra Postpago Cyberwow del 18 al 22 de abril')
                form.banner__form(data-codorigen="C2C_Banner")
                    .form--content
                        .form--head
                            //- h3 o déjanos tu número y 
                            //-     strong te llamamos!
                        .form--body
                            p Déjanos tu número y 
                                strong te llamamos!

                            .form--number
                                input.validonlynumeric(type='tel' maxlength='9' placeholder=' ' name='form_lead_phone' autocomplete='on')
                                span 
                                    span Número de celular
                            .form--check
                                span Al hacer clic en “Llámame” declaras haber leído la 
                                    a(href='http://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')   
                                        span Política de Privacidad
                                    | de Entel

                                input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                .input-mask-top 

                            button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='cyberwow Cuota 0 - 01') llámame 

                        .form--loading
                            //- <picture>
                            //-     <source srcset="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" media="(min-width: 768px)">
                            //-     <img src="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" title="loading">
                            <img src="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" title="loading">
                            //- </picture>
                            
                        .form--duplicate
                            p ¡Hola! Ya contamos con tu número. 
                            p Estate atento a nuestra pronta llamada.
                        .form--error
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" alt="Entel">
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" alt="Entel">
                            //- p ¡Gracias por registrarte! 
                            p Lo sentimos Ocurrió un error
                            p al procesar tus datos.
                        .form--thanks
                            //- <picture>
                            //-     <source srcset="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" media="(min-width: 768px)">
                            //-     <img src="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" title="Gracias">
                            //- </picture>
                            <img src="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" title="Gracias">

                            p ¡Gracias por confiar 
                                span  en nosotros!

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                +mx_picture_retina_extra('', img_path + '2022/04/banner-form-wow-cuota0-prod', 'png', 'Equipos con: Cuota inicial S/0') 

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) aquí!]]
            //- small.e-legal-small.e-legal-small__desk Válido en #[a(href="https://entel.pe") entel.pe] hasta el 29/10/2021 en portabilidad (origen postpago) con planes indicados y acuerdo de equipo en cuotas a 12 meses. Stock mínimo a nivel nacional: 10 unidades por modelo. Descuento del 50% aplica solo sobre el cargo fijo del plan por los 6 primeros meses desde la contratación (incluye el prorrateo). No es acumulable con otras promociones de descuento de cargo fijo ni incluye costo de chip. No aplica en Iquitos ni para RUC 20. Cobertura de delivery y restricciones: #[a(href="https://catalogo.entel.pe" ) catalogo.entel.pe]