.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Entel_CyberWow_cuota0' data-layer-name='Entel_CyberWow_cuota0' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__item__wow_cuota0_2
        .principalcontent__bg 
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina('title', img_path + '2022/07/banner-form-cuota0_2-tit-v2', 'png', 'Migra Postpago cyber wow del 4 al 8 de julio')

                .principalcontent__textbanner-text
                    form.banner__form(data-codorigen="C2C_Banner")
                        .form--content
                            //- .form--head
                                +mx_picture_retina('', img_path + '2022/06/banner-cuota0-samsung-tit-v1', 'png', 'Migra Postpago')

                            .form--body
                                h3 Déjanos tus datos y te llamamos:
                                .form--number
                                    input.validonlynumeric(type='tel' maxlength='9' placeholder=' ' name='form_lead_phone' autocomplete='on')
                                    span 
                                        span Número de celular
                                .form--check
                                    span Al hacer clic en “Llámame” declaras haber leído la 
                                        a(href='http://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')   
                                            span Política de Privacidad
                                        | de Entel

                                    input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                    .input-mask-top
                                    //- label(for='checkt')
                                        a(href='http://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')
                                            | Acepto las 
                                            span Política de Privacidad
                                button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Verano 2022 Cuota 0 - 01') LLÁMAME
                                
                            .form--button
                                a.animated.e-button.e-button--orange(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#productos')
                                    span Lo quiero

                            .form--loading
                                img(class="" srcset="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" alt="Entel")
                                //- <img class="" src="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" title="Gracias">

                            .form--duplicate
                                p ¡Hola! Ya contamos con tu número. 
                                p Estate atento a nuestra pronta llamada.

                            .form--error
                                p Lo sentimos Ocurrió un error
                                p al procesar tus datos.

                            .form--thanks
                                img(class="" srcset="https://www.entel.pe/wp-content/uploads/2022/06/ico-gracias-white.png" alt="Entel")
                                //- <img class="" src="https://www.entel.pe/wp-content/uploads/2022/06/ico-gracias-blue.png" title="Gracias">
                                
                                p ¡Gracias por confiar 
                                    span  en nosotros!

                    //- .e-button-buy
                        a.btn-buy.animated.btn-datalayer.bannerform-call(href='#' data-bannerorder="1" data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Cuota0 - 1') LO QUIERO

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                +mx_picture_retina_extra('', img_path + '2022/07/banner-form-cuota0_2-prod', 'png', 'Equipos con: cuota inicial S/0 págalo en 12 meses') 


            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) aquí!]]