.entel__slider--home__item(data-entel-slide-index='3' data-entel-slide-time='8000' data-layer-id='' data-layer-name='' data-layer-position='Home - Banner Superior 3' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__item__wow_applefans_form
     
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_extra('title', img_path + '2021/10/banner-form-wow-applefans-tit', 'png', 'Cyber WOW del 25 al 29 de octubre')
                
                form#banner-form-5g
                    .form--content
                        .form--head
                            //- h3 o déjanos tu número y 
                            //-     strong te llamamos!
                        .form--body
                            p Déjanos tus datos y te llamamos:
                            .form--number
                                input.validonlynumeric(type='tel' maxlength='9' placeholder=' ' name='form_lead_phone' autocomplete='on')
                                span 
                                    span Número de celular
                            .form--check
                                input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                .input-mask-top
                                label(for='checkt')
                                    a(href='https://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')
                                        | Declaro haber leído la 
                                        span política de privacidad
                            button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='form superior' data-gtm-category='catalogo' data-gtm-label='LLÁMENME') LLÁMENME
                            //- .form--callback
                                p Si ya eres cliente Entel haz clic #[a(href="https://www.entel.pe") aquí].
                        .form--loading
                            //- <picture>
                            //-     <source srcset="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" media="(min-width: 768px)">
                            //-     <img src="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" title="loading">
                            <img src="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" title="loading">
                            //- </picture>
                            
                        .form--duplicate
                            p ¡Hola! Ya contamos con tu número. 
                            p Estate atento a nuestra pronta llamada.
                        .form--error
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" alt="Entel">
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" alt="Entel">
                            //- p ¡Gracias por registrarte! 
                            p Lo sentimos Ocurrió un error
                            p al procesar tus datos.
                        .form--thanks
                            //- <picture>
                            //-     <source srcset="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" media="(min-width: 768px)">
                            //-     <img src="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" title="Gracias">
                            //- </picture>
                            <img src="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" title="Gracias">

                            p ¡Gracias por confiar 
                                span  en nosotros!

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                +mx_picture_retina_extra('', img_path + '2021/10/banner-form-wow-applefans-prod', 'png', 'Apple Fans desde Plan Entel Power 69.9 - *Sujeto a pago de cuota inicial') 

            //- .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago' target="_blank") Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) aquí!]]
            small.e-legal-small.e-legal-small__desk Válido en #[a(href="https://entel.pe") entel.pe] hasta el 29/10/21 para portar (origen postpago) o renovar con planes indicados. Plan postpago y equipo en cuotas sujetos a evaluación crediticia y con acuerdo de equipo a 24 meses. Stock mínimo a nivel nacional: 50 unidades por modelo. No aplica para Iquitos ni RUC20. Zonas de cobertura 5G, condiciones para renovar/portar y restricciones: #[a(href="https://entel.pe") www.entel.pe]