.entel__slider--home__item__content.entel__slider--home__item__partes {
    background: $white;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
        }
        
        @include responsive-width($laptop-s) {
            width: 100% !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            margin-bottom: 0;
            z-index: 2;
            position: relative;
        
            @include responsive-width($mobile-l) {
                max-width: 320px;
                margin: 0 auto;
            }
        
            @include responsive-width($tablet-m) {
                width: 100%;
                height: 100%;
                text-align: left;
                max-width: 100%;
                margin: auto;
            }

            img {
        
                @include responsive-width($tablet-m) {
                    width: auto;
                    left: 50%;
                    position: relative;
                    -moz-transform: translateX(-110%);
                    -webkit-transform: translateX(-110%);
                    -o-transform: translateX(-110%);
                    -ms-transform: translateX(-110%);
                    transform: translateX(-110%);
                    
                }
        
                @include responsive-width($laptop-s) {
                    -moz-transform: translateX(-107%);
                    -webkit-transform: translateX(-107%);
                    -o-transform: translateX(-107%);
                    -ms-transform: translateX(-107%);
                    transform: translateX(-107%);
                }
        
                @include responsive-width($desktop-s) {
                    top: 0;
                    left: 0;
                    -moz-transform: translateX(-6%);
                    -webkit-transform: translateX(-6%);
                    -o-transform: translateX(-6%);
                    -ms-transform: translateX(-6%);
                    transform: translateX(-6%);
                    width: 48%;
                    height: 100%;
                    object-fit: cover;
                    object-position: left top;
                    position: absolute;
                    display: block;
                }
        
                @include responsive-width(1500px) {
                    -moz-transform: none;
                    -webkit-transform: none;
                    -o-transform: none;
                    -ms-transform: none;
                    transform: none;
                }
                
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: -100px 0 0 0;
            width: 100%;
            text-align: center;
            position: relative;
            top: 0;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: 50%;
                left: 50%;
                width: auto;
                -moz-transform: translate(-20%, -5%);
                -webkit-transform: translate(-20%, -5%);
                -o-transform: translate(-20%, -5%);
                -ms-transform: translate(-20%, -5%);
                transform: translate(-20%, -5%);
            }
        
            @include responsive-width($laptop-s) {
                top: 130px;
                -moz-transform: translate(-11%, 12%);
                -webkit-transform: translate(-11%, 12%);
                -o-transform: translate(-11%, 12%);
                -ms-transform: translate(-11%, 12%);
                transform: translate(-11%, 12%);
            }

            @include responsive-width($desktop-s) {
                width: auto;
                -moz-transform: translate(-11%, 0%);
                -webkit-transform: translate(-11%, 0%);
                -o-transform: translate(-11%, 0%);
                -ms-transform: translate(-11%, 0%);
                transform: translate(-11%, 0%);
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 5px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: 470px;
                }
        
                @include responsive-width($laptop-s) {
                    width: 570px;
                }

                @include responsive-width($desktop-s) {
                    width: auto;
                }
            }
        }

        .e-button {

            &-buy {    
                margin-top: 4px;
                position: relative;
                z-index: 2;
            
                @include responsive-width($tablet-m) {
                    position: absolute;
                    top: 0;
                    left: 50%;
                }
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: -65%;
                        margin-top: 288px;
                    }
            
                    @include responsive-width($laptop-s) {
                        margin-left: -41%;
                    }

                    @include responsive-width($desktop-s) {
                        margin-left: -46%;
                    }
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;

            @include responsive-width($tablet-m) {
                z-index: 3;
                display: block;
                // max-width: 360px;
                font-size: 9px;
                line-height: 11px;
                padding: 0;
                padding-left: 10px;
                margin-left: 0;
                margin-top: 22px;
                color: $blue;

                
                position: absolute;
                bottom: 23px;
                right: 0;
                width: 68%;
                max-width: none;
            }
            
            @include responsive-width($laptop-s) {
                right: auto;
                left: 10px;
                color: $white;
                width: 33%;
            }

            @include responsive-width($desktop-s) {
                left: 50%;
                width: 430px;
                -moz-transform: translateX(-606px);
                -webkit-transform: translateX(-606px);
                -o-transform: translateX(-606px);
                -ms-transform: translateX(-606px);
                transform: translateX(-606px);
            }

            a {
                color: $blue;
                text-decoration: none;
            
                @include responsive-width($laptop-s) {
                    color: $white;
                }
            }
        }
    }
}
