.entel__slider--home__item__content--howtopay {
    background: rgb(3,57,155);
    background: linear-gradient(33deg, rgba(3,57,155,1) 0%, rgba(0,79,185,1) 50%);

    picture {
        top: unset;
        left: 0%;
        bottom: 0;
        transform: unset;

        img {
            width: 100%;
            height: auto;
            max-width: 100%;

            @include responsive-width(768px) {
                width: auto;
            }
        }

        @include responsive-width(400px) {
            left: 0%;
        }

        @include responsive-width(768px) {
            left: 30%;

            img {
                max-width: initial;
            }
        }
        @include responsive-width(835px) {
            left: 42%;

            img {
                max-width: initial;
            }
        }        
    }

    .principalcontent {
        &__textbanner {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 300px;
            top: -200px;
            font-size: 34px;
            color: #FFFFFF;
            font-weight: 300;
            line-height: 31px;
            text-align: left;
            font-family: 'Barlow';
            font-style: normal;
            padding: 0 7px;
            transform: translate(0, 0);
    
            strong {
                font-weight: 600;
            }
    
            span {
                font-size: 20px;
                line-height: 28px;
                color: #00B9EB;
                font-weight: 600;
            }
            
            br {
                display: none;
            }

            img {
                width: auto;
            }       

            img.hidden-lg {
                margin-right: 0 !important;
                margin-left: 14%;

                @include responsive-width(320px) {
                    margin-right: 0 !important;
                    margin-left: 20%;
                }

                @include responsive-width(322px) {
                    margin-right: 0 !important;
                    margin-left: 50%;
                }
            }

            @include responsive-width($tablet-m) {
                font-size: 34px;
                line-height: 40px;
                position: relative;
                top: 0px;
                left: 0px;

                span {
                    font-size: 24px;
                }
                
            }

            @include responsive-width($laptop-s) {
                width: auto;
                font-size: 44px;
                line-height: 44px;
                position: relative;
                top: 0px;
                left: 0px;

                span {
                    font-size: 24px;
                }

                br {
                    display: block;
                }
            }
        }

    }

    .e-button-buy.hidden-lg {
        position: absolute;
        bottom: 40px;
        right: 0;
        left: 0;
    }
}