.entel__slider--home__item__content.entel__slider--home__entelday-hogar  {
    background: $blue;
    padding: 0;
        
    @include responsive-width($tablet-m) {
        background: $white;
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        // top: 0%;
        // left: 50%;
        width: 100%;
        -ms-transform: none;
        transform: none;
        // max-width: 414px;
        // width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            position: absolute;
            max-width: 100%;
            height: 400px;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 10px;
            }
            
            &-detail {
                position: absolute;
                left: 50%;
                top: 0;

                @include responsive-width($tablet-m) {
                    left: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: none;
                    width: 1180px;
                    height: 380px;
                    background-color: $blue;
                    -webkit-border-radius: 52px;
                    -moz-border-radius: 52px;
                    border-radius: 52px;

                    -moz-transform: rotate(190deg) skew(-2deg) translate(89%, 42.3%);
                    -webkit-transform: rotate(190deg) skew(-2deg) translate(89%, 42.3%);
                    -o-transform: rotate(190deg) skew(-2deg) translate(89%, 42.3%);
                    -ms-transform: rotate(190deg) skew(-2deg) translate(89%, 42.3%);
                    transform: rotate(190deg) skew(-2deg) translate(89%, 42.3%);
                    
                    @include responsive-width($tablet-m) {
                        display: block;
                        width: 1590px;
                        height: 1540px;
                        -webkit-border-radius: 100px;
                        -moz-border-radius: 100px;
                        border-radius: 100px;
                        -moz-transform: rotate(196deg) skew(-2deg) translate(83%, -9.5%);
                        -webkit-transform: rotate(196deg) skew(-2deg) translate(83%, -9.5%);
                        -o-transform: rotate(196deg) skew(-2deg) translate(83%, -9.5%);
                        -ms-transform: rotate(196deg) skew(-2deg) translate(83%, -9.5%);
                        transform: rotate(196deg) skew(-2deg) translate(83%, -9.5%);
                    }
                    @include responsive-width(940px) {
                        // width: 1590px;
                        // height: 1540px;
                        // -webkit-border-radius: 80px;
                        // -moz-border-radius: 80px;
                        // border-radius: 80px;
                        -moz-transform: rotate(196deg) skew(-2deg) translate(76%, -9.5%);
                        -webkit-transform: rotate(196deg) skew(-2deg) translate(76%, -9.5%);
                        -o-transform: rotate(196deg) skew(-2deg) translate(76%, -9.5%);
                        -ms-transform: rotate(196deg) skew(-2deg) translate(76%, -9.5%);
                        transform: rotate(196deg) skew(-2deg) translate(76%, -9.5%);
                    }
                }
            }

            img {
                position: relative;
                margin-right: 22px;
    
                @include responsive-width($tablet-m) {
                    // max-width: 399px;
                    margin-right: auto;
                    margin-left: -7%;
                    width: 468px;
                }

                @include responsive-width(940px) {
                    // margin-left: -19%;
                    margin-left: -9%;
                    width: auto;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            // display: none;
            margin: -78px 0 0 0;
            width: 100%;
            position: relative;
            text-align: center;
            // text-align: right;
            // position: absolute;
            // top: 50%;
            // -ms-transform: translate(-10px,-43%);
            // transform: translate(-10px,-43%);
        
            @include responsive-width($tablet-m) {
                text-align: right;
                position: absolute;
                // -ms-transform: translate(158px, -75%);
                // transform: translate(158px, -75%);
                
                -ms-transform: translate(18%, -40%);
                transform: translate(18%, -40%);
            }

            @include responsive-width(940px) {
                -ms-transform: translate(13%, -61%);
                transform: translate(13%, -61%);
            }

            &-img {
                position: relative;
                display: block;
            }

            img {
                max-width: 100%;
                display: inline-block;   
                margin-right: -10px;
        
                @include responsive-width($tablet-m) {
                    max-width: 44%;
                    margin-bottom: -194px;
                    margin-right: 140px;
                }

                @include responsive-width(940px) {
                    // max-width: 100%;
                    // margin-right: 20px;
                    max-width: 42%;
                    margin-bottom: -104px;
                }

                @include responsive-width(1200px) {
                    max-width: 100%;
                    margin-bottom: -54px;
                    margin-right: 0;
                    // margin-right: 20px;
                }
            }
        }

        .e-button-buy {    
            margin-top: -3px;
            position: relative;
            // max-width: 320px;
            // margin-right: auto;
            // margin-left: auto;
            // margin-top: -24px;
        
            @include responsive-width($tablet-m) {
                margin-top: -32px;
            }

            @include responsive-width(940px) {
                margin-top: -72px;
            }
            
            &-detail {
                position: absolute;
                right: 0;
                top: 0;

                @include responsive-width($tablet-m) {
                    left: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 380px;
                    background-color: $white;
                    -webkit-border-radius: 52px;
                    -moz-border-radius: 52px;
                    border-radius: 52px;

                    -moz-transform: rotate(172deg) skew(5deg) translate(96%, 35.3%);
                    -webkit-transform: rotate(172deg) skew(5deg) translate(96%, 35.3%);
                    -o-transform: rotate(172deg) skew(5deg) translate(96%, 35.3%);
                    -ms-transform: rotate(172deg) skew(5deg) translate(96%, 35.3%);
                    transform: rotate(172deg) skew(5deg) translate(96%, 35.3%);
                    
                    @include responsive-width($tablet-m) {
                        display: none;
                    //     width: 1590px;
                    //     height: 1540px;
                    //     -webkit-border-radius: 80px;
                    //     -moz-border-radius: 80px;
                    //     border-radius: 80px;
                    //     -moz-transform: rotate(190deg) skew(-2deg) translate(81%, -6.5%);
                    //     -webkit-transform: rotate(190deg) skew(-2deg) translate(81%, -6.5%);
                    //     -o-transform: rotate(190deg) skew(-2deg) translate(81%, -6.5%);
                    //     -ms-transform: rotate(190deg) skew(-2deg) translate(81%, -6.5%);
                    //     transform: rotate(190deg) skew(-2deg) translate(81%, -6.5%);
                    }
                    // @include responsive-width(940px) {
                    //     width: 1590px;
                    //     height: 1540px;
                    //     -webkit-border-radius: 80px;
                    //     -moz-border-radius: 80px;
                    //     border-radius: 80px;
                    //     -moz-transform: rotate(190deg) skew(-2deg) translate(74%, -6.5%);
                    //     -webkit-transform: rotate(190deg) skew(-2deg) translate(74%, -6.5%);
                    //     -o-transform: rotate(190deg) skew(-2deg) translate(74%, -6.5%);
                    //     -ms-transform: rotate(190deg) skew(-2deg) translate(74%, -6.5%);
                    //     transform: rotate(190deg) skew(-2deg) translate(74%, -6.5%);
                    // }
                }
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-left: 10px;
                    margin-top: 10px;
                }

                @include responsive-width(940px) {
                    margin-top: 20px;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: block;
            margin: 15px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;
            position: relative;
            // letter-spacing: -0.05em;

            a {
                color: $blue;
                text-decoration: none;
            }

            @include responsive-width($tablet-m) {
                width: 40%;
                // max-width: 530px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                padding-left: 15px;
                margin-left: 0;
                margin-top: 15px;
                color: $white;

                a {
                    color: $white !important;
                }
            }

            @include responsive-width(940px) {
                width: 50%;
            }
        }
    }
}
