.entel__slider--home__item__content.entel__slider--home__item__iphone_se {
    background: #161617;

    .principalcontent {
        position: relative;
        top: -26px;
        left: 50%;
        width: 100%;
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        max-width: 414px;
        width: 100%;
        margin: 0;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
            top: 20px;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 0 20px;
            position: relative;
            z-index: 1;
        
            @include responsive-width($tablet-m) {
                width: 100%;
            }
            
            h3 {
                font-size: 28px;
                line-height: 30px;
                color: $white;
                margin: 18px 0 18px 0;
        
                @include responsive-width($tablet-m) {
                    font-size: 40px;
                    line-height: 48px;
                }
            }

            p {
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                margin: 0;
                color: $white;
        
                @include responsive-width($tablet-m) {
                    font-size: 16px;
                    line-height: 16px;
                }

                br {
                    @include responsive-width($tablet-m) {
                        display: none;
                    }
                }
            }

            img {
                @include responsive-width($tablet-m) {
                    width: auto;
                }
            }
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: right;
            position: absolute;
            z-index: 0;
            top: 0;
        
            @include responsive-width($tablet-m) {
                width: 182%;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        
            @include responsive-width($laptop-s) {
                width: 152%;
            }
            
            &-img {
                position: relative;
                display: block;
                text-align: center;
            }

            img {
                max-width: 100%;
                display: inline-block;
            }
        }

        .e-button-buy {
            text-align: center;
            padding: 0 20px;
            position: absolute;
            z-index: 1;
            bottom: -250px;
        
            @include responsive-width($tablet-m) {
                position: relative;
                margin-top: 32px;
                bottom: auto;
                display: flex;
                flex-direction:column-reverse;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                margin-top: 20px;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    margin-top: 0px;
                }
            }
    
            .e-legal-small {
                font-size: 10px;
                font-weight: normal;
                line-height: 12px;
                display: block;
                margin: 10px auto 0;
                padding: 0;
                color: $white;
                text-align: left;
        
                @include responsive-width($tablet-m) {
                    margin-left: 0px;
                    max-width: 440px;
                    margin-top: 20px;
                }

                a {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }
}
