.entel__slider--home__item__content_xiaomi-huawei {
    background: white;
    background-repeat: no-repeat;
    background-position: 50% -140px;
    background-image: url('https://www.entel.pe/wp-content/uploads/2020/09/shape-mob.png');

    @include responsive-width($tablet-m) {
        background-image: unset;
    }

    &.entel__slider--home__item__content_xiaomi-huawei {

        .principalcontent__textbanner  {           
            &::before {
                @include responsive-width($tablet-m) {
                    content: url('https://www.entel.pe/wp-content/uploads/2020/09/shape-desk.png');
                    top: -110px;
                    left: auto;
                    height: 100%;
                    right: -115px;
                    display: block;
                    position: absolute;
                }
            }
        }    

        .principalcontent {
            transform: translate(-50%, -58%);

            @include responsive-width($tablet-m) {
                top: 54%;
            }

            .e-button-buy small {
                font-size: 10px;
                line-height: 12px;
                color: #00B9EB;
                display: block;
                width: 80%;
                margin: 0 auto;
                text-align: left;

                @include responsive-width($tablet-m) {
                    width: 100%;
                }
            }

            .e-button-buy.hidden-xs {
                @include responsive-width($tablet-m) {
                    width: 100%;
                    position: absolute;
                    z-index: 10;
                    bottom: 10px;
                }
            }

            &__textbanner {
                position: relative;
                z-index: 3;

                .e-button-buy {
                    position: relative;
                    z-index: 3;
                    
                    @include responsive-width($tablet-m) {
                        margin-top: 0px;
                    }
                }

                .e-button-buy  small,
                .e-button-buy  b {
                    width: 210px;
                    font-size: 10px;
                    line-height: normal;
                    color: white;
                    margin-top: 0;

                    @include responsive-width($laptop-m) {
                        width: 280px;
                    }
                }

                .e-button-buy  b {
                    margin: 14px 0;
                    display: block;
                    font-size: 13px;
                }

                h2 {
                    z-index: 3;
                    width: 250px;
                    margin: 0 auto;
                    font-size: 40px;
                    color: #00B9EB;
                    text-align: left;
                    line-height: 40px;
                    font-weight: bold;
                    position: relative;

                    @include responsive-width($tablet-m) {
                        width: 100%;
                        font-weight: bold;
                        font-size: 36px;
                        line-height: 36px;
                    }

                    @include responsive-width($laptop-m) {
                        font-weight: bold;
                        font-size: 50px;
                        line-height: 50px;
                    }

                    span {
                        color: white;
                        display: block;
                        font-size: 25px;
                        font-weight: 400;
                        font-size: 13px;
                        text-align: left;
    
                        @include responsive-width($tablet-m) {
                            font-weight: 300;
                            font-size: 15px;
                            line-height: 15px;
                            margin: 7px 0 14px 0;
                        }
                    }
                }


                img  {
                    width: auto;
                    margin-bottom: 21px;
                    position: relative;
                    z-index: 3;
                }

                @include responsive-width($tablet-m) {
                    width: 42%;
                    display: table-cell;
                    vertical-align: middle;
                }

                @include responsive-width($tablet_ll) {
                    padding-left: 0;
                } 
            }

            &__imgbanner--mobile-only {
                margin: 0;
                display: block !important;

                img {
                    margin: 0 auto;
                    max-width: initial;
                }

            }

            &__imgbanner--mobile-only ~ .e-button-buy.hidden-lg {
                left: 0;
                right: 0;
                bottom: 40px;
                position: absolute;
                display: block !important;
            }

            &__imgbanner {
                display: block;
                margin-left: 0;
                
                @include responsive-width($tablet-m) {
                    top: 0;
                    left: 60px;
                    display: table-cell;
                    vertical-align: text-bottom;
                    z-index: 3;
                    width: auto;

                    &--mobile-only,
                    &--redmi-note-9 {
                        display: none !important;
                    }
                } 

                @include responsive-width($laptop-s) {
                    left: 40px;

                    &--redmi-note-9 {
                        display: table-cell !important;
                    }
                } 

                @include responsive-width($laptop-m) {
                    left: 70px;

                } 

                img {
                    width: auto;
                    display: table-cell;
                    vertical-align: text-top;
                    max-width: initial !important;
                }
            }

            &__model {
                margin-top: 0px;
                color: $primary !important;

                @include responsive-width($tablet-m) {
                    width: 180px;
                    display: table-cell;
                    vertical-align: text-top;
                    position: absolute;
                    top: 100px;
                    right: -180px;
                }

                p {
                    
                    @include responsive-width($tablet-m) {
                        font-size: 42px;
                        margin: 20px 0 9px;
                        
                        span {
                            font-size: 42px;
                            font-weight: 700;
                        }
                    }
                }

                &--pack {
                    position: absolute;
                    top: 0;
                    left: 24%;
    
                    @include responsive-width($tablet-m) {
                        left: -70px;
                        top: 60px;
                        text-align: right;

                        a {
                            right: -4px;
                        }
                    }
                }
            }
            
            &__plan {
                position: relative;

                ul li:last-child {
                    color: $primary !important;
                }

                ul {
                    color: $primary !important;
                    position: relative;

                    li {

                        &::before {
                            content: "";
                        }
                        
                        @include responsive-width($tablet-m) {
                            font-size: 12px;
                        }  
                    }

                    a {
                        display: none;

                        @include responsive-width($tablet-m) {
                            display: block;
                        }  
                    }
                }
            }

            @include responsive-width($tablet-m) {
                transform: translate(-50%, -50%);
            }
        }
    }
}
