.entel__slider--home__item__content.entel__slider--home__apple_fans {
    background: $black;
    padding: 0;
    background-image: url($m_image_path+'2021/08/banner-apple-fans-back-mob.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @include responsive-width($tablet-m){
        background-image: url($m_image_path+'2021/08/banner-apple-fans-back-tab.jpg');
    }

    @include responsive-width($laptop-s){
        background-image: url($m_image_path+'2021/08/banner-apple-fans-back-desk.jpg');
    }


    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 650px;
            height: 370px;
            top: 0;
            -ms-transform: none;
            transform: none;
        }

        @include responsive-width($laptop-s) {
            max-width: 950px;
        }

        @include responsive-width($laptop-m) {
            max-width: 1050px;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            margin-bottom: 0;
            margin-top: 0;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 0;
                // padding-top: 40px;
                            
                padding-top: 0;
                margin-top: 0;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 0px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0;
                margin-left: 0px;
            }

            &-detail {
                position: absolute;
                left: 50%;
                top: 0;

                @include responsive-width($tablet-m) {
                    left: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: none;
                    width: 3000px;
                    height: 3000px;
                    background-color: $white;
                    
                    @include responsive-width($tablet-m) {
                        display: block;
                        -webkit-border-radius: 100px;
                        -moz-border-radius: 100px;
                        border-radius: 100px;
                        -moz-transform: rotate(-13deg) skew(1deg) translate(-2309px, -2917px);
                        -webkit-transform: rotate(-13deg) skew(1deg) translate(-2309px, -2917px);
                        -o-transform: rotate(-13deg) skew(1deg) translate(-2309px, -2917px);
                        -ms-transform: rotate(-13deg) skew(1deg) translate(-2309px, -2917px);
                        transform: rotate(-13deg) skew(1deg) translate(-2309px, -2917px);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: rotate(-15deg) skew(2deg) translate(-2189px, -2987px);
                        -webkit-transform: rotate(-15deg) skew(2deg) translate(-2189px, -2987px);
                        -o-transform: rotate(-15deg) skew(2deg) translate(-2189px, -2987px);
                        -ms-transform: rotate(-15deg) skew(2deg) translate(-2189px, -2987px);
                        transform: rotate(-15deg) skew(2deg) translate(-2189px, -2987px);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: rotate(-15deg) skew(2deg) translate(-2149px, -2977px);
                        -webkit-transform: rotate(-15deg) skew(2deg) translate(-2149px, -2977px);
                        -o-transform: rotate(-15deg) skew(2deg) translate(-2149px, -2977px);
                        -ms-transform: rotate(-15deg) skew(2deg) translate(-2149px, -2977px);
                        transform: rotate(-15deg) skew(2deg) translate(-2149px, -2977px);
                    }
                }
            }

            img {
                width: auto;
                position: relative;
                display: inline-block;
                margin-bottom: 0px;
                margin-left: 0;
                margin-top: 34px;

                @include responsive-width($tablet-m) {
                    width: auto;
                    margin-left: 50px;
                    margin-top: 30px;
                    margin-bottom: auto;
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    text-align: left;
                    padding: 0;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            margin: 0 0 10px 0;
            width: 100%;
            position: relative;
            text-align: right;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                transform: none;
                bottom: 25px;
                right: 60px;
                text-align: right;
                margin-bottom: 0;
            }

            @include responsive-width($laptop-s) {
                bottom: 55px;
            }

            @include responsive-width($laptop-m) {
                bottom: 75px;
                right: 90px;
            }

            &-img {
                position: relative;
                display: block;

                @include responsive-width($laptop-m) {
                    text-align: right;
                }
            }

            img {
                max-width: none;
                width: auto;
                margin-top: -165px;
                margin-right: 10px;
                display: inline-block;
        
                @include responsive-width($tablet-m) {
                    margin: 0;
                }

                @include responsive-width($laptop-s) {
                    margin-right: 20px;
                    margin-bottom: 32px;
                    max-width: 60%;
                }

                @include responsive-width($laptop-m) {
                    max-width: initial;
                    margin-right: -35px;
                    margin-bottom: 0;
                }
            }
        }

        .e-button-buy {
            margin-top: -70px;
            text-align: left;
        
            @include responsive-width($tablet-m) {
                margin-top: 40px;
                margin-left: 50px;
            }
        
            @include responsive-width($laptop-s) {
                margin-left: 50px;
                margin-top: 10px;
            }

            @include responsive-width($laptop-m) {

            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
                display: inline-block;
        
                @include responsive-width($tablet-m) {
                    width: 140px;
                    font-size: 12px;
                    margin-top: 0px;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 0;
                    width: 166px;
                    margin-top: 24px;
                }

                
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            margin: 7px auto 0;
            color: #9E9FA1;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 2;
            
            display: block;
            padding: 0;
            position: absolute;
            bottom: 10px;

            @include responsive-width($tablet-m) {
                position: absolute;
                font-size: 9px;
                padding: 0;
                bottom: 44px;
                right: 47px;
                max-width: 660px;
            }

            &__mob {
                width: 100%;

                @include responsive-width($tablet-m) {
                    right: auto;
                    left: 60px;
                }

                @include responsive-width($laptop-s) {
                    display: none;
                }
            }

            &__desk {
                display: none;

                @include responsive-width($laptop-s) {
                    display: block;
                    width: 100%;
                    max-width: 1024px;
                    right: auto;
                    bottom: 50px;
                }

            }

            a {
                color: #9E9FA1;
                text-decoration: none;
            }
        }
    }
}
