.entel__slider--home__item__content.entel__slider--home__liberados_reg3_ibk  {
    background: linear-gradient(180deg, #FBFBFB 0%, #EFEFEF 100%);
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 750px !important;
            height: 100%;
            top: 0;
            -ms-transform: none;
            transform: none;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &-detail {
            position: absolute;
            left: 50%;

            &::after {
                position: absolute;
                content: '';
                display: block;
                width: 2000px;
                height: 2000px;
                background-color: $blue;
                -webkit-border-radius: 48px;
                -moz-border-radius: 48px;
                border-radius: 48px;

                -moz-transform: rotate(13deg) skew(7deg) translate(-2052px, 358px);
                -webkit-transform: rotate(13deg) skew(7deg) translate(-2052px, 358px);
                -o-transform: rotate(13deg) skew(7deg) translate(-2052px, 358px);
                -ms-transform: rotate(13deg) skew(7deg) translate(-2052px, 358px);
                transform: rotate(13deg) skew(7deg) translate(-2052px, 358px);

                
                @include responsive-width($tablet-m) {
                    -webkit-border-radius: 102px;
                    -moz-border-radius: 102px;
                    border-radius: 102px;
                    -moz-transform: rotate(11deg) skew(-1deg) translate(-2108px, 271px);
                    -webkit-transform: rotate(11deg) skew(-1deg) translate(-2108px, 271px);
                    -o-transform: rotate(11deg) skew(-1deg) translate(-2108px, 271px);
                    -ms-transform: rotate(11deg) skew(-1deg) translate(-2108px, 271px);
                    transform: rotate(11deg) skew(-1deg) translate(-2108px, 271px);
                }

                @include responsive-width($laptop-s) {
                    -moz-transform: rotate(10deg) skew(1deg) translate(-2111px, 232px);
                    -webkit-transform: rotate(10deg) skew(1deg) translate(-2111px, 232px);
                    -o-transform: rotate(10deg) skew(1deg) translate(-2111px, 232px);
                    -ms-transform: rotate(10deg) skew(1deg) translate(-2111px, 232px);
                    transform: rotate(10deg) skew(1deg) translate(-2111px, 232px);
                }

                @include responsive-width($desktop_s) {
                    -webkit-border-radius: 76px;
                    -moz-border-radius: 76px;
                    border-radius: 76px;
                    -moz-transform: rotate(11deg) skew(3deg) translate(-2138px, 260px);
                    -webkit-transform: rotate(11deg) skew(3deg) translate(-2138px, 260px);
                    -o-transform: rotate(11deg) skew(3deg) translate(-2138px, 260px);
                    -ms-transform: rotate(11deg) skew(3deg) translate(-2138px, 260px);
                    transform: rotate(11deg) skew(3deg) translate(-2138px, 260px);
                }
            } 
        }

        &__textbanner {
            padding-left: 6px;
            font-weight: bold;
            text-align: left;
            display: block;
            margin-bottom: 0;
            margin-top: 0;
            padding-top: 12px;
            padding-bottom: 10px;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 42px;
                padding-top: 102px;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 30px;
            }

            @include responsive-width($desktop_s) {
                padding-top: 92px;
                padding-left: 22px;
            }

            img {
                position: relative;
                display: inline-block;
                width: auto;

                @include responsive-width($tablet-m) {
                    // max-width: 399px;
                    margin-left: 25px;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 33px;
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    // padding: 58px 0 0 0;
                                    
                    text-align: left;
                    padding: 0;
                }

                // @include responsive-width($laptop-m) {
                //     margin-left: -70px;
                // }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            top: 13px;
            right: -10px;
            width: 100%;
            position: absolute;
            text-align: right;
        
            @include responsive-width($tablet-m) {
                // margin: -10px 0 0 0;
                margin: 0;
                position: absolute;
                top: 0px;
                left: 76px;            
                -ms-transform: none;
                transform: none;
            }
           
            &-img {
                position: relative;
                display: block;
                height: 100%;

               
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;   
                margin-right: 5px;
        
                @include responsive-width($tablet-m) {    
                    margin-right: 60px;
                    margin-top: 30px;
                }

                @include responsive-width($laptop-s) {
                    margin-top: 0px;
                    margin-right: 114px;
                }

                // @include responsive-width($laptop-m) {
                //     max-width: none;
                //     width: auto;
                //     margin-right: 20px;
                // }
            }
        }

        .e-button-buy {
            margin-top: 145px;
            text-align: left;
            margin-left: 12px;
        
            @include responsive-width($tablet-m) {
                margin-top: 61px;
                margin-left: 65px;
            }

            @include responsive-width($laptop-s) {
                margin-top: 44px;
                margin-left: 38px;
            }

            @include responsive-width($desktop_s) {
                margin-top: 42px;
                margin-left: 50px;
            }

            .btn-buy {
                height: 40px;
                width: 142px;
                padding: 0;
                margin: 0;
                line-height: 36px;
                font-size: 12px;
        
                @include responsive-width($tablet-m) {
                    margin: 0;
                    width: 186px;
                    height: 50px;
                    font-size: 14px;
                    line-height: 48px;
                }

                // @include responsive-width($laptop-s) {
                //     margin-top: 0;
                //     margin-left: 30px;
                // }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;

            &__mob {
                padding-right: 15px;
                margin: 7px auto 0;
                bottom: 16px;
                text-align: center;
                
                @include responsive-width($tablet-m) {
                    width: 100%;
                    padding: 0;
                    bottom: 20px;
                }
                
                @include responsive-width($laptop-s) {
                    display: none;
                }
            }

            &__desk {
                display: none;
                
                @include responsive-width($tablet-m) {
                    font-size: 9px;
                    max-width: 644px;
                    right: auto;
                    left: 50px;
                    bottom: 10px;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                }

                @include responsive-width($laptop-s) {
                    bottom: 15px;
                    max-width: 920px;
                    display: block;
                }
    
                // @include responsive-width($laptop-m) {
                //     display: block;
                //     max-width: 100%;
                //     left: 0;
                //     bottom: 20px;
                // }
            }

            a {
                color: $extra_dark_gray;
                text-decoration: none;
            }
        }
    }
}
