.entel__slider--home__item__content_app_entel {
    h1,
    p {
      color: #ffffff;
      text-align: center;
      @media screen and (min-width: 450px) and (max-width: 767px) {
        text-align: left;
      }
    }
    h1 {
      font-weight: 600;
      font-size: 40px;
      line-height: 26px;
      display: inline-block;
      vertical-align: middle;
      @include responsive-width($tablet_m) {
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        text-align: left;
        strong {
          color: #00ad8a;
          display: block;
        }
      }

      @media screen and (min-width: 1200px) {
        font-size: 64px;

      }
    }
    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      text-align: left;
      color: $blue;
      @include responsive-width($tablet_m) {
        font-size: 19px;
        line-height: 25px;
        text-align: left;
      }
    }

    .e-box-title {
        margin-top: 7px;
        text-align: left;
        
        @include responsive-width($tablet_m) {
            text-align: left;
            margin-top: 0;
        }

        h1 {
          vertical-align: top;
          padding-top: 10px;
        }
        
    }

    .e-title-logo {
        display: inline-block;
        margin-left: 1rem;
        width: 55px;

        @include responsive-width($tablet_m) {
            width: 86px;
        }

    }
    a {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%) !important;
      @media screen and (min-width: 450px) and (max-width: 767px) {
        left: 80%;
      }
      @include responsive-width($tablet_m) {
        position: relative;
        top: inherit;
        left: 0%;
        transform: none !important;
      }
    }
    .entel__slider--home__item__content-box {
      @include responsive-width($tablet_m) {
        max-width: 1120px;
        margin: 2rem auto 0;
      }
    }
    padding: 12px 21px 0;
    width: 100%;
    background-image: m_image_url("2021/09/e-banner-app-mi-entel-bg-mob.jpg");
    background-color: $blue;
    background-position: 50% 41%;
    background-size: 100%;
    background-repeat: no-repeat;
    @include backgound_retina {
      background-image: m_image_url(
        "2021/09/e-banner-app-mi-entel-bg-mob@2x.jpg"
      );
    }

    .hidden-mb {
        display: none;

        @include responsive-width($tablet_m) {
            display: inline-block;
        }
    }
  
    @include responsive-width($tablet_m) {
      background-image: m_image_url(
        "2021/09/e-banner-app-mi-entel-bg.jpg"
      );
      @include backgound_retina {
        background-image: m_image_url(
          "2021/09/e-banner-app-mi-entel-bg@2x.jpg"
        );
      }
      background-size: cover;
  
    }
    
  }
  