.entel__slider--home__item__content.entel__slider--home__item__accesorios {
    background: $white;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            padding-top: 20px;
            z-index: 2;
            position: relative;
        
            @include responsive-width($tablet-m) {
                padding-top: 94px;
                padding-left: 10px;
                width: 100%;
                text-align: left;
            }

            img {
                // margin-right: 15px;
        
                @include responsive-width($tablet-m) {
                    width: 290px;
                }
        
                @include responsive-width($laptop-s) {
                    width: auto;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 0 0 0;
            width: 100%;
            text-align: right;
            position: relative;
            top: 0;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: 50%;
                left: 50%;
                width: auto;
                -moz-transform: translate(-14%, -50%);
                -webkit-transform: translate(-14%, -50%);
                -o-transform: translate(-14%, -50%);
                -ms-transform: translate(-14%, -50%);
                transform: translate(-14%, -50%);
            }
        
            @include responsive-width($laptop-s) {
                position: absolute;
                top: 0;
                left: 40%;
                width: auto;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            
            
            &-detail {
                position: absolute;
                right: 0;
                top: 0;

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 520px;
                    z-index: 1;
                    background-color: $blue;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    border-radius: 50px;

                    -moz-transform:translate(-106px, -396px) skew(-19deg) rotate(-9deg);
                    -webkit-transform:translate(-106px, -396px) skew(-19deg) rotate(-9deg);
                    -o-transform:translate(-106px, -396px) skew(-19deg) rotate(-9deg);
                    -ms-transform:translate(-106px, -396px) skew(-19deg) rotate(-9deg);
                    transform:translate(-106px, -396px) skew(-19deg) rotate(-9deg);

                    @include responsive-width($tablet-m) {
                        display: none;
                    }
                }
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 5px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                }
            }
        }

        .e-button {

            &-buy {    
                margin-top: 42px;
                position: relative;
                z-index: 2;
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 10px;
                        // margin-top: 58px;
                    }
            
                    @include responsive-width($laptop-s) {
                        margin-top: -10px;
                    }
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;

            @include responsive-width($tablet-m) {
                display: block;
                max-width: 310px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                padding-left: 10px;
                margin-left: 0;
                margin-top: 22px;
                color: $blue;
            }

            @include responsive-width($laptop-s) {
                max-width: 360px;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
