.entel__slider--home__item__content {
    > picture {
        top: 50%;
        left: 50%;
        width: 100%;
        margin: 0 auto;
        position: absolute;

        @media screen and (max-width: 374px){
            transform: translate(-70%, -33%);
        }

        @include responsive-width(375px) {
            transform: translate(-70%, -32%);
        }

        @include responsive-width(425px) {
            transform: translate(-70%, -30%);
        }       

        @include responsive-width(540px) {
            transform: translate(-26%, -28%);
        }

        @include responsive-width($tablet_m) {
            transform: translate(-8%, -23%);
        }

        @include responsive-width($tablet_ll) {
            transform: translate(-22%, -23%);
        }

        @include responsive-width($laptop_s) {
            transform: translate(-25%, -23%);
        }

        @include responsive-width($laptop_m) {
            transform: translate(-8%, -23%);
        }        

        img {
            max-width: initial;
            display: block;
            vertical-align: initial;
        }
    }

    .principalcontent {
        text-align: left;

        &__textbanner {
            text-align: center;
            margin-bottom: 3%;
    
            @include responsive-width(540px) {
                text-align: left;
                display: inline-block;
                vertical-align: middle;
            }

            @include responsive-width($tablet_m) {
                width: 40%;
            }

            @include responsive-width($laptop_s) {
                width: 28%;
            }

            @include responsive-width($laptop_m) {
                width: 38%;
            } 

            img {
                @include responsive-width($tablet_m) {
                    width: 75%
                }

                @include responsive-width($laptop_s) {
                    width: auto;
                }                
            }
        }
    
        &__imgbanner {
            img {
                max-width: 80%;
                display: block;
                margin: 0 auto;

                &.dimitree {
                    position:absolute;
                    max-width:70%;
                    top: 15%;
                    left: -39px;
                }

            }
    
            @media screen and (max-width: 539px) {
                margin-left: 20%;
            }
    
            @media (min-width: 640px) and (max-width: 923px) {
                margin-left: 0;
    
                img {
                    max-width: 100%;

                    &.dimitree {
                        max-width:100%;
                        top: 15%;
                        left: -65px;
                    }
                }    

                &.apps {
                    width: 60%;
                }
            }
    
            @media (min-width: 924px) {
                margin-left: 4%;

                img {
                    max-width: 100%;

                    &.dimitree {
                        max-width:100%;
                        top: 15%;
                        left: -65px;
                    }                    
                }

                &.apps {
                    width: 50%;
                }                  
            }
    
            @media (min-width: 1024px) {
                margin-left: 14%;

                &.apps {
                    margin-left: 4%;
                }
                    
                img {
                    max-width: 100%;

                    &.dimitree {
                        max-width:100%;
                        top: 15%;
                        left: -65px;
                    }                    
                }   
            } 


        }
    
        &__imgbanner,
        &__model {
            display: inline-block;
            vertical-align: text-top;
            position: relative;
    
            @include responsive-width($tablet_m) {
                vertical-align: middle;
            } 

            &.e-has-image {
                img {
                    max-width: 90px;
                }
            }
        }
    
        &__model {
            margin-left: -8px;
            margin-top: 21px;
            text-align: left;   
    
            .brand {
                font-size: 17px;
                font-weight: bold;
                line-height: normal;
            }
    
            h6 {
                font-size: 18px;
                font-weight: 400;
                color: $blue;
    
                @include responsive-width($tablet_m) {
                    font-size: 25px;
                } 
            }   
            
            small {
                font-size: 17px;
                font-weight: bold;
                color: $blue;
                
                &:nth-of-type(2) { 
                    color: white;
                    padding: 2px 6px;
                    border-radius: 5px;
                    font-size: 10px;
                    line-height: 10px;
                    background-color: $extra_blue;
                }
    
                @include responsive-width($tablet_m) {
    
                    &:nth-of-type(2) {
                        width: 40px;
                        font-size: 12px;
                        line-height: 10px;
                    }
                } 
            }

            span {
                display: block;
            }
    
            p {
                font-size: 43px;
                font-weight: bold;
                color: $blue;
    
                span {
                    font-size: 34px;
                    display: inline;
                }
    
                @include responsive-width($tablet_m) {
                    top: -18px;
                    font-size: 88px;
                    line-height: normal;
                    position: relative;
    
                    span {
                        font-size: 46px;
                    }
                } 
            }
    
    
            @include responsive-width($mobile_s) {
                margin-left: 7px;
            } 
    
            @include responsive-width($tablet_m) {
                .btn-buy {
                    margin-top: 0;
                    position: absolute;
                }
            }
        }
    
        &__plan {
            width: 100%;
            position: absolute;
    
            ul {
                padding: 0;
                position: absolute;
                list-style: none;
    
                @include responsive-width($tablet_m) {
                    top: -20px;
                }
            }
            
            ul li {
                font-size: 9px;
                font-weight: 400;
                color: $blue;
    
                &::before  {
                    content: " ● ";
                    left: -1px;
                    position: relative;
                    color: $orange;
                }
    
                @include responsive-width($tablet_m) {
                    font-size: 12px;
                }
            }
        }
    
        &__dsctoimg {
            position: relative;
            text-align: center;
    
            img {
                margin: 0 auto;
            }
    
            img ~ .e-button-buy {
                margin-top: 7px;
            }
    
            @include responsive-width(768px) {
                top: 0;
                right: 0;
                position: absolute;
            }
        }
    }    
}

.slick-slide.slick-active {
    .animated {
        transition-delay: .3s;
        transform: translate(0);
        opacity: 1;
    }
}

.slick-initialized .slick-slide {
    background-color: transparent;
}