.entel__slider--home__item__content.entel__slider--home__liberados_samsung  {
    background: $white;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
            height: 100%;
            top: 0;
            -ms-transform: none;
            transform: none;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding-left: 8px;
            padding-top: 20px;
        
            @include responsive-width($tablet-m) {
                width: 100%;
                text-align: left;
                padding-left: 32px;
                padding-top: 40px;
            }
            
            @include responsive-width($laptop-s) {
                padding-top: 38px;
                padding-left: 38px;
            }

            img {
                position: relative;
                display: inline-block;
                width: auto;

                @include responsive-width($tablet-m) {
                    margin-left: 25px;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 0;
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            top: 44px;
            right: 0;
            width: 100%;
            position: absolute;
            text-align: right;
        
            @include responsive-width($tablet-m) {
                // margin: -10px 0 0 0;
                margin: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                -ms-transform: none;
                transform: none;
            }

            @include responsive-width($laptop-s) {
                top: 0;
            }

            @include responsive-width($laptop-m) {
                top: 0;
            }
            
            &::after {
                position: absolute;
                content: '';
                display: none;
                width: 361px;
                height: 362px;
                top: 0;
                left: 0;
                background-image: url('https://www.entel.pe/wp-content/uploads/2021/09/banner-lib-samsung-back.png');
                background-size: 100%;

                @include responsive-width($tablet-m) {
                    display: block;
                    left: 560px;
                }

                @include responsive-width($laptop-s) {
                    left: 770px;
                }

                @include responsive-width($laptop-m) {
                    left: 930px;
                    width: 35%;
                }

                @include responsive-width($desktop-s) {
                    width: 40%;
                    left: 86%;
                }

                @include responsive-width('1660px') {
                    width: 60%;
                    left: 84%;
                    background-position: center;
                }
            }

            &-detail {
                position: absolute;
                left: 0;
                bottom: 0;

                // @include responsive-width($tablet-m) {
                //     // left: 50%;
                // }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 380px;
                    background-color: #F5F5F5;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    border-radius: 30px;

                    -moz-transform: rotate(15deg) skew(3deg) translate(86px, -346px);
                    -webkit-transform: rotate(15deg) skew(3deg) translate(86px, -346px);
                    -o-transform: rotate(15deg) skew(3deg) translate(86px, -346px);
                    -ms-transform: rotate(15deg) skew(3deg) translate(86px, -346px);
                    transform: rotate(15deg) skew(3deg) translate(86px, -346px);
                    
                    @include responsive-width($tablet-m) {
                        // display: none;
                        height: 1000px;
                        -webkit-border-radius: 100px;
                        -moz-border-radius: 100px;
                        border-radius: 100px;
                        -moz-transform: rotate(198deg) skew(-3deg) translate(-24px, 869px);
                        -webkit-transform: rotate(198deg) skew(-3deg) translate(-24px, 869px);
                        -o-transform: rotate(198deg) skew(-3deg) translate(-24px, 869px);
                        -ms-transform: rotate(198deg) skew(-3deg) translate(-24px, 869px);
                        transform: rotate(198deg) skew(-3deg) translate(-24px, 869px);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: rotate(198deg) skew(-3deg) translate(-62px, 889px);
                        -webkit-transform: rotate(198deg) skew(-3deg) translate(-62px, 889px);
                        -o-transform: rotate(198deg) skew(-3deg) translate(-62px, 889px);
                        -ms-transform: rotate(198deg) skew(-3deg) translate(-62px, 889px);
                        transform: rotate(198deg) skew(-3deg) translate(-62px, 889px);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: rotate(198deg) skew(-3deg) translate(-92px, 899px);
                        -webkit-transform: rotate(198deg) skew(-3deg) translate(-92px, 899px);
                        -o-transform: rotate(198deg) skew(-3deg) translate(-92px, 899px);
                        -ms-transform: rotate(198deg) skew(-3deg) translate(-92px, 899px);
                        transform: rotate(198deg) skew(-3deg) translate(-92px, 899px);
                    }
                }
            }

            &-img {
                position: relative;
                display: block;
                height: 100%;
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;   
                margin-right: 0;
        
                @include responsive-width($tablet-m) {    
                    margin-right: 114px;
                    margin-top: 33px;
                }

                @include responsive-width($laptop-s) {
                    margin-right: 150px;
                    margin-top: 24px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                    margin-top: 15px;
                    margin-right: 100px;
                }
            }
        }

        .e-button-buy {
            margin-top: 26px;
            text-align: left;
            margin-left: 8px;
        
            @include responsive-width($tablet-m) {
                margin-top: 0;
                padding-top: 56px;
                padding-left: 50px;
            }

            @include responsive-width($laptop-s) {
                padding-top: 0px;
                padding-left: 30px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 32px;
            }

            .btn-buy {
                height: 40px;
                width: 142px;
                padding: 0;
                margin: 0;
                line-height: 36px;
                font-size: 12px;
        
                @include responsive-width($tablet-m) {
                    margin: 0;
                    width: 186px;
                    height: 50px;
                    font-size: 14px;
                    line-height: 48px;
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;

            &__mob {
                padding-right: 15px;
                margin: 7px auto 0;
                bottom: 16px;
                
                @include responsive-width($tablet-m) {
                    width: 100%;
                    padding: 0;
                    bottom: 20px;
                    left: 74px;
                    text-align: left;
                }
                
                @include responsive-width($laptop-s) {
                    display: none;
                }
            }

            &__desk {
                display: none;
                
                @include responsive-width($tablet-m) {
                    font-size: 9px;
                    right: auto;
                    left: 50px;
                    bottom: 10px;
                    padding: 0;
                    margin: 0;
                    text-align: left;
                }

                @include responsive-width($laptop-s) {
                    bottom: 15px;
                    max-width: 780px;
                    display: block;
                }
    
                @include responsive-width($laptop-m) {
                    display: block;
                    max-width: 1010px;
                    left: 0;
                    bottom: 10px;
                }
            }

            a {
                color: $extra_dark_gray;
                text-decoration: none;
            }
        }
    }
}
