.sms-ilimitado {
    .entel__slider--home__item__content_bts {
        @include responsive-width($tablet-m) {
            background: url('https://www.entel.pe/wp-content/uploads/2020/03/banner-smsilimitado-desk.png') no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    .banner-mob {
        text-align: center;

        img {
            max-width: 640px;
            width: 100vw;
            height: 100%;
        }
    }

    .principalcontent {
        width: 100% !important;
        -ms-transform: translate(-50%, -43%) !important;
        transform: translate(-50%, -43%) !important;

        @include responsive-width($tablet-m) {
            display: flex;
            -ms-transform: translate(-40%, -37%) !important;
            transform: translate(-40%, -37%) !important;
        }
    }

    .principalcontent__imgbanner {
        text-align: center;
        text-align: left;
        max-width: 410px;
        width: 82% !important;

        img {
            max-width: 500px !important;
            width: 90%;
            margin: 0 auto !important;
        }
        @include responsive-width(321px) {
            img {
                width: 100%;
                margin-left: 45% !important;

            }
        }
        @include responsive-width(769px) {
            img {
                margin: 0 auto !important;
                width:100%;
            }
            width: 41% !important;

        }
        @include responsive-width($laptop_m) {
            width: 100% !important;
        }
    }

    .principalcontent__textbanner-note {
        text-align: left;
        position: absolute;
        left: 0;
        top: 12%;
        width: 250px;
        right: 0;
        margin-left: 0;
        margin-right: 0;
        -ms-transform: translate(20%, -30px);
        transform: translate(20%, -30px);

        @media only screen and (min-width: 425px) {
            top: 15%;
            -ms-transform: translate(20%, 0);
            transform: translate(20%, 0);
        }

        @include responsive-width($tablet-m) {
            position: relative;
            text-align: left;
            margin-top: 30px;
            top: 0;
            right: auto;
            -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    
        }

        @include responsive-width($laptop_m) {
            margin-top: 0;
            margin-left: 30px;
        }

        @media only screen and (min-width: 1500px) {
            margin-left: 10%;
        }
        
        h3 {
            font-family: $font-family;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            color: $hiper_gray;
            @include responsive-width($tablet-m) {
                font-size: 38px;
                line-height: 40px;
                margin-bottom: 7px;
            }
            @include responsive-width($laptop_m) {
                font-size: 38px;
                line-height: 40px;
                margin-bottom: 7px;
            }
        }

        img {
            width: 220px;
            text-align: left;
            @include responsive-width($tablet-m) {
                width: 100%;
            }
        }

        p {
            font-size: 12px;
            line-height: 16px;
            margin-top: 0;
            color: $hiper_gray;
            text-align: left;
            @include responsive-width($tablet-m) {
                font-size: 12px;
                line-height: 16px;
            }
        }

        img {
            @include responsive-width($tablet-m) {
                max-width: 240px;
                width: 60%;
            }
            @include responsive-width($laptop_m) {
                width: 100%;
            }
        }
    }

    .e-button-buy {
        position: relative;
        top: -85px;
        .btn-buy {
            width: 190px;
            padding: 15px 15px;
        }

        @include responsive-width(321px) {
            top: -150px;
        }
        @include responsive-width($tablet-m) {
            top: 0px;
            .btn-buy {
                width: 190px;
                padding: 15px 15px;
            }
    
        }
    }
}   