.entel__slider--home__item__content.entel__slider--home__item__content_cyberwow_accesorios {
    padding: 0;
    background-image: url($m_image_path+'2021/04/banner-cyberwow-back-desk.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;

    @media (max-width: $laptop_s){
        background-image: url($m_image_path+'2021/04/banner-cyberwow-back-tab.jpg');
        background-position: bottom right;
    }

    @media (max-width: $mobile_l){
        background-image: url($m_image_path+'2021/04/banner-cyberwow-back-mob.jpg');
        background-position: bottom right;
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        -ms-transform: none;
        transform: none;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;

        @media (max-width: $tablet-m){
            display: flex;
        }

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: none;
        }
        
        @include responsive-width($laptop-m) {
            width: 1024px  !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            position: relative;
            left: 6px;
        
            @include responsive-width($tablet-m) {
                display: flex;
                justify-content: center;
                align-items: center;
                left: auto;
                position: relative;
                text-align: left;
                width: 100%;
                z-index: 2;
                margin: 0px;
                padding: 0 20px 0px 20px;
                top: 18px;
            }

            @include responsive-width($laptop-s) {
                top: 35px;
            }

            .ctn-cyberwow-btn {
                img:nth-child(2){
                    display: none;
                }

                img {
                    position: relative;
                    width: 90%;
                    left: 0px;
                    margin: 0 auto;

                    @include responsive-width($tablet-m) {
                        width: 70%;
                        padding-left: 0px;
                        left: -35px;
                    }
                }

                .ctn-btn-buy {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .btn-buy {
                        background-color: #FF2776;
                        border: #FF2776;
                        margin-right: 20px;
                    } 

                    .delivery-mobile{
                        display: none;
                    }

                    img {
                        width: 50%;
                        padding: 0 18px;
                        vertical-align: middle;
                        align-items: center;
                        margin: 14px 0 0 0;
                        display: none;
                        @include responsive-width($laptop-s) {
                            display: block;
                        }
                    }
                }
            }

            &-img {
                position: relative;
                z-index: 1;
            }

            img {
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                    padding: 0 15px;

                    &:nth-child(2) {
                        width: 45%;
                    }

                    &:nth-child(3) {
                        width: 18%;
                    }
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }

        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 92px;
            z-index: 2;
            right: -6px;

            @include responsive-width($tablet-m) {
                text-align: right;
                right: 0;
                bottom: 135px;
            }

            @include responsive-width($laptop-s) {
                right: -30px;
                bottom: 96px;
            }

            img {
                position: relative;
                max-width: none;
                display: inline-block;
                z-index: 1;

                @include responsive-width($tablet-m) {
                    margin-right: 20px;
                    width: 530px;
                }

                @include responsive-width($laptop-s) {
                    width: auto;
                }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 35px;
            left: 0;
            width: 100%;
            z-index: 2;

            @include responsive-width($tablet-m) {
                padding-left: 48px;
                position: relative;
                bottom: 79px;
                margin-top: 0;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
                background-color: $white !important;
                color: $orange !important;
                border-color: $white !important;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-top: 0;
                    margin-bottom: auto;
                    background-color: transparent !important;
                    color: $white !important;

                }

                &:hover {
                    background-color: RGBA(250,250,250,.2) !important;      
                }
            }

            img {
                display: none;
                margin-bottom: 29px;

                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }

        .e-legal-small {
            font-size: 9px;
            font-weight: 400;
            line-height: 12px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: #0433FF;
            text-align: left;
            letter-spacing: -0.02em;
            max-width: 320px;
            padding: 0px;
            display: none;
            
            @include responsive-width($tablet-m) {
                max-width: 100%;
                margin-left: 0;
                padding-left: 0;
                margin-top: 40px;
            }

            @include responsive-width($laptop-s) {
                display: block;
            }
            a {
                color: #0433FF;
                text-decoration: none;
            }
        }

        @media only screen and (max-width: 600px){
            margin: 12px;
            text-align: center;

            &__textbanner {

                .ctn-cyberwow-btn {
                    img {
                        width: 55%;
                    }

                    img:nth-child(2){
                        display: block;
                        width: 69%;
                        padding: 20px 0 10px;
                    }

                    .ctn-btn-buy {
                        a{
                            padding: 12px;
                            width: 40%;
                        }

                        img:nth-child(1){
                            display: none;
                        }
                        img:nth-child(2){
                            display: block;
                            width: 30%;
                            padding-top: 0px;
                        }
                    }
                }

                img {

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        display: none;
                    }
                }
            }
        }

    }    
}