.entel__slider {
  background-color: transparent !important;

  .slick-prev,
  .slick-next {
    position: absolute;
    padding: 0;
    border: 0;
    background: none;
    text-indent: -9999px;
    top: 50%;
    outline: 0;
    z-index: 10;
    cursor: pointer;
  }

  .slick-prev {
    left: -9px;
    background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/01.png");
    width: 35px;
    height: 35px;
    [dir="rtl"] & {
      left: auto;
      right: -25px;
    }

    &:hover {
      transition: all 0.2s ease-in;
      background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/02.png");

      [dir="rtl"] & {
        background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/02.png");
      }
    }

    &:before {
      background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/01.png");

      [dir="rtl"] & {
        background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/01.png");
      }
    }

    &.slick-disabled,
    &.slick-disabled:hover {
      opacity: 0.3;
      background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/01.png");
    }
  }

  .slick-next {
    right: -9px;
    background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/01.png");
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 35px;
    height: 35px;

    &:hover {
      transition: all 0.2s ease-in;
      background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/02.png");

      [dir="rtl"] & {
        background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/02.png");
      }
    }

    [dir="rtl"] & {
      left: -25px;
      right: auto;
    }

    &.slick-disabled,
    &.slick-disabled:hover {
      background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/01.png");
      opacity: 0.3;
    }
  }

  //
  &.entel__slider--white-arrows {
    .slick-prev,
    .slick-next {
      background-image: url("https://www.entel.pe/wp-content/uploads/2017/08/left-blanco.png");
      &:hover {
        transition: all 0.2s ease-in;
        background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/02.png");

        [dir="rtl"] & {
          background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/02.png");
        }
      }

      &:before {
        background-image: url("https://www.entel.pe/wp-content/uploads/2017/08/left-blanco.png");

        [dir="rtl"] & {
          background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/01.png");
        }
      }

      &.slick-disabled,
      &.slick-disabled:hover {
        opacity: 0.3;
        background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/01.png");
      }
    }
  }
}

.entel-slider {
  margin-bottom: 24px;

  @media (min-width: $laptop-s) {
    margin-bottom: 40px;
  }

  .slick-slide {
    outline: none !important;
  }

  .slick-dots {
    display: none !important;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    padding: 0;
    border: 0;
    background: none;
    top: 100%;
    outline: 0;
    z-index: 10;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-left: none;
    border-top: none;
    border-right: 2px $blue solid;
    border-bottom: 2px $blue solid;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-top: 22px;
    text-indent: 0;
    font-size: 0;
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;

    &:hover {
      @media (min-width: $tablet-m) {
        border-color: $orange;
      }
    }

    @media (min-width: $laptop-s) {
      margin-top: 38px;
    }

    @media (min-width: $laptop-m) {
      top: 60%;
      margin-top: -14px;
      width: 27px;
      height: 27px;
      border-right: 3px $blue solid;
      border-bottom: 3px $blue solid;
    }

    &.slick-disabled {
      opacity: 0.3;

      &:hover {
        border-color: $blue;
      }
    }
  }

  .slick-prev {
    left: 32%;

    @media (min-width: $tablet-m) {
      left: 40%;
    }

    @media (min-width: $laptop-m) {
      left: -63px;
    }
  }

  .slick-next {
    right: 32%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    @media (min-width: $tablet-m) {
      right: 40%;
    }

    @media (min-width: $laptop-m) {
      right: -63px;
    }
  }

  .slick-dots {
    position: relative;
    text-align: center;
    padding: 0px;
    top: -8px !important;

    li {
      display: inline-block;
      margin: 0 auto;
      width: 20px;
      height: 20px;

      button {
        background: none;
        border: 0px;
        color: $orange;
        font-size: 1px;
        width: 16px;
        height: 16px;
        position: relative;
        outline: none;

        &:before {
          content: "";
          cursor: pointer;
          position: absolute;
          display: block;
          width: 8px;
          height: 8px;
          left: 50%;
          top: 50%;
          background: #cacaca;
          -moz-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border-radius: 8px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }

        &:hover {
          &:before {
            background: $orange;
            width: 12px;
            height: 12px;
          }
        }
      }
    }

    .slick-active {
      button {
        &:before {
          background: $orange;
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  &-blanco {
    .slick-prev,
    .slick-next {
      border-color: $white;
    }
  }
}

.entel__wrapper__slider {
  position: relative;
  overflow: hidden;
  height: auto;

  @media screen and (min-width: 768px) {
    margin-top: 115px;
  }
  @media (min-width: $tablet-m) {
    height: 400px;
  }

  @media (min-width: $laptop-s) {
    height: 400px;
  }

  &.e-hide-content {
    display: block;
    opacity: 0;
  }
}

.entel__slider {
  &--home {
    opacity: 0;

    &.slick-initialized {
      opacity: 1;
    }

    .slick-prev {
      left: 2%;
      &:before {
        background-image: none !important;
      }
      @media (min-width: $desktop-s) {
        left: 10%;
      }

      @media (min-width: $desktop-m) {
        left: 13%;
      }
    }

    .slick-next {
      right: 2%;
      &:before {
        background-image: none !important;
      }
      @media (min-width: $desktop-s) {
        right: 10%;
      }

      @media (min-width: $desktop-s) {
        right: 13%;
      }
    }
  }

  //Navegación Home
  &--custom-home-navigation {
    max-width: 195px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;

    &__item {
      width: 15px;
      height: 4px;
      line-height: 33px;
      margin: 0 10px;
      cursor: pointer;
      outline: none;
      float: left;

      .line__timer {
        width: 100%;
        height: 3px;
        border-radius: 2px;
        overflow: hidden;
        position: relative;
        display: block;
        background-color: #fff;

        span {
          position: absolute;
          border-radius: 2px;
          width: 0;
          height: 3px;
          background-color: $orange;
          left: 0;
          top: 0;
          transition-property: width;
        }
      }

      > .title__navigation {
        display: none;
      }

      > span {
        opacity: 0.2;
        font-size: 16px;
        color: #fff;
        display: none;
      }

      &.entel-item_state-active {
        > span {
          opacity: 1;
          font-weight: 400;
        }

        .line__timer {
          span {
            width: 100%;
            transition-duration: 27000ms;
          }
        }
      }
    }

    @media (min-width: $tablet-m) {
      bottom: 33px;
      // max-width: 245px;
      max-width: 350px; //6 sliders
    }

    @media (min-width: $laptop-s) {
    //   width: 195px;
      bottom: 10px;
      text-align: center;

      &__item {
        width: 25px;
        height: 13px;
        line-height: 22px;
        margin: 0 15px;

        > .title__navigation {
          display: none;
          color: $white;
          padding: 12px 0;
          font-weight: 400;
          padding: 11px 20px;
          font-size: 18px;
          opacity: 0.2;

          b {
            font-weight: 400;
          }
        }

        > span {
          display: none;
        }

        &.entel-item_state-active {
          > .title__navigation {
            opacity: 1;
          }
        }
      }
    }
  }
}
