// .entel__slider--home__item__content {
//   @include responsive-width($tablet_m) {
//     height: 306px;
//   }
// }
.entel__slider--home__item__content.entel__slider--home__5g_3 {
  background-color: #0e0101;
  background-image: url($m_image_path + "2021/06/banner-5g3-bg-mob-v1.png");
  // background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 360px 235px;
  padding: 0;
  position: relative;
  // background-size: 100%;

  @include responsive-width($tablet_m) {
    //     background-color: black;
    background-image: url($m_image_path + "2021/06/banner-5g3-bg-tab-v1.png");
    background-size: 462px 306px;
    background-position: left top;
    // height: 306px;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-position: center center;
  }

  @include responsive-width($laptop_s) {
    //     background-color: black;
    background-image: url($m_image_path + "2021/06/banner-5g3-bg-desk-v1.png");
    background-size: auto;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    background-position: -115px -28px;
    // background-position: 20% 50%;
  }

  @include responsive-width($desktop_s) {
    background-position: 20% 50%;
    //     background-color: black;
    // background-image: url($m_image_path + "2021/06/banner-5g3-bg-desk-v1.png");
    // background-size: auto;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    // background-position: 23% 50%;
  }

  // @include responsive-width($laptop_m) {
  //   // background-position: center top;
  //   //     background-image: url(https://www.entel.pe/wp-content/uploads/2021/04/bg-banner-5g-desk.jpg);
  //   //     background-size: cover;
  //   //     background-position-x: -440px;
  //   //     background-position-y: center;
  //   // }
  //   // @include responsive-width(1920px) {
  //   //     background-position-x: -200px;
  //   //     background-position-y: center;
  // }

  // .detalle {
  //     // position: relative;
  //     display: block;

  //     img {
  //         position: absolute;
  //         bottom: 0;
  //         object-fit: cover;
  //         object-position: center;
  //         z-index: 1;
  //         width: 100%;
  //         height: 105%;
  //     }

  //     @include responsive-width($tablet-m) {
  //         display: none;
  //     }

  //     @include responsive-width($laptop-s) {
  //         display: none;
  //     }

  //     @include responsive-width($laptop-m) {
  //         display: none;
  //     }

  //     @include responsive-width($desktop_s) {
  //         display: none;
  //     }
  // }

  .principalcontent {
    position: relative;
    top: 0;
    left: 0;
    // height: 370px;
    -ms-transform: none;
    transform: none;
    max-width: 316px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    // margin-top: -50px;

    @include responsive-width($tablet-m) {
      height: 100%;
      max-width: none;
      margin-top: 0;
      // overflow: hidden;
    }

    @include responsive-width($laptop-s) {
      // width: 1024px !important;
      max-width: 1024px !important;
      display: flex;
      align-items: center;
      padding-bottom: 60px;
    }

    @include responsive-width($laptop-m) {
      max-width: 1222px !important;
      // padding-bottom: 70px;
    }

    &__textbanner {
      display: block;
      font-weight: bold;
      text-align: center;
      position: initial;
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      padding-top: 12px;
      z-index: 3;

      @include responsive-width($tablet-m) {
        margin: 30px auto 0 84px;
        width: 222px;
      }

      @include responsive-width($laptop-s) {
        // width: auto;
        width: 310px;
        margin-left: 0;
        // position: relative;
        // top: -25px;

        padding-top: 0;
        padding-left: 40px;
        margin-top: 0;
      }

      // @include responsive-width($laptop-m) {
      // }
      h2 {
        font-family: Barlow;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: #ffffff;
        display: block;
        text-align: center;
        width: 100%;
        margin-bottom: 5px;

        // @include responsive-width($laptop-s) {
        //     font-size: 30px !important;
        //     line-height: 33px !important;
        //     text-align: left;
        //     margin: auto;
        //     width: 375px;
        //     margin-bottom: 10px;
        // }

        @include responsive-width($tablet-m) {
          // width: auto;
          margin-bottom: 15px;
          font-size: 24px;
          line-height: 26px;
          text-align: left;
        }
      }
      .subtitle01 {
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        color: #ffffff;
        text-align: left;
        display: none;

        @include responsive-width($tablet-m) {
          display: block;
        }

        // @include responsive-width($laptop-s) {
        //     font-size: 20px;
        //     line-height: 24px;
        // }
      }
      // .subtitle02 {
      //     font-weight: normal;
      //     font-size: 12px;
      //     line-height: 14px;
      //     color: #FFFFFF;
      //     text-align: left;

      //     span {
      //         font-weight: 600;
      //     }

      //     @include responsive-width($tablet-m) {
      //     }

      //     @include responsive-width($laptop-s) {
      //         font-size: 20px;
      //         line-height: 24px;
      //     }
      // }
      .logo-entel-5g {
        display: none;
        width: auto;
        margin-bottom: 10px;
        //     margin: auto;
        //     max-width: 79px;

        //     @include responsive-width($laptop-s) {
        //         display: none;
        //     }

        @include responsive-width($tablet-m) {
          display: block;
        }
      }
      .e-button-buy {
        margin-top: 7px;
        text-align: center;
        position: absolute;
        bottom: 13px;
        margin: auto;
        display: block;
        left: 0;
        right: 0;
        z-index: 2;

        @include responsive-width($tablet-m) {
          margin-top: 205px;
          margin-left: -5px;
          position: relative;
          bottom: auto;
          left: auto;
          right: auto;
          text-align: left;
        }

        // @include responsive-width($laptop-s) {
        //     bottom: -50px;
        // }
      }

      .btn-buy {
        width: 126px;
        height: 34px;
        font-size: 12px;
        line-height: 7px;
        padding: 11px 15px;
        margin: auto;

        // @include responsive-width($laptop-s) {
        //     width: 198px;
        //     padding: 16px 15px;
        //     margin: 0;
        // }

        @include responsive-width($tablet-m) {
          width: 148px;
          height: 46px;
          font-size: 12px;
          line-height: 21px;
          margin: 0;
        }
      }

      form {
        z-index: 2;
        text-align: left;
        position: relative;
        margin-top: 8px;
        bottom: 0;

        @include responsive-width($tablet-m) {
          margin-top: 18px;
          position: absolute;
          bottom: 268px;
        }

        @include responsive-width($laptop-s) {
          position: relative;
          bottom: 0;
        }

        .form--content {
          width: 186px;
          text-align: center;
          // margin: auto;

          @include responsive-width($tablet-m) {
            position: absolute;
            width: 242px;
          }

          @include responsive-width($laptop-s) {
            position: relative;
            width: auto;
          }

          .blank {
            color: #fff !important;
          }

          .form--head {
            p {
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 14px;
              text-align: left;
              color: #004cc1;
              margin: 0px;

              span {
                font-weight: 400;
              }

              @include responsive-width($tablet-m) {
                font-size: 19px;
                line-height: 19px;
              }
            }

            h2 {
              font-style: normal;
              font-weight: bold;
              font-size: 24px;
              line-height: 20px;
              text-align: left;
              text-transform: uppercase;
              color: #00b9eb;
              margin: 4px 0px 5px;

              @include responsive-width($tablet-m) {
                font-size: 34px;
                line-height: 30px;
                margin: 6px 0px 11px;
              }
            }

            h3 {
              font-style: normal;
              font-weight: bold;
              font-size: 10px;
              line-height: 12px;
              text-align: left;
              color: #004cc1;
              margin: 0px 0px 5px;

              @include responsive-width($tablet-m) {
                font-size: 16px;
                line-height: 18px;
                margin: 0px 0px 15px;
              }
            }
          }

          .form--body {
            .form--number {
              margin-bottom: 4px;

              input {
                border: 1.5px solid #9e9fa1;
                box-sizing: border-box;
                border-radius: 7.3332px;
                width: 100%;
                height: 33px;
                padding: 10px 15px;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                align-items: center;
                letter-spacing: 0.0015em;
                color: #9e9fa1;

                @include responsive-width($laptop-s) {
                  margin-bottom: 10px;
                }

                &.error {
                  border-color: #f10101;
                }

                &.error::placeholder {
                  color: #f10101;
                }

                @include responsive-width($tablet-m) {
                  width: 243px;
                  height: 36px;
                  font-size: 14px;
                  line-height: 17px;
                }
              }

              @include responsive-width($tablet-m) {
                margin-bottom: 0;
              }
            }

            .form--check {
              display: flex;
              align-items: center;

              input {
                display: none;
              }

              .input-mask-top {
                width: 14px;
                height: 14px;
                border: 2px solid #ff560a;
                box-sizing: border-box;
                border-radius: 4.58325px;
                margin-top: 2px;
                background: #ff560a;
                position: relative;

                @include responsive-width($tablet-m) {
                  width: 18px;
                  height: 18px;
                }

                &.error {
                  border-color: #f10101;
                  background: #000;
                }

                &::after {
                  content: "";
                  left: 3px;
                  top: 0px;
                  width: 4px;
                  height: 9px;
                  border: solid #000;
                  border-width: 0px 2px 2px 0px;
                  -webkit-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
                  position: absolute;

                  @include responsive-width($tablet-m) {
                    left: 5px;
                    top: 1px;
                  }

                  @include responsive-width($laptop-m) {
                    left: 5px;
                    top: 1px;
                  }
                }
              }

              a {
                font-style: normal;
                font-weight: normal;
                font-size: 8.95284px;
                line-height: 15px;
                color: #fff;
                margin-left: 5px;

                span {
                  font-weight: bold;
                  text-decoration: underline;
                }

                @include responsive-width($laptop-m) {
                  font-size: 12px;
                  line-height: 20px;
                }

                @include responsive-width($tablet-m) {
                  font-size: 12px;
                  line-height: 20px;
                }
              }
            }

            button {
              background: #ff560a;
              border-radius: 45.8325px;
              color: #ffffff;
              cursor: pointer;
              font-style: normal;
              font-weight: bold;
              font-size: 12px;
              line-height: 1px;
              text-align: center;
              padding: 15px 5px;
              text-transform: uppercase;
              margin-top: 3px;
              border: 0px;
              width: 126px;
              height: 34px;
              margin-top: 5px;
              // margin-left: 36px;

              @include responsive-width($tablet-m) {
                margin: auto;
                margin-top: 5px;
                width: 145px;
                height: 45px;
                font-size: 14px;
                line-height: 4px;
              }

              @include responsive-width($laptop-m) {
                padding: 15px 28px;
                width: 176px;
                height: 55px;
                font-size: 14px;
                line-height: 4px;
                margin-top: 10px;
              }
            }
          }

          .form--body {
            text-align: center;

            @include responsive-width($tablet-m) {
              text-align: center;
            }

            @include responsive-width($laptop-s) {
              text-align: left;
            }
          }

          .form--loading {
            display: none;
            padding: 25px 25px 0px;

            img {
              animation: rotating 2s linear infinite;
              width: 70px;

              @keyframes rotating {
                from {
                  transform: rotate(0deg);
                }
                to {
                  transform: rotate(360deg);
                }
              }

              @include responsive-width($tablet-m) {
                width: 100px;
              }
            }
          }

          .form--thanks {
            display: none;
            width: 150px;
            text-align: center;

            img {
              margin-bottom: 5px;
              @include responsive-width($tablet-m) {
                margin-bottom: 0px;
              }
            }
            p {
              font-style: normal;
              font-weight: bold;
              font-size: 10px;
              line-height: 12px;
              text-align: center;
              color: #004cc1;

              @include responsive-width($tablet-m) {
                font-size: 16px;
                line-height: 18px;
                margin: 0px 0px 15px;
              }

              .blank {
                color: #fff !important;
              }
            }

            @include responsive-width($tablet-m) {
              width: 200px;
            }
          }

          .form--duplicate {
            display: none;
            width: 180px;
            padding-top: 15px;
            p {
              font-style: normal;
              font-weight: bold;
              font-size: 12px;
              line-height: 15px;
              margin: 0px;
              color: #004cc1;

              @include responsive-width($tablet-m) {
                font-size: 16px;
                line-height: 18px;
              }
            }

            @include responsive-width($tablet-m) {
              width: 250px;
            }
          }

          .form--error {
            display: none;
            width: 180px;
            padding-top: 15px;
            text-align: center;
            p {
              font-style: normal;
              font-weight: bold;
              font-size: 12px;
              line-height: 15px;
              margin: 0px;
              color: #004cc1;

              @include responsive-width($tablet-m) {
                font-size: 16px;
                line-height: 18px;
              }
            }

            @include responsive-width($tablet-m) {
              width: 250px;
            }
          }

          .form--callback {
            margin-top: 2px;

            p {
              margin: 0px;
              font-size: 10px;
              line-height: 11px;
              font-style: normal;
              font-weight: normal;

              a {
                color: #004fb9;
                text-decoration: underline;
                font-weight: bold;
              }

              @include responsive-width($tablet-m) {
                font-size: 12px;
                line-height: 14px;
              }
            }

            @include responsive-width($tablet-m) {
              margin-top: 8px;
            }
          }
        }
      }
    }

    &__imgbanner {
      margin: 0;
      position: absolute;
      bottom: 18px;
      left: 0;
      width: 100%;
      display: block;
      text-align: center;

      @include responsive-width($tablet-m) {
        bottom: 22%;
        max-width: 780px;
      }

      @include responsive-width($laptop-s) {
        bottom: 9%;
        max-width: 1200px;
      }

      @include responsive-width($desktop_s) {
        max-width: 1400px;
      }

      // picture{
      //     display: inline-block;
      //     max-width: 90%;
      //     @include responsive-width($tablet-m){
      //         max-width: none;
      //         width: 618px;
      //     }
      // }

      img {
        // position: absolute;
        // left: 0;
        // right: 0;
        // margin: auto;
        // // top: 125px;
        // z-index: -1;
        // width: auto;
        max-width: inherit;
        // display: inline-block;

        @include responsive-width($tablet-m) {
          margin: 0 0 0 auto;
        }

        // @include responsive-width($laptop-s) {
        //   margin-right: -30%;
        //   width: 70%;
        //   margin-bottom: 2rem;
        // }
        // @include responsive-width($laptop_m) {
        //   width: auto;
        //   margin-bottom: inherit;
        //   //     left: 36px;
        // }
      }
    }

    &__footer {
      position: absolute;
      bottom: 98px;
      width: 1000px;
      max-width: 100%;
      padding: 0;
      right: 0;
      text-align: center;

      @include responsive-width($tablet-m) {
        padding: 0;
        bottom: 10px;
        left: 0;
      }

      @include responsive-width($laptop-s) {
        text-align: center;
        bottom: 70px;
        padding: 0;
        width: auto;
      }

      p {
        font-family: Barlow;
        font-style: normal;
        font-weight: normal;
        font-size: 10px !important;
        line-height: 12px;
        color: #ffffff;
        max-width: auto;
        text-align: left;
        margin: auto;
        position: relative;
        padding: 11px 13px;
        margin-bottom: 3px;

        @include responsive-width($tablet-m) {
          padding: 10px 13px;
          max-width: 365px;
        }

        @include responsive-width($laptop-s) {
          font-size: 12px !important;
          line-height: 14px;
          letter-spacing: 0;
          max-width: 370px;
          text-align: left;
          margin: 0;
          padding: 0px 13px;
          margin-bottom: 3px;
        }

        &::before {
          content: url(https://www.entel.pe/wp-content/uploads/2021/03/bg-banner-5g-parentesis-left-mob.png);
          position: absolute;
          top: 0;
          left: 0;
          @include responsive-width($laptop-s) {
            content: url(https://www.entel.pe/wp-content/uploads/2021/03/bg-banner-5g-parentesis-left-desk.png);
          }
        }
        &::after {
          content: url(https://www.entel.pe/wp-content/uploads/2021/03/bg-banner-5g-parentesis-right-mob.png);
          position: absolute;
          top: 0;
          right: 0;
          @include responsive-width($laptop-s) {
            content: url(https://www.entel.pe/wp-content/uploads/2021/03/bg-banner-5g-parentesis-right-desk.png);
          }
        }
      }

      span {
        font-family: Barlow;
        font-style: normal;
        font-weight: normal;
        font-size: 10px !important;
        line-height: 12px;
        color: #ffffff;
        max-width: auto;
        text-align: left;
        margin: auto;
        position: relative;
        padding: 11px 13px;
        bottom: 10px;

        @include responsive-width($tablet-m) {
          padding: 10px 13px;
          max-width: 365px;
          bottom: 10px;
        }

        @include responsive-width($laptop-s) {
          font-size: 12px !important;
          line-height: 14px;
          letter-spacing: 0;
          max-width: 485px;
          text-align: left;
          margin: 0;
          max-width: 240px;
          padding: 0px 13px;
          bottom: 0;
        }
      }
    }

    &__legal {
      position: absolute;
      bottom: 24px;
      left: 0;
      text-align: left;
      font-size: 10px;
      width: 100%;
      max-width: 990px;
      display: none;
      padding-left: 40px;

      @include responsive-width($laptop-s) {
        display: block;
      }

      @include responsive-width($laptop-m) {
        max-width: 1180px;
        bottom: 20px;
      }

      p {
        color: $white;

        a {
          color: $white;
        }
      }
    }
  }
}
