.entel__slider--home__item__content.entel__slider--home__xiaomi_liberados {
    background: $white;
    padding: 0;


        
    @include responsive-width($tablet-m) {
        background-image: url($m_image_path+'2021/05/week-xiaomi-back-tab.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center top;
    }

    @include responsive-width($laptop-s) {
        background-image: url($m_image_path+'2021/05/week-xiaomi-back-desk.png');
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 650px;
            height: 370px;
            top: 0;
            -ms-transform: none;
            transform: none;
        }

        @include responsive-width($laptop-s) {
            max-width: 950px;
        }

        @include responsive-width($laptop-m) {
            max-width: 1050px;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            margin-bottom: 0;
            margin-top: 10px;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 0;
                // padding-top: 40px;
                            
                padding-top: 0;
                margin-top: 0;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 0px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0;
                margin-left: 0px;
            }

            &-detail {
                position: absolute;
                left: 50%;
                top: 0;

                @include responsive-width($tablet-m) {
                    left: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 750px;
                    height: 380px;
                    background-color: $blue;
                    -webkit-border-radius: 60px;
                    -moz-border-radius: 60px;
                    border-radius: 60px;

                    -moz-transform: rotate(171deg) skew(4deg) translate(130px, 310px);
                    -webkit-transform: rotate(171deg) skew(4deg) translate(130px, 310px);
                    -o-transform: rotate(171deg) skew(4deg) translate(130px, 310px);
                    -ms-transform: rotate(171deg) skew(4deg) translate(130px, 310px);
                    transform: rotate(171deg) skew(4deg) translate(130px, 310px);
                    
                    @include responsive-width($tablet-m) {
                        display: none;
                    //     height: 500px;
                    //     -webkit-border-top-left-radius: 100px;
                    //     -moz-border-top-left-radius: 100px;
                    //     border-top-left-radius: 100px;
                    //     -moz-transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                    //     -webkit-transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                    //     -o-transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                    //     -ms-transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                    //     transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                    // }

                    // @include responsive-width($laptop-s) {
                    //     -moz-transform: rotate(343deg) skew(-3deg) translate(-70px, -290px);
                    //     -webkit-transform: rotate(343deg) skew(-3deg) translate(-70px, -290px);
                    //     -o-transform: rotate(343deg) skew(-3deg) translate(-70px, -290px);
                    //     -ms-transform: rotate(343deg) skew(-3deg) translate(-70px, -290px);
                    //     transform: rotate(343deg) skew(-3deg) translate(-70px, -290px);
                    // }

                    // @include responsive-width($laptop-m) {
                    //     -moz-transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                    //     -webkit-transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                    //     -o-transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                    //     -ms-transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                    //     transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                    }
                }

                // &::before {
                //     position: absolute;
                //     content: '';
                //     display: none;
                //     width: 1180px;
                //     height: 380px;
                //     background-color: $extra_blue;
                    
                //     @include responsive-width($tablet-m) {
                //         display: block;
                //         height: 500px;
                //         -webkit-border-radius: 40px;
                //         -moz-border-radius: 40px;
                //         border-radius: 40px;
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //     }

                //     @include responsive-width($laptop-s) {
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //     }

                //     @include responsive-width($laptop-m) {
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //     }
                // }
            }

            img {
                width: auto;//60%;
                position: relative;
                display: inline-block;
                margin-bottom: 0px;

                @include responsive-width($tablet-m) {
                    width: auto;
                    margin-left: -5px;
                }

                @include responsive-width($laptop-s) {
                    // width: 40%;
                    width: 510px;
                    margin-left: -90px;
                    margin-bottom: 20px;
                }

                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-left: -120px;
                //     margin-left: 0;
                //     margin-bottom: 20px;
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    // padding: 58px 0 0 0;
                                    
                    text-align: left;
                    padding: 0;
                }

                // @include responsive-width($laptop-m) {
                //     margin-left: -70px;
                // }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            // display: none;
            margin: 0 0 10px 0;
            width: 100%;
            position: relative;
            text-align: center;
            // text-align: right;
            // position: absolute;
            // top: 50%;
            // -ms-transform: translate(-10px,-43%);
            // transform: translate(-10px,-43%);
        
            @include responsive-width($tablet-m) {
                // margin: -10px 0 0 0;
                position: absolute;
                transform: none;
                bottom: 0;
                right: 0;
                text-align: right;
                margin-bottom: 0;
            }

            // @include responsive-width($laptop-s) {
            //     -ms-transform: translate(12%, -55%);
            //     transform: translate(12%, -55%);
            // }

            // @include responsive-width($laptop-m) {
            //     -ms-transform: translate(2%, -90%);
            //     transform: translate(2%, -90%);
            // }

            &-img {
                position: relative;
                display: block;

                @include responsive-width($laptop-m) {
                    text-align: right;
                }
            }

            img {
                max-width: none;//90%;
                width: auto;
                margin-right: 10px;
                display: inline-block;
        
                @include responsive-width($tablet-m) {
                    margin-right: 10px;
                    margin-bottom: 20px;
                }

                @include responsive-width($laptop-s) {
                    margin-right: 20px;
                    margin-bottom: 32px;
                }

                @include responsive-width($laptop-m) {
                    margin-right: -90px;
                //     // width: 70%;
                //     max-width: none;
                //     margin-right: 0;
                }
            }
        }

        .e-button-buy {
            margin-top: 0px;
        
            @include responsive-width($tablet-m) {
                margin-top: -90px;
                margin-left: 0px;
            }
        
            @include responsive-width($laptop-s) {
                margin-top: -110px;
                margin-left: 20px;
            }

            @include responsive-width($laptop-m) {
                margin-top: -120px;
            //     margin-left: 4px;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    width: 140px;
                    font-size: 12px;
                    margin-left: 40px;
                    margin-top: 0px;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 0;
                }

                @include responsive-width($laptop-s) {
                    width: 166px;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 15px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;
            position: relative;
            // letter-spacing: -0.05em;

            @include responsive-width($tablet-m) {
                width: 100%;
                max-width: 260px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                margin-left: 30px;
                margin-top: 10px;
            }

            @include responsive-width($laptop-s) {
                display: block;
                margin-left: 25px;
                margin-top: 60px;
            }

            @include responsive-width($laptop-m) {
                max-width: 230px;
                margin-left: 285px;
                margin-top: 20px;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
