.entel__slider--home__item__content.entel__slider--home__vivo {
    // background: $black;
    
    padding: 0;
    background: $white url($m_image_path+"/2021/04/banner-back-vivo-mob.png");
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
        
    @include responsive-width($tablet-m) {
        background: $white url($m_image_path+"/2021/04/banner-back-vivo-tab.png");
        background-position: center center;
        background-size: 100%;
    }
        
    @include responsive-width($laptop-s) {
        background: $white url($m_image_path+"/2021/04/banner-back-vivo-desk.png");
        // background-position: center center;
        // background-size: 100%;
    }

    .principalcontent {
        position: relative;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
            height: 400px;
            top: 50%;
            left: 50%;
            position: absolute;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        @include responsive-width($laptop-m) {
            width: 1200px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            margin: 0 auto;
            max-width: none;
            padding-left: 0px;
            padding-top: 10px;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                max-width: 100%;
                text-align: left;
                padding-left: 30px;
                padding-top: 40px;
            }

            @include responsive-width($laptop-s) {
                padding-left: 50px;
                padding-top: 110px;
            }

            @include responsive-width($laptop-m) {
                padding-top: 80px;
                padding-left: 0;
            }

            h2 {
                font-size: 24px;
                line-height: 26px;
        
                @include responsive-width($tablet-m) {
                    font-size: 31px;
                    line-height: 44px;
                }
        
                @include responsive-width($laptop-m) {
                    font-size: 42px;
                    line-height: 44px;
                }
            }

            p {
                color: $white;
                font-size: 16px;
                line-height: 18px;
                font-weight: 300;
                margin-top: 0px;
        
                @include responsive-width($laptop-m) {
                    font-size: 22px;
                    line-height: 24px;
                }
            }

            img {
                position: relative;
                display: inline-block;
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    width: 390px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    margin-left: -30px;
                    width: auto;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            margin: 0;
            width: 100%;
            // max-width: 320px;
            // position: absolute;
            // bottom: 10px;
            // left: 10px;
            text-align: center;
            // display: block;
        
            @include responsive-width($tablet-m) {
                text-align: right;
                top: 50%;
                left: 0;
                bottom: auto;
                max-width: none;
                margin: -10px 0 0 0;
                position: absolute;

                -moz-transform: translate(0, -38%);
                -webkit-transform: translate(0, -38%);
                -o-transform: translate(0, -38%);
                -ms-transform: translate(0, -38%);
                transform: translate(0, -38%);
            }
        
            @include responsive-width($laptop-m) {
                -moz-transform: translate(0, -50%);
                -webkit-transform: translate(0, -50%);
                -o-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
            }
            
            // &-detail {
            //     position: absolute;
            //     left: 50%;
            //     top: 0;

            //     @include responsive-width($tablet-m) {
            //         left: 50%;
            //     }

            //     &::after {
            //         position: absolute;
            //         content: '';
            //         // display: none;
            //         width: 1180px;
            //         height: 380px;
            //         background-color: $blue;
            //         -webkit-border-radius: 52px;
            //         -moz-border-radius: 52px;
            //         border-radius: 52px;

            //         -moz-transform: rotate(163deg) skew(-6deg) translate(85%, 26.3%);
            //         -webkit-transform: rotate(163deg) skew(-6deg) translate(85%, 26.3%);
            //         -o-transform: rotate(163deg) skew(-6deg) translate(85%, 26.3%);
            //         -ms-transform: rotate(163deg) skew(-6deg) translate(85%, 26.3%);
            //         transform: rotate(163deg) skew(-6deg) translate(85%, 26.3%);
                    
            //         @include responsive-width($tablet-m) {
            //             // display: block;
            //             width: 2000px;
            //             height: 2000px;
            //             -webkit-border-radius: 70px;
            //             -moz-border-radius: 70px;
            //             border-radius: 70px;
            //             -moz-transform: rotate(196deg) skew(-7deg) translate(21%, 72.5%);
            //             -webkit-transform: rotate(196deg) skew(-7deg) translate(21%, 72.5%);
            //             -o-transform: rotate(196deg) skew(-7deg) translate(21%, 72.5%);
            //             -ms-transform: rotate(196deg) skew(-7deg) translate(21%, 72.5%);
            //             transform: rotate(196deg) skew(-7deg) translate(21%, 72.5%);
            //         }
                    
            //         @include responsive-width($laptop-s) {
            //             -moz-transform: rotate(196deg) skew(-2deg) translate(21%, 67.5%);
            //             -webkit-transform: rotate(196deg) skew(-2deg) translate(21%, 67.5%);
            //             -o-transform: rotate(196deg) skew(-2deg) translate(21%, 67.5%);
            //             -ms-transform: rotate(196deg) skew(-2deg) translate(21%, 67.5%);
            //             transform: rotate(196deg) skew(-2deg) translate(21%, 67.5%);
            //         }
            //     }

            //     &::before {
            //         position: absolute;
            //         content: '';
            //         // display: none;
            //         width: 1180px;
            //         height: 380px;
            //         background-color: $white;
            //         -webkit-border-radius: 52px;
            //         -moz-border-radius: 52px;
            //         border-radius: 52px;

            //         -moz-transform: rotate(159deg) skew(-6deg) translate(90%, 39.3%);
            //         -webkit-transform: rotate(159deg) skew(-6deg) translate(90%, 39.3%);
            //         -o-transform: rotate(159deg) skew(-6deg) translate(90%, 39.3%);
            //         -ms-transform: rotate(159deg) skew(-6deg) translate(90%, 39.3%);
            //         transform: rotate(159deg) skew(-6deg) translate(90%, 39.3%);
                    
            //         @include responsive-width($tablet-m) {
            //             // display: block;
            //             width: 2000px;
            //             height: 2000px;
            //             -webkit-border-radius: 70px;
            //             -moz-border-radius: 70px;
            //             border-radius: 70px;
            //             -moz-transform: rotate(199deg) skew(-8deg) translate(23.2%, 73.5%);
            //             -webkit-transform: rotate(199deg) skew(-8deg) translate(23.2%, 73.5%);
            //             -o-transform: rotate(199deg) skew(-8deg) translate(23.2%, 73.5%);
            //             -ms-transform: rotate(199deg) skew(-8deg) translate(23.2%, 73.5%);
            //             transform: rotate(199deg) skew(-8deg) translate(23.2%, 73.5%);
            //         }
                    
            //         @include responsive-width($laptop-s) {
            //             -moz-transform: rotate(198deg) skew(-4deg) translate(23.3%, 69.5%);
            //             -webkit-transform: rotate(198deg) skew(-4deg) translate(23.3%, 69.5%);
            //             -o-transform: rotate(198deg) skew(-4deg) translate(23.3%, 69.5%);
            //             -ms-transform: rotate(198deg) skew(-4deg) translate(23.3%, 69.5%);
            //             transform: rotate(198deg) skew(-4deg) translate(23.3%, 69.5%);
            //         }
            //     }
            // }

            // &-img {
            //     position: relative;
            //     display: block;

            //     // @include responsive-width($laptop-s) {
            //     //     margin-top: -60px;
            //     // }

            //     // @include responsive-width($laptop-m) {
            //     //     margin-top: 30px;
            //     // }
            // }

            img {
                // max-width: 100%;
                max-width: none;
                display: inline-block;  
                margin-top: -10px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    margin-right: 20px;
                    margin-top: -35px;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    // margin-top: 8px;
                    margin-top: -52px;
                //     max-width: 65%;
                //     margin-right: 50px;
                }

                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-top: 20px;
                    margin-right: -60px;
                //     max-width: none;
                //     margin-right: -104px;
                }
            }
        }

        .e-button-buy {
            position: absolute;
            left: 0;
            bottom: 10px;
            width: 100%;
        
            @include responsive-width($tablet-m) {
                bottom: 20px;
            }
            
            @include responsive-width($laptop-s) {
                left: 20px;
                bottom: 100px;
            }
        
            @include responsive-width($laptop-m) {
                bottom: 60px;
                left: -25px;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
                margin-top: 26px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-left: 30px;
                    margin-top: 0;
                    margin-bottom: 48px;
                }

                @include responsive-width($laptop-m) {
                    margin-top: 0;
                    margin-left: 0;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 5px auto 0;
            padding: 0 16px;
            max-width: 320px;
            color: $blue;
            text-align: left;

            @include responsive-width($tablet-m) {
                max-width: none;
                // width: 100%;
                font-size: 9px;
                line-height: 10px;
                padding: 0;
                padding-left: 15px;
                margin-left: 0;
                margin-top: 15px;
                position: absolute;
                // bottom: 37px;
                left: 0;
                bottom: 28px;
                width: 350px;
            }

            @include responsive-width($laptop-s) {
                display: block;
                left: 40px;
                bottom: 68px;
                width: 390px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0;
                left: -25px;
                bottom: 38px;
                width: 560px;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
