.entel__slider--home__item__content_chip_autoactivado {
    background-image: url($m_image_path +'2021/03/banner-chip-autoactivado-v2-bg-mob.png');
    background-color: $blue;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;

    @media screen and (min-width:468px) and (max-width:668px){
        background-position: 50% 20%;
    }
    @media screen and (min-width:669px) and (max-width:767px){
        background-position: 50% 30%;
    }
    @media screen and (max-width:467px){
        background-position: top center;
    }
    @include responsive-width($tablet_m) {
        background-image: initial;
        // background-position: center;
        // background-size: cover;
        background: rgb(1,169,228);
        background: linear-gradient(180deg, rgba(1,169,228,1) 0%, rgba(1,126,207,1) 50%, rgba(1,80,185,1) 100%);
    }
    .img-mob {
        display: none;
        @include responsive-width($tablet_m) {
            display: block;
        }
    }
    .btn-power {
        font-size: 12px;
        width: 140px !important;
        padding: 10px 15px;
        font-weight: 600;
        margin: 10px auto 30px auto;
        @include responsive-width($tablet_m) {
            font-size: 14px;
            padding: 15px 29px;
            width: 186px !important;
            margin: 0;
        }
    }

    .principalcontent {
        // top: 84%;
        @include responsive-width($tablet_m) {
            // top: 53%;
            transform: translate(-57%, -49%);
        }
        @include responsive-width(1024px) {
            transform: translate(-47%, -49%);
        }
        @include responsive-width(1220px) {
            transform: translate(-57%, -49%);
        }
        &__textbanner { 
            @include responsive-width(992px) {
                max-width: 530px;
            }

            img {
                @include responsive-width($tablet_m) {
                    max-width: 400px;
                }
                @include responsive-width(992px) {
                    max-width: 530px;
                }
    
            }
        }
        &__imgbanner { 
            @include responsive-width($tablet_m) {
                max-width: 270px;
            }

            img {
                @include responsive-width($tablet_m) {
                    max-width: 220px;
                }
                @include responsive-width(992px) {
                    max-width: 270px;
                }
            }
        }
    }
    &.entel__slider--home__item__content_chip_autoactivado {
        @include responsive-width($tablet_m) {
            position: relative;
            &::before {
                content: '';
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0;
                width: 196px;
                height: 72px;
                background-image: url($m_image_path +'2021/01/banner-chip-autoactivado-bg-sup-left-desk.png');
            }
            &::after {
                content: '';
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                right: 0;
                width: 220px;
                height: 400px;
                background-image: url($m_image_path +'2021/01/banner-chip-autoactivado-bg-sup-right-desk.png');
            }
        }
        .detalle {
            @include responsive-width($tablet_m) {
                left: 35%;
                width: 1px;
                height: 1px;
                bottom: -20px;
                z-index: 1;
                position: absolute;
            }

            @include responsive-width($tablet_ll) {
                left: 30%;
            }   
            
            @include responsive-width($laptop-s) {
                left: 38%;
            } 

            &::before {
                
                @include responsive-width($tablet_m) {
                    content: '';
                    background-color: #004FB9;
                    -moz-transform: rotate(-19deg) skew(-4deg, 13deg);
                    -webkit-transform: rotate(-19deg) skew(-4deg, 13deg);
                    -o-transform: rotate(-19deg) skew(-4deg, 13deg);
                    -ms-transform: rotate(-19deg) skew(-4deg, 13deg);
                    transform: rotate(-19deg) skew(-4deg, 13deg);
                    width: 1694px;
                    -webkit-border-top-right-radius: 50px;
                    -moz-border-top-right-radius: 50px;
                    border-top-right-radius: 50px;
                    position: relative;
                    height: 366px;
                    top: auto;

                    bottom: 298px;
                    left: auto;
                    display: block;
                    right: 1500px;
                }

                @include responsive-width($laptop_m) {
                    right: 1460px;
                }

                @include responsive-width(1600px) {
                    right: 1470px;
                }

                @include responsive-width(2000px) {
                    right: 1380px;
                }
            }

        }    

        .principalcontent {

            transform: translate(-50%, -30%);

            @include responsive-width($tablet_m) {
                transform: translate(-50%, -25%);
            }

            @include responsive-width($laptop_s) {
                transform: translate(-44%, -45%);
            }
            
            &__textbanner {
                display: none;
                .e-button-buy {
                    margin-top: 125px;

                    small {
                        color: $blue;
                    }
                }

                h2 {
                    font-size: 40px;
                    line-height: 40px;
                    color: $blue;
                    font-weight: 400;

                    span {
                        font-size: 25px;
                        display: block;
                        font-weight: 400;
                        color: $blue;
                    }

                    @include responsive-width($tablet_m) {
                        span {
                            font-size: 34px;
                            line-height: 34px;
                        }
                    }

                    @include responsive-width($tablet_ll) {
                        font-size: 60px;
                        line-height: 60px;
                    }
                }

                h3 {
                    font-size: 45px;
                    line-height: 45px;
                    font-weight: 800;
                    color: $extra_blue;

                    img {
                        vertical-align: top;
                        margin-top: 10px;
                        width: 35px;
                    }

                    @include responsive-width($tablet_m) {
                        font-size: 45px;
                        line-height: 45px;

                        img {
                            vertical-align: middle;
                        }
                    }

                    @include responsive-width($tablet_ll) {
                        font-size: 70px;
                        line-height: 63px;

                        img {
                            vertical-align: top;
                            margin-top: 0;
                            width: auto;
                        }
                    }                    
                }

                img  {
                    width: auto;
                    margin-bottom: 50px;
                }

                @include responsive-width($tablet_m) {
                    width: 46%;
                    display: inline-block;
                }

                @include responsive-width($tablet_ll) {
                    padding-left: 0;
                } 
            }

            &__model {
                margin: 0;
                @include responsive-width($tablet_m) {

                    margin-top: 0px;
                    margin-bottom: 70px;
                    margin-left: 94px;
                }
                img {
                    @include responsive-width($tablet_m) {
                        max-width: 270px;    
                    }
                    @include responsive-width(992px) {
                        max-width: 370px;    
                    }                    

                }
            }

            &__imgbanner {
                display: none;

                @media screen and (max-width: 320px) {
                    margin-left: 20%;
                }

                @media screen and (min-width: 375px) {
                    margin-left: 30%;
                }

                @media (max-width: 923px) and (min-width: 540px) {
                    margin-left: 10%;          
                }

                @include responsive-width($tablet_m) {
                    margin-left: 0;
                    width: 33%;
                    top: 50px;
                    left: -100px;
                    display: inline-block;
                } 

                @include responsive-width($tablet_ll) {
                    top: 75px;
                    left: -175px;
                } 
            }

            &__plan {
                position: relative;

                ul li:last-child {
                    color: $extra_blue;
                }

                ul {
                    position: relative;

                    li {
                        &::before {
                            content: "";
                        }
                        
                        @include responsive-width($tablet_m) {
                            font-size: 14px;
                        }  
                    }
                }
            }

            .e-button-buy {
                // margin-top: 5rem;
                position: relative;
                top: -15px;
                @include responsive-width($tablet_m) {
                    // position: relative;
                    top: -40px;
                    margin-top: 7px;
                }

                small {
                    color: $blue;
                }

                img {
                    width: 100%;
                    margin: auto;
                }

                p {
                    color: #ffffff;
                    font-size: 12px;
                    margin: 12px 0 21px;
                }
            }
        }
    }
}