.entel__slider--home__item__content.entel__slider--home__item__libcybernov {
    background: $blue;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: none;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: 20px;

            p {
                color: white;
                font-size: 16px;
                margin-bottom: 2px;
            }
        
            @include responsive-width($tablet-m) {
                left: auto;
                top: 50px;
                position: relative;
                text-align: left;
                margin-left: 40px;
                width: 100%;
                z-index: 2;
            }

            @include responsive-width($laptop-s) {
                margin-left: 10px;
                top: 20px;
            }

            @include responsive-width($laptop-m) {
                margin-left: 0px;
            }

            img {
        
                @include responsive-width($tablet-m) {
                    max-width: 176px;
                }

                @include responsive-width($laptop-s) {
                    max-width: none;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-40%, -44%);
            transform: translate(-48%, -44%);

            @include responsive-width($mobile-l) {
                text-align: center;
            }

            @include responsive-width($tablet-m) {
                text-align: right;
                -ms-transform: translate(-43%, -80%);
                transform: translate(-43%, -80%);
                max-width: 768px;
                bottom: 0;
            }

            @include responsive-width($laptop-s) {
                max-width: 1024px;
                -ms-transform: translate(-55%, -80%);
                transform: translate(-55%, -80%);
            }
            

            img {
                position: relative;
                max-width: 100%;
                display: inline-block;
                z-index: 1;

                @include responsive-width($tablet-m) {
                    margin-right: -80px;
                    width: 590px;
                }

                @include responsive-width($laptop-s) {
                    width: auto;
                }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 35px;
            left: 0;
            width: 100%;
            z-index: 1;

            @include responsive-width($tablet-m) {
                padding-left: 40px;
                position: relative;
                bottom: auto;
                margin-top: 70px;
            }

            @include responsive-width($laptop-s) {
                padding-left: 10px;
                margin-top: 40px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0px;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-top: 60px;
                    margin-bottom: 20px;
                }

                @include responsive-width($laptop-s) {
                    margin-bottom: 20px;
                    margin-top: 40px;
                }
            }

            img {
                display: none;
                margin-bottom: 0;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;
            max-width: 320px;
            display: none;
            
            @include responsive-width($tablet-m) {
                max-width: 270px;
                display: block;
                margin-left: 0;
                padding-left: 0;
            }
            
            @include responsive-width($laptop-s) {
                max-width: 280px;
            }
            
            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
