.entel__slider--home__item__content {
    height: 325px;
    margin-top: -1px;
    padding: 50px 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background-color: $blue;
    background-size: cover;
    background-position: center;

    h1,h2,h3,h4,h5,h6,span,p,small,ul,a {
        margin: 0;
        font-family: 'Barlow', sans-serif;
    }
    
    h2,
    h4 {
        color: $white;
    }
    
    h2 {
        font-size: 19px;
        font-weight: bold;
    
        @include responsive-width($tablet_m) {
            font-size: 21px;
        }
        
        span {
            font-size: 17px;
            line-height: 12px;
            font-weight: bold;
            color: $extra_blue;
    
            br {
                display: none;
            }
        
            @include responsive-width($tablet_m) {
                font-size: 32px;
                line-height: 38px;
    
                br {
                    display: block;
                }
            }
        }
    }
    
    h4 {
        font-size: 16px;
        font-weight: 100; 
        margin-top: 0;
    
        @include responsive-width($tablet_m) {
            margin-top: 15px;
        }   
    }

    > .principalcontent {
        top: 53%;
        left: 50%;
        width: 100%;
        margin: 0 auto;
        position: absolute;
        z-index: 2;
        transform: translate(-57%, -55%);
    
        @include responsive-width($mobile_s) {
            width: 640px;
        }
    
        @include responsive-width($tablet_m) {
            margin: 0 auto;
            width: 680px;
            transform: translate(-53%, -35%);
        }
    
        @include responsive-width($tablet_ll) {
            margin: 0 auto;
            width: 1100px;
        }
    }

    .e-button-buy {
        margin-top: 7px;
        text-align: center;
    
        @include responsive-width($tablet_m) {
            text-align: left;
        }    
    }
    
    .btn-buy {
        opacity: 0;
        width: 160px;
        padding-bottom: 6px;
        margin: 0 auto;
        display: block;
        text-decoration: none;
        line-height: 1;
        outline: 0;
        font-size: 14px;
        font-weight: 700;
        padding: 7px 15px;
        background-color: #ff560a;
        border: 2px solid #ff560a;
        border-radius: 55px;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        text-align: center;
        transition: all .2s ease 0s;
        transform: translateY(20px);
    
        @include responsive-width($tablet_m) {
            margin: 14px 0 0 0;
            padding: 15px;
        }
    }
    
    .e-button-buy small {
        font-size: 10px;
        line-height: 12px;
        color: $extra_blue;
    
        @include responsive-width($tablet_m) {
            display: block;
            color: white;
            margin: 25px 0 0 0;
        }
    }
    
    .hidden-xs {
        display: none !important;
    
        @include responsive-width($mobile_s) {
            display: none !important;
        }
        
        @include responsive-width($mobile_l) {
            display: none !important;
        }
    
        @include responsive-width($tablet_m) {
            display: block !important;
        }
    }

    .hidden-md-inline {
        display: none !important;

        @include responsive-width($tablet_ll) {
            display: inline-block !important;
        }
    }

    .hidden-smx {
        display: block !important;

        @include responsive-width(963px) {
            display: none !important;
        }
    }
    
    .hidden-lg {
        display: block !important;

        @include responsive-width($mobile_s) {
            display: block !important;
        }
        
        @include responsive-width($mobile_l) {
            display: block !important;
        }
    
        @include responsive-width($tablet_m) {
            display: none !important;
        }
    }    

    @include responsive-width($tablet_m) {
        height: 370px;
    }

    @include responsive-width($laptop_s) {
        height: 350px;
    }
}

.center-image {
    @media screen and (max-width: 680px) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: auto !important;
        margin-right: auto;
    }
}

.text-white {
    color: #ffffff !important;

    span,
    p,
    h6 {
        color: #ffffff !important;
    }
}