.entel__slider--home__item__content.entel__slider--home__item__lg {
    background: $blue;
    padding: 0;
    
    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 335px;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px;
        }
        
        @include responsive-width($tablet-s) {
            max-width: 1024px;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            position: absolute;
            top: 16px;
            left: 0;
            margin-left: 0;
        
            @include responsive-width($tablet-m) {
                left: auto;
                top: 70px;
                position: relative;
                text-align: left;
                margin-left: 20px;
                width: 100%;
                z-index: 2;
            }

            @include responsive-width($laptop-s) {
                margin-left: 40px;
                top: 20px;
            }

            @include responsive-width($laptop-m) {
                margin-left: -40px;
            }

            img {
                width: 80%;

                @include responsive-width($tablet-m) {
                    // max-width: 206px;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    max-width: none;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 75px;

            @include responsive-width($mobile-l) {
                text-align: center;
            }

            @include responsive-width($tablet-m) {
                text-align: right;
                max-width: 768px;
                bottom: 24px;
            }

            @include responsive-width($laptop-s) {
                text-align: right;
                max-width: 1024px;
                bottom: 80px;
            }

            @include responsive-width($laptop-m) {
                bottom: 40px;
            }

            &-detail {
                position: absolute;
                left: 50%;
                top: 0;

                @include responsive-width($tablet-m) {
                    left: auto;
                    right: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 520px;
                    z-index: 1;
                    background-color: $blue;
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;

                    -moz-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
                    -webkit-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
                    -o-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
                    -ms-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
                    transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);

                    @include responsive-width($tablet-m) {
                        // display: none;
                        -moz-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
                        -webkit-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
                        -o-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
                        -ms-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
                        transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
                        -webkit-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
                        -o-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
                        -ms-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
                        transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
                    }
                    
                }

                &::before {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 520px;
                    z-index: 1;
                    background-color: $extra_blue;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    border-radius: 30px;

                    -moz-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                    -webkit-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                    -o-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                    -ms-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                    transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);

                    @include responsive-width($tablet-m) {
                        -moz-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                        -webkit-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                        -o-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                        -ms-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                        transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                        -webkit-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                        -o-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                        -ms-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                        transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                    }
                }
            }

            img {
                position: relative;
                max-width: 100%;
                display: inline-block;
                z-index: 1;
                margin-right: -10px;

                @include responsive-width($tablet-m) {
                    margin-right: 20px;
                    width: auto;
                    // width: 473px;
                }

                @include responsive-width($laptop-s) {
                    width: 710px;
                    margin-right: 40px;
                }

                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-right: -150px;
                }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 35px;
            left: 0;
            width: 100%;
            z-index: 1;

            @include responsive-width($tablet-m) {
                padding-left: 20px;
                position: relative;
                bottom: auto;
                margin-top: 70px;
            }

            @include responsive-width($laptop-s) {
                padding-left: 55px;
                margin-top: 40px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0px;
                margin-left: -20px;
            }

            .btn-buy {
                height: 34px;
                width: 126px;
                padding: 0;
                font-size: 12px;
                line-height: 30px;
        
                @include responsive-width($tablet-m) {
                    width: 140px;
                    height: 40px;
                    font-size: 12px;
                    margin-top: 94px;
                    margin-bottom: 10px;
                    line-height: 36px;
                    font-size: 14px;
                }

                @include responsive-width($laptop-s) {
                    width: 140px;
                    height: 40px;
                    margin-bottom: 10px;
                    margin-top: 44px;
                    line-height: 36px;
                    font-size: 14px;
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;
            max-width: 320px;
            display: none;
            
            @include responsive-width($tablet-m) {
                max-width: 226px;
                margin-left: 0;
                padding-left: 0;
            }

            @include responsive-width($laptop-s) {
                display: block;
                max-width: none;
            }

            @include responsive-width($laptop-m) {
                margin: 14px auto 0;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
