.coronavirus {
    .entel__slider--home__item__content_bts {
        background-image: url(https://www.entel.pe/wp-content/uploads/2020/04/baner-covid-home-mob-v3.jpg);
        background-size: cover;
        background-position: top;
        @include responsive-width($tablet-m) {
            background: #f9fafc !important;
        }
    }
    .banner-mob {
        max-width: 640px;
        width: 100%;
        text-align: center;
        img{

            // width: 50%;
            // transform: translate(50%, 15%);
            width: 100vw;
        }
    }
    .title-coronavirus {
        font-family: Barlow;
        font-style: normal !important;
        font-weight: 300;
        font-size: 42px;
        line-height: 40px;
        color: #004FB9 !important;
    }
    .subtitle-coronavirus {
        strong {
            font-family: Barlow;
            font-style: normal;
            font-weight: bold !important;
            font-size: 42px;
            line-height: 38px;
            color: #FF560A !important;
        }
    }
    .entel__slider--home__item__content {
        text-align: center;
        @include responsive-width($tablet-m) {
            background: $blue;
            text-align: left;
        }
    }
    .principalcontent {
        width: 100% !important;
        -ms-transform: translate(-50%, -39%) !important;
        transform: translate(-50%, -39%) !important;

        @include responsive-width($tablet-m) {
            width: 950px !important;
            display: flex;
            -ms-transform: translate(-40%, -37%) !important;
            transform: translate(-40%, -37%) !important;
        }
    }
    .principalcontent__imgbanner {
        text-align: center;
        text-align: left;
        max-width: 410px;
        width: 82% !important;

        img {
            max-width: 500px !important;
            width: 90%;
            margin: 0 auto !important;
        }
        @include responsive-width(321px) {
            img {
                width: 100%;
                margin-left: 45% !important;

            }
        }

        // @media (max-width: 767px) {
        //     img {
        //         margin: 0 auto !important;
        //         width: 43%;
        //     }
        // }
        @include responsive-width(768px) {
            width: 41% !important;
            
            img {
                margin: 0 auto !important;
                width:100%;
                visibility: visible !important;
            }
            
        }

        @include responsive-width($laptop_m) {
            width: 100% !important;
        }
    }
    .principalcontent__textbanner-note {
        text-align: center;
        position: absolute;
        @include responsive-width($tablet-m) {
            text-align: left;
            position: relative;
            // margin-top: 80px;
            

        }
        @include responsive-width($laptop_m) {
            margin-top: 60px;
            margin-left: 30px;
            
        }
        h2 {
            font-family: $font-family;
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 28px;
            color: $hiper_gray;
            @include responsive-width($tablet-m) {
                color: $blue;
                font-size: 38px;
                line-height: 28px;
            }
            @include responsive-width($laptop_m) {
                font-size: 48px;
                line-height: 38px;
            }
        }
        h3 {
            font-family: $font-family;
            font-style: normal;
            font-weight: 300;
            font-size: 34px;
            line-height: 28px;
            display: none;
            color: $hiper_gray;
            @include responsive-width($tablet-m) {
                font-size: 34px;
                line-height: 28px;
                margin-bottom: 7px;
                color: $blue;
                display: block;
            }
            @include responsive-width($laptop_m) {
                font-size: 34px;
                line-height: 38px;
                margin-bottom: 7px;
            }
        }

        p {
            font-size: 24px;
            margin-top: 0;
            color: $blue;
            display: none;
            @include responsive-width($tablet-m) {
                display: block;
            }
        }
        img {
            @include responsive-width($tablet-m) {
                max-width: 240px;
                width: 60%;
            }
            @include responsive-width($laptop_m) {
                width: 100%;
            }
        }
    }
    .e-button-buy {
        margin-top: 135px;
        @include responsive-width($tablet-m) {
            margin-top: 7px;
        }
    }
    .detalles {
        position: relative;
        display: none;
        margin-left: auto;
        margin-right: auto;
        // background: url('https://www.entel.pe/wp-content/uploads/2020/03/banner-mobile-coronavirus-v2.jpg') no-repeat;
        background-size: contain;
        height: 100vh;
        max-width: 640px;
        width: 100%;
        bottom: 16%;
        @include responsive-width($mobile-s) {
            bottom: 16%;
        }
        @include responsive-width($mobile-m) {
            bottom: 16%;
        }
        @include responsive-width($mobile-l) {
            bottom: 16%;
        }
        @include responsive-width($tablet-m) {
            position: absolute;
            display: block;
            margin-left: auto;
            margin-right: auto;
            background: url(https://www.entel.pe/wp-content/uploads/2020/03/banner-home-coronavirus-desk-v4.jpg) no-repeat;
            height: 90%;
            max-width: 1920px;
            width: 100%;
            top: 0;
            bottom: 0%;
            background-size: cover;
            background-position-x: center;
            background-position-y: top; 
        }
    }
 
    .e-button-buy {
        position: relative;

        @include responsive-width($mobile-s) {
            top: 30px;
        }
        @include responsive-width($tablet-m) {
            top: 0px;
        }
        @media screen and (max-width: 767px) {
            position: absolute;
            top: 65%;
            right: 0;
            left: 0;
            
            .btn-buy {
                width: 143px;
                padding: 15px 15px;
            }
        }
    }
}   