.entel__slider--home__item__content.entel__slider--home__item__soloxhoy {
    background: $blue;
    padding: 0;

    @media (min-width: $laptop_s){
        background-image: url($m_image_path+'2021/05/banner-soloxhoy-back.png');
        background-position: 106% bottom;
        background-repeat: no-repeat;
        background-size: auto;
    }

    @media (min-width: 1120px){
        background-position: 100% bottom;
    }

    @media (min-width: 1200px){
        background-position: 97% bottom;
    }

    @media (min-width: 1600px){
        background-position: 86% bottom;
    }

    @media (min-width: 1700px){
        background-position: 82% bottom;
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px !important;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1024px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            padding-top: 10px;
            // position: absolute;
            // top: 16px;
            // left: 50%;
            // margin-left: -70px;
        
            @include responsive-width($tablet-m) {
                left: auto;
                // top: 70px;
                position: relative;
                text-align: left;
                margin-left: 60px;
                padding-top: 20px;
                width: 100%;
                z-index: 2;
            }

            @include responsive-width($laptop-s) {
                margin-left: 50px;
            }

            // @include responsive-width($laptop-m) {
            //     margin-left: -100px;
            // }

            img {
                display: inline-block;
                position: relative;
                z-index: 1;
                width: auto;
        
                @include responsive-width($tablet-m) {
                    // max-width: 206px;
                }

                @include responsive-width($laptop-s) {
                    max-width: 260px;
                }

                @include responsive-width($laptop-m) {
                    max-width: auto;
                }
            }
            
            &-detail {
                position: absolute;
                left: 50%;
                top: 0;
                z-index: 0;

                @include responsive-width($tablet-m) {
                    left: auto;
                    right: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 3000px;
                    height: 3000px;
                    z-index: 1;
                    background-color: $white;
                    -webkit-border-radius: 40px;
                    -moz-border-radius: 40px;
                    border-radius: 40px;

                    -moz-transform: translate(-2310px, -2985px) skew(-16deg) rotate(4deg);
                    -webkit-transform: translate(-2310px, -2985px) skew(-16deg) rotate(4deg);
                    -o-transform: translate(-2310px, -2985px) skew(-16deg) rotate(4deg);
                    -ms-transform: translate(-2310px, -2985px) skew(-16deg) rotate(4deg);
                    transform: translate(-2310px, -2985px) skew(-16deg) rotate(4deg);

                    @include responsive-width($tablet-m) {
                        // display: none;
                        -webkit-border-radius: 80px;
                        -moz-border-radius: 80px;
                        border-radius: 80px;
                        -moz-transform: translate(-3159px, -2725px) skew(-12deg) rotate(2deg);
                        -webkit-transform: translate(-3159px, -2725px) skew(-12deg) rotate(2deg);
                        -o-transform: translate(-3159px, -2725px) skew(-12deg) rotate(2deg);
                        -ms-transform: translate(-3159px, -2725px) skew(-12deg) rotate(2deg);
                        transform: translate(-3159px, -2725px) skew(-12deg) rotate(2deg);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-3429px, -2755px) skew(-9deg) rotate(3deg);
                        -webkit-transform: translate(-3429px, -2755px) skew(-9deg) rotate(3deg);
                        -o-transform: translate(-3429px, -2755px) skew(-9deg) rotate(3deg);
                        -ms-transform: translate(-3429px, -2755px) skew(-9deg) rotate(3deg);
                        transform: translate(-3429px, -2755px) skew(-9deg) rotate(3deg);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: translate(-3429px, -2755px) skew(-9deg) rotate(3deg);
                        -webkit-transform: translate(-3429px, -2755px) skew(-9deg) rotate(3deg);
                        -o-transform: translate(-3429px, -2755px) skew(-9deg) rotate(3deg);
                        -ms-transform: translate(-3429px, -2755px) skew(-9deg) rotate(3deg);
                        transform: translate(-3429px, -2755px) skew(-9deg) rotate(3deg);
                    }
                    
                }

                // &::before {
                //     position: absolute;
                //     content: '';
                //     display: block;
                //     width: 1180px;
                //     height: 520px;
                //     z-index: 1;
                //     background-color: $extra_blue;
                //     -webkit-border-radius: 30px;
                //     -moz-border-radius: 30px;
                //     border-radius: 30px;

                //     -moz-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                //     -webkit-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                //     -o-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                //     -ms-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                //     transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);

                //     @include responsive-width($tablet-m) {
                //         -moz-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                //         -webkit-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                //         -o-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                //         -ms-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                //         transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                //     }

                //     @include responsive-width($laptop-s) {
                //         -moz-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                //         -webkit-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                //         -o-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                //         -ms-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                //         transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                //     }
                // }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 48px;
            z-index: 2;

            @include responsive-width($mobile-l) {
                text-align: center;
            }

            @include responsive-width($tablet-m) {
                text-align: right;
                max-width: 768px;
                bottom: 36px;
            }

            @include responsive-width($laptop-s) {
                text-align: right;
                max-width: 1024px;
                bottom: 40px;
            }

            img {
                position: relative;
                max-width: 100%;
                display: inline-block;
                z-index: 1;
                margin-right: -10px;

                @include responsive-width($tablet-m) {
                    margin-right: 60px;
                    width: auto;
                    // width: 473px;
                }

                @include responsive-width($laptop-s) {
                    // width: 760px;
                    margin-right: 240px;
                }

                @include responsive-width($laptop-m) {
                    margin-right: 170px;
                }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 12px;
            left: 0;
            width: 100%;
            z-index: 5;

            @include responsive-width($tablet-m) {
                padding-left: 64px;
                position: relative;
                bottom: auto;
                margin-top: -90px;
            }

            @include responsive-width($laptop-s) {
                padding-left: 56px;
            }

            // @include responsive-width($laptop-m) {
            //     padding-left: 0px;
            //     margin-left: -90px;
            // }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-top: 94px;
                    margin-bottom: 10px;
                }

                @include responsive-width($laptop-s) {
                    margin-bottom: 20px;
                    margin-top: 82px;
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 10px;
            line-height: 11px;
            margin: 24px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;
            letter-spacing: -0.05em;
            max-width: 320px;
            display: none;
            
            @include responsive-width($tablet-m) {
                max-width: 210px;
                display: block;
                margin-left: 0;
                padding-left: 0;
            }
            
            @include responsive-width($laptop-s) {
                margin: 14px auto 0 0;
                max-width: 290px;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
