.entel__slider--home__item__content.entel__slider--home__dia_madre_hogar {
    background: $blue;
    padding: 0;
    // background: linear-gradient(180deg, #0045a0 0%, #004fb9 100%);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 438px;
    background-image: m_image_url("2021/04/hogar-madre-bg-mob.png");
    // @include responsive-max-width($mobile_l - 1) {
    //     background-image: m_image_url(
    //         "2021/02/hogar-internet-girl-bck-v2-mob.png"
    //     );
    //     @include backgound_retina {
    //         background-image: m_image_url(
    //             "2021/02/hogar-internet-girl-bck-v2-mob@2x.png"
    //         );
    //     }
    // } //
    
    @include responsive-width($tablet-m) {
        background-size: 397px;
        background-position: bottom left;
        background-image: m_image_url("2021/04/hogar-madre-bg-tab.png");
    }
    
    @include responsive-width($laptop-s) {
        // background-size: auto;
        background-size: 270px;
        background-position: bottom right;
        background-image: m_image_url("2021/04/hogar-madre-bg-desk.png");
    }
    
    @include responsive-width($laptop-m) {
        background-size: 320px;
    }
    
    @include responsive-width(1600px) {
        background-size: auto;
    }
    

    // .detalle {
    //     // position: relative;
    //     display: block;
    
    //     img {
    //         position: absolute;
    //         bottom: 0;
    //         object-fit: contain;
    //         object-position: bottom;
    //         z-index: 1;
    //         width: 100%;
    //         height: 100%;
    //         top: 15px;
    //     }
    
    //     @include responsive-width($tablet-m) {
    //         display: none;
    //     }
    
    //     @include responsive-width($laptop-s) {
    //         display: none;
    //     }
    
    //     @include responsive-width($laptop-m) {
    //         display: none;
    //     }
    
    //     @include responsive-width($desktop_s) {
    //         display: none;
    //     }
    // }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 325px;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            height: 100%;
            max-width: 1100px !important;
        }

        &__textbanner {
            // left: 0;
            width: 100%;
            z-index: 10;
            // top: 0px;
            display: block;
            padding-top: 30px;
            font-weight: bold;
            text-align: center;
            position: relative;

            // picture {
            //     display: none;
            // }
        
            @include responsive-width($tablet-m) {
                padding-top: 10px;
                padding-left: 30px;
                top: 0;
                left: auto;
                z-index: 2;
                width: 100%;
                bottom: unset;
                margin-left: 0;
                display: block;
                text-align: left;
                position: relative;

                picture {
                    display: block;
                }
            }

            @include responsive-width($laptop-s) {
                top: 0;
                margin-left: 10px;
                padding-top: 60px;
            }

            // @include responsive-width($laptop-m) {
            //     top: 100px;
            //     margin-left: 0px;
            // }

            // @include responsive-width($desktop_s) {
            //     top: 67px;
            //     margin-left: 0px;
            // }

            img {
                margin-left: -8px;
                width: auto;
        
                @include responsive-width($tablet-m) {
                    width: auto;
                    max-width: none;
                }

                // @include responsive-width($laptop-s) {
                //     max-width: none;
                // }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            // bottom: 0;
            width: 100%;
            margin: 0 0 0 0;
            text-align: left;
            position: relative;
            // padding-top: 5px;
            // top: 0;

            // @include responsive-width($mobile-l) {
            //     text-align: center;
            // }

            @include responsive-width($tablet-m) {
                text-align: center;
                right: 0;
                bottom: 80px;
                left: auto;
                top: auto;
            }

            @include responsive-width($laptop-s) {
                bottom: 100px;
                max-width: 1024px;
                text-align: right;
            }
            
            // @include responsive-width($laptop-m) {
            //     bottom: 0;
            // }

            img {
                position: relative;
                max-width: 100%;
                display: inline-block;
                z-index: 1;
                margin-left: 15px;
                margin-top: 15px;
                // margin-right: -22px;

                @include responsive-width($tablet-m) {
                    margin-right: -330px;
                    width: auto;
                    max-width: 100%;
                    margin-top: 5px;
                }

                @include responsive-width($laptop-s) {
                    // margin-right: 110px;
                    margin-top: -34px;
                    width: 510px;
                    margin-right: 230px;
                }

                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-right: 140px;
                    // margin-right: -100px;
                    // margin-top: 65px;
                }

                // @include responsive-width($desktop_s) {
                    // width: 1000px;
                    // margin-right: -150px;
                    // margin-top: 45px;

                // }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 32px;
            left: 0;
            width: 100%;
            z-index: 1;
            text-align: left;

            @include responsive-width($tablet-m) {
                bottom: auto;
                position: relative;
                padding-left: 50px;
                // margin-top: -162px;
                margin-top: -302px;
            }

            @include responsive-width($laptop-s) {
                // margin-top: -200px;
                padding-left: 20px;
                margin-top: -162px;
                // margin-top: -200px;
            }

            .btn-buy {
                width: 126px;
                height: 34px;
                padding: 0;
                font-size: 12px;
                line-height: 30px;
                display: inline-block;
                margin: auto auto auto 26px;
        
                @include responsive-width($tablet-m) {
                    margin-top: 7px;
                    font-size: 12px;
                    margin-bottom: 20px;
                    margin-left: 20px;
                    width: 148px;
                    height: 40px;
                    line-height: 36px;
                }

                @include responsive-width($laptop-s) {
                    margin-bottom: 20px;
                    height: 40px;
                    padding: 0;
                    font-size: 14px;
                    line-height: 36px;
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;
            max-width: 320px;
            display: none;
            
            @include responsive-width($laptop-s) {
                width: 100%;
                left: 0;
                bottom: 24px;
                max-width: 70%;
                display: block;
                position: absolute;
                padding-left: 40px;
            }

            @include responsive-width($laptop-m) {
                left: auto;
                bottom: 44px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
