.entel__slider--home__item__content.entel__slider--home__accesorios_interbank  {
    background: $blue;
    padding: 0;
        
    // @include responsive-width($tablet-m) {
    //     background: $white;
    // }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
            height: 100%;
            top: 0;
            -ms-transform: none;
            transform: none;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding-left: 0;
            padding-top: 30px;

            @include responsive-width($tablet-m) {
                width: 100%;
                text-align: left;
                padding-left: 50px;
                padding-top: 90px;
            }

            @include responsive-width($laptop-s) {
                padding-top: 75px;
                padding-left: 40px;
            }

            @include responsive-width($laptop-m) {
                padding-top: 75px;
                padding-left: 50px;
                margin-bottom: 15px;
            }

            img {
                position: relative;
                display: inline-block;
                width: auto;

                @include responsive-width($tablet-m) {
                    width: auto;
                }
            }

            &-detail {
                position: absolute;
                left: 50%;
                bottom: 0;
    
                @include responsive-width($tablet-m) {
                    bottom: 70px;
                }
    
                &:before {
                    content: '';
                    width: 3000px;
                    height: 3000px;
                    position: absolute;
                    display: none;
                    left: 0;
                    bottom: 0;
                    background: $white;
        
                    @include responsive-width($tablet-m) {
                        display: block;
                        -webkit-border-radius: 30px;
                        -moz-border-radius: 30px;
                        border-radius: 30px;
                        -moz-transform: translate(-3115px, 1220px) rotate(-70deg) skew(-36deg);
                        -webkit-transform: translate(-3115px, 1220px) rotate(-70deg) skew(-36deg);
                        -o-transform: translate(-3115px, 1220px) rotate(-70deg) skew(-36deg);
                        -ms-transform: translate(-3115px, 1220px) rotate(-70deg) skew(-36deg);
                        transform: translate(-3115px, 1220px) rotate(-70deg) skew(-36deg);
                    }
        
                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-3235px, 1250px) rotate(-70deg) skew(-36deg);
                        -webkit-transform: translate(-3235px, 1250px) rotate(-70deg) skew(-36deg);
                        -o-transform: translate(-3235px, 1250px) rotate(-70deg) skew(-36deg);
                        -ms-transform: translate(-3235px, 1250px) rotate(-70deg) skew(-36deg);
                        transform: translate(-3235px, 1250px) rotate(-70deg) skew(-36deg);
                    }
        
                    @include responsive-width($laptop-m) {
                        -moz-transform: translate(-3255px, 1220px) rotate(-70deg) skew(-36deg);
                        -webkit-transform: translate(-3255px, 1220px) rotate(-70deg) skew(-36deg);
                        -o-transform: translate(-3255px, 1220px) rotate(-70deg) skew(-36deg);
                        -ms-transform: translate(-3255px, 1220px) rotate(-70deg) skew(-36deg);
                        transform: translate(-3255px, 1220px) rotate(-70deg) skew(-36deg);
                    }
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            top: 24px;
            right: 0;
            width: 100%;
            position: absolute;
            text-align: right;
        
            @include responsive-width($tablet-m) {
                margin: 0;
                position: absolute;
                top: 20px;
                left: 0;
                right: 0;
                -ms-transform: none;
                transform: none;
            }

            @include responsive-width($laptop-s) {
                top: 0;
            }

            &-img {
                position: relative;
                display: block;
                height: 100%;
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;   
                margin-right: -10px;

                @include responsive-width($tablet-m) {    
                    margin-right: 30px;
                    margin-top: 13px;
                }

                @include responsive-width($laptop-s) {
                    margin-right: 30px;
                    margin-top: 0px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                    margin-top: 0;
                    margin-right: 20px;
                }
            }
        }

        .e-button-buy {
            margin-top: 30px;
            text-align: left;
            margin-left: 0;
        
            @include responsive-width($tablet-m) {
                margin-top: 0;
                padding-top: 10px;
                padding-left: 50px;
            }

            @include responsive-width($laptop-s) {
                padding-top: 0px;
                padding-left: 40px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 50px;
                margin-top: 40px;
            }

            .btn-buy {
                height: 40px;
                width: 142px;
                padding: 0;
                margin: 0;
                line-height: 36px;
                font-size: 12px;
        
                @include responsive-width($tablet-m) {
                    margin: 0;
                    width: 186px;
                    height: 50px;
                    font-size: 14px;
                    line-height: 48px;
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;

            &__mob {
                padding-right: 15px;
                margin: 7px auto 0;
                bottom: 16px;
                text-align: left;
                
                @include responsive-width($tablet-m) {
                    width: 100%;
                    padding: 0;
                    bottom: 25px;
                    left: 295px;
                }
                
                @include responsive-width($laptop-s) {
                    display: none;
                }
            }

            &__desk {
                display: none;
                
                @include responsive-width($tablet-m) {
                    font-size: 9px;
                    max-width: 644px;
                    right: auto;
                    left: 50px;
                    bottom: 10px;
                    padding: 0;
                    margin: 0;
                    text-align: left;
                }

                @include responsive-width($laptop-s) {
                    max-width: 920px;
                    display: block;
                    padding-left: 246px;
                    bottom: 10px;
                }
    
                @include responsive-width($laptop-m) {
                    display: block;
                    max-width: 100%;
                    left: 0;
                    bottom: 20px;
                    padding-left: 336px;
                }
            }

            a {
                color: $extra_dark_gray;
                text-decoration: none;
            }
        }

        .e-legal-acc-disclaimer {
            line-height: 1.2;
            margin-top: 26px;
            color: $white;
            font-size: 10px;
            width: 156px;
            text-align: left;
            letter-spacing: normal;

            @include responsive-width($tablet-m) {
                padding-left: 290px;
                margin-top: 30px;
                font-size: 12px;
                width: auto;
            }

            @include responsive-width($laptop-s) {
                margin-top: 30px;              
            }

            @include responsive-width($laptop-m) {
                margin-top: 10px;
                margin-left: 40px;             
            }

        }
    }
}
