.entel__slider--home__item__content.entel__slider--home__dia_padre_hogar {
    background: $blue;
    padding: 0;
    background-repeat: no-repeat;
    background-position: bottom  center;
    background-size: 375px;
    background-image: m_image_url("2021/06/hogar-padre-bg-mob.png");
    
    @include responsive-width($tablet-m) {
        background-size: 349px;
        background-position: bottom left;
        background-image: m_image_url("2021/06/hogar-padre-bg-tab.png");
    }
    
    @include responsive-width($laptop-s) {
        background-size: 349px;
        background-position: bottom right;
        background-image: m_image_url("2021/06/hogar-madre-bg-desk.png");
    }
    
    @include responsive-width($laptop-m) {
        background-size: 310px;
    }
    
    @include responsive-width(1600px) {
        background-size: auto;
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 325px;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            height: 100%;
            max-width: 1100px !important;
        }

        &__textbanner {
            width: 100%;
            z-index: 10;
            display: block;
            padding-top: 10px;
            margin-bottom: 0;
            font-weight: bold;
            text-align: center;
            position: relative;
        
            @include responsive-width($tablet-m) {
                padding-top: 20px;
                padding-left: 60px;
                top: 0;
                left: auto;
                z-index: 2;
                width: 100%;
                bottom: unset;
                margin-left: 0;
                display: block;
                text-align: left;
                position: relative;

                picture {
                    display: block;
                }
            }

            @include responsive-width($laptop-s) {
                top: 0;
                margin-left: 0;
                padding-top: 50px;
                padding-left: 40px;
            }

            @include responsive-width($laptop-m) {
                padding-top: 20px;
            }

            img {
                // margin-left: -8px;
                width: auto;
                display: inline-block;
                margin-right: -20px;
        
                @include responsive-width($tablet-m) {
                    width: auto;
                    max-width: none;
                }

                @include responsive-width($laptop-s) {
                    width: 350px;
                }

                @include responsive-width($laptop-m) {
                    width: auto;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            width: 100%;
            margin: -15px 0 0 0;
            text-align: center;
            position: relative;

            @include responsive-width($tablet-m) {
                text-align: right;
                right: 0;
                bottom: 80px;
                left: auto;
                top: auto;
            }

            @include responsive-width($laptop-s) {
                position: absolute;
                bottom: 130px;
                max-width: 1024px;
                text-align: right;
            }

            @include responsive-width($laptop-m) {
                bottom: 100px;
            }

            img {
                position: relative;
                max-width: 100%;
                display: inline-block;
                margin-right: -20px;
                z-index: 1;
                // margin-left: 15px;
                // margin-top: 15px;

                @include responsive-width($tablet-m) {
                    width: auto;
                    max-width: 100%;
                    margin-top: 5px;
                    margin-right: 50px;
                }

                @include responsive-width($laptop-s) {
                    margin-top: 0;
                    margin-right: 350px;
                    width: 240px;
                }

                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-right: 220px;
                }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 22px;
            left: 0;
            width: 100%;
            z-index: 1;
            text-align: center;

            @include responsive-width($tablet-m) {
                text-align: left;
                bottom: auto;
                position: relative;
                padding-left: 50px;
                margin-top: -262px;
            }

            @include responsive-width($laptop-s) {    
                padding-left: 20px;
                margin-top: 20px;
            }

            .btn-buy {
                width: 126px;
                height: 34px;
                padding: 0;
                font-size: 12px;
                line-height: 30px;
                display: inline-block;
                margin: auto;
        
                @include responsive-width($tablet-m) {
                    margin-top: 20px;
                    font-size: 12px;
                    margin-bottom: 20px;
                    margin-left: 20px;
                    width: 148px;
                    height: 40px;
                    line-height: 36px;
                }

                @include responsive-width($laptop-s) {
                    margin-bottom: 20px;
                    margin-top: 0;
                    height: 40px;
                    padding: 0;
                    font-size: 14px;
                    line-height: 36px;
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;
            max-width: 320px;
            display: none;
            
            @include responsive-width($laptop-s) {
                width: 100%;
                left: 0;
                display: block;
                position: absolute;
                padding-left: 40px;
                bottom: 14px;
                max-width: 50%;
            }

            @include responsive-width($laptop-m) {
                left: auto;
                bottom: 34px;
                max-width: 780px;
                font-size: 10px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
