.entel__slider--home__item__content.entel__slider--home__item__covid_involvedToKeepYouConnected {
  background: linear-gradient(180deg, #0045a0 0%, #004fb9 100%);
  //   background-image: url($m_image_path + "2021/01/covid_involvedToKeepYouConnected-mob.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  // @include responsive-max-width($mobile_l - 1) {
  //   background-image: m_image_url(
  //     "2021/01/covid_involvedToKeepYouConnected-mob-v2.png"
  //   );
  //   @include backgound_retina {
  //     background-image: m_image_url(
  //       "2021/01/covid_involvedToKeepYouConnected-mob-v2@2x.png"
  //     );
  //   }
  // }
  @media screen and (min-width: $mobile_l) and (max-width: 767px) {
    background-image: m_image_url(
      "2021/01/covid_involvedToKeepYouConnected-tab-v2.png"
    );
    background-position: top;
    @include backgound_retina {
      background-image: m_image_url(
        "2021/01/covid_involvedToKeepYouConnected-tab-v2@2x.png"
      );
    }
  }
  @media screen and (min-width: $tablet_m) and (max-width: 1023px) {
    background-image: m_image_url(
      "2021/01/covid_involvedToKeepYouConnected-tab2-v2.png"
    );
    background-position: left;
    @include backgound_retina {
      background-image: m_image_url(
        "2021/01/covid_involvedToKeepYouConnected-tab2-v2@2x.png"
      );
    }
  }
  @media screen and (min-width: $laptop_s) {
    background-image: m_image_url(
      "2021/02/covid_involvedToKeepYouConnected-desk.png"
    );
    background-position: 40%;
    @include backgound_retina {
      background-image: m_image_url(
        "2021/02/covid_involvedToKeepYouConnected-desk@2x.png"
      );
    }
  }

  @media screen and (min-width: $desktop_s) {
    background-image: m_image_url(
      "2021/02/covid_involvedToKeepYouConnected-desk.png"
    );
    // background-position: -91%;
    background-color: #0147A5;
    @include backgound_retina {
      background-image: m_image_url(
        "2021/02/covid_involvedToKeepYouConnected-desk@2x.png"
      );
    }
  }
 
  padding: 0;

  .detalle {
    // position: relative;
    display: block;

    img {
        position: absolute;
        bottom: 0;
        object-fit: cover;
        object-position: center;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 18px;
    }

    @include responsive-width($tablet-m) {
        display: none;
    }

    @include responsive-width($laptop-s) {
        display: none;
    }

    @include responsive-width($laptop-m) {
        display: none;
    }

    @include responsive-width($desktop_s) {
        display: none;
    }
  }

  .detalle-top {
    // position: relative;
    display: block;

    img {
        position: absolute;
        bottom: 0;
        object-fit: contain;
        object-position: top;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: -15px;
    }

    @include responsive-width($tablet-m) {
        display: none;
    }

    @include responsive-width($laptop-s) {
        display: none;
    }

    @include responsive-width($laptop-m) {
        display: none;
    }

    @include responsive-width($desktop_s) {
        display: none;
    }
  }

  .principalcontent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 330px;
    -ms-transform: none;
    transform: none;
    max-width: 414px;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    // margin-left: 0;

    @include responsive-width($tablet-m) {
      height: 100%;
      max-width: 1100px !important;
    }

    @include responsive-width($laptop-s) {
      margin-top: 0;
    }

    &__textbanner {
      top: 0px;
      left: 50%;
      display: block;
      font-weight: bold;
      text-align: center;
      position: absolute;
      margin-left: -150px;

      @include responsive-width($tablet-m) {
        top: 30px;
        z-index: 2;
        left: auto;
        width: 100%;
        text-align: left;
        margin-left: 20px;
        position: relative;
      }

      @include responsive-width($laptop-s) {
        margin-left: 30px;
      }

      @include responsive-width($laptop-m) {
        margin-left: 0px;
        top: 60px;
      }

      @include responsive-width($desktop_s) {
        margin-left: -50px;
      }

      img {
        max-width: none;

        @include responsive-width($tablet-m) {
          // max-width: 176px;
          width: auto;
        }

        @include responsive-width($laptop-s) {
          max-width: none;
          width: 220px;
        }

        @include responsive-width($laptop-m) {
          width: auto;
        }
      }
    }

    &__text {
      font-weight: bold;
      color: $blue;
      margin-top: 11px;
      margin-bottom: 16px;
      display: none;
    }

    &__imgbanner {
      margin: 0 0 0 0;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 15px;

      @include responsive-width($mobile-l) {
        text-align: center;
      }

      @include responsive-width($tablet-m) {
        right: 0;
        bottom: 0;
        max-width: 768px;
        text-align: right;
      }

      @include responsive-width($laptop-s) {
        // right: 0px;
        // text-align: center;
        max-width: 1024px;
      }

      // @include responsive-width($laptop-m) {
      //     // right: -180px;
      //     // bottom: 0px;
      // }

      &-detail {
        position: absolute;
        left: 50%;
        top: 0;

        @include responsive-width($tablet-m) {
          left: auto;
          right: 0;
        }

        &::after {
          position: absolute;
          content: "";
          display: block;
          width: 1180px;
          height: 520px;
          z-index: 1;
          background-color: $blue;
          -webkit-border-radius: 80px;
          -moz-border-radius: 80px;
          border-radius: 80px;

          -moz-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
          -webkit-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
          -o-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
          -ms-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
          transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);

          @include responsive-width($tablet-m) {
            // display: none;
            -moz-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
            -webkit-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
            -o-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
            -ms-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
            transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
          }

          @include responsive-width($laptop-s) {
            -moz-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
            -webkit-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
            -o-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
            -ms-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
            transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
          }
        }

        &::before {
          position: absolute;
          content: "";
          display: block;
          width: 1180px;
          height: 520px;
          z-index: 1;
          background-color: $extra_blue;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          border-radius: 30px;

          -moz-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
          -webkit-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
          -o-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
          -ms-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
          transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);

          @include responsive-width($tablet-m) {
            -moz-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
            -webkit-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
            -o-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
            -ms-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
            transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
          }

          @include responsive-width($laptop-s) {
            -moz-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
            -webkit-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
            -o-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
            -ms-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
            transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
          }
        }
      }

      img {
        z-index: 1;
        position: relative;
        margin-left: -64px;
        display: inline-block;
        max-width: none;

        @include responsive-width($tablet-m) {
          top: -14px;
          max-width: none;
          margin-right: 10px;
        }

        @include responsive-width($laptop-s) {
          top: 0;
          // max-width: none;
          // margin-right: -70px;
          max-width: 930px;
          margin-right: 40px;
        }

        @include responsive-width($laptop-m) {
          max-width: none;
          width: auto;
          top: 20px;
          margin-right: -60px;
        }

        @include responsive-width($desktop_s) {
          width: auto;
        }
      }
    }

    .e-button-buy {
      left: 0;
      z-index: 1;
      width: 100%;
      bottom: 42px;
      position: absolute;

      @include responsive-width($tablet-m) {
        left: 0;
        bottom: 30%;
        // bottom: auto;
        // margin-top: 60px;
        // padding-left: 40px;
        // position: relative;
      }

      @include responsive-width($laptop-s) {
        // padding-left: 50px;
        left: 30px;
      }

      @include responsive-width($laptop-m) {
        // padding-left: 180px;
        // margin-left: -70px;
        // padding-left: 0px;
        // margin-left: 20px;
        // margin-top: 100px;
      }

      @include responsive-width($desktop_s) {
        // margin-left: -30px;
      }

      .btn-buy {
        padding: 0;
        height: 34px;
        font-size: 12px;
        line-height: 30px;
        width: 126px;
        @include responsive-width($tablet-m) {
          font-size: 12px;
          margin-top: 0;
          margin-bottom: 0;
        //   width: 130px;
        }

        @include responsive-width($laptop-s) {
        //   margin-bottom: 40px;
        }
      }

      img {
        display: none;
        margin-bottom: 29px;

        @include responsive-width($tablet-m) {
          display: block;
        }
      }
    }

    .e-legal-small {
      font-size: 9px;
      line-height: 10px;
      margin: 7px auto 0;
      padding: 0 20px;
      color: white;
      text-align: left;
      letter-spacing: -0.05em;
      max-width: 90%;
      display: none;

      @include responsive-width($tablet-m) {
        font-size: 9px;
        margin: 0 auto;
        display: none;
        color: white;
        padding: 15px 0;
        text-align: left;
        line-height: 10px;
        letter-spacing: -0.05em;
        position: relative;
        bottom: -20px;
      }

      @include responsive-width($laptop-s) {
        display: block;
        bottom: -70px;
        z-index: 3;
      }

      @include responsive-width($laptop-m) {
        bottom: 32px;
      }

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }

  // @keyframes tintin {
  //     0% {
  //         opacity: 0.1;
  //     }

  //     50% {
  //         opacity: 0.2;
  //     }

  //     80% {
  //         opacity: 0.3;
  //     }

  //     100% {
  //         opacity: 0.1;
  //     }
  // }
}
