.entel__slider--home__item__content.entel__slider--home__item__navidad_acc {
    background: $blue;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            padding-top: 10px;
            margin-bottom: 0;
            z-index: 2;
            position: relative;
        
            @include responsive-width($tablet-m) {
                padding-top: 82px;
                padding-left: 10px;
                width: 100%;
                text-align: left;
            }
        
            @include responsive-width($laptop-s) {
                padding-top: 20px;
                // margin-left: -170px;
            }
        
            @include responsive-width($laptop-m) {
                padding-top: 30px;
                margin-left: -130px;
            }
            
            img {
                // margin-right: 15px;
                margin: 0 auto;
        
                @include responsive-width($tablet-m) {
                    width: 200px;
                    margin: 0;
                }
        
                @include responsive-width($laptop-s) {
                    width: auto;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 50px 0 0 0;
            width: 100%;
            text-align: right;
            position: relative;
            top: 0;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                margin: 0;
                position: absolute;
                bottom: 0%;
                right: 0%;
                width: 100%;
                height: 100%;
                // -moz-transform: translate(-12%, -44%);
                // -webkit-transform: translate(-12%, -44%);
                // -o-transform: translate(-12%, -44%);
                // -ms-transform: translate(-12%, -44%);
                // transform: translate(-12%, -44%);
            }
        
            @include responsive-width($laptop-s) {
                position: absolute;
                top: 0;
                left: auto;
                width: auto;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            
            
            &-detail {
                position: absolute;
                right: 0;
                top: 0;

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 520px;
                    z-index: 1;
                    background-color: $white;
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;

                    -moz-transform: translate(-390px, 22px) skew(-4deg) rotate(7deg);
                    -webkit-transform: translate(-390px, 22px) skew(-4deg) rotate(7deg);
                    -o-transform: translate(-390px, 22px) skew(-4deg) rotate(7deg);
                    -ms-transform: translate(-390px, 22px) skew(-4deg) rotate(7deg);
                    transform: translate(-390px, 22px) skew(-4deg) rotate(7deg);

                    @include responsive-width($tablet-m) {
                        // display: none;
                        height: 1180px;
                        -webkit-border-radius: 160px;
                        -moz-border-radius: 160px;
                        border-radius: 160px;
                        -moz-transform: translate(-1230px, 292px) skew(-37deg) rotate(-45deg);
                        -webkit-transform: translate(-1230px, 292px) skew(-37deg) rotate(-45deg);
                        -o-transform: translate(-1230px, 292px) skew(-37deg) rotate(-45deg);
                        -ms-transform: translate(-1230px, 292px) skew(-37deg) rotate(-45deg);
                        transform: translate(-1230px, 292px) skew(-37deg) rotate(-45deg);
                    }

                    @include responsive-width($laptop-s) {
                        // display: none;
                        height: 1180px;
                        -webkit-border-radius: 159px;
                        -moz-border-radius: 159px;
                        border-radius: 159px;
                        -moz-transform: translate(-1199px, 247px) skew(-28deg) rotate(-30deg);
                        -webkit-transform: translate(-1199px, 247px) skew(-28deg) rotate(-30deg);
                        -o-transform: translate(-1199px, 247px) skew(-28deg) rotate(-30deg);
                        -ms-transform: translate(-1199px, 247px) skew(-28deg) rotate(-30deg);
                        transform: translate(-1199px, 247px) skew(-28deg) rotate(-30deg);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: translate(-1190px, 180px) skew(-30deg) rotate(-34deg);
                        -webkit-transform: translate(-1190px, 180px) skew(-30deg) rotate(-34deg);
                        -o-transform: translate(-1190px, 180px) skew(-30deg) rotate(-34deg);
                        -ms-transform: translate(-1190px, 180px) skew(-30deg) rotate(-34deg);
                        transform: translate(-1190px, 180px) skew(-30deg) rotate(-34deg);
                    }
                }
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 5px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: 650px;
                    margin-top: 123px;
                    margin-right: -108px;
                }
        
                @include responsive-width($laptop-s) {
                    width: 700px;
                    margin-top: 111px;
                    margin-right: -80px;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;                
                    margin-top: 24px;
                    margin-right: -170px;
                }
            }
        }

        .e-button {

            &-buy {    
                margin-top: 4px;
                position: relative;
                z-index: 2;
                
                @include responsive-width($laptop-m) {
                    margin-left: -120px;
                }
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 30px;
                        margin-top: 20px;
                    }
            
                    @include responsive-width($laptop-s) {
                        margin-top: 20px;
                        margin-left: 40px;
                    }
            
                    @include responsive-width($laptop-m) {
                        margin-top: 20px;
                        margin-left: 30px;
                    }
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;

            @include responsive-width($tablet-m) {
                display: block;
                max-width: 220px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                padding-left: 30px;
                margin-left: 0;
                margin-top: 20px;
                color: $white;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 0px;
                margin-left: 40px;
                margin-top: 20px;
            }
                
            @include responsive-width($laptop-m) {
                margin-left: -90px;
                max-width: 250px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
