.entel__slider--home__item__content.entel__slider--home__item__huawei_lib {
    background: $white;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 780px !important;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1100px !important;
        }


        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            position: absolute;
            top: 5px;
            // left: 50%;
            // margin-left: -70px;
            width: 100%;
        
            @include responsive-width($tablet-m) {
                left: auto;
                top: 40px;
                position: relative;
                text-align: left;
                margin-left: 40px;
                width: 100%;
                z-index: 2;
            }

            @include responsive-width($laptop-s) {
                margin-left: 10px;
            }

            // @include responsive-width($laptop-m) {
            //     margin-left: -100px;
            // }

            img {
                display: inline-block;
                width: auto;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                }

                @include responsive-width($laptop-s) {
                //     max-width: none;    
                    width: 440px;
                }

                @include responsive-width($laptop-m) {
                //     max-width: none;    
                    width: auto;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 53px;

            // @include responsive-width($mobile-l) {
            //     text-align: center;
            // }

            @include responsive-width($tablet-m) {
                text-align: right;
                max-width: 768px;
                bottom: 10px;
            }

            @include responsive-width($laptop-s) {
                max-width: 1024px;
                bottom: -220px;
            }
            
            &-detail {
                position: absolute;
                left: 50%;
                top: 0;

                @include responsive-width($tablet-m) {
                    left: auto;
                    right: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 520px;
                    z-index: 1;
                    background-color: $blue;
                    -webkit-border-radius: 40px;
                    -moz-border-radius: 40px;
                    border-radius: 40px;

                    -moz-transform: translate(-76px, 128px) skew(26deg) rotate(18deg);
                    -webkit-transform: translate(-76px, 128px) skew(26deg) rotate(18deg);
                    -o-transform: translate(-76px, 128px) skew(26deg) rotate(18deg);
                    -ms-transform: translate(-76px, 128px) skew(26deg) rotate(18deg);
                    transform: translate(-76px, 128px) skew(26deg) rotate(18deg);

                    @include responsive-width($tablet-m) {
                        -moz-transform: translate(-216px, 108px) skew(26deg) rotate(15deg);
                        -webkit-transform: translate(-216px, 108px) skew(26deg) rotate(15deg);
                        -o-transform: translate(-216px, 108px) skew(26deg) rotate(15deg);
                        -ms-transform: translate(-216px, 108px) skew(26deg) rotate(15deg);
                        transform: translate(-216px, 108px) skew(26deg) rotate(15deg);
                    }

                    @include responsive-width($laptop-s) {
                        display: none;
                    }
                    
                }

                // &::before {
                //     position: absolute;
                //     content: '';
                //     display: block;
                //     width: 1180px;
                //     height: 520px;
                //     z-index: 1;
                //     background-color: $extra_blue;
                //     -webkit-border-radius: 30px;
                //     -moz-border-radius: 30px;
                //     border-radius: 30px;

                //     -moz-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                //     -webkit-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                //     -o-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                //     -ms-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                //     transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);

                //     @include responsive-width($tablet-m) {
                //         -moz-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                //         -webkit-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                //         -o-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                //         -ms-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                //         transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                //     }

                //     @include responsive-width($laptop-s) {
                //         -moz-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                //         -webkit-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                //         -o-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                //         -ms-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                //         transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                //     }
                // }
            }

            img {
                position: relative;
                max-width: 100%;
                display: inline-block;
                z-index: 1;
                margin-right: 0px;

                @include responsive-width($tablet-m) {
                    margin-right: 60px;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    // width: 700px;
                    margin-right: -20px;
                }

                @include responsive-width($laptop-m) {
                    // width: auto;
                    margin-right: -40px;
                }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 12px;
            left: 0;
            width: 100%;
            z-index: 2;

            @include responsive-width($tablet-m) {
                padding-left: 50px;
                position: relative;
                bottom: auto;
                margin-top: -158px;
            }

            @include responsive-width($laptop-s) {
                padding-left: 10px;
                margin-top: -123px;
                margin-left: 10px;
            }

            // @include responsive-width($laptop-m) {
            //     padding-left: 0px;
            //     margin-left: -90px;
            // }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-top: 94px;
                    margin-bottom: 20px;
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;
            letter-spacing: -0.05em;
            max-width: 450px;
            display: none;
            
            @include responsive-width($tablet-m) {
                // max-width: 220px;
                margin-left: 0;
                padding-left: 0;
            }

            @include responsive-width($laptop-s) {
                display: block;
            }

            @include responsive-width($laptop-m) {
                margin: -13px auto 0 0;
            }
            

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
