.entel__slider--home__item__content_power_5soles {
    background-image: url($m_image_path +'2020/12/banner-home-prepago-power-mob-v4.png');
    // background-position: top center;
    // background-size: 100% 450px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    @media screen and (min-width:468px) and (max-width:668px){
        background-position: 50% 20%;
    }
    @media screen and (min-width:669px) and (max-width:767px){
        background-position: 50% 30%;
    }
    @media screen and (max-width:467px){
        background-position: top center;
    }
    @include responsive-width($tablet_m) {
        background-image: url($m_image_path +'2020/12/banner-home-prepago-power-desk-v4.png');
        background-position: center;
        background-size: cover;

    }
    .btn-power {
        font-size: 12px;
        width: 140px !important;
        padding: 10px 15px;
        font-weight: 600;
        margin: 30px auto;
        @include responsive-width($tablet_m) {
            font-size: 14px;
            padding: 15px 29px;
            width: 186px !important;
            margin: 0;
        }
    }
    .principalcontent {
        // top: 84%;
        @include responsive-width($tablet_m) {
            // top: 53%;
            transform: translate(-57%, -49%);
        }
        @include responsive-width(1024px) {
            transform: translate(-47%, -49%);
        }
        @include responsive-width(1220px) {
            transform: translate(-57%, -49%);
        }
        &__textbanner { 
            @include responsive-width($tablet_m) {
                max-width: 485px;
            }
            img {
                @include responsive-width($tablet_m) {
                    max-width: 400px;
                }
                @include responsive-width(992px) {
                    max-width: 590px;
                }
    
            }
        }
        &__imgbanner { 
            @include responsive-width($tablet_m) {
                max-width: 270px;
            }

            img {
                @include responsive-width($tablet_m) {
                    max-width: 220px;
                }
                @include responsive-width(992px) {
                    max-width: 270px;
                }
            }
        }
    }
    &.entel__slider--home__item__content_power_5soles {

        .detalle {
            @include responsive-width($tablet_m) {
                left: 35%;
                width: 1px;
                height: 1px;
                bottom: -20px;
                z-index: 1;
                position: absolute;
            }

            @include responsive-width($tablet_ll) {
                left: 30%;
            }   
            
            @include responsive-width($laptop-s) {
                left: 38%;
            } 

            &::before {
                // content: '';
                // width: 800px;
                // height: 200px;
                // background: linear-gradient(134.81deg, #0864E1 6.68%, #004FB9 59.14%);
                // display: block;
                // position: relative;
                // -webkit-border-bottom-left-radius: 70px;
                // -moz-border-bottom-left-radius: 70px;
                // border-bottom-left-radius: 70px;
                // -moz-transform: rotate(-8deg);
                // -webkit-transform: rotate(-8deg);
                // -o-transform: rotate(-8deg);
                // -ms-transform: rotate(-8deg);
                // transform: rotate(-8deg);
    
                // top: -112px;
                // left: -9px;
                // z-index: 1;
                
                @include responsive-width($tablet_m) {
                    content: '';
                    // background: rgba(0,79,185,1);
                    // background: -moz-linear-gradient(45deg, rgba(0,79,185,1) 0%, rgba(0,79,185,1) 71%, rgba(7,99,223,1) 100%);
                    // background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,79,185,1)), color-stop(71%, rgba(0,79,185,1)), color-stop(100%, rgba(7,99,223,1)));
                    // background: -webkit-linear-gradient(45deg, rgba(0,79,185,1) 0%, rgba(0,79,185,1) 71%, rgba(7,99,223,1) 100%);
                    // background: -o-linear-gradient(45deg, rgba(0,79,185,1) 0%, rgba(0,79,185,1) 71%, rgba(7,99,223,1) 100%);
                    // background: -ms-linear-gradient(45deg, rgba(0,79,185,1) 0%, rgba(0,79,185,1) 71%, rgba(7,99,223,1) 100%);
                    // background: linear-gradient(45deg, rgba(0,79,185,1) 0%, rgba(0,79,185,1) 71%, rgba(7,99,223,1) 100%);
                    background-color: #004FB9;
                    -moz-transform: rotate(-19deg) skew(-4deg, 13deg);
                    -webkit-transform: rotate(-19deg) skew(-4deg, 13deg);
                    -o-transform: rotate(-19deg) skew(-4deg, 13deg);
                    -ms-transform: rotate(-19deg) skew(-4deg, 13deg);
                    transform: rotate(-19deg) skew(-4deg, 13deg);
                    width: 1760px;
                    -webkit-border-top-right-radius: 50px;
                    -moz-border-top-right-radius: 50px;
                    border-top-right-radius: 50px;
                    position: relative;
                    height: 366px;
                    top: auto;
                    bottom: 278px;
                    left: auto;
                    display: block;
                    right: 1530px;
                }

                @include responsive-width(1600px) {
                    right: 1470px;
                }

                @include responsive-width(2000px) {
                    right: 1380px;
                }
            }
    
            &::after{
                // content: '';
                // width: 200px;
                // height: 50px;
                // background: $orange;
                // display: block;
                // position: absolute;
                // -webkit-border-bottom-left-radius: 20px;
                // -moz-border-bottom-left-radius: 20px;
                // border-bottom-left-radius: 20px;
                // -moz-transform: rotate(-13deg);
                // -webkit-transform: rotate(-13deg);
                // -o-transform: rotate(-13deg);
                // -ms-transform: rotate(-13deg);
                // transform: rotate(-13deg);
                // top: 89px;
                // left: 170px;
                // z-index: 0;
                
                @include responsive-width($tablet_m) {
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
                    left: auto;
                    right: -153px;
                    bottom: 160px;
                    top: auto;
                    -moz-transform: rotate(-99deg);
                    -webkit-transform: rotate(-99deg);
                    -o-transform: rotate(-99deg);
                    -ms-transform: rotate(-99deg);
                    transform: rotate(-99deg);
                }
            }
        }    

        .principalcontent {

            transform: translate(-50%, -30%);

            &__textbanner {
                display: none;
                .e-button-buy {
                    margin-top: 125px;

                    small {
                        color: $blue;
                    }
                }

                h2 {
                    font-size: 40px;
                    line-height: 40px;
                    color: $blue;
                    font-weight: 400;

                    span {
                        font-size: 25px;
                        display: block;
                        font-weight: 400;
                        color: $blue;
                    }

                    @include responsive-width($tablet_m) {
                        span {
                            font-size: 34px;
                            line-height: 34px;
                        }
                    }

                    @include responsive-width($tablet_ll) {
                        font-size: 60px;
                        line-height: 60px;
                    }
                }

                h3 {
                    font-size: 45px;
                    line-height: 45px;
                    font-weight: 800;
                    color: $extra_blue;

                    img {
                        vertical-align: top;
                        margin-top: 10px;
                        width: 35px;
                    }

                    @include responsive-width($tablet_m) {
                        font-size: 45px;
                        line-height: 45px;

                        img {
                            vertical-align: middle;
                        }
                    }

                    @include responsive-width($tablet_ll) {
                        font-size: 70px;
                        line-height: 63px;

                        img {
                            vertical-align: top;
                            margin-top: 0;
                            width: auto;
                        }
                    }                    
                }

                img  {
                    width: auto;
                    margin-bottom: 21px;
                }

                @include responsive-width($tablet_m) {
                    width: 40%;
                    // padding-left: 7%;
                    display: inline-block;
                }

                @include responsive-width($tablet_ll) {
                    padding-left: 0;
                } 
            }

            &__model {
                margin-top: 0px;

                .dscto {
                    width: 120px;
                    height: 30px;
                    padding: 5px;
                    text-align: center;
                    border-radius: 7px;
                    margin-bottom: 7px;
                    background-color: $extra_blue;

                    span {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    span:first-child {
                        width: 40%;
                        font-size: 20px;
                        line-height: 23px;
                    }

                    span:last-child {
                        width: 60%;
                        font-size: 8px;
                        line-height: 7px;
                    }

                    @include responsive-width($tablet_m) {
                        width: 175px;
                        height: 36px;
                        margin-bottom: 14px;

                        span:first-child {
                            font-size: 30px;
                        }
    
                        span:last-child {
                            font-size: 11px;
                            line-height: 11px;
                        }
                    }                    
                }

                p {
                    font-size: 93px;
                    margin-top: -14px;
                    line-height: 1;
                    letter-spacing: -2px;

                    @include responsive-width($tablet_m) {
                        font-size: 118px;
                        margin: 0;
                        span {
                            font-size: 66px;
                        }
                    }
                }

                small {
                    position: absolute;
                    width: 75px;
                    font-size: 13px;
                    line-height: normal;

                    &:nth-of-type(2) {
                        background: transparent;
                    }

                    .cuota {
                        width: 40px;
                        font-size: 12px;
                        line-height: 10px;
                        position: absolute;
                    }
                }
            }

            &__imgbanner {
                display: none;

                @media screen and (max-width: 320px) {
                    margin-left: 20%;
                }

                @media screen and (min-width: 375px) {
                    margin-left: 30%;
                }

                @media (max-width: 923px) and (min-width: 540px) {
                    margin-left: 10%;          
                }

                @include responsive-width($tablet_m) {
                    margin-left: 0;
                    width: 33%;
                    top: 50px;
                    left: -100px;
                    display: inline-block;
                } 

                @include responsive-width($tablet_ll) {
                    top: 75px;
                    left: -175px;
                } 
            }

            &__plan {
                position: relative;

                ul li:last-child {
                    color: $extra_blue;
                }

                ul {
                    position: relative;

                    li {
                        &::before {
                            content: "";
                        }
                        
                        @include responsive-width($tablet_m) {
                            font-size: 14px;
                        }  
                    }
                }
            }

            .e-button-buy {
                margin-top: 5rem;
                position: relative;
                top: -60px;
                @include responsive-width($tablet_m) {
                    // position: relative;
                    top: -70px;
                    margin-top: 7px;
                }

                small {
                    color: $blue;
                }

                img {
                    width: 300px;
                    margin: auto;
                }

                p {
                    color: #ffffff;
                    font-size: 12px;
                    margin: 12px 0 21px;
                }
            }

            @include responsive-width($tablet_m) {
                transform: translate(-50%, -45%);
            }
        }
    }
}