.entel__slider--home__item__content.entel__slider--home__item__form-navidad-bf {
    background: $blue;
    padding: 0;
        
    @include responsive-width($tablet-m) {
        background: #001322;
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
        }

        &__textbanner {
            margin: 0;
            z-index: 3;
            display: block;
            font-weight: bold;
            text-align: center;
            position: relative;
            padding: 10px 25px 5px 25px;
        
            @include responsive-width($tablet-m) {
                width: 100%;
                text-align: left;
                padding: 5px 25px;
                padding-top: 40px;
                padding-left: 40px;
            }
        
            @include responsive-width($laptop-s) {   
                margin-left: 30px;
                padding-left: 0;
                padding-top: 20px;
            }

            @include responsive-width($laptop-m) { 
                margin-left: -40px;
            }

            p {
                z-index: 1;
                font-weight: 200;
                position: relative;
                color: $white;
            }

            img {
                position: relative;
                z-index: 2;
                margin-bottom: 10px;
        
                @include responsive-width($tablet-m) {
                    width: 140px;
                }
        
                @include responsive-width($laptop-s) {
                    width: auto;
                }
        
                @include responsive-width($laptop-m) {
                     width: auto;
                }
            }
            
            &-detail {
                position: absolute;
                left: 0;
                top: 0;
        
                @include responsive-width($tablet-m) {
                    display: none;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 520px;
                    z-index: 1;
                    background-color: #001322;
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;

                    -moz-transform: translate(-53px, -339px) skew(7deg) rotate(-7deg);
                    -webkit-transform: translate(-53px, -339px) skew(7deg) rotate(-7deg);
                    -o-transform: translate(-53px, -339px) skew(7deg) rotate(-7deg);
                    -ms-transform: translate(-53px, -339px) skew(7deg) rotate(-7deg);
                    transform: translate(-53px, -339px) skew(7deg) rotate(-7deg);

                    // @include responsive-width($tablet-m) {
                    //     // display: none;
                    //     width: 2000px;
                    //     height: 2000px;
                    //     -webkit-border-radius: 110px;
                    //     -moz-border-radius: 110px;
                    //     border-radius: 110px;

                    //     -moz-transform: translate(-1506px, 103px) skew(7deg) rotate(-6deg);
                    //     -webkit-transform: translate(-1506px, 103px) skew(7deg) rotate(-6deg);
                    //     -o-transform: translate(-1506px, 103px) skew(7deg) rotate(-6deg);
                    //     -ms-transform: translate(-1506px, 103px) skew(7deg) rotate(-6deg);
                    //     transform: translate(-1506px, 103px) skew(7deg) rotate(-6deg);
                    // }

                    // @include responsive-width($laptop-s) {
                    //     -moz-transform: translate(-1506px, 103px) skew(7deg) rotate(-6deg);
                    //     -webkit-transform: translate(-1506px, 103px) skew(7deg) rotate(-6deg);
                    //     -o-transform: translate(-1506px, 103px) skew(7deg) rotate(-6deg);
                    //     -ms-transform: translate(-1506px, 103px) skew(7deg) rotate(-6deg);
                    //     transform: translate(-1506px, 103px) skew(7deg) rotate(-6deg);
                    // }
                    
                }
            }

            form {
                z-index: 2;
                text-align: left;
                position: relative;
                margin-top: 8px;

                @include responsive-width($laptop-s) {
                    max-width: 250px;
                }

                .form--content {
                    .form--head {
                        p {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 14px;
                            text-align: left;
                            color: #004CC1;
                            margin: 0px;

                            span {
                                font-weight: 400;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 19px;
                                line-height: 19px;
                            }
                        }
                        
                        h2 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 20px;
                            text-align: left;
                            text-transform: uppercase;
                            color: #00B9EB;
                            margin: 4px 0px 5px;

                            @include responsive-width($tablet-m) {
                                font-size: 34px;
                                line-height: 30px;
                                margin: 6px 0px 11px;
                            }
                        }

                        h3 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: left;
                            color: #004CC1;
                            margin: 0px 0px 5px;

                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }
                        }
                    }

                    .form--body {
                        .form--number {
                            margin-bottom: 8px;

                            input {
                                border: 1.5px solid #9E9FA1;
                                box-sizing: border-box;
                                border-radius: 7.3332px;
                                width: 100%;
                                height: 44px;
                                padding: 10px 15px;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                align-items: center;
                                letter-spacing: 0.0015em;
                                color: #9E9FA1;

                                &.error {
                                    border-color: #f10101;
                                }

                                &.error::placeholder {
                                    color: #f10101;
                                }

                                @include responsive-width($tablet-m) {
                                    width: 236px;
                                    height: 51px;
                                    font-size: 14px;
                                    line-height: 17px;
                                }
                            }

                            @include responsive-width($tablet-m) {
                                margin-bottom: 18px;
                            }
                        }

                        .form--check{
                            display: flex;
                            align-items: center;

                            input {
                                display: none;
                            }

                            .input-mask-top{
                                width: 18px;
                                height: 18px;
                                border: 2px solid #FF560A;
                                box-sizing: border-box;
                                border-radius: 4.58325px;
                                margin-top: 2px;
                                background: #FF560A;
                                position: relative;

                                &.error {
                                    border-color:#f10101;
                                    background: #ffffff;
                                }

                                &::after{
                                    content: "";
                                    left: 4px;
                                    top: 0px;
                                    width: 4px;
                                    height: 9px;
                                    border: solid white;
                                    border-width: 0px 2px 2px 0px;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                    position: absolute;
                                }
                            }

                            a {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 10.9998px;
                                line-height: 18px;
                                color: $white;
                                margin-left: 5px;

                                span {
                                    font-weight: bold;
                                    text-decoration: underline;
                                }
                            }
                        }

                        button {
                            background: #FF560A;
                            border-radius: 45.8325px;
                            color: #ffffff;
                            cursor: pointer;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 4px;
                            text-align: center;
                            padding: 15px 28px;
                            text-transform: uppercase;
                            margin-top: 12px;
                            border: 0px;
                            margin-left: 36px;

                            @include responsive-width($tablet-m) {
                                padding: 21px 36px;
                                margin-top: 15px;
                                margin-left: 0px;
                            }
                        }
                    }

                    .form--loading{
                        text-align: center;
                        margin: 0 auto;
                        display: none;
                        padding: 25px 25px 0px;

                        img {
                            animation: rotating 2s linear infinite;
                            width: 70px;

                            @keyframes rotating {
                                from {
                                    transform: rotate(0deg);
                                }
                                to {
                                    transform: rotate(360deg);
                                }
                            }

                            @include responsive-width($tablet-m) {
                                width: 100px;
                            }
                        }

                    }

                    .form--thanks {
                        text-align: center;
                        margin: 0 auto;
                        display: none;
                        width: 150px;
                        text-align: center;

                        img {
                            margin-bottom: 5px;
                            @include responsive-width($tablet-m) {
                                margin-bottom: 0px;
                            }
                        }
                        p, span {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: center;
                            color: #fff;

                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }
                        }

                        @include responsive-width($tablet-m) {
                            width: 200px;
                        }
                    }

                    .form--duplicate {
                        text-align: center;
                        margin: 0 auto;
                        display: none;
                        width: 180px;
                        padding-top: 15px;
                        
                        p{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: #fff;

                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }

                        @include responsive-width($tablet-m) {
                            width: 250px;
                        }
                    }

                    .form--error {
                        text-align: center;
                        margin: 0 auto;
                        display: none;
                        width: 180px;
                        padding-top: 15px;

                        @include responsive-width($tablet-m) {
                            width: 250px;
                        }

                        @include responsive-width($laptop-s) {
                            padding-top: 0px;
                        }

                        p{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: #fff;

                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                    }

                    .form--callback {
                        margin-top: 2px;

                        p {
                            margin: 0px;
                            font-size: 10px;
                            line-height: 11px;
                            font-style: normal;
                            font-weight: normal;

                            a {
                                color: #004FB9;
                                text-decoration: underline;
                                font-weight: bold;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }

                        @include responsive-width($tablet-m) {
                            margin-top: 8px;
                        }
                    }
                }

                @include responsive-width($tablet-m) {
                    margin-top: 18px;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 20px auto 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 0px;
            z-index: 2;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: auto;
                bottom: 60px;
                right: 20px;
                width: auto;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
        
            @include responsive-width($laptop-s) {
                // right: 20px;
                bottom: 30px;
                width: auto;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            @include responsive-width($laptop-m) {
                bottom: 0px;
            }
            
            &-detail {
                position: absolute;
                left: 0;
                top: 0;
                display: none;
        
                @include responsive-width($tablet-m) {
                    display: block;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 2000px;
                    height: 2000px;
                    z-index: 1;
                    background-color: $blue;
                    -webkit-border-radius: 60px;
                    -moz-border-radius: 60px;
                    border-radius: 60px;

                    -moz-transform: translate(-583px, 292px) skew(20deg) rotate(-26deg);
                    -webkit-transform: translate(-583px, 292px) skew(20deg) rotate(-26deg);
                    -o-transform: translate(-583px, 292px) skew(20deg) rotate(-26deg);
                    -ms-transform: translate(-583px, 292px) skew(20deg) rotate(-26deg);
                    transform: translate(-583px, 292px) skew(20deg) rotate(-26deg);
                    
                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-483px, 276px) skew(21deg) rotate(-23deg);
                        -webkit-transform: translate(-483px, 276px) skew(21deg) rotate(-23deg);
                        -o-transform: translate(-483px, 276px) skew(21deg) rotate(-23deg);
                        -ms-transform: translate(-483px, 276px) skew(21deg) rotate(-23deg);
                        transform: translate(-483px, 276px) skew(21deg) rotate(-23deg);
                    }
                    
                    @include responsive-width($laptop-m) {
                        -moz-transform: translate(-580px, 274px) skew(14deg) rotate(-20deg);
                        -webkit-transform: translate(-580px, 274px) skew(14deg) rotate(-20deg);
                        -o-transform: translate(-580px, 274px) skew(14deg) rotate(-20deg);
                        -ms-transform: translate(-580px, 274px) skew(14deg) rotate(-20deg);
                        transform: translate(-580px, 274px) skew(14deg) rotate(-20deg);
                    }

                    
                }
            }
        
            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 0px;
        
                @include responsive-width($tablet-m) {
                    max-width: 450px;
                    margin-right: 5px;
                }
        
                @include responsive-width($laptop-s) {
                    margin-right: 0px;
                    max-width: 620px;
                }
        
                @include responsive-width($laptop-m) {
                    max-width: none;
                    margin-right: -70px;
                }
            }
        }

        .e-button {

            &-buy {    
                margin-top: -22px;
                position: relative;
                z-index: 2;
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 40px;
                        margin-top: 30px;
                        // margin-top: 58px;
                    }
            
                    @include responsive-width($laptop-s) {
                        margin-top: 30px;
                        margin-left: 30px;
                    }
            
                    @include responsive-width($laptop-m) {
                        margin-top: 30px;
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: relative;
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;
            z-index: 2;

            @include responsive-width($tablet-m) {
                display: block;
                // max-width: 260px;
                // font-size: 10px;
                // line-height: 11px;
                // padding: 0;
                // padding-left: 10px;
                // margin-left: 30px;
                // margin-top: 40px;
                // color: $white;
                            
                position: absolute;
                bottom: 17px;
                left: 0;
                width: 100%;
                // right: 0;
                // max-width: 410px;
                font-size: 9px;
                padding: 0px 10px 0;
                text-align: center;
            }

            @include responsive-width($laptop-s) {
                // max-width: 524px;
                bottom: 30px;
                padding: 0;
                margin: 0;
            }

            @include responsive-width($laptop-m) {
                bottom: 20px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
