.entel__slider--home__item__content_exclusivos-online {
    .principalcontent {
        transform: translate(-50%, -50%);

        &__textbanner {
            
            img.hidden-lg {
                margin: 0 auto;
            }

            @include responsive-width($tablet_m) {
                img.hidden-xs {
                    width: 60%;
                }
            }
        }

        &__imgbanner {

            @media screen and (max-width: 320px) {
                margin-left: 17%;
            }

            @media screen and (min-width: 325px) {
                margin-left: 30%;
            }

            @media (max-width: 923px) and (min-width: 540px) {
                margin-left: 10%;          
            }

            @include responsive-width($tablet_m) {
                margin-left: 0;
                width: 33%;
            } 
        }

        &__model {
            margin-top: 0;

            p {
                font-size: 80px;
                margin-top: -14px;
                line-height: 1;
                letter-spacing: -2px;
            }

            h6,
            small {
                font-size: 12px !important;
                display: inline-block;
            }
            
            h6 {
                padding-left: 7px;
            }

            small:nth-of-type(2) {
                width: 40px;
                display: block;
                padding: 7px 0;
                font-size: 13px;
                line-height: 13px;
                position: absolute;
                background: transparent;
            }
        }
        
        &__plan {
            position: relative;

            ul li:last-child {
                color: $extra_blue;
            }

            ul {
                position: relative;
            }
        }

        .e-button-buy {
            margin-top: 0;

            small {
                margin-top: 7px;
                color: white;
            }

            div {
                width: 180px;
                color: white;
                border: 1px dashed white;
                border-radius: 30px;
                padding: 7px 14px;
                margin: 7px auto;

                @include responsive-width($tablet_m) {
                    margin: 0;
                }

                @include responsive-width($laptop_m) {
                    margin: 0;
                    width: 305px;
                    padding: 6px;
                }

                span {
                    font-size: 10px;
                    line-height: 10px;
                    display: inline-block;
                    vertical-align: middle;

                    @include responsive-width($tablet_m) {
                        font-size: 11.2px;
                    }
                }

                span:first-child {
                    width: 20%;

                    @include responsive-width($laptop_m) {
                        width: 10%;
                    }

                    img {
                        width: auto;
                        max-width: 100%;
                    }
                }

                span {
                    width: 80%;

                    @include responsive-width($laptop_m) {
                        width: 90%;
                    }                    
                }

                em {
                    color: $orange;
                    font-weight: bold;
                    font-style: normal;
                }
            }

            @include responsive-width($tablet_m) {
                margin-top: 7px;

                .btn-buy {
                    margin-top: 7px;
                }
            }
        }

        @include responsive-width($tablet_m) {
            transform: translate(-50%, -35%);

            &__textbanner {
                width: 38%;

                img {
                    width: auto;
                } 

                h2 {
                    font-size: 28px;

                    img {
                        width: auto;
                    } 
                }
            }

            &__model {
                top: 15px;
                width: 25%;

                p {
                    font-size: 93px;
                    line-height: unset;
                    margin-top: unset;
                }

                h6,
                small {
                    font-size: 17px !important;
                    line-height: 17px;
                }
                
                h6 {
                    padding-left: 7px;
                }

                small:nth-of-type(2) {
                    display: block;
                    padding: 7px 0;
                    font-size: 13px;
                    line-height: 15px;
                }
            }

            &__imgbanner {
                margin-left: 14%;
                width: 136px;

                img {
                    position: absolute;
                    top: -130px;
                }
            }

            &__plan {
                ul {
                    li {
                        color: $extra_blue !important;
                    }
                }

                span {
                    font-size: 14px;
                }
            }
        }

        @include responsive-width($tablet_ll) {
            &__textbanner {
                width: 38%; 
            }
            
            &__imgbanner {
                margin-left: 2%;

                img.emojisurprise {
                    top: -140px !important;
                    left: -40px !important;
                }

                img.emojilens {
                    left: -50px !important;
                    top: -100px !important;
                }
            }

            &__model {
                width: 18%;
            }
        }

        @include responsive-width($mxd-viewport) {
            &__textbanner {
                width: 28%; 
            }

            .bounce {
                animation: float 4s ease-in-out infinite;
            }

            .bounce-3x {
                animation: float 3s ease-in-out infinite;
            }

            .bounce-2x {
                animation: float 2s ease-in-out infinite;
            }
        }

        @include responsive-width($laptop_m) {
            width: 1040px !important;
        }
    }
}
