.entel__slider--home__item__content.entel__slider--home__item__content-huaweiy9s {
    background: #004FB9;
    background-image: url($m_image_path + '2020/01/banner-huaweiy9s.jpg');
    background-size: cover;
    background-position-y: -140px;
    background-position-x: 40%; 
    background-repeat: repeat-x;

    @include responsive-width($tablet-m){
        background-position: center bottom;
    }

    .banner-mob-text {
        max-width: 25%;
    }
    .center {
        margin-top: 92px;
    }
    .banner {
        width: 100%;
        top: 0;
        left: 0;

        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    //     transform: translate(0, 0);
    //     // max-height: 440px;
    //     max-width: 100%;
        @include responsive-width($tablet-m){
            display: none;
        }

        img {
            width: 100%;
        }
    //     // transform: translate(28%, -19%);
    //     @include responsive-width($mobile-m){
    //         // max-height: 440px;
    //         // max-width: 100%;
    //         // transform: translate(41%, -19%);
    
    //     }
    //     @include responsive-width(411px){
    //         // max-height: 440px;
    //         // max-width: 100%;
    //         // transform: translate(52%, -19%);
    
    //     }
    }
    .principalcontent{
        top: 74%;
        -moz-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);

        // @include responsive-width(375px){
        //     top: 80%;
        // }

        @include responsive-width($tablet-m){
            position: absolute;
            top: auto;
            bottom: 30px;
            left: 50%;
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);

            max-width: 950px !important;
            width: 100%;
        }

        &.apps {

            @include responsive-width($tablet-m){
                display: flex;
                bottom: 18%;
            }

            .principalcontent__textbanner {
                z-index: 1;
                //position: absolute;
                //bottom: 0;
                //left: 50%;
                width: 100%;
                text-align: center;

                // -moz-transform: translateX(-50%);
                // -webkit-transform: translateX(-50%);
                // -o-transform: translateX(-50%);
                // -ms-transform: translateX(-50%);
                // transform: translateX(-50%);
                
                @include responsive-width($tablet-m){
                    padding-left: 40px;
                    //-position: relative;
                    bottom: auto;
                    top: 50%;
                    width: 60%;
                    left: auto;
                    text-align: left;

                    -moz-transform: none;
                    -webkit-transform: none;
                    -o-transform: none;
                    -ms-transform: none;
                    transform: none;
                }

                .detalle {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    left: 50%;
                    top: 0;

                    @include responsive-width($tablet-m){
                        left: 0;
                    }

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 1200px;
                        height: 500px;
                        background-color: #004FB9;
                        left: 0;
                        top: 0;
                        z-index: 2;
    
                        -moz-transform: rotate(22deg) skew(-10deg) translate(-230px, 183px);
                        -webkit-transform: rotate(22deg) skew(-10deg) translate(-230px, 183px);
                        -o-transform: rotate(22deg) skew(-10deg) translate(-230px, 183px);
                        -ms-transform: rotate(22deg) skew(-10deg) translate(-230px, 183px);
                        transform: rotate(22deg) skew(-10deg) translate(-230px, 183px);
    
                        -webkit-border-top-left-radius: 70px;
                        -moz-border-top-left-radius: 70px;
                        border-top-left-radius: 70px;
                        // -webkit-border-top-right-radius: 60px;
                        // -moz-border-top-right-radius: 60px;
                        // border-top-right-radius: 60px;
    
                        
                        // @include responsive-width(324px){
                        // //     left: auto;
                        // //     right: -14%;
                        // //     -moz-transform:  skew(9deg) rotate(-5deg);
                        // //     -webkit-transform:  skew(9deg) rotate(-5deg);
                        // //     -o-transform:  skew(9deg) rotate(-5deg);
                        // //     -ms-transform:  skew(9deg) rotate(-5deg);
                        // //     transform:  skew(9deg) rotate(-5deg);
                        // }
                        @include responsive-width($tablet-m){

                        //     //-left: 50%;
                        //     right: auto;
                        //     left: 0;
                        //     top: 90px;

                            -moz-transform: rotate(-72deg) translate(-200px, -2010px) skew(0deg);
                            -webkit-transform: rotate(-72deg) translate(-200px, -2010px) skew(0deg);
                            -o-transform: rotate(-72deg) translate(-200px, -2010px) skew(0deg);
                            -ms-transform: rotate(-72deg) translate(-200px, -2010px) skew(0deg);
                            transform: rotate(-72deg) translate(-200px, -2010px) skew(0deg);
                        
                            width: 2200px;
                            height: 2200px;
                            -webkit-border-bottom-right-radius: 100px;
                            -moz-border-bottom-right-radius: 100px;
                            border-bottom-right-radius: 100px;
    
                        }
                    }
    
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 210px;
                        height: 70px;
                        background-color: #FF560A;
                        left: 80px;
                        top: 0;
                        z-index: 1;
    
                        -moz-transform: rotate(32deg) skew(-12deg) translate(-35px, 17px);
                        -webkit-transform: rotate(32deg) skew(-12deg) translate(-35px, 17px);
                        -o-transform: rotate(32deg) skew(-12deg) translate(-35px, 17px);
                        -ms-transform: rotate(32deg) skew(-12deg) translate(-35px, 17px);
                        transform: rotate(32deg) skew(-12deg) translate(-35px, 17px);
    
                        -webkit-border-top-left-radius: 20px;
                        -moz-border-top-left-radius: 20px;
                        border-top-left-radius: 20px;


                        @include responsive-width($tablet-m){
                            background-color: #00B9EB;
    
                            -moz-transform: rotate(116deg) skew(-12deg) translate(0px, -279px);
                            -webkit-transform: rotate(116deg) skew(-12deg) translate(0px, -279px);
                            -o-transform: rotate(116deg) skew(-12deg) translate(0px, -279px);
                            -ms-transform: rotate(116deg) skew(-12deg) translate(0px, -279px);
                            transform: rotate(116deg) skew(-12deg) translate(0px, -279px);

                        }
                        
                    }
                }
                

                img {
                    position: relative;
                    z-index: 3;
                    display: block;
                    margin: 0 auto;

                    @include responsive-width($tablet-m){
                        margin: 0 0;
                        max-width: 378px;
                        width: 100%;
                    }
                    
                }

                h2 {
                    color: #00B9EB;
                    position: relative;
                    font-weight: normal;
                    font-size: 14px;
                    z-index: 3;
                    // margin-bottom: 30px;

                    @include responsive-width($tablet-m){
                        margin-top: 60px;
                        font-size: 24px;
                        // margin-bottom: 0;
                        // top: 100px;
                        // width: 100% ;
                        // line-height: 1em;
                        // position: absolute;
                        // width: 42%;
                        // font-size: 24px;
                        // line-height: 1.4em;
                    }

                    // span {
                    //     font-size: 24px;
                    //     color: #004FB9;
                    //     font-weight: normal;

                    //     @include responsive-width($tablet-m){
                    //         line-height: 40px;
                    //         font-size: 38px;
                    //     }

                    //     strong {
                    //         font-weight: bold;

                    //         @include responsive-width($tablet-m){
                    //             display: block;
                    //         }
                    //     }
                    // }
                }
            }

            .principalcontent__imgbanner {
                z-index: 2;
                margin-left: auto;
                width: 100%;
                position: absolute;
                top: 0px;
                left: 0px;
                text-align: center;
                -moz-transform: translateY(-102%);
                -webkit-transform: translateY(-102%);
                -o-transform: translateY(-102%);
                -ms-transform: translateY(-102%);
                transform: translateY(-102%);

                // @include responsive-width(324px){
                //     width: 70%;
                // }
                // @include responsive-width($tablet-m){
                //     z-index: 0;
                //     width: 60%;
                //     left: 40%;
                //     -moz-transform: none;
                //     -webkit-transform: none;
                //     -o-transform: none;
                //     -ms-transform: none;
                //     transform: none;
                // }
                @include responsive-width($tablet-m){
                    width: 50%;
                    left: 48%;
                    width: 60%;
                    left: 40%;
                    -moz-transform: none;
                    -webkit-transform: none;
                    -o-transform: none;
                    -ms-transform: none;
                    transform: none;
                    text-align: center;
                }

                img{
                    max-width: 100%;
                    display: inline-block !important;
                    // -moz-transform: translateX(-18%);
                    // -webkit-transform: translateX(-18%);
                    // -o-transform: translateX(-18%);
                    // -ms-transform: translateX(-18%);
                    // transform: translateX(-18%);

                    @include responsive-width($tablet-m){
                        max-width: 120%;
                        width: 275px;
                        float: right;
                        margin-right: 20px;
                    }

                    @include responsive-width(1025px){
                        width: auto;
                        float: none;
                        margin-left: 120px;
                        
                    }

                }
            }
        }

    }
    .e-button-buy{
        z-index: 4;
        position: relative;
        
    }
    .btn-buy {
        height: 50px;
        line-height: 31px;
        min-width: 196px;
        margin-top: 20px;

        @include responsive-width($tablet-m){
            // margin-top: 130px;
            min-width: auto;
            width: 135px;
            height: initial;
            line-height: normal;

        }
    }
    // .btn-buy-mob {
    //     position: relative;
    //     top: 24px;
    //     min-width: 200px;
    //     min-height: 55px;
    //     padding: 15px 15px;

    // }
}