.entel__slider--home__item__content {
    &.entel__slider--home__item__content_cyber-2020 {
        background-image: url($m_image_path+'2020/07/bg-cyber-banner-home.png');

        .e-button-buy small {
            color: #fff;;
            padding-top: 7px;
            display: block;
            width: 310px;
            margin: 0 auto;
        }

        .principalcontent {
            width: 90%;
            text-align: center;
            transform: translate(-50%, -60%);

            @media (max-width: 768px){
                margin-top: -10px;
            }

            &__textbanner {
                margin-bottom: 0;
                text-align: center;

                .e-button-buy {
                    margin-left: 15px;
                }

                img  {
                    display: block;
                    margin: 0 auto;
                    max-width: 160px;
                }

                @media (max-width: 767px) {
                    img{
                        display: none;
                    }
                }

                @include responsive-width($tablet_m) {
                    width: 38%;
                    margin-top: -75px;
                    padding-left: 0;
                    text-align: left;
                    position: absolute;
                    left: 55px;

                    picture {
                        display: block;
                    }

                    img {
                        width: auto;
                        margin: 0;
                    }
                }

                @media (min-width: 1024px) {
                    padding-left: 0;
                    left: 10px;

                    img {
                        margin: 0;
                    }
                } 

                @media (min-width: 1500px) {
                     left: -20px;

                     img {
                        width: auto;
                        margin: 0;
                    }
                }
            }

            &__imgbanner {
                margin-left: 0 !important;
                text-align: right;
                
                img {
                    max-width: 90%;
                    display: inline-block !important;

                    @media (max-width: 324px) {
                        margin-left: 0;
                    }

                    @include responsive-width($tablet_m) {
                        max-width: 95%;
                        display: none;
                        margin-left: 0 !important;
                    }

                    @media (max-width: 767px){
                        margin-bottom: -20px;
                        max-width: 270px;
                        margin-top: 0;
                    }
                }

                @include responsive-width($tablet_m) {
                    right: 0;
                    width: 65%;
                    height: auto;
                    margin-left: 0 !important;
                    position: absolute;
                    top: -55px;
                }
            }

            &__legales {
                position: absolute;
                bottom: -63px;
                width: 100%;
                text-align: justify;

                @media (max-width: 768px) {
                    bottom: -70px;
                }

                & small{
                    color: #fff;
                    font-size: 10.3px;
                    font-stretch: condensed;

                    a{
                        font-size: 10.3px;
                        color: #fff;
                    }
                }
            }

            .e-button-buy{
                .btn-buy{
                    width: fit-content;
                    padding-left: 30px;
                    padding-right: 30px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    background-color: transparent;
                    border: 2px solid #fff;

                    &:hover{
                        background-color: rgba(255,86,10,.08)!important;
                        background-image: linear-gradient(0deg,rgba(255, 86, 10, 0.11),rgba(255, 86, 10, 0.09) 0)!important;
                    }

                    @media (max-width: 768px){
                        border: 1.5px solid #fff;
                        font-size: 11px;
                        padding-left: 15px;
                        padding-right: 15px;
                        margin-bottom: 10px;
                    }
                }

                small {
                    width: 100%;

                    a{
                        color: #fff;
                    }
                }
            }

            @include responsive-width($tablet_m) {
                height: 50%;
                width: 90%;
                transform: translate(-50%, -50%);

                .e-button-buy small {
                    margin: 0;
                }
            }
        }
    }
}