.entel__slider--home__item__content.entel__slider--home__item__hogar4 {
    background: $white;
    padding: 0;
    
    @include responsive-width($tablet-m) {
        background: url($m_image_path+'/2020/12/banner-hogar-prod-v1-desk@2x.png');
        background-position: 300px center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    @include responsive-width($laptop-m) {
        // background-size: auto;
        background-position: right top;
        background-size: 60%;
    //     background-position: -260% center;
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        -ms-transform: none;
        transform: none;
        max-width: none !important;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: none;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 950px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: 15px;
        
            @include responsive-width($tablet-m) {
                left: auto;
                top: 0px;
                position: relative;
                text-align: left;
                margin-left: 40px;
                width: 100%;
                z-index: 2;
            }

            @include responsive-width($laptop-s) {
                margin-left: 10px;
                top: 20px;
            }

            @include responsive-width($laptop-m) {
                margin-left: 0px;
            }

            img {
                display: inline-block;
        
                @include responsive-width($tablet-m) {
                    // max-width: 176px;
                    max-width: none;
                    width: auto;
                    margin-left: -210px;
                    // margin-left: -150px;
                }

                @include responsive-width($laptop-s) {
                    max-width: none;
                    margin-left: -150px;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: left;
            position: absolute;
            top: 202px;

            @include responsive-width($tablet-m) {
                top: 0;
                text-align: right;
                display: none;
                max-width: 768px;
                height: 100%;
            }

            img {
                position: relative;
                width: auto;
                display: inline-block;
                z-index: 1;

                @include responsive-width($tablet-m) {
                    top: 0;
                    left: 40%;
                    max-width: none;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top left;
                    position: absolute;
                    display: block;
                }

                @include responsive-width($laptop-s) {
                    left: 30%;
                }

                @include responsive-width($laptop-m) {
                    right: -64%;
                }

                &.arbol {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: auto;

                    @include responsive-width($tablet-m) {
                        display: none;
                    }
                }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 35px;
            left: 0;
            width: 100%;
            z-index: 4 ;

            @include responsive-width($tablet-m) {
                padding-left: 60px;
                padding-right: 60px;
                position: relative;
                bottom: auto;
                // margin-top: 70px;
                margin-top: -170px;
            }

            @include responsive-width($laptop-s) {
                padding-left: 80px;
                padding-right: 80px;
                margin-top: -150px;
            }

            @include responsive-width($laptop-m) {
                // padding-left: 0px;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-top: 30px;
                    margin-bottom: 20px;
                }

                @include responsive-width($laptop-s) {
                    margin-bottom: 10px;
                    // margin-top: 30px;
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;
            letter-spacing: -0.05em;
            max-width: 320px;
            display: none;
            
            @include responsive-width($tablet-m) {
                display: block;
                margin-left: 0;
                padding-left: 0;
                max-width: 100%;
                text-align: center;
                padding-right: 0;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
