.entel__slider--home__item__content {
    &.entel__slider--home__item__content_servicios {

        // background: linear-gradient(180deg, rgba(0, 79, 185, 0.7) -30.67%, #FFFFFF 46%);
        background: linear-gradient(180deg, #004FB9 -61.78%, rgba(255, 255, 255, 0) 88.89%);

        /* @media (max-width: 768px){
            background-image: url($m_image_path+'/2020/05/huawei-p40-pro-banner-bg-mov.png');
        } */

        .e-button-buy small {
            color: #fff;;
            padding-top: 7px;
            display: block;
            width: 310px;
            margin: 0 auto;
        }

        .detalle {

            img {
                width: 200px;
                position: absolute;
                top: 20%;
                left: 0;
                right: -130px;
                margin-right: auto;
                margin-left: auto;               
            }

            &::before {
                display: none;
            }

            @include responsive-width(375px) {
                width: 80%;
            }

            @include responsive-width($tablet_m) {
                position: relative;
                text-align: center;     
                height: auto;
                bottom: 0;
                width: 100%;
                z-index: 1;
                left: 14%;
                
                img {
                    width: auto;
                    top: 80px;
                    left: 20px;
                    right: 0;
                }
            }

            @include responsive-width(1000px) {
                img {
                    width: 360px;
                    top: 80px;
                }
            }

            @include responsive-width(1024px) {
                img {
                    left: -330px;
                }
            }

            @include responsive-width(1366px) {
                img {
                    width: 400px;
                    left: -390px;
                }
            }

            @include responsive-width(1500px) {
                left: 10%;
            }
        }    

        .principalcontent {
            width: 90%;
            text-align: center;
            transform: translate(-50%, -60%);

            @media (max-width: 768px){
                margin-top: 15px;
            }

            &__textbanner {
                margin-bottom: 10px;
                text-align: center;

                .e-button-buy {
                    margin-left: 70px;

                    small {
                        color: #fff;

                        a{
                            color: #fff;
                        }
                    }

                    p {
                        font-size: 18px;
                    }

                    @media (max-width: $tablet_ll) {
                        margin-left: 25px
                    }
                }

                img  {
                    display: block;
                    margin: 0 auto;

                    @media (max-width: 768px){
                        max-width: 300px;
                    }
                }

                @media (min-width: 375px) {
                    margin-top: 60px;
                    margin-bottom: 10px;
                }

                @media (max-width: 560px) {
                    margin-top: 40px;
                    margin-bottom: 7px;
                }

                @include responsive-width($tablet_m) {
                    width: 45%;
                    //width: 50%;
                    margin-top: -65px;
                    padding-left: 0;
                    text-align: left;
                    position: absolute;
                    left: 55px;
                    top: 49px;

                    picture {
                        display: block;
                    }

                    img {
                        width: auto;
                        margin: 0;
                    }
                }

                @media (min-width: 1024px) {
                    padding-left: 0;
                    left: 10px;

                    img {
                        // width: 50%;
                        margin: 0;
                    }
                } 

                @media (min-width: 1500px) {
                     left: -20px;
                     

                     img {
                        width: auto;
                        margin: 0;
                    }
                }
            }

            &__imgbanner {
                margin-left: 0 !important;
                text-align: right;
                
                img {
                    max-width: 90%;
                    display: inline-block !important;

                    @media (max-width: 324px) {
                        margin-left: 0;
                    }

                    @include responsive-width($tablet_m) {
                        max-width: 95%;
                        display: none;
                        margin-left: 0 !important;
                    }

                    @media (max-width: 768px){
                        margin-bottom: -20px;
                        max-width: 100%;
                        margin-top: 15px;
                    }
                }

                @include responsive-width($tablet_m) {
                    right: 0;
                    width: 60%;
                    height: auto;
                    margin-left: 0 !important;
                    position: absolute;
                    top: -65px;
                }

                @media (min-width: 1200px) {
                    width: 60%;
                    top: -85px;
                }
                
            }

            .e-button-buy{
                margin-left: 72px;
                text-align: left;
                font-size: 14px;
                .btn-buy{
                    width: fit-content;
                    padding-left: 30px;
                    padding-right: 30px;
                    margin-top: 7px;
                    margin-bottom: 30px;
                    min-width: 150px;

                    @media (max-width: 768px){
                        font-size: 13px;
                        padding-left: 15px;
                        padding-right: 15px;
                        margin-bottom: 10px;
                    }
                }

                small {
                    width: 100%;

                    a{
                        color: #fff;
                    }
                }

                p {
                    
                }
            }

            @include responsive-width($tablet_m) {
                height: 50%;
                width: 90%;
                transform: translate(-50%, -50%);

                .e-button-buy small {
                    // width: 80%;
                    margin: 0;
                }
            }

            .delivery {                
                margin: 0 auto;
                width: 50%;
            }
        }
    }
}