.entel__slider--home__item__content.entel__slider--home__item__super_padre {
    background: $blue;

    @include responsive-width($tablet_ll) {
        background-position-x: center;
    }

    @include responsive-width($laptop_m) {
        background-position: left bottom;
    }

    .e-button-buy small {
        color: white;
        padding-top: 7px;
        display: block;
        width: auto;
        margin: 0 auto;
        font-size: 9px;
        line-height: 11px;

        @include responsive-width($tablet_m) {
            // top: 135%;
            width: 100%;
            left: 0px;
            top: auto;
            bottom: -26%;
        }

        @include responsive-width(1024px) {
            bottom: -16%;
        }

        a{
            color: #fff;
        }
    }

    .principalcontent {
        width: 90%;
        text-align: center;
        transform: translate(-50%, -55%);

        &__textbanner {
            margin: 0;

            img {
                max-width: 100%;
                width: 100%;
            }
        }

        &__model {
            margin: 0;

            h2 {
                font-size: 14px;
                line-height: 14px;
                font-weight: normal;
                text-align: left;
                width: 100%;

                span {
                    font-size: 15px;
                    font-weight: 300;
                    color: white;
                    line-height: 15px;

                    > strong {
                        font-size: 15px;
                        font-weight: 900;
                        line-height: 15px;
                    }
                }
                
                > strong {
                    font-size: 22px;
                    line-height: 22px;
                    font-weight: 900;
                    display: block;
                }

                @include responsive-width($tablet_m) {
                    font-size: 38px;
                    line-height: 10px;

                    span {
                        font-size: 17px;
                        line-height: 28px;

                        > strong {
                            font-size: inherit;
                        }   
                    }

                    > strong {
                        font-size: 26px;
                        line-height: 26px;
                    }
                }
            }

            @include responsive-width($tablet_m) {
                width: 20%;

                .e-button-buy .btn-buy{
                    position: relative;
                }
            }
        }

        &__imgbanner {
            margin-top: 7px;
            margin-left: 0!important;

            img {
                max-width: 100%;
            }
        }

        &__terms {
            display: none;
        }

        @include responsive-width($tablet_m) {
            height: 100%;
            width: 90%;
            transform: translate(-50%, -50%);

            &__textbanner,
            &__imgbanner,
            &__model {
                display: table-cell;
            }

            &__textbanner {
                width: 40%;
                position: relative;
                bottom: -140px
            }

            &__terms {
                width: 58%;
                right: 0;
                position: absolute;
                bottom: 85px;
                text-align: left;
                display: block;
                line-height: 12px;

                small {
                    color: white;
                    font-size: 11px;
                    text-align: left;
                }
            }
        }

        @include responsive-width($tablet_ll) {
            &__terms {
                bottom: 45px;
            }           
            
            &__textbanner {
                bottom: -50px;
            }
        }
    }
}
