.entel__slider--home__item__content.entel__slider--home__liberados_reg_padre  {
    background: $white;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 950px;
            height: 100%;
            top: 0;
            -ms-transform: none;
            transform: none;
        }

        &__textbanner {
            font-weight: bold;
            // text-align: center;
            display: block;
            margin-bottom: 0;
            margin-top: 0;
            padding-top: 10px;
            margin-left: 10px;
            text-align: left;
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 30px;
                padding-top: 50px;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 30px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0;
                margin-left: -50px;
            }

            img {
                position: relative;
                display: inline-block;

                @include responsive-width($tablet-m) {
                    // max-width: 399px;
                    margin-left: 25px;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 0;
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    // padding: 58px 0 0 0;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            // display: none;
            margin: -10px 0 0 -10px;
            width: 100%;
            height: 100%;
            position: relative;
            text-align: center;
            // text-align: right;
            // position: absolute;
            // top: 50%;
            // -ms-transform: translate(-10px,-43%);
            // transform: translate(-10px,-43%);
        
            @include responsive-width($tablet-m) {
                // margin: -10px 0 0 0;
                margin: 0;
                position: absolute;
                top: 30px;
                right: 30px;
                -ms-transform: none;
                transform: none;
                text-align: right;
            }

            @include responsive-width($laptop-s) {

                // -ms-transform: translate(15%, -73%);
                // transform: translate(15%, -73%);
            }

            @include responsive-width($laptop-m) {
                top: 40px;
                right: 100px;
                // -ms-transform: translate(18%, -66%);
                // transform: translate(18%, -66%);
            }

            &-detail {
                position: absolute;
                left: 0;
                bottom: 0;

                @include responsive-width($tablet-m) {
                    // left: 50%;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 380px;
                    background-color: $blue;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;

                    -moz-transform: rotate(6deg) skew(-4deg) translate(35px, 60px);
                    -webkit-transform: rotate(6deg) skew(-4deg) translate(35px, 60px);
                    -o-transform: rotate(6deg) skew(-4deg) translate(35px, 60px);
                    -ms-transform: rotate(6deg) skew(-4deg) translate(35px, 60px);
                    transform: rotate(6deg) skew(-4deg) translate(35px, 60px);
                    
                    @include responsive-width($tablet-m) {
                        // display: none;
                        height: 500px;
                        -webkit-border-top-left-radius: 80px;
                        -moz-border-top-left-radius: 80px;
                        border-top-left-radius: 80px;
                        -webkit-border-radius: 30px;
                        -moz-border-radius: 30px;
                        border-radius: 30px;
                        -moz-transform: rotate(186deg) skew(-5deg) translate(-500px, 119px);
                        -webkit-transform: rotate(186deg) skew(-5deg) translate(-500px, 119px);
                        -o-transform: rotate(186deg) skew(-5deg) translate(-500px, 119px);
                        -ms-transform: rotate(186deg) skew(-5deg) translate(-500px, 119px);
                        transform: rotate(186deg) skew(-5deg) translate(-500px, 119px);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: rotate(186deg) skew(-7deg) translate(-708px, 188px);
                        -webkit-transform: rotate(186deg) skew(-7deg) translate(-708px, 188px);
                        -o-transform: rotate(186deg) skew(-7deg) translate(-708px, 188px);
                        -ms-transform: rotate(186deg) skew(-7deg) translate(-708px, 188px);
                        transform: rotate(186deg) skew(-7deg) translate(-708px, 188px);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: rotate(185deg) skew(-4deg) translate(-670px, 188px);
                        -webkit-transform: rotate(185deg) skew(-4deg) translate(-670px, 188px);
                        -o-transform: rotate(185deg) skew(-4deg) translate(-670px, 188px);
                        -ms-transform: rotate(185deg) skew(-4deg) translate(-670px, 188px);
                        transform: rotate(185deg) skew(-4deg) translate(-670px, 188px);
                    }
                }
            }


            &-img {
                position: relative;
                display: block;
                height: 100%;

                @include responsive-width($laptop-m) {
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        right: -110px;
                        width: 299px;
                        height: 289px;
                        background-image:  url($m_image_path+'2021/06/banner-lib-padre-back.png');
                    }
                }
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;   
                margin-right: -12px;
        
                @include responsive-width($tablet-m) {
                    // max-width: none;
                    margin-right: 40px;
                }

                @include responsive-width($laptop-s) {
                    // max-width: 590px;
                    margin-right: 30px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                    margin-right: 170px;
                }
            }
        }

        .e-button-buy {
            margin-top: 4px;
        
            @include responsive-width($tablet-m) {
                margin-top: 0;
                padding-top: 0;
                padding-left: 62px;
            }

            @include responsive-width($laptop-s) {
                padding-top: 0;
                padding-left: 40px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0;
                margin-left: -50px;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin: 0;
                    // margin-left: 30px;
                    // margin-top: 0;
                }
            }
        }
    
        .e-legal-small {
            position: relative;
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 15px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;
            // letter-spacing: -0.05em;

            @include responsive-width($tablet-m) {
                display: block;
                width: 100%;
                max-width: 278px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                margin-left: 64px;
                margin-top: 60px;
            }

            @include responsive-width($laptop-s) {
                margin-left: 40px;
                max-width: 320px;
                margin-top: 20px;
            }

            @include responsive-width($laptop-m) {
                // margin-top: 120px;
                max-width: 300px;
                margin-left: -50px;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
