.entel__slider--home__item__content.entel__slider--home__liberados_reg  {
    background: $white;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
            height: 100%;
            top: 0;
            -ms-transform: none;
            transform: none;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1100px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            margin-bottom: 0;
            margin-top: 0;
            padding-top: 16px;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 50px;
                padding-top: 30px;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 50px;
                padding-top: 40px;
            }

            @include responsive-width($laptop-m) {
                margin-left: -60px;
                padding-left: 0;
                // margin-left: 0;
            }

            img {
                position: relative;
                display: inline-block;

                @include responsive-width($tablet-m) {
                    // max-width: 399px;
                    // margin-left: 25px;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 0;
                }
            }

            &-detail {
                position: absolute;
                left: 0;
                top: 0;

                @include responsive-width($tablet-m) {
                    // left: 50%;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 1180px;
                    background-color: $blue;
                    -webkit-border-radius: 60px;
                    -moz-border-radius: 60px;
                    border-radius: 60px;

                    -moz-transform: rotate(6deg) skew(15deg) translate(-918px, -1030px);
                    -webkit-transform: rotate(6deg) skew(15deg) translate(-918px, -1030px);
                    -o-transform: rotate(6deg) skew(15deg) translate(-918px, -1030px);
                    -ms-transform: rotate(6deg) skew(15deg) translate(-918px, -1030px);
                    transform: rotate(6deg) skew(15deg) translate(-918px, -1030px);
                    
                    @include responsive-width($tablet-m) {
                        -webkit-border-radius: 100px;
                        -moz-border-radius: 100px;
                        border-radius: 100px;
                        -moz-transform: rotate(6deg) skew(15deg) translate(-793px, -990px);
                        -webkit-transform: rotate(6deg) skew(15deg) translate(-793px, -990px);
                        -o-transform: rotate(6deg) skew(15deg) translate(-793px, -990px);
                        -ms-transform: rotate(6deg) skew(15deg) translate(-793px, -990px);
                        transform: rotate(6deg) skew(15deg) translate(-793px, -990px);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: rotate(6deg) skew(15deg) translate(-750px, -950px);
                        -webkit-transform: rotate(6deg) skew(15deg) translate(-750px, -950px);
                        -o-transform: rotate(6deg) skew(15deg) translate(-750px, -950px);
                        -ms-transform: rotate(6deg) skew(15deg) translate(-750px, -950px);
                        transform: rotate(6deg) skew(15deg) translate(-750px, -950px);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: rotate(6deg) skew(15deg) translate(-766px, -917px);
                        -webkit-transform: rotate(6deg) skew(15deg) translate(-766px, -917px);
                        -o-transform: rotate(6deg) skew(15deg) translate(-766px, -917px);
                        -ms-transform: rotate(6deg) skew(15deg) translate(-766px, -917px);
                        transform: rotate(6deg) skew(15deg) translate(-766px, -917px);
                    }
                }
            }


            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    // padding: 58px 0 0 0;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            // display: none;
            margin: 24px 0 0 0;
            width: 100%;
            // height: 100%;
            position: relative;
            text-align: center;
            // text-align: right;
            // position: absolute;
            // top: 50%;
            // -ms-transform: translate(-10px,-43%);
            // transform: translate(-10px,-43%);
        
            @include responsive-width($tablet-m) {
                // margin: -10px 0 0 0;
                margin: 0;
                position: absolute;
                top: 0;
                left: 0;
                -ms-transform: none;
                transform: none;
                text-align: right;
            }

            @include responsive-width($laptop-s) {
                // -ms-transform: translate(15%, -73%);
                // transform: translate(15%, -73%);
            }

            @include responsive-width($laptop-m) {
                // -ms-transform: translate(18%, -66%);
                // transform: translate(18%, -66%);
            }

            &-img {
                position: relative;
                display: block;
                height: 100%;

                // @include responsive-width($laptop-m) {
                //     &::before {
                //         content: '';
                //         display: block;
                //         position: absolute;
                //         bottom: 0;
                //         right: -120px;
                //         width: 299px;
                //         height: 289px;
                //         background-image:  url($m_image_path+'2021/05/banner-lib-back.png');
                //     }
                // }
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;   
                margin-right: 0;
        
                @include responsive-width($tablet-m) {
                    margin-right: 40px;
                    margin-top: 48px;
                }

                @include responsive-width($laptop-s) {
                    // max-width: 590px;
                    // margin-right: 30px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                    margin-right: -50px;
                }
            }
        }

        .e-button-buy {
            margin-top: 8px;
        
            @include responsive-width($tablet-m) {
                margin-top: 0;
                padding-top: 100px;
                padding-left: 55px;
            }

            @include responsive-width($laptop-s) {
                padding-top: 72px;
                padding-left: 50px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0;
                padding-top: 60px;
            }

            .btn-buy {
                font-size: 12px;
                width: 117px;
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin: 0;
                    width: 148px;
                }
            }
        }
    
        .e-legal-small {
            position: relative;
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 15px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;

            @include responsive-width($tablet-m) {
                display: block;
                width: 100%;
                max-width: 290px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                margin-left: 60px;
                margin-top: 60px;
            }

            @include responsive-width($laptop-s) {
                margin-left: 54px;
                margin-top: 40px;
                max-width: 360px;
            }

            @include responsive-width($laptop-m) {
                max-width: 820px;    
                margin-top: 50px;
                margin-left: -40px;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
