.entel__slider--home__item__content.entel__slider--home__dia_de_la_madre_lib  {
    background: $blue;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 950px;
            // height: 400px;`
            height: 100%;
            top: 0;
            -ms-transform: none;
            transform: none;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            margin-bottom: 0;
            padding-top: 10px;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 0;
                padding-top: 40px;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 30px;
                padding-top: 60px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0;
                margin-left: -20px;
            }

            &-detail {
                // @include responsive-width($tablet-m) {
                position: absolute;
                left: 50%;
                top: 0;
                display: block;
                // width: 3000px;
                // height: 3000px;
                // }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 3000px;
                    height: 3000px;
                    background-color: $white;
                        
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    border-radius: 30px;

                    -moz-transform: rotate(-15deg) skew(-9deg) translate(-2827px, -3170px);
                    -webkit-transform: rotate(-15deg) skew(-9deg) translate(-2827px, -3170px);
                    -o-transform: rotate(-15deg) skew(-9deg) translate(-2827px, -3170px);
                    -ms-transform: rotate(-15deg) skew(-9deg) translate(-2827px, -3170px);
                    transform: rotate(-15deg) skew(-9deg) translate(-2827px, -3170px);

                    @include responsive-width($tablet-m) {
                        -webkit-border-radius: 110px;
                        -moz-border-radius: 110px;
                        border-radius: 110px;
                        -moz-transform: rotate(-4deg) skew(24deg) translate(-2340px, -88px);
                        -webkit-transform: rotate(-4deg) skew(24deg) translate(-2340px, -88px);
                        -o-transform: rotate(-4deg) skew(24deg) translate(-2340px, -88px);
                        -ms-transform: rotate(-4deg) skew(24deg) translate(-2340px, -88px);
                        transform: rotate(-4deg) skew(24deg) translate(-2340px, -88px);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: rotate(-4deg) skew(22deg) translate(-2360px, -100px);
                        -webkit-transform: rotate(-4deg) skew(22deg) translate(-2360px, -100px);
                        -o-transform: rotate(-4deg) skew(22deg) translate(-2360px, -100px);
                        -ms-transform: rotate(-4deg) skew(22deg) translate(-2360px, -100px);
                        transform: rotate(-4deg) skew(22deg) translate(-2360px, -100px);
                    }

                    // @include responsive-width($laptop-m) {
                    //     width: 3000px;
                    //     // -webkit-border-radius: 150px;
                    //     // -moz-border-radius: 150px;
                    //     // border-radius: 150px;
                    //     -moz-transform: rotate(-66deg) skew(-24deg) translate(-1724px, -3427px);
                    //     -webkit-transform: rotate(-66deg) skew(-24deg) translate(-1724px, -3427px);
                    //     -o-transform: rotate(-66deg) skew(-24deg) translate(-1724px, -3427px);
                    //     -ms-transform: rotate(-66deg) skew(-24deg) translate(-1724px, -3427px);
                    //     transform: rotate(-66deg) skew(-24deg) translate(-1724px, -3427px);
                    // }
                }

            }

            img {
                position: relative;
                display: inline-block;

                @include responsive-width($tablet-m) {
                    // max-width: 399px;
                    margin-left: 25px;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 0;
                    width: 340px;
                }

                @include responsive-width($laptop-m) {
                    width: auto;
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    // padding: 58px 0 0 0;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            // display: none;
            margin: -121px 0 0 -12px;
            width: 100%;
            position: relative;
            text-align: center;
            // text-align: right;
            // position: absolute;
            // top: 50%;
            // -ms-transform: translate(-10px,-43%);
            // transform: translate(-10px,-43%);
        
            @include responsive-width($tablet-m) {
                position: absolute;
                bottom: -125px;
                left: 0;
                width: 100%;
                text-align: right;
                margin: 0;
            }

            @include responsive-width($laptop-s) {
                bottom: -191px;
            }

            @include responsive-width($laptop-m) {
                bottom: -250px;
            }

            // &-detail {
            //     position: absolute;
            //     left: 50%;
            //     top: 0;

            //     @include responsive-width($tablet-m) {
            //         left: 0;
            //     }

            //     &::after {
            //         position: absolute;
            //         content: '';
            //         display: block;
            //         width: 1180px;
            //         height: 380px;
            //         background-color: $white;
            //         -webkit-border-radius: 40px;
            //         -moz-border-radius: 40px;
            //         border-radius: 40px;

            //         -moz-transform: rotate(185deg) skew(-5deg) translate(63px, -68px);
            //         -webkit-transform: rotate(185deg) skew(-5deg) translate(63px, -68px);
            //         -o-transform: rotate(185deg) skew(-5deg) translate(63px, -68px);
            //         -ms-transform: rotate(185deg) skew(-5deg) translate(63px, -68px);
            //         transform: rotate(185deg) skew(-5deg) translate(63px, -68px);
                    
            //         @include responsive-width($tablet-m) {
            //             display: none;
            //         }
            //     }
            // }

            &-img {
                position: relative;
                display: block;
            }

            img {
                max-width: none;
                display: inline-block;
                width: auto;    
                margin-right: -72px;
        
                @include responsive-width($tablet-m) {
                    margin-right: -30px;
                }

                @include responsive-width($laptop-s) {
                    width: 670px;
                    margin-right: -40px;
                }

                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-right: -115px;
                }
            }
        }

        .e-button-buy {
            margin-top: 10px;
        
            @include responsive-width($tablet-m) {
                margin-top: 22px;
                margin-left: 0px;
            }
        
            @include responsive-width($laptop-s) {
                margin-top: -38px;
            }

            @include responsive-width($laptop-m) {
                margin-left: -45px;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
                width: 126px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-left: 30px;
                    margin-top: 0;
                }

                @include responsive-width($laptop-s) {
                    margin-top: 0;
                    margin-left: 30px;
                }

                @include responsive-width($laptop-m) {
                    margin-left: 20px;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 15px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;

            @include responsive-width($tablet-m) {
                width: 100%;
                // max-width: 260px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                margin-left: 30px;
                // margin-top: 30px;
                    
                display: block;
                position: relative;
                max-width: 220px;
                margin-top: 20px;
            }

            @include responsive-width($laptop-s) {
                display: block;
                position: relative; 
                margin-top: 23px;
                margin-left: 30px;
                width: 360px;
                max-width: none;
            }

            @include responsive-width($laptop-m) {
                margin-left: -20px;
                margin-top: 20px;
                width: 360px;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
