.entel__slider--home__item.entel__slider--home__item--chipbam {
    .entel__slider--home__item__content.entel__slider--home__item__content_chipbam {
        padding: 0;
        background-image: url(https://www.entel.pe/wp-content/uploads/2020/06/bg-bam-mob.png) !important;
        background-position: top center;
    
        @include responsive-width($tablet_m) {
            background-image: url(https://www.entel.pe/wp-content/uploads/2020/06/bg-bam-desk.png) !important;
        }

        .detalle {
            @include responsive-width($tablet_m) {
                right: 35%;
                width: 1px;
                height: 1px;
                bottom: -20px;
                z-index: 1;
                position: absolute;
            } 
            
            &::before {
                // content: '';
                // width: 800px;
                // height: 200px;
                // background: linear-gradient(134.81deg, #0864E1 6.68%, #004FB9 59.14%);
                // display: block;
                // position: relative;
                // -webkit-border-bottom-left-radius: 70px;
                // -moz-border-bottom-left-radius: 70px;
                // border-bottom-left-radius: 70px;
                // -moz-transform: rotate(-8deg);
                // -webkit-transform: rotate(-8deg);
                // -o-transform: rotate(-8deg);
                // -ms-transform: rotate(-8deg);
                // transform: rotate(-8deg);
    
                // top: -112px;
                // left: -9px;
                // z-index: 1;
                
                @include responsive-width($tablet_m) {
                    content: '';
                    background: linear-gradient(100.81deg, #004FB9 6.68%, #0864E1 59.14%);
                    -moz-transform:rotate(-8deg) skew(-22deg, 11deg);
                    -webkit-transform:rotate(-8deg) skew(-22deg, 11deg);
                    -o-transform:rotate(-8deg) skew(-22deg, 11deg);
                    -ms-transform:rotate(-8deg) skew(-22deg, 11deg);
                    transform:rotate(-8deg) skew(-22deg, 11deg);
                    width: 1760px;
                    -webkit-border-top-left-radius: 70px;
                    -moz-border-top-left-radius: 70px;
                    border-top-left-radius: 70px;
                    position: relative;
                    height: 400px;
                    top: auto;
                    bottom: 360px;
                    left: auto;
                    display: block;
                    right: 195px;
                }
                   
                @include responsive-width(2000px) {
                    right: 289px;
                }
            }
    
            &::after{
                
                // content: '';
                // width: 200px;
                // height: 50px;
                // background: $orange;
                // display: block;
                // position: absolute;
                // -webkit-border-bottom-left-radius: 20px;
                // -moz-border-bottom-left-radius: 20px;
                // border-bottom-left-radius: 20px;
                // -moz-transform: rotate(-13deg);
                // -webkit-transform: rotate(-13deg);
                // -o-transform: rotate(-13deg);
                // -ms-transform: rotate(-13deg);
                // transform: rotate(-13deg);
                // top: 89px;
                // left: 170px;
                // z-index: 0;
                @include responsive-width($tablet_m) {
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
                    left: auto;
                    right: -153px;
                    bottom: 160px;
                    top: auto;
                    -moz-transform: rotate(-99deg);
                    -webkit-transform: rotate(-99deg);
                    -o-transform: rotate(-99deg);
                    -ms-transform: rotate(-99deg);
                    transform: rotate(-99deg);
                }
            }
        }    
    
        .principalcontent {
            width: 90%;
            transform: translate(-50%, -40%);
    
            &__textbanner {
                .e-button-buy {
                    margin-top: 7px;
    
                    small {
                        font-size: 10px;
                        color: white;
                        display: block;
                        margin-top: 7px;
                    }
                }
    
                small {
                    font-size: 10px;
                    color: white;
                    display: block;
                }
    
                img  {
                    width: 190px;
                    margin-bottom: 7px;

                    @include responsive-width($tablet_m) {
                        width: 250px;
                    }
                }
    
                @include responsive-width($tablet_m) {
                    width: 55%;
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: -180px;
                }
    
                @include responsive-width($tablet_ll) {
                    padding-left: 0;
                    width: 50%;
                    right: 0px;
                    top: -175px;
                } 

                @include responsive-width(1200px) {
                    right: -7%;
                }

                @include responsive-width(1600px) {
                    right: -14%;
                }
            }

            @include responsive-width($mobile-m) {
                transform: translate(-50%, -36%);
            }
    
            @include responsive-width($tablet_m) {
                transform: translate(-50%, -50%);
            }
        }
    }
}

