.entel__slider--home__item__content {
    &.entel__slider--home__item__content_retiro {

        .detalle {
            @include responsive-width($tablet_m) {
                left: 35%;
                width: 1px;
                height: 1px;
                bottom: -20px;
                z-index: 1;
                position: absolute;
            }

            @include responsive-width($tablet_ll) {
                left: 30%;
            }   
            
            @include responsive-width($laptop-s) {
                left: 39%;
            } 

            &::before {
                content: '';
                width: 800px;
                height: 200px;
                background: #ffffff;
                display: block;
                position: relative;
                -webkit-border-bottom-left-radius: 70px;
                -moz-border-bottom-left-radius: 70px;
                border-bottom-left-radius: 70px;
                -moz-transform: rotate(-8deg);
                -webkit-transform: rotate(-8deg);
                -o-transform: rotate(-8deg);
                -ms-transform: rotate(-8deg);
                transform: rotate(-8deg);
    
                top: -112px;
                left: -9px;
                z-index: 1;
                
                @include responsive-width($tablet_m) {
                    -moz-transform: rotate(-8deg) skew(7deg, 5deg);
                    -webkit-transform: rotate(-8deg) skew(7deg, 5deg);
                    -o-transform: rotate(-8deg) skew(7deg, 5deg);
                    -ms-transform: rotate(-8deg) skew(7deg, 5deg);
                    transform: rotate(-8deg) skew(7deg, 5deg);
                    width: 1600px;
                    -webkit-border-top-right-radius: 70px;
                    -moz-border-top-right-radius: 70px;
                    border-top-right-radius: 70px;
                    height: 400px;
                    top: auto;
                    bottom: 340px;
                    left: auto;
                    right: 1530px;
                }
            }
    
            &::after{
                content: '';
                width: 200px;
                height: 50px;
                background: $orange;
                display: block;
                position: absolute;
                -webkit-border-bottom-left-radius: 20px;
                -moz-border-bottom-left-radius: 20px;
                border-bottom-left-radius: 20px;
                -moz-transform: rotate(-13deg);
                -webkit-transform: rotate(-13deg);
                -o-transform: rotate(-13deg);
                -ms-transform: rotate(-13deg);
                transform: rotate(-13deg);
                top: 89px;
                left: 170px;
                z-index: 0;
                
                @include responsive-width($tablet_m) {
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
                    left: auto;
                    right: -153px;
                    bottom: 160px;
                    top: auto;
                    -moz-transform: rotate(-99deg);
                    -webkit-transform: rotate(-99deg);
                    -o-transform: rotate(-99deg);
                    -ms-transform: rotate(-99deg);
                    transform: rotate(-99deg);
                }
            }
        }    

        .principalcontent {

            transform: translate(-50%, -60%);

            &__textbanner {

                .e-button-buy {
                    small {
                        color: $blue;
                    }
                }

                h2 {
                    font-size: 40px;
                    line-height: 40px;
                    color: $blue;
                    font-weight: 400;

                    span {
                        font-size: 25px;
                        display: block;
                        font-weight: 400;
                        color: $blue;
                    }

                    @include responsive-width($tablet_m) {
                        span {
                            font-size: 34px;
                            line-height: 34px;
                        }
                    }

                    @include responsive-width($tablet_ll) {
                        font-size: 60px;
                        line-height: 60px;
                    }
                }

                h3 {
                    font-size: 45px;
                    line-height: 45px;
                    font-weight: 800;
                    color: $extra_blue;

                    img {
                        vertical-align: top;
                        margin-top: 10px;
                        width: 35px;
                    }

                    @include responsive-width($tablet_m) {
                        font-size: 45px;
                        line-height: 45px;

                        img {
                            vertical-align: middle;
                        }
                    }

                    @include responsive-width($tablet_ll) {
                        font-size: 70px;
                        line-height: 63px;

                        img {
                            vertical-align: top;
                            margin-top: 0;
                            width: auto;
                        }
                    }                    
                }
                img  {
                    width: auto;
                }

                @include responsive-width($tablet_m) {
                    width: 40%;
                    padding-left: 7%;
                }

                @include responsive-width($tablet_ll) {
                    padding-left: 0;
                } 
            }

            &__model {
                margin-top: 0px;

                .dscto {
                    width: 120px;
                    height: 30px;
                    padding: 5px;
                    text-align: center;
                    border-radius: 7px;
                    margin-bottom: 7px;
                    background-color: $extra_blue;

                    span {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    span:first-child {
                        width: 40%;
                        font-size: 20px;
                        line-height: 23px;
                    }

                    span:last-child {
                        width: 60%;
                        font-size: 8px;
                        line-height: 7px;
                    }

                    @include responsive-width($tablet_m) {
                        width: 175px;
                        height: 36px;
                        margin-bottom: 14px;

                        span:first-child {
                            font-size: 30px;
                        }
    
                        span:last-child {
                            font-size: 11px;
                            line-height: 11px;
                        }
                    }                    
                }

                p {
                    font-size: 93px;
                    margin-top: -14px;
                    line-height: 1;
                    letter-spacing: -2px;

                    @include responsive-width($tablet_m) {
                        font-size: 118px;
                        margin: 0;
                        span {
                            font-size: 66px;
                        }
                    }
                }

                small {
                    position: absolute;
                    width: 75px;
                    font-size: 13px;
                    line-height: normal;

                    &:nth-of-type(2) {
                        background: transparent;
                    }

                    .cuota {
                        width: 40px;
                        font-size: 12px;
                        line-height: 10px;
                        position: absolute;
                    }
                }
            }

            &__imgbanner {

                @media screen and (max-width: 320px) {
                    margin-left: 20%;
                }

                @media screen and (min-width: 375px) {
                    margin-left: 30%;
                }

                @media (max-width: 923px) and (min-width: 540px) {
                    margin-left: 10%;          
                }

                @include responsive-width($tablet_m) {
                    margin-left: 0;
                    width: 33%;
                } 
            }

            &__plan {
                position: relative;

                ul li:last-child {
                    color: $extra_blue;
                }

                ul {
                    position: relative;

                    li {
                        &::before {
                            content: "";
                        }
                        
                        @include responsive-width($tablet_m) {
                            font-size: 14px;
                        }  
                    }
                }
            }

            @include responsive-width($tablet_m) {
                transform: translate(-50%, -35%);
            }
        }
    }
}