.entel__slider--home__item__content.entel__slider--home__accesorios_navidad  {
    background: $blue;
    padding: 0;
        
    // @include responsive-width($tablet-m) {
    //     background: $white;
    // }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
            height: 100%;
            top: 0;
            -ms-transform: none;
            transform: none;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            position: relative;
            z-index: 5;
            padding: 70px 0 0 10px;
        
            @include responsive-width($tablet-m) {
                width: 100%;
                text-align: left;
                padding-top: 90px;
                padding-left: 45px;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 35px;
            }

            @include responsive-width($laptop-m) {
                padding-top: 53px;
                padding-left: 0;
            }

            img {
                position: relative;
                display: inline-block;
                width: auto;
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            bottom: 0;
            right: 0;
            margin: 0;
            width: 100%;
            position: absolute;
            text-align: right;
        
            @include responsive-width($tablet-m) {
                margin: 0;
                position: absolute;
                bottom: 0;
                -ms-transform: none;
                transform: none;
            }

            @include responsive-width($laptop-m) {
                right: -20px;
            }

            &-detail {
                position: absolute;
                left: 50%;
                bottom: 0;

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 3000px;
                    height: 3000px;
                    background-color: $white;

                    
                    @include responsive-width($tablet-m) {
                        -webkit-border-radius: 70px;
                        -moz-border-radius: 70px;
                        border-radius: 70px;
                        -moz-transform: rotate(-19deg) skew(-5deg) translate(-2217px, -3343px);
                        -webkit-transform: rotate(-19deg) skew(-5deg) translate(-2217px, -3343px);
                        -o-transform: rotate(-19deg) skew(-5deg) translate(-2217px, -3343px);
                        -ms-transform: rotate(-19deg) skew(-5deg) translate(-2217px, -3343px);
                        transform: rotate(-19deg) skew(-5deg) translate(-2217px, -3343px);
                    }

                    @include responsive-width($laptop-s) {
                        -webkit-border-radius: 60px;
                        -moz-border-radius: 60px;
                        border-radius: 60px;
                        -moz-transform: rotate(-19deg) skew(-5deg) translate(-2230px, -3333px);
                        -webkit-transform: rotate(-19deg) skew(-5deg) translate(-2230px, -3333px);
                        -o-transform: rotate(-19deg) skew(-5deg) translate(-2230px, -3333px);
                        -ms-transform: rotate(-19deg) skew(-5deg) translate(-2230px, -3333px);
                        transform: rotate(-19deg) skew(-5deg) translate(-2230px, -3333px);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: rotate(-19deg) skew(-5deg) translate(-2230px, -3333px);
                        -webkit-transform: rotate(-19deg) skew(-5deg) translate(-2230px, -3333px);
                        -o-transform: rotate(-19deg) skew(-5deg) translate(-2230px, -3333px);
                        -ms-transform: rotate(-19deg) skew(-5deg) translate(-2230px, -3333px);
                        transform: rotate(-19deg) skew(-5deg) translate(-2230px, -3333px);
                    }
                }
            }

            &-img {
                position: relative;
                display: block;
                height: 100%;
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;   
                margin-right: 0;
        
                @include responsive-width($tablet-m) {    
                    margin-right: 0;
                    margin-top: 0;
                }

                @include responsive-width($laptop-s) {
                    margin-right: -130px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                    margin-right: -110px;
                }
            }
        }

        .e-button-buy {
            margin-top: -135px;
            margin-left: 0;
            text-align: left;
            position: relative;
            z-index: 6;
        
            @include responsive-width($tablet-m) {
                margin-top: -150px;
                margin-left: 40px;
            }

            @include responsive-width($laptop-s) {
                margin-left: 34px;
                margin-top: 34px;
            }

            @include responsive-width($laptop-m) {
                margin-left: 5px;
                margin-top: -146px;
            }

            .btn-buy {
                height: 40px;
                width: 142px;
                padding: 0;
                margin: 0;
                line-height: 36px;
                font-size: 12px;
        
                @include responsive-width($tablet-m) {
                    margin: 0;
                    width: 186px;
                    height: 50px;
                    font-size: 14px;
                    line-height: 48px;
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;

            &__mob {
                padding: 0 10px 0 0;
                margin: 0;
                bottom: 10px;
                text-align: left;
                
                @include responsive-width($tablet-m) {
                    width: 100%;
                    padding: 0;
                    bottom: 10px;
                    left: 45px;
                }
                
                @include responsive-width($laptop-s) {
                    display: none;
                }
            }

            &__desk {
                display: none;
                
                @include responsive-width($tablet-m) {
                    font-size: 10px;
                    max-width: 644px;
                    right: auto;
                    left: 50px;
                    bottom: 10px;
                    padding: 0;
                    margin: 0;
                }

                @include responsive-width($laptop-s) {
                    bottom: 15px;
                    max-width: 930px;
                    left: 37px;
                    display: block;
                    text-align: left;
                }
    
                @include responsive-width($laptop-m) {
                    display: block;
                    max-width: 100%;
                    left: 4px;
                    bottom: 15px;
                }
            }

            a {
                color: $extra_dark_gray;
                text-decoration: none;
            }
        }
    }
}
