.entel__slider--home__item__content.entel__slider--home__item__moto {
    padding: 0;
    background: $blue;
    // background-size: cover;
    // background-position: -20px -50px;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 335px;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 670px !important;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1024px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }
    
        &:after {
            content: '';
            display: block;
            width: 286px;
            height: 295px;
            position: absolute;
            right: -80px;
            top: -70px;
            background-image: url($m_image_path + '2021/03/banner-moto-back-mob.png');
            background-repeat: no-repeat;
        
            @include responsive-width($tablet-m) {
                width: 646px;
                height: 668px;
                right: -280px;
                top: -240px;
                background-image: url($m_image_path + '2021/03/banner-moto-back-desk.png');
            }
        
            @include responsive-width($laptop-s) {
                right: -260px;
                top: -230px;
            }

            @include responsive-width($laptop-m) {            
                right: -420px;
                top: -250px;
            }
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            position: absolute;
            top: 16px;
            left: 0;
            margin-left: 0;
            width: 100%;
        
            @include responsive-width($tablet-m) {
                left: auto;
                top: 50px;
                position: relative;
                text-align: left;
                margin-left: 20px;
                width: 100%;
                z-index: 2;
            }

            @include responsive-width($laptop-s) {
                margin-left: 40px;
                top: 50px;
            }

            @include responsive-width($laptop-m) {
                margin-left: -30px;
            }

            img {
                width: auto;
                display: inline-block;

                @include responsive-width($tablet-m) {
                    // max-width: 206px;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    max-width: none;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 65px;

            @include responsive-width($mobile-l) {
                text-align: center;
            }

            @include responsive-width($tablet-m) {
                text-align: right;
                max-width: 768px;
                bottom: 60px;
            }

            @include responsive-width($laptop-s) {
                text-align: right;
                max-width: 1024px;
                // bottom: 70px;
                bottom: 80px;
            }

            @include responsive-width($laptop-m) {
                bottom: 10px;
            }

            img {
                position: relative;
                max-width: 100%;
                display: inline-block;
                z-index: 1;
                // margin-right: -10px;

                @include responsive-width($tablet-m) {
                    margin-right: 50px;
                    width: auto;
                    // width: 473px;
                }

                @include responsive-width($laptop-s) {
                    width: 710px;
                    margin-right: 40px;
                }

                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-right: -130px;
                }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 25px;
            left: 0;
            width: 100%;
            z-index: 4;

            @include responsive-width($tablet-m) {
                padding-left: 20px;
                position: relative;
                bottom: auto;
                margin-top: -60px;
            }

            @include responsive-width($laptop-s) {
                padding-left: 55px;
                margin-top: 40px;
            }

            @include responsive-width($laptop-m) {    
                padding-left: 0;
                margin-left: -20px;
            }

            .btn-buy {
                height: 34px;
                width: 126px;
                padding: 0;
                font-size: 12px;
                line-height: 30px;
        
                @include responsive-width($tablet-m) {
                    width: 140px;
                    height: 40px;
                    font-size: 12px;
                    margin-top: 70px;
                    margin-bottom: 20px;
                    line-height: 36px;
                    font-size: 14px;
                }

                @include responsive-width($laptop-s) {
                    width: 140px;
                    height: 40px;
                    margin-bottom: 10px;
                    margin-top: -29px;
                    line-height: 36px;
                    font-size: 14px;
                }

                @include responsive-width($laptop-m) {
                    margin-bottom: 22px;
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;
            max-width: 320px;
            display: none;
            
            @include responsive-width($tablet-m) {
                max-width: 625px;
                margin-left: 0;
                padding-left: 0;
                display: block;
            }

            @include responsive-width($laptop-s) {
                // display: block;
                max-width: none;
            }

            // @include responsive-width($laptop-m) {
            //     margin: 14px auto 0;
            // }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
