.entel__slider--home__item__content.entel__slider--home__item__cyber_2020_post_pago {
    background: white;

    .principalcontent {
        position: relative;
        top: -26px;
        left: 50%;
        width: 100%;
        -ms-transform: translate(-50%, -3%);
        transform: translate(-50%, -3%);
        max-width: 414px;
        width: 100%;
        margin: 0;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
            top: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 10px;
            }

            img {
        
                @include responsive-width($tablet-m) {
                    max-width: 226px;
                }
            }
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            
            @include responsive-width($tablet-m) {
                display: block;
                text-align: right;
                position: absolute;
                top: 50%;
                -ms-transform: translate(-10px, -31%);
                transform: translate(-10px, -31%);
            }

            @include responsive-width(900px) {
                -ms-transform: translate(-3.8%, -40%);
                transform: translate(-3.8%, -40%);
            }

            &-img {
                position: relative;
                display: block;
            }

            img {
                max-width: 100%;
                display: inline-block;
        
                @include responsive-width($tablet-m) {
                    max-width: 63%;
                }

                @include responsive-width(900px) {
                    max-width: 100%;
                }
            }
        }

        .e-button-buy {
            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-left: 10px;
                    margin-top: 26px;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: block;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;
            letter-spacing: -0.05em;

            b {
                display: none;

                @include responsive-width($tablet-m) {
                    display: block;
                    margin-bottom: 16px;
                }
            }

            a {
                color: $blue;
                text-decoration: none;
            }

            @include responsive-width($tablet-m) {
                max-width: 234px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                padding-left: 10px;
                margin-left: 0;
                margin-top: 26px;
            }
        }
    }
}
