.entel__slider--home__item__content.entel__slider--home__item__cyber_202103_form {
    background: $blue;
    padding: 0;
    // background-image: url($m_image_path+'/2021/03/prod-form-migra-back-mob.png');
    // background-position: -60px bottom;
    // background-size: 240px;
    // background-repeat: no-repeat;

    // @include responsive-width($mobile_m) {
    //     background-position: -10px bottom;
    // }

    // @include responsive-width($tablet-m) {
    //     background-image: none;
    // }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;
        
        // @include responsive-width($tablet-m) {
        //     max-width: 100%;
        // }

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 950px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1100px !important;
        }

        // @include responsive-width($laptop-m) {
        //     background-image: url($m_image_path+'/2021/03/prod-form-migra-back-desk.png');
        //     background-position: -170px top;
        //     background-size: 873px;
        //     background-repeat: no-repeat;
        // }
        

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 20px 0 5px;
            margin: 0 auto;
            z-index: 2;
            position: relative;
            width: 186px;
        
            @include responsive-width($tablet-m) {
                padding: 5px 25px;
                padding-top: 60px;
                padding-left: 50px;
                width: 100%;
            }
        
            @include responsive-width($laptop-s) {   
                margin-left: 0px;
                padding-left: 20px;
                padding-top: 40px;
            }

            @include responsive-width($laptop-m) { 
                margin-left: 0px;
                padding-top: 35px;
                padding-left: 0;
            }

            @include responsive-width($desktop_s) { 
                margin-left: -10px;
                padding-top: 35px;
            }
            
            &-banderas {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 3;
            }

            &-detail {
                position: absolute;
                left: 0;
                top: 0;

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 700px;
                    height: 400px;
                    z-index: 1;
                    background-color: $white;
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;

                    -moz-transform: translate(-23px, -245px) skew(7deg) rotate(-7deg);
                    -webkit-transform: translate(-23px, -245px) skew(7deg) rotate(-7deg);
                    -o-transform: translate(-23px, -245px) skew(7deg) rotate(-7deg);
                    -ms-transform: translate(-23px, -245px) skew(7deg) rotate(-7deg);
                    transform: translate(-23px, -245px) skew(7deg) rotate(-7deg);

                    @include responsive-width($tablet-m) {
                        // display: none;
                        width: 2000px;
                        height: 2000px;
                        -webkit-border-radius: 110px;
                        -moz-border-radius: 110px;
                        border-radius: 110px;

                        -moz-transform: translate(-1426px, 103px) skew(7deg) rotate(-6deg);
                        -webkit-transform: translate(-1426px, 103px) skew(7deg) rotate(-6deg);
                        -o-transform: translate(-1426px, 103px) skew(7deg) rotate(-6deg);
                        -ms-transform: translate(-1426px, 103px) skew(7deg) rotate(-6deg);
                        transform: translate(-1426px, 103px) skew(7deg) rotate(-6deg);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-1476px, 73px) skew(8deg) rotate(-4deg);
                        -webkit-transform: translate(-1476px, 73px) skew(8deg) rotate(-4deg);
                        -o-transform: translate(-1476px, 73px) skew(8deg) rotate(-4deg);
                        -ms-transform: translate(-1476px, 73px) skew(8deg) rotate(-4deg);
                        transform: translate(-1476px, 73px) skew(8deg) rotate(-4deg);
                    }

                    @include responsive-width($laptop-m) {
                        // display: none;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        border-radius: 0;
                        -moz-transform: translate(-1989px, 0px) skew(0deg) rotate(0deg);
                        -webkit-transform: translate(-1989px, 0px) skew(0deg) rotate(0deg);
                        -o-transform: translate(-1989px, 0px) skew(0deg) rotate(0deg);
                        -ms-transform: translate(-1989px, 0px) skew(0deg) rotate(0deg);
                        transform: translate(-1989px, 0px) skew(0deg) rotate(0deg);
                    }
                    
                }

                &::before {
                    position: absolute;
                    content: '';
                    display: none;
                    width: 1180px;
                    height: 520px;
                    z-index: 1;
                    background-color: #00B9EB;
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;


                    @include responsive-width($tablet-m) {
                        display: block;
                        width: 2000px;
                        height: 2000px;
                        -webkit-border-radius: 40px;
                        -moz-border-radius: 40px;
                        border-radius: 40px;
                        -moz-transform: translate(-1485px, 119px) skew(7deg) rotate(-1deg);
                        -webkit-transform: translate(-1485px, 119px) skew(7deg) rotate(-1deg);
                        -o-transform: translate(-1485px, 119px) skew(7deg) rotate(-1deg);
                        -ms-transform: translate(-1485px, 119px) skew(7deg) rotate(-1deg);
                        transform: translate(-1485px, 119px) skew(7deg) rotate(-1deg);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-1550px, 90px) skew(7deg) rotate(1deg);
                        -webkit-transform: translate(-1550px, 90px) skew(7deg) rotate(1deg);
                        -o-transform: translate(-1550px, 90px) skew(7deg) rotate(1deg);
                        -ms-transform: translate(-1550px, 90px) skew(7deg) rotate(1deg);
                        transform: translate(-1550px, 90px) skew(7deg) rotate(1deg);
                    }

                    @include responsive-width($laptop-m) {
                        display: none;
                    }
                    
                }
            }

            form {
                z-index: 2;
                text-align: left;
                position: relative;
                margin-top: 0px;

                .form--content {
                    width: 188px;
                    text-align: center;
                    margin: auto;

                    @include responsive-width($tablet-m) {
                        width: auto;
                        text-align: left;
                    }
                    .form--head {
                        p {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 14px;
                            text-align: left;
                            color: #004CC1;
                            margin: 0px;

                            span {
                                font-weight: 400;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 19px;
                                line-height: 19px;
                            }
                        }
                        
                        h2 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 20px;
                            text-align: left;
                            text-transform: uppercase;
                            color: #00B9EB;
                            margin: 4px 0px 5px;

                            @include responsive-width($tablet-m) {
                                font-size: 34px;
                                line-height: 30px;
                                margin: 6px 0px 11px;
                            }
                        }

                        h3 {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 14px;
                            text-align: left;
                            color: #FFFFFF;
                            margin: 0px 0px 5px;

                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }
                        }
                    }

                    .form--body {
                        .form--number {
                            margin-bottom: 4px;

                            input {
                                border: 1.5px solid #9E9FA1;
                                box-sizing: border-box;
                                border-radius: 7.3332px;
                                width: 100%;
                                height: 33px;
                                padding: 10px 15px;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                align-items: center;
                                letter-spacing: 0.0015em;
                                color: #9E9FA1;

                                &.error {
                                    border-color: #f10101;
                                }

                                &.error::placeholder {
                                    color: #f10101;
                                }

                                @include responsive-width($tablet-m) {
                                    width: 236px;
                                    height: 51px;
                                    font-size: 14px;
                                    line-height: 17px;
                                }
                            }

                            @include responsive-width($tablet-m) {
                                margin-bottom: 18px;
                            }
                        }

                        .form--check{
                            display: flex;
                            align-items: center;

                            input {
                                display: none;
                            }

                            .input-mask-top{
                                width: 14px;
                                height: 14px;
                                border: 2px solid #FF560A;
                                box-sizing: border-box;
                                border-radius: 4.58325px;
                                margin-top: 2px;
                                background: #FF560A;
                                position: relative;

                                @include responsive-width($tablet-m) {
                                    width: 18px;
                                    height: 18px;
                                }

                                &.error {
                                    border-color:#f10101;
                                    background: #ffffff;
                                }

                                &::after{
                                    content: "";
                                    left: 3px;
                                    top: 0px;
                                    width: 4px;
                                    height: 9px;
                                    border: solid white;
                                    border-width: 0px 2px 2px 0px;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                    position: absolute;

                                    @include responsive-width($tablet-m) {
                                        left: 5px;
                                        top: 1px;
                                    }

                                    @include responsive-width($laptop-m) {
                                        left: 5px;
                                        top: 1px;
                                    }
                                }
                            }

                            a {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 8.95284px;
                                line-height: 15px;
                                color: #FFFFFF;
                                margin-left: 5px;

                                span {
                                    font-weight: bold;
                                    text-decoration: underline;
                                }
                            }
                        }

                        button {
                            background: #FF560A;
                            border-radius: 45.8325px;
                            color: #ffffff;
                            cursor: pointer;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 1px;
                            text-align: center;
                            padding: 15px 5px;
                            text-transform: uppercase;
                            margin-top: 10px;
                            border: 0px;
                            width: 126px;
                            height: 24px;
                            // margin-left: 36px;

                            @include responsive-width($tablet-m) {
                                margin-top: 15px;
                                margin-left: 0px;
                                width: 142px;
                                height: 34px;
                                font-size: 13px;
                                line-height: 4px;
                            }

                            @include responsive-width($laptop-m) {
                                padding: 15px 28px;
                                width: 142px;
                                height: 34px;
                                font-size: 13px;
                                line-height: 4px;
                            }
                        }
                    }

                    .form--loading{
                        display: none;
                        padding: 25px 25px 0px;

                        img {
                            animation: rotating 2s linear infinite;
                            width: 70px;

                            @keyframes rotating {
                                from {
                                    transform: rotate(0deg);
                                }
                                to {
                                    transform: rotate(360deg);
                                }
                            }

                            @include responsive-width($tablet-m) {
                                width: 100px;
                            }
                        }

                    }

                    .form--thanks {
                        display: none;
                        width: 150px;
                        text-align: center;

                        img {
                            margin-bottom: 5px;
                            @include responsive-width($tablet-m) {
                                margin-bottom: 0px;
                            }
                        }
                        p, span {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: center;
                            color: #FFFFFF;

                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }
                        }

                        @include responsive-width($tablet-m) {
                            width: 200px;
                        }
                    }

                    .form--duplicate {
                        display: none;
                        width: 180px;
                        padding-top: 15px;
                        p{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: #FFFFFF;

                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }

                        @include responsive-width($tablet-m) {
                            width: 250px;
                        }
                    }

                    .form--error {
                        display: none;
                        width: 180px;
                        padding-top: 15px;
                        text-align: center;
                        p{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: #FFFFFF;

                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }

                        @include responsive-width($tablet-m) {
                            width: 250px;
                        }
                    }

                    .form--callback {
                        margin-top: 2px;

                        p {
                            margin: 0px;
                            font-size: 10px;
                            line-height: 11px;
                            font-style: normal;
                            font-weight: normal;

                            a {
                                color: #FFFFFF;
                                text-decoration: underline;
                                font-weight: bold;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }

                        @include responsive-width($tablet-m) {
                            margin-top: 8px;
                        }
                    }
                }

                @include responsive-width($tablet-m) {
                    margin-top: 18px;
                }
            }

            img {
                position: relative;
                z-index: 2;
                margin: 0;
                // margin-top: 0;
                // margin-right: 15px;
        
                @include responsive-width($tablet-m) {
                    // width: 207px;
                    width: auto;
                    margin-left: 0;
                    // width: 297px;
                }
        
                @include responsive-width($laptop-s) {
                    // width: auto;
                    width: auto;
                    margin-left: 0px;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-left: 0;
                //     width: auto;
                //     margin-right: -50px;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 auto 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 0px;
            z-index: 2;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: auto;
                bottom: 30px;
                right: 40px;
                width: auto;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            
            @include responsive-width($laptop-s) {
                right: 0px;
                bottom: 62px;
            }
        
            @include responsive-width($laptop-m) {
                // position: absolute;
                // top: 11%;
                // left: 29%;
                // bottom: 52px;
                right: -18px;
                bottom: 30px;
                // width: auto;
                // -moz-transform: none;
                // -webkit-transform: none;
                // -o-transform: none;
                // -ms-transform: none;
                // transform: none;
            }
        
            // @include responsive-width($laptop-m) {
            //     bottom: 30px;
            // }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 0px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                    margin-right: 0px;
                }
        
                @include responsive-width($laptop-s) {
                    // width: auto;
                    width: 83%;
                    margin-right: -80px;
                }
        
                @include responsive-width($laptop-m) {
                    // width: 850px;
                    // margin-right: -120px;
                    width: auto;
                    margin-right: -40px;
                }

                @include responsive-width($desktop_s) {
                    // width: 850px;
                    // margin-right: -120px;
                    // width: 860px;
                    margin-right: -45px;
                }
            }
        }

        .e-button {

            &-buy {    
                margin-top: -22px;
                position: relative;
                z-index: 2;
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 40px;
                        margin-top: 30px;
                        // margin-top: 58px;
                    }
            
                    @include responsive-width($laptop-s) {
                        margin-top: 30px;
                        margin-left: 30px;
                    }
            
                    @include responsive-width($laptop-m) {
                        margin-top: 30px;
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: relative;
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;
            z-index: 2;

            @include responsive-width($tablet-m) {
                position: absolute;
                font-size: 9px;
                padding: 0px 10px 0;
                bottom: 3px;
                right: 0;
                max-width: 480px;
            }

            @include responsive-width($laptop-s) {
                display: block;
                // max-width: 518px;
                // right: 30px;
                // bottom: 6px;
                padding: 0;
                margin: 0;
                            
                max-width: 688px;
                right: 42px;
                bottom: 46px;
            }

            @include responsive-width($laptop-m) {
                max-width: 696px;
                right: 170px;
                bottom: 32px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}