.entel__slider--home__item__content.entel__slider--home__blackfriday_acc {
    background: #001322;//$blue;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            position: absolute;
            max-width: 100%;
            height: 100%;
            top: 0%;
            left: 50%;
            -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            margin-bottom: 0;
        
            @include responsive-width($tablet-m) {
                width: 100%;
                text-align: left;
                padding-left: 10px;
            }

            @include responsive-width($laptop-m) {
                margin-left: -90px;
            }

            img {
                position: relative;
                margin-top: 10px;
        
                @include responsive-width($tablet-m) {     
                    max-width: 177px;
                    margin-left: 40px;
                    margin-top: 90px;
                }

                @include responsive-width($laptop-s) {
                    max-width: 193px;
                    margin-left: 10px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                }
            }
            
            &-detail {
                position: absolute;
                left: 50%;
                top: 0;

                @include responsive-width($tablet-m) {
                    left: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 2000px;
                    height: 2000px;
                    background-color: $white;
                    -webkit-border-radius: 40px;
                    -moz-border-radius: 40px;
                    border-radius: 40px;

                    -moz-transform: rotate(-6deg) skew(3deg) translate(1px, -1959px);
                    -webkit-transform: rotate(-6deg) skew(3deg) translate(1px, -1959px);
                    -o-transform: rotate(-6deg) skew(3deg) translate(1px, -1959px);
                    -ms-transform: rotate(-6deg) skew(3deg) translate(1px, -1959px);
                    transform: rotate(-6deg) skew(3deg) translate(1px, -1959px);
                    
                    @include responsive-width($tablet-m) {
                        -webkit-border-radius: 80px;
                        -moz-border-radius: 80px;
                        border-radius: 80px;
                        -moz-transform: rotate(-5deg) skew(-15deg) translate(-1884px, -28px);
                        -webkit-transform: rotate(-5deg) skew(-15deg) translate(-1884px, -28px);
                        -o-transform: rotate(-5deg) skew(-15deg) translate(-1884px, -28px);
                        -ms-transform: rotate(-5deg) skew(-15deg) translate(-1884px, -28px);
                        transform: rotate(-5deg) skew(-15deg) translate(-1884px, -28px);
                    }

                    // @include responsive-width($laptop-s) {
                    //     -moz-transform: rotate(7deg) skew(-10deg) translate(-1978px, -1616px);
                    //     -webkit-transform: rotate(7deg) skew(-10deg) translate(-1978px, -1616px);
                    //     -o-transform: rotate(7deg) skew(-10deg) translate(-1978px, -1616px);
                    //     -ms-transform: rotate(7deg) skew(-10deg) translate(-1978px, -1616px);
                    //     transform: rotate(7deg) skew(-10deg) translate(-1978px, -1616px);
                    // }

                    @include responsive-width($laptop-m) {
                        -moz-transform: rotate(-5deg) skew(-15deg) translate(-1914px, -28px);
                        -webkit-transform: rotate(-5deg) skew(-15deg) translate(-1914px, -28px);
                        -o-transform: rotate(-5deg) skew(-15deg) translate(-1914px, -28px);
                        -ms-transform: rotate(-5deg) skew(-15deg) translate(-1914px, -28px);
                        transform: rotate(-5deg) skew(-15deg) translate(-1914px, -28px);
                    }
                }

                &::before {
                    position: absolute;
                    content: '';
                    display: none;
                    width: 2000px;
                    height: 2000px;
                    background-color: $orange;
                    -webkit-border-radius: 40px;
                    -moz-border-radius: 40px;
                    border-radius: 40px;

                    // -moz-transform: rotate(12deg) skew(-8deg) translate(-2257px, -1678px);
                    // -webkit-transform: rotate(12deg) skew(-8deg) translate(-2257px, -1678px);
                    // -o-transform: rotate(12deg) skew(-8deg) translate(-2257px, -1678px);
                    // -ms-transform: rotate(12deg) skew(-8deg) translate(-2257px, -1678px);
                    // transform: rotate(12deg) skew(-8deg) translate(-2257px, -1678px);
                    
                    @include responsive-width($tablet-m) {
                        display: block;
                        -moz-transform: rotate(0deg) skew(-15deg) translate(-1920px, 262px);
                        -webkit-transform: rotate(0deg) skew(-15deg) translate(-1920px, 262px);
                        -o-transform: rotate(0deg) skew(-15deg) translate(-1920px, 262px);
                        -ms-transform: rotate(0deg) skew(-15deg) translate(-1920px, 262px);
                        transform: rotate(0deg) skew(-15deg) translate(-1920px, 262px);
                    }
                    @include responsive-width($laptop-m) {
                        -moz-transform: rotate(0deg) skew(-15deg) translate(-1950px, 212px);
                        -webkit-transform: rotate(0deg) skew(-15deg) translate(-1950px, 212px);
                        -o-transform: rotate(0deg) skew(-15deg) translate(-1950px, 212px);
                        -ms-transform: rotate(0deg) skew(-15deg) translate(-1950px, 212px);
                        transform: rotate(0deg) skew(-15deg) translate(-1950px, 212px);
                    }
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            // display: none;
            margin: 0;
            width: 100%;
            text-align: center;
            // -ms-transform: translate(-10px,-43%);
            // transform: translate(-10px,-43%);
        
            @include responsive-width($tablet-m) {
                // display: none;
                margin: -42px 0 0 0;
                position: absolute;
                display: block;
                top: 50%;
                -ms-transform: translate(-2px, -13%);
                transform: translate(-2px, -13%);
            }

            @include responsive-width($laptop-s) {
                margin: -62px 0 0 0;
                -ms-transform: translate(0px, -130px);
                transform: translate(0px, -130px);
            }

            &-img {
                position: relative;
                display: block;

                @include responsive-width($tablet-m) {
                    text-align: right;
                }
            }

            img {
                max-width: 100%;
                display: inline-block;
                // margin-right: 0;
                margin: 40px 0 0 0;
        
                @include responsive-width($tablet-m) {
                    // max-width: 56%;
                    // margin-top: 20px;
                    // margin-right: 3%;
                    max-width: 460px;
                    margin-top: 10px;
                    margin-right: 20px;
                }

                @include responsive-width($laptop-s) {
                    max-width: 620px;
                    width: auto;
                    // margin-right: -40px;
                    margin-top: 50px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    margin-top: 25px;
                    margin-right: -60px;
                    // width: auto;
                    // margin-right: -40px;
                    // margin-top: 50px;
                }
            }
        }

        .e-button-buy {
            margin-top: 30px;

            @include responsive-width($tablet-m) {
                // margin-top: -63px;
                margin-top: 0px;
            }

            // @include responsive-width($laptop-s) {    
            //     margin-top: 0px;
            // }
            
            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-left: 50px;
                    margin-top: 10px;
                }

                @include responsive-width($laptop-s) {
                    // margin-top: -30px;
                    margin-top: 15px;
                    margin-left: 20px;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }
                
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;  
            letter-spacing: -0.001em;

            @include responsive-width($tablet-m) {
                position: absolute;
                left: 0;
                bottom: 30px;
                display: block;
                width: 100%;
                max-width: 270px;
                font-size: 9px;
                line-height: 11px;
                // padding: 0;
                // padding-left: 10px;
                // margin-left: 0;
                // margin-top: 30px;
            }

            // @include responsive-width($laptop-s) {
            //     margin-top: 68px;
            // }

            @include responsive-width($laptop-m) {
                width: 300px;
                margin-left: -90px;
                bottom: 12px;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
