.entel__slider--home__item__content.entel__slider--home__item__apple_migra {
    background: #0c1b01; /* Old browsers */
    background: -moz-linear-gradient(top,  #0c1b01 0%, #021e39 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #0c1b01 0%,#021e39 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #0c1b01 0%,#021e39 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c1b01', endColorstr='#021e39',GradientType=0 ); /* IE6-9 */
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: none;
        }

        &__textbanner {
            display: block;
            font-weight: bold;
            text-align: center;
            padding-top: 20px;
        
            @include responsive-width($tablet-m) {
                padding-top: 50px;
                z-index: 2;
                left: auto;
                width: 100%;
                text-align: left;
                margin-left: 20px;
                position: relative;
            }

            @include responsive-width($laptop-s) {
                margin-left: 20px;
            }

            img {
                display: inline-block;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    max-width: none;
                    width: auto;
                }

                @include responsive-width($laptop-m) {
                    width: auto;
                    display: block;
                }
                
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: -1px;

            @include responsive-width($mobile-l) {
                text-align: center;
            }

            @include responsive-width($tablet-m) {
                right: 0;
                bottom: 0;
                max-width: 768px;
                text-align: right;
            }

            @include responsive-width($laptop-s) {
                max-width: 1024px;
            }
            
            &-detail {
                position: absolute;
                left: 50%;
                top: 0;

                @include responsive-width($tablet-m) {
                    left: auto;
                    right: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 520px;
                    z-index: 1;
                    background-color: $white;
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;

                    -moz-transform: translate(-979px, 83px) skew(-3deg) rotate(-10deg);
                    -webkit-transform: translate(-979px, 83px) skew(-3deg) rotate(-10deg);
                    -o-transform: translate(-979px, 83px) skew(-3deg) rotate(-10deg);
                    -ms-transform: translate(-979px, 83px) skew(-3deg) rotate(-10deg);
                    transform: translate(-979px, 83px) skew(-3deg) rotate(-10deg);

                    @include responsive-width($tablet-m) {
                        width: 556px;
                        -webkit-border-top-left-radius: 40px;
                        -moz-border-top-left-radius: 40px;
                        border-top-left-radius: 40px;
                        -moz-transform: translate(-487px, 68px) skew(-9deg) rotate(-12deg);
                        -webkit-transform: translate(-487px, 68px) skew(-9deg) rotate(-12deg);
                        -o-transform: translate(-487px, 68px) skew(-9deg) rotate(-12deg);
                        -ms-transform: translate(-487px, 68px) skew(-9deg) rotate(-12deg);
                        transform: translate(-487px, 68px) skew(-9deg) rotate(-12deg);
                    }

                    @include responsive-width($laptop-s) {
                        width: 706px;
                        -moz-transform: translate(-672px, 90px) skew(-10deg) rotate(-12deg);
                        -webkit-transform: translate(-672px, 90px) skew(-10deg) rotate(-12deg);
                        -o-transform: translate(-672px, 90px) skew(-10deg) rotate(-12deg);
                        -ms-transform: translate(-672px, 90px) skew(-10deg) rotate(-12deg);
                        transform: translate(-672px, 90px) skew(-10deg) rotate(-12deg);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: translate(-692px, 94px) skew(-10deg) rotate(-12deg);
                        -webkit-transform: translate(-692px, 94px) skew(-10deg) rotate(-12deg);
                        -o-transform: translate(-692px, 94px) skew(-10deg) rotate(-12deg);
                        -ms-transform: translate(-692px, 94px) skew(-10deg) rotate(-12deg);
                        transform: translate(-692px, 94px) skew(-10deg) rotate(-12deg);
                    }
                }
            }

            img {
                z-index: 1;
                max-width: none;
                width: auto;
                position: relative;
                margin-right: 0px;
                display: inline-block;

                @include responsive-width($tablet-m) {
                    top: 0;
                    max-width: none;
                    margin-right: -88px;
                }

                @include responsive-width($laptop-s) {
                    margin-right: -112px;
                }
            }
        }

        .e-button-buy {
            left: 0;
            z-index: 1;
            width: 100%;
            bottom: 14px;
            position: absolute;

            @include responsive-width($tablet-m) {
                bottom: auto;
                margin-top: 20px;
                padding-left: 28px;
                position: relative;
            }

            @include responsive-width($laptop-s) {
                padding-left: 30px;
                margin-top: -16px;
            }

            .btn-buy {
                padding: 0;
                height: 40px;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-top: 0;
                    margin-bottom: 0;
                    width: 130px;
                }

                @include responsive-width($laptop-s) {
                    margin-bottom: 40px;
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: white;
            text-align: left;
            letter-spacing: -0.05em;
            max-width: 90%;
            display: none;
            
            @include responsive-width($tablet-m) {
                font-size: 9px;
                color: white;
                text-align: left;
                line-height: 10px;
                letter-spacing: -0.05em;
                position: relative;
                bottom: -20px;
                            
                display: none;
                width: 260px;
                margin: -10px 0 0 0;
                padding: 0 0 0 30px;
            }

            @include responsive-width($laptop-s) {
                bottom: 20px;
                width: 310px;
                display: block;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
