.entel__slider--home__item__content.entel__slider--home__item__dia_de_la_madre_form {
    background-color: $blue;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 950px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1100px !important;
        }
        
        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 10px 0 0;
            margin: 0 auto;
            width: 100%;
            max-width: 190px;
            z-index: 3;
            position: relative;
        
            @include responsive-width($tablet-m) {
                padding: 5px 25px;
                padding-top: 60px;
                padding-left: 30px;
                width: 100%;
                max-width: none;
            }
        
            @include responsive-width($laptop-s) {   
                margin-left: 0px;
                padding-left: 20px;
                padding-top: 40px;
                z-index: 1;
            }

            @include responsive-width($laptop-m) { 
                margin-left: 0px;
                padding-top: 35px;
            }

            @include responsive-width($desktop_s) { 
                margin-left: -10px;
                padding-top: 35px;
            }

            &-detail {
                position: absolute;
                left: 0;
                top: 0;

                &::after {
                    position: absolute;
                    content: '';
                    display: none;
                    z-index: 1;
                    background-color: $white;

                    @include responsive-width($tablet-m) {
                        display: block;
                        width: 3000px;
                        height: 3000px;

                        -moz-transform: translate(-3326px, -1612px) skew(28deg) rotate(52deg);
                        -webkit-transform: translate(-3326px, -1612px) skew(28deg) rotate(52deg);
                        -o-transform: translate(-3326px, -1612px) skew(28deg) rotate(52deg);
                        -ms-transform: translate(-3326px, -1612px) skew(28deg) rotate(52deg);
                        transform: translate(-3326px, -1612px) skew(28deg) rotate(52deg);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-3326px, -1612px) skew(28deg) rotate(52deg);
                        -webkit-transform: translate(-3326px, -1612px) skew(28deg) rotate(52deg);
                        -o-transform: translate(-3326px, -1612px) skew(28deg) rotate(52deg);
                        -ms-transform: translate(-3326px, -1612px) skew(28deg) rotate(52deg);
                        transform: translate(-3326px, -1612px) skew(28deg) rotate(52deg);
                    }
                    
                }

            }

            form {
                z-index: 2;
                text-align: left;
                position: relative;
                margin-top: 8px;

                .form--content {
                    width: 186px;
                    text-align: center;
                    margin: auto;

                    @include responsive-width($tablet-m) {
                        width: auto;
                        text-align: left;
                    }
                    .form--head {
                        p {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 14px;
                            text-align: left;
                            color: #004CC1;
                            margin: 0px;

                            span {
                                font-weight: 400;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 19px;
                                line-height: 19px;
                            }
                        }
                        
                        h2 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 20px;
                            text-align: left;
                            text-transform: uppercase;
                            color: #00B9EB;
                            margin: 4px 0px 5px;

                            @include responsive-width($tablet-m) {
                                font-size: 34px;
                                line-height: 30px;
                                margin: 6px 0px 11px;
                            }
                        }

                        h3 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: left;
                            color: $white;
                            margin: 0px 0px 5px;

                            @include responsive-width($tablet-m) {
                                color: #004CC1;
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }
                        }
                    }

                    .form--body {
                        .form--number {
                            margin-bottom: 4px;

                            input {
                                border: 1.5px solid #9E9FA1;
                                box-sizing: border-box;
                                border-radius: 7.3332px;
                                width: 100%;
                                height: 33px;
                                padding: 10px 15px;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                align-items: center;
                                letter-spacing: 0.0015em;
                                color: #9E9FA1;

                                &.error {
                                    border-color: #f10101;
                                }

                                &.error::placeholder {
                                    color: #f10101;
                                }

                                @include responsive-width($tablet-m) {
                                    width: 236px;
                                    height: 51px;
                                    font-size: 14px;
                                    line-height: 17px;
                                }
                            }

                            @include responsive-width($tablet-m) {
                                margin-bottom: 18px;
                            }
                        }

                        .form--check{
                            display: flex;
                            align-items: center;

                            input {
                                display: none;
                            }

                            .input-mask-top{
                                width: 14px;
                                height: 14px;
                                border: 2px solid #FF560A;
                                box-sizing: border-box;
                                border-radius: 4.58325px;
                                margin-top: 2px;
                                background: #FF560A;
                                position: relative;

                                @include responsive-width($tablet-m) {
                                    width: 18px;
                                    height: 18px;
                                }

                                &.error {
                                    border-color:#f10101;
                                    background: #ffffff;
                                }

                                &::after{
                                    content: "";
                                    left: 3px;
                                    top: 0px;
                                    width: 4px;
                                    height: 9px;
                                    border: solid white;
                                    border-width: 0px 2px 2px 0px;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                    position: absolute;

                                    @include responsive-width($tablet-m) {
                                        left: 5px;
                                        top: 1px;
                                    }

                                    @include responsive-width($laptop-m) {
                                        left: 5px;
                                        top: 1px;
                                    }
                                }
                            }

                            a {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 8.95284px;
                                line-height: 15px;
                                color: $white;
                                margin-left: 5px;

                                @include responsive-width($tablet-m) {
                                    color: #004CC1;
                                }

                                span {
                                    font-weight: bold;
                                    text-decoration: underline;
                                }
                            }
                        }

                        button {
                            background: #FF560A;
                            border-radius: 45.8325px;
                            color: #ffffff;
                            cursor: pointer;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 1px;
                            text-align: center;
                            padding: 15px 5px;
                            text-transform: uppercase;
                            margin-top: 10px;
                            border: 0px;
                            width: 126px;
                            height: 24px;
                            // margin-left: 36px;

                            @include responsive-width($tablet-m) {
                                margin-top: 15px;
                                margin-left: 0px;
                                width: 142px;
                                height: 34px;
                                font-size: 13px;
                                line-height: 4px;
                            }

                            @include responsive-width($laptop-m) {
                                padding: 15px 28px;
                                width: 142px;
                                height: 34px;
                                font-size: 13px;
                                line-height: 4px;
                            }
                        }
                    }

                    .form--loading{
                        display: none;
                        padding: 25px 25px 0px;
                        background: $blue;
                        margin-top: -18px;
                        position: relative;
                        text-align: center;
                        height: 110px;
                        width: 190px;
                        
                        @include responsive-width($tablet-m) {
                            background: $white;
                            margin-top: -31px;
                            width: 270px;
                        }

                        img {
                            animation: rotating 2s linear infinite;
                            width: 70px;
                            display: inline-block;

                            @keyframes rotating {
                                from {
                                    transform: rotate(0deg);
                                }
                                to {
                                    transform: rotate(360deg);
                                }
                            }

                            @include responsive-width($tablet-m) {
                                width: 100px;
                            }
                        }

                    }

                    .form--thanks {
                        display: none;
                        width: 190px;
                        background: $blue;
                        margin-top: -18px;
                        position: relative;
                        text-align: center;
                        height: 110px;
                        
                        @include responsive-width($tablet-m) {
                            background: $white;
                            margin-top: -31px;
                            width: 270px;
                        }

                        img {
                            margin-bottom: 5px;
                            @include responsive-width($tablet-m) {
                                margin-bottom: 0px;
                            }
                        }
                        p, span {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: center;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                color: #004CC1;
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }
                        }

                        @include responsive-width($tablet-m) {
                            width: 200px;
                        }
                    }

                    .form--duplicate {
                        display: none;
                        width: 190px;
                        padding-top: 15px;
                        background: $blue;
                        margin-top: -18px;
                        position: relative;
                        text-align: center;
                        height: 110px;
                        
                        @include responsive-width($tablet-m) {
                            background: $white;
                            margin-top: -31px;
                            width: 270px;
                        }

                        p{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                color: #004CC1;
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }

                        @include responsive-width($tablet-m) {
                            width: 250px;
                        }
                    }

                    .form--error {
                        display: none;
                        width: 190px;
                        background: $blue;
                        margin-top: -18px;
                        position: relative;
                        text-align: center;
                        height: 110px;
                        
                        @include responsive-width($tablet-m) {
                            background: $white;
                            margin-top: -31px;
                            width: 270px;
                        }

                        p{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                color: #004CC1;
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }

                        @include responsive-width($tablet-m) {
                            width: 250px;
                        }
                    }

                    .form--callback {
                        margin-top: 2px;

                        p {
                            margin: 0px;
                            font-size: 10px;
                            line-height: 11px;
                            font-style: normal;
                            font-weight: normal;

                            a {
                                color: #004FB9;
                                text-decoration: underline;
                                font-weight: bold;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }

                        @include responsive-width($tablet-m) {
                            margin-top: 8px;
                        }
                    }
                }

                @include responsive-width($tablet-m) {
                    margin-top: 18px;
                }
            }

            img {
                position: relative;
                z-index: 2;
                margin: 0;
        
                @include responsive-width($tablet-m) {
                    width: auto;
                    margin-left: 0;
                }
        
                @include responsive-width($laptop-s) {
                    width: auto;
                    margin-left: 0px;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-left: 0;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 auto 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 15px;
            z-index: 2;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: auto;
                bottom: 30px;
                right: 40px;
                width: auto;
                z-index: 3;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            
            @include responsive-width($laptop-s) {
                bottom: 82px;
                right: 0px;
            }
        
            @include responsive-width($laptop-m) {
                bottom: 46px;
                right: -18px;
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 0px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                    margin-right: -20px;
                }
        
                @include responsive-width($laptop-s) {
                    width: 780px;
                    margin-right: 30px;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                }

                // @include responsive-width($desktop_s) {
                //     margin-right: -45px;
                // }
            }
        }

        .e-button {

            &-buy {    
                margin-top: -22px;
                position: relative;
                z-index: 2;
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 40px;
                        margin-top: 30px;
                        // margin-top: 58px;
                    }
            
                    @include responsive-width($laptop-s) {
                        margin-top: 30px;
                        margin-left: 30px;
                    }
            
                    @include responsive-width($laptop-m) {
                        margin-top: 30px;
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: relative;
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;
            z-index: 2;

            @include responsive-width($tablet-m) {
                position: absolute;
                font-size: 9px;
                padding: 0px 10px 0;
                bottom: 3px;
                right: 0;
                max-width: 480px;
            }

            @include responsive-width($laptop-s) {
                display: block;
                max-width: 658px;
                right: 30px;
                bottom: 16px;
                padding: 0;
                margin: 0;
            }

            @include responsive-width($laptop-m) {
                max-width: 776px;
                right: 0;
                bottom: 9px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}