.entel__slider--home__item__content.entel__slider--home__item__sansung-galaxy-days {
    background: $blue;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            padding-top: 12px;
            margin: 0;
            z-index: 2;
            position: relative;
        
            @include responsive-width($tablet-m) {
                padding-top: 40px;
                padding-left: 40px;
                width: 100%;
                text-align: left;
            }
        
            @include responsive-width($laptop-s) {   
                margin-left: 30px;
                padding-left: 0;
                padding-top: 36px;
            }

            @include responsive-width($laptop-m) { 
                margin-left: 0;
            }
            
            
            &-detail {
                position: absolute;
                right: 0;
                top: 0;

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 520px;
                    z-index: 1;
                    background-color: $white;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    border-radius: 50px;

                    -moz-transform: rotate(172deg) skew(3deg) translate(27%, 90%);
                    -webkit-transform: rotate(172deg) skew(3deg) translate(27%, 90%);
                    -o-transform: rotate(172deg) skew(3deg) translate(27%, 90%);
                    -ms-transform: rotate(172deg) skew(3deg) translate(27%, 90%);
                    transform: rotate(172deg) skew(3deg) translate(27%, 90%);

                    @include responsive-width($tablet-m) {
                        // display: none;
                        width: 2000px;
                        height: 490px;
                        -webkit-border-radius: 70px;
                        -moz-border-radius: 70px;
                        border-radius: 70px;

                        -moz-transform: translate(-2560px, -74px) rotate(-7deg) skew(-19deg, 13deg);
                        -webkit-transform: translate(-2560px, -74px) rotate(-7deg) skew(-19deg, 13deg);
                        -o-transform: translate(-2560px, -74px) rotate(-7deg) skew(-19deg, 13deg);
                        -ms-transform: translate(-2560px, -74px) rotate(-7deg) skew(-19deg, 13deg);
                        transform:translate(-2560px, -74px) rotate(-7deg) skew(-19deg, 13deg);
                    }

                    @include responsive-width($laptop-s) {
                        // display: none;
                        // width: 2000px;
                        // height: 2000px;
                        // -webkit-border-radius: 100px;
                        // -moz-border-radius: 100px;
                        // border-radius: 100px;

                        -moz-transform: translate(-2560px, -74px) rotate(-7deg) skew(-19deg, 13deg);
                        -webkit-transform: translate(-2560px, -74px) rotate(-7deg) skew(-19deg, 13deg);
                        -o-transform: translate(-2560px, -74px) rotate(-7deg) skew(-19deg, 13deg);
                        -ms-transform: translate(-2560px, -74px) rotate(-7deg) skew(-19deg, 13deg);
                        transform: translate(-2560px, -74px) rotate(-7deg) skew(-19deg, 13deg);
                    }
                    
                }
            }

            img {
                position: relative;
                z-index: 2;
                // margin-right: 15px;
        
                @include responsive-width($tablet-m) {
                    width: 197px;
                    // width: 297px;
                }
        
                @include responsive-width($laptop-s) {
                    // width: auto;
                    width: auto;
                }
        
                // @include responsive-width($laptop-m) {
                //     width: auto;
                // }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: relative;
            top: 54px;
            z-index: 2;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: 50%;
                right: 0;
                width: auto;
                -moz-transform: translateY(-46%);
                -webkit-transform: translateY(-46%);
                -o-transform: translateY(-46%);
                -ms-transform: translateY(-46%);
                transform: translateY(-46%);
            }
        
            @include responsive-width($laptop-s) {
                position: absolute;
                top: 11%;
                left: 50%;
                width: auto;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
        
            @include responsive-width($laptop-m) {
                left: 49%;
                top: 6%;
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                // margin-right: 5px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    // width: auto;
                    width: 450px;
                    margin-right: 50px;
                }
        
                @include responsive-width($laptop-s) {
                    // width: auto;
                    //width: 450px;
                    margin-top: 10px;
                }
        
                @include responsive-width($laptop-m) {
                    width: 563px;
                    margin-right: 0;
                }
            }
        }

        .e-button {

            &-buy {    
                margin-top: 36px;
                position: relative;
                z-index: 2;
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 40px;
                        margin-top: 30px;
                        // margin-top: 58px;
                    }
            
                    @include responsive-width($laptop-s) {
                        margin-top: 30px;
                        margin-left: 30px;
                    }
            
                    @include responsive-width($laptop-m) {
                        margin-top: 30px;
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: relative;
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: justify;
            letter-spacing: -0.05em;
            z-index: 2;

            @include responsive-width($tablet-m) {
                display: block;
                max-width: 170px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                padding-left: 10px;
                margin-left: 30px;
                margin-top: 40px;
                color: $blue;
            }

            @include responsive-width($laptop-s) {
                max-width: 312px;
                padding-left: 0;
                margin-left: 30px;
            }

            @include responsive-width($laptop-m) {
                max-width: 322px;
                margin-top: 25px;
                margin-left: 0;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
