.entel__slider--home__item__content_mcafee {
    background-image: url($m_image_path +'2020/12/banner-home-mcafee-mob.jpg');
    // background-position: top center;
    // background-size: 100% 450px;
    background-repeat: no-repeat;
    background-color: #ffffff;
    @media screen and (min-width:468px) and (max-width:668px){
        background-position: 50% 20%;
    }
    @media screen and (min-width:669px) and (max-width:767px){
        background-position: 50% 30%;
    }
    @media screen and (max-width:467px){
        background-position: top center;
    }
    @include responsive-width($tablet_m) {
        background-image: url($m_image_path +'2020/12/banner-home-mcafee-desk.jpg');
        background-position: center top;
        background-size: cover;

    }
    .btn-mcafee {
        font-size: 12px;
        width: 140px !important;
        padding: 10px 15px;
        font-weight: 600;
        margin: 10px auto;
        @include responsive-width($tablet_m) {
            font-size: 14px;
            padding: 15px 29px;
            width: 186px !important;
            margin: 0;
        }
    }
    .principalcontent {
        // top: 84%;
        @include responsive-width($tablet_m) {
            // top: 53%;
            transform: translate(-57%, -49%);
        }
        @include responsive-width(1024px) {
            transform: translate(-47%, -49%);
        }
        @include responsive-width(1220px) {
            transform: translate(-57%, -49%);
        }
        &__textbanner { 
            @include responsive-width($tablet_m) {
                max-width: 485px;
            }
            img {
                position: relative;
                top: 50px;
                background: #fff;
                margin: auto;
                display: block;
                @include responsive-width($tablet_m) {
                    max-width: 514px;
                    width: 150%;
                    position: initial;
                }
                // @include responsive-width(992px) {
                //     max-width: 590px;
                // }
    
            }
        }
        &__imgbanner { 
            @include responsive-width($tablet_m) {
                max-width: 270px;
            }

            img {
                @include responsive-width($tablet_m) {
                    max-width: 220px;
                }
                @include responsive-width(992px) {
                    max-width: 270px;
                }
            }
        }
    }
    &.entel__slider--home__item__content_mcafee {

        .principalcontent {
            transform: translate(-50%, -30%);
            &__model {
                margin-top: 0px;

                .dscto {
                    width: 120px;
                    height: 30px;
                    padding: 5px;
                    text-align: center;
                    border-radius: 7px;
                    margin-bottom: 7px;
                    background-color: $extra_blue;

                    span {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    span:first-child {
                        width: 40%;
                        font-size: 20px;
                        line-height: 23px;
                    }

                    span:last-child {
                        width: 60%;
                        font-size: 8px;
                        line-height: 7px;
                    }

                    @include responsive-width($tablet_m) {
                        width: 175px;
                        height: 36px;
                        margin-bottom: 14px;

                        span:first-child {
                            font-size: 30px;
                        }
    
                        span:last-child {
                            font-size: 11px;
                            line-height: 11px;
                        }
                    }                    
                }

                p {
                    font-size: 93px;
                    margin-top: -14px;
                    line-height: 1;
                    letter-spacing: -2px;

                    @include responsive-width($tablet_m) {
                        font-size: 118px;
                        margin: 0;
                        span {
                            font-size: 66px;
                        }
                    }
                }

                small {
                    position: absolute;
                    width: 75px;
                    font-size: 13px;
                    line-height: normal;

                    &:nth-of-type(2) {
                        background: transparent;
                    }

                    .cuota {
                        width: 40px;
                        font-size: 12px;
                        line-height: 10px;
                        position: absolute;
                    }
                }
            }

            &__imgbanner {
                display: none;

                @media screen and (max-width: 320px) {
                    margin-left: 20%;
                }

                @media screen and (min-width: 375px) {
                    margin-left: 30%;
                }

                @media (max-width: 923px) and (min-width: 540px) {
                    margin-left: 10%;          
                }

                @include responsive-width($tablet_m) {
                    margin-left: 0;
                    width: 33%;
                    top: 50px;
                    left: -100px;
                    display: inline-block;
                } 

                @include responsive-width($tablet_ll) {
                    top: 75px;
                    left: -175px;
                } 
            }

            &__plan {
                position: relative;

                ul li:last-child {
                    color: $extra_blue;
                }

                ul {
                    position: relative;

                    li {
                        &::before {
                            content: "";
                        }
                        
                        @include responsive-width($tablet_m) {
                            font-size: 14px;
                        }  
                    }
                }
            }

            .e-button-buy {
                margin-top: 5rem;
                @include responsive-width($tablet_m) {
                    position: relative;
                    top: 0;
                    margin-top: 7px;
                }

                small {
                    color: $blue;
                }

                img {
                    width: 239px;
                }

                p {
                    color: #ffffff;
                    font-size: 12px;
                    margin: 12px 0 21px;
                }
            }

            @include responsive-width($tablet_m) {
                transform: translate(-50%, -45%);

            }
        }
    }
}