#slider-entel {
  .slick-dots li {
    max-width: calc(100% / 10);
    margin: 0 5px 0 0;
  }
  .slick-dots li button {
    width: 16px;
    height: 4px;
    border-radius: 1px;
    max-width: 100%;
    @include responsive-width($tablet_m){
      width: 32px;
    }
    &::before{
      content: "";
      width: 0;
      height: 100% !important;
      position: absolute;
      transition: none;
      background-color: #004fb9;
      opacity: 1;
    }
  }
  .slick-dots li.slick-active button {
    background-color: #ddd;
    box-shadow: none;
    &::before{
      content: "";
      width: 100%;
      position: absolute;
      transition: all 5s linear;
    }
  }
  .slick-arrow {
    background-image: none;
    background-color: rgba(56, 60, 71, 0.5);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    // transform: translate(-50%, -50%);
    // border: solid rgba(255, 255, 255, 1);
    // border-width: 0 4px 4px 0;
    // display: inline-block;
    // padding: 4px;
    // width: 20px;
    // height: 20px;
    &::before {
      // background-color: rgba(56, 60, 71, 0.5);
      // border-radius: 50%;
      // width: 45px;
      // height: 45px;
      top: 0;
      // background-image: none;
      border: solid rgba(255, 255, 255, 1);
      border-width: 0 4px 4px 0;
      display: block;
      padding: 4px;
      width: 20px;
      height: 20px;
      opacity: 1;
    }
  }
  .slick-prev,
  .slick-next {
  }
  .slick-prev {
    // transform: rotate(135deg);
    // -webkit-transform: rotate(135deg);
    &::before {
      // transform: translate(-50%, -50%);
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      left: 32%;
    }
  }
  .slick-next {
    // transform: rotate(-45deg);
    // -webkit-transform: rotate(-45deg);
    &::before {
      // transform: translate(-50%, -50%);
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      right: -32%;
    }
  }
}
