.entel__slider--home__item__content.entel__slider--home__bicentenario {
    background-color: #004FB9;
    background-image: url($m_image_path + "2021/07/banner-bicentenario-bg-mob.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 0;
    position: relative;

    @include responsive-width($tablet_m) {
        background-image: url($m_image_path + "2021/07/banner-bicentenario-bg-desk.png");
    }


    @include responsive-width($laptop_s) {
        max-height: 303.5px;
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px !important;
            display: flex;
            flex-direction: column;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1030px !important;
            flex-direction: row;
        }

        @include responsive-width($laptop-m) {
            max-width: 1200px !important;
        }


        &__textbanner {
            display: none;
            text-align: center;
            position: initial;
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
            padding-top: 12px;
            z-index: 3;


            @include responsive-width($laptop-s) {
                display: inline-block;
                width: 450px;
                margin-left: 25px;
                margin-top: 31px;
                margin-right: 30px;
            }

            @include responsive-width($laptop-m) {
                width: 485px;
            }

            .logo-entel-5g {
                display: none;
                width: auto;
                margin-bottom: 10px;

                @include responsive-width($laptop-s) {
                    display: block;
                    width: 100%;
                }
            }

        }

        .e-button-buy {
            z-index: 3;
            bottom: 90px;
            padding-left: 10px;
            position: absolute;

            @include responsive-width($tablet-m) {
                margin-left: auto;
                margin-right: auto;
                left: 0;
                right: 0;
                bottom: 60px;

            }

            @include responsive-width($laptop-s) {
                left: 15px;
                margin: 0;
                right: auto;
            }


            @include responsive-width($laptop-m) {
                bottom: 73px;
            }


            a {
                margin: 0;
                width: 142px;
                height: 40px;
                padding: 11px 15px;
                font-size: 13px;

                @include responsive-width($tablet-m) {
                    margin: auto;
                    width: 170px;
                    height: 50px;
                    padding: 16px;
                    font-size: 14px;
                }
            }

            // @include responsive-width($laptop-s) {
            //         bottom: -50px;
            // }
        }


        &__imgbanner {
            margin: auto;
            width: 100%;
            display: block;
            margin-top: 30px;

            @include responsive-width($tablet-m) {
                width: 450px;
                margin-top: 50px;
            }

            @include responsive-width($laptop-s) {
                margin-top: auto;
                max-width: 1200px;
                margin-left: 0;
            }

            @include responsive-width($laptop-m) {
                width: 542px;
                margin-top: 20px;
                margin-left: 3px;
            }

            @include responsive-width($desktop_s) {
                max-width: 1400px;
            }

            // picture{
            //         display: inline-block;
            //         max-width: 90%;
            //         @include responsive-width($tablet-m){
            //                 max-width: none;
            //                 width: 618px;
            //         }
            // }

            img {
                max-width: 100%;
            }
        }

        &__footer {
            max-width: 300px;
            text-align: center;
            padding-top: 15px;
            padding-left: 10px;

            @include responsive-width($tablet-m) {
                bottom: 10px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                position: absolute;
                // max-width: 100%;
            }

            @include responsive-width($laptop-s) {
                bottom: 26px;
                padding: 0;
                width: auto;
                max-width: 100%;
                left: 24px;
            }

            @include responsive-width($laptop-m) {
                bottom: 48px;
            }

            p {
                font-family: Barlow;
                font-style: normal;
                font-weight: normal;
                font-size: 9px !important;
                line-height: 14px;
                color: #ffffff;
                max-width: auto;
                text-align: left;
                position: relative;
                letter-spacing: -0.02em;

                @include responsive-width($tablet-m) {
                    padding: 10px 13px;
                    // max-width: 365px;
                }

                @include responsive-width($laptop-s) {
                    font-size: 10px !important;
                    line-height: 11px;
                    text-align: left;
                    margin: 0;
                    padding: 0px 13px;
                    margin-bottom: 3px;
                }

                @include responsive-width($laptop-s) {
                    max-width: 100%;
                    padding: 0;
                }
            }

            span {
                font-family: Barlow;
                font-style: normal;
                font-weight: normal;
                font-size: 10px !important;
                line-height: 12px;
                color: #ffffff;
                max-width: auto;
                text-align: left;
                margin: auto;
                position: relative;
                padding: 11px 13px;
                bottom: 10px;

                @include responsive-width($tablet-m) {
                    padding: 10px 13px;
                    max-width: 365px;
                    bottom: 10px;
                }

                @include responsive-width($laptop-s) {
                    font-size: 12px !important;
                    line-height: 14px;
                    letter-spacing: 0;
                    max-width: 485px;
                    text-align: left;
                    margin: 0;
                    max-width: 240px;
                    padding: 0px 13px;
                    bottom: 0;
                }
            }
        }


    }

    .entel__slider--home__bicentenario_patron_bg {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url($m_image_path + "2021/07/banner-bicentenario-bg-patron-mob.png");
        background-repeat: repeat no-repeat;
        background-position: center;
        z-index: 1;
    
        @include responsive-width($tablet_m) {
            background-image: url($m_image_path + "2021/07/banner-bicentenario-bg-patron-desk.png");
            background-position-y: 4rem;
        }
    }
}

.principalcontent__legal {
    position: relative;
    z-index: 2;
    left: 0;
    text-align: left;
    width: 100%;
    max-width: 990px;
    display: none;
    padding-left: 40px;

    @include responsive-width($laptop-s) {
        display: block;
        max-height: 50px;
        height: 50px;
        max-width: 1030px !important;
        margin: auto;
        padding: 5px 10px;
    }

    @include responsive-width($laptop-m) {
        max-width: 1200px !important;
        text-align: center;
        padding: 10px;
    }

    p {
        font-size: 10px;
        line-height: 11px;
        color: #4E5057;
        letter-spacing: -0.02em;

        a {
            color: #4E5057;
        }
    }
}