.entel__slider--home__item__content.entel__slider--home__item__hogar_modem {
    background: $blue;
    background-image: url($m_image_path+'2020/06/modem-hogar-mob.png');
    // background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: center -155px;
    background-position: center;

    @media (max-width: 330px) {
        // background-position: center 100%;
    }

    @include responsive-width(390px) {
        // background-position: center 203.5%;
    }

    @include responsive-width($mobile-lg) {
        // background-position: center -160px;
    }

    @include responsive-width($tablet-m) {
        background-image: url($m_image_path+'2020/06/modem-hogar-desk.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: bottom;
    }  

    @include responsive-width($tablet_ll) {
        background-position-x: center;
    }

    @include responsive-width($laptop_m) {
        background-position: left bottom;
    }

    .e-button-buy small {
        color: white;
        padding-top: 21px;
        display: block;
        width: 390px;
        margin: 0 auto;
        position: absolute;
        top: 115%;
        left: -45px;

        @include responsive-width($tablet_m) {
            top: 135%;
            left: -15px;
        }

        @include responsive-width($laptop-s) {
            top: 115%;
        }

        @include responsive-width($laptop_m) {
            max-width: 110%;
            top: 110%;
        }

        a{
            color: #fff;
        }
    }

    .principalcontent {
        width: 90%;
        text-align: center;
        transform: translate(-50%, -30%);

        &__imgbanner {
            margin-left: 0!important;
            
            img {
                max-width: 240px;
                display: inline-block;

                @media screen and (max-width: 324px) {
                    margin-left: 0;
                }

                @include responsive-width($mobile-l) {
                    max-width: 70%;
                }

                @include responsive-width($tablet_m) {
                    max-width: 360px;
                    margin-left: 0 !important;
                }

                @include responsive-width($laptop-s) {
                    max-width: 420px;
                    margin-left: 0 !important;
                }
            }

            p {
                color: white;
                font-size: 18px;
                margin: 11px 0;

                b {
                    color: #00B9EB;
                }
            }

            @include responsive-width($tablet_m) {
                margin-left: 0 !important;
                position: absolute;
                height: auto;
                width: auto;
                right: 0;
                top: 0;
            }
            
        }

        .e-button-buy .btn-buy {
            // margin: 0 auto;
            padding: 15px;
        }

        @media (max-width: $mobile-lg){
            top: 6%;
        }

        @include responsive-width($mobile-l) {
            transform: translate(-50%, -22%);
        }

        @include responsive-width($tablet_m) {
            height: 75%;
            width: 90%;
            transform: translate(-50%, -50%);
            
            &__imgbanner {

                p {
                    font-size: 22px;
                    margin: 11px 0 0 0;
                }
            }

            .e-button-buy .btn-buy {
                width: 130px;
                position: absolute;
                bottom: -10px;
                right: 0;
                font-size: 13px;
                padding: 15px;
            }
        }

        @include responsive-width(1700px) {
            top: 45%;
        }
    }

    .e-button-buy.hidden-lg {
        .btn-buy {
            width: 105px;
            position: absolute;
            bottom: 85px;
            left: 0;
            right: 0;
            margin: 0 auto;
            font-size: 12px;
        }

        small {
            top: 80%;
            width: 100%;
            padding-left: 3px;
            padding-right: 3px;
            left: 0;
        }
    }
}
