.entel__slider--home__item__content.entel__slider--home__internet_power2 {
    background: #00051d;//$blue;
    padding: 0;
    background-image: url($m_image_path + '2020/11/banner-internet-power-ext-mob.jpg');
    background-size: 100%;
    background-position: top right;
    background-repeat: no-repeat;

    @include responsive-width($tablet-m) {
        // background: $blue;
        background-image: url($m_image_path + '2020/11/banner-internet-power-ext-desk.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 82% top;
    }  

    // @include responsive-width(900px) {
    //     background-size: 110%;
    //     background-position: 110px top;
    // }  

    // @include responsive-width(1200px) {
    //     background-size: 100%;
    //     background-position: 200px top;
    // }  

    // @include responsive-width(1400px) {
    //     background-size: contain;
    //     background-position: right top;
    // }  

    // @include responsive-width(1600px) {
    //     background-size: 72%;
    //     background-position: right top;
    // }  

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            // width: 100% !important;
            max-width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            -ms-transform: translate(0%, 0%);
            transform: translate(-0%, 0%);
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;    
            margin-bottom: 11%;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 87%;
                text-align: left;
                padding-left: 30px;
                padding-top: 80px;
            }

            @include responsive-width($laptop-s) {
                padding-top: 80px;
            }

            img {
                // width: 253px;
                margin: 40px 20px 10px 10px;
        
                @include responsive-width($tablet-m) {
                    // width: 243px;
                    margin: auto;
                    // width: 83%;
                }
        
                @include responsive-width($laptop-s) {
                    width: 83%;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                }
            }

            
            &-img {
                position: relative;
            }

            &-detail {
                position: absolute;
                left: 50%;
                top: 0;
                // display: none;

                // @include responsive-width($tablet-m) {
                //     display: block;
                // }

                &::before {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1400px;
                    height: 1400px;
                    background-color: $blue;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    border-radius: 30px;

                    -moz-transform: rotate(-12deg) skew(16deg) translate(-75.5%, 0.5%);
                    -webkit-transform: rotate(-12deg) skew(16deg) translate(-75.5%, 0.5%);
                    -o-transform: rotate(-12deg) skew(16deg) translate(-75.5%, 0.5%);
                    -ms-transform: rotate(-12deg) skew(16deg) translate(-75.5%, 0.5%);
                    transform: rotate(-12deg) skew(16deg) translate(-75.5%, 0.5%);
        
                    @include responsive-width($tablet-m) {
                        -moz-transform: rotate(-12deg) skew(16deg) translate(-86.5%, -10%);
                        -webkit-transform: rotate(-12deg) skew(16deg) translate(-86.5%, -10%);
                        -o-transform: rotate(-12deg) skew(16deg) translate(-86.5%, -10%);
                        -ms-transform: rotate(-12deg) skew(16deg) translate(-86.5%, -10%);
                        transform: rotate(-12deg) skew(16deg) translate(-86.5%, -10%);
                    }
        
                    @include responsive-width($laptop-s) {
                        -moz-transform: rotate(-12deg) skew(16deg) translate(-90.5%, -11%);
                        -webkit-transform: rotate(-12deg) skew(16deg) translate(-90.5%, -11%);
                        -o-transform: rotate(-12deg) skew(16deg) translate(-90.5%, -11%);
                        -ms-transform: rotate(-12deg) skew(16deg) translate(-90.5%, -11%);
                        transform: rotate(-12deg) skew(16deg) translate(-90.5%, -11%);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: rotate(-12deg) skew(16deg) translate(-87.5%, -11%);
                        -webkit-transform: rotate(-12deg) skew(16deg) translate(-87.5%, -11%);
                        -o-transform: rotate(-12deg) skew(16deg) translate(-87.5%, -11%);
                        -ms-transform: rotate(-12deg) skew(16deg) translate(-87.5%, -11%);
                        transform: rotate(-12deg) skew(16deg) translate(-87.5%, -11%);
                    }

                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1440px;
                    height: 1440px;
                    background-color: $white;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    border-radius: 30px;

                    -moz-transform: rotate(-4deg) skew(11deg) translate(-79.5%, 11.7%);
                    -webkit-transform: rotate(-4deg) skew(11deg) translate(-79.5%, 11.7%);
                    -o-transform: rotate(-4deg) skew(11deg) translate(-79.5%, 11.7%);
                    -ms-transform: rotate(-4deg) skew(11deg) translate(-79.5%, 11.7%);
                    transform: rotate(-4deg) skew(11deg) translate(-79.5%, 11.7%);
        
                    @include responsive-width($tablet-m) {
                        -moz-transform: rotate(-4deg) skew(31deg) translate(-75.5%, 3.7%);
                        -webkit-transform: rotate(-4deg) skew(31deg) translate(-75.5%, 3.7%);
                        -o-transform: rotate(-4deg) skew(31deg) translate(-75.5%, 3.7%);
                        -ms-transform: rotate(-4deg) skew(31deg) translate(-75.5%, 3.7%);
                        transform: rotate(-4deg) skew(31deg) translate(-75.5%, 3.7%);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: rotate(-4deg) skew(31deg) translate(-75.5%, 4.2%);
                        -webkit-transform: rotate(-4deg) skew(31deg) translate(-75.5%, 4.2%);
                        -o-transform: rotate(-4deg) skew(31deg) translate(-75.5%, 4.2%);
                        -ms-transform: rotate(-4deg) skew(31deg) translate(-75.5%, 4.2%);
                        transform: rotate(-4deg) skew(31deg) translate(-75.5%, 4.2%);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: rotate(-4deg) skew(31deg) translate(-71.5%, 5.2%);
                        -webkit-transform: rotate(-4deg) skew(31deg) translate(-71.5%, 5.2%);
                        -o-transform: rotate(-4deg) skew(31deg) translate(-71.5%, 5.2%);
                        -ms-transform: rotate(-4deg) skew(31deg) translate(-71.5%, 5.2%);
                        transform: rotate(-4deg) skew(31deg) translate(-71.5%, 5.2%);
                    }
                    
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            margin: -85px 0 0 0;
            width: 100%;
            text-align: center;
        
            @include responsive-width($tablet-m) {
                margin: -42px 0 0 0;
                position: absolute;
                display: block;
                top: 50%;
                -ms-transform: translate(8px, -43%);
                transform: translate(8px, -43%);
            }

            @include responsive-width(900px) {
                margin: -62px 0 0 0;
                -ms-transform: translate(-3.8%, -38%);
                transform: translate(-3.8%, -38%);
            }

            &-img {
                position: relative;
                display: block;

                @include responsive-width($tablet-m) {
                    text-align: right;
                }
            }

            img {
                width: 100%;
                max-width: 100%;
                display: inline-block;
            }
        }

        .e-button-buy {
            position: relative;
            margin-top: -32px;

            @include responsive-width($tablet-m) {
                // display: none;
                margin-top: 27px;
                padding-left: 30px;
            } 

            @include responsive-width($laptop-s) {
                margin-top: -15px;
            }

            @include responsive-width($laptop-m) {
                margin-top: -30px;
            }    
        
            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    display: inline-block;
                    font-size: 12px;
                    margin-left: 0;
                    margin-top: -10px;
                }

                @include responsive-width(900px) {
                    margin-top: -13px;
                }
            }

            img {
                display: none;
                margin-left: 10px;
        
                @include responsive-width($tablet-m) {
                    display: inline-block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 8px;
            line-height: 10px;
            display: none;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;
            letter-spacing: -0.001em;

            @include responsive-width($tablet-m) {
                display: block;
                position: relative;
                width: 418px;
                // max-width: 530px;
                font-size: 9px;
                line-height: 11px;
                padding: 0;
                padding-left: 30px;
                padding-right: 10px;
                margin-left: 0;
                margin-top: 15px;
            }

            @include responsive-width($laptop-s) {
                width: 506px;
            }
            
            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
