.entel__slider--home__item__content--internet-responsable {
    
    background: transparent;
    // background-size: cover;
    // background-image: url(https://www.entel.pe/wp-content/uploads/2020/02/backtoschool-back-mob.png);


    @include responsive-width($tablet-m) {
        background: rgb(3,57,155);
        background: linear-gradient(33deg, rgba(3,57,155,1) 0%, rgba(0,79,185,1) 50%);
    
        // background-image: url(https://www.entel.pe/wp-content/uploads/2020/02/telefonia-fija-b2s.jpg);
    }

    .principalcontent {
        top: 75% !important;

        @media only screen and (min-width: 768px){
            top: 50% !important;
            -ms-transform: translate(-50%, -35%)!important;
            transform: translate(-50%, -35%)!important;
        }
        
        @media only screen and (min-width: 1197px){
            -ms-transform: translate(-55%, -35%)!important;
            transform: translate(-55%, -35%)!important;
        }
    }
        
    .principalcontent__textbanner {
        font-family: Barlow;
        font-style: normal;
        font-weight: 300;
        text-align: right;

        @include responsive-width($tablet-m) {
            text-align: left;
            width: 55% !important;

        }

        .medium {
            color: #FFFFFF;
            font-size: 16px;
            line-height: 16px;
            @include responsive-width($tablet-m) {
                font-size: 24px;
                line-height: 40px;
            }
        }

        .big {
            font-size: 24px;
            line-height: 24px;

            &-white {
                color: #FFFFFF;
            }

            &-blue {
                color: #00B9EB;
            }

            @include responsive-width($tablet-m) {
                font-size: 34px;
                line-height: 38px;
            }

            @include responsive-width($laptop_m) {
                font-size: 38px;
            }
        }
        
        .small {
            color: #FFFFFF;
            font-size: 14px;
            line-height: 14px;

            @include responsive-width($tablet-m) {
                font-size: 22px;
                line-height: 26px;    
            }
        }

        strong {
            font-weight: 600;
        }

        @include responsive-width(500px) {
            color: #FFFFFF;
        }

        @include responsive-width($tablet-m) {
            font-size: 34px;
            line-height: 40px;
            text-align: left;
            top: unset !important;
        }
    }
    picture {
        bottom: 0;
        top: 0;
        transform: unset;
        left: 0%;
        // @include responsive-width(768px) {
        //     right: -98%;
        // }                 
        img {
            max-width: 100%;
        }

        @include responsive-width(400px) {
            left: 0%;
        }

        @include responsive-width(768px) {
            left: 29%;

            img {
                max-width: initial;
            }
        }

        @include responsive-width($laptop_m) {
            left: 35%;//unset;
        }
        @include responsive-width(1700px) {
            left: unset;
        }
        // @include responsive-width($desktop-m) {
        //     left: unset;
        // }
    }

    .principalcontent {
        &__textbanner {
            width: 100%;
            position: absolute;
            top: -235px;
            right: 0%;
            @include responsive-width(321px) {
                top: -200px;
                right: 25%;
    
            }
            @include responsive-width($tablet-m) {
                width: 50%;
                position: relative;
                top: 0px;
                right: 0px;
            }
            img {
                width: auto;
            }       

            img.hidden-lg {
                margin-right: 0 !important;
                margin-left: 14%;

                @include responsive-width(320px) {
                    margin-right: 0 !important;
                    margin-left: 20%;
                }

                @include responsive-width(322px) {
                    margin-right: 0 !important;
                    margin-left: 50%;
                }
            }

        }

        .e-button-buy.hidden-lg {
            text-align: left;

            .btn-buy {
                padding: 14px 7px;
                margin: 20% 0% 0 32%;
                @include responsive-width(321px) {
                    margin: 20% 7% 0 43%;

                }

                // @include responsive-width(322px) {
                //     margin-left: 25%;
                // }
            }
        }
    }
}