.entel__slider--home__item__content.entel__slider--home__whatsapp {
    background: $blue url($m_image_path+'/2020/07/whatsapp-banner-mob.jpg');
    background-position: 0 0;
    background-size: 100%;
    background-repeat: no-repeat;
        
    @include responsive-width($tablet-m) {
        background: $blue url($m_image_path+'/2020/07/whatsapp-banner-desk.jpg');
        background-position: center right;
        background-size: cover;
    }

    .principalcontent {
        position: absolute;
        top: auto;
        bottom: 30px;
        left: 50%;
        width: 100%;
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        max-width: 414px;
        width: 100%;
        margin: 0;
        
        @include responsive-width($tablet-m) {
            height: 400px;
            max-width: 100%;
            top: 60%;
            bottom: auto;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        &__detail {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        
            @include responsive-width($tablet-m) {
                right: auto;
                left: 0;
            }

            &::after {
                position: absolute;
                content: '';
                display: block;
                width: 1180px;
                height: 380px;
                background-color: $blue;
                -webkit-border-top-left-radius: 50px;
                -moz-border-top-left-radius: 50px;
                border-top-left-radius: 50px;
                -webkit-border-top-right-radius: 50px;
                -moz-border-top-right-radius: 50px;
                border-top-right-radius: 50px;

                -moz-transform: rotate(-4deg) skew(26deg) translate(-90.5%, -14%);
                -webkit-transform: rotate(-4deg) skew(26deg) translate(-90.5%, -14%);
                -o-transform: rotate(-4deg) skew(26deg) translate(-90.5%, -14%);
                -ms-transform: rotate(-4deg) skew(26deg) translate(-90.5%, -14%);
                transform: rotate(-4deg) skew(26deg) translate(-90.5%, -14%);
        
                @include responsive-width($tablet-m) {
                    -moz-transform: rotate(-2deg) skew(10deg) translate(-70%, 5%);
                    -webkit-transform: rotate(-2deg) skew(10deg) translate(-70%, 5%);
                    -o-transform: rotate(-2deg) skew(10deg) translate(-70%, 5%);
                    -ms-transform: rotate(-2deg) skew(10deg) translate(-70%, 5%);
                    transform: rotate(-2deg) skew(10deg) translate(-70%, 5%);
                }
        
                @include responsive-width(900px) {
                    -moz-transform: rotate(-2deg) skew(10deg) translate(-64%, 5%);
                    -webkit-transform: rotate(-2deg) skew(10deg) translate(-64%, 5%);
                    -o-transform: rotate(-2deg) skew(10deg) translate(-64%, 5%);
                    -ms-transform: rotate(-2deg) skew(10deg) translate(-64%, 5%);
                    transform: rotate(-2deg) skew(10deg) translate(-64%, 5%);
                }
            }
        }

        &__textbanner {
            position: relative;
            font-weight: bold;
            text-align: center;
            display: block;
            z-index: 2;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 10px;
            }

            img {
        
                @include responsive-width($tablet-m) {
                    max-width: 268px;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: absolute;
            top: 0;
            z-index: 0;
            -moz-transform: translateY(-88%);
            -webkit-transform: translateY(-88%);
            -o-transform: translateY(-88%);
            -ms-transform: translateY(-88%);
            transform: translateY(-88%);
        
            @include responsive-width($tablet-m) {
                top: auto;
                bottom: 0;
                right: 0;
                width: auto;
                -moz-transform: translateY(0%);
                -webkit-transform: translateY(0%);
                -o-transform: translateY(0%);
                -ms-transform: translateY(0%);
                transform: translateY(0%);
            }

            &-img {
                position: relative;
                display: block;
            }

            img {
                max-width: 100%;
                display: inline-block;
                width: 220px;
                @include responsive-width($tablet-m) {
                    width: auto;
                }
            }
        }

        .e-button-buy {
            position: relative;
            z-index: 2;

            &__imagen {
                display: none;
                margin-left: 20px;
                @include responsive-width($tablet-m) {
                    display: inline-block;
                }
            }

            .btn-buy {
                display: inline-block;
                background: #43D854;
                border-color: #43D854;
                height: 40px;
                padding: 0;
                line-height: 36px;
                font-size: 12px;
                width: 204px;
                text-align: left;
                padding-left: 41px;

                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.51277 -3.68409e-07C4.24936 -3.68409e-07 -3.68409e-07 4.24936 -3.68409e-07 9.51277C-3.68409e-07 11.5892 0.676035 13.5207 1.83495 15.1142L0.627746 18.6392L4.29765 17.4803C5.79458 18.4944 7.58124 19.0738 9.56106 19.0738C14.8245 19.0738 19.0738 14.8245 19.0738 9.56106C19.0255 4.24936 14.7762 -3.68409e-07 9.51277 -3.68409e-07ZM15.0659 13.4241C14.8245 14.0519 13.907 14.6313 13.1827 14.7762C12.6998 14.8728 12.0238 14.9693 9.85079 14.0519C7.05007 12.8929 5.26341 10.0439 5.11855 9.85079C4.97368 9.65763 4.00792 8.35385 4.00792 7.00178C4.00792 5.64971 4.68395 4.97368 4.97368 4.68395C5.21512 4.44251 5.60143 4.34593 5.93944 4.34593C6.03602 4.34593 6.18088 4.34593 6.27746 4.34593C6.56719 4.34593 6.71205 4.39422 6.90521 4.82882C7.14665 5.35999 7.67782 6.76034 7.7744 6.90521C7.82268 7.05007 7.91926 7.24323 7.82268 7.43638C7.72611 7.62953 7.67782 7.72611 7.53295 7.87097C7.38809 8.01583 7.24323 8.1607 7.09836 8.35385C6.9535 8.49872 6.80863 8.69187 7.00178 8.93331C7.14665 9.22304 7.72611 10.1405 8.54701 10.8648C9.60935 11.8306 10.4785 12.1203 10.7683 12.2652C11.0097 12.3618 11.2511 12.3618 11.4443 12.1686C11.6374 11.9272 11.9272 11.5409 12.1686 11.2029C12.3618 10.9131 12.6032 10.9131 12.8447 11.0097C13.0861 11.1063 14.4382 11.7823 14.7279 11.9272C15.0176 12.072 15.2108 12.1203 15.2591 12.2652C15.3074 12.2169 15.3073 12.7964 15.0659 13.4241Z' fill='white'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: 17px 8px;

        
                @include responsive-width($tablet-m) {
                    margin-left: 10px;
                    margin-top: 15px;
                }
            }
        }
    
        .e-legal-small {
            position: relative;
            z-index: 2;
            font-size: 9px;
            line-height: 10px;
            display: block;
            margin: 12px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;

            a {
                color: $blue;
                text-decoration: none;
            }
            @include responsive-width($tablet-m) {
                max-width: 313px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                padding-left: 10px;
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
}
