.entel__slider--home__item__content.entel__slider--home__item__plan_solidario {
    background-color: rgba(0,80,185,1);
    background-color: -moz-linear-gradient(45deg, rgba(0,80,185,1) 0%, rgba(0,80,185,1) 62%, rgba(0,21,154,1) 100%);
    background-color: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,80,185,1)), color-stop(62%, rgba(0,80,185,1)), color-stop(100%, rgba(0,21,154,1)));
    background-color: -webkit-linear-gradient(45deg, rgba(0,80,185,1) 0%, rgba(0,80,185,1) 62%, rgba(0,21,154,1) 100%);
    background-color: -o-linear-gradient(45deg, rgba(0,80,185,1) 0%, rgba(0,80,185,1) 62%, rgba(0,21,154,1) 100%);
    background-color: -ms-linear-gradient(45deg, rgba(0,80,185,1) 0%, rgba(0,80,185,1) 62%, rgba(0,21,154,1) 100%);
    background-color: linear-gradient(45deg, rgba(0,80,185,1) 0%, rgba(0,80,185,1) 62%, rgba(0,21,154,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0050b9', endColorstr='#00159a', GradientType=1 );
    background-image: url('https://www.entel.pe/wp-content/uploads/2020/06/banner-plan-unificados-mob.png');
    @include responsive-width($tablet_ll) {
        background-image: url('https://www.entel.pe/wp-content/uploads/2020/06/banner-plan-unificados-desk-v3.png');
        background-repeat: no-repeat;
        background-position: 50% bottom;
        background-size: auto;
    }
    @include responsive-width($laptop-m) {
        background-position: 50% bottom;

    }
    @include responsive-width(1585px) {
        background-position: 30% bottom;

    }
    @include responsive-width($desktop-m) {
        background-position: right bottom;

    }
    @include responsive-width(2150px) {
        background-size: 82%;
        background-position: 50% top;
    }



    .principalcontent {
        width: 90%;
        text-align: center;
        transform: translate(-50%, -55%);

        &__textbanner {
            margin: 0;

            img {
                max-width: 100%;
                width: 100%;
            }
        }

        &__model {
            margin: 0;
            @include responsive-width($tablet_m) {
                width: 100%;
                position: relative;
                top: 100px;
            }
            .text {
                font-family: $font-family;
                font-style: normal;
                font-weight: normal;
                color: $white;
                max-width: 207px;
                font-size: 12px;
                line-height: 13px;
                margin-bottom: 10px;
                text-align: left;
                @media (min-width: $tablet_ll) {
                    max-width: 353px;
                    font-size: 20px;
                    line-height: 20px;
                }
            }

            .title {
                font-family: $font-family;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 27px;
                letter-spacing: -0.01em;
                color: $white;
                max-width: 260px;
                text-align: left;

                @media (min-width: $tablet_ll) {
                    font-size: 44px;
                    line-height: 46px;
                    max-width: 420px;
                }

                span {
                    color: #00B9EB;
                    font-weight: bold;
                    display: block;
                    font-size: 22px;
                    margin-top: 8px;
                    @media (min-width: $tablet_ll) {
                        font-size: 36px;
                        margin-top: 0px;
                    }
                }

            }
        }
        .e-button-buy .btn-buy{
            color: white;
            padding-top: 7px;
            display: block;
            width: 140px;
            margin: 0 auto;
            font-size: 12px;
            line-height: 11px;
            margin-top: 260px;
            min-height: 40px;
            line-height: 27px;

            @include responsive-width($tablet_m) {
                max-height: 50px;
                padding-top: 8px;
                width: 140px;
                margin-top: 0px;
                font-size: 14px;

            }
            a{
                color: #fff;
                font-size: 14px;
                line-height: 20px;
            }
        }

        @include responsive-width($tablet_m) {
            height: 100%;
            width: 90%;
            transform: translate(-50%, -50%);

            &__textbanner {
                width: 50%;
                position: relative;
                bottom: -140px
            }

        }

        @include responsive-width($tablet_ll) {
            
            &__textbanner {
                bottom: -50px;
            }
        }
    }
}
