.entel__slider--home__item__content.entel__slider--home__item__hogar {
    background: $blue;
    padding: 0;

    .principalcontent {
        left: 0;
        top: 0;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        
        @include responsive-width($tablet-m) {
            max-width: none;
            height: 100%;
            width: 100% !important;
        }

        &__textbanner {
            font-weight: bold;
            margin-bottom: 0;
            text-align: left;
            position: relative;
            z-index: 1;

            @include responsive-width($tablet-m) {
                margin-left: 30px;
                margin-top: 40px;
            }

            @include responsive-width($laptop-s) {
                left: 50%;
                width: 1024px;
                transform: translateX(-50%);
            }

            img {
        
                @include responsive-width($tablet-m) {
                    width: auto;
                }
            }  
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;

            @include responsive-width($tablet-m) {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
            }

            @include responsive-width($laptop-s) {
                left: 50%;
                width: 1440px;
                transform: translateX(-50%);
            }

            img {
                max-width: initial;
                width: auto;
                display: inline-block;
        
                @include responsive-width($tablet-m) {
                    bottom: 0;
                    width: 100%;
                    height: 75%;
                    object-fit: cover;
                    object-position: bottom center;
                    position: absolute;
                    display: block;
                }
        
                @include responsive-width($laptop-s) {
                    height: 100%;  
                    max-width: 1440px;     
                }
            }
            &-detail {
                display: none;
                position: absolute;
                right: 0;
                top: 0;

                @include responsive-width($tablet-m) {
                    left: 50%;
                    right: auto;
                    display: block;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 6000px;
                    right: 0;
                    background-color: $white;

                    -ms-transform: skew(19deg) translateX(80%);
                    transform: skew(19deg) translateX(80%);
                    
                    @include responsive-width($laptop-s) {
                        -ms-transform: skew(19deg) translateX(82%);
                        transform: skew(19deg) translateX(82%);
                    }
                }
            }
        }

        .e-button-buy {

            @include responsive-width($laptop-s) {
                position: relative;
                left: 50%;
                width: 1024px;
                transform: translateX(-50%);
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
                margin-top: 40px;

                @include responsive-width($tablet-m) {
                    margin-left: 30px;
                    margin-top: 20px;
                }
            }
        }

        .e-legal-small {
            font-size: 8px;
            line-height: 10px;
            display: none;
            margin: 0 auto;
            padding: 0 20px;
            color: $blue;
            text-align: justify;

            @include responsive-width($tablet-m) {
                position: absolute;
                font-size: 9px;
                line-height: 10px;
                display: block;
                bottom: 20px;
                left: 50%;
                width: 1024px;
                transform: translateX(-50%);
            }

            a {
                color: $blue;
            }

            strong {
                // @include responsive-width($mobile-l) {
                //     display: block;
                // }
            }

            // @include responsive-width($tablet-m) {
            //     display: block;
            //     padding: 0;
            //     position: absolute;
            //     bottom: 0;
            // }
        }
    }
}
