.entel__slider--home__item__content--heroes {
    
    background: transparent;
    // background-size: cover;
    // background-image: url(https://www.entel.pe/wp-content/uploads/2020/02/backtoschool-back-mob.png);


    @include responsive-width($tablet-m) {
        background: rgb(3,57,155);
        background: linear-gradient(33deg, rgba(3,57,155,1) 0%, rgba(0,79,185,1) 50%);
    
        // background-image: url(https://www.entel.pe/wp-content/uploads/2020/02/telefonia-fija-b2s.jpg);
    }

    .principalcontent__textbanner {
        font-family: Barlow;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #004FB9;

        strong {
            font-weight: 600;
        }

        @include responsive-width(500px) {
            color: #FFFFFF;
        }
        @include responsive-width($tablet-m) {
            font-size: 34px;
            line-height: 40px;
            text-align: left;

        }
    }

    picture {
        bottom: 0;
        top: 0;
        transform: unset;
        left: 0%;

        // @include responsive-width(768px) {
        //     right: -98%;
        // }  

        img {
            height: 100%;
            width: 100%;
            max-width: 100%;

            @include responsive-width(768px) {
                width: auto;
            }
        }

        @include responsive-width(400px) {
            left: 0%;
        }

        @include responsive-width(768px) {
            left: 45%;

            img {
                max-width: initial;
            }
        }
        @include responsive-width(835px) {
            left: 53%;

            img {
                max-width: initial;
            }
        }    

        @include responsive-width($laptop_m) {
            left: unset;
        }
        @include responsive-width($laptop_m) {
            left: 56%;
        }        
    }

    .principalcontent {
        &__textbanner {
            width: 110%;
            position: absolute;
            top: -200px;
            // left: 25%;
            @include responsive-width($tablet-m) {
                width: 50%;
                position: relative;
                top: 0px;
                left: 0px;
            }
            img {
                width: auto;
            }       

            img.hidden-lg {
                margin-right: 0 !important;
                margin-left: 14%;

                @include responsive-width(320px) {
                    margin-right: 0 !important;
                    margin-left: 20%;
                }

                @include responsive-width(322px) {
                    margin-right: 0 !important;
                    margin-left: 50%;
                }
            }

        }

        .e-button-buy.hidden-lg {
            text-align: left;

            .btn-buy {
                margin-left: 7%;
                padding: 14px 15px;

                @include responsive-width(320px) {
                    margin-left: 7%;
                }

                @include responsive-width(322px) {
                    margin-left: 25%;
                }
            }
        }
    }
}