.entel__slider--home__item__content-xiaomi {
    background: #ffffff;
    background-image: url($m_image_path + '2020/01/banner-xiaomi-mob@2x.jpg');
    background-size: cover;
    background-position: center center;

    @include responsive-width(360px){
        background-position: center 75%;    
    }
    @include responsive-width($tablet-m){
        background-image: url($m_image_path + '2020/01/banner-xiaomi.jpg');
        background-position: center center;
    }

    .banner-mob-text {
        max-width: 25%;
    }
    .center {
        margin-top: 92px;
    }
    .banner {
        width: 100%;
        top: 0;
        left: 0;

        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        
        @include responsive-width($tablet-m){
            display: none;
        }

        img {
            width: 100%;
        }
    }
    .principalcontent{
        top: 0;
        left: 0;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        width: 100%;

        &.apps {
            position: initial;

            @include responsive-width($tablet-m){
                display: flex;
                height: 100%;
            }

            .principalcontent__textbanner {
                z-index: 1;
                bottom: 0;
                width: 100%;
                text-align: center;
                
                @include responsive-width($tablet-m){
                    position: relative;
                    width: 70%;
                    margin-bottom: 0;
                    margin-left: 40px;
                }

                h2 {
                    position: absolute;
                    top: 0px;
                    width: 100%;
                    text-align: left;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    color: #004FB9;

                    @include responsive-width($tablet-m){
                        color: #ffffff;
                        top: auto;
                        width: auto;
                        font-weight: 300;
                        font-size: 24px;
                        line-height: 1.6em;
                        bottom: 116px;
                    }

                    span {
                        color: #FF560A;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;

                        @include responsive-width($tablet-m){
                            color: #ffffff;
                            font-size: 40px;
                            font-weight: 300;
                            line-height: 1em;
                            display: block;
                        }

                        br {
                            display: inline;

                            @include responsive-width($tablet-m){
                                display: none;
                            }
                        }
                        
                        strong {
                            font-weight: bold;

                            @include responsive-width($tablet-m){
                                font-size: 47px;
                                line-height: 1.2em;
                            }
                        }
                    }
                }
            }
        }

    }

    .detalle-text-mobile {
      top: 0;
      position: absolute;

      img {
        @include responsive-width(414px){
            margin-top: -9px !important;
        }
      }
    }

    .e-button-buy {
        position: absolute;
        bottom: 45px;
        width: 100%;
    }

    .btn-buy {
        height: 50px;
        line-height: 31px;
        width: 200px;

        @include responsive-width($tablet-m){
            line-height: normal;

        }
    }
}