.entel__slider--home__item__content.entel__slider--home__item__content_cyberwow_post {
    background-color: #0433ff;
    padding: 0;

    background-image: url($m_image_path+'2021/04/banner-cyberwow-bg-mob.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 20px;

    @media (min-width: $tablet-m){
        background-image: url($m_image_path+'2021/04/banner-cyberwow-post-back-tab.png');
        background-position: top center;
    }

    @media (min-width: $laptop-s){
        background-image: url($m_image_path+'2021/04/banner-cyberwow-post-back-desk.png');
    }
    
    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1024px  !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1270px  !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            position: relative;
            margin: 0;
            padding-top: 10px;
        
            @include responsive-width($tablet-m) {
                text-align: left;
                padding-top: 90px;
                padding-left: 40px;
            }

            @include responsive-width($laptop-s) {
                padding-top: 40px;
            }

            &-img {
                position: relative;
                z-index: 1;
            }

            img {
                width: auto;
                display: inline-block;

                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            margin: 0;
            padding-top: 5px;
            width: 100%;
            text-align: center;
            position: relative;
            z-index: 2;

            @include responsive-width($tablet-m) {
                position: absolute;
                top: 70px;
                left: 0;
                padding-top: 0;
                text-align: right;
            }

            @include responsive-width($laptop-s) {
                top: 40px;
                text-align: right;
            }

            @include responsive-width($laptop-m) {
                top: 35px;
            }

            img {
                position: relative;
                max-width: none;
                display: inline-block;
                z-index: 1;
                margin-right: -15px;

                @include responsive-width($tablet-m) {
                    width: auto;
                    margin-right: 15px;
                }

                @include responsive-width($laptop-s) {
                    margin-right: 40px;
                    width: 660px;
                }

                @include responsive-width($laptop-m) {
                    width: auto;
                }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 12px;
            left: 0;
            width: 100%;
            z-index: 2;

            @include responsive-width($tablet-m) {
                padding-left: 48px;
                position: relative;
                bottom: auto;
                margin-top: 15px;
            }

            @include responsive-width($laptop-s) {
                margin-top: -45px;
            }

            .btn-buy {
                height: 40px;
                max-width: 122px;
                font-size: 12px;
                padding: 0;
                line-height: 40px !important;
                background-color: #FF2776 !important;
                color: $white !important;
                border: 0;
                border-color: #FF2776 !important;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
        
                @include responsive-width($laptop-s) {
                    max-width: 148px;
                    height: 46px;
                    line-height: 48px !important;
                }

                // &:hover {
                //     background-color: RGBA(250,250,250,.2) !important;      
                // }
            }
        }
    
        .e-legal-small {
            font-size: 10px;
            line-height: 12px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.02em;
            max-width: 320px;
            display: none;
            
            @include responsive-width($laptop-s) {
                display: block;
                margin-left: 0;
                padding-left: 0;
                margin-top: 10px;
                max-width: 960px;
            }

            @include responsive-width($laptop-s) {
                max-width: 920px;
                margin-top: 14px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}