.entel__slider--home__item__content.entel__slider--home__item__content_cyberwow_lib {
    background-color: #FFFFFF;
    padding: 0;

    background-image: url($m_image_path+'2021/04/banner-cyberwow-bg-lib-mob.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 20px;

    @media (min-width: $tablet-m){
        background-image: url($m_image_path+'2021/04/banner-cyberwow-bg-lib-tab.png');
        background-position: center top;
    }

    @media (min-width: $laptop-s){
        background-image: url($m_image_path+'2021/04/banner-cyberwow-bg-lib-desk.png');
        background-size: cover;
    }

    @media (min-width: $desktop-s){
        background-position: center center;
        background-size: 100%;
    }
    
    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            // max-width: none;
            max-width: 768px !important;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1024px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1040px  !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            position: relative;
            padding-top: 5px;
            padding-left: 14px;
        
            @include responsive-width($tablet-m) {
                padding-top: 80px;
                padding-left: 30px;
                position: relative;
                text-align: left;
                width: 100%;
                z-index: 2;
            }
        
            @include responsive-width($laptop-s) {
                // top: 10px;
                padding-top: 60px;
                padding-left: 20px;
            }

            &-img {
                position: relative;
                z-index: 1;
            }

            img {
                display: inline-block;
                width: auto;
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            margin: 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 18px;
            left: 0;
            z-index: 2;

            @include responsive-width($tablet-m) {
                text-align: right;
                // right: 0;
                bottom: 69px;
            }

            @include responsive-width($laptop-s) {
                right: auto;
                bottom: 44px;
            }

            img {
                position: relative;
                max-width: none;
                display: inline-block;
                z-index: 1;
                margin-right: 0px;

                @include responsive-width($tablet-m) {
                    margin-right: 40px;
                    width: 550px;
                }

                @include responsive-width($laptop-s) {
                    width: auto;
                    margin-right: 20px;
                }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            z-index: 2;
            height: 40px;

            @include responsive-width($tablet-m) {
                padding-left: 48px;
                position: relative;
                bottom: 7px;
                margin-top: 0;
            }

            @include responsive-width($laptop-s) {
                // bottom: 124px;
                padding-left: 40px;
            }

            .btn-buy {
                height: 40px;
                max-width: 122px;
                font-size: 12px;
                padding: 0;
                line-height: 40px !important;
                background-color: #FF2776 !important;
                color: $white !important;
                border: 0;
                border-color: #FF2776 !important;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
        
                @include responsive-width($laptop-s) {
                    max-width: 148px;
                    height: 46px;
                    line-height: 48px !important;
                }

                // &:hover {
                //     background-color: RGBA(250,250,250,.2) !important;      
                // }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 10px;
            line-height: 12px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: #0433ff;
            text-align: center;
            letter-spacing: -0.02em;
            max-width: 320px;
            display: none;
            
            @include responsive-width($tablet-m) {
                max-width: 49%;
                margin-left: 0;
                padding-left: 0;
                margin-top: 60px;
            }
            
            @include responsive-width($laptop-s) {
                display: block;            
                max-width: 960px;
                padding-right: 0;
                margin-top: 24px;
            }
            
            @include responsive-width($desktop-s) {      
                max-width: 990px;
            }

            a {
                color: #0433ff;
                text-decoration: none;
            }
        }
    }
}