.entel__slider--home__item__content.entel__slider--home__samsung_lib {
    background: $blue;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 950px;
            height: 400px;
            top: 0;
            -ms-transform: none;
            transform: none;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            margin-bottom: 0;
            margin-top: 20px;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 0;
                padding-top: 40px;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 0px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0;
                margin-left: 0px;
            }

            &-detail {
                position: absolute;
                left: 50%;
                top: 0;

                @include responsive-width($tablet-m) {
                    left: 0;
                }

                // &::after {
                //     position: absolute;
                //     content: '';
                //     display: block;
                //     width: 1180px;
                //     height: 380px;
                //     background-color: $white;
                //     -webkit-border-radius: 60px;
                //     -moz-border-radius: 60px;
                //     border-radius: 60px;

                //     -moz-transform: rotate(171deg) skew(4deg) translate(110px, 320px);
                //     -webkit-transform: rotate(171deg) skew(4deg) translate(110px, 320px);
                //     -o-transform: rotate(171deg) skew(4deg) translate(110px, 320px);
                //     -ms-transform: rotate(171deg) skew(4deg) translate(110px, 320px);
                //     transform: rotate(171deg) skew(4deg) translate(110px, 320px);
                    
                //     @include responsive-width($tablet-m) {
                //         height: 500px;
                //         -webkit-border-top-left-radius: 100px;
                //         -moz-border-top-left-radius: 100px;
                //         border-top-left-radius: 100px;
                //         -moz-transform: rotate(186deg) skew(-3deg) translate(862px, -29px);
                //         -webkit-transform: rotate(186deg) skew(-3deg) translate(862px, -29px);
                //         -o-transform: rotate(186deg) skew(-3deg) translate(862px, -29px);
                //         -ms-transform: rotate(186deg) skew(-3deg) translate(862px, -29px);
                //         transform: rotate(186deg) skew(-3deg) translate(862px, -29px);
                //     }

                //     @include responsive-width($laptop-s) {
                //         -moz-transform: rotate(186deg) skew(-3deg) translate(809px, -29px);
                //         -webkit-transform: rotate(186deg) skew(-3deg) translate(809px, -29px);
                //         -o-transform: rotate(186deg) skew(-3deg) translate(809px, -29px);
                //         -ms-transform: rotate(186deg) skew(-3deg) translate(809px, -29px);
                //         transform: rotate(186deg) skew(-3deg) translate(809px, -29px);
                //     }

                //     @include responsive-width($laptop-m) {
                //         -moz-transform: rotate(186deg) skew(-3deg) translate(889px, -29px);
                //         -webkit-transform: rotate(186deg) skew(-3deg) translate(889px, -29px);
                //         -o-transform: rotate(186deg) skew(-3deg) translate(889px, -29px);
                //         -ms-transform: rotate(186deg) skew(-3deg) translate(889px, -29px);
                //         transform: rotate(186deg) skew(-3deg) translate(889px, -29px);
                //     }
                // }

                // &::before {
                //     position: absolute;
                //     content: '';
                //     display: none;
                //     width: 1180px;
                //     height: 380px;
                //     background-color: $extra_blue;
                    
                //     @include responsive-width($tablet-m) {
                //         display: block;
                //         height: 500px;
                //         -webkit-border-radius: 40px;
                //         -moz-border-radius: 40px;
                //         border-radius: 40px;
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //     }

                //     @include responsive-width($laptop-s) {
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //     }

                //     @include responsive-width($laptop-m) {
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //     }
                // }
            }

            img {
                position: relative;
                display: inline-block;

                @include responsive-width($tablet-m) {
                    // max-width: 399px;
                    margin-left: 25px;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 0;
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    // padding: 58px 0 0 0;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            // display: none;
            margin: 10px 0 0 0;
            width: 100%;
            position: relative;
            text-align: center;
            // text-align: right;
            // position: absolute;
            // top: 50%;
            // -ms-transform: translate(-10px,-43%);
            // transform: translate(-10px,-43%);
        
            @include responsive-width($tablet-m) {
                // margin: -10px 0 0 0;
                position: absolute;
                -ms-transform: translate(220px, -91%);
                transform: translate(220px, -91%);
            }

            @include responsive-width($laptop-s) {
                -ms-transform: translate(15%, -90%);
                transform: translate(15%, -90%);
            }

            @include responsive-width($laptop-m) {
                -ms-transform: translate(2%, -90%);
                transform: translate(2%, -90%);
            }

            &-img {
                position: relative;
                display: block;

                @include responsive-width($laptop-m) {
                    text-align: right;
                }
            }

            img {
                max-width: 100%;
                display: inline-block;   
                margin-right: -12px;
        
                @include responsive-width($tablet-m) {
                    max-width: 420px;
                    margin-right: 40px;
                }

                @include responsive-width($laptop-s) {
                    max-width: 550px;
                    margin-right: -130px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                    margin-right: 40px;
                }
            }
        }

        .e-button-buy {
            margin-top: 0px;
        
            @include responsive-width($tablet-m) {
                margin-top: 4px;
                margin-left: 0px;
            }
        
    //         @include responsive-width($laptop-s) {
    // margin-left: 30px;
    //         }

            @include responsive-width($laptop-m) {
                margin-left: 4px;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-left: 30px;
                    margin-top: -50px;
                }

                @include responsive-width($laptop-s) {
                    margin-top: -50px;
                    margin-left: 0;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 15px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            position: relative;
            // letter-spacing: -0.05em;

            @include responsive-width($tablet-m) {
                display: block;
                width: 100%;
                max-width: 260px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                margin-left: 30px;
                margin-top: 10px;
                // text-align: center;
            }

            @include responsive-width($laptop-s) {
                margin-left: 0px;
                // margin-top: 110px;
                // margin-left: 0px;
            }

            @include responsive-width($laptop-m) {
                // margin-top: 120px;
                margin-left: 0px;
                margin-top: 10px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
