.entel__slider--home__item__content.entel__slider--home__item__iphone_12 {
    background: #ACCCD9;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0px;
        left: 50%;
        width: 100%;
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        max-width: 414px;
        width: 100%;
        height: 100%;
        margin: 0;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
            top: 20px;
        }
        @include responsive-width($laptop-m) {
            max-width: 1024px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 50px 50px 0;
            position: relative;
            z-index: 1;
        
            @include responsive-width($tablet-m) {
                width: 100%;
            }

            @include responsive-width($laptop-s) {
                padding-left: 20px;
                padding-top: 120px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0px;
                padding-top: 100px;
                margin-left: -30px;
            }

            h3 {
                font-size: 28px;
                line-height: 30px;
                color: $white;
                margin: 18px 0 18px 0;
        
                @include responsive-width($tablet-m) {
                    font-size: 40px;
                    line-height: 48px;
                }
            }

            p {
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                margin: 0;
                color: $white;
        
                @include responsive-width($tablet-m) {
                    font-size: 16px;
                    line-height: 16px;
                }

                br {
                    @include responsive-width($tablet-m) {
                        display: none;
                    }
                }
            }

            img {
                @include responsive-width($tablet-m) {
                    width: 390px;
                }

                @include responsive-width($laptop-s) {
                    width: 420px;
                }

                @include responsive-width($laptop-m) {
                    width: auto;
                }
            }
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: right;
            position: absolute;
            z-index: 0;
            bottom: 0;
        
            @include responsive-width($tablet-m) {
                width: 100%;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-27%, -60%);
                transform: translate(-27%, -60%);
            }
        
            @include responsive-width($laptop-s) {
                // width: 100%;
                -ms-transform: translate(-24%, -60%);
                transform: translate(-24%, -60%);
            }

            @include responsive-width($laptop-m) {
                -ms-transform: translate(-17%, -100%);
                transform: translate(-17%, -100%);
            }
            
            &-img {
                position: relative;
                display: block;
                text-align: center;
            }

            img {
                max-width: 100%;
                display: inline-block;   

                @include responsive-width($tablet-m) {
                    width: 380px;
                }

                @include responsive-width($laptop-m) {
                    width: auto;
                }
            }
        }

        .e-button-buy {
            text-align: center;
            padding: 0 20px;
            position: absolute;
            z-index: 1;
            bottom: 30px;
            left: 50%;
            margin-left: -110px;
        
            @include responsive-width($tablet-m) {
                position: relative;
                left: 0;
                margin-top: 112px;
                bottom: auto;
                margin-left: 0;
                // display: flex;
                // flex-direction:column-reverse;
            }
            
            @include responsive-width($laptop-s) {
                margin-top: 42px;
            }

            @include responsive-width($laptop-m) {
                margin-top: 32px;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                margin-top: 20px;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    margin-top: 0px;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 129px;
                }

                @include responsive-width($laptop-m) {
                    margin-left: 145px;
                }
            }
    
            .e-legal-small {
                font-size: 10px;
                font-weight: normal;
                line-height: 12px;
                display: none;
                margin: 10px auto 0;
                padding: 0;
                color: $white;
                text-align: left;
        
                @include responsive-width($tablet-m) {
                    display: block;
                    margin-left: 0px;
                    max-width: 440px;
                    margin-top: 20px;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -40px;
                }

                a {
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }
}
