.entel__slider--home__item__content.entel__slider--home__apple_week {
    background: $black;
    padding: 0;
    background-image: url($m_image_path+'2021/05/banner-fondo-apple-week-mob.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -79% -88px;

    @include responsive-width(375px){
        background-position: -27% -88px;
    }

    @include responsive-width(425px){
        background-position: -6% -90px;
    }
    @include responsive-width($tablet-m){
        background-image: url($m_image_path+'2021/05/banner-fondo-apple-week-tab.png');
        background-position: -23% -117px;
    }
    @include responsive-width($laptop-s){
        background-image: url($m_image_path+'2021/05/banner-fondo-apple-week-desk.png');
        background-position: -200px -549px;
    }
    @include responsive-width($laptop-m){
        background-position: -114px -549px;
    }
    @include responsive-width($desktop_s){
        background-image: url($m_image_path+'2021/05/banner-fondo-apple-week-desk@2x.png');
        background-position: -700px 92%;
        
    }
    @include responsive-width(1500px){
        background-position: -675px 92%;
    }
    @include responsive-width(1600px){
        background-position: -620px 92%;
    }
    
    @include responsive-width(1900px){
        background-position: -91% 92%;
    }


    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 650px;
            height: 370px;
            top: 0;
            -ms-transform: none;
            transform: none;
        }

        @include responsive-width($laptop-s) {
            max-width: 950px;
        }

        @include responsive-width($laptop-m) {
            max-width: 1050px;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            margin-bottom: 0;
            margin-top: 10px;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 0;
                // padding-top: 40px;
                            
                padding-top: 0;
                margin-top: 0;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 0px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0;
                margin-left: 0px;
            }

            &-detail {
                position: absolute;
                left: 50%;
                top: 0;

                @include responsive-width($tablet-m) {
                    left: 0;
                }

                // &::after {
                //     position: absolute;
                //     content: '';
                //     display: block;
                //     width: 750px;
                //     height: 380px;
                //     background-color: $white;
                //     -webkit-border-radius: 60px;
                //     -moz-border-radius: 60px;
                //     border-radius: 60px;

                //     -moz-transform: rotate(171deg) skew(4deg) translate(130px, 310px);
                //     -webkit-transform: rotate(171deg) skew(4deg) translate(130px, 310px);
                //     -o-transform: rotate(171deg) skew(4deg) translate(130px, 310px);
                //     -ms-transform: rotate(171deg) skew(4deg) translate(130px, 310px);
                //     transform: rotate(171deg) skew(4deg) translate(130px, 310px);
                    
                //     @include responsive-width($tablet-m) {
                //         // display: none;
                //     //     height: 500px;
                //     //     -webkit-border-top-left-radius: 100px;
                //     //     -moz-border-top-left-radius: 100px;
                //     //     border-top-left-radius: 100px;
                //     //     -moz-transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                //     //     -webkit-transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                //     //     -o-transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                //     //     -ms-transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                //     //     transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                //     // }

                //     // @include responsive-width($laptop-s) {
                //     //     -moz-transform: rotate(343deg) skew(-3deg) translate(-70px, -290px);
                //     //     -webkit-transform: rotate(343deg) skew(-3deg) translate(-70px, -290px);
                //     //     -o-transform: rotate(343deg) skew(-3deg) translate(-70px, -290px);
                //     //     -ms-transform: rotate(343deg) skew(-3deg) translate(-70px, -290px);
                //     //     transform: rotate(343deg) skew(-3deg) translate(-70px, -290px);
                //     // }

                //     // @include responsive-width($laptop-m) {
                //     //     -moz-transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                //     //     -webkit-transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                //     //     -o-transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                //     //     -ms-transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                //     //     transform: rotate(343deg) skew(-3deg) translate(-70px, -277px);
                //     }
                // }

                // &::before {
                //     position: absolute;
                //     content: '';
                //     display: none;
                //     width: 1180px;
                //     height: 380px;
                //     background-color: $extra_blue;
                    
                //     @include responsive-width($tablet-m) {
                //         display: block;
                //         height: 500px;
                //         -webkit-border-radius: 40px;
                //         -moz-border-radius: 40px;
                //         border-radius: 40px;
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //     }

                //     @include responsive-width($laptop-s) {
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //     }

                //     @include responsive-width($laptop-m) {
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //     }
                // }
            }

            img {
                width: auto;//60%;
                position: relative;
                display: inline-block;
                margin-bottom: 0px;
                margin-left: -150px;
                margin-top: 34px;

                @include responsive-width($tablet-m) {
                    width: auto;
                    // margin-left: -5px;
                    margin-bottom: 10px;
                    margin-left: 8%;
                    margin-top: 6%;
                }

                @include responsive-width($laptop-s) {
                    // width: 40%;
                    // width: 510px;
                    // margin-left: -90px;
                    // margin-bottom: 20px;
                    margin-top: 4%;
                    width: 40%;

                }

                @include responsive-width($laptop-m) {
                    // width: auto;
                    // margin-left: -120px;
                //     margin-left: 0;
                //     margin-bottom: 20px;
                    margin-top: 4%;
                    margin-left: 4%;
                }
                @include responsive-width($desktop_s){
                    width: auto;
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    // padding: 58px 0 0 0;
                                    
                    text-align: left;
                    padding: 0;
                }

                // @include responsive-width($laptop-m) {
                //     margin-left: -70px;
                // }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            // display: none;
            margin: 0 0 10px 0;
            width: 100%;
            position: relative;
            text-align: center;
            // text-align: right;
            // position: absolute;
            // top: 50%;
            // -ms-transform: translate(-10px,-43%);
            // transform: translate(-10px,-43%);
        
            @include responsive-width($tablet-m) {
                // margin: -10px 0 0 0;
                position: absolute;
                transform: none;
                bottom: 75px;
                right: 60px;
                text-align: right;
                margin-bottom: 0;
            }

            // @include responsive-width($laptop-s) {
            //     -ms-transform: translate(12%, -55%);
            //     transform: translate(12%, -55%);
            // }

            // @include responsive-width($laptop-m) {
            //     -ms-transform: translate(2%, -90%);
            //     transform: translate(2%, -90%);
            // }

            &-img {
                position: relative;
                display: block;

                @include responsive-width($laptop-m) {
                    text-align: right;
                }
            }

            img {
                max-width: none;//90%;
                width: auto;
                margin-top: -135px;
                margin-left: 80px;
                // margin-right: 10px;
                display: inline-block;
        
                @include responsive-width($tablet-m) {
                    margin: 0;
                }

                @include responsive-width($laptop-s) {
                    margin-right: 20px;
                    margin-bottom: 32px;
                    max-width: 60%;
                }

                @include responsive-width($laptop-m) {
                    max-width: initial;
                    margin-right: -35px;
                    margin-bottom: 0;
                }
            }
        }

        .e-button-buy {
            margin-top: 0px;
        
            @include responsive-width($tablet-m) {
                // margin-top: -90px;
                margin-left: 10%;
            }
        
            @include responsive-width($laptop-s) {
                // margin-top: -110px;
                margin-left: 8%;
            }

            @include responsive-width($laptop-m) {
                // margin-top: -120px;
            //     margin-left: 4px;
                margin-left: 4%;

            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    width: 140px;
                    font-size: 12px;
                    // margin-left: 40px;
                    margin-top: 0px;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 0;
                    width: 166px;
                    margin-top: 24px;
                }

                
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 15px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            position: relative;
            // letter-spacing: -0.05em;

            @include responsive-width($tablet-m) {
                display: block;
                margin-top: 55px;
                text-align: center;
            }

            // @include responsive-width($laptop-s) {
            //     display: block;
            //     margin-left: 7%;
            //     max-width: 230px;
            //     // margin-top: 60px;
            // }

            @include responsive-width($laptop-m) {
                
                margin-left: 3%;
                margin-top: 65px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
