.entel__slider--home__item__content.entel__slider--home__liberados_reg2  {
    background: $blue;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
            height: 100%;
            top: 0;
            -ms-transform: none;
            transform: none;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &-detail {
            position: absolute;
            left: 50%;
            bottom: 0;

            @include responsive-width($tablet-m) {
                bottom: 70px;
            }

            // &:before {
            //     content: '';
            //     width: 3000px;
            //     height: 3000px;
            //     display: block;
            //     position: absolute;
            //     left: 0;
            //     bottom: 0;
            //     background: #00B8EA;

            //     -moz-transform: translate(-3660px, 1600px) rotate(-45deg);
            //     -webkit-transform: translate(-3660px, 1600px) rotate(-45deg);
            //     -o-transform: translate(-3660px, 1600px) rotate(-45deg);
            //     -ms-transform: translate(-3660px, 1600px) rotate(-45deg);
            //     transform: translate(-3660px, 1600px) rotate(-45deg);
    
            //     @include responsive-width($tablet-m) {
            //         -moz-transform: translate(-3908px, 1599px) rotate(-45deg);
            //         -webkit-transform: translate(-3908px, 1599px) rotate(-45deg);
            //         -o-transform: translate(-3908px, 1599px) rotate(-45deg);
            //         -ms-transform: translate(-3908px, 1599px) rotate(-45deg);
            //         transform: translate(-3908px, 1599px) rotate(-45deg);
            //     }
    
            //     @include responsive-width($laptop-s) {
            //         -moz-transform: translate(-4039px, 1599px) rotate(-45deg);
            //         -webkit-transform: translate(-4039px, 1599px) rotate(-45deg);
            //         -o-transform: translate(-4039px, 1599px) rotate(-45deg);
            //         -ms-transform: translate(-4039px, 1599px) rotate(-45deg);
            //         transform: translate(-4039px, 1599px) rotate(-45deg);
            //     }
    
            //     @include responsive-width($laptop-m) {
            //         -moz-transform: translate(-4199px, 1599px) rotate(-45deg);
            //         -webkit-transform: translate(-4199px, 1599px) rotate(-45deg);
            //         -o-transform: translate(-4199px, 1599px) rotate(-45deg);
            //         -ms-transform: translate(-4199px, 1599px) rotate(-45deg);
            //         transform: translate(-4199px, 1599px) rotate(-45deg);
            //     }
            // }

            // &:after {
            //     content: '';
            //     width: 3000px;
            //     height: 3000px;
            //     display: block;
            //     position: absolute;
            //     left: 0;
            //     bottom: 0;
            //     background: #FF719A;

            //     -moz-transform: translate(650px, 1600px) rotate(-45deg);
            //     -webkit-transform: translate(650px, 1600px) rotate(-45deg);
            //     -o-transform: translate(650px, 1600px) rotate(-45deg);
            //     -ms-transform: translate(650px, 1600px) rotate(-45deg);
            //     transform: translate(650px, 1600px) rotate(-45deg);
    
            //     @include responsive-width($tablet-m) {
            //         -moz-transform: translate(915px, 1599px) rotate(-45deg);
            //         -webkit-transform: translate(915px, 1599px) rotate(-45deg);
            //         -o-transform: translate(915px, 1599px) rotate(-45deg);
            //         -ms-transform: translate(915px, 1599px) rotate(-45deg);
            //         transform: translate(915px, 1599px) rotate(-45deg);
            //     }
    
            //     @include responsive-width($laptop-s) {
            //         -moz-transform: translate(975px, 1659px) rotate(-45deg);
            //         -webkit-transform: translate(975px, 1659px) rotate(-45deg);
            //         -o-transform: translate(975px, 1659px) rotate(-45deg);
            //         -ms-transform: translate(975px, 1659px) rotate(-45deg);
            //         transform: translate(975px, 1659px) rotate(-45deg);
            //     }
    
            //     @include responsive-width($laptop-m) {
            //         -moz-transform: translate(1135px, 1659px) rotate(-45deg);
            //         -webkit-transform: translate(1135px, 1659px) rotate(-45deg);
            //         -o-transform: translate(1135px, 1659px) rotate(-45deg);
            //         -ms-transform: translate(1135px, 1659px) rotate(-45deg);
            //         transform: translate(1135px, 1659px) rotate(-45deg);
            //     }

            // }
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding-left: 8px;
            padding-top: 33px;
        
            @include responsive-width($tablet-m) {
                width: 100%;
                text-align: left;
                padding-left: 42px;
                padding-top: 100px;
            }
            
            @include responsive-width($laptop-s) {
                padding-top: 92px;
                padding-left: 38px;
            }

            @include responsive-width($laptop-m) {
                padding-top: 86px;
                padding-left: 50px;
                margin-bottom: 15px;
            }

            img {
                position: relative;
                display: inline-block;
                width: auto;

                @include responsive-width($tablet-m) {
                    // max-width: 399px;
                    margin-left: 25px;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 0;
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    // padding: 58px 0 0 0;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            top: 24px;
            right: 0;
            width: 100%;
            position: absolute;
            text-align: right;
        
            @include responsive-width($tablet-m) {
                // margin: -10px 0 0 0;
                margin: 0;
                position: absolute;
                top: 20px;
                left: 0;
                right: 0;
                -ms-transform: none;
                transform: none;
            }

            @include responsive-width($laptop-s) {
                top: 30px;
                // -ms-transform: translate(15%, -73%);
                // transform: translate(15%, -73%);
            }

            @include responsive-width($laptop-m) {
                // -ms-transform: translate(18%, -66%);
                // transform: translate(18%, -66%);
            }

            // &-detail {
            //     position: absolute;
            //     left: 0;
            //     bottom: 0;

            //     @include responsive-width($tablet-m) {
            //         // left: 50%;
            //     }

            //     &::after {
            //         position: absolute;
            //         content: '';
            //         display: block;
            //         width: 1180px;
            //         height: 380px;
            //         background-color: $blue;
            //         -webkit-border-radius: 30px;
            //         -moz-border-radius: 30px;
            //         border-radius: 30px;

            //         -moz-transform: rotate(9deg) skew(-4deg) translate(-29px, 10px);
            //         -webkit-transform: rotate(9deg) skew(-4deg) translate(-29px, 10px);
            //         -o-transform: rotate(9deg) skew(-4deg) translate(-29px, 10px);
            //         -ms-transform: rotate(9deg) skew(-4deg) translate(-29px, 10px);
            //         transform: rotate(9deg) skew(-4deg) translate(-29px, 10px);
                    
            //         @include responsive-width($tablet-m) {
            //             // display: none;
            //             height: 500px;
            //             -webkit-border-top-left-radius: 80px;
            //             -moz-border-top-left-radius: 80px;
            //             border-top-left-radius: 80px;
            //             -moz-transform: rotate(186deg) skew(-7deg) translate(37px, 119px);
            //             -webkit-transform: rotate(186deg) skew(-7deg) translate(37px, 119px);
            //             -o-transform: rotate(186deg) skew(-7deg) translate(37px, 119px);
            //             -ms-transform: rotate(186deg) skew(-7deg) translate(37px, 119px);
            //             transform: rotate(186deg) skew(-7deg) translate(37px, 119px);
            //         }

            //         @include responsive-width($laptop-s) {
            //             -moz-transform: rotate(186deg) skew(-7deg) translate(-8px, 88px);
            //             -webkit-transform: rotate(186deg) skew(-7deg) translate(-8px, 88px);
            //             -o-transform: rotate(186deg) skew(-7deg) translate(-8px, 88px);
            //             -ms-transform: rotate(186deg) skew(-7deg) translate(-8px, 88px);
            //             transform: rotate(186deg) skew(-7deg) translate(-8px, 88px);
            //         }

            //         @include responsive-width($laptop-m) {
            //             -moz-transform: rotate(187deg) skew(-5deg) translate(84px, 82px);
            //             -webkit-transform: rotate(187deg) skew(-5deg) translate(84px, 82px);
            //             -o-transform: rotate(187deg) skew(-5deg) translate(84px, 82px);
            //             -ms-transform: rotate(187deg) skew(-5deg) translate(84px, 82px);
            //             transform: rotate(187deg) skew(-5deg) translate(84px, 82px);
            //         }
            //     }
            // }

            &-img {
                position: relative;
                display: block;
                height: 100%;

                // @include responsive-width($laptop-m) {
                //     &::before {
                //         content: '';
                //         display: block;
                //         position: absolute;
                //         bottom: 0;
                //         right: -110px;
                //         width: 398px;
                //         height: 334px;
                //         background-image:  url($m_image_path+'2021/05/banner-lib-backv2.png');
                //     }
                // }
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;   
                margin-right: -5px;
        
                @include responsive-width($tablet-m) {    
                    margin-right: 64px;
                    margin-top: 13px;
                }

                @include responsive-width($laptop-s) {
                    margin-right: 40px;
                    margin-top: 4px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                    margin-right: 50px;
                }
            }
        }

        .e-button-buy {
            margin-top: 28px;
            text-align: left;
            margin-left: 8px;
        
            @include responsive-width($tablet-m) {
                margin-top: 0;
                padding-top: 36px;
                padding-left: 66px;
            }

            @include responsive-width($laptop-s) {
                padding-top: 0px;
                padding-left: 30px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 40px;
            }

            .btn-buy {
                height: 40px;
                width: 142px;
                padding: 0;
                margin: 0;
                line-height: 36px;
                font-size: 12px;
        
                @include responsive-width($tablet-m) {
                    margin: 0;
                    width: 186px;
                    height: 50px;
                    font-size: 14px;
                    line-height: 48px;
                }

                // @include responsive-width($laptop-s) {
                //     margin-top: 0;
                //     margin-left: 30px;
                // }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;

            &__mob {
                padding-right: 15px;
                margin: 7px auto 0;
                bottom: 16px;
                
                @include responsive-width($tablet-m) {
                    width: 100%;
                    padding: 0;
                    bottom: 20px;
                    left: 74px;
                    text-align: left;
                }
                
                @include responsive-width($laptop-s) {
                    display: none;
                }
            }

            &__desk {
                display: none;
                
                @include responsive-width($tablet-m) {
                    font-size: 9px;
                    max-width: 644px;
                    right: auto;
                    left: 50px;
                    bottom: 10px;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                }

                @include responsive-width($laptop-s) {
                    bottom: 15px;
                    max-width: 920px;
                    display: block;
                }
    
                @include responsive-width($laptop-m) {
                    display: block;
                    max-width: 100%;
                    left: 0;
                    bottom: 20px;
                }
            }

            a {
                color: $extra_dark_gray;
                text-decoration: none;
            }
        }
    }
}
