.entel__slider--home__item__content.entel__slider--home__item__navidad {
    background: $blue;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 5px 25px;
            margin: 0;
            z-index: 2;
            position: relative;
        
            @include responsive-width($tablet-m) {
                padding-top: 80px;
                padding-left: 40px;
                width: 100%;
            }
        
            @include responsive-width($laptop-s) {   
                margin-left: 30px;
                padding-left: 0;
                padding-top: 70px;
            }

            @include responsive-width($laptop-m) { 
                margin-left: 0;
            }
            
            
            &-detail {
                position: absolute;
                left: 0;
                top: 0;

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 520px;
                    z-index: 1;
                    background-color: $white;
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;

                    -moz-transform: translate(-122px, -475px) skew(7deg) rotate(-16deg) ;
                    -webkit-transform: translate(-122px, -475px) skew(7deg) rotate(-16deg) ;
                    -o-transform: translate(-122px, -475px) skew(7deg) rotate(-16deg) ;
                    -ms-transform: translate(-122px, -475px) skew(7deg) rotate(-16deg) ;
                    transform: translate(-122px, -475px) skew(7deg) rotate(-16deg) ;

                    @include responsive-width($tablet-m) {
                        // display: none;
                        width: 2000px;
                        height: 2000px;
                        -webkit-border-radius: 110px;
                        -moz-border-radius: 110px;
                        border-radius: 110px;

                        -moz-transform: translate(-1490px, 200px) skew(0deg) rotate(-13deg);
                        -webkit-transform: translate(-1490px, 200px) skew(0deg) rotate(-13deg);
                        -o-transform: translate(-1490px, 200px) skew(0deg) rotate(-13deg);
                        -ms-transform: translate(-1490px, 200px) skew(0deg) rotate(-13deg);
                        transform: translate(-1490px, 200px) skew(0deg) rotate(-13deg);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-1315px, 210px) skew(7deg) rotate(-15deg);
                        -webkit-transform: translate(-1315px, 210px) skew(7deg) rotate(-15deg);
                        -o-transform: translate(-1315px, 210px) skew(7deg) rotate(-15deg);
                        -ms-transform: translate(-1315px, 210px) skew(7deg) rotate(-15deg);
                        transform: translate(-1315px, 210px) skew(7deg) rotate(-15deg);
                    }
                    
                }
            }

            img {
                position: relative;
                z-index: 2;
                // margin-right: 15px;
        
                @include responsive-width($tablet-m) {
                    width: 197px;
                    // width: 297px;
                }
        
                @include responsive-width($laptop-s) {
                    // width: auto;
                    width: auto;
                }
        
                // @include responsive-width($laptop-m) {
                //     width: auto;
                // }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: -145px auto 0;
            width: 100%;
            text-align: center;
            position: relative;
            top: 0;
            z-index: 2;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: auto;
                bottom: 0;
                right: 0;
                width: auto;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
        
            @include responsive-width($laptop-s) {
                // position: absolute;
                // top: 11%;
                // left: 29%;
                width: auto;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
        
            // @include responsive-width($laptop-m) {
            //     left: 35%;
            //     top: 4%;
            // }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: -32px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: 710px;
                    margin-right: -190px;
                }
        
                @include responsive-width($laptop-s) {
                    // width: auto;
                    width: auto;
                    margin-right: -254px;
                }
        
                // @include responsive-width($laptop-m) {
                //     width: auto;
                //     margin-right: 0;
                // }
            }
        }

        .e-button {

            &-buy {    
                margin-top: -22px;
                position: relative;
                z-index: 2;
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 40px;
                        margin-top: 30px;
                        // margin-top: 58px;
                    }
            
                    @include responsive-width($laptop-s) {
                        margin-top: 30px;
                        margin-left: 30px;
                    }
            
                    @include responsive-width($laptop-m) {
                        margin-top: 30px;
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: relative;
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;
            z-index: 2;

            @include responsive-width($tablet-m) {
                display: block;
                // max-width: 260px;
                // font-size: 10px;
                // line-height: 11px;
                // padding: 0;
                // padding-left: 10px;
                // margin-left: 30px;
                // margin-top: 40px;
                // color: $white;
                            
                position: absolute;
                bottom: 10px;
                right: 0;
                max-width: 350px;
                font-size: 9px;
                padding: 0px 10px 0;
            }

            @include responsive-width($laptop-s) {
                max-width: 490px;
                bottom: 34px;
                padding: 0;
                margin: 0;
            }

            // @include responsive-width($laptop-m) {
            //     max-width: 322px;
            //     margin-top: 32px;
            //     margin-left: 0;
            // }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
