.e-content__banner {
  background-color: $white;
}

.entel__slider {
  background-color: transparent !important;

  .slick-prev,
  .slick-next {
    position: absolute;
    padding: 0;
    border: 0;
    background: none;
    text-indent: -9999px;
    top: 50%;
    outline: 0;
    z-index: 10;
    cursor: pointer;
  }
  &#slider-entel {
    .slick-track {
      display: flex;

      .slick-slide {
        // left: auto !important;
      }

      // .slick-slide:nth-child(1) {
      //   order: 2;
      // }

      // .slick-slide:nth-child(2) {
      //   order: -1;
      // }
    }
  }

  .slick-prev {
    left: -9px;
    background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/01.png");
    width: 35px;
    height: 35px;
    [dir="rtl"] & {
      left: auto;
      right: -25px;
    }

    &:hover {
      transition: all 0.2s ease-in;
      background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/02.png");

      [dir="rtl"] & {
        background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/02.png");
      }
    }

    // &:before {
    //     // background-image: url('https://www.entel.pe/wp-content/uploads/2017/01/01.png');

    //     [dir="rtl"] & {
    //         background-image: url('https://www.entel.pe/wp-content/uploads/2017/01/01.png');
    //     }
    // }

    &.slick-disabled,
    &.slick-disabled:hover {
      opacity: 0.3;
      background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/01.png");
    }
  }

  .slick-next {
    right: -9px;
    background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/01.png");
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 35px;
    height: 35px;

    &:hover {
      transition: all 0.2s ease-in;
      background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/02.png");

      [dir="rtl"] & {
        background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/02.png");
      }
    }

    [dir="rtl"] & {
      left: -25px;
      right: auto;
    }

    &.slick-disabled,
    &.slick-disabled:hover {
      background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/01.png");
      opacity: 0.3;
    }
  }

  //
  &.entel__slider--white-arrows {
    .slick-prev,
    .slick-next {
      background-image: url("https://www.entel.pe/wp-content/uploads/2017/08/left-blanco.png");

      &:hover {
        transition: all 0.2s ease-in;
        background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/02.png");

        [dir="rtl"] & {
          background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/02.png");
        }
      }

      // &:before {
      //     background-image: url('https://www.entel.pe/wp-content/uploads/2017/08/left-blanco.png');

      //     [dir="rtl"] & {
      //         background-image: url('https://www.entel.pe/wp-content/uploads/2017/01/01.png');
      //     }
      // }

      &.slick-disabled,
      &.slick-disabled:hover {
        opacity: 0.3;
        background-image: url("https://www.entel.pe/wp-content/uploads/2017/01/01.png");
      }
    }
  }
}

.entel-slider {
  margin-bottom: 24px;

  @media (min-width: $laptop-s) {
    margin-bottom: 40px;
  }

  .slick-slide {
    outline: none !important;
  }

  .slick-dots {
    display: none !important;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    padding: 0;
    border: 0;
    background: none;
    top: 100%;
    outline: 0;
    z-index: 10;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-left: none;
    border-top: none;
    border-right: 2px $blue solid;
    border-bottom: 2px $blue solid;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-top: 22px;
    text-indent: 0;
    font-size: 0;
    -webkit-transition: all 200ms ease 0s;
    -moz-transition: all 200ms ease 0s;
    -o-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;

    &:hover {
      @media (min-width: $tablet-m) {
        border-color: $orange;
      }
    }

    @media (min-width: $laptop-s) {
      margin-top: 38px;
    }

    @media (min-width: $laptop-m) {
      top: 60%;
      margin-top: -14px;
      width: 27px;
      height: 27px;
      border-right: 3px $blue solid;
      border-bottom: 3px $blue solid;
    }

    &.slick-disabled {
      opacity: 0.3;

      &:hover {
        border-color: $blue;
      }
    }
  }

  .slick-prev {
    left: 32%;
    @media (min-width: $tablet-m) {
      left: 40%;
    }

    @media (min-width: $laptop-m) {
      left: -63px;
    }
  }

  .slick-next {
    right: 32%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    @media (min-width: $tablet-m) {
      right: 40%;
    }

    @media (min-width: $laptop-m) {
      right: -63px;
    }
  }

  .slick-dots {
    position: relative;
    text-align: center;
    padding: 0px;
    top: -8px !important;

    li {
      display: inline-block;
      margin: 0 auto;
      width: 20px;
      height: 20px;

      button {
        background: none;
        border: 0px;
        color: $orange;
        font-size: 1px;
        width: 16px;
        height: 16px;
        position: relative;
        outline: none;

        &:before {
          content: "";
          cursor: pointer;
          position: absolute;
          display: block;
          width: 8px;
          height: 8px;
          left: 50%;
          top: 50%;
          background: #cacaca;
          -moz-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border-radius: 8px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }

        &:hover {
          &:before {
            background: $orange;
            width: 12px;
            height: 12px;
          }
        }
      }
    }

    .slick-active {
      button {
        &:before {
          background: $orange;
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  &-blanco {
    .slick-prev,
    .slick-next {
      border-color: $white;
    }
  }
}

// .e-content__banner-cintillo {
//   // display: flex;
//   // flex-direction: column-reverse;

//   // @media (min-width: $tablet-m) {
//   //   display: block;
//   // }
// }

.entel__wrapper__slider {
  position: relative;
  overflow: hidden;
  height: auto;
  z-index: 2;
  background-color: inherit;
  //box-shadow: 0px 0px 9px rgb(0 0 0 / 15%);

  @media screen and (min-width: 768px) {
    margin-top: 115px;
  }
  // @media (min-width: $tablet-m) {
  //   height: 452px;
  // }

  // @media (min-width: $laptop-s) {
  //   height: 400px;
  // }

  &.e-hide-content {
    display: block;
    opacity: 0;
  }
}

.entel__slider {
  &--home {
    opacity: 0;

    &.slick-initialized {
      opacity: 1;
    }

    &.slick-slider {
      margin-bottom: 0;
    }

    .slick-prev {
      left: 2%;
      &:before {
        background-image: initial !important;
      }

      @media (min-width: $desktop-s) {
        left: 4%;
      }

      @media (min-width: $desktop-m) {
        left: 12%;
      }
    }

    .slick-next {
      right: 2%;
      margin-top: -17px;
      &:before {
        background-image: initial !important;
      }
      @media (min-width: $desktop-s) {
        right: 4%;
      }

      @media (min-width: $desktop-m) {
        right: 12%;
      }
    }
    
    .slick-slide {
      padding-bottom: 0px !important;
    }

    .slick-dots {
      padding: 10px 0;
      height: auto;
      position: relative;
      background: #ffffff;
      bottom: 0;
      margin-bottom: 0!important;
      @include responsive-width($tablet_m){
        padding-top: 15px;
      }
    }
  }

  &__option {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;

    @media (min-width: $tablet-m) {
      padding-bottom: 10px;
    }

    &__title {
      color: #383C47;
      font-size: 12px;
      font-weight: 500;
      left: 0;
      position: absolute;
      top: 10px;
      text-align: center;
      width: 100%;
    }

    &__prev,
    &__next {
      background: transparent;
      bottom: -7px;
      border: 0;
      cursor: pointer;
      height: 30px;
      opacity: 0;
      position: absolute;
      width: 30px;
      z-index: 2;

      @media (min-width: $tablet-m) {
        bottom: 3px;
      }

      &::before {
        border: solid #9E9FA1;
        border-width: 0 1px 1px 0;
        content: '';
        position: absolute;
        padding: 6px;
        top: 7px;
      }

      &:hover {
        &::before {
          border-color: $blue;
        }
      }
    }

    &__prev {
      left: 0;
      &::before {
        left: 10px;
        transform: rotate(135deg);
     }
    }

    &__next {
      right: 0;
      &::before {
        right: 10px;
        transform: rotate(-45deg);
      }
    }

    @media (min-width: $tablet-m) {
      width: 420px;

      &__title { 
        font-size: 16px;
        top: 15px;
      }

      &__prev,
      &__next {
        opacity: 1;
      }
    }
  }
  
  //Navegación Home
  &--custom-home-navigation {
    height: auto;
    //margin: -8px auto 0;
    margin: 0 auto 0;
    position: relative;
    // left: 0;
    // right: 0;
    // bottom: 10px;
    text-align: center;
    // -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
    // box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);

    .slick-track {
      @media (min-width: $laptop-s) {
        transform: translate3d(0px, 0px, 0px) !important;
    
      }
    }

    .slick-list {
      //max-width: 1440px;
      max-width: 300px;
      margin: 0 auto;
      //padding-top: 8px;
      //margin-top: -13px;

      @media (min-width: $tablet-m) {
        width: 360px;
      }
    }

    .slick-slide {
      // width: 40px;
      position: relative;
      cursor: pointer;
      padding-bottom: 0px;

      .line__title {
        color: #383C47;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        display: block;
  
        @media (min-width: $tablet-m) {
          font-size: 16px;
          line-height: 18px;
        }
      }

      // &::before {
      //   content: '';
      //   display: block;
      //   height: 42px;
      //   width: 1px;
      //   background-color: #383C47;
      //   position: absolute;
      //   top: 3px;
      //   left: 0px;

      //   @media (min-width: $tablet-m) {
      //     height: 46px;
      //   }
      // }

      // &:first-child {
      //   &::before {
      //     display: none;
      //   }
      // }

      &>div {
        //height: 47px;
        height: 40px;
        padding: 0 5px;

        // display: flex;
        // justify-content: center;
        // flex-direction: column;
        // position: relative;

        // &>div {    
        //   // margin-top: -5px;
        //   padding: 0 8px;
        // }

        @media (min-width: $tablet-m) {
          //height: 53px;
          height: 50px;
        }
      }

      &.slick-current {
        //background: $blue;

        .line__title {
          color: $white;
        }

        // &::after {
        //   content: '';
        //   width: 0;
        //   height: 0;
        //   border-left: 10px solid transparent;
        //   border-right: 10px solid transparent;
        //   border-bottom: 8px solid $blue;
        //   position: absolute;
        //   top: -7px;
        //   left: 50%;
        //   margin-left: -9px;
        //   // @media (min-width: $tablet-m) {
        //   //   left: 110px
        //   // }
        // }

        // &::before {
        //   content: '';
        //   height: 47px;
        //   top: 0px;
        //   right: -1px;
        //   left: auto;

        //   @media (min-width: $tablet-m) {
        //     height: 53px;
        //   }
        // }

        // &:first-child {
        //   &::before {
        //     display: block;
        //   }
        // }
        // .line__timer {
        //   background-color: $blue;
        // }
      }
    }

    &__item {
      //border-radius: 2px;
      //bottom: 6px;
      border-radius: 50px;
      bottom: 8px;
      height: 4px;
      //left: 50%;
      //margin-left: -8px;
      //opacity: 0;
      overflow: hidden;
      position: absolute;
      //width: 16px;
      width: 40px;


      @media (min-width: $tablet-m) {
        // width: 50px;
        // height: 4px;
        // border-radius: 2px;
        // margin-left: -25px;
        // bottom: 14px;
      }

      .line__timer {
        width: 100%;
        //height: 3px;
        height: 4px;
        //border-radius: 2px;
        overflow: hidden;
        position: relative;
        display: block;
        background-color: #EBEBEB;

        &__bar {
          //transition-duration: 8s;
          position: absolute;
          //border-radius: 2px;
          width: 0;
          //height: 3px;
          height: 100%;
          background-color: $white;
          left: 0;
          top: 0;
          transition-property: width;
        }
      }

      > .title__navigation {
        display: none;
      }

      // > span {
      //   opacity: 0.2;
      //   font-size: 16px;
      //   color: #fff;
      //   display: none;
      // }

      &.js--active {
        //opacity: 0;
        opacity: 1;

        > span {
          opacity: 1;
          font-weight: 400;
        }

        .line__timer {

          span {
            width: 100%;
            transition-duration: 8000ms;
            //background-color: $orange;
            background-color: $blue;
          }
        }
      }
    }

    @media (min-width: $tablet-m) {
      // bottom: 33px;
      // max-width: 245px;
      // max-width: 450px; //6 sliders
    }

    @media (min-width: $laptop-s) {
      // width: 300px;
      // bottom: 10px;
      text-align: center;

      // &__item {
      //   width: 25px;
      //   height: 13px;
      //   line-height: 22px;
      //   margin: 0 15px;

      //   > .title__navigation {
      //     display: none;
      //     color: $white;
      //     padding: 12px 0;
      //     font-weight: 400;
      //     padding: 11px 20px;
      //     font-size: 18px;
      //     opacity: 0.2;

      //     b {
      //       font-weight: 400;
      //     }
      //   }

      //   > span {
      //     display: none;
      //   }

      //   &.entel-item_state-active {
      //     > .title__navigation {
      //       opacity: 1;
      //     }
      //   }
      // }
    }
  }
}


.entel__wrapper__slider.js--active{
  .entel__slider--home .slick-dots{
    background: $blue;

    button {
      background: rgba(235, 235, 235, 0.3)!important;

      &:before{
        background: rgba(255,255,255,0.4)!important;
      }
    }
  }
}