.entel__slider--home__item__huawei {
    .entel__slider--home__item__content {
        background: #C3B8F4;
        background-image: url('https://www.entel.pe/wp-content/uploads/2020/06/banner_hms_huawei_mob-v2.png');
        background-size: contain;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @media (max-width: 330px) {
            background-position: center 100%;
        }

        @include responsive-width(390px) {
            background-position: center top;
        }

        @include responsive-width($mobile-lg) {
            background-position: center -160px;
        }

        @include responsive-width($tablet-m) {
            background-image: url('https://www.entel.pe/wp-content/uploads/2020/06/banner_hms_huawei_desk-v2.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: bottom;
        }  

        @include responsive-width($tablet_ll) {
            background-position-x: center;
        }
        .principalcontent {
            width: 270px;
            text-align: center;
            margin-top: 55px;
            @include responsive-width($tablet_m) {
                width: 500px;
                height: 75%;
                margin-top: 0px;
            }
            .marca {
                max-width: 73px;
                margin: 0 auto 10px 0;
                display: block;

                @include responsive-width($tablet_m) {
                    max-width: 100px;
                    margin: 0 auto 17px 0;
                }
            }
            .subtitle {
                color: $blue;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 26px;
                text-align: left;
                max-width: 195px;
                width: 100%;
                margin-bottom: 48px;
                @include responsive-width($tablet_m) {
                    font-size: 30px;
                    line-height: 40px;
                    max-width: 480px;
                    margin-bottom: 40px;

                }
            } 
            .e-button-buy .btn-buy {
                max-width: 140px;
                height: 40px;
                font-size: 12px;
                line-height: 1.7;
                @include responsive-width($tablet_m) {
                    max-width: 167px;
                    height: 50px;
                    font-size: 14px;
                    padding: 10px;
                }
            }
        }
    }
}