.entel__slider--home__item__content.entel__slider--home__item__galaxy_note {
    // background: $blue;
    background: $blue url($m_image_path+'/2020/08/banner-galaxy-note-mob.jpg');
    background-position: 0 bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0;
        
    @include responsive-width($tablet-m) {
        background: $blue url($m_image_path+'/2020/08/banner-galaxy-note-desk.jpg');
        background-position: center bottom;
        background-size: cover;
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: auto;
        width: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            position: absolute;
            left: 50%;
            max-width: 100%;
            top: 50%;
            -moz-transform: translate(-50%, -46%);
            -webkit-transform: translate(-50%, -46%);
            -o-transform: translate(-50%, -46%);
            -ms-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 0 20px;
            max-width: 320px;
            margin: 0 auto;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                max-width: 100%;
                width: 100%;
                text-align: left;
                padding-left: 10px;
            }
        
            @include responsive-width(900px) {
                padding-left: 30px;
            }
        
            @include responsive-width(1200px) {
                padding-left: 0px;
            }

            h2 {
                color: $white;
                margin: 25px 0 2px 0;
                font-weight: normal;
                font-size: 16px;
        
                @include responsive-width($tablet-m) {
                    font-size: 24px;
                }
            }

            p {
                color: $white;
                margin: 0 0 35px 0;
                font-weight: normal;
                font-size: 22px;
        
                @include responsive-width($tablet-m) {
                    font-size: 30px;
                }

                strong {
                    font-weight: bold;
                }
            }

            img {
        
                @include responsive-width($tablet-m) {
                    width: 270px;
                }

                @include responsive-width(900px) {
                    width: auto;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            // display: none;
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
        
            @include responsive-width($tablet-m) {
                
                width: 370px;
                overflow: hidden;
                text-align: right;
    
                text-align: right;
                position: absolute;
                top: 50%;
                -ms-transform: translate(96%, -55%);
                transform: translate(96%, -55%);
                -moz-transform: translate(96%, -55%);
                -webkit-transform: translate(96%, -55%);
                -o-transform: translate(96%, -55%);
                -ms-transform: translate(96%, -55%);
                transform: translate(96%, -55%);
            }
        
            @include responsive-width(900px) {
                -ms-transform: translate(120%, -54%);
                transform: translate(120%, -54%);
                -moz-transform: translate(120%, -54%);
                -webkit-transform: translate(120%, -54%);
                -o-transform: translate(120%, -54%);
                -ms-transform: translate(120%, -54%);
                transform: translate(120%, -54%);
            }
        
            @include responsive-width(1200px) {
                width: 100%;
                overflow: hidden;
    
                text-align: right;
                position: absolute;
                top: 50%;
                -ms-transform: translate(8%, -46%);
                transform: translate(8%, -46%);
                -moz-transform: translate(8%, -46%);
                -webkit-transform: translate(8%, -46%);
                -o-transform: translate(8%, -46%);
                -ms-transform: translate(8%, -46%);
                transform: translate(8%, -46%);
            }

            &-img {
                position: relative;
                display: block;
                z-index: 3;
            }

            img {
                max-width: 100%;
                display: inline-block;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: 721px;
                    float: right;
                }

                // @include responsive-width(900px) {
                //     max-width: 100%;
                // }
            }
        }

        .e-button {

            &-buy {
                // margin-top: -18px;
                margin-top: 0px;
        
                @include responsive-width($tablet-m) {
                    margin-top: 30px;
                }
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 10px;
                    }
        
                    @include responsive-width(900px) {
                        margin-left: 30px;
                    }
        
                    @include responsive-width(1200px) {
                        margin-left: 0px;
                    }
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 10px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: 0.02em;
            max-width: 320px;

            @include responsive-width($tablet-m) {
                display: block;
                max-width: 100%;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                padding-left: 10px;
                margin-left: 0;
                margin-top: 100px;
            }
        
            @include responsive-width(900px) {
                padding-left: 30px;
                padding-right: 30px;
            }
        
            @include responsive-width(1200px) {
                padding-left: 0px;
                padding-right: 0px;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
