.entel__slider--home__item__content.entel__slider--home__sanvalentin  {
    background: $white;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 950px;
            height: 400px;
            top: 0;
            -ms-transform: none;
            transform: none;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            margin-bottom: 0;
            margin-top: 30px;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 0;
                padding-top: 40px;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 30px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0;
                margin-left: -80px;
            }

            &-detail {
                position: absolute;
                left: 50%;
                top: 0;

                @include responsive-width($tablet-m) {
                    left: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 380px;
                    background-color: $blue;
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;

                    -moz-transform: rotate(186deg) skew(-9deg) translate(1060px, 201px);
                    -webkit-transform: rotate(186deg) skew(-9deg) translate(1060px, 201px);
                    -o-transform: rotate(186deg) skew(-9deg) translate(1060px, 201px);
                    -ms-transform: rotate(186deg) skew(-9deg) translate(1060px, 201px);
                    transform: rotate(186deg) skew(-9deg) translate(1060px, 201px);
                    
                    @include responsive-width($tablet-m) {
                        height: 500px;
                        -webkit-border-top-left-radius: 80px;
                        -moz-border-top-left-radius: 80px;
                        border-top-left-radius: 80px;
                        -moz-transform: rotate(186deg) skew(-3deg) translate(896px, 226px);
                        -webkit-transform: rotate(186deg) skew(-3deg) translate(896px, 226px);
                        -o-transform: rotate(186deg) skew(-3deg) translate(896px, 226px);
                        -ms-transform: rotate(186deg) skew(-3deg) translate(896px, 226px);
                        transform: rotate(186deg) skew(-3deg) translate(896px, 226px);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: rotate(184deg) skew(-8deg) translate(884px, 132px);
                        -webkit-transform: rotate(184deg) skew(-8deg) translate(884px, 132px);
                        -o-transform: rotate(184deg) skew(-8deg) translate(884px, 132px);
                        -ms-transform: rotate(184deg) skew(-8deg) translate(884px, 132px);
                        transform: rotate(184deg) skew(-8deg) translate(884px, 132px);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: rotate(184deg) skew(-3deg) translate(977px, 132px);
                        -webkit-transform: rotate(184deg) skew(-3deg) translate(977px, 132px);
                        -o-transform: rotate(184deg) skew(-3deg) translate(977px, 132px);
                        -ms-transform: rotate(184deg) skew(-3deg) translate(977px, 132px);
                        transform: rotate(184deg) skew(-3deg) translate(977px, 132px);
                    }
                }
            }

            img {
                position: relative;
                display: inline-block;

                @include responsive-width($tablet-m) {
                    // max-width: 399px;
                    margin-left: 25px;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 0;
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    // padding: 58px 0 0 0;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            margin: 50px 0 0 0;
            width: 100%;
            position: relative;
            text-align: center;
        
            @include responsive-width($tablet-m) {
                text-align: right;
                position: absolute;
                bottom: 80px;
                right: 0;
                // margin: -10px 0 0 0;
                // position: absolute;
                // -ms-transform: translate(158px, -117%);
                // transform: translate(158px, -117%);
            }

            @include responsive-width($laptop-s) {
                bottom: 30px;
                // -ms-transform: translate(15%, -73%);
                // transform: translate(15%, -73%);
            }

            @include responsive-width($laptop-m) {
                // -ms-transform: translate(18%, -66%);
                // transform: translate(18%, -66%);
            }

            &-img {
                position: relative;
                display: block;
            }


            &-detail {
                position: absolute;
                right: 0;
                bottom: 0;

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 380px;
                    background-color: #cfd3d5;
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;

                    // -moz-transform: rotate(186deg) skew(-9deg) translate(1060px, 201px);
                    // -webkit-transform: rotate(186deg) skew(-9deg) translate(1060px, 201px);
                    // -o-transform: rotate(186deg) skew(-9deg) translate(1060px, 201px);
                    // -ms-transform: rotate(186deg) skew(-9deg) translate(1060px, 201px);
                    // transform: rotate(186deg) skew(-9deg) translate(1060px, 201px);
                    
                    // @include responsive-width($tablet-m) {
                    //     height: 500px;
                    //     -webkit-border-top-left-radius: 80px;
                    //     -moz-border-top-left-radius: 80px;
                    //     border-top-left-radius: 80px;
                    //     -moz-transform: rotate(186deg) skew(-3deg) translate(896px, 226px);
                    //     -webkit-transform: rotate(186deg) skew(-3deg) translate(896px, 226px);
                    //     -o-transform: rotate(186deg) skew(-3deg) translate(896px, 226px);
                    //     -ms-transform: rotate(186deg) skew(-3deg) translate(896px, 226px);
                    //     transform: rotate(186deg) skew(-3deg) translate(896px, 226px);
                    // }

                    // @include responsive-width($laptop-s) {
                    //     -moz-transform: rotate(184deg) skew(-8deg) translate(884px, 132px);
                    //     -webkit-transform: rotate(184deg) skew(-8deg) translate(884px, 132px);
                    //     -o-transform: rotate(184deg) skew(-8deg) translate(884px, 132px);
                    //     -ms-transform: rotate(184deg) skew(-8deg) translate(884px, 132px);
                    //     transform: rotate(184deg) skew(-8deg) translate(884px, 132px);
                    // }

                    @include responsive-width($laptop-m) {
                        -moz-transform: rotate(187deg) skew(-3deg) translate(47px, 242px);
                        -webkit-transform: rotate(187deg) skew(-3deg) translate(47px, 242px);
                        -o-transform: rotate(187deg) skew(-3deg) translate(47px, 242px);
                        -ms-transform: rotate(187deg) skew(-3deg) translate(47px, 242px);
                        transform: rotate(187deg) skew(-3deg) translate(47px, 242px);
                    }
                }
            }

            img {
                max-width: 100%;
                display: inline-block;   
                margin-right: -12px;
        
                @include responsive-width($tablet-m) {
                    max-width: 420px;
                    margin-right: 40px;
                }

                @include responsive-width($laptop-s) {
                    max-width: 810px;
                    margin-right: -180px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                    margin-right: -450px;
                }
            }
        }

        .e-button-buy {
            margin-top: 8px;
        
            @include responsive-width($tablet-m) {
                margin-top: 4px;
                margin-left: 0px;
            }
            

            @include responsive-width($laptop-s) {
                margin-top: -116px;
            }

            @include responsive-width($laptop-m) {
                margin-left: -110px;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-left: 30px;
                    margin-top: -170px;
                }

                @include responsive-width($laptop-s) {
                    margin-top: 0;
                    margin-left: 30px;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 15px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            // letter-spacing: -0.05em;

            @include responsive-width($tablet-m) {
                display: block;
                width: 100%;
                max-width: 260px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                margin-left: 30px;
                margin-top: 30px;
                // text-align: center;
            }

            @include responsive-width($laptop-s) {
                // margin-top: 110px;
                // margin-left: 0px;
            }

            @include responsive-width($laptop-m) {
                // margin-top: 120px;
                margin-left: -40px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
