.entel__slider--home__item__content.entel__slider--home__cyber-entel_2021_nov {
    background-color: #004fb9;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1030px !important;
        }

        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &-detail {
            position: absolute;
            left: 50%;
            bottom: 0;

            &:before {
                @include responsive-width($tablet-m) {
                    content: "";
                    width: 284px;
                    height: 258px;
                    display: block;
                    position: absolute;
                    left: 50px;
                    bottom: 0;
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='284' height='258' viewBox='0 0 284 258' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_106:146' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='284' height='258'%3E%3Crect width='284' height='258' fill='%23C4C4C4'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_106:146)'%3E%3Cpath d='M281.086 56.2631C288.892 26.1441 262.43 -1.73205 231.946 4.49669L41.4973 43.4104C15.0892 48.8063 -0.122118 76.6565 9.61039 101.792L75.8678 272.909H224.94L281.086 56.2631Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
                }

                @include responsive-width($laptop-s) {
                    width: 376px;
                    height: 350px;
                    left: 174px;
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='376' height='350' viewBox='0 0 376 350' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_102:214' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='376' height='350'%3E%3Crect width='376' height='350' fill='%23C4C4C4'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_102:214)'%3E%3Cpath d='M371.081 82.4346C381.658 41.6219 345.801 3.84842 304.493 12.2887L46.4263 65.0187C10.642 72.3304 -9.97004 110.069 3.21798 144.128L93 376H295L371.081 82.4346Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
                }

                @include responsive-width($laptop-m) {
                    left: 208px;
                }
            }
        }
        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            max-width: 320px;
            margin: 0 auto;

            // @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            //         margin-left: 0 !important;
            // }

            @include responsive-width($tablet-m) {
                margin: 0;
                max-width: none;
                text-align: left;
            }

            // @media (max-width: 1150px) {
            //         margin-left: 2% !important;
            // }

            // @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
            //         margin-left: 0% !important;
            // }

            &-text {
                position: relative;
                margin: 0 auto;
                text-align: left;
                padding-left: 13px;
                padding-top: 5px;
                z-index: 2;

                @include responsive-width($tablet-m) {
                    padding-top: 38px;
                    padding-left: 66px;
                }

                @include responsive-width($laptop-s) {
                    padding-left: 62px;
                    padding-top: 34px;
                }

                @include responsive-width($laptop-m) {
                    padding-left: 0;
                }

                form {
                    .form-legal {
                        bottom: -26px;
                        color: #9e9fa1;
                        font-size: 10px;
                        text-align: left;
                        position: absolute;
                        letter-spacing: 0;

                        @include responsive-width($tablet-m) {
                            display: none;
                        }

                        a {
                            font-size: 10px;
                            color: #9e9fa1;
                            font-weight: bold;
                            text-decoration: underline;
                        }
                    }

                    .form--content {
                        .form--head {
                            margin-bottom: 13px;
                            @include responsive-width($tablet-m) {
                                margin-bottom: 22px;
                            }
                            @include responsive-width($laptop-s) {
                                margin-bottom: 18px;
                            }

                            p {
                                margin: 0px;
                                color: $color-blue;
                                font-size: 14px;
                                text-align: left;
                                font-weight: 600;
                                line-height: 14px;
                                font-style: normal;

                                span {
                                    font-weight: 400;
                                }

                                @include responsive-width($tablet-m) {
                                    font-size: 19px;
                                    line-height: 19px;
                                }
                            }

                            h2 {
                                font-style: normal;
                                font-weight: bold;
                                font-size: 24px;
                                line-height: 20px;
                                text-align: left;
                                text-transform: uppercase;
                                color: #00b9eb;
                                margin: 4px 0px 5px;

                                @include responsive-width($tablet-m) {
                                    font-size: 34px;
                                    line-height: 30px;
                                    margin: 6px 0px 11px;
                                }
                            }

                            h3 {
                                font-style: normal;
                                font-weight: 300;
                                font-size: 12px;
                                line-height: 12px;
                                text-align: left;
                                color: $white;
                                margin: 0px 0px 5px;

                                @include responsive-width($tablet-m) {
                                    font-size: 20px;
                                    line-height: 18px;
                                    margin: 0px 0px 15px;
                                }
                                strong {
                                    font-weight: bold;
                                }
                            }

                            img {
                                margin-bottom: 0px;

                                @include responsive-width($tablet-m) {
                                    margin-bottom: 5px;
                                    margin-left: 0;
                                    width: auto;
                                }
                            }
                        }

                        .form--body {
                            // display: none;
                            h3 {
                                color: #fff;
                                font-size: 11px;
                                margin-bottom: 8px;
                                letter-spacing: 0.216667px;

                                @include responsive-width($tablet-m) {
                                    display: block;
                                    font-size: 11px;
                                    margin-bottom: 10px;
                                }
                            }

                            .form--number {
                                margin-bottom: 9px;

                                @include responsive-width($tablet-m) {
                                    margin-bottom: 5px;
                                }

                                input {
                                    border: 1px solid #9e9fa1;
                                    box-sizing: border-box;
                                    border-radius: 7.3332px;
                                    width: 160px;
                                    height: 44px;
                                    padding: 10px 15px;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 12px;
                                    line-height: 15px;
                                    align-items: center;
                                    letter-spacing: 0.0015em;
                                    color: #9e9fa1;

                                    &.error {
                                        border-color: #f10101;
                                    }

                                    &.error::placeholder {
                                        color: #f10101;
                                    }

                                    @include responsive-width($tablet-m) {
                                        width: 216px;
                                        height: 56px;
                                        font-size: 14px;
                                        line-height: 17px;
                                    }
                                }
                            }

                            .form--check {
                                display: flex;
                                align-items: center;
                                @include responsive-width($tablet-m) {
                                    margin-top: 8px;
                                }
                                input {
                                    display: none;
                                }

                                label {
                                    @include responsive-width($tablet-m) {
                                        font-size: 11px;
                                    }
                                }

                                .input-mask-top {
                                    width: 18px;
                                    height: 18px;
                                    border: 1px solid $orange;
                                    box-sizing: border-box;
                                    border-radius: 4.58325px;
                                    margin-top: 2px;
                                    position: relative;

                                    &.error {
                                        border-color: #f10101;

                                        &::after {
                                            border-color: $blue;
                                        }
                                    }

                                    &::after {
                                        content: "";
                                        left: 6px;
                                        top: 2px;
                                        width: 4px;
                                        height: 9px;
                                        border: solid $orange;
                                        border-width: 0px 2px 2px 0px;
                                        -webkit-transform: rotate(45deg);
                                        -ms-transform: rotate(45deg);
                                        transform: rotate(45deg);
                                        position: absolute;
                                    }
                                }

                                a {
                                    color: $white;
                                    margin-left: 5px;
                                    line-height: 18px;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 10px;

                                    span {
                                        font-weight: bold;
                                        text-decoration: underline;
                                    }
                                }
                            }

                            button {
                                background-color: #ff560a;
                                border-radius: 45.8325px;
                                color: #ffffff;
                                cursor: pointer;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 12px;
                                line-height: 1px;
                                text-align: center;
                                padding: 15px 5px;
                                text-transform: uppercase;
                                margin-top: 8px;
                                border: 0px;
                                width: 142px;
                                height: 40px;
                                display: block;

                                @include responsive-width($tablet-m) {
                                    padding: 21px 36px;
                                    margin-top: 9px;
                                    width: 186px;
                                    height: 50px;
                                }
                            }
                        }

                        .form--loading {
                            display: none;
                            padding: 25px 25px 0px;

                            img {
                                -webkit-animation: rotating 2s linear infinite;
                                -moz-animation: rotating 2s linear infinite;
                                -ms-animation: rotating 2s linear infinite;
                                -o-animation: rotating 2s linear infinite;
                                animation: rotating 2s linear infinite;
                                width: 70px;

                                @-webkit-keyframes rotating {
                                    from {
                                        -webkit-transform: rotate(0deg);
                                        -o-transform: rotate(0deg);
                                        transform: rotate(0deg);
                                    }
                                    to {
                                        -webkit-transform: rotate(360deg);
                                        -o-transform: rotate(360deg);
                                        transform: rotate(360deg);
                                    }
                                }
                                @keyframes rotating {
                                    from {
                                        -ms-transform: rotate(0deg);
                                        -moz-transform: rotate(0deg);
                                        -webkit-transform: rotate(0deg);
                                        -o-transform: rotate(0deg);
                                        transform: rotate(0deg);
                                    }
                                    to {
                                        -ms-transform: rotate(360deg);
                                        -moz-transform: rotate(360deg);
                                        -webkit-transform: rotate(360deg);
                                        -o-transform: rotate(360deg);
                                        transform: rotate(360deg);
                                    }
                                }

                                @include responsive-width($tablet-m) {
                                    width: 100px;
                                }
                            }
                        }

                        .form--thanks {
                            display: none;
                            width: 150px;
                            text-align: center;
                            color: $color-blue;

                            img {
                                margin-bottom: 5px;
                                @include responsive-width($tablet-m) {
                                    margin-bottom: 0px;
                                }
                            }
                            p,
                            span {
                                font-style: normal;
                                font-weight: bold;
                                font-size: 10px;
                                line-height: 12px;
                                text-align: center;
                                color: $color-blue;

                                @include responsive-width($tablet-m) {
                                    font-size: 16px;
                                    line-height: 18px;
                                    margin: 0px 0px 15px;
                                }
                            }

                            @include responsive-width($tablet-m) {
                                width: 200px;
                            }
                        }

                        .form--duplicate {
                            display: none;
                            width: 180px;
                            padding-top: 15px;
                            p {
                                font-style: normal;
                                font-weight: bold;
                                font-size: 12px;
                                line-height: 15px;
                                margin: 0px;
                                color: $color-blue;

                                @include responsive-width($tablet-m) {
                                    font-size: 16px;
                                    line-height: 18px;
                                }
                            }

                            @include responsive-width($tablet-m) {
                                width: 250px;
                            }
                        }

                        .form--error {
                            display: none;
                            width: 180px;
                            padding-top: 15px;

                            p {
                                font-style: normal;
                                font-weight: bold;
                                font-size: 12px;
                                line-height: 15px;
                                margin: 0px;
                                color: $color-blue;

                                @include responsive-width($tablet-m) {
                                    font-size: 16px;
                                    line-height: 18px;
                                }
                            }

                            @include responsive-width($tablet-m) {
                                width: 250px;
                            }
                        }

                        .form--callback {
                            margin-top: 2px;
                            color: $color-blue;

                            p {
                                margin: 0px;
                                color: $color-blue;
                                font-size: 10px;
                                line-height: 11px;
                                font-style: normal;
                                font-weight: normal;

                                a {
                                    color: $color-blue;
                                    text-decoration: underline;
                                    font-weight: bold;
                                }

                                @include responsive-width($tablet-m) {
                                    font-size: 12px;
                                    line-height: 14px;
                                }
                            }

                            @include responsive-width($tablet-m) {
                                margin-top: 8px;
                            }
                        }

                        .form--button {
                            display: none;
                            text-align: left;
                            padding-top: 78px;

                            @include responsive-width($tablet-m) {
                                padding-top: 110px;
                            }

                            @include responsive-width($laptop-s) {
                                padding-top: 100px;
                            }

                            a {
                                border-radius: 45.8325px;
                                min-width: 141px;
                                height: 40px;

                                @include responsive-width($tablet-m) {
                                    min-width: 186px;
                                    height: 50px;
                                }

                                span {
                                    font-size: 12px;

                                    @include responsive-width($tablet-m) {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }

                        .text-white {
                            color: #fff !important;

                            & * {
                                color: #fff !important;
                            }
                        }
                    }
                }
            }
        }

        &__imgbanner {
            margin: 0;
            width: 100%;
            position: absolute;
            text-align: right;
            z-index: 1;
            left: 3px;
            top: 36px;

            @include responsive-width($tablet-m) {
                left: auto;
                top: 27px;
                right: 112px;
            }

            @include responsive-width($laptop-s) {
                right: 45px;
                top: 34px;
            }

            @include responsive-width($laptop-m) {
                left: -50px;
                top: -18px;
            }

            &-img {
                position: relative;
                display: block;
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;
                margin-right: 15px;
                margin-bottom: 0;

                @include responsive-width($tablet-m) {
                    margin-right: 0;
                    margin-bottom: 0;
                }
            }
        }
    }

    .btn-buy {
        width: 160px;
        padding-bottom: 6px;
        margin: 0;
        display: block;
        text-decoration: none;
        line-height: 1;
        outline: 0;
        font-size: 14px;
        font-weight: 700;
        padding: 7px 15px;
        background-color: #ff560a;
        border: 2px solid #ff560a;
        border-radius: 55px;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        text-align: center;
        transition: all 0.2s ease 0s;
        transform: translateY(20px);

        @include responsive-width($tablet_m) {
            margin: 14px 0 0 0;
            padding: 15px;
        }
    }

    .e-legal-small {
        position: absolute;
        font-size: 10px;
        line-height: 12px;
        width: 100%;
        padding: 0 10px 0 0;
        color: $extra_dark_gray;
        text-align: right;
        letter-spacing: -0.01em;
        z-index: 4;

        &__mob {
            padding-left: 15px;
            margin: 7px auto 0;
            text-align: left;
            padding-right: 0;
            bottom: 10px;

            @include responsive-width($tablet-m) {
                width: 460px;
                bottom: 20px;
                padding-left: 60px;
            }

            @include responsive-width($laptop-s) {
                display: none;
            }
        }

        &__desk {
            display: none;

            @include responsive-width($laptop-s) {
                font-size: 9px;
                display: block;
                max-width: 900px;
                right: auto;
                left: 60px;
                bottom: 15px;
                padding: 0;
                margin: 0;
                text-align: justify;
                line-height: 10px;
            }

            @include responsive-width($laptop-m) {
                left: 7px;
                max-width: 980px;
            }
        }

        a {
            color: $extra_dark_gray;
            text-decoration: underline;
            @include responsive-width($laptop-s) {
                text-decoration: none;
            }
        }
    }

    .e-disclaimer-small {
        position: absolute;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        max-width: 140px;
        z-index: 4;
        display: none;
        color: $white;
        @include responsive-width($tablet-m) {
            display: block;
            right: 37.5%;
            max-width: 220px;
            line-height: 14px;
            bottom: 15px;
        }

        @include responsive-width($laptop-s) {
            right: 40%;
            max-width: 100%;
            bottom: 52px;
        }

        @include responsive-width($laptop-m) {
            right: 45%;
            bottom: 44px;
        }
    }
}
