.entel__slider--home__item .entel__slider--home__item__content_form-migra {
    background-color: $blue;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../images/2020/06/bg-couple-mob.png');


    @include responsive-width($tablet_ll) {
        background-size: contain;
        background-image: url('../../../images/2020/06/bg-couple-desk.png');
    }

    .e-button-buy small {
        color: white;
        padding-top: 21px;
        display: block;
        width: 310px;
        margin: 0 auto;
        
        br {
            display: none;

            @include responsive-width($tablet_ll) {
                display: block;
            }
        }
    }

    .detalle {
        position: absolute;
        right: 0;
        bottom: -170px;
        top: unset;

        img {
            width: 600px;
            position: relative;
            right: -80px;
            margin-right: auto;
            margin-left: auto;
        }

        @include responsive-width(375px) {
            width: 80%;
        }

        @include responsive-width($tablet_m) {
            position: relative;
            text-align: center;     
            height: auto;
            bottom: -90px;
            width: 100%;
            z-index: 1;
            left: 14%;
            
            img {
                width: auto;
                top: 80px;
                left: 20px;
                right: 0;
            }
        }

        @include responsive-width(1000px) {
            img {
                width: 50%;
            }
        }

        @include responsive-width($laptop-m) { 
            img {
                width: 40%;
            }
        }

        @include responsive-width(2000px) {
            img {
                top: 60px;
                left: -10px;
                right: 0;
            }
        }
    }    

    .principalcontent {
        width: 90%;
        text-align: center;
        height: 100%;
        transform: translate(-50%, -50%);

        &__textbanner {
            margin-bottom: 10px;
            text-align: left;
            position: relative;
            height: 50%;

            form {
                text-align: left;

                h2 {
                    font-size: 30px;
                    line-height: 33px;
                    color: $white;
                    font-weight: 900;
                    margin: 7px 0 14px 0;
                    vertical-align: middle;
                    display: inline-block;
                    font-family: Barlow,sans-serif;
    
                    span {
                        width: 80%; 
                        color: #ffffff;
                        font-size: 22px;
                        line-height: 100%;
                        font-weight: 300;
                        line-height: 25px;
                        display: block;
                        font-family: inherit;
    
                        @include responsive-width($tablet_m) {
                            font-weight: 300;
                            font-size: 21px;
                            line-height: 21px;
                            width: auto;
                        }
                    }
    
                    @include responsive-width($tablet_m) {
                        margin: 14px 0;
                        line-height: 55px;
                        font-size: 55px;
                        width: auto;
                    }

                    @include responsive-width($laptop-s) {
                        line-height: 77px;
                    }
                }   

                .e-button-buy {
                    text-align: left;

                    button {
                        margin:0;
                        width: 140px;
                        height: 45px;
                        padding: 9px 15px;
                    }
                }
            }                  

            &__load,
            &__thanks,
            &__form,
            &__repeated {
                display: none;
                opacity: 0;

                &.active {
                    display: block;
                    opacity: 1;
                }
            }

            &__load > img {
                position: absolute;
                top: 0;
                bottom: 0;
                right: unset;
                left: 35px;
                margin: auto;
                padding: 0;
                width: 129px;
                height: 114px;
                -webkit-animation: spin 2000ms linear infinite;
                -moz-animation: spin 2000ms linear infinite;
                animation: spin 2000ms linear infinite;
            }

            &__thanks,
            &__repeated {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
                padding: 0;
                width: 100%;
                height: 165px;
                text-align: center;
                color: #ffffff;
                
                img {
                    max-width: 50%;
                    margin-bottom: 7px;
                }
                
                p {
                    font-size: 18px;
                    font-weight: 100;
                    line-height: 20px;
                }
            }

            @media screen and (min-width: 375px) {
                margin-top: 60px;
                margin-bottom: 10px;
            }

            @media (max-width: 560px) {
                margin-top: 7px;
                margin-bottom: 14px;
            }

            @include responsive-width($tablet_m) {
                width: 35%;
                padding-left: 0;
                text-align: left;
                position: absolute;
                margin: 0 ;
                left: 0;
            }

            @include responsive-width($tablet_ll) {
                padding-left: 0;
            } 

            
            @include responsive-width($laptop-s) {
                width: 45%;
            } 
        }

        &__imgbanner {
            position: absolute;
            right: -70px;
            bottom: 15px;
            margin-left: 0 !important;
            
            img {
                max-width: 40%;
                display: inline-block !important;

                @media screen and (max-width: 324px) {
                    margin-left: 0;
                    bottom: -190px;
                }

                @include responsive-width($tablet_m) {
                    max-width: 100%;
                    margin-left: 0 !important;
                }
            }

            .migra-couple-message-bubble {
                position: absolute;
                right: 20%;
                bottom: 180px;

                img {
                    max-width: 100%;
                }
            }

            .migra-couple-heart {
                position: absolute;
                right: 70%;
                bottom: 170px;

                img {
                    max-width: 100%;
                }                
            }

            @include responsive-width($tablet_m) {
                right: 0;
                width: 500px;
                height: 100%;
                margin-left: 0 !important;
                position: absolute;
                top: 0;

                .migra-couple-message-bubble {
                    right: -5%;
                }

                .migra-couple-heart {
                    right: 80%;
                }
            }
            
        }

        &__plan {
            position: relative;

            ul li:last-child {
                color: $extra_blue;
            }

            ul {
                position: relative;

                li {
                    &::before {
                        content: "";
                    }
                    font-size: 18px;
                    
                    @include responsive-width($tablet_m) {
                        font-size: 20px;
                    }  
                }
            }
        }

        .e-button-buy small {
            width: 100%;
        }

        @include responsive-width($tablet_m) {
            height: 70%;
            width: 90%;
            transform: translate(-50%, -65%);

            .e-button-buy small {
                width: 80%;
                margin: 0;
            }
        }

        @include responsive-width($laptop_m) {
            transform: translate(-50%, -50%);
        }
    }


    //float
    .bounce {
        @include responsive-width($laptop-s) {
            transform: translatey(0px);
            animation: float 4s ease-in-out infinite;
           
            &-3x {
                transform: translatey(0px);
                animation: float 3s ease-in-out infinite;
                
            }
        
            &-2x {
                transform: translatey(0px);
                animation: float 2s ease-in-out infinite;
                
            }
        }
    }

    //Poweroso resources form
    %inpute_height_css {
        height: 44px;
        line-height: 44px;
    
        @include responsive-width($tablet-m) {
            height: 56px;
            line-height: 56px;
        }
    }
    
    %inpute_css {
        background-color: $white;
        border: 1px solid $extra_dark_gray;
        color: $extra_light_black;
        font-weight: 500;
        margin-bottom: 0;
        padding: 0 12px 0 20px;
        width: 200px;
        display: block;
        font-family: $font_family;
        font-size: 16px;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;
        border-radius: 4px;
    
        @include responsive-width($tablet_m) {
            border-radius: 8px;
            font-weight: 500;
            font-size: 16px
        }
    }
    
    input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
    select {
        @extend%inpute_height_css;
    }
    
    input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
    optgroup,
    select,
    textarea {
        @extend %inpute_css;
    
        &~span {
            position: absolute;
            left: 20px;
            top: 50%;
            pointer-events: none;
            font-weight: 500;
            font-size: 14px;
            color: $extra_dark_gray;
            transition: all .3s ease;
            transform: translateY(-50%);
            opacity: 1;
    
            @media (min-width: $tablet_m) {
                font-size: 16px;
            }
    
            &.focus,
            &.active {
                color: $extra_blue;
                font-size: 12px;
                font-weight: 400;
                padding: 0 4px;
                left: 17px;
                top: -10px;
                background: $white;
                transform: translateY(0);
            }
        }
    
        &.error {
            border-color: $pink !important;
            box-shadow: 0 0 0 1px $pink;
            background-image: m_image_common_url("icon_input_error.png");
            background-repeat: no-repeat;
            background-position: calc(100% - 12px) center;
    
            &:focus {
                box-shadow: 0 0 0 1px $pink;
            }
    
            &~span,
            &~p {
                color: $pink !important;
            }
        }
    
        &[type=date] {
            color: $white;
    
            &.datefix {
                color: $extra_blue;
            }
        }
    
        &[type="text"]:disabled {
            background-color: $light_gray;
            border-color: $light_gray;
    
            &~span {
                color: darken($white, 13.5%);
            }
        }
    }
    
    input:not([type="buttom"]):not([type="submit"]),
    textarea {
        &:focus {
            border-color: $extra_blue;
            background-color: $white;
            outline: 0 none;
            box-shadow: 0 0 0 1px $extra_blue;
        }
    }
    
    .e-input {
        width: 100%;
        position: relative;
        margin-bottom: 14px;
    
        &.e-input--has-description--js {
            margin-bottom: 34px;
        }
    
        p {
            position: absolute;
            left: 20px;
            top: 100%;
            margin-top: 3px;
            font-size: 11px;
            font-weight: 400;
            color: $extra_dark_gray;
            margin-bottom: 0;
    
            @include responsive-width($laptop_s) {
                margin-top: 5px;
            }
        }
    
        label {
            &.error {
                display: none !important;
            }
        }
    
        &:hover {
    
            input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
            optgroup,
            select,
            textarea {
                &:not(:disabled) {
                    border-color: $extra_blue;
                    background-color: $light_gray;
    
                    ~span:not(.focus):not(.active) {
                        color: $extra_light_black;
                    }
                }
            }
    
        }
  
        &__remove-x {
            width: 28px;
            height: 28px;
            position: absolute;
            border-radius: 100%;
            top: 0;
            bottom: 0;
            right: 15px;
            margin: auto;
            opacity: 0;
            z-index: 0;
            background-color: $white;
            background-image: m_image_common_url('icon-x.png');
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0;
            z-index: 0;
            transition: all 200ms ease 0s;
    
            @media (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi) {
                background-image: m_image_common_url('icon-x@2x.png');
                background-size: 14px auto;
            }
    
            @include responsive-width($laptop_s) {
                width: 36px;
                height: 36px;
                right: 22px;
                background-image: m_image_common_url('icon-x-big.png');
    
                @media (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi) {
                    background-image: m_image_common_url('icon-x-big@2x.png');
                    background-size: 18px auto;
                }
            }
    
            &.active {
                opacity: 1;
                z-index: 2;
                cursor: pointer;
            }
        }
    
        &--select {
    
            background-color: $white;
    
            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 22px;
                right: 10px;
                background: m_image_common_url("select_arrow.png") no-repeat right center;
                top: 0;
                background-size: 100% auto;
                pointer-events: none;
    
                @include backgound_retina {
                    background-image: m_image_common_url("select_arrow@2x.png");
                }
            }
    
            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background-color: transparent;
            }
        }
    
        &--file {
            position: relative;
    
            input {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
    
                +label,
                +label+label {
                    @extend %inpute_height_css;
                    @extend %inpute_css;
                    text-align: left;
                    color: $extra_dark_gray;
                    width: auto;
                    margin-right: 55px;
                    @include responsive-width($tablet_m){
                        margin-right: 70px;
                    }
    
                    span {
                        vertical-align: middle;
    
                        &:first-child {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: block;
                            &.active,
                            &.focus {
                                color: $extra_light_black;
                            }
                        }
                    }
                }
            }
    
            &__icon {
                position: absolute;
                right: 0;
                top: 0;
                border: 1px solid $extra_dark_gray;
                width: 44px;
                border-radius: 100%;
                background-image: m_image_common_url('upload.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 22px auto;
                background-color: $white;
                z-index: 1;
                transition-property: all;
                transition-duration: .3s;
                transition-timing-function: ease-in-out;
                @extend %inpute_height_css;
                
                @include backgound_retina {
                    background-image: m_image_common_url('upload@2x.png');
                }
                @include responsive-width($tablet_m){
                    background-size: 25px auto;
                    width: 55px;
                }
                &.active{
                    opacity: 0;
                    visibility: hidden;
                }
            }
    
            &__clear {
                position: absolute;
                right: 0;
                top: 0;
                border: 1px solid $extra_dark_gray;
                width: 44px;
                border-radius: 100%;
                cursor: pointer;
                transition-property: all;
                transition-duration: .3s;
                transition-timing-function: ease-in-out;
                @extend %inpute_height_css;
                
                @include responsive-width($tablet_m){
                    width: 55px;
                }
    
                &:before,
                &:after {
                    content: '';
                    display: block;
                    height: 1.6px;
                    width: 14px;
                    top: 50%;
                    left: 50%;
                    margin-top: -1px;
                    margin-left: -7px;
                    border-radius: 1px;
                    position: absolute;
                    transition-property: all;
                    transition-duration: .3s;
                    transition-timing-function: ease-in-out;
                    background-color: darken($white, 13.5%);
                }
    
                &:before {
                    transform: rotate(45deg);
                }
    
                &:after {
                    transform: rotate(-45deg);
                }
    
                &:hover {
                    border-color: $orange !important;
                    background-color: $orange;
        
                    &:before,
                    &:after {
                        background-color: $white;
                    }
                }
            }
    
        }
    
        &--radio {
            $sm-radio-size: 20px;
            $sm-radio-checked-size: 8px;
            $sm-radio-ripple-size: 9px;
            $md-radio-checked-color: $primary;
            $md-radio-border-color: $primary;
            $md-radio-size: 24px;
            $md-radio-checked-size: 14px;
            $md-radio-ripple-size: 15px;
    
            @keyframes ripple {
                0% {
                    box-shadow: 0px 0px 0px 1px rgba($secondary, 0.0);
                }
    
                50% {
                    box-shadow: 0px 0px 0px $md-radio-ripple-size rgba($secondary, 0.1);
                }
    
                100% {
                    box-shadow: 0px 0px 0px $md-radio-ripple-size rgba($secondary, 0);
                }
            }
    
            display: inline-block;
            vertical-align: top;
    
            input[type="radio"],
            input[type="checkbox"] {
                //display: none;
                border: 0;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
                color: transparent;
    
                &:checked+div+label:before {
                    border-color: $secondary;
                    animation: ripple 0.3s linear forwards;
                    background-color: $secondary;
                    @include retina-sprite($check-white-group);
                    background-position: -127px -116px;
                    width: 20px;
                    height: 20px;
                }
    
                &:checked+div+label:after {
                    transform: scale(1);
                }
    
            }
    
            input[type="radio"] {
                ~label:not(.error) {
    
                    &:before,
                    &:after {
                        border-radius: 50%;
                    }
    
                    &:after {
                        top: $sm-radio-size / 2 - $sm-radio-checked-size / 2;
                        left: $sm-radio-size / 2 - $sm-radio-checked-size / 2;
                        width: $sm-radio-checked-size;
                        height: $sm-radio-checked-size;
                        transform: scale(0);
                        background: $white;
                    }
                }
            }
    
            input[type="checkbox"] {
                ~label:not(.error) {
                    &:after {
                        background-color: transparent;
                        left: 4px;
                        top: 5px;
                        // @include retina-sprite($check-white-group);
                    }
                }
    
                &.error {
                    ~label {
                        &::before {
                            border-color: $pink;
                        }
                    }
                }
            }
    
            label:not(.error) {
                color: white;
                display: inline-block;
                vertical-align: top;
                min-height: 20px;
                position: relative;
                padding-left: 33px;
                padding-top: 1px;
                margin-bottom: 0;
                cursor: pointer;
                vertical-align: bottom;
                font-size: 14px;
                text-align: left;
                line-height: 1.18;
    
                @include responsive-width($tablet_m) {
                    font-size: 16px;
                }
    
                &:before,
                &:after {
                    position: absolute;
                    content: '';
                    border-radius: 5px;
                    transition: all .3s ease;
                    transition-property: transform, border-color;
                }
    
                &:before {
                    left: 0;
                    top: 0;
                    width: $sm-radio-size;
                    height: $sm-radio-size;
                    border: 2px solid white;
                }
    
                a,
                span {
                    position: relative;
                    top: 0;
                    left: 0;
                    color: $secondary;
                    font-weight: 700;
                    padding: 0;
                    color: white;
    
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -1px;
                        height: 1px;
                        background-color: rgba(white, .6);
                        transition-property: left, right;
                        transition-duration: .3s;
                        transition-timing-function: ease-in-out;
                    }
    
                    &:after {
                        content: '';
                        position: absolute;
                        left: 50%;
                        right: 50%;
                        bottom: -1px;
                        height: 1px;
                        background-color: $orange;
                        transition-property: left, right;
                        transition-duration: .3s;
                        transition-timing-function: ease-in-out;
                    }
    
                    &:hover {
                        color: $orange;
    
                        &:before {
                            left: 50%;
                            right: 50%;
                        }
    
                        &:after {
                            left: 0;
                            right: 0;
                        }
                    }
                }
    
            }
        }
    
        &--light {
            $input_radio: add-class-modifier("--radio");
            $input_file: add-class-modifier("--file");
            $input_file_class: add-class-modifier("--file");
    
            input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
            optgroup,
            select,
            textarea {
                border-color: darken($white, 12%);
    
                &~span {
                    &.active {
                        color: darken($white, 26%);
                    }
                }
            }
    
            &#{$input_file} {
                input+label {
                    border-color: darken($white, 12%);
                }           
    
                #{$input_file_class} {
                    &__clear, &__icon{
                        border-color: darken($white, 12%);
                    }                
                }
            }
    
            &#{$input_radio} {
                label:not(.error) {
                    &:before {
                        border-width: 1px;
                        border-color: darken($white, 12%);
                    }
                }
            }
        }
    
        &--solid {
    
            input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
            optgroup,
            select,
            textarea {
                padding-top: 12px;
                border-color: $light_gray;
                background-color: $light_gray;
    
                &~span {
    
                    &.focus,
                    &.active {
                        top: 5px;
                        background-color: transparent;
    
                        @include responsive-width($tablet_m) {
                            top: 9px;
                        }
                    }
                }
            }
    
            input:not([type="buttom"]):not([type="submit"]),
            textarea {
                &:focus {
                    background-color: $light_gray;
                }
            }
    
            &--white {
    
                input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
                optgroup,
                select,
                textarea {
                    border-color: $white;
                    background-color: $white;
    
                    &:focus {
                        background-color: $white;
                    }
                }
    
                &:hover {
    
                    input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
                    optgroup,
                    select,
                    textarea {
                        &:not(:disabled) {
                            background-color: $white;
                        }
                    }
    
                }
            }
        }
    
        &--small {
            $input_radio: add-class-modifier("--radio");
    
            &#{$input_radio} {
                label:not(.error) {
                    padding-top: 2px;
                    font-size: 12px;
                }
            }
        }
    
        &.e--with-icon {
            input {
                padding-left: 40px;
                background-position: 12px center;
                background-repeat: no-repeat;
                background-size: 19.5px auto;
    
                @media (min-width: $laptop_s) {
                    padding-left: 55px;
                    background-position: 21px center;
                }
            }
    
            span {
                left: 42px;
    
                @media (min-width: $laptop_s) {
                    left: 55px;
                }
    
                &.focus,
                &.active {
                    top: 20px;
                    left: 42px;
                    opacity: 0;
                    font-size: 14px;
    
                    @media (min-width: $laptop_s) {
                        font-size: 16px;
                        top: 23px;
                        left: 55px;
                    }
                }
            }
        }
    
        &.e--round-desktop {
    
            label,
            input {
                @include responsive-width($laptop_s) {
                    border-radius: 200px;
                }
            }
        }

        &:focus ~ div ~ span {
            opacity: 0 !important;
        }
    }
    
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active,
    input:-webkit-autofill:valid,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-transition-delay: 99999s;
    }    
}