.entel__slider--home__item__content {
    &.entel__slider--home__item__content_samsung-zflip {
        background: linear-gradient(89.57deg, #685F94 -4.69%, #000040 95.7%);
        background-image: url( $m_image_path + '2020/05/background-galaxy-zflip-mob.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    
        @media 
        (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) { 
            background-image: url( $m_image_path + '2020/05/background-galaxy-zflip-mob@2x.png');
        }
    
        @include responsive-width(540px) {
            background-position: center -250px;
        }
    
        @include responsive-width($tablet-m) {
            background-image: url( $m_image_path + '2020/05/background-galaxy-zflip-desk.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center bottom;
        }  
    
        @media 
        only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1200px),
        only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1200px),
        only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1200px),
        only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1200px),
        only screen and (                min-resolution: 192dpi) and (min-width: 1200px),
        only screen and (                min-resolution: 2dppx)  and (min-width: 1200px) { 
            background-image: url( $m_image_path + '2020/05/background-galaxy-zflip-desk@2x.png');
        }
    
        // @include responsive-width(2000px) {
        //     background-size: 50%;
        // }
    
        // @include responsive-width(2500px) {
        //     background-size: 40%;
        // }
        
        .vector {
            display: none;

            @media (min-width: 1024px) {
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 400px;
            }

            @media (min-width: 1024px) {                
                width: 400px;
            }

            @media (min-width: 1366px) {                
                width: 500px;
            }

            @media (min-width: 1440px) {                
                width: 570px;
            }

            @media (min-width: 1500px) {                
                width: 650px;
            }
        }

        .e-button-buy small {
            color: #ffffff;
            padding-top: 7px;
            display: block;
            width: 310px;
            margin: 0 auto;
        
            br {
                display: none;

                @include responsive-width($tablet_ll) {
                    display: block;
                }
            }
        }

        .detalle {
            img {
                width: 200px;
                position: absolute;
                top: 20%;
                left: 0;
                right: -130px;
                margin-right: auto;
                margin-left: auto;               
            }

            &::before {
                display: none;
            }

            @include responsive-width(375px) {
                width: 80%;
            }

            @include responsive-width($tablet_m) {
                position: relative;
                text-align: center;     
                height: auto;
                bottom: 0;
                width: 100%;
                z-index: 1;
                left: 14%;
                
                img {
                    width: auto;
                    top: 80px;
                    left: 20px;
                    right: 0;
                }
            }

            @include responsive-width(1000px) {
                img {
                    width: 360px;
                    top: 80px;
                }
            }

            @include responsive-width(1024px) {
                img {
                    left: -330px;
                }
            }

            @include responsive-width(1366px) {
                img {
                    width: 400px;
                    left: -390px;
                }
            }

            @include responsive-width(1500px) {
                left: 10%;
            }
        }    

        .principalcontent {
            width: 90%;
            text-align: center;
            transform: translate(-50%, -60%);

            &__textbanner {
                margin-bottom: 10px;
                text-align: center;

                .e-button-buy {
                    small {
                        color: white;
                    }
                }

                p {
                    font-weight: bold;
                    font-size: 20px;
                    color: #ffffff;
                }

                .title {
                    font-size: 16px;
                    line-height: 40px;
                    color: #FF560A;
                    font-weight: 700;
                    margin: 0;
                    vertical-align: middle;
                    display: inline-block;

                    br {
                        display: none;

                        @media (min-width: 768px) {
                            display: block;
                        }
                    }

                    @include responsive-width($tablet_m) {
                        margin: 14px 0;
                        line-height: 25px;
                        font-size: 22px;
                        width: auto;
                    }
                }

                .subtitle {
                    color: #ffffff;
                    font-size: 15px;
                    line-height: 22px;

                    @media (min-width: 768px) {
                        font-size: 20px;
                        line-height: 28px;
                        font-weight: 400;
                        margin-bottom: 10px;
                    }

                    span {
                        font-size: 30px;
                        font-weight: 400;

                        @media (min-width: 768px) {
                            font-size: 40px;
                        }
                    }

                    em {
                        color: #ffffff;
                        font-weight: 800;
                        font-style: normal;
                    }
                }

                img  {
                    width: 55%;
                    display: block;
                    margin: 0 auto;
                }

                @media (min-width: 375px) {
                    margin-top: 60px;
                    margin-bottom: 10px;
                }

                @media (max-width: 560px) {
                    margin-top: 40px;
                    margin-bottom: 14px;
                }

                @include responsive-width($tablet_m) {
                    width: 50%;
                    margin-top: -65px;
                    padding-left: 0;
                    text-align: left;
                    position: absolute;
                    left: 55px;

                    picture {
                        display: block;
                    }

                    img {
                        width: auto;
                        margin: 0;
                    }
                }

                @media (min-width: 1024px) {
                    padding-left: 0;
                    left: 10px;

                    img {
                        width: 50%;
                        margin: 0;
                    }
                } 

                @media (min-width: 1500px) {
                     left: -20px;

                     img {
                        width: auto;
                        margin: 0;
                    }
                }
            }

            &__model {
                margin-top: 21px;
                position: absolute;
                right: 30%;

                @media (max-width: 324px) {
                    right: 26px;
                }

                @include responsive-width($tablet_m) {
                    right: inherit;
                    position: relative;
                }

                .model {
                    font-size: 14px;
                }

                p {
                    font-size: 144px;
                    margin: 0;
                    letter-spacing: -2px;

                    @media (min-width: 320px) {
                        font-size: 90px;
                        margin: 0;
                        letter-spacing: 2px;
                    }

                    @media (min-width: 375px) {
                        font-size: 90px;
                        margin: 0;
                        letter-spacing: 2px;
                        margin-top: 7px;
                    }

                    @include responsive-width($tablet_m) {
                        font-size: 175px;
                        margin: 0;
                        top: 0;
                        span {
                            font-size: 75px;
                            line-height: 68px;
                            display: inline-block;
                            margin-right: 7px;
                        }
                    }
                }

                small {

                    @media (min-width: 320px) {
                        position: absolute;
                        width: 42px;
                        font-size: 14px;
                        line-height: 15px;
                        font-weight: 500;
                        top: 40px;
                    }

                    @media (min-width: 375px) {
                        position: absolute;
                        width: 42px;
                        font-size: 14px;
                        line-height: 15px;
                        font-weight: 500;
                    }

                    @include responsive-width($tablet_m) {
                        position: absolute;
                        width: 80px;
                        font-size: 25px;
                        line-height: 25px;
                        font-weight: 500;
                        top: 58px;
                    }

                    &:nth-of-type(2) {
                        background: transparent;
                    }

                    .cuota {
                        width: 40px;
                        font-size: 12px;
                        line-height: 10px;
                        position: absolute;
                    }
                }

                .principalcontent__plan {
                    .bg-white {
                        background-color: #ffffff;
                        color: #004FB9;
                        border-radius: 3px;
                        font-size: 14px;
                        font-weight: 600;
                        margin-top: 8px;
                        padding: 2px 4px;
                        text-align: center;

                        @media (min-width: 320px) {
                            font-size: 12px;
                        }
                    }

                    @media (min-width: 375px) {
                        top: -12px;
                    }
                }
            }

            &__imgbanner {
                margin-left: 0 !important;
                
                img {
                    max-width: 85%;
                    display: inline-block !important;

                    @media (max-width: 324px) {
                        margin-left: 0;
                    }

                    @include responsive-width($tablet_m) {
                        max-width: 100%;
                        display: none;
                        margin-left: 0 !important;
                    }
                }

                @include responsive-width($tablet_m) {
                    right: -16px;
                    width: 43%;
                    height: auto;
                    margin-left: 0 !important;
                    position: absolute;
                    top: -30px;
                }

                @include responsive-width(1024px) {
                    right: 14px;
                    top: -60px;
                
                }

                @media (min-width: 1200px) {
                    width: 60%;
                    right: -5px;
                    top: -100px;
                }
                
            }

            &__plan {
                position: relative;

                ul li:last-child {
                    color: $extra_blue;
                }

                ul {
                    position: relative;

                    li {
                        &::before {
                            content: "";
                        }
                        font-size: 18px;
                        
                        @include responsive-width($tablet_m) {
                            font-size: 20px;
                        }  
                    }
                }
            }

            .e-button-buy small {
                width: 100%;
            }

            @include responsive-width($tablet_m) {
                height: 50%;
                width: 90%;
                transform: translate(-50%, -30%);

                .e-button-buy small {
                    width: 80%;
                    margin: 0;
                    color: #ffffff;
                }
            }

            .delivery {                
                margin: 0 auto;
                width: 50%;
            }
        }
    }
}