.entel__slider--home__item__content.entel__slider--home__item__hogar-internet {
    background: $blue;
    padding: 0;
    background: linear-gradient(180deg, #0045a0 0%, #004fb9 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: m_image_url("2021/03/hogar-internet-back-mob.jpg");
    // @include responsive-max-width($mobile_l - 1) {
    //     background-image: m_image_url(
    //         "2021/02/hogar-internet-girl-bck-v2-mob.png"
    //     );
    //     @include backgound_retina {
    //         background-image: m_image_url(
    //             "2021/02/hogar-internet-girl-bck-v2-mob@2x.png"
    //         );
    //     }
    // } //
    
    @include responsive-width($tablet-m) {
        background-image: m_image_url("2021/03/hogar-internet-back-tab.jpg");
    }
    
    @include responsive-width($laptop-s) {
        background-image: m_image_url("2021/03/hogar-internet-back-desk.jpg");
    }

    .detalle {
        // position: relative;
        display: block;
    
        img {
            position: absolute;
            bottom: 0;
            object-fit: contain;
            object-position: bottom;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 15px;
        }
    
        @include responsive-width($tablet-m) {
            display: none;
        }
    
        @include responsive-width($laptop-s) {
            display: none;
        }
    
        @include responsive-width($laptop-m) {
            display: none;
        }
    
        @include responsive-width($desktop_s) {
            display: none;
        }
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            max-width: 600px !important;
        }

        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            height: 100%;
            max-width: 1100px !important;
        }

        &__textbanner {
            left: 0;
            width: 100%;
            z-index: 10;
            bottom: -20px;
            display: block;
            padding-top: 0;
            font-weight: bold;
            text-align: center;
            position: absolute;

            picture {
                display: none;
            }
        
            @include responsive-width($tablet-m) {
                top: 50px;
                left: auto;
                z-index: 2;
                width: 100%;
                bottom: unset;
                margin-left: 0;
                display: block;
                text-align: left;
                position: relative;

                picture {
                    display: block;
                }
            }

            @include responsive-width($laptop-s) {
                top: 90px;
                margin-left: 10px;
            }

            @include responsive-width($laptop-m) {
                top: 100px;
                margin-left: 0px;
            }

            @include responsive-width($desktop_s) {
                top: 67px;
                margin-left: 0px;
            }

            img {
        
                @include responsive-width($tablet-m) {
                    max-width: 266px;
                }

                @include responsive-width($laptop-s) {
                    max-width: none;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            bottom: 0;
            width: 100%;
            margin: 0 0 0 0;
            text-align: center;
            position: absolute;
            top: 0;

            @include responsive-width($mobile-l) {
                text-align: center;
                
            }

            @include responsive-width($tablet-m) {
                right: 0;
                bottom: 80px;
                max-width: 768px;
                text-align: left;
                left: auto;
                top: auto;
            }

            @include responsive-width($laptop-s) {
                bottom: 100px;
                max-width: 1024px;
                text-align: right;
            }
            
            @include responsive-width($laptop-m) {
                bottom: 0;
            }

            img {
                position: relative;
                max-width: 100%;
                display: inline-block;
                z-index: 1;
                // margin-right: -22px;

                @include responsive-width($tablet-m) {
                    margin-right: -200px;
                    width: auto;
                    max-width: 100%;
                }

                @include responsive-width($laptop-s) {
                    // width: 820px;
                    margin-right: -100px;
                    width: 820px;
                }

                @include responsive-width($laptop-m) {
                    width: 945px;
                    margin-right: -100px;
                    margin-top: 65px;
                }

                @include responsive-width($desktop_s) {
                    width: 1000px;
                    margin-right: -150px;
                    margin-top: 45px;

                }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 150px;
            left: 0;
            width: 100%;
            z-index: 1;

            @include responsive-width($tablet-m) {
                bottom: auto;
                padding-left: 0;
                margin-top: 14px;
                position: relative;
            }

            @include responsive-width($laptop-s) {
                margin-top: 0;
            }

            .btn-buy {
                width: 126px;
                height: 34px;
                padding: 0;
                font-size: 12px;
                line-height: 30px;
        
                @include responsive-width($tablet-m) {
                    margin-top: 7px;
                    font-size: 12px;
                    margin-bottom: 20px;
                }

                @include responsive-width($laptop-s) {
                    margin-bottom: 20px;
                    height: 40px;
                    padding: 0;
                    font-size: 14px;
                    line-height: 36px;
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;
            max-width: 320px;
            display: none;
            
            @include responsive-width($laptop-s) {
                width: 100%;
                left: 0;
                bottom: 44px;
                max-width: 70%;
                display: block;
                position: absolute;
            }

            @include responsive-width($laptop-m) {
                left: -100px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
