.e-featured {
    &__box {
        padding: 7px;
    }
    
    &__box__detail {
        height: 100%;
        border-radius: 28px;
        position: relative;
        background-color: lightcyan !important;
    }

    &__box__detail img {
        width: 100%;
        height: 100%;
    }
    
    &__box__detail > .e-button { 
        height: 35px;
        line-height: 35px;
        position: absolute;
        left: 14px;
        bottom: 40px;
        width: 55%;
        margin-right: auto;
        right: 0;
        padding: 0 !important;
    }

    .slick-dots {
        position: relative;
        text-align: center;
        padding: 0px;
        top: 12px !important;
    
        li {
            display: inline-block;
            margin: 0 auto;
            width: 20px;
            height: 20px;
    
            button {
                background: none;
                border: 0px;
                color: $orange;
                font-size: 1px;
                width: 16px;
                height: 16px;
                position: relative;
                outline: none;
    
                &:before{
                    content: "";
                    cursor: pointer;
                    position: absolute;
                    display: block;
                    width: 8px;
                    height: 8px;
                    left: 50%;
                    top: 50%;
                    background: #CACACA;
                    -moz-transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    border-radius: 8px;
                    -webkit-transition: all .3s ease;
                    -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                    -o-transition: all .3s ease;
                    transition: all .3s ease;
                }
    
                &:hover{
                    &:before{
                        background: $orange;
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
        
        .slick-active {
            button {
                &:before{
                    background: $orange;
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }

    @include responsive-width(375px) {
        &__box__detail > .e-button {
            height: 45px;
            line-height: 45px;
        }
    }

    @include responsive-width($tablet_m) {
        margin: 0 72px;

        &__box__detail > .e-button {
            bottom: 20px;
        }
    }

    @include responsive-width($laptop-s) {
        &__box {
            padding: 21px 24px;
        }
    }

    @include responsive-width($laptop_m) {
        margin: 0 72px;

        &__box__detail > .e-button {
            height: 60px;
            line-height: 60px;
            bottom: 20px;
        }
    }

    @include responsive-width($laptop-m) {
        &__box__detail > .e-button {
            height: 40px;
            line-height: 40px;
        }
    }    

    @include responsive-width($desktop-s) {
        &__box__detail > .e-button {
            height: 50px;
            line-height: 50px;
        }
    }  

    @include responsive-width($desktop-m) {
        &__box__detail > .e-button {
            height: 60px;
            line-height: 60px;
        }
    }         
}