.entel__slider--home__item__content {
    
    
    &.entel-tinder {
        background-image: url('https://www.entel.pe/wp-content/uploads/2020/09/tinder-banner-home-mobile.jpg');
        @include responsive-width($tablet-m) {
            background-image: url('https://www.entel.pe/wp-content/uploads/2020/09/tinder-banner-home-desk.jpg');
        }
        .principalcontent {
            text-align: center;
            max-width: 100%;
            margin: 183px auto 0;
            transform: translate(-50%, -50%);
            left: 50%;
            @include responsive-width($tablet-m){
                margin: 0 auto;
            }
        }
        .principalcontent__textbanner {
            bottom: 83px;
            left: 50%;
            position: absolute;
            padding: 0 14px;
            max-width: 325px;
            transform: translate(-50%, 50%);

            @media screen and (max-width: 320px) {
                bottom: 86px;
            }


            @include responsive-width($tablet-m){
                padding-left: 0;
                position: initial;
                padding-right: 0;
                bottom: auto;
                top: 50%;
                min-width: 950px;
                left: auto;
                text-align: left;
                // margin-bottom: 10%;

                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }

            img {
                display: none;
                
                @include responsive-width($tablet-m) {
                    display: block;
                    bottom: -14px;
                    position: relative;
                }

            }

            h2 {
                color: #ffffff;
                font-size: 21px;
                line-height: 21px;
                text-align: center;
                font-weight: 700;
                display: block;
                margin: 0 auto 23px;
                min-width: 297px;
                span {
                    font-size: 18px;
                    line-height: 18px;
                    font-weight: 500;
                    display: block;
                    margin-bottom: 12px;
                    color: #ffffff;

                    strong {
                        display: block;
                        font-weight: bold;
                    }
                }

                small {
                    font-size: 12px;
                    font-weight: 300;
                    color: #ffffff;
                    width: 150px;
                    display: inline-block;
                    line-height: 15px;
                    vertical-align: middle;
                    
                }
                img {
                    display: inline-block;
                    width: 103px;
                    vertical-align: middle;
                }
                

                @include responsive-width($tablet-m) {
                    font-size: 50px;
                    line-height: 48px;
                    text-align: left;
                    margin-bottom: 30px;
                    min-width: initial;
                    span  {
                        font-size: 40px;
                        color: #004FB9;
                        line-height: 46px;

                    }

                    small {
                        line-height: 16px;
                        font-size: 19px;
                        color: #4E5057;
                        margin-top: 14px;
                        display: block;
                        width: auto;

                    }

                    img {
                        display: block;
                        width: 192px;

                    }

                }
            }
            .btn-buy-entel-day {
                width: 140px !important;
                height: 40px !important;
                padding: 11px 15px;
                @include responsive-width($tablet-m){
                    width: 166px !important;
                    height: 50px !important;
                    padding: 15px;
                }
            }
        }

        .principalcontent__imgbanner {
            top: -159px;
            @include responsive-width($tablet-m) {
                top: -29px;
            }

            img {
                max-width: 100%;
                @include responsive-width($tablet-m) {
                    max-width: 135%;
                }
                
            }
        }
    }
}