.entel__slider--home__item__content.entel__slider--home__migra_online  {
    background: $color-blue;
    padding: 0;
    
    // background-image: url($m_image_path+'2021/12/banner-migra-online-v1-mob.png');
    // background-repeat: no-repeat;
    // background-size: 386px;
    // background-position: top center;
    // -webkit-box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
    // box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);

    // @include responsive-width($tablet-m) {
    //     background-image: url($m_image_path+'2021/12/banner-migra-online-v1-tab.png');
    //     background-size: 768px;
    // }

    // @include responsive-width($laptop-s) {
    //     background-image: url($m_image_path+'2021/12/banner-migra-online-v1-desk.png');
    //     background-size: 1024px;
    // }

    // @include responsive-width($laptop-m) {
    //     background-size: 1260px;
    // }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
            height: 100%;
            top: 0;
            -ms-transform: none;
            transform: none;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1024px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            margin-bottom: 0;
            margin-top: 0;
            padding-top: 20px;
            position: relative;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 60px;
                padding-top: 60px;
            }
            
            @include responsive-width($laptop-s) {  
                padding-left: 0;
                padding-top: 0;
            }

            img {
                position: relative;
                display: inline-block;

                @include responsive-width($tablet-m) {
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    margin-left: -30px;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -140px;
                }
            }


            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            position: absolute;
            text-align: right;
            bottom: 0;
            left: 0;
        
            @include responsive-width($tablet-m) {
                margin: 0;
                position: absolute;
                left: 0;
                -ms-transform: none;
                transform: none;
                text-align: right;
            }

            &-img {
                position: relative;
                display: block;
                height: 100%;
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;   
                margin-right: 0;
        
                @include responsive-width($tablet-m) {
                    margin-right: 0;
                    margin-top: 0;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                    margin-right: -30px;
                }
            }
        }

        .e-button-buy {
            margin-top: 14px;
            text-align: left;
        
            @include responsive-width($tablet-m) {
                margin-top: 0;
                padding-top: 36px;
                padding-left: 60px;
            }

            @include responsive-width($laptop-s) {
                padding-top: 50px;
                padding-left: 50px;
            }

            @include responsive-width($laptop-m) {
                padding-top: 50px;
                padding-left: 40px;
            }

            .btn-buy {
                font-size: 12px;
                width: 117px;
                height: 40px;
                padding: 0;
                line-height: 36px;
                display: inline-block;
        
                @include responsive-width($tablet-m) {
                    font-size: 14px;
                    margin: 0;
                    width: 184px;
                    height: 50px;
                    line-height: 48px;
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: right;
            letter-spacing: -0.01em;
            z-index: 4;

            &__mob {
                margin: 7px auto 0;
                text-align: left;
                padding: 0;
                bottom: 12px;
                
                @include responsive-width($tablet-m) {
                    width: 460px;
                    bottom: 20px;
                    padding-left: 65px;
                }
                
                @include responsive-width($laptop-s) {
                    padding-left: 55px;
                }
                
                @include responsive-width($laptop-m) {
                    padding-left: 45px;
                }
            }

            &__desk {
                display: none;

                // @include responsive-width($laptop-s) {
                //     font-size: 9px;
                //     // display: block;
                //     max-width: 654px;
                //     right: auto;
                //     left: 45px;
                //     bottom: 20px;
                //     padding: 0;
                //     margin: 0;
                //     text-align: justify;
                // }
    
                // @include responsive-width($laptop-m) {
                //     bottom: 10px;
                //     max-width: 784px;
                // }
            }

            a {
                color: $extra_dark_gray;
                text-decoration: underline;
                @include responsive-width($laptop-s) {
                    text-decoration: none;
                }
            }
        }
    }
}
