.entel__slider--home__item__content.entel__slider--home__item__premium_days {
    background: $black;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            padding-top: 10px;
            margin-bottom: 0;
            z-index: 3;
            position: relative;
        
            @include responsive-width($tablet-m) {
                padding-top: 62px;
                padding-left: 30px;
                width: 100%;
                text-align: left;
            }
        
            @include responsive-width($laptop-s) {
                // padding-top: 50px;
                padding-top: 30px;
                // margin-left: -170px;
            }
        
            @include responsive-width($laptop-m) {
                margin-left: 0px;
                padding-top: 30px;
                padding-left: 0;
            }
            
            img {
                position: relative;
                z-index: 2;
                // margin-right: 15px;
                margin: 0 auto;
                width: auto;
        
                @include responsive-width($tablet-m) {
                    // width: 200px;
                    margin: 0;
                }
        
                // @include responsive-width($laptop-s) {
                //     width: auto;
                // }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 12px 0 0 0;
            width: 100%;
            text-align: center;
            position: relative;
            top: 0;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                margin: 0;
                position: absolute;
                bottom: 0%;
                right: 0%;
                width: 100%;
                height: 100%;
                z-index: 2;
                // -moz-transform: translate(-12%, -44%);
                // -webkit-transform: translate(-12%, -44%);
                // -o-transform: translate(-12%, -44%);
                // -ms-transform: translate(-12%, -44%);
                // transform: translate(-12%, -44%);
            }
        
            @include responsive-width($laptop-s) {
                position: absolute;
                top: 0;
                left: auto;
                width: auto;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }

            &-detail {
                position: absolute;
                left: 50%;
                top: 0;
                z-index: 1;

                &::before {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 2000px;
                    height: 2000px;
                    z-index: 1;
                    background-color: $white;
                    -webkit-border-radius: 40px;
                    -moz-border-radius: 40px;
                    border-radius: 40px;

                    -moz-transform: translate(-1832px, 156px) skew(3deg) rotate(-10deg);
                    -webkit-transform: translate(-1832px, 156px) skew(3deg) rotate(-10deg);
                    -o-transform: translate(-1832px, 156px) skew(3deg) rotate(-10deg);
                    -ms-transform: translate(-1832px, 156px) skew(3deg) rotate(-10deg);
                    transform: translate(-1832px, 156px) skew(3deg) rotate(-10deg);

                    @include responsive-width($tablet-m) {
                        // display: none;
                        -moz-transform: translate(205px, -1421px) skew(-6deg) rotate(16deg);
                        -webkit-transform: translate(205px, -1421px) skew(-6deg) rotate(16deg);
                        -o-transform: translate(205px, -1421px) skew(-6deg) rotate(16deg);
                        -ms-transform: translate(205px, -1421px) skew(-6deg) rotate(16deg);
                        transform: translate(205px, -1421px) skew(-6deg) rotate(16deg);
                    }

                    @include responsive-width($laptop-s) {
                    //     // display: none;
                    //     height: 1180px;
                        -moz-transform: translate(-59px, -1418px) skew(-6deg) rotate(16deg);
                        -webkit-transform: translate(-59px, -1418px) skew(-6deg) rotate(16deg);
                        -o-transform: translate(-59px, -1418px) skew(-6deg) rotate(16deg);
                        -ms-transform: translate(-59px, -1418px) skew(-6deg) rotate(16deg);
                        transform: translate(-59px, -1418px) skew(-6deg) rotate(16deg);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: translate(-122px, -1418px) skew(-6deg) rotate(16deg);
                        -webkit-transform: translate(-122px, -1418px) skew(-6deg) rotate(16deg);
                        -o-transform: translate(-122px, -1418px) skew(-6deg) rotate(16deg);
                        -ms-transform: translate(-122px, -1418px) skew(-6deg) rotate(16deg);
                        transform: translate(-122px, -1418px) skew(-6deg) rotate(16deg);
                    }
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 2000px;
                    height: 2000px;
                    z-index: 1;
                    background-color: $blue;
                    -webkit-border-radius: 40px;
                    -moz-border-radius: 40px;
                    border-radius: 40px;

                    -moz-transform: translate(-1603px, 74px) skew(10deg) rotate(-5deg);
                    -webkit-transform: translate(-1603px, 74px) skew(10deg) rotate(-5deg);
                    -o-transform: translate(-1603px, 74px) skew(10deg) rotate(-5deg);
                    -ms-transform: translate(-1603px, 74px) skew(10deg) rotate(-5deg);
                    transform: translate(-1603px, 74px) skew(10deg) rotate(-5deg);

                    @include responsive-width($tablet-m) {
                        // display: none;
                        -moz-transform: translate(140px, -1450px) skew(-6deg) rotate(10deg);
                        -webkit-transform: translate(140px, -1450px) skew(-6deg) rotate(10deg);
                        -o-transform: translate(140px, -1450px) skew(-6deg) rotate(10deg);
                        -ms-transform: translate(140px, -1450px) skew(-6deg) rotate(10deg);
                        transform: translate(140px, -1450px) skew(-6deg) rotate(10deg);
                        // height: 1180px;
                        // -webkit-border-radius: 100px;
                        // -moz-border-radius: 100px;
                        // border-radius: 100px;
                        // -moz-transform: translate(-1490px, -828px) skew(-16deg) rotate(4deg);
                        // -webkit-transform: translate(-1490px, -828px) skew(-16deg) rotate(4deg);
                        // -o-transform: translate(-1490px, -828px) skew(-16deg) rotate(4deg);
                        // -ms-transform: translate(-1490px, -828px) skew(-16deg) rotate(4deg);
                        // transform: translate(-1490px, -828px) skew(-16deg) rotate(4deg);
                    }

                    @include responsive-width($laptop-s) {
                        // display: none;
                        // height: 1180px;
                        -moz-transform: translate(-190px, -1468px) skew(-6deg) rotate(10deg);
                        -webkit-transform: translate(-190px, -1468px) skew(-6deg) rotate(10deg);
                        -o-transform: translate(-190px, -1468px) skew(-6deg) rotate(10deg);
                        -ms-transform: translate(-190px, -1468px) skew(-6deg) rotate(10deg);
                        transform: translate(-190px, -1468px) skew(-6deg) rotate(10deg);
                    }

                    // @include responsive-width($laptop-m) {
                    //     -moz-transform: translate(-190px, -1448px) skew(-6deg) rotate(10deg);
                    //     -webkit-transform: translate(-190px, -1448px) skew(-6deg) rotate(10deg);
                    //     -o-transform: translate(-190px, -1448px) skew(-6deg) rotate(10deg);
                    //     -ms-transform: translate(-190px, -1448px) skew(-6deg) rotate(10deg);
                    //     transform: translate(-190px, -1448px) skew(-6deg) rotate(10deg);
                    // }
                }
            }

            &-img {      
                @include responsive-width($tablet-m) {     
                    text-align: right;
                }
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 5px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                    margin-top: 30px;
                    margin-right: 40px;
                }
        
                @include responsive-width($laptop-s) {
                    // width: 647px;
                    width: 640px;
                    margin-top: 50px;
                    margin-right: 20px;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;                
                    // margin-top: 40px;
                    // margin-right: -170px;
                    // width: 797px;
                    // margin-right: -60px;
                    margin-top: 30px;
                }
            }
        }

        .e-button {

            &-buy {    
                margin-top: 14px;
                position: relative;
                z-index: 2;
                
                @include responsive-width($tablet-m) {
                    margin-top: -150px;
                    z-index: 5;
                }

                @include responsive-width($laptop-s) {
                    margin-top: -138px;
                }
                
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 30px;
                        margin-top: 20px;
                    }
            
                    @include responsive-width($laptop-s) {
                        margin-top: 20px;
                    }
            
                    @include responsive-width($laptop-m) {
                        margin-left: 0px;
                    }
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;

            @include responsive-width($tablet-m) {
                max-width: 700px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                margin: 0 auto;
                margin-top: 90px;
                color: $white;
                position: relative;
                text-align: left;
                z-index: 2;
            }
            
            @include responsive-width($laptop-s) {
                display: block;
                max-width: 910px;
                margin-top: 90px;
            }

            // @include responsive-width($laptop-m) {
            //     margin-left: -120px;
            //     max-width: 290px;
            // }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
