.entel__slider--prepago-cybergo {
    .btn-power {
        font-size: 12px;
        width: 140px !important;
        padding: 10px 15px;
        font-weight: 600;
        margin: 10px auto;
        @include responsive-width($tablet_m) {
            font-size: 14px;
            padding: 14px 17px;
            width: 140px !important;
            height: 45px;
            // margin: 0 0 0 auto;
            position: relative;
            margin-left: 27px;
        }
        @include responsive-width($tablet_ll) {
            padding: 15px 29px;
            width: 172px !important;
            height: 50px;
            margin-left: 70px;

        }
    }
    .e-button-buy {
        margin-top: -20px;
        @include responsive-width($mobile-m) {
            margin-top: 7px;
        }
        @include responsive-width(410px) {
            margin-top: 55px;
        }
        @include responsive-width($tablet_m) {
            position: relative;
            top: -118px;
            margin-right: 35px;
            margin-top: 7px;
        }

        @include responsive-width($tablet_ll) {
            top: -140px;
            margin-right: 96px;
        }

        small {
            color: $blue;
        }

        img {
            width: 239px;
        }

        p {
            color: #ffffff;
            font-size: 12px;
            margin: 12px 0 21px;
        }
    }
    .entel__slider--home__item__content {
        background-image: url($m_image_path +'2020/11/banner-home-prepago-cyber-go-v2.jpg');
        background-position: top center;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #0145B4;
    
        @include responsive-width($tablet_m) {
            background-image: url($m_image_path +'2020/11/banner-home-prepago-cyber-go-desk.jpg');
            background-position: center top;
            background-size: cover;
        }
        .detalle {
            @include responsive-width($tablet_m) {
                left: 35%;
                width: 1px;
                height: 1px;
                bottom: -20px;
                z-index: 1;
                position: absolute;
            }

            @include responsive-width($tablet_ll) {
                left: 30%;
            }   
            
            @include responsive-width($laptop-s) {
                left: 38%;
            } 


        }    

        .principalcontent {

            transform: translate(-50%, -17%);
            @include responsive-width($tablet_m) {
                transform: translate(-50%, -15%);
            }

            @include responsive-width($tablet_ll) {
                transform: translate(-57%, -31%);
            }

            &__textbanner {
                display: none;
                .e-button-buy {

                    small {
                        color: $blue;
                    }
                }

                h2 {
                    font-size: 40px;
                    line-height: 40px;
                    color: $blue;
                    font-weight: 400;

                    span {
                        font-size: 25px;
                        display: block;
                        font-weight: 400;
                        color: $blue;
                    }

                    @include responsive-width($tablet_m) {
                        span {
                            font-size: 34px;
                            line-height: 34px;
                        }
                    }

                    @include responsive-width($tablet_ll) {
                        font-size: 60px;
                        line-height: 60px;
                    }
                }

                h3 {
                    font-size: 45px;
                    line-height: 45px;
                    font-weight: 800;
                    color: $extra_blue;

                    img {
                        vertical-align: top;
                        margin-top: 10px;
                        width: 35px;
                    }

                    @include responsive-width($tablet_m) {
                        font-size: 45px;
                        line-height: 45px;

                        img {
                            vertical-align: middle;
                        }
                    }

                    @include responsive-width($tablet_ll) {
                        font-size: 70px;
                        line-height: 63px;

                        img {
                            vertical-align: top;
                            margin-top: 0;
                            width: auto;
                        }
                    }                    
                }

                img  {
                    width: auto;
                    margin-bottom: 21px;
                }

                @include responsive-width($tablet_m) {
                    width: 75%;
                    display: inline-block;
                }

                @include responsive-width($tablet_ll) {
                    padding-left: 0;
                } 
            }

            &__model {
                margin-top: 0px;

                .dscto {
                    width: 120px;
                    height: 30px;
                    padding: 5px;
                    text-align: center;
                    border-radius: 7px;
                    margin-bottom: 7px;
                    background-color: $extra_blue;

                    span {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    span:first-child {
                        width: 40%;
                        font-size: 20px;
                        line-height: 23px;
                    }

                    span:last-child {
                        width: 60%;
                        font-size: 8px;
                        line-height: 7px;
                    }

                    @include responsive-width($tablet_m) {
                        width: 175px;
                        height: 36px;
                        margin-bottom: 14px;

                        span:first-child {
                            font-size: 30px;
                        }
    
                        span:last-child {
                            font-size: 11px;
                            line-height: 11px;
                        }
                    }                    
                }

                p {
                    font-size: 93px;
                    margin-top: -14px;
                    line-height: 1;
                    letter-spacing: -2px;

                    @include responsive-width($tablet_m) {
                        font-size: 118px;
                        margin: 0;
                        span {
                            font-size: 66px;
                        }
                    }
                }

                small {
                    position: absolute;
                    width: 75px;
                    font-size: 13px;
                    line-height: normal;

                    &:nth-of-type(2) {
                        background: transparent;
                    }

                    .cuota {
                        width: 40px;
                        font-size: 12px;
                        line-height: 10px;
                        position: absolute;
                    }
                }
            }

            &__imgbanner {
                display: none;

                @media screen and (max-width: 320px) {
                    margin-left: 20%;
                }

                @media screen and (min-width: 375px) {
                    margin-left: 30%;
                }

                @media (max-width: 923px) and (min-width: 540px) {
                    margin-left: 10%;          
                }

                @include responsive-width($tablet_m) {
                    margin-left: 0;
                    width: 33%;
                    top: 50px;
                    left: -100px;
                    display: inline-block;
                } 

                @include responsive-width($tablet_ll) {
                    top: 75px;
                    left: -175px;
                } 
            }

            &__plan {
                position: relative;

                ul li:last-child {
                    color: $extra_blue;
                }

                ul {
                    position: relative;

                    li {
                        &::before {
                            content: "";
                        }
                        
                        @include responsive-width($tablet_m) {
                            font-size: 14px;
                        }  
                    }
                }
            }
        }
    }
}