.entel__slider--home__item__content.entel__slider--home__store  {
    background: $white;
    padding: 0;
        
    @include responsive-width($tablet-m) {
        -ms-transform: none;
        transform: none;
        background-image: url($m_image_path +'2021/06/banner-store-back-tab.png');
        background-position: right top;
        background-size: 267px;
        background-repeat: no-repeat;
    }
        
    @include responsive-width($laptop-s) {
        background-image: url($m_image_path +'2021/06/banner-store-back-desk.png');
        background-position: left top;
        background-size: 331px;
    }
        
    @include responsive-width($desktop-s) {
        background-image: url($m_image_path +'2021/06/banner-store-back-big.png');
        background-position: -7% 0;
        background-size: 36%;
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: right;
            display: block;
            margin-bottom: 0;
            margin-top: 0;
            padding-top: 30px;
            padding-bottom: 0;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 0px;
                padding-top: 50px;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 330px;
                padding-top: 100px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 290px;
                margin-left: 0;
            }

            img {
                position: relative;
                display: inline-block;
                margin-right: 10px;

                @include responsive-width($tablet-m) {
                    margin-left: 60px;
                    margin-right: auto;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 0;
                }
            }

            &::before {
                content: '';
                display: block;
                width: 188px;
                height: 190px;
                position: absolute;
                top: -46px;
                left: -40px;
                background-image: url($m_image_path +'2021/06/banner-store-back.png');
                background-position: center top;
                background-size: 100%;

                @include responsive-width($mobile_s) {
                    left: -60px;
                }

                @include responsive-width($tablet-m) {
                    display: none;
                    // background-image: url($m_image_path +'2021/06/banner-store-back-tab.png');
                    // width: 267px;
                    // height: 190px;
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    // padding: 58px 0 0 0;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            // display: none;
            margin: 16px 0 0 0;
            width: 100%;
            height: 100%;
            position: relative;
            text-align: center;
            // text-align: right;
            // position: absolute;
            // top: 50%;
            // -ms-transform: translate(-10px,-43%);
            // transform: translate(-10px,-43%);
        
            @include responsive-width($tablet-m) {
                // margin: -10px 0 0 0;
                margin: 0;
                position: absolute;
                top: 0;
                left: 0;
                -ms-transform: none;
                transform: none;
                text-align: right;
            }

            @include responsive-width($laptop-s) {
                // -ms-transform: translate(15%, -73%);
                // transform: translate(15%, -73%);
            }

            @include responsive-width($laptop-m) {
                // -ms-transform: translate(18%, -66%);
                // transform: translate(18%, -66%);
            }

            // &-detail {
            //     position: absolute;
            //     left: 0;
            //     bottom: 0;

            //     @include responsive-width($tablet-m) {
            //         // left: 50%;
            //     }

            //     &::after {
            //         position: absolute;
            //         content: '';
            //         display: block;
            //         width: 1180px;
            //         height: 380px;
            //         background-color: $blue;
            //         -webkit-border-radius: 30px;
            //         -moz-border-radius: 30px;
            //         border-radius: 30px;

            //         -moz-transform: rotate(9deg) skew(-4deg) translate(-29px, 10px);
            //         -webkit-transform: rotate(9deg) skew(-4deg) translate(-29px, 10px);
            //         -o-transform: rotate(9deg) skew(-4deg) translate(-29px, 10px);
            //         -ms-transform: rotate(9deg) skew(-4deg) translate(-29px, 10px);
            //         transform: rotate(9deg) skew(-4deg) translate(-29px, 10px);
                    
            //         @include responsive-width($tablet-m) {
            //             // display: none;
            //             height: 500px;
            //             -webkit-border-top-left-radius: 80px;
            //             -moz-border-top-left-radius: 80px;
            //             border-top-left-radius: 80px;
            //             -moz-transform: rotate(186deg) skew(-7deg) translate(37px, 119px);
            //             -webkit-transform: rotate(186deg) skew(-7deg) translate(37px, 119px);
            //             -o-transform: rotate(186deg) skew(-7deg) translate(37px, 119px);
            //             -ms-transform: rotate(186deg) skew(-7deg) translate(37px, 119px);
            //             transform: rotate(186deg) skew(-7deg) translate(37px, 119px);
            //         }

            //         @include responsive-width($laptop-s) {
            //             -moz-transform: rotate(186deg) skew(-7deg) translate(-8px, 88px);
            //             -webkit-transform: rotate(186deg) skew(-7deg) translate(-8px, 88px);
            //             -o-transform: rotate(186deg) skew(-7deg) translate(-8px, 88px);
            //             -ms-transform: rotate(186deg) skew(-7deg) translate(-8px, 88px);
            //             transform: rotate(186deg) skew(-7deg) translate(-8px, 88px);
            //         }

            //         @include responsive-width($laptop-m) {
            //             -moz-transform: rotate(187deg) skew(-5deg) translate(84px, 82px);
            //             -webkit-transform: rotate(187deg) skew(-5deg) translate(84px, 82px);
            //             -o-transform: rotate(187deg) skew(-5deg) translate(84px, 82px);
            //             -ms-transform: rotate(187deg) skew(-5deg) translate(84px, 82px);
            //             transform: rotate(187deg) skew(-5deg) translate(84px, 82px);
            //         }
            //     }
            // }

            &-img {
                position: relative;
                display: block;
                height: 100%;

                // @include responsive-width($laptop-m) {
                //     &::before {
                //         content: '';
                //         display: block;
                //         position: absolute;
                //         bottom: 0;
                //         right: -110px;
                //         width: 398px;
                //         height: 334px;
                //         background-image:  url($m_image_path+'2021/05/banner-lib-backv2.png');
                //     }
                // }
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;   
                margin-right: -12px;
        
                @include responsive-width($tablet-m) {    
                    margin-right: 60px;
                    margin-top: 40px;
                }

                @include responsive-width($laptop-s) {
                    margin-right: 40px;
                    margin-top: 70px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                    margin-right: 0;
                    margin-top: 20px;
                }
            }
        }

        .e-button-buy {
            margin-top: 10px;
        
            @include responsive-width($tablet-m) {
                margin-top: 0;
                padding-top: 60px;
                padding-left: 60px;
            }

            @include responsive-width($laptop-s) {
                padding-top: 17px;
                padding-left: 60px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0;
            }

            @include responsive-width($desktop-s) {
                padding-top: 0;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin: 0;
                    // margin-left: 30px;
                    // margin-top: 0;
                }

                @include responsive-width($laptop-s) {
                    height: 55px;
                    width: 176px;
                    font-size: 14px;
                    line-height: 50px;
                }
            }
        }
    
        .e-legal-small {
            position: relative;
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 15px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;
            // letter-spacing: -0.05em;

            @include responsive-width($tablet-m) {
                display: none;
                width: 100%;
                max-width: 210px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                padding-left: 60px;
                margin-top: 30px;
            }

            @include responsive-width($laptop-s) {
                margin-left: 112px;
                max-width: 280px;
            }

            @include responsive-width($laptop-m) {
                // margin-top: 120px;
                margin-left: 0;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
