.entel__slider--home__smart-doctor {
  // background-color: black;
  // background-image: url(https://www.entel.pe/wp-content/uploads/2021/03/bg-banner-5g-mob.jpg);
  // background-size: 100%;
  // background-position: center -50px;
  // background-repeat: no-repeat;
  padding: 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: top;
  //   background-size: cover;
  background-size: cover;
  background-image: m_image_url("2021/06/smart-doctor-bg-mob.png");
  background-position: top;
  @include backgound_retina {
    background-image: m_image_url("2021/06/smart-doctor-bg-mob@2x.png");
  }
  @include responsive-width($tablet-m) {
    background-image: m_image_url("2021/06/smart-doctor-bg-desk.png");
    @include backgound_retina {
      background-image: m_image_url("2021/06/smart-doctor-bg-desk@2x.png");
    }
  }
  &__image {
    padding: 1rem;
    max-width: 1280px;
    position: relative;
    margin: 0 auto;
    img {
      margin: 0 auto;
      @include responsive-width($tablet-m) {
        margin: 0;
      }
    }
    a {
      top: 105%;
      left: 39%;
      position: absolute;
      transform: translate(-50%, -50%);
      @media screen and (min-width: 768px) {
        top: 93%;
        left: 14%;
      }
    }
  }
}
