.entel__slider--home__item__content.entel__slider--home__item__cyber_202103_accesorios {
    background: $white;
    padding: 0;

    .principalcontent {
        position: relative;
        text-align: center;
        top: auto;
        left: auto;
        width: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1024px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1142px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            margin-top: 14px;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 10px;
            }

            img {
                display: inline-block;

                @include responsive-width($tablet-m) {
                    width: auto;
                    max-width: none;
                    margin-left: 50px;
                    margin-top: 20px;
                }

                @include responsive-width($laptop-m) {
                    margin-left: 0;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: relative;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                text-align: right;
            }

            &-img {
                position: relative;
                display: block;
            }

            img {
                max-width: none;
                display: inline-block;
        
                @include responsive-width($tablet-m) {
                    margin-top: 20px;
                    margin-right: 50px;
                }

                @include responsive-width($laptop-s) {
                    max-width: 66%;
                    margin-top: 60px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    margin-top: 0;
                    margin-right: 0;
                }
            }
        }

        .e-button-buy {
            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-left: 70px;
                    margin-top: 26px;
                    width: 184px;
                }

                @include responsive-width($laptop-m) {
                    margin-left: 20px;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 10px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;
            letter-spacing: -0.05em;

            @include responsive-width($tablet-m) {
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                padding-left: 10px;
                margin-left: 0;
                margin-top: 26px;
            }
        
            @include responsive-width($laptop-s) {
                display: block;
                padding-left: 70px;
                max-width: 494px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 20px;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
