.entel__slider--home__item__content.entel__slider--home__apple_week_form {
    background: #0E1726;//$blue;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;        
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 950px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1100px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 10px 0 0;
            margin: 0;
            width: 100%;
            max-width: 190px;
            z-index: 2;
            position: relative;
        
            @include responsive-width($tablet-m) {
                padding: 50px 25px 5px 60px;
                width: 100%;
                max-width: none;

            }
            
            @include responsive-width($laptop-s) {
                margin-left: 0px;
                padding-left: 20px;
                padding-top: 50px;
                z-index: 1;
            }

            @include responsive-width($laptop-m) { 
                margin-left: 0px;
                padding-top: 45px;
            }

            @include responsive-width($desktop_s) { 
                margin-left: -10px;
                padding-top: 45px;
            }

            &-detail {
                position: absolute;
                left: 0;
                top: 0;

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    z-index: 1;
                    background-color: $blue;
                    width: 3000px;
                    height: 3000px;
                    -webkit-border-radius: 60px;
                    -moz-border-radius: 60px;
                    border-radius: 60px;
                    -moz-transform: translate(-2634px, -2812px) skew(-4deg) rotate(3deg);
                    -webkit-transform: translate(-2634px, -2812px) skew(-4deg) rotate(3deg);
                    -o-transform: translate(-2634px, -2812px) skew(-4deg) rotate(3deg);
                    -ms-transform: translate(-2634px, -2812px) skew(-4deg) rotate(3deg);
                    transform: translate(-2634px, -2812px) skew(-4deg) rotate(3deg);

                    @include responsive-width($tablet-m) {
                        -moz-transform: translate(-2257px, 104px) skew(10deg) rotate(-4deg);
                        -webkit-transform: translate(-2257px, 104px) skew(10deg) rotate(-4deg);
                        -o-transform: translate(-2257px, 104px) skew(10deg) rotate(-4deg);
                        -ms-transform: translate(-2257px, 104px) skew(10deg) rotate(-4deg);
                        transform: translate(-2257px, 104px) skew(10deg) rotate(-4deg);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-2277px, 104px) skew(9deg) rotate(-4deg);
                        -webkit-transform: translate(-2277px, 104px) skew(9deg) rotate(-4deg);
                        -o-transform: translate(-2277px, 104px) skew(9deg) rotate(-4deg);
                        -ms-transform: translate(-2277px, 104px) skew(9deg) rotate(-4deg);
                        transform: translate(-2277px, 104px) skew(9deg) rotate(-4deg);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: translate(-2277px, 104px) skew(9deg) rotate(-4deg);
                        -webkit-transform: translate(-2277px, 104px) skew(9deg) rotate(-4deg);
                        -o-transform: translate(-2277px, 104px) skew(9deg) rotate(-4deg);
                        -ms-transform: translate(-2277px, 104px) skew(9deg) rotate(-4deg);
                        transform: translate(-2277px, 104px) skew(9deg) rotate(-4deg);
                    }
                }

                // &::before {
                //     position: absolute;
                //     content: '';
                //     display: none;
                //     width: 1180px;
                //     height: 380px;
                //     background-color: $extra_blue;
                    
                //     @include responsive-width($tablet-m) {
                //         display: block;
                //         height: 500px;
                //         -webkit-border-radius: 40px;
                //         -moz-border-radius: 40px;
                //         border-radius: 40px;
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //     }

                //     @include responsive-width($laptop-s) {
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //     }

                //     @include responsive-width($laptop-m) {
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //     }
                // }
            }

            
            form {
                z-index: 2;
                text-align: left;
                position: relative;
                margin-top: 10px;

                @include responsive-width($tablet-m) {
                    margin-top: 10px;
                }

                .form--image {      
                    display: none;   

                    @include responsive-width($laptop-s) {
                        display: inline-block;
                        margin-left: 20px;
                    }       
                }
            
                .form--content {
                    width: 166px;
                    text-align: center;
                    margin: auto 0;

                    @include responsive-width($tablet-m) {
                        width: auto;
                        text-align: left;
                    }
                    .form--head {
                        p {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 14px;
                            text-align: left;
                            color: #004CC1;
                            margin: 0px;

                            span {
                                font-weight: 400;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 19px;
                                line-height: 19px;
                            }
                        }
                        
                        h2 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 20px;
                            text-align: left;
                            text-transform: uppercase;
                            color: #00B9EB;
                            margin: 4px 0px 5px;

                            @include responsive-width($tablet-m) {
                                font-size: 34px;
                                line-height: 30px;
                                margin: 6px 0px 11px;
                            }
                        }

                        h3 {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: left;
                            color: $white;
                            margin: 0px 0px 10px;

                            @include responsive-width($tablet-m) {
                                // color: #004CC1;
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 10px;
                            }

                            strong {
                                font-weight: bold;
                            }
                        }
                    }

                    .form--body {
                        p {
                            color: $white;
                            margin: 0 0 5px 0;
                            font-weight: normal;
                            text-align: left;
                            font-size: 12px;
                        
                            @include responsive-width($tablet-m) {
                                font-size: 14px;
                            }
    
                        }

                        .form--number {
                            position: relative;
                            margin-bottom: 8px;

                            @include responsive-width($tablet-m) {
                                margin-bottom: 10px;
                            }

                            span {
                                left: 9px;
                                top: -3px;

                                @include responsive-width($tablet-m) {
                                    top: -1px;
                                }

                                span {
                                    font-size: 8px;
                                    color: $white;
                                    background-color: $blue;
                                    padding: 0 3px;
                                    transition: all 0.3s ease;

                                    @include responsive-width($tablet-m) {
                                        font-size: 12px;
                                    }
                                }
                            }

                            input {
                                border: 2px solid $white;
                                box-sizing: border-box;
                                border-radius: 7.3332px;
                                background-color: $blue;
                                width: 100%;
                                height: 33px;
                                padding: 10px 10px;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                align-items: center;
                                letter-spacing: 0.0015em;
                                color: $white;

                                @include responsive-width($tablet-m) {
                                    width: 236px;
                                    height: 51px;
                                    font-size: 14px;
                                    line-height: 17px;
                                }

                                &.error {
                                    border-color: #f10101;
                                }

                                &.error::placeholder {
                                    color: #f10101;
                                }

                                &:placeholder-shown + span {
                                    top: 14px;

                                    @include responsive-width($tablet-m) {
                                        top: 22px;
                                    }

                                    span {
                                        font-size: 10px;

                                        @include responsive-width($tablet-m) {
                                            font-size: 14px;
                                        }
                                    }
                                }

                                &:focus + span {
                                    top: -3px;

                                    @include responsive-width($tablet-m) {
                                        top: -1px;
                                    }

                                    span {
                                        font-size: 8px;

                                        @include responsive-width($tablet-m) {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }

                        .form--check{
                            display: flex;
                            align-items: center;

                            input {
                                display: none;
                            }

                            .input-mask-top{
                                width: 14px;
                                height: 14px;
                                border: 2px solid #FF560A;
                                box-sizing: border-box;
                                border-radius: 4.58325px;
                                margin-top: 2px;
                                background: #FF560A;
                                position: relative;

                                @include responsive-width($tablet-m) {
                                    width: 18px;
                                    height: 18px;
                                }

                                &.error {
                                    border-color:#f10101;
                                    background: #ffffff;
                                }

                                &::after{
                                    content: "";
                                    left: 3px;
                                    top: 0px;
                                    width: 4px;
                                    height: 9px;
                                    border: solid white;
                                    border-width: 0px 2px 2px 0px;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                    position: absolute;

                                    @include responsive-width($tablet-m) {
                                        left: 5px;
                                        top: 1px;
                                    }

                                    @include responsive-width($laptop-m) {
                                        left: 5px;
                                        top: 1px;
                                    }
                                }
                            }

                            a {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 8.95284px;
                                line-height: 15px;
                                color: $white;
                                margin-left: 5px;

                                // @include responsive-width($tablet-m) {
                                //     color: #004CC1;
                                // }

                                span {
                                    font-weight: bold;
                                    text-decoration: underline;
                                }
                            }
                        }

                        button {
                            background: #FF560A;
                            border-radius: 45.8325px;
                            color: #ffffff;
                            cursor: pointer;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 1px;
                            text-align: center;
                            padding: 15px 5px;
                            text-transform: uppercase;
                            margin-top: 10px;
                            border: 0px;
                            width: 126px;
                            height: 34px;
                            display: block;
                            // margin-left: 36px;

                            @include responsive-width($tablet-m) {
                                margin-top: 15px;
                                margin-left: 0px;
                                width: 142px;
                                height: 34px;
                                font-size: 13px;
                                line-height: 4px;
                                display: inline-block;
                            }

                            @include responsive-width($laptop-m) {
                                padding: 15px 28px;
                                width: 142px;
                                height: 34px;
                                font-size: 13px;
                                line-height: 4px;
                            }
                        }
                    }

                    .form--loading{
                        display: none;
                        padding: 25px 25px 0px;
                        background: $blue;
                        position: relative;
                        text-align: center;
                        height: 110px;
                        margin-top: 0;
                        width: 160px;
                        
                        @include responsive-width($tablet-m) {
                            z-index: 2;
                            width: 290px;
                            height: 190px;
                        }

                        img {
                            animation: rotating 2s linear infinite;
                            width: 70px;
                            display: inline-block;

                            @keyframes rotating {
                                from {
                                    transform: rotate(0deg);
                                }
                                to {
                                    transform: rotate(360deg);
                                }
                            }

                            @include responsive-width($tablet-m) {
                                width: 100px;
                            }
                        }

                    }

                    .form--thanks {
                        display: none;
                        margin-top: 0;
                        width: 160px;
                        background: $blue;
                        position: relative;
                        text-align: center;
                        height: 110px;
                        
                        @include responsive-width($tablet-m) {
                            z-index: 2;
                            width: 290px;
                            height: 190px;
                        }

                        img {
                            margin-bottom: 5px;
                            @include responsive-width($tablet-m) {
                                margin-bottom: 0px;
                            }
                        }
                        p, span {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: center;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                // color: #004CC1;
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }
                        }
                    }

                    .form--duplicate {
                        display: none;
                        margin-top: 0;
                        width: 160px;
                        padding-top: 15px;
                        background: $blue;
                        position: relative;
                        text-align: center;
                        height: 110px;
                        
                        @include responsive-width($tablet-m) {
                            z-index: 2;
                            width: 290px;
                            height: 190px;
                        }

                        p{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                // color: #004CC1;
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                    }

                    .form--error {
                        display: none;
                        margin-top: 0;
                        width: 160px;
                        background: $blue;
                        position: relative;
                        text-align: center;
                        height: 110px;
                        
                        @include responsive-width($tablet-m) {
                            z-index: 2;
                            width: 290px;
                            height: 190px;
                        }

                        p{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                // color: #004CC1;
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                    }

                    .form--callback {
                        margin-top: 2px;

                        @include responsive-width($tablet-m) {
                            margin-top: 8px;
                        }

                        p {
                            margin: 0px;
                            font-size: 10px;
                            line-height: 11px;
                            font-style: normal;
                            font-weight: normal;

                            a {
                                // color: #004FB9;
                                text-decoration: underline;
                                font-weight: bold;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }
                    }
                }
            }

            img {
                position: relative;
                z-index: 2;
                margin: 0;
        
                @include responsive-width($tablet-m) {
                    width: auto;
                    margin-left: -8px;
                }
        
                @include responsive-width($laptop-s) {
                    margin-left: -10px;
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    // padding: 58px 0 0 0;
                                    
                    text-align: left;
                    padding: 0;
                }

                // @include responsive-width($laptop-m) {
                //     margin-left: -70px;
                // }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 auto 0;
            width: 100%;
            text-align: center;
            position: absolute;
            // bottom: 10px;
            z-index: 1;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
                    
            top: 10px;
            width: 100%;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: auto;
                bottom: 34px;
                right: 50px;
                width: auto;
                z-index: 3;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            
            @include responsive-width($laptop-s) {
                bottom: 80px;
                right: 10px;
            }
        
            @include responsive-width($laptop-m) {
                bottom: 76px;
                right: 30px;
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 0px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                }
        
                @include responsive-width($laptop-s) {
                    width: 600px;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                }
            }
        }

        .e-button-buy {
            margin-top: 0px;
        
            @include responsive-width($tablet-m) {
                // margin-top: -90px;
                margin-left: 10%;
            }
        
            @include responsive-width($laptop-s) {
                // margin-top: -110px;
                margin-left: 8%;
            }

            @include responsive-width($laptop-m) {
                // margin-top: -120px;
            //     margin-left: 4px;
                margin-left: 4%;

            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    width: 140px;
                    font-size: 12px;
                    // margin-left: 40px;
                    margin-top: 20px;
                    margin-left: -4%;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 0;
                }

                @include responsive-width($laptop-s) {
                    width: 166px;
                }
            }
        }
    
        .e-legal-small {
            // position: relative;
            font-size: 9px;
            line-height: 10px;
            // display: none;
            margin: 7px auto 0;
            // padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;
            z-index: 2;
            
            display: block;
            padding: 0;
            position: absolute;
            bottom: 30px;

            @include responsive-width($tablet-m) {
                position: absolute;
                font-size: 9px;
                padding: 0;
                bottom: 44px;
                right: 47px;
                max-width: 660px;
            }

            &__mob {
                width: 100%;

                @include responsive-width($tablet-m) {
                    right: auto;
                    left: 60px;
                }

                @include responsive-width($laptop-s) {
                    display: none;
                }
            }

            &__desk {
                display: none;

                @include responsive-width($laptop-s) {
                    display: block;
                    max-width: 577px;
                    right: 30px;
                    bottom: 30px;
                    padding: 0;
                    margin: 0;
                }
    
                @include responsive-width($laptop-m) {
                    max-width: 594px;
                    right: 30px;
                    bottom: 20px;
                }

            }

            // strong {
            //     display: block !important;
            //     margin-bottom: 5px !important;
            // }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
