.entel__slider--home__item__content_xiaomi-aniversario {
    background-image: url(https://www.entel.pe/wp-content/uploads/2020/08/bg-header-xiaomi-device-annversary-mob.png);
    background-position: top center;

    @include responsive-width($mobile-m) {
        background-image: url(https://www.entel.pe/wp-content/uploads/2020/08/bg-header-xiaomi-device-annversary-mob@2x.png);
    }

    @include responsive-width($tablet-m) {
        background-image: url(https://www.entel.pe/wp-content/uploads/2020/08/bg-xiaomi-annversary.jpg);
        background-position: center;
    }

    &.entel__slider--home__item__content_xiaomi-aniversario {

        .principalcontent__textbanner  {           
            &::before {
                // content: '';
                // width: 800px;
                // height: 200px;
                // background: linear-gradient(134.81deg, #0864E1 6.68%, #004FB9 59.14%);
                // display: block;
                // position: relative;
                // -webkit-border-bottom-left-radius: 70px;
                // -moz-border-bottom-left-radius: 70px;
                // border-bottom-left-radius: 70px;
                // -moz-transform: rotate(-8deg);
                // -webkit-transform: rotate(-8deg);
                // -o-transform: rotate(-8deg);
                // -ms-transform: rotate(-8deg);
                // transform: rotate(-8deg);
                // top: -112px;
                // left: -9px;
                // z-index: 2;
                
                @include responsive-width($tablet-m) {
                    content: url(https://www.entel.pe/wp-content/uploads/2020/08/shape-xiaomi-annversary.png);
                    position: absolute;
                    height: 700px;
                    top: auto;
                    bottom: -220px;
                    left: auto;
                    display: block;
                    right: -15px;
                }

                
                @include responsive-width($laptop-s) {
                    right: -6px;
                }

                @include responsive-width($laptop-m) {
                    right: -46px;
                    bottom: -130px;
                    content: url(https://www.entel.pe/wp-content/uploads/2020/08/shape-xiaomi-annversary@2x.png);
                }
            }
        }    

        .principalcontent {
            transform: translate(-50%, -30%);

            @include responsive-width($mobile-l) {
                transform: translate(-50%, -24%);
            }

            @include responsive-width($tablet-m) {
                top: 54%;
            }

            &__textbanner {
                display: none;
                position: relative;
                z-index: 3;

                .e-button-buy {
                    position: relative;
                    z-index: 3;
                    
                    @include responsive-width($tablet-m) {
                        margin-top: 0px;
                    }
                }

                .e-button-buy  small,
                .e-button-buy  b {
                    width: 210px;
                    font-size: 10px;
                    line-height: normal;
                    color: white;
                    margin-top: 0;

                    @include responsive-width($laptop-m) {
                        width: 280px;
                    }
                }

                .e-button-buy  b {
                    margin: 14px 0;
                    display: block;
                    font-size: 13px;
                }

                h2 {
                    font-size: 40px;
                    line-height: 40px;
                    color: $white;
                    font-weight: 400;
                    position: relative;
                    z-index: 3;

                    span {
                        font-size: 25px;
                        display: block;
                        font-weight: 400;
                        color: $extra_blue;
                    }

                    @include responsive-width($tablet-m) {
                        font-weight: bold;
                        font-size: 30px;
                        line-height: 30px;

                        span {
                            font-weight: bold;
                            font-size: 30px;
                            line-height: 30px;
                        }
                    }

                    @include responsive-width($laptop-m) {
                        font-weight: bold;
                        font-size: 36px;
                        line-height: 36px;

                        span {
                            font-weight: bold;
                            font-size: 36px;
                            line-height: 36px;
                        }
                    }

                }

                img  {
                    width: auto;
                    margin-bottom: 21px;
                    position: relative;
                    z-index: 3;
                }

                @include responsive-width($tablet-m) {
                    width: 42%;
                    display: table-cell;
                    vertical-align: middle;
                }

                @include responsive-width($tablet_ll) {
                    padding-left: 0;
                } 
            }

            &__imgbanner--mobile-only {
                margin: 0;
                display: block !important;

                img {
                    max-width: 100%;
                    margin: 0 auto;
                }

            }

            &__imgbanner--mobile-only ~ .e-button-buy.hidden-lg {
                display: block !important;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 40px;
            }

            &__imgbanner {
                display: none;
                
                @include responsive-width($tablet-m) {
                    margin-left: 0;
                    top: 0;
                    left: 60px;
                    display: table-cell;
                    vertical-align: text-bottom;
                    z-index: 3;
                    width: auto;

                    &--mobile-only,
                    &--redmi-note-9 {
                        display: none !important;
                    }
                } 

                @include responsive-width($laptop-s) {
                    left: 40px;

                    &--redmi-note-9 {
                        display: table-cell !important;
                    }
                } 

                @include responsive-width($laptop-m) {
                    left: 70px;

                } 

                img {
                    width: auto;
                    display: table-cell;
                    vertical-align: text-top;
                }
            }

            &__model {
                margin-top: 0px;
                color: $primary !important;

                @include responsive-width($tablet-m) {
                    width: 180px;
                    display: table-cell;
                    vertical-align: text-top;
                    position: absolute;
                    top: 100px;
                    right: -180px;
                }

                p {
                    
                    @include responsive-width($tablet-m) {
                        font-size: 42px;
                        margin: 20px 0 9px;
                        
                        span {
                            font-size: 42px;
                            font-weight: 700;
                        }
                    }
                }

                &--pack {
                    position: absolute;
                    top: 0;
                    left: 24%;
    
                    @include responsive-width($tablet-m) {
                        left: -70px;
                        top: 60px;
                        text-align: right;

                        a {
                            right: -4px;
                        }
                    }
                }
            }
            
            &__plan {
                position: relative;

                ul li:last-child {
                    color: $primary !important;
                }

                ul {
                    color: $primary !important;
                    position: relative;

                    li {

                        &::before {
                            content: "";
                        }
                        
                        @include responsive-width($tablet-m) {
                            font-size: 12px;
                        }  
                    }

                    a {
                        display: none;

                        @include responsive-width($tablet-m) {
                            display: block;
                        }  
                    }
                }
            }

            @include responsive-width($tablet-m) {
                transform: translate(-50%, -50%);
            }
        }
    }
}



/*Effects*/

// .sparkle:after {
//     animation: shine 5s ease-in-out  infinite;
//     animation-fill-mode: forwards;  
//     content: "";
//     position: absolute;
//     top: -110%;
//     left: -210%;
//     width: 200%;
//     height: 200%;
//     opacity: 0;
//     transform: rotate(30deg);
//     background: rgba(255, 255, 255, 0.13);
//     background: linear-gradient(
//         to right, 
//         rgba(255, 255, 255, 0.13) 0%,
//         rgba(255, 255, 255, 0.13) 77%,
//         rgba(255, 255, 255, 0.5) 92%,
//         rgba(255, 255, 255, 0.0) 100%
//     );
// }

// .sparkle:active:after {
//     opacity: 0;
// }

// @keyframes shine{
//     10% {
//         opacity: 1;
//         top: -30%;
//         left: -30%;
//         transition-property: left, top, opacity;
//         transition-duration: 0.7s, 0.7s, 0.15s;
//         transition-timing-function: ease;
//     }

//     100% {
//         opacity: 0;
//         top: -30%;
//         left: -30%;
//         transition-property: left, top, opacity;
//     }
// }