.entel__slider--home__item__content.entel__slider--home__realme {
    background: $blue url($m_image_path+'/2020/11/banner-realme-mob.jpg');
    background-position: bottom 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 0;
        
    @include responsive-width($tablet-m) {
        background: $blue url($m_image_path+'/2020/11/banner-realme-desk.jpg');
        background-position: bottom center;
        // background-size: cover;
    }
        
    @include responsive-width($laptop-s) {
        background-size: cover;
        background-position: center center;
    }

    .principalcontent {
        position: relative;
        top: auto;
        bottom: auto;
        left: 0;
        width: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 20px auto 0;
        
        @include responsive-width($tablet-m) {
            position: absolute;
            height: 400px;
            max-width: 100%;
            top: 50%;
            left: 50%;
            bottom: auto;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        &__textbanner {
            position: relative;
            font-weight: bold;
            text-align: center;
            display: block;
            z-index: 2;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 0px;
                padding-top: 90px;
                margin-left: 40px;
            }

            @include responsive-width($laptop-s) {
                margin-left: 0px;
                padding-top: 50px;
            }

            @include responsive-width($laptop-m) {
                margin-left: -100px;
                padding-top: 10px;
            }

            img {
        
                @include responsive-width($tablet-m) {
                    max-width: 315px;
                }

                @include responsive-width($laptop-s) {
                    max-width: 550px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            margin: 14px 0 0 0;
            width: 100%;
            text-align: center;
            position: relative;
            // top: 0;
            z-index: 0;
            // -moz-transform: translateY(-88%);
            // -webkit-transform: translateY(-88%);
            // -o-transform: translateY(-88%);
            // -ms-transform: translateY(-88%);
            // transform: translateY(-88%);
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: auto;
                bottom: 20px;
                right: 40px;
                width: auto;
                margin: 0;
                -moz-transform: translateY(0%);
                -webkit-transform: translateY(0%);
                -o-transform: translateY(0%);
                -ms-transform: translateY(0%);
                transform: translateY(0%);
            }

            @include responsive-width($laptop-s) {
                right: 0px;
            }

            @include responsive-width($laptop-m) {
                right: -70px;
            }

            @include responsive-width($desktop-m) {
                right: -90px;
            }

            &-img {
                position: relative;
                display: block;
            }

            img {
                max-width: 100%;
                display: inline-block;
                width: auto;

                @include responsive-width($tablet-m) {
                    width: 335px;
                }

                @include responsive-width($laptop-s) {
                    width: 385px;
                }

                @include responsive-width($laptop-m) {
                    width: auto;
                }
                
            }
        }

        .e-button-buy {
            position: relative;
            z-index: 2;
            margin-top: -55px;

            // &__imagen {
            //     display: none;
            //     margin-left: 20px;
            //     @include responsive-width($tablet-m) {
            //         display: inline-block;
            //     }
            // }
            @include responsive-width($tablet-m) {
                margin-top: 0px;
                margin-left: 40px;
            }

            @include responsive-width($laptop-s) {
                margin-left: 0px;
            }

            @include responsive-width($laptop-m) {
                margin-left: -90px;
                margin-top: 20px;
            }

            .btn-buy {
                display: inline-block;
                // background: #43D854;
                // border-color: #43D854;
                height: 40px;
                padding: 0;
                line-height: 36px;
                font-size: 12px;
                // width: 204px;
                // text-align: left;
                // padding-left: 41px;

                // background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.51277 -3.68409e-07C4.24936 -3.68409e-07 -3.68409e-07 4.24936 -3.68409e-07 9.51277C-3.68409e-07 11.5892 0.676035 13.5207 1.83495 15.1142L0.627746 18.6392L4.29765 17.4803C5.79458 18.4944 7.58124 19.0738 9.56106 19.0738C14.8245 19.0738 19.0738 14.8245 19.0738 9.56106C19.0255 4.24936 14.7762 -3.68409e-07 9.51277 -3.68409e-07ZM15.0659 13.4241C14.8245 14.0519 13.907 14.6313 13.1827 14.7762C12.6998 14.8728 12.0238 14.9693 9.85079 14.0519C7.05007 12.8929 5.26341 10.0439 5.11855 9.85079C4.97368 9.65763 4.00792 8.35385 4.00792 7.00178C4.00792 5.64971 4.68395 4.97368 4.97368 4.68395C5.21512 4.44251 5.60143 4.34593 5.93944 4.34593C6.03602 4.34593 6.18088 4.34593 6.27746 4.34593C6.56719 4.34593 6.71205 4.39422 6.90521 4.82882C7.14665 5.35999 7.67782 6.76034 7.7744 6.90521C7.82268 7.05007 7.91926 7.24323 7.82268 7.43638C7.72611 7.62953 7.67782 7.72611 7.53295 7.87097C7.38809 8.01583 7.24323 8.1607 7.09836 8.35385C6.9535 8.49872 6.80863 8.69187 7.00178 8.93331C7.14665 9.22304 7.72611 10.1405 8.54701 10.8648C9.60935 11.8306 10.4785 12.1203 10.7683 12.2652C11.0097 12.3618 11.2511 12.3618 11.4443 12.1686C11.6374 11.9272 11.9272 11.5409 12.1686 11.2029C12.3618 10.9131 12.6032 10.9131 12.8447 11.0097C13.0861 11.1063 14.4382 11.7823 14.7279 11.9272C15.0176 12.072 15.2108 12.1203 15.2591 12.2652C15.3074 12.2169 15.3073 12.7964 15.0659 13.4241Z' fill='white'/%3E%3C/svg%3E%0A");
                // background-repeat: no-repeat;
                // background-position: 17px 8px;

        
                @include responsive-width($tablet-m) {
                    margin-left: 10px;
                    margin-top: 15px;
                }
            }
        }
    
        .e-legal-small {
            position: relative;
            z-index: 2;
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 12px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;

            @include responsive-width($tablet-m) {
                max-width: 313px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                margin-top: 20px;
                display: block;
                margin-left: 50px;
            }

            @include responsive-width($laptop-s) {
                margin-left: 10px;
                max-width: 720px;
                width: 50%;
            }

            @include responsive-width($laptop-m) {
                margin-left: -80px;
                width: 60%;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
