.entel__slider--home__item__content.entel__slider--home__item__anio_nuevo {
    background: rgb(3,34,80);
    background: linear-gradient(180deg, rgba(3,34,80,1) 0%, rgba(1,57,134,1) 50%, rgba(1,78,182,1) 100%);
    
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            padding-top: 10px;
            margin-bottom: 0;
            z-index: 2;
            position: relative;
        
            @include responsive-width($tablet-m) {
                padding-top: 70px;
                padding-left: 40px;
                width: 100%;
                text-align: left;
            }
        
            @include responsive-width($laptop-s) {
                // padding-top: 50px;
                padding-top: 60px;
                padding-left: 30px;
                // margin-left: -170px;
            }
        
            @include responsive-width($laptop-m) {
                margin-left: -130px;
            }
            
            &-banderas {
                display: none;
        
                @include responsive-width($tablet-m) {
                    display: block;
                    position: absolute;
                    z-index: 3;
                    max-width: 1404px;
                    width: 100%;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            
            &-detail {
                position: absolute;
                right: 0;
                top: 0;
                z-index: 1;
        
                @include responsive-width($tablet-m) {
                    right: auto;
                    left: 50%;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 1180px;
                    z-index: 1;
                    background-color: $blue;
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;

                    -moz-transform: translate(-1302px, -1070px) skew(15deg) rotate(3deg);
                    -webkit-transform: translate(-1302px, -1070px) skew(15deg) rotate(3deg);
                    -o-transform: translate(-1302px, -1070px) skew(15deg) rotate(3deg);
                    -ms-transform: translate(-1302px, -1070px) skew(15deg) rotate(3deg);
                    transform: translate(-1302px, -1070px) skew(15deg) rotate(3deg);

                    @include responsive-width($tablet-m) {
                        -moz-transform: translate(-1370px, -940px) skew(15deg) rotate(3deg);
                        -webkit-transform: translate(-1370px, -940px) skew(15deg) rotate(3deg);
                        -o-transform: translate(-1370px, -940px) skew(15deg) rotate(3deg);
                        -ms-transform: translate(-1370px, -940px) skew(15deg) rotate(3deg);
                        transform: translate(-1370px, -940px) skew(15deg) rotate(3deg);
                    }

                    @include responsive-width($laptop-s) {
                    //     // display: none;
                    //     height: 1180px;
                        -moz-transform: translate(-1370px, -920px) skew(15deg) rotate(3deg);
                        -webkit-transform: translate(-1370px, -920px) skew(15deg) rotate(3deg);
                        -o-transform: translate(-1370px, -920px) skew(15deg) rotate(3deg);
                        -ms-transform: translate(-1370px, -920px) skew(15deg) rotate(3deg);
                        transform: translate(-1370px, -920px) skew(15deg) rotate(3deg);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: translate(-1330px, -909px) skew(15deg) rotate(3deg);
                        -webkit-transform: translate(-1330px, -909px) skew(15deg) rotate(3deg);
                        -o-transform: translate(-1330px, -909px) skew(15deg) rotate(3deg);
                        -ms-transform: translate(-1330px, -909px) skew(15deg) rotate(3deg);
                        transform: translate(-1330px, -909px) skew(15deg) rotate(3deg);
                    }
                }
            }
            
            img {
                position: relative;
                z-index: 2;
                // margin-right: 15px;
                margin: 0 auto;
        
                @include responsive-width($tablet-m) {
                    width: 240px;
                    margin: 0;
                }
        
                @include responsive-width($laptop-s) {
                    width: auto;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 50px 0 0 0;
            width: 100%;
            text-align: right;
            position: relative;
            top: 0;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                margin: 0;
                position: absolute;
                bottom: 0%;
                right: 0%;
                width: 100%;
                height: 100%;
                z-index: 2;
                // -moz-transform: translate(-12%, -44%);
                // -webkit-transform: translate(-12%, -44%);
                // -o-transform: translate(-12%, -44%);
                // -ms-transform: translate(-12%, -44%);
                // transform: translate(-12%, -44%);
            }
        
            @include responsive-width($laptop-s) {
                position: absolute;
                top: 0;
                left: auto;
                width: auto;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 5px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: 420px;
                    margin-top: 70px;
                    margin-right: 20px;
                }
        
                @include responsive-width($laptop-s) {
                    width: 560px;
                    margin-top: 60px;
                    margin-right: -20px;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;                
                    margin-top: 24px;
                    margin-right: -70px;
                }
            }
        }

        .e-button {

            &-buy {    
                margin-top: 12px;
                position: relative;
                z-index: 2;
                
                @include responsive-width($laptop-m) {
                    margin-left: -120px;
                }
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 40px;
                        margin-top: 20px;
                    }
            
                    @include responsive-width($laptop-s) {
                        margin-top: 30px;
                        margin-left: 100px;
                    }
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;

            @include responsive-width($tablet-m) {
                display: block;
                max-width: 300px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                padding-left: 40px;
                margin-left: 0;
                margin-top: 50px;
                color: $white;
                position: relative;
                z-index: 2;
            }
            
            @include responsive-width($laptop-s) {
                max-width: 280px;
                margin-top: 40px;
                margin-left: 60px;
            }

            @include responsive-width($laptop-m) {
                margin-top: 50px;
                margin-left: -70px;
                max-width: 370px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
