.entel__slider--home__item__content.entel__slider--home__entelday-lib  {
    background: $white;

    .principalcontent {
        position: relative;
        top: -13%;
        left: 50%;
        width: 100%;
        -ms-transform: translate(-50%, -2%);
        transform: translate(-50%, -2%);
        max-width: 414px;
        width: 100%;
        margin: 0;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
            height: 400px;
            top: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 10px;
            }
            
            &-detail {
                position: absolute;
                left: 50%;
                top: 0;

                @include responsive-width($tablet-m) {
                    left: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 380px;
                    background-color: $blue;
                    -webkit-border-top-left-radius: 52px;
                    -moz-border-top-left-radius: 52px;
                    border-top-left-radius: 52px;
                    -webkit-border-top-right-radius: 52px;
                    -moz-border-top-right-radius: 52px;
                    border-top-right-radius: 52px;

                    -moz-transform: rotate(190deg) skew(-2deg) translate(89%, 39.2%);
                    -webkit-transform: rotate(190deg) skew(-2deg) translate(89%, 39.2%);
                    -o-transform: rotate(190deg) skew(-2deg) translate(89%, 39.2%);
                    -ms-transform: rotate(190deg) skew(-2deg) translate(89%, 39.2%);
                    transform: rotate(190deg) skew(-2deg) translate(89%, 39.2%);
                    
                    @include responsive-width($tablet-m) {
                        -moz-transform: rotate(190deg) skew(-2deg) translate(74%, 33%);
                        -webkit-transform: rotate(190deg) skew(-2deg) translate(74%, 33%);
                        -o-transform: rotate(190deg) skew(-2deg) translate(74%, 33%);
                        -ms-transform: rotate(190deg) skew(-2deg) translate(74%, 33%);
                        transform: rotate(190deg) skew(-2deg) translate(74%, 33%);
                    }
                    @include responsive-width($laptop-s) {
                        -webkit-border-top-left-radius: 80px;
                        -moz-border-top-left-radius: 80px;
                        border-top-left-radius: 80px;
                        -moz-transform: rotate(190deg) skew(-2deg) translate(69%, 14.3%);
                        -webkit-transform: rotate(190deg) skew(-2deg) translate(69%, 14.3%);
                        -o-transform: rotate(190deg) skew(-2deg) translate(69%, 14.3%);
                        -ms-transform: rotate(190deg) skew(-2deg) translate(69%, 14.3%);
                        transform: rotate(190deg) skew(-2deg) translate(69%, 14.3%);
                    }
                }
            }

            img {
                position: relative;
                @include responsive-width($tablet-m) {
                    // max-width: 399px;
                    margin-left: -136px;
                    width: 550px;
                }

                @include responsive-width($laptop-s) {
                    margin-left: -254px;
                    width: auto;
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: left;
                padding: 20px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 0;
                    padding: 58px 0 0 0;
                }

                h2 {
                    font-size: 28px;
                    line-height: 30px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 42px;
                        line-height: 46px;
                    }
                }

                span {
                    font-size: 28px;
                    line-height: 30px;
                    font-weight: normal;
                
                    @include responsive-width($tablet-m) {
                        font-size: 42px;
                        line-height: 46px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            // display: none;
            margin: -90px 0 0 0;
            width: 100%;
            position: relative;
            text-align: center;
            // text-align: right;
            // position: absolute;
            // top: 50%;
            // -ms-transform: translate(-10px,-43%);
            // transform: translate(-10px,-43%);
        
            @include responsive-width($tablet-m) {
                margin: -60px 0 0 0;
                position: absolute;
                -ms-transform: translate(158px, -65%);
                transform: translate(158px, -65%);
            }

            @include responsive-width($laptop-s) {
                -ms-transform: translate(16.2%, -103%);
                transform: translate(16.2%, -103%);
            }

            &-img {
                position: relative;
                display: block;
            }

            img {
                max-width: 100%;
                display: inline-block;   
                margin-right: -12px;
        
                @include responsive-width($tablet-m) {
                    max-width: 56%;
                    margin-right: 7px;
                }

                @include responsive-width($laptop-s) {
                    max-width: 100%;
                    margin-right: -4%;
                }
            }
        }

        .e-button-buy {
            margin-top: 15px;
        
            @include responsive-width($tablet-m) {
                margin-top: 30px;
            }
        
            @include responsive-width($laptop-s) {
                margin-top: -130px;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-left: 80px;
                    margin-top: -50px;
                }

                @include responsive-width($laptop-s) {
                    margin-top: 20px;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 15px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;
            // letter-spacing: -0.05em;

            @include responsive-width($tablet-m) {
                display: block;
                text-align: center;
                width: 100%;
                // max-width: 530px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                // padding-left: 15px;
                padding: 0 20px;
                margin-left: 0;
                margin-top: 40px;
            }

            @include responsive-width($laptop-s) {
                margin-top: 20px;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
