.entel__slider--home__item__content.entel__slider--home__item__combos {
    // background: url(https://www.entel.pe/wp-content/uploads/2021/01/pack-combos-v1-back-mob.png);
    // background-size: 331px;
    // background-position: top center;
    // background-color: $blue;
    // background-repeat: no-repeat;

    @include responsive-width($tablet_m) {
        background: url($m_image_path+'/2021/03/pack-combos-back-mob.png');
        background-size: 538px;
        // background-size: cover;
        background-repeat: no-repeat;
        background-color: $blue;
        background-position: -160px center;
    }

    @include responsive-width($laptop-m) {
        // background-position: -320px center;
    }

    @include responsive-width($desktop_s) {
        // background-size: cover;
        background-size: 31%;
        // background-position: -320px top;
    }
    // .copos-de-nieve {
    //     top: 0;
    //     position: absolute;
    //     animation: tintin 2s infinite;
    // }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        margin-top: -35px;
        // margin-left: 0;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: none;
        }

        @include responsive-width($laptop-s) {
            margin-top: -10px;
        }

        // @include responsive-width($laptop-m) {
        //     margin-top: -70px;
        // }

        &__textbanner {
            // top: 48px;
            // left: 80px;
            display: block;
            font-weight: bold;
            text-align: center;
            padding-top: 0px;
            // position: absolute;
            // margin-left: -70px;
        
            @include responsive-width($tablet-m) {
                top: 60px;
                z-index: 2;
                left: auto;
                width: 100%;
                text-align: left;
                margin-left: 140px;
                position: relative;
            }

            @include responsive-width($laptop-s) {
                margin-left: 80px;
            }

            @include responsive-width($laptop-m) {
                margin-left: 100px;
                top: -20px;
            }

            @include responsive-width($desktop_s) {
                margin-left: 10px;
                top: 20px;
            }

            img {
                display: inline-block;
        
                @include responsive-width($tablet-m) {
                    // max-width: 176px;
                    display: none;
                }

                @include responsive-width($laptop-s) {
                    max-width: none;
                    width: auto;
                    // width: 220px;
                }

                @include responsive-width($laptop-m) {
                    width: auto;
                    display: block;
                }
                
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 190px;

            @include responsive-width($mobile-l) {
                text-align: center;
            }

            @include responsive-width($tablet-m) {
                right: 0;
                bottom: 210px;
                max-width: 768px;
                text-align: right;
            }

            @include responsive-width($laptop-s) {
                right: -200px;
                text-align: center;
                max-width: 1024px;
            }

            @include responsive-width($laptop-m) {
                right: -140px;
                bottom: -35px;
            }
            
            &-detail {
                position: absolute;
                left: 50%;
                top: 0;

                @include responsive-width($tablet-m) {
                    left: auto;
                    right: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 520px;
                    z-index: 1;
                    background-color: $blue;
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;

                    -moz-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
                    -webkit-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
                    -o-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
                    -ms-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
                    transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);

                    @include responsive-width($tablet-m) {
                        // display: none;
                        -moz-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
                        -webkit-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
                        -o-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
                        -ms-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
                        transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
                        -webkit-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
                        -o-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
                        -ms-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
                        transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
                    }
                    
                }

                &::before {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 520px;
                    z-index: 1;
                    background-color: $extra_blue;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    border-radius: 30px;

                    -moz-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                    -webkit-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                    -o-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                    -ms-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                    transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);

                    @include responsive-width($tablet-m) {
                        -moz-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                        -webkit-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                        -o-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                        -ms-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                        transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                        -webkit-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                        -o-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                        -ms-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                        transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                    }
                }
            }

            img {
                z-index: 1;
                max-width: 100%;
                position: relative;
                margin-right: 0px;
                display: inline-block;

                @include responsive-width($tablet-m) {
                    top: 0;
                    // max-width: 58%;
                    max-width: 400px;
                    margin-right: 30px;
                }

                @include responsive-width($laptop-s) {
                    top: -10px;
                    width: 620px;
                    max-width: none;
                    margin-right: 90px;
                }

                @include responsive-width($laptop-m) {
                    width: 700px;
                    top: -30px;
                    margin-right: -60px;
                }

                @include responsive-width($desktop_s) {
                    width: auto;    
                    top: 0px;
                    margin-right: 50px;
                }
            }
        }

        .e-button-buy {
            left: 0;
            z-index: 1;
            width: 100%;
            bottom: 155px;
            position: absolute;

            @include responsive-width($tablet-m) {
                bottom: auto;
                margin-top: 280px;
                padding-left: 50px;
                position: relative;
            }

            @include responsive-width($laptop-s) {
                padding-left: 100px;
                margin-top: 200px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 180px;
                margin-left: -70px;
                margin-top: 0px;
            }

            @include responsive-width($desktop_s) {
                padding-left: 40px;
                margin-left: -10px;
                margin-top: 40px;
            }

            .btn-buy {
                padding: 0;
                height: 40px;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-top: 0;
                    margin-bottom: 0;
                    width: 130px;
                }

                @include responsive-width($laptop-s) {
                    margin-bottom: 40px;
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: white;
            text-align: left;
            letter-spacing: -0.05em;
            max-width: 90%;
            display: none;
            
            @include responsive-width($tablet-m) {
                font-size: 9px;
                margin: 0 auto;
                color: white;
                padding: 15px 0;
                text-align: left;
                line-height: 10px;
                letter-spacing: -0.05em;
                position: relative;
                bottom: -20px;
            }

            @include responsive-width($laptop-s) {
                bottom: 46px;
                display: block;
            }

            @include responsive-width($laptop-m) {
                // bottom: -40px;
                bottom: 30px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }

    // @keyframes tintin {
    //     0% {
    //         opacity: 0.1;
    //     }

    //     50% {
    //         opacity: 0.2;
    //     }

    //     80% {
    //         opacity: 0.3;
    //     }

    //     100% {
    //         opacity: 0.1;
    //     }
    // }
}
