.entel__slider--home__item__content.entel__slider--home__store_acc_marketplace{
    background: $blue;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 315px !important;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            margin: 0;
            padding: 60px 0 0 10px;
        
            @include responsive-width($tablet-m) {
                padding-top: 46px;
                padding-left: 56px;
                width: 100%;
                text-align: left;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 38px;
                padding-top: 60px;
            }

            @include responsive-width($laptop-m) {
                padding-top: 25px;
                padding-left: 50px;
            }

            img {
                position: relative;
                display: inline-block;

                @include responsive-width($tablet-m) {
                    // margin-left: 60px;
                    margin-right: auto;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 0;
                }
            }

            &-detail {                
                position: absolute;
                top: 0;
                right: 0;
        
                // @include responsive-width($tablet-m) {
                //     display: none;
                // }
        
                @include responsive-width($laptop-s) {
                    display: block;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 2000px;
                    height: 2000px;
                    background-color: $white;
                    -webkit-border-radius: 28px;
                    -moz-border-radius: 28px;
                    border-radius: 28px;
                    z-index: 0;
                    -moz-transform: rotate(-7deg) skew(3deg) translate(30px, -1995px);
                    -webkit-transform: rotate(-7deg) skew(3deg) translate(30px, -1995px);
                    -o-transform: rotate(-7deg) skew(3deg) translate(30px, -1995px);
                    -ms-transform: rotate(-7deg) skew(3deg) translate(30px, -1995px);
                    transform: rotate(-7deg) skew(3deg) translate(30px, -1995px);
        
                    @include responsive-width($tablet-m) {
                        -webkit-border-radius: 56px;
                        -moz-border-radius: 56px;
                        border-radius: 56px;
                        -moz-transform: rotate(-15deg) skew(-6deg) translate(-2353px, -2035px);
                        -webkit-transform: rotate(-15deg) skew(-6deg) translate(-2353px, -2035px);
                        -o-transform: rotate(-15deg) skew(-6deg) translate(-2353px, -2035px);
                        -ms-transform: rotate(-15deg) skew(-6deg) translate(-2353px, -2035px);
                        transform: rotate(-15deg) skew(-6deg) translate(-2353px, -2035px);
                    }
            
                    @include responsive-width($laptop-s) {
                        -webkit-border-radius: 56px;
                        -moz-border-radius: 56px;
                        border-radius: 56px;
                        -moz-transform: rotate(-21deg) skew(-12deg) translate(-2573px, -2261px);
                        -webkit-transform: rotate(-21deg) skew(-12deg) translate(-2573px, -2261px);
                        -o-transform: rotate(-21deg) skew(-12deg) translate(-2573px, -2261px);
                        -ms-transform: rotate(-21deg) skew(-12deg) translate(-2573px, -2261px);
                        transform: rotate(-21deg) skew(-12deg) translate(-2573px, -2261px);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: rotate(-17deg) skew(-6deg) translate(-2513px, -2185px);
                        -webkit-transform: rotate(-17deg) skew(-6deg) translate(-2513px, -2185px);
                        -o-transform: rotate(-17deg) skew(-6deg) translate(-2513px, -2185px);
                        -ms-transform: rotate(-17deg) skew(-6deg) translate(-2513px, -2185px);
                        transform: rotate(-17deg) skew(-6deg) translate(-2513px, -2185px);
                    }
        
                } 
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    // padding: 58px 0 0 0;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            // display: none;
            margin: 0;
            width: 100%;
            height: 100%;
            text-align: right;
            right: -10px;
            bottom: -12px;
            position: absolute;
        
            @include responsive-width($tablet-m) {
                // margin: -10px 0 0 0;
                margin: 0;
                position: absolute;
                top: 60px;
                left: 0;
                -ms-transform: none;
                transform: none;
                text-align: right;
            }

            @include responsive-width($laptop-s) {
                top: 26px;
                left: 0;
            }

            @include responsive-width($laptop-m) {
                top: 30px;
                left: 0;
            }

            &-img {
                position: relative;
                display: block;
                height: 100%;

                // @include responsive-width($laptop-m) {
                //     &::before {
                //         content: '';
                //         display: block;
                //         position: absolute;
                //         bottom: 0;
                //         right: -110px;
                //         width: 398px;
                //         height: 334px;
                //         background-image:  url($m_image_path+'2021/05/banner-lib-backv2.png');
                //     }
                // }
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;  
                margin-right: 10px; 
        
                @include responsive-width($tablet-m) {    
                    margin-top: 0;
                    margin-right: 50px;
                }


                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                }
            }
        }

        .e-button-buy {
            padding-top: 30px;
            padding-left: 10px;
            text-align: left;
        
            @include responsive-width($tablet-m) {
                margin-top: 0;
                padding-top: 60px;
                padding-left: 56px;
            }

            @include responsive-width($laptop-s) {
                padding-top: 42px;
                padding-left: 38px;
            }

            @include responsive-width($laptop-m) {
                padding-top: 30px;
                padding-left: 50px;
            }

            .btn-buy {
                width: 126px;
                display: inline-block;
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 14px;
                    margin: 0;
                    width: 176px;
                    height: 55px;
                    line-height: 50px;
                    // margin-left: 30px;
                    // margin-top: 0;
                }

                @include responsive-width($laptop-s) {
                    height: 55px;
                    width: 176px;
                    font-size: 14px;
                    line-height: 50px;
                }
            }
        }
    
        .e-legal-small {
            position: relative;
            font-size: 10px;
            line-height: 12px;
            margin: 15px auto 0 0;
            padding: 0 0 0 15px;
            color: $extra_dark_gray;
            text-align: left;
            display: block;
            width: 100%;

            @include responsive-width($tablet-m) {
                width: 100%;
                max-width: 241px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                padding-left: 58px;                
                margin-top: 20px;
            }

            @include responsive-width($laptop-s) {
                padding-left: 0;
                margin-top: 0;
            }

            @include responsive-width($laptop-m) {
                padding-left: 48px;
                max-width: 320px;
            }

            a {
                color: $extra_dark_gray;
                text-decoration: none;
            }

            &__mob {
                bottom: 5px;
                @include responsive-width($tablet-m) {
                    display: none;
                }
            }

            &__desk {
                display: none;

                @include responsive-width($tablet-m) {
                    font-size: 10px;
                    display: block;
                    bottom: 0px;
                    padding-left: 310px;
                    max-width: 750px;
                }

                @include responsive-width($laptop-s) {
                    bottom: 0px;
                    padding-left: 340px;
                    max-width: 950px;
                }

                @include responsive-width($laptop-m) {
                    bottom: -30px;
                    padding-left: 420px;
                }
            }
        }

        .e-legal-acc-disclaimer {
            line-height: 1.2;
            margin-top: 66px;
            color: #fff;
            font-size: 11.5px;
            font-weight: bold;
            width: 100%;

            @include responsive-width($tablet-m) {
                color: $blue;
                margin-top: 28px;
                font-size: 12px;
                width: auto;
            }
            @include responsive-width($laptop-s) {
                margin-top: 20px;
                margin-left: 38px;                
            }
            @include responsive-width($laptop-m) {
                margin-left: 0;                
            }

        }
    }
}