.entel__slider--home__item__content.entel__slider--home__item__content_cyberwow_acc {
    background-color: #0433ff;
    padding: 0;

    background-image: url($m_image_path+'2020/10/banner-cyberwow-acc-back-mob.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;

    @media (min-width: $tablet-m){
        background-image: url($m_image_path+'2020/10/banner-cyberwow-acc-back-desk.png');
        background-position: bottom right;
    }

    // @media (min-width: $laptop-m){
    //     background-size: cover;
    // }
    
    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        -ms-transform: none;
        transform: none;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: none;
        }
        
        @include responsive-width($laptop-m) {
            width: 1024px  !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            // display: none;
            position: relative;
            top: 18px;
            left: 6px;
        
            @include responsive-width($tablet-m) {
                left: auto;
                top: 50px;
                // display: block;
                position: relative;
                text-align: left;
                margin-left: 30px;
                width: 100%;
                z-index: 2;
            }

            &-img {
                position: relative;
                z-index: 1;
            }

            img {
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }

        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 92px;
            z-index: 2;
            right: -6px;

            @include responsive-width($tablet-m) {
                text-align: right;
                right: 0;
                bottom: 135px;
            }

            @include responsive-width($laptop-s) {
                right: -30px;
                bottom: 96px;
            }

            img {
                position: relative;
                max-width: none;
                display: inline-block;
                z-index: 1;

                @include responsive-width($tablet-m) {
                    margin-right: 20px;
                    width: 530px;
                }

                @include responsive-width($laptop-s) {
                    width: auto;
                }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 35px;
            left: 0;
            width: 100%;
            z-index: 2;

            @include responsive-width($tablet-m) {
                padding-left: 48px;
                position: relative;
                bottom: 79px;
                margin-top: 0;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
                background-color: $white !important;
                color: $orange !important;
                border-color: $white !important;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-top: 0;
                    margin-bottom: auto;
                    background-color: transparent !important;
                    color: $white !important;

                }

                &:hover {
                    background-color: RGBA(250,250,250,.2) !important;      
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 10px;
            line-height: 12px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.02em;
            max-width: 320px;
            display: none;
            
            @include responsive-width($tablet-m) {
                max-width: 100%;
                display: block;
                margin-left: 0;
                padding-left: 0;
                margin-top: 74px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}