.entel__slider--home__item__content {
    &.entel__slider--home__item__content_plan-unidos {
        background-image: url('https://www.entel.pe/wp-content/uploads/2020/06/banner-plan-unificados-mob.png');

        @media (min-width: 768px){
            background: rgba(0,80,185,1);
            background: -moz-linear-gradient(45deg, rgba(0,80,185,1) 0%, rgba(0,80,185,1) 62%, rgba(0,21,154,1) 100%);
            background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,80,185,1)), color-stop(62%, rgba(0,80,185,1)), color-stop(100%, rgba(0,21,154,1)));
            background: -webkit-linear-gradient(45deg, rgba(0,80,185,1) 0%, rgba(0,80,185,1) 62%, rgba(0,21,154,1) 100%);
            background: -o-linear-gradient(45deg, rgba(0,80,185,1) 0%, rgba(0,80,185,1) 62%, rgba(0,21,154,1) 100%);
            background: -ms-linear-gradient(45deg, rgba(0,80,185,1) 0%, rgba(0,80,185,1) 62%, rgba(0,21,154,1) 100%);
            background: linear-gradient(45deg, rgba(0,80,185,1) 0%, rgba(0,80,185,1) 62%, rgba(0,21,154,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0050b9', endColorstr='#00159a', GradientType=1 );
        }

        .e-button-buy small {
            color: #fff;;
            padding-top: 7px;
            display: block;
            width: 310px;
            margin: 0 auto;
        }

        .detalle {
            img {
                width: 200px;
                position: absolute;
                top: 20%;
                left: 0;
                right: -130px;
                margin-right: auto;
                margin-left: auto;               
            }

            &::before {
                display: none;
            }

            @include responsive-width(375px) {
                width: 80%;
            }

            @include responsive-width($tablet_m) {
                position: relative;
                text-align: center;     
                height: auto;
                bottom: 0;
                width: 100%;
                z-index: 1;
                left: 14%;
                
                img {
                    width: auto;
                    top: 80px;
                    left: 20px;
                    right: 0;
                }
            }

            @include responsive-width(1000px) {
                img {
                    width: 360px;
                    top: 80px;
                }
            }

            @include responsive-width(1024px) {
                img {
                    left: -330px;
                }
            }

            @include responsive-width(1366px) {
                img {
                    width: 400px;
                    left: -390px;
                }
            }

            @include responsive-width(1500px) {
                left: 10%;
            }
        }    

        .principalcontent {
            width: 90%;
            text-align: center;
            transform: translate(-50%, -60%);
            position: relative;
            @media (max-width: 768px){
                margin-top: 15px;
            }
            &__textbanner {
                margin-bottom: 10px;
                text-align: center;
                
                .text {
                    font-family: $font-family;
                    font-style: normal;
                    font-weight: normal;
                    color: $white;
                    max-width: 207px;
                    font-size: 12px;
                    line-height: 13px;
                    margin-bottom: 10px;
                    text-align: left;
                    @media (min-width: $tablet_ll) {
                        max-width: 353px;
                        font-size: 20px;
                        line-height: 20px;
                    }
                }

                .title {
                    font-family: $font-family;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 24px;
                    line-height: 27px;
                    letter-spacing: -0.01em;
                    color: $white;
                    max-width: 260px;
                    text-align: left;

                    @media (min-width: $tablet_ll) {
                        font-size: 44px;
                        line-height: 46px;
                        max-width: 420px;
                    }

                    span {
                        color: #00B9EB;
                        font-weight: bold;
                        display: block;
                        font-size: 22px;

                        @media (min-width: $tablet_ll) {
                            font-size: 36px;
                        }
                    }

                }
                .e-button-buy {
                    // margin-left: 70px;

                    small {
                        color: $white;

                        a{
                            color: $white;
                        }
                    }

                    p {
                        font-size: 18px;
                    }

                    @media (max-width: $tablet_ll) {
                        // margin-left: 25px
                    }
                }

                img  {
                    display: block;
                    margin: 0 auto;

                    @media (max-width: 768px){
                        max-width: 300px;
                    }
                }

                @media (min-width: 375px) {
                    margin-top: 0px;
                    margin-bottom: 263px;
                }

                @media (max-width: 560px) {
                    margin-top: 0px;
                    margin-bottom: 263px;
                }

                @include responsive-width($tablet_m) {
                    max-width: 1140px;
                    width: 100%;
                    margin-top: -65px;
                    padding-left: 0;
                    text-align: left;
                    position: absolute;
                    left: -14px;
                    top: 102px;

                    picture {
                        display: block;
                    }

                    img {
                        width: auto;
                        margin: 0;
                    }
                }
                @media (min-width: 1124px) {
                    max-width: 1140px;
                    width: 100%;
                    margin-top: -65px;
                    padding-left: 0;
                    text-align: left;
                    position: absolute;
                    left: -141px;
                    top: 102px;

                    picture {
                        display: block;
                    }

                    img {
                        width: auto;
                        margin: 0;
                    }

                }
                @media (min-width: 1200px) {
                    max-width: 1140px;
                    width: 100%;
                    margin-top: -65px;
                    padding-left: 0;
                    text-align: left;
                    position: absolute;
                    left: -171px;
                    top: 49px;

                    picture {
                        display: block;
                    }

                    img {
                        width: auto;
                        margin: 0;
                    }
                }
                @media (min-width: 1350px) {
                    max-width: 1140px;
                    width: 100%;
                    margin-top: -65px;
                    padding-left: 0;
                    text-align: left;
                    position: absolute;
                    left: -284px;
                    top: 49px;

                    picture {
                        display: block;
                    }

                    img {
                        width: auto;
                        margin: 0;
                    }
                }
                @media (min-width: 1500px) {
                    left: -371px;
                     

                     img {
                        width: auto;
                        margin: 0;
                    }
                }
                @media (min-width: 1800px) {
                    left: -516px;
                }
            }

            &__imgbanner {
                position: absolute;
                right: 0%;
                margin-left: 0 !important;
                text-align: right;
                
                img {
                    max-width: 100%;
                    display: inline-block !important;

                    @media (max-width: 324px) {
                        margin-left: 0;
                    }

                    @include responsive-width($tablet_m) {
                        max-width: 100%;
                        display: none;
                        margin-left: 0 !important;
                    }

                    @media (max-width: 768px){
                        margin-bottom: -20px;
                        max-width: 100%;
                        margin-top: 15px;
                    }
                }
                @media (min-width: 992px) {
                    left: 10%;
                    width: 100%;
                    height: auto;
                    margin-left: 0 !important;
                    position: absolute;
                    top: -49px;

                }
                @include responsive-width($tablet_m) {
                    left: 40%;
                    width: 100%;
                    height: auto;
                    margin-left: 0 !important;
                    position: absolute;
                    top: 16px;
                }
                @media (min-width: 1124px) {
                    left: 25%;
                    width: 80%;
                    height: auto;
                    margin-left: 0 !important;
                    position: absolute;
                    top: 1px;
                }
                @media (min-width: 1200px) {
                    left: 25%;
                    width: 100%;
                    height: auto;
                    margin-left: 0 !important;
                    position: absolute;
                    top: -65px;
                }
                @media (min-width: 1350px) {
                    left: 10%;
                    width: 100%;
                    height: auto;
                    margin-left: 0 !important;
                    position: absolute;
                    top: -65px;

                }
                @media (min-width: 1500px) {
                    right: 0;
                    left: initial;
                    width: 100%;
                    height: auto;
                    margin-left: 0 !important;
                    position: absolute;
                    top: -65px;
                }
            }

            .e-button-buy{
                // margin-left: 72px;
                text-align: left;
                font-size: 14px;
                .btn-buy{
                    width: fit-content;
                    padding-left: 30px;
                    padding-right: 30px;
                    margin-top: 7px;
                    margin-bottom: 30px;
                    min-width: 140px;
                    min-height: 40px;
                    line-height: 27px;
                    @media (min-width: 768px){
                        font-size: 13px;
                        padding-left: 15px;
                        padding-right: 15px;
                        margin-bottom: 10px;
                        min-width: 167px;
                        max-height: 50px;
                        line-height: 4px;
                    }
                }

                small {
                    width: 100%;

                    a{
                        color: #fff;
                    }
                }

                p {
                    
                }
            }

            @include responsive-width($tablet_m) {
                height: 50%;
                width: 90%;
                transform: translate(-50%, -50%);

                .e-button-buy small {
                    // width: 80%;
                    margin: 0;
                }
            }
            @media (min-width: 2150px) {
                left: auto;
                transform: translate(38%, -48%);
            }
        }
    }
}