.entel__slider--home__item__content.entel__slider--home__item__hogar3 {
    background: $blue;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: none;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: 20px;
        
            @include responsive-width($tablet-m) {
                left: auto;
                top: 50px;
                position: relative;
                text-align: left;
                margin-left: 40px;
                width: 100%;
                z-index: 2;
            }

            @include responsive-width($laptop-s) {
                margin-left: 10px;
                top: 20px;
            }

            @include responsive-width($laptop-m) {
                margin-left: 0px;
            }

            img {
        
                @include responsive-width($tablet-m) {
                    max-width: 176px;
                }

                @include responsive-width($laptop-s) {
                    max-width: none;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 0;

            @include responsive-width($mobile-l) {
                text-align: center;
            }

            @include responsive-width($tablet-m) {
                text-align: right;
                // -ms-transform: translate(-24%, 15%);
                // transform: translate(-24%, 15%);
                max-width: 768px;
                // height: 400px;
                bottom: 0px;
                bottom: -60px;
            }

            @include responsive-width($laptop-s) {
                max-width: 1024px;
            }
            
            // &-detail {
            //     position: absolute;
            //     left: 50%;
            //     top: 0;

            //     @include responsive-width($tablet-m) {
            //         left: auto;
            //         right: 0;
            //     }

            //     &::after {
            //         position: absolute;
            //         content: '';
            //         display: block;
            //         width: 1180px;
            //         height: 520px;
            //         z-index: 1;
            //         background-color: $blue;
            //         -webkit-border-radius: 80px;
            //         -moz-border-radius: 80px;
            //         border-radius: 80px;

            //         -moz-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
            //         -webkit-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
            //         -o-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
            //         -ms-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
            //         transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);

            //         @include responsive-width($tablet-m) {
            //             // display: none;
            //             -moz-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
            //             -webkit-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
            //             -o-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
            //             -ms-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
            //             transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
            //         }

            //         @include responsive-width($laptop-s) {
            //             -moz-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
            //             -webkit-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
            //             -o-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
            //             -ms-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
            //             transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
            //         }
                    
            //     }

            //     &::before {
            //         position: absolute;
            //         content: '';
            //         display: block;
            //         width: 1180px;
            //         height: 520px;
            //         z-index: 1;
            //         background-color: $extra_blue;
            //         -webkit-border-radius: 30px;
            //         -moz-border-radius: 30px;
            //         border-radius: 30px;

            //         -moz-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
            //         -webkit-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
            //         -o-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
            //         -ms-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
            //         transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);

            //         @include responsive-width($tablet-m) {
            //             -moz-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
            //             -webkit-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
            //             -o-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
            //             -ms-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
            //             transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
            //         }

            //         @include responsive-width($laptop-s) {
            //             -moz-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
            //             -webkit-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
            //             -o-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
            //             -ms-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
            //             transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
            //         }
            //     }
            // }

            img {
                position: relative;
                max-width: 100%;
                display: inline-block;
                z-index: 1;
                // margin-right: -22px;

                @include responsive-width($tablet-m) {
                    margin-right: -80px;
                    width: 590px;
                }

                @include responsive-width($laptop-s) {
                    width: auto;
                }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 35px;
            left: 0;
            width: 100%;
            z-index: 1;

            @include responsive-width($tablet-m) {
                padding-left: 40px;
                position: relative;
                bottom: auto;
                margin-top: 70px;
            }

            @include responsive-width($laptop-s) {
                padding-left: 10px;
                margin-top: 40px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0px;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-top: 60px;
                    margin-bottom: 20px;
                }

                @include responsive-width($laptop-s) {
                    margin-bottom: 20px;
                    margin-top: 40px;
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;
            max-width: 320px;
            display: none;
            
            @include responsive-width($tablet-m) {
                display: block;
                margin-left: 0;
                padding-left: 0;
                max-width: 280px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
