.entel__slider--home__item__content_mantenerte-conectado {
    background: url(https://www.entel.pe/wp-content/uploads/2020/04/banner-mantenerte-conectado-mob.png);
    background-size: cover;
    background-position: center;

    @include responsive-width($tablet_m) {
        background: url(https://www.entel.pe/wp-content/uploads/2020/04/banner-mantenerte-conectado-desk-v3.png);
        background-size: cover;
        background-position: center;
    }
    
    picture {
        @include responsive-width($tablet_m) {
            top: 23% !important;
            left: 50%;
            width: 50%;
            img {
                max-width: 80%;
            }
        }
        top: 0%;
        left: 70%;
        width: 100%;
        bottom: 0;
        img {
            max-width: 100%;
        }
    }
    .e-button-buy { 
        .btn-buy-mob {
            margin-top: 25px;
            min-width: 200px;
            min-height: 55px;
            padding: 18px;
            position: relative;
            // top: -150px;
        }
    }
    .principalcontent__textbanner {
        margin-top: 70px;
        margin-bottom: 160px;
        margin-left: 25%;
        margin-right: 25%;
        @include responsive-width($tablet_m) {
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
        }
        h2 {
            max-width: 294px;
            display: block;
            margin: 0 auto;
            
            @include responsive-width($tablet_m) {
                min-width: 501px;
                margin: 0;
            }
            .title {
                color: $orange;
                font-weight: bold;
                font-size: 26px;
                line-height: 30px;
                @include responsive-width($tablet_m) {
                    font-size: 48px;
                    line-height: 55px;
                }
            }
            .subtitle {
                color: $blue;
                font-weight: normal;
                font-size: 26px;
                line-height: 30px;
                @include responsive-width($tablet_m) {
                    font-size: 48px;
                    line-height: 55px;
                }    
            }
        }
        img {
            width: 45%;
        }
    }
    .principalcontent__imgbanner {
        // margin-left: 30% !important;
        .img-mob {
            display: block;
            // margin-left: auto !important;
            margin: 0;
            max-width: 500px !important;
            width: 50%;
        }    
    }
}