.entel__slider--home__item__content {
    
    
    &.xiaomi {
        background-image: url(https://www.entel.pe/wp-content/uploads/2020/07/ebanner-bg-xiaomi-mob.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @include responsive-width($laptop-s) {
            background-image: url(https://www.entel.pe/wp-content/uploads/2020/07/ebanner-bg-xiaomi-desk.jpg);
        }
        .principalcontent {
            text-align: center;
            max-width: 100%;
            margin: 0 auto;
            transform: translate(-50%, -38%);
            left: 50%;

            @media screen and (max-width: 320px) {
                transform: translate(-50%, -50%);
                
            }
        }
        .principalcontent__textbanner {
            // bottom: 83px;
            left: 50%;
            position: absolute;
            padding: 0 14px;
            width: 350px;
            transform: translate(-50%, 0);
            top: -110px;
            text-align: left;

            @media screen and (max-width: 320px) {
                bottom: 46px;
            }


            @include responsive-width($tablet-m){
                // padding-left: 40px;
                position: initial;
                padding-right: 0;
                bottom: auto;
                top: 50%;
                width: 45%;
                left: auto;
                
                // margin-bottom: 10%;

                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }


            h2 {
                color: #ffffff;
                line-height: 1;
                font-size:34px;
                font-weight: 300;
                color: #004FB9;


                small {
                    font-size: 14px;
                    font-weight: 600;
                    color: #004FB9;
                    line-height: 1;
                    display: block;
                    strong {
                        color: #ff560A;
                    }

                }

                span {
                    font-size: 20px;
                    font-weight: 300;
                    color: #004FB9;
                    
                }

                b {
                    font-weight: 500;
                }
                

                @include responsive-width($tablet-m) {
                    font-size: 64px;
                    line-height: 42px;

                    small  {
                        font-size:21px;
                        line-height: 1;

                    }
                    span {
                        font-size: 32px;
                        
                    }

                }
            }

            p {
                color: #FF560A;
                font-size: 20px;
                line-height: 24px;

                @include responsive-width($tablet-m) {
                    font-size: 32px;
                    line-height: 34px;
                    margin-top: 12px;
                }
            }

            
        }

        .principalcontent__imgbanner {
            // top: -159px;
            @include responsive-width($tablet-m) {
                top: -28px;
            }

            img {
                max-width: 80%;
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                }
                
            }
        }

        .e-button-buy {
            small {
                color: #004FB9;
            }
        }
    }
}