.entel__slider--home__item__content.entel__slider--home__item__content_aperturaventa {
    background: $blue;
    background-image: url( $m_image_path + '2020/05/banner-videocall-entel-mob.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -239px;

    @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
        background-image: url( $m_image_path + '2020/05/banner-videocall-entel-mob@2x.png');
    }

    @include responsive-width(540px) {
        background-position: center -250px;
    }

    @include responsive-width(768px) {
        background-image: url( $m_image_path + '2020/05/banner-videocall-entel.png');
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: center bottom;
    }  

    @include responsive-width(1024px) {
        background-size: 100%;
    }  

    @media 
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1200px),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1200px),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1200px),
    only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1200px),
    only screen and (                min-resolution: 192dpi) and (min-width: 1200px),
    only screen and (                min-resolution: 2dppx)  and (min-width: 1200px) { 
        background-size: 78%;
        background-image: url( $m_image_path + '2020/05/banner-videocall-entel@2x.png');
    }

    @include responsive-width(1300px){
        background-size: 85%;
    }

    @include responsive-width(1800px) {
        background-size: 61%;
    }

    @include responsive-width(2000px) {
        background-size: 55%;
    }

    @include responsive-width(2500px) {
        background-size: 45%;
    }

    @include responsive-width(3000px) {
        background-size: 40%;
    }

    @include responsive-width(3200px) {
        background-size: 30%;
    }

    .principalcontent {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        transform: translate(-50%, -70%);

        &__textbanner {
            display: block;
            position: relative;
            text-align: center;
            margin-bottom: 4%;

            picture {
                display: none;
            }
            
            .e-button-buy {
                // margin-left: 15px;

                &.hidden-xs a {
                    margin: 14px 0 14px 0;
                }

                small {
                    margin-left: 10px;
                    line-height: 9px;
                    color: $blue
                }
            }

            .migraorenueva {
                width: 200px;
                margin: 0 auto;
            }

            .migraorenueva > picture {
                display: block;
                margin: 0 auto !important;
                position: relative;
                right: unset;
                left: unset;
                bottom: unset;
            }

            .migraorenueva > picture img {
                width: auto;
                left: unset;
            }

            .migraorenueva h2 {
                font-size: 20px;
                line-height: 20px;
                font-weight: 600;
                text-align: center;
                color: #00B9EB;
                margin-top: 0;
                margin-bottom: 3px;
            }

            .migraorenueva small {
                display: block;
                font-size: 9px;
                line-height: 9px;
                color: white;
            }

            .migraorenueva p {
                width: 78px;
                color: white;
                font-weight: 600;
                padding: 3px 11px;
                font-size: 12px;
                border-radius: 57px;
                background-color: #00B9EB;
            }

            .migraorenueva > span {
                color: $blue;
                font-size: 23px;
                line-height: 23px;
                font-weight: 800;

                em {
                    color: $orange !important;
                    font-weight: 800;
                    font-style: normal;
                }
            }

            @include responsive-width($tablet-m) {
                width: 40%;
                height: 310px;
                // display: inline-block;
                display: table-cell;

                .migraorenueva {
                    width: 90%;
                    margin-left: auto;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    left: 0;
                    margin-top: 0;  
                    transform: translateY(-50%);    
                    text-align: left;               
                }

                .migraorenueva h2,
                .migraorenueva img {
                    display: block;
                    margin: 14px 0 !important;
                }

                .migraorenueva h2 {
                    margin-top: 11px;
                    font-size: 25px;
                    margin-bottom: 12px;
                    text-align: left;
                }

                .migraorenueva small {
                    color: $color-primary !important;
                    text-align: left;
                    padding-left: 3px;
                    padding-top: 0;
                } 

                .migraorenueva > span {
                    font-size: 27px;
                    line-height: 25px;
                    font-weight: 900;
                }
            }

            @include responsive-width($tablet_ll) {
                width: 50%;

                picture {
                    display: block;
                    position: relative;
                    right: 0;
                    bottom: 22px;
                    left: -160%;           
                }

                & img {
                    width: 80%;
                }
            }

            @include responsive-width($laptop_s) {

                picture {
                    bottom: 22px;
                    left: -40%;
                }

                .migraorenueva {
                    width: 60%;
                    margin-left: 55%;
                }
            }
           
            @include responsive-width($laptop_m) {

                picture {
                    top: unset;
                    bottom: 24px;
                }
            } 
        }

        &__imgbanner {
            margin-left: 0;
            margin-right: 0;

            small.hidden-lg {
                display: block;
                color: white;
                text-align: center;
                position: relative;
                top: -9px;
                left: 4px;  
            }
            
            img {
                max-width: 85%;
            }

            @include responsive-width($tablet-m) {
                display: table-cell;
                margin-left: 0;
                margin-right: 0;
                left: 40px;
                position: relative;

            }

            @include responsive-width($laptop-m) {
                left: 60px;

                img {
                    max-width: 90%;
                }
            }
            
        }

        &__model {
            color: white;

            h6,
            ul span,
            p,
            small {
                color: white;
            }

            h6 {
                font-weight: 600;
            }

            p {
                height: 94px;
                font-size: 90px;
            }

            small {
                width: 50px;
                position: absolute;
                top: 40px;
            }

            ul li:first-child {
                font-size: 9px;
                padding-bottom: 7px;
                position: relative;
                top: 3px;
            }

            ul li {
                padding-top: 3px;
                font-size: 12px;
                color:white;
                
                &::before {
                    content: '';
                }
            }

            ul span {
                font-size: 12px;
            }

            .principalcontent__plan .e-button-buy .btn-buy {
                width: 122px;
            }

            @include responsive-width($tablet-m) {
                margin-top: 0;
                margin-left: -70px;
                vertical-align: text-bottom;

                small {
                    width: 20px;
                    display: block;
                    position: absolute;
                    top: -9px;
                }

                .e-button-buy {
                    margin: 0;
                }

                .btn-buy {
                    width: 122px;
                    margin: 0;
                    padding: 12px;
                }

                h6,
                p,
                small,
                ul span,
                ul li {
                    color: #004FB9;
                }

                ul {
                    top: -8px;
                    width: 250px;
                    font-size: 8px;
                }
            }
        }

        &__dsctoimg {
            position: absolute;
            bottom: -120px;
            left: 0;
            right: 0;

            @include responsive-width($tablet-m) {
                display: none;
            }
        }

        .e-button-buy.terms {
            display: block;
            position: absolute;
            right: 0;
            left: 0;
            bottom: -80px;
        }

        .e-button-buy.hidden-lg small,
        .e-button-buy.hidden-lg small a {
            color: white;
            font-size: 9px;
            line-height: 1.2;
        }

        .e-button-buy.hidden-lg small {
            display: block;
        }

        @include responsive-width(425px) {
            transform: translate(-50%, -70%);
        }

        @include responsive-width($tablet_m) {
            transform: translate(-50%, -42%);
        }
    }
}
