.entel__slider--home__item__content {
    &.entel__slider--home__item__content_cyber-2020-prev {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url($m_image_path+'2020/07/bg-cyber-banner-home-mob.png');

        @media 
        (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) { 
            background-image: url( $m_image_path + '2020/07/bg-cyber-banner-home-mob@2x.png');
        }
    
        @include responsive-width(768px) {
            background-image: url( $m_image_path + '2020/07/bg-cyber-banner-home.png');
        }  
    
        @media 
        only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1200px),
        only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1200px),
        only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1200px),
        only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1200px),
        only screen and (                min-resolution: 192dpi) and (min-width: 1200px),
        only screen and (                min-resolution: 2dppx)  and (min-width: 1200px) { 
            background-image: url( $m_image_path + '2020/07/bg-cyber-banner-home@2x.png');
        }
    

        .principalcontent {
            width: 90%;
            text-align: center;
            transform: translate(-50%, -60%);

            @media (max-width: 768px){
                margin-top: 0;
            }

            &__textbanner {
                display: none;
                margin-bottom: 0;
                text-align: center;

                @include responsive-width($tablet_m) {
                    picture {
                        display: block;
                    }

                    img {
                        display: block;
                        margin: 0 auto;
                        max-width: 300px;
                    }
                }
            }

            &__imgbanner {
                text-align: right;
                margin-left: 0 !important;
                
                img {
                    max-width: 100%;
                    display: inline-block !important;

                    @media (max-width: 324px) {
                        margin-left: 0;
                    }

                    @include responsive-width($tablet_m) {
                        max-width: 95%;
                        display: none;
                        margin-left: 0 !important;
                    }
                }
            }

            
            &__textbanner,
            &__imgbanner {
                @include responsive-width($tablet_m) {
                    display: table-cell;
                }
            }

            @include responsive-width($tablet_m) {
                height: 70%;
                width: 90%;
                transform: translate(-50%, -40%);
            }

            @include responsive-width($laptop_s) {
                transform: translate(-50%, -50%);
            }
        }
    }
}