.entel__slider--home__item__content.entel__slider--home__item__cyber_liberados_2021_marzo {
    padding: 0;
    background: $blue;
    // background-size: cover;
    // background-position: -20px -50px;

    // background: url(https://www.entel.pe/wp-content/uploads/2021/03/banner-cyber-bck-mob.png);
    // background-size: cover;
    // background-position: center;

    // @include responsive-width($tablet_m) {
    //     background: url(https://www.entel.pe/wp-content/uploads/2021/03/banner-cyber-bck-tab.png);
    //     background-size: cover;
    //     background-position: center;
    //     padding: 0;
    // }

    // @include responsive-width($laptop-s) {
    //     background: url(https://www.entel.pe/wp-content/uploads/2021/03/banner-cyber-bck-desk.png);
    //     background-size: cover;
    //     background-position: center;
    // }

    // &::after {
    //     content: "";
    //     position: absolute;
    //     background-color: $white;
    //     -moz-transform: rotate(332deg) skew(316deg, 37deg);
    //     -webkit-transform: rotate(332deg) skew(316deg, 37deg);
    //     -o-transform: rotate(332deg) skew(316deg, 37deg);
    //     -ms-transform: rotate(332deg) skew(316deg, 37deg);
    //     transform: rotate(332deg) skew(316deg, 37deg);
    //     -webkit-border-top-left-radius: 50px;
    //     -moz-border-top-left-radius: 50px;
    //     border-top-left-radius: 50px;
    //     width: 400px;
    //     left: 887px;
    //     right: 500px;
    //     bottom: 241px;
    //     position: relative;
    //     height: 366px;
    //     top: auto;        
    //     display: block;

    //     @include responsive-width($tablet-m) {
    //         width: 594px;
    //         right: 180px;
    //     }

    //     @include responsive-width($laptop-s) {
    //         width: 894px;
    //         left: -380px;
    //     }

    //     @include responsive-width(1600px) {
    //         width: 400px;
    //         left: 887px;
    //         right: 500px;
    //         bottom: 241px;
    //     }
    // }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 335px;
        -ms-transform: none;
        transform: none;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            height: 100%;
        }
        
        // @include responsive-width($tablet-s) {
        //     max-width: 1024px;
        // }        

        .backMask {
            display: none;
            width: 100%;
            height: auto;
    
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: right;
                position: absolute;
                z-index: 1;
            }

            @include responsive-width($tablet-m) {
                display: none;
            }

            @include responsive-width($laptop-s) {
                display: block;
            }
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            position: absolute;
            top: 5px;
            left: 0;
            margin-left: 0;
            width: 100%;
        
            @include responsive-width($tablet-m) {
                left: auto;
                top: 70px;
                position: relative;
                text-align: left;
                margin-left: 20px;
                width: 100%;
                z-index: 2;
            }

            @include responsive-width($laptop-s) {
                margin-left: 40px;
                top: 20px;
                text-align: left;
            }

            // @include responsive-width($laptop-m) {
            //     margin-left: -40px;
            // }

            img {
                width: auto;
                display: inline-block;

                @include responsive-width($tablet-m) {
                    // max-width: 206px;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    max-width: none;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 58px;

            @include responsive-width($mobile-l) {
                text-align: center;
            }

            @include responsive-width($tablet-m) {
                text-align: right;
                max-width: 768px;
                bottom: 24px;
            }

            @include responsive-width($laptop-s) {
                text-align: right;
                max-width: 1024px;
                bottom: 40px;
            }

            // @include responsive-width($laptop-m) {
            //     bottom: 40px;
            // }

            img {
                position: relative;
                max-width: 100%;
                display: inline-block;
                z-index: 1;
                // margin-right: -10px;

                @include responsive-width($tablet-m) {
                    margin-right: 20px;
                    width: auto;
                    // width: 473px;
                }

                @include responsive-width($laptop-s) {
                    width: 710px;
                    margin-right: 30px;
                }

                // @include responsive-width($laptop-m) {
                //     width: auto;
                //     margin-right: -150px;
                // }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 25px;
            left: 0;
            width: 100%;
            z-index: 1;

            @include responsive-width($tablet-m) {
                padding-left: 20px;
                position: relative;
                bottom: auto;
                margin-top: 70px;
            }

            @include responsive-width($laptop-s) {
                padding-left: 55px;
                margin-top: 40px;
            }

            // @include responsive-width($laptop-m) {
            //     padding-left: 0px;
            //     margin-left: -20px;
            // }

            .btn-buy {
                height: 34px;
                width: 126px;
                padding: 0;
                font-size: 12px;
                line-height: 30px;
        
                @include responsive-width($tablet-m) {
                    height: 55px;
                    width: 176px;
                    font-size: 12px;
                    margin-top: 94px;
                    margin-bottom: 10px;
                    line-height: 55px;
                    font-size: 14px;
                }

                @include responsive-width($laptop-s) {
                    height: 55px;
                    width: 176px;
                    margin-bottom: 10px;
                    margin-top: 44px;
                    line-height: 50px;
                    font-size: 14px;
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            margin: 25px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.02em;
            max-width: 320px;
            display: none;
            
            @include responsive-width($tablet-m) {
                max-width: 226px;
                margin-left: 0;
                padding-left: 0;
            }

            @include responsive-width($laptop-s) {
                display: block;
                max-width: none;
            }

            // @include responsive-width($laptop-m) {
            //     margin: 14px auto 0;
            // }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
