.banner_bolsas {
  padding-top: 0px;
  margin-top: 0;
  padding-bottom: 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: m_image_url("2021/10/banner-bolsas-gb-mob.png");
  @include backgound_retina {
    background-image: m_image_url("2021/11/banner-bolsas-gb-mob@2x.png");
  }
  @include responsive-width($tablet_m) {
    background-size: auto 100%;
    background-color: #fbcfc2;
    background-position: left;
    background-image: m_image_url("2021/11/banner-bolsas-gb-desk.png");
    @include backgound_retina {
      background-image: m_image_url("2021/11/banner-bolsas-gb-desk@2x.png");
    }
  }
  @include responsive-width($laptop_s) {
    background-position: center;
  }
  .postpago {
    margin-top: 8px;
    p {
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.350578px;
      color: #ffffff;
      line-height: 17px;
      padding: 5px 10px;
      @include responsive-width($tablet_m) {
        font-size: 20px;
        letter-spacing: 0.530143px;
        line-height: 24px;
      }
    }

    position: relative;
    z-index: 1;
    display: inline-block;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: m_image_url("2021/10/Postpago-bg-mob.png");
      @include backgound_retina {
        background-image: m_image_url("2021/10/Postpago-bg-mob@2x.png");
      }
      @include responsive-width($tablet_m) {
        background-image: m_image_url("2021/10/Postpago-bg-desk.png");
        @include backgound_retina {
          background-image: m_image_url("2021/10/Postpago-bg-desk@2x.png");
        }
      }
    }
  }
  p.descripcion {
    margin: 5px auto;
    font-size: 16px;
    line-height: 19px;
    @include responsive-width($tablet_m) {
      font-size: 28px;
      line-height: 30px;
    }
    strong {
      font-size: 20px;
      line-height: 24px;
      @include responsive-width($tablet_m) {
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
  h1.bolsas {
    font-weight: 900;
    font-size: 38px;
    line-height: 106%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: -4px 4px 0 #ff560a;
    @include responsive-width($tablet_m) {
      font-size: 55px;
    }
  }
  .caracteristicas {
    .red {
      position: relative;
      &::before {
        content: "";
        width: 13px;
        height: 10px;
        display: inline-block;
        background-size: contain;
        margin-right: 5px;
        background-repeat: no-repeat;
        background-image: m_image_url("2021/10/red-ico.png");
        @include backgound_retina {
          background-image: m_image_url("2021/10/red-ico@2x.png");
        }
        @include responsive-width($tablet_m) {
          width: 26px;
          height: 19px;
          background-image: m_image_url("2021/10/red-ico-desk.png");
          @include backgound_retina {
            background-image: m_image_url("2021/10/red-ico-desk@2x.png");
          }
        }
      }
    }
    margin: 5px auto;
    display: flex;
    &_item {
      p,
      strong {
        color: #ffffff;
      }
      strong {
        font-weight: 800;
        font-size: 14px;
        @include responsive-width($tablet_m) {
          font-size: 26px;
        }
      }
      p {
        font-size: 9px;
        position: relative;
        @include responsive-width($tablet_m) {
          font-size: 17px;
        }
        &::after,
        &::before {
          content: "";
          height: 1px;
          width: 7px;
          background-color: #ffffff;
          display: inline-block;
          top: -2px;
          position: relative;
          margin-right: 5px;
          margin-left: 5px;
          @include responsive-width($tablet_m) {
            width: 15px;
          }
        }
      }
      background-color: #004fb9;
      padding: 4px;
      border-radius: 10px;
      box-shadow: 1px 1px 8px 4px rgba(0, 185, 235, 0.7);
      margin-right: 5px;
      text-align: center;
      @include responsive-width($tablet_m) {
        border-radius: 20px;
        padding: 8px;
        margin-bottom: 1rem;
      }
    }
    @include responsive-width($tablet_m) {
      position: absolute;
      flex-direction: column;
      top: 50%;
      left: 73%;
      transform: translate(-50%, -50%);
    }
    @include responsive-width($laptop_s) {
      left: 63%;
    }
    @include responsive-width($desktop_m) {
      left: 57%;
    }
  }
  a.e-button {
    margin-top: 3rem;
    min-width: 150px;
    max-width: 150px;
    padding: 10px 5px !important;
  }
  .d-inline.hidden-xs {
    @include responsive-width($tablet_m) {
      display: inline-block !important;
      margin-top: 2.5rem;
      margin-left: 1rem;
    }
  }
  .btn {
    p {
      margin-top: 1rem;
    }
  }
  // .flex-desk {
  //   @include responsive-width($tablet_m) {
  //     display: flex;
  //     flex-direction: row-reverse;
  //     justify-content: space-between;
  //     height: 100%;
  //     align-items: flex-end;
  //   }
  // }
  // .logo-team {
  //   @include responsive-width($tablet_m) {
  //     //   float: right;
  //     position: relative;
  //     bottom: -16px;
  //   }
  // }
  // .logo_img {
  //   position: absolute;
  //   top: -45%;
  //   left: 1%;
  //   @include responsive-width($tablet_m) {
  //     position: relative;
  //     top: inherit;
  //     img {
  //       margin-left: 0;
  //     }
  //   }
  // }
  // picture {
  //   display: inline-block;
  //   width: 100%;
  //   img {
  //     margin-left: auto;
  //     margin-right: auto;
  //   }
  // }
  // .logo_fms {
  //   @include responsive-width($tablet_m) {
  //     position: absolute;
  //     right: -30%;
  //     top: 0;
  //   }
  // }
  .contenedor-text {
    // @include responsive-width($tablet_m) {
    //   //   float: left;
    //   height: 100%;
    //   top: 10%;
    //   left: 0;
    //   right: inherit;
    //   position: relative;
    //   width: 50%;
    // }
    // position: absolute;
    // z-index: 0;
    // top: 53%;
    // bottom: 0;
    // left: 0;
    // height: 220px;
    // right: 0;
    // .text {
    //   padding-bottom: 10px;
    //   @include responsive-width($tablet_m) {
    //     margin-top: 50px;
    //   }
    //   h2,
    //   span {
    //     font-size: 24px;
    //     text-align: center;
    //     @include responsive-width($tablet_m) {
    //       text-align: left;
    //     }
    //     @media screen and (min-width: $tablet_m) and (max-width: $laptop_s) {
    //       max-width: 200px;
    //     }
    //     @include responsive-width($laptop_s) {
    //       font-size: 48px;
    //       max-width: 400px;
    //     }
    //   }
    // }
    // .btn {
    //   padding-bottom: 10px;
    //   a {
    //     width: 141.75px;
    //     height: 40px;
    //     line-height: 19px;
    //     @include responsive-width($tablet_m) {
    //       min-width: 167px;
    //       height: 50px;
    //       line-height: 1;
    //     }
    //   }
    // }
    &::before {
      // content: "";
      // position: absolute;
      // width: 100%;
      // height: 100%;
      // z-index: -1;
      // background-position: top right;
      // background-size: cover;
      // background-repeat: no-repeat;
      // background-image: m_image_url("2021/10/bg-text-blue-mob.png");
      // @include backgound_retina {
      //   background-image: m_image_url("2021/10/bg-text-blue-mob@2x.png");
      // }
      // @include responsive-width($tablet_m) {
      //   width: 50vw;
      //   right: -0vw;
      //   background-image: m_image_url("2021/10/bg-text-blue-desk.png");
      //   @include backgound_retina {
      //     background-image: m_image_url("2021/10/bg-text-blue-desk@2x.png");
      //   }
      // }
    }
  }
  .d-block {
    display: block;
  }
  .e-ta-c {
    text-align: center;
  }
}
