.cobranzas {
    .entel__slider--home__item__content_bts {
        background-color: transparent;
        background-image: url(https://www.entel.pe/wp-content/uploads/2020/04/cobranzas-mob-banner.jpg);
        @include responsive-width($tablet-m) {
            background: url(https://www.entel.pe/wp-content/uploads/2020/04/cobranzas-desk-banner.png) no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    .banner-mob {
        text-align: center;
        img{
            max-width: 540px;
            width: 100vw;
            top: -48px;
            position: relative;
            // transform: translate(28%, 20%);
        }
    }

    .principalcontent {
        -ms-transform: translate(-50%, -41%) !important;
        transform: translate(-50%, -41%) !important;
        @include responsive-width($tablet-m) {
            display: flex;
            -ms-transform: translate(-38%, -35%) !important;
            transform: translate(-38%, -35%) !important;
            width: 950px !important;
        }
        @include responsive-width($laptop_m) {
            display: flex;
            -ms-transform: translate(-57%, -35%) !important;
            transform: translate(-57%, -35%) !important;
            width: 950px !important;
        }
    }
    .principalcontent__imgbanner {
        text-align: center;
        text-align: left;
        max-width: 410px;
        width: 82% !important;

        img {
            max-width: 500px !important;
            width: 90%;
            margin: 0 auto !important;
        }
        @include responsive-width(321px) {
            img {
                width: 100%;
                margin-left: 45% !important;

            }
        }
        @include responsive-width(769px) {
            img {
                margin: 0 auto !important;
                width:100%;
            }
            width: 41% !important;

        }
        @include responsive-width($laptop_m) {
            width: 100% !important;
        }
    }
    .principalcontent__textbanner-note {
        // text-align: left;
        // position: absolute;
        // top: 29px;
        // right: 50%;
        // -ms-transform: translate(50%, 0%);
        // transform: translate(50%, 0%);
        text-align: left;
        position: relative;
        top: -142px;
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        @include responsive-width($tablet-m) {
            position: relative;
            text-align: left;
            margin-top: 80px;
            top: 0;
            right: auto;
            -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    
        }
        @include responsive-width($laptop_m) {
            margin-top: 0px;
            margin-left: 30px;
            
        }
        h3 {
            font-family: $font-family;
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 35px;
            font-weight: 600;
            text-align: center;
            color: #004FB9;
            @include responsive-width($tablet-m) {
                font-size: 36px;
                line-height: 40px;
                margin-bottom: 7px;
                text-align: left;
            }
            @include responsive-width($laptop_m) {
                
                margin-bottom: 7px;
                text-align: left;

            }


            strong {
                color: #00B9EB;
                font-size: 23px;
                line-height: 26px;
                display: block;
                font-weight: 600;

                @include responsive-width($tablet-m) {
                    font-weight: 500;
                }
            }
        }
        br {
            display: none;
            @include responsive-width($tablet-m) {
                display: block;
            }
        }
        img {
            width: 100%;
            text-align: left;
            @include responsive-width($tablet-m) {
                width: 350px;
            }
        }

        p {
            font-size: 20px;
            line-height: 16px;
            margin-top: 14px;
            color: $hiper_gray;
            text-align: center;
            display: block;
            @include responsive-width($tablet-m) {
                font-size: 20px;
                line-height: 16px;
                position: absolute;
                bottom: -51px;
                right: -50%;
            }
            @include responsive-width($laptop_m) {
                font-size: 20px;
                line-height: 16px;
                position: absolute;
                bottom: -51px;
                right: -147%;
            }
            @include responsive-width(1640px) {
                font-size: 20px;
                line-height: 16px;
                position: absolute;
                bottom: 0;
                right: -180%;
            }

            span {
                color: #FF560A;
            }
        }
        // img {
        //     @include responsive-width($tablet-m) {
        //         max-width: 240px;
        //         width: 60%;
        //     }
        //     @include responsive-width($laptop_m) {
        //         width: 100%;
        //     }
        // }
    }
     .e-button-buy {
        position: relative;
        top: 66px;
        @include responsive-width($mobile-s) {
            // top: 30px;
        }
        @include responsive-width($tablet-m) {
            top: 0px;
        }
        @media screen and (max-width: 767px) {
            // top: -160px;
            .btn-buy {
                width: 190px;
                padding: 15px 15px;
            }
        }
    }
}   