.hidden-inline-xs {
    display: none !important;
    @include responsive-width($tablet_m) {
        display: inline-block !important;
    }    
}
.ilimitado {
    .entel__slider--home__item__content {
        background: #ffffff !important;
        @include responsive-width($tablet_m) {
            background: #004FB9 !important;
        }    
    }
    .principalcontent {
        @include responsive-width($tablet_m) {
            width: 768px !important;
            left: 50% !important;
        }
        @include responsive-width($laptop_s) {
            width: 1140px !important;
            left: 56% !important;
        }
    }
    .detalle::before {
        @include responsive-width($tablet_m) {
            transform: rotate(1deg) skew(-11deg, 4deg) !important;
            width: 1050px !important;
        }
    }
    //texto
    .principalcontent__textbanner {
        margin: 55px auto 0 auto !important;
        img {
            max-width: 640px;
            width: 70% !important;
        }
        @include responsive-width($tablet_m) {
            margin: auto !important;
            img {
                max-width: 255px;
                width: 70% !important;
            }
        }
        @include responsive-width($laptop_s){
            margin: auto !important;
            img {
                max-width: 255px;
                width: 100%;
            }
        }

        }
    }
    // 0 cuota
    .principalcontent__model.text-white { 
        @include responsive-width($tablet_m) {
            margin-right: 30px;
            img {
                max-width: 127px;
                width: 70% !important;
        }

        @include responsive-width($laptop_s) {
            margin-right: 30px;
            img {
                max-width: 127px;
                width: 100% !important;
            }
        }
    }
    //equipos
    .principalcontent__imgbanner {
        @include responsive-width($tablet_m) {
            margin-left: 15px;
        }
        @include responsive-width($laptop_s) {
            min-height: 290px !important;
            max-width: 449px !important;
            margin-left: 30px;
        }
    }
}