.entel__slider--home__item__content.entel__slider--home__item__cyberaccesoriosnov2020 {
    background: $blue;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            padding-top: 12px;
            margin: 0;
            z-index: 2;
            position: relative;
        
            @include responsive-width($tablet-m) {
                padding-top: 40px;
                padding-left: 40px;
                width: 100%;
                text-align: left;
            }
        
            @include responsive-width($laptop-s) {   
                margin-left: 30px;
                padding-left: 0;
                padding-top: 50px;
            }

            @include responsive-width($laptop-m) { 
                margin-left: 0;
            }

            p {
                z-index: 1;
                font-size: 16px;
                color: $blue;
                position: relative;
                margin-bottom: 7px;
            }
            
            &-detail {
                position: absolute;
                right: 0;
                top: 0;

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 520px;
                    z-index: 1;
                    background-color: $white;
                    -webkit-border-radius: 47px;
                    -moz-border-radius: 47px;
                    border-radius: 47px;

                    -moz-transform: translate(-29%, -417px) skew(4deg) rotate(-4deg);
                    -webkit-transform: translate(-29%, -417px) skew(4deg) rotate(-4deg);
                    -o-transform: translate(-29%, -417px) skew(4deg) rotate(-4deg);
                    -ms-transform: translate(-29%, -417px) skew(4deg) rotate(-4deg);
                    transform: translate(-29%, -417px) skew(4deg) rotate(-4deg);

                    @include responsive-width($tablet-m) {
                        // display: none;
                        width: 2000px;
                        height: 2000px;
                        -webkit-border-radius: 70px;
                        -moz-border-radius: 70px;
                        border-radius: 70px;

                        -moz-transform: translate(-128%, 3%) skew(-11deg) rotate(-3deg);
                        -webkit-transform: translate(-128%, 3%) skew(-11deg) rotate(-3deg);
                        -o-transform: translate(-128%, 3%) skew(-11deg) rotate(-3deg);
                        -ms-transform: translate(-128%, 3%) skew(-11deg) rotate(-3deg);
                        transform: translate(-128%, 3%) skew(-11deg) rotate(-3deg);
                    }

                    @include responsive-width($laptop-s) {

                        -moz-transform: translate(-139%, 3%) skew(-11deg) rotate(-3deg);
                        -webkit-transform: translate(-139%, 3%) skew(-11deg) rotate(-3deg);
                        -o-transform: translate(-139%, 3%) skew(-11deg) rotate(-3deg);
                        -ms-transform: translate(-139%, 3%) skew(-11deg) rotate(-3deg);
                        transform: translate(-139%, 3%) skew(-11deg) rotate(-3deg);
                    }
                    
                }
                &::before {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1px;
                    height: 1px;
                    z-index: 1;
                    background-color:#00B9EB;
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    border-radius: 100px;

                    -moz-transform: translate(-1082px, -441px) skew(-17deg) rotate(7deg);
                    -webkit-transform: translate(-1082px, -441px) skew(-17deg) rotate(7deg);
                    -o-transform: translate(-1082px, -441px) skew(-17deg) rotate(7deg);
                    -ms-transform: translate(-1082px, -441px) skew(-17deg) rotate(7deg);
                    transform: translate(-1082px, -441px) skew(-17deg) rotate(7deg);

                    @include responsive-width($tablet-m) {
                        // display: none;
                        width: 2000px;
                        height: 2000px;
                        -webkit-border-radius: 70px;
                        -moz-border-radius: 70px;
                        border-radius: 70px;

                        -moz-transform: translate(-2610px, 89px) skew(-7deg) rotate(5deg);
                        -webkit-transform: translate(-2610px, 89px) skew(-7deg) rotate(5deg);
                        -o-transform: translate(-2610px, 89px) skew(-7deg) rotate(5deg);
                        -ms-transform: translate(-2610px, 89px) skew(-7deg) rotate(5deg);
                        transform: translate(-2610px, 89px) skew(-7deg) rotate(5deg);
                    }

                    @include responsive-width($laptop-s) {

                        -moz-transform: translate(-2832px, 89px) skew(-7deg) rotate(5deg);
                        -webkit-transform: translate(-2832px, 89px) skew(-7deg) rotate(5deg);
                        -o-transform: translate(-2832px, 89px) skew(-7deg) rotate(5deg);
                        -ms-transform: translate(-2832px, 89px) skew(-7deg) rotate(5deg);
                        transform: translate(-2832px, 89px) skew(-7deg) rotate(5deg);
                    }
                    
                }
            }

            img {
                position: relative;
                z-index: 2;
        
                @include responsive-width($tablet-m) {
                    width: 197px;
                }
        
                @include responsive-width($laptop-s) {
                    width: auto;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: -20px 0 10px 0;
            width: 100%;
            text-align: center;
            position: relative;
            top: 35px;
            z-index: 2;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: 50%;
                right: 0;
                width: auto;
                -moz-transform: translateY(-46%);
                -webkit-transform: translateY(-46%);
                -o-transform: translateY(-46%);
                -ms-transform: translateY(-46%);
                transform: translateY(-46%);
            }
        
            @include responsive-width($laptop-s) {
                position: absolute;
                top: 22%;
                left: 32%;
                width: auto;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
        
            @include responsive-width($laptop-m) {
                left: 35%;
                top: 14%;
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                // margin-right: 5px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    // width: auto;
                    width: 333px;
                    margin-right: 50px;
                }
        
                @include responsive-width($laptop-s) {
                    // width: auto;
                    width: 530px;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-right: 0;
                }
            }
        }

        &__imgdescuento{
            display: block;
            margin: 0px;
            width: 100%;
            text-align: center;
            position: relative;
            top: 40px;
            z-index: 2;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;

            img {
                width: 193px;

                @include responsive-width($tablet-m) {
                    width: auto;
                }
            }

            @include responsive-width($tablet-m) {
                top: 78px;
                text-align: left;
                margin-left: 40px;
            }
            @include responsive-width($laptop-s) {
                margin-left: 30px;
            }
            @include responsive-width($laptop-m) {
                margin-left: 0px;
                
            }
        }
        .e-button {

            &-buy {    
                margin-top: -10px;
                position: relative;
                z-index: 2;
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
                    margin-top: 62px;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 40px;
                        margin-top: 26px;
                        // margin-top: 58px;
                    }
            
                    @include responsive-width($laptop-s) {
                        margin-left: 30px;
                    }
            
                    @include responsive-width($laptop-m) {
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: relative;
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;
            letter-spacing: -0.05em;
            z-index: 2;

            @include responsive-width($tablet-m) {
                display: block;
                max-width: 260px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                padding-left: 10px;
                margin-left: 30px;
                margin-top: 23px;
            }

            @include responsive-width($laptop-s) {
                max-width: 245px;
                padding-left: 0;
                margin-left: 30px;
            }

            @include responsive-width($laptop-m) {
                max-width: 245px;
                margin-top: 23px;
                margin-left: 0;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
