.entel__slider--home__item__content.entel__slider--home__hogar2  {
    padding: 0;
    background: $white;
    // background-image: url($m_image_path+'/2020/10/banner-hogar-back-mob.png');
    // background-position: right bottom;
    // background-size: 221px;
    // background-repeat: no-repeat;

    // @include responsive-width($tablet-m) {
    //     background-image: url($m_image_path+'/2020/10/banner-hogar-back-desk.png');
    //     background-position: 152% bottom;
    //     background-size: 471px;
    // }

    // @include responsive-width(895px) {
    //     // background-size: 471px;
    //     // background-size: 47%;    
    //     background-position: 122% bottom;
    // }

    // @include responsive-width($laptop-s) {
    //     // background-position: right bottom;
    //     background-position: 112% bottom;
    //     background-size: 47%;    
    // }

    // @include responsive-width(1350px) {
    //     background-position: right top;
    // }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        -ms-transform: none;
        transform: none;
        // max-width: 320px !important ;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 950px;
            height: 400px;
            top: 0;
            -ms-transform: none;
            transform: none;
        }

        // @include responsive-width($tablet-m) {
        //     height: 100%;
        // }

        @include responsive-width($laptop-s) {
            margin-top: 0;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            margin-bottom: 10px;
            margin-top: 20px;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 0;
                // padding-top: 40px;
            }

            @include responsive-width($laptop-s) {
                padding-top: 0px;
                margin-top: 40px;
            }

            @include responsive-width($laptop-m) {
                margin-left: -100px;
            }

            img {
                position: relative;
                display: inline-block;
                @include responsive-width($tablet-m) {
                    // max-width: 399px; 
                    margin-left: 25px;
                    width: 240px;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 0;
                    width: auto;
                }
            }

            &-img {
                position: relative;
                z-index: 2;
            }

            &-detail {
                position: absolute;
                right: 0;
                top: 0;
                z-index: 1;

                @include responsive-width($tablet-m) {
                    right: auto;
                    left: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 2000px;
                    height: 2000px;
                    z-index: 1;
                    background-color: $blue;
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;

                    -moz-transform: translate(-2160px, -1993px) skew(16deg) rotate(9deg);
                    -webkit-transform: translate(-2160px, -1993px) skew(16deg) rotate(9deg);
                    -o-transform: translate(-2160px, -1993px) skew(16deg) rotate(9deg);
                    -ms-transform: translate(-2160px, -1993px) skew(16deg) rotate(9deg);
                    transform: translate(-2160px, -1993px) skew(16deg) rotate(9deg);

                    @include responsive-width($tablet-m) {
                        -moz-transform: translate(-1810px, -1974px) skew(16deg) rotate(11deg);
                        -webkit-transform: translate(-1810px, -1974px) skew(16deg) rotate(11deg);
                        -o-transform: translate(-1810px, -1974px) skew(16deg) rotate(11deg);
                        -ms-transform: translate(-1810px, -1974px) skew(16deg) rotate(11deg);
                        transform: translate(-1810px, -1974px) skew(16deg) rotate(11deg);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-1790px, -1954px) skew(16deg) rotate(11deg);
                        -webkit-transform: translate(-1790px, -1954px) skew(16deg) rotate(11deg);
                        -o-transform: translate(-1790px, -1954px) skew(16deg) rotate(11deg);
                        -ms-transform: translate(-1790px, -1954px) skew(16deg) rotate(11deg);
                        transform: translate(-1790px, -1954px) skew(16deg) rotate(11deg);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: translate(-1880px, -1954px) skew(16deg) rotate(11deg);
                        -webkit-transform: translate(-1880px, -1954px) skew(16deg) rotate(11deg);
                        -o-transform: translate(-1880px, -1954px) skew(16deg) rotate(11deg);
                        -ms-transform: translate(-1880px, -1954px) skew(16deg) rotate(11deg);
                        transform: translate(-1880px, -1954px) skew(16deg) rotate(11deg);
                    }
                }

                &::before {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 2000px;
                    height: 2000px;
                    z-index: 1;
                    background-color: #00B4E6;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    border-radius: 30px;

                    -moz-transform: translate(-2170px, -2062px) skew(16deg) rotate(14deg);
                    -webkit-transform: translate(-2170px, -2062px) skew(16deg) rotate(14deg);
                    -o-transform: translate(-2170px, -2062px) skew(16deg) rotate(14deg);
                    -ms-transform: translate(-2170px, -2062px) skew(16deg) rotate(14deg);
                    transform: translate(-2170px, -2062px) skew(16deg) rotate(14deg);

                    @include responsive-width($tablet-m) {
                        -moz-transform: translate(-1844px, -2058px) skew(16deg) rotate(17deg);
                        -webkit-transform: translate(-1844px, -2058px) skew(16deg) rotate(17deg);
                        -o-transform: translate(-1844px, -2058px) skew(16deg) rotate(17deg);
                        -ms-transform: translate(-1844px, -2058px) skew(16deg) rotate(17deg);
                        transform: translate(-1844px, -2058px) skew(16deg) rotate(17deg);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-1834px, -2038px) skew(16deg) rotate(17deg);
                        -webkit-transform: translate(-1834px, -2038px) skew(16deg) rotate(17deg);
                        -o-transform: translate(-1834px, -2038px) skew(16deg) rotate(17deg);
                        -ms-transform: translate(-1834px, -2038px) skew(16deg) rotate(17deg);
                        transform: translate(-1834px, -2038px) skew(16deg) rotate(17deg);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: translate(-1964px, -2038px) skew(16deg) rotate(17deg);
                        -webkit-transform: translate(-1964px, -2038px) skew(16deg) rotate(17deg);
                        -o-transform: translate(-1964px, -2038px) skew(16deg) rotate(17deg);
                        -ms-transform: translate(-1964px, -2038px) skew(16deg) rotate(17deg);
                        transform: translate(-1964px, -2038px) skew(16deg) rotate(17deg);
                    }
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: left;
                padding: 20px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 0;
                    padding: 58px 0 0 0;
                }

                h2 {
                    font-size: 28px;
                    line-height: 30px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 42px;
                        line-height: 46px;
                    }
                }

                span {
                    font-size: 28px;
                    line-height: 30px;
                    font-weight: normal;
                
                    @include responsive-width($tablet-m) {
                        font-size: 42px;
                        line-height: 46px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            // display: none;
            margin: 8px 0 0 0;
            width: 100%;
            position: relative;
            text-align: center;
            // text-align: right;
            // position: absolute;
            // top: 50%;
            // -ms-transform: translate(-10px,-43%);
            // transform: translate(-10px,-43%);
        
            @include responsive-width($tablet-m) {
                margin: 0 0 0 0;
                position: absolute;
                -ms-transform: translate(328px, -23%);
                transform: translate(328px, -23%);
            }

            @include responsive-width($laptop-s) {
                -ms-transform: translate(348px, -19%);
                transform: translate(348px, -19%);
            }

            @include responsive-width($laptop-m) {
                -ms-transform: translate(268px, -44%);
                transform: translate(268px, -44%);
            }

            &-img {
                position: relative;
                display: block;
                text-align: left;
            }

            img {
                // max-width: 100%;
                display: inline-block;   
                margin-left: 12px;
                width: auto;
                max-width: none;
        
                @include responsive-width($tablet-m) {
                    margin-right: auto;                   
                    max-width: none;
                    width: 690px;
                    margin-left: 25px;
                }

                @include responsive-width($laptop-s) {
                    // width: auto;
                    width: 560px;
                    // max-width: 100%;
                    // margin-right: -4%;
                }

                @include responsive-width($laptop-m) {
                    width: auto;
                }
            }
        }

        .e-button-buy {
            margin-top: -74px;
        
            @include responsive-width($tablet-m) {
                margin-top: 70px;
                margin-left: 35px;
            }
        
            @include responsive-width($laptop-s) {
                margin-left: 0;
                margin-top: 70px;
            }
        
            @include responsive-width($laptop-m) {
                margin-left: -90px;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-left: 0;
                    margin-top: 0;
                }

                @include responsive-width($laptop-s) {
                    margin-top: 0;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 15px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;
            // letter-spacing: -0.05em;

            @include responsive-width($tablet-m) {
                display: block;
                width: 100%;
                // max-width: 530px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                padding-left: 15px;
                margin-left: 24px;
                margin-top: 20px;
                max-width: 380px;
            }

            @include responsive-width($laptop-s) {
                padding-left: 0px;
                margin-left: 0;
                margin-top: 10px;
            }
        
            @include responsive-width($laptop-m) {
                margin-left: -90px;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
