.generico {
    .entel__slider--home__item__content_bts {
        @include responsive-width($tablet-m) {
            background: url('https://www.entel.pe/wp-content/uploads/2020/03/banner-desktop-generico-1.jpg') no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    .banner-mob {
        text-align: center;
        img{
            max-width: 640px;
            width: 100vw;
            // transform: translate(28%, 20%);
        }
    }
    .principalcontent {
        -ms-transform: translate(-50%, -39%) !important;
        transform: translate(-50%, -39%) !important;
        @include responsive-width($tablet-m) {
            display: flex;
            -ms-transform: translate(-40%, -37%) !important;
            transform: translate(-40%, -37%) !important;
        }
    }
    .principalcontent__imgbanner {
        text-align: center;
        text-align: left;
        max-width: 410px;
        width: 82% !important;

        img {
            max-width: 500px !important;
            width: 90%;
            margin: 0 auto !important;
        }
        @include responsive-width(321px) {
            img {
                width: 100%;
                margin-left: 45% !important;

            }
        }
        @include responsive-width(769px) {
            img {
                margin: 0 auto !important;
                width:100%;
            }
            width: 41% !important;

        }
        @include responsive-width($laptop_m) {
            width: 100% !important;
        }
    }
    .principalcontent__textbanner-note {
        text-align: center;
        position: absolute;
        top: 29px;
        right: 50%;
        -ms-transform: translate(50%, 0%);
        transform: translate(50%, 0%);
        @include responsive-width($tablet-m) {
            position: relative;
            text-align: left;
            margin-top: 80px;
            top: 0;
            right: auto;
            -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    
        }
        @include responsive-width($laptop_m) {
            margin-top: 60px;
            margin-left: 30px;
            
        }
        h3 {
            font-family: $font-family;
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 24px;
            color: $hiper_gray;
            @include responsive-width($tablet-m) {
                font-size: 38px;
                line-height: 40px;
                margin-bottom: 7px;
            }
            @include responsive-width($laptop_m) {
                font-size: 38px;
                line-height: 40px;
                margin-bottom: 7px;
            }
        }

        p {
            font-size: 20px;
            line-height: 23px;
            margin-top: 0;
            color: $hiper_gray;
            @include responsive-width($tablet-m) {
                font-size: 38px;
                line-height: 38px;
            }
        }
        img {
            @include responsive-width($tablet-m) {
                max-width: 240px;
                width: 60%;
            }
            @include responsive-width($laptop_m) {
                width: 100%;
            }
        }
    }
     .e-button-buy {
        position: relative;

        @include responsive-width($mobile-s) {
            top: 30px;
        }
        @include responsive-width($tablet-m) {
            top: 0px;
        }
        @media screen and (max-width: 767px) {
            top: -198px;
            .btn-buy {
                width: 143px;
                padding: 15px 15px;
            }
        }
    }
}   