.entel__slider--home__item__content {
    &.entel__slider--home__item__content_fiestas-patrias-liberados {
        background-size: 100%;
        background-color: #0150b9;
        background-repeat: no-repeat;
        background-position-y: top;

        @media (min-width: 768px){
            background-image: url($m_image_path+'2020/07/fiestas-patrias-banner-home-lib.jpg');
            // background-image: none;//url($m_image_path+'2020/07/fiestas-patrias-banner-mob@2x.jpg');
        }

        .e-button-buy small {
            color: #fff;
            padding-top: 7px;
            display: block;
            width: 310px;
            margin: 0 auto;
        }

        .principalcontent {
            width: 100%;
            text-align: right;

            top: 0;
            left: 0;
            transform: none;

            @media (min-width: 768px){
                left: 50%;
                -moz-transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
            }

            &__textbanner {
                text-align: left;
                padding-left: 10px;
                margin: 12px 0 0;
                position: relative;
                z-index: 1;
                width: 100%;

                @media (min-width: 470px){
                    padding-left: 10%;
                }

                @media (min-width: 768px){
                    padding-left: 40px;
                    margin: 32px 0 0;
                }

                @media (min-width: 1224px){
                    padding-left: 0px;
                }
                
                .textbanner {
                    &__title {
                        color: $white;
                        line-height: 20px;
                        font-size: 18px;
                        font-weight: normal;
                        display: block;
                        max-width: 200px;
                        padding-left: 10px;
                        margin-top: 22px;

                        @media (min-width: 768px){
                            line-height: 33px;
                            font-size: 31px;    
                            max-width: 280px;
                            padding-left: 5px;
                            margin-top:5px;
                        }

                        strong {
                            display: block;
                            font-weight: bold;
                            color: $extra_blue;
                            font-size: 18px;

                            @media (min-width: 768px){
                                line-height: 34px;
                                font-size: 36px;
                            }
                        }

                        span {
                            font-weight: bold;
                            display: block;
                            margin-top: 8px;
                            color: $white;
                            font-size: 11px;

                            @media (min-width: 768px){
                                font-size: 18px;
                                line-height: 20px;
                            }

                            br {
                                display: inline;
                            }
                        }
                    }
                    
                    &__img {
                        margin-left: 10px;
                        margin-top: 20px;

                        @media (min-width: 768px){
                            display: none;
                            margin-top: 5px;
                        }
                    }
                    
                    &__bandera {

                        @media (min-width: 768px){
                            width: auto;
                        }
                    }
                }
            }

            &__imgbanner {
                height: 450px;
                width: 100%;
                margin-left: 0;
                top: 0;
                left: 0;
                position: absolute;
                z-index: 0;

                @media (min-width: 470px){
                    padding-left: 10%;
                }

                @media (min-width: 768px){
                    padding-left: initial;
                }
                
                @media (min-width: 1224px){
                    padding-left: 0px;
                }
                
                img {
                    max-width: 100%;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top right;
                    position: absolute;
                    display: block !important;

                    @media (min-width: 470px){
                        object-position: center right;
                        width: 90%;
                    }

                    @media (min-width: 768px){
                        bottom: 50px;
                        top: auto;
                        width: 80%;
                        height: auto;
                    }

                    @media (min-width: 1000px){
                        width: auto;
                    }

                    @media (min-width: 1100px){
                        margin-right: -80px;
                    }
                }
            }

            &__legales {
                width: 100%;
                padding-left: 20px;
                text-align: justify;
                position: relative;
                z-index: 1;

                @media (min-width: 500px){
                    padding-left: 0;
                    width: auto;
                    margin: 10px 20px 0;
                }

                @media (min-width: 768px){
                    // padding-left: 45px;
                    // padding-right: 45px;
                    margin-left: 40px;
                    margin-right: 40px;
                    position: absolute;
                    bottom: -68px;
                }
                
                @media (min-width: 1224px){
                    padding-left: 0px;
                    padding-right: 0px;
                }
                
                &-img {
                    margin-top: 10px;
                    width: 96%;

                    @media (min-width: 500px){
                        display: none;
                    }
                }

                & small{
                    display: none;
                    color: $white;
                    font-size: 10.3px;
                    font-stretch: condensed;

                    @media (min-width: 500px){
                        display: block;
                    }

                    a{
                        color: $white;
                    }
                }
            }

            .e-button-buy{
                text-align: center;
                z-index: 1;
                position: relative;
                margin-top: 20px;

                @media (min-width: 375px){
                    padding-left: 20px;
                    text-align: left;
                }

                @media (min-width: 500px){
                    text-align: center;
                }

                @media (min-width: 768px){
                    text-align: left;
                    padding-left: 40px;
                    margin-left: 5px;
                    // padding-left: 45px;
                    margin-top: 35px;
                }
                
                @media (min-width: 1224px){
                    padding-left: 0px;
                }

                .btn-buy{
                    line-height: 24px;
                    height: 40px;
                    width: 126px;
                    border-radius: 40px;
                    display: inline-block;

                    @media (min-width: 768px){
                        margin-top: 0;
                        line-height: 8px;
                        font-size: 12px;
                    }
                }

                img {
                    margin-top: 19px;

                    @media (min-width: 768px){
                        margin-top: 33px;
                    }
                }
            }
        }
    }
}