.entel__slider--home__item__content_app {
    background: url(https://www.entel.pe/wp-content/uploads/2019/12/fondo-mob-v2.png);
    background-size: 100%;
    @include responsive-width($tablet_m) {
        background: url(https://www.entel.pe/wp-content/uploads/2019/12/fondo-desk.png);
    }
    picture {
        @include responsive-width($tablet_m) {
            top: 23% !important;
            left: 50%;
            width: 50%;
            img {
                max-width: 80%;
            }
        }
        top: 0%;
        left: 70%;
        width: 100%;
        bottom: 0;
        img {
            max-width: 100%;
        }
    }
    .e-button-buy { 
        .btn-buy-mob {
            margin-top: 25px;
            min-width: 200px;
            min-height: 55px;
            padding: 18px;
            position: relative;
            top: -150px;
        }
    }
    .principalcontent__textbanner {
        margin-top: 232px;
        @include responsive-width($tablet_m) {
            margin-top: 0;
        }
        h2 {
            max-width: 294px;
            display: block;
            margin: 0 auto;
            font-size: 24px;
            font-weight: normal;
            @include responsive-width($tablet_m) {
                min-width: 362px;
                margin: 0;
                font-size: 34px;
                line-height: 40px;
            }
        }
        img {
            width: 45%;
        }
    }
    .principalcontent__imgbanner {
        // margin-left: 30% !important;
        .img-mob {
            display: block;
            // margin-left: auto !important;
            margin: 0;
            max-width: 500px !important;
            width: 50%;
        }    
    }
}