.entel__slider.entel__slider--custom-home-navigation{
    bottom: 0px;
    
    @media (max-width: $laptop-s) {
        bottom: 4px;
    }

    @media (max-width: $tablet-m) {
        bottom: 10px;
    }

    @media (max-width: $mobile-l) {
        bottom: 16px;
    }
}

.entel__slider--home__item__content {
    &.entel__slider--home__item__content_chip-power {

        //background: linear-gradient(180deg, rgba(0, 79, 185, 0.7) -30.67%, #FFFFFF 46%);
        background-image: url($m_image_path+'2020/05/banner-chip-power-v2.jpeg');

        @media (max-width: $laptop-s) {
            background-image: url($m_image_path+'2020/05/banner-chip-power-tab@2x.png');
        }

        @media (max-width: $tablet-m) {
            background-image: url($m_image_path+'2020/05/banner-chip-power-mov@2x.png');
        }
        
        .e-button-buy small {
            color: #004FB9;
            padding-top: 21px;
            display: block;
            width: 310px;
            margin: 0 auto;
        
            br {
                display: none;

                @include responsive-width($tablet_ll) {
                    display: block;
                }
            }
        }

        .principalcontent {
            width: 90%;
            text-align: center;
            transform: translate(-50%, -60%);

            .chip-power-delivery-img{
                display: block;
                position: absolute;
                left: -40px;
                max-width: 230px;
                bottom: 0px;

                @media (max-width: $tablet-m) {
                    max-width: 125px;
                    left: -57px;
                    width: 100%;
                }

                @media (max-width: $mobile-lg) {
                    max-width: 100px;
                }
            }

            .chip-power-person-img{
                display: block;
                position: absolute;
                right: -40px;
                max-width: 255px;
                bottom: 0px;

                @media (max-width: $tablet-m) {
                    max-width: 125px;
                    //left: -57px;
                    //width: 100%;
                }

                @media (max-width: $mobile-lg) {
                    max-width: 100px;
                }
            }

            &__textbanner {
                margin-bottom: 10px;
                text-align: center;

                display: flex;
                //align-items: center;
                flex-direction: row;
                justify-content: center;

                @media (max-width: $laptop-s) {
                    //flex-direction: column;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    bottom: 0;
                }

                .chip-power{
                    .title-mov{
                        display: none;

                        @media (max-width: $tablet-m) {
                            display: block;
                            font-size: 20px;
                            margin-bottom: 20px;
                            text-align: center;

                            strong{
                                color: #00b1e6;
                            }
                        }
                    }

                    .chip-power-img{
                        @media (max-width: $tablet-m){
                            text-align: center;
                        }

                        img{
                            max-width: 250px;

                            @media (max-width: $laptop-s) {
                                margin-left: auto;
                                margin-right: auto;
                            }

                            @media (max-width: $tablet-m) {
                                max-width: 225px;
                                //margin-left: auto;
                                //margin-right: auto;
                            }
                        }
                    }

                    .chip-txt-img{
                        max-width: 200px;
                        //display: none;
                        padding-top: 5px;
                        padding-bottom: 10px;

                        @media (max-width: $laptop-s) {
                            max-width: 220px;
                            //display: block;
                            margin-left: auto;
                            margin-right: auto;
                        }

                        @media (max-width: $tablet-m) {
                            max-width: 180px;
                            width: 100%;
                            margin-bottom: 0;
                            display: none;
                            //- margin-left: auto;
                            //- margin-right: auto;
                        }
                    }

                    .plan-mov{
                        display: none;
                        margin: 0 auto;
                        padding-left: 40px;
                        padding-right: 40px;

                        @media (max-width: $tablet-m){
                            display: flex !important;
                        }

                        .plan-price{
                            img{
                                max-width: 125px;
                                margin-left: auto;

                                @media (max-width: $tablet-m){
                                    max-width: 110px;
                                    margin-left: auto;
                                    margin-right: 0;
                                }
                            }
                        }

                        .plan-desc{
                            height: fit-content;
                            position: relative;
                            padding-left: 20px;

                            @media (max-width: $tablet-m){
                                //left: -2px;
                                margin-top: 10px;
                            }

                            &::after{
                                content: " ";
                                //bottom: 10px;
                                position: absolute;
                                width: 2px;
                                height: 100%;
                                top: 0;
                                left: -25px;
                                background-color: #00b1e6;

                                @media (max-width: $laptop-s){
                                    left: 0;
                                }

                                @media (max-width: $tablet-m){
                                    height: 117%;
                                    //top: -15px;
                                }
                            }

                            img{
                                max-width: 90px;

                                @media (max-width: $tablet-m){
                                    max-width: 90px;
                                    margin-left: 0;
                                    margin-right: auto;
                                }
                            }
                        }

                        div{
                            width: 50%;
                        }
                    }
                }

                .plan{
                    //width: 40%;
                    margin-top: 20px;
                    max-width: 175px;
                    position: relative;
                    height: fit-content;

                    @media (max-width: $tablet-m) {
                        display: none;
                    }

                    &::after{
                        content: " ";
                        bottom: 0;
                        position: absolute;
                        width: 2px;
                        height: 75%;
                        left: 0;
                        background-color: #00b1e6;;
                    }

                    img {
                        max-width: 145px;
                        width: auto;
                        margin-left: 20px;
                    }
                }

                .desc{
                    //width: 40%;
                    margin-top: 41px;
                    max-width: 135px;
                    position: relative;
                    height: fit-content;
                    margin-left: 10px;

                    @media (max-width: $tablet-m) {
                        display: none;
                    }

                    &::after{
                        content: " ";
                        bottom: -2px;
                        position: absolute;
                        width: 2px;
                        left: 0;
                        height: 95%;
                        background-color: #00b1e6;;
                    }

                    img {
                        max-width: 100px;
                        width: auto;
                        margin-left: 20px;
                    }
                }

                .e-button-buy {
                    .btn-buy{
                        margin-top: 25px;
                        font-size: 16px;
                        width: fit-content;
                        font-weight: 600;
                        padding: 12px 45px;

                        @media (max-width: $laptop-s) {
                            margin: 10px auto;
                            padding: 10px 35px;
                        }

                        @media (max-width: $tablet-m) {
                            font-size: 12px;
                            //width: 85%;
                            padding: 10px 25px;
                        }

                        strong{
                            font-weight: 900;
                            font-size: 1.3em;
                        }
                    }
                    
                    small {
                        color: white;
                    }
                }

                p {
                    font-weight: bold;
                    font-size: 20px;
                    color: #ffffff;
                }

                .free-delivery-mov  {
                    //max-width: 255px;
                    display: none;
                    width: auto;
                    margin: 15px auto 0 auto;

                    @media (max-width: $tablet-m) {
                        max-width: 150px;
                        display: block;
                    }
                }

                @media (min-width: 375px) {
                    margin-top: 60px;
                    margin-bottom: -5px;
                }

                @media (max-width: 560px) {
                    margin-top: 40px;
                    margin-bottom: 0px;
                }

                @include responsive-width($tablet_m) {
                    // width: 35%;
                    width: 85%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: -45px;
                    padding-left: 0;
                    text-align: left;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;

                    picture {
                        display: block;
                    }

                    img {
                        //width: 70%;
                        margin: 0;
                    }
                }

                @media (min-width: 1024px) {
                    padding-left: 0;
                    left: 10px;
                } 

                @media (min-width: 1500px) {
                     left: -20px;
                }
            }

            &__textlegal {
                position: absolute;
                bottom: -34px;

                @media (max-width: $laptop-s) {
                    width: 75%;
                }

                @media (max-width: $tablet-m) {
                    bottom: -25px;
                    width: 100%;
                }

                @media (max-width: $mobile-lg) {
                    bottom: -45px;
                }

                p {
                    color: #00B9EB;
                    font-size: 9px;

                    a {
                        color: #00B9EB;
                        text-decoration: underline;
                    }

                    @media (max-width: $tablet-m) {
                        font-size: 7px;
                    }
                }

                img{
                    position: absolute;
                    max-width: 190px;
                    top: -80px;
                    right: 20%;

                    @media (max-width: $laptop-s) {
                        top: -10px;
                        right: -30%;
                    }

                    @media (max-width: $tablet-m) {
                        display: none;
                    }
                }
            }

            &__model {
                margin-top: 21px;
                position: absolute;
                right: 30%;

                @media (max-width: 324px) {
                    right: 26px;
                }

                @include responsive-width($tablet_m) {
                    right: inherit;
                    position: relative;
                }

                .model {
                    font-size: 14px;
                }

                p {
                    font-size: 144px;
                    margin: 0;
                    letter-spacing: -2px;

                    @media (min-width: 320px) {
                        font-size: 90px;
                        margin: 0;
                        letter-spacing: 2px;
                    }

                    @media (min-width: 375px) {
                        font-size: 90px;
                        margin: 0;
                        letter-spacing: 2px;
                        margin-top: 7px;
                    }

                    @include responsive-width($tablet_m) {
                        font-size: 175px;
                        margin: 0;
                        top: 0;
                        span {
                            font-size: 75px;
                            line-height: 68px;
                            display: inline-block;
                            margin-right: 7px;
                        }
                    }
                }

                small {

                    @media (min-width: 320px) {
                        position: absolute;
                        width: 42px;
                        font-size: 14px;
                        line-height: 15px;
                        font-weight: 500;
                        top: 40px;
                    }

                    @media (min-width: 375px) {
                        position: absolute;
                        width: 42px;
                        font-size: 14px;
                        line-height: 15px;
                        font-weight: 500;
                    }

                    @include responsive-width($tablet_m) {
                        position: absolute;
                        width: 80px;
                        font-size: 25px;
                        line-height: 25px;
                        font-weight: 500;
                        top: 58px;
                    }

                    &:nth-of-type(2) {
                        background: transparent;
                    }

                    .cuota {
                        width: 40px;
                        font-size: 12px;
                        line-height: 10px;
                        position: absolute;
                    }
                }

                .principalcontent__plan {
                    .bg-white {
                        background-color: #ffffff;
                        color: #004FB9;
                        border-radius: 3px;
                        font-size: 14px;
                        font-weight: 600;
                        margin-top: 8px;
                        padding: 2px 4px;
                        text-align: center;

                        @media (min-width: 320px) {
                            font-size: 12px;
                        }
                    }

                    @media (min-width: 375px) {
                        top: -12px;
                    }
                }
            }

            &__plan {
                position: relative;

                ul li:last-child {
                    color: $extra_blue;
                }

                ul {
                    position: relative;

                    li {
                        &::before {
                            content: "";
                        }
                        font-size: 18px;
                        
                        @include responsive-width($tablet_m) {
                            font-size: 20px;
                        }  
                    }
                }
            }

            .e-button-buy small {
                width: 100%;
            }

            @include responsive-width($tablet_m) {
                height: 50%;
                width: 90%;
                transform: translate(-50%, -30%);

                .e-button-buy small {
                    width: 80%;
                    margin: 0;
                    color: #004FB9;
                }
            }

            .delivery {                
                margin: 0 auto;
            }
        }
    }
}