.entel__slider--home__item.client.entelday {
    .entel__slider--home__item__content {
        > picture {
            top: 0%;
            left: 0%;
            width: 100%;
            margin: 0 auto;
            position: absolute;
            transform: translate(0%, 0%);
            @include responsive-width($mobile_l) {
                left: 40%;
                transform: translate(0%, 0%);
                height: 100%;
            }
    
            @include responsive-width($tablet_ll) {
                left: 50%;
            }
            img {
                max-width: 100%;
                min-height: 100%;
                @include responsive-width($tablet_ll) {
                    min-height: 450px;
                }
                @include responsive-width($laptop_s){
                    min-height: 450px;
                }
            }
        }
        .principalcontent{
            .principalcontent__textbanner {
                @include responsive-width($mobile_l) {
                    transform: translate(6%, -19%);
                }
                @include responsive-width($tablet_ll) {
                    transform: translate(0%, 0%);                     
                    width: 40%;
                }
    
                .desk {
                    font-weight: 300;
                    font-size: 48px;
                    line-height: 48px;
                    letter-spacing: 0.005em;
                    color: $hiper_gray;
                    strong {
                        font-weight: 550;
                    }

                    @include responsive-width($mobile_l) {
                        font-size: 34px;
                        line-height: 36px;
                    }
                    @include responsive-width($tablet_ll) {
                        font-size: 48px;
                        line-height: 48px;
                    }
                }
                .mob {
                    font-weight: 300;
                    font-size: 27px;
                    line-height: 27px;
                    letter-spacing: 0.005em;
                    color: $hiper_gray;
                    strong {
                        font-weight: 550;
                    }
                }

                .text__small--skyblue {
                    color: #00B9EB;
                    font-size: 18px;
                    line-height: 22px;
                    margin-top: 7px;
                    margin-bottom: 10px;

                    @include responsive-width($tablet_ll) {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }

                h2,img{
                    text-align: left;
                    margin: 0 0 0 16px;
                    @include responsive-width($mobile_l) {
                        margin: 0;
                    }
                }
            }
            .btn-top{
                transform: translate(0%, -13%);
            }
            .btn-buy-1{
                margin-top: 15px;
            }
            .text-down {
                // margin-top: 46%;
                transform: translate(0%, 234%);
                @include responsive-width($mobile_l) {
                    transform: translate(0%, 0%);
                    // margin-top: 0%;
                    max-width: 300px;
                    margin-left: 10px;
                    
                }
                @include responsive-width($tablet_m) {
                    max-width: 400px;
                    margin-left: 16px;
                }
                @include responsive-width($tablet_m) {
                    margin-top: 35px;
                }
                h2,img{
                    text-align: center;
                    margin: 0 auto;
                    @include responsive-width($mobile_l) {
                        text-align: left;
                        margin: 0;

                    }
                }
            }

        }
        > .principalcontent {
            width: 100%;
            max-width: 768px;
            top: 0;
            left: 0;
            width: 100%;
            margin: 30px auto;
            transform: translate(0%,2%);
            @include responsive-width($mobile_l) {
                top: 60%;
                left: 50%;
                position: absolute;
                max-width: 879px;
                transform: translate(-50%, -50%);
            }
            @include responsive-width($tablet_ll) {
                top: 50%;
                left: 50%;
                position: absolute;
                max-width: 879px;
                transform: translate(-50%, -50%);
            }
            a {
                margin-top: 228px;
                min-width: 200px;
                min-height: 36px;
                padding: 10px;
                @include responsive-width($mobile_l) {
                    margin-top: 35px;
                    min-width: 167px;
                    min-height: 40px;
                }
    
            }
            .obs{
                font-size: 8px;
                line-height: 30px;
                color: $hiper_gray;
                @include responsive-width($mobile_l) {
                    font-size: 12px;
                }
            }
        }
    }
}
    