.entel__slider--home__item__content.entel__slider--home__migra_form {
    background: $blue;
    padding: 0;
    // background-image: url($m_image_path+'2021/05/banner-fondo-galaxy-days-post-mob.png');
    // background-repeat: no-repeat;
    // background-size: auto;
    // background-position: 118% -100px;

    // @include responsive-width(375px){
    //     background-position: 160% -100px;
    // }
    // @include responsive-width(425px){
    //     background-position: 270% -100px;
    // }
    // @include responsive-width($tablet-m){
    //     background-image: url($m_image_path+'2021/05/banner-fondo-galaxy-days-post-tab.png');
    //     background-position: 286% -130px;
    // }
    // @include responsive-width($laptop-s){
    //     background-position: -580px -169px;
    // }

    // @include responsive-width($laptop-m){
    //     background-image: url($m_image_path+'2021/05/banner-fondo-galaxy-days-post-desk.png');
    //     background-position: -198% -169px;
    // }

    // @include responsive-width($desktop-s){
    //     background-position: -106% -169px;
    // }

    // @include responsive-width(1500px){
    //     background-position: -82% -169px;
    // }

    // @include responsive-width(1600px){
    //     background-position: -64% -169px;
    // }

    // @include responsive-width($desktop-m){
    //     background-position: -40% -169px;
    // }

    // @include responsive-width($tablet-m) {
    //     background-image: url($m_image_path+'2021/05/week-xiaomi-back-tab.png');
    //     background-repeat: no-repeat;
    //     background-size: auto;
    //     background-position: center top;
    // }

    // @include responsive-width($laptop-s) {
    //     background-image: url($m_image_path+'2021/05/week-xiaomi-back-desk.png');
    // }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;        
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 950px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1100px !important;
        }

        &:after {
            content: '';
            display: block;
            width: 286px;
            height: 295px;
            position: absolute;
            right: -110px;
            top: -120px;
            background-image: url($m_image_path + '2021/03/banner-moto-back-mob.png');
            background-repeat: no-repeat;
        
            @include responsive-width($tablet-m) {
                width: 646px;
                height: 668px;
                right: -267px;
                top: -257px;
                background-image: url($m_image_path + '2021/03/banner-moto-back-desk.png');
            }
        
            @include responsive-width($laptop-s) {
                right: -240px;
                top: -250px;
            }

            @include responsive-width($laptop-m) {
                right: -430px;
                top: -230px;
            }
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 30px 0 0;
            margin: 0;
            width: 100%;
            max-width: 190px;
            z-index: 3;
            position: relative;
        
            @include responsive-width($tablet-m) {
                padding: 5px 25px;
                padding-top: 60px;
                padding-left: 30px;
                width: 100%;
                max-width: none;

            }
            
            @include responsive-width($laptop-s) {
                margin-left: 0px;
                padding-left: 20px;
                padding-top: 40px;
                z-index: 1;
            }
            @include responsive-width($laptop-m) { 
                margin-left: 0px;
                padding-top: 35px;
            }

            @include responsive-width($desktop_s) { 
                margin-left: -10px;
                padding-top: 35px;
            }

            &-detail {
                position: absolute;
                left: 0;
                top: 0;

                &::after {
                    position: absolute;
                    content: '';
                    display: none;
                    z-index: 1;
                    background-color: $white;

                    @include responsive-width($tablet-m) {
                        display: block;
                        width: 3000px;
                        height: 3000px;
                        -webkit-border-radius: 80px;
                        -moz-border-radius: 80px;
                        border-radius: 80px;

                        -moz-transform: translate(-2937px, 74px) skew(-11deg) rotate(-2deg);
                        -webkit-transform: translate(-2937px, 74px) skew(-11deg) rotate(-2deg);
                        -o-transform: translate(-2937px, 74px) skew(-11deg) rotate(-2deg);
                        -ms-transform: translate(-2937px, 74px) skew(-11deg) rotate(-2deg);
                        transform: translate(-2937px, 74px) skew(-11deg) rotate(-2deg);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-2447px, 103px) skew(5deg) rotate(-4deg);
                        -webkit-transform: translate(-2447px, 103px) skew(5deg) rotate(-4deg);
                        -o-transform: translate(-2447px, 103px) skew(5deg) rotate(-4deg);
                        -ms-transform: translate(-2447px, 103px) skew(5deg) rotate(-4deg);
                        transform: translate(-2447px, 103px) skew(5deg) rotate(-4deg);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: translate(-2468px, 103px) skew(5deg) rotate(-4deg);
                        -webkit-transform: translate(-2468px, 103px) skew(5deg) rotate(-4deg);
                        -o-transform: translate(-2468px, 103px) skew(5deg) rotate(-4deg);
                        -ms-transform: translate(-2468px, 103px) skew(5deg) rotate(-4deg);
                        transform: translate(-2468px, 103px) skew(5deg) rotate(-4deg);
                    }
                }

                // &::before {
                //     position: absolute;
                //     content: '';
                //     display: none;
                //     width: 1180px;
                //     height: 380px;
                //     background-color: $extra_blue;
                    
                //     @include responsive-width($tablet-m) {
                //         display: block;
                //         height: 500px;
                //         -webkit-border-radius: 40px;
                //         -moz-border-radius: 40px;
                //         border-radius: 40px;
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //     }

                //     @include responsive-width($laptop-s) {
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //     }

                //     @include responsive-width($laptop-m) {
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //     }
                // }
            }

            
            form {
                z-index: 2;
                text-align: left;
                position: relative;
                margin-top: 8px;

                .form--content {
                    width: 166px;
                    text-align: center;
                    margin: auto 0;

                    @include responsive-width($tablet-m) {
                        width: auto;
                        text-align: left;
                    }
                    .form--head {
                        p {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 14px;
                            text-align: left;
                            color: #004CC1;
                            margin: 0px;

                            span {
                                font-weight: 400;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 19px;
                                line-height: 19px;
                            }
                        }
                        
                        h2 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 20px;
                            text-align: left;
                            text-transform: uppercase;
                            color: #00B9EB;
                            margin: 4px 0px 5px;

                            @include responsive-width($tablet-m) {
                                font-size: 34px;
                                line-height: 30px;
                                margin: 6px 0px 11px;
                            }
                        }

                        h3 {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: left;
                            color: $white;
                            margin: 0px 0px 10px;

                            @include responsive-width($tablet-m) {
                                color: #004CC1;
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }

                            strong {
                                font-weight: bold;
                            }
                        }
                    }

                    .form--body {
                        .form--number {
                            margin-bottom: 4px;

                            input {
                                border: 1.5px solid #9E9FA1;
                                box-sizing: border-box;
                                border-radius: 7.3332px;
                                width: 100%;
                                height: 33px;
                                padding: 10px 15px;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                align-items: center;
                                letter-spacing: 0.0015em;
                                color: #9E9FA1;

                                &.error {
                                    border-color: #f10101;
                                }

                                &.error::placeholder {
                                    color: #f10101;
                                }

                                @include responsive-width($tablet-m) {
                                    width: 236px;
                                    height: 51px;
                                    font-size: 14px;
                                    line-height: 17px;
                                }
                            }

                            @include responsive-width($tablet-m) {
                                margin-bottom: 18px;
                            }
                        }

                        .form--check{
                            display: flex;
                            align-items: center;

                            input {
                                display: none;
                            }

                            .input-mask-top{
                                width: 14px;
                                height: 14px;
                                border: 2px solid #FF560A;
                                box-sizing: border-box;
                                border-radius: 4.58325px;
                                margin-top: 2px;
                                background: #FF560A;
                                position: relative;

                                @include responsive-width($tablet-m) {
                                    width: 18px;
                                    height: 18px;
                                }

                                &.error {
                                    border-color:#f10101;
                                    background: #ffffff;
                                }

                                &::after{
                                    content: "";
                                    left: 3px;
                                    top: 0px;
                                    width: 4px;
                                    height: 9px;
                                    border: solid white;
                                    border-width: 0px 2px 2px 0px;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                    position: absolute;

                                    @include responsive-width($tablet-m) {
                                        left: 5px;
                                        top: 1px;
                                    }

                                    @include responsive-width($laptop-m) {
                                        left: 5px;
                                        top: 1px;
                                    }
                                }
                            }

                            a {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 8.95284px;
                                line-height: 15px;
                                color: $white;
                                margin-left: 5px;

                                @include responsive-width($tablet-m) {
                                    color: #004CC1;
                                }

                                span {
                                    font-weight: bold;
                                    text-decoration: underline;
                                }
                            }
                        }

                        button {
                            background: #FF560A;
                            border-radius: 45.8325px;
                            color: #ffffff;
                            cursor: pointer;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 1px;
                            text-align: center;
                            padding: 15px 5px;
                            text-transform: uppercase;
                            margin-top: 10px;
                            border: 0px;
                            width: 126px;
                            height: 24px;
                            display: block;
                            // margin-left: 36px;

                            @include responsive-width($tablet-m) {
                                margin-top: 15px;
                                margin-left: 0px;
                                width: 142px;
                                height: 34px;
                                font-size: 13px;
                                line-height: 4px;
                            }

                            @include responsive-width($laptop-m) {
                                padding: 15px 28px;
                                width: 142px;
                                height: 34px;
                                font-size: 13px;
                                line-height: 4px;
                            }
                        }
                    }

                    .form--loading{
                        display: none;
                        padding: 25px 25px 0px;
                        background: $blue;
                        position: relative;
                        text-align: center;
                        height: 110px;
                        margin-top: -22px;
                        width: 160px;
                        
                        @include responsive-width($tablet-m) {
                            background: $white;
                            margin-top: -31px;
                            width: 270px;
                        }

                        img {
                            animation: rotating 2s linear infinite;
                            width: 70px;
                            display: inline-block;

                            @keyframes rotating {
                                from {
                                    transform: rotate(0deg);
                                }
                                to {
                                    transform: rotate(360deg);
                                }
                            }

                            @include responsive-width($tablet-m) {
                                width: 100px;
                            }
                        }

                    }

                    .form--thanks {
                        display: none;
                        margin-top: -22px;
                        width: 160px;
                        background: $blue;
                        position: relative;
                        text-align: center;
                        height: 110px;
                        
                        @include responsive-width($tablet-m) {
                            background: $white;
                            margin-top: -31px;
                            width: 270px;
                        }

                        img {
                            margin-bottom: 5px;
                            @include responsive-width($tablet-m) {
                                margin-bottom: 0px;
                            }
                        }
                        p, span {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: center;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                color: #004CC1;
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }
                        }

                        @include responsive-width($tablet-m) {
                            width: 200px;
                        }
                    }

                    .form--duplicate {
                        display: none;
                        margin-top: -22px;
                        width: 160px;
                        padding-top: 15px;
                        background: $blue;
                        position: relative;
                        text-align: center;
                        height: 110px;
                        
                        @include responsive-width($tablet-m) {
                            background: $white;
                            margin-top: -31px;
                            width: 270px;
                        }

                        p{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                color: #004CC1;
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }

                        @include responsive-width($tablet-m) {
                            width: 250px;
                        }
                    }

                    .form--error {
                        display: none;
                        margin-top: -22px;
                        width: 160px;
                        background: $blue;
                        position: relative;
                        text-align: center;
                        height: 110px;
                        
                        @include responsive-width($tablet-m) {
                            background: $white;
                            margin-top: -31px;
                            width: 270px;
                        }

                        p{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                color: #004CC1;
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }

                        @include responsive-width($tablet-m) {
                            width: 250px;
                        }
                    }

                    .form--callback {
                        margin-top: 2px;

                        p {
                            margin: 0px;
                            font-size: 10px;
                            line-height: 11px;
                            font-style: normal;
                            font-weight: normal;

                            a {
                                color: #004FB9;
                                text-decoration: underline;
                                font-weight: bold;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }

                        @include responsive-width($tablet-m) {
                            margin-top: 8px;
                        }
                    }
                }

                @include responsive-width($tablet-m) {
                    margin-top: 18px;
                }
            }

            img {
                position: relative;
                z-index: 2;
                margin: 0;
        
                @include responsive-width($tablet-m) {
                    width: auto;
                    margin-left: 0;

                }

                @include responsive-width($laptop-s) {
                    width: auto;
                    margin-left: 0px;

                }

                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-left: 0;

                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    // padding: 58px 0 0 0;
                                    
                    text-align: left;
                    padding: 0;
                }

                // @include responsive-width($laptop-m) {
                //     margin-left: -70px;
                // }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 auto 0;
            width: 100%;
            text-align: center;
            position: absolute;
            // bottom: 10px;
            z-index: 2;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
                    
            top: 20px;
            width: 100%;
            text-align: right;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: auto;
                bottom: -20px;
                right: 20px;
                width: auto;
                z-index: 3;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            
            @include responsive-width($laptop-s) {
                bottom: 102px;
                right: 60px;
            }
        
            @include responsive-width($laptop-m) {
                bottom: 66px;
                right: -108px;
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 0px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                }
        
                @include responsive-width($laptop-s) {
                    width: 590px;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                }
            }
        }

        .e-button-buy {
            margin-top: 0px;
        
            @include responsive-width($tablet-m) {
                // margin-top: -90px;
                margin-left: 10%;
            }
        
            @include responsive-width($laptop-s) {
                // margin-top: -110px;
                margin-left: 8%;
            }

            @include responsive-width($laptop-m) {
                // margin-top: -120px;
            //     margin-left: 4px;
                margin-left: 4%;

            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    width: 140px;
                    font-size: 12px;
                    // margin-left: 40px;
                    margin-top: 20px;
                    margin-left: -4%;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 0;
                }

                @include responsive-width($laptop-s) {
                    width: 166px;
                }
            }
        }
    
        .e-legal-small {
            // position: relative;
            font-size: 9px;
            line-height: 10px;
            // display: none;
            margin: 7px auto 0;
            // padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;
            z-index: 2;
            
            display: block;
            padding: 0;
            position: absolute;
            bottom: 17px;

            @include responsive-width($tablet-m) {
                position: absolute;
                font-size: 9px;
                padding: 0px 20px 0 0;
                bottom: 24px;
                right: 0;
                max-width: 480px;
            }

            @include responsive-width($laptop-s) {
                display: block;
                max-width: 614px;
                right: 30px;
                bottom: 16px;
                padding: 0;
                margin: 0;
            }

            @include responsive-width($laptop-m) {
                max-width: 758px;
                right: 0;
                bottom: 20px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
