.entel__slider--home__item__content.entel__slider--home__samsung_s21{
    background: url(https://www.entel.pe/wp-content/uploads/2021/02/banner-samsung-s21-bg-mob.jpg);
    background-size: cover;
    background-position: center;

    @include responsive-width($tablet_m) {
        background: url(https://www.entel.pe/wp-content/uploads/2021/02/banner-samsung-s21-bg-desk.jpg);
        background-size: cover;
        background-position: center;
        padding: 0;
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 420px;
        -ms-transform: none;
        transform: none;
        max-width: 420px;
        width: 100%;
        margin: 0 auto;
        margin-top: -50px;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: none;
            margin-top: 0;
            overflow: hidden;
        }

        @include responsive-width($laptop-s){
            width: 1100px;
            max-width: 100%;
            display: flex;
            align-items: center;
            padding-bottom: 30px;
        }

        @include responsive-width($laptop-m){
            width: 1100px;
        }

        &__textbanner {
            display: block;
            font-weight: bold;
            text-align: center;
            position: initial;
            width: 310px;
            max-width: 100%;
            margin: 5px auto;
        
            @include responsive-width($tablet-m) {
            }

            @include responsive-width($laptop-s) {
                margin-left: 0;
            }

            @include responsive-width($laptop-m) {
            }

            p{
                font-size: 11px;
                font-weight: 500;
                margin-bottom: 0;
                // line-height: 1.5;
                @include responsive-width($laptop-s){
                    font-size: 15px;
                    text-align: left;
                }
                @include responsive-width($laptop-m){
                    font-size: 20px;
                }

                .e-text-black{
                    font-size: 16px;
                    font-weight: bold;
                    color: #4E5057;
                    margin-right: 2px;
                    @include responsive-width($laptop-s){
                        font-size: 24px;
                    }
                }

                .e-text-big{
                    font-size: 24px;
                    color: $blue;
                    font-weight: bold;
                    @include responsive-width($laptop-s){
                        font-size: 30px;
                        display: block;
                    }
                    @include responsive-width($laptop-m){
                        font-size: 40px;
                    }
                }

                .e-text-normal{
                    display: block;
                }
            }

            picture,img {
                width: 100%;
            }
        }

        &__imgbanner{
            margin: 0;
            position: relative;
            display: block;
            text-align: center;

            @include responsive-width($laptop-m){
                width: calc(100% - 310px);
            }

            picture{
                display: inline-block;
                max-width: 90%;
                @include responsive-width($tablet-m){
                    max-width: none;
                }
            }

            img{
                max-width: 100%;
                max-height: 235px;
                @include responsive-width($laptop-s){
                    max-height: none;
                }
            }
        }

        &__footer{
            position: absolute;
            bottom: 28px;
            width: 1000px;
            max-width: 100%;
            padding: 0 10px;
            left: 0;
            text-align: justify;

            @include responsive-width($tablet-m) {
                padding: 0 20px;
                bottom: 10px;
            }

            @include responsive-width($laptop-s){
                text-align: center;
                bottom: 16px;
            }

            p{
                font-size: 7px;
                font-family: "Barlow", sans-serif;
                color: #4E5057;

                @include responsive-width($tablet-m){
                    font-size: 9px;
                }
                @include responsive-width($laptop-s){
                    font-size: 10px;
                }
            }
        }

      
        .e-button-buy {
            z-index: 1;
            position: absolute;
            bottom: 115px;
            left: 0;
            width: 100%;
            text-align: center;
            margin: 0;

            @include responsive-width($tablet-m) {
                bottom: 68px;
            }
            @include responsive-width($laptop-s) {
                bottom: 0;
                position: relative;
                margin-top: 25px;
                text-align: left;
            }


            .btn-buy {
                padding: 0;
                height: 40px;
                line-height: 36px;
                display: inline-block;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin: 0;
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
       
    }
}
