.note10 {
    .entel__slider--home__item__content {
        background: transparent;
        @include responsive-width($tablet-m) {
            background: $blue;
        }
    }
    .principalcontent {
        @include responsive-width($tablet-m) {
            display: flex;
            -ms-transform: translate(-41%, -35%)!important;
            transform: translate(-41%, -35%)!important;
        }
    }
    .principalcontent__imgbanner {
        text-align: center;
        text-align: left;
        max-width: 313px;
        width: 82% !important;

        img {
            max-width: 500px !important;
            width: 90%;
            margin: 0 auto !important;
        }
        @include responsive-width(321px) {
            img {
                width: 85%;
                margin-left: 45% !important;

            }
        }

        // @media (max-width: 767px) {
        //     img {
        //         margin: 0 auto !important;
        //         width: 43%;
        //     }
        // }
        @include responsive-width(769px) {
            img {
                margin: 0 auto !important;
                width:100%;
            }
            width: 41% !important;

        }
        @include responsive-width($laptop_m) {
            width: 100% !important;
        }
    }
    .principalcontent__textbanner-note {
        text-align: center;
        @include responsive-width($tablet-m) {
            text-align: left;
            margin-top: 80px;
            margin-left: 80px;
            margin-right: 10px;

        }
        @include responsive-width($laptop_m) {
            margin-top: 60px;
            margin-left: 60px;
            margin-right: 20px;
        }
        h2 {
            font-family: $font-family;
            font-style: normal;
            font-weight: 900;
            font-size: 30px;
            line-height: 28px;
            color: $hiper_gray;
            @include responsive-width($tablet-m) {
                color: $blue;
                font-size: 38px;
                line-height: 28px;
            
            }
            @include responsive-width($laptop_m) {
                font-size: 48px;
                line-height: 38px;
            }
        }
        h3 {
            font-family: $font-family;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 28px;
            color: $hiper_gray;
            @include responsive-width($tablet-m) {
                font-size: 38px;
                line-height: 28px;
                margin-bottom: 15px;
                color: $blue;
            }
            @include responsive-width($laptop_m) {
                font-size: 48px;
                line-height: 38px;
                margin-bottom: 20px;
            }
        }
        img {
            @include responsive-width($tablet-m) {
                max-width: 240px;
                width: 60%;
            }
            @include responsive-width($laptop_m) {
                width: 100%;
            }
        }
    }
    .detalles {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: url('https://www.entel.pe/wp-content/uploads/2020/03/background-note-10-mob-v4.jpg') no-repeat;
        background-size: 100%;
        height: 623px;
        max-width: 640px;
        width: 100%;
        bottom: 38%; 
        @include responsive-width($mobile-s) {
            bottom: 43%;
        }
        @include responsive-width($mobile-m) {
            bottom: 70%;
        }
        @include responsive-width($mobile-l) {
            bottom: 56%;
        }
        @include responsive-width($tablet-m) {
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            background: url('https://www.entel.pe/wp-content/uploads/2020/03/background-note-10.png')no-repeat;
            // background-size: 100%;
            height: 340px;
            max-width: 1065px;
            width: 100%;
            top: 17%;
            bottom: 0%;
        }
    }
 
    .e-button-buy {
        position: relative;

        @include responsive-width($mobile-s) {
            top: 30px;
        }
        @include responsive-width($tablet-m) {
            top: 0px;
        }
        @media screen and (max-width: 767px) {
            top: 25px;
            .btn-buy {
                width: 143px;
                padding: 15px 15px;
            }
        }
    }
}   