.entel__slider--home__item__content.entel__slider--home__apple_postpago {
    background: #f8f8f8;//$blue;
    padding: 0;
    
    background-image: url($m_image_path+'2021/11/banner-form-apple-mob.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;

    @include responsive-width($tablet-m) {
        background-image: url($m_image_path+'2021/11/banner-form-apple-desk.png');
        background-size: cover;
    }

    @include responsive-width($laptop-m) {
        // background-image: url($m_image_path+'2021/11/banner-form-apple-desk.png');
        background-size: 100%;
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;        
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1100px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 20px 0 0 5px;
            margin: 0;
            width: 100%;
            z-index: 2;
            position: relative;
        
            @include responsive-width($tablet-m) {
                padding: 80px 25px 5px 60px;
                width: 100%;
                max-width: none;
            }
            
            @include responsive-width($laptop-s) {
                margin-left: 0px;
                padding-left: 60px;
                padding-top: 100px;
                z-index: 1;
            }

            @include responsive-width($laptop-m) { 
                margin-left: 0px;
                padding-left: 0;
            }

            img {
                position: relative;
                z-index: 2;
                margin: 0;
                max-width: none; 
                margin-bottom: 16px;
                margin-left: 0;
        
                @include responsive-width($tablet-m) {
                    width: auto;
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: right;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    padding: 0;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 auto 0;
            width: 100%;
            text-align: right;
            position: absolute;
            z-index: 1;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
                    
            top: 16px;
            width: 100%;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: auto;
                bottom: 0;
                right: 50px;
                width: auto;
                z-index: 3;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            
            @include responsive-width($laptop-s) {    
                right: 0;
            }

            &-detail {
                position: absolute;
                right: 20px;
                top: -20px;

                &::after {
                    position: absolute;
                    content: '';
                    display: none;
                    z-index: 1;
                    background-color: #060606;
                    width: 3000px;
                    height: 3000px;
                    -moz-transform: translate(0px, 0px);
                    -webkit-transform: translate(0px, 0px);
                    -o-transform: translate(0px, 0px);
                    -ms-transform: translate(0px, 0px);
                    transform: translate(0px, 0px);

                    @include responsive-width($laptop-s) {
                        display: block;
                    }

                    // @include responsive-width($laptop-s) {
                    //     -moz-transform: translate(-2277px, 104px) skew(9deg) rotate(-4deg);
                    //     -webkit-transform: translate(-2277px, 104px) skew(9deg) rotate(-4deg);
                    //     -o-transform: translate(-2277px, 104px) skew(9deg) rotate(-4deg);
                    //     -ms-transform: translate(-2277px, 104px) skew(9deg) rotate(-4deg);
                    //     transform: translate(-2277px, 104px) skew(9deg) rotate(-4deg);
                    // }

                    @include responsive-width($laptop-m) {
                        background-color: #080808;
                    }
                }

                // &::before {
                //     position: absolute;
                //     content: '';
                //     display: none;
                //     width: 1180px;
                //     height: 380px;
                //     background-color: $extra_blue;
                    
                //     @include responsive-width($tablet-m) {
                //         display: block;
                //         height: 500px;
                //         -webkit-border-radius: 40px;
                //         -moz-border-radius: 40px;
                //         border-radius: 40px;
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //         transform: rotate(190deg) skew(-3deg) translate(849px, -209px);
                //     }

                //     @include responsive-width($laptop-s) {
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //         transform: rotate(190deg) skew(-3deg) translate(796px, -184px);
                //     }

                //     @include responsive-width($laptop-m) {
                //         -moz-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -webkit-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -o-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         -ms-transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //         transform: rotate(190deg) skew(-3deg) translate(872px, -184px);
                //     }
                // }
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: -58px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                    margin-right: -40px;
                }

                @include responsive-width($laptop-s) {
                    margin-right: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-right: -180px;
                }

            }
        }

        .e-button-buy {
            margin-top: 0;
            text-align: left;
            padding-left: 5px;
            position: relative;
        
            @include responsive-width($tablet-m) {
                padding-left: 60px;
            }
        
            @include responsive-width($laptop-m) {
                padding-left: 0;
            }

            .btn-buy {
                height: 40px;
                width: 126px;
                padding: 0;
                line-height: 36px;
                display: block;
                margin: -200px 0 0 0;
                font-size: 12px;
        
                @include responsive-width($tablet-m) {
                    margin-top: 30px;
                    width: 186px;
                    height: 50px;
                    font-size: 14px;
                    line-height: 48px;
                }

                @include responsive-width($laptop-s) {
                    margin-top: 20px;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            margin: 7px auto 0 5px;
            color: $extra_dark_gray;
            text-align: left;
            letter-spacing: -0.05em;
            z-index: 2;
            
            display: block;
            padding: 0;
            position: absolute;
            bottom: 8px;

            @include responsive-width($tablet-m) {
                position: absolute;
                font-size: 9px;
                padding: 0;
                bottom: 20px;
                right: 47px;
                max-width: 660px;
            }

            &__mob {
                width: 100%;

                @include responsive-width($tablet-m) {
                    right: auto;
                    left: 60px;
                }

                @include responsive-width($laptop-s) {
                    display: none;
                }
            }

            &__desk {
                display: none;
                text-align: center;

                @include responsive-width($laptop-s) {
                    display: block;
                    max-width: 920px;
                    right: auto;
                    padding: 0;
                    margin: 0;

                    z-index: 4;
                    text-align: left;
                    bottom: 10px;
                    left: 60px;
                }
                
                @include responsive-width($laptop-m) {
                    left: 0px;
                    max-width: 1280px;
                }
            }

            a {
                color: $extra_dark_gray;
                text-decoration: none;
            }
        }
    }
}
