.entel__slider--home__item__content.entel__slider--home__item__outdoor {
    background: $white;

    .principalcontent {
        -ms-transform: translate(-50%, -60%);
        transform: translate(-50%, -60%);
        // background-color: #000;
        // max-width: 414px;
        width: 90%;
        
        @include responsive-width($tablet-m) {
            max-width: 90%;
            height: 80%;
            -ms-transform: translate(-50%, -40%);
            transform: translate(-50%, -50%);
        }

        &__textbanner {
            display: none;
            font-weight: bold;
        
            @include responsive-width($tablet-m) {
                display: block;
                margin-bottom: 0;
                position: relative;
                top: 0;
            }   
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: right;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(30%, -35%);
            }

            img {
                max-width: initial;
                width: auto;
                display: inline-block;
            }
        }

        .e-button-buy {
            margin: 18px 0;
        }
        
        .e-button-buy .btn-buy {
            height: 40px;
            padding: 0;
            line-height: 36px;

            @include responsive-width($tablet-m) {
                margin: 0;
            }    
        }

        .e-legal-small {
            font-size: 8px;
            line-height: 10px;
            display: none;
            margin: 0 auto;
            padding: 0 20px;
            color: $blue;
            text-align: justify;

            @include responsive-width($mobile-l) {
                font-size: 10px;
                line-height: 12px;
            }

            strong {
                @include responsive-width($mobile-l) {
                    display: block;
                }
            }

            @include responsive-width($tablet-m) {
                display: block;
                padding: 0;
                position: absolute;
                bottom: 0;
            }
        }
    }
}
