.entel__slider--home__item__content.entel__slider--home__migra_1 {
    background: $blue;

    .principalcontent {
        position: relative;
        top: -13%;
        left: 50%;
        width: 100%;
        -ms-transform: translate(-50%, -2%);
        transform: translate(-50%, -2%);
        max-width: 414px;
        margin: 0;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
            height: 400px;
            top: 50%;
            left: 50%;
            position: absolute;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            margin: 0 auto;
            max-width: 320px;
            padding-left: 40px;
            padding-top: 30px;
            padding-bottom: 5px;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                max-width: 100%;
                text-align: left;
                padding-left: 10px;
                padding-top: 40px;
            }

            @include responsive-width($laptop-s) {
                padding-top: 50px;
            }

            img {
                position: relative;
                @include responsive-width($tablet-m) {
                    max-width: 24%;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    max-width: none;
                    margin-left: -30px;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            margin: -10px auto 0;
            width: 100%;
            max-width: 320px;
            position: relative;
            text-align: center;
            display: block;
        
            @include responsive-width($tablet-m) {
                text-align: right;
                top: 50%;
                left: 0;
                max-width: none;
                margin: -10px 0 0 0;
                position: absolute;
                -ms-transform: translate(0, -54%);
                transform: translate(0, -54%);
            }

            &-img {
                position: relative;
                display: block;
            }

            img {
                max-width: 100%;
                display: inline-block;  
        
                @include responsive-width($tablet-m) {
                    max-width: 80%;
                }

                @include responsive-width($laptop-s) {
                    max-width: none;
                    margin-right: -34px;
                }
            }
        }

        .e-button-buy {

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
                margin-top: 26px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-left: 10px;
                    margin-top: 96px;
                    margin-bottom: 48px;
                }

                @include responsive-width($laptop-s) {
                    margin-top: 56px
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 5px auto 0;
            padding: 0 16px;
            max-width: 320px;
            color: $white;
            text-align: left;

            @include responsive-width($tablet-m) {
                display: block;
                max-width: none;
                width: 100%;
                font-size: 9px;
                line-height: 10px;
                padding: 0;
                padding-left: 15px;
                margin-left: 0;
                margin-top: 15px;
                position: relative;
            }

            @include responsive-width(900px) {
                margin-top: 40px;
            }

            a {
                color: $white;
                text-decoration: none;
                
                @include responsive-width($tablet-m) {
                    color: $extra_blue;
                }
            }
        }
    }
}
