.entel__slider--home__item__content.entel__slider--home__appletrade {
    background: url(https://www.entel.pe/wp-content/uploads/2020/12/appletrade-banner-bg-mob.png);
    background-size: cover;
    background-position: center;

    @include responsive-width($tablet_m) {
        background: url(https://www.entel.pe/wp-content/uploads/2020/12/appletrade-banner-bg-desk.jpg);
        background-size: cover;
        background-position: center;
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        margin-top: -50px;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: none;
            margin-top: 0;
        }

        &__textbanner {
            top: 30px;
            left: 0;
            right: 0;
            display: block;
            font-weight: bold;
            text-align: center;
            position: absolute;
            width: 255px;
            margin: auto;
        
            @include responsive-width($tablet-m) {
                width: 290px;
                top: 0;
            }

            @include responsive-width($laptop-s) {
            }

            @include responsive-width($laptop-m) {
            }

            picture,img {
                width: 100%;
            }
        }

        &__footer{
            position: absolute;
            bottom: 60px;
            text-align: center;
            width: 100%;
            left: 0;

            @include responsive-width($tablet-m) {
                bottom: 3px;
            }

            .e-legal-small{
                font-family: Barlow;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 20px;
                width: 600px;
                max-width: 100%;
                margin: auto;
                display: none;
                color: #4E5057;
                @include responsive-width($tablet-m){
                    display: block;
                }
                &.e-text-blue{
                    color: $blue;
                }
            }
        }

      
        .e-button-buy {
            z-index: 1;

            @include responsive-width($tablet-m) {
                position: relative;
                display: inline-block;
                margin-bottom: 20px;
            }


            .btn-buy {
                padding: 0;
                height: 40px;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
       
    }
}
