.entel__slider--home__item__content_debito {
    .visa {
        width: 30px !important;
        @include responsive-width($laptop-s) {
            width: 40px !important;
        }
        @include responsive-width($tablet_m) {
            width: 59px !important;
        }
    }
    .principalcontent {
        @include responsive-width($tablet_m) {
            left: 49%;
        }
        @include responsive-width($tablet_ll) {
            left: 50%;
        }
        @include responsive-width($laptop_s) {
            left: 40%;
        }
        &__imgbanner img {
            margin-top: 50px;
            max-width: 100%;
        }
        &__textbanner {
            h2 {
                font-size: 16px;
                line-height: 30px;
                letter-spacing: 0.5px;
            }
            h4 {
                font-size: 16px;
                line-height: 20px;
                font-weight: 300;
                letter-spacing: 0.5px;
            }
            span {
                font-size: 20px;
                line-height: 30px;
            }
            @include responsive-width($tablet_m) {
                h2 {
                    font-size: 24px;
                    line-height: 43px;
                    letter-spacing: 0.5px;
                    width: 426px;
                    display: block;
                }
                h4 {
                    font-size: 25px;
                    line-height: 16px;
                    font-weight: 300;
                    letter-spacing: 0.5px;
                    width: 426px;
                    display: block;
                }
                span {
                    font-size: 50px;
                    line-height: 43px;
                }
            }
        }
    }
    .e-button-buy { 
        .blue{
            font-size: 10px;
            line-height: 12px;
            color: $extra_blue;
            .salto {
                display: block;
            }
            @include responsive-width($tablet_m) {
                .salto {
                    display: inline;
                }
                display: block;
                // color: white;
                margin: 25px 0 0 0;
                font-size: 15px;
                line-height: 20px;
                strong {
                    font-weight: normal;
                }
    
            }            
        }
        .btn-buy {
            margin-top: 25px;
            min-width: 200px;
            min-height: 55px;
            padding: 18px;
        }
    }
    .alinear-imagen {
        @include responsive-width($tablet_m) {
            position: absolute;
            top: 164px;
            left: 32%;
        }
        @include responsive-width($laptop-s) {
            position: absolute;
            top: 164px;
            left: 40%;
        }
    }
}