.entel__slider--home__item__content.entelpro {
    background: #ffffff;
    // background-image: none;
    background-image: url('https://www.entel.pe/wp-content/uploads/2020/03/banner-entelpro-mob-v2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // background-position-y: -140px;

    @include responsive-width($tablet-m){
        background-image: url('https://www.entel.pe/wp-content/uploads/2020/03/banner-entelpro-desk-v2.jpg');
        background-position: center bottom;
    }

    .banner-mob-text {
        max-width: 25%;
    }
    .center {
        margin-top: 92px;
    }
    .banner {
        width: 100%;
        top: 0;
        left: 0;

        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    //     transform: translate(0, 0);
    //     // max-height: 440px;
    //     max-width: 100%;
        @include responsive-width($tablet-m){
            display: none;
        }

        img {
            width: 100%;
        }
    //     // transform: translate(28%, -19%);
    //     @include responsive-width($mobile-m){
    //         // max-height: 440px;
    //         // max-width: 100%;
    //         // transform: translate(41%, -19%);
    
    //     }
    //     @include responsive-width(411px){
    //         // max-height: 440px;
    //         // max-width: 100%;
    //         // transform: translate(52%, -19%);
    
    //     }
    }
    .principalcontent{
        top: 70%;

        // @include responsive-width(375px){
        //     top: 80%;
        // }

        @include responsive-width($tablet-m){
            position: absolute;
            top: auto;
            bottom: 30px;
            left: 50%;
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);

            max-width: 950px !important;
            width: 100%;
        }

        &.apps {

            @include responsive-width($tablet-m){
                display: flex;
            }

            .principalcontent__textbanner {
                z-index: 1;
                //position: absolute;
                //bottom: 0;
                //left: 50%;
                width: 100%;
                text-align: center;

                // -moz-transform: translateX(-50%);
                // -webkit-transform: translateX(-50%);
                // -o-transform: translateX(-50%);
                // -ms-transform: translateX(-50%);
                // transform: translateX(-50%);
                
                @include responsive-width($tablet-m){
                    padding-left: 40px;
                    //-position: relative;
                    bottom: auto;
                    top: 50%;
                    width: 40%;
                    left: auto;
                    text-align: left;

                    -moz-transform: none;
                    -webkit-transform: none;
                    -o-transform: none;
                    -ms-transform: none;
                    transform: none;
                }


                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 1200px;
                    height: 500px;
                    background-color: #004FB9;
                    left: 10%;
                    top: 0;

                    -moz-transform: translate(-70%,-5%) skew(9deg) rotate(-5deg);
                    -webkit-transform: translate(-70%,-5%) skew(9deg) rotate(-5deg);
                    -o-transform: translate(-70%,-5%) skew(9deg) rotate(-5deg);
                    -ms-transform: translate(-70%,-5%) skew(9deg) rotate(-5deg);
                    transform: translate(-70%,-5%) skew(9deg) rotate(-5deg);

                    -webkit-border-top-left-radius: 30px;
                    -moz-border-top-left-radius: 30px;
                    border-top-left-radius: 30px;
                    -webkit-border-top-right-radius: 60px;
                    -moz-border-top-right-radius: 60px;
                    border-top-right-radius: 110px;

                    
                    @include responsive-width(324px){
                        transform: translate(-60%, 3%) skew(3deg) rotate(-6deg);
                        border-top-right-radius: 63px;
                    }
                    @include responsive-width($tablet-m) {
                        //-left: 50%;
                        right: auto;
                        left: 0;
                        top: -35px;
                    
                        -moz-transform: translateX(-60%) skew(6deg) rotate(-5deg);
                        -webkit-transform: translateX(-60%) skew(6deg) rotate(-5deg);
                        -o-transform: translateX(-60%) skew(6deg) rotate(-5deg);
                        -ms-transform: translateX(-60%) skew(6deg) rotate(-5deg);
                        transform: translateX(-60%) skew(6deg) rotate(-5deg);

                    }
                }

                h2 {
                    position: relative;
                    margin-bottom: 10px;
                    font-size: 17px;
                    line-height: 25px;

                    @include responsive-width($tablet-m){
                        margin-bottom: 0;
                        line-height: 35px;
                        font-size: 30px;

                    }

                    span {
                        font-size: 24px;
                        color: #ffffff;
                        font-weight: normal;

                        @include responsive-width($tablet-m){
                            line-height: 40px;
                            font-size: 38px;
                        }

                        
                    }
                    strong {
                        font-weight: bold;
                        color: #FF560A;
                    }
                }

                .subcontent-text {
                    position: relative;
                    align-items: center;
                    justify-content: flex-start;
                    display: flex;
                    max-width: 320px;
                    margin: 7px auto;
                    @include responsive-width($tablet-m) {
                        margin-top: 14px;
                        max-width: 100%;
                    }

                    p {
                        color: #ffffff;
                        font-size: 16px;
                        line-height: 25px;
                        margin-bottom: 7px;

                        &.small {
                            font-size: 12px;
                        }
                    }

                    &--left {
                        margin-right: 21px;
                    }
                }
            }

            .principalcontent__imgbanner {
                z-index: 2;
                margin-left: auto;
                width: 120%;
                position: absolute;
                top: 0px;
                left: 50%;
                text-align: center;
                -moz-transform: translate(-60%,-110%);
                -webkit-transform: translate(-60%,-110%);
                -o-transform: translate(-60%,-110%);
                -ms-transform: translate(-60%,-110%);
                transform: translate(-60%,-110%);

                @include responsive-width(324px){
                    width: 70%;
                }
                @include responsive-width($tablet-m){
                    z-index: 0;
                    width: 60%;
                    left: 40%;
                    -moz-transform: none;
                    -webkit-transform: none;
                    -o-transform: none;
                    -ms-transform: none;
                    transform: none;
                }
                @include responsive-width($tablet-m){
                    width: 50%;
                    left: 48%;
                }

                img{
                    max-width: 100%;
                    display: inline-block !important;
                    // -moz-transform: translateX(-18%);
                    // -webkit-transform: translateX(-18%);
                    // -o-transform: translateX(-18%);
                    // -ms-transform: translateX(-18%);
                    // transform: translateX(-18%);

                    @include responsive-width($tablet-m){
                        max-width: 120%;
                        float: right;
                    }

                }
            }
        }

    }
    .btn-buy {
        min-width: 196px;
        height: 50px;
        line-height: 31px;

        @include responsive-width($tablet-m){
            min-width: auto;
            width: 130px;
            line-height: normal;
            height: initial;
        }
    }
    // .btn-buy-mob {
    //     position: relative;
    //     top: 24px;
    //     min-width: 200px;
    //     min-height: 55px;
    //     padding: 15px 15px;

    // }
}