.entel__slider--home__item__content.entel__slider--home__item__content_cyberwow_hogar {
    background: $blue;
    padding: 0;
    background-image: url($m_image_path+'2021/04/banner-cyberwow-back-desk-blue.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;

    @media (max-width: $laptop_s){
        background-image: url($m_image_path+'2021/04/banner-cyberwow-back-tab-blue.jpg');
        background-position: bottom right;
    }

    @media (max-width: $mobile_l){
        background-image: url($m_image_path+'2021/04/banner-cyberwow-back-tab-blue-mob.png');
        background-position: bottom right;
    }

    .banner-right {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        -ms-transform: none;
        transform: none;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;

        @media (max-width: $tablet-m){
            display: flex;
        }

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: none;
        }
        
        @include responsive-width($laptop-m) {
            width: 1130px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            position: relative;
            left: 6px;
        
            @include responsive-width($tablet-m) {
                display: flex;
                align-items: center;
                left: auto;
                position: relative;
                text-align: left;
                width: 100%;
                z-index: 2;
                margin: 0px;
                top: 39px;
            }

            .ctn-cyberwow-btn {
                img {
                    position: relative;
                    width: 90%;
                    left: 0px;
                    margin: 0 auto;
                }

                .ctn-btn-buy {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .btn-buy {
                        background-color: #FF2776;
                        border: #FF2776;
                        margin-left: -48px;
                    } 

                    .delivery-mobile{
                        display: none;
                    }

                    img {
                        width: 50%;
                        padding: 0 18px;
                        vertical-align: middle;
                        align-items: center;
                        margin: 14px 0 0 0;
                        display: none;
                        @include responsive-width($laptop-s) {
                            display: block;
                        }
                    }
                }
            }

            .img-contectate {
                padding: 0 20px 0 30px;
                width: 20%;
            }
            .img-desct {
                padding: 0 20px;
                width: 25%;
            }

            &-img {
                position: relative;
                z-index: 1;
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }

        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 92px;
            z-index: 2;
            right: -6px;

            @include responsive-width($tablet-m) {
                text-align: right;
                right: 0;
                bottom: 135px;
            }

            @include responsive-width($laptop-s) {
                right: -30px;
                bottom: 96px;
            }

            img {
                position: relative;
                max-width: none;
                display: inline-block;
                z-index: 1;

                @include responsive-width($tablet-m) {
                    margin-right: 20px;
                    width: 530px;
                }

                @include responsive-width($laptop-s) {
                    width: auto;
                }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 35px;
            left: 0;
            width: 100%;
            z-index: 2;

            @include responsive-width($tablet-m) {
                padding-left: 48px;
                position: relative;
                bottom: 79px;
                margin-top: 0;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
                background-color: $white !important;
                color: $orange !important;
                border-color: $white !important;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-top: 0;
                    margin-bottom: auto;
                    background-color: transparent !important;
                    color: $white !important;

                }

                &:hover {
                    background-color: RGBA(250,250,250,.2) !important;      
                }
            }

            img {
                display: none;
                margin-bottom: 29px;

                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }

        .e-legal-small {
            font-size: 9px;
            font-weight: 400;
            line-height: 12px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.02em;
            max-width: 320px;
            padding: 0px;
            
            @include responsive-width($tablet-m) {
                margin-left: 0;
                padding-left: 0;
                margin-top: 60px;
                max-width: 780px;
                display: none;
            }

            @include responsive-width($laptop-s) {
                display: block;
            }
            a {
                color: $white;
                text-decoration: none;
            }
        }

        .banner-center-tab, .banner-center-mob, .img-mob {
            display: none;
        }

    } 

    @media only screen and (max-width: 768px){

        img.banner-right {
            display: none;
        }

        img.banner-center-tab{
            position: absolute;
            bottom: 0;
            right: 0;
            left: 37%;
        }
        .banner-center-mob {
            display: none;
        }

        .principalcontent{

            &__textbanner {
                display: flex;
                justify-content: flex-end;
                align-items: baseline;
                
                .img-contectate {
                    width: 30%;
                    right: 37%;
                    position: absolute;
                }

                .img-desct {
                    width: 40%;
                    right: 0%;
                    position: absolute;
                }

                .ctn-cyberwow-btn {
                    img {
                        position: absolute;
                        top: 0;
                        width: 25%;
                        left: 20px;
                    }

                    .ctn-btn-buy {
                        position: absolute;
                        bottom: 83px;
                        left: 66px;
                    }
                }
            }  
        }
    }

    @media (max-width: $mobile_l) {
        .principalcontent {
            &__textbanner {
                .ctn-cyberwow-btn {
                    .ctn-btn-buy {
                        bottom: 140px;
                        // left: 55%;

                        a {
                            padding-top: 15px;
                            padding-bottom: 15px;
                        }
                    }
                }
            }

            .img-mob {
                max-width: 95%;
            }
        }
    }

    @media (max-width: $mobile_l) {
        .principalcontent {
            &__textbanner {
                .ctn-cyberwow-btn {
                    .ctn-btn-buy {
                        left: 65%;
                    }
                }
            }
        }
    }

    @media (max-width: 376px) {
        .principalcontent {
            &__textbanner {
                .ctn-cyberwow-btn {
                    .ctn-btn-buy {
                        left: 55%;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
        .principalcontent {
            margin: 0px;
            margin-top: 10px;

            &__textbanner {
                .ctn-cyberwow-btn {
                    img{
                        display: none;
                    }
                }
            } 
            .img-mob {
                display: block;
            }
        }

        .img-contectate, .e-legal-small, .img-desct, .banner-center-tab {
            display: none;
        }

        .banner-center-mob {
            position: absolute;
            top: 0;
            right: 0px;
            display: block;
        }
    }
}