
.entel__slider--home__item__content_jueves_entel_02_06_21 {
  .principalcontent {
    max-width: 100% !important;
    position: relative;
    top: inherit;
    left: inherit;
    transform: none;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column-reverse;
    @include responsive-width($tablet-m) {
      width: 700px !important;
      flex-direction: row;
    }
    @include responsive-width($tablet-l) {
      width: 800px !important;
    }
    @include responsive-width($tablet_ll) {
      width: 900px !important;
    }
    &__textbanner {
      width: auto;
      @include responsive-width($tablet-m) {
        width: 50%;
      }
    }
    &__textbanner-text {
      @include responsive-width($tablet_m) {
        width: 450px;
      }
      @include responsive-width($tablet_ll) {
        width: 500px;
      }
      h2,
      p {
        white-space: pre;
        color: #ffffff;
        @include responsive-width($tablet_m) {
          color: #004fb9;
        }
      }
      h2 {
        br {
          display: none;
        }
        font-weight: 800;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        // max-width: 120px;
        @include responsive-width($tablet-m) {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            background-repeat: no-repeat;
            background-size: contain;
            width: 45px;
            height: 45px;
            left: 79%;
            -webkit-animation: heart-rotate 2.5s infinite;
            animation: heart-rotate 2.5s infinite;
            background-image: m_image_url("2021/10/emoticon-desk.png");
            @include backgound_retina {
              background-image: m_image_url("2021/10/emoticon-desk@2x.png");
            }
          }
          br {
            display: block;
          }
          font-weight: 500;
          font-size: 52px;
          line-height: 50px;
          text-align: left;
          // max-width: 306px;
        }
      }
      p {
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        margin: 1rem 0 2rem;
        // max-width: 130px;
        @include responsive-width($tablet-m) {
          font-weight: normal;
          font-size: 16px;
          line-height: 30px;
          text-align: left;
          br {
            display: none;
          }
          // max-width: 400px;
        }
      }
    }

    &__imgbanner {
      margin: 0;
      width: 100%;
      position: relative;
      text-align: center;
      left: inherit;
      @include responsive-width($tablet-m) {
        width: auto;
        left: 16px;
        top: -28px;
      }
      img {
        max-width: 100%;
        display: inline-block;
        padding-left: 0;
        position: relative;
        -webkit-animation: beat-mob 2.5s infinite;
        animation: beat-mob 2.5s infinite;

       
        @include responsive-width($tablet-m) {
          -webkit-animation: beat 2.5s infinite;
          animation: beat 2.5s infinite;
          
        }
      }
    }

    .e-button-buy {
      .btn-buy {
        height: 40px;
        padding: 0;
        line-height: 36px;
        width: 141px;
        // margin: 0;
        margin-left: auto;
        margin-right: auto;
        @include responsive-width($tablet_m) {
          margin-left: 0;
        }
      }
    }
  }
}
.entel__slider--home__item__content_jueves_entel_02_06_21 {
  display: flex;
  background-color: #ffffff;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: m_image_url("2021/10/banner-bg-wowje-v2-mob.png");
    @include backgound_retina {
      background-image: m_image_url("2021/10/banner-bg-wowje-v2-mob@2x.png");
    }

    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: #004fb9;
    @include responsive-width($tablet-m) {
      background-color: transparent;
      width: 50%;
      background-position: left bottom;
      background-image: m_image_url("2021/10/banner-bg-wowje-v2-desk.png");
      @include backgound_retina {
        background-image: m_image_url("2021/10/banner-bg-wowje-v2-desk@2x.png");
      }
    }
    // @include responsive-width($mobile_l) {
    //   background-image: url($m_image_path + "2021/07/e-home-banner-jueves-entel-bg-desk.png");
    // }
    // @include responsive-width($laptop_s) {
    //   background-image: url($m_image_path + "2021/07/e-home-banner-jueves-entel-bg-desk.png");
    // }
  }
}
