.entel__slider--home__item__content.entel__slider--home__samsung_s21_lanzamiento  {
    padding: 0;
    background: linear-gradient(180deg, #FEFEFE 57.27%, #C3C2D0 95.64%);
    position: relative;
    overflow: hidden;
    
    @include responsive-width($laptop_s) {
        background: initial;
        background-image: url(https://www.entel.pe/wp-content/uploads/2021/02/bg-banner-samsung-s21-lanzamiento-desk.jpg);
        background-size: cover;
        background-position: center;
        padding: 0;

    }
    
    &::before {
        content: '';
        width: 100%;
        height: 245px;
        background: linear-gradient(306.44deg, #004FB9 24.18%, #00B9EB 209.52%);
        position: absolute;
        top: -100px;
        transform: skew(0deg, 5deg);
        border-radius: 0 0 50px 0;

        @include responsive-width($laptop_s) {
            width: 0;
            height: 0;
        }

    }
    
    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 370px;
        -ms-transform: none;
        transform: none;
        max-width: 420px;
        width: 100%;
        margin: 0 auto;
        margin-top: -50px;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: none;
            margin-top: 0;
            overflow: hidden;
        }

        @include responsive-width($laptop-s){
            width: 1100px;
            max-width: 100%;
            display: flex;
            align-items: center;
            padding-bottom: 30px;
        }

        @include responsive-width($laptop-m){
            width: 1100px;
        }

        &__textbanner {
            display: block;
            font-weight: bold;
            text-align: left;
            position: initial;
            width: 465px;
            max-width: 100%;
            margin: 70px auto 0;
        
            @include responsive-width($tablet-m) {
                margin: 0 auto;
            }

            @include responsive-width($laptop-s) {
                text-align: center;
                margin-left: 0;
                position: relative;
                top: -50px;
            }

            @include responsive-width($laptop-m) {
            }

            h2 {
                font-family: Barlow;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: #00B9EB;

                @include responsive-width($laptop-s) {
                    font-size: 24px;
                    line-height: 30px;
                    text-align: left;
                    margin-bottom: 10px;
                }
            }
            p {
                font-family: Barlow;
                font-style: normal;
                font-weight: bold;
                font-size: 24px !important;
                line-height: 33px !important;
                color: #FFFFFF;
                margin: auto;
                display: block;
                @include responsive-width($laptop-s) {
                    font-size: 40px !important;
                    line-height: 50px !important;
                    text-align: left;
                    margin-bottom: 10px;
                }
            }
            span {
                font-family: Barlow;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF;
                
                @include responsive-width($laptop-s) {
                    font-size: 20px;
                    line-height: 30px;
                    text-align: left;
                    margin-bottom: 30px;
                }
            }
            .e-button-buy {
                margin-top: 7px;
                text-align: center;
                position: absolute;
                bottom: 270px;
                margin: auto;
                display: block;
                left: 0;
                right: 0;
                @include responsive-width($laptop-s) {
                    bottom: -83px;
                }

            }
            .btn-buy {
                width: 126px;
                height: 34px;
                font-size: 12px;
                line-height: 8px;
                padding: 11px 15px;
                margin: auto;

                @include responsive-width($laptop-s) {
                    width: 198px;
                    padding: 16px 15px;
                    margin: 0;
                }
            }
        }

        &__imgbanner{
            margin: 0;
            position: relative;
            display: block;
            text-align: center;

            @include responsive-width($laptop-m){
                width: calc(100% - 310px);
            }

            picture{
                display: inline-block;
                max-width: 90%;
                @include responsive-width($tablet-m){
                    max-width: none;
                    width: 618px;
                }
            }

            img{
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                top: 20px;
                z-index: -1;
                @include responsive-width($laptop-s){
                    max-height: none;
                    left: -27px;
                    right: 0;
                    margin: 0;
                    top: -135px;
                }
                @include responsive-width($laptop_m) {
                    left: 36px;
                }
            }
        }

        &__footer{
            position: absolute;
            bottom: 28px;
            width: 1000px;
            max-width: 100%;
            padding: 0 10px;
            left: 0;
            text-align: justify;

            @include responsive-width($tablet-m) {
                padding: 0;
                bottom: 10px;
            }

            @include responsive-width($laptop-s){
                text-align: center;
                bottom: 16px;
            }

            p {
                font-family: Barlow;
                font-style: normal;
                font-weight: normal;
                font-size: 7px;
                line-height: 7px;
                letter-spacing: -0.1px;
                color: #FFFFFF;
                max-width: 485px;
                text-align: left;
                margin: auto;  
                @include responsive-width($laptop-s){
                    font-size: 10px;
                    line-height: 10px;
                    letter-spacing: 0;
                    max-width: 485px;
                    text-align: left;
                    margin: 0;
                }
            }
        }


    }
}
