.entel__slider--home__item__content.entel__slider--home__item__sansung20_fe {
    background: $white;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            padding-top: 12px;
            margin: 0;
            z-index: 2;
            position: relative;
        
            @include responsive-width($tablet-m) {
                padding-top: 40px;
                padding-left: 40px;
                width: 100%;
                text-align: left;
            }
        
            @include responsive-width($laptop-s) {   
                margin-left: 30px;
                padding-left: 0;
                padding-top: 54px;
            }

            @include responsive-width($laptop-m) { 
                margin-left: 0;
            }
            
            
            &-detail {
                position: absolute;
                right: 0;
                top: 0;
            }

            img {
                position: relative;
                z-index: 2;
                // margin-right: 15px;
        
                @include responsive-width($tablet-m) {
                    width: 197px;
                    // width: 297px;
                }
        
                @include responsive-width($laptop-s) {
                    // width: auto;
                    width: auto;
                }
        
                // @include responsive-width($laptop-m) {
                //     width: auto;
                // }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: relative;
            top: 15px;
            z-index: 2;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: 44%;
                right: 0;
                width: auto;
                -moz-transform: translateY(-46%);
                -webkit-transform: translateY(-46%);
                -o-transform: translateY(-46%);
                -ms-transform: translateY(-46%);
                transform: translateY(-46%);
            }
        
            @include responsive-width($laptop-s) {
                position: absolute;
                top: 11%;
                left: 44%;
                width: auto;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
        
            @include responsive-width($laptop-m) {
                left: 40%;
                top: 4%;
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                // margin-right: 5px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    // width: auto;
                    width: 420px;
                    margin-right: 50px;
                }
        
                @include responsive-width($laptop-s) {
                    // width: auto;
                    width: 550px;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-right: 0;
                }
            }
        }

        .e-button {

            &-buy {    
                margin-top: 25px;
                position: relative;
                z-index: 2;
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 40px;
                        margin-top: 30px;
                        // margin-top: 58px;
                    }
            
                    @include responsive-width($laptop-s) {
                        margin-top: 30px;
                        margin-left: 30px;
                    }
            
                    @include responsive-width($laptop-m) {
                        margin-top: 30px;
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: relative;
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $black;
            text-align: justify;
            letter-spacing: -0.05em;
            z-index: 2;

            @include responsive-width($tablet-m) {
                display: block;
                max-width: 260px;
                font-size: 12px;
                line-height: 14px;
                padding: 0;
                padding-left: 10px;
                margin-left: 30px;
                margin-top: 40px;
                color: $black;
            }

            @include responsive-width($laptop-s) {
                max-width: 312px;
                padding-left: 0;
                margin-left: 30px;
            }

            @include responsive-width($laptop-m) {
                max-width: 360px;
                margin-top: 32px;
                margin-left: 0;
            }

            a {
                color: $black;
                text-decoration: none;
            }
        }
    }
}
