.entel__slider--home__item__content.entel__slider--home__item__pago_contado {
    background: $white;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: none;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -70px;
        
            @include responsive-width($tablet-m) {
                left: auto;
                top: 70px;
                position: relative;
                text-align: left;
                margin-left: 40px;
                width: 100%;
                z-index: 2;
            }

            @include responsive-width($laptop-s) {
                margin-left: 10px;
            }

            @include responsive-width($laptop-m) {
                margin-left: 0px;
            }

            img {
        
                @include responsive-width($tablet-m) {
                    max-width: 206px;
                }

                @include responsive-width($laptop-s) {
                    max-width: none;
                }
            }

            p {
                display: none;

                @include responsive-width($laptop-s) {
                    display: block;
                    font-size: 21px;
                    font-weight: normal;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 100px;

            @include responsive-width($mobile-l) {
                text-align: center;
            }

            @include responsive-width($tablet-m) {
                text-align: right;
                max-width: 768px;
                bottom: 40px;
                right: 50px;
            }

            @include responsive-width($laptop-s) {
                max-width: 1024px;
            }
            
            &-detail {
                position: absolute;
                left: 50%;
                top: 0;

                @include responsive-width($tablet-m) {
                    left: auto;
                    right: 0;
                }

                &::after {
                    z-index: 1;
                    content: '';
                    width: 1180px;
                    height: 520px;
                    display: none;
                    position: absolute;
                    border-radius: 80px;
                    -moz-border-radius: 80px;
                    -webkit-border-radius: 80px;
                    background-color: $blue;

                    -moz-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
                    -webkit-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
                    -o-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
                    -ms-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
                    transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);

                    @include responsive-width($tablet-m) {
                        display: block;
                        -moz-transform: translate(-466px, 160px) skew(22deg) rotate(15deg);
                        -webkit-transform: translate(-466px, 160px) skew(22deg) rotate(15deg);
                        -o-transform: translate(-466px, 160px) skew(22deg) rotate(15deg);
                        -ms-transform: translate(-466px, 160px) skew(22deg) rotate(15deg);
                        transform: translate(-466px, 160px) skew(22deg) rotate(15deg);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-466px, 160px) skew(22deg) rotate(15deg);
                        -webkit-transform: translate(-466px, 160px) skew(22deg) rotate(15deg);
                        -o-transform: translate(-466px, 160px) skew(22deg) rotate(15deg);
                        -ms-transform: translate(-466px, 160px) skew(22deg) rotate(15deg);
                        transform: translate(-466px, 160px) skew(22deg) rotate(15deg);
                    }
                    
                }

                // &::before {
                //     position: absolute;
                //     content: '';
                //     display: block;
                //     width: 1180px;
                //     height: 520px;
                //     z-index: 1;
                //     background-color: $extra_blue;
                //     -webkit-border-radius: 30px;
                //     -moz-border-radius: 30px;
                //     border-radius: 30px;

                //     -moz-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                //     -webkit-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                //     -o-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                //     -ms-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                //     transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);

                //     @include responsive-width($tablet-m) {
                //         -moz-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                //         -webkit-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                //         -o-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                //         -ms-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                //         transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                //     }

                //     @include responsive-width($laptop-s) {
                //         -moz-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                //         -webkit-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                //         -o-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                //         -ms-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                //         transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                //     }
                // }
            }

            img {
                position: relative;
                max-width: 100%;
                display: inline-block;
                z-index: 1;
                margin-right: -10px;

                @include responsive-width($tablet-m) {
                    width: 560px;
                    margin-right: -50px;
                }

                @include responsive-width($laptop-s) {
                    width: auto;
                }

                @include responsive-width($laptop-m) {
                    margin-right: -60px;
                }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 35px;
            left: 0;
            width: 100%;
            z-index: 1;

            @include responsive-width($tablet-m) {
                padding-left: 40px;
                position: relative;
                bottom: auto;
                margin-top: 70px;
            }

            @include responsive-width($laptop-s) {
                padding-left: 10px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0px;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-top: 94px;
                    margin-bottom: 90px;
                }

                @include responsive-width($laptop-s) {
                    margin-bottom: 40px;
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;
            letter-spacing: -0.05em;
            max-width: 320px;
            display: none;
            
            @include responsive-width($tablet-m) {
                max-width: 286px;
                display: block;
                margin-left: 0;
                padding-left: 0;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
