.entel__slider--home__item__content.entel__slider--home__item__content_dosxuno {
    background: $blue;
    padding: 0;

    // background-image: url($m_image_path+'2020/10/banner-cyberwow-acc-back-mob.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: top right;

    // @media (min-width: $tablet-m){
    //     background-image: url($m_image_path+'2020/10/banner-cyberwow-acc-back-desk.png');
    //     background-position: bottom right;
    // }

    // @media (min-width: $laptop-m){
    //     background-size: cover;
    // }
    
    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        -ms-transform: none;
        transform: none;
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: none;
        }
        
        @include responsive-width($laptop-m) {
            width: 1024px  !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            // display: none;
            position: relative;
            top: 8px;
            left: 0px;
        
            @include responsive-width($tablet-m) {
                left: auto;
                top: 50px;
                // display: block;
                position: relative;
                text-align: left;
                margin-left: 30px;
                width: 100%;
                z-index: 2;
            }

            @include responsive-width($laptop-s) {
                margin-left: 10px;
            }

            &-img {
                position: relative;
                z-index: 1;
            }

            img {
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: 254px;
                }
            }
            
            &-detail {
                position: absolute;
                left: 50%;
                top: 0;
        
                @include responsive-width($tablet-m) {
                    left: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 2000px;
                    height: 2000px;
                    background-color: $white;
                    -webkit-border-radius: 40px;
                    -moz-border-radius: 40px;
                    border-radius: 40px;

                    -moz-transform: rotate(-4deg) skew(11deg) translate(130px, -1985px);
                    -webkit-transform: rotate(-4deg) skew(11deg) translate(130px, -1985px);
                    -o-transform: rotate(-4deg) skew(11deg) translate(130px, -1985px);
                    -ms-transform: rotate(-4deg) skew(11deg) translate(130px, -1985px);
                    transform: rotate(-4deg) skew(11deg) translate(130px, -1985px);

                    @include responsive-width($tablet-m) {
                        -webkit-border-radius: 60px;
                        -moz-border-radius: 60px;
                        border-radius: 60px;
                        -moz-transform: rotate(9deg) skew(-7deg) translate(-1950px, -1615px);
                        -webkit-transform: rotate(9deg) skew(-7deg) translate(-1950px, -1615px);
                        -o-transform: rotate(9deg) skew(-7deg) translate(-1950px, -1615px);
                        -ms-transform: rotate(9deg) skew(-7deg) translate(-1950px, -1615px);
                        transform: rotate(9deg) skew(-7deg) translate(-1950px, -1615px);
                    }
                    
                }
                
                &::before {
                    position: absolute;
                    content: '';
                    display: none;
                    width: 2000px;
                    height: 2000px;
                    background-color: $extra_blue;
                    -webkit-border-radius: 40px;
                    -moz-border-radius: 40px;
                    border-radius: 40px;

                    @include responsive-width($tablet-m) {
                        display: block;
                        -moz-transform: rotate(15deg) skew(-7deg) translate(-2080px, -1489px);
                        -webkit-transform: rotate(15deg) skew(-7deg) translate(-2080px, -1489px);
                        -o-transform: rotate(15deg) skew(-7deg) translate(-2080px, -1489px);
                        -ms-transform: rotate(15deg) skew(-7deg) translate(-2080px, -1489px);
                        transform: rotate(15deg) skew(-7deg) translate(-2080px, -1489px);
                    }
                
                } 
            }

        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }

        &__imgbanner {
            margin: 18px 0 0 0;
            width: 100%;
            text-align: center;
            position: relative;
            // bottom: 92px;
            z-index: 2;
            // right: -6px;

            @include responsive-width($tablet-m) {
                position: absolute;
                text-align: right;
                right: 0;
                bottom: 85px;
            }

            @include responsive-width($laptop-s) {
                right: -30px;
                bottom: 56px;
            }

            img {
                position: relative;
                max-width: none;
                display: inline-block;
                z-index: 1;
                margin-right: -20px;

                @include responsive-width($tablet-m) {
                    margin-right: 20px;
                    margin-top: 80px;
                    width: 430px;
                }

                @include responsive-width($laptop-s) {
                    // width: auto;    
                    width: 640px;
                }

                @include responsive-width($laptop-m) {
                    width: auto;    
                    // width: 640px;
                }
            }
        }

        .e-button-buy {
            position: relative;
            // bottom: 35px;
            left: 0;
            width: 100%;
            z-index: 2;

            @include responsive-width($tablet-m) {
                padding-left: 30px;
                position: relative;
                // bottom: 79px;
                margin-top: 50px;
            }

            @include responsive-width($laptop-s) {
                padding-left: 10px;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
                // background-color: $white !important;
                // color: $orange !important;
                // border-color: $white !important;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-top: 0;
                    margin-bottom: auto;
                    // background-color: transparent !important;
                    // color: $white !important;

                }

                // &:hover {
                //     background-color: RGBA(250,250,250,.2) !important;      
                // }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 12px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.02em;
            max-width: 320px;
            display: none;
            
            @include responsive-width($tablet-m) {
                max-width: 100%;
                display: block;
                margin-left: 0;
                padding-left: 0;
                padding-right: 0;
                margin-top: 74px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}