.entel__slider--home__item__content {
    &.entel__slider--home__item__content_ewow {
        background: $blue;
        background-image: url( $m_image_path + '2020/02/banner-entel-wow-mob.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center -11%;

        @include responsive-width($mobile-m) {
            background-position: center -20%;
        }

        @include responsive-width(414px) {
            background-position: center -40%;
        }

        @include responsive-width($tablet-m) {
            background-image: url($m_image_path + '2020/02/banner-entel-wow.png');
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center bottom;
        }  

        .principalcontent {
            transform: translate(-50%, -66%);

            &__textbanner {
                img {
                    width: 190px;
                    margin: -98px 0 25px;

                    @include responsive-width(425px) {
                        margin: -98px 0 0;
                    }

                    @include responsive-width(570px) {
                        width: 212px;
                        margin: 4px 0 0;
                    }

                    @include responsive-width($tablet_m) {
                        margin: 40px 0 0;
                        width: 249px;
                    }
                }

                .e-button-buy {
                    margin-left: 15px;

                    small {
                        margin-left: 10px;
                        color: $blue
                    }
                }
            }

            &__imgbanner {
                left: -34px;
                margin-bottom: -76px;
                z-index: 1;

                @include responsive-width(325px) {
                    left: 10%;
                    top: -20px;
                    margin-bottom: -80px;
                }

                @include responsive-width($tablet_m) {
                    left: -4%;
                    margin-bottom: -46px;
                }

                @include responsive-width($tablet_ll) {
                    left: -8%;
                }

                @include responsive-width($laptop_m) {
                    left: -18%;
                }

                img {
                    max-width: 100% !important;

                    @include responsive-width($tablet_m) {
                        width: auto;
                    }
                }
            }

            &__model {
                position: absolute;
                right: 19%;
                top: 28px;

                @include responsive-width(325px) {
                    right: 32%;
                    top: 10px;
                }

                @include responsive-width($tablet_m) {
                    right: 7%;
                    top: 30px;    
                }

                @include responsive-width($tablet_ll) {
                    right: 28%;
                }

                .text-renueva {
                    margin-top: 18px;

                    @include responsive-width($tablet_m) {
                        margin-top: 0;
                    }

                    p {
                        font-size: 14px;
                        line-height: 35px;
                        font-weight: normal;
                        color: $white;

                        strong {
                            font-weight: bold;  
                        }

                        @include responsive-width($tablet_m) {
                            color: $blue;
                            top: 5px;
                            font-size: 19px;
                            line-height: 39px;
                        }
                    }
                }

                .fee {
                    font-weight: bold;
                    font-size: 11px;
                    line-height: 11px;
                    color: $white;

                    @include responsive-width($tablet_m) {
                        position: absolute;
                        color: $extra_blue;
                        bottom: 75px;
                        font-size: 13px;
                        line-height: 12px;
                    }
                }

                p {
                    color: $white;
                    margin-top: -15px;

                    @include responsive-width($tablet_m) {
                        margin-top: -5px;
                        color: $blue;
                    }                    
                }

                .text-price {
                    position: absolute;
                    border-left: 1px solid $white;
                    height: 28px;
                    font-family: $font-family;
                    bottom: 10px;
                    right: -37px;

                    @include responsive-width($tablet_m) {
                        border-left: 1px solid $blue;
                        bottom: 37px;
                        right: -33px;
                    }

                    h3 {
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 20px;
                        letter-spacing: -0.02em;
                        color: white;
                        margin: -7px 0 0 8px;

                        @include responsive-width($tablet_m) {
                            color: $blue;
                            font-size: 16px;
                            line-height: 23px;
                        }
                    }

                    p, span {
                        font-weight: normal;
                        font-size: 12.0189px;
                        line-height: 20px;
                        font-size: 14px;
                        line-height: 23px;
                        letter-spacing: -0.02em;
                        color: $white;
                        margin: -4px 0 0 8px;

                        @include responsive-width($tablet_m) {
                            font-size: 14px;
                            line-height: 23px;
                            color: $blue;
                            margin: 10px 0 0 8px;
                        }
                    }

                    span {
                        text-decoration: line-through;
                    }
                }
            }

            &__dsctoimg {
                position: absolute;
                bottom: -120px;
                left: 0;
                right: 0;

                @include responsive-width($tablet-m) {
                    display: none;
                }
            }

            @include responsive-width(425px) {
                transform: translate(-50%, -66%);
            }

            @include responsive-width($tablet_m) {
                transform: translate(-50%, -35%);
            }
        }
    }
}