.entel__slider--home__item__content.entel__slider--home__item__xiaomi_lib {
    background: $blue;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 450px;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: none;
            // width: 758px !important;
        }
        
        @include responsive-width($laptop-m) {
            width: 1024px  !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            position: relative;
            top: 26px;
        
            @include responsive-width($tablet-m) {
                left: auto;
                top: 70px;
                position: relative;
                text-align: left;
                margin-left: 40px;
                width: 100%;
                z-index: 2;
            }

            @include responsive-width($laptop-s) {
                margin-left: 10px;
                top: 50px;
            }

            @include responsive-width($laptop-m) {
                margin-left: 0px;
            }

            &-img {
                position: relative;
                z-index: 1;
            }

            img {
        
                @include responsive-width($tablet-m) {
                    max-width: 330px;
                }

                @include responsive-width($laptop-s) {
                    max-width: none;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 95px;
            z-index: 2;

            @include responsive-width($mobile-l) {
                text-align: center;
            }

            @include responsive-width($tablet-m) {
                text-align: right;
                max-width: 768px;
                bottom: 0px;
            }

            @include responsive-width($laptop-s) {
                max-width: 1024px;
            }
        
            &-detail {
                position: absolute;
                left: 50%;
                bottom: 0;

                @include responsive-width($tablet-m) {
                    left: auto;
                    right: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 520px;
                    z-index: 1;
                    background-color: $white;
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;

                    -moz-transform: translate(-229px, -51px) skew(0deg) rotate(13deg);
                    -webkit-transform: translate(-229px, -51px) skew(0deg) rotate(13deg);
                    -o-transform: translate(-229px, -51px) skew(0deg) rotate(13deg);
                    -ms-transform: translate(-229px, -51px) skew(0deg) rotate(13deg);
                    transform: translate(-229px, -51px) skew(0deg) rotate(13deg);

                    @include responsive-width($tablet-m) {
                        // display: none;
                        -moz-transform: translate(-514px, -144px) skew(-3deg) rotate(8deg);
                        -webkit-transform: translate(-514px, -144px) skew(-3deg) rotate(8deg);
                        -o-transform: translate(-514px, -144px) skew(-3deg) rotate(8deg);
                        -ms-transform: translate(-514px, -144px) skew(-3deg) rotate(8deg);
                        transform: translate(-514px, -144px) skew(-3deg) rotate(8deg);
                    }

                    @include responsive-width($laptop-s) {
                        // display: none;
                        -webkit-border-radius: 100px;
                        -moz-border-radius: 100px;
                        border-radius: 100px;
                        -moz-transform: translate(-604px, -174px) skew(-3deg) rotate(8deg);
                        -webkit-transform: translate(-604px, -174px) skew(-3deg) rotate(8deg);
                        -o-transform: translate(-604px, -174px) skew(-3deg) rotate(8deg);
                        -ms-transform: translate(-604px, -174px) skew(-3deg) rotate(8deg);
                        transform: translate(-604px, -174px) skew(-3deg) rotate(8deg);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: translate(-644px, -174px) skew(-3deg) rotate(8deg);
                        -webkit-transform: translate(-644px, -174px) skew(-3deg) rotate(8deg);
                        -o-transform: translate(-644px, -174px) skew(-3deg) rotate(8deg);
                        -ms-transform: translate(-644px, -174px) skew(-3deg) rotate(8deg);
                        transform: translate(-644px, -174px) skew(-3deg) rotate(8deg);
                    }
                }
            }

            img {
                position: relative;
                max-width: 100%;
                display: inline-block;
                z-index: 1;
                // margin-right: -22px;

                @include responsive-width($tablet-m) {
                    margin-right: 20px;
                    width: 440px;
                }

                @include responsive-width($laptop-s) {
                    width: auto;
                    margin-right: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-right: 40px;
                }
            }
        }

        .e-button-buy {
            position: absolute;
            bottom: 35px;
            left: 0;
            width: 100%;
            z-index: 2;

            @include responsive-width($tablet-m) {
                padding-left: 40px;
                position: relative;
                bottom: auto;
                margin-top: 70px;
            }

            @include responsive-width($laptop-s) {
                padding-left: 10px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0px;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-top: 104px;
                    margin-bottom: 20px;
                }

                @include responsive-width($laptop-s) {
                    margin-top: 90px;
                    margin-bottom: 30px;
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 10px;
            line-height: 10px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: $white;
            text-align: left;
            letter-spacing: -0.02em;
            max-width: 320px;
            display: none;
            
            @include responsive-width($tablet-m) {
                max-width: 250px;
                display: block;
                margin-left: 0;
                padding-left: 0;
            }
            
            @include responsive-width($laptop-s) {
                max-width: 292px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
