.entel__slider--home__item__content {
    &.entel__slider--home__item__content_bts-noclient {
        .detalle {
            img {
                width: 93%;
                position: absolute;
                top: 34%;
                left: 23px;
                right: 0;
                margin-right: auto;
                margin-left: auto;

                @media screen and (min-width: 374px) {
                    width: 100%;
                    top: 32%;
                }

                @media screen and (min-width: 325px) {
                    width: 87%;
                    top: 34%;
                }

                @media screen and (min-width: 400px) {
                    width: 70%;
                }
            }

            &::before {
                display: none;
            }

            @include responsive-width(375px) {
                width: 80%;
            }

            @include responsive-width($tablet_m) {
                width: 1px;
                height: 1px;
                bottom: -20px;
                z-index: 1;
                position: absolute;
                &::before {
                    content: '';
                    width: 300px;
                    height: 158px;
                    background: #FFFFFF;
                    display: block;
                    position: relative;
                    
                    -moz-transform: rotate(7deg) skew(-2deg, 9deg);
                    -webkit-transform: rotate(7deg) skew(-2deg, 9deg);
                    -o-transform: rotate(7deg) skew(-2deg, 9deg);
                    -ms-transform: rotate(7deg) skew(-2deg, 9deg);
                    transform: rotate(7deg) skew(-2deg, 9deg);
                    width: 683px;
                    -moz-border-top-right-radius: 36px;
                    border-top-right-radius: 36px;
                    -moz-border-top-left-radius: 94px;
                    border-top-left-radius: 94px;
                    height: 451px;
                    top: auto;
                    bottom: 292px;
                    left: 45%;
                    right: 0;
                }                    
            }
        }    

        .principalcontent {
            width: 288px;
            height: 80%;
            // transform: translate(-50%, -60%);

            &__textbanner {

                @media screen and (min-width: 375px) {
                    margin-top: 60px;
                    margin-bottom: 0;
                }

                @media (max-width: 560px) {
                    margin-top: 40px;
                    margin-bottom: 14px;
                }

                @include responsive-width($tablet_m) {
                    position: relative;
                    margin-top: -45px;
                }

                .e-button-buy {
                    small {
                        color: $blue;
                    }
                }

                p {
                    font-weight: bold;
                    font-size: 20px;
                    color: #ffffff;
                }

                h2 {
                    font-size: 30px;
                    line-height: 100%;
                    color: $white;
                    font-weight: 200;
                    margin: 0;

                    span {
                        color: $extra_blue;
                        font-size: 30px;
                        line-height: 100%;
                        font-weight: 200;

                        @include responsive-width($tablet_m) {
                            font-weight: 600;
                            font-size: 34px;
                        }
                    }

                    @include responsive-width($tablet_m) {
                        margin: 14px 0;
                        font-weight: 600;
                        font-size: 34px;
                        width: auto;
                    }
                }

                h3 {
                    font-size: 34px;
                    line-height: 30px;
                    font-weight: 800;
                    color: $extra_blue;

                    img {
                        vertical-align: top;
                        margin-top: 10px;
                        width: 35px;
                    }

                    @include responsive-width($tablet_m) {
                        font-size: 45px;
                        line-height: 45px;

                        img {
                            vertical-align: middle;
                        }
                    }

                    @include responsive-width($tablet_ll) {
                        font-size: 70px;
                        line-height: 63px;

                        img {
                            vertical-align: top;
                            margin-top: 0;
                            width: auto;
                        }
                    }                    
                }

                picture {
                    display: block;
                }

                img  {
                    width: 50%;
                    position: relative;
                    left: 10%;
                }

                @include responsive-width($tablet_m) {
                    width: 35%;
                    padding-left: 0;

                    img {
                        left: unset;
                        width: 100%;
                    }
                }

                @include responsive-width($tablet_ll) {
                    padding-left: 0;
                } 
            }

            &__model {

                right: 0 !important;
                top: 28%;

                p.text-white,
                small,
                p span {
                    color: #004FB9 !important;
                }

                p {
                    font-size: 90px;
                }

                .principalcontent__plan {
                    .bg-white {
                        background-color: #ffffff;
                        color: #004FB9;
                        border-radius: 3px;
                        font-size: 14px;
                        font-weight: 600;
                        margin-top: 8px;
                        padding: 2px 4px;
                        text-align: center;

                        @media screen and (min-width: 320px) {
                            font-size: 12px;
                        }

                    }

                    @media screen and (min-width: 375px) {
                        top: -12px;
                    }
                }

                .text-renueva {
                    p,
                    h3 {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    p {
                        font-size: 18px;
                        letter-spacing: 0;
                        font-weight: 800;
                        color: #ffffff !important;
                        display: inline-block;
                        vertical-align: middle;
                        margin: 0 5px 0 0;  

                        @include responsive-width($tablet_m) {
                            font-size: 14px;
                            margin: 0;
                        }
                    }

                    h3 {
                        color: $extra_blue;
                        font-size: 18px;
                        font-weight: 800;
                        margin-right: 0;
                    }

                    width: 100%;
                    font-size: 14px;
                    line-height: 15px;
                    font-weight: 500;
                    display: inline-block;
                    
                    @include responsive-width($tablet_m) {
                        position: absolute;
                        right: -37px;
                        top: -83px;
                        display: none;
                    }
    
                    @include responsive-width($laptop-s) {
                        right: -157px;
                        top: -13px;
                    }
    
                    @include responsive-width($tablet_ll) {
                        right: -97px;
                        top: -13px;
                    }
                }

                @include responsive-width($tablet_m) {
                    right: inherit !important;
                    top: unset;

                    p {
                        font-size: 175px;
                    }
                }
            }

            &__imgbanner {
                position: absolute;
                left: 0;
                bottom:0;
                margin-left: 0 !important;
                            
                img {
                    max-width: 100%;

                    @include responsive-width($tablet_m) {
                        width: 55%;
                        margin-left: 0 !important;
                    }
                }

                .text-renueva {
                    position: relative;
                    right: -157px;
                    top: 37px;
                    display: none;

                    p {
                        color: $white;
                        font-size: 19px;
                        font-weight: bold;
                    }

                    h3 {
                        color: $extra_blue;
                        font-size: 30px;
                        font-weight: bold;
                    }

                    @include responsive-width($tablet_m) {
                        position: absolute;
                        right: -20px;
                        top: 0;           
                        left: unset;             
                        display: block !important;

                        h3,
                        p {
                            font-size: 15px;
                        }
                    }

                    @include responsive-width($tablet_ll) {
                        right: -70px;
                        top: 0;

                        h3,
                        p {
                            font-size: 25px;
                        }
                    }                   
                }

                @include responsive-width($tablet_m) {
                    width: 33%;
                    height: auto;
                    margin-left: 0 !important;
                    position: relative;
                    left: unset;
                    bottom: unset;
                    right: 0;
                }
            }

            &__plan {
                position: relative;

                ul li:last-child {
                    color: $extra_blue;
                }

                ul {
                    position: relative;

                    li {
                        font-size: 17px;
                        color: #004FB9 !important;    

                        &::before {
                            content: "";
                        }
                        
                        @include responsive-width($tablet_m) {
                            font-size: 20px;
                        }  
                    }

                    li.bg-white {
                        text-align: center;
                        background-color: #004FB9 !important;   
                        color: #ffffff !important;   
                    }
                }
            }

            .e-button-buy {
                display: block !important;
                position: absolute;
                bottom: -40px;
                left: 0;
                right: 0;
            }

            @include responsive-width($tablet_m) {
                width: 740px;
                transform: translate(-50%, -35%);
            }
        }
    }
}


