.entel__slider--home__item__content.entel__slider--home__migra_postpago {
    background: $white;
    background-position: center -10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('https://www.entel.pe/wp-content/uploads/2020/08/background-migra-new.png');

    @include responsive-width($mobile_m) {
        background-size: 80%;
    }

    @include responsive-width($mobile_l) {
        background-size: 70%;
    }

    @include backgound_retina {
        background-image: url('https://www.entel.pe/wp-content/uploads/2020/08/background-migra-new-mob@2x.png');
    }
    
    @include responsive-width($tablet-m) {
        background-size: cover;
        background-position: center top;
        background-image: url('https://www.entel.pe/wp-content/uploads/2020/08/background-migra-new@2x.png');
    }

    .principalcontent {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        -moz-transform: translate(-50%, 80%);
        -webkit-transform: translate(-50%, 80%);
        -o-transform: translate(-50%, 80%);
        -ms-transform: translate(-50%, 80%);
        transform: translate(-50%, 80%);
        max-width: 100%;
        width: 100%;
        margin: 0;

        @include responsive-width($mobile_l) {

        }
        
        @include responsive-width($tablet-m) {
            max-width:90%;
            top: 50%;
            height: auto;
            -moz-transform: translate(-50%, -46%);
            -webkit-transform: translate(-50%, -46%);
            -o-transform: translate(-50%, -46%);
            -ms-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
        }

        
        @include responsive-width($laptop_s) {
            max-width: 100%;
            -moz-transform: translate(-40%, -40%);
            -webkit-transform: translate(-40%, -40%);
            -o-transform: translate(-40%, -40%);
            -ms-transform: translate(-40%, -40%);
            transform: translate(-40%, -40%);
        }

        &__textbanner {
            display: none;

            @include responsive-width($tablet-m) {
                font-weight: bold;
                text-align: center;
                display: block;
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                margin-left: -10px;
            }

            img {
        
                @include responsive-width($tablet-m) {
                    width: 240px;
                }

                @include responsive-width(900px) {
                    width: auto;
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                -moz-transform: translate(20%, -30%);
                -webkit-transform: translate(20%, -30%);
                -o-transform: translate(20%, -30%);
                -ms-transform: translate(20%, -30%);
                transform: translate(20%, -30%);
                position: absolute;
            }

            @include responsive-width($laptop-s) {
                -moz-transform: translate(10%, -33%);
                -webkit-transform: translate(10%, -33%);
                -o-transform: translate(10%, -33%);
                -ms-transform: translate(10%, -33%);
                transform: translate(10%, -33%);
            }

            img {
                max-width: 100%;
                display: inline-block;
        
                @include responsive-width($tablet-m) {
                    max-width: 57%;
                    margin-right: 20px;
                }

                @include responsive-width(1025px) {
                    max-width: 100%;
                    margin-right: -70px;
                }
            }
        }

        .e-button {
            &-delivery {
                display: none;
            
                @include responsive-width($tablet-m) {
                    display: block;
                    margin-top: 25px;
                    margin-left: 10px;
                }
            }

            &-buy {
                margin-top: 0px;
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 10px;
                        margin-top: 26px;
                    }
                }
            }
        }
    
        .e-legal-small {
            font-size: 10px;
            line-height: 11px;
            display: block;
            margin: 5px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;

            @include responsive-width($tablet-m) {
                max-width: 100%;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                padding-left: 10px;
                margin-left: 0;
                margin-top: 33px;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
