
.entel__slider--home__item__content_jueves_entel_29_07_21{
    background-image: url($m_image_path +'2021/07/e-home-banner-jueves-entel-bg-29-07-mob.jpg');
    background-repeat: no-repeat;
    background-position: center -51px;
    background-size: 500px auto;
    background-color: #ffffff;
    padding: 60px 0;
    position: relative;
    // @include responsive-width(411px) {
    //     background-position-y: 14%;
    // }
    @include responsive-width(400px) {
        background-position: center -84px;
        background-size: 614px auto;
    }
    // @include responsive-width($tablet-s) {
    //     background-size: contain;
    // }
    @include responsive-width(500px){
        background-position: center -117px;
        background-size: 770px auto;
    }
    @include responsive-width($tablet-m) {
        background-image: url($m_image_path +'2021/06/e-home-banner-entel-day-bg-desk-v3.jpg');
        background-position: 56% top;
        background-size: initial;
    }
    // @include responsive-width($laptop-s) {
    //     background-position: 63%;
    // }
    // @include responsive-width($laptop-m) {
    //     background-position: center;
    // }

    .content-float{
        position: absolute;
        background-image: url($m_image_path +'2021/07/e-home-banner-jueves-entel-29-07-float-mob.png');
        width: 87px;
        background-size: 100% 100%;
        height: 59px;
        top: 0;
        padding: 5px;
        left: 0;

        @include responsive-width(500px){
            transform: translateX(-222px);
            left: 50%;
        }

        @include responsive-width($tablet_m){
            background-image: url($m_image_path +'2021/07/e-home-banner-jueves-entel-29-07-float-desk.png');
            left: initial;
            right: -5px;
            transform: none;
            background-size: 100% auto;
            background-repeat: no-repeat;
            width: 128px;
            height: auto;
            padding: 5px 0 16px;
        }
        @include responsive-width($laptop_m){
            width: 144px;
            height: auto;
            padding: 6px 0 22px;
            right: 50%;
            transform: translateX(520px);
        }

        p{
            margin-bottom: 0;
            color: $blue;
            font-weight: 800;
            font-size: 17px;
            line-height: 1.14;
            text-align: center;
            @include responsive-width($tablet_m){
                font-size: 25px;
            }
            @include responsive-width($laptop_m){
                font-size: 29px;
                line-height: 1;
            }
        }
    }

    .principalcontent {
        position: relative;
        top: -13%;
        left: 50%;
        width: 100%;
        -ms-transform: translate(-50%, 10%);
        transform: translate(-50%, 10%);
        max-width: 414px;
        width: 100%;
        margin: 0;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
            height: 350px;
            top: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            padding: 0 20px;
        }

        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
        
            @include responsive-width($tablet-m) {
                margin-bottom: 0;
                width: 100%;
                text-align: left;
                padding-left: 10px;
            }
            
            &-detail {   
                position: absolute;
                bottom: -6px;
                left: 50%;
                width: 500px;
                height: 169px;
                background-image: url($m_image_path +'2021/07/e-home-banner-jueves-entel-bg-text-29-07-mob.png');
                background-size: cover;
                background-repeat: no-repeat;
                z-index: 1;
                transform: translateX(-50%);

                @include responsive-width($tablet_m){
                    display: none;
                }
            }

            img {
                position: relative;
                @include responsive-width($tablet-m) {
                    // max-width: 399px;
                    margin-left: -136px;
                    width: 550px;
                }

                @include responsive-width($laptop-s) {
                    margin-left: -254px;
                    width: auto;
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 127px auto 0;
                text-align: left;
                padding: 20px 5px 0;
                z-index: 2;

                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 300px;
                    margin: 0 auto 0 0;
                    // margin-left: 0;
                    padding: 58px 0 0 0;

                }
                @include responsive-width(950px) {
                    width: 395px;
                }
                // @include responsive-width(950px) {
                //     width: 430px;
                // }

                @include responsive-width($laptop_m){
                    width: 407px;
                }

                h2 {
                    font-size: 24px;
                    line-height: 24px;
                    font-weight: bold;
                    color: #004FB9;
                    padding-bottom: 5px;
                    text-align: center;
                    max-width: 200px;
                    margin: 8px auto 4px;
                    @include responsive-width($tablet-m) {
                        text-align: left;
                        font-size: 36px;
                        line-height: 36px;
                        max-width: 300px;
                        margin: 0;
                        max-width: initial;
                    }
                    @include responsive-width(950px) {
                        font-size: 42px;
                        line-height: 50px;
                        padding-bottom: 19px;
                        max-width: 545px;
                    }
                    @include responsive-width($laptop-m) {
                        font-size: 52px;
                        line-height: 50px;
                    }
                }

                p {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: #454752; 
                    text-align: center;
                    @include responsive-width($tablet-m) {
                        font-size: 24px;
                        line-height: 30px;
                        max-width: inherit;
                        text-align: left;
                    }
                }
            }
        }
        
        &__imgbanner {
            // display: none;
            margin: -226px 0 0 0;
            width: 100%;
            position: relative;
            text-align: center;
            // text-align: right;
            // position: absolute;
            // top: 50%;
            // -ms-transform: translate(-10px,-43%);
            // transform: translate(-10px,-43%);

            @include responsive-width($tablet-m) {
                margin: -80px 0 0 0;
                position: absolute;
                -ms-transform: translate(182px, -35%);
                transform: translate(182px, -35%);
            }

            @include responsive-width(950px) {
                margin: -80px 0 0 10px;
                -ms-transform: translate(14.2%, -50%);
                transform: translate(14.2%, -50%);
            }

            @include responsive-width(1280px){
                margin: -68px 0 0 10px;
                -ms-transform: translate(11vw, -50%);
                transform: translate(11vw, -50%);
            }

            picture{
                display: inline-block;
            }

            &-img {
                position: relative;
                display: block;
            }

            img {
                max-width: 100%;
                display: inline-block;
                top: -30px;
                position: relative;
                -webkit-animation: beat 3.5s infinite;
                animation: beat-mob 3.5s infinite;
                width: 300px;

                @keyframes beat-mob {
                    from {transform: scale(0.9); }
                    80% { transform: scale(1); }
                    to {transform: scale(0.9); }
                }
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 396px;
                    margin-right: 66px;
                    position: initial;
                    -webkit-animation: beat 2.5s infinite;
                    animation: beat 2.5s infinite;
                    @keyframes beat {
                        from {transform: scale(0.9); }
                        80% { transform: scale(1); }
                        to {transform: scale(0.9); }
                    }
                }
                @include responsive-width(948px) {
                    margin-right: 0;
                    margin-left: 14px;
                }
                @include responsive-width($laptop-s) {
                    max-width: 100%;
                    width: 446px;
                    // margin-right: 0;
                }
                // @include responsive-width(1300px) {
                    // max-width: 100%;
                    // margin-right: -13%;
                // }
            }
        }

        .e-button-buy {
            margin-top: -22px;
            // margin-top: 15px;
            position: relative;
            z-index: 3;
        
            @include responsive-width($tablet-m) {
                margin-top: 75px;
            }
        
            @include responsive-width($laptop-s) {
                margin-top: 0;
            }

            @include responsive-width(950px) {
                // margin-top: 42px;
                margin-left: 10px;
            }

            .btn-buy {
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    // margin-left: 80px;
                    margin-top: -50px;
                }

                @include responsive-width($laptop-s) {
                    margin-top: 20px;
                    height: 50px;
                    line-height: 44px;
                    width: 166px;
                }


            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            display: none;
            margin: 15px auto 0;
            padding: 0 20px;
            color: $blue;
            text-align: left;
            // letter-spacing: -0.05em;

            @include responsive-width($tablet-m) {
                display: block;
                text-align: center;
                width: 100%;
                // max-width: 530px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                // padding-left: 15px;
                padding: 0 20px;
                margin-left: 0;
                margin-top: 40px;
            }

            @include responsive-width($laptop-s) {
                margin-top: 20px;
            }

            a {
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
