.entel__slider--home__item__content.entel__slider--home__item__combos_2 {
    // background-image: url($m_image_path +'2021/02/pack-combos-back-mob.png');
    // background: url(https://www.entel.pe/wp-content/uploads/2021/01/pack-combos-v1-back-mob.png);
    // background-size: 331px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // background-color: $blue;
    // background-repeat: no-repeat;
    
    @include responsive-width($mobile_m) {
        background-position: 0px 60px;
        background-size: 410px;
    }
    
    // @include responsive-width($mobile_m) {
    //     background-position: 0px -40px;
    //     background-size: 410px;
    
    // }
    @include responsive-width($tablet_m) {
        background-image: url($m_image_path +'2021/02/pack-combos-back-tab.png');
        background-position: left top;
        background-size: 314px;
    //     background: url(https://www.entel.pe/wp-content/uploads/2021/01/pack-combos-v1-back-desk.png);
    //     // background-size: cover;
    //     background-repeat: no-repeat;
    //     background-color: $blue;
    //     background-position: -430px center;
    }

    @include responsive-width($laptop-s) {
        background-image: url($m_image_path +'2021/02/pack-combos-back-desk.png');
        background-size: 561px;
        background-position: -100px top;
    //     background-position: -320px center;
    }


    @include responsive-width($desktop_s) {
        // background-size: cover;
        background-size: 37%;
        background-position: left top;
    }
    // .copos-de-nieve {
    //     top: 0;
    //     position: absolute;
    //     animation: tintin 2s infinite;
    // }
    padding: 0;

    .detalle {
        // position: relative;
        display: block;

        img {
            position: absolute;
            bottom: 0;
            object-fit: contain;
            object-position: bottom;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 10px;
        }

        @include responsive-width($tablet-m) {
            display: none;
        }

        @include responsive-width($laptop-s) {
            display: none;
        }

        @include responsive-width($laptop-m) {
            display: none;
        }

        @include responsive-width($desktop_s) {
            display: none;
        }
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 330px;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        margin-top: 15px;
        // margin-left: 0;

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 1024px;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
        }

        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &__textbanner {
            top: 0px;
            left: 50%;
            display: block;
            font-weight: bold;
            text-align: center;
            position: absolute;
            margin-left: -150px;

            @include responsive-width($tablet-m) {
                top: 30px;
                z-index: 2;
                left: auto;
                width: 100%;
                text-align: left;
                margin-left: 20px;
                position: relative;
            }

            @include responsive-width($laptop-s) {
                margin-left: 30px;
            }

            @include responsive-width($laptop-m) {
                margin-left: 0px;
                top: 42px;
            }

            @include responsive-width($desktop_s) {
                margin-left: 0;
            }

            img {
                max-width: none;
        
                @include responsive-width($tablet-m) {
                    // max-width: 176px;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    max-width: none;
                    width: 220px;
                }

                @include responsive-width($laptop-m) {
                    width: auto;
                }
                
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        }
        
        &__imgbanner {
            margin: 0 0 0 0;
            width: 100%;
            text-align: center;
            // position: absolute;
            // bottom: 15px;

            @include responsive-width($mobile-l) {
                text-align: center;
            }

            @include responsive-width($tablet-m) {
                right: 0;
                bottom: 0;
                max-width: 768px;
                text-align: right;
            }

            @include responsive-width($laptop-s) {
                // right: 0px;
                // text-align: center;
                max-width: 1024px;
            }

            // @include responsive-width($laptop-m) {
            //     // right: -180px;
            //     // bottom: 0px;
            // }
            
            &-detail {
                position: absolute;
                left: 50%;
                top: 0;

                @include responsive-width($tablet-m) {
                    left: auto;
                    right: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 520px;
                    z-index: 1;
                    background-color: $blue;
                    -webkit-border-radius: 80px;
                    -moz-border-radius: 80px;
                    border-radius: 80px;

                    -moz-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
                    -webkit-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
                    -o-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
                    -ms-transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);
                    transform: translate(-949px, 229px) skew(0deg) rotate(-15deg);

                    @include responsive-width($tablet-m) {
                        // display: none;
                        -moz-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
                        -webkit-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
                        -o-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
                        -ms-transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
                        transform: translate(-468px, 213px) skew(0deg) rotate(15deg);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
                        -webkit-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
                        -o-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
                        -ms-transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
                        transform: translate(-548px, 233px) skew(0deg) rotate(15deg);
                    }
                    
                }

                &::before {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 1180px;
                    height: 520px;
                    z-index: 1;
                    background-color: $extra_blue;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    border-radius: 30px;

                    -moz-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                    -webkit-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                    -o-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                    -ms-transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);
                    transform: translate(-993px, 269px) skew(0deg) rotate(-20deg);

                    @include responsive-width($tablet-m) {
                        -moz-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                        -webkit-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                        -o-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                        -ms-transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                        transform: translate(-250px, 312px) skew(0deg) rotate(21deg);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                        -webkit-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                        -o-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                        -ms-transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                        transform: translate(-250px, 352px) skew(0deg) rotate(21deg);
                    }
                }
            }

            img {
                z-index: 1;
                position: relative;
                // margin-left: -64px;
                display: inline-block;
                max-width: none;
                margin-top: -5px;

                @include responsive-width($tablet-m) {
                    top: 26px;
                    max-width: none;
                    margin-right: 10px;
                }

                @include responsive-width($laptop-s) {
                    // top: 0;
                    // max-width: none;
                    // margin-right: -70px;
                    // max-width: 930px;
                    margin-right: 40px;
                    top: 10px;
                    max-width: 740px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: 820px;
                    top: -12px;
                    margin-right: -50px;
                }

                @include responsive-width($desktop_s) {
                    max-width: none;
                    width: 750px;
                    top: 2px;
                    margin-right: 0;  
                }
            }
        }

        .e-button-buy {
            left: 0;
            z-index: 1;
            width: 100%;
            bottom: 35px;
            position: absolute;

            @include responsive-width($tablet-m) {
                bottom: auto;
                margin-top: 0px;
                padding-left: 40px;
                position: relative;
            }

            @include responsive-width($laptop-s) {
                // padding-left: 0;
                margin-left: 60px;
                margin-top: 0;
                bottom: 0px;
            }

            @include responsive-width($laptop-m) {
                margin-left: 60px;
                margin-top: 0;
                bottom: 6px;
            }

            // @include responsive-width($laptop_s) {
            // }

            .btn-buy {
                padding: 0;
                line-height: 30px;
                font-size: 12px;
                width: 126px;
                height: 34px;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin-top: 0;
                    margin-bottom: 0;
                    width: 130px;
                }

                @include responsive-width($laptop-s) {
                    margin-bottom: 45px;
                    margin-top: -29px;
                    // padding-left: 70px;
                }
            }

            img {
                display: none;
                margin-bottom: 29px;
    
                @include responsive-width($tablet-m) {
                    display: block;
                }
            }
        }
    
        .e-legal-small {
            font-size: 9px;
            line-height: 10px;
            margin: 7px auto 0;
            padding: 0 20px;
            color: white;
            text-align: left;
            letter-spacing: -0.05em;
            max-width: 90%;
            display: none;
            
            @include responsive-width($tablet-m) {
                font-size: 9px;
                margin: 0 12px;
                display: none;
                color: white;
                padding: 15px 0;
                text-align: left;
                line-height: 10px;
                letter-spacing: -0.05em;
                position: relative;
                bottom: -20px;
            }

            @include responsive-width($laptop-s) {
                display: block;
                bottom: 30px;
                z-index: 3;
                margin: 0 auto;
            }

            @include responsive-width($laptop-m) {
                bottom: 45px;
                margin-left: 60px
            }

            // @include responsive-width($desktop_s) {
            //     bottom: 40px;
            // }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }

    // @keyframes tintin {
    //     0% {
    //         opacity: 0.1;
    //     }

    //     50% {
    //         opacity: 0.2;
    //     }

    //     80% {
    //         opacity: 0.3;
    //     }

    //     100% {
    //         opacity: 0.1;
    //     }
    // }
}
