.entel__slider--home__item__content.entel__slider--home__item__lg_velvet {
    background: rgba(244,238,235,1);
    background: -moz-linear-gradient(top, rgba(244,238,235,1) 0%, rgba(201,198,197,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(244,238,235,1)), color-stop(100%, rgba(201,198,197,1)));
    background: -webkit-linear-gradient(top, rgba(244,238,235,1) 0%, rgba(201,198,197,1) 100%);
    background: -o-linear-gradient(top, rgba(244,238,235,1) 0%, rgba(201,198,197,1) 100%);
    background: -ms-linear-gradient(top, rgba(244,238,235,1) 0%, rgba(201,198,197,1) 100%);
    background: linear-gradient(to bottom, rgba(244,238,235,1) 0%, rgba(201,198,197,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4eeeb', endColorstr='#c9c6c5', GradientType=0 );
    padding: 0;
    // max-height: 350px;
    // @include responsive-width($tablet-m) {
    //     max-height: 450px;
    // }
    .hidden{
        &-xl {
            display: block !important;
            @include responsive-width($tablet-m) {
                display: none !important;
            }
        }
        &-xs {
            display: none !important;
            @include responsive-width($tablet-m) {
                display: block !important;
            }
        }
    }
    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px;
        width: 100%;
        margin: 55px auto;
        
        @include responsive-width($tablet-m) {
            max-width: 100%;
            margin: 0 auto;
        }
        &__align {
            display: flex;
            flex-direction: row-reverse;
            margin: 21px auto;
            @include responsive-width($tablet-m) {
                flex-direction: column;
            }
        }
        &__textbanner {
            font-weight: bold;
            text-align: center;
            display: block;
            padding-top: 20px;
            z-index: 2;
            position: relative;
        
            @include responsive-width($tablet-m) {    
                padding-top: 61px;
                padding-left: 10px;
                width: 100%;
                text-align: left;
            }
        
            @include responsive-width($laptop-s) {    
                padding-top: 61px;
            }

            @include responsive-width($laptop-m) {   
                padding-top: 55px;
                margin-left: -20px;
                padding-left: 0;
            }

            &__title {
                display: flex;
                flex-direction: column-reverse;
                text-align: left;
                p {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: $blue;
                    max-width: 123px;
                    text-align: left;
                    strong {
                        font-weight: 700;
                        text-align: left;
                    }
                }
                img {
                    max-width: 114px;
                    width: 100%;
                    text-align: left;
                }

                @include responsive-width($tablet-m) {
                    display: flex;
                    flex-direction: row;
                    max-width: 278px;
                    p {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 38px;
                        line-height: 34px;
                        color: $blue;
                        max-width: 169px;
                        margin-right: 10px;

                        strong {
                            font-weight: 700;
                        }
                    }
                    img {
                        max-width: 99px;
                        width: 100%;
                        padding-top: 15px;
                    }
                }
            }
            &__detail {
                display: block;
                padding-top: 12px;
                max-width: 151px;

                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    color: $extra_light_black;
                    text-align: left;
                }
                span {
                    display: block;
                    font-size: 14px;
                    line-height: 20px;
                    color: #4B22F4;
                    font-weight: 700;
                    text-align: left;
                    img {
                        display: block;
                        max-width: 56px;
                    }
                }
                .img__description {
                    max-width: 148px;
                    margin: 4px auto;
                }

                @include responsive-width($tablet-m) {
                    display: block;
                    padding-top: 18px;
                    max-width: 250px;
                    p {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 24px;
                        color: $extra_light_black;
                    }
                    span {
                        display: block;
                        font-size: 14px;
                        line-height: 24px;
                        color: #4B22F4;
                        font-weight: 700;
                        img {
                            display: inline;
                            max-width: 88px;
                        }
                    }
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 8px 0 0;
            margin-left: 0 !important;
            width: 100%;
            text-align: right;
            position: relative;
            top: 0;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
            max-width: 127px;
            @include responsive-width($tablet-m) {
                margin: 0 0 0 0;
                position: absolute;
                top: 40%;
                left: 50%;
                width: auto;
                max-width: 520px;
                -moz-transform: translate(-26%, -40%);
                -webkit-transform: translate(-26%, -40%);
                -o-transform: translate(-26%, -40%);
                -ms-transform: translate(-26%, -40%);
                transform: translate(-26%, -40%);
            }
        
            // @include responsive-width($laptop-s) {
            //     position: absolute;
            //     top: 11%;
            //     left: 37%;
            //     width: auto;
            //     -moz-transform: none;
            //     -webkit-transform: none;
            //     -o-transform: none;
            //     -ms-transform: none;
            //     transform: none;
            // }
        
            @include responsive-width($laptop-m) {
                position: absolute;
                left: 35%;
                top: 4%;
                width: auto;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            
            
            &-detail {
                position: absolute;
                right: 0;
                top: 0;

            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 5px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    // width: auto;
                    width: 490px;
                }
        
                @include responsive-width($laptop-s) {
                    width: auto;
                    // width: 700px;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-right: -90px;
                }
            }
        }

        .e-button {

            &-buy {  
                display: flex;
                flex-direction: column-reverse; 
                margin-top: 12px;
                position: relative;
                z-index: 2;

                @include responsive-width($tablet-m) {
                    flex-direction: column;
                    // margin-top: -88px;
                }    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
                    margin-top: 35px;            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 10px;
                        margin-top: 0;
                        // margin-top: 58px;
                    }
            
                    // @include responsive-width($laptop-s) {
                    //     margin-top: 48px;
                    //     margin-left: -10px;
                    // }
            
                    @include responsive-width($laptop-m) {
                        margin-left: -10px;
                        margin-top: 0;
                    }

                    
                }
                .e-legal-small {
                    font-size: 9px;
                    line-height: 10px;
                    // display: none;
                    margin: 7px auto 0;
                    padding: 0 20px;
                    color: $extra_light_black;
                    text-align: left;
                    letter-spacing: -0.05em;
        
                    @include responsive-width($tablet-m) {
                        display: block;
                        max-width: 260px;
                        font-size: 10px;
                        line-height: 11px;
                        padding: 0;
                        padding-left: 10px;
                        margin-left: 0;
                        margin-top: 22px;
                    }
        
                    @include responsive-width($laptop-s) {
                        max-width: 298px;
                        padding-left: 0;
                        margin-left: -10px;
                    }
        
                    @include responsive-width($laptop-m) {
                        max-width: 298px;
                        margin-top: 32px;
                    }
        
                    a {
                        color: $blue;
                        text-decoration: none;
                    }
                }
            }
        }
    

    }
}
