.entel__slider--home__item__content.entel__slider--home__store_img {
    background: $blue;
    padding: 0;
    background-image: url($m_image_path +'2021/06/banner-store-img-back-mob.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 100% 325px;// cover;
        
    @include responsive-width($tablet-m) {
        background-image: url($m_image_path +'2021/06/banner-store-img-back-tab.jpg');
        background-position: center bottom;
        background-size: cover;
    }
        
    @include responsive-width($laptop-s) {
        background-image: url($m_image_path +'2021/06/banner-store-img-back-desk.jpg');
        background-size: cover;
    }
        
    @include responsive-width($desktop-s) {
        background-image: url($m_image_path +'2021/06/banner-store-img-back-big.jpg');
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 414px;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            margin: 0;
            padding: 20px 0 0 5px;
        
            @include responsive-width($tablet-m) {
                padding-top: 80px;
                padding-left: 46px;
                width: 100%;
                text-align: left;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 60px;
                padding-top: 50px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0;
                margin-left: -40px;
            }

            img {
                position: relative;
                display: inline-block;

                @include responsive-width($tablet-m) {
                    // margin-left: 60px;
                    margin-right: auto;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 0;
                }
            }

            // &-detail {
            //     position: absolute;
            //     left: 0;
            //     bottom: 0;

            //     @include responsive-width($tablet-m) {
            //         // left: 50%;
            //     }

            //     &::after {
            //         position: absolute;
            //         content: '';
            //         display: none;
            //         width: 2000px;
            //         height: 2000px;
            //         background-color: $white;
                    
            //         @include responsive-width($tablet-m) {
            //             display: block;
            //             -webkit-border-radius: 40px;
            //             -moz-border-radius: 40px;
            //             border-radius: 40px;

            //             -moz-transform: rotate(222deg) skew(9deg) translate(1922px, -463px);
            //             -webkit-transform: rotate(222deg) skew(9deg) translate(1922px, -463px);
            //             -o-transform: rotate(222deg) skew(9deg) translate(1922px, -463px);
            //             -ms-transform: rotate(222deg) skew(9deg) translate(1922px, -463px);
            //             transform: rotate(222deg) skew(9deg) translate(1922px, -463px);
            //         }

            //         @include responsive-width($laptop-s) {
            //             -moz-transform: rotate(195deg) skew(1deg) translate(1534px, 127px);
            //             -webkit-transform: rotate(195deg) skew(1deg) translate(1534px, 127px);
            //             -o-transform: rotate(195deg) skew(1deg) translate(1534px, 127px);
            //             -ms-transform: rotate(195deg) skew(1deg) translate(1534px, 127px);
            //             transform: rotate(195deg) skew(1deg) translate(1534px, 127px);
            //         }

            //         @include responsive-width($laptop-m) {
            //             -moz-transform: rotate(187deg) skew(-5deg) translate(84px, 82px);
            //             -webkit-transform: rotate(187deg) skew(-5deg) translate(84px, 82px);
            //             -o-transform: rotate(187deg) skew(-5deg) translate(84px, 82px);
            //             -ms-transform: rotate(187deg) skew(-5deg) translate(84px, 82px);
            //             transform: rotate(187deg) skew(-5deg) translate(84px, 82px);
            //         }
            //     }
            // }

            // &::before {
            //     content: '';
            //     display: block;
            //     width: 188px;
            //     height: 190px;
            //     position: absolute;
            //     top: -46px;
            //     left: -40px;
            //     background-image: url($m_image_path +'2021/06/banner-store-back.png');
            //     background-position: center top;
            //     background-size: 100%;

            //     @include responsive-width($mobile_s) {
            //         left: -60px;
            //     }

            //     @include responsive-width($tablet-m) {
            //         display: none;
            //         // background-image: url($m_image_path +'2021/06/banner-store-back-tab.png');
            //         // width: 267px;
            //         // height: 190px;
            //     }
            // }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    // padding: 58px 0 0 0;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            // display: none;
            margin: 0;
            width: 100%;
            height: 100%;
            text-align: right;
            right: -40px;
            bottom: -20px;
            position: absolute;
            // text-align: right;
            // position: absolute;
            // top: 50%;
            // -ms-transform: translate(-10px,-43%);
            // transform: translate(-10px,-43%);
        
            @include responsive-width($tablet-m) {
                // margin: -10px 0 0 0;
                margin: 0;
                position: absolute;
                top: 0;
                left: 0;
                -ms-transform: none;
                transform: none;
                text-align: right;
            }

            @include responsive-width($laptop-s) {
                // -ms-transform: translate(15%, -73%);
                // transform: translate(15%, -73%);
            }

            @include responsive-width($laptop-m) {
                // -ms-transform: translate(18%, -66%);
                // transform: translate(18%, -66%);
            }

            &-img {
                position: relative;
                display: block;
                height: 100%;

                // @include responsive-width($laptop-m) {
                //     &::before {
                //         content: '';
                //         display: block;
                //         position: absolute;
                //         bottom: 0;
                //         right: -110px;
                //         width: 398px;
                //         height: 334px;
                //         background-image:  url($m_image_path+'2021/05/banner-lib-backv2.png');
                //     }
                // }
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;   
                margin-right: -12px;
        
                @include responsive-width($tablet-m) {    
                    margin-right: -194px;
                    margin-top: 0;
                }

                @include responsive-width($laptop-s) {
                    margin-right: 40px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                    margin-right: -40px;
                }
            }
        }

        .e-button-buy {
            margin-top: 130px;
            padding-left: 5px;
            text-align: left;
        
            @include responsive-width($tablet-m) {
                margin-top: 0;
                padding-top: 20px;
                padding-left: 50px;
            }

            @include responsive-width($laptop-s) {
                padding-top: 25px;
                padding-left: 60px;
            }

            @include responsive-width($laptop-m) {
                margin-left: -40px;
                padding-left: 0px;
            }

            @include responsive-width($desktop-s) {
                padding-top: 30px;
                // margin-left: -40px;
            }

            .btn-buy {
                width: 126px;
                display: inline-block;
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 14px;
                    margin: 0;
                    width: 176px;
                    height: 55px;
                    line-height: 50px;
                    // margin-left: 30px;
                    // margin-top: 0;
                }

                @include responsive-width($laptop-s) {
                    height: 55px;
                    width: 176px;
                    font-size: 14px;
                    line-height: 50px;
                }
            }
        }
    
        .e-legal-small {
            position: relative;
            font-size: 8px;
            line-height: 10px;
            margin: 15px auto 0 0;
            padding: 0 0 0 5px;
            color: $extra_dark_gray;
            text-align: left;
            display: block;
            width: 220px;

            @include responsive-width($tablet-m) {
                width: 100%;
                max-width: 340px;
                font-size: 10px;
                line-height: 11px;
                padding: 0;
                padding-left: 50px;
                margin-top: 20px;
            }

            @include responsive-width($laptop-s) {
                margin-left: 10px;
                max-width: 350px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 0;
                margin-left: -40px;
                max-width: 290px;
            }

            a {
                color: $extra_dark_gray;
                text-decoration: none;
            }
        }
    }
}
