.entel__slider--home__item__content {
    &.entel__slider--home__item__content_bts {
        .e-button-buy small {
            color: white;
            padding-top: 21px;
            display: block;
            width: 310px;
            margin: 0 auto;
            
            br {
                display: none;

                @include responsive-width($tablet_ll) {
                    display: block;
                }
            }
        }

        .detalle {

            img {
                width: 200px;
                position: absolute;
                top: 20%;
                left: 0;
                right: -130px;
                margin-right: auto;
                margin-left: auto;               
            }

            &::before {
                display: none;
            }

            @include responsive-width(375px) {
                width: 80%;
            }

            @include responsive-width($tablet_m) {
                position: relative;
                text-align: center;     
                height: auto;
                bottom: 40px;
                width: 100%;
                z-index: 1;
                left: 14%;
                
                img {
                    width: auto;
                    top: 80px;
                    left: 20px;
                    right: 0;
                }
            }

            @include responsive-width(1000px) {
                img {
                    width: 50%;
                }
            }

            @include responsive-width($laptop-m) { 
                img {
                    width: 40%;
                }
            }
        }    

        .principalcontent {
            width: 90%;
            text-align: center;
            transform: translate(-50%, -60%);

            &__textbanner {
                margin-bottom: 10px;
                text-align: center;

                .e-button-buy {
                    small {
                        color: white;
                    }
                }

                p {
                    font-weight: bold;
                    font-size: 20px;
                    color: #ffffff;
                }

                h2 {
                    font-size: 25px;
                    line-height: 30px;
                    color: $white;
                    font-weight: 600;
                    margin: 0;
                    vertical-align: middle;
                    display: inline-block;

                    span {
                        color: $extra_blue;
                        font-size: 25px;
                        line-height: 100%;
                        font-weight: 800;

                        @include responsive-width($tablet_m) {
                            font-weight: 800;
                            font-size: 35px;
                            width: auto;
                        }
                    }

                    @include responsive-width($tablet_m) {
                        margin: 14px 0;
                        line-height: 30px;
                        font-size: 35px;
                        width: auto;
                    }
                }

                h3 {
                    font-size: 30px;
                    line-height: 30px;
                    font-weight: 800;
                    color: $extra_blue;
                    vertical-align: middle;
                    display: inline-block;
                    margin-left: 5px;

                    img {
                        vertical-align: top;
                        margin-top: 10px;
                        width: 35px;
                    }

                    @include responsive-width($tablet_m) {
                        font-size: 35px;
                        line-height: 35px;

                        img {
                            vertical-align: middle;
                        }
                    }

                    @include responsive-width($tablet_ll) {
                        font-size: 70px;
                        line-height: 63px;

                        img {
                            vertical-align: top;
                            margin-top: 0;
                            width: auto;
                        }
                    }                    
                }

                img  {
                    width: 55%;
                    display: block;
                    margin: 0 auto;
                }

                @media screen and (min-width: 375px) {
                    margin-top: 60px;
                    margin-bottom: 10px;
                }

                @media (max-width: 560px) {
                    margin-top: 40px;
                    margin-bottom: 14px;
                }

                @include responsive-width($tablet_m) {
                    width: 35%;
                    margin-top: -45px;
                    padding-left: 0;
                    text-align: left;
                    position: absolute;
                    left: 0;

                    picture {
                        display: block;
                    }

                    img {
                        width: 70%;
                        margin: 0;
                    }
                }

                @include responsive-width($tablet_ll) {
                    padding-left: 0;
                } 
            }

            &__model {
                margin-top: 21px;
                position: absolute;
                right: 30%;

                @media screen and (max-width: 324px) {
                    right: 26px;
                }

                @include responsive-width($tablet_m) {
                    right: inherit;
                    position: relative;
                }

                // .text-renueva {
                //     p,
                //     h3 {
                //         display: inline-block;
                //         vertical-align: middle;
                //     }

                //     p {
                //         font-size: 18px;
                //         letter-spacing: 0;
                //         font-weight: 800;
                //         color: #ffffff !important;
                //         display: inline-block;
                //         vertical-align: middle;
                //         margin: 0 5px 0 0;  

                //         @include responsive-width($tablet_m) {
                //             font-size: 14px;
                //             margin: 0;
                //         }
                //     }

                //     h3 {
                //         color: $extra_blue;
                //         font-size: 18px;
                //         font-weight: 800;
                //         margin-right: 0;
                //     }

                //     width: 100%;
                //     font-size: 14px;
                //     line-height: 15px;
                //     font-weight: 500;
                //     display: inline-block;
                    
                //     @include responsive-width($tablet_m) {
                //         position: absolute;
                //         right: -37px;
                //         top: -83px;
                //         display: none;
                //     }
    
                //     @include responsive-width($laptop-s) {
                //         right: -157px;
                //         top: -13px;
                //     }
    
                //     @include responsive-width($tablet_ll) {
                //         right: -97px;
                //         top: -13px;
                //     }
                // }

                .model {
                    font-size: 14px;
                }

                p {
                    font-size: 144px;
                    margin: 0;
                    letter-spacing: -2px;

                    @media screen and (min-width: 320px) {
                        font-size: 90px;
                        margin: 0;
                        letter-spacing: 2px;
                    }

                    @media screen and (min-width: 375px) {
                        font-size: 90px;
                        margin: 0;
                        letter-spacing: 2px;
                        margin-top: 7px;
                    }

                    @include responsive-width($tablet_m) {
                        font-size: 175px;
                        margin: 0;
                        top: 0;
                        span {
                            font-size: 75px;
                            line-height: 68px;
                            display: inline-block;
                            margin-right: 7px;
                        }
                    }
                }

                small {

                    @media screen and (min-width: 320px) {
                        position: absolute;
                        width: 42px;
                        font-size: 14px;
                        line-height: 15px;
                        font-weight: 500;
                        top: 40px;
                    }

                    @media screen and (min-width: 375px) {
                        position: absolute;
                        width: 42px;
                        font-size: 14px;
                        line-height: 15px;
                        font-weight: 500;
                    }

                    @include responsive-width($tablet_m) {
                        position: absolute;
                        width: 80px;
                        font-size: 25px;
                        line-height: 25px;
                        font-weight: 500;
                        top: 58px;
                    }

                    &:nth-of-type(2) {
                        background: transparent;
                    }

                    .cuota {
                        width: 40px;
                        font-size: 12px;
                        line-height: 10px;
                        position: absolute;
                    }
                }

                .principalcontent__plan {
                    .bg-white {
                        background-color: #ffffff;
                        color: #004FB9;
                        border-radius: 3px;
                        font-size: 14px;
                        font-weight: 600;
                        margin-top: 8px;
                        padding: 2px 4px;
                        text-align: center;

                        @media screen and (min-width: 320px) {
                            font-size: 12px;
                        }
                    }

                    @media screen and (min-width: 375px) {
                        top: -12px;
                    }
                }
            }

            &__imgbanner {
                margin-left: 0 !important;
                
                img {
                    max-width: 85%;
                    display: inline-block !important;

                    @media screen and (max-width: 324px) {
                        margin-left: 0;
                    }

                    @include responsive-width($tablet_m) {
                        max-width: 100%;
                        display: none;
                        visibility: hidden;
                        margin-left: 0 !important;
                    }
                }

                .text-renueva {
                    width: 40%;
                    display: inline-block;
                    position: relative;
                    top: -15px;

                    p {
                        color: $white;
                        font-size: 19px;
                        font-weight: bold;
                    }

                    h3 {
                        color: $white;
                        font-size: 30px;
                        font-weight: bold;
                    }

                    img {
                        max-width: 100%;
                    }

                    @include responsive-width($tablet_m) {
                        // position: absolute;
                        // right: -37px;
                        // top: -83px;         
                        // left: unset;               
                        display: none;

                        p {
                            color: #004FB9;
                        }
    
                        h3 {
                            color: #004FB9;
                        }
                    }

                    @include responsive-width($laptop-s) {
                        right: -180px;
                        top: -13px;
                    }

                    @include responsive-width($tablet_ll) {
                        right: -150px;
                        top: -13px;
                    }                    
                }

                @include responsive-width($tablet_m) {
                    right: 164px;
                    width: 43%;
                    height: auto;
                    margin-left: 0 !important;
                    position: absolute;
                    top: -41px;
                }
                
            }

            &__plan {
                position: relative;

                ul li:last-child {
                    color: $extra_blue;
                }

                ul {
                    position: relative;

                    li {
                        &::before {
                            content: "";
                        }
                        font-size: 18px;
                        
                        @include responsive-width($tablet_m) {
                            font-size: 20px;
                        }  
                    }
                }
            }

            .e-button-buy small {
                width: 100%;
            }

            @include responsive-width($tablet_m) {
                height: 50%;
                width: 90%;
                transform: translate(-50%, -30%);

                .e-button-buy small {
                    width: 80%;
                    margin: 0;
                }
            }
        }
    }
}