.entel__slider--home__item__content_recargasprepago_0521 {
  h1,
  p {
    color: #ffffff;
    text-align: center;
    @media screen and (min-width: 450px) and (max-width: 767px) {
      text-align: left;
      margin-left: 0.5rem;
    }
  }
  h1 {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    @include responsive-width($tablet_m) {
      font-size: 40px;
      line-height: 50px;
      text-align: left;
      margin-left: 0.5rem;
      strong {
        color: #00ad8a;
        display: block;
      }
    }
  }
  p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    @include responsive-width($tablet_m) {
      font-size: 22px;
      line-height: 50px;
      text-align: left;
      margin-left: 0.5rem;
    }
  }
  a {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    @media screen and (min-width: 450px) and (max-width: 767px) {
      left: 80%;
    }
    @include responsive-width($tablet_m) {
      position: relative;
      top: inherit;
      left: 0%;
      transform: none !important;
    }
  }
  .entel__slider--home__item__content-box {
    @include responsive-width($tablet_m) {
      max-width: 1120px;
      margin: 2rem auto 0;
    }
  }
  padding: 30px 0 0 0;
  width: 100%;
  background-image: m_image_url("2021/05/banner-recargasprepago-0521-mob.jpg");
  background-color: $blue;
  background-position: 50% 41%;
  background-size: 100%;
  background-repeat: no-repeat;
  @include backgound_retina {
    background-image: m_image_url(
      "2021/05/banner-recargasprepago-0521-mob@2x.jpg"
    );
  }

  @include responsive-width($tablet_m) {
    background-image: m_image_url(
      "2021/05/banner-recargasprepago-0521-desk.jpg"
    );
    @include backgound_retina {
      background-image: m_image_url(
        "2021/05/banner-recargasprepago-0521-desk@2x.jpg"
      );
    }
    background-size: cover;

  }
  
}
