.banner_fms {
  padding-top: 0px;
  margin-top: 0;
  padding-bottom: 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: m_image_url("2021/10/banner-fms-bg-mob.png");
  @include backgound_retina {
    background-image: m_image_url("2021/10/banner-fms-bg-mob@2x.png");
  }
  @include responsive-width($tablet_m) {
    background-image: m_image_url("2021/10/banner-fms-bg-desk.png");
    @include backgound_retina {
      background-image: m_image_url("2021/10/banner-fms-bg-desk@2x.png");
    }
  }
  .flex-desk {
    @include responsive-width($tablet_m) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      height: 100%;
      align-items: flex-end;
    }
  }
  .logo-team {
    @include responsive-width($tablet_m) {
      //   float: right;
      position: relative;
      bottom: -16px;
    }
  }
  .logo_img {
    position: absolute;
    top: -45%;
    left: 1%;
    @include responsive-width($tablet_m) {
      position: relative;
      top: inherit;
      img {
        margin-left: 0;
      }
    }
  }
  picture {
    display: inline-block;
    width: 100%;
    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .logo_fms {
    @include responsive-width($tablet_m) {
      position: absolute;
      right: -30%;
      top: 0;
    }
  }
  .contenedor-text {
    @include responsive-width($tablet_m) {
      //   float: left;
      height: 100%;
      top: 10%;
      left: 0;
      right: inherit;
      position: relative;
      width: 50%;
    }
    position: absolute;
    z-index: 0;
    top: 53%;
    bottom: 0;
    left: 0;
    height: 220px;
    right: 0;
    .text {
      padding-bottom: 10px;
      @include responsive-width($tablet_m) {
        margin-top: 50px;
      }
      h2,
      span {
        font-size: 24px;
        text-align: center;
        @include responsive-width($tablet_m) {
          text-align: left;
        }
        @media screen and (min-width: $tablet_m) and (max-width: $laptop_s) {
          max-width: 200px;
        }
        @include responsive-width($laptop_s) {
          font-size: 48px;
          max-width: 400px;
        }
      }
    }
    .btn {
      padding-bottom: 10px;
      a {
        width: 141.75px;
        height: 40px;
        line-height: 19px;
        @include responsive-width($tablet_m) {
          min-width: 167px;
          height: 50px;
          line-height: 1;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-position: top right;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: m_image_url("2021/10/bg-text-blue-mob.png");
      @include backgound_retina {
        background-image: m_image_url("2021/10/bg-text-blue-mob@2x.png");
      }
      @include responsive-width($tablet_m) {
        width: 50vw;
        right: -0vw;
        background-image: m_image_url("2021/10/bg-text-blue-desk.png");
        @include backgound_retina {
          background-image: m_image_url("2021/10/bg-text-blue-desk@2x.png");
        }
      }
    }
  }
  .d-block {
    display: block;
  }
  .e-ta-c {
    text-align: center;
  }
}
