.web-privada {
  background: linear-gradient(135deg, #003684 14.26%, #0060D8 50.97%);
  padding-top: 0;
  padding-bottom: 0;
  // s
  &_icono,&_logo,&_texto,&_btn{
    margin: 0 5px;
  }
  &_icono {
    svg {
      width: 39px;
      @include responsive-width($tablet_m){
        width: 65px;
      }
      @include responsive-width($laptop_s){
        width: auto;
      }
    }
  }

  &_logo {
    svg {
      width: 24px;
      @include responsive-width($tablet_m){
        width: 35px;
      }
      @include responsive-width($laptop_s){
        width: auto;
      }
    }
  }

  &_texto {
    p {
      color: #ffff;
      margin-bottom: 0px;

      span {
        color: #00B9EB;
      }
    }

    p,
    span {
      font-size: 10px;
      font-weight: bold;
      @include responsive-width($tablet_m){
        font-size: 14px;
      }
      @include responsive-width($laptop_s){
        font-size: 16px;
      }
    }
    @include responsive-width($tablet_m){
      max-width: 214px;
    }
    @include responsive-width($laptop_s){
      max-width: initial;
    }
  }

  &_btn {
    a {
      min-width: 102px;
      height: 30px;
      padding: 5px 10px;
      @include responsive-width($tablet_m){
        min-width: 116px;
        line-height: 13px;
      }
      @include responsive-width($laptop_s){
        width: auto;
      }
      span {
        font-size: 10px;
        @include responsive-width($tablet_m){
          font-size: 12px;
        }
      }
    }
  }
  &_icono_desk{
    display: none;
    @include responsive-width($laptop_s){
      // width: auto;
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
    }
    
  }
}

$yellow_cintillo: #07EAD1;
$blue_cintillo: #07EAD3;
$pink_cintillo: #07EAD8;

$duration: 1000;

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}



.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $yellow_cintillo;
  top: 0;
  opacity: 0;

  @for $i from 1 through 13 {
    &:nth-child(#{$i}) {
      left: $i * 7%;
      transform: rotate(#{randomNum(-80, 80)}deg);
      animation: makeItRain $duration * 1ms infinite ease-out;
      animation-delay: #{randomNum(0, $duration * .5)}ms;
      animation-duration: #{randomNum($duration * .7, $duration * 1.2)}ms
    }
  }

  &:nth-child(odd) {
    background: $blue_cintillo;
  }

  &:nth-child(even) {
    z-index: 1;
  }

  &:nth-child(4n) {
    width: 5px;
    height: 5px;
    animation-duration: $duration * 2ms;
  }

  &:nth-child(3n) {
    width: 3px;
    height: 3px;
    animation-duration: $duration * 2.5ms;
    animation-delay: $duration * 1ms;
  }

  &:nth-child(4n-7) {
    background: $pink_cintillo;
  }
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: translateY(60px);
  }
}