.e-headband-web-privada-tecnology {
 
  background: linear-gradient(90.01deg, #04AFDD -1.37%, #C7F3FF 31.27%, #C1F2FF 75.94%);
  background-position: 71% 0;
  background-size: 120% 100%;
  width: 100%;
  height: auto;
  margin-top: 0px;
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 1px 0;

  @include responsive-width($tablet_m){
    background: linear-gradient(90.01deg, #04AFDD -1.37%, #C7F3FF 31.27%, #C1F2FF 75.94%);
  }
  @include responsive-width($laptop_s){
    background: linear-gradient(90.04deg, #04AFDD 13.49%, #C7F3FF 29.41%, #C1F2FF 75.93%);
  }
 

  .box-tecnology{
    display: flex;
    margin: 0 auto;
    padding: 6px 5px;
    justify-content: center;
    align-items: center;
    position: relative;

    &:before{
      content:'';
      background-image: m_image_url('2022/03/e-headband-web-mi-entel-linea-white.png');
      @include backgound_retina {
        background-image: m_image_url('2022/03/e-headband-web-mi-entel-linea-white@2x.png');
      }
      position: absolute;
      height: 100%;
      background-size: 100% auto;
      right: 50%;
      margin-right: 102px;
      z-index: -1;
      background-position: 0 0;
      width: 520px;
      animation: bg-white 3s linear infinite 0s;

      @include responsive-width($tablet_m){
        margin-right: 166px;
      }
      @include responsive-width($laptop_s){
        margin-right: 352px;
      }
      @include responsive-width($laptop_m){
        margin-right: 428px;
      }
    }

    &:after{
      content:'';
      background-image: m_image_url('2022/03/e-headband-web-mi-entel-linea-blue.png');
      @include backgound_retina {
        background-image: m_image_url('2022/03/e-headband-web-mi-entel-linea-blue@2x.png');
      }
      position: absolute;
      height: 100%;
      background-size: 100% auto;
      left: 50%;
      margin-left: 120px;
      z-index: -1;
      background-position: 0 0;
      width: 513px;
      animation: bg-blue 3s linear infinite 0s;

      @include responsive-width($tablet_m){
        margin-left: 151px;
      }
      @include responsive-width($laptop_s){
        margin-left: 328px;
      }
      @include responsive-width($laptop_m){
        margin-left: 381px;
      }
    }

    &__image{
      width: 59px;
      flex-shrink: 0;
      position: relative;
      margin-right: 10px;

      .picture-view{
        position: absolute;
        left: 7px;
        top: -5px;
        opacity: 0;
        animation: laptop-view 6s linear infinite;
        &,img{
          max-width: inherit;
        }
        &-1{
          // opacity: 1;
        }
        &-2{
          animation: laptop-view 6s linear infinite 3s;
        }
      }

      .picture-base{
        position: absolute;
        left: -61px;
        bottom: -23px;
        z-index: -1;
        &,img{
          max-width: inherit;
        }
      }
    }

    &__text{
      width: 110px;
      max-width: 100%;
      flex-shrink: 0;
      padding-left: 10px;
      padding-right: 10px;
      @include responsive-width(360px){
        width: auto;
        flex-shrink: 1;
        width: 168px;
      }
      @include responsive-width($tablet_m){
        padding: 0 25px;
        width: 255px;
      }
      @include responsive-width($laptop_s){
        width: auto;
      }

      p{
        color: #383C47;
        font-size: 10px;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 0;
        @include responsive-width($tablet_m){
          font-size: 14px;
        }
        @include responsive-width($laptop_s){
          font-size: 16px;
        }
        @include responsive-width($laptop_m){
          font-size: 18px;
        }
        b{
          color: #004FB9;
          font-weight: bold;
        }
        br{
          display: none;
          @include responsive-width(360px){
            display: inline-block;
          }
          @include responsive-width($laptop_s){
            display: none;
          }
        }
      }
    }

    &__button{

      a{
        display: inline-block;
        min-width: 100px;
        padding: 7px 5px;
        min-width: 100px;
        font-size: 10px;
      }
    }

  }


  @keyframes bg-white {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -51px;
    }
  }

  @keyframes bg-blue {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -46px;
    }
  }
  
  @keyframes laptop-view {
    0% {
        transform: scale(0.4);
        opacity: 0;
    }

    10% {
        transform: scale(1);
        opacity: 1;
    }

    40% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
  }



}
