section.e-oyp-section.e-oyp-banner
    .e-oyp-banner-content
        .e-oyp-banner-logo
            +mx_picture_retina_oneimg('', img_path+'2022/11/Logo-entel', 'png', 'Logo Entel')
        .e-oyp-banner-img
            +mx_picture_retina_extra_oyp('', img_path+'2023/02/e-banner-oyp-llaa-feb-base', 'png', 'En familia ahorramos mas con líneas adicionales')
        .e-oyp-banner-form
            form.entel-form-oyp#entelFormBanner
                .e-oyp-banner-form--header.active
                    h2.form-title Obtén tu línea adicional
                    .e-oyp-banner-form--header__no-inbound 
                        p Déjanos tu número para llamarte:
                    .e-oyp-banner-form--header__inbound
                        p Llamándonos al
                        a(href='tel:080009001') 0800-09001
                        p o déjanos tu número para llamarte:
                    .entel-form-oyp-number
                        input(class="validonlynumeric" type="tel" placeholder="Ingresa tu número de celular" maxlength="9" name="lead_phone" autocomplete='on')
                        //- span.msg-duplicate-number-banner.hidden ¡Hola! Ya contamos con tu número. Estate atento a nuestra pronta llamada.
                    .entel-form-oyp-check
                        span Al hacer clic en “Llámenme” declaras haber leído la #[br]
                            a(href='http://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')   
                                span Política de Privacidad
                            |  de Entel

                    button(type="submit" class="entel-form-oyp-btn" id="entel-form-top-btn" data-origin="ofertas-y-promociones" data-gtm-action="form superior" data-gtm-category="Landing Ofertas y Promociones" data-gtm-label="Te llamamos") Llámenme
                    .e-oyp-banner-form--header__whatsapp
                        p También puedes comprar por:
                        a(href="https://api.whatsapp.com/send?phone=51981002000&text=Hola,%20soy%20cliente%20Entel%20y%20quiero%20contratar%20una%20l%C3%ADnea%20adicional%20Postpago", target="_blank") #[img(src="https://www.entel.pe/wp-content/uploads/2022/11/icon-whatsapp-oyp.png", alt="Icono Whatsapp")] Whatsapp
                    .e-oyp-banner-form--header__disclaimer
                        p Si quieres renovar tu equipo, cambiar tu plan o cualquier otra consulta haz clic #[a(href="https://miportal.entel.pe/personas/catalogo/postpago/renovacion" target="_blank") aquí].
                
                .e-oyp-banner-form--loading
                    img(loading="lazy" class="no-lazy", srcset= 'https://www.entel.pe/wp-content/uploads/2020/06/loading-c2c-fixd.png', alt='Entel - Ofertas y Promociones')

                .e-oyp-banner-form--message
                    img(loading="lazy" class="no-lazy", srcset= 'https://www.entel.pe/wp-content/uploads/2022/11/entel-icon-phone-thanks.png', alt='Entel - Ofertas y Promociones')
                    h5 ¡Gracias por contactarnos!
                    p Sujeto a evaluación. Si calificas te llamaremos en máximo 24 horas. De lo contrario, tenemos una oferta para ti en nuestras tiendas.
                    p Si quieres una línea adicional, haz clic #[a.acustic-btn(href="https://www.entel.pe/ofertas-y-promociones/adicionales-55-9/?d=vep&utm_source=web&utm_medium=web&utm_campaign=cross_mensaje_final_llaa&utm_content=abierto_traffic_hiperlink_cross_lineas_adicionales&utm_term=hiperlink_cross_lineas_adicionales" style="color:#0154a0;font-weight: bold;" data-acustic-campania='Reno VEP' data-acustic-evento='aquí' title='aquí') AQUÍ]
            //- a.e-oyp-banner-form--linkmore#btMore(href='javascript:void(0)') Ver más
    .e-oyp-banner-legales
        p.legales-mob Aplica términos y condiciones #[a(href="https://www.entel.pe/" target="_blank") AQUÍ]

        p.legales-desk Valido para personas naturales y RUC 10 que contraten mínimo 2 líneas en el Plan Postpago indicado o en Plan Empresario Ultra 89.90 para RUC 20. Las líneas deben ser del mismo Plan Entel Power Familiar y se deben facturar en el mismo recibo. Sujeto a evaluación crediticia. Beneficio en el cargo fijo: El cliente pagará el costo de S/ 34.90 por cada línea adicional y tendrá máx. 4 líneas adicionales con este beneficio. Aplica solo al cargo fijo e incluye prorrateo. No acumulable con descuentos de cargo fijo. Se garantiza el 40% de la velocidad contratada. Condiciones y restricciones en www.entel.pe
 