section.e-oyp-section.e-oyp-popup-bar
  .e-oyp-popup-bar-content
    .e-oyp-popup-bar-logo
      +mx_picture_retina_oneimg('', img_path+'2023/02/e-logo-llaa', 'png', 'Logo Entel')
    .e-oyp-popup-bar-btn
      a(href="javascript:void(0)")#popup-banner Llámenme ahora

section.e-oyp-section.e-oyp-popup
  .e-oyp-popup-close 
   | x
  .e-oyp-popup-form
    form.e-oyp-popup-form__content#entelFormPopupCintillo
      .e-oyp-popup-form__content--header.active
        h2.popup-title Obtén tu línea#[br]adicional
        p Déjanos tu número para llamarte:
        .popup-number 
          input(class="validonlynumeric" type="tel" placeholder="Número de celular" maxlength="9" name="lead_phone" autocomplete='on')
        .popup-check
          span Al hacer clic en “Llámenme” declaras haber leído la #[br]
              a(href='http://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')   
                  span Política de Privacidad
              |  de Entel
        button(type="submit" class="entel-popup-form" id="entel-form-top-btn" data-origin="ofertas-y-promociones" data-gtm-action="form superior" data-gtm-category="Landing Ofertas y Promociones" data-gtm-label="Te llamamos") Llámenme

      .e-oyp-popup-form__content--loading
        img(loading="lazy" class="no-lazy", srcset= 'https://www.entel.pe/wp-content/uploads/2020/06/loading-c2c-fixd.png', alt='Entel - Ofertas y Promociones')

      .e-oyp-popup-form__content--message
        img(loading="lazy" class="no-lazy", srcset= 'https://www.entel.pe/wp-content/uploads/2022/11/entel-icon-phone-thanks.png', alt='Entel - Ofertas y Promociones')
        h5 ¡Gracias por contactarnos!
        p Sujeto a evaluación. Si calificas te llamaremos en máximo 24 horas. De lo contrario, tenemos una oferta para ti en nuestras tiendas.
        p Si quieres una línea adicional, haz clic #[a.acustic-btn(href="https://www.entel.pe/ofertas-y-promociones/adicionales-55-9/?d=vep&utm_source=web&utm_medium=web&utm_campaign=cross_mensaje_final_llaa&utm_content=abierto_traffic_hiperlink_cross_lineas_adicionales&utm_term=hiperlink_cross_lineas_adicionales" style="color:#000;font-weight: bold;" data-acustic-campania='Reno VEP' data-acustic-evento='aquí' title='aquí') AQUÍ]

.popup-overlay