section.landing-convergente__section.landing-convergente-demo

    .e-container

        - title = 'Titulo de prueba'
        +title('h2', title).e-title.e-tc--orange

        .e-w-750.e-m-auto
            p Si tienes como mínimo S/8 de recarga, podrás jugar y abrir una de las cajas.
        
        p.e-tc--orange.e-mb-50 texto
