section.e-convergente__section.e-convergente-discount

    .e-container.e-ta-c
        
        - title = 'Te contamos cómo <b>acceder al descuento</b>'
        +title('h2', title).e-title

        .e-convergente-discount__slider.slick__persons
            -
                slider_list = [
                    {
                        image: '2022/03/e-convergente-discount-step-1',
                        text: 'paso 1',
                        condition: '*Mínimo 2 líneas con plan Entel Power Familiar con el mismo cargo fijo.',
                    },
                    {
                        image: '2022/03/e-convergente-discount-step-2-v2',
                        text: 'paso 2',
                        condition: '**Máx. 4 líneas contarán con el descuento.',
                    },
                    {
                        image: '2022/03/e-convergente-discount-step-3-v2',
                        text: 'paso 3',
                        extra: 'Conócelas aquí',
                    },
                ]
            
            each slide, index in slider_list
                div(class='e-convergente-discount__slider__card')(class= (index === 2 ? "card--last" : ''))
                    //- span.number !{index+1}
                    .e-convergente-discount__slider__image
                        +image_webp_retina(slide.image, 'png', 'Imagen de '+slide.text)
                        if slide.extra
                            .e-convergente-discount__slider__image-link
                                a(class='e-link__anchor entel-data-layer-btn' href='#e-convergente-faqs'
                                data-gtm-category=landing_name 
                                data-gtm-action='Seleccionar boton' 
                                data-gtm-label='Desplazamiento - Condiciones del beneficio'
                                ) !{slide.extra}
                    if slide.condition
                        p.small !{slide.condition}
                            
        