section.e-convergente__section.e-convergente-faqs#e-convergente-faqs

    .e-container

        - title = '¿Dudas?'
        +title('h2', title).e-title

        - 
            accordion_list = [
                {
                    'title' : '¿Tengo que cumplir alguna condición para mantener este descuento?',
                    'gtm_action' : 'Visualizar contenido – Acordeon informativos',
                    'gtm_label' : '¿Tengo que cumplir alguna condición para mantener este descuento?',
                    'gtm_type' : 'click'
                },
                {
                    'title' : '¿Cómo visualizaré este descuento en mi recibo?',
                    'gtm_action' : 'Visualizar contenido – Acordeon informativos',
                    'gtm_label' : '¿Cómo visualizaré este descuento en mi recibo?',
                    'gtm_type' : 'click'
                },
                //- {
                //-     'title' : '¿Por qué en mi primer recibo visualizo el descuento para todas mis líneas?',
                //-     'gtm_action' : 'Visualizar contenido – Acordeon informativos',
                //-     'gtm_label' : '¿Por qué en mi primer recibo visualizo el descuento para todas mis líneas?',
                //-     'gtm_type' : 'click'
                //- },
                {
                    'title' : '¿Qué pasa si adquiero una sexta línea?',
                    'gtm_action' : 'Visualizar contenido – Acordeon informativos',
                    'gtm_label' : '¿Qué pasa si adquiero una sexta línea?',
                    'gtm_type' : 'click'
                },
                {
                    'title' : '¿Puedo adquirir equipos con los planes Entel Power Familiar?',
                    'gtm_action' : 'Visualizar contenido – Acordeon informativos',
                    'gtm_label' : '¿Puedo adquirir equipos con los planes Entel Power Familiar?',
                    'gtm_type' : 'click'
                }
            ]
        
        +accordion('e-yape__items')(class='m-accordion--persons')
            each accordion, index in accordion_list
                +accordion_item(accordion.title)(class='entel-data-layer-toggle'
                    gtmCategory=landing_name
                    gtmAction=accordion.gtm_action
                    gtmLabel=accordion.gtm_label
                )
                    if index === 0
                        p Asi es, tiene que cumplir con las siguientes condiciones:
                        ul
                            li Tener al menos 2 líneas activas en el plan Entel Power Familiar con el mismo cargo fijo y deben ser facturadas en el mismo recibo.
                            li En caso realices un cambio de plan tarifario, debes mantener al menos 2 líneas activas con en el mismo cargo fijo del plan Entel Power Familiar elegido.
                        p Recuerda que puedes tener este beneficio para máximo 4 líneas y todas deberán contar con el mismo cargo fijo y plan Entel Power Familiar
                    if index === 1
                        p El descuento se aplicará para tus líneas adicionales que tengan el mismo cargo fijo y plan Entel Familiar Power. Es decir, pagarás el cargo fijo regular para una de tus líneas y S/34.90 para las otras. En tu recibo tendrás un solo descuento bajo la glosa Descuento Entel Familiar en la sección Cuenta Cliente.
                    //- if index === 2
                    //-     p Aquellos clientes que contraten del 01.03.22 al 15.03.22, líneas en Plan Entel Power Familiar, y accedan al “descuento por líneas adicionales”, tendrán además por única vez un descuento promocional en la línea que presenta el cargo fijo regular. No incluye prorrateo. Cabe señalar que el “descuento por líneas adicionales” es máximo para 4 líneas y el descuento promocional aplica para máximo 1 línea.
                    if index === 2
                        p Desde tu sexta línea a más, pagarás el cargo fijo regular. Para estas líneas te sugerimos adquirir los planes Entel Power y puedas acceder a los beneficios que tenemos para ti. #[a(href="https://miportal.entel.pe/personas/planes" target="_blank") https://miportal.entel.pe/personas/planes]
                    if index === 3
                        p Si, los planes Entel Power Familiar también aplican para equipos. Recuerda que debes contratar al menos 2 líneas en el mismo plan Entel Power Famliar y en el cargo fijo. Además puedes llevarte equipos desde S/0 de cuota inicial en nuestros planes Entel Power Familiar desde 55.90