mixin comparison_card(linea,plan,price,value,image,discount)
    .e-convergente-functions-comparison__box-card(class= (discount ? 'card-discount' : ''))
        p.title !{linea}
        .e-convergente-functions-comparison__box-card__content
            div
                p.plan !{plan}
                p.price !{price}
            p.value !{value}
            //- p.gb !{gb}
            - image = image
            +lazy_image_webp_retina_media(image+'-mob', 'png', image+'-desk', '768', 'Planes Seccion Function')

section.e-convergente__section.e-convergente-functions

    .e-container

        - title = '¿Cómo funciona este descuento?'

        .e-convergente-functions-box
            .e-convergente-functions-box__img 
                +lazy_image_webp_retina_media('2022/02/e-convergente-functions-question-mob', 'png', '2022/02/e-convergente-functions-question-desk', '768', 'Imagen de persona con pregunta')
            .e-convergente-functions-box__text
                +title('h2', title).e-title
                p Por ejemplo, si elegiste el siguiente #[span plan en todas tus líneas]
                .e-convergente-functions-box__text__flag
                    p Entel Power Familiar + 74.90
                p Al contratar tus líneas en el mismo plan seleccionado paga en 1 de ellas el cargo fijo completo y  #[b S/ 29.90]  en las #[b demás líneas*.]

        .e-convergente-functions-comparison
            .e-convergente-functions-comparison__before
                h3 #[b Sin] Beneficio Entel Power Familiar
                .e-convergente-functions-comparison__box
                    +comparison_card('Línea 1','Plan Entel Power +','74.90','<b>120 GB ALTA</b> <span class="velocidad">VELOCIDAD +</span>','2022/07/landing-convergente-plan')
                    +comparison_card('Línea 2','Plan Entel Power +','74.90','<b>120 GB ALTA</b> <span class="velocidad">VELOCIDAD +</span>','2022/07/landing-convergente-plan')
                    .e-convergente-functions-comparison__box__total
                        p Pago Total: S/ 149.80
            
            .e-convergente-functions-comparison__center
                include ../../../../assets/img/personas/landing-convergente/2022/02/e-convergente-functions-arrow.svg
                p Ahorra #[span S/ #[b 45.00]]
            .e-convergente-functions-comparison__after
                h3 #[b Con] Beneficio Entel Power Familiar
                .e-convergente-functions-comparison__box
                    +comparison_card('Línea 1','Plan Entel Power Familiar +','<span class="price-adjustment">74.90</span>','<b>120 GB ALTA</b> <span class="velocidad">VELOCIDAD +</span>','2022/07/landing-convergente-plan')
                    +comparison_card('Línea 2','Plan Entel Power Familiar + <span>74.90</span>','S/ 29.90','<b>120 GB ALTA</b> <span class="velocidad">VELOCIDAD +</span>','2022/07/landing-convergente-plan','discount')
                    .e-convergente-functions-comparison__box__total
                        p Pago Total: S/ 104.80
        
        .e-convergente-functions-bottom
            p #[b ¿Necesitas ayuda?] Comunicate con nosotros:
            a(class='e-button e-button--orange entel-data-layer-btn' href='javascript:void(0)' 
            data-gtm-category=landing_name 
            data-gtm-action='Seleccionar boton' 
            data-gtm-label='Boton Llamenme - '+landing_name
            ) 
                include ../../../../assets/img/personas/landing-convergente/2022/02/e-convergente-functions-phone.svg
                | LLÁMENME
            p.small *Máx. 4 líneas contarán con el descuento. El descuento aplicará sobre cualquiera de las líneas del titular.
