.entel-fixed-inbound#e-fixed-ibn
    .entel-fixed-inbound_content
        .inbound-phone
            a(href="tel:080009013")
            .inbound-phone-content
                //- +mx_retina('no-lazy',img_hero+'2021/08/e-inbound-tel-icon','png','Icono Telefono')

        .inbound-whats
            a(href="https://api.whatsapp.com/send?phone=51981002000&text=Hola,%20soy%20cliente%20Entel%20y%20quiero%20contratar%20una%20l%C3%ADnea%20adicional%20Postpago")
            .inbound-whats-content