-
    items = [
        {
            title : {
                prefix: 'Entel power Familiar+',
                plan: 39,
                subfix: '90',
                additional: '34.90',
                total: '74.80',
            },
            gb : {
                amount : '25',
                class : '',
                extra: '<span> GB</span>',
                subfix : 'En alta velocidad'
            },
            apps : {
                text : 'Apps <strong>ilimitadas</strong>',
                namelink : 'Más detalles',
                link: 'e-box-plan__app-39',
                icons : [
                    {
                        icon: 'what',
                        text: 'Whatsapp'
                    },
                    {
                        icon: 'waze',
                        text: 'Waze'
                    },
                    {
                        icon: 'fb',
                        text: 'Facebook'
                    },
                    {
                        icon: 'inst',
                        text: 'Instagram'
                    },
                    {
                        icon: 'msn',
                        text: 'Messengger'
                    },
                    {
                        icon: 'spot',
                        text: 'Spotify'
                    },
                    {
                        icon: 'applem',
                        text: 'Apple Music'
                    }, 
                ]
            },
            flags : {
                text : 'Llamadas <strong>ilimitadas</strong>',
            },
            roaming: {
                title : 'Datos <strong>Roaming</strong>',
                detail : '<strong>Para Colombia, Ecuador y Bolivia:</strong>Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br>Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '<strong>500</strong> SMS',
            month: 'S/ 37.40',
            textmonth: 'c/línea',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24317&modalidad=migra-postpago'
        },
        {
            title : {
                prefix: 'Entel power Familiar+',
                plan: 49,
                subfix: '90',
                additional: '34.90',
                total: '84.80',
            },
            dto : '',
            gb : {
                amount : '35',
                class : '',
                extra: '<span> GB</span>',
                subfix : 'En alta velocidad'
            },
            apps : {
                text : 'Apps <strong>ilimitadas</strong>',
                namelink : 'Más detalles',
                link: 'e-box-plan__app-49',
                icons : [
                    {
                        icon: 'what',
                        text: 'Whatsapp'
                    },
                    {
                        icon: 'waze',
                        text: 'Waze'
                    },
                    {
                        icon: 'fb',
                        text: 'Facebook <br><span>Fotos</span>'
                    },
                    {
                        icon: 'inst',
                        text: 'Instagram <br><span>Fotos</span>'
                    },
                    {
                        icon: 'msn',
                        text: 'Messengger <br><span>Fotos</span>'
                    },
                    //- spot applem 
                ]
            },
            flags : {
                text : 'Llamadas <strong>ilimitadas</strong>',
            },
            roaming: {
                title : 'Datos <strong>Roaming</strong>',
                detail : '<strong>Para Colombia, Ecuador y Bolivia:</strong>Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br>Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '<strong>500</strong> SMS',
            month: 'S/ 42.40',
            textmonth: 'c/línea',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24338&modalidad=migra-postpago'
        },
        {
            title : {
                prefix: 'Entel power Familiar+',
                plan: 55,
                subfix: '90',
                additional: '34.90',
                total: '90.80',
            },
            gb : {
                amount : '50',
                class : '',
                extra: '<span> GB</span>',
                subfix : 'En alta velocidad'
            },
            apps : {
                text : 'Apps <strong>ilimitadas</strong>',
                namelink : 'Más detalles',
                link: 'e-box-plan__app-55',
                icons : [
                    {
                        icon: 'what',
                        text: 'Whatsapp'
                    },
                    {
                        icon: 'waze',
                        text: 'Waze'
                    },
                    {
                        icon: 'fb',
                        text: 'Facebook'
                    },
                    {
                        icon: 'inst',
                        text: 'Instagram'
                    },
                    {
                        icon: 'msn',
                        text: 'Messengger'
                    },
                    {
                        icon: 'spot',
                        text: 'Spotify'
                    },
                    {
                        icon: 'applem',
                        text: 'Apple Music'
                    },
                    //-   
                ]
            },
            flags : {
                text : 'Llamadas <strong>ilimitadas</strong>',
            },
            roaming: {
                title : 'Datos <strong>Roaming</strong>',
                detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong>+ 2.5 GB <br><br><strong>Para Colombia, Ecuador y Bolivia:</strong> Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas. <br><br> Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '<strong>500</strong> SMS',
            month: 'S/ 45.40',
            textmonth: 'c/línea',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24330&modalidad=migra-postpago'
        },
        {
            title : {
                prefix: 'Entel power Familiar+',
                plan: 59,
                subfix: '90',
                additional: '34.90',
                total: '94.80',
            },
            gb : {
                class : '',
                amount : '75',
                extra: '<span> GB</span>',
                subfix : 'En alta velocidad'
            },
            apps : {
                text : 'Apps <strong>ilimitadas</strong>',
                namelink : 'Más detalles',
                link: 'e-box-plan__app-75',
                icons : [
                    {
                        icon: 'what',
                        text: 'Whatsapp'
                    },
                    {
                        icon: 'waze',
                        text: 'Waze'
                    },
                    {
                        icon: 'fb',
                        text: 'Facebook'
                    },
                    {
                        icon: 'inst',
                        text: 'Instagram'
                    },
                    {
                        icon: 'msn',
                        text: 'Messengger'
                    },
                    {
                        icon: 'spot',
                        text: 'Spotify'
                    },
                    {
                        icon: 'applem',
                        text: 'Apple Music'
                    },
                    //-   
                ]
            },
            flags : {
                text : 'Llamadas <strong>ilimitadas</strong>',
            },
            roaming: {
                title : 'Datos <strong>Roaming</strong>',
                detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong>+ 3 GB <br><br><strong>Para Colombia, Ecuador y Bolivia:</strong> Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas. <br><br> Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '<strong>500</strong> SMS',
            month: 'S/ 47.40',
            textmonth: 'c/línea',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24334&modalidad=migra-postpago'
        },
        {
            title : {
                prefix: 'Entel power Familiar+',
                plan: 74,
                subfix: '90',
                additional: '34.90',
                total: '109.80',
            },
            gb : {
                amount : '120',
                extra: '<span> GB</span>',
                subfix : 'En alta velocidad'
            },
            apps : {
                text : 'Apps <strong>ilimitadas</strong>',
                namelink : 'Más detalles',
                link: 'e-box-plan__app-120',
                icons : [
                    {
                        icon: 'what',
                        text: 'Whatsapp'
                    },
                    {
                        icon: 'waze',
                        text: 'Waze'
                    },
                    {
                        icon: 'fb',
                        text: 'Facebook'
                    },
                    {
                        icon: 'inst',
                        text: 'Instagram'
                    },
                    {
                        icon: 'msn',
                        text: 'Messengger'
                    },
                    {
                        icon: 'spot',
                        text: 'Spotify'
                    },
                    {
                        icon: 'applem',
                        text: 'Apple Music'
                    },
                    //-   
                ]
            },
            flags : {
                text : 'Llamadas <strong>ilimitadas</strong>',
            },
            roaming: {
                title : 'Datos <strong>Roaming</strong>',
                detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong>+ 3.5 GB <br><br><strong>Para Colombia, Ecuador y Bolivia:</strong> Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas. <br><br> Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '<strong>500</strong> SMS',
            month: 'S/ 54.90',
            textmonth: 'c/línea',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24332&modalidad=migra-postpago'
        }, 
        {
            title : {
                prefix: 'Entel power Familiar+',
                plan: 89,
                subfix: '90',
                additional: '34.90',
                total: '124.80',
            },
            gb : {
                class : 'small',
                amount : 'Todo ilimitado',
                extra : '',
                subfix : 'Gigas y minutos'
            },
            apps : {
                text : 'Apps <strong>ilimitadas</strong>',
                namelink : 'Más detalles',
                link: 'e-box-plan__app-ili01',
                icons : []
            },
            flags : {
                text : 'Llamadas <strong>ilimitadas</strong>',
            },
            roaming: {
                title : 'Datos <strong>Roaming</strong>',
                detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong> Whatsapp y Waze + 3.5 GB <br><br><strong>Para Colombia, Ecuador y Bolivia:</strong> Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br> Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '<strong>500</strong> SMS',
            month: 'S/ 62.40',
            textmonth: 'c/línea',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24336&modalidad=migra-postpago',
        },
        {
            title : {
                prefix: 'Entel power Familiar+',
                plan: 99,
                subfix: '90',
                additional: '34.90',
                total: '134.80',
            },
            gb : {
                class : 'small',
                amount : 'Todo ilimitado',
                extra : '',
                subfix : 'Gigas y minutos'
            },
            apps : {
                text : 'Apps <strong>ilimitadas</strong>',
                namelink : 'Más detalles',
                link: 'e-box-plan__app-ili02',
                icons : []
            },
            flags : {
                text : 'Llamadas <strong>ilimitadas</strong>',
            },
            roaming: {
                title : 'Datos <strong>Roaming</strong>',
                detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico: </strong> Whatsapp y Waze + 5 GB <br><br><strong>Para Colombia, Ecuador y Bolivia:</strong> Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br> Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '<strong>500</strong> SMS',
            month: 'S/ 67.40',
            textmonth: 'c/línea',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24324&modalidad=migra-postpago',
        },
        {
            title : {
                prefix: 'Entel power Familiar+',
                plan: 129,
                subfix: '90',
                additional: '34.90',
                total: '164.80',
            },
            gb : {
                class : 'small',
                amount : 'Todo ilimitado',
                extra : '',
                subfix : 'Gigas y minutos'
            },
            apps : {
                text : 'Apps <strong>ilimitadas</strong>',
                namelink : 'Más detalles',
                link: 'e-box-plan__app-ili03',
                icons : []
            },
            flags : {
                text : 'Llamadas <strong>ilimitadas</strong>',
            },
            roaming: {
                title : 'Datos <strong>Roaming</strong>',
                detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong> Whatsapp, Waze, Google traductor, Correo, Maps, Tripadvisor y Booking + 8 GB<br><br><strong>Para Colombia, Ecuador y Bolivia:</strong> Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br> Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '<strong>500</strong> SMS',
            month: 'S/ 82.40',
            textmonth: 'c/línea',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_23751&modalidad=migra-postpago',
        },
    ]

section.e-convergente__section.e-convergente-plans#convergente-plans

    .e-container.e-ta-c

        - title = '<strong>¡Conoce los planes familiares!</strong>'
        //- '¿Qué planes aplican <b>para este descuento?</b>'
        +title('h2', title).e-title

        p Contrata hasta 4 líneas adicionales disfrutando de los mismos GB, minutos y características.
        //- ¡Todos nuestros planes Entel Power Familiar. Cónocelos aquí!

        .counter-add
            .min
            .detail 1 Línea adicional 
            .max

        .slider-planesmovil.e-convergente-plans__slider
            each item, index in items
                .slider-planesmovil_item
                    .e-box-plan 
                        .e-box-plan__content
                            //- TITLE
                            - title = item.title.prefix + ' ' + item.title.plan + '.' + item.title.subfix 

                            .e-box-plan__title Plan&nbsp; #[strong !{title}]
                            
                            //-GB
                            h4.e-box-plan__gb 
                                .e-box-plan__gb__amount(class=item.gb.class)
                                    p #{item.gb.amount} !{item.gb.extra}
                                .e-box-plan__gb__subfix
                                    p #{item.gb.subfix}

                            .e-box-plan__prices
                                p Cargo fijo #[strong S/ !{item.title.plan}.!{item.title.subfix}/mes]
                                p Línea adicional #[strong S/ !{item.title.additional}/mes]
                                p Total #[strong.blue S/ !{item.title.total}/mes]

                            //-MONTH
                            .e-box-plan__month 
                                p #[strong #{item.month}] #{item.textmonth}

                            //-APPS
                            .e-box-plan__apps 
                                span !{item.apps.text}

                            //-FLAGS
                            .e-box-plan__flags
                                span !{item.flags.text}

                            //- SMS
                            .e-box-plan__sms 
                                span !{item.sms}
                            
                            //- ROAMING
                            - if (item.roaming)
                                .e-box-plan__roaming 
                                    span !{item.roaming.title} 
                                    a(href='javascript:void(0);' class="js--show-popup-chip-plans" data-id-popup=item.roaming.link) #{item.roaming.namelink}
                            - else
                                .e-box-plan__roaming(class='empty-block')

                        a(href='javascript:void(0);' class="link-blue js--show-popup-chip-plans" data-id-popup=item.apps.link) #{item.apps.namelink}

                        a(href="javascript:void(0)" link="item.urlMiPortal" class="bannerform-call e-button e-button--small e-button-prepago" data-bannerorder=title data-id-popup=item.title.plan ) Lo quiero
                        p.e-box-plan__msn *Sujeto a evaluación crediticia
                    
                        //- .e-box-plan__link
                            a(href=item.urlCatalogo class="entel-data-layer-btn" target="_blank" data-gtm-category="Web Planes Postpago - Home" data-gtm-action="Click" data-gtm-label="Botón - Catálogo Equipos - Home" data-gtm-type="click") Ver equipos con este plan

        //- p.plan-link Todos los planes aplican condiciones ver #[a(href="https://www.entel.pe/celulares-postpago/planes/#legales-planes-entel-power-destino" target="_blank") AQUÍ]

.popup-planesmovil-overlay
each item, index in items
    .popup-planesmovil(data-id-popup=item.apps.link)
        .popup-planesmovil__wrapper
            .popup-planesmovil__close-btn
            .popup-planesmovil__content
                //- TITLE
                - title = item.title.prefix + ' ' + item.title.plan + '.' + item.title.subfix 

                p.popup-planesmovil__content__title Plan #[strong !{title}]
                p.popup-planesmovil__content__subtitle  #[strong #{item.gb.amount} !{item.gb.extra}] #[br]#{item.gb.subfix} 

                if item.apps.icons.length > 0
                    p.popup-planesmovil__content__title 
                        strong.blue Apps ilimitadas
                    .popup-planesmovil__content__icon
                        each app, index in item.apps.icons

                            .e-icon-apps 
                                div.e-icon-apps__box(class="e-icon-apps__" + app.icon)
                                p !{app.text}

                p.popup-planesmovil__content__title 
                    strong.blue Roaming
                .popup-planesmovil__content__text
                    p !{item.roaming.detail}

                div(style='text-align:center')
                    a(href="javascript:void(0);" class="bannerform-call e-button e-button--small e-button-prepago" data-bannerorder=title data-id-popup=item.title.plan) Lo quiero
