section.e-convergente__section.e-convergente-saving

    .e-container

        - title = '¡En familia ahorramos más con las líneas <b>adicionales del plan Entel Power Familiar!</b>'
        +title('h2', title).e-title
        .e-ta-c
            p Al contratar  2 líneas o más en el mismo cargo fijo del plan #[b Entel Power Familiar,]
            p paga en 1 de ellas el cargo fijo completo y #[span.text-1 S/] #[span.text-2 #[b 29].90] en las #[b demás líneas]
            p.text-small *El descuento aplicará sobre cualquiera de las líneas del titular. Máx 4 líneas contarán con el descuento