section.e-convergente__section.e-convergente-tyc

    .e-container

        - title = 'Términos y condiciones'
        +title('h2', title).e-title

        - 
            accordion_list = [
                {
                    'title' : 'Términos y condiciones de descuento de líneas adicionales',
                    'gtm_action' : 'Visualizar contenido – Acordeon informativos',
                    'gtm_label' : 'Términos y condiciones de descuento de líneas adicionales',
                    'gtm_type' : 'click'
                },
                {
                    'title' : 'Condiciones de Planes Entel Power Familiar',
                    'gtm_action' : 'Visualizar contenido – Acordeon informativos',
                    'gtm_label' : 'Condiciones de Planes Entel Power Familiar',
                    'gtm_type' : 'click'
                }
            ]
        
        +accordion('e-yape__items')(class='m-accordion--persons')
            each accordion, index in accordion_list
                +accordion_item(accordion.title)(class='entel-data-layer-toggle'
                    gtmCategory=landing_name
                    gtmAction=accordion.gtm_action
                    gtmLabel=accordion.gtm_label
                )
                    if index === 0
                        include tyc/tyc1
                    if index === 1
                        include tyc/tyc2

