
- title_page = "Entel Landing Convergente | Entel Perú"

include ../../../base/vars
include ../../../mixins/mixins
//- include _mixin

- img_path = '../../../../assets/img/personas/landing-convergente/'

//- script.
//-     var ADMIN_URL = 'http://entest.srburns.pe/wp-admin/admin-ajax.php';

- landing_name = 'Landing Convergente'

+html_template_clear
    include _cintoPopup
    include _banner
    //- include _saving
    //- include _discount
    include _plans
    //- include _functions
    include _faqs
    include _tyc

    include modal/cobertura
    include modal/modal_banner
    include _inbound-fix
    //-include modal/promo_jueves_entel
    //- include modal/modal_success
    //- include modal/modal_error