.entel__slider--home__item__content.entel__slider--home__item__bicentenario_post {
    background-color: $white;
    padding: 0;
    
    background-image: url($m_image_path +'2021/07/banner-bicentenario-liberados-back-mob.png');
    background-position: top center;
    background-repeat: no-repeat;

    @include responsive-width($tablet-m) {
        background-image: url($m_image_path +'2021/07/banner-bicentenario-liberados-back-tab.png');
        background-size: auto;
        background-position: center -70px;
    }

    @include responsive-width($laptop-s) {
        background-image: url($m_image_path +'2021/07/banner-bicentenario-liberados-back-desk.png');
        background-position: center 40px;
    }

    @include responsive-width($laptop-s) {
        background-image: url($m_image_path +'2021/07/banner-bicentenario-liberados-back-big.png');
        background-position: center top;
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1030px !important;
        }

        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &-detail {
            position: absolute;
            left: 50%;
            bottom: 0;

            &:before {
                content: '';
                width: 3000px;
                height: 3000px;
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
    
                @include responsive-width($tablet-m) {
                    background: #00B8EA;

                    -moz-transform: translate(-3938px, 1599px) rotate(-47deg);
                    -webkit-transform: translate(-3938px, 1599px) rotate(-47deg);
                    -o-transform: translate(-3938px, 1599px) rotate(-47deg);
                    -ms-transform: translate(-3938px, 1599px) rotate(-47deg);
                    transform: translate(-3938px, 1599px) rotate(-47deg);
                }
    
                @include responsive-width($laptop-s) {
                    -moz-transform: translate(-4054px, 1599px) rotate(-47deg);
                    -webkit-transform: translate(-4054px, 1599px) rotate(-47deg);
                    -o-transform: translate(-4054px, 1599px) rotate(-47deg);
                    -ms-transform: translate(-4054px, 1599px) rotate(-47deg);
                    transform: translate(-4054px, 1599px) rotate(-47deg);
                }
    
                @include responsive-width($laptop-m) {
                    -moz-transform: translate(-4209px, 1599px) rotate(-47deg);
                    -webkit-transform: translate(-4209px, 1599px) rotate(-47deg);
                    -o-transform: translate(-4209px, 1599px) rotate(-47deg);
                    -ms-transform: translate(-4209px, 1599px) rotate(-47deg);
                    transform: translate(-4209px, 1599px) rotate(-47deg);
                }
            }

            &:after {
                content: '';
                width: 3000px;
                height: 3000px;
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
    
                @include responsive-width($tablet-m) {
                    background: #FF719A;

                    -moz-transform: translate(945px, 1659px) rotate(-41deg);
                    -webkit-transform: translate(945px, 1659px) rotate(-41deg);
                    -o-transform: translate(945px, 1659px) rotate(-41deg);
                    -ms-transform: translate(945px, 1659px) rotate(-41deg);
                    transform: translate(945px, 1659px) rotate(-41deg);
                }
    
                @include responsive-width($laptop-s) {
                    -moz-transform: translate(1062px, 1659px) rotate(-41deg);
                    -webkit-transform: translate(1062px, 1659px) rotate(-41deg);
                    -o-transform: translate(1062px, 1659px) rotate(-41deg);
                    -ms-transform: translate(1062px, 1659px) rotate(-41deg);
                    transform: translate(1062px, 1659px) rotate(-41deg);
                }
    
                @include responsive-width($laptop-m) {
                    -moz-transform: translate(1215px, 1659px) rotate(-41deg);
                    -webkit-transform: translate(1215px, 1659px) rotate(-41deg);
                    -o-transform: translate(1215px, 1659px) rotate(-41deg);
                    -ms-transform: translate(1215px, 1659px) rotate(-41deg);
                    transform: translate(1215px, 1659px) rotate(-41deg);
                }

            }
        }
        
        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 40px 0 0 10px;
            margin: 0;
            width: 100%;
            max-width: 190px;
            // z-index: 3;
            // position: relative;
        
            @include responsive-width($tablet-m) {
                padding: 5px 25px;
                padding-top: 46px;
                padding-left: 60px;
                width: 100%;
                max-width: none;
            }
        
            @include responsive-width($laptop-s) {   
                margin-left: 0px;
                padding-left: 50px;
                padding-top: 42px;
                z-index: 1;
            }

            // @include responsive-width($laptop-m) { 
            //     margin-left: -100px;
            //     // padding-top: 42px;
            // }

            // @include responsive-width($desktop_s) { 
            //     margin-left: -10px;
            //     padding-top: 35px;
            // }

            img {
                position: relative;
                z-index: 2;
                margin: 0;
                margin-bottom: 0px;
        
                @include responsive-width($tablet-m) {
                    width: auto;
                    margin-left: 0;
                }
        
                @include responsive-width($laptop-s) {
                    width: auto;
                    margin-left: 0px;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-left: 0;
                }
            }

            &-detail {
                position: absolute;
                left: 50%;
                top: 0;
            }

            form {
                z-index: 5;
                text-align: left;
                position: relative;
                margin-top: 14px;

                @include responsive-width($tablet-m) {
                    margin-top: 15px;
                }

                @include responsive-width($laptop-s) {
                    margin-top: 10px;
                }
                

                .form--content {    
                    width: 172px;
                    text-align: left;
                    margin: 0;

                    @include responsive-width($tablet-m) {
                        width: auto;
                        text-align: left;
                    }

                    .form--head {
                        p {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 14px;
                            text-align: left;
                            color: $blue;
                            margin: 0px;

                            span {
                                font-weight: 400;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 19px;
                                line-height: 19px;
                            }
                        }
                        
                        h2 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 20px;
                            text-align: left;
                            text-transform: uppercase;
                            color: #00B9EB;
                            margin: 4px 0px 5px;

                            @include responsive-width($tablet-m) {
                                font-size: 34px;
                                line-height: 30px;
                                margin: 6px 0px 11px;
                            }
                        }

                        h3 {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: left;
                            color: $blue;
                            margin: 0px 0px 5px;

                            @include responsive-width($tablet-m) {
                                color: $white;
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }

                            strong {
                                font-weight: bold;
                            }
                        }
                    }

                    .form--body {
                        p {
                            color: $blue;
                            margin: 0 0 10px 0;
                            font-weight: normal;
                            text-align: left;
                            font-size: 11px;
                        
                            @include responsive-width($tablet-m) {
                                font-size: 14px;
                                color: $blue;
                            }
    
                        }
                        .form--number {
                            position: relative;
                            margin-bottom: 14px;

                            @include responsive-width($tablet-m) {
                                margin-bottom: 10px;
                            }

                            span {
                                left: 9px;
                                top: 10px;

                                @include responsive-width($tablet-m) {
                                    top: 10px;
                                }

                                span {
                                    font-size: 10px;
                                    color: $extra_dark_gray;
                                    padding: 0 3px;
                                    transition: all 0.3s ease;

                                    @include responsive-width($tablet-m) {
                                        font-size: 12px;
                                    }
                                }
                            }

                            input {
                                box-sizing: border-box;
                                border-radius: 7.3332px;
                                width: 100%;
                                height: 44px;
                                padding: 14px 10px 6px;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                align-items: center;
                                letter-spacing: 0.0015em;
                                color: $extra_light_black;
                                background-color: $white;
                                border: 2px solid #9E9FA1;

                                @include responsive-width($tablet-m) {
                                    width: 217px;
                                    height: 51px;
                                    font-size: 14px;
                                    line-height: 17px;
                                }

                                &:placeholder-shown + span {
                                    top: 20px;

                                    @include responsive-width($tablet-m) {
                                        top: 22px;
                                    }

                                    span {
                                        font-size: 11px;

                                        @include responsive-width($tablet-m) {
                                            font-size: 14px;
                                        }
                                    }
                                }

                                &:focus{
                                    border-color: $extra_blue;
                                }

                                &:focus + span {
                                    top: 10px;

                                    @include responsive-width($tablet-m) {
                                        top: 10px;
                                    }

                                    span {
                                        font-size: 10px;
                                        color: $extra_blue;

                                        @include responsive-width($tablet-m) {
                                            font-size: 12px;
                                        }
                                    }
                                }

                                &.error {
                                    border-color: $pink !important;
                                }

                                &.error::placeholder {
                                    color: $pink !important;
                                }

                                &.error + span {
                                    span {
                                        color: $pink;
                                    }
                                }
                            }
                        }

                        .form--check{
                            display: flex;
                            align-items: center;

                            input {
                                display: none;
                            }

                            .input-mask-top{
                                width: 20px;
                                height: 20px;
                                border: 2px solid $orange;
                                box-sizing: border-box;
                                border-radius: 4.58325px;
                                margin-top: 2px;
                                background: $white;
                                position: relative;

                                @include responsive-width($tablet-m) {
                                    width: 18px;
                                    height: 18px;
                                }

                                &.error {
                                    border-color:#f10101;
                                    // background: #ffffff;
                                    &::after {
                                        border-color: transparent;
                                    }
                                }

                                &::after{
                                    content: "";
                                    left: 6px;
                                    top: 2px;
                                    width: 5px;
                                    height: 10px;
                                    border: solid $orange;
                                    border-width: 0px 2px 2px 0px;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                    position: absolute;

                                    @include responsive-width($tablet-m) {
                                        left: 5px;
                                        top: 1px;
                                    }

                                    @include responsive-width($laptop-m) {
                                        left: 5px;
                                        top: 1px;
                                    }
                                }
                            }

                            a {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 10px;
                                line-height: 15px;
                                color: $blue;
                                margin-left: 5px;

                                @include responsive-width($tablet-m) {
                                    color: $blue;
                                }

                                span {
                                    font-size: 9px;
                                    font-weight: bold;
                                    text-decoration: underline;
                                }
                            }
                        }

                        button {
                            background-color: $orange;
                            border-radius: 45.8325px;
                            color: #ffffff;
                            cursor: pointer;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 1px;
                            text-align: center;
                            padding: 15px 5px;
                            text-transform: uppercase;
                            margin-top: 25px;
                            border: 0px;
                            width: 126px;
                            height: 40px;
                            display: block;
                            // margin-left: 36px;

                            @include responsive-width($tablet-m) {
                                margin-top: 15px;
                                margin-left: 0px;
                                width: 142px;
                                height: 46px;
                                font-size: 13px;
                                line-height: 4px;
                            }

                            @include responsive-width($laptop-m) {
                                padding: 15px 28px;
                                width: 142px;
                                height: 46px;
                                font-size: 13px;
                                line-height: 4px;
                            }
                        }
                    }

                    .form--loading{
                        display: none;
                        padding: 25px 25px 0px;
                        // background: $blue;
                        height: 122px;
                        width: 160px;
                        margin-top: 0;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            // background: $blue;
                            // margin-top: -31px;    
                            width: 190px;
                            height: 180px;
                        }

                        img {
                            animation: rotating 2s linear infinite;
                            width: 70px;
                            display: inline-block;

                            @keyframes rotating {
                                from {
                                    transform: rotate(0deg);
                                }
                                to {
                                    transform: rotate(360deg);
                                }
                            }

                            @include responsive-width($tablet-m) {
                                width: 100px;
                            }
                        }

                    }

                    .form--thanks {
                        display: none;
                        // background: $blue;
                        height: 122px;
                        width: 160px;
                        margin-top: 0;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            // background: $blue;
                            // margin-top: -31px;
                            width: 190px;
                            height: 180px;
                        }

                        img {
                            margin-bottom: 5px;
                            @include responsive-width($tablet-m) {
                                margin-bottom: 0px;
                            }
                        }

                        p, span {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: center;
                            color: $blue;

                            @include responsive-width($tablet-m) {
                                color: $blue;
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }
                        }
                    }

                    .form--duplicate {
                        display: none;
                        padding-top: 15px;
                        // background: $blue;
                        height: 122px;
                        width: 160px;
                        margin-top: 0;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            // background: $blue;
                            // margin-top: -31px;
                            width: 190px;
                            height: 180px;
                        }

                        p{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $blue;

                            @include responsive-width($tablet-m) {
                                color: $blue;
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                    }

                    .form--error {
                        display: none;
                        // background: $blue;
                        height: 113px;
                        width: 160px;
                        margin-top: 0;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            // background: $blue;
                            // margin-top: -31px;
                            width: 190px;
                            height: 180px;
                        }

                        p {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $blue;

                            @include responsive-width($tablet-m) {
                                color: $blue;
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                    }

                    .form--callback {
                        margin-top: 2px;

                        @include responsive-width($tablet-m) {
                            margin-top: 8px;
                        }

                        p {
                            margin: 0px;
                            font-size: 10px;
                            line-height: 11px;
                            font-style: normal;
                            font-weight: normal;

                            a {
                                color: #004FB9;
                                text-decoration: underline;
                                font-weight: bold;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }
                    }
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 auto 0;
            width: 100%;
            text-align: right;
            position: absolute;
            top: 10px;
            z-index: 4;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: auto;
                bottom: 0;
                right: 60px;
                width: auto;
                z-index: 3;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            
            @include responsive-width($laptop-s) {    
                bottom: 0;
                right: 0;
            }
        
            @include responsive-width($laptop-m) {
                bottom: 0;
                right: 0;
            }
            &-dscto {
                left: 60%;
                z-index: -1;
                top: 108px;
                width: 123px;
                height: 58px;
                position: absolute;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='123' height='58' viewBox='0 0 123 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.2822 12.9382C0.604143 9.33576 3.26209 5.96352 6.92326 5.78117L113.604 0.467961C118.529 0.222665 122.501 4.44844 121.952 9.34903L117.458 49.4501C116.922 54.2331 112.718 57.7479 107.916 57.4278L11.973 51.0329C9.87414 50.893 8.13578 49.3509 7.74669 47.2837L1.2822 12.9382Z' fill='%2300B8EA'/%3E%3C/svg%3E");
                @media (min-width: $tablet_m){
                    width: 176px;
                    height: 89px;
                    bottom: 79px;
                    top: auto;
                    left: 0%;
                    z-index: 2;
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='176' height='89' viewBox='0 0 176 89' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.711416 21.6954C-0.201607 16.8506 3.29865 12.2877 8.21449 11.9143L155.149 0.75402C167.137 -0.156482 176.993 10.0673 175.644 22.0135L169.744 74.2643C168.751 83.0642 161.004 89.5215 152.169 88.9144L16.4245 79.5864C13.5585 79.3894 11.1871 77.2818 10.6551 74.4587L0.711416 21.6954Z' fill='%2300B8EA'/%3E%3C/svg%3E");
                }
        
                @include responsive-width($laptop_s) {
                    width: 198px;
                    height: 84px;
                    bottom: 63px;
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='198' height='84' viewBox='0 0 198 84' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.00796 21.0388C-0.0453435 16.3834 3.31747 11.8908 8.08108 11.5894L178.122 0.831552C189.438 0.115615 198.578 9.93473 197.055 21.1708L190.405 70.2281C189.317 78.2534 182.237 84.0902 174.152 83.6274L17.5312 74.6626C14.8974 74.5119 12.6817 72.6353 12.0996 70.0622L1.00796 21.0388Z' fill='%2300B8EA'/%3E%3C/svg%3E");
                }

                @include responsive-width($desktop_s) {
                    bottom: 58px;                }

                p {
                    // font-weight: 300;
                    color: $white;
                    font-size: 11px;
                    line-height: 12px;
                    padding: 16px 14px;
                    text-align: left;
                    @media (min-width: $tablet-m){
                        font-size: 15.2984px;
                        line-height: 17px;
                        padding: 29px 22px;
                    }
                    @media (min-width: $laptop-s){
                        font-size: 18px;
                        line-height: 20px;
                        padding: 22px 14px 23px 26px;
                    }
                }
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: -47px;
                margin-top: -4px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;    
                    margin-right: -45px;
                    margin-top: 0px;
                }
        
                @include responsive-width($laptop-s) {
                    // width: 740px;
                    margin-right: 0;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-right: 0;
                }

                // @include responsive-width($desktop_s) {
                //     margin-right: -45px;
                // }
            }
        }

        .e-button {

            &-buy {    
                margin-top: -22px;
                position: relative;
                z-index: 2;
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
                    width: 140px;
                    @include responsive-width($tablet-m) {
                        width: 150px;
                        font-size: 12px;
                        margin-left: 40px;
                        margin-top: 30px;
                        // margin-top: 58px;
                    }
            
                    @include responsive-width($laptop-s) {
                        margin-top: 30px;
                        margin-left: 30px;
                    }
            
                    @include responsive-width($laptop-m) {
                        margin-top: 30px;
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: right;
            letter-spacing: -0.05em;
            z-index: 4;

            &__mob {
                padding-left: 10px;
                margin: 7px auto 0;
                text-align: left;
                padding-right: 15px;
                bottom: 23px;
                
                @include responsive-width($tablet-m) {
                    width: 460px;
                    bottom: 50px;
                    padding-left: 60px;
                }
                
                @include responsive-width($laptop-s) {
                    display: none;
                }
            }

            &__desk {
                display: none;

                @include responsive-width($laptop-s) {
                    font-size: 9px;
                    display: block;
                    max-width: 910px;
                    right: auto;
                    left: 50px;
                    bottom: 10px;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                }
    
                @include responsive-width($laptop-m) {
                    display: block;
                    max-width: 1015px;
                    left: 46px;
                    bottom: 10px;
                }
            }

            a {
                color: $extra_dark_gray;
                text-decoration: none;
            }
        }
    }
}