.entel__slider--home__item__content.entel__slider--home__item__bicentenario_liberados {
    background-color: $blue;
    padding: 0;
    
    // @include responsive-width($mobile_m) {
    // background-image: url($m_image_path +'2022/07/banner-lib-bicentenario-bg-mob.png');
    // background-position: top center;
    // background-size: 100%;
    // background-repeat: no-repeat;
    // background-size: 314px;
    // }
    // @include responsive-width($tablet-m) {
    //     background-image: url($m_image_path +'2022/07/banner-lib-bicentenario-bg-tab.png');
    //     background-size: auto;
    //     background-position: center 0px;
    // }

    // @include responsive-width($laptop-s) {
    //     background-image: url($m_image_path +'2022/07/banner-lib-bicentenario-bg-desk.png');
    //     // background-size: auto;
    //     background-position: center 40px;
    // }

    // @include responsive-width($laptop-s) {
    //     background-image: url($m_image_path +'2022/07/banner-lib-bicentenario-bg-big.png');
    //     // background-size: auto;
    //     background-position: center top;
    // }
    
    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1030px !important;
        }

        @include responsive-width($laptop-m) {
            max-width: 1000px !important;
        }
        
        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 71px 0 0 20px;
            margin: 0;
            width: 100%;
            max-width: 100%;
            // z-index: 3;
            // position: relative;
        
            @include responsive-width($tablet-m) {
                padding: 5px 25px;
                padding-top: 60px;
                padding-left: 117px;
                width: 100%;
                max-width: none;
            }
        
            @include responsive-width($laptop-s) {   
                margin-left: 0px;
                padding-left: 70px;
                padding-top: 70px;
                z-index: 1;
            }

            @include responsive-width($laptop-m) { 
                padding-left: 124px;
                margin-left: -78px;
            }

            img {
                position: relative;
                z-index: 2;
                margin-bottom: 0px;
        
                @include responsive-width($tablet-m) {
                    width: auto;
                    margin: 20px;
                    margin-left: 0;
                }
        
                @include responsive-width($laptop-s) {
                    width: auto;
                    margin: 20px;
                    margin-left: 0;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin: 20px;
                    margin-left: 0;
                }
            }

            &-detail {
                position: absolute;
                left: 50%;
                top: 0;
            }

            form {
                z-index: 5;
                text-align: left;
                position: relative;
                margin-top: 8px;

                @include responsive-width($tablet-m) {
                    margin-top: 15px;
                }

                @include responsive-width($laptop-s) {
                    margin-top: 10px;
                }
                

                .form--content {    
                    width: 172px;
                    text-align: left;
                    margin: auto;

                    @include responsive-width($tablet-m) {
                        text-align: left;
                        margin: 0;
                        width: 255px;
                    }

                    @include responsive-width($laptop-s) {
                        margin: 0;
                        width: 255px;
                    }

                    .form--head {
                        p {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 14px;
                            text-align: left;
                            color: #004CC1;
                            margin: 0px;

                            span {
                                font-weight: 400;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 19px;
                                line-height: 19px;
                            }
                        }
                        
                        h2 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 20px;
                            text-align: left;
                            text-transform: uppercase;
                            color: #00B9EB;
                            margin: 4px 0px 5px;

                            @include responsive-width($tablet-m) {
                                font-size: 34px;
                                line-height: 30px;
                                margin: 6px 0px 11px;
                            }
                        }

                        h3 {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: left;
                            color: $blue;
                            margin: 0px 0px 5px;

                            @include responsive-width($tablet-m) {
                                color: $white;
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }

                            strong {
                                font-weight: bold;
                            }
                        }
                    }

                    .form--body {
                        p {
                            color: #383c47;
                            margin: 0 0 5px 0;
                            font-weight: normal;
                            text-align: left;
                            font-size: 12px;
                        
                            @include responsive-width($tablet-m) {
                                font-size: 14px;
                                color: $white;
                            }
    
                        }
                        .form--number {
                            position: relative;
                            margin-bottom: 4px;

                            @include responsive-width($tablet-m) {
                                margin-bottom: 10px;
                            }

                            span {
                                left: 9px;
                                top: 10px;

                                @include responsive-width($tablet-m) {
                                    top: 10px;
                                }

                                span {
                                    font-size: 10px;
                                    color: $extra_dark_gray;
                                    padding: 0 3px;
                                    transition: all 0.3s ease;

                                    @include responsive-width($tablet-m) {
                                        font-size: 12px;
                                    }
                                }
                            }

                            input {
                                box-sizing: border-box;
                                border-radius: 7.3332px;
                                width: 100%;
                                height: 44px;
                                padding: 14px 10px 6px;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                align-items: center;
                                letter-spacing: 0.0015em;
                                color: $extra_light_black;
                                background-color: $white;
                                border: 2px solid $white;

                                @include responsive-width($tablet-m) {
                                    width: 217px;
                                    height: 51px;
                                    font-size: 14px;
                                    line-height: 17px;
                                }

                                &:placeholder-shown + span {
                                    top: 20px;

                                    @include responsive-width($tablet-m) {
                                        top: 22px;
                                    }

                                    span {
                                        font-size: 11px;

                                        @include responsive-width($tablet-m) {
                                            font-size: 14px;
                                        }
                                    }
                                }

                                &:focus{
                                    border-color: $extra_blue;
                                }

                                &:focus + span {
                                    top: 10px;

                                    @include responsive-width($tablet-m) {
                                        top: 10px;
                                    }

                                    span {
                                        font-size: 10px;
                                        color: $extra_blue;

                                        @include responsive-width($tablet-m) {
                                            font-size: 12px;
                                        }
                                    }
                                }

                                &.error {
                                    border-color: $pink !important;
                                }

                                &.error::placeholder {
                                    color: $pink !important;
                                }

                                &.error + span {
                                    span {
                                        color: $pink;
                                    }
                                }
                            }
                        }

                        .form--check{
                            display: flex;
                            align-items: center;

                            input {
                                display: none;
                            }

                            .input-mask-top{
                                width: 14px;
                                height: 14px;
                                border: 2px solid #FF560A;
                                box-sizing: border-box;
                                border-radius: 4.58325px;
                                margin-top: 2px;
                                background: #FF560A;
                                position: relative;

                                @include responsive-width($tablet-m) {
                                    width: 18px;
                                    height: 18px;
                                }

                                &.error {
                                    border-color:#f10101;
                                    background: #ffffff;
                                }

                                &::after{
                                    content: "";
                                    left: 3px;
                                    top: 0px;
                                    width: 4px;
                                    height: 9px;
                                    border: solid white;
                                    border-width: 0px 2px 2px 0px;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                    position: absolute;

                                    @include responsive-width($tablet-m) {
                                        left: 5px;
                                        top: 1px;
                                    }

                                    @include responsive-width($laptop-m) {
                                        left: 5px;
                                        top: 1px;
                                    }
                                }
                            }

                            a {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 8px;
                                line-height: 15px;
                                color: $white;
                                margin-left: 5px;

                                @include responsive-width($tablet-m) {
                                    color: $white;
                                    font-size: 14px;
                                }

                                @include responsive-width($laptop-m) {
                                    font-size: 14px;
                                }

                                span {
                                    font-weight: bold;
                                    text-decoration: underline;
                                }
                            }
                        }

                        button {
                            background-color: $orange;
                            border-radius: 45.8325px;
                            color: #ffffff;
                            cursor: pointer;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 1px;
                            text-align: center;
                            padding: 15px 5px;
                            text-transform: uppercase;
                            margin: auto;
                            margin-top: 8px;
                            border: 0px;
                            width: 126px;
                            height: 34px;
                            display: block;
                            // margin-left: 36px;

                            @include responsive-width($tablet-m) {
                                margin-top: 15px;
                                margin-left: 0px;
                                width: 142px;
                                height: 46px;
                                font-size: 13px;
                                line-height: 4px;
                            }

                            @include responsive-width($laptop-m) {
                                padding: 15px 28px;
                                width: 142px;
                                height: 46px;
                                font-size: 13px;
                                line-height: 4px;
                            }
                        }
                    }

                    .form--loading{
                        display: none;
                        padding: 25px 25px 0px;
                        // background: $blue;
                        height: 122px;
                        width: 160px;
                        margin-top: 0;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            // background: $blue;
                            // margin-top: -31px;    
                            width: 190px;
                            height: 180px;
                        }

                        img {
                            animation: rotating 2s linear infinite;
                            width: 70px;
                            display: inline-block;

                            @keyframes rotating {
                                from {
                                    transform: rotate(0deg);
                                }
                                to {
                                    transform: rotate(360deg);
                                }
                            }

                            @include responsive-width($tablet-m) {
                                width: 100px;
                            }
                        }

                    }

                    .form--thanks {
                        display: none;
                        // background: $blue;
                        height: 122px;
                        width: 160px;
                        margin-top: 0;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            // background: $blue;
                            // margin-top: -31px;
                            width: 190px;
                            height: 180px;
                        }

                        img {
                            margin-bottom: 5px;
                            @include responsive-width($tablet-m) {
                                margin-bottom: 0px;
                            }
                        }

                        p, span {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: center;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                color: $white;
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }
                        }
                    }

                    .form--duplicate {
                        display: none;
                        padding-top: 15px;
                        // background: $blue;
                        height: 122px;
                        width: 160px;
                        margin-top: 0;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            // background: $blue;
                            // margin-top: -31px;
                            width: 190px;
                            height: 180px;
                        }

                        p{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                color: $white;
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                    }

                    .form--error {
                        display: none;
                        // background: $blue;
                        height: 113px;
                        width: 160px;
                        margin-top: 0;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            // background: $blue;
                            // margin-top: -31px;
                            width: 190px;
                            height: 180px;
                        }

                        p {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                color: $white;
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                    }

                    .form--callback {
                        margin-top: 2px;

                        @include responsive-width($tablet-m) {
                            margin-top: 8px;
                        }

                        p {
                            margin: 0px;
                            font-size: 10px;
                            line-height: 11px;
                            font-style: normal;
                            font-weight: normal;

                            a {
                                color: #004FB9;
                                text-decoration: underline;
                                font-weight: bold;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }
                    }
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 auto 0;
            width: 100%;
            text-align: right;
            position: absolute;
            top: auto;
            bottom: 0px;
            left: 0;
            z-index: 4;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: auto;
                bottom: 0px;
                right: 0px;
                width: auto;
                z-index: 3;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            
            @include responsive-width($laptop-s) {
                bottom: 0px;
                right: 40px;
            }
        
            @include responsive-width($laptop-m) {
                bottom: 0px;
                right: -20px;
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 0px;
                margin-top: 10px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                }
        
                @include responsive-width($laptop-s) {
                    // width: 740px;
                    margin-right: 0;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                }

                // @include responsive-width($desktop_s) {
                //     margin-right: -45px;
                // }
            }

            &-detail {
                position: absolute;
                left: 50%;
                bottom: 0;

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 3000px;
                    height: 3000px;
                    background-color: $white;
                    -webkit-border-radius: 39px;
                    -moz-border-radius: 39px;
                    border-radius: 39px;
                    -moz-transform: rotate(-4deg) skew(0deg) translate(120px, -167px);
                    -webkit-transform: rotate(-4deg) skew(0deg) translate(120px, -167px);
                    -o-transform: rotate(-4deg) skew(0deg) translate(120px, -167px);
                    -ms-transform: rotate(-4deg) skew(0deg) translate(120px, -167px);
                    transform: rotate(-4deg) skew(0deg) translate(120px, -167px);

                    
                    @include responsive-width($tablet-m) {
                        display: none;
                    }
                }
            }
        }

        .e-button {

            &-buy {    
                margin-top: 0;
                position: relative;
                z-index: 5;
                bottom: -8px;
                
                @include responsive-width($tablet-m) {
                    bottom: 0;
                }
        
                @include responsive-width($laptop-s) {
                    bottom: 2px;
                }

                .btn-buy {
                    height: 40px;
                    margin-left: 0;
                    padding: 7px 15px;
                    font-size: 12px;
                    line-height: 18px;
                    width: 126px;
                    background-color: $orange;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 0;
                        margin-top: 0px;
                        width: 186px;
                    }
            
                    @include responsive-width($laptop-s) {
                        width: 176px;
                        height: 50px;
                        font-size: 14px;
                        line-height: 30px;
                        margin-top: 0px;
                    }
            
                    @include responsive-width($laptop-m) {
                        width: 176px;
                        font-size: 14px;
                        line-height: 30px;
                        margin-top: 0px;
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;

            &__mob {
                padding-left: 52px;
                margin: 0;
                bottom: 12px;
                text-align: left;
                @include responsive-width($tablet-m) {
                    text-align: left;
                    width: 100%;
                    padding: 0;
                    bottom: 16px;
                    padding-left: 110px;
                }
                
                @include responsive-width($laptop-s) {
                    bottom: 20px;
                    padding-left: 70px;
                }
                @include responsive-width($laptop-m) {
                    padding-left: 52px; 
                }

            }

            // &__desk {
            //     display: none;
                
            //     @include responsive-width($tablet-m) {
            //         font-size: 10px;
            //         max-width: 644px;
            //         right: auto;
            //         left: 50px;
            //         bottom: 10px;
            //         padding: 0;
            //         margin: 0;
            //         text-align: center;
            //     }

            //     @include responsive-width($laptop-s) {
            //         bottom: 10px;
            //         max-width: 930px;
            //         left: 37px;
            //         display: block;
            //     }
    
            //     @include responsive-width($laptop-m) {
            //         display: block;
            //         max-width: 100%;
            //         left: 0;
            //         bottom: 15px;
            //     }
            // }

            a {
                color: $extra_dark_gray;
                text-decoration: underline;
            }
        }
    }
}