.equifax {
  width: 100%;
  height: auto;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 0px;
  background-image: m_image_url("2023/02/equifax-cintillo-home-bg-mob.png");
  background-repeat: no-repeat;
  background-size: 360px 100%;
  background-position: center;

  @include backgound_retina {
    background-image: m_image_url(
      "2023/02/equifax-cintillo-home-bg-mob@2x.png"
    );
  }

  @include responsive-width($tablet_m) {
    background-size: 768px 100%;
    background-image: m_image_url("2023/02/equifax-cintillo-home-bg-tab.png");

    @include backgound_retina {
      background-image: m_image_url(
        "2023/02/equifax-cintillo-home-bg-tab@2x.png"
      );
    }
  }

  @include responsive-width($laptop_s) {
    background-size: 1920px 100%;
    background-image: m_image_url("2023/02/equifax-cintillo-home-bg-desk.png");

    @include backgound_retina {
      background-image: m_image_url(
        "2023/02/equifax-cintillo-home-bg-desk@2x.png"
      );
    }
  }

  .box-tecnology {
    display: flex;
    margin: 0 auto;
    padding: 0px;
    justify-content: center;
    align-items: center;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 100%;
      display: inline-block;
      z-index: -1;
    }
    &::before {
      background-color: #e6fffa;
      right: 100%;
    }

    &::after {
      background-color: #fef4f3;
      left: 100%;
    }

    @include responsive-width($tablet_m) {
      padding-left: 65px;
      padding-right: 65px;
    }
    @include responsive-width($laptop_s) {
      padding-left: 0px;
      padding-right: 0px;
      min-width: 1920px;
    }

    &__image {
      width: auto;
      flex-shrink: 0;
      position: relative;
      margin-right: 10px;

      img {
        -webkit-animation: beat 3s infinite;
        animation: beat 3s infinite;
      }

      .picture-view {
        position: absolute;
        left: 7px;
        top: -5px;
        opacity: 0;
        animation: laptop-view 6s linear infinite;

        &,
        img {
          max-width: inherit;
        }

        &-1 {
          // opacity: 1;
        }

        &-2 {
          animation: laptop-view 6s linear infinite 3s;
        }
      }

      .picture-base {
        position: absolute;
        left: -61px;
        bottom: -23px;
        z-index: -1;

        &,
        img {
          max-width: inherit;
        }
      }
    }

    &__text {
      width: 130px;
      max-width: 100%;
      flex-shrink: 0;
      padding-left: 5px;
      padding-right: 5px;

      @include responsive-width(360px) {
        width: auto;
        flex-shrink: 1;
        width: 172px;
        padding-left: 20px;
        padding-right: 20px;
      }

      // @include responsive-width($mobile_l) {
      //   width: 185px;
      // }

      @include responsive-width($tablet_m) {
        padding-left: 20px;
        padding-right: 15px;
        width: 395px;
      }

      @include responsive-width($laptop_s) {
        width: 700px;
        padding-left: 20px;
        padding-right: 0px;
      }

      p {
        color: $black;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: -0.03em;
        margin-bottom: 0;
        .orange {
          color: #ff3d00;
          @include responsive-width($tablet_m) {
            font-size: 20px;
            font-weight: 700;
          }
        }

        @include responsive-width($tablet_m) {
          font-size: 16px;
        }

        @include responsive-width($laptop_s) {
          font-size: 20px;
        }

        @include responsive-width($laptop_m) {
          font-size: 18px;
        }

        b {
          color: #004fb9;
          font-weight: bold;
        }

        br {
          display: none;

          @include responsive-width(360px) {
            display: inline-block;
          }

          @include responsive-width($laptop_s) {
            display: none;
          }
        }
      }
    }

    &__button {
      margin-left: 0;
      a {
        display: inline-block;
        min-width: 90px;
        padding: 7px 5px;
        min-width: 90px;
        font-size: 8px;
        border-color: #002eff !important;
        position: relative;
        height: 30px;
        @include responsive-width($tablet_m) {
          height: 40px;
        }

        &:hover {
          background-color: #002eff !important;
          &::before {
            color: #fff;
          }
        }

        &::before {
          content: "REGISTRATE";
          color: #002eff;
          font-size: 12px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          // text-decoration: underline;
          text-transform: uppercase;
          font-weight: 700;
          // font-size: 11px;
          line-height: 18px;
          width: 64px;

          @include responsive-width($tablet_m) {
            content: "REGISTRATE";
            text-decoration: none;
            width: 100%;
            font-weight: 700;
            width: 96px;
          }
        }
        @include responsive-width($tablet_m) {
          min-width: 130px;
          font-size: 12px;
        }
        @include responsive-width($laptop_s) {
          min-width: 145px;
          margin-left: 70px;
        }
      }
    }
  }

  @keyframes bg-white {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -51px;
    }
  }

  @keyframes bg-blue {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -46px;
    }
  }

  @keyframes laptop-view {
    0% {
      transform: scale(0.4);
      opacity: 0;
    }

    10% {
      transform: scale(1);
      opacity: 1;
    }

    40% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(0.8);
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }
}
