.e-slider-chip-power-5g {
  position: relative;
  background-image: m_image_url("2021/08/e-slider-chip-power-5g-bg-mob.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
  @include responsive-width($tablet-m) {
    background-image: m_image_url("2021/08/e-slider-chip-power-5g-bg-desk.png");
    @include backgound_retina {
      background-image: m_image_url(
        "2021/08/e-slider-chip-power-5g-bg-desk@2x.png"
      );
    }
  }
  &-btn {
    position: absolute;
    top: 75%;
    left: inherit;
    transform: translate(-50%, -50%);
    @include responsive-width($tablet-ll) {
      top: 55%;
      right: 75%;
    }
  }
  .m-w-1042 {
    max-width: 1042px;
    margin: 0 auto !important;
  }
  .container-flex {
    display: flex;
  }
  .f-d-c-r {
    flex-direction: column-reverse;
  }
  .p-a {
    position: absolute;
  }
  .p-r {
    position: relative;
  }
  .flex-center {
    justify-content: center;
    align-content: center;
    align-items: flex-start;
  }
  .p-l-1 {
    padding-left: 1rem;
  }
  .f-d-r-r-tll {
    @include responsive-width($tablet-ll) {
      flex-direction: row;
    }
  }
  .a-i-c-tll {
    @include responsive-width($tablet-ll) {
      align-items: center;
    }
  }
  .m-o-10 {
    margin: 0 10px;
  }
}
