.entel__slider--home__item(data-entel-slide-index='2' data-entel-slide-time='8000' data-layer-id='Entel_Migra_Post' data-layer-name='Migra con 20% de dscto' data-layer-position='Home - Banner Superior 1' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago&_ga=2.74499026.1545966670.1601923930-1719534366.1591052647')
    //- para formulario normal usar clase .entel__slider--home__item__form-navidad
    .entel__slider--home__item__content.entel__slider--home__item__form-navidad02
     
        .principalcontent
            //- +mx_picture_retina('principalcontent__textbanner-banderas', img_path + '2020/12/equipos-form-banderas', 'png', 'banderas')
            .principalcontent__textbanner 
                .principalcontent__textbanner-detail
                +mx_picture_retina('title', img_path + '2021/03/prod-form-migra-v2-tit', 'png', 'Migra o renueva desde casa Delivery Gratis en 24 hrs!')
                
                //- p Déjanos tu número y #[b te llamaremos]
                form#banner-form-catalogo
                    .form--content
                        .form--head
                            //- p Migra 
                            //-     span llamando al
                            //- h2 0800-09001
                            h3 o déjanos tu número y te llamamos!
                        .form--body
                            .form--number
                                input.validonlynumeric(type='tel' placeholder='Número de celular' maxlength='9' name='form_lead_phone' autocomplete='on')
                            .form--check
                                input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                .input-mask-top
                                label(for='checkt')
                                    a(href='https://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')
                                        | Declaro haber leído la 
                                        span política de privacidad
                            button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='form superior' data-gtm-category='catalogo' data-gtm-label='Te llamamos') te llamamos
                            //- .form--callback
                                p Si ya eres cliente Entel haz clic #[a(href="https://www.entel.pe") aquí].
                        .form--loading
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" alt="loading">
                            <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" alt="loading">
                            
                        .form--duplicate
                            p ¡Hola! Ya contamos con tu número. 
                            p Estate atento a nuestra pronta llamada.
                        .form--error
                            <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" alt="Entel">
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" alt="Entel">
                            p ¡Gracias por registrarte! 
                            //- p Lo sentimos Ocurrió un error
                            //- p al procesar tus datos.
                        .form--thanks
                            <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" alt="Entel">
                            p ¡Gracias por confiar 
                                span  en nosotros!

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                +mx_picture_retina_all('', img_path + '2021/03/prod-form-migra-v3', 'png', 'Exclusivo Online Postpago Migra en entel.pe y ten 20% dscto* En Planes desde Entel Chip 49.90 Plus por 6 meses')

            //- .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago' target="_blank") Lo quiero

            small.e-legal-small Promoción válida hasta el 05/04/2021 para personas naturales o RUC10 que contraten con portabilidad una línea postpago desde plan Entel Chip 49.90 Plus exclusivo por #[a(href="https://www.entel.pe" style='color:#ffffff') Entel.pe] o Televentas. Descuento del 20% aplica solo sobre el cargo fijo del plan y será válido por los 6 primeros meses desde la contratación (no incluye el prorrateo). No es acumulable con otras promociones de descuento de cargo fijo. Planes Entel Power no disponibles en Iquitos. Condiciones y restricciones: #[a(href="https://www.entel.pe" style='color:#ffffff') www.entel.pe]
            
            //- Promoción válida hasta e 15/03/2021  para personas naturales o RUC10 que contraten con portabilidad una línea postpago desde plan Entel Chip 49.90 Plus exclusivo por #[a(href="https://www.entel.pe" style='color:#ffffff') entel.pe] o Televentas. Descuento del 20% aplica solo sobre el cargo fijo del plan y será válido por los 6 primeros meses desde la contratación (no incluye el prorrateo). No es acumulable con otras promociones de descuento de cargo fijo. Planes Entel Power no disponibles en Iquitos. Condiciones y restricciones: #[a(href="https://www.entel.pe" style='color:#ffffff') www.entel.pe]