.entel__slider--home__item(data-entel-slide-index='2' data-entel-slide-time='8000' data-layer-id='Entel_Migra_hoy' data-layer-name='Migra hoy!' data-layer-position='Home - Banner Superior 1' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago&_ga=2.74499026.1545966670.1601923930-1719534366.1591052647')
    .entel__slider--home__item__content.entel__slider--home__item__dia_del_padre_form2
     
        .principalcontent
            .principalcontent__textbanner 
                .principalcontent__textbanner-detail
                +mx_picture_retina_all('title', img_path + '2021/05/banner-form-tit', 'png', 'Migra con tu Postpago')
                
                form#banner-form-catalogo
                    .form--content
                        .form--head
                            h3 o déjanos tu número y 
                                strong te llamamos!
                        .form--body
                            .form--number
                                input.validonlynumeric(type='tel' placeholder='Número de celular' maxlength='9' name='form_lead_phone' autocomplete='on')
                            .form--check
                                input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                .input-mask-top
                                label(for='checkt')
                                    a(href='https://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')
                                        | Declaro haber leído la
                                        span política de privacidad
                            button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='form superior' data-gtm-category='catalogo' data-gtm-label='Te llamamos') te llamamos
                            //- .form--callback
                                p Si ya eres cliente Entel haz clic #[a(href="https://www.entel.pe") aquí].
                        .form--loading
                            <picture>
                                <source srcset="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" media="(min-width: 768px)">
                                <img src="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" title="loading">
                            </picture>
                            
                        .form--duplicate
                            p ¡Hola! Ya contamos con tu número. 
                            p Estate atento a nuestra pronta llamada.
                        .form--error
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" alt="Entel">
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" alt="Entel">
                            //- p ¡Gracias por registrarte! 
                            p Lo sentimos Ocurrió un error
                            p al procesar tus datos.
                        .form--thanks
                            <picture>
                                <source srcset="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" media="(min-width: 768px)">
                                <img src="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" title="Gracias">
                            </picture>
                            p ¡Gracias por confiar 
                                span  en nosotros!

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                +mx_picture_retina_all('', img_path + '2021/05/banner-form-dia-padre-prod', 'png', 'Equipos postpago hasta con 50% en pago único desde plan Entel Power 65.9 - postpago Migra Papá merece un súper equipo') 

            //- .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago' target="_blank") Lo quiero

            small.e-legal-small Vale en #[a(href="https://entel.pe" ) entel.pe] hasta el 20/06 para portar (origen postpago) o renovar con plan indicado y equipo en pago único con acuerdo a 12 meses. Stock mín. Nacional: 30 por modelo. No aplica en Iquitos ni para RUC 20. Condiciones para renovar/portar y restricciones: #[a(href="https://catalogo.entel.pe" ) catalogo.entel.pe]