.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='entelstore' data-layer-name='Entel Store' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres')
    .entel__slider--home__item__content.entel__slider--home__store_img
        .principalcontent
            .principalcontent__textbanner 
                .principalcontent__textbanner-detail
                //- .principalcontent__textbanner-text
                //-     h2 El equipo liberado 
                //-     span que quieres a un super precio!
                +mx_picture_retina_all('', img_path + '2021/06/banner-store-img-acc-tit', 'png', '')

            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2021/06/banner-store-img-acc', 'png', '')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://entelstore.pe/' target='_blank') Lo quiero

            small.e-legal-small *Entel Store.pe comercializado por IX Comercio #[br]Válido hasta el 31/01/2022 en #[a( href="https://entelstore.pe") entelstore.pe].pe. Stock mínimo 10 unidades por accesorio. Más información en #[a( href="https://entelstore.pe") entelstore.pe]