.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='xiaomifestival' data-layer-name='Xiaomi Festival' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__festival_form
        .principalcontent
            .principalcontent__textbanner-detail
            .principalcontent__textbanner 
                //- .principalcontent__textbanner-text
                //-     h2 El equipo liberado 
                //-     span que quieres a un super precio!
                +mx_picture_retina_extra('title', img_path + '2021/06/banner-form-tit-festival', 'png', 'Xiaomi Festival del 17 al 23 de junio')
                
                form#banner-form-catalogo-galaxy-days
                    .form--content
                        .form--head
                            //- h3 o déjanos tu número y 
                            //-     strong te llamamos!
                        .form--body
                            //- p Escribe tu número de celular

                            .form--number
                                input.validonlynumeric(type='tel' maxlength='9' placeholder=' ' name='form_lead_phone' autocomplete='on')
                                span 
                                    span Número de celular
 
                            .form--check
                                input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                .input-mask-top
                                label(for='checkt')
                                    a(href='https://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')
                                        | Declaro haber leído la 
                                        span política de privacidad
                            button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='form superior' data-gtm-category='catalogo' data-gtm-label='Llamame') Llámame
                            //- img.form--image(src=img_path + "2021/05/banner-form-prod-apple-week-24.png" title="")
                            picture
                                source(srcset=img_path + '2021/06/banner-form-24-festival-tab.png'  media="(min-width: 768px)")
                                img.form--image(src=img_path + '2021/06/banner-form-24-festival-mob.png' title="Gracias")

                            //- .form--callback
                                p Si ya eres cliente Entel haz clic #[a(href="https://www.entel.pe") aquí].
                        .form--loading
                            //- <picture>
                            //-     <source srcset="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" media="(min-width: 768px)">
                            //-     <img src="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" title="loading">
                            //- </picture>
                            <img src="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" title="loading">
                            
                        .form--duplicate
                            p ¡Hola! Ya contamos con tu número. 
                            p Estate atento a nuestra pronta llamada.
                        .form--error
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" alt="Entel">
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" alt="Entel">
                            //- p ¡Gracias por registrarte! 
                            p Lo sentimos Ocurrió un error
                            p al procesar tus datos.
                        .form--thanks
                            //- <picture>
                            //-     <source srcset="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" media="(min-width: 768px)">
                            //-     <img src="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" title="Gracias">
                            //- </picture>
                            <img src="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" title="Gracias">

                            p ¡Gracias por confiar 
                                span  en nosotros!

            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                 +mx_picture_retina_extra('', img_path + '2021/06/banner-form-prod-festival', 'png', 'Xiaomi lovers Además, participa del sorteo por uno de los 182 grandes premios!')

            //-.e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago&marca=samsung' ) Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones") aquí!]]
            small.e-legal-small.e-legal-small__desk Xiaomi Festival válido del 17/06 al 23/06/2021 para portar (origen postpago) o renovar; y, Xiaomi Lovers del 10/05 al 23/06/2021 desde plan Entel Power 65.9 en Lima, Chiclayo, Trujillo y Arequipa. Ambas promociones aplican para compras en #[a( href="https://entel.pe") entel.pe]. Sujeto a evaluación crediticia y con acuerdo de equipos a 12 meses. Stock mín. de equipos 10 unidades. No aplican para RUC 20. Stock de premios Xiaomi Lovers: 14 Mi Air Purifier 3C, 14 Mi Electric Scooter Essential, 14 Mi Robot Vacum-Mop Essential y 140 Mi Band 5. Fecha de sorteo Xiami Lovers: 25/06 y publicación de ganadores 29/06. Colores de equipos, premios y audífonos sujetos a disponibilidad. Condiciones y delivery en: #[a( href="https://catalogo.entel.pe") catalogo.entel.pe]