.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Accesorios' data-layer-name='Accesorios' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__accesorios_navidad
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_extra('', img_path + '2021/12/banner-acc-navidad-tit', 'png', 'El accesorio que te complementa en: entel.pe')

            .principalcontent__imgbanner
                //- .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2021/12/banner-acc-navidad-prod', 'png', 'Accesorios hasta con: 50% dscto.')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://www.entel.pe/ofertas-y-promociones/accesorios-ofertas/') Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) aquí!]]
            small.e-legal-small.e-legal-small__desk Válido hasta el 31/01/2022 en #[a(href="https://entelstore.pe" ) entelstore.pe]. Stock mínimo 10 unidades por accesorio. Más información en #[a(href="https://entelstore.pe" ) entelstore.pe].