.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='internethogar' data-layer-name='40% de Dscto en Internet Hogar' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__home_form
        .principalcontent
            .principalcontent__textbanner-detail
            .principalcontent__textbanner 
                //- .principalcontent__textbanner-text
                //-     h2 El equipo liberado 
                //-     span que quieres a un super precio!
                +mx_picture_retina_extra('title', img_path + '2021/06/banner-form-tit-home', 'png', '')
                
                form#banner-form-catalogo-home
                    //- #banner-form-catalogo-galaxy-days
                    .form--content
                        .form--head
                            //- h3 Llámanos al 
                            //-     strong 0800 - 09002
                            //-     br
                            //-     | o déjanos tu número y te llamamos:
                        .form--body
                            p Llámanos al 
                                strong 0800 - 09002
                                br
                                | o déjanos tu número y te llamamos:

                            .form--number
                                input.validonlynumeric(type='tel' maxlength='9' placeholder=' ' name='form_lead_phone' autocomplete='on')
                                span 
                                    span Ingrese aquí su número
 
                            .form--check
                                input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                .input-mask-top
                                label(for='checkt')
                                    a(href='https://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')
                                        | Declaro haber leído la
                                        span política de privacidad
                            button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='form superior' data-gtm-category='catalogo' data-gtm-label='Llamame') Llámame
                            //- img.form--image(src=img_path + "2021/05/banner-form-prod-apple-week-24.png" title="")
                            //- picture
                                source(srcset=img_path + '2021/06/banner-form-24-festival-tab.png'  media="(min-width: 768px)")
                                img.form--image(src=img_path + '2021/06/banner-form-24-festival-mob.png' title="Gracias")

                            //- .form--callback
                                p Si ya eres cliente Entel haz clic #[a(href="https://www.entel.pe") aquí].
                        .form--loading
                            //- <picture>
                            //-     <source srcset="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" media="(min-width: 768px)">
                            //-     <img src="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" title="loading">
                            //- </picture>
                            <img src="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" title="loading">
                            
                        .form--duplicate
                            p ¡Hola! Ya contamos con tu número. 
                            p Estate atento a nuestra pronta llamada.
                        .form--error
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" alt="Entel">
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" alt="Entel">
                            //- p ¡Gracias por registrarte! 
                            p Lo sentimos Ocurrió un error
                            p al procesar tus datos.
                        .form--thanks
                            //- <picture>
                            //-     <source srcset="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" media="(min-width: 768px)">
                            //-     <img src="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" title="Gracias">
                            //- </picture>
                            <img src="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" title="Gracias">

                            p ¡Gracias por confiar 
                                span  en nosotros!

            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                 +mx_picture_retina_extra('', img_path + '2021/06/banner-form-prod-home', 'png', '')

            //-.e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago&marca=samsung' ) Lo quiero

            //- small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones") aquí!]]
            small.e-legal-small.e-legal-small__desk Válido en <a href="https://www.entel.pe" tabindex="-1">entel.pe</a> Internet Fijo Inalámbrico, bajo cobertura 4G, sujeto a factibilidades técnicas previa validación de cobertura en Arequipa, Chiclayo, Piura, Trujillo, Ica y Lima Metropolitana. Stock mín: 50. Por la contratación del plan, se otorgará 40% de descuento sobre el cargo fijo durante los primeros 6 meses a partir de la instalación (Cargo Fijo con 40% dsto S/59.40). Descuento no incluye prorrateo. No aplica a RUC 20. Costos de plan/instalación, condiciones de velocidad y restricciones: <a href="https://www.entel.pe/hogar/internet/planes/" tabindex="-1">www.entel.pe/hogar/internet/planes/</a>