.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Liberados' data-layer-name='Moto Sale' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__migra_form
        .principalcontent
            .principalcontent__textbanner 
                .principalcontent__textbanner-detail
                //- .principalcontent__textbanner-text
                //-     h2 El equipo liberado 
                //-     span que quieres a un super precio!
                +mx_picture_retina('title', img_path + '2021/05/banner-form-tit-moto', 'png', '')
                
                form#banner-form-catalogo-galaxy-days
                    .form--content
                        .form--head
                            h3 o déjanos tu número y 
                                strong te llamamos!
                        .form--body
                            .form--number
                                input.validonlynumeric(type='tel' placeholder='Número de celular' maxlength='9' name='form_lead_phone' autocomplete='on')
                            .form--check
                                input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                .input-mask-top
                                label(for='checkt')
                                    a(href='https://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')
                                        | Declaro haber leído la  
                                        span política de privacidad
                            button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='form superior' data-gtm-category='catalogo' data-gtm-label='Te llamamos') te llamamos
                            //- .form--callback
                                p Si ya eres cliente Entel haz clic #[a(href="https://www.entel.pe") aquí].
                        .form--loading
                            <picture>
                                <source srcset="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" media="(min-width: 768px)">
                                <img src="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" title="loading">
                            </picture>
                            
                        .form--duplicate
                            p ¡Hola! Ya contamos con tu número. 
                            p Estate atento a nuestra pronta llamada.
                        .form--error
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" alt="Entel">
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" alt="Entel">
                            //- p ¡Gracias por registrarte! 
                            p Lo sentimos Ocurrió un error
                            p al procesar tus datos.
                        .form--thanks
                            <picture>
                                <source srcset="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" media="(min-width: 768px)">
                                <img src="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" title="Gracias">
                            </picture>
                            p ¡Gracias por confiar 
                                span  en nosotros!

            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                 +mx_picture_retina_all('', img_path + '2021/05/banner-migra-form-prod', 'png', '')

            //-.e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago&marca=samsung' ) Lo quiero

            small.e-legal-small Vale en #[a( href="https://entel.pe") entel.pe] hasta el 30/05/21 para portar (origen postpago) o renovar con plan de oferta vigente y equipo en pago único. Stock mín. nacional: 10 por modelo, 10 por accesorio. Compartir gigas de alta velocidad del plan activando desde el dispositivo que compartirá datos la opción de hotspot personal o compartir Wi-Fi  y conectando el dispositivo con el que se desea compartir datos a la red de hotspot móvil activada en el otro dispositivo. Planes Entel Power no disponibles en Iquitos ni para RUC 20. Condiciones para portar, renovar y restricciones: #[a( href="https://catalogo.entel.pe") catalogo.entel.pe]