.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Liberados' data-layer-name='Oppo' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__item__lanzamiento_oppo
        .principalcontent__bg 
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_extra('', img_path + '2022/08/banner-laz-oppo-tit', 'png', 'Encuentra el nuevo Oppo en: entel.pe')
            
            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/08/banner-laz-oppo-prod', 'png', '')
            
            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/Oppo-Reno-7-128GB-Negro-Audifonos-Enco-Air-Chip-74-w/p?modalidad=postpago-migra&plan=chip-74.9&oferta=especial&cuota=12') conoce más

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ]]