.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Liberados' data-layer-name='Equipos Liberados' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres')
    .entel__slider--home__item__content.entel__slider--home__liberados_navidad
        .principalcontent_bg
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_extra('', img_path + '2021/12/banner-lib-navidad-title-v2', 'png', 'Llévate tu equipo liberado a un súper precio!')

            .principalcontent__imgbanner
                //- .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2021/12/banner-lib-navidad-prod-v2', 'png', 'Interbank - Te devuelve S/200 adquiriendo una nueva tarjeta de crédito')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres#productos') Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) aquí!]]
            //- small.e-legal-small.e-legal-small__desk Promoción válida en #[a(href="https://entel.pe" ) entel.pe] hasta el 31/12/2021. Stock mínimo: 30 unidades. Se devolverá S/200 en el primer estado de cuenta de la tarjeta Interbank. Máximo una devolución por tarjeta. No aplica para RUC 20. Condiciones de tarjeta Interbank y restricciones en #[a(href="https://catalogo.entel.pe" ) catalogo.entel.pe].