.entel__slider--home__item(data-entel-slide-index='2' data-entel-slide-time='8000' data-layer-id='Entel_Migra_Post' data-layer-name='Cuota s/0 - Equipos Postpago' data-layer-position='Home - Banner Superior 1' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago')
    //- para formulario normal usar clase .entel__slider--home__item__form-navidad
    .entel__slider--home__item__content.entel__slider--home__item__cyberwow_form
     
        .principalcontent
            //- +mx_picture_retina('principalcontent__textbanner-banderas', img_path + '2020/12/equipos-form-banderas', 'png', 'banderas')
            .principalcontent__textbanner 
                +mx_picture_retina('title', img_path + '2021/04/prod-form-migra-tit', 'png', 'Aprovecha el cyber wow')
                
                form#banner-form-catalogo
                    .form--content
                        .form--body
                            .form--head
                                //- p Migra 
                                //-     span llamando al
                                //- h2 0800-09001
                                h3 o déjanos tu número y 
                                    strong te llamamos!
                            .form--number
                                input.validonlynumeric(type='tel' placeholder='Número de celular' maxlength='9' name='form_lead_phone' autocomplete='on')
                            .form--check
                                input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                .input-mask-top
                                label(for='checkt')
                                    a(href='https://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')
                                        | Declaro haber leído la
                                        span política de privacidad
                            button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='form superior' data-gtm-category='catalogo' data-gtm-label='Te llamamos') te llamamos
                            //- .form--callback
                                p Si ya eres cliente Entel haz clic #[a(href="https://www.entel.pe") aquí].
                        .form--loading
                            <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" alt="loading">
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" alt="loading">
                            
                        .form--duplicate
                            p ¡Hola! Ya contamos con tu número. 
                            p Estate atento a nuestra pronta llamada.
                        .form--error
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" alt="Entel">
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" alt="Entel">
                            //- p ¡Gracias por registrarte! 
                            p Lo sentimos Ocurrió un error
                            p al procesar tus datos.
                        .form--thanks
                            <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" alt="Entel">
                            p ¡Gracias por confiar 
                                span  en nosotros!

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                +mx_picture_retina_all('', img_path + '2021/04/banner-form-migra-prod', 'png', 'Postpago Migra  o Renueva estos eqquipos con: cuota inicial s/0 desde plan Entel Power 65.90')

            //- .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago' target="_blank") Lo quiero

            small.e-legal-small Vale en #[a(href="https://entel.pe" ) entel.pe] para portar (origen postpago) o renovar con plan de la promoción. Sujeto a evaluación crediticia y con acuerdo de equipo a 12 meses. Stock min: 10 por modelo. No aplica en Iquitos ni para RUC 20. Sujeto a evaluación crediticia. Precios de equipos, cobertura de delivery y restricciones: #[a(href="https://catalogo.entel.pe" ) catalogo.entel.pe].