.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Apple_Week' data-layer-name='Apple Week' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__generica_50dscto
        .principalcontent
            //- .principalcontent__textbanner-detail
            .principalcontent__textbanner 
                //- .principalcontent__textbanner-text
                //-     h2 El equipo liberado 
                //-     span que quieres a un super precio!
                +mx_picture_retina_extra('title', img_path + '2021/09/banner-generica-50-dscto-tit', 'png', 'Migra Postpago solo en entel.pe')
                
                form#banner-form-catalogo
                    .form--content
                        .form--head
                            //- h3 o déjanos tu número y 
                            //-     strong te llamamos!
                        .form--body
                            p Déjanos tus datos y te llamamos:

                            .form--number
                                input.validonlynumeric(type='tel' maxlength='9' placeholder=' ' name='form_lead_phone' autocomplete='on')
                                span 
                                    span Número de celular
 
                            .form--check
                                input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                .input-mask-top
                                label(for='checkt')
                                    a(href='https://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')
                                        | Declaro haber leído la 
                                        span política de privacidad
                            button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='form superior' data-gtm-category='catalogo' data-gtm-label='llámame') llámame
                            //- img.form--image(src=img_path + "2021/05/banner-form-prod-apple-week-24.png" title="")

                            //- .form--callback
                                p Si ya eres cliente Entel haz clic #[a(href="https://www.entel.pe") aquí].
                        .form--loading
                            //- <picture>
                            //-     <source srcset="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" media="(min-width: 768px)">
                            //-     <img src="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" title="loading">
                            //- </picture>
                            <img src="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" title="loading">
                            
                        .form--duplicate
                            p ¡Hola! Ya contamos con tu número. 
                            p Estate atento a nuestra pronta llamada.
                        .form--error
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" alt="Entel">
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" alt="Entel">
                            //- p ¡Gracias por registrarte! 
                            p Lo sentimos Ocurrió un error
                            p al procesar tus datos.
                        .form--thanks
                            //- <picture>
                            //-     <source srcset="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" media="(min-width: 768px)">
                            //-     <img src="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" title="Gracias">
                            //- </picture>
                            <img src="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" title="Gracias">

                            p ¡Gracias por confiar 
                                span  en nosotros!

            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                 +mx_picture_retina_extra('', img_path + '2021/09/banner-generica-50-dscto', 'png', 'Solo en entel.pe 50% de dto. en tu plan por 6 meses desde plan Entel Power 65.90')

            //-.e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago&marca=samsung' ) Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones") AQUÍ!]]
            small.e-legal-small.e-legal-small__desk Vale en #[a( href="https://entel.pe") entel.pe] hasta el 12/09/21 para portar Postpago (origen postpago) con plan indicado y equipo en pago único. Sujeto a evaluación crediticia y con acuerdo de equipo a 12 meses. Stock min a nivel nacional: 10 equipos por modelo. Descuento del 50% aplica solo sobre el cargo fijo del plan y será válido por los 6 primeros meses desde la contratación (incluye el prorrateo). No es acumulable con otras promociones de descuento de cargo fijo. No aplica en Iquitos ni para RUC 20. Cobertura de delivery y restricciones: #[a( href="https://catalogo.entel.pe") catalogo.entel.pe]