.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Migra' data-layer-name='Migra online Chip Postpago' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://miportal.entel.pe/personas/planes?_ga=2.257633346.810329308.1636487522-887802988.1636487522')
    .entel__slider--home__item__content.entel__slider--home__migra_online(id='entel-slider-home-migra-online')
        .principalcontent
            .principalcontent__textbanner 
                //- .principalcontent__textbanner-detail
                //- .principalcontent__textbanner-text
                //-     h2 El equipo liberado 
                //-     span que quieres a un super precio!
                +mx_picture_retina_extra('', img_path + '2021/12/banner-migra-online-tit-v3', 'png', 'Migra online Chip Postpago')

            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2021/12/banner-migra-online-prod-v2', 'png', 'Plan Entel Power S/55.9 ahora: S/27.95 x6 meses')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://miportal.entel.pe/personas/planes?_ga=2.257633346.810329308.1636487522-887802988.1636487522') Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones") AQUÍ!]]
            //- small.e-legal-small.e-legal-small__desk Válido en #[a( href="https://entel.pe") entel.pe] hasta el 31/12/2021 en portabilidad (origen postpago) para personas naturales o RUC 10 con plan indicado, sujeto a evaluación crediticia. Stock mínimo a nivel nacional: 10 unidades. Descuento del 50% aplica solo sobre el cargo fijo del plan y será válido por los 6 primeros meses desde la contratación (incluye el prorrateo). No es acumulable con otras promociones de descuento de cargo fijo. No aplica en Iquitos ni para RUC 20. Cobertura de delivery y restricciones: #[a( href="https://catalogo.entel.pe") catalogo.entel.pe]