.e-countdown--jueves-entel {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 60px;

  @include responsive-width($tablet_m) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &.bg-headband-navidad {
    background-image: m_image_url("2021/12/bg-headband-23-12-21.png");

    @include backgound_retina {
      background-image: m_image_url("2021/12/bg-headband-23-12-21@2x.png");
    }

    @include responsive-width($tablet_m) {
      background-image: m_image_url("2021/12/bg-headband-desk-23-12-21.png");

      @include backgound_retina {
        background-image: m_image_url("2021/12/bg-headband-desk-23-12-21@2x.png"
          );
      }
    }
  }

  &.bg-headband-1 {
    background-image: m_image_url("2022/01/bg-headband-11-11-21.png");

    @include backgound_retina {
      background-image: m_image_url("2021/11/bg-headband-11-11-21@2x.png");
    }

    @include responsive-width($tablet_m) {
      background-image: m_image_url("2022/01/bg-headband-desk-11-11-21.png");

      @include backgound_retina {
        background-image: m_image_url("2021/11/bg-headband-desk-11-11-21@2x.png"
          );
      }
    }
  }

  &.bg-headband-2 {
    background-image: m_image_url("2022/03/bg-headband-11-11-21.png");

    @include backgound_retina {
      background-image: m_image_url("2022/03/bg-headband-11-11-21@2x.png");
    }

    @include responsive-width($tablet_m) {
      background-image: m_image_url("2021/11/bg-headband-desk-11-11-21.png");

      @include backgound_retina {
        background-image: m_image_url("2021/11/bg-headband-desk-11-11-21@2x.png"
          );
      }
    }
  }

  &.bg-headband-3 {
    background-image: m_image_url("2022/02/bg-headband-11-11-21.png");

    @include backgound_retina {
      background-image: m_image_url("2022/02/bg-headband-11-11-21@2x.png");
    }

    @include responsive-width($tablet_m) {
      background-image: m_image_url("2021/09/e-headband-bg-jueves-entel-sept-v5-desk.png"
        );

      @include backgound_retina {
        background-image: m_image_url("2021/09/e-headband-bg-jueves-entel-sept-v5-desk@2x.png"
          );
      }
    }
  }

  &.bg-headband-4 {
    &::before {
      content: '';
      display: inline-block;
      right: 50%;
      margin-right: 930px;
      position: absolute;
      background-color: #00B8E9;
      height: 60px;
      width: 50vw;
      z-index: 0;
    }

    &::after {
      content: '';
      display: inline-block;
      left: 50%;
      margin-left: 930px;
      position: absolute;
      background-color: #EB6A90;
      height: 60px;
      width: 50vw;
      z-index: 0;
    }

    background-image: m_image_url("2022/02/bg-headband-24-11-21.png");

    @include backgound_retina {
      background-image: m_image_url("2022/02/bg-headband-24-11-21@2x.png");
    }

    @include responsive-width($tablet_m) {
      background-image: m_image_url("2022/02/bg-headband-desk-24-11-21-v2.jpg");

      @include backgound_retina {
        background-image: m_image_url("2022/02/bg-headband-desk-24-11-21-v2@2x.jpg"
          );
      }
    }

    @include responsive-width($laptop_s) {
      background-size: 1920px 60px;
      background-position: center;
      position: relative;
      // width: 1024px;
      // &::before,
      // &::after {
      //   content: "";
      //   position: absolute;
      //   width: 100%;
      //   height: 60px;
      //   // left: 50%;
      // }
      // &::before {
      //   background-color: #00b9eb;
      //   background-image: m_image_url("2021/11/bg-headband-desk-24-11-21-v2.jpg");
      //   @include backgound_retina {
      //     background-image: m_image_url(
      //       "2021/11/bg-headband-desk-24-11-21-v2@2x.jpg"
      //     );
      //   }
      //   transform: rotate(180deg);
      //   right: 59%;
      //   margin-right: 811px;
      //   background-size: 1920px 60px;
      //   width: 1910px;
      // }
      // &::after {
      //   background-color: #ea6b90;
      //   left: 39%;
      //   margin-left: 945px;
      // }
    }

    // @include responsive-width(1920px) {
    //   background-repeat: repeat-x;
    // }
  }

  &.bg-headband-4-verano {
    &::before {
      content: '';
      display: inline-block;
      right: 50%;
      margin-right: 930px;
      position: absolute;
      background-color: #00B8E9;
      height: 60px;
      width: 50vw;
      z-index: 0;
    }

    &::after {
      content: '';
      display: inline-block;
      left: 50%;
      margin-left: 930px;
      position: absolute;
      background-color: #EB6A90;
      height: 60px;
      width: 50vw;
      z-index: 0;
    }

    background-image: m_image_url("2023/02/bg-headband-verano-23-mob.png");

    @include backgound_retina {
      background-image: m_image_url("2023/02/bg-headband-verano-23-mob@2x.png");
    }

    @include responsive-width($tablet_m) {
      background-image: m_image_url("2023/02/bg-headband-verano-23-desk.png");

      @include backgound_retina {
        background-image: m_image_url("2023/02/bg-headband-verano-23-desk@2x.png"
          );
      }
    }

    @include responsive-width($laptop_s) {
      background-size: 1920px 60px;
      background-position: center;
      position: relative;
    }
  }

  &.bg-headband-circulos {

    background-image: m_image_url("2022/05/bg-headband-mob-04-04-22.jpg");

    @include backgound_retina {
      background-image: m_image_url("2022/05/bg-headband-mob-04-04-22@2x.png");
    }

    @include responsive-width($tablet_m) {
      background-image: m_image_url("2022/05/bg-headband-desk-04-04-22.jpg");

      @include backgound_retina {
        background-image: m_image_url("2022/05/bg-headband-desk-04-04-22@2x.png"
          );
      }
    }

    // @include responsive-width($laptop_s) {
    //   background-size: 1920px 60px;
    //   background-position: center;
    //   position: relative;
    //   width: 1024px;
    //   &::before,
    //   &::after {
    //     content: "";
    //     position: absolute;
    //     width: 100%;
    //     height: 60px;
    //     // left: 50%;
    //   }
    //   &::before {
    //     background-color: #00b9eb;
    //     background-image: m_image_url("2021/11/bg-headband-desk-24-11-21-v2.jpg");
    //     @include backgound_retina {
    //       background-image: m_image_url(
    //         "2021/11/bg-headband-desk-24-11-21-v2@2x.jpg"
    //       );
    //     }
    //     transform: rotate(180deg);
    //     right: 59%;
    //     margin-right: 811px;
    //     background-size: 1920px 60px;
    //     width: 1910px;
    //   }
    //   &::after {
    //     background-color: #ea6b90;
    //     left: 39%;
    //     margin-left: 945px;
    //   }
    // }
    // @include responsive-width(1920px) {
    //   background-repeat: repeat-x;
    // }
  }

  &.bg-headband-5 {
    // background-position: left;
    background-image: m_image_url("2022/02/bg-je-headband-02-12-21.jpg");

    @include backgound_retina {
      background-image: m_image_url("2022/02/bg-je-headband-02-12-21@2x.jpg");
    }

    @include responsive-width($tablet_m) {
      background-position: 45% center;
      background-image: m_image_url("2022/02/bg-je-headband-desk-02-12-21.jpg");

      @include backgound_retina {
        background-image: m_image_url("2022/02/bg-je-headband-desk-02-12-21@2x.jpg"
          );
      }
    }

    @include responsive-width($laptop_s) {
      background-size: 1920px 60px;
      background-position: center;
      position: relative;

      // width: 1024px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 60px;
        // left: 50%;
      }

      &::before {
        background-image: m_image_url("2022/02/bg-je-headband-desk-02-12-21@2x.jpg"
          );
        // background-image: m_image_url(
        //   "2021/12/bg-je-headband-before-02-12-21.jpg"
        // );
        @include backgound_retina {
          // background-image: m_image_url(
          //   "2021/12/bg-je-headband-before-02-12-21@2x.jpg"
          // );
        }

        right: 50%;
        margin-right: 960px;
        background-position: right;
        background-repeat: repeat;
        width: 50vw;
      }

      &::after {
        background-color: #ea6b90;
        left: 50%;
        margin-left: 945px;
      }
    }
  }

  &.bg-headband-6 {
    // background-position: left;
    background-image: m_image_url("2021/12/bg-je-headband-16-12-21.jpg");

    @include backgound_retina {
      background-image: m_image_url("2021/12/bg-je-headband-16-12-21@2x.jpg");
    }

    @include responsive-width($tablet_m) {
      background-position: 45% center;
      background-image: m_image_url("2021/12/bg-je-headband-desk-16-12-21.jpg");

      @include backgound_retina {
        background-image: m_image_url("2021/12/bg-je-headband-desk-16-12-21@2x.jpg"
          );
      }
    }

    @include responsive-width($laptop_s) {
      background-size: 1920px 60px;
      background-position: center;
      position: relative;

      // width: 1024px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 60px;
        // left: 50%;
      }

      &::before {
        background-color: #00b9eb;
        background-image: m_image_url("2021/12/bg-je-headband-before-02-12-21.jpg"
          );

        @include backgound_retina {
          background-image: m_image_url("2021/12/bg-je-headband-before-02-12-21@2x.jpg"
            );
        }

        right: 50%;
        margin-right: 960px;
        background-position: right;
        background-repeat: repeat;
        width: 50vw;
      }

      &::after {
        background-color: #ea6b90;
        left: 50%;
        margin-left: 945px;
      }
    }
  }

  &.bg-headband-7 {
    // background-position: left;
    background-image: m_image_url("2021/12/bg-je-headband-16-12-21.jpg");

    @include backgound_retina {
      background-image: m_image_url("2021/12/bg-je-headband-16-12-21@2x.jpg");
    }

    @include responsive-width($tablet_m) {
      background-position: 45% center;
      background-image: m_image_url("2021/12/bg-je-headband-desk-16-12-21.jpg");

      @include backgound_retina {
        background-image: m_image_url("2021/12/bg-je-headband-desk-16-12-21@2x.jpg"
          );
      }
    }

    @include responsive-width($laptop_s) {
      background-size: 1920px 60px;
      background-position: center;
      position: relative;

      // width: 1024px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 60px;
        // left: 50%;
      }

      &::before {
        background-color: #00b9eb;
        background-image: m_image_url("2021/12/bg-je-headband-before-02-12-21.jpg"
          );

        @include backgound_retina {
          background-image: m_image_url("2021/12/bg-je-headband-before-02-12-21@2x.jpg"
            );
        }

        right: 50%;
        margin-right: 960px;
        background-position: right;
        background-repeat: repeat;
        width: 50vw;
      }

      &::after {
        background-color: #ea6b90;
        left: 50%;
        margin-left: 945px;
      }
    }
  }

  &.bg-headband-8 {
    // background-position: left;
    background-image: m_image_url("2022/02/bg-headband-8-mob.jpg");

    @include backgound_retina {
      background-image: m_image_url("2022/02/bg-headband-8-mob@2x.jpg");
    }

    @include responsive-width($tablet_m) {
      background-position: 45% center;
      background-image: m_image_url("2022/02/bg-headband-8-desk.jpg");

      @include backgound_retina {
        background-image: m_image_url("2022/02/bg-headband-8-desk@2x.jpg");
      }
    }

    @include responsive-width($laptop_s) {
      background-size: 1920px 60px;
      background-position: center;
      position: relative;

      // width: 1024px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 60px;
        // left: 50%;
      }

      &::before {
        background-color: #00b9eb;
        background-image: m_image_url("2022/02/bg-headband-8-before-desk.jpg"
          );
        // @include backgound_retina {
        //   background-image: m_image_url(
        //     "2022/02/bg-headband-8-before-desk@2x.jpg"
        //   );
        // }
        right: 50%;
        margin-right: 958px;
        background-position: right;
        background-repeat: repeat;
        width: 50vw;
      }

      &::after {
        background-color: #ea6b90;
        left: 50%;
        margin-left: 945px;
      }
    }
  }

  &.bg-headband-9 {
    // background-position: left;
    background-image: m_image_url("2022/08/bg-je-headband-18-08-22.jpg");

    @include backgound_retina {
      background-image: m_image_url("2022/08/bg-je-headband-18-08-22@2x.jpg");
    }

    @include responsive-width(550px) {
      background-image: m_image_url("2022/08/bg-je-headband-18-08-22-tab.jpg");

      @include backgound_retina {
        background-image: m_image_url("2022/08/bg-je-headband-18-08-22-tab@2x.jpg");
      }
    }

    @include responsive-width($tablet_m) {
      background-position: 45% center;
      background-image: m_image_url("2022/08/bg-je-headband-desk-18-08-22.jpg");

      @include backgound_retina {
        background-image: m_image_url("2022/08/bg-je-headband-desk-18-08-22@2x.jpg"
          );
      }
    }

    @include responsive-width($laptop_s) {
      background-size: 1920px 60px;
      background-position: center;
      position: relative;

      // width: 1024px;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 60px;
        // left: 50%;
      }

      &::before {
        background-color: #00b9eb;
        background-image: m_image_url("2021/12/bg-je-headband-before-02-12-21.jpg"
          );

        @include backgound_retina {
          background-image: m_image_url("2021/12/bg-je-headband-before-02-12-21@2x.jpg"
            );
        }

        right: 50%;
        margin-right: 960px;
        background-position: right;
        background-repeat: repeat;
        width: 50vw;
      }

      &::after {
        background-color: #ea6b90;
        left: 50%;
        margin-left: 945px;
      }
    }
  }

  &.bg-headband-10 {
    background-image: m_image_url("2022/08/bg-headband-25-08-22.png");

    @include backgound_retina {
      background-image: m_image_url("2022/08/bg-headband-25-08-22@2x.png");
    }

    @include responsive-width($tablet_m) {
      background-image: m_image_url("2022/08/bg-headband-desk-25-08-22.png");

      @include backgound_retina {
        background-image: m_image_url("2022/08/bg-headband-desk-25-08-22@2x.png"
          );
      }
    }
  }

  &.bg-headband-3 {
    background-image: m_image_url("2022/02/bg-headband-11-11-21.png");

    @include backgound_retina {
      background-image: m_image_url("2022/02/bg-headband-11-11-21@2x.png");
    }

    @include responsive-width($tablet_m) {
      background-image: m_image_url("2021/09/e-headband-bg-jueves-entel-sept-v5-desk.png"
        );

      @include backgound_retina {
        background-image: m_image_url("2021/09/e-headband-bg-jueves-entel-sept-v5-desk@2x.png"
          );
      }
    }
  }

  &.confetti-new-year {
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      animation-name: parpadeo;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      -webkit-animation-name: parpadeo;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      background-size: cover;
      background-repeat: no-repeat;

      background-image: m_image_url("2021/12/confetti-new-year-mob.png");

      @include backgound_retina {
        background-image: m_image_url("2021/12/confetti-new-year-mob@2x.png");
      }

      @include responsive-width($tablet_m) {
        background-image: m_image_url("2021/12/confetti-new-year-desk.png");

        @include backgound_retina {
          background-image: m_image_url("2021/12/confetti-new-year-desk@2x.png"
            );
        }
      }
    }
  }

  // @media screen and (min-width: 719px) {
  //   background-image: m_image_url("2021/11/e-headband-bg-jueves-entel-sept-v5-tab.png");
  //   @include backgound_retina {
  //     background-image: m_image_url("2021/11/e-headband-bg-jueves-entel-sept-v5-tab@2x.png");
  //   }
  // }
  // @media screen and (min-width: 1024px) {
  //   background-image: m_image_url("2021/11/e-headband-bg-jueves-entel-oct-desk.png");
  //   @include backgound_retina {
  //     background-image: m_image_url("2021/11/e-headband-bg-jueves-entel-oct-desk@2x.png");
  //   }
  // }

  &.jueves-san-valentin {
    .box-texto {
      @include responsive-width($tablet_m) {
        margin: 0 3rem 0 1rem;
        br {
            display: none;
        }
      }
    }
    .box-texto-icon {
      position: absolute;
      right: 8px;
      bottom: 5px;
      @include responsive-width($tablet_m) {
        right: -40px;
        bottom: -3px;      
      }
      
      img {
        max-width: 21px;
        @include responsive-width($tablet_m) {
          max-width: 32px;
        }
      }
    }

  }

  &.jueves-verano{
    .box-texto {
      @include responsive-width($tablet_m) {
        margin: 0 3rem 0 1rem;
        display: flex;
        align-items: center;
        br {
            display: none;
        }
      }
    }
    .box-texto-icon {
      position: absolute;
      right: 8px;
      bottom: 5px;
      @include responsive-width($tablet_m) {
        right: -40px;
        bottom: auto;
      }
      
      img {
        max-width: 21px;
        @include responsive-width($tablet_m) {
          max-width: 32px;
        }
      }
    }

  }

  .box--jueves-entel {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .box-img-desk {
    @include responsive-width($tablet_m) {
      position: relative;
      left: 0;
      display: flex;
      div {
        padding-left: 2px;
        padding-right: 2px;
      }
    }
  }

  .box-texto {
    margin: 0 0.5rem;
    position: relative;
    z-index: 3;

    p {
      color: $white;
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;
      margin: 6px 0;
      max-width: 160px;
      text-align: left;

      a {
        color: #ff7f4f;
        text-decoration-line: underline;
        font-weight: bold;
        font-size: 11px;
        line-height: 13px;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
          font-size: 16px;
          line-height: 16px;
        }
      }

      @media screen and (min-width: 768px) {
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        max-width: 550px;
      }
    }

    @media screen and (min-width: 768px) {
      margin: 0 1rem;
    }
  }

  .box-timer {
    display: flex;
    position: relative;
    .hours,
    .minutes,
    .seconds,
    .days {
      background-color: #00b9eb;
      border-radius: 3.66663px;
      width: 37px;
      height: 36px;
      color: #ffffff;
      margin: auto 2px;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;

      @media screen and (min-width: 568px) {
        margin: auto 5px;
      }

      @media screen and (min-width: 768px) {
        width: 46px;
        height: 44px;
      }

      p:nth-child(1) {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 4px;
        margin: 0;

        @media screen and (min-width: 768px) {
          font-size: 20px;
          line-height: 24px;
        }
      }

      p:nth-child(2) {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        margin: 0;
      }
    }
  }
  .display-none-mob {
    display: none !important;
    @media screen and (min-width: 768px) {
      display: inline !important;
    }
  }
  .display-none-desk {
    @media screen and (min-width: 768px) {
      display: none !important;
    }
  }
  .ico-mob {
    position: absolute;
    bottom: -11px;
    left: -30px;
  }
}