.wedding-jym_flowers.top-flower
    +mx_picture_retina_oneimg('', img_path + 'boda-jym-bg-flowers', 'png', 'Nuestra Boda Johann y Milagritos')
.wedding-jym_flowers.bottom-flower
    +mx_picture_retina_oneimg('', img_path + 'boda-jym-bg-flowers', 'png', 'Nuestra Boda Johann y Milagritos')
.wedding-jym_soundtrack
    audio(src=sound_path+"soundtrack2.mp3")#soundtrack
    a(href="javascript:void(0)")#playsoundtrack
         +mx_picture_retina_oneimg('', img_path + 'boda-jym-play-audio', 'png', 'Nuestra Boda Johann y Milagritos')
         p Dale play!
.wedding-jym__content.cf
    h1.fade-title Johann#[br]&#[br]Milagritos
    .wedding-jym__date
        p ABRIL
        p 22
        p 2023
    .wedding-jym__img1
        +mx_picture_retina_oneimg('', img_path + 'boda-jym-img1', 'png', 'Nuestra Primera Foto')
    .wedding-jym__countdown
        p ¿Cuánto falta?
        .wedding-jym__countdown__days#countdown
            div 
                span#days 17
                p.smalltext DÍAS
            div 
                span#hours 3
                p.smalltext HRS.
            div 
                span#minutes 7
                p.smalltext MIN.
            div 
                span#seconds 12
                p.smalltext SEG.
    .wedding-jym__words
        p El destino nos puso en el mismo camino y#[br]ahora caminaremos juntos hasta el fin.#[br]¡Nos casamos!
    .wedding-jym__images
        .wedding-jym__img2(data-aos="fade-up" data-aos-duration='1500')
            +mx_picture_retina_oneimg('', img_path + 'boda-jym-img2', 'png', 'Nuestra Primera Foto')
        .wedding-jym__img3(data-aos="fade-up" data-aos-duration='1500')
            +mx_picture_retina_oneimg('', img_path + 'boda-jym-img3', 'png', 'Nuestra Primera Foto')
    .wedding-jym__place
        .wedding-jym__block(data-aos="fade-in" data-aos-duration='1500').first-block
            +mx_picture_retina_oneimg('', img_path + 'boda-jym-rings', 'png', 'Nuestra Boda J&M')
            h3 Ceremonia
            p Iglesia María#[br]Reina Av. Sta. Cruz,#[br]San Isidro 15073#[br]Ovalo Gutierrez.
            a(href="https://goo.gl/maps/dt2ZJTRW2tPTsBKv7", target="_blank") ¿Cómo llegar?
        .wedding-jym__block(data-aos="fade-in" data-aos-duration='1500').second-block
            +mx_picture_retina_oneimg('', img_path + 'boda-jym-glasses', 'png', 'Nuestra Boda J&M')
            h3 Celebración
            p Casa Eventos Las#[br]Cigueñas- Calle Las#[br]Perdices Mz L2#[br]lote 7, Huachipa.
            a(href="https://goo.gl/maps/phfdJtQCfZKPYFww8", target="_blank") ¿Cómo llegar?
        .wedding-jym__block(data-aos="fade-in" data-aos-duration='1500').third-block
            +mx_picture_retina_oneimg('', img_path + 'boda-jym-instagram', 'png', 'Nuestra Boda J&M')
            p ¡Comparte tus#[br]historias y fotos con#[br]nosotros usando#[br]nuestro hashtag!
            a(href="javascript:void(0)") #Losmezacandela
        .wedding-jym__block(data-aos="fade-in" data-aos-duration='1500').fourth-block
            +mx_picture_retina_oneimg('', img_path + 'boda-jym-dress', 'png', 'Nuestra Boda J&M')
            h3 Dress code
            p Te dejamos unas#[br]sugerancias en#[br]nuestro tablero#[br]de Pinterest
            a(href="https://pin.it/7db8TUb", target="_blank") Sugerencias

    .wedding-jym__images
        .wedding-jym__img2(data-aos="fade-up" data-aos-duration='1500')
            +mx_picture_retina_oneimg('', img_path + 'boda-jym-img4', 'png', 'Nuestra Primera Foto')
        .wedding-jym__img3(data-aos="fade-up" data-aos-duration='1500')
            +mx_picture_retina_oneimg('', img_path + 'boda-jym-img5', 'png', 'Nuestra Primera Foto')
    .wedding-jym__confirmation
        .wedding-jym__block-confirmation(data-aos="fade-in" data-aos-duration='1500').first-block-confirmation
            +mx_picture_retina_oneimg('', img_path + 'boda-jym-confirmation', 'png', 'Nuestra Boda J&M')
            h3 Confirma#[br]tu asistencia
            p Para nosotros es#[br]muy importante que#[br]confirmes tu invitación. 

            a(href="https://api.whatsapp.com/send?phone=51994178803", target="_blank") Confirma por Wspp

            //- a(href="https://goo.gl/maps/dt2ZJTRW2tPTsBKv7", target="_blank") Confirma por#[br]Formulario
        .wedding-jym__block-confirmation(data-aos="fade-in" data-aos-duration='1500').second-block-confirmation
            .second-block-confirmation--one
                +mx_picture_retina_oneimg('', img_path + 'boda-jym-advertencia', 'png', 'Nuestra Boda J&M')
                p Adoramos a sus hijos,#[br]pero creemos que necesitan#[br]una noche libre. Sólo#[br]adultos por favor.#[br]¡Que esta fecha sea su cita!
            .second-block-confirmation--two
                +mx_picture_retina_oneimg('', img_path + 'boda-jym-chofer', 'png', 'Nuestra Boda J&M')
                p De necesitar un chófer#[br]de reemplazo, solicítalo#[br]con anticipación. 
                a(href="https://api.whatsapp.com/send?phone=51980521078" target="_blank") Dale click aquí
        .wedding-jym__block-confirmation(data-aos="fade-in" data-aos-duration='1500').third-block-confirmation
            +mx_picture_retina_oneimg('', img_path + 'boda-jym-regalo', 'png', 'Nuestra Boda J&M')
            h3 Regalo
            p Lo que más queremos#[br]es compartir contigo#[br]nuestro gran día,#[br]si deseas regalarnos#[br]algo aquí tienes#[br]nuestras opciones.
            a(href=doc_path+"REGALO.pdf" download) Regalo
    
    .wedding-jym__img4(data-aos="fade-in" data-aos-duration='1500')
        +mx_picture_retina_oneimg('', img_path + 'boda-jym-img6', 'png', 'Nuestra Boda J&M')

    .wedding-jym__thanks
        p ¡Los esperamos!
        p Johann & Milagritos

    .wedding-jym__btn-download 
        a(href=doc_path+"Nuestra-Boda-JyM.pdf" download)  PDF Recuerdo
    