- title_page = "Nuestra Boda Johann y Milagritos"

include ../../../base/vars
include ../../../mixins/mixins

//- include _mixin
- img_path = '../../../../assets/img/freelo/boda-jym/'
- sound_path = 'audio/freelo/boda-jym/'
- doc_path = 'docs/freelo/boda-jym/'

- landing_name = 'Boda Johann y Milagritos'

+html_template_clear
    include _content
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js") 
    //- <script>
    //-     AOS.init();
    //- </script>