.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Accesorios' data-layer-name='Accesorios' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://www.entel.pe/ofertas-y-promociones/accesorios-ofertas/')
    .entel__slider--home__item__content.entel__slider--home__accesorios_cyber_entel_22
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina('', img_path + '2022/07/banner-acc-cyberentel22-tit', 'png', 'Cyber Entel del 18 al 22 de julio')

            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/07/banner-acc-cyberentel22-prod', 'png', 'Accesorios')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=accesorios') Lo quiero

            small.e-legal-small.e-legal-small__mob *Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ]]