.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='' data-layer-name='' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__item__cyberentel_accesorios
        .principalcontent
            .principalcontent__textbanner 
                .principalcontent__textbanner-detail
                //- .principalcontent__textbanner-text
                //-     h2 El equipo liberado 
                //-     span que quieres a un super precio!
                +mx_picture_retina_extra('', img_path + '2022/11/banner-store-acc-marketplace-tit', 'png', 'Cyber Entel del 14 al 20 de noviembre')

            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/11/banner-store-acc-marketplace-prod', 'png', 'Xiaomi Redmi Buds 3 Lite - Philips On Ear TAH4105 - Neoactive Funda Laptop')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://miportal.entel.pe/personas/catalogo/accesorios' target='_blank'  data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Accesorios - 05') Lo quiero

            //- small.e-legal-small.e-legal-acc-disclaimer *Entel Store.pe comercializado por IX Comercio #[br] 
            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones") AQUÍ]]