.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Liberados' data-layer-name='Equipos Liberados' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres')
    .entel__slider--home__item__content.entel__slider--home__item__cyberentel_liberados
     
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina('title', img_path + '2022/11/banner-cyberentel-liberados-tit', 'png', 'Cyber Entel del 14 al 20 de noviembre')

                .e-button-buy
                    a.btn-buy.animated.btn-datalayer(href='https://miportal.entel.pe/personas/catalogo/liberados'  data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Liberados - 04') LO QUIERO

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                +mx_picture_retina_extra('', img_path + '2022/11/banner-cyberentel-liberados-prod', 'png', 'Equipos Liberados Hasta con 50% dscto.') 

            //- .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago' target="_blank") Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) aquí!]]