.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Liberados' data-layer-name='Equipos Liberados' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres')
    .entel__slider--home__item__content.entel__slider--home__item__liberados_cyber_entel_22
     
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina('title', img_path + '2022/07/banner-lib-cyberentel22-tit', 'png', 'Cyber Entel del 18 al 22 de julio')

                .e-button-buy
                    a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres'  data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Verano 2022 Interbank - 05') LO QUIERO

            .principalcontent__imgbanner
                //- .principalcontent__imgbanner-detail
                +mx_picture_retina_extra('', img_path + '2022/07/banner-lib-cyberentel22-prod', 'png', 'Equipos Liberados') 

            //- .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago' target="_blank") Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ!]]