.e-box{
    &__flex{
        display: flex;
        &--between{
            justify-content: space-between;
        }
        &--justified{
         align-items: center;
        }
    }
    &__show{
        display: block!important;
    }
    &__hidden{
        display: none !important;
    }
}
.box-icon{
    overflow: hidden;
    display: flex;
    .box-icon__left{
        margin-right: 8px;
        .box-icon__left--middle{

        }
    }
    .box-icon__body{

    }
}

.e-label{
    &__text{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $dark_blue;
    }
    &__info{
        color: $extra_dark_gray;
        font-size: 12px;
        line-height: 14px
    }
    &__circle{
        display: block;
        text-align: center;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: $teal;
        width: 18px;
        height: 18px;
        border: 1px solid;
        border-radius: 8px;
        margin-bottom: 5px;
        &--teal{
            border-color: $teal;
        }
    }
}

