.e-breadcrumbs {
    ul {
        margin-bottom: 0;
        text-align: left;
        @include inline-block-sin-espacios;

        li {
            position: relative;

            a {
                display: block;
                font-size: 14px;
                padding: 17px 0;

                &,
                &:hover {
                    color: $dark_blue;
                }

                &:after {
                    content: "/";
                    margin: 0 3px;
                    vertical-align: baseline;
                    display: inline-block;
                }
            }

            &.css--active {
                a {
                    font-weight: 600;

                    &:after {
                        content: none;
                    }
                }
            }
        }
    }
}