.counter-add {
    border: 1px solid $blue;
    border-radius: 20px;
    height: 40px;
    width: 205px;
    margin: 0 auto;
    position: relative;

    .detail {
        line-height: 38px;
        color: $black;
        font-weight: 600;
        font-size: 14px;
    }

    .min {
        position: absolute;
        top: 3px;
        left: 2px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 0C13.3355 0 10.2421 0.938383 7.61088 2.69649C4.9797 4.45459 2.92894 6.95344 1.71793 9.87706C0.506933 12.8007 0.190079 16.0177 0.807443 19.1214C1.42481 22.2251 2.94866 25.0761 5.1863 27.3137C7.42394 29.5513 10.2749 31.0752 13.3786 31.6926C16.4823 32.3099 19.6993 31.9931 22.6229 30.7821C25.5466 29.5711 28.0454 27.5203 29.8035 24.8891C31.5616 22.2579 32.5 19.1645 32.5 16C32.4919 11.759 30.8035 7.69409 27.8047 4.69527C24.8059 1.69645 20.741 0.00813226 16.5 0ZM22.6538 17.2308H10.3462C10.0197 17.2308 9.70669 17.1011 9.47587 16.8703C9.24506 16.6395 9.11539 16.3264 9.11539 16C9.11539 15.6736 9.24506 15.3605 9.47587 15.1297C9.70669 14.8989 10.0197 14.7692 10.3462 14.7692H22.6538C22.9803 14.7692 23.2933 14.8989 23.5241 15.1297C23.7549 15.3605 23.8846 15.6736 23.8846 16C23.8846 16.3264 23.7549 16.6395 23.5241 16.8703C23.2933 17.1011 22.9803 17.2308 22.6538 17.2308Z' fill='%23002EFF'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        width: 33px;
        height: 33px;
        cursor: pointer;
    }

    .max {
        position: absolute;
        top: 3px;
        right: 2px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.5 16C32.5 20.2435 30.8143 24.3131 27.8137 27.3137C24.8131 30.3143 20.7435 32 16.5 32C12.2565 32 8.18687 30.3143 5.18629 27.3137C2.18571 24.3131 0.5 20.2435 0.5 16C0.5 11.7565 2.18571 7.68687 5.18629 4.68629C8.18687 1.68571 12.2565 0 16.5 0C20.7435 0 24.8131 1.68571 27.8137 4.68629C30.8143 7.68687 32.5 11.7565 32.5 16ZM17.5 9C17.5 8.73478 17.3946 8.48043 17.2071 8.29289C17.0196 8.10536 16.7652 8 16.5 8C16.2348 8 15.9804 8.10536 15.7929 8.29289C15.6054 8.48043 15.5 8.73478 15.5 9V15H9.5C9.23478 15 8.98043 15.1054 8.79289 15.2929C8.60536 15.4804 8.5 15.7348 8.5 16C8.5 16.2652 8.60536 16.5196 8.79289 16.7071C8.98043 16.8946 9.23478 17 9.5 17H15.5V23C15.5 23.2652 15.6054 23.5196 15.7929 23.7071C15.9804 23.8946 16.2348 24 16.5 24C16.7652 24 17.0196 23.8946 17.2071 23.7071C17.3946 23.5196 17.5 23.2652 17.5 23V17H23.5C23.7652 17 24.0196 16.8946 24.2071 16.7071C24.3946 16.5196 24.5 16.2652 24.5 16C24.5 15.7348 24.3946 15.4804 24.2071 15.2929C24.0196 15.1054 23.7652 15 23.5 15H17.5V9Z' fill='%23002EFF'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        width: 33px;
        height: 33px;
        cursor: pointer;
    }
}