.e-link {
    font-size: 16px;
    color: $live_blue;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline !important;
    display: inline-block;
    transition: all 500ms ease 0s;
    &--animate {
        text-transform: none;
        position: relative;
        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            background-color: $orange;
            -webkit-transition-property: left, right;
            -o-transition-property: left, right;
            transition-property: left, right;
            -webkit-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-in-out;
            -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
        }
        &::after {
            left: 50%;
            right: 50%;
            height: 2px;
        }
        &:hover::after {
            left: 0;
            right: 0;
        }
    }
    &:hover {
        color: $live_blue;
        opacity: 0.8;
    }

    &.e--blue {
        color: $blue;

        &:hover {
            color: $live_blue;
            opacity: 1;
        }
    }

    &.e--orange {
        color: $orange;

        &:hover {
            color: $live_blue;
            opacity: 1;
        }
    }

    &.e--small {
        font-size: 12px;

        @include responsive-width($laptop_m) {
            font-size: 14px;
        }
    }

    &.e--lowercase {
        text-transform: lowercase;
    }

    &.e--capitalize {
        text-transform: capitalize;
    }

    &.e--no-transform {
        text-transform: none;
    }

    &.e--orange {
        color: $orange;
    }
}
