.e-filter {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    background-color: $white;
    z-index: 1001;
    padding: 40px 20px;
    width: 310px;

    visibility: hidden;
    transform: translateX(-100%);
    opacity: 0;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;

    @include responsive-width($tablet_m) {
        position: relative;
        height: auto;
        background-color: transparent;
        z-index: inherit;
        width: 225px;
        padding: 0;
        padding-top: 25px;
        visibility: visible;
        opacity: 1;
        transform: none;
    }

    &__title {
        font-weight: 500;
        font-size: 20px;

        &--empresas {
            color: $dark_blue;
        }
    }

    &__button {
        font-size: 14px;
        margin-bottom: 0;
        color: $extra_dark_gray;
        font-weight: 500;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        cursor: pointer;

        border-width: 0;
        background-color: transparent;
        border-radius: 0;

        position: absolute;
        left: 0;
        top: 28px;

        @include responsive-width($tablet_m) {
            display: none;
        }

        p {
            margin-bottom: 0;
            margin-left: 10px;
        }

        small{
            position: absolute;
            right: -14px;
            top: 50%;
            transform: translateY(-50%);
            width: 19px;
            height: 19px;
            background-color: $teal;
            border-radius: 100%;
            color: $white;
            text-align: center;
            line-height: 18px;
            font-size: 11px;
            font-weight: 600;
            display: none;
        }

        &__clear{
            border-width: 0;
            background: inherit;
            color: $extra_dark_gray;   
            font-size: 14px;
            font-weight: 500;   
            text-align: center;
            width: 100%;
            text-decoration: underline;  
            padding: 10px 0;
            display: block;

            @include responsive-width($tablet_m){
                display: none;
            }
        }
    }

    &__checkbox {
        small {
            display: block;
            margin-top: 8px;
            font-size: 14px;
            margin-left: -28px;
            line-height: 1.14;
            margin-bottom: -3px;
        }

        &:last-child {
            small {
                margin-bottom: 0;
            }
        }

        &--small {
            margin-bottom: 10px;
        }
    }

    &__container {
        width: 225px;

        @include responsive-width($tablet_m) {
            width: auto;
        }
    }

    &__close {
        @extend .m-modal__close;
        border-color: darken($white, 13.5%);
        visibility: visible;

        &:before,
        &:after {
            background-color: darken($white, 13.5%);
        }
    }

    &__buttons {
        margin-top: 30px;

        #{$button_class} {
            min-width: inherit;
            width: 100%;
        }

        >div {
            &:first-child {
                padding-right: 5px;
            }

            &:last-child {
                padding-left: 5px;
            }
        }
    }

    &__body {
        @include responsive-max-width($tablet_m - 1) {
            overflow: hidden;
            //position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;

            &:before {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    @at-root body {
        position: relative;

        &:before {
            content: '';
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 1000;
            transition-property: all;
            transition-duration: .3s;
            transition-timing-function: ease-in-out;
            background-color: rgba($black, .5);
            opacity: 0;
            visibility: hidden;
        }
    }

    &__content {
        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        &.js--active {
            display: block;
            animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;            

            @include responsive-width($tablet_s) {
                display: inline-block;
            }
            @include responsive-width($tablet_m) {
                display: block;
            }

            @keyframes slide-top {
                0% {
                    opacity: 0;
                    transform: translateY(10px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        &.js--disable {
            display: none;
        }
    }

    &__tags {
        &__title {
            line-height: 1;
            color: $extra_light_black;
            font-size: 16px;
            display: none;
            @include responsive-width($tablet_m) {
                display: block;
            }

            span {
                display: inline-block;
                vertical-align: top;
                padding-right: 3px;
                @include responsive-width($tablet_m) {
                    display: none;
                }
            }

            strong {
                font-weight: 600;
                @include responsive-width($tablet_m){
                    font-size: 14px;
                    text-transform: uppercase;
                    color: $dark_blue;
                }
            }
        }

        &__card {
            margin-right: 5px;
            margin-bottom: 5px;

            font-size: 12px;
            font-weight: 600;
            color: $extra_light_black;
            padding: 8px 14px;
            padding-right: 25px;
            line-height: 1;
            background-color: $extra_light_gray;
            border: 1px solid #ddd;
            border-radius: 8px;
            cursor: pointer;
            position: relative;

            &:before,
            &:after {
                content: '';
                display: block;
                height: 1px !important;
                width: 9px !important;
                top: 50% !important;
                margin-top: 1px;
                position: absolute;
                transition-property: all;
                transition-duration: .3s;
                transition-timing-function: ease-in-out;
                background: $extra_light_black !important;
                border-width: 0;
                right: 12px;
                left: auto !important;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg) !important;
            }
        }

        &__grid {
            margin-top: 20px;
            text-align: center;
            @include responsive-width($tablet_m){
                margin-top: 7px;
                text-align: left;
            }
        }
    }

    &__order {
        &__header {
            padding-top: 25px;
            padding-bottom: 20px;
            background-color: $white;
            position: relative;

            &.js--active {
                @include responsive-max-width($tablet_m - 1) {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 999;
                    padding: 30px 20px 10px;
                    animation: heaferFilerIn 0.3s ease-in-out both;                   

                    .e-filter{
                        &__button {
                            top: 33px;
                            left: 20px;
                            small{
                                display: block;
                            }
                            &__clear{
                                display: none;
                            }
                        }
                        &__tags{
                            position: relative !important;
                            visibility: visible !important;
                            &__title{
                                display: block;
                                position: absolute;
                                top: 10px;
                            }
                            &__grid{
                                display: none;
                            }
                        }
                    }

                    @keyframes heaferFilerIn {
                        0% {
                            opacity: 0;
                            transform: translateY(-100%);
                        }

                        100% {
                            opacity: 1;
                            transform: translateY(0);
                            box-shadow: 0px 4px 10px rgba($black, 0.15);
                        }
                    }
                }
            }
        }
    }

    &.js--open {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    &.js--active{
        .m-accordion--filter{
            &:not(#e-catalogo__filter__product):not(.m-accordion--filter__plans){
                display: none;
            }
            &__plans{
                display: block;
            }
        }
    }
}

// Scroll en Filtro Catalogo Equipos
@media(min-width: 1024px){
    .e-catalog-equipment__row{
        display: flex;
        table-layout: initial;
        height: initial;
        max-width: 100%;
        .filter__main{
            display: block;
            min-width: 225px;
            height: 515px;
            position: sticky;
            &::-webkit-scrollbar{
                width: 9px;
            }
            &::-webkit-scrollbar-thumb{
                background: #ccc;
                border-radius: 4px;                
            }
            &::-webkit-scrollbar-thumb:active{
                background-color: #999999;
            }
            &::-webkit-scrollbar-thumb:hover{
                background: #b3b3b3;
                box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
            }
            &::-webkit-scrollbar-track {
                background: #e1e1e1;
                border-radius: 4px;
            }
            &::-webkit-scrollbar-track:hover,
            &::-webkit-scrollbar-track:active{
                background: #d4d4d4;
            }

        }
        .e-catalog-equipment__grid__right{
            max-width: calc(100% + -225px);
        }
    }
    .m-accordion--filter .m-accordion__toggle:after{
        right: 8px;
    }    
}

@media (min-width: 1400px) {
    .e-catalog-equipment__row{
        .filter__main{
            height: 715px;
        }
    }
}