.e-info-note {
    text-align: left;
    max-width: 635px;
    margin-left: auto;
    margin-right: auto;
    border: 1px dashed $extra_blue;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 12px;
    margin-top: 25px;
    color: $dark_blue;

    @include responsive-width($tablet_m) {
        margin-top: 40px;
        font-size: 14px;
    }

    a {
        color: $orange;
        font-weight: 700;
    }

    p {
        padding-left: 5px;
    }

    span {
        position: relative;
        top: 3.5px;
    }

    &--auto {
        max-width: inherit;
        display: table;
        width: auto;

        >* {
            width: auto;
        }
    }
}