.e-loading {
    &__page {
        background-color: $blue;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        transition-property: all;
        transition-duration: .3s;
        transition-timing-function: ease-in-out;

        &:before {
            content: '';
            top: 50%;
            left: 50%;
            margin-left: -24px;
            margin-top: -18px;
            position: absolute;
            transform: scale(.9);
            @include retina-sprite($loading-group);
            animation-name: loading_page;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;

            @keyframes loading_page {
                0% {
                    transform: scale(.9);
                }

                50% {
                    transform: scale(.95);
                }

                100% {
                    transform: scale(.9);
                }
            }
        }

        &__bar {
            $boxes: 10;
            $durationAll: .8s;
            $duration: - $durationAll / $boxes;
            $color: $orange;

            height: 2px;
            display: table;
            table-layout: fixed;
            transform: translateZ(0) translateX(-50%) translateY(40px);
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100px;

            div {
                display: table-cell;
                background: #{$color};
                animation: go #{$durationAll} infinite alternate ease;
                box-shadow: 0 0 20px #{$color};

                @for $i from 1 through $boxes {
                    &:nth-child(#{$i}) {
                        animation-delay: $duration * ($boxes - $i);
                    }
                }

                @keyframes go {
                    100% {
                        background: transparent;
                        flex: 10;
                        box-shadow: 0 0 0 transparent;
                    }
                }

            }
        }

        &--empresas {
            background-color: $dark_blue;
        }

        ~ *:not(.m-modal):not(.e-button__back-to-top) {
            opacity: 0;
            visibility: hidden;
        }

        &.js--close{
            opacity: 0;
            visibility: hidden;
            ~ *:not(.m-modal):not(.e-button__back-to-top) {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__body {
        overflow: hidden;
    }
}