
.m-menu-icon {
    width: 20px;
    height: 16px;
    position: relative;
    display: inline-block;
    vertical-align: middle;

    span,
    span::before,
    span::after {
        left: 0;
        width: 20px;
        height: 2px;
        content: '';
        display: block;
        position: absolute;
        border-radius: 4px;
        transition: all 300ms;
        background-color: $white;
    } 
    
    span {
        top: 6px;

        &::before {
            top: -6px;
            z-index: 10;
            transform-origin: 33% 100%;
        }

        &::after {
            top: 6px;
            transform-origin: 33% 0;
        }
    }

    &.js--active span {
        background-color: transparent;
    }
        
    &.js--active span:before {
        background-color: $white;
        transform: translateY(2px) translateX(1px) rotate(45deg);
    }
    
    &.js--active span:after {
        background-color: $white;
        transform: translateY(-5px) translateX(1px) rotate(-45deg);
    }
}