.e-progressbar {
    width: 100%;
    height: 6px;
    position: fixed;
    background-color: rgba($teal, .2);
    padding: 0;
    left: 0;
    top: 0;
    z-index: 9;

    &--bottom {
        top: initial;
        bottom: 0;
    }

    span {
        width: 0;
        height: 6px;
        background-color: $teal;
        position: absolute;
        transition: width 250ms ease;
        top: 0;
        left: 0;
    }
}