.e-section {
    background-color: $white;
    padding: 50px 0;
    position: relative;
    z-index: 1;

    @include responsive-width($laptop_s) {
        padding: 80px 0;
        padding-top: 74px;
    }

    &--small{
        padding-top: 35px;
        padding-bottom: 40px;
        @include responsive-width($laptop_s) {
            padding-top: 40px;
            padding-bottom: 45px;
        }
    }
    
    &--xs{
        padding-top: 10px;
        padding-bottom: 15px;
        @include responsive-width($laptop_s) {
            padding-top: 10px;
            padding-bottom: 15px;
        }
    }
    
    &--medium{
        padding-top: 40px;
        padding-bottom: 40px;
        @include responsive-width($laptop_s) {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    &--dark-blue{
        background-color: $dark_blue;
    }

    &--gray {
        //background-color: $light_gray;
        // background-color:$white;
    }

    &--gradient-gray {
        background: linear-gradient(180deg, $extra_dark_gray -66.86%, $extra_light_black 100%);
    }
    
    &--gradient-dark-blue {
        background: linear-gradient(90deg, $extra_dark_blue 0%, $dark_blue 100%);
    }
}