.e-table-speed-legales {
    margin: 30px 0;
    width: 100%;
    overflow-x: auto;

    table {
      border-collapse: separate;
      border-spacing: 0;
      width: auto;
      max-width: 100%;
      margin: 0 auto;
      font-size: 10px;
      @include responsive-width($tablet_s){
        font-size: inherit;
      }
      thead {
        tr:first-child {
            th {
                text-align: center;
                color: $white;
                background: $blue;
                font-weight: 400;
                border-left: 1px solid #dddddd;
                &:first-child {
                  border-left: 0;
                  border-top-left-radius: 10px;
                }
                &:last-child {
                  border-top-right-radius: 10px;
                }
            }
        }
      }

      tbody {
        tr:nth-child(n) {
          td {
            height: 55px;
            background-color: $white;
            border-bottom: 1px solid #dddddd;
            border-left: 1px solid #dddddd;
            color: #4e5057;
            @include responsive-width($tablet_m){
              height: 100%;
            }
            &:last-child {
              border-right: 1px solid #dddddd;
            }
          }
        }
      }
    }

    &_blue {
      table {
        thead > tr:first-child > th {
          color: $blue;
          background: $white;
          font-weight: bold;
        }
        tbody > tr:nth-child(n) > td  {
          background-color: $blue;
          border-bottom: 1px solid #dddddd;
          border-left: 1px solid #dddddd;
          color: $white;
          &:last-child {
              border-right: 1px solid #dddddd;
          }
        }
      }
    }
  }