.e-tab {
  &--no-mobile {
    $tab_content: add-class-modifier("__content");

    #{$tab_content} {
      height: 0;
      overflow: hidden;
      z-index: -1000;
      opacity: 0;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }
  }

/*   &__content {
    position: relative;

    @include responsive-width($laptop_s) {
      height: 0;
      overflow: hidden;
      z-index: -1000;
      opacity: 0;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }

    &.js--open {
      height: auto;
      overflow: visible;
      z-index: inherit;
      opacity: 1;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }
  } */

  /* &__button {

        &__box {}

        &--css {

            &.js--active {}

            &.js--active,
            &.js--active-mobile {}

            &:not(.js--active):not(.js--active-mobile):hover {}
        }
    } */

  &__mobile {
    transition-delay: 0s;
    transition-property: opacity, transform;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease-in-out;
    transform: translateY(-15px);

    @include responsive-width($laptop-s) {
      transform: none;
    }

    &--inactive {
      overflow: hidden;
      visibility: hidden;
      height: 0;
      position: absolute;
      opacity: 0;

      @include responsive-width($laptop_s) {
        overflow: visible;
        visibility: visible;
        height: auto;
        position: relative;
        opacity: 1;
      }
    }

    &--active {
      overflow: visible;
      visibility: visible;
      height: auto;
      position: relative;
      opacity: 1;
      transform: translateY(0px);
      margin-bottom: 20px;

      @include responsive-width($laptop_s) {
        margin-bottom: 0;
      }
    }
  }
  &__texto--personas {
    margin-top: 20px;
    margin-bottom: 20px;
    @include responsive-width($laptop_s) {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    &__nav {
      overflow: hidden;
      margin: 0 auto 30px;
      display: flex;
      padding: 0;
      text-align: center;
      justify-content: center;

      @include responsive-width($laptop_s) {
        margin-bottom: 10px;
      }

      span {
        vertical-align: middle;
      }

      a {
        &:first-child {
          border-radius: 9px 0 0 9px;
        }
        &:last-child {
          border-radius: 0 9px 9px 0;
        }
      }
    }

    &__button {
      &-css {
        font-weight: 500;
        color: #9e9fa1;
        font-size: 12px;
        background-color: darken($white, 4.5%);
        padding: 7px 19px;
        text-align: center;
        display: inline-block;
        width: 125px;

        @include responsive-width($mobile_l) {
        }

        @include responsive-width($tablet_m) {
          font-size: 14px;
          width: 170px;
        }

        &:not(:last-child) {
          border-right: 1px solid darken($white, 23%);
        }

        &.js--active,
        &:not(.js--active):not(.js--active-mobile):hover {
          font-weight: 700;
          background-color: $extra_blue;
          color: $white;
          border-color: $extra_blue;

          .e-tab__phone-categories__nav__icon {
            display: none;

            &--active {
              @include responsive-width($tablet_m) {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }

  &__content {
    height: 0;
    overflow: hidden;
    z-index: -1000;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    @include responsive-width($tablet_s) {
    }

    &.js--open {
      height: auto;
      overflow: visible;
      z-index: inherit;
      opacity: 1;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }
  }
}