.e-title {
    font-size: 24px;
    font-weight: 400;
    text-align: center;

    @include responsive-width($tablet_m) {
        font-size: 34px;
    }

    &--small {
        color: $sky_blue;
        font-weight: 500;
        line-height: 1.25;
        max-width: 160px;
        margin-left: auto;
        margin-right: auto;

        @include responsive-width($mobile-l) {
            font-size: 16px;
            max-width: inherit;
        }
    }

    &--white{
        color: $white;
    }
    &--dark-blue{
        color: $dark_blue;
    }
    &--orange{
        color: $orange;
    }
}