.e-paragraph-tooltip {
    > span {
        &:last-child {
            vertical-align: middle;
            margin-left: 5px;
            position: relative;
            cursor: pointer;

            border-radius: 100%;
            animation-duration: 1.5s;
            //animation-timing-function: ease-out;
            //animation-iteration-count: infinite;
            //animation-fill-mode: forwards;
            //animation-name: shadow;
            @include responsive-width($tablet_m) {
                //animation-name: none;
            }
            @keyframes shadow {
                0% {
                    box-shadow: 0 0 5px 0 $extra_blue;
                }

                50% {
                    box-shadow: 0 0 5px 0 transparent;
                }

                100% {
                    box-shadow: 0 0 5px 0 $extra_blue;
                }
            }

            span {
                position: absolute;
                top: 100%;
                background-color: darken($white, 8%);
                border-radius: 10px;
                color: $extra_light_black;
                font-size: 12px;
                width: 240px;
                right: -145px;
                padding: 9px 18px;
                line-height: 1.16;
                margin-top: 10px;
                z-index: 2;
                opacity: 0;
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: ease-in-out;
                box-shadow: 0px 4px 5px rgba($black, 0.1);
                visibility: hidden;

                @include responsive-width($tablet_s) {
                    left: -20px;
                    right: inherit;
                    width: 280px;
                }

                &:before {
                    content: "";
                    position: absolute;
                    right: 147px;
                    width: 0;
                    height: 0;
                    top: -8px;
                    border-bottom: 8px solid darken($white, 8%);
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    @include responsive-width($tablet_s) {
                        left: 23px;
                        right: inherit;
                    }
                }
            }
        }
        &:hover {
            span {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

  
/* ---------------------- */
/* Actual Tooltip Styles */
/* -------------------- */

.tooltip__expanded {
    transform: rotateY(0deg);
    display: auto;
  
  }
  .tooltip__hidden {
    transform: rotateX(90deg);
    display: none;
  }
  
  .hired-tooltip {
    z-index: 1;
    position: relative;
    cursor: pointer !important; /* do we always actually want this? */
    bottom: -3px;
    left: 1px;
  }
  
  .tooltip__expanded:after {
    content: "";
    position: absolute;
    bottom: -10px;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #36373E transparent;
    right: 50%;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
  }
  
  .tooltip__expanded-bottom:after {
    top: -10px;
    right: 50%; 
    bottom: auto;
    left: auto;
    border-width: 0 10px 10px;
    border-color: #DDDDDD transparent;
  }
  
  .tooltip__expanded-right:after {
    top: 25%;
    left: -10px;
    bottom: auto;
    border-width: 10px 10px 10px 0;
    border-color: transparent #36373E;
  }
  
  .tooltip__expanded-left:after {
    top: 25%; /* controls vertical position */
    right: -10px;
    bottom: auto;
    left: auto;
    border-width: 10px 0 10px 10px;
    border-color: transparent #36373E;
  }
  
  #hired_tooltip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    pointer-events: none;
    transition: transform 0.1s ease-in-out;
    padding: 1rem;
    background-color: #DDDDDD;
    max-width: 292px;
    text-align: center;
    color: #4E5057;
    border-radius: 8px;
  }  