.e-tooltip {
    position: relative;
    display: inline-block;

    *[data-tooltip="true"] {
        cursor: pointer;
        display: inline-block;

        &:hover + .e-tooltip__content {
            opacity: 1;
            z-index: 1;
        }
    }

    &__content {
        left: 50%;
        top: 100%;
        opacity: 0;
        z-index: 0;
        width: auto;
        color: $white;
        padding: 15px;
        font-size: 12px;
        min-width: 250px;
        text-align: left;
        line-height: 14px;
        position: absolute;
        border-radius: 8px;
        text-transform: none;
        background-color: $extra_blue;
        transform: translate(-50%, 5px);
        transition: opacity 300ms ease-in-out;

        &::before {
            width: 0;
            height: 0;
            top: -6px;
            left: 50%;
            content: '';
            position: absolute;
            transform: translate(-6px, 0);
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 6px solid $extra_blue;
        }

        img {
            margin: 0 0 10px;
        }

        p:last-child {
            margin: 0;
        }
    }

    &.e--gray {
        .e-tooltip__content {
            background-color: $extra_dark_gray;

            &::before {
                border-bottom: 6px solid $extra_dark_gray;
            }
        }
    }

    &.e--left {
        .e-tooltip__content {
            transform: translate(-30%, 5px);

            &::before {
                left: 30%;
            }
        }
    }

    &.e--right {
        .e-tooltip__content {
            transform: translate(-70%, 5px);

            &::before {
                left: 70%;
            }
        }
    }
}

.e-tooltip-wrapper {
    position: relative;
}