.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Liberados' data-layer-name='Equipos Liberados' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres')
    .entel__slider--home__item__content.entel__slider--home__bf_accesorios
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina('', img_path + '2021/11/banner-acc-blackfriday-tit', 'png', 'Adquiere tus accesorios con El Black Friday')

            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2021/11/banner-acc-blackfriday-prod-v2', 'png', 'Accesorios hasta con: 60% dto.* Delivery gratis en 48 horas sujeto a restricciones')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://entelstore.pe' target='_blank') Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://entelstore.pe" ) aquí!]]
            small.e-legal-small.e-legal-small__desk #[strong *Entel Store.pe comercializado por IX Comercio] Válido hasta el 30/11/2021 en #[a(href="https://entelstore.pe" ) entelstore.pe]. Stock mínimo 10 unidades por accesorio. Cobertura de delivery y más información en #[a(href="https://entelstore.pe" ) entelstore.pe].