.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Migra_Postpago_Power' data-layer-name='Migra Postpago Power' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.e-banner__slide.entel__slider--home__bf_cuota0
        //- .principalcontent_bg
        .principalcontent
            .principalcontent-detail
            .principalcontent__textbanner
                .principalcontent__textbanner-text
                    form#banner-form-catalogo-post
                        .form--content
                            .form--head
                                +mx_picture_retina('', img_path + '2021/11/banner-blackfriday-cuota0-tit', 'png', '¡El Black Friday llegó a Entel!')
                            .form--body
                                h3 Déjanos tus datos y te llamamos:
                                .form--number
                                    input.validonlynumeric(type='tel' placeholder='Número de celular' maxlength='9' name='form_lead_phone' autocomplete='on')
                                .form--check
                                    input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                    .input-mask-top
                                    label(for='checkt')
                                        a(href='http://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')
                                            | Acepto las 
                                            span políticas de privacidad
                                button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='form superior' data-gtm-category='catalogo' data-gtm-label='Te llamamos') LLÁMAME
                                
                            .form--button
                                a.animated.e-button.e-button--orange(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#productos')
                                    span Lo quiero

                            .form--loading
                                img(class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" alt="loading")
                                
                            .form--duplicate.text-white
                                p ¡Hola! Ya contamos con tu número. 
                                p Estate atento a nuestra pronta llamada.
                            .form--error.text-white
                                p Lo sentimos Ocurrió un error
                                p al procesar tus datos.
                            .form--thanks.text-white
                                img(class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" alt="Entel")
                                
                                p ¡Gracias por confiar 
                                    span  en nosotros!

            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2021/11/banner-blackfriday-cuota0-prod-v1', 'png', '')
                    
            //- small.e-disclaimer-small *Descuento calculado sobre precio de equipo en cuotas a 18 meses
            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones") AQUÍ!]]
            small.e-legal-small.e-legal-small__desk Válido en #[a( href="https://www.entel.pe") entel.pe] hasta el 30/11/2021 en portabilidad (origen postpago) para personas naturales o RUC 10 con planes indicados y acuerdo de equipo en cuotas a 12 meses. Stock mínimo a nivel nacional: 10 unidades por modelo. Descuento del 50% aplica solo sobre el cargo fijo del plan y será válido por los 6 primeros meses desde la contratación (incluye el prorrateo). No es acumulable con otras promociones de descuento de cargo fijo ni incluye costo de chip. No aplica en Iquitos ni para RUC 20. Cobertura de delivery y restricciones: #[a( href="https://catalogo.entel.pe") catalogo.entel.pe]