.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Liberados' data-layer-name='Equipos Liberados' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres')
    .entel__slider--home__item__content.entel__slider--home__bf_liberados
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina('', img_path + '2021/11/banner-lib-blackfriday-tit', 'png', 'Compra tu Equipo Liberado con el Black Friday')

            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2021/11/banner-lib-blackfriday-prod', 'png', 'Poco M3 - Samsung Galaxy A03s - ZTE Blade A51')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres') Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) aquí!]]
            small.e-legal-small.e-legal-small__desk Promoción válida en #[a(href="https://entel.pe" ) entel.pe] hasta el 30/11/2021. Stock mínimo: 30 unidades por modelo. No aplica para RUC 20. Cobertura de delivery, condiciones y restricciones en #[a(href="https://catalogo.entel.pe" ) catalogo.entel.pe].