.campania-equipos {
  width: 100%;
  height: auto;
  padding: 0px;
  display: flex;
  margin-top: 0px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(90.05deg, #00b9eb 18.95%, #004fb9 100%);




  // @include responsive-width($laptop_s) {
  //   &::after{
  //     content: "";
  //     position: absolute;
  //     left: 0;
  //     bottom: 0;
  //     width: 30px;
  //     height: 30px;
  //     background-repeat: no-repeat;
  //     background-image: m_image_url('2022/09/sorteo-equipos-cintillo-equipos-caja-regalo-desk.png');
  //     @include backgound_retina {
  //       background-image: m_image_url('2022/09/sorteo-equipos-cintillo-equipos-caja-regalo-desk@2x.png');
  //     }
      
  //   }
  //   // background: linear-gradient(90.04deg, #04AFDD 13.49%, #C7F3FF 29.41%, #C1F2FF 75.93%);
  // }

  .box-tecnology {
    padding: 0px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    // position: relative;
    justify-content: center;

    &__image {
      width: auto;
      flex-shrink: 0;
      position: relative;
      margin-bottom: 1px;
      // margin-right: 10px;

      img {
        animation: beat 3s infinite;
        -webkit-animation: beat 3s infinite;
      }

      .picture-view {
        left: 7px;
        top: -5px;
        opacity: 0;
        position: absolute;
        animation: laptop-view 6s linear infinite;

        &,
        img {
          max-width: inherit;
        }

        &-1 {
          // opacity: 1;
        }

        &-2 {
          animation: laptop-view 6s linear infinite 3s;
        }
      }

      .picture-base {
        left: -61px;
        z-index: -1;
        bottom: -23px;
        position: absolute;

        &,
        img {
          max-width: inherit;
        }
      }
    }

    &__container {
      width: 100%;
      display: flex;
      max-width: 200px;
      align-items: center;

      @include responsive-width($tablet_m) {
        gap: 24px;
        max-width: 400px;
        align-items: center;
      }

      @include responsive-width($laptop_s) {
        gap: 15px;
        max-width: 600px;
        margin-bottom: 15px;
      }

      .text-1 {
        width: 70px;
        flex-shrink: 0;
        br {
          display: none;

          @include responsive-width($tablet_m) {
            display: block;
          }

          @include responsive-width($laptop_s) {
            display: none;
          }
        }

        p {
          font-size: 10px;

          @include responsive-width($tablet_m) {
            font-size: 16px;
            font-weight: 500;
            width: 115px;
          }

          @include responsive-width($laptop_s) {
            width: 216px;
            font-size: 20px;
          }
        }

        picture {
          @include responsive-width($tablet_m) {
            margin-left: 2px;
            display: flex;
            align-items: flex-end;
          }
        }

        @include responsive-width($tablet_m) {
          display: flex;
          align-items: end;
          width: 185px;
        }

        @include responsive-width($laptop_s) {
          width: 315px;
        }
      }

      .text-2 {
        width: 95px;

        @include responsive-width($mobile_m) {
          width: 117px;
        }

        @include responsive-width($tablet_m) {
          width: 185px;
        }
        @include responsive-width($laptop_s) {
          width: 260px;
          align-self: end;
        }
        b {
          font-size: 14px;

          @include responsive-width($mobile_m) {
            font-size: 16px;
          }
        }

        p {
          @include responsive-width($tablet_m) {
            width: 114px;
          }
          @include responsive-width($laptop_s) {
            width: 240px;
          }
        }
      }
    }

    &__text {
      // width: 110px;
      // max-width: 100%;
      // flex-shrink: 0;
      padding-left: 5px;
      padding-right: 5px;

      p {
        color: #fff;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        // letter-spacing: -0.03em;
        margin-bottom: 0;

        @include responsive-width($tablet_m) {
          font-size: 12px;
        }

        @include responsive-width($laptop_s) {
          font-size: 12px;
        }

        @include responsive-width($laptop_m) {
          font-size: 12px;
        }

        b {
          font-weight: bold;
        }

        br {
          display: none;

          @include responsive-width(360px) {
            display: inline-block;
          }

          @include responsive-width($laptop_s) {
            display: none;
          }
        }
      }
    }

    &__button {
      margin-left: 0;
      a {
        display: inline-block;
        min-width: 100px;
        padding: 7px 5px;
        min-width: 90px;
        font-size: 9px;
        background: transparent !important;
        border-color: #fff !important;
        position: relative;
        // background: #FF560A no-repeat left top !important;
        // border-color: #FF560A !important;
        height: 30px;

        &::before {
          content: "INGRESAR";
          color: #ffffff;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          // text-decoration: underline;
          text-transform: uppercase;
          font-weight: 700;
          // font-size: 11px;
          line-height: 18px;

          @include responsive-width($tablet_m) {
            content: "ingresa aquí";
            text-decoration: none;
            width: 100%;
            font-weight: 700;
          }
        }
        @include responsive-width($tablet_m) {
          min-width: 110px;
        }
        @include responsive-width($laptop_s) {
          min-width: 125px;
          margin-left: 30px;
        }
      }
    }
  }

  @keyframes bg-white {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -51px;
    }
  }

  @keyframes bg-blue {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -46px;
    }
  }

  @keyframes laptop-view {
    0% {
      transform: scale(0.4);
      opacity: 0;
    }

    10% {
      transform: scale(1);
      opacity: 1;
    }

    40% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(0.8);
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  &.campania-equipos_navidad {
    .copos1_bg, .copos2_bg {
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
    }
    .copos1_bg {
      background-repeat: repeat;
      background-size: 299px 79px;
      background-image: m_image_url('2022/11/sorteo-equipos-cintillo-equipos-navidad-copos1-bg@2x.png');
    }
    .copos2_bg {
      background-repeat: repeat;
      @include responsive-width($tablet_m) {
        background-size: 798px 82px;
        background-image: m_image_url('2022/11/sorteo-equipos-cintillo-equipos-navidad-copos2-bg-tab@2x.png');
      }
      @include responsive-width($laptop_s) {
        background-repeat: no-repeat;
        background-size: 1920px 82px;
        background-image: m_image_url('2022/11/sorteo-equipos-cintillo-equipos-navidad-copos2-bg-desk@2x.png');
      }
    }

    .bolita_navidad_izq, .bolita_navidad_der {
      top: 0;
      position: absolute;
    }

    .bolita_navidad_izq {
      left: 0;
    }

    .bolita_navidad_der {
      display: none;
      @include responsive-width($tablet_m) {
        display: block;
        right: 115px;
      }
      @include responsive-width($laptop_s) {
        right: -25px;
      }
    }

    .box-tecnology {
      position: relative;
    }

    .box-tecnology__container {
      @include responsive-width($tablet_m) {
        gap: 0;
        margin-bottom: 0;
        margin-right: 15px;
      }
      @include responsive-width($laptop_s) {
        max-width: 700px;
        gap: 20px;
        margin-right: auto;
      }
    }
    .box-tecnology__button {
      ::before {
        font-size: 9px;
        content: "ingresa aquí";
        white-space: nowrap;
        @include responsive-width($tablet_m) {
          font-size: 12px;
        }
      }
    }
    .box-tecnology__text {
      &.text-1 {
        @include responsive-width(360px) {
          width: 106px;
          padding-left: 4px;
          padding-right: 4px;
        }
        @include responsive-width($tablet_m) {
          width: 135px;
        }
        @include responsive-width($laptop_s) {
          width: auto;
        }
        p {
          font-size: 9px;
          line-height: 10px;
          @include responsive-width(360px) {
            font-size: 11px;
            line-height: 15px;
          }
          @include responsive-width($tablet_m) {
            font-size: 13px;
            line-height: 15px;
            width: 100%;
          }
          @include responsive-width($laptop_s) {
            font-size: 18px;
          }
        }
      }
      &.text-2 {
        @include responsive-width(360px) {
          width: 100px;
        }
        @include responsive-width($tablet_m) {
          width: 220px;
        }
        @include responsive-width($laptop_s) {
          width: auto;
          min-width: 315px;
        }

        br {
          @include responsive-width($laptop_s) {
            display: none;
          }
        }
        p, p > b {
          font-size: 12px;
          text-align: center;
          @include responsive-width($tablet_m) {
            width: 100%;
            font-size: 18px;
            line-height: 20px;
          }
          @include responsive-width($laptop_s) {
            font-size: 20px;
          }
        }

        p > b {
          margin-left: 0.25em;
        }
      }
    }
  }
}
