- banner_name = 'App Mi Entel Perú'
- banner_link = 'https://pemientel.page.link/App'

.entel__slider--home__item(
  data-entel-slide-index='8' 
  data-entel-slide-time='8000' 
  data-layer-id='slider_'+banner_name  
  data-layer-name='Banner'+banner_name 
  data-layer-position='Home - Banner Superior 8' 
  data-layer-creative=banner_link
  )

  .entel__slider--home__item__content.entel__slider--home__item__content--app-entel
    .e-container
      .e-container-flex
        .e-container-flex__item.e-container-flex__item--1.fadeInLeft
          div
            //- +lazy_image_webp_retina('2021/12/e-home-banner-fms-entel', 'png', 'Logo Entel')
            .app-entel__titular
              .banner-app-entel-logo.heart-rotate
                +iconSVG('banner-app-entel-logo')
              h2 App Mi #[strong Entel Perú]
            p #[strong Resuelve] tus consultas al toque y disfruta de tus #[strong beneficios favoritos]
            a(class='e-button e-button--orange entel-data-layer-btn-header' href=banner_link 
            target='_BLANK' 
            data-gtm-category='Home Banner' 
            data-gtm-action='Seleccionar botón' 
            data-gtm-label='App Mi Entel Perú -ir a LA app' 
            data-gtm-product='Personas' 
            data-gtm-tipo='Informativo'
            data-gtm-label='App Mi Entel Perú - 08'
            ) #[span ir a LA app]

        .e-container-flex__item.e-container-flex__item--2.fadeInRight
          +lazy_image_webp_retina_media('2022/03/banner-app-entel-cel-mob', 'png', '2022/03/banner-app-entel-cel-desk', '768', 'Celular del App Mi Entel Perú')(class="top-bottom")
        //- .e-container-flex__item.e-container-flex__item--3.fadeInRight
          +lazy_image_webp_retina_media('2021/12/e-home-banner-fms-img-mob', 'png', '2021/12/e-home-banner-fms-img-desk', '768', 'Participantes FMS')(class="zoom")