.entel__slider--home__item__content.entel__slider--home__accesorios_cyberwow {
    background: $white;
    padding: 0;
    -webkit-box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
    box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
            height: 100%;
            top: 0;
            -ms-transform: none;
            transform: none;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &__bg {
            z-index: 0;
            width: 100%;
            height: inherit;
            position: absolute;
            background-size: auto;
            background-repeat: no-repeat;
            background-position: top center;
            background-image: url($m_image_path+ '2022/07/banner-acc-cyberwow-bg-mob.png');
            @include responsive-width($tablet-m) {
                background-image: url($m_image_path+ '2022/07/banner-acc-cyberwow-bg-tab.png');
            }
            @include responsive-width($laptop-s) {
                background-image: url($m_image_path+ '2022/07/banner-acc-cyberwow-bg-desk.png');
            }
            
            @include responsive-width($laptop-m) {
                background-image: url($m_image_path+ '2022/07/banner-acc-cyberwow-bg-big.png');
            }
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding-top: 51px;
            padding-left: 16px;
            margin-bottom: 0;
            @include responsive-width($tablet-m) {
                width: 100%;
                text-align: left;
                padding-left: 46px;
                padding-top: 28px;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 36px;
                padding-top: 60px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 48px;
                padding-top: 70px;
            }

            img {
                position: relative;
                display: inline-block;
                width: auto;

                @include responsive-width($tablet-m) {
                    width: auto;
                }

            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            bottom: 42px;
            right: 0px;
            margin: 0;
            width: 100%;
            position: absolute;
            text-align: right;

            @include responsive-width($tablet-m) {
                margin: 0;
                position: absolute;
                right: 54px;
                bottom: 70px;            
                -ms-transform: none;
                transform: none;
            }
            @include responsive-width($laptop-s) {
                right: 32px;
                bottom: 48px;
            }
            @include responsive-width($laptop-m) {
                right: 60px;
                bottom: 28px;
            }

            &-img {
                position: relative;
                display: block;
                height: 100%;
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;   
                margin-right: 0;
    

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                    margin-right: 0;
                }
            }
        }

        .e-button-buy {
            margin-top: 3px;
            text-align: left;
            margin-left: 30px;
        
            @include responsive-width($tablet-m) {
                margin-top: 5px;
                margin-left: 66px;
            }

            @include responsive-width($laptop-s) {  
                margin-left: 38px;
                margin-top: 30px;
            }

            @include responsive-width($laptop-m) {
                margin-left: 50px;
            }

            .btn-buy {
                height: 40px;
                width: 142px;
                padding: 0;
                margin: 0;
                line-height: 36px;
                font-size: 12px;
                background-color: #FD2B73;
                border-color: #FD2B73;

                @include responsive-width($tablet-m) {
                    margin: 0;
                    width: 176px;
                    height: 55px;
                    font-size: 14px;
                    line-height: 48px;
                }
                @include responsive-width($laptop-m) {
                    padding: 2px;
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;

            &__mob {
                padding-left: 30px;
                margin: 0;
                bottom: 12px;
                text-align: left;
                @include responsive-width($tablet-m) {
                    text-align: left;
                    width: 100%;
                    padding: 0;
                    bottom: 16px;
                    padding-left: 72px;
                }
                
                @include responsive-width($laptop-s) {
                    bottom: 20px;
                    padding-left: 46px;
                }
                @include responsive-width($laptop-m) {
                    padding-left: 48px; 
                }

            }

            // &__desk {
            //     display: none;
                
            //     @include responsive-width($tablet-m) {
            //         font-size: 10px;
            //         max-width: 644px;
            //         right: auto;
            //         left: 50px;
            //         bottom: 10px;
            //         padding: 0;
            //         margin: 0;
            //         text-align: center;
            //     }

            //     @include responsive-width($laptop-s) {
            //         bottom: 10px;
            //         max-width: 930px;
            //         left: 37px;
            //         display: block;
            //     }
    
            //     @include responsive-width($laptop-m) {
            //         display: block;
            //         max-width: 100%;
            //         left: 0;
            //         bottom: 15px;
            //     }
            // }

            a {
                color: $extra_dark_gray;
                text-decoration: none;
            }
        }
    }
}
