.entel__slider--home__item__content.entel__slider--home__liberados_cyberwow  {
    background: $color-blue-cyberwow;
    padding: 0;
    -webkit-box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
    box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
            height: 100%;
            top: 0;
            -ms-transform: none;
            transform: none;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &__bg {
            z-index: 0;
            width: 100%;
            height: inherit;
            position: absolute;
            background-size: auto;
            background-repeat: no-repeat;
            background-position: top center;
            background-image: url($m_image_path+ '2022/07/banner-liberados-cyberwow-bg-mob.png');
            @include responsive-width($tablet-m) {
                background-image: url($m_image_path+ '2022/07/banner-liberados-cyberwow-bg-tab.png');
            }
            @include responsive-width($laptop-s) {
                background-image: url($m_image_path+ '2022/07/banner-liberados-cyberwow-bg-desk.png');
            }
            
            @include responsive-width($laptop-m) {
                background-image: url($m_image_path+ '2022/07/banner-liberados-cyberwow-bg-big.png');
            }
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding-top: 46px;
            padding-left: 18px;   
            margin-bottom: 0;
            position: relative;
            z-index: 1;
        
            @include responsive-width($tablet-m) {
                width: 100%;
                text-align: left;
                padding-left: 50px;
                padding-top: 28px;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 40px;
                padding-top: 95px;
            }

            @include responsive-width($laptop-m) {    
                padding-left: 50px;
                padding-top: 116px;
            }

            img {
                position: relative;
                display: inline-block;
                width: auto;

                @include responsive-width($tablet-m) {
                    width: auto;
                }

            }

            &-detail {
                position: absolute;
                top: 0;
                left: 50%;

                &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 3000px;
                    height: 3000px;
                    background-color: $white;
                    -webkit-border-radius: 40px;
                    -moz-border-radius: 40px;
                    border-radius: 40px;
                    -moz-transform: rotate(-17deg) skew(0deg) translate(-2510px, -3251px);
                    -webkit-transform: rotate(-17deg) skew(0deg) translate(-2510px, -3251px);
                    -o-transform: rotate(-17deg) skew(0deg) translate(-2510px, -3251px);
                    -ms-transform: rotate(-17deg) skew(0deg) translate(-2510px, -3251px);
                    transform: rotate(-17deg) skew(0deg) translate(-2510px, -3251px);

                    @include responsive-width($tablet-m) {
                        -webkit-border-radius: 70px;
                        -moz-border-radius: 70px;
                        border-radius: 70px;
                        -moz-transform: rotate(22deg) skew(3deg) translate(-3412px, 741px);
                        -webkit-transform: rotate(22deg) skew(3deg) translate(-3412px, 741px);
                        -o-transform: rotate(22deg) skew(3deg) translate(-3412px, 741px);
                        -ms-transform: rotate(22deg) skew(3deg) translate(-3412px, 741px);
                        transform: rotate(22deg) skew(3deg) translate(-3412px, 741px);
                    }
        
                    @include responsive-width($laptop-s) {
                        -moz-transform: rotate(22deg) skew(3deg) translate(-3473px, 761px);
                        -webkit-transform: rotate(22deg) skew(3deg) translate(-3473px, 761px);
                        -o-transform: rotate(22deg) skew(3deg) translate(-3473px, 761px);
                        -ms-transform: rotate(22deg) skew(3deg) translate(-3473px, 761px);
                        transform: rotate(22deg) skew(3deg) translate(-3473px, 761px);
                    }
        
                    @include responsive-width($laptop-m) {
                    }
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            top: 10px;
            right: 12px;
            margin: 0;
            width: 100%;
            position: absolute;
            text-align: right;
            z-index: 3;
            @include responsive-width($tablet-m) {    
                top: 12px;
                right: 84px;
            }
            @include responsive-width($laptop-s) {    
                top: 0px;
                right: 68px;
            }
    
            @include responsive-width($laptop-m) {    
                top: 0px;
                right: 110px;
            }

            &-img {
                position: relative;
                display: block;
                height: 100%;
                
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;
                margin-right: 10px;
                margin-top: 25px;
            
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                }
        

            }
        }

        .e-button-buy {
            margin-top: 10px;
            text-align: left;
            margin-left: 30px;
            z-index: 4;
            position: relative;
        
            @include responsive-width($tablet-m) {
                margin-left: 68px;
                margin-top: 8px;
            }

            @include responsive-width($laptop-s) {    
                margin-left: 38px;
                margin-top: 24px;
            }

            @include responsive-width($laptop-m) {
                margin-left: 52px;
                margin-top: 16px;
            }

            .btn-buy {
                height: 40px;
                width: 142px;                
                padding: 0;
                margin: 0;
                line-height: 36px;
                font-size: 12px;
                background-color: #FD2B73;
                border-color: #FD2B73;

                @include responsive-width($tablet-m) {
                    margin: 0;
                    width: 186px;
                    height: 50px;
                    font-size: 14px;
                    line-height: 48px;
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;

            &__mob {
                padding-left: 30px;
                margin: 0;
                bottom: 15px;
                text-align: left;
                
                @include responsive-width($tablet-m) {
                    width: 100%;
                    padding: 0;
                    bottom: 20px;
                    padding-left: 70px;
                }
                
                @include responsive-width($laptop-s) {
                    bottom: 20px;
                    padding-left: 46px;
                }
                @include responsive-width($laptop-m) {
                    padding-left: 48px; 
                }

            }

            a {
                color: $extra_dark_gray;
                text-decoration: none;
            }
        }
    }
}
