.entel__slider--home__item__content.entel__slider--home__item__wow_pagounico_2 {
    background-color: $white;
    padding: 0;
    position: relative;
    
    // background-image: url($m_image_path +'2022/07/form-bg-cyber-pagounico-2-mob.png');
    // background-size: 576px;
    // background-repeat: no-repeat;
    // background-position: center -17px;
    

    // @include responsive-width($tablet-m) {
    //     background-image: url($m_image_path +'2022/07/form-bg-cyber-cuota0-2-tab.png');
    //     background-position: 750% center;
    //     background-size: auto;
    // }

    // @include responsive-width($laptop-s) {
    //     background-image: url($m_image_path +'2022/07/form-bg-cyber-cuota0-2-desk.png');
    //     background-position: 25% -32px;
    // }

    // @include responsive-width($laptop-m) {
    //     background-image: url($m_image_path +'2022/07/form-bg-cyber-cuota0-2-big.png');
    //     background-position: 21% -37px;
    // }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1030px !important;
        }

        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &__bg {
            z-index: 0;
            width: 100%;
            height: inherit;
            position: absolute;
            background-size: auto;
            background-repeat: no-repeat;
            background-position: top center;
            background-image: url($m_image_path+ '2022/10/banner-pagounico-cyberwow-oct-bg-mob.png');
            @include responsive-width($tablet-m) {
                background-image: url($m_image_path+ '2022/10/banner-pagounico-cyberwow-oct-bg-tab.png');
            }

            @include responsive-width($laptop-s) {
                background-image: url($m_image_path+ '2022/10/banner-pagounico-cyberwow-oct-bg-desk.png');
            }
            
            @include responsive-width($laptop-m) {
                background-image: url($m_image_path+ '2022/10/banner-pagounico-cyberwow-oct-bg-big.png');
            }
        }
        
        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 0 0 0 15px;
            margin: 0;
            width: 100%;
            max-width: 100%;
            z-index: 3;
            position: relative;
        
            @include responsive-width($tablet-m) {
                padding: 5px 25px;
                padding-top: 8px;
                padding-left: 45px;
                width: 100%;
                max-width: none;
            }
        
            @include responsive-width($laptop-s) {   
                margin-left: 0px;
                padding-left: 30px;
                padding-top: 10px;
            }

            @include responsive-width($laptop-m) { 
                // padding-left: 0px;
                // margin-left: -110px;
                // padding-top: 40px;
            }

            // @include responsive-width($desktop_s) { 
            //     margin-left: -10px;
            //     padding-top: 35px;
            // }

            img {
                position: relative;
                z-index: 2;
                margin: 0;

                @include responsive-width($tablet-m) {
                    width: auto;
                    margin: 0 0 8px;
                    margin-left: 0;
                }
        
                @include responsive-width($laptop-s) {
                    width: auto;
                    margin-left: 0;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-left: 0;
                }
            }

            &-detail {
                position: absolute;
                left: 50%;
                top: 0;
            }

            &-text {
                position: relative;
                margin: 0 auto;
                text-align: left;
                z-index: 2;
                padding-top: 0px;
                padding-left: 10px;
        
                @include responsive-width($tablet-m) {
                    padding-left: 20px;
                }
        
                // @include responsive-width($laptop-s) {
                //   padding-top: 11px;
                //   padding-left: 60px;
                // }
        
                // @include responsive-width($laptop-m) {
                //   padding-top: 14px;
                //   padding-left: 50px;
                // }
        
                form {
                    .form-legal {
                        bottom: -26px;
                        color: #9e9fa1;
                        font-size: 10px;
                        text-align: left;
                        position: absolute;
                        letter-spacing: 0;
            
                        @include responsive-width($tablet-m) {
                        display: none;
                        }
            
                        a {
                        font-size: 10px;
                        color: #9e9fa1;
                        font-weight: bold;
                        text-decoration: underline;
                        }
                    }
            
                    .form--content {
                        .form--head {
                        margin-bottom: 15px;
                        @include responsive-width($tablet-m) {
                            margin-bottom: 28px;
                        }
                        @include responsive-width($laptop-s) {
                            margin-bottom: 8px;
                        }
                        @include responsive-width($laptop-m) {
                            margin-bottom: 18px;
                        }
                        p {
                            margin: 0px;
                            color: $color-blue;
                            font-size: 14px;
                            text-align: left;
                            font-weight: 600;
                            line-height: 14px;
                            font-style: normal;
            
                            span {
                            font-weight: 400;
                            }
            
                            @include responsive-width($tablet-m) {
                            font-size: 19px;
                            line-height: 19px;
                            }
                        }
            
                        h2 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 20px;
                            text-align: left;
                            text-transform: uppercase;
                            color: #00b9eb;
                            margin: 4px 0px 5px;
            
                            @include responsive-width($tablet-m) {
                            font-size: 34px;
                            line-height: 30px;
                            margin: 6px 0px 11px;
                            }
                        }
            
                        h3 {
                            font-style: normal;
                            font-weight: 300;
                            font-size: 12px;
                            line-height: 12px;
                            text-align: left;
                            color: $extra_dark_gray;
                            margin: 0px 0px 5px;
            
                            @include responsive-width($tablet-m) {
                            font-size: 20px;
                            line-height: 18px;
                            margin: 0px 0px 15px;
                            }
                            strong {
                            font-weight: bold;
                            }
                        }
            
                        img {
                            margin-bottom: 0px;
                            max-width: none;
                            width: auto;
            
                            @include responsive-width($laptop-s) {
                            margin-bottom: 5px;
                            margin-top: 20px;
                            margin-left: 0;
                            width: auto;
            
                            }
                        }
                        }
            
                        .form--body {
                        // display: none;
                        h3 {
                            color: $color-blue;
                            font-size: 11px;
                            font-weight: normal;
                            margin-bottom: 5px;
                            letter-spacing: 0.216667px;
            
                            @include responsive-width($tablet-m) {
                            display: block;
                            font-size: 11px;
                            margin-bottom: 10px;
                            }
                        }
            
                        .form--number {
                            position: relative;
                            margin-bottom: 5px;
            
                            @include responsive-width($tablet-m) {
                            margin-bottom: 10px;
                            }
            
                            span {
                            left: 9px;
                            top: 10px;
            
                            @include responsive-width($tablet-m) {
                                top: 10px;
                            }
            
                            span {
                                font-size: 10px;
                                color: $extra_dark_gray;
                                padding: 0 3px;
                                transition: all 0.3s ease;
            
                                @include responsive-width($tablet-m) {
                                font-size: 12px;
                                }
                            }
                            }
            
                            input {
                            box-sizing: border-box;
                            border-radius: 7.3332px;
                            width: 142px;
                            height: 44px;
                            padding: 14px 10px 6px;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 15px;
                            align-items: center;
                            letter-spacing: 0.0015em;
                            color: $extra_light_black;
                            background-color: $white;
                            border: 1px solid #9e9fa1;
            
                            @include responsive-width($tablet-m) {
                                width: 216px;
                                height: 56px;
                                font-size: 14px;
                                line-height: 17px;
                            }
            
                            &:placeholder-shown + span {
                                top: 20px;
            
                                @include responsive-width($tablet-m) {
                                    top: 26px;
                                    left: 12px;
                                }
            
                                span {
                                font-size: 11px;
            
                                @include responsive-width($tablet-m) {
                                    font-size: 14px;
                                }
                                }
                            }
            
                            &:focus{
                                border-color: $extra_blue;
                            }
            
                            &:focus + span {
                                top: 10px;
            
                                @include responsive-width($tablet-m) {
                                top: 10px;
                                }
            
                                span {
                                font-size: 10px;
                                color: $extra_blue;
            
                                @include responsive-width($tablet-m) {
                                    font-size: 12px;
                                }
                                }
                            }
            
                            &.error {
                                border-color: $pink !important;
                            }
            
                            &.error::placeholder {
                                color: $pink !important;
                            }
            
                            &.error + span {
                                span {
                                color: $pink;
                                }
                            }
                            }
                        }
            
                        .form--check {
                            display: flex;
                            align-items: center;
                            width: 162px;
            
                            @include responsive-width($tablet-m) {
                                width: 220px;
                            }
                            
                            &>span {
                                font-weight: normal;
                                color: #9E9FA1;  
                                line-height: 10px;
                                font-size: 8.5px;
                
                                @include responsive-width($tablet-m) {
                                    font-size: 11px;
                                }
                            
                            a {
                                color: $extra_blue;
                                margin-left: 3px;
                                margin-right: 3px;
                                line-height: 18px;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 8.5px;
            
                                @include responsive-width($tablet-m) {
                                font-size: 11px;
                                }
            
                                span {
                                text-decoration: underline;
                                font-weight: normal;
                                }
                            }
                            }
            
                            input {
                            display: none;
                            }
            
                            label {
                            @include responsive-width($tablet-m) {
                                font-size: 11px;
                            }
                            }
            
                            .input-mask-top {
                            display: none;
                            width: 18px;
                            height: 18px;
                            border: 1px solid $orange;
                            box-sizing: border-box;
                            border-radius: 4.58325px;
                            margin-top: 2px;
                            position: relative;
            
                            &.error {
                                border-color: #f10101;
            
                                &::after {
                                border-color: transparent;
                                }
                            }
            
                            &::after {
                                content: "";
                                left: 6px;
                                top: 2px;
                                width: 4px;
                                height: 9px;
                                border: solid $orange;
                                border-width: 0px 2px 2px 0px;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                                position: absolute;
                            }
                            }
            
                            a {
                            color: $color-blue;
                            margin-left: 5px;
                            line-height: 18px;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;
            
                            span {
                                font-weight: bold;
                                text-decoration: underline;
                            }
                            }
                        }
            
                        button {
                            background-color: #FF2776;
                            border-radius: 45.8325px;
                            color: #ffffff;
                            cursor: pointer;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 1px;
                            text-align: center;
                            padding: 15px 5px;
                            text-transform: uppercase;
                            margin-top: 5px;
                            border: 0px;
                            width: 142px;
                            height: 40px;
                            display: block;
            
                            @include responsive-width($tablet-m) {
                            padding: 21px 36px;
                            margin-top: 9px;
                            width: 186px;
                            height: 50px;
                            }
                        }
                        }
            
                        .form--loading {
                        display: none;
                        padding: 25px 25px 0px;
            
                        img {
                            -webkit-animation: rotating 2s linear infinite;
                            -moz-animation: rotating 2s linear infinite;
                            -ms-animation: rotating 2s linear infinite;
                            -o-animation: rotating 2s linear infinite;
                            animation: rotating 2s linear infinite;
                            width: 70px;
            
                            @-webkit-keyframes rotating {
                            from {
                                -webkit-transform: rotate(0deg);
                                -o-transform: rotate(0deg);
                                transform: rotate(0deg);
                            }
                            to {
                                -webkit-transform: rotate(360deg);
                                -o-transform: rotate(360deg);
                                transform: rotate(360deg);
                            }
                            }
                            @keyframes rotating {
                            from {
                                -ms-transform: rotate(0deg);
                                -moz-transform: rotate(0deg);
                                -webkit-transform: rotate(0deg);
                                -o-transform: rotate(0deg);
                                transform: rotate(0deg);
                            }
                            to {
                                -ms-transform: rotate(360deg);
                                -moz-transform: rotate(360deg);
                                -webkit-transform: rotate(360deg);
                                -o-transform: rotate(360deg);
                                transform: rotate(360deg);
                            }
                            }
            
                            @include responsive-width($tablet-m) {
                            width: 100px;
                            }
                        }
                        }
            
                        .form--thanks {
                        display: none;
                        width: 160px;
                        text-align: center;
                        color: $color-blue;
            
                        img {
                            margin: 20px auto 5px;
                            max-width: 58px;
            
                            @include responsive-width($tablet-m) {
                            max-width: 78px;
                            margin-bottom: 0px;
                            }
                        }
                        p,
                        span {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 16px;
                            text-align: center;
                            color: $color-blue;
            
                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }
            
                            small {
                            font-weight: normal;
                            display: block;
                            }
                        }
            
                        @include responsive-width($tablet-m) {
                            width: 200px;
                        }
                        }
            
                        .form--duplicate {
                        display: none;
                        width: 180px;
                        padding-top: 15px;
                        p {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $color-blue;
            
                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
            
                        @include responsive-width($tablet-m) {
                            width: 250px;
                        }
                        }
            
                        .form--error {
                        display: none;
                        width: 180px;
                        padding-top: 15px;
            
                        p {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $color-blue;
            
                            @include responsive-width($tablet-m) {
                            font-size: 16px;
                            line-height: 18px;
                            }
                        }
            
                        @include responsive-width($tablet-m) {
                            width: 250px;
                        }
                        }
            
                        .form--callback {
                        margin-top: 2px;
                        color: $color-blue;
            
                        p {
                            margin: 0px;
                            color: $color-blue;
                            font-size: 10px;
                            line-height: 11px;
                            font-style: normal;
                            font-weight: normal;
            
                            a {
                            color: $color-blue;
                            text-decoration: underline;
                            font-weight: bold;
                            }
            
                            @include responsive-width($tablet-m) {
                            font-size: 12px;
                            line-height: 14px;
                            }
                        }
            
                        @include responsive-width($tablet-m) {
                            margin-top: 8px;
                        }
                        }
                        
                        .form--button {
                        display: none;
                        text-align: left;
                        padding-top: 70px;
            
                        @include responsive-width($tablet-m) {
                            padding-top: 100px;
                        }
            
                        a {
                            border-radius: 45.8325px;
                            min-width: 141px;
                            height: 40px;
            
                            @include responsive-width($tablet-m) {
                            min-width: 186px;
                            height: 50px;
                            }
            
                            span {
                            font-size: 12px;
            
                            @include responsive-width($tablet-m) {
                                font-size: 13px;
                            }
                            } 
                        }
                        }
                    }
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 auto 0;
            width: 100%;
            text-align: right;
            position: absolute;
            top: auto;
            bottom: 17px;
            left: -8px;
            z-index: 1;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: auto;
                bottom: 30px;
                right: 0px;
                width: auto;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            
            @include responsive-width($laptop-s) {
                bottom: 36px;
                right: 52px;
            }
        
            @include responsive-width($laptop-m) {
                bottom: 14px;
                right: 68px;
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 5px;
                margin-top: 20px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                    margin-right: 60px;
                }
        
                @include responsive-width($laptop-s) {
                    margin-right: 0;
                }
        
                @include responsive-width($laptop-m) {
                    margin-right: -20px;
                }

                // @include responsive-width($desktop_s) {
                //     margin-right: -45px;
                // }
            }
        }

        .e-button {

            &-buy {    
                margin-top: 0;
                position: relative;
                z-index: 5;
                bottom: -16px;
                text-align: left;
                
                @include responsive-width($tablet-m) {
                    padding-left: 0;
                    bottom: 0;
                }
        
                @include responsive-width($laptop-s) {
                    bottom: 0;
                }

                .btn-buy {
                    height: 40px;
                    padding: 7px 15px;
                    font-size: 12px;
                    line-height: 20px;
                    width: 141px;
                    background-color: #FF2776;//$orange;
                    border-color: #FF2776;
                    display: inline-block;
            
                    @include responsive-width($tablet-m) {
                        height: 50px;
                        width: 186px;
                        padding: 13px 15px;
                        font-size: 12px;
                        margin-left: 20px;
                        margin-top: 0;
                        // margin-top: 58px;
                    }
            
                    @include responsive-width($laptop-s) {
                        font-size: 14px;
                        margin-top: 0;
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;

            &__mob {
                padding-left: 25px;
                margin: 0;
                bottom: 5px;
                text-align: left;
                
                @include responsive-width($tablet-m) {
                    width: 100%;
                    padding: 0;
                    bottom: 13px;
                    padding-left: 72px;
                }
                
                @include responsive-width($laptop-s) {
                    bottom: 20px;
                    padding-left: 60px;
                }
                // @include responsive-width($laptop-m) {
                //     padding-left: 0px; 
                // }

            }

            a {
                color: $extra_dark_gray;
                text-decoration: none;
            }
        }
    }
}