.entel__slider--home__item__content.entel__slider--home__item__wow_accesorios {
    background-color: #FFF;
    padding: 0;
    -webkit-box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
    box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
    
    background-image: url($m_image_path +'2021/10/form-bg-wow-accesorios-mob.png');
    background-position: center;
    background-size: 381px;
    background-repeat: no-repeat;

    @include responsive-width($tablet-m) {
        background-size: auto;
        background-image: url('https://www.entel.pe/wp-content/uploads/2022/04/form-bg-lib-wow-tab.png');
        background-position: center;
    }

    @include responsive-width($laptop-s) {
        background-image: url('https://www.entel.pe/wp-content/uploads/2022/04/form-bg-lib-wow-desk.png');
        background-size: 2493px;
    }

    @include responsive-width($laptop-m) {
        background-image: url('https://www.entel.pe/wp-content/uploads/2022/04/form-bg-lib-wow-bigi.png');
        background-size: 1783px;
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1030px !important;
        }

        @include responsive-width($laptop-m) {
            max-width: 1000px !important;
        }
        
        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 50px 0 0 20px;
            margin: 0;
            width: 100%;
            max-width: 100%;
            z-index: 5;
            position: relative;
        
            @include responsive-width($tablet-m) {
                padding: 5px 25px;
                padding-top: 70px;
                padding-left: 50px;
                width: 100%;
                max-width: none;
            }
        
            @include responsive-width($laptop-s) {   
                margin-left: 0px;
                padding-left: 50px;
                padding-top: 66px;
            }

            @include responsive-width($laptop-m) {
                padding-top: 70px;
                padding-left: 0;
            }

            img {
                position: relative;
                z-index: 2;
                margin: 0;
                margin-bottom: 0px;
                display: inline-block;
                width: auto;
        
                @include responsive-width($tablet-m) {
                    margin: 20px 0 0;
                    margin-left: 0;
                }
        
                @include responsive-width($laptop-s) {
                    margin: 20px 0 0;
                    margin-left: 0;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin: 0;
                    margin-left: 0;
                }
            }

            &-detail {
                position: absolute;
                left: 50%;
                top: 0;
            }

        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 auto 0;
            width: 100%;
            text-align: right;
            position: absolute;
            top: auto;
            bottom: 60px;
            left: 0;
            z-index: 4;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: auto;
                bottom: 58px;
                right: 0px;
                width: auto;
                z-index: 3;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            
            @include responsive-width($laptop-s) {
                bottom: 50px;
                right: 10px;
            }
        
            @include responsive-width($laptop-m) {
                bottom: 60px;
                right: -45px;
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 15px;
                margin-top: 10px;
        
                @include responsive-width($tablet-m) {
                    margin-right: 50px;
                    max-width: none;
                    width: auto;
                }
        
                @include responsive-width($laptop-s) {
                    margin-right: 40px;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                }
            }
        }

        .e-button {

            &-buy {    
                margin-top: 0;
                position: relative;
                z-index: 4;
                text-align: left;
                bottom: -10px;
                left: 12px;
                
                @include responsive-width($tablet-m) {
                    bottom: 0;
                    left: 0px;
                }
        
                @include responsive-width($laptop-s) {
                    bottom: 0;
                }

                .btn-buy {
                    height: 40px;
                    padding: 7px 15px;
                    font-size: 12px;
                    line-height: 18px;
                    width: 126px;
                    background-color: #FF2776;
                    border-color: #FF2776;
                    display: inline-block;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 0;
                        margin-top: 30px;
                        width: 148px;
                        height: 46px;
                        padding: 10px;
                        // margin-top: 58px;
                    }
            
                    @include responsive-width($laptop-s) {
                        width: 176px;
                        height: 55px;
                        font-size: 14px;
                        line-height: 30px;
                        margin-top: 16px;
                    }
            
                    @include responsive-width($laptop-m) {
                        width: 176px;
                        height: 55px;
                        font-size: 14px;
                        line-height: 30px;
                        margin-top: 30px;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;

            &__mob {
                padding-left: 25px;
                margin: 0;
                bottom: 15px;
                text-align: left;
                
                @include responsive-width($tablet-m) {
                    width: 100%;
                    padding: 0;
                    bottom: 12px;
                    padding-left: 65px;
                }
                
                @include responsive-width($laptop-s) {
                    bottom: 20px;
                    padding-left: 50px;
                }

                @include responsive-width($laptop-m) {
                    padding-left: 0px; 
                }

            }

            a {
                color: $extra_dark_gray;
                text-decoration: none;
            }
        }
    }
}