.entel__slider--home__item__content.entel__slider--home__item__wow_liberados {
    background-color: $color-blue-cyberwow;
    padding: 0;
    position: relative;
    .principalcontent_bg {
        width: 100%;
        height: 100%;
        z-index: 0;
        position: absolute;
        background-image: url($m_image_path +'2022/10/form-bg-cyber-oct-liberados-mob.png');
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        

        @include responsive-width($tablet-m) {
            background-image: url('https://www.entel.pe/wp-content/uploads/2022/10/form-bg-cyber-oct-liberados-tab.png');
        }

        @include responsive-width($laptop-s) {
            background-image: url('https://www.entel.pe/wp-content/uploads/2022/10/form-bg-cyber-oct-liberados-desk.png');
        }

        @include responsive-width($laptop-m) {
            background-image: url('https://www.entel.pe/wp-content/uploads/2022/10/form-bg-cyber-oct-liberados-big.png');
        }
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1030px !important;
        }

        @include responsive-width($laptop-m) {
            max-width: 1000px !important;
        }
        
        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 32px 0 0 20px;
            margin: 0;
            width: 100%;
            max-width: 100%;
            // z-index: 3;
            // position: relative;
        
            @include responsive-width($tablet-m) {
                padding: 5px 25px;
                padding-top: 8px;
                padding-left: 52px;            
                width: 100%;
                max-width: none;
            }
        
            @include responsive-width($laptop-s) {   
                margin-left: 0px;
                padding-left: 54px;
                padding-top: 76px;
                z-index: 1;
            }

            @include responsive-width($laptop-m) { 
                padding-left: 0px;
                padding-top: 86px;
                // margin-left: -110px;
                // padding-top: 40px;
            }

            // @include responsive-width($desktop_s) { 
            //     margin-left: -10px;
            //     padding-top: 35px;
            // }

            img {
                position: relative;
                z-index: 2;
                margin: 0;

                @include responsive-width($tablet-m) {
                    width: auto;
                    margin: 20px;
                    margin-left: 0;
                    margin-bottom: 15px;
                }
        
                @include responsive-width($laptop-s) {
                    width: auto;
                    margin: 20px;
                    margin-left: 0;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin: 20px;
                    margin-left: 0;
                }
            }

            &-detail {
                position: absolute;
                left: 50%;
                top: 0;
            }

        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 auto 0;
            width: 100%;
            text-align: right;
            position: absolute;
            top: auto;
            bottom: 28px;
            left: -28px;
            z-index: 4;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: auto;
                bottom: 34px;
                right: 24px;
                width: auto;
                z-index: 3;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            
            @include responsive-width($laptop-s) {
                bottom: 26px;
                right: -10px;
            }
        
            @include responsive-width($laptop-m) {
                right: 54px;
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 0px;
                margin-top: 10px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                    margin-right: 60px;
                }
        
                @include responsive-width($laptop-s) {
                    margin-right: 70px;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-right: 10px;
                }

                // @include responsive-width($desktop_s) {
                //     margin-right: -45px;
                // }
            }
        }

        .e-button {

            &-buy {    
                margin-top: 0;
                position: relative;
                z-index: 5;
                bottom: -8px;
                padding-left: 12px;
                text-align: left;
                
                @include responsive-width($tablet-m) {
                    padding-left: 0;
                    bottom: 0;
                }
        
                @include responsive-width($laptop-s) {
                    bottom: 0;
                }

                .btn-buy {
                    height: 40px;
                    padding: 7px 15px;
                    font-size: 12px;
                    line-height: 20px;
                    width: 138px;
                    background-color: #FF2776;//$orange;
                    border-color: #FF2776;
                    display: inline-block;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 15px;
                        margin-top: 0;
                        width: 186px;
                        height: 50px;
                        // margin-top: 58px;
                        line-height: 30px;
                    }
            
                    @include responsive-width($laptop-s) {
                        width: 176px;
                        height: 55px;
                        font-size: 14px;
                        margin-top: 0;
                        margin-left: 0;
                    }
            
                    @include responsive-width($laptop-m) {
                        width: 176px;
                        height: 55px;
                        font-size: 14px;
                        line-height: 36px;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;

            &__mob {
                padding-left: 25px;
                margin: 0;
                bottom: 15px;
                text-align: left;
                
                @include responsive-width($tablet-m) {
                    width: 100%;
                    padding: 0;
                    bottom: 12px;
                    padding-left: 65px;
                }
                
                @include responsive-width($laptop-s) {
                    bottom: 20px;
                    padding-left: 46px;
                }
                @include responsive-width($laptop-m) {
                    padding-left: 10px; 
                }

            }

            a {
                color: $extra_dark_gray;
                text-decoration: none;
            }
        }
    }
}