.entel__slider--home__item__content.entel__slider--home__navidad_vep_2021 {
  background-color: #004fb9;
  padding: 0;
  @include responsive-width($tablet-m) {
    background-color: $white;
  }
  .principalcontent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    -ms-transform: none;
    transform: none;
    max-width: 320px !important;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    @include responsive-width($tablet-m) {
      max-width: 768px !important;
    }

    @include responsive-width($laptop-s) {
        margin-top: 0;
        max-width: 1030px !important;
    }

    @include responsive-width($laptop-m) {
        max-width: 1100px !important;
    }

    &_bg {
      position: absolute;
      width: 100%;
      height: 14px;
      background-image: linear-gradient(135deg, #fbfdff 12.50%, #ff5704 12.50%, #ff5704 25%, #fbfdff 25%, #fbfdff 37.50%, #00a884 37.50%, #00a884 50%, #fbfdff 50%, #fbfdff 62.50%, #ff5704 62.50%, #ff5704 75%, #fbfdff 75%, #fbfdff 87.50%, #00a884 87.50%, #00a884 100%);      
      background-size: 60px 60px;
      z-index: 5;
    }
  
    &-detail {
      position: absolute;
      left: 50%;
      bottom: 0;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        border: 0;

        @include responsive-width($tablet-m) {
          width: 3000px;
          height: 3000px;
          left: 0;
          background: #004fb9;

          -webkit-border-radius: 38px;
          -moz-border-radius: 38px;
          border-radius: 38px;

          -moz-transform: translate(-2933px, 1206px) rotate(62deg) skew(19deg);
          -webkit-transform: translate(-2933px, 1206px) rotate(62deg) skew(19deg);
          -o-transform: translate(-2933px, 1206px) rotate(62deg) skew(19deg);
          -ms-transform: translate(-2933px, 1206px) rotate(62deg) skew(19deg);
          transform: translate(-2933px, 1206px) rotate(62deg) skew(19deg);
        }

        @include responsive-width($laptop-s) {
          -moz-transform: translate(-2882px, 1203px) rotate(62deg) skew(19deg);
          -webkit-transform: translate(-2882px, 1203px) rotate(62deg) skew(19deg);
          -o-transform: translate(-2882px, 1203px) rotate(62deg) skew(19deg);
          -ms-transform: translate(-2882px, 1203px) rotate(62deg) skew(19deg);
          transform: translate(-2882px, 1203px) rotate(62deg) skew(19deg);
        }

        @include responsive-width($laptop-m) {
          -moz-transform: translate(-2896px, 1217px) rotate(62deg) skew(19deg);
          -webkit-transform: translate(-2896px, 1217px) rotate(62deg) skew(19deg);
          -o-transform: translate(-2896px, 1217px) rotate(62deg) skew(19deg);
          -ms-transform: translate(-2896px, 1217px) rotate(62deg) skew(19deg);
          transform: translate(-2896px, 1217px) rotate(62deg) skew(19deg);
        }
      }
    }
    &__textbanner {
      font-weight: bold;
      text-align: left;
      display: block;
      max-width: 320px;
      margin: 0 auto;

      @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        margin-left: 0 !important;
      }

      @include responsive-width($tablet-m) {
        margin: 0;
        max-width: none;
        text-align: left;
      }

      @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
        margin-left: 0% !important;
      }

      &-text {
        position: relative;
        margin: 0 auto;
        text-align: left;
        z-index: 2;
        padding-top: 9px;
        padding-left: 12px;

        @include responsive-width($tablet-m) {
          padding-top: 20px;
          padding-left: 65px;
        }

        @include responsive-width($laptop-s) {
          padding-top: 11px;
          padding-left: 60px;
        }

        @include responsive-width($laptop-m) {
          padding-top: 14px;
          padding-left: 50px;
        }

        form {
          .form-legal {
            bottom: -26px;
            color: #9e9fa1;
            font-size: 10px;
            text-align: left;
            position: absolute;
            letter-spacing: 0;

            @include responsive-width($tablet-m) {
              display: none;
            }

            a {
              font-size: 10px;
              color: #9e9fa1;
              font-weight: bold;
              text-decoration: underline;
            }
          }

          .form--content {
            .form--head {
              margin-bottom: 15px;
              @include responsive-width($tablet-m) {
                margin-bottom: 28px;
              }
              @include responsive-width($laptop-s) {
                margin-bottom: 8px;
              }
              @include responsive-width($laptop-m) {
                margin-bottom: 18px;
              }
              p {
                margin: 0px;
                color: $color-blue;
                font-size: 14px;
                text-align: left;
                font-weight: 600;
                line-height: 14px;
                font-style: normal;

                span {
                  font-weight: 400;
                }

                @include responsive-width($tablet-m) {
                  font-size: 19px;
                  line-height: 19px;
                }
              }

              h2 {
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 20px;
                text-align: left;
                text-transform: uppercase;
                color: #00b9eb;
                margin: 4px 0px 5px;

                @include responsive-width($tablet-m) {
                  font-size: 34px;
                  line-height: 30px;
                  margin: 6px 0px 11px;
                }
              }

              h3 {
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 12px;
                text-align: left;
                color: $white;
                margin: 0px 0px 5px;

                @include responsive-width($tablet-m) {
                  font-size: 20px;
                  line-height: 18px;
                  margin: 0px 0px 15px;
                }
                strong {
                  font-weight: bold;
                }
              }

              img {
                margin-bottom: 0px;

                @include responsive-width($tablet-m) {
                  margin-bottom: 5px;
                  margin-left: 0;
                  width: auto;

                }
              }
            }

            .form--body {
              // display: none;
              h3 {
                color: #fff;
                font-size: 11px;
                margin-bottom: 8px;
                letter-spacing: 0.216667px;

                @include responsive-width($tablet-m) {
                  display: block;
                  font-size: 11px;
                  margin-bottom: 10px;
                }
              }

              .form--number {
                margin-bottom: 8px;

                @include responsive-width($tablet-m) {
                  margin-bottom: 5px;
                }

                input {
                  border: 1px solid #9e9fa1;
                  box-sizing: border-box;
                  border-radius: 7.3332px;
                  width: 160px;
                  height: 44px;
                  padding: 10px 15px;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 15px;
                  align-items: center;
                  letter-spacing: 0.0015em;
                  color: #9e9fa1;

                  &.error {
                    border-color: #f10101;
                  }

                  &.error::placeholder {
                    color: #f10101;
                  }

                  @include responsive-width($tablet-m) {
                    width: 216px;
                    height: 56px;
                    font-size: 14px;
                    line-height: 17px;
                  }
                }
              }

              .form--check {
                display: flex;
                align-items: center;
                @include responsive-width($tablet-m) {
                  margin-top: 8px;
                }
                input {
                  display: none;
                }

                label {
                  @include responsive-width($tablet-m) {
                    font-size: 11px;
                  }
                }

                .input-mask-top {
                  width: 18px;
                  height: 18px;
                  border: 1px solid $orange;
                  box-sizing: border-box;
                  border-radius: 4.58325px;
                  margin-top: 2px;
                  position: relative;

                  &.error {
                    border-color: #f10101;

                    &::after {
                      border-color: $blue;
                    }
                  }

                  &::after {
                    content: "";
                    left: 6px;
                    top: 2px;
                    width: 4px;
                    height: 9px;
                    border: solid $orange;
                    border-width: 0px 2px 2px 0px;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    position: absolute;
                  }
                }

                a {
                  color: $white;
                  margin-left: 5px;
                  line-height: 18px;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 10px;

                  span {
                    font-weight: bold;
                    text-decoration: underline;
                  }
                }
              }

              button {
                background-color: #ff560a;
                border-radius: 45.8325px;
                color: #ffffff;
                cursor: pointer;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 1px;
                text-align: center;
                padding: 15px 5px;
                text-transform: uppercase;
                margin-top: 7px;
                border: 0px;
                width: 142px;
                height: 40px;
                display: block;

                @include responsive-width($tablet-m) {
                  padding: 21px 36px;
                  margin-top: 9px;
                  width: 186px;
                  height: 50px;
                }
              }
            }

            .form--loading {
              display: none;
              padding: 25px 25px 0px;

              img {
                -webkit-animation: rotating 2s linear infinite;
                -moz-animation: rotating 2s linear infinite;
                -ms-animation: rotating 2s linear infinite;
                -o-animation: rotating 2s linear infinite;
                animation: rotating 2s linear infinite;
                width: 70px;

                @-webkit-keyframes rotating {
                  from {
                    -webkit-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                  }
                  to {
                    -webkit-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    transform: rotate(360deg);
                  }
                }
                @keyframes rotating {
                  from {
                    -ms-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                  }
                  to {
                    -ms-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    transform: rotate(360deg);
                  }
                }

                @include responsive-width($tablet-m) {
                  width: 100px;
                }
              }
            }

            .form--thanks {
              display: none;
              width: 150px;
              text-align: center;
              color: $color-blue;

              img {
                margin-bottom: 5px;
                @include responsive-width($tablet-m) {
                  margin-bottom: 0px;
                }
              }
              p,
              span {
                font-style: normal;
                font-weight: bold;
                font-size: 10px;
                line-height: 12px;
                text-align: center;
                color: $color-blue;

                @include responsive-width($tablet-m) {
                  font-size: 16px;
                  line-height: 18px;
                  margin: 0px 0px 15px;
                }
              }

              @include responsive-width($tablet-m) {
                width: 200px;
              }
            }

            .form--duplicate {
              display: none;
              width: 180px;
              padding-top: 15px;
              p {
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                margin: 0px;
                color: $color-blue;

                @include responsive-width($tablet-m) {
                  font-size: 16px;
                  line-height: 18px;
                }
              }

              @include responsive-width($tablet-m) {
                width: 250px;
              }
            }

            .form--error {
              display: none;
              width: 180px;
              padding-top: 15px;

              p {
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                margin: 0px;
                color: $color-blue;

                @include responsive-width($tablet-m) {
                  font-size: 16px;
                  line-height: 18px;
                }
              }

              @include responsive-width($tablet-m) {
                width: 250px;
              }
            }

            .form--callback {
              margin-top: 2px;
              color: $color-blue;

              p {
                margin: 0px;
                color: $color-blue;
                font-size: 10px;
                line-height: 11px;
                font-style: normal;
                font-weight: normal;

                a {
                  color: $color-blue;
                  text-decoration: underline;
                  font-weight: bold;
                }

                @include responsive-width($tablet-m) {
                  font-size: 12px;
                  line-height: 14px;
                }
              }

              @include responsive-width($tablet-m) {
                margin-top: 8px;
              }
            }
            
            .form--button {
              display: none;
              text-align: left;
              padding-top: 70px;

              @include responsive-width($tablet-m) {
                padding-top: 100px;
              }

              a {
                border-radius: 45.8325px;
                min-width: 141px;
                height: 40px;

                @include responsive-width($tablet-m) {
                  min-width: 186px;
                  height: 50px;
                }

                span {
                  font-size: 12px;

                  @include responsive-width($tablet-m) {
                    font-size: 13px;
                  }
                } 
              }
            }

            .text-white {
              color: #fff !important;

              & * {
                color: #fff !important;
              }
            }
          }
        }
      }
    }

    &__imgbanner {
      margin: 0;
      width: 100%;
      position: absolute;
      text-align: right;
      z-index: 1;
      left: 35px;
      top: 9px;

      @include responsive-width($tablet-m) {
        top: 14px;
        left: 0;
      }

      @include responsive-width($laptop-s) {
        top: 20px;
        left: 72px;
      }

      @include responsive-width($laptop-m) {
        left: 170px;
        top: 0;
      }

      &-img {
        position: relative;
        display: block;
      }

      img {
        max-width: none;
        width: auto;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 0;

        @include responsive-width($tablet-m) {
          margin-right: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  .btn-buy {
    width: 160px;
    padding-bottom: 6px;
    margin: 0;
    display: block;
    text-decoration: none;
    line-height: 1;
    outline: 0;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 15px;
    background-color: #ff560a;
    border: 2px solid #ff560a;
    border-radius: 55px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease 0s;
    transform: translateY(20px);

    @include responsive-width($tablet_m) {
      margin: 14px 0 0 0;
      padding: 15px;
    }
  }

  .e-legal-small {
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    width: 100%;
    padding: 0 10px 0 0;
    color: $extra_dark_gray;
    text-align: right;
    letter-spacing: -0.01em;
    z-index: 4;

    &__mob {
      padding-left: 10px;
      margin: 7px auto 0;
      text-align: left;
      padding-right: 0;
      bottom: 10px;

      @include responsive-width($tablet-m) {
        width: 460px;
        bottom: 20px;
        padding-left: 60px;
      }

      @include responsive-width($laptop-s) {
        display: none;
      }
    }

    &__desk {
      display: none;

      @include responsive-width($laptop-s) {
        font-size: 9px;
        display: block;
        max-width: 930px;
        right: auto;
        left: 45px;
        bottom: 15px;
        padding: 0;
        margin: 0;
        text-align: justify;
        line-height: 10px;
      }

      @include responsive-width($laptop-m) {
        left: 50px;
        max-width: 1000px;
      }
    }

    a {
      color: $extra_dark_gray;
      text-decoration: underline;
      @include responsive-width($laptop-s) {
        text-decoration: none;
      }
    }
  }
}
