.entel__slider--home__item__content.entel__slider--home__navidad_contado_21_v1 {
    background-color: $white;
    padding: 0;
    -webkit-box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
    box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1030px !important;
        }

        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }
        
        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding-top: 15px;
            padding-left: 10px;
            margin: 0;
            width: 100%;
            max-width: 190px;
        
            @include responsive-width($tablet-m) {    
                padding-top: 20px;
                padding-left: 60px;
                width: 100%;
                max-width: none;
            }
        
            @include responsive-width($laptop-s) {   
                padding-left: 60px;
                padding-top: 36px;
                z-index: 1;
            }

            @include responsive-width($laptop-m) { 
                padding-left: 48px;
                padding-top: 50px;
            }

            img {
                position: relative;
                z-index: 4;
                margin: 0;
                margin-bottom: 0px;
        
                @include responsive-width($tablet-m) {
                    width: auto;
                    margin-left: 0;
                }
        
                @include responsive-width($laptop-s) {
                    width: auto;
                    margin-left: 0px;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-left: 0;
                }
            }

            &-detail {
                position: absolute;
                left: 50%;
                top: 0;
            }

            form {
                z-index: 5;
                text-align: left;
                position: relative;
                margin-top: 20px;

                @include responsive-width($tablet-m) {
                    margin-top: 38px;
                }

                @include responsive-width($laptop-s) {
                    margin-top: 18px;
                }
                
                @include responsive-width($laptop-m) {
                    margin-top: 10px;                
                }

                .form--content {    
                    width: 172px;
                    text-align: left;
                    margin: 0;

                    @include responsive-width($tablet-m) {
                        width: auto;
                        text-align: left;
                    }

                    .form--head {
                        p {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 14px;
                            text-align: left;
                            color: #004CC1;
                            margin: 0px;

                            span {
                                font-weight: 400;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 19px;
                                line-height: 19px;
                            }
                        }
                        
                        h2 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 20px;
                            text-align: left;
                            text-transform: uppercase;
                            color: #00B9EB;
                            margin: 4px 0px 5px;

                            @include responsive-width($tablet-m) {
                                font-size: 34px;
                                line-height: 30px;
                                margin: 6px 0px 11px;
                            }
                        }

                        h3 {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: left;
                            color: $blue;
                            margin: 0px 0px 5px;

                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }

                            strong {
                                font-weight: bold;
                            }
                        }
                    }

                    .form--body {
                        p {
                            color: $blue;
                            margin: 0 0 10px 0;
                            font-weight: normal;
                            text-align: left;
                            font-size: 11px;
    
                        }
                        .form--number {
                            position: relative;
                            margin-bottom: 5px;

                            @include responsive-width($tablet-m) {
                                margin-bottom: 12px;
                            }

                            span {
                                left: 9px;
                                top: 10px;

                                @include responsive-width($tablet-m) {
                                    top: 10px;
                                }

                                span {
                                    font-size: 10px;
                                    color: $extra_dark_gray;
                                    padding: 0 3px;
                                    transition: all 0.3s ease;

                                    @include responsive-width($tablet-m) {
                                        font-size: 12px;
                                    }
                                }
                            }

                            input {
                                box-sizing: border-box;
                                border-radius: 7.3332px;
                                width: 100%;
                                height: 44px;
                                padding: 14px 10px 6px;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                align-items: center;
                                letter-spacing: 0.0015em;
                                color: $extra_light_black;
                                background-color: $white;
                                border: 2px solid #C4C4C4;

                                @include responsive-width($tablet-m) {
                                    width: 217px;
                                    height: 51px;
                                    font-size: 14px;
                                    line-height: 17px;
                                }

                                &:placeholder-shown + span {
                                    top: 20px;

                                    @include responsive-width($tablet-m) {
                                        top: 22px;
                                    }

                                    span {
                                        font-size: 11px;

                                        @include responsive-width($tablet-m) {
                                            font-size: 14px;
                                        }
                                    }
                                }

                                &:focus{
                                    border-color: $extra_blue;
                                }

                                &:focus + span {
                                    top: 10px;

                                    @include responsive-width($tablet-m) {
                                        top: 10px;
                                    }

                                    span {
                                        font-size: 10px;
                                        color: $extra_blue;

                                        @include responsive-width($tablet-m) {
                                            font-size: 12px;
                                        }
                                    }
                                }

                                &.error {
                                    border-color: $pink !important;
                                }

                                &.error::placeholder {
                                    color: $pink !important;
                                }

                                &.error + span {
                                    span {
                                        color: $pink;
                                    }
                                }
                            }
                        }

                        .form--check{
                            display: flex;
                            align-items: center;

                            input {
                                display: none;
                            }

                            .input-mask-top{
                                width: 20px;
                                height: 20px;
                                border: 2px solid $orange;
                                box-sizing: border-box;
                                border-radius: 4.58325px;
                                margin-top: 2px;
                                background: transparent;
                                position: relative;

                                @include responsive-width($tablet-m) {
                                    width: 18px;
                                    height: 18px;
                                }

                                &.error {
                                    border-color:#f10101;
                                    background: transparent;
                                    &::after {
                                        border-color: transparent;
                                    }
                                }

                                &::after{
                                    content: "";
                                    left: 6px;
                                    top: 2px;
                                    width: 5px;
                                    height: 10px;
                                    border: solid $orange;
                                    border-width: 0px 2px 2px 0px;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                    position: absolute;

                                    @include responsive-width($tablet-m) {
                                        left: 5px;
                                        top: 1px;
                                    }

                                    @include responsive-width($laptop-m) {
                                        left: 5px;
                                        top: 1px;
                                    }
                                }
                            }

                            a {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 10px;
                                line-height: 15px;
                                color: $blue;
                                margin-left: 5px;

                                @include responsive-width($tablet-m) {
                                    font-size: 11px;
                                }

                                span {
                                    font-size: 9px;
                                    font-weight: bold;
                                    text-decoration: underline;
                                    @include responsive-width($tablet-m) {
                                        font-size: 11px;
                                    }
                                }
                            }
                        }

                        button {
                            background-color: $orange;
                            border-radius: 45.8325px;
                            color: #ffffff;
                            cursor: pointer;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 1px;
                            text-align: center;
                            padding: 15px 5px;
                            text-transform: uppercase;
                            margin-top: 7px;
                            border: 0px;
                            width: 142px;
                            height: 40px;
                            display: block;

                            @include responsive-width($tablet-m) {
                                margin-top: 12px;
                                margin-left: 0px;
                                height: 46px;
                                width: 186px;
                                font-size: 13px;
                                line-height: 4px;
                            }

                            @include responsive-width($laptop-m) {
                                padding: 15px 28px;
                                height: 46px;
                                font-size: 13px;
                                line-height: 4px;
                            }
                        }
                    }

                    .form--loading{
                        display: none;
                        padding: 25px 25px 0px;
                        height: 122px;
                        width: 160px;
                        margin-top: 0;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {  
                            width: 210px;
                            height: 180px;
                        }

                        img {
                            animation: rotating 2s linear infinite;
                            width: 70px;
                            display: inline-block;

                            @keyframes rotating {
                                from {
                                    transform: rotate(0deg);
                                }
                                to {
                                    transform: rotate(360deg);
                                }
                            }

                            @include responsive-width($tablet-m) {
                                width: 100px;
                            }
                        }

                    }

                    .form--thanks {
                        display: none;
                        height: 122px;
                        width: 160px;
                        margin-top: 0;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            width: 210px;
                            height: 180px;
                        }

                        img {
                            margin-bottom: 5px;
                            @include responsive-width($tablet-m) {
                                margin-bottom: 0px;
                            }
                        }

                        p, span {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: center;
                            color: $blue;

                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }
                        }
                    }

                    .form--duplicate {
                        display: none;
                        padding-top: 15px;
                        height: 122px;
                        width: 160px;
                        margin-top: 0;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            width: 210px;
                            height: 180px;
                        }

                        p{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $blue;

                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                    }

                    .form--error {
                        display: none;
                        height: 113px;
                        width: 160px;
                        margin-top: 0;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            width: 210px;
                            height: 180px;
                        }

                        p {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $blue;

                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                    }

                    .form--callback {
                        margin-top: 2px;

                        @include responsive-width($tablet-m) {
                            margin-top: 8px;
                        }

                        p {
                            margin: 0px;
                            font-size: 10px;
                            line-height: 11px;
                            font-style: normal;
                            font-weight: normal;

                            a {
                                color: $blue;
                                text-decoration: underline;
                                font-weight: bold;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }
                    }
            
                    .form--button {
                        display: none;
                        text-align: left;
                        padding-top: 100px;
        
                        @include responsive-width($tablet-m) {
                            padding-top: 90px;
                        }
        
                        a {
                            border-radius: 45.8325px;
                            min-width: 141px;
                            height: 40px;
            
                            @include responsive-width($tablet-m) {
                                min-width: 186px;
                                height: 50px;
                            }
            
                            span {
                                font-size: 12px;
            
                                @include responsive-width($tablet-m) {
                                    font-size: 13px;
                                }
                            } 
                        }
                    }
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 auto 0;
            width: 100%;
            text-align: right;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 4;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                width: auto;
                z-index: 3;
            }
            
            @include responsive-width($laptop-s) {
                right: 30px;
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: -5px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                    margin-right: 55px;
                    margin-top: 15px;
                }
        
                @include responsive-width($laptop-s) {
                    margin-top: 0;
                    margin-right: 0;
                }
        
                @include responsive-width($laptop-m) {
                    margin-right: -30px;
                }
            }
        }

        .e-button {

            &-buy {    
                margin-top: -22px;
                position: relative;
                z-index: 2;
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
                    width: 140px;
                    @include responsive-width($tablet-m) {
                        width: 150px;
                        font-size: 12px;
                        margin-left: 40px;
                        margin-top: 30px;
                    }
            
                    @include responsive-width($laptop-s) {
                        margin-top: 30px;
                        margin-left: 30px;
                    }
            
                    @include responsive-width($laptop-m) {
                        margin-top: 30px;
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: right;
            letter-spacing: -0.01em;
            z-index: 4;

            &__mob {
                padding-left: 16px;
                margin: 7px auto 0;
                text-align: left;
                padding-right: 0;
                bottom: 12px;
                
                @include responsive-width($tablet-m) {
                    width: 460px;
                    bottom: 10px;
                    padding-left: 65px;
                }
            }

            // &__desk {
            //     display: none;

            //     @include responsive-width($laptop-s) {
            //         font-size: 9px;
            //         display: block;
            //         max-width: 750px;
            //         right: auto;
            //         left: 45px;
            //         bottom: 20px;
            //         padding: 0;
            //         margin: 0;
            //         text-align: justify;
            //     }
    
            //     @include responsive-width($laptop-m) {
            //         bottom: 5px;
            //         max-width: 700px;
            //     }
            // }

            a {
                color: $extra_dark_gray;
                text-decoration: underline;
                @include responsive-width($laptop-s) {
                    text-decoration: none;
                }
            }
        }

        .e-disclaimer-small {
            position: absolute;
            font-weight: 300;
            font-size: 11px;
            line-height: 13px;
            max-width: 140px;
            z-index: 4;
            display: none;
            @include responsive-width($tablet-m) {
                display: block;
                right: 36%;
                max-width: 190px;
                line-height: 14px;
                bottom: 50px;
            }

            @include responsive-width($laptop-s) {
                right: 39.4%;
                max-width: 100%;
                bottom: 58px;
            }
            
            @include responsive-width($laptop-m) {
                right: 44%;
                bottom: 48px;
            }
        }
    }
}