.e-cintillo_entel_top {
    // border-top: 1px solid #ffffff;
    background-color: $color-light-blue;
    // background-image: url('https://www.entel.pe/wp-content/uploads/2020/10/cyberwow-cintillo.jpg');
    // background-position: center center;
    // background-size: cover;

    position: relative;
    width: 100%;
    height: 58px;
    bottom: 0;
    left: 0;
    z-index: 5;
    padding: 0;
    // display: none;
    cursor: default;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    overflow: hidden;
    text-align: center;

    &::before {
        content: '';
        display: block;
        width: 40%;
        height: 110%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FFF;
        // background-color: #00A885;
        z-index: 1;
    }

    &::after {
        content: '';
        display: block;
        width: 60%;
        height: 110%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $entel-celeste-7;
        // background: #296fd9; /* Old browsers */
        // background: -moz-linear-gradient(-45deg,  #296fd9 7%, #14a6f8 95%); /* FF3.6-15 */
        // background: -webkit-linear-gradient(-45deg,  #296fd9 7%,#14a6f8 95%); /* Chrome10-25,Safari5.1-6 */
        // background: linear-gradient(135deg,  #296fd9 7%,#14a6f8 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#296fd9', endColorstr='#14a6f8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        z-index: 1;
    }

    @media screen and (min-width: 768px) {
        // margin-top: 115px;
      }

    @media (min-width: $tablet-s) {
        // position: relative;
        height: 100px;
    }

    &-fix {
        @media (min-width: $tablet-s) {
            // height: 50px;
            height: auto;
        }

        &__interbank {
            &::before {
                background-color: #05BE50;
            }
        
            &::after {
                background: #296fd9; /* Old browsers */
                background: -moz-linear-gradient(-45deg,  #296fd9 7%, #14a6f8 95%); /* FF3.6-15 */
                background: -webkit-linear-gradient(-45deg,  #296fd9 7%,#14a6f8 95%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(135deg,  #296fd9 7%,#14a6f8 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#296fd9', endColorstr='#14a6f8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            }
        }

    }
    &-container{
        display: inline-flex;
        height: 58px;
        // max-width: 290px;
        margin: 0 auto;

        @media (min-width: $tablet-s) {
            height: 100px;
            // max-width: 542px;
        }

        &-fix {
            // max-width: 220px;

            @media (min-width: $tablet-s) {
                // height: 50px;
                height: auto;
                // max-width: 510px;
            }

            a {
                position: relative;
                z-index: 2;
            }
        }
        .e-time {
            &-container {
                display: flex;
            }

            &-item {
                padding: 0 7px;
                text-align: center;

                &:first-child {
                    padding-left: 0px;
                }

                &:last-child {
                    padding-right: 0px;
                }

                &__number {
                    display: block;
                    font-weight: bold;
                    font-size: 16px;
                    background: $white;
                    margin-bottom: 4px;
                    line-height: 30px;
                    height: 30px;
                    width: 30px;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;

                    @media (min-width: $tablet-s) {
                        height: 60px;
                        width: 60px;
                        line-height: 60px;
                        -webkit-border-radius: 6px;
                        -moz-border-radius: 6px;
                        border-radius: 6px;
                        font-size: 35px;
                    }
                }

                span {
                    display: block;
                    color: $white;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 1.5em;

                    @media (min-width: $tablet-s) {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    &-detail {
        text-align: left;
        // width: 155px;
        padding-left: 8px;
        padding-right: 9px;
        font-size: 10px;
        color: $white;
        display: flex;
        align-items: center;

        @media (min-width: $tablet-s) {
            position: relative;
            height: 100px;
            // width: 320px;
            font-size: 17px;
            padding-left: 24px;
            padding-right: 40px;
        }
        
        &-fix {
            // width: 176px;
            font-size: 14px;
            font-weight: bold;

            @media (min-width: $tablet-s) {
                height: 50px;
                font-size: 20px;
                // width: 643px;
            }
        }
        p {
            margin: 0;
            color: $white;
            font-size: 12px;
            line-height: 16px;

            @media (min-width: $tablet-s) {
                font-size: 17px;
                line-height: 19px;
            }

            span {
                // font-weight: bold;
            }
            br {

                // @media (min-width: $laptop-s) {
                //     display: none;
                // }

            }
        }
        strong {
            display: block;
            @media (min-width: $tablet-s) {
                display: inline;
            }
            &:first-child {
                // text-transform: uppercase;
            }        
        }
    }

    &-time {
        display: flex;
        align-items: center;
    }

    &-img {
        display: flex;
        align-items: center;
        width: 24px;

        @media (min-width: $tablet-s) {
            width: 50px;
        }
        
        &-fix {
            width: 44px;

            @media (min-width: $tablet-s) {
                height: 50px;
            }
        }
    }
}

.entel-product .e-cintillo_entel {
    background-color: $color-blue;
}
