.e-headband--sorteo-app-mi-entel {
    padding: 0;
    position: relative;
    &::after {
       content: '';
       position: absolute;
       top: 0;
       width: 100%;
       height: 100%;
       z-index: 1;
       background-image: m_image_url("2021/11/e-home-headband-sorteo-app-entel-flakes-mob.png");
       @include backgound_retina {
         background-image: m_image_url("2021/11/e-home-headband-sorteo-app-entel-flakes-mob@2x.png");
       }
       @include responsive-width($tablet_m) {
            background-image: m_image_url("2021/11/e-home-headband-sorteo-app-entel-flakes-desk.png");
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        -webkit-animation: snow 15s linear infinite;
        animation: snow 15s linear infinite;
        background-image: m_image_url("2021/11/e-home-headband-sorteo-app-entel-snow-mob.png");
        @include backgound_retina {
          background-image: m_image_url("2021/11/e-home-headband-sorteo-app-entel-snow-mob@2x.png");
        }
        @include responsive-width($tablet_m) {
         background-image: m_image_url("2021/11/e-home-headband-sorteo-app-entel-snow-desk.png");
        }
        @keyframes snow{
            0% {
                background-position: 0 0, 0 0;
            }
            100% {
                background-position: 500px 1000px, 500px 500px;
                }
            }
            @-webkit-keyframes snow{
                0% {
                    background-position: 0 0, 0 0;
                }
                100% {
                    background-position: 500px 1000px, 500px 500px;
                }
            }
     }
    .box--sorteo-app-mi-entel {
        display: flex;
        min-height: 60px;
        &__blue {
            width: 50%;
            background: rgb(2,70,161);
            background: linear-gradient(274deg, rgba(2,70,161,1) 10%, rgba(6,65,144,1) 28%, rgba(2,110,187,1) 67%);
            &-content{
                z-index: 2;
                position: relative;
                max-width: 100%;                
                height: 100%;
                margin-left: auto;
                display: flex;
                justify-content: right;
                align-items: center;
                @include responsive-width($tablet_m) {
                    max-width: 350px;
                }
                @include responsive-width($laptop_s) {
                    max-width: 550px;
                }
                p {
                    min-width: 92px;
                    margin-bottom: 0;
                    font-size: 11px;
                    // position: absolute;
                    // top: 0;
                    @include responsive-width($tablet_m) {
                        font-size: 15px;
                        align-items: center;
                    }
                    @include responsive-width($laptop_s) {
                        font-size: 18px;
                    }
                    span {
                        font-weight: 700;
                        display: block;
                        @include responsive-width($tablet_m) {
                            display: inline-block;
                        }
                    }
                }
                .img-dimitri {
                    max-width: 92px;
                    @include responsive-width($tablet_m) {
                        max-width: 132px;
                    }
                    img {
                        min-width: 68px;
                        @include responsive-width($tablet_m) {
                            min-width: 132px;
                        }
    
                    }
                }
                .img-phones {
                    max-width: 45px;
                    @include responsive-width($tablet_m) {
                        max-width: 52px;
                        align-items: center;
                    }
                    img {
                        right: -37px;
                        top: 23%;
                        max-width: 35px;
                        @include responsive-width($mobile_s) {
                            max-width:initial;
                            min-width: 45px;
                            position: absolute;
                            right: -44px;
                            top: 23%;
                        }
                        @include responsive-width($tablet_m) {
                            min-width: 52px;
                            position: initial;
                        }
    
                    }
                }
            }
        }
        &__white {
            width: 50%;
            overflow: hidden;
            position: relative;
            &::after {
                content: '';
                background-color: #0246a1;
                border-radius: 0 30px 0 0;
                position: absolute;
                top: 0;
                left: -54px;
                transform: skew(-18deg, -5deg);
                width: 95px;
                height: 72px;
                @include responsive-width($mobile_s) {
                    left: -46px;
                    transform: skew(-29deg, 8deg);
                }
                @include responsive-width($tablet_m) {
                    left: -35px;
                    transform: skew(-34deg, 8deg);
                    width: 50px;
                    height: 67px;
    
                }
            }
            &-content{
                z-index: 2;
                position: relative;
                padding-left: 50px;
                max-width: 100%;
                margin-right: auto;
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                height: 100%;
                @include responsive-width($tablet_m) {
                    max-width: 350px;
                    flex-direction: row;
                    padding-left: 10px;
                }
                @include responsive-width($laptop_s) {
                    max-width: 550px;
                    padding-left: 50px;
                }
                p {
                    font-weight: 500;
                    font-size: 9px;
                    line-height: 12px;
                    letter-spacing: 0.09em;
                    color: #004FB9;
                    margin-bottom: 0;
                    position: relative;
                    @include responsive-width($tablet_m) {
                        font-size: 12px;
                        letter-spacing: 0.05em;
                        padding-right: 35px;
                    }
                    @include responsive-width($laptop_s) {
                        font-size: 18px;
                        letter-spacing: 0.09em;
                        padding-right: 56px;
                    }
                    &::before {
                        @include responsive-width($tablet_m) {
                            content: m_image_url("2021/11/e-home-headband-sorteo-app-entel-ico-desk.png");
                            position: absolute;
                            top:-7px;
                            right: 5px;
                        }
                        @include responsive-width($laptop_s) {
                            right: 14px;
                        }
                    }
                }
                a {
                    font-weight: bold;
                    font-size: 11px;
                    line-height: 20px;
                    text-decoration-line: underline;
                    text-transform: uppercase;
                    color: #F13B02;
                    &:hover{
                        color: #F13B02;
                    }
                    @include responsive-width($tablet_m) {
                        font-size: 14px;
                        padding: inherit;
                        border: none;
                        border-radius: inherit;
                        text-decoration: underline;
                    }
                }
            }

        }
    }
}