.e-countdown--xiaomi-mayo-2021 {
  background: linear-gradient(92.36deg, #FF6900 2.38%, #FFB757 49.08%, #FFA442 77.21%, #FF6900 104.28%);
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  overflow:hidden;
  @media screen and (min-width: 768px) {
    background: linear-gradient(89.89deg, #FF6900 0.52%, #FFB757 24.61%, #FF6900 52.8%, #FFA442 79.45%);


  }
  a.e-button {
    background: #ff560a;
    border: none;
    font-weight: bold;
    font-size: 7px;
    line-height: 22px;
    max-width: 80px;
    min-width: auto;
    border-radius: 28.5714px;
    float: left;
    margin: 5px 0;
    padding: 0px 20px;
    height: 22px;
    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 40px;
      height: 40px;
      max-width: 140px;
      min-width: 140px;
      margin: 14px 7px;
  

    }
  }
  .box-xiaomi {
    display: flex;
    width: 100%;
    justify-content:space-between;
    margin: auto;
    @media screen and (min-width: 768px) {
      width: 82%;
    }
    @media screen and (min-width: 1024px) {
      width: 100%;
  }
    @media screen and (min-width: 1400px) {
      max-width: 1400px;

    }
    &--text {
      display: flex;
      // flex-direction: column;
      justify-content: center;
      margin-left: 1rem;
      position: relative;
      @media screen and (min-width: 768px) {
        margin: auto;
        // max-width:900px;
      }
      p {
        font-weight: 500;
        font-size: 9px;
        line-height: 11px;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        @media screen and (min-width: 768px) {
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 0;
        }

        span {
          font-weight: 500;
          font-size: 9px;
          line-height: 11px;
          letter-spacing: -0.03em;
          color: #191919;
          display: block;
          @media screen and (min-width: 768px) {
            font-size: 18px;
            line-height: 22px;
            display: inline-block;
          }
        }
        strong {
          font-weight: 800;
          font-size: 10px;
          line-height: 12px;
          padding-bottom: 3px;
          letter-spacing: -0.03em;
          @media screen and (min-width: 768px) {
            font-size: 24px;
            line-height: 34px;
            padding-bottom: 0;
            padding-right: 20px;
        
          }

        }
        img {
          @media screen and (min-width: 768px) {
          // padding: 0 10px;
          }
        }
      }
      a.e-button {
        display: block;
        position: absolute;
        right: 0;
        top: 40%;
        @media screen and (min-width: 768px) {
          display: none;
        }  
      }
    }
    &--img {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (min-width: 768px) {
        // display: flex;
        // justify-content: center;
        width: auto;
      }
      img {
        // margin-top: 0.8rem;
        @media screen and (min-width: 768px) {
          min-width: 129px;
        }
      }
      a.e-button {
        display: none;
        @media screen and (min-width: 768px) {
          display: inline-block;
        }  
      }
    }
  }
}
