.e-headband-lineasadicionales {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0092d8+0,02ade5+100 */
    background: #0092d8; /* Old browsers */
    background: -moz-linear-gradient(top,  #0092d8 0%, #02ade5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #0092d8 0%,#02ade5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #0092d8 0%,#02ade5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0092d8', endColorstr='#02ade5',GradientType=0 ); /* IE6-9 */
 

    position: relative;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0;
    z-index: 5;
    padding: 0;
    overflow: hidden;
    text-align: left;
    cursor: default;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 

    &-link-all {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &-container{
        display: flex;
        height: 60px;
        max-width: 325px;
        width: 100%;
        margin: 0 auto;
        position: relative;

        @media (min-width: $tablet-m) {
            max-width: 750px;
        }

        @media (min-width: $laptop-s) {
            max-width: 920px;
        }
    }

    &-title {
        width: 80px;
        padding: 4px 0 0 10px;

        @media (min-width: $tablet-m) {
            width: auto;
            display: flex;
        }

        @media (min-width: $laptop-s) {
            width: 400px;
        }

        p {
            display: none;

            @media (min-width: $tablet-m) {
                display: flex;
                align-items: center;
                color: $white;
                font-size: 10px;
                letter-spacing: 0.6em;
                margin: 0;
            }

            @media (min-width: $laptop-s) {
                font-size: 12px;
                width: 180px;
            }
        } 

        h3 {
            color: $white;
            font-size: 11px;
            font-weight: normal;
            letter-spacing: .05em;
            margin: 0 0 3px;

            @media (min-width: $tablet-m) {
                font-size: 18px;
                margin-top: 8px;
                width: 116px;
            }

            @media (min-width: $laptop-s) {
                font-size: 20px;
                margin-top: 6px;
            }

            strong {
                color: $white;
                font-weight: 800;
                letter-spacing: .05em;
            }
        }

        &__price {
            display: flex;

            @media (min-width: $tablet-m) {
                align-items: center;
            }

            @media (min-width: $laptop-s) {
                padding-left: 16px;
            }

            & > span {
                color: $white;
                font-size: 5px;
                line-height: 1em;
                width: 15px;

                @media (min-width: $tablet-m) {
                    font-size: 8px;
                    width: 23px;
                }

                @media (min-width: $laptop-s) {
                    font-size: 10px;
                    width: 30px;
                }

                strong {
                    color: $blue;
                    font-size: 12px;
                    line-height: .9em;
                    display: block;
                    font-weight: 800;

                    @media (min-width: $tablet-m) {
                        font-size: 17px;
                    }

                    @media (min-width: $laptop-s) {
                        font-size: 20px;
                        line-height: 1.1em;
                    }
                }
            }

            & > strong {
                color: $white;
                font-size: 28px;
                line-height: .7em;
                font-weight: 800;

                @media (min-width: $tablet-m) {
                    font-size: 42px;
                    margin-top: 4px;
                }

                @media (min-width: $laptop-s) {
                    font-size: 50px;
                }
                
                span {
                    font-weight: 800;
                    color: $white;
                    font-size: 12px;

                    @media (min-width: $tablet-m) {
                        font-size: 17px;
                    }

                    @media (min-width: $laptop-s) {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    &-detail {
        position: relative;
        padding: 4px 0 0 10px;

        @media (min-width: $tablet-m) {
            display: flex;
            align-items: center;
            width: auto;
        }

        @media (min-width: $laptop-s) {
            padding: 4px 0 0 20px;
        }

        &::after {
            content: '';
            width: 70px;
            height: 58px;
            position: absolute;
            right: -64px;
            bottom: 0;
            background-image: url('https://www.entel.pe/wp-content/uploads/2022/03/lineas-adicionales-head.png');
            background-repeat: no-repeat;
            background-size: 70px ;

            @media (min-width: $tablet-m) {
                right: 92px;
                width: 90px;
                background-size: 90px;
            }

            @media (min-width: $laptop-s) {
                right: 126px;
            }
        }

        &__text {
            color: $white;
            margin: 0 0 5px;
            font-size: 10px;
            line-height: 1.1em;
            position: relative;

            @media (min-width: $laptop-s) {
                font-size: 13px;
            }

            &:first-child {
                @media (min-width: $tablet-m) {
                    width: 205px;
                }

                @media (min-width: $laptop-s) {
                    width: 255px;
                }
            }

            &:last-child {
                color: $blue;

                @media (min-width: $tablet-m) {
                    color: $white;

                    &::before {
                        content: '';
                        display: block;
                        border: 1px solid $blue;
                        border-right: 0;
                        position: absolute;
                        width: 6px;
                        height: 32px;
                        top: -5px;
                        left: -13px;
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                    }

                    &::after {
                        content: '';
                        display: block;
                        border: 1px solid $blue;
                        border-left: 0;
                        position: absolute;
                        width: 6px;
                        height: 32px;
                        top: -5px;
                        right: -15px;
                        border-top-right-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                }

                @media (min-width: $laptop-s) {
                    width: 107px;

                    &::before,
                    &::after {
                        height: 39px;
                    }
                }
            }

            strong {                
                @media (min-width: $tablet-m) {
                    font-size: 9px;
                }

                @media (min-width: $laptop-s) {
                    font-size: 13px;
                }
            }
        }
    }

    &-button {
        .e-link__button {
            color: $white;
            z-index: 2;
            position: absolute;
            line-height: 29px;
            top: 15px;
            right: 12px;
            text-align: center;
            font-weight: 700;
            font-size: 11px;
            text-decoration: underline;

            @media (min-width: $tablet-m) {
                margin-right: 0;
                font-size: 12px;
                background-color: $orange;
                border-radius: 15px;
                color: $white;
                font-weight: bold;
                line-height: 30px;
                text-align: center;
                text-decoration: none;
                right: 0;
                padding: 0px 24px;

                &:hover {
                    background-color: rgba(250,250,250,.2);
                }
            }

            @media (min-width: $laptop-s) {
                margin-right: 0;
                line-height: 30px;
                border-radius: 20px;
            }
        }
    }

    // &-detail {
    //     position: relative;
    //     left: -50px;
    //     text-align: left;
    //     font-size: 10px;
    //     width: 100%;
    //     height: 100%;
    //     color: $white;
    //     display: flex;
    //     flex-direction: row-reverse;
    //     align-items: center;
    //     justify-content: flex-end;

    //     @media (min-width: $tablet-m) {
    //         left: 0;
    //         margin-left: 30px;
    //         position: relative;
    //         font-size: 19px;
    //         flex-direction: row;
    //         justify-content: flex-start;
    //     }

    //     &::after {
    //         position: absolute;
    //         content: '';
    //         display: none;
    //         width: 86px;
    //         height: 64px;
    //         z-index: -2;
            
    //         @include responsive-width($tablet-m) {
    //             background-image: m_image_url("2022/01/cintillo-verano2022-sombrero-v1.png");
    //             background-size: 86px 64px;
    //             background-repeat: no-repeat;
    //         }
    
    //         @include responsive-width($laptop-s) {
    //             display: block;
    //             left: -113px;
    //             top: 0;
    //         }

    //     } 

    //     &-text {
    //         display: flex;
    //         flex-direction: column;
    //         margin-left: 0px;
    //         // align-items: center;
            
    //         @media (min-width: $tablet-m) {
    //             flex-direction: row;
    //             align-items: center;
    //         }

    //         @media (min-width: $laptop-s) {
    //             width: 694px;
    //             justify-content: space-between;
    //         }

    //         p {
    //             margin: 0;
    //             color: $white;
    //             font-size: 12px;
    //             line-height: 16px;
    //         }

    //         &-dscto {
    //             display: flex;
    //             align-items: end;
    //             margin-bottom: 2px;

    //             @media (min-width: $tablet-m) {
    //                 margin-right: 85px;
    //                 margin-bottom: 0px;
    //             }

    //             @media (min-width: $laptop-s) {
    //                 display: flex;
    //                 // width: 393px;
    //                 margin-right: 0;
    //                 justify-content: space-between;
    //                 align-items: center;
    //             }

    //             & > div:first-child {
    //                 &::before {
    //                     content: '';
    //                     position: relative;
    //                     display: inline-block;
    //                     margin-left: 0;
    //                     margin-bottom: -7px;
    //                     margin-right: 5px;
    //                     max-width: none;
    //                     z-index: -1;
    //                     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='60' height='51' viewBox='0 0 60 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M45.7638 1.87163L7.95342 8.6224C3.86449 9.35245 1.14158 13.259 1.87163 17.3479L6.45432 43.0152C7.18437 47.1041 11.0909 49.827 15.1799 49.0969L46.6722 43.4742C48.5666 43.136 50.2592 42.0845 51.4018 40.5361L56.6512 33.4226C57.8774 31.7609 58.3664 29.6681 58.0034 27.6351L54.4894 7.95343C53.7593 3.86449 49.8528 1.14158 45.7638 1.87163Z' fill='white' stroke='%23DF7800' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.88456 16.1186C8.4768 16.1914 8.20526 16.581 8.27806 16.9887L10.9385 31.8894C11.0113 32.2972 11.4008 32.5687 11.8086 32.4959L24.1549 30.2916C24.5626 30.2188 24.8342 29.8292 24.7614 29.4214L22.101 14.5208C22.0282 14.113 21.6386 13.8415 21.2308 13.9143L8.88456 16.1186Z' stroke='%23FF560A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.6792 26.1702L17.3206 24.9844M23.0255 23.9658L17.3206 24.9844M18.3183 30.5721C18.2684 30.2927 17.6324 26.7305 17.3206 24.9844' stroke='%23FF560A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.4 15.7173L16.2647 20.56L9.87866 21.7002' stroke='%23FF560A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    //                     background-size: 100%;
    //                     background-repeat: no-repeat;
    //                     width: 34px;
    //                     height: 27px;    
    //                     border: 0;
    //                     transform: rotate(0deg) !important;
                
    //                     @media (min-width: $tablet-m) {    
    //                         top: -5px;
    //                         margin-bottom: -17px;
    //                         width: 49px;
    //                         height: 41px;  
    //                     }
                
    //                     @media (min-width: $laptop-s) {   
    //                         top: -12px;
    //                         left: -14px;
    //                         margin-bottom: -27px; 
    //                         width: 60px;
    //                         height: 51px;
    //                     } 
    //                 }
    //             }

    //             div {
    //                 display: inline-block;

    //                 &:nth-child(1) {
    //                     p,span {
    //                         font-weight: 400;
    //                         text-decoration: line-through;
    //                     }
    //                     .dscto-number {
    //                         font-size: 10px;
    //                         line-height: 20px;
    //                         padding-right: 7px;
    //                         border-right: 1px solid $white;
                            
    //                         @media (min-width: $tablet-m) {
    //                             font-size: 12px;
    //                         }
    //                         @media (min-width: $laptop-s) {
    //                             font-size: 18px;
    //                             padding-right: 15px;
    //                             margin-right: 0;
    //                         }
    //                     }
    //                 }

    //                 .dscto-time {
    //                     font-size: 18px;
    //                     font-weight: 700;
    //                     margin-left: 7px;

    //                     @media (min-width: $tablet-m) {
    //                         font-size: 20px;
    //                         margin-bottom: 3px;
    //                     }

    //                     @media (min-width: $laptop-s) {
    //                         font-size: 25px;
    //                         margin-bottom: 0;
    //                         margin-left: 0;
    //                         padding-left: 15px;
    //                         display: inline-block;

    //                         span {

    //                             &:first-child {
    //                                 font-size: 40px;
    //                             }   

    //                             &:last-child {
    //                                 vertical-align: top;
    //                                 margin-top: 6px;
    //                                 display: inline-block;
    //                             }                            
    //                         }
    //                     }
    //                     span {
    //                         font-weight: 700;
    //                     }
    //                 }

    //                 .dscto-online {
    //                     font-size: 10px;
    //                     margin-left: 7px;

    //                     @media (min-width: $tablet-m) {
    //                         font-size: 12px;
    //                     }
    //                     @media (min-width: $laptop-s) {
    //                         display: inline-block;
    //                         font-size: 18px;
    //                         margin-top: -2px;
    //                         margin-left: 0;
    //                         padding-left: 5px;
    //                         vertical-align: super;
    //                     }
    //                 }

    //             }

    //         }

    //         &-plan {
    //             @media (min-width: $tablet-m) {
    //                 margin-top: 3px;
    //                 margin-left: 0;
    //                 margin-right: 5px;
    //             }

    //             @media (min-width: $laptop-s) {
    //                 margin-left: 0;
    //                 width: 310px;
    //             }

    //             p {
    //                 font-size: 14px;
    //                 font-weight: 700;
    //                 letter-spacing: .045em;

    //                 @media (min-width: $tablet-m) {
    //                     font-size: 17px;
    //                 }

    //                 @media (min-width: $laptop-s) {
    //                     font-size: 20px;
    //                 }
    //             }

    //             // .plan-chip {
    //             //     @media (min-width: $tablet-m) {
    //             //         font-size: 18px;
    //             //     }

    //             //     @media (min-width: $laptop-s) {
    //             //         font-size: 19px;
    //             //     }
    //             // }
                
    //             // .plan-amount {
    //             //     @media (min-width: $tablet-m) {
    //             //         font-size: 13px;                    
    //             //     }
    //             //     @media (min-width: $laptop-s) {
    //             //         font-size: 16px;
    //             //     }
    //             // }
    //         }
    //     }

    //     // div {
    //     //     position: relative;
    //     //     height: 100%;
    //     //     // width: 70px;

    //     //     img {
    //     //         position: absolute;
    //     //         top: 5px;
    //     //         left: -75px;
    //     //         width: auto;
    //     //         max-width: none;

    //     //         @media (min-width: $tablet-m) {
    //     //             top: 2px;
    //     //             left: -70px;
    //     //         }

    //     //         @media (min-width: $laptop-s) {
    //     //             top: 7px;
    //     //             left: -96px;
    //     //         }
    //     //     }
    //     // }
    // }

    // &-time {
    //     display: flex;
    //     align-items: center;
    // }

    // &-img {
    //     display: flex;
    //     align-items: center;
    //     width: 24px;

    //     @media (min-width: $tablet-m) {
    //         width: 50px;
    //     }
    // }
}

// .entel-product .e-countdown {
//   background-color: $blue;
// }

// .only-mob {
//     @media (min-width: $tablet-m) {
//         display: none;
//     }
// }

// .only-desk {
//     display: none;
//     @media (min-width: $tablet-m) {
//         display: block;
//     }
// }