.e-headband--xiaomi-especial {
  background-image: m_image_url("2021/05/e_xiaomi_especial-mob.png");
    background-repeat: no-repeat;
    background-size: cover;
    @include backgound_retina {
      background-image: m_image_url("2021/05/e_xiaomi_especial-mob@2x.png");
    }
    @media screen and (min-width: 768px) {
      background-image: m_image_url("2021/05/e_xiaomi_especial.png");
      @include backgound_retina {
        background-image: m_image_url("2021/05/e_xiaomi_especial@2x.png");
      }
    }
  padding: 6px 0;
  width: 100%;
  height: auto;
  display: flex;
  
  a.e-button {
    background: #ff560a;
    border: none;
    font-weight: bold;
    font-size: 10px;
    line-height: 28px;
    max-width: inherit;
    min-width: 100px;
    border-radius: 28.5714px;
    float: left;
    margin: 5px 0;
    padding: 0;
    height: 30px;
    @media screen and (min-width: 768px) {
      min-width: 140px;
      height: 40px;
      font-size: 12px;
      line-height: 38px;
    }
  }
  .box--xiaomi-especial {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
      justify-content: center;
    }
  }
  .box-texto {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    @media screen and (min-width: 768px) {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    strong{
      color: #5CDEB1;
    }
    
    p {
      color: $white;
      font-weight: normal;
      font-size: 10px;
      line-height: 14px;
      margin: 0;
      max-width: 169px;
      text-align: left;
      @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 20px;
        max-width: 500px;
        
      }
      @media screen and (min-width: 845px) {
        max-width: 577px;
      }
      @media screen and (min-width: 1200px) {
        max-width: 100%;
      }
    }
  }

  .box-img {
  }
}
