.e-headband--app-mi-entel {
    background-image: m_image_url("2022/01/e-bg-chip-verano-mob.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @include backgound_retina {
        background-image: m_image_url("2022/01/e-bg-chip-verano-mob@2x.png");
    }
    @media screen and (min-width: 768px) {
        background-image: m_image_url("2022/01/e-bg-chip-verano.png");
        background-size: cover;
        background-position: center;
        @include backgound_retina {
            background-image: m_image_url("2022/01/e-bg-chip-verano@2x.png");
        }
    }

    @media screen and (min-width: $laptop_s) {
      background-size: cover;
      background-position: -579px;
    }

    @media screen and (min-width: $desktop_m) {
      background-size: cover;
      background-position: center;
    }

    padding: 6px 0;
    width: 100%;
    height: auto;
    display: flex;
    
    a.e-button {
      background: #ff560a;
      border: none;
      font-weight: bold;
      font-size: 10px;
      line-height: 28px;
      max-width: inherit;
      min-width: 100px;
      border-radius: 28.5714px;
      float: left;
      margin: 5px 0;
      padding: 0;
      height: 30px;
      @media screen and (min-width: 768px) {
        min-width: 140px;
        height: 40px;
        font-size: 12px;
        line-height: 38px;
      }
    }
    .box--app-mi-entel {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      @media screen and (min-width: 768px) {
        justify-content: center;
      }

      .e-img-logo {
        margin-right: 2px;

        @media screen and (min-width: 768px) {
          margin-right: 7px;
        }
      }

      .e-box-images {
        display: flex;
        align-items: flex-end;
      }
    }
    .box-texto {
      margin-left: 0.5rem;
      margin-right: 0.1rem;
      @media screen and (max-width: 768px) {
        display: inline-grid;
      }
      @media screen and (min-width: 769px) {
        margin-left: 0;
        margin-right: 0.5rem;
      }
  
      a{
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 700;
        font-size: 13px;
        color: #FF560A;

        @media screen and (min-width: 768px) {
          font-size: 14px;
          padding-right: 5px;
          vertical-align: bottom;
        }
      }
      
      p {
        color: $blue;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        margin: 0;
        max-width: 120px;
        text-align: left;

        

        @media screen and (max-width: 540px) {
          max-width: 280px;
          font-size: 16px;
          line-height: 1;
        }

        @media screen and (max-width: 414px) {
          max-width: 169px;
          font-size: 14px;
        }

        @media screen and (min-width: 768px) {
          font-size: 16px;
          line-height: 20px;
          max-width: 500px;
          display: inline-block;
          
        }
        @media screen and (min-width: 845px) {
          max-width: 577px;
        }
        @media screen and (min-width: 1200px) {
          max-width: 100%;
        }

        b {
          font-size: 15px;
          vertical-align: middle;

          @media screen and (min-width: 375px) {
            font-size: 18px;
  
          }
        }

        span {
            display: none;

            @media screen and (min-width: 768px) {
                display: inline-block;
                vertical-align: middle;
            }
        }
        img {
          margin-top: 0;
          width: 27px;

          @media screen and (min-width: 375px) {
            width: 30px;
  
          }

          @media screen and (min-width: 768px) {
            width: 33px;
          }
        }
        strong {
          font-weight: 500;
        }

        &.text-gray {
          color: #383C47;
        }
      }
    }
  
    .box-img {
    }
  }
  