.e-countdown-cyberentel__reg {
    background-color: $extra_blue;
    // background-image: url($m_image_path+'2021/04/countdown-back-cyberwow2021.png');
    // background-position: center center;
    // background-size: cover;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00b8ea+1,018fdb+100 */
    // background: #00b8ea; /* Old browsers */
    // background: -moz-linear-gradient(-45deg,  #00b8ea 1%, #018fdb 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(-45deg,  #00b8ea 1%,#018fdb 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(135deg,  #00b8ea 1%,#018fdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b8ea', endColorstr='#018fdb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    position: relative;
    width: 100%;
    height: 62px;
    // bottom: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    padding: 0;
    // display: none;
    text-align: center;
    cursor: default;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    
    display: flex;
    align-items: center;

    @media (min-width: $tablet-m) {
        // position: relative;
        height: 100px;
        bottom: 0;
    }

    &-container{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 62px;
        // max-width: 290px;
        margin: 0 auto;

        @media (min-width: $tablet-m) {
            height: 60px;
            // max-width: 542px;
        }
        .e-time {
            &-container {
                display: flex;
            }

            &-item {
                padding: 0 7px;
                text-align: center;

                &:first-child {
                    padding-left: 0px;
                }

                &:last-child {
                    padding-right: 0px;
                }

                &__number {
                    display: block;
                    font-weight: bold;
                    font-size: 16px;
                    background: $white;
                    margin-bottom: 0;
                    line-height: 30px;
                    height: 30px;
                    width: 30px;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;
                    color: $blue;

                    @media (min-width: $tablet-m) {
                        height: 38px;
                        width: 38px;
                        line-height: 38px;
                        margin-bottom: 2px;
                        -webkit-border-radius: 6px;
                        -moz-border-radius: 6px;
                        border-radius: 6px;
                        font-size: 20px;
                    }
                }

                span {
                    display: block;
                    color: $white;
                    font-size: 8px;
                    line-height: 1.5em;

                    @media (min-width: $tablet-m) {
                        font-size: 10px;
                        line-height: 1em;
                    }
                }
            }
        }
    }

    &-detail {
        text-align: left;
        padding-left: 10px;
        padding-right: 7px;
        font-size: 10px;
        width: 144px;
        color: $white;
        display: flex;
        align-items: center;

        @media (min-width: $tablet-m) {
            position: relative;
            width: 268px;
            font-size: 17px;
            padding-left: 19px;
            padding-right: 9px;
        }
        p {
            margin: 0;
            color: $white;
            font-size: 10px;
            line-height: 12px;

            @media (min-width: $tablet-m) {
                font-size: 18px;
                line-height: 22px;
            }
        }
        strong {
            // display: block;
            font-size: 16px;

            @media (min-width: $tablet-m) {
                font-size: 30px;
                display: inline;
            }     
        }
        span {
            // display: block;

            @media (min-width: $tablet-m) {
                display: inline;
            }

            strong {
                font-size: 10px;
                line-height: 12px;

                @media (min-width: $tablet-m) {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }

    &-time {
        display: flex;
        align-items: center;
    }

    &-img {
        display: flex;
        align-items: center;
        width: 24px;


        @media (min-width: $tablet-m) {
            width: 35px;
        }

        &::before{
            content: '';
            width: 26px;
            height: 34px;
            display: block;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='40' height='50' viewBox='0 0 40 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36.6108 19.6709L39.1296 17.1516C39.7018 16.5798 39.7018 15.6521 39.1296 15.0803L34.9865 10.9367C34.7118 10.6621 34.3391 10.508 33.9508 10.508C33.5625 10.508 33.1898 10.6621 32.9151 10.9367L30.4115 13.4407C28.9532 12.5145 27.3663 11.7729 25.684 11.2503V8.78906H27.8324C28.6411 8.78906 29.2973 8.13332 29.2973 7.32422V1.46484C29.2973 0.655746 28.6411 0 27.8324 0H11.8038C10.9947 0 10.339 0.655746 10.339 1.46484V7.32422C10.339 8.13332 10.9947 8.78906 11.8038 8.78906H13.9523V11.2507C5.87921 13.7569 0 21.2959 0 30.1823C0 41.1098 8.89015 50 19.8177 50C30.7453 50 39.6358 41.1098 39.6358 30.1823C39.6358 26.3237 38.5262 22.7196 36.6108 19.6709ZM33.9508 14.0442L36.0226 16.116L34.8526 17.2859C34.2155 16.544 33.5251 15.8493 32.7866 15.2088L33.9508 14.0442ZM13.2687 2.92969H26.3672V5.85938H13.2687V2.92969ZM16.8819 8.78906H22.7543V10.5824C21.7957 10.4393 20.8153 10.3645 19.8181 10.3645C18.8206 10.3645 17.8402 10.4393 16.8819 10.5824V8.78906ZM32.7484 41.0324L31.0825 39.3665C30.5107 38.7943 29.5834 38.7943 29.0112 39.3665C28.4389 39.9384 28.4389 40.8661 29.0112 41.4379L30.6778 43.1046C28.0922 45.2812 24.847 46.6972 21.2891 47.0055V44.6419C21.2891 43.8328 20.6333 43.177 19.8242 43.177C19.0155 43.177 18.3594 43.8328 18.3594 44.6419V47.0066C14.8014 46.701 11.5551 45.2873 8.96797 43.1129L10.6339 41.4471C11.2061 40.8752 11.2061 39.9475 10.6339 39.3753C10.062 38.8035 9.13429 38.8035 8.56247 39.3753L6.89545 41.0419C4.71916 38.4563 3.30315 35.2112 2.99454 31.6536H5.35851C6.16722 31.6536 6.82335 30.9975 6.82335 30.1888C6.82335 29.3797 6.16722 28.7239 5.35851 28.7239H2.99339C3.29933 25.1656 4.71306 21.9193 6.88744 19.3321L8.55331 20.998C8.83904 21.2841 9.21402 21.4272 9.589 21.4272C9.96361 21.4272 10.3386 21.2841 10.6247 20.998C11.1965 20.4262 11.1965 19.4988 10.6247 18.9266L8.95805 17.26C11.5437 15.0833 14.7888 13.6677 18.3464 13.3591V15.7227C18.3464 16.5318 19.0025 17.1875 19.8112 17.1875C20.6203 17.1875 21.2761 16.5318 21.2761 15.7227V13.3579C24.8344 13.6635 28.0807 15.0772 30.6679 17.2516L29.002 18.9175C28.4298 19.4893 28.4298 20.417 29.002 20.9892C29.2877 21.2749 29.6627 21.418 30.0377 21.418C30.4123 21.418 30.7873 21.2749 31.0734 20.9892L32.74 19.3222C34.9167 21.9082 36.3327 25.1534 36.6409 28.7109H34.2773C33.4682 28.7109 32.8125 29.3667 32.8125 30.1758C32.8125 30.9849 33.4682 31.6406 34.2773 31.6406H36.6421C36.3365 35.199 34.9228 38.4449 32.7484 41.0324Z' fill='white'/%3E%3Cpath d='M23.2013 23.4043C22.3754 23.8289 21.3096 24.2794 20.2793 24.7155C18.2392 25.578 16.3128 26.3928 15.2675 27.3403C14.4935 28.0426 14.0392 29.0039 13.9881 30.048C13.937 31.0917 14.2955 32.0931 14.9974 32.8671C15.7688 33.7178 16.8312 34.15 17.8978 34.15C18.8358 34.15 19.7765 33.8154 20.5242 33.1375C21.2673 32.4639 22.0588 31.0196 23.2891 28.7197C23.9154 27.5486 24.5628 26.3378 25.1022 25.5005C25.4615 24.9436 25.4013 24.2142 24.9561 23.7232C24.5109 23.2319 23.7911 23.1011 23.2013 23.4043ZM18.5562 30.9674C18.1549 31.3313 17.5319 31.3008 17.168 30.8991C16.9914 30.7049 16.9014 30.4531 16.9143 30.1911C16.9269 29.9286 17.0414 29.6871 17.2355 29.5109C17.7799 29.0173 19.0933 28.4104 20.4422 27.8298C19.7906 29.0428 18.9106 30.6458 18.5562 30.9674Z' fill='white'/%3E%3C/svg%3E");


            background-repeat: no-repeat;
            background-size: 100%;

            @media (min-width: $tablet-m) {
                width: 35px;
                height: 45px;
            }

        }
    }
}

.entel-product .e-countdown {
    background-color: $blue;
}

.e-content__banner-cintillo {
    background-color: $white;
}