.headband-sorteo-vacuum-xiaomi-05-21 {
  background: linear-gradient(272.84deg, #1477f8 37.01%, #115ac9 92.2%);
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    background: linear-gradient(89.95deg, #1477f8 31.91%, #115ac9 78.61%);
  }
  .box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 1rem;
  }
  img {
    margin: 0 0.2rem;
    @media screen and (min-width: 768px){
      margin: 0 0.5rem;
    }
  }
  p {
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    // font-size: 9px;
    font-size: calc(0.5em + 1vw);
    // width: 73%;
    line-height: 1.3rem;
    /* identical to box height */
    margin: 0;
    // letter-spacing: -0.09em;
    @media screen and (min-width: 768px) {
      // font-size: 18px;
      font-size: 18px;
    }
    span {
      font-style: normal;
      font-weight: 800;
      font-size: calc(0.7em + 1vw);
      // line-height: 15px;
      /* identical to box height */
      display: inline;
      // letter-spacing: -0.09em;
      @media screen and (min-width: 768px) {
        // font-size: 26px;
        font-size: 26px;
      }
    }
  }
  a {
    display: inline;
    color: #ffffff;
    text-transform: uppercase;
    background: #ff560a;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px 8px;
    text-align: center;
    margin-left: 5px;
    font-weight: bold;
    // width: 80px;
    // height: 20px;
    font-size: calc(0.7em + 1vw);
    @media screen and (min-width: 768px) {
      width: 140px;
      height: 40px;
      line-height: 30px;
      font-size: 12px;
      margin-left: 2rem;
    }
  }
  .hide-mob-xiaomi {
    display: none;
    @media screen and (min-width: 768px) {
      display: inline;
    }
  }
  .show-mob-xiaomi {
    display: inline;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  .ml-1-5rem {
    @media screen and (min-width: 768px) {
      margin-left: 1.5rem;
    }
  }
}
