.e-headband-lovers {
  background-image:url($m_image_path + '2021/07/e-headband-bg-lovers-mob.jpg');
  background-repeat: repeat;
  padding: 5px 0;
  width: 100%;
  height: auto;
  margin-top: 0px;
  display: flex;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  animation: bg-banner 60s linear infinite;

  @media screen and (min-width: 360px) {
    background-size: cover;
  }
  @media screen and (min-width: 768px) {
    animation: bg-banner-desk 80s linear infinite;
    background-size: 1918px 50px;
    background-image: m_image_url('2021/07/e-headband-bg-lovers-desk.png');
    @include backgound_retina {
      background-image: m_image_url('2021/07/e-headband-bg-lovers-desk@2x.png');
    }
    
  }

  .box-lovers{
    display: flex;
    background: #fff;
    margin: 0 auto;
    width: 270px;
    padding: 6px 5px;
    justify-content: center;
    position: relative;

    @include responsive-width($tablet_s){
      width: auto;
      padding: 6px 10px;
    }
    @include responsive-width($tablet_m){
      padding: 2px 10px;
    }

    @include responsive-width($laptop_s){
      align-items: center;
    }
    
    &:before,&:after{
      content: "";
      width: 33px;
      height: 50px;
      position: absolute;
      top: 1px;
      background-size: 100% 100%;
      background-image: m_image_url('2021/07/headband-lovers-float.png');
      @include backgound_retina {
        background-image: m_image_url('2021/07/headband-lovers-float@2x.png');
      }
      @include responsive-width($tablet_m){
        height: 46px;
        top: -3px;
      }
    }
    &:before{
      left: -32px;
    }
    &:after{
      right: -32px;
      transform: rotate(180deg);
    }

    .box-lovers__img-left{}

    .box-lovers__text{
      width: 190px;
      max-width: 100%;
      margin: 0 6px;
      text-align: center;

      @include responsive-width($tablet_s){
        margin: 0 13px;
        width: 240px;
      }
      @include responsive-width($tablet_m){
        width: 480px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
      @include responsive-width($laptop_s){
        width: auto;
      }

      p{
        font-weight: normal;
        font-size: 10px;
        line-height: 18px;
        color: $blue;
        margin-bottom: 0;
        display: inline-block;
        @include responsive-width($tablet_s){
          font-size: 13px;
        }
        @include responsive-width($tablet_m){
          font-size: 14px;
        }
        @include responsive-width($laptop_s){
          font-size: 16px;
        }

        a.e-link{
          font-size: 12px;
          line-height: 18px;
          color: $orange;
          font-weight: bold;
        }
      }
      a.e-lover-logo{
        display: inline-block;
        margin: 0 6px;
        transition: all 200ms linear 0s;
        animation: logo-zoom 2s linear infinite;
        animation-direction: alternate;
        picture{
          display: inline-block;
          line-height: 1;
          @include responsive-width($tablet_m){
            line-height: 0;
          }
          img{
            height: 18px;
            width: auto;
            @include responsive-width($laptop_s){
              height: 20px;
            }
          }
        }
      }
    }

    .box-lovers__img-right{}

    &__hearts{
      padding: 0 19px;
      line-height: 1;
      display: none;

      @include responsive-width($laptop_s){
        display: inline-block;
      }

      svg{
        margin: 0 4px;
        transform: rotate(360deg);
        transition: all 300ms linear 0s;
        animation: heart-rotate 8s ease infinite;
        animation-delay: 0.4s!important;
        &:nth-child(2){
          animation-delay: 0.7s!important;
          .heart-bg{
            fill: $extra_blue;
          }
        }
        &:nth-child(3){
          animation-delay: 1s!important;
          .heart-bg{
            fill: #F46C8F;
          }
        }
      }

      &-r{
        svg{
          &:nth-child(1){
            .heart-bg{
              fill: #F46C8F;
            }
          }
          &:nth-child(3){
            .heart-bg{
              fill: $blue;
            }
          }
        }
      }

    }

  }
  
  @keyframes bg-banner{
    0%{
        background-position: 0px 0;
    }
    100%{
        background-position: -767px 0;
    }
  }
  @keyframes bg-banner-desk{
    0%{
        background-position: 0px 0;
    }
    100%{
        background-position: -1918px 0;
    }
  }

  @keyframes logo-zoom{
    0%{
        transform: scale(1);
    }
    100%{
      transform: scale(1.12);
    }
  }
  @keyframes heart-rotate{
    0%{
      transform: rotate(0);
    }
    50%{
      transform: rotate(360deg);
    }
  }


}
