.e-headband-eligetuchip2 {
    background: rgb(20,119,248);
    background: -moz-linear-gradient(272deg, rgba(20,119,248,1) 37.01%, rgba(25,109,234,1) 92.2%);
    background: -webkit-linear-gradient(272deg, rgba(20,119,248,1) 37.01%, rgba(25,109,234,1) 92.2%);
    background: linear-gradient(272deg, rgba(20,119,248,1) 37.01%, rgba(25,109,234,1) 92.2%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1477f8",endColorstr="#196dea",GradientType=1);
    position: relative;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0;
    z-index: 5;
    padding: 0;
    overflow: hidden;
    text-align: center;
    cursor: default;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 

    &-link-all {
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    &-back {
        position: absolute;
        top: 7px;
        margin-left: 7px;
        left: 51%;
        max-width: none;
        z-index: -1;
        @media (min-width: $tablet-m) {
            margin-left: 145px;
            top: 2px;
        }

        @media (min-width: $laptop-s) {
            margin-left: 96px;
            top: 6px;
        }
    }

    &-container{
        // position: relative;
        // padding-left: 10px;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 60px;
        max-width: 325px;
        width: 100%;
        margin: 0 auto;
        // z-index: 2;

        @media (min-width: $tablet-m) {
            // padding-left: 10px;
            max-width: 680px;
        }

        @media (min-width: $laptop-s) {
            max-width: 895px;
        }

        &::after {
            position: absolute;
            content: '';
            display: none;
            width: 2000px;
            height: 500px;
            background-color: #01BAED;
            -webkit-border-radius: 35px;
            -moz-border-radius: 35px;
            border-radius: 35px;
            z-index: -2;
            // -moz-transform: rotate(8deg) skew(-4deg) translate(-951px, -7px);
            // -webkit-transform: rotate(8deg) skew(-4deg) translate(-951px, -7px);
            // -o-transform: rotate(8deg) skew(-4deg) translate(-951px, -7px);
            // -ms-transform: rotate(8deg) skew(-4deg) translate(-951px, -7px);
            // transform: rotate(8deg) skew(-4deg) translate(-951px, -7px);
    
            
            @include responsive-width($tablet-m) {
                display: block;
                -webkit-border-radius: 32px;
                -moz-border-radius: 32px;
                border-radius: 32px;
                -moz-transform: rotate(8deg) skew(-4deg) translate(-1190px, 22px);
                -webkit-transform: rotate(8deg) skew(-4deg) translate(-1190px, 22px);
                -o-transform: rotate(8deg) skew(-4deg) translate(-1190px, 22px);
                -ms-transform: rotate(8deg) skew(-4deg) translate(-1190px, 22px);
                transform: rotate(8deg) skew(-4deg) translate(-1190px, 22px);
            }
    
            @include responsive-width($laptop-s) {
                -moz-transform: rotate(8deg) skew(-4deg) translate(-1240px, 26px);
                -webkit-transform: rotate(8deg) skew(-4deg) translate(-1240px, 26px);
                -o-transform: rotate(8deg) skew(-4deg) translate(-1240px, 26px);
                -ms-transform: rotate(8deg) skew(-4deg) translate(-1240px, 26px);
                transform: rotate(8deg) skew(-4deg) translate(-1240px, 26px);
            }

        } 
    }

    &-detail {
        text-align: left;
        font-size: 10px;
        margin-left: 10px;
        width: 100%;
        height: 100%;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: $tablet-m) {
            margin-left: 0px;
            position: relative;
            font-size: 19px;
        }

        &-text {
            display: flex;
            flex-direction: column-reverse;
            p {
                margin: 0;
                color: $white;
                font-size: 12px;
                line-height: 16px;
            }
            @media (min-width: $tablet-m) {
                flex-direction: row;
                align-items: center;
            }
            &-dscto {
                margin-bottom: 2px;
                @media (min-width: $tablet-m) {
                    margin-right: 35px;
                    margin-bottom: 0px;
                }
                @media (min-width: $laptop-s) {
                    margin-right: 66px;
                }
                div {
                    display: inline-block;

                    &:nth-child(1) {
                        // margin-right: 5px;
                        // @media (min-width: $tablet-m) {
                        //     margin-right: 9px;
                        // }
                        p,span {
                            font-weight: 900;
                        }
                        .dscto-number {
                            font-size: 40px;
                            line-height: 80%;
                            // margin-right: 4px;
                            @media (min-width: $tablet-m) {
                                margin-right: 4px;
                                font-size: 45px;
                            }
                            @media (min-width: $laptop-s) {
                                font-size: 58px;
                            }

                            div {
                                @media (min-width: $tablet-m) {
                                    margin-left: 4px;
                                }
                            }
                        }
        
                        .dscto-symbol {
                            font-size: 24px;
                            @media (min-width: $tablet-m) {
                                font-size: 27px;
                                margin-bottom: 4px;
                            }
                            @media (min-width: $laptop-s) {
                                font-size: 35px;
                                margin-bottom: 8px;
                            }
                        }
                        .dscto-text {
                            font-size: 10px;
                            @media (min-width: $tablet-m) {
                                font-size: 11px;
                            }
                            @media (min-width: $laptop-s) {
                                font-size: 14px;
                            }
                        }
                    }
                    .dscto-time {
                        font-size: 18px;
                        margin-left: 10px;
                        @media (min-width: $tablet-m) {
                            font-size: 20px;
                            margin-bottom: 3px;
                        }
                        @media (min-width: $laptop-s) {
                            font-size: 25px;
                            margin-bottom: 8px;
                        }
                    }
                    .dscto-online {
                        font-size: 17px;
                        margin-left: 10px;
                        @media (min-width: $tablet-m) {
                            font-size: 19px;
                        }
                        @media (min-width: $laptop-s) {
                            font-size: 24px;
                        }
                    }

                }

            }

            &-plan {
                @media (min-width: $tablet-m) {
                    margin-top: 3px;
                }
                p {
                    font-size: 11px;
                }
                .plan-chip {
                    @media (min-width: $tablet-m) {
                        font-size: 18px;
                    }
                    @media (min-width: $laptop-s) {
                        font-size: 19px;
                    }
                }
                
                .plan-amount {
                    @media (min-width: $tablet-m) {
                        font-size: 13px;                    
                    }
                    @media (min-width: $laptop-s) {
                        font-size: 16px;
                    }
                }
            }
        }

        .e-link__button {
            color: $white;
            text-decoration: underline;
            margin-right: 17px;            
            z-index: 2;
            @media (min-width: $tablet-m) {
                margin-right: 0;
                font-size: 12px;
                background-color: rgba(250,250,250,0);
                color: $white;
                font-weight: bold;
                padding: 0;
                line-height: 30px;
                width: 105px;
                text-align: center;
                text-decoration: none;
                border-radius: 15px;
                border: 1px solid $white;
            }

            @media (min-width: $laptop-s) {
                margin-right: 45px;
                line-height: 30px;
                width: 105px;
                border-radius: 20px;
            }

            &:hover {
                background-color: rgba(250,250,250,.2);
            }
        }

        // div {
        //     position: relative;
        //     height: 100%;
        //     // width: 70px;

        //     img {
        //         position: absolute;
        //         top: 5px;
        //         left: -75px;
        //         width: auto;
        //         max-width: none;

        //         @media (min-width: $tablet-m) {
        //             top: 2px;
        //             left: -70px;
        //         }

        //         @media (min-width: $laptop-s) {
        //             top: 7px;
        //             left: -96px;
        //         }
        //     }
        // }
    }

    &-time {
        display: flex;
        align-items: center;
    }

    &-img {
        display: flex;
        align-items: center;
        width: 24px;

        @media (min-width: $tablet-m) {
            width: 50px;
        }
    }
}

// .entel-product .e-countdown {
//   background-color: $blue;
// }

.only-mob {
    @media (min-width: $tablet-m) {
        display: none;
    }
}

.only-desk {
    display: none;
    @media (min-width: $tablet-m) {
        display: block;
    }
}