.e-countdown--interbank {
    left: 0;
    bottom: 0;
    z-index: 5;
    padding: 0;
    width: 100%;
    height: 58px;
    cursor: default;
    overflow: hidden;
    user-select: none;
    text-align: center;
    position: relative;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: $extra_blue;

    @media (max-width: 319px) {
        height: 56px;
    }

    @media (min-width: $tablet-s) {
        height: auto;
    }

    &::before {
        top: 0;
        left: 0;
        z-index: 1;
        width: 40%;
        content: "";
        height: 110%;
        display: block;
        position: absolute;
        background-color: #05be50;
    }

    &::after {
        top: 0;
        right: 0;
        width: 60%;
        z-index: 1;
        content: "";
        height: 110%;
        display: block;
        position: absolute;
        background-color: #e36386;
        background: -moz-linear-gradient(-45deg, #296fd9 7%, #14a6f8 95%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #296fd9 7%, #14a6f8 95%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #296fd9 7%, #14a6f8 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#296fd9', endColorstr='#14a6f8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .box-interbank {
        height: 58px;
        margin: 0 auto;
        display: inline-flex;

        @media (min-width: $tablet-s) {
            height: auto;
        }

        a {
            z-index: 2;
            position: relative;
        }
    }
}
