.e-countdown-cyberwow__reg {
    background-color: #FF2776;
    background-image: url($m_image_path+'2022/04/head-backwow-mob.png');
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;

    position: relative;
    width: 100%;
    height: 60px;
    bottom: 0;
    // bottom: 4px;
    left: 0;
    z-index: 5;
    padding: 0;
    // display: none;
    text-align: center;
    cursor: default;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 

    @media (min-width: $tablet-s) {
        // position: relative;
        height: 60px;
        bottom: 0;
    }

    @media (min-width: $tablet-m) {
        background-image: url($m_image_path+'2022/04/head-backwow-tab.png');
        background-position: center 16px;
    }

    @media (min-width: $tablet-m) {
        background-image: url($m_image_path+'2022/04/head-backwow-desk.png');
    }

    &-fix {
        @media (min-width: $tablet-s) {
            height: 50px;
        }
    }

    &-container{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 60px;
        // max-width: 290px;
        margin: 0 auto;

        @media (min-width: $tablet-s) {
            height: 60px;
            // max-width: 542px;
        }

        &-fix {
            // max-width: 220px;

            @media (min-width: $tablet-s) {
                height: 50px;
                // max-width: 510px;
            }
        }
        .e-time {
            &-container {
                display: flex;
            }

            &-item {
                padding: 0 7px;
                text-align: center;

                &:first-child {
                    padding-left: 0px;
                }

                &:last-child {
                    padding-right: 0px;
                }

                &__number {
                    display: block;
                    font-weight: bold;
                    font-size: 16px;
                    background: $white;
                    margin-bottom: 4px;
                    line-height: 30px;
                    height: 30px;
                    width: 30px;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;
                    color: $blue;

                    @media (min-width: $tablet-s) {
                        height: 35px;
                        width: 35px;
                        line-height: 35px;
                        -webkit-border-radius: 6px;
                        -moz-border-radius: 6px;
                        border-radius: 6px;
                        font-size: 20px;
                    }
                }

                span {
                    display: block;
                    color: $white;
                    font-size: 8px;
                    line-height: 1.5em;

                    // @media (min-width: $tablet-s) {
                    //     font-size: 12px;
                    // }
                }
            }
        }
    }

    &-detail {
        text-align: left;
        padding-left: 7px;
        padding-right: 7px;
        font-size: 10px;
        color: $white;
        display: flex;
        align-items: center;

        @media (min-width: $tablet-s) {
            position: relative;
            height: 60px;
            font-size: 17px;
            padding-left: 9px;
            padding-right: 9px;
        }
        
        &-fix {
            font-size: 14px;

            @media (min-width: $tablet-s) {
                height: 50px;
                font-size: 20px;
            }
        }
        p {
            margin: 0;
            color: $white;
            font-size: 10px;
            line-height: 12px;

            @media (min-width: $tablet-s) {
                font-size: 17px;
                line-height: 19px;
            }
        }
        strong {
            // display: block;
            @media (min-width: $tablet-s) {
                display: inline;
            }     
        }
    }

    &-time {
        display: flex;
        align-items: center;
    }

    &-img {
        display: flex;
        align-items: center;
        width: 24px;

        @media (min-width: $tablet-s) {
            width: 50px;
        }
        
        &-fix {
            width: 44px;

            @media (min-width: $tablet-s) {
                width: 53px;
                height: 50px;
            }

            img {
                width: 80px;
            }
        }
    }
}

.entel-product .e-countdown {
    background-color: $blue;
}

.e-content__banner-cintillo {
    background-color: $white;
}