.e-countdown--vivo-y20-2021 {
  background: linear-gradient(180deg, #FFA881 33%, #FF560A 134.99%, #FF5F17 134.99%);;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  padding: 3px 0 2px;
  @media screen and (min-width: 768px) {
    // background-image: linear-gradient(
    //   to right,
    //   rgb(190, 100, 148),
    //   rgb(12, 82, 188)
    // );
  }
  a.e-button {
    background: #ff560a;
    border: 1px solid #ffffff;
    font-weight: bold;
    font-size: 10px;
    line-height: 30px;
    max-width: 80px;
    min-width: 110px;
    border-radius: 28.5714px;
    margin: 0;
    padding: 0;
    height: 32px;
  }
  .box--vivo-y20-enero-2021 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
  }
  .box-img{
    margin: 0 1rem;
  }
  .box-texto,
  .box-img,
  .box-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
