.e-countdown--xiaomi{
  // background: linear-gradient(180deg, #FFA881 33%, #FF560A 134.99%, #FF5F17 134.99%);;
  background: #ffc577; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffc577 0%, #ffc577 58%, #ffd89e 75%, #ffd89e 97%, #ffd89e 97%, #ffd89e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffc577 0%,#ffc577 58%,#ffd89e 75%,#ffd89e 97%,#ffd89e 97%,#ffd89e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffc577 0%,#ffc577 58%,#ffd89e 75%,#ffd89e 97%,#ffd89e 97%,#ffd89e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc577', endColorstr='#ffd89e',GradientType=0 ); /* IE6-9 */

  // background-image: url($m_image_path+'/2021/04/headband-xiomi-back-mob.png');
  // background-position: right;
  // background-repeat: no-repeat;
  // background-color: #ffc577;
  
  height: 74px;
  padding: 0;
  width: 100%;
  // height: auto;
  display: flex;
  padding: 3px 0 2px;
  overflow: hidden;
        
  @include responsive-width($tablet_m) {
    height: 60px;
  }

  @media (max-width: $mobile_l) {
    display: none;
  }
  // @media screen and (min-width: 768px) {
  //   // background-image: linear-gradient(
  //   //   to right,
  //   //   rgb(190, 100, 148),
  //   //   rgb(12, 82, 188)
  //   // );
  // }
  &:before {
    content: url($m_image_path+'/2021/04/headband-xiomi-back-mob.png');
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
        
    @include responsive-width($tablet_m) {
      content: url($m_image_path+'/2021/04/headband-xiomi-back-tab.png');
      right: auto;
      left: 50%;
      margin-left: -384px;
    }
        
    @include responsive-width($laptop_s) {
      content: url($m_image_path+'/2021/04/headband-xiomi-back-lap.png');
      right: auto;
      left: 50%;
      margin-left: -512px;//-720px;
    }
        
    @include responsive-width($laptop_m) {
      content: url($m_image_path+'/2021/04/headband-xiomi-back-desk.png');
      margin-left: -1040px;//-720px;
    }
  }

  p {
    position: relative;
    font-family: $font_family;
    font-size: 12px;
    line-height: 14px;
    color: #191919;
    margin: 5px 0;
    font-weight: 600;
    z-index: 2;
        
    @include responsive-width($tablet_m) {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: baseline;
      max-width: 1120px;
      margin: 0 auto;
      font-size: 14px;
      line-height: 16px;
    }

    @include responsive-width($laptop_s) {
      font-size: 15px;
      max-width: 815px;
      margin-left: 80px;
    }

    @include responsive-width($laptop_s) {
      max-width: 825px;
    }

    span {
      font-family: $font_family;
      display: block;
      font-weight: 700;

      &:first-child {
        @include responsive-width($laptop_s) {
          width: 136px;
        }
      }

      &:first-child + span {
        font-family: $font_family;
        color: #FF560A;
        // width: 500px;
      }

      &:last-child {
        font-weight: 600;
        
        @include responsive-width($tablet_m) {
          font-size: 11px;
          line-height: 13px;
          align-self: end;
          margin-top: -4px;
        }
        
        @include responsive-width($laptop_s) {
          font-size: 10px;
        }
      }

      a {
        font-family: $font_family;
        color: #FF560A;
        
        @include responsive-width($tablet_m) {
          display: block;
        }
        
        @include responsive-width($laptop_s) {
          font-size: 15px;
        }
      }
      
      strong {
        font-family: $font_family;
        
        @include responsive-width($tablet_m) {
          font-size: 20px;
          font-weight: 800;
        }

        @include responsive-width($laptop_s) {
          font-size: 24px;
          font-weight: 800;
        }
      }
      
    }
  }
  // a.e-button {
  //   background: #ff560a;
  //   border: 1px solid #ffffff;
  //   font-weight: bold;
  //   font-size: 10px;
  //   line-height: 30px;
  //   max-width: 80px;
  //   min-width: 110px;
  //   border-radius: 28.5714px;
  //   margin: 0;
  //   padding: 0;
  //   height: 32px;
  // }
  .box--xiaomi{
    padding-left: 3px;
        
    @include responsive-width($mobile_m) {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      max-width: 1120px;
      margin: 0 auto;
    }
  }
  // .box-img{
  //   margin: 0 1rem;
  // }
  // .box-texto,
  // .box-img,
  // .box-btn {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
}
