.e-countdown--febrero-padrino {
  background-color: #242237;
  // background-image: linear-gradient(
  //   to right,
  //   rgba(0, 79, 185, 1),
  //   rgba(0, 185, 235, 1)
  // );
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  @media screen and (min-width: 768px) {
    // background-image: linear-gradient(
    //   to right,
    //   rgb(190, 100, 148),
    //   rgb(12, 82, 188)
    // );
  }
  p {
    color: $white;
    margin: 0;
    max-width: 108px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    @media screen and (min-width: 768px) {
      max-width: inherit;
      font-weight: normal;
      font-size: 24px;
      line-height: 16px;
      display: inline;
    }

    @media screen and (min-width: 930px) {
      // font-size: 1.1rem;
      
    }

    @media screen and (min-width: 1254px) {
      // font-size: 1.3rem;
    }
    br {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
    strong {
      display: block;
      color: #00b9eb;
      @media screen and (min-width: 930px) {
        display: inline;
      }
    }
  }
  a.e-button {
    background: #ff560a;
    border: none;
    font-weight: bold;
    font-size: 7px;
    line-height: 20px;
    max-width: inherit;
    min-width: 80px;
    border-radius: 28.5714px;
    float: left;
    margin: 5px 5px 5px 0;
    padding: 0;
    height: 22px;
    @media screen and (min-width: 768px) {
      min-width: 164px;
      height: 40px;
      font-size: 12px;
      line-height: 38px;
    }
  }
  .box--enero-lgvelvet {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    background-image: m_image_url("2021/03/headband-abril-padrino-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    @include backgound_retina {
      background-image: m_image_url("2021/03/headband-abril-padrino-bg@2x.png");
    }
    @media screen and (min-width: 768px) {
      justify-content: flex-end;
      max-width: 1100px;
      margin: auto;
      background-image: m_image_url("2021/03/headband-abril-padrino-bg-desk.png");
      @include backgound_retina {
        background-image: m_image_url("2021/03/headband-abril-padrino-bg-desk@2x.png");
      }
    }
  }
  .box-texto {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    // display: none;
    @media screen and (min-width: 768px) {
      margin-left: 2rem;
      margin-right: 2rem;
      // display: block;
    }

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // margin-left: 1rem;
  }
  // .box-img {
  //   @media screen and (min-width: 768px) {
  //     width: 205px;
  //     img {
  //       width: 100%;
  //     }
  //   }
  // }

  .box-img2 {
    margin-right: 0.5rem;
    @media screen and (min-width: 768px) {
      margin-right: 2rem;
    }
  }
  .box-btn {
    @media screen and (min-width: 768px) {
      p {
        display: none;
      }
    }
  }
}
