.e-headband-dimitree {
    position: relative;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0;
    z-index: 5;
    padding: 0;
    overflow: hidden;
    text-align: left;
    cursor: default;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 

    background: #01baed; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #01baed 0%, #196dea 97%, #196dea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #01baed 0%,#196dea 97%,#196dea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #01baed 0%,#196dea 97%,#196dea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01baed', endColorstr='#196dea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    @media (min-width: $tablet-m) {
        background: #196dea; /* Old browsers */
        background: -moz-linear-gradient(-45deg,  #196dea 1%, #196dea 4%, #01baed 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  #196dea 1%,#196dea 4%,#01baed 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  #196dea 1%,#196dea 4%,#01baed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#196dea', endColorstr='#01baed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }

    &-link-all {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &-container{
        display: flex;
        height: 60px;
        max-width: 325px;
        width: 100%;
        margin: 0 auto;
        position: relative;

        @media (min-width: $tablet-m) {
            max-width: 690px;
        }

        @media (min-width: $laptop-s) {
            max-width: 750px;
        }
    }

    &-title {
        padding: 0 0 0 10px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        width: 160px;

        @media (min-width: $tablet-m) {
            width: 492px;
        }

        @media (min-width: $laptop-s) {
            padding: 0;
        }

        h3 {
            color: $white;
            font-size: 15px;
            font-weight: normal;
            line-height: 1.2em;
            letter-spacing: .05em;
            margin: 0 5px 0 0;

            @media (min-width: $tablet-m) {
                font-size: 26px;
                margin: 0;
            }

            @media (min-width: $laptop-s) {
                font-size: 26px;
                // width: 242px;

                br {
                    display: none;
                }
            }

            strong {
                color: $white;
                font-weight: 700;
                letter-spacing: .05em;

                @media (min-width: $tablet-m) {
                    display: inline;
                }
            }
        }

        // &__price {
        //     display: flex;

        //     @media (min-width: $tablet-m) {
        //         align-items: center;
        //     }

        //     & > span {
        //         color: $white;
        //         font-size: 20px;
        //         line-height: 1em;
        //         position: absolute;
        //         top: 9px;
        //         right: 1px;
        //         font-weight: 800;

        //         @media (min-width: $tablet-m) {
        //             font-size: 34px;
        //             top: 5px;
        //         }
        //     }

        //     & > strong {
        //         color: $white;
        //         font-size: 40px;
        //         line-height: .7em;
        //         font-weight: 800;

        //         @media (min-width: $tablet-m) {
        //             font-size: 58px;
        //             margin-top: 14px;
        //         }
                
        //         span {
        //             font-weight: normal;
        //             color: $white;
        //             font-size: 8px;

        //             @media (min-width: $tablet-m) {
        //                 font-size: 13px;
        //             }
        //         }
        //     }
        // }
    }

    &-detail {
        position: relative;
        padding: 4px 0 0 0;
        z-index: 0;
        width: 0;
        display: flex;
        justify-content: left;
        align-items: end;

        @media (min-width: $tablet-m) {
            margin-right: 30px;
            // width: auto;
        }

        @media (min-width: $laptop-s) {
            padding: 4px 0 0 0;
        }

        &::after {
            content: '';
            width: 132px;
            height: 100%;
            position: absolute;
            right: -82px;
            bottom: 0;
            background-image: url($m_image_path + '2022/11/dimitree-futbolero.png');
            background-repeat: no-repeat;
            background-size: 165px;

            @media (min-width: $tablet-m) {
                background-size: 185px;
                left: -46px;
                right: auto;
                width: 152px;
            }
        }

        &__text {
            color: $white;
            margin: 0 0 3px;
            font-size: 22px;
            line-height: 1.1em;
            position: relative;

            @media (min-width: $tablet-m) {
                font-size: 35px;
                position: absolute;
                left: 110px;
                width: 262px;
                margin-top: 4px;
            }

            @media (min-width: $laptop-s) {
                left: 110px;
            }

            strong {      
                position: absolute;
                font-size: 29px;  

                @media (min-width: $tablet-m) {
                    font-size: 46px;
                    position: relative;
                }
            }

            &>span {
                display: block;
                font-size: 12px;
                margin-top: -5px;

                @media (min-width: $tablet-m) {
                    display: inline;
                    font-size: 20px;
                }

                span {
                    position: relative;
                    font-size: 12px;

                    @media (min-width: $tablet-m) {
                        font-size: 20px;
                    }
                    
                    &::after {
                        content: '';                               
                        width: 100%;
                        right: 0;
                        display: block;
                        border-top: 1px solid red;
                        position: absolute;
                        top: 50%;
                    }
                }
            }
        }
    }

    &-button {
        .e-link__button {
            color: $white;
            z-index: 2;
            position: absolute;
            line-height: 29px;
            top: 15px;
            right: 22px;
            text-align: center;
            font-weight: 700;
            font-size: 11px;
            text-decoration: underline;

            @media (min-width: $tablet-m) {
                margin-right: 0;
                font-size: 12px;
                background-color: $orange;
                border-radius: 20px;
                border: 2px solid $orange;
                color: $white;
                font-weight: bold;
                line-height: 30px;
                text-align: center;
                text-decoration: none;
                right: -10px;
                padding: 0px 24px;

                // &:hover {
                //     background-color: rgba(250,250,250,.2);
                // }
            }

            @media (min-width: $laptop-s) {
                margin-right: 50px;
                line-height: 30px;
                border-radius: 20px;
            }
        }
    }

    /**SNOW**/
    
    .snowflake {
        --size: 15px;
        width: var(--size);
        height: var(--size);
        background: white;
        opacity: .3;
        border-radius: 50%;
        position: absolute;
        top: -15px;
    }
    
    .snowflake1 {
        position: absolute;
        top: -40px;
    }
    
    @keyframes snowfall {
        0% {
            transform: translate3d(var(--left-ini), 0, 0);
        }
        100% {
            transform: translate3d(var(--left-end), 80px, 0);
        }
    }

    @for $i from 1 through 5 {
        .snowflake1:nth-child(#{$i}) {
            --left-ini: #{random(20) - 10}vw;
            --left-end: #{random(20) - 10}vw;
            left: #{random(100)}vw;
            animation: snowfall #{5 + random(10)}s linear infinite;
            animation-delay: -#{random(10)}s;
        }
    }

    @for $i from 6 through 30 {
        .snowflake:nth-child(#{$i}) {
            --size: #{random(50) * 0.2}px;
            --left-ini: #{random(20) - 10}vw;
            --left-end: #{random(20) - 10}vw;
            left: #{random(100)}vw;
            animation: snowfall #{5 + random(10)}s linear infinite;
            animation-delay: -#{random(10)}s;
        }
    }
    
    /* added small blur every 6 snowflakes*/
    .snowflake:nth-child(6n) {
        filter: blur(1px);
    }
    /***/
}