.e-headband-cyberwow__reg {
    background-image: url($m_image_path+'2021/04/back-headband-cyberwow.png');
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 62px;
    bottom: 0;
    left: 0;
    z-index: 5;
    padding: 0;
    text-align: center;
    cursor: default;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 

    @media (min-width: $tablet-s) {
        height: 100px;
        margin-top: -4px;
        bottom: 0px;
    }

    &-fix {
        @media (min-width: $tablet-s) {
            height: 50px;
        }
    }

    &-container{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 62px;
        margin: 0 auto;

        @media (min-width: $tablet-s) {
            height: 100px;
        }

        &-fix {
            @media (min-width: $tablet-s) {
                height: 50px;
            }
        }
        .e-time {
            &-container {
                display: flex;
            }

            &-item {
                padding: 0 7px;
                text-align: center;

                &:first-child {
                    padding-left: 0px;
                }

                &:last-child {
                    padding-right: 0px;
                }

                &__number {
                    display: block;
                    font-weight: bold;
                    font-size: 16px;
                    background: $white;
                    margin-bottom: 4px;
                    line-height: 30px;
                    height: 30px;
                    width: 30px;
                    -webkit-border-radius: 2px;
                    -moz-border-radius: 2px;
                    border-radius: 2px;

                    @media (min-width: $tablet-s) {
                        height: 60px;
                        width: 60px;
                        line-height: 60px;
                        -webkit-border-radius: 6px;
                        -moz-border-radius: 6px;
                        border-radius: 6px;
                        font-size: 35px;
                    }
                }

                span {
                    display: block;
                    color: $white;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 1.5em;

                    @media (min-width: $tablet-s) {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    &-detail {
        text-align: left;
        padding-left: 3px;
        padding-right: 3px;
        font-size: 10px;
        color: $white;
        display: flex;
        align-items: center;

        @media (min-width: $tablet-s) {
            position: relative;
            height: 100px;
            font-size: 19px;
            padding-left: 9px;
            padding-right: 9px;
        }
        
        &-fix {
            font-size: 14px;

            @media (min-width: $tablet-s) {
                height: 50px;
                font-size: 20px;
            }
        }
        p {
            margin: 0;
            color: $white;
            font-size: 12px;
            line-height: 16px;

            @media (min-width: $tablet-s) {
                font-size: 19px;
                line-height: 22px;
            }
            
            span {
                br {
                    display: inline;

                    @media (min-width: $mobile_l) {
                        display: none;
                    }
                }
            }
        }
        strong {
            @media (min-width: $tablet-s) {
                display: inline;
            }
        }
    }

    &-time {
        display: flex;
        align-items: center;
    }

    &-img {
        display: flex;
        align-items: center;
        width: 24px;

        @media (min-width: $tablet-s) {
            width: 50px;
        }
        
        &-fix {
            width: 44px;

            @media (min-width: $tablet-s) {
                width: 53px;
                height: 50px;
            }

            img {
                width: 80px;
            }
        }
    }
}

.entel-product .e-countdown {
  background-color: $blue;
}