.e-headband-accesorios {
    background: #1a6dea; /* Old browsers */
    background: -moz-linear-gradient(top,  #1a6dea 1%, #196dea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1a6dea 1%,#196dea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1a6dea 1%,#196dea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a6dea', endColorstr='#196dea',GradientType=0 ); /* IE6-9 */

 

    position: relative;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0;
    z-index: 5;
    padding: 0;
    overflow: hidden;
    text-align: left;
    cursor: default;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 

    &-link-all {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &-container{
        display: flex;
        height: 60px;
        max-width: 325px;
        width: 100%;
        margin: 0 auto;
        position: relative;

        @media (min-width: $tablet-m) {
            max-width: 690px;
        }

        @media (min-width: $laptop-s) {
            max-width: 920px;
        }
    }

    &-title {
        padding: 0 0 0 10px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;

        @media (min-width: $laptop-s) {
            padding: 0 0 0 90px;
        }

        h3 {
            color: $white;
            font-size: 11px;
            font-weight: normal;
            line-height: 1.2em;
            letter-spacing: .05em;
            margin: 0 5px 0 0;

            @media (min-width: $tablet-m) {
                font-size: 19px;
                margin: 0 20px 0 0;
            }

            @media (min-width: $laptop-s) {
                font-size: 20px;
                width: 242px;

                // br {
                //     display: none;
                // }
            }

            strong {
                color: $white;
                font-weight: 700;
                letter-spacing: .05em;
            }
        }

        &__price {
            display: flex;

            @media (min-width: $tablet-m) {
                align-items: center;
            }

            & > span {
                color: $white;
                font-size: 20px;
                line-height: 1em;
                position: absolute;
                top: 9px;
                right: 1px;
                font-weight: 800;

                @media (min-width: $tablet-m) {
                    font-size: 34px;
                    top: 5px;
                }
            }

            & > strong {
                color: $white;
                font-size: 40px;
                line-height: .7em;
                font-weight: 800;

                @media (min-width: $tablet-m) {
                    font-size: 58px;
                    margin-top: 14px;
                }
                
                span {
                    font-weight: normal;
                    color: $white;
                    font-size: 8px;

                    @media (min-width: $tablet-m) {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    &-detail {
        position: relative;
        padding: 4px 0 0 10px;
        z-index: 0;

        @media (min-width: $tablet-m) {
            margin-right: 30px;
        }

        @media (min-width: $laptop-s) {
            padding: 4px 0 0 0;
        }

        &::before {
            content: '';
            width: 4000px;
            height: 60px;
            position: absolute;
            right: -40px;
            top: 0;
            
            border-top-right-radius: 28px;
            transform: skew(-13deg, 0deg);
            background: #00a0e0; /* Old browsers */
            background: -moz-linear-gradient(top,  #00a0e0 0%, #0187d4 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #00a0e0 0%,#0187d4 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #00a0e0 0%,#0187d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a0e0', endColorstr='#0187d4',GradientType=0 ); /* IE6-9 */

            @media (min-width: $tablet-m) {
                right: -80px;
            }
        }

        &::after {
            content: '';
            width: 60px;
            height: 60px;
            position: absolute;
            right: -50px;
            bottom: 0;
            // background-image: url('https://www.entel.pe/wp-content/uploads/2022/04/lineas-adicionales-head.png');
            // background-image: url('https://www.entel.pe/wp-content/uploads/2022/08/accesorios-head.png');
            // background-image: url('https://www.entel.pe/wp-content/uploads/2022/08/accesorios-head.png');
            background-image: url('https://www.entel.pe/wp-content/uploads/2022/08/acc_audifono.png');
            background-repeat: no-repeat;
            background-size: 46px;

            @media (min-width: $tablet-m) {
                right: -80px;
            }
        }

        &__text {
            color: $white;
            margin: 0 0 5px;
            font-size: 10px;
            line-height: 1.1em;
            position: relative;
            display: none;

            @media (min-width: $tablet-m) {
                font-size: 25px;
                display: block;
                position: absolute;
                left: 120px;
                width: 92px;
                margin-top: 4px;
            }

            @media (min-width: $laptop-s) {
                left: 90px;
            }

            strong {      
                position: absolute;
                right: 10px;          
                @media (min-width: $tablet-m) {
                    font-size: 29px;
                }
            }

            &>span {
                display: block;
                color: #00B8EA;
                font-size: 12px;
                margin-top: -5px;

                span {
                    position: relative;
                    color: #00B8EA;
                    font-size: 12px;
                    
                    &::after {
                        content: '';                               
                        width: 100%;
                        right: 0;
                        display: block;
                        border-top: 1px solid $white;
                        position: absolute;
                        top: 50%;
                    }
                }
            }
        }
    }

    &-button {
        .e-link__button {
            color: $white;
            z-index: 2;
            position: absolute;
            line-height: 29px;
            top: 15px;
            right: 12px;
            text-align: center;
            font-weight: 700;
            font-size: 11px;
            text-decoration: underline;

            @media (min-width: $tablet-m) {
                margin-right: 0;
                font-size: 12px;
                // background-color: $orange;
                border-radius: 20px;
                border: 2px solid $white;
                color: $white;
                font-weight: bold;
                line-height: 30px;
                text-align: center;
                text-decoration: none;
                right: 30px;
                padding: 0px 24px;

                &:hover {
                    background-color: rgba(250,250,250,.2);
                }
            }

            @media (min-width: $laptop-s) {
                margin-right: 90px;
                line-height: 30px;
                border-radius: 20px;
            }
        }
    }
}