.e-countdown--enero-lgvelvet {
  background: radial-gradient(
    66.43% 268.2% at 48.93% -53.33%,
    #00b9eb 3.65%,
    #004fb9 71.08%,
    #221e78 100%
  );
  padding: 1rem 0;
  width: 100%;
  height: auto;
  display: flex;
  @media screen and (min-width: 768px) {
    // background-image: linear-gradient(
    //   to right,
    //   rgb(190, 100, 148),
    //   rgb(12, 82, 188)
    // );
  }
  a.e-button {
    background: #ff560a;
    border: none;
    font-weight: bold;
    font-size: 10px;
    line-height: 28px;
    max-width: inherit;
    min-width: 100px;
    border-radius: 28.5714px;
    float: left;
    margin: 5px 0;
    padding: 0;
    height: 30px;
    @media screen and (min-width: 768px) {
      min-width: 164px;
      height: 40px;
      font-size: 12px;
      line-height: 38px;
    }
  }
  .box--enero-lgvelvet {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    @media screen and (min-width: 768px) {
      justify-content: center;
    }
  }
  .box-texto {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    @media screen and (min-width: 768px) {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // margin-left: 1rem;
    p {
      color: $white;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      margin: 0;
      max-width: inherit;
      text-align: left;
      @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 16px;
        max-width: inherit;
      }
      strong {
        display: block;
        @media screen and (min-width: 768px) {
          display: inline-block;
        }
      }
    }
  }

  .box-img {
  }
}
