.e-headband-eligetuchip {
    background: #1477f8; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #1477f8 0%, #196dea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #1477f8 0%,#196dea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #1477f8 0%,#196dea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1477f8', endColorstr='#196dea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    position: relative;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0;
    z-index: 5;
    padding: 0;
    overflow: hidden;
    text-align: center;
    cursor: default;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 

    &-link-all {
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    &-back {
        position: absolute;
        top: -21px;
        left: 50%;
        margin-left: -197px;
        max-width: none;
        z-index: 1;

        @media (min-width: $tablet-m) {
            margin-left: -414px;
            top: -29px;
        }

        @media (min-width: $laptop-s) {
            margin-left: -518px;
            top: 0px;
        }
    }

    &-container{
        // position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 60px;
        width: 308px;
        margin: 0 auto;
        // z-index: 2;

        @media (min-width: $tablet-m) {
            width: 668px;
        }

        @media (min-width: $laptop-s) {
            width: 786px;
        }
    }

    &-detail {
        text-align: left;
        font-size: 10px;
        width: 100%;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: $tablet-m) {
            position: relative;
            font-size: 19px;
        }

        p {
            margin: 0;
            color: $white;
            font-size: 12px;
            line-height: 16px;

            @media (min-width: $tablet-m) {
                font-size: 20px;
                line-height: 22px;
            }
            
            span {
                br {
                    display: inline;

                    @media (min-width: $tablet-m) {
                        display: none;
                    }
                }

                & > span {
                    font-size: 8px;                
                    display: block;
                    margin-top: -2px;

                    @media (min-width: $tablet-m) {
                        margin-top: 4px;
                        font-size: 14px;
                        line-height: 22px;
                    }

                    @media (min-width: $laptop-s) {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }

        strong {
            @media (min-width: $tablet-m) {
                display: inline;
            }
        }

        .e-link__button {
            color: $white;
            text-decoration: underline;
            margin-right: 5px;
            z-index: 2;
            @media (min-width: $tablet-m) {
                margin-right: 5px;
                font-size: 12px;
                background-color: rgba(250,250,250,0);
                color: $white;
                font-weight: bold;
                padding: 0;
                line-height: 30px;
                width: 105px;
                text-align: center;
                text-decoration: none;
                border-radius: 15px;
                border: 1px solid $white;
            }

            @media (min-width: $laptop-s) {
                margin-right: 0px;
                line-height: 30px;
                width: 105px;
                border-radius: 20px;
            }

            &:hover {
                background-color: rgba(250,250,250,.2);
            }
        }

        div {
            position: relative;
            height: 100%;
            width: 70px;

            img {
                position: absolute;
                top: 5px;
                left: -75px;
                width: auto;
                max-width: none;

                @media (min-width: $tablet-m) {
                    top: 2px;
                    left: -70px;
                }

                @media (min-width: $laptop-s) {
                    top: 7px;
                    left: -96px;
                }
            }
        }
    }

    &-time {
        display: flex;
        align-items: center;
    }

    &-img {
        display: flex;
        align-items: center;
        width: 24px;

        @media (min-width: $tablet-m) {
            width: 50px;
        }
    }
}

// .entel-product .e-countdown {
//   background-color: $blue;
// }