.e-headband-eligetuchip3 {
    background: #ff560a; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff560a 0%, #ffa900 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ff560a 0%,#ffa900 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ff560a 0%,#ffa900 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff560a', endColorstr='#ffa900',GradientType=1 ); /* IE6-9 */

    position: relative;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0;
    z-index: 5;
    padding: 0;
    overflow: hidden;
    text-align: center;
    cursor: default;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 

    &-link-all {
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &-back {
        position: absolute;
        top: 6px;
        margin-left: 4px;
        left: 50%;
        max-width: none;
        z-index: -1;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='60' height='51' viewBox='0 0 60 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M45.7638 1.87163L7.95342 8.6224C3.86449 9.35245 1.14158 13.259 1.87163 17.3479L6.45432 43.0152C7.18437 47.1041 11.0909 49.827 15.1799 49.0969L46.6722 43.4742C48.5666 43.136 50.2592 42.0845 51.4018 40.5361L56.6512 33.4226C57.8774 31.7609 58.3664 29.6681 58.0034 27.6351L54.4894 7.95343C53.7593 3.86449 49.8528 1.14158 45.7638 1.87163Z' fill='white' stroke='%23DF7800' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.88456 16.1186C8.4768 16.1914 8.20526 16.581 8.27806 16.9887L10.9385 31.8894C11.0113 32.2972 11.4008 32.5687 11.8086 32.4959L24.1549 30.2916C24.5626 30.2188 24.8342 29.8292 24.7614 29.4214L22.101 14.5208C22.0282 14.113 21.6386 13.8415 21.2308 13.9143L8.88456 16.1186Z' stroke='%23FF560A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.6792 26.1702L17.3206 24.9844M23.0255 23.9658L17.3206 24.9844M18.3183 30.5721C18.2684 30.2927 17.6324 26.7305 17.3206 24.9844' stroke='%23FF560A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M15.4 15.7173L16.2647 20.56L9.87866 21.7002' stroke='%23FF560A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

        width: 60px;
        height: 50px;    
        border: 0;
        transform: rotate(0deg) !important;

        @media (min-width: $tablet-m) {    
            margin-left: -145px;
        }

        @media (min-width: $laptop-s) {    
            margin-left: -75px;
        } 
    }
    
    &-back02 {
        margin-right: -28px;

        @media (min-width: $tablet-m) {
            margin-right: -62px;
        }

    }

    &-container{
        // position: relative;
        // padding-left: 10px;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 60px;
        max-width: 325px;
        width: 100%;
        margin: 0 auto;
        // z-index: 2;

        @media (min-width: $tablet-m) {
            // padding-left: 10px;
            max-width: 680px;
        }

        @media (min-width: $laptop-s) {
            max-width: 895px;
        }
    }

    &-detail {
        text-align: left;
        font-size: 10px;
        margin-left: 10px;
        width: 100%;
        height: 100%;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: $tablet-m) {
            margin-left: 0px;
            position: relative;
            font-size: 19px;
        }

        &::after {
            position: absolute;
            content: '';
            display: none;
            width: 131px;
            height: 60px;
            z-index: -2;
            
            @include responsive-width($tablet-m) {
                display: block;
                background-image: m_image_url("2022/01/cintillo-verano2022-sombrero.png");
                background-size: 131px 60px;
                left: -120px;
                top: -10px;
            }
    
            @include responsive-width($laptop-s) {
                left: -126px;
                top: 0;
            }

        } 

        &-text {
            display: flex;
            flex-direction: column-reverse;
            
            @media (min-width: $tablet-m) {
                flex-direction: row;
                align-items: center;
            }

            @media (min-width: $laptop-s) {
                width: 710px;
                justify-content: space-between;
            }

            p {
                margin: 0;
                color: $white;
                font-size: 12px;
                line-height: 16px;
            }

            &-dscto {
                margin-bottom: 2px;

                @media (min-width: $tablet-m) {
                    margin-right: 35px;
                    margin-bottom: 0px;
                }

                @media (min-width: $laptop-s) {
                    display: flex;
                    width: 354px;
                    margin-right: 0;
                    justify-content: space-between;
                }

                & > div:nth-child(2) {
                    @media (min-width: $laptop-s) {
                        display: flex;
                        align-items: center;
                    }
                }

                div {
                    display: inline-block;

                    &:nth-child(1) {
                        // margin-right: 5px;
                        // @media (min-width: $tablet-m) {
                        //     margin-right: 9px;
                        // }
                        p,span {
                            font-weight: 900;
                        }
                        .dscto-number {
                            font-size: 40px;
                            line-height: 80%;
                            // margin-right: 4px;
                            @media (min-width: $tablet-m) {
                                margin-right: 4px;
                                font-size: 45px;
                            }
                            @media (min-width: $laptop-s) {
                                font-size: 58px;
                            }

                            div {
                                @media (min-width: $tablet-m) {
                                    margin-left: 4px;
                                }
                            }
                        }
        
                        .dscto-symbol {
                            font-size: 24px;
                            @media (min-width: $tablet-m) {
                                font-size: 27px;
                                margin-bottom: 4px;
                            }
                            @media (min-width: $laptop-s) {
                                font-size: 35px;
                                margin-bottom: 8px;
                            }
                        }
                        .dscto-text {
                            font-size: 10px;
                            @media (min-width: $tablet-m) {
                                font-size: 11px;
                            }
                            @media (min-width: $laptop-s) {
                                font-size: 14px;
                            }
                        }
                    }
                    .dscto-time {
                        font-size: 16px;
                        margin-left: 7px;

                        @media (min-width: $tablet-m) {
                            font-size: 20px;
                            margin-bottom: 3px;
                        }
                        @media (min-width: $laptop-s) {
                            font-size: 25px;
                            margin-bottom: none;
                            display: inline-block;
                        }
                    }

                    .dscto-online {
                        font-size: 15px;
                        margin-left: 7px;

                        @media (min-width: $tablet-m) {
                            font-size: 19px;
                        }
                        @media (min-width: $laptop-s) {
                            display: inline-block;
                            font-size: 24px;
                            margin-top: -2px;
                        }
                    }

                }

            }

            &-plan {
                @media (min-width: $tablet-m) {
                    margin-top: 3px;
                    margin-left: 50px;
                }

                @media (min-width: $laptop-s) {
                    margin-left: 0;
                    width: 260px;
                }

                p {
                    font-size: 11px;
                }

                .plan-chip {
                    @media (min-width: $tablet-m) {
                        font-size: 18px;
                    }

                    @media (min-width: $laptop-s) {
                        font-size: 19px;
                    }
                }
                
                .plan-amount {
                    @media (min-width: $tablet-m) {
                        font-size: 13px;                    
                    }
                    @media (min-width: $laptop-s) {
                        font-size: 16px;
                    }
                }
            }
        }

        .e-link__button {
            color: $white;
            text-decoration: underline;
            margin-right: -75px;   
            z-index: 2;

            @media (min-width: $tablet-m) {
                margin-right: 0;
                font-size: 12px;
                background-color: rgba(250,250,250,0);
                color: $white;
                font-weight: bold;
                padding: 0;
                line-height: 30px;
                width: 125px;
                text-align: center;
                text-decoration: none;
                border-radius: 15px;
                border: 1px solid $white;
            }

            @media (min-width: $laptop-s) {
                margin-right: 0;
                line-height: 30px;
                border-radius: 20px;
            }

            &:hover {
                background-color: rgba(250,250,250,.2);
            }
        }

        // div {
        //     position: relative;
        //     height: 100%;
        //     // width: 70px;

        //     img {
        //         position: absolute;
        //         top: 5px;
        //         left: -75px;
        //         width: auto;
        //         max-width: none;

        //         @media (min-width: $tablet-m) {
        //             top: 2px;
        //             left: -70px;
        //         }

        //         @media (min-width: $laptop-s) {
        //             top: 7px;
        //             left: -96px;
        //         }
        //     }
        // }
    }

    &-time {
        display: flex;
        align-items: center;
    }

    &-img {
        display: flex;
        align-items: center;
        width: 24px;

        @media (min-width: $tablet-m) {
            width: 50px;
        }
    }
}

// .entel-product .e-countdown {
//   background-color: $blue;
// }

.only-mob {
    @media (min-width: $tablet-m) {
        display: none;
    }
}

.only-desk {
    display: none;
    @media (min-width: $tablet-m) {
        display: block;
    }
}