.e-headband-nuevos-planes-rio {
  background-color: #fff;
  width: 100%;
  height: auto;
  margin-top: 0px;
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 0px;

  @include responsive-width($tablet_m) {
    background: linear-gradient(272.84deg, #1477F8 37.01%, #196DEA 92.2%);
  }

  @include responsive-width($laptop_s) {
    // background: linear-gradient(90.04deg, #04AFDD 13.49%, #C7F3FF 29.41%, #C1F2FF 75.93%);
  }


  .box-content {
    display: flex;
    margin: 0 auto;
    padding: 0px;
    justify-content: center;
    align-items: center;
    // position: relative;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   background-repeat: no-repeat;
    //   background-size: contain;
    //   background-image: m_image_url('2022/05/linea-gris-left-mob.png');
    //   top: 0;
    //   left: 0;
    //   width: 24px;
    //   height: 20px;

    //   @include backgound_retina {
    //     background-image: m_image_url('2022/05/linea-gris-left-mob@2x.png');
    //   }

    //   @include responsive-width($tablet_m) {
    //     width: 54px;
    //     height: 30px;
    //     background-image: m_image_url('2022/05/linea-gris-left-tab.png');

    //     @include backgound_retina {
    //       background-image: m_image_url('2022/05/linea-gris-left-tab@2x.png');
    //     }
    //   }

    //   @include responsive-width($laptop_s) {
    //     width: 116px;
    //     height: 30px;
    //     left: 20%;
    //     background-image: m_image_url('2022/05/linea-gris-left-desk.png');

    //     @include backgound_retina {
    //       background-image: m_image_url('2022/05/linea-gris-left-desk@2x.png');
    //     }
    //   }
    // }

    &__image {
      width: auto;
      flex-shrink: 0;
      position: relative;
      margin-right: 10px;
      &__detail {
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: -1;
        &:before {
          content: '';
          width: 900px;
          height: 900px;
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          background: linear-gradient(272.84deg, #1477F8 37.01%, #196DEA 92.2%);
          border-radius: 8px;
          -moz-transform: translate(-826px, 438px) rotate(60deg) skew(25deg);
          -webkit-transform: translate(-826px, 438px) rotate(60deg) skew(25deg);
          -o-transform: translate(-826px, 438px) rotate(60deg) skew(25deg);
          -ms-transform: translate(-826px, 438px) rotate(60deg) skew(25deg);
          transform: translate(-826px, 438px) rotate(60deg) skew(25deg);
          @include responsive-width($tablet_m) {
            content: none;
          }
        }
      }
    }



    &__button {

      a {
        display: inline-block;
        min-width: 110px;
        font-size: 11px;
        background: transparent !important;
        border-color: transparent !important;
        position: relative;

        @include responsive-width($tablet_m) {
          padding: 7px 5px;
          border-color: #fff !important;
          color: #fff;
          height: 30px;
        }

        &::before {
          content: "LO QUIERO";
          font-weight: bold;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-decoration: underline;
          text-transform: uppercase;
          font-weight: 700;
          // font-size: 11px;
          line-height: 18px;
          color: #004FB8;

          @include responsive-width($tablet_m) {
            width: 100%;
            color: #ffffff;
            text-decoration: none;

          }
        }
      }
    }

  }

}
