.e-countdown--jueves-entel-02-06-21 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 60px;

  background-image: m_image_url("2021/10/bg-headband-21-10-v2-mob.png");
  @include backgound_retina {
    background-image: m_image_url("2021/10/bg-headband-21-10-v2-mob@2x.png");
  }
  @include responsive-width($tablet_m) {
    background-image: m_image_url("2021/10/bg-headband-21-10-v2-desk.png");
    @include backgound_retina {
      background-image: m_image_url("2021/10/bg-headband-21-10-v2-desk@2x.png");
    }
  }
  // @media screen and (min-width: 719px) {
  //   background-image: m_image_url("2021/10/e-headband-bg-jueves-entel-sept-v5-tab.png");
  //   @include backgound_retina {
  //     background-image: m_image_url("2021/10/e-headband-bg-jueves-entel-sept-v5-tab@2x.png");
  //   }
  // }
  // @media screen and (min-width: 1024px) {
  //   background-image: m_image_url("2021/10/e-headband-bg-jueves-entel-oct-desk.png");
  //   @include backgound_retina {
  //     background-image: m_image_url("2021/10/e-headband-bg-jueves-entel-oct-desk@2x.png");
  //   }
  // }

  .box--jueves-entel {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .box-texto {
    margin: 0 0.5rem;

    p {
      color: $white;
      font-style: normal;
      font-weight: 600;
      font-size: 11px;
      line-height: 13px;
      margin: 6px 0;
      max-width: 160px;
      text-align: left;
      a {
        color: #ff7f4f;
        text-decoration-line: underline;
        font-weight: bold;
        font-size: 11px;
        line-height: 13px;
        text-transform: uppercase;
        @media screen and (min-width: 768px) {
          font-size: 16px;
          line-height: 16px;
        }
      }

      @media screen and (min-width: 768px) {
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        max-width: 550px;
      }
    }
    @media screen and (min-width: 768px) {
      margin: 0 1rem;
    }
  }

  .box-timer {
    display: flex;

    .hours,
    .minutes,
    .seconds,
    .days {
      background-color: #00b9eb;
      border-radius: 3.66663px;
      width: 37px;
      height: 36px;
      color: #ffffff;
      margin: auto 2px;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      @media screen and (min-width: 568px) {
        margin: auto 5px;
      }
      @media screen and (min-width: 768px) {
        width: 46px;
        height: 44px;
      }
      p:nth-child(1) {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 4px;
        margin: 0;
        @media screen and (min-width: 768px) {
          font-size: 20px;
          line-height: 24px;
        }
      }
      p:nth-child(2) {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        margin: 0;
      }
    }
  }
}
