.e-headband-lovers {
  background: linear-gradient(169.74deg, #C9DEF8 -14.05%, #FFFFFF 113.51%);
  padding: 0;
  width: 100%;
  height: auto;
  margin-top: 0px;
  display: flex;
  position: relative;
  overflow: hidden;

  .box-lovers{
    display: flex;
    margin: 0;
    padding: 11px 5px;
    justify-content: center;
    position: relative;
    width: 100%;

    @include responsive-width($tablet_m){
      padding: 7px 5px;
    }
    
    &:before,&:after{
      content: "";
      width: 54px;
      height: 101%;
      position: absolute;
      top: 0px;
      z-index: -1;
      background-size: cover;
      background-image: m_image_url('2021/07/headband-lovers-bg-static.png');
      @include backgound_retina {
        background-image: m_image_url('2021/07/headband-lovers-bg-static@2x.png');
      }
      @include responsive-width(1200px){
        width: 120px;
      }
      @include responsive-width($laptop_m){
        width: 166px;
      }
      @include responsive-width(1360px){
        width: 218px;
      }
      @include responsive-width($desktop_s){
        width: 266px;
      }
      @include responsive-width($desktop_m){
        width: 332px;
      }
    }
    &:before{
      left: 0;
    }
    &:after{
      right: 0;
      transform: rotateY(180deg);
    }

    .box-lovers__img-left{}

    .box-lovers__text{
      display: inline-flex;
      max-width: 100%;
      margin-right: 10px;
      text-align: left;
      align-items: center;

      &__logo{
        flex-shrink: 0;
        margin-right: 10px;
        @include responsive-width($tablet_s){
          margin-right: 15px;
        }
      }

      p{
        font-weight: normal;
        font-size: 11px;
        line-height: 18px;
        color: $blue;
        margin-bottom: 0;
        @include responsive-width($tablet_s){
          font-size: 13px;
        }
        @include responsive-width($tablet_m){
          font-size: 14px;
          display: inline-block;
        }
        @include responsive-width($laptop_s){
          font-size: 16px;
        }

        a.e-link{
          font-size: 12px;
          line-height: 18px;
          color: $orange;
          font-weight: bold;
        }
      }
      a.e-lover-logo{
        display: inline-block;
        margin: 0;
        transition: all 200ms linear 0s;
        animation: logo-zoom 2s linear infinite;
        animation-direction: alternate;
        picture{
          display: inline-block;
          line-height: 1;
          @include responsive-width($tablet_m){
            line-height: 0;
          }
          img{
            height: 18px;
            width: auto;
            @include responsive-width($laptop_s){
              height: 28px;
            }
          }
        }
      }
    }

    .box-lovers__img{
      picture{
        display: inline-block;
        @include responsive-width($tablet_s){
          margin: 0 5px;
        }
        &:nth-child(2),&:nth-child(3){
          display: none;
          @include responsive-width($tablet_s){
            display: inline-block;
          }
        }
      }
    }

    &__hearts{
      display: none;
      align-items: center;
      padding-top: 3px;
      margin-left: 10px;
      line-height: 1;

      @include responsive-width($laptop_s){
        display: inline-flex;
      }

      svg{
        margin: 0 4px;
        transform: rotate(360deg);
        transition: all 300ms linear 0s;
        animation: heart-rotate 8s ease infinite;
        animation-delay: 0.4s!important;
        &:nth-child(2){
          animation-delay: 0.7s!important;
          .heart-bg{
            fill: $extra_blue;
          }
        }
        &:nth-child(3){
          animation-delay: 1s!important;
          .heart-bg{
            fill: #F46C8F;
          }
        }
      }

    }

  }

  @keyframes logo-zoom{
    0%{
        transform: scale(1);
    }
    100%{
      transform: scale(1.12);
    }
  }

}
