&--iphonese2022{
    position: relative;
    background-size: cover;
    // background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: m_image_url('2022/05/e-home-banner-iphone-se-2022-bg-mob.jpg');
    @include backgound_retina {
        background-image: m_image_url('2022/05/e-home-banner-iphone-se-2022-bg-mob@2x.jpg');
    }

    @include responsive-width($tablet_m){
        background-image: m_image_url('2022/05/e-home-banner-iphone-se-2022-bg-desk.jpg');
    }

    

    .e-container-flex{
        position: relative;
        display: block;
        padding-top: 15px;
        @include responsive-width($tablet_m){
            display: flex;
            padding-top: 0;
        }

        &__item{
            width: 100%;
            @include responsive-width($tablet_m){
                width: auto!important;
            }

            &--1{
                @include responsive-width($tablet_m){
                    padding-right: 40px;
                }
                @include responsive-width($laptop_s){
                    padding-right: 70px;
                }
                div{
                    text-align: center;
                    @include responsive-width($tablet_m){
                        text-align: left;
                    }
                }
                .e-text-top{
                    display: none;
                    @include responsive-width($tablet_m){
                        display: block;
                        font-weight: 500;
                        font-size: 30px;
                        line-height: 1.2;
                        color: $orange;
                    }
                    @include responsive-width($laptop_m){
                        font-size: 34px;
                    }
                }
                .e-text-title{
                    color: #383C47;
                    font-weight: 700;
                    font-size: 31px;
                    line-height: 1.2;
                    @include responsive-width($tablet_m){
                        font-size: 38px;
                    }
                    @include responsive-width($laptop_m){
                        font-size: 55px;
                    }
                }
                .e-text-subtitle{
                    color: $blue;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 1.2;
                    @include responsive-width($tablet_m){
                        font-size: 30px;
                    }
                    @include responsive-width($laptop_m){
                        font-size: 34px;
                    }
                    span{
                        color: $orange;
                        font-weight: 800;
                        font-size: 25px;
                        line-height: 1.2;
                        @include responsive-width($tablet_m){
                            font-size: 35px;
                        }
                        @include responsive-width($laptop_m){
                            font-size: 41px;
                        }
                    }
                }
                .e-text-legal{
                    display: none;
                    @include responsive-width($tablet_m){
                        font-size: 10px;
                        font-weight: 500;
                        color: #383C47;
                        display: block;
                        width: 340px;
                        max-width: 100%;
                        margin-top: 20px;
                    }
                    @include responsive-width($laptop_m){
                        width: 405px;
                    }
                    a{
                        font-weight: 700;
                        text-decoration: underline;
                    }
                }
                .e-button{
                    position: absolute;
                    bottom: 15px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    display: block;
                    margin: auto;
                    @include responsive-width($tablet_m){
                        position: relative;
                        right: inherit;
                        left: 0;
                        width: 165px;
                        bottom: 0;
                        margin: 20px 0 0 0;
                    }
                    @include responsive-width($laptop_m){
                        margin-top: 22px;
                    }
                }
            }
            &--2{
                text-align: center;
                @include responsive-width($tablet_m){
                    width: 33.333%;
                }
                picture{
                    width: 200px;
                    max-width: 100%;
                    @include responsive-width($tablet_m){
                        width: 275px;
                    }
                    @include responsive-width($laptop_s){
                        width: 325px;
                    }
                    @include responsive-width($laptop_m){
                        width: 360px;
                    }
                }
 
            }

        }
    }
}