&--galaxy-days {
    position: relative;
    background-size: cover;
    // background-attachment: fixed;
    background-color: $white;
    overflow: hidden;

    .e-container {
        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            width: 216px;
            height: 87px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='216' height='87' viewBox='0 0 216 87' fill='none'%3E%3Cpath d='M114.835 192.315L23.3454 182.633L1.54372 93.3774C-4.34361 69.2749 9.51803 44.7475 33.2031 37.3579L152.008 0.291528L216.001 25.0325L114.835 192.315Z' fill='%230444A3'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            bottom: 0;
            left: 50%;
            margin-left: 30px;

            @include responsive-width($tablet_m) {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1567' height='385' viewBox='0 0 1567 385' fill='none'%3E%3Cpath d='M1562.53 177.351L1466 0H0V384.5H1486L1563.8 207.271C1568.02 197.639 1567.56 186.591 1562.53 177.351Z' fill='%23004FB8'/%3E%3C/svg%3E");
                width: 1567px;
                height: 385px;
                margin-left: 0px;
                left: inherit;
                right: 50%;
                margin-right: -165px;

            }

            @include responsive-width($laptop_s) {
                width: 1552px;
                height: 350px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1552' height='350' viewBox='0 0 1552 350' fill='none'%3E%3Cpath d='M1546.82 200.983L1466 0H0V350H1449L1531.62 271.163C1550.57 253.083 1556.59 225.282 1546.82 200.983Z' fill='%23004FB8'/%3E%3C/svg%3E");
                margin-right: -255px;
            }
        }
    }

    .e-container-flex {
        display: block;
        z-index: 2;
        position: relative;

        .e-container-flex__item--1 {
            width: 100% !important;
        }

        .e-container-flex__item--2 {
            width: 280px;
            margin: auto;

            @include responsive-width($tablet_m) {
                width: 665px !important;
            }

            @include responsive-width($laptop_s) {
                width: 932px !important;
            }
            @include responsive-width($desktop_s){
                width: 971px !important;
            }

            p {
                font-size: 10px;
                color: #9E9FA1;
                margin-top: 5px;

                a {
                    color: #9E9FA1;
                    font-weight: 700;
                    text-decoration: underline;
                }
                @include responsive-width($tablet_m){
                    font-size: 11px;
                }
                @include responsive-width($desktop_s){
                    margin-top: 0px;
                }
            }
        }

        .item1-container {
            display: flex;
            justify-content: center;
            padding-top: 20px;

            @include responsive-width($tablet_m) {
                padding-top: 30px;
            }
            @include responsive-width($desktop_s){
                padding-top: 20px;
            }

            .renueva {
                @include responsive-width($tablet_m) {
                    margin-right: 15px;
                }

                p {
                    @include responsive-width($tablet_m) {
                        color: $white;
                    }
                }

                .renueva-content {
                    @include responsive-width($laptop_s) {
                        display: flex;
                        align-items: flex-end;
                        gap: 23px;
                    }

                    .postpago {
                        font-size: 16px;

                        b {
                            font-weight: 400 !important;
                        }

                        @include responsive-width($mobile_m) {
                            font-size: 17px;
                        }

                        @include responsive-width($tablet_m) {
                            font-size: 21px;
                        }

                        @include responsive-width($laptop_s) {
                            order: 2;
                            margin-bottom: 37px;
                            width: 86px;

                            b {
                                font-weight: 700 !important;
                            }
                        }
                    }

                    .renueva-image {
                        .llegaron {
                            margin-top: 12px;
                            margin-bottom: 11px;
                            font-size: 14px;

                            @include responsive-width($tablet_m) {
                                font-size: 21px;
                                font-weight: 700;
                                margin-top: 20px;
                                margin-bottom: 5px;
                            }
                            picture{
                                @include responsive-width($tablet_m){
                                    width: 136px;
                                }
                                @include responsive-width($desktop_s){
                                    width: 148px;
                                }
                            }
                            @include responsive-width($laptop_s){
                                margin-top: 0px;
                            }
                        }

                        @include responsive-width($laptop_s) {
                            order: 1;
                        }
                    }
                }


                a {
                    margin-top: 20px;
                    min-width: 125px !important;
                    width: 125px !important;

                    @include responsive-width($tablet_m) {
                        min-width: 185px !important;
                        width: 185px !important;
                    }

                    @include responsive-width($laptop_s) {
                        min-width: 175px !important;
                        width: 175px !important;
                    }
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            height: auto;

            @include responsive-width($tablet_m) {
                flex-direction: row;
            }

            .desde {
                order: 1;
                width: 110px;
                margin: auto;
                margin-top: 15px;
                margin-bottom: 15px;

                @include responsive-width($tablet_m) {
                    order: 2;
                    width: 160px;
                    margin: 0;
                    margin-top: 80px;
                    margin-left: 25px;
                }

                @include responsive-width($laptop_s) {
                    margin-top: 30px;
                    width: 185px;
                    margin-left: 12px;
                }

                p {
                    font-size: 11px;

                    @include responsive-width($tablet_m) {
                        font-size: 13px;
                    }

                    @include responsive-width($tablet_m) {
                        font-size: 16px;
                    }

                    span {
                        display: none;
                    }
                }

                .text {
                    display: flex;
                    margin-top: 2px;

                    @include responsive-width($tablet_m) {
                        margin-top: -3px;
                    }

                    .text1 {
                        p {
                            font-size: 16px;
                            line-height: 1.1;

                            @include responsive-width($tablet_m) {
                                font-size: 20px;
                            }

                            @include responsive-width($laptop_s) {
                                font-size: 25px;
                            }
                        }

                        .simbolo {
                            font-size: 53px;
                            line-height: 0.7;
                            color: #FF560A;

                            @include responsive-width($tablet_m) {
                                font-size: 67px;
                            }

                            @include responsive-width($laptop_s) {
                                font-size: 82px;
                            }
                        }
                    }

                    .text2 {
                        p {
                            font-size: 110px;
                            color: #0444A3;
                            font-weight: 600;
                            line-height: 0.6;

                            @include responsive-width($tablet_m) {
                                font-size: 160px;
                                line-height: 0.4;
                            }

                            @include responsive-width($laptop_s) {
                                font-size: 196px;
                            }
                        }
                    }
                }

                .plan {
                    margin-top: 10px;
                    font-size: 9px;

                    @include responsive-width($tablet_m) {
                        font-size: 13px;
                    }

                    @include responsive-width($tablet_m) {
                        font-size: 16px;
                    }
                }

                picture {
                    display: none;

                    @include responsive-width($tablet_m) {
                        display: block;
                        margin-top: 40px;
                        margin-left: 15px;
                    }

                    @include responsive-width($laptop_s) {
                        margin-top: 25px;
                        margin-left: 60px;
                    }
                    @include responsive-width($desktop_s){
                        margin-left: 0px;
                    }
                }

            }

            .equipos {
                order: 2;

                @include responsive-width($tablet_m) {
                    order: 1;
                    margin-top: 10px;
                }

                @include responsive-width(1023px) {
                    margin-top: 0px;
                    width: 461px;
                }
                @include responsive-width($desktop_s){
                    width: 500px;
                }

                .pagar {
                    display: none;

                    @include responsive-width($tablet_m) {
                        display: block;
                        color: $white;
                        font-size: 16px;
                        letter-spacing: .2rem;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}