&--fms{

    &:before{
        content: "";
        position: absolute;
        left: 50%;
        width: 188px;
        height: 169px;
        border-top-right-radius: 31px;
        bottom: -8px;
        margin-left: 10px;
        background-size: cover;
        background-image: m_image_url('2021/12/e-home-banner-fms-bg-mob.png');
        @include backgound_retina {
            background-image: m_image_url('2021/12/e-home-banner-fms-bg-mob@2x.png');
        }
        @include responsive-width($tablet_m){
            width: 846px;
            height: 100%;
            bottom: 0;
            margin-left: 97px;
            background-image: m_image_url('2021/12/e-home-banner-fms-bg-desk.png');
            @include backgound_retina {
                background-image: m_image_url('2021/12/e-home-banner-fms-bg-desk@2x.png');
            }
        }
        @include responsive-width($laptop_s){
            border-top-right-radius: 0;
        }
        
    }

    &:after{
        @include responsive-width($laptop_m){
            content: "";
            width: 846px;
            height: 100%;
            left: 50%;
            position: absolute;
            top: 0;
            margin-left: 940px;
            transform: rotateY(-180deg);
            background-image: m_image_url('2021/12/e-home-banner-fms-bg-desk.png');
            @include backgound_retina {
                background-image: m_image_url('2021/12/e-home-banner-fms-bg-desk@2x.png');
            }
        }
    }

    .e-container-flex{
        padding-top: 37px;
        @include responsive-width($tablet_m){
            padding-top: 0;
        }

        &__item{
            &--1{
                text-align: center;
                @include responsive-width($laptop_s){
                    text-align: left;
                }
                div{
                    text-align: left;
                    display: inline-block;
                }
                p{
                    font-style: normal;
                    font-weight: 900;
                    font-size: 30.05px;
                    line-height: 1.05;
                    color: $white;
                    padding-top: 24px;
                    padding-bottom: 32px;
                    @include responsive-width($laptop_s){
                        font-size: 36px;
                    }
                    @include responsive-width($laptop_m){
                        font-style: normal;
                        font-weight: bold;
                        font-size: 48px;
                        line-height: 45px;
                    }
                    span{
                        color: $extra_blue;
                    }
                }
            }
            &--2{
                text-align: center;
                picture{
                    width: 150px;
                    max-width: 100%;
                    @include responsive-width($tablet_m){
                        width: 150px;
                    }
                    @include responsive-width($laptop_s){
                        width: auto;
                        max-width: 90%;
                        text-align: right;
                    }
                }
            }
            &--3{
                position: absolute;
                bottom: -8px;
                left: 50%;
                text-align: center;
                width: 200px;
                max-width: 50%;
                @include responsive-width($tablet_m){
                    position: relative;
                    left: 0;
                    width: auto;
                    max-width: 100%;
                    margin-bottom: -73px;
                }
                @include responsive-width($laptop_s){
                    width: 40%!important;
                    text-align: right;
                    margin-bottom: -32px;
                }
                picture{
                    @include responsive-width($tablet_m){
                        width: 380px;
                        max-width: 200%;
                        margin-left: -65px;
                    }
                    @include responsive-width($laptop_s){
                        margin-left: 0;
                        width: auto;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}