&--honor{
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: m_image_url('2022/04/e-home-banner-honor-bg-mob.jpg');
    @include backgound_retina {
        background-image: m_image_url('2022/04/e-home-banner-honor-bg-mob@2x.jpg');
    }

    @include responsive-width($tablet_m){
        background-image: m_image_url('2022/04/e-home-banner-honor-bg-tab.jpg');
        @include backgound_retina {
            background-image: m_image_url('2022/04/e-home-banner-honor-bg-tab@2x.jpg');
        }
    }
    @include responsive-width($laptop_s){
        background-image: m_image_url('2022/04/e-home-banner-honor-bg-desk.jpg');
    }
    

    .e-container-flex{
        position: relative;
        padding-top: 20px;
        @include responsive-width($tablet_m){
            padding-top: 0;
        }

        &__item{
            &--1{
                position: relative;
                z-index: 2;
                div{
                    text-align: left;
                    display: inline-block;
                }
                .e-text-title{
                    color: #191919;
                    font-weight: 700;
                    margin-bottom: 2px;
                    line-height: 1.3;
                    font-size: 16px;
                    @include responsive-width($tablet_m){
                        font-size: 18px;
                    }
                    @include responsive-width($laptop_m){
                        font-size: 22px;
                    }
                }
                .e-text-subtitle{
                    color: #191919;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 1.3;
                    width: 150px;
                    max-width: 100%;
                    margin-bottom: 10px;
                    @include responsive-width($tablet_m){
                        font-size: 18px;
                         width: 195px;
                    }
                    @include responsive-width($laptop_m){
                        font-size: 22px;
                        width: 240px;
                    }
                }
                .e-icon{
                    width: 152px;
                    max-width: 100%;
                    display: inline-block;
                    @include responsive-width($tablet_m){
                        width: 192px;
                        margin-top: 7px;
                    }
                    @include responsive-width($laptop_m){
                        width: 235px;
                    }
                    svg{
                        width: 100%;
                        height: auto;
                    }
                }
                .e-button{
                    margin-top: 96px;
                    @include responsive-width($tablet_m){
                        margin-top: 27px;
                        min-width: 165px!important;
                    }
                }
            }
            &--2{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                @include responsive-width($tablet_m){
                    position: relative;
                    height: auto;
                    width: 33.333%;
                }
                .e-box{
                    display: flex;
                    position: absolute;
                    top: 170px;
                    left: 0;
                    @include responsive-width($tablet_m){
                        position: relative;
                        top: 0;
                        display: block;
                        margin: 0 auto;
                        width: 80%;
                    }
                    @include responsive-width($laptop_m){
                        width: 195px;
                    }

                    &__item{
                        max-width: 100%;
                        margin-right: 10px;
                        @include responsive-width($tablet_m){
                            display: flex;
                            width: 100%!important;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 14px;
                        }
                        .e-icon{
                            width: 27px;
                            max-width: 100%;
                            display: inline-block;
                            @include responsive-width($tablet_m){
                                width: 43px;
                                flex-shrink: 0;
                            }
                            svg{
                                width: 100%;
                                height: auto;
                            }
                        }
                        p{
                            color: #191919;
                            margin-bottom: 0;
                            font-size: 10px;
                            font-weight: normal;
                            line-height: 1.2;
                            @include responsive-width($tablet_m){
                                font-size: 14px;
                                padding-left: 10px;
                            }
                        }
                        &:nth-child(1){
                            flex-shrink: 0;
                            width: 51px;
                        }
                        &:nth-child(2){
                            flex-shrink: 0;
                            width: 40px;
                        }
                        &:nth-child(3){
                            flex-shrink: 0;
                            width: 60px;
                            margin-right: 0;
                        }
                    }
                }
                .e-text{  
                    font-weight: normal;
                    width: 47%;
                    position: absolute;
                    bottom: 19px;
                    left: 50%;
                    margin-left: 20px;
                    @include responsive-width(360px){
                        margin-left: 23px;
                        bottom: 25px;
                        width: 133px;
                        max-width: 100%;
                    }
                    @include responsive-width(400px){
                        width: 46%;
                    }
                    @include responsive-width($tablet_m){
                        position: relative;
                        left: 0;
                        bottom: 0;
                        width: 200px;
                        margin: 0 auto;
                    }
                    @include responsive-width($laptop_m){
                        width: 250px;
                        margin-top: 25px;
                    }

                    p{
                        font-size: 8px;
                        line-height: 1.2;
                        margin-bottom: 0;
                        color: #191919;
                        @include responsive-width($tablet_m){
                            font-size: 10px;
                            line-height: 1.4;
                        }
                        a{
                            color: #191919;
                            font-weight: 600;
                            text-decoration: underline;
                        }
                    }
                }
            }
            &--3{
                height: 100%;
                @include responsive-width($tablet_m){
                    height: auto;
                    padding-top: 15px;
                }

                picture{
                    position: absolute;
                    left: -31px;
                    width: 250px;
                    top: -13px;
                    @include responsive-width($tablet_m){
                        position: relative;
                        width: 350px;
                        left: -79px;
                        top: 0;
                    }
                    @include responsive-width($laptop_s){
                        width: 327px;
                        left: 0;
                    }
                    @include responsive-width($laptop_m){
                        width: 415px;
                    }
                }

            }
        }
    }
}