&--samsung-S22{
    background-color: transparent;

    .e-container-flex{
        padding-top: 20px;
        @include responsive-width($tablet_m){
            padding-top: 40px;
        }
        @include responsive-width($laptop_m){
            padding-top: 37px;
            padding-left: 50px;
            padding-right: 50px;
        }

        &__item{
            &--1{
                // text-align: center;
                width: 50%;
                padding-top: 15px;
                @include responsive-width(360px){
                    width: 60%;
                }

                @include responsive-width($laptop_m){
                    padding-top: 0;
                    // text-align: left;
                    width: 25%;
                }
                picture >img{
                    margin-bottom: 7px;
                    @include responsive-width($tablet_m){
                        margin-bottom: 9px;
                    }
                }
                span {
                    display: block;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 17px;
                    text-align: left;
                    margin-bottom: 18px;
                    max-width: 160px;
                    @include responsive-width($tablet_m){
                        font-size: 14px;
                        line-height: 20px;
                        margin-bottom: 23px;
                        max-width: 185px;
                    }
                    @include responsive-width($laptop_m){
                        font-size: 14px;
                        line-height: 24px;
                        margin-bottom: 30px;
                        max-width: 230px;
                    }
                }
                .text-2 {
                    picture >img{
                        margin-bottom: 30px;
                    }
    
                }
            }
            &--2{
                text-align: center;
                width: 40%;
                z-index: 2;
                @include responsive-width(360px){
                    width: 40%;
                }
                @include responsive-width($laptop_m){
                    width: 50% !important;
                }

                span{
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 16px;
                    color: #191919;
                    margin-bottom: 25px;
                    text-align: center;
                    position: relative;
                    top: -10px;
                    @include responsive-width($tablet_m){
                        margin-bottom: initial;
                    }
                    @include responsive-width($laptop_m){
                        text-align: left;
                    }
                }
                .imges {
                    @include responsive-width($laptop_m){
                        display: flex;
                        text-align: left;
                    }
                    .img-1 {
                        picture >img { 
                            margin: auto;
                            // @include responsive-width($tablet_m){
                            //     margin: auto;
                            // }
                        }
    
                    }
                }

            }
            &--3{
                position: absolute;
                bottom: 0;
                left: 55%;
                width: 200px;
                max-width: 40%;
                padding-left: 3%;
                z-index: 1;
                @include responsive-width(360px){
                    padding-left: 5%;
                    left: 50%;

                }
                @include responsive-width($tablet_m){
                    position: relative;
                    left: 0;
                    width: auto;
                    max-width: 100%;
                    margin-bottom: -73px;
                    top: -55px;
                }
                @include responsive-width($laptop_m){
                    width: 35%!important;
                    text-align: left;
                    margin-bottom: -32px;
                    top: -35px;
                }
                &::before {
                    content: url("data:image/svg+xml;charset=utf8,%3Csvg width='180' height='186' viewBox='0 0 180 186' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M180 186H19.5L0.602814 32.6252C-0.807724 21.1768 7.73224 10.9118 19.2461 10.2159L180 0.5L180 186Z' fill='%23004FB9'/%3E%3C/svg%3E");
                    position: absolute;
                    bottom: -4px;
                    left: -4px;
                    z-index: -1;
                    @include responsive-width(360px){
                        left: -10px;
                    }
                    @include responsive-width($tablet_m){
                        content: url("data:image/svg+xml;charset=utf8,%3Csvg width='338' height='370' viewBox='0 0 338 370' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M338 370H63L3.53915 180.495C-2.69949 160.612 1.82516 138.916 15.4912 123.185L122.5 0H338V370Z' fill='%23004FB9'/%3E%3C/svg%3E");
                        left: -60px;
                        bottom: -50px;
                    }
                    @include responsive-width($laptop_m){
                        content: url("data:image/svg+xml;charset=utf8,%3Csvg width='786' height='350' viewBox='0 0 786 350' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M786 350H62.198L2.8974 135.625C-4.62994 108.413 7.83276 79.635 32.8292 66.508L159.474 0H786V350Z' fill='%23004FB9'/%3E%3C/svg%3E");
                    
                    }
                    @include responsive-width($laptop_m){
                        left: -120px;
                        top: -43px;
                    }
                }
                &::after {
                    @include responsive-width(360px){
                        content:'';
                        width: 270px;
                        height: 198px;
                        background-color: $blue;
                        transform: rotate(-5deg);
                        position: absolute;
                        bottom: -6px;
                        right: -201px;
                        z-index: -1;
                    }
                    @include responsive-width(480px){
                        bottom: -3px;
                    }
                    @include responsive-width($tablet_m){
                        width: 383px;
                        height: 144%;
                        left: 245px;
                        transform: rotate(0);
                        bottom: -47px;
                    }
                    @include responsive-width($laptop_m){
                        width: 600px;
                        left: 300px;
                        bottom: -40px;
                    }
                }
                p {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 12px;
                    color: $white;
                    text-align: left;
                    max-width: 140px;
                    margin-bottom: 16px;
                    @include responsive-width($tablet_m){
                        font-size: 14px;
                        line-height: 16px;
                        max-width: 185px;
                        margin-bottom: 20px;
                    }
                    @include responsive-width($laptop_m){
                        font-size: 20px;
                        line-height: 20px;
                        max-width: 250px;
                        margin-bottom: 14px;
                    }
                    strong {
                        font-weight: 700;
                        color: $extra_blue;
                    }

                }
                .cupones {
                    .row-1 {
                        display: flex;
                        div {
                            display: block;
                            span {
                                font-size: 7px;
                                position: relative;
                                top: -12px;
                                left: 3px;
                                margin-bottom: 0 !important;
                                @include responsive-width($tablet_m){
                                    font-size: 8px;
                                    max-width: 85px;
                                    top:-16px;
                                }
                                @include responsive-width($laptop_m){
                                    max-width: 94px;
                                    top:-10px;
                                }
                            }
                        }
                    }
                    .row-2 {
                        display: flex;
                        align-items: center;
                    }
                    .cupon {
                        margin-left: 3px;
                        margin-right: 3px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-image: m_image_url('2022/02/e-home-banner-bg-cupon-mob.png');
                        @include backgound_retina {
                            background-image: m_image_url('2022/02/e-home-banner-bg-cupon-mob@2x.png');
                        }
                        @include responsive-width($tablet_m){
                            background-image: m_image_url('2022/02/e-home-banner-bg-cupon-tab.png');
                            @include backgound_retina {
                                background-image: m_image_url('2022/02/e-home-banner-bg-cupon-tab@2x.png');
                            }
                        }
                        @include responsive-width($laptop_m){
                            background-image: m_image_url('2022/02/e-home-banner-bg-cupon-desk.png');
                            @include backgound_retina {
                                background-image: m_image_url('2022/02/e-home-banner-bg-cupon-desk@2x.png');
                            }
                        }
                        p {
                            font-weight: 300;
                            font-size: 22px;
                            line-height: 22px;
                            letter-spacing: 0.05em;
                            color: $white;
                            padding: 8px 5px 4px 24px;
                            position: relative;
                            @include responsive-width($tablet_m){
                                font-size: 30px;
                                line-height: 30px;
                                padding: 11px 4px 6px 33px;
                            }
                            @include responsive-width($laptop_m){
                                font-size: 38px;
                                line-height: 38px;
                                padding: 14px 5px 8px 41px;
                            }
                            &::before {
                                content: 'S/';
                                position: absolute;
                                bottom: 6px;
                                left: 8px;
                                font-size: 10px;
                                line-height: 9px;
                                @include responsive-width($tablet_m){
                                    font-size: 14px;
                                    line-height: 12px;
                                    bottom: 10px;
                                    left: 10px;
                                }
                                @include responsive-width($laptop_m){
                                    font-size: 18px;
                                    line-height: 15px;
                                    bottom: 14px;
                                    left: 15px;
                                }
                            }
                            &::after {
                                content: 'CUPÓN';
                                position: absolute;
                                top: 6px;
                                right: 7px;
                                font-weight: 500;
                                font-size: 5px;
                                line-height: 5px;
                                @include responsive-width($tablet_m){
                                    font-size: 7px;
                                    line-height: 6px;  
                                    top: 8px;
                                }
                                @include responsive-width($laptop_m){
                                    font-size: 9px;
                                    line-height: 8px;
                                    top: 10px;
                                    right: 7px;
                                }
                            }
                        }
                    }
                    span {
                        font-weight: normal;
                        font-size: 8px;
                        line-height: 8px;
                        color: $white;
                        max-width: 56px;
                        display: block;
                        text-align: left;
                        margin-bottom: 5px;
                        @include responsive-width($tablet_m){
                            line-height: 10px;
                            max-width: 59px;
                            margin-bottom: 10px;
                        }
                        @include responsive-width($laptop_m){
                            line-height: 12px;
                            max-width: 73px;
                        }
                    }
                    
                }
            }
            h2 {
                font-weight: 600;
                font-size: 31px;
                line-height: 26px;
                color: $blue;
                margin-bottom: 3px;
                text-align: left;
                @include responsive-width(360px){
                    font-size: 35px;
                }
                @include responsive-width($tablet_m){
                    font-size: 40px;
                    line-height: 30px;
                    margin-bottom: 4px;
                }
                @include responsive-width($laptop_m){
                    font-size: 50px;
                    line-height: 40px;
                    margin-bottom: 5px;
                }
            }
            h3 {
                font-weight: normal;
                font-size: 22px;
                line-height: 24px;
                text-align: left;
                margin-bottom: 10px;
                @include responsive-width($tablet_m){
                    font-size: 24px;
                    margin-bottom: 17px;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 161px;
                }
                @include responsive-width($laptop_m){
                    font-size: 30px;
                    margin-bottom: 20px;
                    max-width: 345px;
                }
                strong {
                    font-weight: 700;
                    display: block;
                    font-size: 20px;
                    @include responsive-width(360px){
                        font-size: 24px;
                    }        
                    @include responsive-width($laptop_m){
                        display: inline;
                    }
                }
            }
            .top-relative-desk {
                @include responsive-width($laptop_m){
                    position: relative;
                    top: -30px;
                }               
            }
            .legal {
                font-weight: normal;
                font-size: 9px;
                line-height: 12px;
                color: #383C47;
                opacity: 0.7;
                display: block;
            }
            .obs {
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                color: $white;
                position: relative;
                top: -10px;
                @include responsive-width($laptop_m){
                    max-width: 220px;
                    display: block;
                }
            }
        }
    }
    .none-mob {
        @include responsive-max-width(767px){
            display: none !important;
        }
    }
    .none-tab {
        @media screen and (min-width: $tablet_m) and (max-width: $laptop_m) {
            display: none !important;
        }
    }
    .none-desk {
        @include responsive-width($laptop_m){
            display: none !important;
        }
    }
}