&--iphone14{
    position: relative;
    background-size: cover;
    // background-attachment: fixed;
    background-color: #232323;
    .e-container-flex{
        align-items: center;
        justify-content: center;
        gap: 30px;
        @include responsive-width($laptop_s){
            gap: 140px;
        }
        .e-container-flex__item--1{
            @include responsive-width($tablet_m){
                width: 341px !important;
            }
            @include responsive-width($laptop_s){
                width: 480px !important;
            }
            picture{
                display: block;
            }
            p{
                font-weight: 300;
            }
            .e-text-title{
                color: $white;
                font-size: 24px;
                @include responsive-width($tablet_m){
                    font-size: 28px;
                }
                @include responsive-width($laptop_s){
                    font-size: 40px;
                }
            }
            .e-text-subtitle{
                color: $orange;
                font-size: 24px;
                @include responsive-width($tablet_m){
                    font-size: 28px;
                }
                @include responsive-width($laptop_s){
                    font-size: 40px;
                }
            }
            .model{
                @include responsive-width($tablet_m){
                    width: 175px;
                }
                @include responsive-width($laptop_s){
                    width: 247px;;
                }
            }
            .text{
                @include responsive-width($tablet_m){
                    width: 341px;
                }
                @include responsive-width($laptop_s){
                    width: 479px;
                }
            }
        }
        .e-container-flex__item--2{
            align-self: flex-end;
            width: 77px;
            @include responsive-width($tablet_m){
                width: 258px !important;
            }
            @include responsive-width($laptop_s){
                width: 320px !important;
            }
        }
    }
}