&--app-privada{
    background: linear-gradient(180deg, #00B9EB -12.13%, #004FB9 100%);
    &:before{
        content: '';
        position: absolute;
        width: 103%;
        height: 300px;
        border-top-right-radius: 30px;
        background-color: $blue;
        transform: skew(10deg,-5.5deg);
        bottom: -95px;
        @include responsive-width($tablet_m){
            content: url("data:image/svg+xml;charset=utf8,%3Csvg width='1171' height='335' viewBox='0 0 1171 335' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1087.47 43.7554C1079.92 17.4183 1055.48 -0.456402 1028.09 0.320914L3.79086e-05 29.5V335H1171L1087.47 43.7554Z' fill='%23004FB9'/%3E%3C/svg%3E");
            right: 35%;
            bottom: 0;
            border-top-right-radius: 15px;
            background-color: transparent;
            width: initial;
            height: initial;
            transform: skew(0,0);
        }
        @include responsive-width(1540px){
            right: 37%;
        }

        @include responsive-width(1920px){
            right: 36%;
            z-index: 1;
        }
        
    }

    &:after{
        @include responsive-width(1620px){
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 900px;
            height: 500px;
            border-top-right-radius: 15px;
            background-color: $blue;
            transform: skew(-12deg,-1.5deg) translateY(173px) translateX(-210px);
        }
        @include responsive-width(1920px){
            transform: skew(-12deg,-1.5deg) translateY(180px) translateX(-210px);
        }
        @include responsive-width(2477px){
            transform: skew(-12deg, -2deg) translateY(187px) translateX(-210px)
        }
    }

    .e-container-flex{
        padding: 0;
        flex-direction: column-reverse;
        @include responsive-width($tablet_m){
            flex-direction: row;
        }

        &__item{
            &--1{
                text-align: center;
                z-index: 2;
                width: 100% !important;
                padding: 0 12px;
                @include responsive-width($tablet_m){
                    width: 56% !important;
                    padding: 0;
                }
                // @include responsive-width($tablet_l){
                //     width: 53% !important;
                // }

                @include responsive-width($laptop_s){
                    text-align: left;
                    width: 42% !important;
                }
                @include responsive-width($laptop_m){
                    width: 50% !important;
                }
                @include responsive-width($desktop_s){
                    width: 65% !important;
                }

                div{
                    text-align: left;
                    display: inline-block;
                    .e-button {
                        max-width: 150px;
                        margin: auto;
                        display: block;
                        @include responsive-width($tablet_m){
                            padding: 15px 10px;
                            margin: 0;
                        }
                    }
                }
                h2 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.4;
                    color: $white;
                    @include responsive-width($tablet_m){
                        font-size: 24px;
                    }
                    @include responsive-width($laptop_m){
                        font-size: 30px;
                    }
                    @include responsive-width($laptop_m){
                        font-size: 34px;
                    }
                    strong {
                        font-size: 22px;
                        line-height: 100%;
                        font-weight: 700;
                        color: $extra_blue;
                        @include responsive-width($tablet_m){
                            font-size: 34px;
                        }
                        @include responsive-width($laptop_m){
                            font-size: 40px;
                        }
                        @include responsive-width($desktop_s){
                            font-size: 52px;
                        }
    
                    }

                }
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 1.3;
                    color: $white;
                    margin: 0;
                    padding-top: 2px;
                    padding-bottom: 6px;
                    @include responsive-width($tablet_m){
                        font-size: 18px;
                        padding-top: 24px;
                        padding-bottom: 32px;
    
                    }
                    @include responsive-width($laptop_m){
                        font-size: 24px;
                    }
                    strong{
                        font-weight: 700;
                    }
                }
            }
            &--2{
                text-align: center;
                z-index: 2;
                width: 100% !important;
                @include responsive-width($tablet_m){
                    width: 47% !important;
                }
                picture{
                    width: 232px;
                    max-width: 100%;
                    text-align: center;
                    // @include responsive-width($tablet_m){
                        // width: 150px;
                    // }
                    @include responsive-width($tablet_m){
                        width: auto;
                        // min-width: 440px;
                        text-align: right;
                    }
                    @include responsive-width($desktop_s){
                        min-width: 542px;
                    }
                }
            }
        }
    }


    &_test{
        &.testb{
            background: #fff;
            &:before{
                content: "";
                width: 351px;
                background-size: 100% auto;
                height: 100%;
                transform: none;
                top: 0;
                left: 50%;
                margin-left: 10px;
                background-color: transparent;
                background-image: m_image_url('2022/05/e-home-banner-app-privada-bg-mob.png');
                @include backgound_retina {
                    background-image: m_image_url('2022/05/e-home-banner-app-privada-bg-mob@2x.png');
                }
                @include responsive-width($tablet_m){
                    width: 533px;
                    background-image: m_image_url('2022/05/e-home-banner-app-privada-bg-tab.png');
                    @include backgound_retina {
                        background-image: m_image_url('2022/05/e-home-banner-app-privada-bg-tab@2x.png');
                    }
                }
                @include responsive-width($laptop_m){
                    width: 815px;
                    background-image: m_image_url('2022/05/e-home-banner-app-privada-bg-desk.png');
                }
            }
            &:after{
                content:none!important;
            }
        }
    }

    .e-container-flex{
        &.testa{
            display: none;
            &.active{
                display: flex;
            }
        }
        &.testb{
            display: none;
            flex-direction: row;
            align-items: center;

            &.active{
                display: flex;
            }

            .e-container-flex__item{
                width: 50%!important;
                h2{
                    color:#004FB9;
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 700;
                    padding-top: 25px;
                    @include responsive-width($tablet_m){
                        font-size: 18px;
                        line-height: 24px;
                    }
                    @include responsive-width($laptop_m){
                        font-size: 30px;
                        line-height: 40px;
                    }
                    strong{
                        display: block;
                        color: #00B9EB;
                        font-weight: 800;
                        font-size: 30px;
                        margin-top: 15px;
                        @include responsive-width($tablet_m){
                            font-size: 36px;
                            line-height: 24px;
                        }
                        @include responsive-width($laptop_s){
                            display:inline;
                        }
                        @include responsive-width($laptop_m){
                            font-size: 52px;
                            line-height: 50px;
                        }
                    }
                }
                p{
                    color: #191919;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    margin-top: 5px;
                    @include responsive-width($tablet_m){
                        padding-top: 10px;
                        padding-bottom: 20px;
                    }
                    @include responsive-width($laptop_m){
                        font-size: 23px;
                        line-height: 29px;
                    }
                }
                .e-button{
                    margin-top: 15px;
                    margin-left: 0;
                }

                &--1{
                    @include responsive-width($tablet_m){
                        width: 290px!important;
                        padding-right: 40px;
                        padding-left: 20px;
                    }
                    @include responsive-width($laptop_s){
                        width: 415px !important;
                        padding-right: 65px;
                    }
                    @include responsive-width($laptop_m){
                        width: 615px !important;
                        padding-right: 55px;
                    }
                }

                &--2{
                    @include responsive-width($tablet_m){
                        width: 398px!important;
                    }
                    @include responsive-width($laptop_m){
                        width: 468px !important;
                    }
                    picture{
                        @include responsive-width($tablet_m){
                            max-width: 100%;
                            min-width: auto;
                        }
                    }
                }
            }
        }
    }
}


