.entel__slider--home__item__content{
    padding: 0;
    margin: 0;
    position: relative;

    .e-container {
        height: 100%;
    }

    .e-container-flex {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        width: 400px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;

        @include responsive-width($tablet_m){
            width: 100%;
            align-items: center;
        }

        &__item {
            width: 50%;

            @include responsive-width($tablet_m) {
                width: 33.3%!important;
                flex-shrink: 0;
            }

            @include responsive-width($laptop_s) {
                width: 25%!important;
            }
        }
    }

    .e-button{
        min-width: 130px!important;
        width: 150px;
        max-width: 100%;
        @include responsive-width($tablet_m){
            width: auto;
        }
    }
}


.slick-slide.slick-current {
    .fadeInLeft {
        animation: fadeInLeft 1s ease forwards;
    }
    .fadeInRight {
        animation: fadeInRight 1s ease forwards;
    }
    .fadeInTop {
        animation: fadeInTop 1s ease forwards;
    }
    .fadeInBottom {
        animation: fadeInBottom 1s ease forwards;
    }

    .zig-zag {
        // animation: zig-zag 3s linear infinite alternate 1s;
        animation: zig-zag 3s linear infinite 1s;

        &[data-delay="0.2"] {
            animation-delay: 1.2s;
        }

        &[data-delay="0.4"] {
            animation-delay: 1.4s;
        }

        &[data-delay="0.6"] {
            animation-delay: 1.6s;
        }

    }

    .top-bottom {
        animation: top-bottom 3s linear infinite 1s;
    }

    .zoom {
        animation: zoom 1.5s linear infinite alternate 1s;
    }
}


// Animaciones Entrada
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-80%);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(80%);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(-80%);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

// Animaciones Elementos
@keyframes zig-zag {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes top-bottom {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}