&--app-entel {
  background: linear-gradient(324.39deg, #221E78 22.27%, #004FB9 91.68%);

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 48vw;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: m_image_url('2022/03/banner-app-entel-mob-v2.png');

    @include backgound_retina {
      background-image: m_image_url('2022/03/banner-app-entel-mob-v2@2x.png');
    }

    @include responsive-width($tablet_s) {
      height: 36vw;
    }

    @include responsive-width($tablet_m) {
      content: none;
    }
  }

  @include responsive-width($tablet_m) {
    z-index: -1;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      width: 46vw;
      height: 100%;
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: m_image_url('2022/03/banner-app-entel-desk-v2.png');

      @include backgound_retina {
        background-image: m_image_url('2022/03/banner-app-entel-desk-v2@2x.png');
      }
    }
  }

  .app-entel__titular {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    svg {
      width: 41px;

      @include responsive-width($tablet_m) {
        width: 83px;
        height: 83px;
      }
    }

    .e-icon {
      display: inline-block;
    }
  }

  .e-container-flex {
    align-items: flex-end;

    @include responsive-width($tablet_m) {
      align-items: center;
      justify-content: flex-start;
      width: 685px;
    }
  }

  .e-container-flex__item {
    width: auto;
  }

  .e-container-flex__item--1 {
    width: 65%;
    margin-bottom: 15px;

    @include responsive-width($tablet_m) {
      width: 42% !important;
    }
  }

  h2,
  strong {
    font-size: 20px;

    @include responsive-width($tablet_m) {
      font-size: 40px;
    }
  }

  p {
    color: #fff;
    font-size: 16px;

    @include responsive-width($tablet_m) {
      font-size: 24px;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    strong {
      font-size: 16px;

      @include responsive-width($tablet_m) {
        font-size: 24px;
      }
    }
  }

  h2 {
    color: #fff;
    margin-left: 5px;

    strong {
      color: #00B9EB;
    }

  }

  a.e-button {
    width: 140px;
    height: 41px;

    span {
      font-size: 12px;

      @include responsive-width($tablet_m) {
        font-size: 14px;
      }
    }

    @include responsive-width($tablet_m) {
      width: 172px;
      height: 50px;
    }
  }
}