- banner_name = 'APP Privada'
- banner_link = 'https://miperfil.entel.pe/Login/'

.entel__slider--home__item(
    data-entel-slide-index='8' 
    data-entel-slide-time='8000' 
    data-layer-id='slider_'+banner_name  
    data-layer-name='Banner'+banner_name 
    data-layer-position='Home - Banner Superior 8' 
    data-layer-creative=banner_link
    )

    .entel__slider--home__item__content.entel__slider--home__item__content--app-privada.entel__slider--home__item__content--app-privada_test
        .e-container
            .e-container-flex.testa.active

                .e-container-flex__item.e-container-flex__item--1.fadeInLeft
                    div
                        //- +lazy_image_webp_retina('2021/12/e-home-banner-fms-entel', 'png', 'Logo Entel')
                        h2 !Haz todas tus operaciones y consultas desde la #[strong Web Mi Entel!]
                        p Además, descubre #[strong promociones exclusivas] para tí.
                        a(class='e-button e-button--orange entel-data-layer-btn' href=banner_link 
                        target='_BLANK'
                        data-gtm-action='Accion en banner ' 
                        data-gtm-category='Entel home_Banners' 
                        data-gtm-label='APP Privada - 08'
                        ) ingresar aquí
                    
                .e-container-flex__item.e-container-flex__item--2.fadeInRight
                    +lazy_image_webp_retina_media('2022/02/e-home-banner-app-privada-mob', 'png', '2022/02/e-home-banner-app-privada-desk', '768', 'Usuario del APP Privada')(class="top-bottom")

            .e-container-flex.testb
                .e-container-flex__item.e-container-flex__item--1
                    div
                        //- +lazy_image_webp_retina('2021/12/e-home-banner-fms-entel', 'png', 'Logo Entel')
                        h2 !Haz todas tus operaciones y consultas desde la #[strong Web Mi Entel!]
                        p Además, descubre #[strong promociones exclusivas] para tí.
                        a(class='e-button e-button--orange entel-data-layer-btn' href=banner_link 
                        target='_BLANK'
                        data-gtm-action='Accion en banner ' 
                        data-gtm-category='Entel home_Banners' 
                        data-gtm-label='APP Privada - 08'
                        ) ingresar aquí
                    
                .e-container-flex__item.e-container-flex__item--2
                    - image_mobile = '2022/05/e-home-banner-app-privada-mob' 
                    - image = '2022/05/e-home-banner-app-privada-desk' 
                    +lazy_image_webp_retina_media(image_mobile, 'png', image, '768', 'Usuario del APP Privada')