- banner_name = 'HONOR'
- banner_link = 'https://www.entel.pe/honor/'

.entel__slider--home__item(
    data-entel-slide-index='4' 
    data-entel-slide-time='8000' 
    data-layer-id='slider_'+banner_name  
    data-layer-name='Banner'+banner_name 
    data-layer-position='Home - Banner Superior 8' 
    data-layer-creative=banner_link
    )

    .entel__slider--home__item__content.entel__slider--home__item__content--honor
        .e-container
            .e-container-flex

                .e-container-flex__item.e-container-flex__item--1.fadeInLeft
                    div
                        p.e-text-title LANZAMIENTO
                        p.e-text-subtitle ¡Llegó a Entel el experto en videos!
                        span.e-icon
                            include ../../../../../../../assets/img/personas/home/2022/04/e-home-banner-honor-logo.svg
                        a(class='e-button e-button--orange entel-data-layer-btn' href=banner_link 
                        data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Lanzamiento Honor 50'
                        ) LO QUIERO
                    
                .e-container-flex__item.e-container-flex__item--2.fadeInLeft
                    .e-box
                        .e-box__item 
                            span.e-icon
                                include ../../../../../../../assets/img/personas/home/2022/04/e-home-banner-honor-camara.svg
                            p Cámara de 108MP Multi-video
                        .e-box__item 
                            span.e-icon
                                include ../../../../../../../assets/img/personas/home/2022/04/e-home-banner-honor-pantalla.svg
                            p Pantalla curva de 120Hz
                        .e-box__item 
                            span.e-icon
                                include ../../../../../../../assets/img/personas/home/2022/04/e-home-banner-honor-bateria.svg
                            p HONOR SuperCharge de 66W
                    .e-text
                        p Valido para compras en #[a(href="https://www.entel.pe" target="_blank") entel.pe] y puntos de venta Entel. Stock mínimo a nivel nacional: 50 unidades. Colores de equipos sujetos a disponibilidad. Cobertura 5G, cómo acceder y más información en #[a(href="https://www.catalogo.entel.pe" target="_blank") catalogo.entel.pe]


                .e-container-flex__item.e-container-flex__item--3.fadeInRight
                    - image_mobile = '2022/04/e-home-banner-honor-phone-mob' 
                    - image = '2022/04/e-home-banner-honor-phone-desk' 
                    +lazy_image_webp_retina_media(image_mobile, 'png', image, '1024', 'Celular Honor 50')(class="top-bottom")