- banner_name = 'iphonese2022'
- banner_link = 'https://catalogo.entel.pe/personas/celulares?para=personas&marca=apple'

.entel__slider--home__item(
    data-entel-slide-index='4' 
    data-entel-slide-time='8000' 
    data-layer-id='slider_'+banner_name  
    data-layer-name='Banner'+banner_name 
    data-layer-position='Home - Banner Superior 5' 
    data-layer-creative=banner_link
    )

    .entel__slider--home__item__content.entel__slider--home__item__content--iphonese2022
        .e-container
            .e-container-flex

                .e-container-flex__item.e-container-flex__item--1
                    div
                        p.e-text-top Nuevo
                        p.e-text-title iPhone SE 2022
                        p.e-text-subtitle Deja de #[b soñarlo] y #[span lúcelo]
                        a(class='e-button e-button--orange entel-data-layer-btn-header' href=banner_link 
                        data-gtm-action='Seleccionar botón' 
                        data-gtm-category='Home Banner' 
                        data-gtm-label='iPhone SE 2022' data-gtm-product='Personas' data-gtm-tipo='Informativo'
                        ) LO QUIERO
                        p.e-text-legal Válido para compras a partir del 13/05 en entel.pe y puntos de venta Entel. Stock mínimo a nivel nacional: 50 unidades. Colores de equipos sujetos a disponibilidad. Precios de equipos y más información en #[a(href="https://catalogo.entel.pe" target="_blank") catalogo.entel.pe]
                    
                .e-container-flex__item.e-container-flex__item--2
                    - image_mobile = '2022/05/e-home-banner-iphone-se-2022-mob' 
                    - image = '2022/05/e-home-banner-iphone-se-2022-desk' 
                    +lazy_image_webp_retina_media(image_mobile, 'png', image, '768', alt)
                    

