- banner_name = 'GalaxyDays'
- banner_link = 'https://catalogo.entel.pe/personas/celulares?para=personas&marca=apple'

.entel__slider--home__item(
    data-entel-slide-index='4' 
    data-entel-slide-time='8000' 
    data-layer-id='slider_'+banner_name  
    data-layer-name='Banner'+banner_name 
    data-layer-position='Home - Banner Superior 5' 
    data-layer-creative=banner_link
    )

    .entel__slider--home__item__content.entel__slider--home__item__content--galaxy-days
        .e-container
            .e-container-flex
                .e-container-flex__item.e-container-flex__item--1
                    div.item1-container
                        .renueva
                            .renueva-content
                                p.postpago #[b Renueva] Postpago
                                .renueva-image
                                    p.llegaron Llegaron los:
                                    - image_mobile = '2022/09/e-home-banner-galaxy-days-days-mob' 
                                    - image = '2022/09/e-home-banner-galaxy-days-days-desk' 
                                    +lazy_image_webp_retina_media(image_mobile, 'png', image, '768', 'Galaxy Days') 
                            a(class='e-button e-button--orange entel-data-layer-btn' href='https://miportal.entel.pe/personas/catalogo/postpago/renovacion?marca=samsung' target='_blank' 
                            data-gtm-category=landing_name 
                            data-gtm-action='Seleccionar boton' 
                            data-gtm-label='En la web - '+landing_name
                            ) LO QUIERO
                            
                        .content
                            .equipos 
                                +mx_picture_retina_all('',img_path+'/2022/09/e-home-banner-galaxy-days-equipos', 'png', 'Equipos Samsung Galaxy')
                                p.pagar págalo en 12 meses
                            .desde
                                p #[span Equipos] desde:
                                .text 
                                    .text1
                                        p cuota 
                                        p #[b inicial] 
                                        p.simbolo S/
                                    .text2
                                        p 0
                                p.plan plan Entel Power+ 74.90
                                - image = '2022/09/e-home-banner-galaxy-days-delivery' 
                                +lazy_image_webp_retina(image, 'png', 'Delivery 24 horas')
                .e-container-flex__item.e-container-flex__item--2
                    p Aplican términos y condiciones #[a(href='https://miportal.entel.pe/personas/catalogo/postpago/migra?_ga=2.65250218.562569938.1663626132-961533887.1663626132#terminos-y-condiciones' target='_blank') AQUÍ]
