- banner_name = 'FMS'
- banner_link = 'https://www.entel.pe/freestyle/'

.entel__slider--home__item(
    data-entel-slide-index='8' 
    data-entel-slide-time='8000' 
    data-layer-id='slider_'+banner_name  
    data-layer-name='Banner'+banner_name 
    data-layer-position='Home - Banner Superior 8' 
    data-layer-creative=banner_link
    )

    .entel__slider--home__item__content.entel__slider--home__item__content--fms
        .e-container
            .e-container-flex

                .e-container-flex__item.e-container-flex__item--1.fadeInLeft
                    div
                        +lazy_image_webp_retina('2021/12/e-home-banner-fms-entel', 'png', 'Logo Entel')
                        p #Unidos #[br] #[span Hacemos] #[br] más ruido
                        a(class='e-button e-button--orange entel-data-layer-btn' href=banner_link 
                        data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Freestyle - 08'
                        ) MÁS INFORMACIÓN
                    
                .e-container-flex__item.e-container-flex__item--2.fadeInRight
                    +lazy_image_webp_retina_media('2021/12/e-home-banner-fms-logo-mob', 'png', '2021/12/e-home-banner-fms-logo-desk', '768', 'Logo FMS')(class="top-bottom")
                .e-container-flex__item.e-container-flex__item--3.fadeInRight
                    +lazy_image_webp_retina_media('2021/12/e-home-banner-fms-img-mob', 'png', '2021/12/e-home-banner-fms-img-desk', '768', 'Participantes FMS')(class="zoom")