- banner_name = 'Lanzamiento Galaxy S22 Series'
- banner_link = 'https://www.entel.pe/lanzamiento-samsung-galaxy-s22/'

.entel__slider--home__item(
    data-entel-slide-index='4' 
    data-entel-slide-time='8000' 
    data-layer-id='slider_'+banner_name  
    data-layer-name='Banner'+banner_name 
    data-layer-position='Home - Banner Superior 4' 
    data-layer-creative=banner_link
    )

    .entel__slider--home__item__content.entel__slider--home__item__content--samsung-S22
        .e-container
            .e-container-flex

                .e-container-flex__item.e-container-flex__item--1.fadeInLeft
                    .text-1
                        h2 Pre-Venta
                        +image_webp_retina_media2('2022/02/e-home-banner-logo-samsung-mob', 'png', '2022/02/e-home-banner-logo-samsung-tab', '768','2022/02/e-home-banner-logo-samsung-desk', '1440', 'Samsung')
                        span Del 23 de Febrero al 10 de Marzo 2022
                    .text-2(class="none-tab none-desk")
                        h3 ¡Compra los #[strong nuevos Galaxy!]
                        +image_webp_retina('2022/02/e-home-banner-logo-samsung-s22-mob', 'png', 'Galaxy S22 Series')
                    .text-3
                        a(class='e-button e-button--orange entel-data-layer-btn' href=banner_link 
                        data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label=banner_name+' - 08'
                        ) lo quiero
                    
                .e-container-flex__item.e-container-flex__item--2.fadeInRight
                    .title 
                        h3(class="none-mob none-tab") ¡Compra los #[strong nuevos Galaxy!]
                    .imges
                        .img-1 
                            h3(class="none-mob none-desk") ¡Compra los #[strong nuevos Galaxy!]
                            +image_webp_retina_media2('2022/02/e-home-banner-phone-samsung-mob', 'png', '2022/02/e-home-banner-phone-samsung-tab', '768','2022/02/e-home-banner-phone-samsung-desk', '1440', 'Imagen referencial del teléfono')(class="top-bottom")
                            span Imágenes referenciales
                            +image_webp_retina('2022/02/e-home-banner-logo-samsung-s22-tab', 'png', 'Galaxy S22 Series')(class="none-mob none-desk")
                        .img-2(class="none-mob none-tab")
                            +image_webp_retina('2022/02/e-home-banner-phone2-samsung-desk', 'png', 'Teléfonos')
                            +image_webp_retina('2022/02/e-home-banner-logo-samsung-s22-desk', 'png', 'Galaxy S22 Series')(class='top-relative-desk')
                    span(class="none-mob none-tab legal") *Cupón sujeto a restricciones. Promoción no aplica para la preventa en tienda Online Samsung. Para más #[br] &nbsp;información de los términos y condiciones de la campaña, ingrese a www.samsung.com.pe/redimetucupon
                .e-container-flex__item.e-container-flex__item--3.fadeInRight
                    p #[strong y llévate un cupón virtual*] para la compra de productos seleccionados
                    .cupones 
                        .row-1
                            div
                                .cupon
                                    p 399
                                span Por la compra del S22
                            div
                                .cupon
                                    p 499
                                span Por la compra del S22+
                        .row-2
                            .cupon
                                p 599
                            span Por la compra del S22 Ultra
                    span(class="none-mob obs") No dejes pasar la oportunidad de acceder al #[strong beneficio de preventa]
