- img_empresas_path = '../../../../assets/img/empresas/'
- img_personas_path = '../../../../assets/img/personas/'
- 
    url_homepage = "https://www.entel.pe/"
    url_store = "https://catalogo.entel.pe/personas/celulares?para=personas&_ga=2.197981547.553904930.1582561752-149743229.1582062207"
    url_postpaid = "https://www.entel.pe/celulares-postpago/planes/"
    url_prepaid = "https://www.entel.pe/celulares-prepago/prepago-power/"
    url_home ="https://www.entel.pe/hogar/"
    url_help = "https://miportal.entel.pe/marketing/centro-ayuda?_ga=2.205634263.553904930.1582561752-149743229.1582062207"

//- URL Empresas
-
    url_company = "/empresas/"   
    url_delivery = "/protocolo-delivery/"   
    
    url_company_bag = "https://www.entel.pe/empresas/operaciones-en-linea/compra-de-bolsas"
    url_company_refill = "https://www.entel.pe/empresas/operaciones-en-linea/recarga-de-saldo"

    url_company_catalog = "/empresas/catalogo/postpago/"
    url_company_catalog_equipment = "/empresas/catalogo/equipos/"
    url_company_catalog_plans = "/empresas/celulares/postpago/planes/"
    url_company_digital_solutions_office_365 = "/empresas/celulares/office-365/"
    url_company_digital_solutions_microsoft_teams = "/empresas/celulares/microsoft-teams/"
    url_company_digital_solutions_productivity_apps = "/empresas/celulares/aplicaciones-de-productividad/"
    url_company_digital_solutions_sms = "/empresas/celulares/sms-multi-operador/"
    url_company_digital_solutions_yasta = "/empresas/yasta/"
    url_company_digital_solutions_cloud_backup = "/empresas/catalogo/soluciones-digitales/cloud-backup/"
    url_company_digital_solutions_capacity_control = "/empresas/catalogo/soluciones-digitales/control-de-aforo/"
    url_company_catalog_internet = "/empresas/catalogo/internet/"
    url_company_digital_solutions = "/empresas/catalogo/soluciones-digitales/"
    url_company_digital_solutions_gsuite = "https://www.entel.pe/empresas/celulares/gsuite/"
    url_company_digital_solutions_vop = "/empresas/catalogo/soluciones-digitales/central-virtual/"

    url_hazlo_online = "https://www.entel.pe/empresas/hazlo-online/"
    
    url_empresas_google_play = "https://www.entel.pe/empresas/app/"
    url_empresas_app_store = "https://apps.apple.com/ng/app/entel-per%C3%BA/id1510625121"
    
    url_empresas_mi_entel = "https://miportal.entel.pe/inicio-sesion"