form#form__register
    input#consulta(type='hidden', value='Trivia', name='consulta')
    input#tipo_servicio(type='hidden', value='migraapost-wb', name='tipo_servicio')
    +e_input('celular', 'Número Entel', undefined,'normal','text',9,'entel-form-min-number')(class='e-input--solid e-input--solid--white e-input--light e-input--small')
    p Al hacer clic en “Llámenme” declaras haber leído la #[a(href="https://www.entel.pe/politica-de-proteccion-de-datos-personales/" target="_blank") Política de Privacidad] de Entel
    .e-text--center
        button(
            id="entel-form-top-btn"
            class="e-button e-button--secondary" 
            type="submit" 
            data-origin="card-migra" 
            data-gtm-action="form superior" 
            data-gtm-category="Home" 
            data-gtm-label="Te llamamos" 
            ) Llámenme

        .subbutton 
            .subtext o también contrata

            a(
                href="tel:080009001" 
                class="e-button" 
                type="submit" 
                data-origin="card-migra" 
                data-gtm-action="form superior" 
                data-gtm-category="Home" 
                data-gtm-label="Llamando al 0800-09001" 
                ) 
                    span Llamando gratis #[br]al 0800-09001

