+modal('modal_form').m-modal--persons.m-modal--form
    //- .popup-register
    .m-modal__container
        .m-modal__head
            h2 Déjanos tu número para llamarte:
        .m-modal__body
            //- p.e-text--center ¡Llena tus datos y únete!
            include _form
        .m-modal__close.m-modal__close--js