+modal('modal_migra').m-modal--persons
    .m-modal__container
        .m-modal__head
            h2.e-fw-normal ¿Cómo deseas migrar?
        .m-modal__body
            
        .e-access__slider
            -
                slider_access = [
                    
                    
                    {
                        text: 'Equipo + chip',
                        link: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#productos',
                        icon: 'modal-equipos-chip-gray',
                        icon2: 'modal-equipos-chip',
                    },
                    {
                        text: 'Solo chip',
                        link: 'https://miportal.entel.pe/personas/planes',
                        icon: 'icon-access-migra-gray',
                        icon2: 'icon-access-migra',
                        class:'dscto-migra dscto-migra20'
                    },
                   
                ]

            each slide,index in slider_access
                - slide_class = ''

                if(slide.class)
                    - slide_class = slide.class
                div(class="entel-access__slider__card " + slide_class)
                    a(href=slide.link class="entel-access__item")
                            .e-icon
                                +iconAccessSVG(slide.icon)
                                +iconAccessSVG(slide.icon2)
                                include ../../../../../assets/img/personas/home/icon-stars.svg
                            span 
                                |!{slide.text}
                
        .m-modal__close.m-modal__close--js.stop-video