- title = '<span class="e-fw-normal">Los webinars tendrán una capacidad máxima <strong>de 1000 asistentes</strong>.</span>'
- text = '<span class="e-tc--383C47">Los inscritos recibirán un mail de confirmación con los accesos para conectarse al webinar al cierre del día.</span>'
- button = ''
- image = '2021/09/webinar-smart-doctor'
+modal_message('e-mis-out__modal-success',title,text,button,image).m-modal--persons