mixin style_modal(country)
    div(class="m-modal m-modal--persons")
        div(id="modal_moviles_"+country, class="m-modal__content m-modal__animation")
            div
                .m-modal__container.entel-access(class="entel-access__"+country)
                    if country == 'peru'
                        .m-modal__head
                            h2.e-fw-normal ¿Qué beneficio deseas?
                    .m-modal__body
                        
                    .e-access__slider
                        -
                            slider_access = [
                                {
                                    text: 'Migra a Entel',
                                    link: 'javascript:void(0)',
                                    icon: 'icon-access-migra-'+country+'-off',
                                    icon2: 'icon-access-migra-'+country,
                                    label: 'Exclusivo <br><b>20% Dto</b>',
                                    class: 'entel-access__item-form',
                                    modalty: 'migra'
                                },
                                {
                                    text: 'Línea Adicional',
                                    link: 'https://www.entel.pe/ofertas-y-promociones/lineasadicionales/',
                                    icon: 'icon-access-linea-adicional-'+country+'-off',
                                    icon2: 'icon-access-linea-adicional-'+country,
                                    
                                    class: ''
                                },
                                {
                                    text: 'Renueva tu equipo',
                                    link: 'javascript:void(0)',
                                    icon: 'icon-access-renueva-'+country+'-off',
                                    icon2: 'icon-access-renueva-'+country,
                                    class: 'entel-access__item-form',
                                    modalty: 'renueva'
                                },
                                {
                                    text: 'Equipos liberados',
                                    link: 'https://miportal.entel.pe/personas/catalogo/liberados',
                                    icon: 'icon-access-equipos-liberados-'+country+'-off',
                                    icon2: 'icon-access-equipos-liberados-'+country,
                                    class: ''
                                },
                            ]

                        each slide,index in slider_access
                            - slide_class = ''

                            if(slide.label)
                                - slide_class = 'card-label'
                            div(class="entel-access__slider__card " + slide_class)
                                a(href=slide.link class="entel-access__item "+slide.class data-modalty=slide.modalty)
                                    if(slide.label)
                                        .e-label 
                                            p !{slide.label}
                                    .e-icon
                                        +iconAccessSVG(slide.icon)
                                        +iconAccessSVG(slide.icon2)
                                        if country == 'peru'
                                            include ../../../../../assets/img/personas/home/icon-stars.svg
                                    span 
                                        |!{slide.text}
                            
                    .m-modal__close.m-modal__close--js