&--xiaomi-12t {
  background-image: m_image_url('2022/10/e-home-bg-banner-xiaomi-12t-mob.jpg');

  @include responsive-width($tablet_s) {
    background-image: m_image_url('2022/10/e-home-bg-banner-xiaomi-12t-tab.jpg');
  }
  @include responsive-width($laptop_s) {
    background-image: m_image_url('2022/10/e-home-bg-banner-xiaomi-12t-laptop.jpg');
  }
  @include responsive-width($desktop_s) {
    background-image: m_image_url('2022/10/e-home-bg-banner-xiaomi-12t-desk.jpg');
  }
  .e-container-flex {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    @include responsive-width($tablet_m) {
      align-items: center;
    }
  }
  .e-container-flex__item {
    width: auto;
  }
  .e-container-flex__item--1 {
    z-index: 2;
    @include responsive-width($tablet_m) {
      width: 34% !important;
    }
  }
  .e-container-flex__item--2 {
    z-index: 1;
    @include responsive-width($tablet_m) {
      width: 66% !important;
      display: flex;
      justify-content: center;
      align-self: end;
    }
  }
  .e-container-flex__general {
    display: flex;
    flex-direction: column;
    @include responsive-width($tablet_m) {
      flex-direction: row;
    }
  }
  .e-container-flex__item_title-xiaomi-12t {
    margin-top: 30px;
    @include responsive-width($tablet_m) {
      margin-top: 0;
    }
    h2 {
      font-size: 13px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: -0.03em;
      text-align: left;
      color: #000002;
      margin-bottom: 9px;
      @include responsive-width($tablet_m) {
        font-size: 20px;
      }
      p {
        font-weight: 600;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        color: #004FB8;  
        margin-bottom: 0;
        @include responsive-width($tablet_m) {
          font-size: 22px;
          line-height: 22px;
        } 
      }
    }
  }
  .e-container-flex__item_price-xiaomi-12t {
    padding-top: 20px;
    padding-left: 25px;
    @include responsive-width($tablet_m) {
      padding: 0;
    }
    p {
      font-size: 10px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
      @include responsive-width($tablet_m) {
        font-size: 14px;
      }  
      strong {
        font-size: 11px;
        font-weight: 700;
        @include responsive-width($tablet_m) {
          font-size: 17px;
        }  
      }
    }
  }
  .e-container-flex__item_image-xiaomi-12t {
    position: relative;
    min-width: 231px;
    right: 95px;
    @include responsive-width($tablet_m) {
      min-width: 244px;
      position: initial;
    }  
    @include responsive-width($laptop_s) {
      min-width: 446px;
    }  
    @include responsive-width($desktop_s) {
      min-width: 541px;
    }  
  }
  .e-button {
    min-width: 126px !important;
    height: 40px;
    margin-top: 44px;
    @include responsive-width($tablet_m) {
      min-width: 186px !important;
      height: 50px;
      margin-top: 50px;
    }
    @include responsive-width($laptop_s) {
      min-width: 176px !important;
      height: 55px;
      margin-top: 35px;
    }
    @include responsive-width($desktop_s) {
      margin-top: 40px;
    }
    span {
      font-size: 13px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: center;
      @include responsive-width($tablet_m) {
        font-size: 14px;
        line-height: 20px;  
      }
    }
  }
  small.tyc{
    color: #000002;
    display: block;
    text-align: left;
    position: absolute;
    bottom: -122px;
    min-width: 300px;
    @include responsive-width($tablet_m){
      margin-top: 1rem;
      margin-left: 5px;
      bottom: -44px;
      font-size: 10px;
    }
    a {
      text-decoration: none;
      color: #000002;
    }
  }
}