@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
            transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    }
  }
  
  @keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
  }
  .e-oyp-banner{
    background-color: $white;
    overflow: hidden;
    position: relative;
  
    @include responsive-width($tablet_m){
        background-color: $white;
    }

    &.no-whatsapp {
        .e-oyp-banner-form--header__whatsapp {
            display: none;
        }
    }
  
    &-content{
        position: relative;
        @include responsive-width($tablet_m){
          height: 750px;
          margin: 0 auto;
        }
        @include responsive-width($laptop_s){
          width: 1200px;
        }
        @include responsive-width($laptop_m){
          height: 740px;
        }
    }
    
    &-logo{
        display: none;
        position: absolute;
        z-index: 2;
        @include responsive-width($tablet_m){
            display: block;
            top: 3%;
            left: 3%;
        }
        @include responsive-width($laptop_m){
            left: 0%;
        }
  
        img{
            width: 100px;
  
            @include responsive-width($tablet_m){
                width: 150px;
            }
            @include responsive-width($laptop_m){
                width: 170px;
            }
        }
    }
  
    &-img{
        width: 383px;
        margin: 0 auto;
        margin-left: 0px;
        margin-bottom: 40px;
        @include responsive-width($mobile_m){
            margin-left: 24px;
        }
  
        @include responsive-width($mobile_l){
            margin-left: 52px;
        }
  
        @include responsive-width($tablet_m){
            position: absolute;
            z-index: 1;
            margin: 0;
            width: 379px;
            left: 50%;
            bottom: 0%;
            transform: translateX(2%);
        }
        @include responsive-width($laptop_s){
            bottom: initial;
            width: 710px;
            top: 0%;
            transform: translateX(-23%);
        }
        @include responsive-width(1200px){
            width: 881px;
            transform: translateX(-19%);
        }

        @include responsive-width(1400px){
            width: 1019px;
        }
    }
  
    &-form{
        height: 390px;
        background-color: $gray-form;
        position: relative;
        @include responsive-width($tablet_m){
            position: absolute;
            z-index: 5;
            width: 360px;
            height: 440px;
            left: 3%;
            top: 50%;
            transform: translateY(-50%);
            padding: 35px 30px 0px;
            border-radius: 10px;
        }
  
        @include responsive-width($laptop_m){
            left: 0%;
        }
  
        .entel-form-oyp {
            max-width: 320px;
            margin: 0 auto;
            padding: 30px 35px;
            @include responsive-width($tablet_m){
                max-width: none;
                margin: 0;
                padding: 0;
            }
            &-number{
                input[type=tel] {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    color: #002EFF;
                    outline: none;
                    width: 240px;
                    height: 41px;
                    padding: 12px 16px;
                    background: #fff;
                    border: 2px solid #9E9FA1;
                    border-radius: 12px;
                    font-family: Barlow,sans-serif;
                    margin-bottom: 10px;
    
                    &::placeholder{
                        font-weight: 400;
                    }
  
                    @include responsive-width($tablet_m){
                        width: 286px;
                    }
                }
            }
  
            .text-error{
                border: 2px solid #f46c8f;
            }
  
            &-check{
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 400;
                font-size: 10.5px;
                line-height: 11px;
                color: #9E9FA1;
                margin-bottom: 20px;
  
                @include responsive-width($tablet_m){
                    font-size: 12.5px;
                    line-height: 15px;
                }
  
                a{
                    color: #9E9FA1;
                    text-decoration: underline;
                }
  
            }
            &-btn{
                display: block;
                cursor: pointer;
                outline: none;
                width: 197px;
                height: 42px;
                margin: 0px auto;
                background: #002EFF;
                border-radius: 50px;
                border: 0;
                color: #fff;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                font-family: $font_family;
                margin-bottom: 20px;
            }
            
        }
  
        &--header{
            text-align: left;
            display: none;
  
            .form-title{
                font-family: $font_family;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 26px;
                margin-bottom: 14px;
                color: #000;
                
                @include responsive-width($tablet_m){
                    font-size: 31px;
                    line-height: 36px;
                    letter-spacing: -0.03em;
                }
            }
  
            &__no-inbound{
                display: none;
  
                p{
                    color: $black;
                    font-family: $font_family;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    margin: 0;
                    margin-bottom: 10px;
                }
            }
            
            &__inbound{
                margin-bottom: 10px;
                p{
                    font-family: $font_family;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    margin: 0;
                    color: #000;
                }
                a{
                    font-family: $font_family;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 108%;
                    color: #002EFF;
                }
            }
            &__whatsapp{
                margin-bottom: 10px;
                p{
                    color: #000;
                    margin: 0;
                    font-family: $font_family;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;
                    margin-bottom: 10px;
                }
  
                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    width: 197px;
                    margin: 0 auto;
                    border: 1px solid #42E8B4;
                    border-radius: 30px;
                    padding: 5px 0;
                    font-family: $font_family;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    color: #002EFF;
                }
            }
            &__disclaimer{
                font-family: $font_family;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #9E9FA1;
                text-align: left;
  
                @include responsive-width($tablet_m){
                    margin-top: 40px;
                }
                p{
                    margin: 0;
                    color: #9E9FA1;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                }
                a{
                    font-weight: 700;
                    text-decoration-line: underline;
                    color: #9E9FA1;
                }
            }
        }
  
        &--loading {
            display: none;
            text-align: center;
            img {
                width: 150px;
                margin-top: 30%;
                -webkit-animation: rotate-center 1.5s linear infinite;
                animation: rotate-center 1.5s linear infinite;
            }
        }
  
        &--message{
            display: none;
            text-align: center;
            img{
                width: 30%;
            }
            h5{
                font-weight: 500;
                font-size: 18px;
                line-height: 20px;
                margin: 10px 0;
                @include responsive-width($tablet_m){
                    font-size: 24px;
                }
            }
            p {
                font-family: $font_family;
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                color: $black;
  
                strong {
                    color: #002EFF;
                }
            }
        }
  
        &--linkmore{
            font-family: $font_family;
            font-size: 18px;
            line-height: 19px;
            font-weight: 700;
            color: $black;
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%);
            @include responsive-width($tablet_m){
                display: none;
            }
        }
        .active{
            display: block;
        }
    }
  
    &-legales{
        text-align: left;
        @include responsive-width($laptop_s){
            background-color: #F7F7F7;
            height: 85px;
            position: absolute;
            bottom: 0;
            z-index: 6;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .legales-mob{
            position: absolute;
            margin: 0;
            font-family: $font_family;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: #9E9FA1;
            top: 37%;
            left: 50%;
            transform: translateX(-91%);
            @include responsive-width($tablet_m){
                font-size: 16px;
                transform: none;
                left: 3%;
                top: 94%;
            }
            a {
                font-family: $font_family;
                font-weight: 700;
                color: #9E9FA1;
            }
            @include responsive-width($laptop_s){
                display: none;
            }
        }
  
        .legales-desk{
            display: none;
            margin: 0;
            @include responsive-width($laptop_s){
                display: block;
                font-family: $font_family;
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #9E9FA1;
                max-width: 950px;
            }
            @include responsive-width($laptop_m){
                max-width: 1200px;
            }
            a {
                font-family: $font_family;
                font-weight: 400;
                color: #9E9FA1;
            }
        }
    }
  }

  .e-llaa-cvm{
    .e-oyp-banner-img{
        width: 354px;
        margin: 0 auto;
        margin-top: 0px;
        margin-left: 20px;
        margin-bottom: 20px;
        @include responsive-width($mobile_m){
            margin-left: 47px;
        }
  
        @include responsive-width($mobile_l){
            margin-left: 71px;
        }
  
        @include responsive-width($tablet_m){
            position: absolute;
            z-index: 1;
            margin: 0;
            width: 738px;
            left: 50%;
            bottom: 0%;
            transform: translateX(-49%);
        }
        @include responsive-width($laptop_s){
            bottom: initial;
            width: 733px;
            top: 0%;
            transform: translateX(-23%);
        }
        @include responsive-width(1200px){
            width: 927px;
            transform: translateX(-19%);
        }

        @include responsive-width(1400px){
            width: 1103px;
        }
    }

    .legales-mob{
        top: 37%;
        transform: translateX(-87%);
        @include responsive-width($tablet_m){
            top: 94%;
            transform: none;
        }
        @include responsive-width($laptop_s){
            display: none;
        }
    }
  }
  
  
  