
.e-oyp-popup-bar{
    background: #F7F7F7;
    display: none; 

    @include responsive-width($tablet_m){
        display: none!important;
    }
    &-content{
        max-width: 280px;
        margin: 0 auto;
        height:55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-btn{
        a{
            display: block;
            color: #fff;
            padding: 5px 20px;
            background-color:#FF3D00;
            max-width: fit-content;
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            border-radius: 50px;
        }
    }
}

.e-oyp-popup{
    display: none;
    width: 310px;
    height: 346px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    z-index: 20;
    padding: 30px;

    &-close{
        width: 27px;
        height: 27px;
        color: #FF3D00;
        position: absolute;
        top: 12px;
        right: 8px;
        font-family: 'Barlow';
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        border-radius: 50%;
        border: 1px solid #FF3D00;
        text-align: center;

    }
}
.e-oyp-popup-form{
    &__content{
        &--header{
            display: none;
            .popup-title{
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 104.5%;
                color: #002EFF;
                text-align: left;
            }

            p{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 108%;
                color: #000;
                text-align: left;
                margin-top: 15px;
                margin-bottom: 18px;
            }

            .popup-number{
                input[type=tel] {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 17px;
                    color: #002EFF;
                    outline: none;
                    width: 249px;
                    height: 40px;
                    padding: 12px 16px;
                    background: #fff;
                    border: 2px solid #9E9FA1;
                    border-radius: 12px;
                    font-family: Barlow,sans-serif;
                    margin-bottom: 15px;
    
                    &::placeholder{
                        font-weight: 400;
                    }
                    
                }
            }

            .popup-check{
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 400;
                font-size: 11px;
                line-height: 15px;
                color: #002EFF;
                margin-bottom: 20px;
                text-align: left;
                a{
                    color: #00B8EA;
                    text-decoration: underline;
                }
            }

            .entel-popup-form{
                display: block;
                cursor: pointer;
                outline: none;
                width: 197px;
                height: 42px;
                margin: 0px auto;
                background: #002EFF;
                border-radius: 50px;
                border: 0;
                color: #fff;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                font-family: "Barlow", sans-serif;
                margin-bottom: 20px;
            }
        }
        &--loading{
            display: none;

            img{
                width: 150px;
                margin-top: 30%;
                margin-left: 20%;
                animation: rotate-center 1.5s linear infinite;
            }
        }
        &--message{
            display: none;
            text-align: center;
            img{
                width: 30%;
            }
            h5{
                font-weight: 500;
                font-size: 18px;
                line-height: 20px;
                margin: 10px 0;
                color: #000;
            }
            p {
                font-family: $font-family;
                font-weight: 500;
                font-size: 16px;
                line-height: 18px;
                color: #000;

                strong {
                    color: #000;
                }
            }
        }
    }

    .active{
        display: block;
    }
}
.popup-overlay {
    display: none;
    position: fixed;
    z-index : 19;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0.2s, opacity 0.2s;
}