// Color text
$text_list: (("white",$white),("blue",$blue),("extra-blue",$extra_blue),("orange",$orange),("default",$extra_light_black));
@each $text-nombre-list, $text-color-list in $text_list {
    .e-tc--#{$text-nombre-list} {
        color: $text-color-list!important;

        &:hover {
            color: $text-color-list!important;
        }
    }
}

// Theme
.e-convergente{
    &__section{
        padding-top: 50px;
        padding-bottom: 50px;

        @include responsive-width($tablet_m){
            padding-top: 60px;
            padding-bottom: 60px;
        }

        p{
            font-size: 14px;
            line-height: 1.3;
            color: $extra_light_black;
            
            @include responsive-width($tablet_m){
                font-size: 14px;
            } 
            @include responsive-width($laptop_s){
                font-size: 14px;
            } 
        }
        
        .e-title{
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 1.3;
            @include responsive-width($tablet_m){
                font-size: 24px;
            } 
            @include responsive-width($laptop_s){
                font-size: 34px;
            } 
        }

        .e-subtitle{
            color: $blue;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 1.3;
            margin-top: 30px;
            @include responsive-width($tablet_m){
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 35px;
            }
            @include responsive-width($laptop_s){
                font-size: 34px;
                font-weight: 600;
                margin-bottom: 50px;
            }
        }

        picture{
            display: inline-block;
        }

        //Slider
        .slick{
            &-dotted{
                padding-bottom: 30px;
            }
            &-dots{
                bottom: 0;
                left: 0;
            }
            // .arrow{
                
            // }
            // &-prev{
            //     left: -5px;
            // }
            // &-next{
            //     right: -5px;
            // }
        }

    }
}


//Anchos Fijos
$list-width: (0);
@each $width in $list-width {
    .e-w-#{$width}{width: $width * 1px; max-width:100%;}
}

//Margin
$list-margin: (0);
@each $margin in $list-margin {
    .e-mt-#{$margin}{margin-top: $margin * 1px;}
    .e-mr-#{$margin}{margin-right: $margin * 1px;}
    .e-mb-#{$margin}{margin-bottom: $margin * 1px;}
    .e-ml-#{$margin}{margin-left: $margin * 1px;}

    @include responsive-width($tablet_m){
        .e-mt-#{$margin}-768{margin-top: $margin * 1px;}
        .e-mr-#{$margin}-768{margin-right: $margin * 1px;}
        .e-mb-#{$margin}-768{margin-bottom: $margin * 1px;}
        .e-ml-#{$margin}-768{margin-left: $margin * 1px;}
    }
}

//Padding
$list-padding: (0);
@each $padding in $list-padding {
    .e-pt-#{$padding}{padding-top: $padding * 1px;}
    .e-pr-#{$padding}{padding-right: $padding * 1px;}
    .e-pb-#{$padding}{padding-bottom: $padding * 1px;}
    .e-pl-#{$padding}{padding-left: $padding * 1px;}

    @include responsive-width($tablet_m){
        .e-pt-#{$padding}-768{padding-top: $padding * 1px;}
        .e-pr-#{$padding}-768{padding-right: $padding * 1px;}
        .e-pb-#{$padding}-768{padding-bottom: $padding * 1px;}
        .e-pl-#{$padding}-768{padding-left: $padding * 1px;}
    }
}

//layout    
.e-m-auto{
    margin-left: auto;
    margin-right: auto;
}

//Index
.e-z-1{
    z-index: 1;
}

//text
.e-ta-c{
    text-align: center;
}

.e-ta-l{
    text-align: left;
}

.e-ta-r{
    text-align: right;
}

.e-fw-normal{
    font-weight: normal;
}

.e-fw-light{
    font-weight: lighter;
}


// Fuentes variables
@mixin fz($fzs,$fzm,$fzl){
    font-size: $fzs * 1px!important;
    @include responsive-width($tablet_m){
        font-size: $fzm * 1px!important;
    }
    @include responsive-width($laptop_s){
        font-size: $fzl * 1px!important;
    }
}
// @include fz(1,2,3);

@mixin w($w){
    width: $w * 1px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

//list

ul.e-list-icon {
  margin: 0;
  padding: 0;
  list-style: none;

  li{ 
    padding-left: 1em; 
    width: 100%; 
    position: relative;
    margin-bottom: 10px;
    
    &:before{
      content:'';
      background: $orange;
      top: 0.5em;
      position: absolute;
      left: 0;
      width: 0.3em;
      height: 0.3em;
      border-radius: 50%;
    }
    
  }
  
}

//Visibility
.e-hidden{
    overflow: hidden;
}

.e-t--hidden{
    visibility: hidden;
    margin: 0;
    height: 0;
}