.cyberwow{
    background-color: #0433FF !important;
    background-image: url('https://www.entel.pe/wp-content/uploads/2022/07/e-bg-cyberwow-mob.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 114px -13px;

    @include responsive-width($laptop-s){
        background-image: url('https://www.entel.pe/wp-content/uploads/2022/07/e-bg-cyberwow-desk.png');
        background-position: -114px -12px;
    }
    .e-container_bg{
      display: none;
    }

    .e-convergente-banner-image{
        top: 2%;
    }
}