&-discount {
  position: relative;

  p {
    @include fz(12,13,14);
  }

  &__slider{
    padding-top: 25px;
    @include responsive-width($laptop_s){
      margin-bottom: 35px;
    }

    &__card{
      @include w(310);
      position: relative;
      @include responsive-width($laptop_s){
        padding: 0 13px;
      }
      &.card--last{
        > div{
          padding-right: 24px;
        }
      }
      .small{
        @include w(280);
        font-size: 12px;
        text-align: left;
        margin-top: 15px;
      }
    }

    &__image{
      &-link{
        @include w(286);
        text-align: left;
        padding-left: 17px;
        bottom: 22%;
        position: absolute;
        left: 0;
        right: 0;
        @include responsive-width($laptop_s){
          padding-left: 28px;
        }
        @include responsive-width($laptop_m){
          padding-left: 19px;
        }
      }
    }

  }

  .e-link__anchor{
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
    @include fz(12,13,14);
  }
}
