&-functions {
  position: relative;
  background: #221E78;

  &-box {
    position: relative;
    padding-bottom: 30px;
    @include responsive-width($tablet_m){
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 50px;
    }
    @include responsive-width($laptop_s){
      padding-bottom: 60px;
    }
    &__img {
      position: absolute;
      left: 50%;
      top: 2px;
      margin-left: -122px;
      @include responsive-width($tablet_m){
        position: relative;
        top: 0;
        left: 0;
        margin-left: 0;
      }
    }
    &__text {
      text-align: center;
      @include responsive-width($tablet_m){
        width: 500px;
        text-align: left;
        margin-left: 30px;
      }
      @include responsive-width($laptop_s){
        margin-left: 50px;
      }
      h2 {
        color: #00B9EB;
        @include fz(24,26,34);
        font-weight: 500;
        text-align: left;
        padding-left: 70px;
        width: 250px;
        margin: 0 auto 20px;
        @include responsive-width($tablet_m){
          padding-left: 0;
          width: 100%;
        }
      }
      p {
        @include fz(14,15,16);
        color: $white;
        span{
          display: block;
          font-weight: 600;
          @include responsive-width($tablet_m){
            display: inline;
          }
        }
      }

      &__flag{
        text-align: center;
        @include responsive-width($tablet_m){
          text-align: left
        }
        p{
          @include fz(16,18,20);
          font-weight: bold;
          padding: 10px 15px;
          display: inline-block;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-image: m_image_url('2022/02/e-convergente-functions-flag.png');
          @include backgound_retina {
            background-image: m_image_url('2022/02/e-convergente-functions-flag@2x.png');
          }
        }
        
      }
    }
  }

  &-comparison {
    @include responsive-width($tablet_m){
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include responsive-width($laptop_s){
      @include w(970);
    }

    h3{
      @include fz(14,16,20);
      color: $white;
      text-align: center;
      font-weight: normal;
      margin-bottom: 20px;
      @include responsive-width($tablet_m){
        font-weight: 500;
      }
    }

    &__before{
      .value{
        b{
          display: block;
          @include fz(14,14,20);
          position: relative;
          &:before{
            content: "";
            background: #00B9EB;
            width: 24px;
            height: 1px;
            display: inline-block;
            vertical-align: middle;
            top: 50%;
            transform: translateY(-50%);
            margin-right: 5px;
            @include responsive-width($laptop_s){
              width: 22px;
            }
          }
          &:after{
            content: "";
            background: #00B9EB;
            width: 24px;
            height: 1px;
            display: inline-block;
            vertical-align: middle;
            top: 50%;
            transform: translateY(-50%);
            margin-left: 5px;
            @include responsive-width($laptop_s){
              width: 22px;
            }
          }
        }
      }
    }

    &__center{
      text-align: center;
      padding: 20px 0;
      position: relative;
      @include responsive-width($tablet_m){
        width: 120px;
        flex-shrink: 0;
      }
      svg{
        width: 36px;
        height: 36px;
        transform: rotate(90deg);
        margin-bottom: 10px;
        @include responsive-width($tablet_m){
          margin: 0;
          transform: none;
          width: 52px;
          height: 52px;
        }
      }
      p{
        color: $white;
        @include fz(12,14,16);
        @include w(125);
        padding: 15px 2px 12px;
        display: block;
        margin-bottom: 0;
        background-size: 100% 100%;
        background-image: m_image_url('2022/02/e-convergente-functions-flag-pink.png');
        @include backgound_retina {
          background-image: m_image_url('2022/02/e-convergente-functions-flag-pink@2x.png');
        }
        @include responsive-width($tablet_m){
          width: 105px;
          padding: 18px 10px 13px;
          line-height: 1.1;
          position: absolute;
          bottom: -90px;
          left: 0;
          right: 0;
        }
        span{
          @include responsive-width($tablet_m){
            display: block;
          }
          b{
            font-size: 16px!important;
            @include responsive-width($laptop_s){
              font-size: 22px!important;
            }
          }
        }
        
      }
    }
    &__after{
      .e-convergente-functions-comparison__box-card{
        background-image: m_image_url('2022/02/e-convergente-functions-card-lightblue.png');
        @include backgound_retina {
          background-image: m_image_url('2022/02/e-convergente-functions-card-lightblue@2x.png');
        }
      }
      .e-convergente-functions-comparison__box__total p{
        color: #00B9EB;
        border-color: #00B9EB;
      }
    }

    &__box{
      display: flex;
      justify-content: center;
      position: relative;
      padding-bottom: 30px;
      @include responsive-width($laptop_s){
        padding-bottom: 37px;
      }

      &-card{
        width: 130px;
        max-width: 100%;
        margin: 0 5px;
        padding: 0 5px;
        background-size: 100% 100%;
        background-image: m_image_url('2022/02/e-convergente-functions-card-blue.png');
        @include backgound_retina {
          background-image: m_image_url('2022/02/e-convergente-functions-card-blue@2x.png');
        }
        @include responsive-width($laptop_s){
          width: 199px;
          padding: 0 10px;
        }

        .title{
          @include fz(14,16,20);
          font-weight: bold;
          color: $white;
          text-align: center;
          margin-bottom: 0;
          padding: 15px 0;
          @include responsive-width($laptop_s){
            padding: 20px 0 18px;
          }
        }

        &__content{
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 175px;
          padding: 10px 0 20px;
          @include responsive-width($laptop_s){
            height: 260px;
            padding: 16px 2px 30px;
          }

          p{
            margin-bottom: 0;
          }
          
          .plan{
            @include fz(11,11,16);
            color: $blue;
            font-weight: 300;
            margin-bottom: 3px;
            @include responsive-width($laptop_s){
              line-height: 1.05;
            }
            span{
              font-weight: bold;
              position: relative;
              &:before{
                content: '';
                background: #F46C8F;
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0;
                top: 50%;
              }
            }
          }
          .price{
            @include fz(21,21,30);
            color: $blue;
            font-weight: 500;
            line-height: 1;
          }
          .value{
            @include fz(14,14,20);
            color: #00B9EB;
            font-weight: 600;
            b{
              font-weight: 800;
              &:before{
                content: "";
                background: #00B9EB;
                width: 12px;
                height: 1px;
                display: inline-block;
                vertical-align: middle;
                top: 50%;
                transform: translateY(-50%);
                margin-right: 5px;
                @include responsive-width($laptop_s){
                  width: 25px;
                }
              }
              &:after{
                content: "";
                background: #00B9EB;
                width: 12px;
                height: 1px;
                display: inline-block;
                vertical-align: middle;
                top: 50%;
                transform: translateY(-50%);
                margin-left: 5px;
                @include responsive-width($laptop_s){
                  width: 25px;
                }
              }
            }
          }
          .gb{
            @include fz(12,12,16);
            color: #191919;
            font-weight: 500;
            padding: 0 10px;
          }


        }

        &.card-discount{
          .price{
            @include fz(13,13,24);
            font-weight: 500;
            display: inline-block;
            color: $white;
            padding: 5px 13px;
            background-size: 100% 100%;
            background-image: m_image_url('2022/02/e-convergente-functions-bg-price.png');
            @include backgound_retina {
              background-image: m_image_url('2022/02/e-convergente-functions-bg-price@2x.png');
            }
            @include responsive-width($laptop_s){
              padding: 7px 13px 10px;
            }
            b{
              @include fz(16,16,24);
              font-weight: bold;
            }
          }
        }
        
      }

      &__total{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        p{
          color: #7EB1F6;
          @include fz(14,14,20);
          display: inline-block;
          background: $white;
          border: 1px dotted #7EB1F6;
          padding: 10px 25px;
          border-radius: 12px;
          font-weight: bold;
          margin-bottom: 0;
        }
      }

    }
  }

  &-bottom {
    text-align: center;
    padding-top: 50px;
    @include responsive-width($tablet_m){
      padding-top: 70px;
    }
    p{
      @include fz(16,17,20);
      color: $white;
      b{
        display: block;
        @include responsive-width($tablet_m){
          display: inline;
        }
      }
      &.small{
        @include fz(10,12,14);
      }
    }
    .e-button{
      margin-top: 10px;
      margin-bottom: 30px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      svg{
        width: 24px;
        height: 25px;
        margin-right: 10px;
      }
    }
  }
  .velocidad{
    color: #383C47;
    font-weight: 700;
  }
  .e-convergente-functions-comparison__box-card__content{
    picture{
      margin: auto;
      width: 97px;
      @include responsive-width($laptop_s){
        width: 148px;
      }
    }
  }
  .price-adjustment{
    @include responsive-width($laptop_s){
      margin-top: 7px;
      margin-bottom: 6px;
      display: block;
    }
  }
}
