@keyframes pulse-blue {
    0% {
        // transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    70% {
        // transform: scale(1);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        // transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}

.entel-fixed-inbound {
    display: none;
    // .entel-fixed-inbound_content {
    //     display: none;
    // }
    @include responsive-width($laptop-s){
        display: none;
    }
    .inbound-whats {
        width: 50px;
        height: 50px;
        padding: 5px;
        justify-content: center;
        align-items: center;
        position: fixed;
        display: flex;
        //bottom: 100px;
        bottom: 55%;
        z-index: 10;
        right: 18px;
        border: 4px solid #43D854;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0px rgba(0, 79, 184, 0.2);
        transform: scale(1) translateY(146%);
        animation: pulse-blue 2s infinite;
        background-color: #43D854;

        // @media screen and (min-width: $tablet-m) {
        //     width: 114px;
        //     height: 114px;
        //     bottom: 120px;
        // }
        @media screen and (min-width: $tablet-m) {
            width: 55px;
            height: 55px;
            border-radius: 50px;
            transform: none;
            bottom: 20px;
        }

        img {
            width: 27px;
            margin: 5px;
            
            @media screen and (min-width: $tablet-m) {
                width: 33px;
                margin: 0;
            }
            // @media screen and (min-width: $tablet-m) {
            //     width: 38px;
            //     margin: 3px;
            // }
        }

        a {
            width: 100%;
            height: 100%;
            display: flex;
            position: absolute;

        }

        p {
            margin: 0;
            padding: 0;
            line-height: 15px;
            font-size: 12.4px;
            text-align: center;
            font-family: Barlow;
            font-style: normal;
            font-weight: normal;

            @media screen and (min-width: $tablet-m) {
                font-size: 16px;
                line-height: 19px;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='27' height='26' viewBox='0 0 27 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.1381 -4.94932e-07C5.86878 -4.94932e-07 -5.08809e-07 5.70872 -5.08809e-07 12.7797C-5.08809e-07 15.5692 0.933669 18.1641 2.53424 20.3049L0.866978 25.0405L5.93547 23.4836C8.00288 24.8459 10.4704 25.6244 13.2047 25.6244C20.474 25.6244 26.3428 19.9156 26.3428 12.8446C26.2761 5.70872 20.4073 -4.94932e-07 13.1381 -4.94932e-07ZM20.8075 18.0344C20.474 18.8777 19.2069 19.6562 18.2065 19.8508C17.5396 19.9805 16.606 20.1103 13.6049 18.8777C9.73683 17.3208 7.26928 13.4933 7.06921 13.2338C6.86913 12.9744 5.53532 11.2228 5.53532 9.40641C5.53532 7.59 6.46899 6.68179 6.86913 6.29256C7.20259 5.9682 7.73611 5.83846 8.20295 5.83846C8.33633 5.83846 8.5364 5.83846 8.66978 5.83846C9.06992 5.83846 9.27 5.90333 9.53676 6.48718C9.87021 7.20077 10.6038 9.08205 10.7372 9.27666C10.8039 9.47128 10.9373 9.73077 10.8039 9.99026C10.6705 10.2497 10.6038 10.3795 10.4037 10.5741C10.2037 10.7687 10.0036 10.9633 9.80352 11.2228C9.60345 11.4174 9.40338 11.6769 9.67014 12.0013C9.87021 12.3905 10.6705 13.6231 11.8042 14.5962C13.2714 15.8936 14.4719 16.2828 14.872 16.4774C15.2055 16.6072 15.5389 16.6072 15.8057 16.3477C16.0724 16.0233 16.4726 15.5044 16.806 15.0503C17.0728 14.661 17.4063 14.661 17.7397 14.7908C18.0732 14.9205 19.9405 15.8287 20.3406 16.0233C20.7408 16.2179 21.0075 16.2828 21.0742 16.4774C21.1409 16.4126 21.1409 17.191 20.8075 18.0344Z' fill='white'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            width: 50px;
            height: 50px;
            // width: 100%;
            // height: 100%;
            @media screen and (min-width: $tablet-m) {
                flex-direction: row-reverse;
                justify-content: space-evenly;
            }
            // @media screen and (min-width: $tablet-m) {
            //     justify-content: center;
            // }
        }
    
    }

    .inbound-phone {
        width: 50px;
        height: 50px;
        padding: 5px;
        justify-content: center;
        align-items: center;
        position: fixed;
        display: flex;
        //bottom: 100px;
        bottom: 65%;
        z-index: 10;
        right: 18px;
        border: 4px solid #002EFF;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 0px rgba(0, 79, 184, 0.2);
        transform: scale(1) translateY(146%);
        animation: pulse-blue 2s infinite;
        background-color: #002EFF;

        // @media screen and (min-width: $tablet-m) {
        //     width: 114px;
        //     height: 114px;
        //     bottom: 120px;
        // }
        @media screen and (min-width: $tablet-m) {
            width: 55px;
            height: 55px;
            border-radius: 50px;
            transform: none;
            bottom: 85px;
        }

        img {
            width: 27px;
            margin: 5px;
            
            @media screen and (min-width: $tablet-m) {
                width: 33px;
                margin: 0;
            }
            // @media screen and (min-width: $tablet-m) {
            //     width: 38px;
            //     margin: 3px;
            // }
        }

        a {
            width: 100%;
            height: 100%;
            display: flex;
            position: absolute;

        }

        p {
            margin: 0;
            padding: 0;
            line-height: 15px;
            font-size: 12.4px;
            text-align: center;
            font-family: Barlow;
            font-style: normal;
            font-weight: normal;

            @media screen and (min-width: $tablet-m) {
                font-size: 16px;
                line-height: 19px;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='21' height='27' viewBox='0 0 21 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.3792 10.4143C17.3792 14.1627 14.3406 17.2013 10.5922 17.2013C6.84384 17.2013 3.80518 14.1627 3.80518 10.4143C3.80518 6.66592 6.84384 3.62726 10.5922 3.62726C14.3406 3.62726 17.3792 6.66592 17.3792 10.4143ZM10.5922 16.1395C13.7541 16.1395 16.3174 13.5762 16.3174 10.4143C16.3174 7.25237 13.7541 4.68912 10.5922 4.68912C7.43028 4.68912 4.86703 7.25237 4.86703 10.4143C4.86703 13.5762 7.43028 16.1395 10.5922 16.1395Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.4716 26.2692H2.71185C1.75418 26.2692 0.905323 25.4831 0.962713 24.4424C1.05091 22.8431 1.46091 20.7633 2.92064 19.0755C4.41167 17.3515 6.84101 16.2137 10.5917 16.2137C14.3424 16.2137 16.7718 17.3515 18.2628 19.0755C19.7225 20.7633 20.1325 22.8431 20.2207 24.4424C20.2781 25.4831 19.4292 26.2692 18.4716 26.2692ZM18.4716 25.2074H2.71185C2.32088 25.2074 2.00143 24.8913 2.02296 24.5009C2.18738 21.5192 3.53782 17.2756 10.5917 17.2756C17.6456 17.2756 18.996 21.5192 19.1605 24.5009C19.182 24.8913 18.8625 25.2074 18.4716 25.2074Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5362 1.94647C6.36116 1.94647 3.02914 5.13575 3.02914 9.00697H1.96729C1.96729 4.49293 5.83272 0.884613 10.5362 0.884613C15.2397 0.884613 19.1051 4.49293 19.1051 9.00697H18.0432C18.0432 5.13575 14.7112 1.94647 10.5362 1.94647Z' fill='white'/%3E%3Cpath d='M1.38232 8.33697C1.38232 7.7204 1.88215 7.22058 2.49871 7.22058V7.22058C3.11527 7.22058 3.6151 7.7204 3.6151 8.33697V11.0163C3.6151 11.6329 3.11527 12.1327 2.49871 12.1327V12.1327C1.88215 12.1327 1.38232 11.6329 1.38232 11.0163V8.33697Z' fill='white'/%3E%3Cpath d='M12.1443 12.6408C12.594 12.6071 12.9858 12.9443 13.0195 13.3939V13.3939C13.0532 13.8436 12.716 14.2354 12.2664 14.2691L11.0269 14.3621C10.5772 14.3958 10.1854 14.0586 10.1517 13.6089V13.6089C10.1179 13.1593 10.4551 12.7674 10.9048 12.7337L12.1443 12.6408Z' fill='white'/%3E%3Cpath d='M17.6821 8.33697C17.6821 7.7204 18.182 7.22058 18.7985 7.22058V7.22058C19.4151 7.22058 19.9149 7.7204 19.9149 8.33697V11.0163C19.9149 11.6329 19.4151 12.1327 18.7985 12.1327V12.1327C18.182 12.1327 17.6821 11.6329 17.6821 11.0163V8.33697Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.0448 12.5326V10.571H19.1067V13.5214L12.3618 14.0031L12.2861 12.944L18.0448 12.5326Z' fill='white'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            width: 50px;
            height: 50px;
            // width: 100%;
            // height: 100%;
            @media screen and (min-width: $tablet-m) {
                flex-direction: row-reverse;
                justify-content: space-evenly;
            }
            // @media screen and (min-width: $tablet-m) {
            //     justify-content: center;
            // }
        }
    }

    .inbound-content-mobile {
        height: 0;
        overflow: hidden;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;

        a {
            display: flex;
            padding: 16px 0;
            margin: 10px 0;
            background-color: #fff;
            border-radius: 10px;
            text-decoration: none;
            width: 300px;
            justify-content: center;
            align-items: center;
            font-family: Barlow;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 112%;
            color: #0E73E7;

            img {
                margin-right: 10px;
            }
        }
    }

    .inbound-content-desk {
        width: 310px;
        height: 0;
        overflow: hidden;
        border-radius: 10px 10px 0 0;
        position: fixed;
        z-index: 10;
        bottom: 0;
        right: 20px;

        .inbound-content-desk__title {
            position: relative;
            background-color: #7EB1F6;

            img {
                position: absolute;
                right: 5px;
                top: 5px;
                z-index: 5;
            }

            p {
                margin: 0;
                padding: 20px 0;
                font-family: Barlow;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: #fff;
                text-align: center;
            }
        }

        .inbound-content-desk__phone {
            background-color: #004FB9;
            overflow: auto;

            a {
                display: flex;
                width: 212px;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                font-family: Barlow;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: #fff;
                margin: 40px auto;
                border: solid 1px #fff;
                border-radius: 50px;
                padding: 10px 0;

                img {
                    margin-right: 10px;
                }
            }
        }

    }
}