&-faqs {
    background: $white;
}
&-tyc {
    background: #F3F7F9;
}
&-faqs,&-tyc  {
    position: relative;

    h2{
        margin-bottom: 40px;
        @include responsive-width($tablet_m){
            margin-bottom: 50px;
        }
        @include responsive-width($laptop_s){
            margin-bottom: 60px;
        }
    }

    .e-content-editor{

        a{
            font-weight: 500;
            color: $orange!important;
            &:hover{
                color: $orange!important;
                font-weight: bold;
            }
            &:after{
                background-color: $orange;
            }
        }

        p,ul,li,a,th,td{
            @include fz(10,12,14);
            line-height: 1.3;
            margin-bottom: 2px;
            color: #383C47;

            & + h4, & + h5, & + h6{
                margin-top: 20px;
                margin-bottom: 15px;
            }
            ul{
                margin-left: 20px;
                margin-top: 0;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
          
            li{ 
                padding-left: 1em; 
                width: 100%; 
                position: relative;
                
                &:before{
                    content:'';
                    background: $orange;
                    top: 0.5em;
                    position: absolute;
                    left: 0;
                    width: 0.3em;
                    height: 0.3em;
                    border-radius: 50%;
                }
              
            }
            
        }

        h4{
            @include fz(14,15,15);
        }
        h5{
            @include fz(13,14,14);
            color: $orange;
        }
        h6{
            @include fz(12,13,13);
        }

        .e-img-wrapper{
            margin: 30px 0;
            width: 100%;
            text-align: center;
        }
        .e-table-wrapper{
            margin: 30px 0;
            width: 100%;
            overflow-x: auto;

            table {
                border-collapse: separate;
                border-spacing: 0;
                background: $white;
                width: auto;
                max-width: 100%;
                margin: 0 auto;
                
                thead {
                    th{
                        text-align: center;
                        color: $white;
                        background-color: $blue;
                        font-weight: 400;
                        border-left: 1px solid $sky_light_blue;
                        &:first-child{
                            border-left: 0;
                            border-top-left-radius: 10px;
                        }
                        &:last-child{
                            border-top-right-radius: 10px;
                        }
                    }
                }

                tbody{
                    tr{
                        td{
                            background-color: $white;
                            border-bottom: 1px solid $sky_light_blue;
                            border-left: 1px solid $sky_light_blue;
                            color: $blue;
                            &:last-child{
                                border-right: 1px solid $sky_light_blue;
                            }
                        }
                    }
                }
            }
        }
        //TABLE
        .entel-table {
            width: 100%;
            margin-bottom: 35px;
            border: 0;
            max-width: 320px;
            border: 1px solid $blue;
            border-radius: 10px;
            overflow: hidden;
        
            &.mobile-none {
            display: table;
        
            @media (min-width: 730px) {
                display: none;
                max-width: 410px;
            }
        
            tbody {
                tr {
                td {
                    width: 33%;
                }
                }
            }
        
            }
            &.mobile-show {
            display: none;
        
            @media (min-width: 730px) {
                display: table;
            }
            }
        
            tbody {
            td {
                text-align: center;
                padding: 21px 7px;
                font-size: 13px;
                background: transparent;
                border-bottom: 1px solid #04478B;
                border-left: 0;
                border-right: 0;

                // &:last-child {
                //     border-bottom: 0;
                // }
        
                @media (min-width: 730px) {
                font-size: 13px;
                }
        
                &.entel-table-blue {
                padding: 7px;
                font-size: 14px;
                text-align: center;
                color: #fff;
                background-color: #004fb9;
                font-weight: bold;
                }
        
                &.entel-table-blue-title {
                padding: 7px;
                font-size: 14px;
                text-align: center;
                color: #fff;
                background-color: #0436A1;
                font-weight: bold;
                }
            }
        
            tr {
                .mobile-none {
                display: none;
        
                @media (min-width: 730px) {
                    display: table-cell;
                }
                }
        
                &:first-child {
                td {
                    border-left: 0;
                    border-right: 0;
                    border-bottom: 1px solid #04478B;
                }
                }
        
                &:last-child {
                td {
                    border-bottom: none;
                }
                }
            }
            }
        }

    }

}


