&-plans {
  position: relative;

    .e-title {
        color: $black;    
    }

  .e-box-plan {
    max-width: 255px;
    position: relative;
    background: $white;
    margin: 3rem auto 4rem;
    border-radius: 20px;
    border: 1px solid #c9def8;
    transition: all 200ms ease 0s;
    overflow: hidden;

    &:hover {
        transform: scale(1.05) translateY(-1px);
    }

    &__content {
        // min-height: 228px;
    }

    &__title {
        // background: $color-bluenew;
        // color: $white;
        font-weight: 300;
        font-size: 14px;
        color: $black;
        padding: 20px 18px 0px;
        margin: 0;
        display: flex;
        text-align: left;
        position: relative;

        // span {
        //     width: 19px;
        //     height: 17px;
        //     display: block;
        //     margin-left: 6px;
        //     // position: absolute;
        //     // top: 20px;
        //     // right: 137px;

        //     background-image: url("data:image/svg+xml,%3Csvg width='19' height='17' viewBox='0 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.58953 9.66634C6.71911 10.0896 6.78389 10.4999 6.78389 10.8973C6.78389 11.3378 6.71479 11.7352 6.57658 12.0893C6.3779 12.6422 6.02806 13.0827 5.52705 13.411C5.02604 13.7306 4.43864 13.8904 3.76487 13.8904C3.10837 13.8904 2.52962 13.7349 2.02861 13.4239C1.53624 13.1043 1.18639 12.6724 0.979079 12.1282C0.892698 11.9036 0.827912 11.6661 0.784721 11.4156V11.3896C0.784721 11.2946 0.83655 11.2471 0.940207 11.2471H2.50803C2.59441 11.2471 2.65055 11.2946 2.67647 11.3896C2.68511 11.4415 2.69806 11.4847 2.71534 11.5192C2.73262 11.5538 2.74557 11.584 2.75421 11.6099C2.84059 11.8345 2.97016 12.0073 3.14293 12.1282C3.31569 12.2491 3.51868 12.3096 3.75191 12.3096C3.99378 12.3096 4.20541 12.2448 4.38682 12.1153C4.56822 11.9857 4.70211 11.8043 4.78849 11.571C4.87487 11.3983 4.91806 11.1737 4.91806 10.8973C4.91806 10.6468 4.87919 10.4222 4.80144 10.2235C4.74098 9.99891 4.62004 9.82615 4.43864 9.70522C4.25724 9.58428 4.04561 9.52382 3.80374 9.52382C3.56188 9.52382 3.33728 9.57996 3.12997 9.69226C2.92265 9.80455 2.78444 9.9514 2.71534 10.1328C2.68943 10.2192 2.63328 10.2624 2.5469 10.2624H0.953165C0.909974 10.2624 0.871102 10.2494 0.83655 10.2235C0.810636 10.189 0.797679 10.1501 0.797679 10.1069V4.88515C0.797679 4.84196 0.810636 4.8074 0.83655 4.78149C0.871102 4.74694 0.909974 4.72966 0.953165 4.72966H6.30448C6.34767 4.72966 6.38222 4.74694 6.40813 4.78149C6.44269 4.8074 6.45996 4.84196 6.45996 4.88515V6.14199C6.45996 6.18518 6.44269 6.22406 6.40813 6.25861C6.38222 6.28452 6.34767 6.29748 6.30448 6.29748H2.68943C2.64624 6.29748 2.62464 6.31907 2.62464 6.36227L2.61168 8.27993C2.61168 8.34039 2.6376 8.35335 2.68943 8.3188C3.07814 8.06829 3.52732 7.94304 4.03697 7.94304C4.64164 7.94304 5.16856 8.09853 5.61775 8.4095C6.07557 8.71183 6.3995 9.13078 6.58953 9.66634ZM11.2096 13.9033C10.5444 13.9033 9.95705 13.7694 9.4474 13.5017C8.93775 13.2339 8.5404 12.8624 8.25534 12.3874C7.97892 11.9036 7.84071 11.3465 7.84071 10.7159V7.81347C7.84071 7.18289 7.97892 6.62573 8.25534 6.14199C8.5404 5.65826 8.93775 5.28682 9.4474 5.02768C9.95705 4.7599 10.5444 4.626 11.2096 4.626C11.8661 4.626 12.4448 4.75558 12.9458 5.01472C13.4555 5.27386 13.8485 5.62803 14.1249 6.07721C14.41 6.51775 14.5525 7.01012 14.5525 7.55433V7.64503C14.5525 7.68822 14.5353 7.72709 14.5007 7.76164C14.4748 7.78755 14.4402 7.80051 14.397 7.80051H12.8811C12.8379 7.80051 12.799 7.78755 12.7644 7.76164C12.7385 7.72709 12.7256 7.68822 12.7256 7.64503V7.60615C12.7256 7.2088 12.5874 6.87623 12.3109 6.60845C12.0345 6.33203 11.6674 6.19382 11.2096 6.19382C10.7431 6.19382 10.3674 6.34067 10.0823 6.63437C9.80588 6.91942 9.66767 7.29518 9.66767 7.76164V10.7677C9.66767 11.2342 9.81884 11.6142 10.1212 11.9079C10.4235 12.193 10.8079 12.3355 11.2744 12.3355C11.7235 12.3355 12.082 12.2189 12.3498 11.9857C12.6176 11.7438 12.7515 11.4112 12.7515 10.988V10.4049C12.7515 10.3617 12.7299 10.3401 12.6867 10.3401H11.2355C11.1923 10.3401 11.1534 10.3272 11.1189 10.3012C11.093 10.2667 11.08 10.2278 11.08 10.1846V8.99257C11.08 8.94938 11.093 8.91483 11.1189 8.88891C11.1534 8.85436 11.1923 8.83709 11.2355 8.83709H14.397C14.4402 8.83709 14.4748 8.85436 14.5007 8.88891C14.5353 8.91483 14.5525 8.94938 14.5525 8.99257V10.7029C14.5525 11.3594 14.4143 11.9295 14.1379 12.4133C13.8615 12.897 13.4684 13.2684 12.9588 13.5276C12.4578 13.7781 11.8747 13.9033 11.2096 13.9033Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.0327 3.17865C14.5751 3.04128 15.924 4.18303 16.06 5.74101C16.0783 5.94999 15.9254 6.13434 15.7185 6.15276C15.5116 6.17119 15.3291 6.01671 15.3108 5.80773C15.2113 4.66772 14.2274 3.83491 13.0988 3.93543C12.8919 3.95385 12.7094 3.79938 12.6912 3.5904C12.6729 3.38142 12.8258 3.19707 13.0327 3.17865Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.3204 1.06936C15.7414 0.853748 17.8743 2.65908 18.0878 5.10455C18.106 5.31353 17.9531 5.49788 17.7462 5.51631C17.5393 5.53473 17.3568 5.38026 17.3385 5.17128C17.1616 3.14377 15.3937 1.64738 13.3864 1.82615C13.1795 1.84457 12.997 1.6901 12.9788 1.48112C12.9606 1.27214 13.1135 1.08779 13.3204 1.06936Z' fill='black'/%3E%3C/svg%3E%0A");
        //     background-repeat: no-repeat;
        // }

        // &.extrablue {
        //     background-color: $extra-blue;
        // }
    }

    &__dto {
        position: relative;
        padding: 3px;
        margin: 0;
        width: 60px;
        background: #C9DEF8;
        border-radius: 4px;
        position: absolute;
        top: 0px;
        right: 60px;
        
        // &::before {
        //     content: '';
        //     width: 4px;
        //     height: 20px;
        //     display: block;
        //     position: absolute;
        //     top: 18px;
        //     left: 78px;

        //     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='4' height='20' viewBox='0 0 4 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 19.0001H2.65561C2.01766 19.0001 1.5 18.4562 1.5 17.7859V2.21431C1.5 1.54402 2.01766 1.00012 2.65561 1.00012H3.2501' stroke='%2300B8EA' stroke-width='1.1184' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
        //     background-repeat: no-repeat;
        // }

        // &::after {
        //     content: '';
        //     width: 4px;
        //     height: 20px;
        //     display: block;
        //     position: absolute;
        //     top: 18px;
        //     right: 78px;

        //     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='4' height='20' viewBox='0 0 4 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 1.00012H1.34439C1.98234 1.00012 2.5 1.54402 2.5 2.21431V17.7859C2.5 18.4562 1.98234 19.0001 1.34439 19.0001H0.749905' stroke='%2300B8EA' stroke-width='1.1184' stroke-miterlimit='10'/%3E%3C/svg%3E");
        //     background-repeat: no-repeat;
        // } 

        p {
            text-align: center;
            margin: 0;
            color: $color-bluenew;
            font-weight: 500;
            font-size: 10px;

            strong {
                color: $color-bluenew;
                font-size: 10px;
                font-weight: 700; 
            }
        }

        &.empty-block {
            padding: 29px 0;

            &::before,
            &::after {
                display: none;
            }
        }
    }

    &__gb {
        // background: $color-bluenew;
        // color: $white;
        padding: 12px 0 16px 18px;
        margin: 0;
        display: flex;
        justify-content: left;
        text-align: left;
        flex-direction: column;

        // &__extra {
        //     display: block;
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     font-size: 14px;
        //     font-weight: 700;
        //     padding: 15px 8px;
        //     background: #F36C8E;

        //     -webkit-border-bottom-left-radius: 20px;
        //     -moz-border-bottom-left-radius: 20px;
        //     border-bottom-left-radius: 20px;
        // }

        &__amount {
            position: relative;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 14px;
                width: 46px;
                height: 46px;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='46' height='46' rx='6.9' fill='%23002EFF'/%3E%3Cpath d='M19.6983 26.3657L20.4178 20.6074C19.5374 20.0565 18.503 19.7802 17.3145 19.7787C16.2074 19.7698 15.1191 20.0656 14.1688 20.6338C14.1486 20.6521 14.1238 20.6647 14.0971 20.6702C14.0705 20.6756 14.0428 20.6738 14.017 20.6649C13.9757 20.6442 13.9653 20.5936 13.986 20.512L14.5354 16.0847C14.5756 15.9617 14.6503 15.9008 14.7492 15.9008H21.7441C21.8453 15.7284 21.951 15.556 22.0625 15.3928C22.4956 14.7548 23.0151 14.18 23.6061 13.6848L23.721 12.7263C23.7624 12.3815 23.6188 12.2068 23.2935 12.2068H11.3574C11.0119 12.2068 10.8203 12.3799 10.7827 12.7263L9.3426 24.5118C9.28207 24.8573 9.42459 25.0301 9.77016 25.0301H13.1895C13.4347 25.0301 13.6485 24.8979 13.8308 24.6336C14.0862 24.255 14.4454 23.9581 14.8653 23.7785C15.3014 23.5935 15.7708 23.5 16.2445 23.5038C16.8575 23.5038 17.3509 23.6463 17.7249 23.9313C17.9156 24.0786 18.0748 24.2626 18.1933 24.4725C18.3117 24.6823 18.3869 24.9137 18.4145 25.1531C18.484 25.4939 18.5247 25.8399 18.5363 26.1875C18.5296 26.4024 18.5093 26.6166 18.4754 26.8289C18.409 27.2604 18.2857 27.6813 18.1087 28.0805C18.0478 28.2023 17.9455 28.3966 17.8042 28.6552C17.5776 29.0817 17.2401 29.4391 16.8272 29.6896C16.41 29.9363 15.9326 30.0628 15.448 30.0551C14.8779 30.0551 14.4097 29.913 14.0435 29.6287C13.665 29.3234 13.4145 28.8876 13.3412 28.4069C13.2998 28.2851 13.2596 28.1426 13.2194 27.9794C13.2173 27.9185 13.2028 27.8588 13.1767 27.8038C13.1507 27.7488 13.1136 27.6998 13.0678 27.6597C13.022 27.6197 12.9685 27.5894 12.9105 27.5708C12.8526 27.5523 12.7915 27.5458 12.7309 27.5518H9.43456C9.36145 27.5482 9.2884 27.5599 9.2201 27.5862C9.15181 27.6126 9.08978 27.6529 9.03803 27.7047C8.98627 27.7564 8.94593 27.8184 8.9196 27.8867C8.89327 27.955 8.88154 28.0281 8.88516 28.1012C8.90754 28.6218 8.98771 29.1384 9.12423 29.6413C9.41333 30.8693 10.1408 31.9495 11.1701 32.6791C12.2083 33.4216 13.4807 33.7928 14.9871 33.7928C16.458 33.8085 17.9032 33.4063 19.1547 32.6331C19.715 32.2917 20.2271 31.8769 20.6776 31.3998C19.9879 30.3309 19.6328 29.046 19.6328 27.5587C19.6261 27.16 19.648 26.7613 19.6983 26.3657Z' fill='white'/%3E%3Cpath d='M36.2813 15.0009C35.7041 14.0691 34.8721 13.322 33.8837 12.8482C32.8462 12.3302 31.6352 12.0708 30.2506 12.0701C28.8125 12.05 27.3899 12.3689 26.098 13.0011C24.8773 13.6039 23.8354 14.5152 23.0752 15.6446C22.2874 16.8231 21.7954 18.1743 21.6408 19.5834L20.7903 26.4198C20.7428 26.7944 20.7224 27.172 20.7293 27.5496C20.7293 29.4843 21.345 31.0314 22.5764 32.1907C23.8077 33.35 25.472 33.9301 27.5692 33.9308C29.8886 33.9308 31.8271 33.2592 33.3849 31.916C34.9427 30.5728 35.8621 28.7307 36.1434 26.3899L36.6318 22.512C36.6732 22.1664 36.52 21.9932 36.1721 21.9925H29.2415C28.9151 21.9925 28.7323 22.166 28.6909 22.512L28.3864 25.0153C28.3254 25.3601 28.4668 25.5348 28.8139 25.5348H31.9586C32.0597 25.5348 32.1114 25.5957 32.1114 25.7175L31.9275 27.0611C31.8057 28.0572 31.4088 28.8357 30.7368 29.3966C30.0648 29.9575 29.2108 30.2391 28.1749 30.2414C27.2171 30.2414 26.4386 29.9514 25.8394 29.3713C25.2402 28.7913 24.9398 28.0331 24.9383 27.0968C24.9348 26.9131 24.9448 26.7295 24.9682 26.5474L25.8233 19.4627C25.9658 18.3639 26.3984 17.4736 27.1209 16.7916C27.8435 16.1097 28.7342 15.7687 29.7932 15.7687C30.7701 15.7687 31.5333 16.0369 32.0827 16.5732C32.6321 17.1096 32.9068 17.8069 32.9068 18.6651C32.9096 18.8082 32.8996 18.9513 32.8769 19.0926L32.8459 19.3064C32.8252 19.3673 32.8619 19.4214 32.9527 19.4742C33.0617 19.5287 33.1827 19.5547 33.3044 19.5501H36.479C36.8054 19.5501 36.9969 19.3773 37.0536 19.0317V18.9697C37.0885 18.6862 37.1088 18.4012 37.1146 18.1157C37.1339 17.0199 36.8452 15.9407 36.2813 15.0009Z' fill='white'/%3E%3C/svg%3E");
            }

            p {
                font-size: 36px;
                font-weight: 700;
                line-height: 38px;
                letter-spacing: -0.025em;
                margin: 0;
                color: $black;
            }
            
            &.small {
                bottom: auto !important;
                p {
                    font-size: 26px;
                }
            }
        }

        &__subfix {
            p {
                color: $black;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.04em;
                line-height: 17px;
                margin: 0;
            }
        }      

        &.e-gb-ili {
            padding: 12px 0 11px 33px;
            font-size: 17px;
            font-weight: 300;
            letter-spacing: 0.06em;
            line-height: 17px;
            display: block;

            span {
                font-weight: 500;
                font-size: 30px;
                letter-spacing: -0.025em;
                line-height: 30px;
            }
        }
    }

    &__prices {
        padding-bottom: 10px;
        p {
            margin: 0 0 0 18px;
            text-align: left;
            color: $black;
        }

        .blue {
            color: $color-bluenew;
        }
    }

    &__apps {
        margin: 0 18px;
        padding: 16px 0 0 26px;
        text-align: left;
        color: $black;
        display: flex;
        justify-content: space-between;

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.3125 2.93461C2.58763 2.93461 2 3.56227 2 4.33652V11.8134C2 12.5876 2.58763 13.2153 3.3125 13.2153H3.75V15.0637C3.75 15.8414 4.58745 16.2789 5.1622 15.8014L8.15662 13.3137C8.23342 13.2499 8.32793 13.2153 8.42522 13.2153H14.6875C15.4124 13.2153 16 12.5876 16 11.8134C16 11.5553 15.8041 11.3461 15.5625 11.3461C15.3209 11.3461 15.125 11.5553 15.125 11.8134C15.125 12.0715 14.9291 12.2807 14.6875 12.2807H8.42522C8.13335 12.2807 7.84981 12.3846 7.61942 12.576L4.625 15.0637V13.2153C4.625 12.6991 4.23325 12.2807 3.75 12.2807H3.3125C3.07088 12.2807 2.875 12.0715 2.875 11.8134V4.33652C2.875 4.07844 3.07088 3.86922 3.3125 3.86922H9.875C10.1166 3.86922 10.3125 3.66 10.3125 3.40191C10.3125 3.14383 10.1166 2.93461 9.875 2.93461H3.3125Z' fill='%23002EFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9852 2.0529C11.0397 2.02246 11.101 2.00394 11.1661 2.00059C11.1756 2.00008 11.1851 1.9999 11.1945 2.00005C11.456 2.001 11.8501 2.05504 12.1971 2.23298C12.5575 2.41774 12.9375 2.78264 12.9375 3.40195C12.9375 3.40194 12.9375 3.40196 12.9375 3.40195V4.8039H14.5296C15.3406 4.8039 15.9576 5.58177 15.8242 6.43629L15.2409 10.1747C15.1354 10.8507 14.5879 11.3462 13.9463 11.3462H9.79994C9.45184 11.3462 9.118 11.1985 8.87186 10.9355L8.85852 10.9213C8.7024 11.1771 8.43218 11.3462 8.125 11.3462H7.25C6.76675 11.3462 6.375 10.9277 6.375 10.4116V6.67312C6.375 6.15695 6.76675 5.73851 7.25 5.73851H8.125C8.44208 5.73851 8.71976 5.91865 8.87324 6.18834C9.49537 6.11664 10.0053 5.82559 10.3453 5.3413C10.7435 4.77415 10.9609 3.86716 10.7572 2.55226C10.7547 2.53747 10.7528 2.52244 10.7516 2.5072C10.7473 2.45483 10.7514 2.40344 10.7628 2.35467C10.7811 2.27582 10.8181 2.20486 10.8685 2.14751C10.9018 2.1096 10.9411 2.07744 10.9852 2.0529ZM11.6918 3.02131C11.7787 4.21556 11.5453 5.19004 11.0453 5.90206C10.5444 6.61549 9.8139 7.01088 9 7.11338V9.75068L9.49058 10.2747C9.57263 10.3623 9.68391 10.4116 9.79994 10.4116H13.9463C14.1601 10.4116 14.3427 10.2464 14.3778 10.0211L14.9611 6.28264C15.0056 5.9978 14.7999 5.73851 14.5296 5.73851H12.9375C12.4543 5.73851 12.0625 5.32007 12.0625 4.8039V3.40199C12.0625 3.402 12.0625 3.40197 12.0625 3.40199C12.0625 3.27361 12.005 3.17118 11.8185 3.07555C11.7784 3.05501 11.7358 3.03699 11.6918 3.02131ZM8.125 6.67312H7.25V10.4116H8.125V6.67312Z' fill='%23002EFF'/%3E%3C/svg%3E");

        background-repeat: no-repeat;
        background-position: 1px 18px;

        strong {
            // font-size: 20px;
            font-weight: 500;
        }

        a {
            text-decoration: underline;
            font-weight: 500;
            font-size: 14px;
            color: $orange;
            text-align: right;
        }
    }

    &__flags {
        // min-height: 72px;
        margin: 0 18px;
        padding: 11px 0 0 26px;
        text-align: left;
        color: $black;
        // border-bottom: 1px solid #DDDDDD;

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4615 2H6.53846C6.13044 2 5.73912 2.16761 5.4506 2.46597C5.16209 2.76432 5 3.16897 5 3.59091V14.4091C5 14.831 5.16209 15.2357 5.4506 15.534C5.73912 15.8324 6.13044 16 6.53846 16H11.4615C11.8696 16 12.2609 15.8324 12.5494 15.534C12.8379 15.2357 13 14.831 13 14.4091V3.59091C13 3.16897 12.8379 2.76432 12.5494 2.46597C12.2609 2.16761 11.8696 2 11.4615 2ZM9 15.4091C8.48923 15.4091 8.07692 14.9827 8.07692 14.4545C8.07692 13.9264 8.48923 13.5 9 13.5C9.51077 13.5 9.92308 13.9264 9.92308 14.4545C9.92308 14.9827 9.51077 15.4091 9 15.4091ZM12 13H9H6V4H12V13Z' fill='%23002EFF'/%3E%3C/svg%3E");

        background-repeat: no-repeat;
        background-position: 1px 12px;

        strong {
            font-size: 14px;
            font-weight: 500;
        }

        .e-icon-flags {
            strong {
                font-size: 12px;
                font-weight: 300;
                color: #9E9FA1;
                letter-spacing: -.01em;
            }

            // div {
            //     background-repeat: no-repeat;
            //     width: 23px;
            //     height: 23px;
            //     margin-right: 2px;
            //     display: inline-block;
            //     position: relative;
            //     vertical-align: top;
            //     margin-top: 5px;

            //     span {
            //         position: absolute;
            //         bottom: -12px;
            //         left: 50%;
            //         font-size: 12px;
            //         transform: translateX(-50%); 
            //     }

            //     strong {
            //         position: absolute;
            //         top: 50%;
            //         right: 0;
            //         font-size: 12px;
            //         font-weight: normal;
            //         transform: translate(103%, -50%); 
            //         width: 200px;
            //     }
            // }

            // &__peru {
            //     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='21' height='14' viewBox='0 0 21 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='7' height='14' fill='%23FD071E'/%3E%3Crect x='14' width='7' height='14' fill='%23FD071E'/%3E%3C/svg%3E");
            // }
 
            // &__canada {
            //     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='21' height='14' viewBox='0 0 21 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='5' height='14' fill='%23FD071E'/%3E%3Crect x='16' width='5' height='14' fill='%23FD071E'/%3E%3Cpath d='M10.2094 9.46331C10.3477 9.48637 10.267 11.1632 10.2094 11.9987H10.4398H10.5839C10.5262 11.372 10.519 9.50646 10.5839 9.46331C10.6272 9.43444 10.9754 9.47232 11.2033 9.50646C11.4914 9.5496 12.3029 9.67458 12.8888 9.78021C12.8888 9.72257 12.8281 9.5561 12.7447 9.29037C12.6295 8.92303 12.8132 8.81012 12.8888 8.74295C13.0962 8.55855 14.4157 7.49449 15.0496 6.98551L14.675 6.81262C14.5598 6.74059 14.4446 6.69737 14.5022 6.49573C14.5483 6.33442 14.7903 5.46821 14.9055 5.05526C14.5598 5.15129 13.818 5.304 13.6378 5.34334C13.4074 5.39367 13.3857 5.40807 13.2921 5.12716C13.2189 4.90744 13.2201 4.83905 13.1769 4.70949C12.956 5.00718 12.3721 5.56166 12.1613 5.76821C11.8083 6.11395 11.7913 6.10861 11.8588 5.60257C11.9164 5.17038 12.1397 3.8451 12.2261 3.21124L12.2261 3.21126C12.1108 3.2785 11.8803 3.41298 11.5995 3.58583C11.3732 3.72505 11.3215 3.58857 11.2105 3.41297C10.9008 2.92311 10.6631 2.3757 10.4398 2.00122L9.6331 3.41297L9.62864 3.42077C9.51707 3.61616 9.48567 3.67114 9.22974 3.58583C9.0223 3.51669 8.73995 3.3073 8.62471 3.21124C8.73035 3.82592 8.96468 5.16473 9.05688 5.60257C9.17212 6.14987 9.22974 6.29403 8.76877 5.83306L7.64513 4.70949C7.58751 4.94959 7.55438 5.47002 7.27779 5.40087C7.0012 5.33172 6.2742 5.19438 6.02451 5.12716C6.12054 5.49208 6.35439 6.29834 6.37744 6.57492C6.40049 6.85151 6.01253 6.9375 5.83008 6.98551C6.5215 7.5617 7.7431 8.51247 8.01968 8.8582C8.29625 9.20394 8.01971 9.57852 7.90447 9.78021C8.61514 9.66497 10.0711 9.44025 10.2094 9.46331Z' fill='%23FD071E'/%3E%3C/svg%3E");
            // }

            // &__eeuu {
            //     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='21' height='14' viewBox='0 0 21 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='9.42125' height='7.60946' fill='%230036AA'/%3E%3Crect x='9.42126' width='11.5787' height='1.08702' fill='%23FD071E'/%3E%3Crect x='9.42126' y='2.17407' width='11.5787' height='1.08702' fill='%23FD071E'/%3E%3Crect x='9.42126' y='4.34814' width='11.5787' height='1.08702' fill='%23FD071E'/%3E%3Crect x='9.42126' y='6.52222' width='11.5787' height='1.08702' fill='%23FD071E'/%3E%3Crect y='8.69629' width='21' height='1.08702' fill='%23FD071E'/%3E%3Crect y='10.8704' width='21' height='1.08702' fill='%23FD071E'/%3E%3Crect y='12.913' width='21' height='1.08702' fill='%23FD071E'/%3E%3Cpath d='M1.29733 0.642542L1.40006 0.326416L1.51397 0.642542H1.84616L1.57816 0.839929L1.68087 1.1657L1.40006 0.965101L1.13044 1.1657L1.22993 0.839929L0.969971 0.642542H1.29733Z' fill='white'/%3E%3Cpath d='M3.0986 0.642542L3.20133 0.326416L3.31524 0.642542H3.64743L3.37943 0.839929L3.48214 1.1657L3.20133 0.965101L2.93171 1.1657L3.0312 0.839929L2.77124 0.642542H3.0986Z' fill='white'/%3E%3Cpath d='M4.89987 0.642542L5.0026 0.326416L5.11651 0.642542H5.4487L5.1807 0.839929L5.28341 1.1657L5.0026 0.965101L4.73298 1.1657L4.83247 0.839929L4.57251 0.642542H4.89987Z' fill='white'/%3E%3Cpath d='M6.70114 0.642542L6.80387 0.326416L6.91778 0.642542H7.24997L6.98197 0.839929L7.08468 1.1657L6.80387 0.965101L6.53424 1.1657L6.63374 0.839929L6.37378 0.642542H6.70114Z' fill='white'/%3E%3Cpath d='M8.50241 0.642542L8.60514 0.326416L8.71905 0.642542H9.05124L8.78324 0.839929L8.88595 1.1657L8.60514 0.965101L8.33551 1.1657L8.43501 0.839929L8.17505 0.642542H8.50241Z' fill='white'/%3E%3Cpath d='M0.366547 1.39987L0.469271 1.08374L0.583188 1.39987H0.915374L0.647379 1.59725L0.750083 1.92302L0.469271 1.72242L0.19965 1.92302L0.299145 1.59725L0.0391846 1.39987H0.366547Z' fill='white'/%3E%3Cpath d='M2.16782 1.39987L2.27054 1.08374L2.38446 1.39987H2.71664L2.44865 1.59725L2.55135 1.92302L2.27054 1.72242L2.00092 1.92302L2.10041 1.59725L1.84045 1.39987H2.16782Z' fill='white'/%3E%3Cpath d='M3.96909 1.39987L4.07181 1.08374L4.18573 1.39987H4.51791L4.24992 1.59725L4.35262 1.92302L4.07181 1.72242L3.80219 1.92302L3.90168 1.59725L3.64172 1.39987H3.96909Z' fill='white'/%3E%3Cpath d='M5.77036 1.39987L5.87308 1.08374L5.987 1.39987H6.31918L6.05119 1.59725L6.15389 1.92302L5.87308 1.72242L5.60346 1.92302L5.70295 1.59725L5.44299 1.39987H5.77036Z' fill='white'/%3E%3Cpath d='M7.57162 1.39987L7.67435 1.08374L7.78827 1.39987H8.12045L7.85246 1.59725L7.95516 1.92302L7.67435 1.72242L7.40473 1.92302L7.50422 1.59725L7.24426 1.39987H7.57162Z' fill='white'/%3E%3Cpath d='M1.29733 2.1816L1.40006 1.86548L1.51397 2.1816H1.84616L1.57816 2.37899L1.68087 2.70476L1.40006 2.50416L1.13044 2.70476L1.22993 2.37899L0.969971 2.1816H1.29733Z' fill='white'/%3E%3Cpath d='M3.0986 2.1816L3.20133 1.86548L3.31524 2.1816H3.64743L3.37943 2.37899L3.48214 2.70476L3.20133 2.50416L2.93171 2.70476L3.0312 2.37899L2.77124 2.1816H3.0986Z' fill='white'/%3E%3Cpath d='M4.89987 2.1816L5.0026 1.86548L5.11651 2.1816H5.4487L5.1807 2.37899L5.28341 2.70476L5.0026 2.50416L4.73298 2.70476L4.83247 2.37899L4.57251 2.1816H4.89987Z' fill='white'/%3E%3Cpath d='M6.70114 2.1816L6.80387 1.86548L6.91778 2.1816H7.24997L6.98197 2.37899L7.08468 2.70476L6.80387 2.50416L6.53424 2.70476L6.63374 2.37899L6.37378 2.1816H6.70114Z' fill='white'/%3E%3Cpath d='M8.50241 2.1816L8.60514 1.86548L8.71905 2.1816H9.05124L8.78324 2.37899L8.88595 2.70476L8.60514 2.50416L8.33551 2.70476L8.43501 2.37899L8.17505 2.1816H8.50241Z' fill='white'/%3E%3Cpath d='M0.366547 2.93893L0.469271 2.6228L0.583188 2.93893H0.915374L0.647379 3.13632L0.750083 3.46208L0.469271 3.26149L0.19965 3.46208L0.299145 3.13632L0.0391846 2.93893H0.366547Z' fill='white'/%3E%3Cpath d='M2.16782 2.93893L2.27054 2.6228L2.38446 2.93893H2.71664L2.44865 3.13632L2.55135 3.46208L2.27054 3.26149L2.00092 3.46208L2.10041 3.13632L1.84045 2.93893H2.16782Z' fill='white'/%3E%3Cpath d='M3.96909 2.93893L4.07181 2.6228L4.18573 2.93893H4.51791L4.24992 3.13632L4.35262 3.46208L4.07181 3.26149L3.80219 3.46208L3.90168 3.13632L3.64172 2.93893H3.96909Z' fill='white'/%3E%3Cpath d='M5.77036 2.93893L5.87308 2.6228L5.987 2.93893H6.31918L6.05119 3.13632L6.15389 3.46208L5.87308 3.26149L5.60346 3.46208L5.70295 3.13632L5.44299 2.93893H5.77036Z' fill='white'/%3E%3Cpath d='M7.57162 2.93893L7.67435 2.6228L7.78827 2.93893H8.12045L7.85246 3.13632L7.95516 3.46208L7.67435 3.26149L7.40473 3.46208L7.50422 3.13632L7.24426 2.93893H7.57162Z' fill='white'/%3E%3Cpath d='M1.29733 3.71676L1.40006 3.40063L1.51397 3.71676H1.84616L1.57816 3.91415L1.68087 4.23991L1.40006 4.03932L1.13044 4.23991L1.22993 3.91415L0.969971 3.71676H1.29733Z' fill='white'/%3E%3Cpath d='M3.0986 3.71676L3.20133 3.40063L3.31524 3.71676H3.64743L3.37943 3.91415L3.48214 4.23991L3.20133 4.03932L2.93171 4.23991L3.0312 3.91415L2.77124 3.71676H3.0986Z' fill='white'/%3E%3Cpath d='M4.89987 3.71676L5.0026 3.40063L5.11651 3.71676H5.4487L5.1807 3.91415L5.28341 4.23991L5.0026 4.03932L4.73298 4.23991L4.83247 3.91415L4.57251 3.71676H4.89987Z' fill='white'/%3E%3Cpath d='M6.70114 3.71676L6.80387 3.40063L6.91778 3.71676H7.24997L6.98197 3.91415L7.08468 4.23991L6.80387 4.03932L6.53424 4.23991L6.63374 3.91415L6.37378 3.71676H6.70114Z' fill='white'/%3E%3Cpath d='M8.50241 3.71676L8.60514 3.40063L8.71905 3.71676H9.05124L8.78324 3.91415L8.88595 4.23991L8.60514 4.03932L8.33551 4.23991L8.43501 3.91415L8.17505 3.71676H8.50241Z' fill='white'/%3E%3Cpath d='M0.366547 4.47408L0.469271 4.15796L0.583188 4.47408H0.915374L0.647379 4.67147L0.750083 4.99724L0.469271 4.79664L0.19965 4.99724L0.299145 4.67147L0.0391846 4.47408H0.366547Z' fill='white'/%3E%3Cpath d='M2.16782 4.47408L2.27054 4.15796L2.38446 4.47408H2.71664L2.44865 4.67147L2.55135 4.99724L2.27054 4.79664L2.00092 4.99724L2.10041 4.67147L1.84045 4.47408H2.16782Z' fill='white'/%3E%3Cpath d='M3.96909 4.47408L4.07181 4.15796L4.18573 4.47408H4.51791L4.24992 4.67147L4.35262 4.99724L4.07181 4.79664L3.80219 4.99724L3.90168 4.67147L3.64172 4.47408H3.96909Z' fill='white'/%3E%3Cpath d='M5.77036 4.47408L5.87308 4.15796L5.987 4.47408H6.31918L6.05119 4.67147L6.15389 4.99724L5.87308 4.79664L5.60346 4.99724L5.70295 4.67147L5.44299 4.47408H5.77036Z' fill='white'/%3E%3Cpath d='M7.57162 4.47408L7.67435 4.15796L7.78827 4.47408H8.12045L7.85246 4.67147L7.95516 4.99724L7.67435 4.79664L7.40473 4.99724L7.50422 4.67147L7.24426 4.47408H7.57162Z' fill='white'/%3E%3Cpath d='M1.29733 5.25204L1.40006 4.93591L1.51397 5.25204H1.84616L1.57816 5.44943L1.68087 5.77519L1.40006 5.5746L1.13044 5.77519L1.22993 5.44943L0.969971 5.25204H1.29733Z' fill='white'/%3E%3Cpath d='M3.0986 5.25204L3.20133 4.93591L3.31524 5.25204H3.64743L3.37943 5.44943L3.48214 5.77519L3.20133 5.5746L2.93171 5.77519L3.0312 5.44943L2.77124 5.25204H3.0986Z' fill='white'/%3E%3Cpath d='M4.89987 5.25204L5.0026 4.93591L5.11651 5.25204H5.4487L5.1807 5.44943L5.28341 5.77519L5.0026 5.5746L4.73298 5.77519L4.83247 5.44943L4.57251 5.25204H4.89987Z' fill='white'/%3E%3Cpath d='M6.70114 5.25204L6.80387 4.93591L6.91778 5.25204H7.24997L6.98197 5.44943L7.08468 5.77519L6.80387 5.5746L6.53424 5.77519L6.63374 5.44943L6.37378 5.25204H6.70114Z' fill='white'/%3E%3Cpath d='M8.50241 5.25204L8.60514 4.93591L8.71905 5.25204H9.05124L8.78324 5.44943L8.88595 5.77519L8.60514 5.5746L8.33551 5.77519L8.43501 5.44943L8.17505 5.25204H8.50241Z' fill='white'/%3E%3Cpath d='M1.29733 6.75997L1.40006 6.44385L1.51397 6.75997H1.84616L1.57816 6.95736L1.68087 7.28313L1.40006 7.08253L1.13044 7.28313L1.22993 6.95736L0.969971 6.75997H1.29733Z' fill='white'/%3E%3Cpath d='M3.0986 6.75997L3.20133 6.44385L3.31524 6.75997H3.64743L3.37943 6.95736L3.48214 7.28313L3.20133 7.08253L2.93171 7.28313L3.0312 6.95736L2.77124 6.75997H3.0986Z' fill='white'/%3E%3Cpath d='M4.89987 6.75997L5.0026 6.44385L5.11651 6.75997H5.4487L5.1807 6.95736L5.28341 7.28313L5.0026 7.08253L4.73298 7.28313L4.83247 6.95736L4.57251 6.75997H4.89987Z' fill='white'/%3E%3Cpath d='M6.70114 6.75997L6.80387 6.44385L6.91778 6.75997H7.24997L6.98197 6.95736L7.08468 7.28313L6.80387 7.08253L6.53424 7.28313L6.63374 6.95736L6.37378 6.75997H6.70114Z' fill='white'/%3E%3Cpath d='M8.50241 6.75997L8.60514 6.44385L8.71905 6.75997H9.05124L8.78324 6.95736L8.88595 7.28313L8.60514 7.08253L8.33551 7.28313L8.43501 6.95736L8.17505 6.75997H8.50241Z' fill='white'/%3E%3Cpath d='M0.366547 6.00936L0.469271 5.69324L0.583188 6.00936H0.915374L0.647379 6.20675L0.750083 6.53252L0.469271 6.33192L0.19965 6.53252L0.299145 6.20675L0.0391846 6.00936H0.366547Z' fill='white'/%3E%3Cpath d='M2.16782 6.00936L2.27054 5.69324L2.38446 6.00936H2.71664L2.44865 6.20675L2.55135 6.53252L2.27054 6.33192L2.00092 6.53252L2.10041 6.20675L1.84045 6.00936H2.16782Z' fill='white'/%3E%3Cpath d='M3.96909 6.00936L4.07181 5.69324L4.18573 6.00936H4.51791L4.24992 6.20675L4.35262 6.53252L4.07181 6.33192L3.80219 6.53252L3.90168 6.20675L3.64172 6.00936H3.96909Z' fill='white'/%3E%3Cpath d='M5.77036 6.00936L5.87308 5.69324L5.987 6.00936H6.31918L6.05119 6.20675L6.15389 6.53252L5.87308 6.33192L5.60346 6.53252L5.70295 6.20675L5.44299 6.00936H5.77036Z' fill='white'/%3E%3Cpath d='M7.57162 6.00936L7.67435 5.69324L7.78827 6.00936H8.12045L7.85246 6.20675L7.95516 6.53252L7.67435 6.33192L7.40473 6.53252L7.50422 6.20675L7.24426 6.00936H7.57162Z' fill='white'/%3E%3C/svg%3E");
            // }

            // &__chile {
            //     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='21' height='14' viewBox='0 0 21 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.0177002' y='7.59155' width='20.9823' height='6.40838' fill='%23FD071E'/%3E%3Crect x='0.0177002' width='6.57757' height='7.59155' fill='%230036AA'/%3E%3Cpath d='M2.19133 3.26709L2.6281 1.92297L3.11246 3.26709H4.52486L3.38538 4.10635L3.82207 5.49146L2.6281 4.63856L1.48171 5.49146L1.90475 4.10635L0.799438 3.26709H2.19133Z' fill='white'/%3E%3C/svg%3E");
            // }
        }
    }

    &__sms {
        margin: 0 18px;
        padding: 11px 0 0 26px;
        text-align: left;
        color: $black;

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 4.00006V11.1319C2 11.9307 2.92311 12.4071 3.61228 11.964L4.84986 11.1684C5.02021 11.0589 5.22036 11.0004 5.4251 11.0004H12.3704C12.9431 11.0004 13.4074 10.5527 13.4074 10.0004V4.00006C13.4074 3.44774 12.9431 3 12.3704 3H3.03704C2.4643 3 2 3.44774 2 4.00006ZM3.03704 11.1319L3.03704 4.00006H12.3704V10.0004H5.4251C5.01563 10.0004 4.61531 10.1173 4.27461 10.3363L3.03704 11.1319Z' fill='%23002EFF'/%3E%3Cpath d='M14.4444 5.50014C14.1581 5.50014 13.9259 5.72401 13.9259 6.00017C13.9259 6.27632 14.1581 6.50019 14.4444 6.50019H14.963V13.9346L13.9691 12.9415L13.9597 12.9323C13.7734 12.7556 13.5225 12.6577 13.2626 12.6577H5.62963V12.0005C5.62963 11.7243 5.39748 11.5005 5.11111 11.5005C4.82474 11.5005 4.59259 11.7243 4.59259 12.0005V12.7104C4.59259 13.2411 5.04365 13.6577 5.58249 13.6577H13.2446L14.3037 14.716L14.3131 14.7251C14.9256 15.3063 16 14.9111 16 14.0524V6.44751C16 5.91677 15.5489 5.50014 15.0101 5.50014H14.4444Z' fill='%23002EFF'/%3E%3C/svg%3E");

        background-repeat: no-repeat;
        background-position: 1px 12px;


        strong {
            font-size: 14px;
            font-weight: 500;
        }
    }
    
    &__roaming {
        margin: 0 18px;
        padding: 11px 0 16px 26px;
        text-align: left;
        color: $black;
        min-height: 44px;
        font-size: 12px;
        line-height: 1.2em;
        letter-spacing: -.01em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.4947 5.52702C15.8505 5.10528 16.03 4.56264 15.9959 4.01193C15.9618 3.46123 15.7168 2.94485 15.3118 2.57018C14.9069 2.19551 14.373 1.9914 13.8214 2.00028C13.2698 2.00916 12.7428 2.23035 12.3501 2.61786C12.3273 2.63838 12.3079 2.66253 12.2929 2.68934L10.3133 4.7765L4.29561 2.58927C4.21895 2.56041 4.13555 2.55451 4.05559 2.57228C3.97563 2.59005 3.90258 2.63073 3.84535 2.68934L2.13011 4.40481C2.08466 4.44895 2.04955 4.5026 2.0273 4.56193C2.00506 4.62125 1.99623 4.68477 2.00146 4.74791C2.00868 4.81125 2.0297 4.87224 2.06304 4.92658C2.09638 4.98092 2.14123 5.02729 2.19443 5.06241L6.90421 8.20029L5.6821 9.42256H4.14552C4.08926 9.4217 4.03344 9.43271 3.98172 9.45488C3.93 9.47705 3.88353 9.50988 3.84535 9.55123L2.13011 11.2667C2.07682 11.317 2.03808 11.3807 2.01796 11.4511C1.99783 11.5216 1.99707 11.5961 2.01576 11.667C2.03112 11.7382 2.06497 11.8041 2.11391 11.858C2.16284 11.912 2.22512 11.9521 2.29448 11.9743L5.08176 12.9178L6.02515 15.7055C6.04737 15.7748 6.08747 15.8371 6.14143 15.8861C6.19538 15.935 6.26127 15.9689 6.33246 15.9842L6.43252 15.9985C6.48878 15.9994 6.5446 15.9884 6.59632 15.9662C6.64804 15.944 6.69451 15.9112 6.73269 15.8699L8.44794 14.1544C8.48927 14.1162 8.5221 14.0698 8.54427 14.018C8.56643 13.9663 8.57744 13.9105 8.57658 13.8542V12.3317L9.79869 11.2167L12.9362 15.8127C12.973 15.8636 13.0199 15.9064 13.074 15.9384C13.1281 15.9703 13.1883 15.9908 13.2506 15.9985C13.3138 16.0038 13.3773 15.9949 13.4366 15.9727C13.4959 15.9504 13.5495 15.9153 13.5937 15.8699L15.3089 14.1544C15.3675 14.0972 15.4082 14.0241 15.426 13.9441C15.4437 13.8642 15.4378 13.7808 15.409 13.7041L13.222 7.68565L15.4233 5.61994C15.451 5.59216 15.475 5.56093 15.4947 5.52702ZM14.7729 5.04097L14.7443 5.07671L12.4287 7.24964C12.3661 7.30722 12.3223 7.38241 12.3032 7.46533C12.284 7.54825 12.2904 7.63502 12.3215 7.71424L14.5156 13.747L13.3578 14.8978L10.2275 10.3232C10.1935 10.2733 10.149 10.2315 10.0972 10.2007C10.0453 10.1698 9.98736 10.1506 9.92734 10.1445H9.87731C9.77101 10.1452 9.6689 10.1861 9.59143 10.2589L7.86189 11.8314C7.81648 11.8701 7.78014 11.9184 7.75544 11.9727C7.73074 12.0271 7.71829 12.0862 7.71896 12.1459V13.6827L6.61834 14.7763L5.82504 12.4389C5.80406 12.3764 5.76847 12.3198 5.72124 12.2738C5.67401 12.2278 5.61649 12.1938 5.55345 12.1745L3.22358 11.3811L4.32419 10.2803H5.86077C5.91704 10.2812 5.97285 10.2702 6.02457 10.248C6.07629 10.2258 6.12276 10.193 6.16094 10.1516L7.87619 8.43617C7.92164 8.39204 7.95675 8.33838 7.97899 8.27905C8.00123 8.21973 8.01006 8.15622 8.00483 8.09308C7.99761 8.02973 7.97659 7.96874 7.94325 7.9144C7.90991 7.86006 7.86506 7.8137 7.81186 7.77857L3.10208 4.64069L4.25273 3.48275L10.2847 5.67712C10.3639 5.70821 10.4506 5.71461 10.5336 5.69548C10.6165 5.67634 10.6917 5.63257 10.7492 5.5699L13.0148 3.17539L13.0291 3.15395C13.2825 2.94361 13.6069 2.83847 13.9355 2.86019C14.2641 2.88191 14.5719 3.02885 14.7954 3.27072C15.0189 3.51259 15.1412 3.83099 15.137 4.16032C15.1328 4.48966 15.0025 4.80485 14.7729 5.04097Z' fill='%23002EFF'/%3E%3C/svg%3E");

        background-repeat: no-repeat;
        background-position: 1px 11px;

        strong {
            font-weight: 700;

            &:first-child {
                max-width: 167px;
                font-weight: 500;
                font-size: 14px;
            }
        }

        a {
            text-decoration: underline;
            font-weight: 500;
            font-size: 14px;
            color: $orange;
            text-align: right;
            width: 40%;
        }

        &.empty-block {
            background: none;
        }
    }
    
    &__subroaming {
        padding: 20px 0 30px;
        min-height: 92px;

        &>strong {
            color: #383C47;
            display: block;
            padding-bottom: 5px;
        }
        
        &>span {
            font-size: 12px;
            line-height: 13px;
            display: block;
            color: #9E9FA1;

            strong {
                font-size: 12px;
            }
        }
    }

    &__month {
        font-size: 20px;
        color: $color-bluenew;
        padding: 0 0 0 18px;
        text-align: left;
        position: relative;
        margin-top: -7px;

        strong {
            color: $color-bluenew;
            font-size: 40px;
            font-weight: bold;
            letter-spacing: -0.05em;
        }

        p {
            font-size: 20px;
            color: $color-bluenew;
            margin: 0;
        }
    }

    &__price {
        color: $extra_dark_gray;
        font-weight: 500;
        font-size: 12px;
        text-align: left;
        padding: 0 0 16px 33px;
        margin-top: -3px;
    }

    &__msn {
        color: #383C47;
        font-size: 10px;
        font-weight: 500;
        padding: 14px 0;
        margin: 0;
    }

    &__extra {
        overflow: hidden;
        height: 0px;
        background: #f2f7fd;
        margin-top: 15px;
        padding: 0 33px;
        text-align: left;
        -webkit-transition: height .3s ease;
        -moz-transition: height .3s ease;
        -ms-transition: height .3s ease;
        -o-transition: height .3s ease;
        transition: height .3s ease;

        &-show {
            height: 433px;
        }
    }

    &__subapps {
        margin: 35px 0 0;

        &>strong {
            color: #383C47;
        }
        &>span {
            font-size: 12px;
            color: #9E9FA1;
            display: block;
            margin-top: 22px;
        }

        .e-icon-apps {
            margin-top: 5px;

            div {
                background-repeat: no-repeat;
                width: 23px;
                height: 23px;
                margin-right: 2px;
                display: inline-block;
                position: relative;
                vertical-align: top;
                margin-bottom: 16px;
                margin-top: 5px;

                span {
                    position: absolute;
                    bottom: -15px;
                    left: 50%;
                    font-size: 10px;
                    transform: translateX(-50%); 
                    text-align: center;
                    display: block;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &__face {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1009 21.9142C17.1205 21.8668 21.9552 16.942 21.8996 10.9142C21.844 4.88644 16.919 0.038374 10.8994 0.0857418C4.87984 0.13311 0.0450992 5.05798 0.100732 11.0857C0.156365 17.1135 5.0813 21.9616 11.1009 21.9142Z' fill='%231977F3'/%3E%3Cpath d='M12.8687 6.49622C12.8687 7.00126 12.8687 7.48226 12.8928 7.98731C12.7727 7.98731 12.6526 7.98731 12.5565 7.98731C12.3404 7.98731 12.1482 7.98731 11.9321 7.98731C11.6919 7.98731 11.5478 8.10756 11.5478 8.34806C11.5478 8.68476 11.5478 8.99741 11.5478 9.3341C12.0041 9.3341 12.4605 9.3341 12.9408 9.3341C12.8928 9.8632 12.8447 10.3682 12.7967 10.8973C12.3884 10.8973 11.9801 10.8973 11.5718 10.8973C11.5958 12.3644 11.5958 13.8314 11.6199 15.2985C11.0194 15.2985 10.395 15.2985 9.79457 15.3225C9.77056 13.8555 9.77056 12.4125 9.74654 10.9454C9.45833 10.9454 9.17013 10.9454 8.88193 10.9454C8.88193 10.4163 8.88193 9.9113 8.85791 9.3822C9.14611 9.3822 9.43432 9.3822 9.72252 9.3822C9.72252 9.3341 9.72252 9.286 9.72252 9.26195C9.72252 8.90121 9.6985 8.54046 9.72252 8.17971C9.77056 7.60251 9.98671 7.09746 10.5151 6.78481C10.7793 6.61647 11.0915 6.54432 11.4037 6.54432C11.884 6.52027 12.3644 6.54432 12.8447 6.52027C12.8447 6.49622 12.8447 6.49622 12.8687 6.49622Z' fill='white'/%3E%3C/svg%3E");
            }

            &__what {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0002 22C17.0754 22 22.0002 17.0751 22.0002 11C22.0002 4.92487 17.0754 0 11.0002 0C4.92511 0 0.000244141 4.92487 0.000244141 11C0.000244141 17.0751 4.92511 22 11.0002 22Z' fill='%2343D854'/%3E%3Cpath d='M11.0001 6.18457C8.33568 6.18457 6.18457 8.33568 6.18457 11.0001C6.18457 12.0512 6.52679 13.029 7.11346 13.8357L6.50235 15.6201L8.36013 15.0335C9.1179 15.5468 10.0223 15.8401 11.0246 15.8401C13.689 15.8401 15.8401 13.689 15.8401 11.0246C15.8157 8.33568 13.6646 6.18457 11.0001 6.18457ZM13.8112 12.9801C13.689 13.2979 13.2246 13.5912 12.8579 13.6646C12.6135 13.7135 12.2712 13.7623 11.1712 13.2979C9.75346 12.7112 8.84901 11.269 8.77568 11.1712C8.70235 11.0735 8.21346 10.4135 8.21346 9.72901C8.21346 9.04457 8.55568 8.70235 8.70235 8.55568C8.82457 8.43346 9.02012 8.38457 9.19124 8.38457C9.24012 8.38457 9.31346 8.38457 9.36235 8.38457C9.50901 8.38457 9.58235 8.40901 9.68012 8.62901C9.80235 8.8979 10.0712 9.60679 10.1201 9.68012C10.1446 9.75346 10.1935 9.85124 10.1446 9.94901C10.0957 10.0468 10.0712 10.0957 9.9979 10.169C9.92457 10.2423 9.85124 10.3157 9.7779 10.4135C9.70457 10.4868 9.63124 10.5846 9.72901 10.7068C9.80235 10.8535 10.0957 11.3179 10.5112 11.6846C11.049 12.1735 11.489 12.3201 11.6357 12.3935C11.7579 12.4423 11.8801 12.4423 11.9779 12.3446C12.0757 12.2223 12.2223 12.0268 12.3446 11.8557C12.4423 11.709 12.5646 11.709 12.6868 11.7579C12.809 11.8068 13.4935 12.149 13.6401 12.2223C13.7868 12.2957 13.8846 12.3201 13.909 12.3935C13.9335 12.369 13.9335 12.6623 13.8112 12.9801Z' fill='white'/%3E%3C/svg%3E");
            }

            &__mess {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0002 22C17.0754 22 22.0002 17.0751 22.0002 11C22.0002 4.92487 17.0754 0 11.0002 0C4.92511 0 0.000244141 4.92487 0.000244141 11C0.000244141 17.0751 4.92511 22 11.0002 22Z' fill='%23007FFF'/%3E%3Cpath d='M11.0004 5.96423C8.21373 5.96423 5.96484 8.04201 5.96484 10.6331C5.96484 12.0998 6.69818 13.4198 7.84707 14.2753V16.0598L9.55818 15.1065C10.0226 15.2287 10.5115 15.302 11.0004 15.302C13.7871 15.302 16.036 13.2242 16.036 10.6331C16.036 8.04201 13.7871 5.96423 11.0004 5.96423ZM11.4893 12.2465L10.1937 10.8776L7.7004 12.2465L10.4626 9.31312L11.7826 10.682L14.2515 9.31312L11.4893 12.2465Z' fill='white'/%3E%3C/svg%3E");
            }

            &__app1 {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0002 22C17.0754 22 22.0002 17.0751 22.0002 11C22.0002 4.92487 17.0754 0 11.0002 0C4.92511 0 0.000244141 4.92487 0.000244141 11C0.000244141 17.0751 4.92511 22 11.0002 22Z' fill='%235BBFD6'/%3E%3Cpath d='M10.9748 9.43591C10.9748 9.75369 10.706 10.0226 10.3882 10.0226C10.0704 10.0226 9.80151 9.75369 9.80151 9.43591C9.80151 9.11813 10.0704 8.84924 10.3882 8.84924C10.706 8.84924 10.9748 9.09369 10.9748 9.43591Z' fill='white'/%3E%3Cpath d='M13.6885 9.43591C13.6885 9.75369 13.4196 10.0226 13.1018 10.0226C12.784 10.0226 12.5151 9.75369 12.5151 9.43591C12.5151 9.11813 12.784 8.84924 13.1018 8.84924C13.4196 8.84924 13.6885 9.09369 13.6885 9.43591Z' fill='white'/%3E%3Cpath d='M11.7333 12.541C10.7555 12.541 9.85107 11.9055 9.7044 11.0499C9.67996 10.8788 9.77773 10.7321 9.94885 10.7077C10.12 10.6833 10.2666 10.781 10.2911 10.9521C10.3888 11.441 10.9755 11.9788 11.7822 11.9544C12.6133 11.9299 13.1511 11.441 13.2733 10.9521C13.3222 10.781 13.4688 10.6833 13.64 10.7321C13.8111 10.781 13.9088 10.9277 13.86 11.0988C13.7622 11.4899 13.5177 11.8566 13.1511 12.1255C12.7844 12.3944 12.2955 12.5655 11.8066 12.5655C11.7577 12.541 11.7333 12.541 11.7333 12.541Z' fill='white'/%3E%3Cpath d='M16.7207 9.72987C16.5985 9.06987 16.3541 8.45876 15.9385 7.89653C15.4741 7.26098 14.863 6.7232 14.1296 6.35653C13.3963 5.98987 12.5652 5.79431 11.7585 5.79431C11.5385 5.79431 11.2941 5.81876 11.0741 5.8432C10.1207 5.96542 9.19184 6.38098 8.43406 6.96764C7.57851 7.62764 7.04073 8.4832 6.86962 9.43653C6.82073 9.72987 6.79629 10.0232 6.77184 10.341C6.7474 10.8054 6.69851 11.3188 6.55184 11.6365C6.45406 11.8565 6.28295 12.0032 5.8674 12.0032C5.6474 12.0032 5.4274 12.1254 5.32962 12.3454C5.23184 12.541 5.25629 12.7854 5.37851 12.981C6.01406 13.8121 6.82073 14.3254 7.70073 14.6188C7.65184 14.741 7.6274 14.8632 7.6274 14.9854C7.6274 15.6454 8.16518 16.1832 8.82518 16.1832C9.46073 16.1832 9.99851 15.6699 10.023 15.0343C10.3163 15.0588 11.6363 15.0588 11.783 15.0588C11.8074 15.6943 12.3452 16.1832 12.9807 16.1832C13.6407 16.1832 14.1785 15.6454 14.1785 14.9854C14.1785 14.8388 14.1541 14.6921 14.1052 14.5454C14.5696 14.3254 15.0096 14.0076 15.4007 13.641C15.9385 13.1276 16.3296 12.5165 16.5496 11.881C16.7696 11.1721 16.8185 10.4388 16.7207 9.72987ZM8.80073 15.401C8.58073 15.401 8.40962 15.2299 8.40962 15.0099C8.40962 14.7899 8.58073 14.6188 8.80073 14.6188C9.02073 14.6188 9.19184 14.7899 9.19184 15.0099C9.19184 15.2054 9.02073 15.401 8.80073 15.401ZM12.9563 15.401C12.7363 15.401 12.5652 15.2299 12.5652 15.0099C12.5652 14.7899 12.7363 14.6188 12.9563 14.6188C13.1763 14.6188 13.3474 14.7899 13.3474 15.0099C13.3718 15.2054 13.1763 15.401 12.9563 15.401ZM15.963 11.7099C15.6207 12.761 14.6918 13.641 13.7385 14.081C13.543 13.9099 13.2741 13.8121 12.9807 13.8121C12.5163 13.8121 12.1007 14.081 11.9052 14.4721C11.7096 14.4721 10.1941 14.4721 9.87629 14.4476C9.68073 14.081 9.26517 13.8121 8.82518 13.8121C8.53184 13.8121 8.23851 13.9343 8.04295 14.1054C7.21184 13.8365 6.45406 13.3965 5.8674 12.6143C7.57851 12.6143 7.23629 10.7076 7.45629 9.55876C7.79851 7.8232 9.50962 6.67431 11.1718 6.45431C11.3674 6.42987 11.5874 6.40542 11.783 6.40542C14.4718 6.40542 16.8918 8.84987 15.963 11.7099Z' fill='white'/%3E%3C/svg%3E");
            }

            &__app2 {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2906 22C17.5261 22 22.581 17.0751 22.581 11C22.581 4.92487 17.5261 0 11.2906 0C5.05512 0 0.000244141 4.92487 0.000244141 11C0.000244141 17.0751 5.05512 22 11.2906 22Z' fill='%233A76F0'/%3E%3Cpath d='M9.93567 5.66081L10.0624 6.16084C9.563 6.28109 9.08504 6.47389 8.64457 6.73276L8.37351 6.29054C8.85835 6.00448 9.38512 5.79213 9.93567 5.66081ZM12.6462 5.66081L12.5195 6.16084C13.0189 6.28109 13.4968 6.47389 13.9373 6.73276L14.2116 6.29054C13.7254 6.00473 13.1977 5.79241 12.6462 5.66081ZM6.4569 8.1563C6.16357 8.62935 5.94563 9.14305 5.81055 9.67984L6.32378 9.80329C6.4472 9.31675 6.64509 8.85108 6.91079 8.42194L6.4569 8.1563ZM6.17462 11.0002C6.17458 10.7502 6.19389 10.5005 6.23236 10.2533L5.7095 10.1752C5.6245 10.7216 5.6245 11.2773 5.7095 11.8237L6.23236 11.7472C6.19395 11.5 6.17465 11.2503 6.17462 11.0002ZM14.2084 15.7084L13.9373 15.2677C13.4975 15.5268 13.0201 15.7197 12.5211 15.8396L12.6478 16.3397C13.1977 16.2071 13.7238 15.9943 14.2084 15.7084ZM16.4072 11.0002C16.4072 11.2503 16.3879 11.5 16.3495 11.7472L16.8724 11.8237C16.9574 11.2773 16.9574 10.7216 16.8724 10.1752L16.3495 10.2533C16.388 10.5005 16.4073 10.7502 16.4072 11.0002ZM16.7713 12.3191L16.2581 12.1956C16.135 12.6828 15.9371 13.149 15.6711 13.5785L16.125 13.8442C16.4186 13.3707 16.6365 12.8565 16.7713 12.3191ZM12.0576 15.9287C11.5494 16.0037 11.0325 16.0037 10.5243 15.9287L10.4457 16.4381C11.006 16.521 11.5759 16.521 12.1362 16.4381L12.0576 15.9287ZM15.4096 13.9567C15.1048 14.3595 14.7393 14.7151 14.3254 15.0115L14.6398 15.4271C15.0956 15.1002 15.4989 14.7089 15.8363 14.2661L15.4096 13.9567ZM14.3254 6.98746C14.7393 7.28444 15.1048 7.64055 15.4096 8.04379L15.8363 7.73439C15.5001 7.29121 15.0979 6.89937 14.643 6.57181L14.3254 6.98746ZM7.17222 8.04379C7.47704 7.64055 7.84255 7.28444 8.25643 6.98746L7.93887 6.57181C7.48398 6.89937 7.0818 7.29121 6.7456 7.73439L7.17222 8.04379ZM16.125 8.1563L15.6711 8.42194C15.937 8.8504 16.1349 9.31559 16.2581 9.80172L16.7713 9.67828C16.6362 9.14199 16.4183 8.6288 16.125 8.1563ZM10.5243 6.07177C11.0325 5.99676 11.5494 5.99676 12.0576 6.07177L12.1362 5.56236C11.5759 5.47954 11.006 5.47954 10.4457 5.56236L10.5243 6.07177ZM7.44328 15.5646L6.35105 15.8115L6.60606 14.7474L6.09122 14.6302L5.83621 15.6943C5.82025 15.7603 5.8178 15.8287 5.829 15.8956C5.8402 15.9625 5.86483 16.0266 5.90147 16.0842C5.93812 16.1418 5.98606 16.1918 6.04256 16.2314C6.09907 16.2709 6.16302 16.2992 6.23076 16.3147C6.30998 16.3319 6.39211 16.3319 6.47134 16.3147L7.56356 16.0693L7.44328 15.5646ZM6.20029 14.1708L6.71673 14.2864L6.89315 13.5489C6.63551 13.1278 6.44362 12.6717 6.32378 12.1956L5.81055 12.3191C5.92599 12.7748 6.10062 13.2143 6.3302 13.627L6.20029 14.1708ZM8.67023 15.2865L7.91321 15.4584L8.0335 15.9615L8.59003 15.835C9.01328 16.0593 9.46449 16.2295 9.93246 16.3412L10.0592 15.8412C9.57203 15.7229 9.10558 15.5349 8.67504 15.2834L8.67023 15.2865ZM11.2909 6.53118C8.75684 6.53274 6.7055 8.53445 6.7055 11.0018C6.7069 11.8422 6.95089 12.6653 7.40959 13.377L6.96853 15.2115L8.84986 14.7818C10.9942 16.0959 13.8266 15.4693 15.1755 13.3817C16.5243 11.294 15.8828 8.53445 13.74 7.21873C13.0065 6.76929 12.1575 6.53095 11.2909 6.53118Z' fill='white'/%3E%3C/svg%3E");
            }

            &__inst {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5811 22C17.6562 22 22.5811 17.0751 22.5811 11C22.5811 4.92487 17.6562 0 11.5811 0C5.50592 0 0.581055 4.92487 0.581055 11C0.581055 17.0751 5.50592 22 11.5811 22Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M9.77153 10.7307C9.77153 9.80177 10.5293 9.04399 11.4582 9.04399C12.3871 9.04399 13.1449 9.80177 13.1449 10.7307C13.1449 11.6595 12.3871 12.4173 11.4582 12.4173C10.5293 12.4173 9.77153 11.684 9.77153 10.7307ZM8.86708 10.7307C8.86708 12.1729 10.0404 13.3462 11.4826 13.3462C12.9249 13.3462 14.0982 12.1729 14.0982 10.7307C14.0982 9.28843 12.9249 8.1151 11.4826 8.1151C10.0404 8.1151 8.86708 9.31288 8.86708 10.7307ZM13.5604 8.04177C13.5604 8.38399 13.8293 8.65288 14.1715 8.65288C14.5137 8.65288 14.7826 8.38399 14.7826 8.04177C14.7826 7.69954 14.5137 7.43065 14.1715 7.43065C13.8293 7.43065 13.5604 7.69954 13.5604 8.04177ZM9.40486 14.8618C8.91597 14.8373 8.64708 14.764 8.45153 14.6907C8.20708 14.5929 8.03597 14.4951 7.86486 14.2995C7.69375 14.1284 7.57153 13.9573 7.47375 13.7129C7.40042 13.5418 7.32708 13.2729 7.30264 12.7595C7.27819 12.2218 7.27819 12.0751 7.27819 10.7062C7.27819 9.33732 7.27819 9.19065 7.30264 8.65288C7.32708 8.16399 7.40042 7.8951 7.47375 7.69954C7.57153 7.4551 7.6693 7.28399 7.86486 7.11288C8.03597 6.94177 8.20708 6.81954 8.45153 6.72177C8.62264 6.64843 8.89153 6.5751 9.40486 6.55065C9.94264 6.52621 10.0893 6.52621 11.4582 6.52621C12.8026 6.52621 12.9737 6.52621 13.5115 6.55065C14.0004 6.5751 14.2693 6.64843 14.4649 6.72177C14.7093 6.81954 14.8804 6.91732 15.0515 7.11288C15.2226 7.28399 15.3449 7.4551 15.4426 7.69954C15.516 7.87065 15.5893 8.13954 15.6137 8.65288C15.6382 9.19065 15.6382 9.33732 15.6382 10.7062C15.6382 12.0507 15.6382 12.2218 15.6137 12.7595C15.5893 13.2484 15.516 13.5173 15.4426 13.7129C15.3449 13.9573 15.2471 14.1284 15.0515 14.2995C14.8804 14.4707 14.7093 14.5929 14.4649 14.6907C14.2937 14.764 14.0249 14.8373 13.5115 14.8618C12.9737 14.8862 12.8271 14.8862 11.4582 14.8862C10.1137 14.9107 9.94264 14.8862 9.40486 14.8618ZM9.38042 5.6951C8.84264 5.71954 8.47597 5.81732 8.15819 5.93954C7.81597 6.06177 7.54708 6.23288 7.25375 6.52621C6.96042 6.81954 6.7893 7.08843 6.66708 7.43065C6.54486 7.74843 6.44708 8.1151 6.42264 8.65288C6.39819 9.19065 6.39819 9.36177 6.39819 10.7551C6.39819 12.1484 6.39819 12.2951 6.42264 12.8573C6.44708 13.3951 6.54486 13.7618 6.66708 14.0795C6.7893 14.4218 6.96042 14.6907 7.25375 14.984C7.54708 15.2773 7.81597 15.4484 8.15819 15.5707C8.47597 15.6929 8.84264 15.7907 9.38042 15.8151C9.91819 15.8395 10.0893 15.8395 11.4826 15.8395C12.8515 15.8395 13.0226 15.8395 13.5849 15.8151C14.1226 15.7907 14.4893 15.6929 14.8071 15.5707C15.1493 15.4484 15.4182 15.2773 15.7115 14.984C16.0049 14.6907 16.176 14.4218 16.2982 14.0795C16.4204 13.7618 16.5182 13.3951 16.5426 12.8573C16.5671 12.3195 16.5671 12.1484 16.5671 10.7551C16.5671 9.36177 16.5671 9.2151 16.5426 8.65288C16.5182 8.1151 16.4204 7.74843 16.2982 7.43065C16.176 7.08843 16.0049 6.81954 15.7115 6.52621C15.4182 6.23288 15.1493 6.06177 14.8071 5.93954C14.4893 5.81732 14.1226 5.71954 13.5849 5.6951C13.0471 5.67065 12.876 5.67065 11.4826 5.67065C10.0893 5.67065 9.91819 5.67065 9.38042 5.6951Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='17.082' y1='1.47212' x2='6.08013' y2='20.5279' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23A23DB5'/%3E%3Cstop offset='0.51' stop-color='%23CB3E8A'/%3E%3Cstop offset='1' stop-color='%23F38A5A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
            }

            &__mail {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5811 22C17.6562 22 22.5811 17.0751 22.5811 11C22.5811 4.92487 17.6562 0 11.5811 0C5.50592 0 0.581055 4.92487 0.581055 11C0.581055 17.0751 5.50592 22 11.5811 22Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M16.9306 6.32673L14.9647 16.2304C14.9647 16.2304 14.6885 16.9187 13.9343 16.589L9.40078 13.1147L7.75223 12.3192L4.97853 11.3837C4.97853 11.3837 4.55402 11.2312 4.51281 10.9015C4.4716 10.5718 4.99501 10.3945 4.99501 10.3945L16.028 6.06709C16.0239 6.06709 16.9306 5.66731 16.9306 6.32673Z' fill='white'/%3E%3Cpath d='M9.05385 16.1231C9.05385 16.1231 8.92197 16.1107 8.75711 15.5873C8.59226 15.0639 7.75562 12.319 7.75562 12.319L14.4199 8.08634C14.4199 8.08634 14.8032 7.85142 14.7908 8.08634C14.7908 8.08634 14.8609 8.12756 14.6548 8.32126C14.4488 8.51497 9.42066 13.032 9.42066 13.032' fill='%23D3E6F2'/%3E%3Cpath d='M11.1435 14.4459L9.35072 16.0821C9.35072 16.0821 9.2106 16.1892 9.05811 16.1233L9.40018 13.0858' fill='%23B6D0E5'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='11.5803' y1='0' x2='11.5803' y2='21.9182' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2342BDE9'/%3E%3Cstop offset='1' stop-color='%2323A8DD'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
            }

            &__plus {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='10.25' fill='%23DDDDDD' stroke='%23DDDDDD' stroke-width='1.5'/%3E%3Cpath d='M15.7409 10.1H12.4969V6.78395C12.4969 6.56233 12.4208 6.33879 12.2514 6.1694C12.082 6.00001 11.8585 5.92395 11.6369 5.92395H10.3649C10.1433 5.92395 9.91971 6.00001 9.75032 6.1694C9.58094 6.33879 9.50488 6.56233 9.50488 6.78395V10.1H6.26088C6.03925 10.1 5.81571 10.176 5.64633 10.3454C5.47694 10.5148 5.40088 10.7383 5.40088 10.96V12.232C5.40088 12.4536 5.47694 12.6771 5.64633 12.8465C5.81572 13.0159 6.03926 13.092 6.26088 13.092H9.50488V16.264C9.50488 16.4856 9.58094 16.7091 9.75033 16.8785C9.91972 17.0479 10.1433 17.124 10.3649 17.124H11.6369C11.8585 17.124 12.082 17.0479 12.2514 16.8785C12.4208 16.7091 12.4969 16.4856 12.4969 16.264V13.092H15.7409C15.9625 13.092 16.186 13.0159 16.3554 12.8465C16.5248 12.6771 16.6009 12.4536 16.6009 12.232V10.96C16.6009 10.7383 16.5248 10.5148 16.3554 10.3454C16.186 10.176 15.9625 10.1 15.7409 10.1Z' fill='%23F3F7F9' stroke='%23DDDDDD'/%3E%3C/svg%3E");
                
                span {
                    color: #9E9FA1;
                }
            }

            &__tikt {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2904 22C17.5259 22 22.5807 17.0751 22.5807 11C22.5807 4.92487 17.5259 0 11.2904 0C5.05487 0 0 4.92487 0 11C0 17.0751 5.05487 22 11.2904 22Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M10.1365 9.47551V9.01969C9.97411 8.99466 9.81012 8.98099 9.64576 8.97877C8.05453 8.97566 6.64619 9.98002 6.16823 11.4583C5.69028 12.9366 6.25436 14.5465 7.5601 15.4317C6.19003 14.0031 6.26818 11.7629 7.73448 10.4281C8.38784 9.83383 9.24289 9.49475 10.1365 9.47551Z' fill='%2325F4EE'/%3E%3Cpath d='M10.2247 14.6369C11.1141 14.6358 11.8451 13.9532 11.8845 13.0871V5.36043H13.3332C13.3036 5.19907 13.2895 5.03537 13.2912 4.87146H11.3098V12.5904C11.2768 13.4606 10.5436 14.15 9.64994 14.1515C9.38305 14.1495 9.11989 14.0852 8.8833 13.9651C9.03671 14.1721 9.23819 14.3409 9.4713 14.4577C9.70441 14.5744 9.96255 14.6358 10.2247 14.6369ZM16.0388 7.98191V7.55251C15.5055 7.55251 14.984 7.39919 14.5401 7.11171C14.9292 7.55286 15.4554 7.85836 16.0388 7.98191Z' fill='%2325F4EE'/%3E%3Cpath d='M14.5412 7.11211C14.1035 6.62677 13.8624 6.00272 13.8628 5.35669H13.3338C13.4019 5.71392 13.5441 6.05385 13.7517 6.35568C13.9593 6.65752 14.2279 6.91491 14.5412 7.11211ZM9.64626 10.9099C8.72757 10.9146 7.98645 11.6439 7.99123 12.539C7.99275 12.8328 8.07621 13.1207 8.2327 13.3718C8.38918 13.623 8.61279 13.828 8.87962 13.965C8.34212 13.2419 8.508 12.2308 9.25018 11.7066C9.53376 11.5065 9.87508 11.3989 10.2252 11.3994C10.3916 11.4015 10.557 11.4269 10.7159 11.4745V9.50983C10.5538 9.486 10.3895 9.47357 10.2252 9.47254H10.137V10.9664C9.97695 10.9239 9.81161 10.9053 9.64626 10.9099Z' fill='%23FE2C55'/%3E%3Cpath d='M16.0388 7.98193V9.47578C15.0517 9.47393 14.0903 9.16949 13.2907 8.60558V12.5303C13.2864 14.4888 11.6559 16.0743 9.64568 16.0743C8.89915 16.0757 8.17058 15.8513 7.56055 15.432C8.92848 16.8652 11.23 16.9471 12.7016 15.6143C13.0677 15.2828 13.3597 14.8813 13.5594 14.4349C13.7591 13.9885 13.8622 13.5067 13.8622 13.0198V9.10594C14.6646 9.66588 15.6271 9.96627 16.614 9.96475V8.04202C16.4205 8.04098 16.228 8.0213 16.0388 7.98193Z' fill='%23FE2C55'/%3E%3Cpath d='M13.2912 12.5307V8.60596C14.0934 9.16634 15.056 9.46678 16.0431 9.46477V7.97092C15.46 7.85082 14.9327 7.54943 14.5406 7.11211C14.2275 6.91475 13.959 6.65731 13.7514 6.3555C13.5439 6.05369 13.4016 5.71384 13.3332 5.35669H11.8845V13.087C11.8467 13.9815 11.0727 14.6767 10.1545 14.6404C9.90332 14.6305 9.65771 14.5652 9.43616 14.4494C9.2146 14.3337 9.02286 14.1705 8.87535 13.9722C8.06246 13.5552 7.75038 12.5752 8.17836 11.7832C8.31881 11.5232 8.52921 11.3053 8.78704 11.1528C9.04486 11.0003 9.3404 10.9191 9.64199 10.9177C9.8084 10.9192 9.97374 10.9441 10.1327 10.9923V9.47616C8.12626 9.50931 6.52705 11.1435 6.56108 13.0984C6.57647 13.9836 6.93175 14.8312 7.55686 15.4738C8.17289 15.8792 8.90246 16.0893 9.64572 16.0752C11.6564 16.0747 13.287 14.4891 13.2912 12.5307Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='11.2896' y1='0' x2='11.2896' y2='21.9182' gradientUnits='userSpaceOnUse'%3E%3Cstop/%3E%3Cstop offset='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
                // display: block !important;
                
                span {
                    transform: translate(-50%, 116%) !important;
                    width: 38px;
                    bottom: 0 !important;
                    color: #383C47;
                    font-weight: 600;
                    line-height: 1.1em;
                }

            //     span {
            //         position: absolute !important;
            //         bottom: auto !important;
            //         left: auto !important;
            //         top: 50% !important;
            //         right: 0 !important;
            //         font-size: 12px !important;
            //         font-weight: normal !important;
            //         transform: translate(103%, -50%) !important; 
            //         width: 200px !important;
            //     }
            }
        }
    }


    .link-blue {
        color: $color-bluenew;
        font-weight: 700;
    }
    &__link {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 47px;

        a {
            font-weight: 700;
            font-size: 14px;
            color: $color-bluenew;
            text-decoration: underline;
        }
    }

    .e-button {
        width: auto;//100%;//142px;
        display: block;
        margin: 16px 33px 0px;
    }

    // .e-link {
    //     font-size: 12px;
    //     color: $orange;
    //     margin-bottom: 35px;

    //     @include responsive-width($laptop_m) {
    //         font-size: 14px;
    //     }

    //     &__blue {
    //         color: #007FFF;
    //         margin-bottom: 0;
    //         font-size: 12px;
    //         text-transform: initial;
    //     }

    //     &__bluesky {
    //         text-transform: initial;
    //         text-decoration: none !important;
    //         font-weight: 600;
    //         color: #007FFF;
    //         margin-bottom: 0;
    //         font-size: 12px;
    //     }

    //     &__more {
    //         color: #004FB9;
    //         font-weight: 700;
    //         padding-right: 25px;
    //         display: inline-block;
    //         position: relative;

    //         &::after {
    //             content: '';
    //             display: block;
    //             width: 18px;
    //             height: 16px;
    //             background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.64219C1.01595 4.41762 1.07978 4.24487 1.27124 4.14122C1.4627 4.03757 1.63821 3.93392 1.84563 4.12395C2.14877 4.40034 2.46788 4.65947 2.78698 4.93586C3.16991 5.26409 3.53688 5.60958 3.9198 5.9378C4.44632 6.4215 4.97284 6.90519 5.49937 7.38889C5.96207 7.80348 6.42477 8.21808 6.88747 8.64995C7.3023 9.03 7.70118 9.41004 8.11602 9.79009C8.38726 10.0319 8.65849 10.2911 8.92973 10.5156C8.9776 10.5502 9.08929 10.5329 9.13715 10.4984C9.59985 10.0665 10.0626 9.63462 10.5253 9.20275C11.1316 8.64995 11.7378 8.11443 12.3441 7.56164C12.8866 7.07794 13.4131 6.57697 13.9397 6.09328C14.53 5.55776 15.1044 5.02224 15.6947 4.48672C15.8543 4.33124 16.0298 4.19305 16.2213 4.07212C16.4606 3.89937 16.8435 4.05485 16.9392 4.34852C17.1147 4.86676 16.8914 5.02224 16.5085 5.38501C15.9341 5.92053 15.3597 6.47332 14.7693 7.00884C14.4662 7.28524 14.1471 7.54436 13.8439 7.82076C13.461 8.16626 13.0781 8.5463 12.6792 8.8918C12.2963 9.2373 11.9134 9.56552 11.5304 9.91101C11.0039 10.3947 10.4933 10.8784 9.98278 11.3621C9.77536 11.5521 9.56794 11.7421 9.34457 11.9149C9.1212 12.0876 8.70636 11.984 8.43512 11.7249C8.08411 11.3966 7.73309 11.0684 7.38208 10.7402C6.64814 10.0665 5.9142 9.37549 5.18026 8.70178C4.68565 8.25263 4.19104 7.83803 3.69643 7.38889C3.44114 7.14704 3.20182 6.88792 2.93058 6.64607C2.62743 6.36967 2.30833 6.11055 2.00518 5.83415C1.70203 5.55776 1.39888 5.28136 1.11169 4.98769C1.03191 4.93586 1.03191 4.78039 1 4.64219Z' fill='%23004FB9' stroke='%23004FB9'/%3E%3C/svg%3E");
    //             background-repeat: no-repeat;
    //             position: absolute;
    //             top: 0;
    //             right: 0;
    //             -webkit-transition: all .3s ease;
    //             -moz-transition: all .3s ease;
    //             -ms-transition: all .3s ease;
    //             -o-transition: all .3s ease;
    //             transition: all .3s ease;
    //         }

    //         &-active {
    //             &::after {
    //                 transform: rotate(180deg);
    //             }
    //         }
    //     }
    // }
  }
}