&-saving {
  position: relative;
  background: linear-gradient(130.67deg, #004FB9 13.54%, #221E78 47.25%);

    h2{
      color: #00B9EB;
      @include w(680);
    }
    p{
      color: $white;
      margin-bottom: 5px;
      line-height: 1.05;
      @include fz(14,16,20);

      span{
        color: #00B9EB;
        &.text-1{
          @include fz(16,18,20);
          font-weight: 500;
        }
        &.text-2{
          @include fz(18,20,24);
          font-weight: bold;
        }
        b{
          @include fz(26,28,34);
        }
      }

      &.text-small{
        @include fz(10,11,12);
        font-weight: 300;
        margin-top: 30px;
        @include responsive-width($tablet_m){
          margin-top: 40px;
        }
      }
    }
}
