$m_image_common_path: "../../../../assets/img/" !default;
// Slider
@import "../../../plugin/slick-carousel.scss";

// Estilos básicos
@import "../../../base/base.scss";
@import "../../../components/componentes.scss";
$m_image_path: "../../../../assets/img/personas/landing-convergente/" !default;

// Theme
@import "custom";
@import 'cyberwow';
@import "banner";
@import "mixing";
@import "animations";
@import 'cintoPopup';

.e-convergente {
  @import "saving";
  @import "discount";
  @import "plans";
  @import "functions";
  @import "legal";
}
@import "popup_plans";
@import "modal_banner";
@import "_inbound-fix";

.e-convergente-plans__modal-cobertura{
  .m-modal__container{
    border-radius: 20px;
    @include responsive-width(430px){
      width: 350px;
    }
    @include responsive-width($tablet_m){
      width: 570px;
      background-color: transparent!important;
      background-size: 100% 100%!important;
      padding: 55px 40px 25px 75px;
      background-image: m_image_url('2022/03/e-convergente-plans-modal-bg.png')!important;
      @include backgound_retina {
        background-image: m_image_url('2022/03/e-convergente-plans-modal-bg@2x.png')!important;
      }
      
    }
    .m-modal__head{
      padding-bottom: 20px;
    }
    h2{
      font-weight: 600;
      font-size: 24px;
    }
    ul{
      column-count: 2;
      @include responsive-width($tablet_m){
        column-count: 3;
      }
      li{
        font-size: 12px;
      }
    }
  } 
}

#e-convergente-plans__modal-promo-jueves_entel{
  overflow-y: hidden;
  .m-modal__container{
    background: none;
    padding: 0;
    max-width: 320px;
    margin: auto;
    @include responsive-width($tablet_m){
      max-width: 630px;
    }
  }

  .m-modal__close {
    top: 20px;
    right: 5%;
    @include responsive-width($tablet_m){
      top: 40px;
      right: 35px;
    }
  }
}
