- title_page = "Home | Entel Perú"

include ../../../base/vars
include ../../../mixins/mixins
include ./mixins/_mixins

- img_path = '../../../../assets/img/personas/home/'

+html_template_clear
    //- sections
    .e-page
        //- include ./sections/top-banner
        //- include ./sections/cintillo_entel_top
        include ./sections/banners
        //-include ./sections/countdown
        //- include ./sections/headband/headband-interbank
        //- include ./sections/access
        include ./sections/access_test_a_b
        include ./modals/modal_moviles
        include ./modals/modal_form 
        //- include ./modals/modal_banner // solo formulario c2c
        section.e-home-btns-test
            .e-home-btns-peru.js--active
                +style_btns('peru')
            .e-home-btns-chile
                +style_btns('chile')
        include ./sections/phones
        include ./sections/_roaming
        include ./sections/benefits
        //- include ./sections/_app
        //- include ./sections/autoservice
        //- include ./sections/entel-world
        include ./sections/contact
        include ./sections/services
        include ./sections/cintillofooter

        