.entel__slider--home__item(data-entel-slide-index='3' data-entel-slide-time='8000' data-layer-id='Banner_Aprovecha_ y_obtén_tu_Chip_Power _5g' data-layer-name='Aprovecha y obtén tu Chip Power 5g' data-layer-position='Aprovecha y obtén tu Chip Power 5g- Banner Superior - 1' data-layer-creative='https://catalogo.entel.pe/entel-chip-power-autoactivable/p?modalidad=prepago-linea-nueva&plan=Libre&oferta=regular&cuota=0')
    .entel__slider--home__item__content.e-slider-chip-power-5g
        .container-flex.flex-center.m-o-10.p-r.m-w-1042
            +lazy_image_webp_retina_media('2021/08/banner-chip-power-5g-mob', "png", '2021/08/banner-chip-power-5g-desk', "992", "Aprovecha y obtén tu Chip Power 5g")
            .e-slider-chip-power-5g-btn
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/entel-chip-power-autoactivable/p?modalidad=prepago-linea-nueva&plan=Libre&oferta=regular&cuota=0') Lo quiero
            .container-flex.f-d-c-r.p-l-1.f-d-r-r-tll.a-i-c-tll
                +lazy_image_webp_retina_media('2021/08/banner-chip-power-5g-mano-mob', "png", '2021/08/banner-chip-power-5g-mano-desk', "992", "Aprovecha y obtén tu Chip Power 5g")
                +lazy_image_webp_retina_media('2021/08/banner-chip-power-5g-text-mob', "png", '2021/08/banner-chip-power-5g-text-desk', "992", "Aprovecha y obtén tu Chip Power 5g")




