&--persons {
    $modal_close : add-class-modifier("__close");
    $modal_container : add-class-modifier("__container");
    $modal_head : add-class-modifier("__head");
    $modal_content : add-class-modifier("__content");
    $modal_body : add-class-modifier("__body");

    #{$modal_close} {
        border-color: darken($white, 17%);
        transition-delay: 0s;
        &:hover,&:focus{
            border-color: $orange;
            &:before,&:after{
                background-color: $orange;
            }
        }
        &:before,&:after {
            background-color: darken($white, 17%);
        }
    }

    #{$modal_container}{
        max-width: 90%;
        background: $white;
        text-align: left;
    }

    #{$modal_head}{
        text-align: center;
    }
    #{$modal_content}{
    }

    &.theme--blue{
        #{$modal_container}{
            background: $blue;
            p,a,li,h1,h2,h3,h4,h5,h6{
                color: $white;
            }
            label{
                color: $white;
            }
        }
        #{$modal_close} {
            border-color: $white;
            background: transparent;
            &:hover,&:focus{
                border-color: $orange;
                &:before,&:after{
                    background-color: $orange;
                }
            }
            &:before,&:after {
                background-color: $white;
            }
        }
    }

    &.theme--message{
        #{$modal_container}{
            width: 320px;
            text-align: center;
            padding: 0;
        }
        #{$modal_head}{
            background-image: m_image_common_url("personas/2021/03/modal-bg-message.png");
            border-radius: 8px 8px 0 0;
            background-size: 100% 100%;
            padding: 40px 50px 25px;
            background-repeat: no-repeat;
            background-color: $white;
            @include backgound_retina{
                background-image: m_image_common_url("personas/2021/03/modal-bg-message@2x.png");
            }
            picture{
                display: inline-block;
                margin-bottom: 10px;
            }
            p{
                font-weight: 600;
                color: $white;
                font-size: 18px;
                @include responsive-width($tablet_m){
                    font-size: 20px;
                }
            }
        }
        #{$modal_body}{
            font-size: 14px;
            padding: 20px 25px 50px;
            @include responsive-width($tablet_m){
                font-size: 16px;
            }
        }
        #{$modal_close} {
            border-color: $white;
            background: transparent;
            &:hover,&:focus{
                border-color: $orange;
                &:before,&:after{
                    background-color: $orange;
                }
            }
            &:before,&:after {
                background-color: $white;
            }
        }
    }
}