// @import "./../../base/base.scss";
// @import "./../../components/componentes.scss";


  
//   @media only screen and (max-width: 1024px){
//     .m-modal--empresas .m-modal__container{
//       padding-top: 65px;
//     }  
//     .content_cintillo{
//       font-size: 12px;
//     }
//     .m-modal.js--open .m-modal__close{
//       margin-top: 20px!important;
//     }  
//   }
$path_assets: "../../../../assets/img/empresas/" !default;
&--empresas {
    .e-empresas__form__imagen{
            margin-bottom: 13px;        
    }
    .e-empresas-block-flex{
        @media(min-width: 768px){
            display: flex;
            justify-content:space-evenly;
            flex-direction: row;
        }
        &-item{
            @media(min-width: 768px){
                width: 48%;
            }
        }
    }
    $modal_close : add-class-modifier("__close");
    $modal_close_auto : add-class-modifier("__close_auto");
    $modal_container : add-class-modifier("__container");
    $modal_body : add-class-modifier("__body");

    background-color: rgba($black, .5);
    color: $extra_dark_gray;
    font-size: 14px;
    @include responsive-width($tablet_s) {
        font-size: 16px;        
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $dark_blue;
    }

    form{
        text-align: center;
    }
    .m-modal__container picture{
        width: auto;
        margin: 0;
    }
    .e-content-editor {
        text-align: left;
        ul {    
            @include responsive-width($tablet_m) {
                line-height: 1.2;
            }    
            li {
                position: relative;
                padding-left: 15px;
                margin-bottom: 5px;
    
                &:before {
                    content: "";
                    background-color: $orange;
                    left: 0;
                    width: 5px;
                    height: 5px;
                    position: absolute;
                    border-radius: 100%;
                    top: 9px;
    
                    @include responsive-width($mobile_l) {
                        top: 10px;
                    }
                }
            }
            &:not(:first-child):not(:last-child){
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
        &:not(.m-accordion__content){
            margin-top: 25px;
        }
    }

    .e-empresas__form__send{
        text-align: center;
    }

    .e-empresas__modal__ficha__cintillo {
        position: absolute;
        top: 0;
        width: 88%;
        @include responsive-width($laptop_m) {
          width: 94%;
        }
        .content_cintillo {
            background: #00B9EB;
            width: auto;
            display: inline-block;
            color: #fff;
            padding: 4px 14px 6px;
            border-radius: 0 0 16px 16px;
            @media(max-width:768px){
                font-size: 12px;
            }
        }
        .large__text{
            font-size: 12px;
            font-weight: bold;
        }
    }
      
    strong.text-orange {
        color: #FF560A;
    }
      

    #{$modal_close} {
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-color: darken($white, 13.5%);
        margin-right: 10px;
        margin-top: 10px;

        background-color: rgb(34 30 120 / 0%);
        border: 1px solid #9E9FA1;

        @include responsive-width($mobile_l) {
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin-right: 20px;
            margin-top: 20px;
        }
        
        &:before,
        &:after {
            background-color: darken($white, 13.5%);
        }
    }
    #{$modal_close_auto} {
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-color: darken($white, 13.5%);
        margin-right: 7px;
        margin-top: 0px;
        visibility: inherit;
        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;
        top: 10px;
        right: 0;
        position: absolute;
        &:before,
        &:after {
            background-color: #FF560A;
        }
    }

    #{$modal_container} {
        background-color: $white;
        border-radius: 20px;
        padding-top: 50px;
        // padding-bottom: 50px;
        padding-bottom: 30px;
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;

        @include responsive-width($mobile_l) {
            padding-top: 60px;
            // padding-bottom: 45px;
            padding-bottom: 30px;
        }
        @include responsive-width($tablet_s) {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }

        .mobile-text{
            display: block;
            @media(min-width: 768px){
                display: none;
            }
        }

        &.m-modal--empresas__no-contesta{
            background-image: url($path_assets+ '2021/09/e_modal_no_contesta_header-mob.png');
            background-position: top right -40px;
            background-size: 330px;            
            background-repeat: no-repeat;
            @include backgound_retina {
                background-image: url($path_assets+ '2021/09/e_modal_no_contesta_header-mob@2x.png');
            }
            @include responsive-width($tablet_s) {
                background-image: url($path_assets+ '2021/09/e_modal_no_contesta_header.png');
                background-size: 583px;
                background-repeat: no-repeat;
                @include backgound_retina {
                    background-image: url($path_assets+ '2021/09/e_modal_no_contesta_header@2x.png');
                }
            }
            
            padding-top: 150px;
            p{
                color: #4E5057;
                font-size:14px;                
            }
            .e-button--orange--telf{
                @extend%button_160_50
            }            
        }
        
        &.m-modal--empresas__thanks{
            background-image: url("https://www.entel.pe/wp-content/uploads/2021/04/empresas_modal_thanks_bg_v2_mob.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left top;
            border-radius: 31px;
            max-width: 301px;
            margin: auto;
            @media(max-width: 640px){
                padding-top: 30px;
            }
            @media(min-width: 640px){
                width: 620px;
                max-width: 696px;
                height: auto;
                background-image: url("https://www.entel.pe/wp-content/uploads/2021/04/empresas_modal_thanks_bg.png");
                &.m-modal--empresas__novalid{
                    height: 517px;
                }
            }

            &__content__masparati{
                background-image: url("/wp-content/uploads/2021/08/empresas_modal_thanks_duplica_bg_mob.png");
                @media(min-width: 640px){
                    background-image: url("/wp-content/uploads/2021/08/empresas_modal_thanks_duplica_bg.png");
                }
            }

            &.m-modal--empresas__novalid{
                background-image: url("https://www.entel.pe/wp-content/uploads/2021/04/empresas_modal_invalid_bg_mob.png");
                background-size: 301px;
                background-position: right top;
                @media(min-width: 640px){
                    background-size: 564px !important;
                    background-image: url("https://www.entel.pe/wp-content/uploads/2021/04/empresas_modal_invalid_bg.png") !important;
                }
            }
            @media(min-width: 768px){
                width: 696px;
            }
            >picture{
                img{
                    @media(max-width: 640px){
                        max-width: 133px;
                    }
                }
            }

            .m-modal--empresas__thanks__title{
                max-width: 238px;                
                margin: auto;
                font-size: 18px;
                font-weight: bold;
                @media(min-width: 640px){
                    font-size: 28px;
                    max-width: 383px;
                }
                &.novalid{
                    max-width: 274px;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 28px;
                    line-height: 30px;
                    font-weight: 400;
                    color: #FFFFFF;
                    .text-green{
                        color: #5CDEB1;
                        font-weight: bold;
                    }
                    @media(max-width: 767px){
                        text-align: left;
                        max-width: 207px;
                        font-size: 24px;
                        line-height: 26px;
                        margin-top: 10px;
                    }
                }
            }
            .e-button{
                &.novalid{
                    height: 50px;
                    max-width: 170px;
                    min-width: 170px;
                    padding-left: 0;
                    padding-right: 0;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;                    
                }
            }
            .m-modal--empresas__thanks__content{
                &.novalid{
                    max-width: 406px;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 14px;
                    line-height: 22px;
                    @media(max-width: 640px){
                        line-height: 20px;
                    }
                }
            }
            .img-icon_invalid{
                display: block;
                margin-top: 65px;
            }
            .m-modal--empresas__thanks__subtitle{
                margin-top: 30px;
                margin-bottom: 0;
                font-size: 14px;
                max-width: 437px;
                margin-left: auto;
                margin-right: auto;
            }
            .m-modal--empresas__thanks__note{
                margin-top: 15px;
            }
            .thanks-color{
                color: #5CDEB1;
            }
        }

        &.m-modal--empresas__thanks__duplica{
            
            background: #FFFFFF;
            border-radius: 31px;
            max-width: 301px;
            margin: auto;
            padding-bottom: 0 !important;
            @media(max-width: 640px){
                padding-top: 30px;
                padding-left: 0 !important;
                padding-right: 0 !important;
                
            }
            @media(min-width: 640px){
                width: 620px;
                max-width: 696px;
                height: auto;
                &.m-modal--empresas__novalid{
                    height: 517px;
                }
            }

        }
        #e-modal__scene__success_blindaje_duplica{
            height: 453px;
            @media(min-width: 640px){
                height: 525px;
            }
        }
        .m-modal--empresas__thanks__duplica{
            
            &.m-modal--empresas__novalid{
                background-image: url("https://www.entel.pe/wp-content/uploads/2021/04/empresas_modal_invalid_bg_mob.png");
                background-size: 301px;
                background-position: right top;
                @media(min-width: 640px){
                    background-size: 564px !important;
                    background-image: url("https://www.entel.pe/wp-content/uploads/2021/04/empresas_modal_invalid_bg.png") !important;
                }
            }
            @media(min-width: 768px){
                width: 696px;
            }
            >picture{
                img{
                    @media(max-width: 640px){
                        max-width: 133px;
                    }
                }
            }
            &__disclaimer {
                @media(min-width: 640px){
                    // margin-left: 20px;
                }
            }
            &__caja_display{
                display:flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 6px;

            }
            &__title_v2{
                max-width: 238px;                
                margin: auto;
                font-family: Barlow;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                color: #221E78;
                @media(min-width: 640px){
                    font-size: 24px;
                    min-width: 383px;
                    line-height: 24px;

                }
                &.novalid{
                    max-width: 274px;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 28px;
                    line-height: 30px;
                    font-weight: 400;
                    color: #FFFFFF;
                    .text-green{
                        color: #5CDEB1;
                        font-weight: bold;
                    }
                    @media(max-width: 767px){
                        text-align: left;
                        max-width: 207px;
                        font-size: 24px;
                        line-height: 26px;
                        margin-top: 10px;
                    }
                }
            }    
            &__title{
                max-width: 238px;                
                margin: auto;
                font-size: 20px;
                font-weight: bold;
                color: #221E78;
                @media(min-width: 640px){
                    font-size: 24px;
                    max-width: 383px;
                }
                &.novalid{
                    max-width: 274px;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 28px;
                    line-height: 30px;
                    font-weight: 400;
                    color: #FFFFFF;
                    .text-green{
                        color: #5CDEB1;
                        font-weight: bold;
                    }
                    @media(max-width: 767px){
                        text-align: left;
                        max-width: 207px;
                        font-size: 24px;
                        line-height: 26px;
                        margin-top: 10px;
                    }
                }
            }
            .e-button{
                &.novalid{
                    height: 50px;
                    max-width: 170px;
                    min-width: 170px;
                    padding-left: 0;
                    padding-right: 0;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;                    
                }
            }
            &__content{
                &__masparati{
                    
                    margin: auto;
                    margin-top: 10px;
                    background-image: url("https://www.entel.pe/wp-content/uploads/2022/04/empresas_modal_thanks_compra_2_paga_1_mob.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin-top: 9px;
                    height: 280px;
                    padding-top: 30px;
                    border-radius: 0 0 20px 20px;
                    @media(min-width: 640px){
                        height: 348px;
                        width: 100%;
                        padding-top: 70px;
                        background-size: 504px 348px;
                        background-position: center;
                        background-image: url("https://www.entel.pe/wp-content/uploads/2022/04/empresas_modal_thanks_compra_2_paga_1.png") !important;
                        border-radius: 0;
                    }

                    .e-button--small{
                        font-size: 12px;
                        @media(min-width: 640px){
                            font-size: 14px;
                        }
                    }
                    &--box{
                        display: flex;
                        align-items: end;
                        @media(min-width: 640px){
                            
                            width: 88%;
                            margin: auto;
                        }
                        picture{
                            position: relative;
                            float: left;
                            width: auto;
                            left: 10%;
                        }
                        
                        .image-texto{
                            position: relative;
                            float: left;
                            width: auto;
                            left: 0;
                        }
                        
                        &--inside{
                            position: relative;
                            margin-left: 13%;
                            margin-top: 5%;
                            text-align: left;
                            width: 66%;
                            @media(min-width: 640px){
                                // margin-left: 15%;
                                width: 54%;
                            }
                        }
                        &--insides{
                            position: relative;
                            margin-left: 13%;
                            text-align: left;
                            width: 40%;
                            @media(min-width: 640px){
                                margin-left: 20%;
                                width: 30%;
                            }
                        }
                        .e-buttom_deacuerdo_duplica{
                            margin-top: 30px;
                        }
                    }  
                }

                &.novalid{
                    max-width: 406px;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 14px;
                    line-height: 22px;
                    @media(max-width: 640){
                        line-height: 20px;
                    }
                }
            }
            .img-icon_invalid{
                display: block;
                margin-top: 65px;
            }
            &__subtitle{
                color: #383C47;
                margin-top: 0px;
                margin-bottom: 0;
                font-size: 12px;
                max-width: 437px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 6px;
                @media(min-width: 640px){
                    margin-top: 6px;
                    line-height: 16px;
                    font-size: 16px;
                }
                .thanks-color{
                    color: #5CDEB1;
                    font-weight: bold;
                }
            }

            &__disclaimer{
                color:#221E78;
                font-size: 12px;
                margin: auto;
                font-weight: 500;
                max-width: 300px;
                padding-bottom: 15px;
                padding-top: 8px;
                @media(max-width: 640px){
                    font-size: 11px;
                    max-width: 247px;
                }
            }
            
            
        }
    }

    @at-root #{$modal_body} {
        >*:not(.m-modal) {
            @include responsive-width($mobile_l) {
                filter: none;
            }
        }
    }
    &__whatsapp{
        .e_block__steps{
            span{
                position: relative;
                display: inline-block;
                width: 32px;
                height: 32px;
                background: #DDDDDD;
                border-radius: 50%;
                margin-left: 10px;
                margin-right: 10px;
                color: $white;
                padding-top: 3px;
                font-size: 19px;
                font-weight: bold;
                &:nth-child(1){
                    background-color: $teal;
                    color: $teal;
                    &::before{
                        content: "";
                        display: inline-block;
                        transform: rotate(45deg);
                        height: 17px;
                        width: 8px;
                        border-bottom: 3px solid $white;
                        border-right: 3px solid $white;
                        margin-left: 8px;                    
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 3px;
                        background-color: #DDDDDD;
                        top: 15px;
                        right: -20px;   
                    }
                }
            }
        }
        &__title{
            color: $dark_blue;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
            margin-top: 15px;
            margin-bottom: 8px;
        }
        &__description{
            color: $dark_blue;
            font-size: 14px;
            line-height: 18px;
            margin-top: 5px;
            margin-bottom: 15px;
        }
        .e-buttom-group{
            margin-bottom: 25px;
        }
        .e-button{
            min-width: 130px;
            padding: 9px 10px;
        }
        .e-button--orange{
            margin-right: 2.5px;
        }
        .e-button--teal{
            color: $white;
            border-color: $wsp_green;
            background-color: $wsp_green;
            margin-left: 2.5px;
            padding-left: 35px;
            background-image: m_image_common_url("empresas/2020/12/e_button_whatsapp_icon.png");
            background-size: 21px;
            background-position: calc(15px) center;
            background-repeat: no-repeat;
            @include backgound_retina {
                background-image: m_image_common_url("empresas/2020/12/e_button_whatsapp_icon@2x.png");
            }
        }
    }
    &__thanks{
        &__subtitle{
            font-size: 14px;
        }
        &__note{
            border: 1px dashed #5CDEB1;
            box-sizing: border-box;
            border-radius: 8px;
            font-weight: normal;
            padding: 5px 10px;    
            padding-left: 30px;
            max-width: 350px;
            margin: 15px auto;
            position: relative;
            font-size: 13px;
            text-align: left;
            &::before{
                content: '';
                position: absolute;
                display: block;
                height: 12px;
                width: 12px;   
                left: 13px;
                top: 7px;
                background-image: m_image_common_url("2021/01/e_information_icon.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 12px 12px;
                transition-property: all;
                transition-duration: 0.3s;
                transition-timing-function: ease-in-out;
                @include backgound_retina {
                    background-image: m_image_common_url("2021/01/e_information_icon@2x.png");
                }                
            }
        }
        &__tracking-code{
            max-width: 302px;
            margin: auto;
            background: #C9DEF8;
            border-radius: 9.21195px;
            padding: 6px 26px;
            font-size: 14px;
            line-height: 23px;
            color: #221E78;
            margin-top: 30px;
            @include responsive-width($mobile_l){
                font-size: 16px;                
            }
        }
    }
    &__thanks{
        font-size: 14px;
        color: $extra_light_black;
        @include responsive-width($mobile_l){
            font-size: 16px;            
        }
        p{
            span{
                color: $orange;
                font-weight: 700;
            }
        }
        &__title{
            //font-size: 24px;
            font-size: 20px;
            font-weight: 600;
            //color: $extra_light_black;
            color: $dark_blue;
            margin-top: 20px;
            //margin-bottom: 10px;
            margin-bottom: 20px;
            line-height: 1;
            @include responsive-width($mobile_l){
                //font-size: 34px;           
                font-size: 30px;           
            }
        }
        .e-button{
            margin: auto 5px;
        }
        &__container{
            max-width: 225px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__terms{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        h2{
            font-size: 22px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 15px;
            @include responsive-width($tablet_m){
                font-size: 24px;
            }
        }
    }
    .e-buttom_deacuerdo{
        margin-top: 30px;
    }

}
.e-empresas-automatic-close-texto{
    margin-top: 15px;
    cursor: pointer;
    color: #ff560a;
    font-weight: bold;
    text-decoration: underline;
}