.m-modal {
  height: 100%;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  width: 100%;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  background-color: rgba($black, 0.8);

  &.js--open {
    z-index: 1001;
    visibility: visible;
    opacity: 1;

    .m-modal__animation,
    &.m-modal__animation {
      opacity: 1;
      transform: translateY(0%);

      @include responsive-width($mobile-l) {
      }
    }

    .m-modal__close {
      visibility: visible;
    }
  }

  &__content {
    position: relative;
    z-index: 200;

    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;

    > * {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &__container {
    border-radius: 8px;
    padding: 50px 20px;
    text-align: center;
    position: relative;
    background-color: $primary;

    margin: 20px;

    @include responsive-width($mobile_l) {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    &--personas {
      background: linear-gradient(180deg, #ffffff 0%, #e7faff 100%);
      max-width: 397px;
      height: 492px;
      > p {
        margin: 8rem auto;
      }
      .btn-bg-orange {
        width: 180px;
      }
      .m-modal__close {
        border-color: #dddddd;
        &:before,
        &:after {
          background-color: #dddddd;
        }
      }
    }
  }

  &__animation {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
    opacity: 0;
    transform: translateY(-100%);

    @include responsive-width($mobile-l) {
    }
  }

  &__close {
    cursor: pointer;
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;

    visibility: hidden;
    transition-delay: 0.2s;

    background-color: $white;
    border: 1.6px solid $white;
    border-radius: 100%;
    
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    margin-right: 10px;
    margin-top: 10px;

    &:before,
    &:after {
      content: "";
      display: block;
      height: 1.6px;
      width: 14px;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -7px;
      border-radius: 1px;
      position: absolute;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      background-color: $white;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
  &__close_auto {
    cursor: pointer;
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;

    visibility: hidden;
    transition-delay: 0.2s;

    background-color: $white;
    border: 1.6px solid $white;
    border-radius: 100%;
    
    position: relative;
    right: 0;
    top: 0;
    display: block;
    margin-right: 10px;
    margin-top: 10px;

    &:before,
    &:after {
      content: "";
      display: block;
      height: 1.6px;
      width: 14px;
      top: 50%;
      left: 50%;
      margin-top: -1px;
      margin-left: -7px;
      border-radius: 1px;
      position: relative;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      background-color: $white;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__body {
    overflow: hidden;

    > *:not(.m-modal) {
      @include responsive-width($mobile-l) {
        filter: blur(3px);
      }

      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: linear;
    }
  }
  

  &__scene {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    position: relative;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    &.js--active {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
  }

  @import "modal_personas";
  @import "modal_persons";
}


@media only screen and (max-device-width: 651px) {

 .div-title-modal-automatic {
     width: 320px !important;
 }
 .e-input--radio label:not(.error) {
     font-size: 11px !important;

}
#e-modal__scene__form_modal_automatic .modal-automatic {
// padding: 216px 57px 10px !important;
}

}