&--personas {
  $modal_close: add-class-modifier("__close");
  $modal_container: add-class-modifier("__container");
  $modal_body: add-class-modifier("__body");

  background-color: rgba($black, 0.5);
  color: $extra_dark_gray;
  font-size: 14px;
  @include responsive-width($tablet_s) {
    font-size: 16px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #196ad6;
  }

  form {
    text-align: center;
  }

  .e-content-editor {
    text-align: left;
    ul {
      @include responsive-width($tablet_m) {
        line-height: 1.2;
      }
      li {
        position: relative;
        padding-left: 15px;
        margin-bottom: 5px;
        color: #004fb9;
        &:before {
          content: "";
          background-color: $orange;
          left: 0;
          width: 5px;
          height: 5px;
          position: absolute;
          border-radius: 100%;
          top: 9px;

          @include responsive-width($mobile_l) {
            top: 10px;
          }
        }
      }
      &:not(:first-child):not(:last-child) {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    &:not(.m-accordion__content) {
      margin-top: 25px;
    }
    img {
      margin: 1rem auto;
      display: block;
    }
  }

  .e-empresas__form__send {
    text-align: center;
  }

  #{$modal_close} {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-color: darken($white, 13.5%);
    margin-right: 15px;
    margin-top: 15px;

    &:before,
    &:after {
      background-color: darken($white, 13.5%);
    }
  }

  #{$modal_container} {
    //background-color: darken($white, 2.6%);
    background-color: $white;
    // background-image: m_image_common_url("personas/2021/03/e-duplica-app-free.bg.png");
    &--bg--success {
      .m-modal__close {
        background-color: initial;
      }
      .e-button {
        margin-top: 1rem;
      }
      // background-image: m_image_common_url(
      //   "personas/duplica-app/2021/03/m-modal__container-bg-success.png"
      // );
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100% 177px;
      padding-top: 180px;
      @include responsive-width($mobile_l) {
        padding-top: 180px !important;
        // padding-bottom: 45px;
      }
      @include backgound_retina {
        // background-image: m_image_common_url(
        //   "personas/duplica-app/2021/03/m-modal__container-bg-success@2x.png"
        // );
      }
    }

    border-radius: 20px;
    padding-top: 80px;
    padding-bottom: 50px;
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;

    @include responsive-width($mobile_l) {
      padding-top: 50px;
      padding-bottom: 45px;
    }

    @include responsive-width($tablet_s) {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @at-root #{$modal_body} {
    > *:not(.m-modal) {
      @include responsive-width($mobile_l) {
        filter: none;
      }
    }
  }
  &__whatsapp {
    .e_block__steps {
      span {
        position: relative;
        display: inline-block;
        width: 32px;
        height: 32px;
        background: #dddddd;
        border-radius: 50%;
        margin-left: 10px;
        margin-right: 10px;
        color: $white;
        padding-top: 3px;
        font-size: 19px;
        font-weight: bold;
        &:nth-child(1) {
          background-color: $teal;
          color: $teal;
          &::before {
            content: "";
            display: inline-block;
            transform: rotate(45deg);
            height: 17px;
            width: 8px;
            border-bottom: 3px solid $white;
            border-right: 3px solid $white;
            margin-left: 8px;
          }
          &::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 3px;
            background-color: #dddddd;
            top: 15px;
            right: -20px;
          }
        }
      }
    }
    &__title {
      color: $dark_blue;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      margin-top: 15px;
      margin-bottom: 8px;
    }
    &__description {
      color: $dark_blue;
      font-size: 14px;
      line-height: 18px;
      margin-top: 5px;
      margin-bottom: 15px;
    }
    .e-buttom-group {
      margin-bottom: 25px;
    }
    .e-button {
      min-width: 130px;
      padding: 9px 10px;
    }
    .e-button--orange {
      margin-right: 2.5px;
    }
    .e-button--teal {
      color: $white;
      border-color: $wsp_green;
      background-color: $wsp_green;
      margin-left: 2.5px;
      padding-left: 35px;
      background-image: m_image_common_url(
        "personas/2020/12/e_button_whatsapp_icon.png"
      );
      background-size: 21px;
      background-position: calc(15px) center;
      background-repeat: no-repeat;
      @include backgound_retina {
        background-image: m_image_common_url(
          "personas/2020/12/e_button_whatsapp_icon@2x.png"
        );
      }
    }
  }
  &__thanks {
    &__subtitle {
      font-size: 14px;
    }
    &__note {
      border: 1px dashed #5cdeb1;
      box-sizing: border-box;
      border-radius: 8px;
      font-weight: normal;
      padding: 10px;
      padding-left: 30px;
      max-width: 350px;
      margin: 30px auto 30px auto;
      position: relative;
      font-size: 14px;
      text-align: left;
      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 12px;
        width: 12px;
        left: 13px;
        top: 13px;
        background-image: m_image_common_url("2020/10/e_information_icon.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 12px 12px;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        @include backgound_retina {
          background-image: m_image_common_url(
            "2020/10/e_information_icon@2x.png"
          );
        }
      }
    }
  }
  &__thanks {
    font-size: 14px;
    margin-top: 1rem;
    color: #004fb9;
    .m-modal--personas__thanks--share {
      display: flex;
      justify-content: space-evenly;
      max-width: 300px;
      margin: 0 auto;
    }
    h2 {
      font-weight: 600;
      @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 58px;
      }
    }
    p {
      &:nth-of-type(2) {
        color: #4e5057;
        font-size: 14px;
        line-height: 20px;
      }
      // font-weight: 600;
      @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 29px;
      }
    }
    @include responsive-width($mobile_l) {
      font-size: 16px;
    }
    p {
      span {
        color: $orange;
        font-weight: 700;
      }
    }
    &__title {
      //font-size: 24px;
      font-size: 20px;
      font-weight: 600;
      //color: $extra_light_black;
      color: $dark_blue;
      margin-top: 20px;
      //margin-bottom: 10px;
      margin-bottom: 20px;
      line-height: 1;
      @include responsive-width($mobile_l) {
        //font-size: 34px;
        font-size: 30px;
      }
    }
    .e-button {
      margin: 1rem 0;
    }
    &__container {
      max-width: 225px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__terms {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    h2 {
      font-size: 22px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 15px;
      @include responsive-width($tablet_m) {
        font-size: 24px;
      }
    }
  }
}
