.entel__slider--home__item__content.entel__slider--home__lineas_adicionales {
  background-color: $white;
  padding: 0;
  -webkit-box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
  box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);

  .principalcontent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    -ms-transform: none;
    transform: none;
    max-width: 320px !important;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    @include responsive-width($tablet-m) {
      max-width: 768px !important;
    }

    @include responsive-width($laptop-s) {
        margin-top: 0;
        max-width: 1030px !important;
    }

    @include responsive-width($laptop-m) {
        max-width: 1100px !important;
    }

    &__textbanner {
      font-weight: bold;
      text-align: left;
      display: block;
      max-width: 320px;
      margin: 0 auto;

      @include responsive-width($tablet-m) {
        margin: 0;
        max-width: none;
        text-align: left;
        width: 296px;
      }

      &-text {
        position: relative;
        margin: 0 auto;
        text-align: left;
        z-index: 2;
        padding-top: 20px;
        padding-left: 20px;

        @include responsive-width($tablet-m) {
          padding-top: 10px;
          padding-left: 55px;
        }

        @include responsive-width($laptop-s) {
          padding-top: 11px;
          padding-left: 60px;
        }

        @include responsive-width($laptop-m) {
          padding-top: 15px;
          padding-left: 50px;
        }

        form {
          .form-legal {
            bottom: -26px;
            color: #9e9fa1;
            font-size: 10px;
            text-align: left;
            position: absolute;
            letter-spacing: 0;

            @include responsive-width($tablet-m) {
              display: none;
            }

            a {
              font-size: 10px;
              color: #9e9fa1;
              font-weight: bold;
              text-decoration: underline;
            }
          }

          .form--content {
            .form--head {
              margin-bottom: 0;

              @include responsive-width($tablet-m) {
                margin-bottom: 10px;
              }

              p {
                margin: 0px;
                color: $color-blue;
                font-size: 14px;
                text-align: left;
                font-weight: 600;
                line-height: 14px;
                font-style: normal;

                span {
                  font-weight: 400;
                }

                @include responsive-width($tablet-m) {
                  font-size: 19px;
                  line-height: 19px;
                }
              }

              h2 {
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 20px;
                text-align: left;
                text-transform: uppercase;
                color: #00b9eb;
                margin: 4px 0px 5px;

                @include responsive-width($tablet-m) {
                  font-size: 34px;
                  line-height: 30px;
                  margin: 6px 0px 11px;
                }
              }

              h3 {
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 12px;
                text-align: left;
                color: $extra_dark_gray;
                margin: 0px 0px 5px;

                @include responsive-width($tablet-m) {
                  font-size: 20px;
                  line-height: 18px;
                  margin: 0px 0px 15px;
                }

                strong {
                  font-weight: bold;
                }
              }

              img {
                margin-bottom: 0px;
                width: auto;
                max-width: none;
                margin-bottom: 10px;
                margin-top: 0;
                display: block;

                @include responsive-width($tablet-m) {
                  margin-bottom: 0;
                  margin-top: 18px;
                }

                @include responsive-width($laptop-s) {
                  margin-bottom: 0;
                  margin-top: 30px;
                  margin-left: 0;
                  width: auto;
                }
              }
            }

            .form--body {
              h3 {
                color: $extra_dark_gray;
                font-size: 11px;
                font-weight: normal;
                margin-bottom: 8px;
                letter-spacing: 0.216667px;

                @include responsive-width($tablet-m) {
                  color: $black;
                  font-size: 11px;
                  margin-bottom: 10px;
                }
              }

              .form--number {
                margin-bottom: 8px;

                @include responsive-width($tablet-m) {
                  margin-bottom: 5px;
                }

                input {
                  border: 1px solid $extra_dark_gray;
                  box-sizing: border-box;
                  border-radius: 7.3332px;
                  width: 160px;
                  height: 44px;
                  padding: 10px 15px;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 15px;
                  align-items: center;
                  letter-spacing: 0.0015em;
                  color: $extra_dark_gray;

                  &.error {
                    border-color: #f10101;
                  }

                  &.error::placeholder {
                    color: #f10101;
                  }

                  @include responsive-width($tablet-m) {
                    width: 216px;
                    height: 56px;
                    font-size: 14px;
                    line-height: 17px;
                  }
                }
              }

              .form--check {
                display: flex;
                align-items: center;
                width: 162px;

                @include responsive-width($tablet-m) {
                  width: 220px;
                }
                
                &>span {
                  font-weight: normal;
                  color: $extra_dark_gray;  
                  line-height: 10px;
                  font-size: 8.5px;

                  @include responsive-width($tablet-m) {
                    font-size: 11px;
                  }
                  
                  a {
                    color: $black; 
                    margin-left: 3px;
                    margin-right: 3px;
                    line-height: 18px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 8.5px;

                    @include responsive-width($tablet-m) {
                      font-size: 11px;
                    }
  
                    span {
                      text-decoration: underline;
                      font-weight: normal;
                    }
                  }
                }

                input {
                  display: none;
                }

                label {
                  @include responsive-width($tablet-m) {
                    font-size: 11px;
                  }
                }

                .input-mask-top {
                  display: none;
                  width: 18px;
                  height: 18px;
                  border: 1px solid $orange;
                  box-sizing: border-box;
                  border-radius: 4.58325px;
                  margin-top: 2px;
                  position: relative;

                  &.error {
                    border-color: #f10101;

                    &::after {
                      border-color: transparent;
                    }
                  }

                  &::after {
                    content: "";
                    left: 6px;
                    top: 2px;
                    width: 4px;
                    height: 9px;
                    border: solid $orange;
                    border-width: 0px 2px 2px 0px;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    position: absolute;
                  }
                }

                a {
                  color: $black;
                  margin-left: 5px;
                  line-height: 18px;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 10px;

                  span {
                    font-weight: bold;
                    text-decoration: underline;
                  }
                }
              }

              button {
                background-color: $color-bluenew;
                border-radius: 45.8325px;
                color: #ffffff;
                cursor: pointer;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 1px;
                text-align: center;
                padding: 15px 5px;
                text-transform: uppercase;
                margin-top: 7px;
                border: 0px;
                width: 142px;
                height: 40px;
                display: block;

                @include responsive-width($tablet-m) {
                  padding: 21px 36px;
                  margin-top: 9px;
                  width: 186px;
                  height: 50px;
                }
              }
            }

            .form--loading {
              display: none;
              padding: 25px 25px 0px;

              img {
                -webkit-animation: rotating 2s linear infinite;
                -moz-animation: rotating 2s linear infinite;
                -ms-animation: rotating 2s linear infinite;
                -o-animation: rotating 2s linear infinite;
                animation: rotating 2s linear infinite;
                width: 70px;

                @-webkit-keyframes rotating {
                  from {
                    -webkit-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                  }
                  to {
                    -webkit-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    transform: rotate(360deg);
                  }
                }
                @keyframes rotating {
                  from {
                    -ms-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                  }
                  to {
                    -ms-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    transform: rotate(360deg);
                  }
                }

                @include responsive-width($tablet-m) {
                  width: 100px;
                }
              }
            }

            .form--thanks {
              display: none;
              width: 150px;
              text-align: center;

              @include responsive-width($tablet-m) {
                width: 200px;
                padding-top: 0;
              }
                    
              .ico--thanks {
                content: '';
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='135' height='175' viewBox='0 0 135 175' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='67.2576' cy='166.887' rx='66.6017' ry='7.65537' fill='%23F3F3F3'/%3E%3Cpath d='M24.1365 29.0904C24.1365 23.5941 28.5921 19.1384 34.0884 19.1384H100.061C105.557 19.1384 110.013 23.5941 110.013 29.0904V143.127C110.013 155.388 100.073 165.328 87.8124 165.328H46.337C34.076 165.328 24.1365 155.389 24.1365 143.127V29.0904Z' fill='white' stroke='%23002EFF' stroke-width='4.59322'/%3E%3Cpath d='M93.5812 42.1705C92.451 37.7148 103.859 16.8418 108.456 16.8418H111.127C111.78 16.8418 112.309 17.3713 112.309 18.0244V144.063C112.309 157.076 101.76 167.625 88.7475 167.625C88.2685 167.625 86.0107 161.753 86.2837 161.359C92.0514 153.043 98.8381 133.711 98.3934 88.8023C98.1844 67.6929 96.2636 52.7462 93.5812 42.1705Z' fill='%23F3F3F3'/%3E%3Cpath d='M24.1365 29.0904C24.1365 23.5941 28.5921 19.1384 34.0884 19.1384H100.061C105.557 19.1384 110.013 23.5941 110.013 29.0904V143.127C110.013 155.388 100.073 165.328 87.8124 165.328H46.337C34.076 165.328 24.1365 155.389 24.1365 143.127V29.0904Z' stroke='%23002EFF' stroke-width='4.59322'/%3E%3Ccircle cx='110.312' cy='24.6736' r='24.6736' fill='%23FF3D00'/%3E%3Cpath d='M110.276 17.3453C109.533 16.0188 107.157 13.3658 103.593 13.3658C99.1387 13.3658 96.911 16.5489 96.911 19.7333C96.911 22.9164 96.911 24.5092 99.8808 27.6924C102.257 30.2388 107.801 35.6514 110.276 38.0394C112.751 35.6514 118.295 30.2388 120.671 27.6924C123.641 24.5092 123.641 22.9164 123.641 19.7333C123.641 16.5489 121.413 13.3658 116.958 13.3658C113.395 13.3658 111.019 16.0188 110.276 17.3453Z' fill='white'/%3E%3Cpath d='M24.3419 133.596H110.641' stroke='%23002EFF' stroke-width='4.59322' stroke-miterlimit='10'/%3E%3Ccircle cx='67.3665' cy='148.384' r='6.28262' fill='%23002EFF'/%3E%3Cpath d='M56.0597 86.5496C56.0597 89.6573 53.5404 92.1766 50.4327 92.1766C47.325 92.1766 44.8057 89.6573 44.8057 86.5496C44.8057 83.4419 47.325 80.9226 50.4327 80.9226C53.5404 80.9226 56.0597 83.4419 56.0597 86.5496Z' fill='%23002EFF'/%3E%3Cpath d='M89.8253 86.5496C89.8253 89.6573 87.3061 92.1766 84.1983 92.1766C81.0906 92.1766 78.5714 89.6573 78.5714 86.5496C78.5714 83.4419 81.0906 80.9226 84.1983 80.9226C87.3061 80.9226 89.8253 83.4419 89.8253 86.5496Z' fill='%23002EFF'/%3E%3Cpath d='M82.3167 97.2231C82.3167 99.0327 81.9603 100.825 81.2678 102.496C80.5753 104.168 79.5603 105.687 78.2807 106.967C77.0011 108.246 75.4821 109.261 73.8103 109.954C72.1384 110.646 70.3466 111.003 68.537 111.003C66.7274 111.003 64.9356 110.646 63.2638 109.954C61.5919 109.261 60.0729 108.246 58.7933 106.967C57.5138 105.687 56.4988 104.168 55.8063 102.496C55.1138 100.825 54.7574 99.0327 54.7574 97.2231' stroke='%23002EFF' stroke-width='4.59322'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: 100%;   
                width: 58px;
                height: 78px;
                margin: 0 auto 0px;
                display: block;

              }

              p,
              span {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: $color-bluenew;

                @include responsive-width($tablet-m) {
                  font-size: 16px;
                  line-height: 18px;
                  margin: 0px 0px 15px;
                }

                small {
                  font-weight: normal;
                  display: block;
                }
              }
            }

            .form--duplicate {
              text-align: center;
              display: none;
              width: 140px;
              padding-top: 15px;

              @include responsive-width($tablet-m) {
                width: 200px;
              }

              p {
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                margin: 0px;
                color: $color-bluenew;

                @include responsive-width($tablet-m) {
                  font-size: 16px;
                  line-height: 18px;
                }
              }
            }

            .form--error {
              text-align: center;
              display: none;
              width: 159px;
              padding-top: 15px;

              @include responsive-width($tablet-m) {
                width: 210px;
              }

              p {
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                margin: 0px;
                color: $color-bluenew;

                @include responsive-width($tablet-m) {
                  font-size: 16px;
                  line-height: 18px;
                }
              }
            }

            .form--callback {
              margin-top: 2px;

              p {
                margin: 0px;
                color: $color-bluenew;
                font-size: 10px;
                line-height: 11px;
                font-style: normal;
                font-weight: normal;

                a {
                  color: $white;
                  text-decoration: underline;
                  font-weight: bold;
                }

                @include responsive-width($tablet-m) {
                  font-size: 12px;
                  line-height: 14px;
                }
              }

              @include responsive-width($tablet-m) {
                margin-top: 8px;
              }
            }
            
            .form--button {
              display: none;
              text-align: left;
              padding-top: 70px;

              @include responsive-width($tablet-m) {
                padding-top: 100px;
              }

              a {
                border-radius: 45.8325px;
                min-width: 141px !important;
                height: 40px;
                background-color: $color-bluenew !important;
                border-color: $color-bluenew !important;

                @include responsive-width($tablet-m) {
                  min-width: 186px !important;
                  height: 50px;
                }

                span {
                  font-size: 12px;

                  @include responsive-width($tablet-m) {
                    font-size: 13px;
                  }
                } 
              }
            }
          }
        }
      }
    }

    &__imgbanner {
      display: block;
      margin: 0;
      width: 100%;
      position: absolute;
      text-align: left;
      z-index: 1;
      left: 0;
      right: auto;
      top: 0;
      bottom: auto;

      &-img {
        position: relative;
        display: block;
      }

      img {
        max-width: none;
        width: auto;
        display: block;
        margin-left: 192px;

        @include responsive-width($tablet-m) {
          margin-left: 290px;
        }

        @include responsive-width($laptop-s) {    
          margin-left: 310px;
        }

        @include responsive-width($laptop-m) {    
          // margin-left: 30px;
        }
      }
    }
  }

  .e-legal-small {
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    width: 100%;
    padding: 0 10px 0 0;
    color: $extra_dark_gray;
    text-align: right;
    letter-spacing: -0.01em;
    z-index: 4;

    &__mob {
      padding-left: 20px;
      margin: 7px auto 0;
      text-align: left;
      padding-right: 0;
      bottom: 10px;

      @include responsive-width($tablet-m) {
        width: 460px;
        bottom: 20px;
        padding-left: 65px;
      }

      @include responsive-width($laptop-m) {
        padding-left: 50px;
        bottom: 14px;
      }
    }

    &__desk {
      display: none;

      @include responsive-width($laptop-s) {
        font-size: 9px;
        max-width: 930px;
        right: auto;
        left: 45px;
        bottom: 15px;
        padding: 0;
        margin: 0;
        text-align: justify;
        line-height: 10px;
      }

      @include responsive-width($laptop-m) {
        left: 50px;
        max-width: 1000px;
      }
    }

    a {
      color: $extra_dark_gray;
      text-decoration: underline;
      @include responsive-width($laptop-s) {
        text-decoration: none;
      }
    }
  }
}
