.entel__slider--home__item__content--honor-x8a {
    background: radial-gradient(68.33% 81.32% at 24.86% 54.24%, #FFFFFF 0.61%, #8AD1EE 100%);
    @include responsive-width($tablet_m) {
      background: linear-gradient(90deg, #8AD1EE 0%, #FFFFFF 50.86%, #8AD1EE 98.44%);
    }
    @include responsive-width($laptop-s) {
      background: linear-gradient(90deg, #8AD1EE 12.6%, #F3FCFF 52.07%, #8AD1EE 94.09%);
    }
  .e-container-flex {
    align-items: center;
    justify-content: space-around;
    max-width: 320px;
    @include responsive-width($tablet_m) {
      justify-content: center;
      max-width: 768px;
    }
    @include responsive-width($laptop_s) {
      justify-content: space-around;
      max-width: 1060px;
    }
  }
  .e-container-flex__item {
    width: auto !important;
  }

  .e-container-flex__item--1 {
    max-width: 170px;
    @include responsive-width($tablet_m) {
      max-width: none;
      display: flex;
      align-items: flex-start;
      
    }
  }

  .e-container-flex__item_title-honor-x8a {
    @include responsive-width($tablet_m) {
      margin-top: 6px;
    }
    @include responsive-width($laptop_s) {
      margin-top: 12px
    }
    h2 {
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
      text-align: left;
      color: $color-bluenew;
      @include responsive-width($tablet_m) {
        font-size: 30px;
      }
      @include responsive-width($laptop_s) {
        font-size: 40px;
        line-height: 48px;
      }
    }

    .logo-honor-x8a {
      margin-top: 8px;
      @include responsive-width($tablet_m) {
        margin-top: 12px;
      }
    }
  }
  .e-container-flex__item_specs-honor-x8a {
    margin: 20px 0;
    @include responsive-width($tablet_m) {
      max-width: 160px;
      margin: auto 30px;
      top: -11px;
      right: 11px;
      position: relative;
    }
    @include responsive-width($laptop_s) {
      top: 24px;
      right: -25px;
      max-width: 200px;
    }
    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
      color: $black;
      @include responsive-width($tablet_m) {
        font-size: 16px;
        line-height: 24px;
      }
      @include responsive-width($laptop_s) {
        font-size: 20px;
      }
    }

    .specs_list {
      max-width: 130px;
      @include responsive-width($tablet_m) {
        max-width: 100%;
      }
      &__item {
        margin: 10px auto;
        display: flex;
        align-items: center;
        gap: 8px;
        @include responsive-width($laptop_s) {
          margin: 16px auto;
          gap: 10px;
        }

        span {
          font-size: 10px;
          line-height: 12px;
          color: #66686C;
          @include responsive-width($tablet_m) {
            font-size: 12px;
            line-height: 16px;
          }
          @include responsive-width($laptop_s) {
            font-size: 14px;
          }
        }
        img {
          min-width: 25px;
          min-height: 25px;
          @include responsive-width($tablet_m) {
            min-width: 34px;
            min-height: 34px;
          }
          @include responsive-width($laptop-s) {
            min-width: 41px;
            min-height: 41px;
          }
        }
      }
    }
  }
  .e-button {
    min-width: 154px !important;
    height: 40px;
    background: $color-bluenew !important;
    border-color: $color-bluenew !important;
    @include responsive-width($tablet_m) {
      position: absolute;
      bottom: 0;
      min-width: 166px !important;
      height: 52px;
    }
    @include responsive-width($laptop-s) {
      bottom: 12px;
    }
    span {
      font-weight: 700;
      font-size: 14px;
    }
  }
  small.tyc{
    color: #ffffff;
    display: block;
    text-align: center;
    @include responsive-width($tablet_m){
      text-align: left;
      margin-top: 1rem;
      margin-left: 5px;
    }
  }
  .e-container-flex__item--2 {
    img {
      transform: translateX(10%);
      @include responsive-width($laptop_m) {
        transform: none;
      }
    }
  }

  .e-container-flex__item_img-honor-x8a_detail {
    @include responsive-width($tablet_m) {
      width: 348px;
      height: 285px;
      position: absolute;
      top: -25px;
      left: -22px;
      z-index: -1;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='348' height='285' viewBox='0 0 348 285' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_102_4' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='348' height='285'%3E%3Crect width='348' height='285' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_102_4)'%3E%3Cpath d='M166.501 -666.69C150.257 -678.797 125.891 -674.761 109.647 -662.654L16.244 -577.902C-1.57335e-05 -565.794 4.061 -541.58 20.305 -533.508C20.305 -533.508 166.501 -428.577 166.501 -198.536C166.501 15.3621 12.183 140.472 12.183 140.472C-4.06103 152.58 -4.06103 172.759 12.183 188.902L101.525 273.654C117.769 285.761 142.135 289.797 158.379 277.69C158.379 277.69 377.673 128.365 377.673 -198.536C377.673 -521.4 166.501 -666.69 166.501 -666.69Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
    }
    @include responsive-width($laptop_s) {
      width: 443px;
      height: 323px;
      top: -4px; 
      left: 40px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='443' height='323' viewBox='0 0 443 323' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_133_9' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='443' height='323'%3E%3Crect width='443' height='323' transform='matrix(-1 0 0 1 443 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_133_9)'%3E%3Cpath d='M221.365 -943.281C199.768 -959.378 167.373 -954.012 145.777 -937.915L21.5966 -825.236C-2.09179e-05 -809.14 5.39914 -776.946 26.9957 -766.214C26.9957 -766.214 221.365 -626.708 221.365 -320.866C221.365 -36.4863 16.1974 129.849 16.1974 129.849C-5.39918 145.946 -5.39918 172.774 16.1974 194.236L134.979 306.915C156.575 323.012 188.97 328.378 210.567 312.281C210.567 312.281 502.12 113.752 502.12 -320.866C502.12 -750.117 221.365 -943.281 221.365 -943.281Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
    }
    @include responsive-width($laptop_m) {
      left: -12px;   
    }
  }


}
