- banner_name = 'SanValentin'
//- - banner_link = 'https://catalogo.entel.pe/personas/celulares?para=personas&marca=apple'

.entel__slider--home__item(
    data-entel-slide-index='4' 
    data-entel-slide-time='8000' 
    data-layer-id='slider_'+banner_name  
    data-layer-name='Banner'+banner_name 
    data-layer-position='Home - Banner Superior 5' 
    data-layer-creative=banner_link
    )

    .entel__slider--home__item__content.entel__slider--home__item__content--san-valentin
        .e-container
            .e-container-flex
                .main-container
                    .e-container-flex__item.e-container-flex__item--1
                        div.item1-container
                            h4 ¡Este celu sí que #[b enamora!]

                            p Participa en la #[b Web Mi Entel] y celebra el mes del amor.
                            
                            a(class='e-button e-data-layer-btn' href='https://www.entel.pe/qaI' target='_blank' 
                            data-gtm-category=landing_name 
                            data-gtm-action='Seleccionar boton' 
                            data-gtm-label='En la web - '+landing_name
                            ) REGISTRATE AQUÍ
                            
                    .e-container-flex__item.e-container-flex__item--2
                        div.item2-container
                            +mx_picture_retina_all('',img_path+'/2023/02/san-valentin-home-img-banner', 'png', 'Regalo San Valentin')
                            
                div.terms
                    p Válido para clientes Postpago, Prepago y Hogar Entel con líneas activas que ingresen sus datos en el formulario del 04/02/2023 al 04/03/2023. Fecha de sorteo 06/03/23 y publicación de ganadores: 08/03/23. Stock de premio: Xiaomi Redmi Note 10 Pro. No aplica para RUC 20. Más información en #[a(href='https://www.entel.pe/swp' target='_blank') www.entel.pe/swp]