.e-brands__slider
    -
        slider_list = [
            {
                image: '2021/12/icon-xiaomi',
                brand: 'xiaomi'
            },
            //- {
            //-     image: '2022/05/icon-vivo',
            //-     brand: 'vivo',
            //-     link: 'https://miportal.entel.pe/personas/catalogo/postpago/migra'
            //- },
            {
                image: '2022/02/icon-poco-v2',
                brand: 'poco'
            },
            {
                image: '2021/12/icon-apple',
                brand: 'apple'
            },
            {
                image: '2021/12/icon-samsung',
                brand: 'samsung'
            },
            //- {
            //-     image: '2021/12/icon-huawei',
            //-     brand: 'huawei'
            //- },
            {
                image: '2021/12/icon-oppo',
                brand: 'oppo'
            },
            {
                image: '2021/12/icon-honor',
                brand: 'honor'
            },
            {
                image: '2021/12/icon-motorola',
                brand: 'motorola'
            },
            //- {
            //-     image: '2021/12/icon-alcatel',
            //-     brand: 'alcatel',
            //-     link: 'https://miportal.entel.pe/personas/catalogo/postpago/migra'
            //- },
            {
                image: '2021/12/icon-zte',
                brand: 'zte'
            },
            //- {
            //-     image: '2021/12/icon-nokia',
            //-     brand: 'nokia'
            //- },
            //- {
            //-     image: '2021/12/icon-sony',
            //-     brand: 'sony'
            //- },
            //- {
            //-     image: '2021/12/icon-lenovo',
            //-     brand: 'lenovo'
            //- },
            //- {
            //-     image: '2021/12/icon-own',
            //-     brand: 'own'
            //- },
            //- {
            //-     image: '2021/12/icon-realme',
            //-     brand: 'realme'
            //- },

        ]
    
    each slide, index in slider_list
        .e-brand__box
            a.entel-data-layer-btn-no-planes(href="https://miportal.entel.pe/personas/catalogo/celulares/" + slide.brand, id='home_brands',data-gtm-category="Home Entel", data-gtm-action="Seleccionar boton", data-gtm-label='equipo favorito - '+ slide.brand, target="_blank")
                +image_webp_retina_media(slide.image+'-mob', 'png', slide.image+'-desk', '768', slide.brand)
