//- - 
    itemsequipos = [
        {
            marca: 'Xiaomi',
            modelo: 'Redmi Note 11 128GB',
            plan: 'Entel Power 69.90',
            descuento: '<small>MIGRA 20% Dto. </small> S/55.92 x 6 meses*',
            cuotas: {
                inicial : 'S/ 0 cuota inicial',
                cuota : '+ S/ 120',
                meses : 'x 12 meses'
            },
            pagounico : {
                inicial : 'S/ 759'
            },
            disclaimer : 'Sujeto a evaluación crediticia<br>* A partir del mes 7 S/ 69.90 en el plan.',
            img: '2022/06/planesequipos-cel1',
            url: 'https://miportal.entel.pe/personas/producto/Equipos/prod180044?poId=PO_BSC_EQP_24648&modalidad=Portabilidad&oferta=especial',
        },
        {
            marca: 'Xiaomi',
            modelo: 'Redmi Note 11 PRO 128GB',
            plan: 'Entel Power 69.90',
            descuento: '<small>MIGRA 20% Dto. </small> S/55.92 x 6 meses*',
            cuotas: {
                inicial : 'S/ 0 cuota inicial',
                cuota : '+ S/ 186',
                meses : 'x 12 meses'
            },
            pagounico : {
                inicial : 'S/ 1029'
            },
            disclaimer : 'Sujeto a evaluación crediticia. <br>*A partir del mes 7  S/69.90 en el plan.',
            img: '2022/06/planesequipos-cel2',
            url: 'https://miportal.entel.pe/personas/producto/Equipos/prod240060?poId=PO_BSC_EQP_24955&modalidad=Portabilidad&oferta=especial',
        },
        {
            marca: 'Samsung',
            modelo: 'Galaxy A22 5G',
            plan: 'Entel Power 69.90',
            descuento: '<small>MIGRA 20% Dto.</small> S/55.92 x 6 meses*',
            cuotas: {
                inicial : 'S/ 0 cuota inicial',
                cuota : '+ S/ 125',
                meses : 'x 12 meses'
            },
            pagounico : {
                inicial : 'S/ 849',
                antes : 'S/ 849'
            },
            disclaimer : 'Sujeto a evaluación crediticia<br>* A partir del mes 7 S/ 69.90 en el plan.',
            img: '2022/06/planesequipos-cel3',
            url: 'https://miportal.entel.pe/personas/producto/Equipos/prod190251?poId=PO_BSC_EQP_24073&modalidad=Portabilidad&oferta=especial',
        },
        {
            marca: 'Samsung',
            modelo: 'Galaxy A52s 5G',
            plan: 'Entel Power 69.90',
            descuento: '<small>MIGRA 20% Dto. </small> S/55.92 x 6 meses*',
            cuotas: {
                inicial : 'S/ 0 cuota inicial',
                cuota : '+ S/ 223',
                meses : 'x 12 meses'
            },
            pagounico : {
                inicial : 'S/ 1369'
            },
            disclaimer : 'Sujeto a evaluación crediticia<br>* A partir del mes 7 S/ 69.90 en el plan.',
            img: '2022/06/planesequipos-cel4',
            url: 'https://miportal.entel.pe/personas/producto/Equipos/prod140037?poId=PO_BSC_EQP_23953&modalidad=Portabilidad&oferta=especial',
        },
        {
            marca: 'Motorola',
            modelo: 'Moto G50 5G',
            plan: 'Entel Power 69.90',
            descuento: '<small>MIGRA 20% Dto. </small> S/55.92 x 6 meses*',
            cuotas: {
                inicial : 'S/ 0 cuota inicial',
                cuota : '+ S/ 135',
                meses : 'x 12 meses'
            },
            pagounico : {
                inicial : 'S/ 809'
            },
            disclaimer : 'Sujeto a evaluación crediticia<br>* A partir del mes 7 S/ 69.90 en el plan.',
            img: '2022/06/planesequipos-cel5',
            url: 'https://miportal.entel.pe/personas/producto/Equipos/prod180056?poId=PO_BSC_EQP_23827&modalidad=Portabilidad&oferta=especial',
        },
        {
            marca: 'Xiaomi',
            modelo: 'Redmi Note 10s',
            plan: 'Entel Power 69.90',
            descuento: '<small>MIGRA 20% Dto. </small> S/55.92 x 6 meses*',
            cuotas: {
                inicial : 'S/ 0 cuota inicial',
                cuota : '+ S/ 142',
                meses : 'x 12 meses'
            },
            pagounico : {
                inicial : 'S/ 899'
            },
            disclaimer : 'Sujeto a evaluación crediticia<br>* A partir del mes 7 S/ 69.90 en el plan.',
            img: '2022/06/planesequipos-cel6',
            url: 'https://miportal.entel.pe/personas/producto/Equipos/prod140040?poId=PO_BSC_EQP_23063&modalidad=Portabilidad&oferta=especial',
        },
    ]
.slider-planesequipos
    //- each item, index in itemsequipos
        .slider-planesequipos_item
            .equipo-title !{item.marca} !{item.modelo}
            .equipo-img
                +mx_retina('', img_path+item.img, 'png', item.marca+' '+item.modelo)
            .equipo-plan !{item.plan}
            .equipo-descuento !{item.descuento}
            .equipo-tipos
                //- .equipo-cuotas 
                //-     span Llévalo en cuotas
                //-     span !{item.cuotas.inicial}
                //-     span 
                //-         small !{item.cuotas.cuota} 
                //-         | !{item.cuotas.meses}
                //- .equipo-o 
                //-     span o
                .equipo-pagounico 
                    span En pago único desde
                    span !{item.pagounico.inicial}
                    //- span Antes: 
                    //-     small !{item.pagounico.antes}
                
            a.equipo-link(href=item.url) Elige plan y pago
            .equipo-disclaimer !{item.disclaimer}