.popup-planesmovil-overlay
    .popup-planesmovil(data-id-popup='e-box-plan__app-39')
        .popup-planesmovil__wrapper
            .popup-planesmovil__close-btn
            .popup-planesmovil__content
                p.popup-planesmovil__content__title Apps ilimitadas

                .popup-planesmovil__content__icon
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__what
                        p WhatsApp
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__waze 
                        p Waze
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__fb 
                        p Fotos
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__inst 
                        p Fotos
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__msn
                        p Fotos
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__tikt 
                        p Tik Tok #[br] #[span 30 GB x 3 meses]

    .popup-planesmovil(data-id-popup='e-box-plan__app-49')
        .popup-planesmovil__wrapper
            .popup-planesmovil__close-btn
            .popup-planesmovil__content
                p.popup-planesmovil__content__title Apps ilimitadas

                .popup-planesmovil__content__icon
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__what
                        p WhatsApp
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__waze 
                        p Waze
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__fb 
                        p Fotos
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__inst 
                        p Fotos
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__msn
                        p Fotos
                    //- .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__tikt 
                        p Tik Tok #[br] #[span 30 GB x 3 meses]
    
    .popup-planesmovil(data-id-popup='e-box-plan__app-55')
        .popup-planesmovil__wrapper
            .popup-planesmovil__close-btn
            .popup-planesmovil__content
                p.popup-planesmovil__content__title Apps ilimitadas

                .popup-planesmovil__content__icon
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__what
                        p WhatsApp
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__waze 
                        p Waze
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__fb 
                        p Fotos
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__inst 
                        p Fotos
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__msn
                        p Fotos
    
    .popup-planesmovil(data-id-popup='e-box-plan__app-59')
        .popup-planesmovil__wrapper
            .popup-planesmovil__close-btn
            .popup-planesmovil__content
                p.popup-planesmovil__content__title Apps ilimitadas

                .popup-planesmovil__content__icon
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__fb 
                        p Facebook
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__inst 
                        p Instagram
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__waze 
                        p Waze
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__what
                        p WhatsApp
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__msn
                        p Messenger
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__spot 
                        p Spotify
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__applem 
                        p Apple Music
    
    .popup-planesmovil(data-id-popup='e-box-plan__app-74')
        .popup-planesmovil__wrapper
            .popup-planesmovil__close-btn
            .popup-planesmovil__content
                p.popup-planesmovil__content__title Apps ilimitadas

                .popup-planesmovil__content__icon
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__fb 
                        p Facebook
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__inst 
                        p Instagram
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__waze 
                        p Waze
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__what
                        p WhatsApp
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__msn
                        p Messenger
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__spot 
                        p Spotify
                    .e-icon-apps 
                        div.e-icon-apps__box.e-icon-apps__applem 
                        p Apple Music
    
    .popup-planesmovil(data-id-popup='e-box-plan__rm-39')
        .popup-planesmovil__wrapper
            .popup-planesmovil__close-btn
            .popup-planesmovil__content
                p.popup-planesmovil__content__title Roaming

                .popup-planesmovil__content__text
                    p #[strong Para Colombia, Ecuador y Bolivia: ] Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas. #[br]#[br]Más información en #[a(href="https://www.entel.pe/roaming" class="e-link e-link__bluesky" ) www.entel.pe/roaming]
    
    .popup-planesmovil(data-id-popup='e-box-plan__rm-49')
        .popup-planesmovil__wrapper
            .popup-planesmovil__close-btn
            .popup-planesmovil__content
                p.popup-planesmovil__content__title Roaming

                .popup-planesmovil__content__text
                    p #[strong Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:]#[br] + 2.5 GB

                    p #[strong Para Colombia, Ecuador y Bolivia:] Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.#[br]#[br]Más información en #[a(href="https://www.entel.pe/roaming" class="e-link e-link__bluesky" ) www.entel.pe/roaming]
    
    .popup-planesmovil(data-id-popup='e-box-plan__rm-55')
        .popup-planesmovil__wrapper
            .popup-planesmovil__close-btn
            .popup-planesmovil__content
                p.popup-planesmovil__content__title Roaming

                .popup-planesmovil__content__text
                    p #[strong Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico: ]#[br] + 2.5 GB #[br]#[br] #[strong Para Colombia, Ecuador y Bolivia: ] Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas. #[br]#[br] Más información en #[a(href="https://www.entel.pe/roaming" class="e-link e-link__bluesky" ) www.entel.pe/roaming]
    
    .popup-planesmovil(data-id-popup='e-box-plan__rm-59')
        .popup-planesmovil__wrapper
            .popup-planesmovil__close-btn
            .popup-planesmovil__content
                p.popup-planesmovil__content__title Roaming

                .popup-planesmovil__content__text
                    p #[strong Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:]#[br] + 3 GB

                    p #[strong Para Colombia, Ecuador y Bolivia:] Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.

                    p Más información en www.entel.pe/roaming

                    //- #[strong Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico: ]#[br] + 2.5 GB #[br]#[br] #[strong Para Colombia, Ecuador y Bolivia: ] Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas. #[br]#[br] Más información en #[a(href="https://www.entel.pe/roaming" class="e-link e-link__bluesky" ) www.entel.pe/roaming]
                    
    .popup-planesmovil(data-id-popup='e-box-plan__rm-74')
        .popup-planesmovil__wrapper
            .popup-planesmovil__close-btn
            .popup-planesmovil__content
                p.popup-planesmovil__content__title Roaming

                .popup-planesmovil__content__text
                    p #[strong Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico: ]#[br] + 3.5 GB #[br]#[br] #[strong Para Colombia, Ecuador y Bolivia: ] Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas. #[br]#[br] Más información en #[a(href="https://www.entel.pe/roaming" class="e-link e-link__bluesky" ) www.entel.pe/roaming]

    .popup-planesmovil(data-id-popup='e-box-plan__rm-89')
        .popup-planesmovil__wrapper
            .popup-planesmovil__close-btn
            .popup-planesmovil__content
                p.popup-planesmovil__content__title Roaming

                .popup-planesmovil__content__text
                    p #[strong Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico: ]#[br] WhatsApp y Waze + 3.5 GB #[br]#[br] #[strong Para Colombia, Ecuador y Bolivia: ] Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas. #[br]#[br] Más información en #[a(href="https://www.entel.pe/roaming" class="e-link e-link__bluesky" ) www.entel.pe/roaming]
    

    .popup-planesmovil(data-id-popup='e-box-plan__rm-99')
        .popup-planesmovil__wrapper
            .popup-planesmovil__close-btn
            .popup-planesmovil__content
                p.popup-planesmovil__content__title Roaming

                .popup-planesmovil__content__text
                    p #[strong Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico: ]#[br] WhatsApp y Waze + 4.5 GB #[br]#[br] #[strong Para Colombia, Ecuador y Bolivia: ] Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas. #[br]#[br] Más información en #[a(href="https://www.entel.pe/roaming" class="e-link e-link__bluesky" ) www.entel.pe/roaming]
    
    .popup-planesmovil(data-id-popup='e-box-plan__rm-109')
        .popup-planesmovil__wrapper
            .popup-planesmovil__close-btn
            .popup-planesmovil__content
                p.popup-planesmovil__content__title Roaming

                .popup-planesmovil__content__text
                    p #[strong Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico: ]#[br] WhatsApp y Waze + 5.5 GB #[br]#[br] #[strong Para Colombia, Ecuador y Bolivia: ] Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas. #[br]#[br] Más información en #[a(href="https://www.entel.pe/roaming" class="e-link e-link__bluesky" ) www.entel.pe/roaming]
    
    .popup-planesmovil(data-id-popup='e-box-plan__rm-159')
        .popup-planesmovil__wrapper
            .popup-planesmovil__close-btn
            .popup-planesmovil__content
                p.popup-planesmovil__content__title Roaming

                .popup-planesmovil__content__text
                    p #[strong Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico: ]#[br] WhatsApp y Waze + 12 GB #[br]#[br] #[strong Para Colombia, Ecuador y Bolivia: ] Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas. #[br]#[br] Más información en #[a(href="https://www.entel.pe/roaming" class="e-link e-link__bluesky" ) www.entel.pe/roaming]