-
    items = [
        {
            title : {
                prefix: 'Entel Chip+',
                plan: 39,
                subfix: '90',
                extrasubfix: '',
                extra: '',
                class: ''
            },
            gb : {
                amount : '25',
                subfix : 'En alta velocidad'
            },
            apps : {
                text : 'Apps ilimitadas',
                namelink : 'Ver Apps',
                link: 'e-box-plan__app-39',
                icons : ''
            },
            flags : {
                text : 'Llamadas ilimitadas',
                countries : 'Perú, EE.UU, Canadá, Chile'
            },
            roaming: {
                title : 'Llamadas, SMS y Datos Roaming',
                namelink : 'Ver más',
                link : 'e-box-plan__rm-39',
                detail : '<strong>Para Colombia, Ecuador y Bolivia:</strong> Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br>Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '500 SMS',
            month: '39.90',
            pricesubfix: '',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24317&modalidad=migra-postpago'
        },
        {
            title : {
                prefix: 'Entel Power+',
                plan: 55,
                subfix: '90',
                extrasubfix: '',
                extra: '',
                class: ''
            },
            dto : '20',
            gb : {
                amount : '50',
                subfix : 'En alta velocidad'
            },
            apps : {
                text : 'Apps ilimitadas',
                namelink : 'Ver Apps',
                link : 'e-box-plan__app-74',
                icons : ''
            },
            flags : {
                text : 'Llamadas ilimitadas',
                countries : 'Perú, EE.UU, Canadá, Chile'
            },
            roaming: {
                title : 'Llamadas, SMS y Datos Roaming',
                namelink : 'Ver más',
                link : 'e-box-plan__rm-55',
                detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong>+ 2.5 GB <br><br><strong>ara Colombia, Ecuador y Bolivia:</strong> Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas. <br><br> Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '500 SMS',
            month: '44.72',
            textmonth: 'x 6 meses',
            pricesubfix: 'a partir del mes 7',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24330&modalidad=migra-postpago'
        },
        {
            title : {
                prefix: 'Entel Power+',
                plan: 74,
                subfix: '90',
                extra: 'Más vendido'
            },
            dto : '20',
            gb : {
                amount : '100',
                subfix : 'En alta velocidad'
            },
            apps : {
                text : 'Apps ilimitadas',
                namelink : 'Ver Apps',
                link : 'e-box-plan__app-74',
                icons : ''
            },
            flags : {
                text : 'Llamadas ilimitadas',
                countries : 'Perú, EE.UU, Canadá, Chile'
            },
            roaming: {
                title : 'Llamadas, SMS y Datos Roaming',
                namelink : 'Ver más',
                link : 'e-box-plan__rm-74',
                detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong> + 3.5 GB <br><br> <strong>Para Colombia, Ecuador y Bolivia:</strong> Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br> Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '500 SMS',
            month: '59.92',
            textmonth: 'x 6 meses',
            pricesubfix: 'a partir del mes 7',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24332&modalidad=migra-postpago',
            position: 3
        }, 
        {
            title : {
                prefix: 'Entel Power SD',
                plan: 99,
                subfix: '90'
            },
            dto : '20',
            gb : {
                subfix : 'Gigas y minutos'
            },
            apps : {
                text : 'Datos ilimitados!',
                namelink : '',
                link: '',
                icons : ''
            },
            flags : {
                text : 'Llamadas ilimitadas',
                countries : 'Perú, EE.UU, Canadá, Chile'
            },
            sms : '500 SMS',
            month: '79.92',
            textmonth: 'x 6 meses',
            pricesubfix: 'a partir del mes 7',
            roaming: {
                title : 'Llamadas, SMS y Datos Roaming',
                namelink : 'Ver más',
                link : 'e-box-plan__rm-99',
                detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong> WhatsApp y Waze + 4.5 GB <br><br><strong>Para Colombia, Ecuador y Bolivia:</strong> Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br> Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24324&modalidad=migra-postpago',
            position: 3
        },
        //- {
        //-     title : {
        //-         prefix: 'Entel Power',
        //-         plan: 109,
        //-         subfix: '90',
        //-         extra: ''
        //-     },
        //-     dto : '20',
        //-     gb : {
        //-         amount : '140',
        //-         subfix : 'En alta velocidad'
        //-     },
        //-      apps : {
        //-         text : 'Datos ilimitados!',
        //-         namelink : '',
        //-         link: '',
        //-         icons : ''
        //-     },
        //-     flags : {
        //-         text : 'Llamadas ilimitadas',
        //-         countries : 'Perú, EE.UU, Canadá, Chile'
        //-     },
        //-     sms : '500 SMS',
        //-     month: '87.92',
        //-     textmonth: 'x 6 meses',
        //-     pricesubfix: 'a partir del mes 7',
        //-     roaming: {
        //-         title : 'Servicios Roaming en llamadas, SMS y datos hasta 5.5 GB',
        //-         namelink : 'Ver más',
        //-         link : 'e-box-plan__rm-109',
        //-         detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong><br>WhatsApp y Waze + 5.5 GB<br><br><strong>Para Colombia, Ecuador y Bolivia:</strong> <br>Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br>Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
        //-     },
        //-     urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
        //-     urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_23751&modalidad=migra-postpago',
        //-     position: 3
        //- },
        //- {
        //-     title : {
        //-         prefix: 'Entel Power',
        //-         plan: 159,
        //-         subfix: '90',
        //-         extra: ''
        //-     },
        //-     dto : '20',
        //-     gb : {
        //-         amount : '160',
        //-         subfix : 'En alta velocidad'
        //-     },
        //-      apps : {
        //-         text : 'Datos ilimitados!',
        //-         namelink : '',
        //-         link: '',
        //-         icons : ''
        //-     },
        //-     flags : {
        //-         text : 'Llamadas ilimitadas',
        //-         countries : 'Perú, EE.UU, Canadá, Chile'
        //-     },
        //-     sms : '500 SMS',
        //-     month: '127.92',
        //-     textmonth: 'x 6 meses',
        //-     pricesubfix: 'a partir del mes 7',
        //-     roaming: {
        //-         title : 'Servicios Roaming en llamadas, SMS y datos hasta 12GBB',
        //-         namelink : 'Ver más',
        //-         link : 'e-box-plan__rm-159',
        //-         detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong><br>WhatsApp y Waze + 5.5 GB<br><br><strong>Para Colombia, Ecuador y Bolivia:</strong> <br>Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br>Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
        //-     },
        //-     urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
        //-     urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_ENTEL_CHIP_2239&modalidad=migra-postpago',
        //-     position: 3
        //- }
    ]

.slider-planesmovil-tstng
    each item, index in items
        .slider-planesmovil-tstng_item
            .e-box-plan-tstng 
                .e-box-plan-tstng__content
                    //- TITLE
                    - title = item.title.prefix + ' ' + item.title.plan + '.' + item.title.subfix + ((item.title.extrasubfix) ?  item.title.extrasubfix : '')
                    - titleclass = (item.title.class) ? item.title.class : '' 

                    .e-box-plan-tstng__title(class=titleclass) #[span Plan ] #{title}

                    //-GB
                    - if (item.gb.amount)
                        h4.e-box-plan-tstng__gb 
                            .e-box-plan-tstng__gb__amount
                                p #{item.gb.amount} #[span GB]
                            .e-box-plan-tstng__gb__subfix
                                p #{item.gb.subfix}
                    - else
                        .e-box-plan-tstng__gb.e-gb-ili #[span Todo ilimitado] #[br] #{item.gb.subfix}

                    //-MONTH
                    .e-box-plan-tstng__month 
                        p  S/#[strong #{item.month}] 
                        - if (item.textmonth)
                            span #{item.textmonth}
                        - else
                            small por mes

                        //- DTO
                        - if (item.dto)
                            .e-box-plan-tstng__dto 
                                p !{item.dto}% Dto.
                    
                    //-PRICE
                    .e-box-plan-tstng__price 
                        - if (item.pricesubfix!='') 
                            | !{'S/' + item.title.plan + '.' + item.title.subfix + ' ' + item.pricesubfix}
                        - else 
                            br

                    //-APPS
                    .e-box-plan-tstng__apps 
                        strong #{item.apps.text}
                        a(href='javascript:void(0);' class="js--show-popup-chip-plans" data-id-popup=item.apps.link) #{item.apps.namelink}

                    //-FLAGS
                    .e-box-plan-tstng__flags
                        strong #{item.flags.text}
                        .e-icon-flags 
                            strong #{item.flags.countries}
                    
                    .e-box-plan-div-extra
                        a(href='javascript:void(0);' class="e-box-plan-tstng__see-more js--show-box-plans") Ver más
                        
                        .e-box-plan-tstng__extra
                            //- SMS
                            .e-box-plan-tstng__extra__sms 
                                strong #{item.sms}
                            
                            //- ROAMING
                            - if (item.roaming)
                                .e-box-plan-tstng__extra__roaming 
                                    strong !{item.roaming.title} 
                                    a(href='javascript:void(0);' class="js--show-popup-chip-plans" data-id-popup=item.roaming.link) #{item.roaming.namelink}
                            - else
                                .e-box-plan-tstng__extra__roaming(class='empty-block')
                

                a(href=item.urlMiPortal class="e-button e-button--small e-button-prepago" data-id-popup=item.title.plan) Lo quiero
                p.e-box-plan-tstng__msn *Sujeto a evaluación crediticia
            
                .e-box-plan-tstng__link
                    a(href=item.urlCatalogo class="entel-data-layer-btn" target="_blank" data-gtm-category="Web Planes Postpago - Home" data-gtm-action="Click" data-gtm-label="Botón - Catálogo Equipos - Home" data-gtm-type="click") Ver equipos con este plan

p.plan-tstng-link Todos los planes aplican condiciones ver #[a(href="https://www.entel.pe/celulares-postpago/planes/#legales-planes-entel-power-destino" target="_blank") AQUÍ]