.popup-country-back
    //- .popup-country-back--show
    .popup-country
        //- .popup-country--show
        //-(data-id-popup=item.plan)
        .popup-country__wrapper
            .popup-country__close-btn
                span 

            .popup-country__content
                p.popup-country__content__title Zonas Entel
                p.popup-country__content__detail Dirígido a 50 países

                ul.popup-country__content__list
                    li ALEMANIA
                    li ARGENTINA
                    li AUSTRALIA
                    li AUSTRIA
                    li BÉLGICA
                    li BOLIVIA
                    li BRASIL
                    li CANADÁ
                    li CHILE
                    li CHINA
                    li COLOMBIA
                    li COREA DEL SUR
                    li COSTA RICA
                    li CROACIA
                    li DINAMARCA
                    li ECUADOR
                    li EEUU
                    li EL SALVADOR
                    li ESCOCIA
                    li ESPAÑA
                    li FRANCIA
                    li GALES
                    li GRECIA
                    li HOLANDA
                    li HONG KONG
                    li HUNGRÍA
                    li INGLATERRA
                    li IRLANDA
                    li IRLANDA DEL NORTE
                    li ISRAEL
                    li ITALIA
                    li JAPÓN
                    li MÉXICO
                    li NICARAGUA
                    li NUEVA ZELANDA
                    li PANAMÁ
                    li PARAGUAY
                    li POLONIA
                    li PORTUGAL
                    li PUERTO RICO
                    li REPÚBLICA CHECA
                    li REPÚBLICA DOMINICANA
                    li RUSIA
                    li SUDÁFRICA
                    li SUECIA
                    li SUIZA
                    li TAILANDIA
                    li TAIWÁN
                    li TURQUÍA
                    li URUGUAY

                //- .popup-country__content__buttons-wrapper 
                    //- a( class="popup-country__content__button popup-country__content__button--fill")
                    //-     span.icon
                    //-         svg(width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                    //-             path(fill-rule="evenodd" clip-rule="evenodd" d="M26.0526 18.7494H3.94737C2.53353 18.7494 1.36771 17.6454 1.2039 16.2215H28.7961C28.6323 17.6454 27.4665 18.7494 26.0526 18.7494ZM29.9863 16.2215C29.8179 18.3266 28.121 19.9805 26.0526 19.9805H3.94737C1.87897 19.9805 0.182136 18.3266 0.013729 16.2215C0.00463703 16.1078 0 15.9928 0 15.8768V14.9904H30V15.8768C30 15.9928 29.9954 16.1078 29.9863 16.2215Z" fill="white")
                    //-             path(fill-rule="evenodd" clip-rule="evenodd" d="M25.4628 1.23111H4.5372C4.31919 1.23111 4.14246 1.41484 4.14246 1.64149V14.9868H25.8576V1.64149C25.8576 1.41484 25.6808 1.23111 25.4628 1.23111ZM4.5372 0C3.66517 0 2.95825 0.734918 2.95825 1.64149V16.2179H27.0418V1.64149C27.0418 0.734918 26.3348 0 25.4628 0H4.5372Z" fill="white")
                    //-             path(fill-rule="evenodd" clip-rule="evenodd" d="M10.8157 14.9857H19.1841V17.9016C19.1841 18.7509 18.6256 19.9999 17.3552 19.9999H12.6394C12.0181 19.9999 11.5362 19.6559 11.2472 19.264C10.9594 18.8736 10.8157 18.3877 10.8157 17.9016V14.9857ZM12.6394 18.7688H17.3552C17.7087 18.7688 17.9999 18.381 17.9999 17.9016V16.2168H11.9999V17.9016C11.9999 18.381 12.2858 18.7688 12.6394 18.7688Z" fill="white")
                    //-             path(d="M17.2441 6.71009C17.1726 6.6514 17.0582 6.66607 16.9868 6.72476L16.5579 7.12091C16.4864 7.1796 16.5007 7.2823 16.5722 7.34099C16.5722 7.34099 17.2298 7.83984 17.2298 8.89624C17.2298 9.90861 16.5436 10.4808 16.5436 10.4808C16.4721 10.5395 16.4721 10.6422 16.5436 10.7009L16.9725 11.0971C17.044 11.1557 17.1583 11.1704 17.2298 11.1117C17.2298 11.1117 18.2162 10.4221 18.2162 8.89624C18.2019 7.38501 17.2441 6.71009 17.2441 6.71009Z" fill="white")
                    //-             path(d="M14.771 7.88395C14.6424 7.5905 14.3707 7.38509 13.9419 7.38509C13.5273 7.38509 13.2557 7.60518 13.1127 7.88395C13.0412 8.06001 13.0126 8.19206 12.9983 8.39747H14.8711C14.8711 8.19206 14.8425 8.07468 14.771 7.88395ZM13.1413 9.23378C13.1413 9.23378 13.0126 9.21911 13.0126 9.32181C13.0126 9.89402 13.4272 10.3048 14.0848 10.3048C14.5709 10.3048 14.7853 10.1875 15.0712 9.95271C15.1427 9.89402 15.2142 9.85001 15.2714 9.9087C15.3143 9.95271 15.8289 10.4369 15.8289 10.4369C15.9004 10.4956 15.8718 10.5689 15.8003 10.6276C15.7288 10.6863 14.9569 11.3025 14.0705 11.3025C12.8983 11.3025 11.7832 10.789 11.7832 8.82296C11.7975 7.28239 12.6695 6.38739 13.9419 6.38739C15.3143 6.38739 16.0862 7.37042 16.0862 8.70558V9.02837C16.0862 9.16042 15.9719 9.23378 15.8861 9.23378H13.1413Z" fill="white")
                    //-     span COMPRAR EN LA WEB #[br]
                    //-         u ¡DSCT. EXCLUSIVO ONLINE!

                    //- a( href="javascript:void(0)" class="e-button-prepago entel-data-layer-product-plan popup-country__content__button popup-country__content__button--default")
                    //-     span.icon
                    //-         svg(width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                    //-             path(fill-rule="evenodd" clip-rule="evenodd" d="M3.10674 0.292819C3.97179 -0.263068 5.01866 0.0400463 5.65735 0.638153L8.40441 3.21066C9.36915 4.1141 9.39459 5.59934 8.4613 6.53298L7.44497 7.5497C7.39501 7.59968 7.38945 7.66719 7.41629 7.71527C8.78592 10.1695 10.7445 12.1162 13.422 13.5347C13.4719 13.5612 13.5419 13.5564 13.5941 13.5095L15.0854 12.1685C15.7804 11.5437 16.8607 11.5507 17.5468 12.1846L20.9606 15.3385C21.4517 15.7923 21.6851 16.5362 21.326 17.1927C20.3757 18.9296 18.4849 20.1717 15.7996 19.9806C13.1505 19.7921 9.7862 18.2155 5.78245 14.4944C2.13435 11.104 0.658805 8.08245 0.512235 5.61488C0.364951 3.13531 1.56614 1.28281 3.10674 0.292819ZM4.97652 1.31363C4.55516 0.919048 4.01338 0.84208 3.64871 1.07642C2.38552 1.88815 1.36095 3.42744 1.48768 5.56105C1.61513 7.70667 2.91338 10.5197 6.46062 13.8165C10.3893 17.4677 13.5487 18.8761 15.8715 19.0414C18.1581 19.2041 19.6873 18.1688 20.4617 16.7534C20.5772 16.5423 20.5279 16.2433 20.2845 16.0184L16.8707 12.8645C16.5588 12.5764 16.0678 12.5732 15.7519 12.8572L14.2606 14.1981C13.9104 14.513 13.3837 14.5891 12.9514 14.3601C10.1072 12.8532 8.01393 10.7742 6.55583 8.16142C6.32062 7.73993 6.40753 7.23024 6.74138 6.89625L7.75771 5.87953C8.31769 5.31934 8.30242 4.4282 7.72358 3.88614L4.97652 1.31363Z" fill="#FF560A")
                    //-             path(fill-rule="evenodd" clip-rule="evenodd" d="M11.7483 6.22763C13.7519 6.05735 15.5043 7.47271 15.6809 9.40402C15.7046 9.66308 15.506 9.8916 15.2372 9.91444C14.9684 9.93728 14.7314 9.74579 14.7077 9.48674C14.5784 8.07354 13.3002 7.04116 11.8341 7.16576C11.5653 7.18861 11.3282 6.99711 11.3046 6.73806C11.2809 6.479 11.4795 6.25047 11.7483 6.22763Z" fill="#FF560A")
                    //-             path(fill-rule="evenodd" clip-rule="evenodd" d="M12.1209 3.61285C15.266 3.34556 18.0368 5.58352 18.3141 8.615C18.3378 8.87406 18.1391 9.10258 17.8703 9.12542C17.6016 9.14827 17.3645 8.95677 17.3408 8.69772C17.1109 6.18435 14.8143 4.32938 12.2068 4.55098C11.938 4.57382 11.7009 4.38233 11.6772 4.12327C11.6535 3.86422 11.8522 3.63569 12.1209 3.61285Z" fill="#FF560A")
                    //-     span COMPRAR CON UN ASESOR