-
    items = [
        {
            title : {
                prefix: 'Entel Chip+',
                plan: 39,
                subfix: '90',
                additional: '',
                total: '',
            },
            dto : '',
            gb : {
                amount : '25',
                class : '',
                extra: '<span> GB</span>',
                subfix : 'En alta velocidad'
            },
            apps : {
                text : 'Apps <strong>ilimitadas</strong>',
                namelink : 'Más detalles',
                link: 'e-box-plan__app-39',
                icons : [
                    {
                        icon: 'what',
                        text: 'Whatsapp'
                    },
                    {
                        icon: 'waze',
                        text: 'Waze'
                    },
                    {
                        icon: 'fb',
                        text: 'Facebook<br><span>Fotos</span>'
                    },
                    {
                        icon: 'inst',
                        text: 'Instagram<br><span>Fotos</span>'
                    },
                    {
                        icon: 'msn',
                        text: 'Messengger<br><span>Fotos</span>'
                    },
                    {
                        icon: 'tikt',
                        text: 'Tik Tok<br><span>30 GB x 3 meses</span>'
                    },
                    //- {
                    //-     icon: 'spot',
                    //-     text: 'Spotify'
                    //- },
                    //- {
                    //-     icon: 'applem',
                    //-     text: 'Apple Music'
                    //- }, 
                ]
            },
            flags : {
                text : 'Llamadas <strong>ilimitadas</strong>',
            },
            roaming: {
                title : 'Datos <strong>Roaming</strong>',
                detail : '<strong>Para Colombia, Ecuador y Bolivia:</strong>Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br>Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '<strong>500</strong> SMS',
            month: 'S/ 39.90',
            textmonth: '/mes',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24317&modalidad=migra-postpago'
        },
        {
            title : {
                prefix: 'Entel Power+',
                plan: 49,
                subfix: '90',
                additional: '',
                total: '',
            },
            dto : '',
            gb : {
                amount : '35',
                class : '',
                extra: '<span> GB</span>',
                subfix : 'En alta velocidad'
            },
            apps : {
                text : 'Apps <strong>ilimitadas</strong>',
                namelink : 'Más detalles',
                link: 'e-box-plan__app-49',
                icons : [
                    {
                        icon: 'what',
                        text: 'Whatsapp'
                    },
                    {
                        icon: 'waze',
                        text: 'Waze'
                    },
                    {
                        icon: 'fb',
                        text: 'Facebook <br><span>Fotos</span>'
                    },
                    {
                        icon: 'inst',
                        text: 'Instagram <br><span>Fotos</span>'
                    },
                    {
                        icon: 'msn',
                        text: 'Messengger <br><span>Fotos</span>'
                    },
                    //- spot applem 
                ]
            },
            flags : {
                text : 'Llamadas <strong>ilimitadas</strong>',
            },
            roaming: {
                title : 'Datos <strong>Roaming</strong>',
                detail : '<strong>Para Colombia, Ecuador y Bolivia:</strong>Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br>Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '<strong>500</strong> SMS',
            month: 'S/ 49.90',
            textmonth: '/mes',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24338&modalidad=migra-postpago'
        },
        {
            title : {
                prefix: 'Entel Power+',
                plan: 55,
                subfix: '90',
                additional: 'Por 6 meses, luego',
                total: 'S/55.90',
            },
            dto: '20',
            gb : {
                amount : '50',
                class : '',
                extra: '<span> GB</span>',
                subfix : 'En alta velocidad'
            },
            apps : {
                text : 'Apps <strong>ilimitadas</strong>',
                namelink : 'Más detalles',
                link: 'e-box-plan__app-55',
                icons : [
                    {
                        icon: 'what',
                        text: 'Whatsapp'
                    },
                    {
                        icon: 'waze',
                        text: 'Waze'
                    },
                    {
                        icon: 'fb',
                        text: 'Facebook'
                    },
                    {
                        icon: 'inst',
                        text: 'Instagram'
                    },
                    {
                        icon: 'msn',
                        text: 'Messengger'
                    },
                    {
                        icon: 'spot',
                        text: 'Spotify'
                    },
                    {
                        icon: 'applem',
                        text: 'Apple Music'
                    },
                    //-   
                ]
            },
            flags : {
                text : 'Llamadas <strong>ilimitadas</strong>',
            },
            roaming: {
                title : 'Datos <strong>Roaming</strong>',
                detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong> + 2.5 GB<br><br><strong>Para Colombia, Ecuador y Bolivia:</strong>Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br>Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '<strong>500</strong> SMS',
            month: 'S/ 44.72',
            textmonth: '/mes',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24353&modalidad=migra-postpago'
        },
        {
            title : {
                prefix: 'Entel Power+',
                plan: 59,
                subfix: '90',
                additional: 'Por 6 meses, luego',
                total: 'S/59.90',
            },
            dto: '20',
            gb : {
                class : '',
                amount : '75',
                extra: '<span> GB</span>',
                subfix : 'En alta velocidad'
            },
            apps : {
                text : 'Apps <strong>ilimitadas</strong>',
                namelink : 'Más detalles',
                link: 'e-box-plan__app-75',
                icons : [
                    {
                        icon: 'what',
                        text: 'Whatsapp'
                    },
                    {
                        icon: 'waze',
                        text: 'Waze'
                    },
                    {
                        icon: 'fb',
                        text: 'Facebook'
                    },
                    {
                        icon: 'inst',
                        text: 'Instagram'
                    },
                    {
                        icon: 'msn',
                        text: 'Messengger'
                    },
                    {
                        icon: 'spot',
                        text: 'Spotify'
                    },
                    {
                        icon: 'applem',
                        text: 'Apple Music'
                    },
                    //-   
                ]
            },
            flags : {
                text : 'Llamadas <strong>ilimitadas</strong>',
            },
            roaming: {
                title : 'Datos <strong>Roaming</strong>',
                detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong> + 3 GB<br><br><strong>Para Colombia, Ecuador y Bolivia:</strong>Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br>Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '<strong>500</strong> SMS',
            month: 'S/ 47.92',
            textmonth: '/mes',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24354&modalidad=migra-postpago'
        },
        {
            title : {
                prefix: 'Entel Power+',
                plan: 74,
                subfix: '90',
                additional: 'Por 6 meses, luego',
                total: 'S/74.90',
            },
            dto : '20',
            gb : {
                amount : '120',
                extra: '<span> GB</span>',
                subfix : 'En alta velocidad'
            },
            apps : {
                text : 'Apps <strong>ilimitadas</strong>',
                namelink : 'Más detalles',
                link: 'e-box-plan__app-120',
                icons : [
                    {
                        icon: 'what',
                        text: 'Whatsapp'
                    },
                    {
                        icon: 'waze',
                        text: 'Waze'
                    },
                    {
                        icon: 'fb',
                        text: 'Facebook'
                    },
                    {
                        icon: 'inst',
                        text: 'Instagram'
                    },
                    {
                        icon: 'msn',
                        text: 'Messengger'
                    },
                    {
                        icon: 'spot',
                        text: 'Spotify'
                    },
                    {
                        icon: 'applem',
                        text: 'Apple Music'
                    },
                    //-   
                ]
            },
            flags : {
                text : 'Llamadas <strong>ilimitadas</strong>',
            },
            roaming: {
                title : 'Datos <strong>Roaming</strong>',
                detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong> + 3.5 GB<br><br><strong>Para Colombia, Ecuador y Bolivia:</strong>Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br>Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '<strong>500</strong> SMS',
            month: 'S/ 59.92',
            textmonth: '/mes',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24345&modalidad=migra-postpago',
        }, 
        {
            title : {
                prefix: 'Entel Power',
                plan: 89,
                subfix: '90 SD',
                additional: 'Por 6 meses, luego',
                total: 'S/89.90',
            },
            dto : '20',
            gb : {
                class : 'small',
                amount : 'Todo ilimitado',
                extra : '',
                subfix : 'Gigas y minutos'
            },
            apps : {
                text : 'Apps <strong>ilimitadas</strong>',
                namelink : 'Más detalles',
                link: 'e-box-plan__app-ili01',
                icons : []
            },
            flags : {
                text : 'Llamadas <strong>ilimitadas</strong>',
            },
            roaming: {
                title : 'Datos <strong>Roaming</strong>',
                detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong> + 3.5 GB<br><br><strong>Para Colombia, Ecuador y Bolivia:</strong>Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br>Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '<strong>500</strong> SMS',
            month: 'S/ 71.92',
            textmonth: '/mes',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24336&modalidad=migra-postpago',
        },
        {
            title : {
                prefix: 'Entel Power',
                plan: 99,
                subfix: '90 SD',
                additional: 'Por 6 meses, luego',
                total: 'S/99.90',
            },
            dto : '20',
            gb : {
                class : 'small',
                amount : 'Todo ilimitado',
                extra : '',
                subfix : 'Gigas y minutos'
            },
            apps : {
                text : 'Apps <strong>ilimitadas</strong>',
                namelink : 'Más detalles',
                link: 'e-box-plan__app-ili02',
                icons : []
            },
            flags : {
                text : 'Llamadas <strong>ilimitadas</strong>',
            },
            roaming: {
                title : 'Datos <strong>Roaming</strong>',
                detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong> + 4.5 GB<br><br><strong>Para Colombia, Ecuador y Bolivia:</strong>Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br>Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '<strong>500</strong> SMS',
            month: 'S/ 79.92',
            textmonth: '/mes',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_24324&modalidad=migra-postpago',
        },
        {
            title : {
                prefix: 'Entel Power',
                plan: 109,
                subfix: '90',
                additional: 'Por 6 meses, luego',
                total: 'S/109.90',
            },
            dto : '20',
            gb : {
                amount : '140',
                extra: '<span> GB</span>',
                subfix : 'En alta velocidad'
            },
            apps : {
                text : 'Apps <strong>ilimitadas</strong>',
                namelink : 'Más detalles',
                link: 'e-box-plan__app-ili03',
                icons : []
            },
            flags : {
                text : 'Llamadas <strong>ilimitadas</strong>',
            },
            roaming: {
                title : 'Datos <strong>Roaming</strong>',
                detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong> + 5.5 GB<br><br><strong>Para Colombia, Ecuador y Bolivia:</strong>Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br>Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '<strong>500</strong> SMS',
            month: 'S/ 87.92',
            textmonth: '/mes',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_23751&modalidad=migra-postpago',
        },
        {
            title : {
                prefix: 'Entel Chip',
                plan: 159,
                subfix: '90 Plus',
                additional: 'Por 6 meses, luego',
                total: 'S/159.90',
            },
            dto : '20',
            gb : {
                amount : '160',
                extra: '<span> GB</span>',
                subfix : 'En alta velocidad'
            },
            apps : {
                text : 'Apps <strong>ilimitadas</strong>',
                namelink : 'Más detalles',
                link: 'e-box-plan__app-ili04',
                icons : []
            },
            flags : {
                text : 'Llamadas <strong>ilimitadas</strong>',
            },
            roaming: {
                title : 'Datos <strong>Roaming</strong>',
                detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong> + 12 GB<br><br><strong>Para Colombia, Ecuador y Bolivia:</strong>Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br>Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
            },
            sms : '<strong>500</strong> SMS',
            month: 'S/ 127.92',
            textmonth: '/mes',
            urlCatalogo: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago',
            urlMiPortal: 'https://miportal.entel.pe/personas/planes/identificacion?planId=PO_POS_OO_ENTEL_CHIP_2239&modalidad=migra-postpago',
        },
    ]

section.e-convergente__section.e-convergente-plans#convergente-plans

    .e-container.e-ta-c

        - title = '¡Migra a Entel! Descuentos exclusivos online'
        +title('h2', title).e-title

        //- p Contrata hasta 4 lÃ­neas adicionales disfrutando de los mismos GB, minutos y caracterÃ­sticas.
        //- Â¡Todos nuestros planes Entel Power Familiar. CÃ³nocelos aquÃ­!

        //- .counter-add
        //-     .min
        //-     .detail 1 LÃ­nea adicional 
        //-     .max

        .slider-planesmovil.e-convergente-plans__slider
            each item, index in items
                .slider-planesmovil_item
                    .e-box-plan 
                        .e-box-plan__content
                            //- TITLE
                            - title = item.title.prefix + ' ' + item.title.plan + '.' + item.title.subfix 

                            .e-box-plan__title Plan&nbsp; #[strong !{title}]
                            
                            //-GB
                            h4.e-box-plan__gb 
                                .e-box-plan__gb__amount(class=item.gb.class)
                                    p #{item.gb.amount} !{item.gb.extra}
                                .e-box-plan__gb__subfix
                                    p #{item.gb.subfix}

                            .e-box-plan__block
                                //- DTO
                                - if (item.dto)
                                    - msn = '% dto. Online'
                                    -if(item.title.plan==55)
                                        - msn = '% dto. 100% Online'
                                    .e-box-plan__dto 
                                        p #[strong !{item.dto}]!{msn}

                                //-MONTH
                                .e-box-plan__month 
                                    p #[strong #{item.month}] #{item.textmonth}

                                .e-box-plan__prices
                                    //- p Precio plan #[strong S/ !{item.title.plan}.!{item.title.subfix}/mes]
                                    p !{item.title.additional} #[strong !{item.title.total}]

                            //-APPS
                            .e-box-plan__apps 
                                span !{item.apps.text}

                            //-FLAGS
                            .e-box-plan__flags
                                span !{item.flags.text}

                            //- SMS
                            .e-box-plan__sms 
                                span !{item.sms}
                            
                            //- ROAMING
                            - if (item.roaming)
                                .e-box-plan__roaming 
                                    span !{item.roaming.title} 
                                    a(href='javascript:void(0);' class="js--show-popup-chip-plans" data-id-popup=item.roaming.link) #{item.roaming.namelink}
                            - else
                                .e-box-plan__roaming(class='empty-block')

                        a(href='javascript:void(0);' class="link-blue js--show-popup-chip-plans" data-id-popup=item.apps.link) #{item.apps.namelink}

                        a(href=item.urlMiPortal class="e-button e-button--small e-button-prepago" data-bannerorder=title data-id-popup=item.title.plan ) Lo quiero
                        p.e-box-plan__msn *Sujeto a evaluación crediticia
                    
                        .e-box-plan__link
                            a(href=item.urlCatalogo class="entel-data-layer-btn" target="_blank" data-gtm-category="Web Planes Postpago - Home" data-gtm-action="Click" data-gtm-label="Botón - CatÃ¡logo Equipos - Home" data-gtm-type="click") Ver equipos con este plan

        //- p.plan-link Todos los planes aplican condiciones ver #[a(href="https://www.entel.pe/celulares-postpago/planes/#legales-planes-entel-power-destino" target="_blank") AQUÃ]

.popup-planesmovil-overlay
each item, index in items
    .popup-planesmovil(data-id-popup=item.apps.link)
        .popup-planesmovil__wrapper
            .popup-planesmovil__close-btn
            .popup-planesmovil__content
                //- TITLE
                - title = item.title.prefix + ' ' + item.title.plan + '.' + item.title.subfix 

                p.popup-planesmovil__content__title Plan #[strong !{title}]
                p.popup-planesmovil__content__subtitle  #[strong #{item.gb.amount} !{item.gb.extra}] #[span #{item.gb.subfix}] 

                if item.apps.icons.length > 0
                    p.popup-planesmovil__content__title 
                        strong.blue Apps ilimitadas
                    .popup-planesmovil__content__icon
                        each app, index in item.apps.icons

                            .e-icon-apps 
                                div.e-icon-apps__box(class="e-icon-apps__" + app.icon)
                                p !{app.text}

                p.popup-planesmovil__content__title 
                    strong.blue Roaming
                .popup-planesmovil__content__text
                    p !{item.roaming.detail}

                div(style='text-align:center')
                    a(href=item.urlMiPortal class="e-button e-button--small e-button-prepago" data-bannerorder=title data-id-popup=item.title.plan) Lo quiero














//- -
//-     items = [
//-         {
//-             title : {
//-                 prefix: 'Entel Chip+',
//-                 plan: 39,
//-                 subfix: '90',
//-                 extrasubfix: '',
//-                 extra: '',
//-                 class: ''
//-             },
//-             gb : {
//-                 amount : '25',
//-                 subfix : 'En alta velocidad'
//-             },
//-             apps : {
//-                 text : 'Apps ilimitadas',
//-                 namelink : 'Ver Apps',
//-                 link: 'e-box-plan__app-39',
//-                 icons : ''
//-             },
//-             flags : {
//-                 text : 'Llamadas ilimitadas',
//-                 countries : 'Perú, EE.UU, Canadá, Chile'
//-             },
//-             roaming: {
//-                 title : 'Llamadas, SMS y Datos Roaming',
//-                 namelink : 'Ver más',
//-                 link : 'e-box-plan__rm-39',
//-                 detail : '<strong>Para Colombia, Ecuador y Bolivia:</strong> Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br>Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
//-             },
//-             sms : '500 SMS',
//-             month: 'S/ 39.90',
//-             textmonth: 'por mes',
//-             pricesubfix: '',
//-         },
//-         {
//-             title : {
//-                 prefix: 'Entel Power+',
//-                 plan: 49,
//-                 subfix: '90',
//-                 extrasubfix: '',
//-                 extra: '',
//-                 class: ''
//-             },
//-             dto : '',
//-             gb : {
//-                 amount : '35',
//-                 subfix : 'En alta velocidad'
//-             },
//-             apps : {
//-                 text : 'Apps ilimitadas',
//-                 namelink : 'Ver Apps',
//-                 link : 'e-box-plan__app-49',
//-                 icons : ''
//-             },
//-             flags : {
//-                 text : 'Llamadas ilimitadas',
//-                 countries : 'Perú, EE.UU, Canadá, Chile'
//-             },
//-             roaming: {
//-                 title : 'Llamadas, SMS y Datos Roaming',
//-                 namelink : 'Ver más',
//-                 link : 'e-box-plan__rm-49',
//-                 detail : ''
//-             },
//-             sms : '500 SMS',
//-             month: 'S/ 49.90',
//-             textmonth: 'x mes',
//-             pricesubfix: '',
//-         },
//-         {
//-             title : {
//-                 prefix: 'Entel Power+',
//-                 plan: 55,
//-                 subfix: '90',
//-                 extrasubfix: '',
//-                 extra: '',
//-                 class: ''
//-             },
//-             dto : '20',
//-             gb : {
//-                 amount : '50',
//-                 subfix : 'En alta velocidad'
//-             },
//-             apps : {
//-                 text : 'Apps ilimitadas',
//-                 namelink : 'Ver Apps',
//-                 link : 'e-box-plan__app-74',
//-                 icons : ''
//-             },
//-             flags : {
//-                 text : 'Llamadas ilimitadas',
//-                 countries : 'Perú, EE.UU, Canadá, Chile'
//-             },
//-             roaming: {
//-                 title : 'Llamadas, SMS y Datos Roaming',
//-                 namelink : 'Ver más',
//-                 link : 'e-box-plan__rm-55',
//-                 detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong>+ 2.5 GB <br><br><strong>ara Colombia, Ecuador y Bolivia:</strong> Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas. <br><br> Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
//-             },
//-             sms : '500 SMS',
//-             month: 'S/ 44.72',
//-             textmonth: 'x 6 meses',
//-             pricesubfix: 'a partir del mes 7',
//-         },
//-         {
//-             title : {
//-                 prefix: 'Entel Power+',
//-                 plan: 59,
//-                 subfix: '90',
//-                 extrasubfix: '',
//-                 extra: '',
//-                 class: ''
//-             },
//-             dto : '20',
//-             gb : {
//-                 amount : '75',
//-                 subfix : 'En alta velocidad'
//-             },
//-             apps : {
//-                 text : 'Apps ilimitadas',
//-                 namelink : 'Ver Apps',
//-                 link : 'e-box-plan__app-59',
//-                 icons : ''
//-             },
//-             flags : {
//-                 text : 'Llamadas ilimitadas',
//-                 countries : 'Perú, EE.UU, Canadá, Chile'
//-             },
//-             roaming: {
//-                 title : 'Llamadas, SMS y Datos Roaming',
//-                 namelink : 'Ver más',
//-                 link : 'e-box-plan__rm-59',
//-                 detail : ''
//-             },
//-             sms : '500 SMS',
//-             month: 'S/ 47.92',
//-             textmonth: 'x 6 meses',
//-             pricesubfix: 'a partir del mes 7',
//-         },
//-         {
//-             title : {
//-                 prefix: 'Entel Power+',
//-                 plan: 74,
//-                 subfix: '90',
//-                 extra: 'Más vendido'
//-             },
//-             dto : '20',
//-             gb : {
//-                 amount : '120',
//-                 subfix : 'En alta velocidad'
//-             },
//-             apps : {
//-                 text : 'Apps ilimitadas',
//-                 namelink : 'Ver Apps',
//-                 link : 'e-box-plan__app-74',
//-                 icons : ''
//-             },
//-             flags : {
//-                 text : 'Llamadas ilimitadas',
//-                 countries : 'Perú, EE.UU, Canadá, Chile'
//-             },
//-             roaming: {
//-                 title : 'Llamadas, SMS y Datos Roaming',
//-                 namelink : 'Ver más',
//-                 link : 'e-box-plan__rm-74',
//-                 detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong> + 3.5 GB <br><br> <strong>Para Colombia, Ecuador y Bolivia:</strong> Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br> Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
//-             },
//-             sms : '500 SMS',
//-             month: 'S/ 59.92',
//-             textmonth: 'x 6 meses',
//-             pricesubfix: 'a partir del mes 7',
//-             position: 3
//-         }, 
//-         {
//-             title : {
//-                 prefix: 'Entel Power',
//-                 plan: 89,
//-                 subfix: '90',
//-                 extrasubfix: ' SD'
//-             },
//-             dto : '20',
//-             gb : {
//-                 subfix : 'Gigas y minutos'
//-             },
//-             apps : {
//-                 text : 'Datos ilimitados!',
//-                 namelink : '',
//-                 link: '',
//-                 icons : ''
//-             },
//-             flags : {
//-                 text : 'Llamadas ilimitadas',
//-                 countries : 'Perú, EE.UU, Canadá, Chile'
//-             },
//-             sms : '500 SMS',
//-             month: 'S/ 71.92',
//-             textmonth: 'x 6 meses',
//-             pricesubfix: 'a partir del mes 7',
//-             roaming: {
//-                 title : 'Llamadas, SMS y Datos Roaming',
//-                 namelink : 'Ver más',
//-                 link : 'e-box-plan__rm-89',
//-                 detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong> WhatsApp y Waze + 1 GB <br><br><strong>Para Colombia, Ecuador y Bolivia:</strong> Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br> Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
//-             },
//-             position: 3
//-         },
//-         {
//-             title : {
//-                 prefix: 'Entel Power',
//-                 plan: 99,
//-                 subfix: '90',
//-                 extrasubfix: ' SD'
//-             },
//-             dto : '20',
//-             gb : {
//-                 subfix : 'Gigas y minutos'
//-             },
//-             apps : {
//-                 text : 'Datos ilimitados!',
//-                 namelink : '',
//-                 link: '',
//-                 icons : ''
//-             },
//-             flags : {
//-                 text : 'Llamadas ilimitadas',
//-                 countries : 'Perú, EE.UU, Canadá, Chile'
//-             },
//-             sms : '500 SMS',
//-             month: 'S/ 79.92',
//-             textmonth: 'x 6 meses',
//-             pricesubfix: 'a partir del mes 7',
//-             roaming: {
//-                 title : 'Llamadas, SMS y Datos Roaming',
//-                 namelink : 'Ver más',
//-                 link : 'e-box-plan__rm-99',
//-                 detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong> WhatsApp y Waze + 4.5 GB <br><br><strong>Para Colombia, Ecuador y Bolivia:</strong> Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br> Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
//-             },
//-             position: 3
//-         },
//-         //- {
//-         //-     title : {
//-         //-         prefix: 'Entel Power',
//-         //-         plan: 109,
//-         //-         subfix: '90',
//-         //-         extra: ''
//-         //-     },
//-         //-     dto : '20',
//-         //-     gb : {
//-         //-         amount : '140',
//-         //-         subfix : 'En alta velocidad'
//-         //-     },
//-         //-      apps : {
//-         //-         text : 'Datos ilimitados!',
//-         //-         namelink : '',
//-         //-         link: '',
//-         //-         icons : ''
//-         //-     },
//-         //-     flags : {
//-         //-         text : 'Llamadas ilimitadas',
//-         //-         countries : 'Perú, EE.UU, Canadá, Chile'
//-         //-     },
//-         //-     sms : '500 SMS',
//-         //-     month: 'S/ 87.92',
//-         //-     textmonth: 'x 6 meses',
//-         //-     pricesubfix: 'a partir del mes 7',
//-         //-     roaming: {
//-         //-         title : 'Servicios Roaming en llamadas, SMS y datos hasta 5.5 GB',
//-         //-         namelink : 'Ver más',
//-         //-         link : 'e-box-plan__rm-109',
//-         //-         detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong><br>WhatsApp y Waze + 5.5 GB<br><br><strong>Para Colombia, Ecuador y Bolivia:</strong> <br>Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br>Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
//-         //-     },
//-         //-     position: 3
//-         //- },
//-         //- {
//-         //-     title : {
//-         //-         prefix: 'Entel Power',
//-         //-         plan: 159,
//-         //-         subfix: '90',
//-         //-         extra: ''
//-         //-     },
//-         //-     dto : '20',
//-         //-     gb : {
//-         //-         amount : '160',
//-         //-         subfix : 'En alta velocidad'
//-         //-     },
//-         //-      apps : {
//-         //-         text : 'Datos ilimitados!',
//-         //-         namelink : '',
//-         //-         link: '',
//-         //-         icons : ''
//-         //-     },
//-         //-     flags : {
//-         //-         text : 'Llamadas ilimitadas',
//-         //-         countries : 'Perú, EE.UU, Canadá, Chile'
//-         //-     },
//-         //-     sms : '500 SMS',
//-         //-     month: 'S/ 127.92',
//-         //-     textmonth: 'x 6 meses',
//-         //-     pricesubfix: 'a partir del mes 7',
//-         //-     roaming: {
//-         //-         title : 'Servicios Roaming en llamadas, SMS y datos hasta 12 GB',
//-         //-         namelink : 'Ver más',
//-         //-         link : 'e-box-plan__rm-159',
//-         //-         detail : '<strong>Para EEUU, Argentina, Chile, España, Mexico, Brasil, Panamá, Puerto Rico:</strong><br>WhatsApp y Waze + 5.5 GB<br><br><strong>Para Colombia, Ecuador y Bolivia:</strong> <br>Llamadas de larga distancia ilimitadas entre estos países y a Perú + Datos y SMS según los beneficios de tu plan. No aplica promociones y uso de bolsas.<br><br>Más información en <a class="e-link e-link__bluesky" href="https://www.entel.pe/roaming">www.entel.pe/roaming</a>'
//-         //-     },
//-         //-     position: 3
//-         //- }
//-     ]

//- .slider-planesmovil
//-     each item, index in items
//-         .slider-planesmovil_item
//-             .e-box-plan 
//-                 .e-box-plan__content
//-                     //- TITLE
//-                     - title = item.title.prefix + ' ' + item.title.plan + '.' + item.title.subfix + ((item.title.extrasubfix) ?  item.title.extrasubfix : '')
//-                     - titleclass = (item.title.class) ? item.title.class : '' 

//-                     //-GB
//-                     - if (item.gb.amount)
//-                         h4.e-box-plan__gb 
//-                             - if (item.title.extra)
//-                                 .e-box-plan__gb__extra #{item.title.extra}
//-                             .e-box-plan__gb__amount
//-                                 p #{item.gb.amount} #[span GB]
//-                             .e-box-plan__gb__subfix
//-                                 p #{item.gb.subfix}
//-                     - else
//-                         .e-box-plan__gb.e-gb-ili #[span TODO ILIMITADO] #[br] #{item.gb.subfix}
                    
//-                     .e-box-plan__title(class=titleclass) !{title} #[span ]
                    
//-                     //-MONTH
//-                     .e-box-plan__month 
//-                         p #[strong #{item.month}] #{item.textmonth}

//-                         //- DTO
//-                         - if (item.dto)
//-                             - msn = '% Dto.'
//-                             -if(item.title.plan==55)
//-                                 - msn = '% Dto. 100% online'
//-                             .e-box-plan__dto 
//-                                 p #[strong !{item.dto}]!{msn}
                                
                    
//-                     //-PRICE
//-                     .e-box-plan__price 
//-                         - if (item.pricesubfix!='') 
//-                             | !{'S/' + item.title.plan + '.' + item.title.subfix + ' ' + item.pricesubfix}
//-                         - else 
//-                             br

//-                     //-APPS
//-                     .e-box-plan__apps 
//-                         strong #{item.apps.text}
//-                         a(href='javascript:void(0);' class="js--show-popup-chip-plans" data-id-popup=item.apps.link) #{item.apps.namelink}

//-                     //-FLAGS
//-                     .e-box-plan__flags
//-                         strong #{item.flags.text}
//-                         .e-icon-flags 
//-                             strong #{item.flags.countries}

//-                     //- SMS
//-                     .e-box-plan__sms 
//-                         strong #{item.sms}
                    
//-                     //- ROAMING
//-                     - if (item.roaming)
//-                         .e-box-plan__roaming 
//-                             strong !{item.roaming.title} 
//-                             a(href='javascript:void(0);' class="js--show-popup-chip-plans" data-id-popup=item.roaming.link) #{item.roaming.namelink}
//-                     - else
//-                         .e-box-plan__roaming(class='empty-block')
                

//-                 a(href=item.urlMiPortal class="e-button e-button--small e-button--orange e-button-prepago" data-id-popup=item.title.plan) Comprar AHORA
//-                 p.e-box-plan__msn *Sujeto a evaluación crediticia
            
//-                 .e-box-plan__link
//-                     a(href=item.urlCatalogo class="entel-data-layer-btn" target="_blank" data-gtm-category="Web Planes Postpago - Home" data-gtm-action="Click" data-gtm-label="Botón - Catálogo Equipos - Home" data-gtm-type="click") Ver equipos con este plan

//- p.plan-link Todos los planes aplican condiciones ver #[a(href="https://www.entel.pe/celulares-postpago/planes/#legales-planes-entel-power-destino" target="_blank") AQUÍ]

//- include ./phones_chips_popup_v2