.san-valentin {
  width: 100%;
  height: auto;
  padding: 0px;
  display: flex;
  margin-top: 0px;
  overflow: hidden;
  position: relative;
  background: #fef4f3;

  .box-tecnology {
    padding: 0px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    // position: relative;
    justify-content: center;

    &__image {
      width: auto;
      flex-shrink: 0;
      position: relative;
      margin-bottom: 1px;
      // margin-right: 10px;

      img {
        animation: beat 3s infinite;
        -webkit-animation: beat 3s infinite;
      }

      .picture-view {
        left: 7px;
        top: -5px;
        opacity: 0;
        position: absolute;
        animation: laptop-view 6s linear infinite;

        &,
        img {
          max-width: inherit;
        }

        &-1 {
          // opacity: 1;
        }

        &-2 {
          animation: laptop-view 6s linear infinite 3s;
        }
      }

      .picture-base {
        left: -61px;
        z-index: -1;
        bottom: -23px;
        position: absolute;

        &,
        img {
          max-width: inherit;
        }
      }
    }

    &__container {
      width: 100%;
      display: flex;
      max-width: 200px;
      align-items: center;
      position: relative;

      @include responsive-width($mobile_m) {
        gap: 10px;
      }

      @include responsive-width($tablet_m) {
        max-width: 400px;
        align-items: center;
      }

      @include responsive-width($laptop_s) {
        gap: 15px;
        max-width: 660px;
        // margin-bottom: 15px;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        background-size: 100% 100%;
        left: 50%;
        z-index: -1;
      }
      &::before {
        bottom: -9px;
        margin-left: -240px;
        width: 105px;
        height: 60px;
        background-image: m_image_url(
          "2023/02/san-valentin-home-left-bg-headband.png"
        );
        @include backgound_retina {
          background-image: m_image_url(
            "2023/02/san-valentin-home-left-bg-headband@2x.png"
          );
        }

        @include responsive-width($tablet_m) {
          bottom: -18px;
          width: 167px;
          margin-left: -370px;
          background-image: m_image_url(
            "2023/02/san-valentin-home-left-bg-headband-tab.png"
          );
          @include backgound_retina {
            background-image: m_image_url(
              "2023/02/san-valentin-home-left-bg-headband-tab@2x.png"
            );
          }
        }
        @include responsive-width($laptop_s) {
          bottom: -18px;
          width: 473px;
          margin-left: -880px;
          background-image: m_image_url(
            "2023/02/san-valentin-home-left-bg-headband-desk.png"
          );
          @include backgound_retina {
            background-image: m_image_url(
              "2023/02/san-valentin-home-left-bg-headband-desk@2x.png"
            );
          }
        }
      }
      &::after {
        bottom: -9px;
        margin-left: 75px;
        width: 135px;
        height: 62px;
        background-image: m_image_url(
          "2023/02/san-valentin-home-right-bg-headband.png"
        );
        @include backgound_retina {
          background-image: m_image_url(
            "2023/02/san-valentin-home-right-bg-headband@2x.png"
          );
        }
        @include responsive-width($tablet_m) {
          bottom: -18px;
          margin-left: 280px;
          width: 131px;
          height: 62px;
          background-image: m_image_url(
            "2023/02/san-valentin-home-right-bg-headband-tab.png"
          );
          @include backgound_retina {
            background-image: m_image_url(
              "2023/02/san-valentin-home-right-bg-headband-tab@2x.png"
            );
          }
        }

        @include responsive-width($laptop_s) {
          bottom: -18px;
          margin-left: 520px;
          width: 524px;
          height: 62px;
          background-image: m_image_url(
            "2023/02/san-valentin-home-right-bg-headband-desk.png"
          );
          @include backgound_retina {
            background-image: m_image_url(
              "2023/02/san-valentin-home-right-bg-headband-desk@2x.png"
            );
          }
        }
      }

      .text-1 {
        width: 70px;
        flex-shrink: 0;

        p {
          font-size: 14px;
          color: $black;
          text-align: left !important;
          position: relative;

          @include responsive-width($tablet_m) {
            font-size: 18px;
            font-weight: 500;
            width: 135px;
            line-height: 20px;
          }

          @include responsive-width($laptop_s) {
            width: 330px;
            font-size: 24px;
          }

          &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 9px;
            height: 9px;
            bottom: 0;
            right: 0;
            background-size: 100% 100%;
            background-image: m_image_url(
              "2023/02/san-valentin-home-icon-text-headband-mob.png"
            );
            @include backgound_retina {
              background-image: m_image_url(
                "2023/02/san-valentin-home-icon-text-headband-mob@2x.png"
              );
            }

            @include responsive-width($mobile_m) {
              right: -4px;
            }
            @include responsive-width($tablet_m) {
              bottom: 0px;
              right: 35px;
              width: 23px;
              height: 16px;
              background-image: m_image_url(
                "2023/02/san-valentin-home-icon-text-headband-desk.png"
              );
              @include backgound_retina {
                background-image: m_image_url(
                  "2023/02/san-valentin-home-icon-text-headband-desk@2x.png"
                );
              }
            }

            @include responsive-width($laptop_s) {
              right: 15px;
              width: 32px;
              height: 23px;
              background-image: m_image_url(
                "2023/02/san-valentin-home-icon-text-headband-desk.png"
              );
              @include backgound_retina {
                background-image: m_image_url(
                  "2023/02/san-valentin-home-icon-text-headband-desk@2x.png"
                );
              }
            }
          }
        }

        picture {
          @include responsive-width($tablet_m) {
            margin-left: 2px;
            display: flex;
            align-items: flex-end;
          }
        }

        @include responsive-width($mobile_m) {
          width: 90px;
        }

        @include responsive-width($tablet_m) {
          display: flex;
          align-items: end;
          width: 140px;
        }

        @include responsive-width($laptop_s) {
          width: 330px;
        }
      }

      .text-2 {
        width: 95px;

        @include responsive-width($mobile_m) {
          width: 95px;
        }

        @include responsive-width($tablet_m) {
          width: 190px;
        }
        @include responsive-width($laptop_s) {
          width: 320px;
          align-self: end;
        }

        p {
          @include responsive-width($tablet_m) {
            width: 190px;
          }
          @include responsive-width($laptop_s) {
            width: 320px;
          }
        }
      }
    }

    &__text {
      // width: 110px;
      // max-width: 100%;
      // flex-shrink: 0;
      // padding-left: 5px;
      // padding-right: 5px;

      p {
        color: $black;
        font-weight: 400;
        font-size: 10px;
        text-align: center;
        line-height: 15px;
        // letter-spacing: -0.03em;
        margin-bottom: 0;

        @include responsive-width($tablet_m) {
          font-size: 12px;
        }

        @include responsive-width($laptop_s) {
          font-size: 16px;
          text-align: left;
        }

        b {
          font-weight: bold;
        }

        br {
          display: none;

          @include responsive-width(360px) {
            display: inline-block;
          }

          @include responsive-width($laptop_s) {
            display: none;
          }
        }
      }
    }

    &__button {
      margin-left: 0;
      a {
        display: inline-block;
        min-width: 90px;
        padding: 7px 5px;
        min-width: 90px;
        font-size: 8px;
        background-color: #002eff;
        position: relative;
        height: 30px;

        &::before {
          content: "REGISTRATE AQUÍ";
          color: #ffffff;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          // text-decoration: underline;
          text-transform: uppercase;
          font-weight: 700;
          // font-size: 11px;
          line-height: 18px;
          width: 64px;

          @include responsive-width($tablet_m) {
            content: "REGISTRATE AQUÍ";
            text-decoration: none;
            width: 100%;
            font-weight: 700;
            width: 96px;
          }
        }
        @include responsive-width($tablet_m) {
          min-width: 130px;
          font-size: 12px;
        }
        @include responsive-width($laptop_s) {
          min-width: 145px;
          margin-left: 30px;
        }
      }
    }
  }
}
