- banner_name = 'Lanzamiento - Apple iPhone 14'
- banner_link = 'https://www.entel.pe/npo'

.entel__slider--home__item(
  data-entel-slide-index='1' 
  data-entel-slide-time='8000' 
  data-layer-id='slider_'+banner_name  
  data-layer-name='Banner'+banner_name 
  data-layer-position='Home - Banner Superior 1' 
  data-layer-creative=banner_link
  )

  .entel__slider--home__item__content.entel__slider--home__item__content--iphone-14
    .e-container
      .e-container-flex
        .e-container-flex__item.e-container-flex__item--1.fadeInLeft
          div
            .e-container-flex__item_title-iphone-14
              h2 Conoce #[b en exclusiva]#[br] qué tan Pro es el nuevo  
            .e-container-flex__item_logo-iphone-14
              +mx_picture_retina_all("", img_path+"2022/10/logo-iphone-14", "png", "Logo de Iphone 14 Pro")
            a(class='e-button e-button--orange entel-data-layer-btn-header' href=banner_link 
            target='_BLANK' 
            data-gtm-category='Home Banner' 
            data-gtm-action='Seleccionar botón' 
            data-gtm-label='Lanzamiento - Apple iPhone 14 - regístrate para la preventa' 
            data-gtm-product='Personas' 
            data-gtm-tipo='Informativo'

            ) #[span regístrate para la preventa]
            small.tyc Stock Mínimo a nivel nacional: 200 equipos

        .e-container-flex__item.e-container-flex__item--2.fadeInRight
          +mx_picture_retina_all("", img_path+"2022/10/iPhone-14-Pro-Max-Hero-Deep-Purple", "png", "Imágenes de Iphone 14 Pro")(class="top-bottom")
        //- .e-container-flex__item.e-container-flex__item--3.fadeInRight
          +lazy_image_webp_retina_media('2021/12/e-home-banner-fms-img-mob', 'png', '2021/12/e-home-banner-fms-img-desk', '768', 'Participantes FMS')(class="zoom")