.entel__slider--home__item__content.entel__slider--home__item__apple_week {
    background-color: #FFFFFF;
    padding: 0;
    background-image: url($m_image_path+'2022/09/banner-apple-tit-back.png');
    background-repeat: no-repeat;
    background-size: auto 370px;
    background-position: top center;
    @include responsive-width($desktop-s) {
        background-size: cover;
    }
    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1030px !important;
        }

        @include responsive-width($laptop-m) {
            max-width: 1000px !important;
        }
        
        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 35px 0 0 30px;
            margin: 0;
            width: auto;
            max-width: none;
            position: relative;
            top: 0;
            z-index: 2;
        
            @include responsive-width($tablet-m) {
                padding-top: 50px;
                padding-left: 64px;
            }
        
            @include responsive-width($laptop-s) {   
                padding-left: 52px;
                padding-top: 38px;
                z-index: 1;
            }

            @include responsive-width($laptop-m) { 
                padding-left: 0px;
                padding-top: 35px;
            }

            img {
                position: relative;
                z-index: 2;
                width: auto;
            }


        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 auto 0;
            width: 100%;
            text-align: right;
            position: absolute;
            top: auto;
            bottom: 10px;
            right: 2px;
            z-index: 1;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: auto;
                right: 14px;
                bottom: 42px;
                width: auto;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
        
            @include responsive-width($laptop-s) {
                bottom: 30px;
                right: -24px;
            }
            @include responsive-width($laptop-m) {
                right: 12px;
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 20px;
                margin-top: 0;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                    margin-right: 40px;
                }
        
                @include responsive-width($laptop-s) {
                    margin-right: 80px;
                }
        
                @include responsive-width($laptop-m) {
                    margin-right: 0px;
                    width: auto;
                }
            }
            // &-detail {
            //     position: absolute;
            //     left: 50%;
            //     top: 0;
            //     z-index: 1;

                
            //     &::after {
            //         position: absolute;
            //         content: '';
            //         width: 3000px;
            //         height: 3000px;
            //         background-color: $blue;
            //         display: none;

                    
            //         @include responsive-width($tablet-m) {
            //             display: block;
            //             -webkit-border-radius: 40px;
            //             -moz-border-radius: 40px;
            //             border-radius: 40px;
            //             -moz-transform: rotate(31deg) skew(12deg) translate(-441px, -1820px);
            //             -webkit-transform: rotate(31deg) skew(12deg) translate(-441px, -1820px);
            //             -o-transform: rotate(31deg) skew(12deg) translate(-441px, -1820px);
            //             -ms-transform: rotate(31deg) skew(12deg) translate(-441px, -1820px);
            //             transform: rotate(31deg) skew(12deg) translate(-441px, -1820px);
            //         }

            //         @include responsive-width($laptop-s) {
            //             -webkit-border-radius: 60px;
            //             -moz-border-radius: 60px;
            //             border-radius: 60px;
            //             -moz-transform: rotate(31deg) skew(12deg) translate(-411px, -1790px);
            //             -webkit-transform: rotate(31deg) skew(12deg) translate(-411px, -1790px);
            //             -o-transform: rotate(31deg) skew(12deg) translate(-411px, -1790px);
            //             -ms-transform: rotate(31deg) skew(12deg) translate(-411px, -1790px);
            //             transform: rotate(31deg) skew(12deg) translate(-411px, -1790px);
            //         }

            //         @include responsive-width($laptop-m) {
            //             -moz-transform: rotate(31deg) skew(12deg) translate(-411px, -1790px);
            //             -webkit-transform: rotate(31deg) skew(12deg) translate(-411px, -1790px);
            //             -o-transform: rotate(31deg) skew(12deg) translate(-411px, -1790px);
            //             -ms-transform: rotate(31deg) skew(12deg) translate(-411px, -1790px);
            //             transform: rotate(31deg) skew(12deg) translate(-411px, -1790px);
            //         }
            //     }
            // }
        }

        .e-button {

            &-buy {    
                margin-top: 0;
                position: relative;
                z-index: 5;
                bottom: -22px;
                left: 0px;
                
                @include responsive-width($tablet-m) {
                    left: 0px;
                    bottom: -30px;
                }
        
                @include responsive-width($laptop-s) {
                }

                .btn-buy {
                    height: 40px;
                    margin-left: 0;
                    padding: 7px 15px;
                    font-size: 12px;
                    line-height: 18px;
                    width: 126px;
                    background-color: $orange;
            
                    @include responsive-width($tablet-m) {
                        font-size: 14px;
                        margin-left: 0;
                        margin-top: 0px;
                        width: 186px;
                        height: 50px;
                        line-height: 30px;
                    }
            
                    @include responsive-width($laptop-s) {
                        width: 186px;
                        margin-top: 0px;
                    }
            
                    @include responsive-width($laptop-m) {
                        width: 186px;
                        font-size: 14px;
                        line-height: 30px;
                        margin-top: 0px;
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;

            @include responsive-width($tablet-m) {
                font-size: 12px;
                line-height: 12px;
            }

            &__mob {
                padding-left: 15px;
                margin: 0;
                bottom: 12px;
                text-align: left;
                display: none;
                @include responsive-width($tablet-m) {
                    text-align: left;
                    display: block;
                    width: 100%;
                    padding: 0;
                    bottom: 16px;
                    padding-left: 60px;
                }
                
                @include responsive-width($laptop-s) {
                    bottom: 20px;
                    padding-left: 54px;
                }
                @include responsive-width($laptop-m) {
                    padding-left: 10px; 
                    bottom: 22px;
                }

            }

            a {
                color: $extra_dark_gray;
                text-decoration: underline;
            }
        }
    }
}