.entel__slider--home__item__content.entel__slider--home__lineas_adicionales_test {
  background-color: $white;
  padding: 0;
  -webkit-box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
  box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
  @include responsive-width($tablet-m) {
    background-color: $color-blue;
    box-shadow: none;
  }
  &.testb {
      background-color: $white !important;
      .principalcontent {
        &__textbanner {
          &-text {
            padding-top: 45px;
            padding-left: 28px;
            @include responsive-width($tablet-m) {
              padding-top: 26px;
              padding-left: 45px;
            }
    
            @include responsive-width($laptop-s) {
              padding-top: 14px;
            }
    
            @include responsive-width($laptop-m) {
              padding-top: 22px;
              padding-left: 50px;
            }

            form {
              .form--content {

                .form--head {
                  @include responsive-width($laptop-m) {
                    margin-bottom: 0;
                  }
                  img.testb {
                    margin-bottom: 7px;
                    @include responsive-width($tablet-m) {
                      margin-bottom: 14px;
                    }
                    @include responsive-width($laptop-m) {
                      margin-bottom: 5px;
                    }
                  }
                }

                .form--body {
                  h3 {
                    color: #010306;
                    font-size: 9.6px;
                    @include responsive-width($tablet-m) {
                      font-size: 12px;
                      margin-bottom: 9px;
                    }
                  }

                  .form--number {
                    input {
                      width: 145px;
                      @include responsive-width($tablet-m) {
                        width: 218px;
                        height: 55px;
                      }
                      &:placeholder-shown + span {
                        @include responsive-width($tablet-m) {
                          top: 25px;
                          left: 20px;
                        }
                      }
                    }
                  }
                  .form--check {
                    span {
                      font-size: 8.5px;
                      line-height: 10px;
                      @include responsive-width($tablet-m) {
                        font-size: 11px;
                        line-height: 11px;
                      }

                      a {
                        color: #191919;
                        font-weight: 400;
                      }
                    }
                  }
                }

                .form--thanks {
                  color: $color-blue;
  
                  p,
                  span {
                    color: $color-blue;
                  }
                }
  
                .form--duplicate {
                  p {
                    color: $color-blue;
                  }
                }
  
                .form--error {
                  p {
                    color: $color-blue;
                  }
                }
  
                .form--callback {
                  color: $color-blue;
                  p {
                    color: $color-blue;
                    a {
                      color: $color-blue;
                    }
                  }
                }


              }
            }
          }
        }

        &__imgbanner {
          &-img {
            bottom: 0;

            @include responsive-width($tablet-m) {
              bottom: 0;
            }
    
            img {
              margin-right: -150px;
              margin-bottom: -8px;
    
              @include responsive-width($tablet-m) {
                margin-right: -228px;
                margin-bottom: 0px;
              }

              @include responsive-width($laptop-s) {
                margin-right: 0px;
              }

              @include responsive-width($laptop-m) {
                margin-right: -85px;
              }
            }
          }
        }
      }
      .e-legal-small {
        &__mob {
          @include responsive-width($tablet-m) {
            bottom: 18px;
          }
          @include responsive-width($laptop-s) {
            font-size: 12px;
            padding-left: 50px;
          }

        }
      }
  }

  .principalcontent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    -ms-transform: none;
    transform: none;
    max-width: 320px !important;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    @include responsive-width($tablet-m) {
      max-width: 768px !important;
    }

    @include responsive-width($laptop-s) {
        margin-top: 0;
        max-width: 1030px !important;
    }

    @include responsive-width($laptop-m) {
        max-width: 1100px !important;
    }

    &__textbanner {
      font-weight: bold;
      text-align: left;
      display: block;
      max-width: 320px;
      margin: 0 auto;

      @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        margin-left: 0 !important;
      }

      @include responsive-width($tablet-m) {
        margin: 0;
        max-width: none;
        text-align: left;
        width: 296px;
      }

      @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
        margin-left: 0% !important;
      }

      &-text {
        position: relative;
        margin: 0 auto;
        text-align: left;
        z-index: 2;
        padding-top: 40px;
        padding-left: 12px;

        @include responsive-width($tablet-m) {
          padding-top: 15px;
          padding-left: 65px;
        }

        @include responsive-width($laptop-s) {
          padding-top: 11px;
          padding-left: 60px;
        }

        @include responsive-width($laptop-m) {
          padding-top: 22px;
          padding-left: 48px;
        }

        form {
          .form-legal {
            bottom: -26px;
            color: #9e9fa1;
            font-size: 10px;
            text-align: left;
            position: absolute;
            letter-spacing: 0;

            @include responsive-width($tablet-m) {
              display: none;
            }

            a {
              font-size: 10px;
              color: #9e9fa1;
              font-weight: bold;
              text-decoration: underline;
            }
          }

          .form--content {
            .form--head {
              margin-bottom: 0;

              @include responsive-width($tablet-m) {
                margin-bottom: 10px;
              }

              p {
                margin: 0px;
                color: $color-blue;
                font-size: 14px;
                text-align: left;
                font-weight: 600;
                line-height: 14px;
                font-style: normal;

                span {
                  font-weight: 400;
                }

                @include responsive-width($tablet-m) {
                  font-size: 19px;
                  line-height: 19px;
                }
              }

              h2 {
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 20px;
                text-align: left;
                text-transform: uppercase;
                color: #00b9eb;
                margin: 4px 0px 5px;

                @include responsive-width($tablet-m) {
                  font-size: 34px;
                  line-height: 30px;
                  margin: 6px 0px 11px;
                }
              }

              h3 {
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 12px;
                text-align: left;
                color: $extra_dark_gray;
                margin: 0px 0px 5px;

                @include responsive-width($tablet-m) {
                  font-size: 20px;
                  line-height: 18px;
                  margin: 0px 0px 15px;
                }

                strong {
                  font-weight: bold;
                }
              }

              img { 
                margin-bottom: 18px;
                margin-top: 10px;
                display: none;
                width: auto;
                max-width: none;
                margin-bottom: 16px;

                @include responsive-width($laptop-s) {
                  margin-bottom: 5px;
                  margin-top: 20px;
                  margin-left: 0;
                  width: auto;
                }
                &.testb {              
                  margin-top: -14px;

                  @include responsive-width($tablet-m) {
                    margin-top: 16px;
                  }
                }

                &.active {
                  display: block;
                }

                @include responsive-width($tablet-m) {
                  margin-bottom: 0;
                  margin-top: 28px;
                }

                @include responsive-width($laptop-s) {
                  margin-top: 20px;
                }

                @include responsive-width($laptop-m) {
                  margin-top: 20px;
                }

                @include responsive-width($laptop-s) {
                  margin-bottom: 5px;
                  margin-top: 20px;
                  margin-left: 0;
                }
              }
            }

            .form--body {
              h3 {
                color: $extra_dark_gray;
                font-size: 11px;
                font-weight: normal;
                margin-bottom: 8px;
                letter-spacing: 0.216667px;
                // display: none;

                @include responsive-width($tablet-m) {
                  font-size: 11px;
                  margin-bottom: 10px;
                }
              }

              .form--number {
                margin-bottom: 14px;
                position: relative;


                @include responsive-width($tablet-m) {
                  margin-bottom: 10px;
                }

                span {
                  left: 9px;
                  top: 10px;

                  @include responsive-width($tablet-m) {
                    top: 10px;
                  }

                  span {
                    font-size: 10px;
                    color: $extra_dark_gray;
                    padding: 0 3px;
                    transition: all 0.3s ease;

                    @include responsive-width($tablet-m) {
                      font-size: 12px;
                    }
                  }
                }

                input {
                  border: 1px solid #9e9fa1;
                  box-sizing: border-box;
                  border-radius: 7.3332px;
                  width: 169px;
                  height: 44px;
                  padding: 14px 10px 6px;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 15px;
                  align-items: center;
                  letter-spacing: 0.0015em;
                  color: #9e9fa1;

                  @include responsive-width($tablet-m) {
                    width: 217px;
                    height: 51px;
                    font-size: 14px;
                    line-height: 17px;
                  }

                  &:placeholder-shown + span {
                    top: 20px;

                    @include responsive-width($tablet-m) {
                      top: 22px;
                    }

                    span {
                      font-size: 11px;

                      @include responsive-width($tablet-m) {
                        font-size: 14px;
                      }
                    }
                  }

                  &:focus{
                      border-color: $extra_blue;
                  }

                  &:focus + span {
                    top: 10px;

                    @include responsive-width($tablet-m) {
                      top: 10px;
                    }

                    span {
                      font-size: 10px;
                      color: $extra_blue;

                      @include responsive-width($tablet-m) {
                        font-size: 12px;
                      }
                    }
                  }
                  
                  &.error {
                    border-color: #f10101;
                  }

                  &.error::placeholder {
                    color: #f10101;
                  }

                  &.error + span {
                    span {
                      color: $pink;
                    }
                  }
                }
              }

              .form--check {
                display: flex;
                align-items: center;
                width: 162px;

                @include responsive-width($tablet-m) {
                  width: 220px;
                }
                
                &>span {
                  font-weight: normal;
                  color: #9E9FA1;
                  line-height: 10px;
                  font-size: 8.5px;

                  @include responsive-width($tablet-m) {
                    font-size: 11px;
                  }
                  
                  a {
                    color: $extra_blue; 
                    margin-left: 3px;
                    margin-right: 3px;
                    line-height: 18px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 8.5px;

                    @include responsive-width($tablet-m) {
                      font-size: 11px;
                    }
  
                    span {
                      text-decoration: underline;
                      font-weight: normal;
                    }
                  }
                }

                input {
                  display: none;
                }

                label {
                  @include responsive-width($tablet-m) {
                    font-size: 11px;
                  }
                }

                .input-mask-top {
                  display: none;
                  width: 18px;
                  height: 18px;
                  border: 1px solid $orange;
                  box-sizing: border-box;
                  border-radius: 4.58325px;
                  margin-top: 2px;
                  position: relative;

                  &.error {
                    border-color: #f10101;

                    &::after {
                      border-color: transparent;
                    }
                  }

                  &::after {
                    content: "";
                    left: 6px;
                    top: 2px;
                    width: 4px;
                    height: 9px;
                    border: solid $orange;
                    border-width: 0px 2px 2px 0px;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    position: absolute;
                  }
                }

                a {
                  color: $color-blue;
                  margin-left: 5px;
                  line-height: 18px;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 10px;

                  span {
                    font-weight: bold;
                    text-decoration: underline;
                  }
                }
              }

              button {
                background-color: #ff560a;
                border-radius: 45.8325px;
                color: #ffffff;
                cursor: pointer;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 1px;
                text-align: center;
                padding: 15px 5px;
                text-transform: uppercase;
                margin-top: 7px;
                border: 0px;
                width: 142px;
                height: 40px;
                display: block;

                @include responsive-width($tablet-m) {
                  padding: 21px 36px;
                  margin-top: 9px;
                  width: 186px;
                  height: 50px;
                }
              }
            }

            .form--loading {
              display: none;
              padding: 25px 25px 0px;

              img {
                -webkit-animation: rotating 2s linear infinite;
                -moz-animation: rotating 2s linear infinite;
                -ms-animation: rotating 2s linear infinite;
                -o-animation: rotating 2s linear infinite;
                animation: rotating 2s linear infinite;
                width: 70px;

                @-webkit-keyframes rotating {
                  from {
                    -webkit-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                  }
                  to {
                    -webkit-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    transform: rotate(360deg);
                  }
                }
                @keyframes rotating {
                  from {
                    -ms-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                  }
                  to {
                    -ms-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    transform: rotate(360deg);
                  }
                }

                @include responsive-width($tablet-m) {
                  width: 100px;
                }
              }
            }

            .form--thanks {
              display: none;
              width: 160px;
              text-align: center;
              color: $color-blue;

              img {
                margin: 20px auto 5px;
                max-width: 58px;

                @include responsive-width($tablet-m) {
                  max-width: 78px;
                  margin-bottom: 0px;
                }
              }
              p,
              span {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: $color-blue;

                @include responsive-width($tablet-m) {
                  font-size: 16px;
                  line-height: 18px;
                  margin: 0px 0px 15px;
                }

                small {
                  font-weight: normal;
                  display: block;
                }
              }

              @include responsive-width($tablet-m) {
                width: 200px;
              }
            }

            .form--duplicate {
              display: none;
              width: 180px;
              padding-top: 15px;
              p {
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                margin: 0px;
                color: $color-blue;

                @include responsive-width($tablet-m) {
                  font-size: 16px;
                  line-height: 18px;
                }
              }

              @include responsive-width($tablet-m) {
                width: 250px;
              }
            }

            .form--error {
              display: none;
              width: 180px;
              padding-top: 15px;

              p {
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                margin: 0px;
                color: $color-blue;

                @include responsive-width($tablet-m) {
                  font-size: 16px;
                  line-height: 18px;
                }
              }

              @include responsive-width($tablet-m) {
                width: 250px;
              }
            }

            .form--callback {
              margin-top: 2px;
              color: $color-blue;

              p {
                margin: 0px;
                color: $color-blue;
                font-size: 10px;
                line-height: 11px;
                font-style: normal;
                font-weight: normal;

                a {
                  color: $color-blue;
                  text-decoration: underline;
                  font-weight: bold;
                }

                @include responsive-width($tablet-m) {
                  font-size: 12px;
                  line-height: 14px;
                }
              }

              @include responsive-width($tablet-m) {
                margin-top: 8px;
              }
            }
            
            .form--button {
              display: none;
              text-align: left;
              padding-top: 70px;

              @include responsive-width($tablet-m) {
                padding-top: 100px;
              }

              a {
                border-radius: 45.8325px;
                min-width: 141px;
                height: 40px;

                @include responsive-width($tablet-m) {
                  min-width: 186px;
                  height: 50px;
                }

                span {
                  font-size: 12px;

                  @include responsive-width($tablet-m) {
                    font-size: 13px;
                  }
                } 
              }
            }
          }
        }
      }
    }

    &__imgbanner {
      display: none;
      margin: 0;
      width: 100%;
      position: absolute;
      text-align: right;
      z-index: 1;
      left: auto;
      right: 9px;
      top: auto;
      bottom: 0;

      &.active {
        display: block;
      }

      &-img {
        position: relative;
        display: block;
      }

      &-detail {
        position: absolute;
        left: 50%;
        bottom: 0;

        &::after {
            position: absolute;
            content: '';
            display: none;
            width: 3000px;
            height: 3000px;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            border-radius: 60px;
            // -moz-transform: rotate(16deg) skew(0deg) translate(-331px, 330px);
            // -webkit-transform: rotate(16deg) skew(0deg) translate(-331px, 330px);
            // -o-transform: rotate(16deg) skew(0deg) translate(-331px, 330px);
            // -ms-transform: rotate(16deg) skew(0deg) translate(-331px, 330px);
            // transform: rotate(16deg) skew(0deg) translate(-331px, 330px);

            @include responsive-width($tablet-m) {
              display: block;
              background-color: $white;
              // background-color: $color-blue;
              -moz-transform: rotate(60deg) skew(38deg) translate(-4120px, 1960px);
              -webkit-transform: rotate(60deg) skew(38deg) translate(-4120px, 1960px);
              -o-transform: rotate(60deg) skew(38deg) translate(-4120px, 1960px);
              -ms-transform: rotate(60deg) skew(38deg) translate(-4120px, 1960px);
              transform: rotate(60deg) skew(38deg) translate(-4120px, 1960px);
            }

            @include responsive-width($laptop-s) {
              -moz-transform: rotate(60deg) skew(38deg) translate(-4150px, 2040px);
              -webkit-transform: rotate(60deg) skew(38deg) translate(-4150px, 2040px);
              -o-transform: rotate(60deg) skew(38deg) translate(-4150px, 2040px);
              -ms-transform: rotate(60deg) skew(38deg) translate(-4150px, 2040px);
              transform: rotate(60deg) skew(38deg) translate(-4150px, 2040px);
            }

            @include responsive-width($laptop-m) {
              -moz-transform: rotate(53deg) skew(28deg) translate(-3930px, 1800px);
              -webkit-transform: rotate(53deg) skew(28deg) translate(-3930px, 1800px);
              -o-transform: rotate(53deg) skew(28deg) translate(-3930px, 1800px);
              -ms-transform: rotate(53deg) skew(28deg) translate(-3930px, 1800px);
              transform: rotate(53deg) skew(28deg) translate(-3930px, 1800px);
            }
        }
      }

      img {
        max-width: none;
        width: auto;
        display: inline-block;
        margin-right: -48px;
        margin-bottom: 0;

        @include responsive-width($tablet-m) {
          margin-right: -75px;
          margin-bottom: 0;
        }

        @include responsive-width($laptop-s) {
          margin-right: 55px;
        }

        @include responsive-width($laptop-m) {
          margin-right: 15px;
        }
      }
    }
  }

  .btn-buy {
    width: 160px;
    padding-bottom: 6px;
    margin: 0;
    display: block;
    text-decoration: none;
    line-height: 1;
    outline: 0;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 15px;
    background-color: #ff560a;
    border: 2px solid #ff560a;
    border-radius: 55px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease 0s;
    transform: translateY(20px);

    @include responsive-width($tablet_m) {
      margin: 14px 0 0 0;
      padding: 15px;
    }
  }

  .e-legal-small {
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    width: 100%;
    padding: 0 10px 0 0;
    color: $extra_dark_gray;
    text-align: right;
    letter-spacing: -0.01em;
    z-index: 4;

    &__mob {
      padding-left: 20px;
      margin: 7px auto 0;
      text-align: left;
      padding-right: 0;
      bottom: 10px;

      @include responsive-width($tablet-m) {
        width: 460px;
        bottom: 10px;
        padding-left: 45px;
      }

      @include responsive-width($laptop-m) {
        padding-left: 50px;
        bottom: 14px;
      }
    }

    &__desk {
      display: none;

      @include responsive-width($laptop-s) {
        font-size: 9px;
        max-width: 930px;
        right: auto;
        left: 45px;
        bottom: 15px;
        padding: 0;
        margin: 0;
        text-align: justify;
        line-height: 10px;
      }

      @include responsive-width($laptop-m) {
        left: 50px;
        max-width: 1000px;
      }
    }

    a {
      color: $extra_dark_gray;
      text-decoration: underline;
      @include responsive-width($laptop-s) {
        text-decoration: none;
      }
    }
  }
}
