.entel__slider--home__item__content.entel__slider--home__cuota0_fiestaspatrias {
  background-color: $white;
  padding: 0;
  -webkit-box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
  box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);

  // background-image: url($m_image_path+'2022/06/banner-honor-tit-back.png');
  // background-repeat: no-repeat;
  // background-size: auto 435px;
  // background-position: top center;
  
  .principalcontent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    -ms-transform: none;
    transform: none;
    max-width: 320px !important;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    @include responsive-width($tablet-m) {
      max-width: 768px !important;
    }

    @include responsive-width($laptop-s) {
        margin-top: 0;
        max-width: 1030px !important;
    }

    @include responsive-width($laptop-m) {
        max-width: 1100px !important;
    }

    &__banderas {
      // border: 1px solid #000;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100%;

      .izq {
        position: absolute;
        left: -204px;
        top: 0;

        @include responsive-width($tablet-m) {
          left: -504px;
        }

        @include responsive-width($laptop-s) {
          left: -503px;
        }

        @include responsive-width($laptop-m) {
          left: -573px;
        }
      }

      .der {
        position: absolute;
        right: -260px;
        top: 0;

        @include responsive-width($tablet-m) {
          right: -406px;
        }

        @include responsive-width($laptop-s) {
          right: -340px;
        }

        @include responsive-width($laptop-m) {
          right: -410px;
        }
        
        
      }
    }

    &__textbanner {
      font-weight: bold;
      text-align: left;
      display: block;
      max-width: 320px;
      margin: 0 auto;
      padding-left: 20px;
      padding-top: 40px;
      margin-bottom: 10px;

      @include responsive-width($tablet-m) {
        max-width: none;
        text-align: left;
        width: 100%;
        padding-left: 60px;
        padding-top: 100px;
        margin-bottom: 20px;
      }

      img {
        max-width: none;
        width: auto;
        display: block;

        // @include responsive-width($tablet-m) {
        //   margin-right: 50px;
        // }

        // @include responsive-width($laptop-s) {
        //   margin-right: 30px;
        // }
      }
    }

    &__imgbanner {
      margin: 0;
      width: 100%;
      position: absolute;
      text-align: right;
      z-index: 1;
      left: auto;
      right: 0;
      top: auto;
      bottom: 0;

      &-img {
        position: relative;
        display: block;
      }

      img {
        max-width: none;
        width: auto;
        display: inline-block;
        margin-right: -8px;
        margin-bottom: 0;

        @include responsive-width($tablet-m) {
          margin-right: 50px;
        }

        @include responsive-width($laptop-s) {
          margin-right: 30px;
        }
      }
    }
  }

  .e-button-buy {
      margin-top: 0px;
      text-align: left;
      margin-left: 20px;
      position: absolute;
      z-index: 3;
  
      @include responsive-width($tablet-m) {
          margin-top: 0px;
          margin-left: 60px;
      }

      @include responsive-width($laptop-s) {  
          margin-top: 0;
          margin-left: 60px;
      }

      @include responsive-width($laptop-m) {
          margin-left: 60px;
      }

      .btn-buy {
          height: 40px;
          width: 126px;
          padding: 0;
          margin: 0;
          line-height: 36px;
          font-size: 12px;
  
          @include responsive-width($tablet-m) {
              margin: 0;
              width: 186px;
              height: 50px;
              font-size: 14px;
              line-height: 48px;
          }
      }
  }

  .e-legal-small {
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    width: 100%;
    padding: 0 10px 0 0;
    color: $extra_dark_gray;
    text-align: right;
    letter-spacing: -0.01em;
    z-index: 4;

    &__mob {
      padding-left: 15px;
      margin: 7px auto 0;
      text-align: left;
      padding-right: 0;
      bottom: 5px;

      @include responsive-width($tablet-m) {
        width: 460px;
        bottom: 10px;
        padding-left: 65px;
      }

      @include responsive-width($laptop-m) {
        padding-left: 55px;
      }
    }

    &__desk {
      display: none;

      @include responsive-width($laptop-s) {
        font-size: 9px;
        // display: block;
        max-width: 930px;
        right: auto;
        left: 45px;
        bottom: 15px;
        padding: 0;
        margin: 0;
        text-align: justify;
        line-height: 10px;
      }

      @include responsive-width($laptop-m) {
        left: 50px;
        max-width: 1000px;
      }
    }

    a {
      color: $extra_dark_gray;
      text-decoration: underline;
      @include responsive-width($laptop-s) {
        text-decoration: none;
      }
    }
  }
}
