.entel__slider--home__item__content.entel__slider--home__item__interbank_accesorios {
    background: $color-blue;
    padding: 0;

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1030px !important;
        }

        @include responsive-width($laptop-m) {
            max-width: 1000px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 70px 0 0 30px;
            margin: 0;
            width: 100%;
            max-width: 100%;
        
            @include responsive-width($tablet-m) {
                padding: 5px 25px;
                padding-top: 80px;
                padding-left: 69px;
                width: 100%;
                max-width: none;
            }
        
            @include responsive-width($laptop-s) {   
                margin-left: 0px;
                padding-left: 54px;
                padding-top: 50px;
                z-index: 1;
            }

            @include responsive-width($laptop-m) { 
                padding-left: 124px;
                margin-left: -108px;
            }

            img {
                position: relative;
                z-index: 9;
                margin-bottom: 0px;
        
                @include responsive-width($tablet-m) {
                    width: auto;
                    margin: 20px;
                    margin-left: 0;
                }
        
                @include responsive-width($laptop-s) {
                    width: auto;
                    margin: 20px;
                    margin-left: 0;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin: 20px;
                    margin-left: 0;
                }
            }
        }

        &__imgbanner {
            margin: 0;
            width: 100%;
            position: absolute;
            text-align: right;
            z-index: 4;
            top: auto;
            bottom: 42px;
            left: 0;
            display: block;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
            @include responsive-width($tablet-m) {
                bottom: auto;
                top: 0;
            }

            &-detail {
                position: absolute;
                right: 50%;
                top: 0;
                height: 325px;
                width: 500px;

                @include responsive-width($tablet-m) {
                    height: 370px;
                }

                &::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    z-index: 0;
            
                    @include responsive-width($tablet_m) {
                        height: 370px;
                        background-image: url($m_image_path +'2022/10/banner-acc-itbk-detail-big1.png');
                        background-position: left center;
                        background-size: auto;
                        background-repeat: no-repeat;
                        top: 0;
                        right: -680px;
                    }

                    @include responsive-width($laptop-s) {
                        height: 350px;
                        right: -740px;
                    }

                    @include responsive-width($laptop-m) {
                        right: -770px;
                    }
                }

                &::before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    z-index: 0;

                    @include responsive-width($tablet_m) {
                        top: 0;
                        right: -3330px;
                        width: 3000px;
                        height: 370px;
                        background-color: $white;
                    }

                    @include responsive-width($laptop-s) {
                        right: -3390px;
                    }
                    

                }
            }

            &-img{
                position: relative;
                display: block;

                @include responsive-width($tablet-m) {
                    margin: 50px 150px 50px 0px;
                }

                @include responsive-width($laptop-s) {
                    margin: 30px 211px 17px 0px;
                }

                @include responsive-width($laptop-m) {
                    margin: 40px 241px 7px 0px;
                }
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;
                margin-right: 9px;
        
                @include responsive-width($tablet-m) {
                    margin-right: 52px;
                }
        
                @include responsive-width($laptop-s) {
                    margin-right: 54px;
                }
        
                @include responsive-width($laptop-m) {
                    margin-right: 10px;
                }
            }
        }

        .e-button-buy {
            margin-top: 0;
            position: relative;
            z-index: 5;
            bottom: -15px;
            left: 30px;
            
            @include responsive-width($tablet-m) {
                bottom: 0;
            }
    
            @include responsive-width($laptop-s) {
                bottom: 2px;
            }

            .btn-buy {
                height: 40px;
                margin: 26px 0px 0px;
                padding: 7px 15px;
                font-size: 12px;
                line-height: 18px;
                width: 126px;
                background-color: $orange;
        
                @include responsive-width($tablet-m) {
                    font-size: 12px;
                    margin: 0px 0px 0px 33px;
                    width: 186px;
                }
        
                @include responsive-width($laptop-s) {
                    width: 176px;
                    height: 50px;
                    font-size: 14px;
                    line-height: 30px;
                    margin: 0px 0px 0px 21px;
                }
        
                @include responsive-width($laptop-m) {
                    width: 176px;
                    font-size: 14px;
                    line-height: 30px;
                    margin: 0px 0px 0px -15px;
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;
    
            &__mob {
                padding-left: 32px;
                margin: 0;
                bottom: 12px;
                text-align: left;
    
                @include responsive-width($tablet-m) {
                    text-align: left;
                    width: 100%;
                    padding: 0;
                    bottom: 16px;
                    padding-left: 77px;
                }
                
                @include responsive-width($laptop-s) {
                    bottom: 14px;
                    padding-left: 60px;
                }
    
                @include responsive-width($laptop-m) {
                    padding-left: 26px; 
                }
            }
    
            a {
                color: $extra_dark_gray;
                text-decoration: underline;
            }
        }
    }
}
