.entel__slider--home__item__content.entel__slider--home__lineas_adicionales_fiestaspatrias {
  background-color: $color-blue;
  padding: 0;
  -webkit-box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
  box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
  
  &::after {
    content: '';
    display: none;
    width: 659px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background-image: url($m_image_path+'2022/02/banner-verano2022-lineas-back.png');
    background-repeat: no-repeat;

    @include responsive-width($laptop-s) {
      display: block;
      width: 50%;
      background-size: 671px;
      left: 56%;
    }

    @include responsive-width(1370px) {
      left: 56%;
      width: 50%;
      background-size: cover;
      background-position: center right;
    }
  }
  
  .principalcontent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    -ms-transform: none;
    transform: none;
    max-width: 320px !important;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    @include responsive-width($tablet-m) {
      max-width: 768px !important;
    }

    @include responsive-width($laptop-s) {
        margin-top: 0;
        max-width: 1030px !important;
    }

    @include responsive-width($laptop-m) {
        max-width: 1100px !important;
    }

    &__banderas {
      // border: 1px solid #000;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100%;

      .izq {
        position: absolute;
        left: -204px;
        top: 0;

        @include responsive-width($tablet-m) {
          left: -504px;
        }

        @include responsive-width($laptop-s) {
          left: -503px;
        }

        @include responsive-width($laptop-m) {
          left: -573px;
        }
      }

      .der {
        position: absolute;
        right: -260px;
        top: 0;

        @include responsive-width($tablet-m) {
          right: -406px;
        }

        @include responsive-width($laptop-s) {
          right: -340px;
        }

        @include responsive-width($laptop-m) {
          right: -410px;
        }
        
        
      }
    }

    // &__textbanner {
    //   font-weight: bold;
    //   text-align: left;
    //   display: block;
    //   max-width: 320px;
    //   margin: 0 auto;
    //   padding-left: 20px;
    //   padding-top: 70px;
    //   margin-bottom: 20px;
    //   position: relative;
    //   z-index: 2;

    //   @include responsive-width($tablet-m) {
    //     max-width: none;
    //     text-align: left;
    //     width: 100%;
    //     padding-left: 60px;
    //     padding-top: 70px;
    //     margin-bottom: 20px;
    //   }

    //   @include responsive-width($laptop-m) {
    //     padding-top: 70px;
    //   }

    //   img {
    //     max-width: none;
    //     width: auto;
    //     display: block;

    //     // @include responsive-width($tablet-m) {
    //     //   margin-right: 50px;
    //     // }

    //     // @include responsive-width($laptop-s) {
    //     //   margin-right: 30px;
    //     // }
    //   }
    // }

    &__textbanner {
      font-weight: bold;
      text-align: left;
      display: block;
      max-width: 320px;
      margin: 0 auto;

      @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        margin-left: 0 !important;
      }

      @include responsive-width($tablet-m) {
        margin: 0;
        max-width: none;
        text-align: left;
        width: 296px;
      }

      @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
        margin-left: 0% !important;
      }

      &-text {
        position: relative;
        margin: 0 auto;
        text-align: left;
        z-index: 2;
        padding-top: 20px;
        padding-left: 12px;

        @include responsive-width($tablet-m) {
          padding-top: 40px;
          padding-left: 65px;
        }

        @include responsive-width($laptop-s) {
          padding-top: 11px;
          padding-left: 60px;
        }

        @include responsive-width($laptop-m) {
          padding-top: 14px;
          padding-left: 50px;
        }

        form {
          .form-legal {
            bottom: -26px;
            color: #9e9fa1;
            font-size: 10px;
            text-align: left;
            position: absolute;
            letter-spacing: 0;

            @include responsive-width($tablet-m) {
              display: none;
            }

            a {
              font-size: 10px;
              color: #9e9fa1;
              font-weight: bold;
              text-decoration: underline;
            }
          }

          .form--content {
            .form--head {
              margin-bottom: 0;

              @include responsive-width($tablet-m) {
                margin-bottom: 10px;
              }

              p {
                margin: 0px;
                color: $color-blue;
                font-size: 14px;
                text-align: left;
                font-weight: 600;
                line-height: 14px;
                font-style: normal;

                span {
                  font-weight: 400;
                }

                @include responsive-width($tablet-m) {
                  font-size: 19px;
                  line-height: 19px;
                }
              }

              h2 {
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 20px;
                text-align: left;
                text-transform: uppercase;
                color: #00b9eb;
                margin: 4px 0px 5px;

                @include responsive-width($tablet-m) {
                  font-size: 34px;
                  line-height: 30px;
                  margin: 6px 0px 11px;
                }
              }

              h3 {
                font-style: normal;
                font-weight: 300;
                font-size: 12px;
                line-height: 12px;
                text-align: left;
                color: $extra_dark_gray;
                margin: 0px 0px 5px;

                @include responsive-width($tablet-m) {
                  font-size: 20px;
                  line-height: 18px;
                  margin: 0px 0px 15px;
                }

                strong {
                  font-weight: bold;
                }
              }

              img {    
                display: block;
                width: auto;
                max-width: none;
                margin-bottom: 16px;

                @include responsive-width($laptop-s) {
                  margin-bottom: 5px;
                  margin-top: 20px;
                  margin-left: 0;
                  width: auto;
                }
              }
            }

            .form--body {
              h3 {
                color: #fff;
                font-size: 11px;
                font-weight: normal;
                margin-bottom: 8px;
                letter-spacing: 0.216667px;
                // display: none;

                @include responsive-width($tablet-m) {
                  font-size: 11px;
                  margin-bottom: 10px;
                }
              }

              .form--number {
                margin-bottom: 8px;

                @include responsive-width($tablet-m) {
                  margin-bottom: 5px;
                }

                input {
                  border: 1px solid #9e9fa1;
                  box-sizing: border-box;
                  border-radius: 7.3332px;
                  width: 160px;
                  height: 44px;
                  padding: 10px 15px;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 15px;
                  align-items: center;
                  letter-spacing: 0.0015em;
                  color: #9e9fa1;

                  &.error {
                    border-color: #f10101;
                  }

                  &.error::placeholder {
                    color: #f10101;
                  }

                  @include responsive-width($tablet-m) {
                    width: 216px;
                    height: 56px;
                    font-size: 14px;
                    line-height: 17px;
                  }
                }
              }

              .form--check {
                display: flex;
                align-items: center;
                width: 162px;

                @include responsive-width($tablet-m) {
                  width: 220px;
                }
                
                &>span {
                  font-weight: normal;
                  color: #9E9FA1;  
                  line-height: 10px;
                  font-size: 8.5px;

                  @include responsive-width($tablet-m) {
                    font-size: 11px;
                  }
                  
                  a {
                    color: $extra_blue; 
                    margin-left: 3px;
                    margin-right: 3px;
                    line-height: 18px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 8.5px;

                    @include responsive-width($tablet-m) {
                      font-size: 11px;
                    }
  
                    span {
                      text-decoration: underline;
                      font-weight: normal;
                    }
                  }
                }

                input {
                  display: none;
                }

                label {
                  @include responsive-width($tablet-m) {
                    font-size: 11px;
                  }
                }

                .input-mask-top {
                  display: none;
                  width: 18px;
                  height: 18px;
                  border: 1px solid $orange;
                  box-sizing: border-box;
                  border-radius: 4.58325px;
                  margin-top: 2px;
                  position: relative;

                  &.error {
                    border-color: #f10101;

                    &::after {
                      border-color: transparent;
                    }
                  }

                  &::after {
                    content: "";
                    left: 6px;
                    top: 2px;
                    width: 4px;
                    height: 9px;
                    border: solid $orange;
                    border-width: 0px 2px 2px 0px;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    position: absolute;
                  }
                }

                a {
                  color: $color-blue;
                  margin-left: 5px;
                  line-height: 18px;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 10px;

                  span {
                    font-weight: bold;
                    text-decoration: underline;
                  }
                }
              }

              button {
                background-color: #ff560a;
                border-radius: 45.8325px;
                color: #ffffff;
                cursor: pointer;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 1px;
                text-align: center;
                padding: 15px 5px;
                text-transform: uppercase;
                margin-top: 7px;
                border: 0px;
                width: 142px;
                height: 40px;
                display: block;

                @include responsive-width($tablet-m) {
                  padding: 21px 36px;
                  margin-top: 9px;
                  width: 186px;
                  height: 50px;
                }
              }
            }

            .form--loading {
              display: none;
              padding: 25px 25px 0px;

              img {
                -webkit-animation: rotating 2s linear infinite;
                -moz-animation: rotating 2s linear infinite;
                -ms-animation: rotating 2s linear infinite;
                -o-animation: rotating 2s linear infinite;
                animation: rotating 2s linear infinite;
                width: 70px;

                @-webkit-keyframes rotating {
                  from {
                    -webkit-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                  }
                  to {
                    -webkit-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    transform: rotate(360deg);
                  }
                }
                @keyframes rotating {
                  from {
                    -ms-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -webkit-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                  }
                  to {
                    -ms-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -webkit-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    transform: rotate(360deg);
                  }
                }

                @include responsive-width($tablet-m) {
                  width: 100px;
                }
              }
            }

            .form--thanks {
              display: none;
              width: 160px;
              text-align: center;
              color: $color-blue;

              img {
                margin: 20px auto 5px;
                max-width: 58px;

                @include responsive-width($tablet-m) {
                  max-width: 78px;
                  margin-bottom: 0px;
                }
              }
              p,
              span {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: $color-blue;

                @include responsive-width($tablet-m) {
                  font-size: 16px;
                  line-height: 18px;
                  margin: 0px 0px 15px;
                }

                small {
                  font-weight: normal;
                  display: block;
                }
              }

              @include responsive-width($tablet-m) {
                width: 200px;
              }
            }

            .form--duplicate {
              display: none;
              width: 180px;
              padding-top: 15px;
              p {
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                margin: 0px;
                color: $color-blue;

                @include responsive-width($tablet-m) {
                  font-size: 16px;
                  line-height: 18px;
                }
              }

              @include responsive-width($tablet-m) {
                width: 250px;
              }
            }

            .form--error {
              display: none;
              width: 180px;
              padding-top: 15px;

              p {
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                margin: 0px;
                color: $color-blue;

                @include responsive-width($tablet-m) {
                  font-size: 16px;
                  line-height: 18px;
                }
              }

              @include responsive-width($tablet-m) {
                width: 250px;
              }
            }

            .form--callback {
              margin-top: 2px;
              color: $color-blue;

              p {
                margin: 0px;
                color: $color-blue;
                font-size: 10px;
                line-height: 11px;
                font-style: normal;
                font-weight: normal;

                a {
                  color: $color-blue;
                  text-decoration: underline;
                  font-weight: bold;
                }

                @include responsive-width($tablet-m) {
                  font-size: 12px;
                  line-height: 14px;
                }
              }

              @include responsive-width($tablet-m) {
                margin-top: 8px;
              }
            }
            
            .form--button {
              display: none;
              text-align: left;
              padding-top: 70px;

              @include responsive-width($tablet-m) {
                padding-top: 100px;
              }

              a {
                border-radius: 45.8325px;
                min-width: 141px;
                height: 40px;

                @include responsive-width($tablet-m) {
                  min-width: 186px;
                  height: 50px;
                }

                span {
                  font-size: 12px;

                  @include responsive-width($tablet-m) {
                    font-size: 13px;
                  }
                } 
              }
            }
          }
        }
      }
    }

    &__imgbanner {
      margin: 0;
      width: 100%;
      position: absolute;
      text-align: right;
      z-index: 1;
      left: auto;
      right: 0;
      top: auto;
      bottom: 0;

      &-img {
        position: relative;
        display: block;
      }
      &-detail {
        position: absolute;
        left: 50%;
        bottom: 0;

        &::after {
          position: absolute;
          content: '';
          display: block;
          width: 3000px;
          height: 3000px;
          background-color: $color-blue;
          -webkit-border-radius: 60px;
          -moz-border-radius: 60px;
          border-radius: 60px;

          @include responsive-width($laptop-s) {
            -moz-transform: rotate(31deg) skew(18deg) translate(-2980px, 560px);
            -webkit-transform: rotate(31deg) skew(18deg) translate(-2980px, 560px);
            -o-transform: rotate(31deg) skew(18deg) translate(-2980px, 560px);
            -ms-transform: rotate(31deg) skew(18deg) translate(-2980px, 560px);
            transform: rotate(31deg) skew(18deg) translate(-2980px, 560px);
          }

          @include responsive-width($laptop-m) {
            -moz-transform: rotate(23deg) skew(12deg) translate(-2880px, 330px);
            -webkit-transform: rotate(23deg) skew(12deg) translate(-2880px, 330px);
            -o-transform: rotate(23deg) skew(12deg) translate(-2880px, 330px);
            -ms-transform: rotate(23deg) skew(12deg) translate(-2880px, 330px);
            transform: rotate(23deg) skew(12deg) translate(-2880px, 330px);
          }
        }
      }

      img {
        max-width: none;
        width: auto;
        display: inline-block;
        margin-right: -20px;
        margin-bottom: -9px;

        @include responsive-width($tablet-m) {
          margin-right: 60px;
        }

        @include responsive-width($laptop-s) {
          margin-right: 90px;
        }

        @include responsive-width($laptop-m) {
          margin-right: 40px;
        }
        
      }
    }
  }

  .e-button-buy {
      margin-top: 0px;
      text-align: left;
      margin-left: 20px;
      position: absolute;
      z-index: 3;
  
      @include responsive-width($tablet-m) {
          margin-top: 0px;
          margin-left: 60px;
      }

      @include responsive-width($laptop-s) {  
          margin-top: 0;
          margin-left: 60px;
      }

      @include responsive-width($laptop-m) {
          margin-left: 60px;
      }

      .btn-buy {
          height: 40px;
          width: 126px;
          padding: 0;
          margin: 0;
          line-height: 36px;
          font-size: 12px;
  
          @include responsive-width($tablet-m) {
              margin: 0;
              width: 186px;
              height: 50px;
              font-size: 14px;
              line-height: 48px;
          }
      }
  }

  .e-legal-small {
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    width: 100%;
    padding: 0 10px 0 0;
    color: $extra_dark_gray;
    text-align: right;
    letter-spacing: -0.01em;
    z-index: 4;

    &__mob {
      padding-left: 15px;
      margin: 7px auto 0;
      text-align: left;
      padding-right: 0;
      bottom: 5px;

      @include responsive-width($tablet-m) {
        width: 460px;
        bottom: 10px;
        padding-left: 65px;
      }

      @include responsive-width($laptop-m) {
        padding-left: 55px;
      }
    }

    &__desk {
      display: none;

      @include responsive-width($laptop-s) {
        font-size: 9px;
        // display: block;
        max-width: 930px;
        right: auto;
        left: 45px;
        bottom: 15px;
        padding: 0;
        margin: 0;
        text-align: justify;
        line-height: 10px;
      }

      @include responsive-width($laptop-m) {
        left: 50px;
        max-width: 1000px;
      }
    }

    a {
      color: $extra_dark_gray;
      text-decoration: underline;
      @include responsive-width($laptop-s) {
        text-decoration: none;
      }
    }
  }
}
