.entel__slider--home__item__content.entel__slider--home__verano2022_acc_2 {
    background: $color-blue;
    padding: 0;
    -webkit-box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
    box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
            height: 100%;
            top: 0;
            -ms-transform: none;
            transform: none;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &-detail {
            position: absolute;
            left: 50%;
            bottom: 0;

            &::after {
                position: absolute;
                content: '';
                display: block;
                width: 3000px;
                height: 3000px;
                background-color: $white;

                
                @include responsive-width($tablet-m) {
                    -webkit-border-radius: 40px;
                    -moz-border-radius: 40px;
                    border-radius: 40px;
                    -moz-transform: rotate(63deg) skew(34deg) translate(-4067px, 2190px);
                    -webkit-transform: rotate(63deg) skew(34deg) translate(-4067px, 2190px);
                    -o-transform: rotate(63deg) skew(34deg) translate(-4067px, 2190px);
                    -ms-transform: rotate(63deg) skew(34deg) translate(-4067px, 2190px);
                    transform: rotate(63deg) skew(34deg) translate(-4067px, 2190px);
                }

                @include responsive-width($laptop-s) {
                    -moz-transform: rotate(73deg) skew(24deg) translate(-4042px, 2668px);
                    -webkit-transform: rotate(73deg) skew(24deg) translate(-4042px, 2668px);
                    -o-transform: rotate(73deg) skew(24deg) translate(-4042px, 2668px);
                    -ms-transform: rotate(73deg) skew(24deg) translate(-4042px, 2668px);
                    transform: rotate(73deg) skew(24deg) translate(-4042px, 2668px);
                }

                @include responsive-width($laptop-m) {
                    -moz-transform: rotate(71deg) skew(31deg) translate(-4236px, 2638px);
                    -webkit-transform: rotate(71deg) skew(31deg) translate(-4236px, 2638px);
                    -o-transform: rotate(71deg) skew(31deg) translate(-4236px, 2638px);
                    -ms-transform: rotate(71deg) skew(31deg) translate(-4236px, 2638px);
                    transform: rotate(71deg) skew(31deg) translate(-4236px, 2638px);
                }
            }
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding-top: 25px;
            padding-left: 25px;
        
            @include responsive-width($tablet-m) {
                width: 100%;
                text-align: left;
                padding-left: 50px;
                padding-top: 80px;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 46px;
                padding-top: 70px;
            }
            
            @include responsive-width($laptop-m) {
                padding-top: 50px;
            }

            img {
                position: relative;
                display: inline-block;
                width: auto;

                @include responsive-width($tablet-m) {
                    width: auto;
                }
            }
  
            &::before {
                content: '';
                display: none;
                width: 768px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                background-image: url($m_image_path+'2022/01/banner-verano2022-accesorios-back.png');
                background-repeat: no-repeat;
                background-size: 768px;
            
                @include responsive-width($tablet-m) {
                    display: block;
                    left: -350px;
                }
            
                @include responsive-width($laptop-s) {
                    left: -345px;
                }
            
                @include responsive-width($laptop-m) {
                    left: -355px;
                    background-position: left center;
                }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            top: auto;
            bottom: 0;
            right: 0;
            margin: 0;
            width: 100%;
            position: absolute;
            text-align: right;
        
            @include responsive-width($tablet-m) {
                margin: 0;
                position: absolute;
                right: 0;
                top: 0;                
                -ms-transform: none;
                transform: none;
            }

            @include responsive-width($laptop-s) {
                right: 0px;
                top: 0;
            }
            @include responsive-width($laptop-m) {
                top: 0;
            }

            &-img {
                position: relative;
                display: block;
                height: 100%;
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;   
                margin-right: 10px;
        
                @include responsive-width($tablet-m) {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }

                @include responsive-width($laptop-s) {
                    // margin-right: 30px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                    // margin-right: 0;
                    // margin-top: 0px;
                }
            }
        }

        .e-button-buy {    
            margin-top: 22px;
            text-align: left;
            margin-left: 25px;
        
            @include responsive-width($tablet-m) {
                margin-top: 0px;
                margin-left: 50px;
            }

            @include responsive-width($laptop-s) {  
                margin-top: 0;
                margin-left: 44px;
            }

            @include responsive-width($laptop-m) {
                margin-left: 50px;
            }

            .btn-buy {
                height: 40px;
                width: 126px;
                padding: 0;
                margin: 0;
                line-height: 36px;
                font-size: 12px;
        
                @include responsive-width($tablet-m) {
                    margin: 0;
                    width: 186px;
                    height: 50px;
                    font-size: 14px;
                    line-height: 48px;
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;

            &__mob {    
                padding-left: 160px;
                margin: 0;
                bottom: 10px;
                text-align: left;
                
                @include responsive-width($tablet-m) {
                    width: 100%;
                    padding: 0;
                    bottom: 20px;
                    padding-left: 50px;
                    color: $white;
                    z-index: 5;
                }
                
                @include responsive-width($laptop-s) {
                    bottom: 20px;
                    padding-left: 46px;
                }
                @include responsive-width($laptop-m) {
                    padding-left: 48px; 
                }

            }

            // &__desk {
            //     display: none;
                
            //     @include responsive-width($tablet-m) {
            //         font-size: 10px;
            //         max-width: 644px;
            //         right: auto;
            //         left: 50px;
            //         bottom: 10px;
            //         padding: 0;
            //         margin: 0;
            //         text-align: center;
            //     }

            //     @include responsive-width($laptop-s) {
            //         bottom: 10px;
            //         max-width: 930px;
            //         left: 37px;
            //         display: block;
            //     }
    
            //     @include responsive-width($laptop-m) {
            //         display: block;
            //         max-width: 100%;
            //         left: 0;
            //         bottom: 15px;
            //     }
            // }

            a {
                color: $extra_dark_gray;
                text-decoration: none;
                
                @include responsive-width($tablet-m) {
                    color: $white;
                }
            }
        }
    }
}
