.entel__slider--home__item__content.entel__slider--home__item__samsung_flip {
    background-color: #F4F4F4;
    padding: 0;
    @include responsive-width($tablet-m) {
        background-color: $white;

    }
    
    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1030px !important;
        }

        @include responsive-width($laptop-m) {
            max-width: 1000px !important;
        }
        
        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 0;
            margin: 0;
            width: auto;
            max-width: none;
            position: relative;
            top: -6px;
            z-index: 2;
        

            img {
                position: relative;
                z-index: 2;
                width: auto;
            }

            &-text {
                position: relative;
                margin: 0 auto;
                text-align: left;
                z-index: 2;
                padding-top: 20px;
                padding-left: 30px;

                @include responsive-width($tablet-m) {
                    padding-top: 6px;
                    padding-left: 65px;
                }

                @include responsive-width($laptop-s) {
                    padding-top: 1px;
                    padding-left: 52px;
                }

                @include responsive-width($laptop-m) {
                    padding-top: 4px;
                    padding-left: 0px;
                }
                form {
                    .form-legal {
                      bottom: -26px;
                      color: #9e9fa1;
                      font-size: 10px;
                      text-align: left;
                      position: absolute;
                      letter-spacing: 0;
          
                      @include responsive-width($tablet-m) {
                        display: none;
                      }
          
                      a {
                        font-size: 10px;
                        color: #9e9fa1;
                        font-weight: bold;
                        text-decoration: underline;
                      }
                    }
          
                    .form--content {
                      .form--head {
                        margin-bottom: 7px;          
                        @include responsive-width($tablet-m) {
                          margin-bottom: 10px;
                        }
                        @include responsive-width($laptop-m) {
                            margin-bottom: 7px;
                          }
                        p {
                          margin: 0px;
                          color: $color-blue;
                          font-size: 10px;
                          text-align: left;
                          font-weight: 600;
                          line-height: 14px;
                          font-style: normal;
          
                          span {
                            font-weight: 400;
                          }
          
                          @include responsive-width($tablet-m) {
                            font-size: 19px;
                            line-height: 19px;
                          }
                        }
          
                        h2 {
                          font-style: normal;
                          font-weight: bold;
                          font-size: 24px;
                          line-height: 20px;
                          text-align: left;
                          text-transform: uppercase;
                          color: #00b9eb;
                          margin: 4px 0px 5px;
          
                          @include responsive-width($tablet-m) {
                            font-size: 34px;
                            line-height: 30px;
                            margin: 6px 0px 11px;
                          }
                        }
          
                        h3 {
                          font-style: normal;
                          font-weight: 300;
                          font-size: 12px;
                          line-height: 12px;
                          text-align: left;
                          color: $extra_dark_gray;
                          margin: 0px 0px 5px;
          
                          @include responsive-width($tablet-m) {
                            font-size: 20px;
                            line-height: 18px;
                            margin: 0px 0px 15px;
                          }
          
                          strong {
                            font-weight: bold;
                          }
                        }
          
                        img {
                          width: auto;
                          max-width: none;
           
                          margin-bottom: 0px;
                          margin-top: 18px;
          
                          @include responsive-width($tablet-m) {
                            margin-bottom: 0;
                            margin-top: 28px;
                          }
          
                          @include responsive-width($laptop-s) {
                            margin-bottom: 5px;
                            margin-top: 20px;
                            margin-left: 0;
                            width: auto;
                          }
          
                          @include responsive-width($laptop-m) {
                            margin-top: 20px;
                          }
          
                          &.testa {
                            display: none;
          
                            &.active {
                              display: block;
                            }
                          }
          
                          &.testb {
                            display: none;
          
                            &.active {
                              display: block;
                            }
          
                            margin-bottom: 0;
                          }
                        }
                      }
          
                      .form--body {
                        h3 {
                          color: #004FB8;
                          font-size: 10px;
                          font-weight: normal;
                          margin-bottom: 8px;
                          letter-spacing: 0.216667px;
                          // display: none;
          
                          @include responsive-width($tablet-m) {
                            font-size: 11px;
                            margin-bottom: 10px;
                          }
                        }
          
                        .form--number {
                          margin-bottom: 8px;
          
                          @include responsive-width($tablet-m) {
                            margin-bottom: 10px;
                          }
          
                          input {
                            border: 1px solid #9e9fa1;
                            box-sizing: border-box;
                            border-radius: 7.3332px;
                            width: 142px;
                            height: 44px;
                            padding: 10px 15px;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 15px;
                            align-items: center;
                            letter-spacing: 0.0015em;
                            color: #9e9fa1;
          
                            &.error {
                              border-color: #f10101;
                            }
          
                            &.error::placeholder {
                              color: #f10101;
                            }
          
                            @include responsive-width($tablet-m) {
                              width: 216px;
                              height: 56px;
                              font-size: 14px;
                              line-height: 17px;
                            }
                          }
                        }
          
                        .form--check {
                          display: flex;
                          align-items: center;
                          width: 150px;
          
                          @include responsive-width($tablet-m) {
                            width: 220px;
                          }
                          
                          &>span {
                            font-weight: normal;
                            color: $gray;  
                            line-height: 10px;
                            font-size: 8.5px;
          
                            @include responsive-width($tablet-m) {
                              font-size: 11px;
                              line-height: 11px;
                            }
                            
                            a {
                              color: $extra_blue; 
                              margin-left: 3px;
                              margin-right: 3px;
                              line-height: 10px;
                              font-style: normal;
                              font-weight: normal;
                              font-size: 8.5px;
          
                              @include responsive-width($tablet-m) {
                                font-size: 11px;
                                line-height: 11px;

                              }
            
                              span {
                                text-decoration: underline;
                                font-weight: normal;
                              }
                            }
                          }
          
                          input {
                            display: none;
                          }
          
                          label {
                            @include responsive-width($tablet-m) {
                              font-size: 11px;
                            }
                          }
          
                          .input-mask-top {
                            display: none;
                            width: 18px;
                            height: 18px;
                            border: 1px solid $orange;
                            box-sizing: border-box;
                            border-radius: 4.58325px;
                            margin-top: 2px;
                            position: relative;
          
                            &.error {
                              border-color: #f10101;
          
                              &::after {
                                border-color: transparent;
                              }
                            }
          
                            &::after {
                              content: "";
                              left: 6px;
                              top: 2px;
                              width: 4px;
                              height: 9px;
                              border: solid $orange;
                              border-width: 0px 2px 2px 0px;
                              -webkit-transform: rotate(45deg);
                              -ms-transform: rotate(45deg);
                              transform: rotate(45deg);
                              position: absolute;
                            }
                          }
          
                          a {
                            color: $color-blue;
                            margin-left: 5px;
                            line-height: 18px;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;
          
                            span {
                              font-weight: bold;
                              text-decoration: underline;
                            }
                          }
                        }
          
                        button {
                          background-color: #ff560a;
                          border-radius: 45.8325px;
                          color: #ffffff;
                          cursor: pointer;
                          font-style: normal;
                          font-weight: bold;
                          font-size: 12px;
                          line-height: 1px;
                          text-align: center;
                          padding: 15px 5px;
                          text-transform: uppercase;
                          margin-top: 7px;
                          border: 0px;
                          width: 142px;
                          height: 40px;
                          display: block;
          
                          @include responsive-width($tablet-m) {
                            padding: 21px 36px;
                            margin-top: 12px;
                            width: 186px;
                            height: 50px;
                          }
                        }
                      }
          
                      .form--loading {
                        display: none;
                        padding: 25px 25px 0px;
          
                        img {
                          -webkit-animation: rotating 2s linear infinite;
                          -moz-animation: rotating 2s linear infinite;
                          -ms-animation: rotating 2s linear infinite;
                          -o-animation: rotating 2s linear infinite;
                          animation: rotating 2s linear infinite;
                          width: 70px;
          
                          @-webkit-keyframes rotating {
                            from {
                              -webkit-transform: rotate(0deg);
                              -o-transform: rotate(0deg);
                              transform: rotate(0deg);
                            }
                            to {
                              -webkit-transform: rotate(360deg);
                              -o-transform: rotate(360deg);
                              transform: rotate(360deg);
                            }
                          }
                          @keyframes rotating {
                            from {
                              -ms-transform: rotate(0deg);
                              -moz-transform: rotate(0deg);
                              -webkit-transform: rotate(0deg);
                              -o-transform: rotate(0deg);
                              transform: rotate(0deg);
                            }
                            to {
                              -ms-transform: rotate(360deg);
                              -moz-transform: rotate(360deg);
                              -webkit-transform: rotate(360deg);
                              -o-transform: rotate(360deg);
                              transform: rotate(360deg);
                            }
                          }
          
                          @include responsive-width($tablet-m) {
                            width: 100px;
                          }
                        }
                      }
          
                      .form--thanks {
                        display: none;
                        width: 150px;
                        text-align: center;
                        color: $blue;
          
                        
                        img {
                          margin: 20px auto 5px;
                          max-width: 58px;
          
                          @include responsive-width($tablet-m) {
                            max-width: 78px;
                            margin-bottom: 0px;
                          }
                        }
                        p,
                        span {
                          font-style: normal;
                          font-weight: normal;
                          font-size: 14px;
                          line-height: 16px;
                          text-align: center;
                          color: $blue;
          
                          @include responsive-width($tablet-m) {
                            font-size: 16px;
                            line-height: 18px;
                            margin: 0px 0px 15px;
                          }
          
                          small {
                            font-weight: normal;
                            display: block;
                          }
                        }
          
                        @include responsive-width($tablet-m) {
                          width: 200px;
                        }
                      }
          
                      .form--duplicate {
                        display: none;
                        width: 180px;
                        padding-top: 15px;
                        p {
                          font-style: normal;
                          font-weight: bold;
                          font-size: 12px;
                          line-height: 15px;
                          margin: 0px;
                          color: $blue;
          
                          @include responsive-width($tablet-m) {
                            font-size: 16px;
                            line-height: 18px;
                          }
                        }
          
                        @include responsive-width($tablet-m) {
                          width: 250px;
                        }
                      }
          
                      .form--error {
                        display: none;
                        width: 180px;
                        padding-top: 15px;
          
                        p {
                          font-style: normal;
                          font-weight: bold;
                          font-size: 12px;
                          line-height: 15px;
                          margin: 0px;
                          color: $blue;
          
                          @include responsive-width($tablet-m) {
                            font-size: 16px;
                            line-height: 18px;
                          }
                        }
          
                        @include responsive-width($tablet-m) {
                          width: 250px;
                        }
                      }
          
                      .form--callback {
                        margin-top: 2px;
                        color: $blue;
          
                        p {
                          margin: 0px;
                          color: $white;
                          font-size: 10px;
                          line-height: 11px;
                          font-style: normal;
                          font-weight: normal;
          
                          a {
                            color: $white;
                            text-decoration: underline;
                            font-weight: bold;
                          }
          
                          @include responsive-width($tablet-m) {
                            font-size: 12px;
                            line-height: 14px;
                          }
                        }
          
                        @include responsive-width($tablet-m) {
                          margin-top: 8px;
                        }
                      }
                      
                      .form--button {
                        display: none;
                        text-align: left;
                        padding-top: 70px;
          
                        @include responsive-width($tablet-m) {
                          padding-top: 100px;
                        }
          
                        a {
                          border-radius: 45.8325px;
                          min-width: 141px;
                          height: 40px;
          
                          @include responsive-width($tablet-m) {
                            min-width: 186px;
                            height: 50px;
                          }
          
                          span {
                            font-size: 12px;
          
                            @include responsive-width($tablet-m) {
                              font-size: 13px;
                            }
                          } 
                        }
                      }
                    }
                  }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 auto 0;
            width: 100%;
            text-align: right;
            position: absolute;
            top: auto;
            bottom: 10px;
            right: 2px;
            z-index: 1;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: -10px;
                right: 54px;
                width: auto;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }

            @include responsive-width($tablet-s) {
                right: 38px;
            }
        
            @include responsive-width($laptop-m) {
                right: 10px;
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 0px;
                margin-top: 10px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                }
        
                @include responsive-width($laptop-s) {
                    margin-right: 0;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                }
            }
            &-detail {
                position: absolute;
                left: 50%;
                top: 0;
                z-index: 1;

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 3000px;
                    height: 3000px;
                    background-color: $white;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
                    -moz-transform: rotate(-10deg) skew(7deg, 0deg) translate(423px, 49px);
                    -webkit-transform: rotate(-10deg) skew(7deg, 0deg) translate(423px, 49px);
                    -o-transform: rotate(-10deg) skew(7deg, 0deg) translate(423px, 49px);
                    -ms-transform: rotate(-10deg) skew(7deg, 0deg) translate(423px, 49px);
                    transform: rotate(-10deg) skew(7deg, 0deg) translate(423px, 49px);

                    
                    @include responsive-width($tablet-m) {
                        background-color: #F4F4F4;
                        -webkit-border-radius: 35px;
                        -moz-border-radius: 35px;
                        border-radius: 35px;
                        -moz-transform: rotate(54deg) skew(11deg, 18deg) translate(-3527px, 2578px);
                        -webkit-transform: rotate(54deg) skew(11deg, 18deg) translate(-3527px, 2578px);
                        -o-transform: rotate(54deg) skew(11deg, 18deg) translate(-3527px, 2578px);
                        -ms-transform: rotate(54deg) skew(11deg, 18deg) translate(-3527px, 2578px);
                        transform: rotate(54deg) skew(11deg, 18deg) translate(-3527px, 2578px);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: rotate(54deg) skew(11deg, 18deg) translate(-3556px, 2590px);
                        -webkit-transform: rotate(54deg) skew(11deg, 18deg) translate(-3556px, 2590px);
                        -o-transform: rotate(54deg) skew(11deg, 18deg) translate(-3556px, 2590px);
                        -ms-transform: rotate(54deg) skew(11deg, 18deg) translate(-3556px, 2590px);
                        transform: rotate(54deg) skew(11deg, 18deg) translate(-3556px, 2590px);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: rotate(54deg) skew(11deg, 18deg) translate(-3547px, 2577px);
                        -webkit-transform: rotate(54deg) skew(11deg, 18deg) translate(-3547px, 2577px);
                        -o-transform: rotate(54deg) skew(11deg, 18deg) translate(-3547px, 2577px);
                        -ms-transform: rotate(54deg) skew(11deg, 18deg) translate(-3547px, 2577px);
                        transform: rotate(54deg) skew(11deg, 18deg) translate(-3547px, 2577px);
                    }
                }
            }
        }

        .e-button {

            &-buy {    
                margin-top: 0;
                position: relative;
                z-index: 5;
                bottom: -22px;
                left: 15px;
                
                @include responsive-width($tablet-m) {
                    left: 0;
                    bottom: -30px;
                }
        
                @include responsive-width($laptop-s) {
                }

                .btn-buy {
                    height: 40px;
                    margin-left: 0;
                    padding: 7px 15px;
                    font-size: 12px;
                    line-height: 18px;
                    width: 126px;
                    background-color: $orange;
            
                    @include responsive-width($tablet-m) {
                        font-size: 14px;
                        margin-left: 0;
                        margin-top: 0px;
                        width: 186px;
                        height: 50px;
                        line-height: 30px;
                    }
            
                    @include responsive-width($laptop-s) {
                        width: 186px;
                        margin-top: 0px;
                    }
            
                    @include responsive-width($laptop-m) {
                        width: 186px;
                        font-size: 14px;
                        line-height: 30px;
                        margin-top: 0px;
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;

            @include responsive-width($tablet-m) {
                font-size: 12px;
                line-height: 12px;
            }

            &__mob {
                padding-left: 30px;
                margin: 0;
                bottom: 12px;
                text-align: left;

                @include responsive-width($tablet-m) {
                    text-align: left;
                    width: 100%;
                    padding: 0;
                    bottom: 16px;
                    padding-left: 60px;
                }
                
                @include responsive-width($laptop-s) {
                    bottom: 20px;
                    padding-left: 54px;
                }
                @include responsive-width($laptop-m) {
                    padding-left: 0; 
                    bottom: 12px;
                }

            }

            a {
                color: $extra_dark_gray;
                text-decoration: underline;
            }
        }
    }
}