.entel__slider--home__item__content.entel__slider--home__item__interbank_liberados_2 {
    background-color: $blue;
    padding: 0;
    
    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1030px !important;
        }

        @include responsive-width($laptop-m) {
            max-width: 1000px !important;
        }
        
        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 74px 0 0 30px;
            margin: 0;
            width: 100%;
            max-width: 100%;
            // z-index: 3;
            // position: relative;
        
            @include responsive-width($tablet-m) {
                padding-top: 66px;
                padding-left: 64px;
                width: 100%;
                max-width: none;
            }
        
            @include responsive-width($laptop-s) {   
                padding-left: 52px;
                padding-top: 64px;
                z-index: 1;
            }

            @include responsive-width($laptop-m) { 
                padding-left: 0px;
                padding-top: 50px;
            }

            img {
                position: relative;
                z-index: 2;
                margin-bottom: 0px;
        
                @include responsive-width($tablet-m) {
                    width: auto;
                    margin: 20px;
                    margin-left: 0;
                }
        
                @include responsive-width($laptop-s) {
                    width: auto;
                    margin: 20px;
                    margin-left: 0;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin: 20px;
                    margin-left: 0;
                }
            }


        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 auto 0;
            width: 100%;
            text-align: right;
            position: absolute;
            top: auto;
            bottom: 0;
            left: -6px;
            z-index: 4;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: auto;
                // bottom: 51px;
                right: 40px;
                width: auto;
                z-index: 3;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            
            @include responsive-width($laptop-s) {
                right: 68px;
            }
        
            @include responsive-width($laptop-m) {
                right: 25px;
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 0px;
                margin-top: 10px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                }
        
                @include responsive-width($laptop-s) {
                    margin-right: 0;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                }
            }
            &-detail {
                position: absolute;
                left: 50%;
                top: 0;
                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 3000px;
                    height: 3000px;
                    -webkit-border-radius: 40px;
                    -moz-border-radius: 40px;
                    border-radius: 40px;
                    background-color: $white;
                    -moz-transform: rotate(-61deg) skew(-14deg, 0deg) translate(1438px, -449px);
                    -webkit-transform: rotate(-61deg) skew(-14deg, 0deg) translate(1438px, -449px);
                    -o-transform: rotate(-61deg) skew(-14deg, 0deg) translate(1438px, -449px);
                    -ms-transform: rotate(-61deg) skew(-14deg, 0deg) translate(1438px, -449px);
                    transform: rotate(-61deg) skew(-14deg, 0deg) translate(1438px, -449px);

                    
                    @include responsive-width($tablet-m) {
                        -webkit-border-radius: 70px;
                        -moz-border-radius: 70px;
                        border-radius: 70px;
                        -moz-transform: rotate(51deg) skew(25deg) translate(-531px, -1225px);
                        -webkit-transform: rotate(51deg) skew(25deg) translate(-531px, -1225px);
                        -o-transform: rotate(51deg) skew(25deg) translate(-531px, -1225px);
                        -ms-transform: rotate(51deg) skew(25deg) translate(-531px, -1225px);
                        transform: rotate(51deg) skew(25deg) translate(-531px, -1225px);
                    }

                    @include responsive-width($laptop-s) {
                        -webkit-border-radius: 60px;
                        -moz-border-radius: 60px;
                        border-radius: 60px;
                        -moz-transform: rotate(51deg) skew(25deg, -7deg) translate(-385px, -1467px);
                        -webkit-transform: rotate(51deg) skew(25deg, -7deg) translate(-385px, -1467px);
                        -o-transform: rotate(51deg) skew(25deg, -7deg) translate(-385px, -1467px);
                        -ms-transform: rotate(51deg) skew(25deg, -7deg) translate(-385px, -1467px);
                        transform: rotate(51deg) skew(25deg, -7deg) translate(-385px, -1467px);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: rotate(51deg) skew(25deg, -7deg) translate(-386px, -1457px);
                        -webkit-transform: rotate(51deg) skew(25deg, -7deg) translate(-386px, -1457px);
                        -o-transform: rotate(51deg) skew(25deg, -7deg) translate(-386px, -1457px);
                        -ms-transform: rotate(51deg) skew(25deg, -7deg) translate(-386px, -1457px);
                        transform: rotate(51deg) skew(25deg, -7deg) translate(-386px, -1457px);
                    }
                }
            }
        }

        .e-button {

            &-buy {    
                margin-top: 0;
                position: relative;
                z-index: 5;
                bottom: -22px;
                
                @include responsive-width($tablet-m) {
                    bottom: 6px;
                }
        
                @include responsive-width($laptop-s) {
                    bottom: -4px;
                }

                .btn-buy {
                    height: 40px;
                    margin-left: 0;
                    padding: 7px 15px;
                    font-size: 12px;
                    line-height: 18px;
                    width: 126px;
                    background-color: $orange;
            
                    @include responsive-width($tablet-m) {
                        font-size: 14px;
                        margin-left: 0;
                        margin-top: 0px;
                        width: 186px;
                        height: 50px;
                        line-height: 30px;
                    }
            
                    @include responsive-width($laptop-s) {
                        width: 186px;
                        margin-top: 0px;
                    }
            
                    @include responsive-width($laptop-m) {
                        width: 186px;
                        font-size: 14px;
                        line-height: 30px;
                        margin-top: 0px;
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;
            @include responsive-width($tablet-m) {
                font-size: 12px;
                line-height: 12px;
            }

            &__mob {
                padding-left: 26px;
                margin: 0;
                bottom: 12px;
                text-align: left;

                @include responsive-width($tablet-m) {
                    text-align: left;
                    width: 100%;
                    padding: 0;
                    bottom: 16px;
                    padding-left: 66px;
                }
                
                @include responsive-width($laptop-s) {
                    bottom: 20px;
                    padding-left: 54px;
                }
                @include responsive-width($laptop-m) {
                    padding-left: 0; 
                    bottom: 22px;
                }

            }

            a {
                color: $extra_dark_gray;
                text-decoration: underline;
            }
        }
    }
}