.entel__slider--home__item__content.entel__slider--home__bbva2 {
  background-color: $white;
  padding: 0;
  -webkit-box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
  box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);

  .principalcontent {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    -ms-transform: none;
    transform: none;
    max-width: 320px !important;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    @include responsive-width($tablet-m) {
      max-width: 768px !important;
    }

    @include responsive-width($laptop-s) {
        margin-top: 0;
        max-width: 1030px !important;
    }

    @include responsive-width($laptop-m) {
        max-width: 1100px !important;
    }

    &__textbanner {
      font-weight: bold;
      text-align: left;
      display: block;
      max-width: 320px;
      margin: 0 auto;
      padding-top: 22px;
      padding-left: 30px;
      position: relative;
      z-index: 3;

      @include responsive-width($tablet-m) {
        margin: 0;
        max-width: none;
        text-align: left;
        width: 296px;
        padding-top: 80px;
        padding-left: 60px;
      }

      @include responsive-width($laptop-s) {
        padding-top: 65px;
      }

      @include responsive-width($laptop-m) {
        padding-left: 50px;
      }

      &-text {
        position: relative;
        margin: 0 auto;
        text-align: left;
        z-index: 2;
      }

      img {
        display: inline-block;
        width: auto;
        max-width: none;

        @include responsive-width($tablet-m) {
          display: block;
        }
      }
    }

    &__imgbanner {
      display: block;
      margin: 0;
      width: 100%;
      position: absolute;
      text-align: right;
      z-index: 1;
      left: auto;
      right: 9px;
      top: auto;
      bottom: 0;

      &-img {
        position: relative;
        display: block;
      }

      img {
        max-width: none;
        width: auto;
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 36px;

        @include responsive-width($tablet-m) {
          margin-right: -10px;
          margin-bottom: 0;
        }

        @include responsive-width($laptop-s) {
          margin-right: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  .e-button-buy {
    margin-top: 164px;

    @include responsive-width($tablet_m) {
      margin: 0px;
    }

    .btn-buy {
      width: 141px;
      height: 40px;
      margin-top: 0;
      margin-left: 0;
      // margin: 164px 0 0 0;
      display: block;
      text-decoration: none;
      line-height: 1;
      outline: 0;
      font-size: 14px;
      font-weight: 700;
      padding: 11px 15px;
      background-color: #ff560a;
      border: 2px solid #ff560a;
      border-radius: 55px;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
      text-align: center;
      transition: all 0.2s ease 0s;
      transform: translateY(20px);
      
  
      @include responsive-width($tablet_m) {
        // margin: 0px;
        padding: 15px;
        width: 186px;
        height: 50px;
      }
    }
  
  }

  .e-legal-small {
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    width: 100%;
    padding: 0 10px 0 0;
    color: $extra_dark_gray;
    text-align: right;
    letter-spacing: -0.01em;
    z-index: 4;

    &__mob {
      padding-left: 30px;
      margin: 7px auto 0;
      text-align: left;
      padding-right: 0;
      bottom: 10px;

      @include responsive-width($tablet-m) {
        width: 460px;
        bottom: 20px;
        padding-left: 65px;
      }

      @include responsive-width($laptop-m) {
        padding-left: 50px;
        bottom: 14px;
      }
    }

    &__desk {
      display: none;

      @include responsive-width($laptop-s) {
        font-size: 9px;
        max-width: 930px;
        right: auto;
        left: 45px;
        bottom: 15px;
        padding: 0;
        margin: 0;
        text-align: justify;
        line-height: 10px;
      }

      @include responsive-width($laptop-m) {
        left: 50px;
        max-width: 1000px;
      }
    }

    a {
      color: $extra_dark_gray;
      text-decoration: underline;
      @include responsive-width($laptop-s) {
        text-decoration: none;
      }
    }
  }
}
