.entel__slider--home__item__content.entel__slider--home__flujo {
    background: $color-blue;
    padding: 0;
    -webkit-box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
    box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);

    @include responsive-width($tablet-m) {
        background: $white;
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
            height: 100%;
            top: 0;
            -ms-transform: none;
            transform: none;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding-top: 50px;
            padding-left: 10px;
            z-index: 2;
            position: relative;
        
            @include responsive-width($tablet-m) {
                width: 100%;
                text-align: left;
                padding-left: 60px;
                padding-top: 110px;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 30px;
                padding-top: 100px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 40px;
                padding-top: 100px;
            }

            img {
                position: relative;
                display: inline-block;
                width: auto;

                @include responsive-width($tablet-m) {
                    width: auto;
                }

            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            bottom: 0;
            right: 0;
            margin: 0;
            width: 100%;
            position: absolute;
            text-align: right;
        
            @include responsive-width($tablet-m) {
                margin: 0;
                position: absolute;
                right: 0;
                // top: 0;                
                -ms-transform: none;
                transform: none;
            }

            @include responsive-width($laptop-s) {
                right: 0px;
                // top: 0;
            }
            @include responsive-width($laptop-m) {
                // top: 0;
            }

            &-detail {
                position: absolute;
                left: 50%;
                bottom: 0;

                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 3000px;
                    height: 3000px;
                    background-color: $white;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    border-radius: 50px;
                    -moz-transform: rotate(-3deg) skew(0deg) translate(120px, -246px);
                    -webkit-transform: rotate(-3deg) skew(0deg) translate(120px, -246px);
                    -o-transform: rotate(-3deg) skew(0deg) translate(120px, -246px);
                    -ms-transform: rotate(-3deg) skew(0deg) translate(120px, -246px);
                    transform: rotate(-3deg) skew(0deg) translate(120px, -246px);

                    
                    @include responsive-width($tablet-m) {
                        -webkit-border-radius: 30px;
                        -moz-border-radius: 30px;
                        border-radius: 30px;
                        background-color: $color-blue;
                        -moz-transform: rotate(71deg) skew(38deg) translate(-4042px, 2225px);
                        -webkit-transform: rotate(71deg) skew(38deg) translate(-4042px, 2225px);
                        -o-transform: rotate(71deg) skew(38deg) translate(-4042px, 2225px);
                        -ms-transform: rotate(71deg) skew(38deg) translate(-4042px, 2225px);
                        transform: rotate(71deg) skew(38deg) translate(-4042px, 2225px);
                    }

                    @include responsive-width($laptop-s) {
                        -moz-transform: rotate(74deg) skew(38deg) translate(-4214px, 2477px);
                        -webkit-transform: rotate(74deg) skew(38deg) translate(-4214px, 2477px);
                        -o-transform: rotate(74deg) skew(38deg) translate(-4214px, 2477px);
                        -ms-transform: rotate(74deg) skew(38deg) translate(-4214px, 2477px);
                        transform: rotate(74deg) skew(38deg) translate(-4214px, 2477px);
                    }

                    @include responsive-width($laptop-m) {
                        -moz-transform: rotate(74deg) skew(38deg) translate(-4234px, 2497px);
                        -webkit-transform: rotate(74deg) skew(38deg) translate(-4234px, 2497px);
                        -o-transform: rotate(74deg) skew(38deg) translate(-4234px, 2497px);
                        -ms-transform: rotate(74deg) skew(38deg) translate(-4234px, 2497px);
                        transform: rotate(74deg) skew(38deg) translate(-4234px, 2497px);
                    }
                }
            }

            &-img {
                position: relative;
                display: block;
                height: 100%;
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;   
                margin-right: 0;
        
                @include responsive-width($tablet-m) {    
                    margin-top: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-right: -30px;
                }
            }
        }

        .e-button-buy {
            margin-top: 0px;
            text-align: left;
            margin-left: 20px;
        
            @include responsive-width($tablet-m) {
                margin-top: 0px;
                margin-left: 60px;
            }

            @include responsive-width($laptop-s) {  
                margin-top: 0;
                margin-left: 30px;
            }

            @include responsive-width($laptop-m) {
                margin-left: 40px;
            }

            .btn-buy {
                height: 40px;
                width: 126px;
                padding: 0;
                margin: 0;
                line-height: 36px;
                font-size: 12px;
        
                @include responsive-width($tablet-m) {
                    margin: 0;
                    width: 186px;
                    height: 50px;
                    font-size: 14px;
                    line-height: 48px;
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;

            &__mob {
                padding-left: 20px;
                margin: 0;
                bottom: 5px;
                text-align: left;
                
                @include responsive-width($tablet-m) {
                    width: 100%;
                    padding: 0;
                    bottom: 12px;
                    padding-left: 65px;
                }
                
                @include responsive-width($laptop-s) {
                    bottom: 20px;
                    padding-left: 30px;
                }
                @include responsive-width($laptop-m) {
                    padding-left: 40px; 
                }

            }

            a {
                color: $extra_dark_gray;
                text-decoration: none;
            }
        }
    }
}
