.entel__slider--home__item__content.entel__slider--home__item__nuevo_accesorios2 {
    background-color: $white;
    padding: 0;
    -webkit-box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
    box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
    
    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1030px !important;
        }

        @include responsive-width($laptop-m) {
            max-width: 1000px !important;
        }
        
        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 50px 0 0 20px;
            margin: 0;
            width: 100%;
            max-width: 100%;
            // z-index: 3;
            // position: relative;
        
            @include responsive-width($tablet-m) {
                padding-top: 120px;
                padding-left: 64px;
                width: 100%;
                max-width: none;
            }
        
            @include responsive-width($laptop-s) {   
                padding-left: 52px;
                padding-top: 104px;
                z-index: 1;
            }

            @include responsive-width($laptop-m) { 
                padding-left: 0px;
                padding-top: 96px;
            }

            img {
                position: relative;
                z-index: 2;
                margin-bottom: 0px;
        
                @include responsive-width($tablet-m) {
                    width: auto;
                    margin: 0;
                }
        
                // @include responsive-width($laptop-s) {
                //     width: auto;
                //     margin-left: 0;
                // }
        
                // @include responsive-width($laptop-m) {
                //     width: auto;
                //     margin-left: 0;
                // }
            }


        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 auto 0;
            width: 100%;
            text-align: left;
            position: absolute;
            top: 0;
            bottom: auto;
            left: 0;
            right: auto;
            z-index: 4;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                width: auto;
                right: 0;
                z-index: 3;
            }

            img {
                max-width: none;
                display: block;
                position: relative;
                z-index: 1;
                margin-left: 30px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                    margin-left: auto;
                    margin-right: -170px;
                }
        
                @include responsive-width($laptop-s) {
                    margin-right: -120px;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-right: -260px;
                }
            }
        }

        .e-button {

            &-buy {    
                margin-top: 0;
                position: relative;
                z-index: 5;
                bottom: -20px;
                left: 20px;
                
                @include responsive-width($tablet-m) {
                    bottom: -30px;
                    left: 64px;
                }
        
                @include responsive-width($laptop-s) {
                    bottom: -40px;
                    left: 50px;
                }
        
                @include responsive-width($laptop-m) {
                    bottom: -30px;
                    left: 0px;
                }

                .btn-buy {
                    height: 40px;
                    margin-left: 0;
                    padding: 7px 15px;
                    font-size: 12px;
                    line-height: 18px;
                    width: 126px;
                    background-color: $color-bluenew;
                    border-color: $color-bluenew;
            
                    @include responsive-width($tablet-m) {
                        font-size: 14px;
                        margin-left: 0;
                        margin-top: 0px;
                        width: 186px;
                        height: 50px;
                        line-height: 30px;
                    }
            
                    @include responsive-width($laptop-s) {
                        width: 186px;
                        margin-top: 0px;
                    }
            
                    @include responsive-width($laptop-m) {
                        width: 186px;
                        font-size: 14px;
                        line-height: 30px;
                        margin-top: 0px;
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;
            @include responsive-width($tablet-m) {
                font-size: 12px;
                line-height: 12px;
            }

            &__mob {
                padding-left: 26px;
                margin: 0;
                bottom: 12px;
                text-align: left;

                @include responsive-width($tablet-m) {
                    text-align: left;
                    width: 100%;
                    padding: 0;
                    bottom: 16px;
                    padding-left: 66px;
                }
                
                @include responsive-width($laptop-s) {
                    bottom: 20px;
                    padding-left: 54px;
                }
                @include responsive-width($laptop-m) {
                    padding-left: 0; 
                    bottom: 22px;
                }

            }

            a {
                color: $extra_dark_gray;
                text-decoration: underline;
            }
        }
    }
}