.entel__slider--home__item__content.entel__slider--home__iphone14 {
    background: #080808;
    padding: 0;
    -webkit-box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
    box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
    background-image: url($m_image_path+'2022/11/banner-iphone14-back-mob.jpg');
    background-size: cover;

    @include responsive-width($tablet-m) {
        background-image: url($m_image_path+'2022/11/banner-iphone14-back-desk.jpg');
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
            height: 100%;
            top: 0;
            -ms-transform: none;
            transform: none;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding-top: 60px;
            padding-left: 22px;
            z-index: 1;
            position: relative;
            margin-bottom: 30px;
        
            @include responsive-width($tablet-m) {
                width: 100%;
                text-align: left;
                padding-left: 60px;
                padding-top: 100px;
                margin-bottom: 30px;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 46px;
                padding-top: 80px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 48px;
            }

            img {
                position: relative;
                display: inline-block;
                width: auto;

                @include responsive-width($tablet-m) {
                    width: auto;
                }

            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            top: 33px;
            right: 4px;
            margin: 0;
            width: 100%;
            position: absolute;
            text-align: right;
        
            @include responsive-width($tablet-m) {
                margin: 0;
                position: absolute;
                right: 0;
                top: 0;                
                -ms-transform: none;
                transform: none;
            }

            @include responsive-width($laptop-s) {
                right: 0px;
                top: 0;
            }
            @include responsive-width($laptop-m) {
                top: 0;
            }

            // &-detail {
            //     position: absolute;
            //     left: 50%;
            //     bottom: 0;

            //     &::after {
            //         position: absolute;
            //         content: '';
            //         display: block;
            //         width: 3000px;
            //         height: 3000px;
            //         -webkit-border-radius: 40px;
            //         -moz-border-radius: 40px;
            //         border-radius: 40px;
            //         background-color: $white;
            //         -moz-transform: rotate(-16deg) skew(0deg) translate(497px, -390px);
            //         -webkit-transform: rotate(-16deg) skew(0deg) translate(497px, -390px);
            //         -o-transform: rotate(-16deg) skew(0deg) translate(497px, -390px);
            //         -ms-transform: rotate(-16deg) skew(0deg) translate(497px, -390px);
            //         transform: rotate(-16deg) skew(0deg) translate(497px, -390px);

                    
            //         @include responsive-width($tablet-m) {
            //             -webkit-border-radius: 70px;
            //             -moz-border-radius: 70px;
            //             border-radius: 70px;
            //             background-color: $color-blue;
            //             -moz-transform: rotate(63deg) skew(22deg) translate(-3718px, 1980px);
            //             -webkit-transform: rotate(63deg) skew(22deg) translate(-3718px, 1980px);
            //             -o-transform: rotate(63deg) skew(22deg) translate(-3718px, 1980px);
            //             -ms-transform: rotate(63deg) skew(22deg) translate(-3718px, 1980px);
            //             transform: rotate(63deg) skew(22deg) translate(-3718px, 1980px);
            //         }

            //         @include responsive-width($laptop-s) {
            //             -webkit-border-radius: 60px;
            //             -moz-border-radius: 60px;
            //             border-radius: 60px;
            //             -moz-transform: rotate(63deg) skew(22deg) translate(-3648px, 1880px);
            //             -webkit-transform: rotate(63deg) skew(22deg) translate(-3648px, 1880px);
            //             -o-transform: rotate(63deg) skew(22deg) translate(-3648px, 1880px);
            //             -ms-transform: rotate(63deg) skew(22deg) translate(-3648px, 1880px);
            //             transform: rotate(63deg) skew(22deg) translate(-3648px, 1880px);
            //         }

            //         @include responsive-width($laptop-m) {
            //             -moz-transform: rotate(63deg) skew(22deg) translate(-3648px, 1880px);
            //             -webkit-transform: rotate(63deg) skew(22deg) translate(-3648px, 1880px);
            //             -o-transform: rotate(63deg) skew(22deg) translate(-3648px, 1880px);
            //             -ms-transform: rotate(63deg) skew(22deg) translate(-3648px, 1880px);
            //             transform: rotate(63deg) skew(22deg) translate(-3648px, 1880px);
            //         }
            //     }
            // }

            &-img {
                position: relative;
                display: block;
                height: 100%;
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;   
                margin-right: 0;
        
                @include responsive-width($tablet-m) {
                    margin-right: 70px;
                    margin-top: 40px;
                }

                @include responsive-width($laptop-s) {
                    margin-right: 40px;
                    margin-top: 15px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                    margin-right: 70px;
                    margin-top: 20px;
                }
            }
        }

        .e-button-buy {
            margin-top: 20px;
            text-align: left;
            margin-left: 20px;
        
            @include responsive-width($tablet-m) {
                margin-top: 0px;
                margin-left: 60px;
            }

            @include responsive-width($laptop-s) {  
                margin-top: 0;
                margin-left: 44px;
            }

            @include responsive-width($laptop-m) {
                margin-left: 50px;
            }

            .btn-buy {
                height: 40px;
                width: 126px;
                padding: 0;
                margin: 0;
                line-height: 36px;
                font-size: 12px;
        
                @include responsive-width($tablet-m) {
                    margin: 0;
                    width: 186px;
                    height: 50px;
                    font-size: 14px;
                    line-height: 48px;
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: center;
            letter-spacing: -0.05em;
            z-index: 4;

            &__mob {
                padding-left: 20px;
                margin: 0;
                bottom: 7px;
                text-align: left;
                
                @include responsive-width($tablet-m) {
                    width: 100%;
                    padding: 0;
                    bottom: 12px;
                    padding-left: 65px;
                }
                
                @include responsive-width($laptop-s) {
                    bottom: 20px;
                    padding-left: 46px;
                }
                @include responsive-width($laptop-m) {
                    padding-left: 48px; 
                }

            }

            a {
                color: $extra_dark_gray;
                text-decoration: none;
            }
        }
    }
}
