.entel__slider--home__item__content.entel__slider--home__liberados_test  {
    background: $color-blue;
    padding: 0;
    -webkit-box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
    box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
        
    @include responsive-width($tablet-m) {
        background: $white;
    }

    &.testb {
        background: $white;
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        margin: 0 auto;
            
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
            height: 100%;
            top: 0;
            -ms-transform: none;
            transform: none;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        .testa {
            display: none;

            &.active {
                display: block;
            }

            .principalcontent {
                &__textbanner {
                    font-weight: bold;
                    text-align: left;
                    display: block;
                    padding-top: 60px;
                    padding-left: 22px;    
                    position: relative;
                    z-index: 1;
                
                    @include responsive-width($tablet-m) {
                        width: 100%;
                        text-align: left;
                        padding-left: 60px;
                        padding-top: 80px;
                    }
                    
                    @include responsive-width($laptop-s) {
                        padding-left: 46px;
                        padding-top: 65px;
                    }
        
                    @include responsive-width($laptop-m) {
                        padding-left: 48px;
                        padding-top: 64px;
                    }
        
                    img {
                        position: relative;
                        display: inline-block;
                        width: auto;
        
                        @include responsive-width($tablet-m) {
                            width: auto;
                        }
        
                    }
        
                    &-text {
                        position: relative;
                        max-width: 320px;
                        margin: 0 auto;
                        text-align: center;
                        padding: 10px 20px 0;
                        
                        @include responsive-width($tablet-m) {
                            max-width: 100%;
                            width: 330px;
                            margin-left: 30px;
                                            
                            text-align: left;
                            padding: 0;
                        }
        
                        @include responsive-width($laptop-m) {
                            margin-left: -70px;
                        }
        
                        h2 {
                            color: $extra_blue;
                            font-size: 34px;
                            line-height: 38px;
                        
                            @include responsive-width($tablet-m) {
                                font-size: 50px;
                                line-height: 54px;
                            }
                        }
        
                        span {
                            color: $white;
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: normal;
                            display: inline-block;
                        
                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                                margin-top: 5px;
                            }
        
                            br{
                                display: inline;
                        
                                @include responsive-width($tablet-m) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                
                &__imgbanner {
                    top: 0;
                    right: 0;
                    margin: 0;
                    width: 100%;
                    position: absolute;
                    text-align: right;
        
                    &-detail {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
        
                        &::before {
                            content: '';
                            position: absolute;
                            display: block;
                            width: 3000px;
                            height: 3000px;
                            background-color: $color-blue;
                            -webkit-border-radius: 40px;
                            -moz-border-radius: 40px;
                            border-radius: 40px;
        
                            @include responsive-width($tablet-m) {
                                -moz-transform: rotate(79deg) skew(36deg) translate(-4010px, 2512px);
                                -webkit-transform: rotate(79deg) skew(36deg) translate(-4010px, 2512px);
                                -o-transform: rotate(79deg) skew(36deg) translate(-4010px, 2512px);
                                -ms-transform: rotate(79deg) skew(36deg) translate(-4010px, 2512px);
                                transform: rotate(79deg) skew(36deg) translate(-4010px, 2512px);
                            }
                
                            @include responsive-width($laptop-s) {
                                -moz-transform: rotate(77deg) skew(36deg) translate(-3950px, 2378px);
                                -webkit-transform: rotate(77deg) skew(36deg) translate(-3950px, 2378px);
                                -o-transform: rotate(77deg) skew(36deg) translate(-3950px, 2378px);
                                -ms-transform: rotate(77deg) skew(36deg) translate(-3950px, 2378px);
                                transform: rotate(77deg) skew(36deg) translate(-3950px, 2378px);
                            }
                
                            @include responsive-width($laptop-m) {
                                -moz-transform: rotate(75deg) skew(36deg) translate(-3910px, 2268px);
                                -webkit-transform: rotate(75deg) skew(36deg) translate(-3910px, 2268px);
                                -o-transform: rotate(75deg) skew(36deg) translate(-3910px, 2268px);
                                -ms-transform: rotate(75deg) skew(36deg) translate(-3910px, 2268px);
                                transform: rotate(75deg) skew(36deg) translate(-3910px, 2268px);
                            }
                        }
                    }
        
                    &-img {
                        position: relative;
                        display: block;
                        height: 100%;
                    }
        
                    img {
                        max-width: none;
                        width: auto;
                        display: inline-block;               
                        margin-top: 22px;
                        margin-right: 10px;
                    
                        @include responsive-width($tablet-m) {
                            max-width: none;
                            width: auto;
                            margin-right: 40px;
                            margin-top: 35px;
                        }
                
                        @include responsive-width($laptop-s) {
                            margin-right: 30px;
                            margin-top: 15px;
                        }
                
                        @include responsive-width($laptop-s) {
                            margin-right: 50px;
                            margin-top: 15px;
                        }
                    }
                }
            }
        
            .e-button-buy {
                margin-top: -128px;
                text-align: left;
                margin-left: 25px;
                z-index: 3;
                position: relative;
                @include responsive-width($tablet-m) {
                    margin-top: -160px;
                    margin-left: 60px;
                }
    
                @include responsive-width($laptop-s) {    
                    margin-top: -170px;
                    margin-left: 44px;
                }
    
                @include responsive-width($laptop-m) {
                    margin-top: -175px;
                    margin-left: 50px;
                }
    
                .btn-buy {
                    height: 40px;
                    width: 126px;
                    padding: 0;
                    margin: 0;
                    line-height: 36px;
                    font-size: 12px;
            
                    @include responsive-width($tablet-m) {
                        margin: 0;
                        width: 186px;
                        height: 50px;
                        font-size: 14px;
                        line-height: 48px;
                    }
                }
            }
        
            .e-legal-small {
                position: absolute;
                font-size: 10px;
                line-height: 12px;
                width: 100%;
                padding: 0 10px 0 0;
                color: $extra_dark_gray;
                text-align: center;
                letter-spacing: -0.05em;
                z-index: 4;
    
                &__mob {
                    padding-left: 25px;
                    margin: 0;
                    bottom: 15px;
                    text-align: left;
                    
                    @include responsive-width($tablet-m) {
                        width: 100%;
                        padding: 0;
                        bottom: 12px;
                        padding-left: 65px;
                    }
                    
                    @include responsive-width($laptop-s) {
                        bottom: 20px;
                        padding-left: 46px;
                    }
                    @include responsive-width($laptop-m) {
                        padding-left: 48px; 
                    }
    
                }
    
                a {
                    color: $extra_dark_gray;
                    text-decoration: none;
                }
            }

        }

        .testb {
            display: none;
    
            &.active {
                display: block;
            }

            .principalcontent {
                &__textbanner {
                    font-weight: bold;
                    text-align: left;
                    display: block;
                    padding-top: 10px;
                    padding-left: 22px;    
                    position: relative;
                    z-index: 1;
                
                    @include responsive-width($tablet-m) {
                        width: 100%;
                        text-align: left;
                        padding-left: 60px;
                        padding-top: 110px;
                    }
                    
                    @include responsive-width($laptop-s) {
                        padding-left: 46px;
                        padding-top: 95px;
                    }
        
                    @include responsive-width($laptop-m) {
                        padding-left: 48px;
                        padding-top: 64px;
                    }
        
                    img {
                        position: relative;
                        display: inline-block;
                        width: auto;
        
                        @include responsive-width($tablet-m) {
                            width: auto;
                        }
        
                    }
        
                    &-text {
                        position: relative;
                        max-width: 320px;
                        margin: 0 auto;
                        text-align: center;
                        padding: 10px 20px 0;
                        
                        @include responsive-width($tablet-m) {
                            max-width: 100%;
                            width: 330px;
                            margin-left: 30px;
                                            
                            text-align: left;
                            padding: 0;
                        }
        
                        @include responsive-width($laptop-m) {
                            margin-left: -70px;
                        }
        
                        h2 {
                            color: $extra_blue;
                            font-size: 34px;
                            line-height: 38px;
                        
                            @include responsive-width($tablet-m) {
                                font-size: 50px;
                                line-height: 54px;
                            }
                        }
        
                        span {
                            color: $white;
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: normal;
                            display: inline-block;
                        
                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                                margin-top: 5px;
                            }
        
                            br{
                                display: inline;
                        
                                @include responsive-width($tablet-m) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                
                &__imgbanner {
                    bottom: 0;
                    right: 0;
                    margin: 0;
                    width: 100%;
                    position: absolute;
                    text-align: right;
                    
                    @include responsive-width($tablet-m) {
                        bottom: auto;
                        top: 0;
                    }
        
                    &-img {
                        position: relative;
                        display: block;
                        height: 100%;
                    }
        
                    img {
                        max-width: none;
                        width: auto;
                        display: inline-block;
                        margin-right: 16px;
                    
                        @include responsive-width($tablet-m) {
                            max-width: none;
                            width: auto;
                            margin-right: 50px;
                            margin-top: 0;
                        }
                
                        @include responsive-width($laptop-s) {
                            margin-right: 30px;
                        }
                
                        @include responsive-width($laptop-m) {
                            margin-right: 45px;
                        }
                    }
                }
            }
        
            .e-button-buy {
                margin-top: 10px;
                text-align: left;
                margin-left: 25px;
            
                @include responsive-width($tablet-m) {
                    margin-top: 0;
                    margin-left: 60px;
                }
    
                @include responsive-width($laptop-s) {  
                    margin-left: 44px;
                }
    
                @include responsive-width($laptop-m) {
                    margin-left: 50px;
                }
    
                .btn-buy {
                    height: 40px;
                    width: 126px;
                    padding: 0;
                    margin: 0;
                    line-height: 36px;
                    font-size: 12px;
            
                    @include responsive-width($tablet-m) {
                        margin: 0;
                        width: 186px;
                        height: 50px;
                        font-size: 14px;
                        line-height: 48px;
                    }
                }
            }
        
            .e-legal-small {
                position: absolute;
                font-size: 10px;
                line-height: 12px;
                width: 100%;
                padding: 0 10px 0 0;
                color: $extra_dark_gray;
                text-align: center;
                letter-spacing: -0.05em;
                z-index: 4;
    
                &__mob {
                    padding-left: 25px;
                    margin: 0;
                    bottom: 15px;
                    text-align: left;
                    
                    @include responsive-width($tablet-m) {
                        width: 100%;
                        padding: 0;
                        bottom: 12px;
                        padding-left: 65px;
                    }
                    
                    @include responsive-width($laptop-s) {
                        bottom: 20px;
                        padding-left: 46px;
                    }
                    @include responsive-width($laptop-m) {
                        padding-left: 48px; 
                    }
    
                }
    
                a {
                    color: $extra_dark_gray;
                    text-decoration: none;
                }
            }
        }
    }
}
