.entel__slider--home__item__content.entel__slider--home__item__slider_hogar_test {
    background-color: $color-blue;
    padding: 0;

    &.testb {
        background: $white;
    
        .principalcontent {
            &__textbanner {

                .title {
                    margin-top: 20px;
                    margin-bottom: 0;
            
                    @include responsive-width($tablet-m) {
                        margin-left: -5px;
                        margin-top: 0px;
                    }
            
                    @include responsive-width($laptop-s) {
                        margin-top: 5px;
                    }
                }
                form {
                    @include responsive-width($tablet-m) {
                        margin-top: 20px;
                    }
                    @include responsive-width($laptop-s) {
                        margin-top: 10px;
                    }

                    .form-legal {
                        bottom: -26px;
                        color: #9e9fa1;
                        font-size: 10px;
                        text-align: left;
                        position: absolute;
                        letter-spacing: 0;

                        @include responsive-width($tablet-m) {
                            display: none;
                        }

                        a {
                            font-size: 10px;
                            color: #9e9fa1;
                            font-weight: bold;
                            text-decoration: underline;
                        }
                    }

                    .form--content {
                    //   .form--head {
                    //     display: none;
                    //   }
                      .form--body {
                          p,
                          h3 {
                              color: #010306;
                          }

                          p.desk {
                              color: #9E9FA1
                          }

                          .form--check {
                              &>span {
                                  color: #9E9FA1;
                              
                                  a {
                                      color: #000;
                                  }
                              }

                              a {
                                  color: #000;
                              }
                          }
                      }

                      .form--thanks {
                          color: $color-blue;

                          p,
                          span {
                              color: $color-blue;
                          }
                      }

                      .form--duplicate {
                          p {
                              color: $color-blue;
                          }
                      }

                      .form--error {
                          p {
                              color: $color-blue;
                          }
                      }

                      .form--callback {
                          color: $color-blue;
                          p {
                              color: $color-blue;
                              a {
                                  color: $color-blue;
                              }
                          }
                      }
                    }
                }
            }

            .e-legal-small {
                &__mob {
                    span {
                        color: #9E9FA1;
                    }
                }
    
                a {
                    color: #9E9FA1;
                }
            }
        }
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1024px !important;
        }

        @include responsive-width($laptop-m) {
            margin-top: 0;
            max-width: 1100px !important;
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: none;
            margin: 0 auto 0;
            width: 100%;
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 4;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                bottom: 0;
                right: 0;
                width: auto;
                z-index: 3;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            
            @include responsive-width($laptop-s) {
                right: 0;
                bottom: 0;
            }

            &.active {
              display: block;
            }

            &.testb {
              img {
                margin-right: -90px;
        
                @include responsive-width($tablet-m) {
                  margin-right: -290px;
                }
        
                @include responsive-width($laptop-s) {
                    margin-right: -210px;
                }
        
                @include responsive-width($laptop-m) {
                    margin-right: -230px;
                }
              }

              .principalcontent__imgbanner-detail {
                display: none;
              }
            }

            &-detail {
                position: absolute;
                right: 0;
                top: 0;
          
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    border: 0;
                    width: 3000px;
                    height: 3000px;
                    right: 0;
                    background: #8b7e81;
            
                    -webkit-border-radius: 44px;
                    -moz-border-radius: 44px;
                    border-radius: 44px;
            
                    -moz-transform: translate(2744px, 368px) rotate(6deg) skew(0deg);
                    -webkit-transform: translate(2744px, 368px) rotate(6deg) skew(0deg);
                    -o-transform: translate(2744px, 368px) rotate(6deg) skew(0deg);
                    -ms-transform: translate(2744px, 368px) rotate(6deg) skew(0deg);
                    transform: translate(2744px, 368px) rotate(6deg) skew(0deg);
            
                    @include responsive-width($tablet-m) {
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        border-radius: 0;

                        -moz-transform: translate(2910px, 0px) rotate(0deg) skew(0deg);
                        -webkit-transform: translate(2910px, 0px) rotate(0deg) skew(0deg);
                        -o-transform: translate(2910px, 0px) rotate(0deg) skew(0deg);
                        -ms-transform: translate(2910px, 0px) rotate(0deg) skew(0deg);
                        transform: translate(2910px, 0px) rotate(0deg) skew(0deg);
                    }
            
                    @include responsive-width($laptop-s) {
                        -moz-transform: translate(2910px, 0px) rotate(0deg) skew(0deg);
                        -webkit-transform: translate(2910px, 0px) rotate(0deg) skew(0deg);
                        -o-transform: translate(2910px, 0px) rotate(0deg) skew(0deg);
                        -ms-transform: translate(2910px, 0px) rotate(0deg) skew(0deg);
                        transform: translate(2910px, 0px) rotate(0deg) skew(0deg);
                    }
            
                    @include responsive-width($laptop-m) {
                        -moz-transform: translate(2910px, 0px) rotate(0deg) skew(0deg);
                        -webkit-transform: translate(2910px, 0px) rotate(0deg) skew(0deg);
                        -o-transform: translate(2910px, 0px) rotate(0deg) skew(0deg);
                        -ms-transform: translate(2910px, 0px) rotate(0deg) skew(0deg);
                        transform: translate(2910px, 0px) rotate(0deg) skew(0deg);
                    }
                }
            }

            img {
                max-width: none;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: -66px;
                margin-bottom: 0;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                    margin-right: -240px;
                }
        
                @include responsive-width($laptop-s) {
                    margin-right: -260px;
                }
        
                @include responsive-width($laptop-m) {
                    margin-right: -323px;
                }
            }
        }

        &__textbanner {
            font-weight: bold;
            padding-top: 2px;
            text-align: left;
            display: block;
            margin: 0;
            width: 100%;
            max-width: 250px;
            padding-left: 12px;
        
            @include responsive-width($tablet-m) {
                padding-top: 20px;
                padding-left: 55px;
                width: 100%;
                max-width: none;
            }

            @include responsive-width($laptop-s) {
                padding-left: 50px;
            }
    
            @include responsive-width($laptop-m) {
                padding-left: 52px;
            }

            img {
                position: relative;
                z-index: 2;
                margin: 0;
                margin-bottom: 0px;
                display: none;

                &.active {
                  display: block;
                }
        
                @include responsive-width($tablet-m) {
                    width: auto;
                    margin-left: 0;
                }
            }

            .title {
                margin-top: 20px;
                margin-bottom: 0;
        
                @include responsive-width($tablet-m) {
                    margin-top: 0;
                    margin-bottom: 0;
                    margin-left: -5px;
                }
            }

            form {
                z-index: 5;
                text-align: left;
                position: relative;
                margin-top: 25px;

                @include responsive-width($tablet-m) {    
                    margin-top: 5px;
                }

                .form--content {    
                    width: 200px;
                    text-align: left;
                    margin: 0;

                    @include responsive-width($tablet-m) {
                        width: auto;
                        text-align: left;
                    }

                    .form--head {
                        margin-top: 5px;

                        p {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 14px;
                            text-align: left;
                            color: #004CC1;
                            margin: 0px;

                            span {
                                font-weight: 400;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 19px;
                                line-height: 19px;
                                display: block;
                            }
                        }
                        
                        h2 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 20px;
                            text-align: left;
                            text-transform: uppercase;
                            color: #00B9EB;
                            margin: 4px 0px 5px;

                            @include responsive-width($tablet-m) {
                                font-size: 34px;
                                line-height: 30px;
                                margin: 6px 0px 11px;
                            }
                        }

                        h3 {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: left;
                            color: #FFF;
                            margin: 0 0px 5px;
                            display: none;
                            
                            @include responsive-width($tablet-m) {
                                display: block;
                            }

                            @include responsive-width($laptop-s) {
                                color: $white;
                                font-size: 14px;
                                line-height: 16px;
                                margin: 0px 0px 2px;
                            }
            
                            @include responsive-width($laptop-m) {
                                display: block;
                            }

                            strong {
                                font-weight: bold;
                                font-size: 16px;
                            }
                        }
                    }

                    .form--body {
                        p {
                            color: $white;
                            margin: 0 0 10px 0;
                            font-weight: normal;
                            text-align: left;
                            font-size: 11px;
                        
                            @include responsive-width($laptop-s) {
                                display: block;
                                font-size: 14px;
                                color: $white;
                                margin-bottom: 30px;
                            }

                            &.desk {
                                margin-bottom: 5px;
                                display: block;
                                // display: none;
                                // @include responsive-width($laptop-s) {
                                //     display: block;
                                // }
                            }
    
                        }
                        .form--number {
                            position: relative;
                            margin-bottom: 14px;

                            @include responsive-width($tablet-m) {
                                margin-bottom: 10px;
                            }

                            span {
                                left: 9px;
                                top: 10px;

                                @include responsive-width($tablet-m) {
                                    top: 10px;
                                }

                                span {
                                    font-size: 10px;
                                    color: $extra_dark_gray;
                                    padding: 0 3px;
                                    transition: all 0.3s ease;

                                    @include responsive-width($tablet-m) {
                                        font-size: 12px;
                                    }
                                }
                            }

                            input {
                                box-sizing: border-box;
                                border-radius: 7.3332px;
                                width: 169px;
                                height: 44px;
                                padding: 14px 10px 6px;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                align-items: center;
                                letter-spacing: 0.0015em;
                                color: $extra_light_black;
                                background-color: $white;
                                border: 1px solid #9e9fa1;

                                @include responsive-width($tablet-m) {
                                    width: 217px;
                                    height: 51px;
                                    font-size: 14px;
                                    line-height: 17px;
                                }

                                &:placeholder-shown + span {
                                    top: 20px;

                                    @include responsive-width($tablet-m) {
                                        top: 22px;
                                    }

                                    span {
                                        font-size: 11px;

                                        @include responsive-width($tablet-m) {
                                            font-size: 14px;
                                        }
                                    }
                                }

                                &:focus{
                                    border-color: $extra_blue;
                                }

                                &:focus + span {
                                    top: 10px;

                                    @include responsive-width($tablet-m) {
                                        top: 10px;
                                    }

                                    span {
                                        font-size: 10px;
                                        color: $extra_blue;

                                        @include responsive-width($tablet-m) {
                                            font-size: 12px;
                                        }
                                    }
                                }

                                &.error {
                                    border-color: $pink !important;
                                }

                                &.error::placeholder {
                                    color: $pink !important;
                                }

                                &.error + span {
                                    span {
                                        color: $pink;
                                    }
                                }
                            }
                        }

                        .form--check{
                            display: flex;
                            align-items: center;
                            width: 162px;
            
                            @include responsive-width($tablet-m) {
                                margin-top: 8px;
                                width: 220px;
                            }
            
                            &>span {
                                font-weight: normal;
                                color: $white;
                                font-size: 8.5px;
                                line-height: 10px;
                
                                @include responsive-width($tablet-m) {
                                    font-size: 11px;
                                }
                                
                                a {
                                    color: $extra_blue;
                                    margin-left: 3px;
                                    margin-right: 3px;
                                    line-height: 18px;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 8.5px;
                
                                    @include responsive-width($tablet-m) {
                                        font-size: 11px;
                                    }
                
                                    span {
                                        text-decoration: underline;
                                        font-weight: normal;
                                        font-size: 8.5px;
                    
                                        @include responsive-width($tablet-m) {
                                            font-size: 11px;
                                        }
                                    }
                                }
                            }

                            input {
                                display: none;
                            }

                            .input-mask-top{
                                display: none;
                                width: 20px;
                                height: 20px;
                                border: 2px solid $white;
                                box-sizing: border-box;
                                border-radius: 4.58325px;
                                margin-top: 2px;
                                background: $blue;
                                position: relative;

                                @include responsive-width($tablet-m) {
                                    width: 18px;
                                    height: 18px;
                                }

                                &.error {
                                    border-color:#f10101;
                                    // background: #ffffff;
                                    &::after {
                                        border-color: $blue;
                                    }
                                }

                                &::after{
                                    content: "";
                                    left: 5px;
                                    top: 2px;
                                    width: 5px;
                                    height: 10px;
                                    border: solid $white;
                                    border-width: 0px 2px 2px 0px;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                    position: absolute;

                                    @include responsive-width($tablet-m) {
                                        left: 5px;
                                        top: 1px;
                                    }

                                    @include responsive-width($laptop-m) {
                                        left: 5px;
                                        top: 1px;
                                    }
                                }
                            }

                            a {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 10px;
                                line-height: 15px;
                                color: $white;
                                margin-left: 5px;

                                @include responsive-width($tablet-m) {
                                    color: $white;
                                }

                                span {
                                    font-size: 9px;
                                    font-weight: bold;
                                    text-decoration: underline;
                                }
                            }
                        }

                        button {
                            background-color: $orange;
                            border-radius: 45.8325px;
                            color: #ffffff;
                            cursor: pointer;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 1px;
                            text-align: center;
                            padding: 15px 5px;
                            text-transform: uppercase;
                            margin-top: 12px;
                            border: 0px;
                            width: 136px;
                            height: 40px;
                            display: block;

                            @include responsive-width($tablet-m) {
                                margin-top: 8px;
                                margin-left: 0px;
                                width: 142px;
                                height: 46px;
                                font-size: 13px;
                                line-height: 4px;
                            }

                            @include responsive-width($laptop-m) {
                                padding: 15px 28px;
                                width: 176px;
                                height: 55px;
                                font-size: 14px;
                                line-height: 20px;
                            }
                        }
                    }

                    .form--loading{
                        display: none;
                        padding: 25px 25px 0px;
                        height: 122px;
                        width: 160px;
                        margin-top: 40px;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            width: 220px;
                            height: 180px;
                        }

                        img {
                            animation: rotating 2s linear infinite;
                            width: 70px;
                            display: inline-block;
                            display: none;

                            &.active {
                              display: block;
                            }

                            @keyframes rotating {
                                from {
                                    transform: rotate(0deg);
                                }
                                to {
                                    transform: rotate(360deg);
                                }
                            }

                            @include responsive-width($tablet-m) {
                                width: 100px;
                            }
                        }

                    }

                    .form--thanks {
                        display: none;
                        height: 122px;
                        width: 160px;
                        margin-top: 0;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            width: 220px;
                            height: 180px;
                        }

                        img {
                            margin-bottom: 5px;
                            display: none;

                            &.active {
                              display: block;
                            }
                            @include responsive-width($tablet-m) {
                                margin-bottom: 0px;
                            }
                        }

                        p, span {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 14px;
                            text-align: center;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                color: $white;
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }

                            small {
                              font-weight: normal;
                              display: block;
                            }
                        }
                    }

                    .form--duplicate {
                        display: none;
                        padding-top: 15px;
                        height: 122px;
                        width: 160px;
                        margin-top: 40px;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            width: 220px;
                            height: 180px;
                        }

                        p{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                color: $white;
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                    }

                    .form--error {
                        display: none;
                        height: 113px;
                        width: 190px;
                        margin-top: 40px;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            width: 220px;
                            height: 180px;
                        }

                        p {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                color: $white;
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                    }

                    .form--callback {
                        margin-top: 2px;

                        @include responsive-width($tablet-m) {
                            margin-top: 8px;
                        }

                        p {
                            margin: 0px;
                            font-size: 10px;
                            line-height: 11px;
                            font-style: normal;
                            font-weight: normal;

                            a {
                                color: #004FB9;
                                text-decoration: underline;
                                font-weight: bold;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }
                    }

                    .form--button {
                        display: none;
                        text-align: left;
                        padding-top: 78px;
        
                        @include responsive-width($tablet-m) {
                            padding-top: 120px;
                        }
        
                        a {
                            border-radius: 45.8325px;
                            min-width: 141px;
                            height: 40px;
            
                            @include responsive-width($tablet-m) {
                                min-width: 186px;
                                height: 50px;
                            }
            
                            span {
                                font-size: 12px;
            
                                @include responsive-width($tablet-m) {
                                    font-size: 13px;
                                }
                            } 
                        }
                    }
                }
            }
        }

        .e-button {

            &-buy {    
                margin-top: -22px;
                position: relative;
                z-index: 2;
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 40px;
                        margin-top: 30px;
                    }
            
                    @include responsive-width($laptop-s) {
                        margin-top: 30px;
                        margin-left: 30px;
                    }
            
                    @include responsive-width($laptop-m) {
                        margin-top: 30px;
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $white;
            text-align: left;
            letter-spacing: -0.05em;
            z-index: 4;

            &__mob {
                color: #9E9FA1;
                padding-left: 12px;
                margin: 7px auto 0;
                bottom: 8px;
                
                @include responsive-width($tablet-m) {
                    width: 100%;
                    bottom: 15px;
                    text-align: left;
                    padding-left: 58px;
                }
                
                @include responsive-width($laptop-s) {
                    padding-left: 53px;
                    bottom: 15px;
                }

                strong {
                    a {
                        color: #9E9FA1;
                        text-transform: uppercase;
                        text-decoration: underline;
                    }
                }
                span {
                    color: $white;
                    font-size: 14px;
                    margin-left: 12px;
                    display: none;

                    @include responsive-width($tablet-m) {
                        display: inline-block;
                    }

                    strong {
                        font-size: 16px;
                    }
                }
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}