.entel__slider--home__item__content.entel__slider--home__accesorios_test {
    background: $white;
    padding: 0;
    -webkit-box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
    box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
            height: 100%;
            top: 0;
            -ms-transform: none;
            transform: none;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        .testa {
            display: none;

            &.active {
                display: block;
            }

            .principalcontent {
                &__textbanner {
                    font-weight: bold;
                    text-align: left;
                    display: block;
                    padding-top: 60px;
                    padding-left: 22px;
                
                    @include responsive-width($tablet-m) {
                        width: 100%;
                        text-align: left;
                        padding-left: 60px;
                        padding-top: 80px;
                    }
                    
                    @include responsive-width($laptop-s) {
                        padding-left: 46px;
                        padding-top: 65px;
                    }

                    @include responsive-width($laptop-m) {
                        padding-left: 48px;
                        padding-top: 64px;
                    }

                    img {
                        position: relative;
                        display: inline-block;
                        width: auto;

                        @include responsive-width($tablet-m) {
                            width: auto;
                        }

                    }

                    &-text {
                        position: relative;
                        max-width: 320px;
                        margin: 0 auto;
                        text-align: center;
                        padding: 10px 20px 0;
                        
                        @include responsive-width($tablet-m) {
                            max-width: 100%;
                            width: 330px;
                            margin-left: 30px;
                                            
                            text-align: left;
                            padding: 0;
                        }

                        @include responsive-width($laptop-m) {
                            margin-left: -70px;
                        }

                        h2 {
                            color: $extra_blue;
                            font-size: 34px;
                            line-height: 38px;
                        
                            @include responsive-width($tablet-m) {
                                font-size: 50px;
                                line-height: 54px;
                            }
                        }

                        span {
                            color: $white;
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: normal;
                            display: inline-block;
                        
                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                                margin-top: 5px;
                            }

                            br{
                                display: inline;
                        
                                @include responsive-width($tablet-m) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                
                &__imgbanner {
                    top: 0;
                    right: 0;
                    margin: 0;
                    width: 100%;
                    position: absolute;
                    text-align: right;
                
                    @include responsive-width($tablet-m) {
                        margin: 0;
                        position: absolute;
                        right: 0;
                        top: 0;                
                        -ms-transform: none;
                        transform: none;
                    }

                    &-detail {
                        position: absolute;
                        left: 50%;
                        bottom: 0;

                        &::after {
                            position: absolute;
                            content: '';
                            display: none;
                            width: 3000px;
                            height: 3000px;
                            background-color: $white;

                            
                            @include responsive-width($tablet-m) {
                                display: block;
                                // -webkit-border-radius: 70px;
                                // -moz-border-radius: 70px;
                                // border-radius: 70px;
                                -moz-transform: rotate(21deg) skew(-3deg) translate(-257px, -2460px);
                                -webkit-transform: rotate(21deg) skew(-3deg) translate(-257px, -2460px);
                                -o-transform: rotate(21deg) skew(-3deg) translate(-257px, -2460px);
                                -ms-transform: rotate(21deg) skew(-3deg) translate(-257px, -2460px);
                                transform: rotate(21deg) skew(-3deg) translate(-257px, -2460px);
                            }

                            @include responsive-width($laptop-s) {
                                // -webkit-border-radius: 60px;
                                // -moz-border-radius: 60px;
                                // border-radius: 60px;
                                -moz-transform: rotate(21deg) skew(4deg) translate(-78px, -2460px);
                                -webkit-transform: rotate(21deg) skew(4deg) translate(-78px, -2460px);
                                -o-transform: rotate(21deg) skew(4deg) translate(-78px, -2460px);
                                -ms-transform: rotate(21deg) skew(4deg) translate(-78px, -2460px);
                                transform: rotate(21deg) skew(4deg) translate(-78px, -2460px);
                            }

                            @include responsive-width($laptop-m) {
                                -moz-transform: rotate(21deg) skew(4deg) translate(-105px, -2450px);
                                -webkit-transform: rotate(21deg) skew(4deg) translate(-105px, -2450px);
                                -o-transform: rotate(21deg) skew(4deg) translate(-105px, -2450px);
                                -ms-transform: rotate(21deg) skew(4deg) translate(-105px, -2450px);
                                transform: rotate(21deg) skew(4deg) translate(-105px, -2450px);
                            }
                        }
                    }

                    &-img {
                        position: relative;
                        display: block;
                        height: 100%;
                    }

                    img {
                        max-width: none;
                        width: auto;
                        display: inline-block;   
                        margin-right: -30px;
                
                        @include responsive-width($tablet-m) {    
                            margin-right: 30px;
                            margin-top: 20px;
                        }

                        @include responsive-width($laptop-s) {
                            margin-right: 0;
                        }

                        @include responsive-width($laptop-m) {
                            max-width: none;
                            width: auto;
                            margin-right: 30px;
                        }
                    }
                }
            }

            .e-button-buy {
                margin-top: 20px;
                text-align: left;
                margin-left: 25px;
            
                @include responsive-width($tablet-m) {
                    margin-top: 0;
                    margin-left: 60px;
                }
    
                @include responsive-width($laptop-s) {  
                    margin-left: 44px;
                }
    
                @include responsive-width($laptop-m) {
                    margin-left: 50px;
                }
    
                .btn-buy {
                    height: 40px;
                    width: 126px;
                    padding: 0;
                    margin: 0;
                    line-height: 36px;
                    font-size: 12px;
            
                    @include responsive-width($tablet-m) {
                        margin: 0;
                        width: 186px;
                        height: 50px;
                        font-size: 14px;
                        line-height: 48px;
                    }
                }
            }
        
            .e-legal-small {
                position: absolute;
                font-size: 10px;
                line-height: 12px;
                width: 100%;
                padding: 0 10px 0 0;
                color: $extra_dark_gray;
                text-align: center;
                letter-spacing: -0.05em;
                z-index: 4;
    
                &__mob {
                    padding-left: 25px;
                    margin: 0;
                    bottom: 15px;
                    text-align: left;
                    
                    @include responsive-width($tablet-m) {
                        width: 100%;
                        padding: 0;
                        bottom: 12px;
                        padding-left: 65px;
                    }
                    
                    @include responsive-width($laptop-s) {
                        bottom: 20px;
                        padding-left: 46px;
                    }
                    @include responsive-width($laptop-m) {
                        padding-left: 48px; 
                    }
    
                }
    
                // &__desk {
                //     display: none;
                    
                //     @include responsive-width($tablet-m) {
                //         font-size: 10px;
                //         max-width: 644px;
                //         right: auto;
                //         left: 50px;
                //         bottom: 10px;
                //         padding: 0;
                //         margin: 0;
                //         text-align: center;
                //     }
    
                //     @include responsive-width($laptop-s) {
                //         bottom: 10px;
                //         max-width: 930px;
                //         left: 37px;
                //         display: block;
                //     }
        
                //     @include responsive-width($laptop-m) {
                //         display: block;
                //         max-width: 100%;
                //         left: 0;
                //         bottom: 15px;
                //     }
                // }
    
                a {
                    color: $extra_dark_gray;
                    text-decoration: none;
                }
            }
        }

        .testb {
            display: none;

            &.active {
                display: block;
            }

            .principalcontent {
                &__textbanner {
                    font-weight: bold;
                    text-align: left;
                    display: block;
                    padding-top: 10px;
                    padding-left: 22px;
                
                    @include responsive-width($tablet-m) {
                        width: 100%;
                        text-align: left;
                        padding-left: 60px;
                        padding-top: 105px;
                        margin-bottom: 35px;
                    }
                    
                    @include responsive-width($laptop-s) {
                        padding-left: 46px;
                        padding-top: 95px;
                        margin-bottom: 25px;
                    }

                    @include responsive-width($laptop-m) {
                        padding-left: 48px;
                        padding-top: 88px;
                        margin-bottom: 35px;
                    }

                    img {
                        position: relative;
                        display: inline-block;
                        width: auto;

                        @include responsive-width($tablet-m) {
                            width: auto;
                        }

                    }

                    &-text {
                        position: relative;
                        max-width: 320px;
                        margin: 0 auto;
                        text-align: center;
                        padding: 10px 20px 0;
                        
                        @include responsive-width($tablet-m) {
                            max-width: 100%;
                            width: 330px;
                            margin-left: 30px;
                                            
                            text-align: left;
                            padding: 0;
                        }

                        @include responsive-width($laptop-m) {
                            margin-left: -70px;
                        }

                        h2 {
                            color: $extra_blue;
                            font-size: 34px;
                            line-height: 38px;
                        
                            @include responsive-width($tablet-m) {
                                font-size: 50px;
                                line-height: 54px;
                            }
                        }

                        span {
                            color: $white;
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: normal;
                            display: inline-block;
                        
                            @include responsive-width($tablet-m) {
                                font-size: 16px;
                                line-height: 18px;
                                margin-top: 5px;
                            }

                            br{
                                display: inline;
                        
                                @include responsive-width($tablet-m) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
                
                &__imgbanner {
                    top: 0;
                    right: 0;
                    margin: 0;
                    width: 100%;
                    position: absolute;
                    text-align: right;
                
                    @include responsive-width($tablet-m) {
                        margin: 0;
                        position: absolute;
                        right: 0;
                        top: auto;
                        bottom: 0;                
                        -ms-transform: none;
                        transform: none;
                    }

                    &-img {
                        position: relative;
                        display: block;
                        height: 100%;
                    }

                    img {
                        max-width: none;
                        width: auto;
                        display: inline-block;   
                        margin-right: 10px;
                        margin-top: 10px;
                
                        @include responsive-width($tablet-m) {    
                            margin-right: -90px;
                            margin-top: 20px;
                        }

                        @include responsive-width($laptop-s) {
                            margin-right: 20px;
                        }

                        @include responsive-width($laptop-m) {
                            max-width: none;
                            width: auto;
                            margin-right: 40px;
                        }
                    }
                }
            }

            .e-button-buy {
                margin-top: 174px;
                text-align: left;
                margin-left: 95px;
            
                @include responsive-width($tablet-m) {
                    margin-top: 0;
                    margin-left: 60px;
                }
    
                @include responsive-width($laptop-s) {  
                    margin-left: 44px;
                }
    
                @include responsive-width($laptop-m) {
                    margin-left: 50px;
                }
    
                .btn-buy {
                    height: 40px;
                    width: 126px;
                    padding: 0;
                    margin: 0;
                    line-height: 36px;
                    font-size: 12px;
            
                    @include responsive-width($tablet-m) {
                        margin: 0;
                        width: 186px;
                        height: 50px;
                        font-size: 14px;
                        line-height: 48px;
                    }
                }
            }
        
            .e-legal-small {
                position: absolute;
                font-size: 10px;
                line-height: 12px;
                width: 100%;
                padding: 0 10px 0 0;
                color: $extra_dark_gray;
                text-align: center;
                letter-spacing: -0.05em;
                z-index: 4;
    
                &__mob {
                    padding-left: 25px;
                    margin: 0;
                    bottom: 15px;
                    text-align: left;
                    
                    @include responsive-width($tablet-m) {
                        width: 100%;
                        padding: 0;
                        bottom: 12px;
                        padding-left: 65px;
                    }
                    
                    @include responsive-width($laptop-s) {
                        bottom: 20px;
                        padding-left: 46px;
                    }
                    @include responsive-width($laptop-m) {
                        padding-left: 48px; 
                    }
                }
    
                a {
                    color: $extra_dark_gray;
                    text-decoration: none;
                }
            }
        }
    }
}
