mixin e_input(name, placeholder, icon, type_input='normal', typeinput='text', max_length='60', id)
    - icon_input = typeof icon != "undefined" && icon != "no_icon" ?  "background-image: url(${require('" + img_path + icon + "')})" : ""
    - _id = typeof id != "undefined" ? id : name
    .e-input(class!=attributes.class)
        //-label(for=name)
        input(type=typeinput maxlength=max_length name=name autocomplete='off' id=_id style=icon_input)&attributes(attributes)
        div
        span=placeholder

        if block   
            block

        if type_input === 'whit-button'
            .e-input__button

        if type_input === 'whit-remove-x'
            .e-input__remove-x
mixin e_input_max_length(name, placeholder, max_length, id, icon, type_input='normal', typeinput='text')
    - icon_input = typeof icon != "undefined" && icon != "no_icon" ?  "background-image: url(${require('" + img_path + icon + "')})" : ""
    - _id = typeof id != "undefined" ? id : name
    .e-input(class!=attributes.class)
        //-label(for=name)
        input(type=typeinput maxlength=max_length name=name autocomplete='off' id=_id style=icon_input)&attributes(attributes)
        div
        span=placeholder

        if block   
            block

        if type_input === 'whit-button'
            .e-input__button

        if type_input === 'whit-remove-x'
            .e-input__remove-x
mixin e_input_schedule()
    #e-input-schedule.e-input-schedule
        .e-input-schedule__label.e-input--solid.e-input--solid--white.e-input--light.e-input--small
            p NUEVO - Separa tu cita (opcional)
        .e-input-schedule__date.e-input--solid.e-input--solid--white.e-input--light.e-input--small
            input(type='text' id='fecha_agenda' name='fecha_agenda' readonly)
        .e-input-schedule__hours
            -
                options = ["Selecciona"]
            +e_input_select(options,'hora_agenda',true)(class="e-input--light e-input--small")


mixin e_input_schedule_fibra()
    #e-input-schedule.e-input-schedule
        .e-input-schedule__date.e-input--solid.e-input--solid--white.e-input--light.e-input--small
            input(type='text' id='fecha_agenda' name='fecha_agenda' readonly)

            
mixin e_input_textarea(name, placeholder, text)
    .e-input(class!=attributes.class)
        textarea(name=name placeholder=placeholder id=name)&attributes(attributes) !{text}
        div
        if block 
            block

mixin e_input_select_id(options,name_select,empty_value,id_select)
    .e-input.e-input--select(class!=attributes.class)
        select(
            id=id_select
            name=name_select
            )
            each option, index in options
                if empty_value && index === 0
                    - value_text = ""
                else
                    - value_text = option
                option(value=value_text) !{option}       
mixin e_input_select(options,id_select,empty_value)
    .e-input.e-input--select(class!=attributes.class)
        select(
            id=id_select
            name=id_select
            )
            each option, index in options
                if empty_value && index === 0
                    - value_text = ""
                else
                    - value_text = option
                option(value=value_text) !{option}       

mixin e_input_select_plans(options,id_select,empty_value)
    .e-input.e-input--select(class!=attributes.class)&attributes(attributes)
        select(
            id=id_select
            name=id_select
            )
            each option, index in options
                option(value=option.id) !{option.text}  

mixin e_input_select_2(options,id_select,empty_value)
    .e-input.e-input--select(class!=attributes.class)
        select(
            id=id_select
            name=id_select
            )
            each option, index in options            
                option(value=option.value) !{option.option}  
//-mixin e_input_radio(typeinput, id, value, name)
    .e-input.e-input--radio(class!=attributes.class)
        input(id=id type=typeinput name=name value=value)&attributes(attributes)
        div
        label(for=id) !{value}
            if block
                block 

mixin e_input_radio(typeinput, id, value, name, classInput)
    .e-input.e-input--radio(class!=attributes.class)
        input(id=id type=typeinput name=name value=value class=classInput)&attributes(attributes)
        div
        label(
            for=id
            data-gtm-category!=attributes.gtmCategory
            data-gtm-action!=attributes.gtmAction
            data-gtm-label!=attributes.gtmLabel
            data-gtm-type!=attributes.gtmType          
            )
            if block
                block

mixin e_input_toggle_switch(typeinput, text, id, value,name, classInput)
    .e-input--toggle
        label(class!=attributes.class, for=id) 
            input(id=id type=typeinput name=name value=value class=classInput)&attributes(attributes)
            span.e-input--toggle-switch.e-input--toggle-switch-round
            div
        span.e-input--toggle-text !{text}

mixin e_input_selected(options, id_select, empty_value)
    .e-input.e-input--select(
        class!=attributes.class
        id!=attributes.id
        )
        select(
            id=id_select
            name=id_select            
            )
            each option, index in options
                if typeof option === 'object'
                    - value_text = option.value
                    - option_text = option.option
                else
                    - option_text = option
                    if empty_value && index === 0
                        - value_text = ""
                    else
                        - value_text = option

                
                option(
                    value=value_text
                    data-gtm-type='click'
                    data-gtm-category=option.gtmCategory
                    data-gtm-action=option.gtmAction
                    data-gtm-label=option.gtmLabel
                    ) !{option_text}
        if block   
            block

mixin input_file(id, value, name)
    .e-input.e-input--file(class!=attributes.class)
        input(id=id type="file" name=name)
        label(for=id) 
            span(
                data-file=value
                ) !{value}
            span.e-input--file__icon
        .e-input--file__clear
        if block
            block  
mixin input_file_personas(id, value, name)
    .e-input.e-input--file(class!=attributes.class)
        input(id=id type="file" name=name)
        label(for=id) 
            span(
                data-file=value
                ) !{value}
            span.e-input--file__icon
        .e-input--file__clear
        if block
            block  

mixin e_input_dropdown2(name,titulo,datos, extraclass, atributos)
    .entel__form_sl(class= extraclass)
        //- label.e-label-dropdown= datos[0].value
        select.empresas-form__group__select.entel-select__select.e-input--select--js(id=name name=name required class="e-input--small e-input--solid e-input--solid--white")
            each item in datos
                if item.place
                    option(value=item.id placeholder data-choices-placeholder) #{item.value}
                else
                    option(value=item.id) #{item.value}
mixin e_input_dropdown(name,titulo,datos, extraclass, atributos)
    .entel__form_sl(class= extraclass)
        label.e-label-dropdown= datos[0].value
        select.empresas-form__group__select.entel-select__select.e-input--select--js(id=name name=name required)
            each item in datos
                if item.place
                    option(value=item.id placeholder data-choices-placeholder) #{item.value}
                else
                    option(value=item.id) #{item.value}

mixin e_input_radio_with_errorText(typeinput, id, value, name, classInput, errorText)
    .e-input.e-input--radio(class!=attributes.class)
        input(id=id type=typeinput name=name value=value class=classInput)&attributes(attributes)
        div
        label(
            for=id
            data-gtm-category!=attributes.gtmCategory
            data-gtm-action!=attributes.gtmAction
            data-gtm-label!=attributes.gtmLabel
            data-gtm-type!=attributes.gtmType          
            )
            if block
                block
        small.e-checkbox__label--error.errorText !{errorText}

mixin e_input_llamada()
    -
        mode_check = [
            {
                'id' : 'cuando_quieres_llamemos_hoy',
                'value' : 'Hoy',
                'status' : 'checked'
            },
            {
                'id' : 'cuando_quieres_llamemos_manana',
                'value' : 'Mañana 02/01',
                //- 'status' : 'checked'
            },
        ]
    .cuando_quieres_llamemos(style="text-align: left;margin-top: 12px;margin-bottom: 17px;")
        label ¿Cuándo quisieras que te llamemos?
        .e-radio-flex(style="justify-content: space-between;max-width: 310px;")
            each check in mode_check
                +e_input_radio("radio",check.id,check.value,"producto_monto_cuota_inicial")( 
                        checked!=check.status, class=check.class, required
                        )
                        | !{check.value}

mixin input_text(idt, valt, typet, maxt, datat)
    .entel-input
        label(for=nomt)
            input(type=typet, maxlength=maxt, value='', name=idt, autocomplete='off', data-key=datat, id='lead_phone_hero')
            div
            span=valt