mixin mx_picture(myclass, imgurl, exten, altt)
    picture
        source(draggable="false" srcset=imgurl+'-desk'+'.'+exten+' 1x, '+imgurl+'-desk'+'@2x.'+exten+' 2x' media='(min-width: 992px)') 
        source(draggable="false" srcset=imgurl+'-tblt'+'.'+exten+' 1x, '+imgurl+'-tblt'+'@2x.'+exten+' 2x' media='(min-width: 768px)') 
        img(draggable="false" class=myclass src=imgurl+'-mob'+'.'+exten srcset=imgurl+'-mob'+'.'+exten+' 1x, '+imgurl+'-mob'+'@2x.'+exten+' 2x' alt=altt)