.thelordoftherings {
  background: #000000;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  &_icono,
  &_logo,
  &_texto,
  &_btn {
    margin: 0;
  }
  &_icono {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    @include responsive-width($tablet_m){
      flex-wrap: nowrap;
    }
    &_item {
      margin-right: 10px;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
  &_texto {
    p {
      font-size: 12px;
      letter-spacing: -0.03em;
      color: #fff;
      font-weight: 400;
      margin: 0;
      max-width: 250px;
      padding: 5px 0;
      width: 100%;
      transition-property: text-shadow;
      transition-duration: 2s;
      transition-timing-function: linear;

      @include responsive-width($tablet_m) {
        font-size: 16px;
        width: 405px;
        max-width: 100%;
      }
      @include responsive-width($laptop_s) {
        font-size: 20px;
        width: 500px;
      }
      &:hover {
        text-shadow: 0px 0px 10px #fff, 4px 2px 12px #dcb500,
          -4px 2px 12px #dcb500, 0px -6px 14px #ff7a00, 0px -12px 14px #ff6300,
          0px -20px 14px #ff4400, 0px -30px 14px #0a7bff;
      }
    }
  }

  &_btn {
    padding-right: 5px;
    padding-left: 5px;
    @include responsive-width($tablet_m) {
      padding-right: 1rem;
      padding-left: 1rem;
    }
    a {
      min-width: 101px;
      height: 30px;
      padding: 5px 10px;
      &:hover{
        background-color: #000000 !important;
      }
      @include responsive-width($tablet_m) {
        min-width: 129px;
        line-height: 13px;
      }
      @include responsive-width($laptop_s) {
        min-width: 160px;
        height: 40px;
        line-height: 22px;
      }
      span {
        font-size: 12px;
        font-weight: 700;
        color: #ffffff;
        text-transform: uppercase;
        color: $orange !important;

        @include responsive-width($tablet_m) {
          font-size: 12px;
        }
      }
    }
  }
}
