// footer
.lq-efooter__util {
  display: none !important;
}

// bolita c2c
.entel-inboundweb {
  line-height: 1;

  p {
    margin: 0;
  }
}

// notify
// .lq-enav__user {
//   @media (min-width: 1138px) {
//     right: 200px !important;
//   }

//   @media (min-width: 1400px) {
//     right: 165px !important;
//   }

//   @media (min-width: 1520px) {
//     right: 135px !important;
//   }

//   @media (min-width: 1680px) {
//     right: 88px !important;
//   }

//   @media (min-width: 1800px) {
//     right: 0 !important;
//   }
// }

// boddy
body {
  overflow: initial !important;
}

// search
.choices__inner,
.e-input-schedule__label p,
input:not([type="radio"]):not([type="checkbox"]):not([type="file"]) {
  padding: 3px 50px;
  margin-bottom: 0;
}

.lq-esearch__input {
  margin-bottom: 0;
}