section.e-section.san-valentin.entel-data-layer-view
  .box-tecnology
    .box-tecnology__image 
      - image_mobile = '2023/02/san-valentin-home-left-img-headband' 
      - image = '2023/02/san-valentin-home-left-img-headband-desk' 
      +lazy_image_webp_retina_media(image_mobile, 'png', image, '768', alt)
    div.box-tecnology__container
      div.box-tecnology__text.text-1
        //- p Llévate este #[b equipazo]
        //- +mx_picture_retina_all('',img_path+'/2022/07/logo-power', 'png', 'Logo Power')
        p ¡Este celu sí que #[b enamora!]
      div.box-tecnology__text.text-2
        p Participa en la #[b Web Mi Entel] y celebra el mes del amor.
    div.box-tecnology__button
      a(class='e-button entel-data-layer-btn-header' href='https://www.entel.pe/frI' target='_blank' 
      data-gtm-category='San Valentin' data-gtm-product='Personas' data-gtm-tipo='Informativo'
      data-gtm-action='Seleccionar botón' data-gtm-label='Cintillo - REGISTRATE AQUÍ')