#departamento_list, #distrito_list,ul[id*="autocomplete_list"]{
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 3px;
  margin-bottom: 20px;
  z-index: 100;
  display: block;
}

.autoComplete_result {
  color: $extra_dark_gray;;
  padding: 10px;
  font-weight: 500;
  background: $white;
  cursor: pointer;
  border: 1px solid darken($white, 12%);
  border-top-width: 0;
  box-shadow: 0 4px 5px rgba($black,.05);
  &:first-child {
    border-radius: 8px 8px 0 0;
    border-top-width: 1px;
  }
  &:last-child {
    border-radius: 0 0 8px 8px;
  }
  &:only-child {
    border-radius: 8px;
  }
}


.autoComplete_selected {
  background-color: lighten($extra_blue, 50%);
  color: $extra_light_black;
}

