// Input count
.e-group-buttons {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    &__control {
        width: 25%;
        height: 44px;
        cursor: pointer;
        border: 1px solid #9E9FA1;
        font-size: 25px;
        text-align: center;
        border-radius: 5px;
        user-select: none;
        color: #221E78;
        padding-top: 10px;
        &:hover {
            background-color: #221E78;
            color: #ffffff;
        }
        &.down {
            width: 30%!important;
            text-align: center;
            border-right: 0;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        &.up {
            width: 30%!important;
            text-align: center;
            border-left: 0;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }

    input.e-input-text-count {
        width: 40%!important;
        text-align: center;
        border: 1px solid #9e9fa1!important;
        border-radius: 0!important;
        color:  #221E78;
        font-weight: 600;
        font-size: 16px;
        line-height: 34px;
    }
}
