%input_radius_css {
  border-radius: 4px;
  @include responsive-width($tablet_m) {
    border-radius: 8px;
  }
}

%input_height_44_css {
  height: 44px;
  line-height: 44px;

  @include responsive-width($tablet-m) {
    height: 44px;
    line-height: 44px;
  }
}

%input_height_css {
  height: 44px;
  line-height: 44px;

  @include responsive-width($tablet-m) {
    height: 56px;
    line-height: 56px;
  }
}

%input_height_50_40_css {
  height: 40px;
  line-height: 40px;

  @include responsive-width($tablet-m) {
    height: 50px;
    line-height: 50px;
  }
}

%input_height_50_css {
  height: 44px;
  line-height: 44px;

  @include responsive-width($tablet-m) {
    height: 50px;
    line-height: 50px;
  }
}

%inpute_height_40_css {
  height: 40px;
  line-height: 40px;

  @include responsive-width($tablet-m) {
    height: 40px;
    line-height: 40px;
  }
}

%input_css {
  background-color: $white;
  border: 1px solid #9e9fa1;
  color: #909091;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 0 12px 0 20px;
  width: 100%;
  display: block;
  font-family: $font_family;
  font-size: 14px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  border-radius: 8px;
  height: 50px;
  background-position: calc(100% - 10px) calc(50% + 5px);

  @include responsive-width($tablet_m) {
    //border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
  }
}

%input_radius_filter_css {
  border-radius: 22px;

  @include responsive-width($tablet_m) {
    border-radius: 25px;
  }
}

%input_height_filter_css {
  @include responsive-width($tablet_m) {
    height: 50px;
    line-height: 48px;
  }
}
#e-modal__loquiero--form_telegram .e-radio-flex > .e-input:last-child,
#e-modal__loquiero--form .e-radio-flex > .e-input:last-child {
  margin-left: 10px;
}
input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
select {
  @extend%input_height_css;
}
.e-checkbox__label--error {
  display: none;
  text-align: left;
  color: $pink !important;
  position: relative;
  bottom: -3px;
}
.error + div + label + .e-checkbox__label--error {
  display: block;
}
input[type="radio"] {
  &.error {
    &:focus {
      box-shadow: 0 0 0 1px $pink;
    }
    & ~ label:before {
      border-color: $pink !important;
    }
  }
}

input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
optgroup,
select,
textarea {
  @extend %input_css;

  & ~ span {
    position: absolute;
    left: 20px;
    right: 12px;
    top: 50%;
    pointer-events: none;
    font-weight: 500;
    font-size: 14px;
    color: $extra_dark_gray;
    transition: all 0.3s ease;
    transform: translateY(-50%);
    opacity: 1;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media (min-width: $tablet_m) {
      font-size: 16px;
    }

    &.js--focus,
    &.js--active {
      color: $extra_blue;
      font-size: 12px;
      font-weight: 400;
      padding: 0 4px;
      left: 17px;
      top: -10px;
      right: auto;
      background: $white;
      transform: translateY(0);
    }
  }

  &.error {
    border-color: $pink !important;
    box-shadow: 0 0 0 1px $pink;
    background-image: m_image_common_url("2020/08/icon_input_error.png");
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: calc(100% - 10px) center;
    @include backgound_retina {
      background-image: m_image_common_url("2020/08/icon_input_error@2x.png");
    }

    &:focus {
      box-shadow: 0 0 0 1px $pink;
    }

    & ~ span,
    & ~ p,
    & ~ label {
      color: $pink !important;
    }
  }

  &[type="date"] {
    color: $white;

    &.datefix {
      color: $extra_blue;
    }
  }

  &[type="text"]:disabled {
    background-color: $light_gray;
    border-color: $light_gray;

    & ~ span {
      color: darken($white, 13.5%);
    }
  }
}

input:not([type="buttom"]):not([type="submit"]),
textarea {
  &:focus {
    border-color: $extra_blue;
    background-color: $white;
    outline: 0 none;
    box-shadow: 0 0 0 1px $extra_blue;
  }
}

.e-input {
  // width: 100%;
  position: relative;
  margin-bottom: 20px;
  &--e {
    margin-bottom: 10px;
  }
  &--empresas {
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;

    margin: 0;
    padding: 0;
    outline: none;
  }
  &.e-input--has-description--js {
    margin-bottom: 34px;
  }

  p {
    position: absolute;
    left: 20px;
    top: 100%;
    margin-top: 3px;
    font-size: 11px;
    font-weight: 400;
    color: $extra_dark_gray;
    margin-bottom: 0;

    @include responsive-width($laptop_s) {
      margin-top: 5px;
    }
  }

  label {
    &.error {
      display: none !important;
    }
  }

  &:hover {
    input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
    optgroup,
    select,
    textarea {
      &:not(:disabled) {
        border-color: $extra_blue;
        background-color: $light_gray;

        ~ span:not(.js--focus):not(.js--active) {
          color: $extra_light_black;
        }
      }
    }
  }

  &__button {
    width: 34px;
    height: 34px;
    background-color: $dark_light_gray;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 100%;
    transition: background-color 250ms ease, opacity 250ms ease;
    text-align: center;
    opacity: 1;
    z-index: 2;
    background-image: m_image_common_url("2020/08/arrow-right.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: m_image_common_url("2020/08/arrow-right@2x.png");
      background-size: 13px auto;
    }

    @include responsive-width($laptop_s) {
      width: 35px;
      height: 35px;
      right: 22px;
      background-image: m_image_common_url("2020/08/arrow-right-big.png");

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: m_image_common_url("2020/08/arrow-right-big@2x.png");
        background-size: 16px auto;
      }
    }

    img {
      display: inline-block;
      vertical-align: middle;
    }

    &.js--active {
      background-color: $orange;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  &__remove-x {
    width: 28px;
    height: 28px;
    position: absolute;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    right: 15px;
    margin: auto;
    opacity: 0;
    z-index: 0;
    background-color: $white;
    background-image: m_image_common_url("2020/08/icon-x.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    z-index: 0;
    transition: all 200ms ease 0s;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: m_image_common_url("2020/08/icon-x@2x.png");
      background-size: 14px auto;
    }

    @include responsive-width($laptop_s) {
      width: 36px;
      height: 36px;
      right: 22px;
      background-image: m_image_common_url("2020/08/icon-x-big.png");

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: m_image_common_url("2020/08/icon-x-big@2x.png");
        background-size: 18px auto;
      }
    }

    &.js--active {
      opacity: 1;
      z-index: 2;
      cursor: pointer;
    }
  }

  &--select {
    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 22px;
      right: 10px;
      background-image: m_image_common_url("2020/08/select_arrow.png");
      background-repeat: no-repeat;
      background-position: right center;
      top: 0;
      background-size: 100% auto;
      pointer-events: none;

      @include backgound_retina {
        background-image: m_image_common_url("2020/08/select_arrow@2x.png");
      }
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: $white;
      text-overflow: ellipsis;
      padding-right: 35px;
      //@extend%inpute_height_44_css;
    }
  }

  &--file {
    position: relative;

    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;

      + label,
      + label + label {
        @extend %input_height_css;
        &.e-input--medium {
          @extend %input_height_50_css;
        }
        &.e-input--sm {
          @extend %input_height_44_css;
        }
        @extend %input_css;
        text-align: left;
        color: $extra_dark_gray;
        width: auto;
        margin-right: 55px;

        @include responsive-width($tablet_m) {
          margin-right: 70px;
        }

        span {
          vertical-align: middle;

          &:first-child {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;

            &.js--active,
            &.js--focus {
              color: $extra_light_black;
            }
          }
        }
      }
    }

    &__icon {
      position: absolute;
      right: 0;
      top: 0;
      border: 1px solid $extra_dark_gray;
      width: 44px;
      border-radius: 100%;
      background-image: m_image_common_url("2020/08/upload.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 22px auto;
      background-color: $white;
      z-index: 1;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      @extend %input_height_css;
      &.e-input--medium {
        @extend %input_height_50_css;
      }
      &.e-input--sm {
        @extend %input_height_44_css;
      }
      @include backgound_retina {
        background-image: m_image_common_url("2020/08/upload@2x.png");
      }

      @include responsive-width($tablet_m) {
        background-size: 25px auto;
        width: 55px;
      }

      &.js--active {
        opacity: 0;
        visibility: hidden;
      }
    }

    &__clear {
      position: absolute;
      right: 0;
      top: 0;
      border: 1px solid $extra_dark_gray;
      width: 44px;
      border-radius: 100%;
      cursor: pointer;
      transition-property: all;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      @extend %input_height_css;
      &.e-input--medium {
        @extend %input_height_50_css;
      }
      &.e-input--sm {
        @extend %input_height_44_css;
      }
      @include responsive-width($tablet_m) {
        width: 55px;
      }

      &:before,
      &:after {
        content: "";
        display: block;
        height: 1.6px;
        width: 14px;
        top: 50%;
        left: 50%;
        margin-top: -1px;
        margin-left: -7px;
        border-radius: 1px;
        position: absolute;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        background-color: darken($white, 13.5%);
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }

      &:hover {
        border-color: $orange !important;
        background-color: $orange;

        &:before,
        &:after {
          background-color: $white;
        }
      }
    }
  }

  &--radio {
    $sm-radio-size: 20px;
    $sm-radio-checked-size: 8px;
    $sm-radio-ripple-size: 9px;
    $md-radio-checked-color: $primary;
    $md-radio-border-color: $primary;
    $md-radio-size: 24px;
    $md-radio-checked-size: 14px;
    $md-radio-ripple-size: 15px;

    @keyframes ripple {
      0% {
        box-shadow: 0px 0px 0px 1px rgba($secondary, 0);
      }

      50% {
        box-shadow: 0px 0px 0px $md-radio-ripple-size rgba($secondary, 0.1);
      }

      100% {
        box-shadow: 0px 0px 0px $md-radio-ripple-size rgba($secondary, 0);
      }
    }

    display: inline-block;
    vertical-align: top;

    input[type="radio"] {
      + div + label:not(.error) {
        &:before,
        &:after {
          border-radius: 50%;
        }

        &:after {
          top: ($sm-radio-size / 2) - ($sm-radio-checked-size / 2);
          left: ($sm-radio-size / 2) - ($sm-radio-checked-size / 2);
          width: $sm-radio-checked-size;
          height: $sm-radio-checked-size;
          transform: scale(0);
          background: $white;
        }
      }
    }

    input[type="checkbox"] {
      + div + label:not(.error) {
        &:after {
          background-color: transparent;
          left: 4px;
          top: 5px;
          transform: scale(0);
          @include retina-sprite($check-white-group);
        }
      }

      &.error {
        ~ label {
          &::before {
            border-color: $pink;
          }
        }
      }
    }

    input[type="radio"],
    input[type="checkbox"] {
      //display: none;
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      color: transparent;

      &:checked + div + label:before {
        border-color: $secondary;
        animation: ripple 0.3s linear forwards;
        background-color: $secondary;
      }

      &:checked + div + label:after {
        transform: scale(1);
      }
    }

    label:not(.error) {
      //-color: $extra_light_black;
      display: inline-block;
      vertical-align: top;
      min-height: 20px;
      position: relative;
      padding-left: 28px;
      padding-top: 4px;
      margin-bottom: 0;
      cursor: pointer;
      vertical-align: bottom;
      font-size: 14px;
      text-align: left;
      line-height: 1.18;
      @media (min-width: 652px) {
        padding-top: 1px;
      }
      @include responsive-width($tablet_m) {
        font-size: 16px;
      }

      &:before,
      &:after {
        position: absolute;
        content: "";
        border-radius: 5px;
        transition: all 0.3s ease;
        transition-property: transform, border-color;
      }

      &:before {
        left: 0;
        top: 0;
        width: $sm-radio-size;
        height: $sm-radio-size;
        border: 2px solid $extra_dark_gray;
      }

      a,
      span {
        position: relative;
        top: 0;
        left: 0;
        color: $secondary;
        font-weight: 700;
        padding: 0;
        color: $extra_light_black;
        text-decoration: underline;

        @include responsive-width($laptop_s) {
          text-decoration: none;
        }

        &:before {
          @include responsive-width($laptop_s) {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -1px;
            height: 1px;
            background-color: rgba($extra_light_black, 0.6);
            transition-property: left, right;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
          }
        }

        &:after {
          @include responsive-width($laptop_s) {
            content: "";
            position: absolute;
            left: 50%;
            right: 50%;
            bottom: -1px;
            height: 1px;
            background-color: $orange;
            transition-property: left, right;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
          }
        }

        &:hover {
          color: $orange;

          &:before {
            left: 50%;
            right: 50%;
          }

          &:after {
            left: 0;
            right: 0;
          }
        }
      }
    }
  }

  &--toggle {
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    align-items: center;
    label {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 30px;
      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      span.e-input--toggle-switch {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        &:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 2px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }
        /* Rounded sliders */
        &-round {
          border-radius: 34px;

          &:before {
            border-radius: 50%;
          }
        }
      }

      input:checked + span.e-input--toggle-switch {
        background-color: #57cdb1;
      }

      input:focus + span.e-input--toggle-switch {
        box-shadow: 0 0 1px #57cdb1;
      }

      input:checked + span.e-input--toggle-switch:before {
        -webkit-transform: translateX(17px);
        -ms-transform: translateX(17px);
        transform: translateX(17px);
        @media (min-width: $tablet-m) {
          -webkit-transform: translateX(20px);
          -ms-transform: translateX(20px);
          transform: translateX(20px);
        }
      }
    }

    &-text {
      width: 100%;
      text-align: left;
      padding-left: 10px;
      color: #221e78;
      @media (min-width: $tablet-m) {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  &--solid {
    input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
    optgroup,
    select,
    textarea {
      padding-top: 12px;
      border-color: $light_gray;
      background-color: $light_gray;

      & ~ span {
        &.js--focus,
        &.js--active {
          top: 5px;
          background-color: transparent;

          @include responsive-width($tablet_m) {
            top: 9px;
          }
        }
      }
    }

    input:not([type="buttom"]):not([type="submit"]),
    textarea {
      &:focus {
        background-color: $light_gray;
      }
    }

    &--white {
      input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
      optgroup,
      select,
      textarea {
        border-color: #9e9fa1;
        background-color: $white;

        &:focus {
          background-color: $white;
        }
      }

      &:hover {
        input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
        optgroup,
        select,
        textarea {
          &:not(:disabled) {
            background-color: $white;
          }
        }
      }
    }
    &--gray {
      border-color: #9e9fa1;
    }
  }

  &--small,
  &--medium {
    $input_radio: add-class-modifier("--radio");
    $input_solid: add-class-modifier("--solid");

    &,
    input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
    optgroup,
    select,
    textarea {
      margin-bottom: 10px;
    }

    input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
    select {
      @include responsive-width($tablet_m) {
        height: 50px;
        line-height: 50px;
      }
    }

    &#{$input_solid} {
      input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
      select {
        & ~ span {
          &.js--focus,
          &.js--active {
            top: 5px;
          }
        }
      }
    }

    &#{$input_radio} {
      label:not(.error) {
        padding-top: 2px;
        font-size: 12px;
      }
    }

    &.e-input--has-description--js {
      margin-bottom: 28px;
    }
  }

  &--medium {
    input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
    select {
      @include responsive-width($tablet_m) {
        height: 50px;
        line-height: 50px;
      }
    }
  }

  &--light {
    $input_radio: add-class-modifier("--radio");
    $input_file: add-class-modifier("--file");
    $input_file_class: add-class-modifier("--file");

    input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
    optgroup,
    select,
    textarea {
      border-color: darken($white, 12%);
      margin-bottom: 10px;
      & ~ span {
        &.js--active {
          color: darken($white, 26%);
        }
      }
    }

    &#{$input_file} {
      input + label {
        border-color: darken($white, 12%);
      }

      #{$input_file_class} {
        &__clear,
        &__icon {
          border-color: darken($white, 12%);
        }
      }
    }

    &#{$input_radio} {
      label:not(.error) {
        &:before {
          border-width: 1px;
          border-color: darken($white, 12%);
        }
      }
    }
  }

  &--hide {
    display: none;
  }
  &--show {
    display: block;
  }

  &.e--with-icon {
    input {
      padding-left: 40px;
      background-position: 12px center;
      background-repeat: no-repeat;
      background-size: 19.5px auto;

      @media (min-width: $laptop_s) {
        padding-left: 55px;
        background-position: 21px center;
      }
    }

    span {
      left: 42px;

      @media (min-width: $laptop_s) {
        left: 55px;
      }

      &.js--focus,
      &.js--active {
        top: 20px;
        left: 42px;
        opacity: 0;
        font-size: 14px;

        @media (min-width: $laptop_s) {
          font-size: 16px;
          top: 23px;
          left: 55px;
        }
      }
    }
  }

  &.e--round-desktop {
    label,
    input {
      @include responsive-width($laptop_s) {
        border-radius: 200px;
      }
    }
  }

  &.js--focus {
    input:not([type="buttom"]):not([type="submit"]),
    textarea {
      border-color: $extra_blue;
      box-shadow: 0 0 0 1px $extra_blue;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:valid,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition-delay: 99999s;
}

/** Select dropdown */
// Default variables
$font_size: 14px !default;
$font_size_small: 12px !default;

$input_border_radius: 5px !default;
$input_height_small: 36px !default;
$dropdown_padding: 18px !default;

$gray_dark: #444 !default;
$gray: #999 !default;
$gray_light: #e8e8e8 !default;
$gray_lighter: #f6f6f6 !default;
$primary_light: $gray !default;
$arrow_color: $gray !default;

// Style the dropdown
.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: $input_border_radius;
  border: 1px solid $extra_dark_gray;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: $font_size;
  font-weight: normal;
  height: $input_height;
  line-height: $input_height - 2;
  outline: none;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;

  .current {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $dark_blue;
  }

  &:hover {
    border-color: $extra_blue !important;
    box-sizing: border-box;
  }

  &:active,
  &:focus {
    border-color: $primary_light;
  }

  // Arrow
  &:after {
    content: "";
    transform: rotate(180deg);
    background-image: url(https://www.entel.pe/wp-content/uploads/2020/04/empresa-arrow-icon.png) !important;
    background-repeat: no-repeat;
    display: block;
    height: 21px;
    margin-top: 0;
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 20%;
    transition: all 0.15s ease-in-out;
    width: 21px;
    background-size: cover;
  }

  &.open {
    @extend :active;

    &:after {
      transform: rotate(0deg);
    }

    .list {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1) translateY(0);
      border: 1px solid $extra_dark_gray;
    }
  }

  &.disabled {
    border-color: lighten($gray_light, 2%);
    color: $gray;
    pointer-events: none;

    &:after {
      border-color: lighten($arrow_color, 20%);
    }
  }

  // Modifiers
  &.wide {
    width: 100%;

    .list {
      left: 0 !important;
      right: 0 !important;
    }
  }

  &.right {
    float: right;

    .list {
      left: auto;
      right: 0;
    }
  }

  &.small {
    font-size: $font_size_small;
    height: $input_height_small;
    line-height: $input_height_small - 2;

    &:after {
      height: 4px;
      width: 4px;
    }

    .option {
      line-height: $input_height_small - 2;
      min-height: $input_height_small - 2;
    }
  }

  // List and options
  .list {
    width: 100%;
    background-color: #fff;
    border-radius: $input_border_radius;
    box-shadow: 0 0 0 1px rgba($gray_dark, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-$input_height / 2);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;

    &:hover .option:not(:hover) {
      background-color: transparent !important;
    }
  }

  .option {
    cursor: pointer;
    color: $dark_blue;
    font-weight: 400;
    line-height: $input_height - 2;
    list-style: none;
    min-height: $input_height - 2;
    outline: none;
    padding-left: $dropdown_padding;
    padding-right: $dropdown_padding + 11;
    text-align: left;
    transition: all 0.2s;

    &:hover,
    &.focus,
    &.selected.focus {
      background-color: $live_blue_lighter;
    }

    &.selected {
      font-weight: 600;
    }

    &.disabled {
      background-color: transparent;
      color: $gray;
      cursor: default;
    }
  }
}

// Use display instead of opacity for IE <= 10
.no-csspointerevents .nice-select {
  .list {
    display: none;
  }

  &.open {
    .list {
      display: block;
    }
  }
}

// input:not([type=radio]):not([type=checkbox]):not([type=file]).e-input-text-count {
//     height: $input_height;
//     margin-bottom: 0;
// }

/**
 * Formulario
 *
 */
.e-form-group {
  margin-bottom: 12px;
}

.js--focus.bounce-input {
  -webkit-animation-name: bounce-input;
  animation-name: bounce-input;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.e-radio-flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 7.5px;
  .e-input--radio {
    width: initial;
    // padding: 0 15px;
    @media (max-width: 767px) {
      // padding-left: 1.15px;
    }
  }
  @media (max-width: 767px) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

@keyframes bounce-input {
  0%,
  20%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -10px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -5px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
    animation-delay: 2s;
  }
}
