// .m-modal--empresas .m-modal__container{
//     padding-bottom: 30px!important;
//     padding-top: 60px!important;
// }
.e-box__llamanos-aqui {
    @include responsive-width($mobile_l) {
        display: none ;
    }
    &.js--active{
        .e-link--llamanos{
            display: none;
        }
        .e-box__llamanos-aqui--info{
            display: flex !important;
        }
    }
    .e-link--llamanos{
        text-transform: none;
        margin-top: 5px;
    }
    &--info{
        position: relative;
        max-width: 280px;
        min-height: 90px;
        border-radius: 10px;
        background: #221E78;
        margin: auto;
        margin-top: 11px;
        color: $white;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &__close{
            position: absolute;
            cursor: pointer;
            top: 5px;
            right: 5px;
            width: 20px;
            height: 20px;
            border: 0.506665px solid #EBEBEB;
            border-radius: 50px;
            font-size: 12px;
        }
        &__header{
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 10px !important;
        }
        &__body{
            display: flex;
            justify-content: center;
            .e-button{
                font-size: 12px;
                margin: auto 5px;
                padding: 5px 10px;
                min-width: 110px;
                border-width: 1px;
            }
        }

    .e-link--llamanos::after {
        display: inline-block;
        position: relative;
        content: "";
        top: -2px;
        right: 0;
        margin-left: 4px;
        width: 6px;
        height: 6px;
        transform: rotate(45deg);
        border-right: 2px solid $orange;
        border-bottom: 2px solid $orange;
    }

        &--buttom {
            img {
                margin-right: .1rem;
            }
        }
    }
    &--info-2 {

        padding-top: 0 !important;
        background-color: $extra_light_gray;
        display: flex;
        p {
            color: $extra_dark_gray;
        }
        .e-button--outline-white {
            background-color: transparent !important;
            border-color: $orange !important;
            color: $orange;
        }
        .e-button--white {
            background-color: $orange !important;
            color: $white;

        }
        .e-button--white:hover {
            color: $white !important;
        }
        img {
            margin-right: .2rem;
        }
    }
}
.e-box__llamanos-aqui-2 {
    margin: .6rem auto;
    display: block ;
    @include responsive-width($mobile_l) {
        display: none ;
    }
}