.e-message-form {
    font-size: 12px;
    font-weight: 400;
    color: $extra_dark_gray;
    text-align: left;

    &.error {
        color: $pink;
        font-weight: 500;
    }

    &.success {
        color: $teal;
        font-weight: 500;
    }
}