@import '~choices.js/src/styles/choices';

.choices__inner{
    @extend %input_height_css;
    @extend %input_css;
}

.e-input {
    &--select {
        text-align: left;

        .choices {
            &__inner {
                margin-bottom: 0;
                padding-bottom: 0 !important;
                padding-right: 35px !important;
            }

            &__item{
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            &__list--single {
                padding: 0;
            }

            &__list {
                vertical-align: top;
                &--dropdown {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    transition-property: all;
                    transition-duration: .3s;
                    transition-timing-function: ease-in-out;
                    //transform: translateY(10px);
                    opacity: 0;
                    @extend %input_radius_css;

                    .choices__item {
                        font-weight: 500;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        padding-left: 20px;
                        padding-right: 12px;
                        color: $extra_light_black;
                        transition-property: background-color;
                        transition-duration: .3s;
                        transition-timing-function: ease-in-out;

                        &.is-highlighted {
                            background-color: rgba($extra_blue, .25);
                            font-weight: 700;
                        }
                    }

                    &.is-active {
                        //transform: translateY(0);
                        opacity: 1;
                    }
                }
            }

            &:after {
                content: '';
                bottom: 0;
                width: 22px;
                right: 10px;
                top: 1px;
                height: auto;
                background-repeat: no-repeat;
                background-position: right center;
                background-image: m_image_common_url("2020/08/select_arrow.png");
                background-size: 100% auto;
                transition-property: all;
                transition-duration: .3s;
                transition-timing-function: ease-in-out;

                border-width: 0;
                margin: 0 !important;

                @include backgound_retina {
                    background-image: m_image_common_url("2020/08/select_arrow@2x.png");
                }
            }

            &.is-open {
                &:after {
                    transform: scale(1, -1);
                }
            }

            &.is-open,
            &.is-focused {
                .choices__inner {
                    @extend %input_radius_css;
                }
            }
        }
    }

    &--small {
        .choices {
            &__inner {
                @extend%input_height_44_css;
            }
        }
    }

    &--medium {
        .choices {
            &__inner {
                @extend%input_height_50_css;
            }
        }
    }

    &--small,
    &--medium {
        .choices {
            &__inner {
                font-size: 14px;
            }
            &__list {
                height: auto;
                line-height: 14px;
                //color: $dark_blue;
                font-weight: 600;
                .choices__item {
                    //color: $dark_blue;
                }
            }
        }
    }

    &--light {
        .choices {
            &__inner {
                border-color: darken($white, 12%);
            }

            &__list {
                &--dropdown {
                    border-color: darken($white, 12%);
                }
            }
        }
    }

    &--filter {
        .choices {
            &__inner {
                @extend %input_radius_filter_css;
                @extend %input_height_filter_css;
                font-weight: 600;
                font-size: 12px;
                color: $extra_dark_gray;

                @include responsive-width($tablet_s) {
                    font-size: 16px;
                }
            }

            &__list {
                &--dropdown {
                    border-radius: 10px;
                    border-color: darken($white, 12%);

                    .choices__item {
                        font-weight: 600;
                        color: $extra_dark_gray;
                        padding-top: 12px;
                        padding-bottom: 12px;

                        &.is-highlighted {
                            background-color: darken($white, 12%);
                        }
                    }
                }
            }

            &:after {
                width: 11px;
                right: 20px;
                background-image: m_image_common_url("2020/08/select_arrow_gray.png");

                @include backgound_retina {
                    background-image: m_image_common_url("2020/08/select_arrow_gray@2x.png");
                }
            }

            &.is-open,
            &.is-focused {
                .choices__inner {
                    @extend %input_radius_filter_css;
                    @extend %input_height_filter_css;
                }
            }
        }

        // select native for mobile device
        select {
            @extend %input_radius_filter_css;
            @extend %input_height_filter_css;
            font-weight: 600;
            font-size: 12px;
            color: $extra_dark_gray;

            @include responsive-width($tablet_s) {
                font-size: 16px;
            }
        }

        @include responsive-max-width($laptop_s - 1) {
            &:before {
                top: 2px !important;
                width: 11px !important;
                right: 20px !important;
                background-image: m_image_common_url("2020/08/select_arrow_gray.png") !important;

                @include backgound_retina {
                    background-image: m_image_common_url("2020/08/select_arrow_gray@2x.png") !important;
                }
            }
        }
    }
}