+modal('e-convergente-plans__modal-cobertura').m-modal--persons.theme--blue.e-convergente-plans__modal-cobertura
    .m-modal__container
        .m-modal__head
            h2 Zonas de cobertura
        .m-modal__body
            ul 
                li ALEMANIA
                li ARGENTINA
                li AUSTRALIA
                li AUSTRIA
                li BÉLGICA
                li BRASIL
                li CANADÁ
                li CHILE
                li CHINA
                li COREA DEL SUR
                li COSTA RICA
                li CROACIA
                li DINAMARCA
                li EEUU
                li EL SALVADOR
                li ESCOCIA
                li ESPAÑA
                li FRANCIA
                li GALES
                li GRECIA
                li HOLANDA
                li HONG KONG
                li HUNGRÍA
                li INGLATERRA
                li IRLANDA
                li IRLANDA DEL NORTE
                li ISRAEL
                li ITALIA
                li JAPÓN
                li MÉXICO
                li NICARAGUA
                li NUEVA ZELANDA
                li PANAMÁ
                li PARAGUAY
                li POLONIA
                li PORTUGAL
                li PUERTO RICO
                li REPÚBLICA CHECA
                li REPÚBLICA DOMINICANA
                li RUSIA
                li SUDÁFRICA
                li SUECIA
                li SUIZA
                li TAILANDIA
                li TAIWÁN
                li TURQUÍA
                li URUGUAY

            //- include _form
        .m-modal__close.m-modal__close--js