<div class="bannerform-overlay"></div>

<div class="bannerform-popup">
    <a class="bannerform-popup__close" href="javascript:void(0)"></a>

    <div class="bannerform-popup__forms active">
        <form class="bannerform-popup__form" data-codorigen="C2C_Web_LandingLLAA" data-modality="migra">
            <div class="form--content">
                <div class="form--body">
                    <h3>Obtén tu línea adicional
                    <span>Llamándonos al</span>
                    <strong>0800-09001</strong></h3>

                    <p>o déjanos tu número para llamarte:</h3>
                    <div class="form--number">
                        <input class="bannerFormNum" type="tel" maxlength="9" placeholder=" " name="form_lead_phone" autocomplete="on" tabindex="0">
                        <span>
                            <span>Número de celular</span>
                        </span>
                    </div>

                    <div class="form--check">
                        <span>Al hacer clic en “Llámenme” declaras haber leído la<a href="http://www.entel.pe/politica-de-proteccion-de-datos-personales/" target="_blank" rel="noopener noreferrer" tabindex="-1"> 
                        <span>Política de Privacidad</span></a>de Entel</span> 
                        <input id="checktop" type="checkbox" value="1" name="form_lead_policy" checked="checked" tabindex="-1">
                        <div class="input-mask-top"></div>
                    </div>

                    <button class="form-btn" id="form-btn" type="submit" data-origin="catalogo" data-gtm-action="Accion en banner " data-gtm-category="Entel home_Banners" data-gtm-label="" tabindex="-1">Llámenme</button>
                </div>

                <div class="form--loading">
                    <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" alt="loading">
                </div>

                <div class="form--duplicate">
                    <p>¡Hola! Ya contamos con tu número.</p>
                    <p>Estate atento a nuestra pronta llamada.</p>
                </div>

                <div class="form--error">
                    <p>Lo sentimos Ocurrió un error</p>
                    <p>al procesar tus datos.</p>
                </div>

                <div class="form--thanks">
                    <div class="ico--thanks"></div>
                    <p><br><strong>En breve te llamaremos!</strong><br> Gracias por preferir Entel.</p>
                </div>
            </div>
        </form>
    </div>
</div> 
