+modal('e-convergente-plans__modal-promo-jueves_entel').m-modal--persons.theme--blue.e-convergente-plans__modal-promo-jueves_entel
    .m-modal__container
        .m-modal__container_img
            +lazy_image_webp_retina_media('2022/05/e-convergente-plans__modal-promo-jueves_entel-mob', 'png', '2022/05/e-convergente-plans__modal-promo-jueves_entel-desk', '768', 'Imagen de persona con pregunta')
        .m-modal__close.m-modal__close--js