.btn {
  &_orange {
    background: #ff560a;
    border-radius: 50px;
    width: 145px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 48px;
    height: 50px;
    display: block;
    margin: 0 auto 10px auto;
    @include responsive-width($tablet_m) {
      width: 133px;
      height: 40px;
      line-height: 38px;
    }
    &:hover {
      color: #ffffff;
    }
  }
  &_orange_border {
    background: none;
    border-radius: 50px;
    width: 145px;
    color: #ff560a;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 48px;
    height: 50px;
    display: block;
    border: 1px solid #ff560a;
    margin: 0 auto 10px auto;
    @include responsive-width($tablet_m) {
      width: 133px;
      height: 40px;
      line-height: 38px;
    }
  }
}
