// ejemplo html - para texto
// h2 {
//     color: hsla(214, 100%, 36%, 1);
//     font: bold 2.5rem Barlow, sans-serif;
//     // letter-spacing: 5px;
//     text-align: center;
//     width: 100%;
//     animation: move linear 5000ms infinite;
//     padding: 1rem 0;
//   }
@keyframes moveborder-text {
  0% {
    text-shadow: 2px -2px 0 hsla(30, 100%, 50%, 1),
      2px -2px 0 hsla(30, 100%, 50%, 1), 2px -2px 0 hsla(30, 100%, 50%, 1),
      1px -1px 0 hsla(30, 100%, 50%, 1), -2px 2px 0 hsla(30, 100%, 50%, 1),
      -2px 2px 0 hsla(30, 100%, 50%, 1), -2px 2px 0 hsla(30, 100%, 50%, 1),
      -1px 1px 0 hsla(30, 100%, 50%, 1);
  }
  25% {
    text-shadow: -2px -2px 0 hsla(30, 100%, 50%, 1),
      -2px -2px 0 hsla(30, 100%, 50%, 1), -2px -2px 0 hsla(30, 100%, 50%, 1),
      -1px -1px 0 hsla(30, 100%, 50%, 1), 2px 2px 0 hsla(30, 100%, 50%, 1),
      2px 2px 0 hsla(30, 100%, 50%, 1), 2px 2px 0 hsla(30, 100%, 50%, 1),
      1px 1px 0 hsla(30, 100%, 50%, 1);
  }
  50% {
    text-shadow: -2px 2px 0 hsla(30, 100%, 50%, 1),
      -2px 2px 0 hsla(30, 100%, 50%, 1), -2px 2px 0 hsla(30, 100%, 50%, 1),
      -1px 1px 0 hsla(30, 100%, 50%, 1), 2px -2px 0 hsla(30, 100%, 50%, 1),
      2px -2px 0 hsla(30, 100%, 50%, 1), 2px -2px 0 hsla(30, 100%, 50%, 1),
      1px -1px 0 hsla(30, 100%, 50%, 1);
  }
  75% {
    text-shadow: 2px 2px 0 hsla(30, 100%, 50%, 1),
      2px 2px 0 hsla(30, 100%, 50%, 1), 2px 2px 0 hsla(30, 100%, 50%, 1),
      1px 1px 0 hsla(30, 100%, 50%, 1), -2px -2px 0 hsla(30, 100%, 50%, 1),
      -2px -2px 0 hsla(30, 100%, 50%, 1), -2px -2px 0 hsla(30, 100%, 50%, 1),
      -1px -1px 0 hsla(30, 100%, 50%, 1);
  }
  100% {
    text-shadow: 2px -2px 0 hsla(30, 100%, 50%, 1),
      2px -2px 0 hsla(30, 100%, 50%, 1), 2px -2px 0 hsla(30, 100%, 50%, 1),
      1px -1px 0 hsla(30, 100%, 50%, 1), -2px 2px 0 hsla(30, 100%, 50%, 1),
      -2px 2px 0 hsla(30, 100%, 50%, 1), -2px 2px 0 hsla(30, 100%, 50%, 1),
      -1px 1px 0 rgb(255, 128, 0);
  }
}
// ejemplo html - cualquier elemento
// .free {
//     animation: shake 1s;
//     animation-iteration-count: infinite;
//   }
@keyframes shakeanyelement {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
