
.m-modal{
    &__container{
        background: $white;

        @include responsive-width($tablet_m){
            width: 600px;
            max-width: 100%;
        }

        picture{
            width: 100%;
            text-align: center;
            margin: 15px 0;
        }

        &__head{
            margin-bottom: 30px;
            
            h2{
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 15px;
                font-weight: normal;
                margin-top: 30px;

                @include responsive-width($tablet_m){
                    font-weight: 300;
                    font-size: 30px;
                    line-height: 36px;
                    margin-bottom: 15px;
                }
            }
            p{
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    .m-modal__close{
        // border-color: $blue;
        
        &:before,&:after{
            // background: $blue;
        }
    }
}

