.bg-shape-blue {
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 18%;
        background-size: cover;
        background-image: m_image_common_url("personas/2022/01/e-prepago-bg-canales.png");
        position: absolute;
        top: 0;

        @include backgound_retina {
            background-image: m_image_common_url("personas/2022/01/e-prepago-bg-canales@2x.png");
        }

        @media (min-width: $tablet-m) {
            background-position: top;
            background-size: 120%;
        }
    }

    &::after {
        content: '';
        width: 100%;
        height: 750px;
        background-color: #1543A2;
        top: 540px;
        position: absolute;
        z-index: 1;
    }

    .entel-container {
        z-index: 2;
    }
}

.bg-blue {
    background-color: #1543A2;
}

.e-prepago-section-canales {
    overflow: hidden;

    h2 {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        position: relative;
        padding-top: 125px;
        max-width: 300px;
        margin: 0 auto 36px;

        @media (min-width: $laptop-s) {
            font-size: 34px;
            line-height: 40px;
            padding-top: 190px;
            max-width: 800px;
            margin: 0 auto 50px;
        }
    }

    .entel-container {
        max-width: 768px;
        // min-height: 1117px;
        margin: auto;
        display: block;
        position: relative;

        @media (min-width: $tablet-m) {
            max-width: 1440px;
            // min-height: 1039px;
            margin: auto;
        }

        @media (min-width: $desktop_s) {
            max-width: 1760px;
        }

        @media (min-width: 1920px) {
            max-width: 1920px;
        }
    }

    &__slider {
        .slider-nav__parent {
            max-width: 900px;
            margin: auto;
            text-align: center;

            &__btns {
                text-align: center;
                margin: auto;
                display: flex;
                flex-wrap: wrap;

                @include responsive-width($laptop-s) {
                    max-width: 890px;
                }

                a {
                    margin: 0px 0 45px;
                    width: 54px;
                    height: 54px;
                    cursor: pointer;
                }

                span {
                    display: block;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 11px;
                    text-align: center;
                    letter-spacing: 0.005em;
                    color: #FFFFFF;
                    max-width: 100px;
                    margin: auto;
                    position: relative;
                    bottom: 40px;
                    cursor: pointer;

                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        line-height: 12px;
                    }

                    @include responsive-width($laptop-s) {
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
            }

            &__btn {
                display: inline-block;
                position: relative;

                &::before {
                    background-color: transparent;
                    box-sizing: border-box;
                    border: 1px solid #FFFFFF;
                    border-radius: 8px;
                    position: absolute;
                    width: 54px;
                    height: 54px;
                    margin: auto;
                    padding: 12px 0;
                    left: 0;
                    right: 0;
                }

                &--web_recargas {
                    &::before {
                        content: url($m_image_common_path+"personas/2022/01/prepago-canales-ico-web-recargas.png");
                    }
                }

                &--yape {
                    &::before {
                        content: url($m_image_common_path+"personas/2022/01/prepago-canales-ico-yape.png");
                    }
                }

                &--whatsapp {
                    &::before {
                        content: url($m_image_common_path+"personas/2022/01/prepago-canales-ico-wp.png");
                    }
                }

                &--fb {
                    &::before {
                        content: url($m_image_common_path+"personas/2023/02/prepago-canales-ico-fb.png");
                    }
                }

                &--messenger {
                    &::before {
                        content: url($m_image_common_path+"personas/2023/02/prepago-canales-ico-msn.png");
                    }
                }

                &--app {
                    &::before {
                        content: url($m_image_common_path+"personas/2022/01/prepago-canales-ico-app.png");
                    }
                }

                &--mientel {
                    &::before {
                        content: url($m_image_common_path+"personas/2022/01/prepago-canales-ico-mientel.png");
                    }
                }

                &--tiendas {
                    &::before {
                        content: url($m_image_common_path+"personas/2022/01/prepago-canales-ico-tienda.png");
                    }
                }

                &--bancos {
                    &::before {
                        content: url($m_image_common_path+"personas/2022/01/prepago-canales-ico-bancos.png");
                    }
                }

                &--entelprepago {
                    &::before {
                        content: url($m_image_common_path+"personas/2022/01/prepago-canales-ico-entel-prepago.png");
                    }
                }

                &--bolsas_app {
                    &::before {
                        content: url($m_image_common_path+"personas/2022/01/prepago-canales-ico-app.png");
                    }
                }

                &--bolsas_web {
                    &::before {
                        content: url($m_image_common_path+"personas/2022/11/prepago-canales-ico-bolsas_web.png");
                    }
                }

                &--bolsas_portal {
                    &::before {
                        content: url($m_image_common_path+"personas/2022/01/prepago-canales-ico-mientel.png");
                    }
                }

                &--new_app {
                    &::before {
                        content: url($m_image_common_path+"personas/2022/01/prepago-canales-ico-app.png");
                    }
                }

                &--new_web_recargas {
                    &::before {
                        content: url($m_image_common_path+"personas/2022/11/prepago-canales-ico-new_app.png");
                    }
                }

                &--web_mientel {
                    &::before {
                        content: url($m_image_common_path+"personas/2022/11/prepago-canales-ico-bolsas_web.png");
                    }
                }

                &--new_tiendas {
                    &::before {
                        content: url($m_image_common_path+"personas/2022/01/prepago-canales-ico-tienda.png");
                    }
                }

                &--new_bancos {
                    &::before {
                        content: url($m_image_common_path+"personas/2022/01/prepago-canales-ico-bancos.png");
                    }
                }
            }

            &__content {
                margin: 80px 20px;
                color: white;
            }

            .slick-current {
                a::before {
                    background-color: #00B9EB;
                    border: 1px solid #00B9EB;
                }

                span {
                    font-weight: 700;
                }
            }
        }
    }

    .div-canales-cards,
    .div-canales-img {
        @include responsive-width($laptop_s) {
            width: 500px;
            max-width: 100%;
        }
    }

    .div-canales-cards {
        @include responsive-width($laptop_s) {
            align-self: flex-start;
            padding-bottom: 40px;
        }

        .slick-list {
            @include responsive-width($laptop_s) {
                height: auto !important;

            }

        }
    }

    &__subslider {
        text-align: center;
        margin: auto;
        margin-bottom: 40px;

        @include responsive-width($laptop-s) {
            display: flex;
            max-width: 1000px;
            // min-height: 500px;
            margin-bottom: 50px;
        }

        .slick__persons {
            max-width: 500px;
            margin: auto;

            @include responsive-width($laptop-s) {
                max-width: 100%;
                margin: 0;
                padding-left: 32px;
                padding-right: 32px;
            }
        }

        .slider-for__slider__image {
            img {
                margin: auto;

                @include responsive-width($laptop-s) {
                    margin: initial;
                }
            }
        }

        .slider-for__childyape {
            // padding-top: 50px;
            padding-bottom: 1px;

            @include responsive-width($laptop-s) {
                padding-top: 0;
                padding-bottom: initial;
            }
        }

        .slider-for__child {
            .slick-slide[data-slick-index="0"]{
                .number {
                    padding-left: 6px;
                    @include responsive-width($laptop-s) {
                        padding-left: 10px;
                    }
                }
            }
            &__card {
                display: inline-flex !important;
                text-align: left;
                padding: 10px 30px 10px 5px;
                cursor: pointer;
                background-color: #004FB9;
                border-radius: 10px;
                margin: 7px 0;

                @include responsive-width($laptop-s) {
                    padding: 10px 70px 10px 24px;
                    opacity: .6;
                }

                &:hover {
                    opacity: 1;
                }

                &__ico {
                    margin: auto 0;
                    min-width: 54px;
                    text-align: right;

                    img {
                        text-align: right;
                    }
                }

                &__text {
                    padding-left: 10px;
                    position: relative;

                    @include responsive-width($laptop-s) {
                        padding-left: 20px;
                    }

                    .number {
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 100%;
                        text-align: center;
                        color: #FFFFFF;
                        position: relative;
                        z-index: 1;
                        padding-left: 5.5px;

                        @include responsive-width($laptop-s) {
                            font-size: 20px;
                            padding-left: 8px;
                        }

                        &::before {
                            content: '';
                            background-color: $orange;
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            top: 2px;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            margin: auto;
                            z-index: -1;

                            @include responsive-width($laptop-s) {
                                width: 28px;
                                height: 28px;
                            }
                        }
                    }

                    p {
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFFFFF;
                        margin-top: 5px;
                    }
                }

                &__image {
                    img {
                        margin: auto;
                    }
                }
            }

            .medium {
                min-height: 120px;

            }

            .slick-current {
                .slider-for__child__card {
                    opacity: 1;
                }
            }

            .slick-dots {
                position: relative;
                max-width: 100px;
                text-align: center;
                margin: 30px auto;
            }
        }
    }

    &__tiendas {
        h2 {
            padding-top: 20px;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: $white;
            padding-top: 20px;

            @include responsive-width($laptop-s) {
                font-size: 34px;
                line-height: 40px;
            }
        }

        &__content {
            @include responsive-width($laptop-s) {
                display: flex;
                max-width: 1000px;
                margin: auto;
            }
        }

        &__options,
        &__img {
            align-items: center;
            justify-content: center;
            display: flex;

        }

        .js--active {
            .m-accordion__toggle {
                opacity: 1;
            }
        }

        .m-accordion__toggle {
            background-color: transparent;
            max-width: 420px;
            min-width: 280px;
            opacity: 0.4;

            @include responsive-width($laptop-s) {
                min-width: 420px;
            }

            &:hover {
                opacity: 1;
            }

            h3 {
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.0015em;
                color: $white;
            }
        }

        .e-content-editor {
            background-color: #4469b5;
            max-width: 420px;
            min-width: 280px;

            @include responsive-width($laptop-s) {
                min-width: 420px;
            }

            .content-list {
                display: flex;
                flex-wrap: wrap;

                img {
                    margin: 8px;
                }
            }
        }
    }

    &__bancos {
        h2 {
            padding-top: 0;
        }

        p.lightblue {
            font-family: Barlow;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #6798c6;
            margin: 20px 0 35px;
        }

        .entel-slider-opciones5-detail {
            .slick-list {
                height: auto !important;
            }

            .slick-arrow {

                &:before,
                &:after {
                    opacity: 1 !important;
                }
            }

            .slick-disabled {
                opacity: 0.5 !important;
            }

            .slick-dots {
                @media (min-width: $tablet_m) {
                    position: absolute;
                    top: 272px;
                    left: 50%;
                    display: inline-block !important;
                    width: auto;
                    margin-left: -300px;
                }

                li {
                    &.slick-active {
                        button:before {
                            background: $orange;
                        }
                    }

                    button:before {
                        opacity: 1;
                        background: $white;
                    }
                }
            }
        }

        .entel-slider-opciones3 {
            @media (min-width: $tablet_m) {
                text-align: center;
            }

            &__right {
                &__button {
                    display: block;
                    text-align: center;

                    @media (min-width: $tablet_m) {
                        margin-bottom: 20px;
                        position: relative;
                        top: -20px;
                    }
                }
            }
        }

        .entel-slider-opciones5 {
            >p {
                font-family: Barlow;
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 30px;
                color: $white;
                text-align: center;
                margin-bottom: 30px;
            }



            &__top {}


            &-nav {
                width: 630px;
                max-width: 100%;
                margin: auto;

                .entel-slider__item {
                    margin: 0 7px;
                    opacity: 0.5 !important;

                }

                .slick-slide.slick-current.slick-active {
                    .entel-slider__item {
                        opacity: 1 !important;
                    }
                }
            }

            &-content {
                &__item {
                    .entel-slider-opciones5-detail {
                        position: relative;

                        &:before {
                            content: "";
                            background-image: m_image_common_url("personas/2020/05/e-prepower-recarga-bancos-bg-mobile.png");
                            width: 100%;
                            height: 345px;
                            position: absolute;
                            background-repeat: no-repeat;
                            left: 0;
                            top: 268px;
                            background-size: 100% 100%;
                            z-index: -1;

                            @media (min-width: $tablet_m) {
                                background-image: m_image_common_url("personas/2020/05/e-prepower-recarga-bancos-bg-desk.png");
                                height: 458px;
                                width: 820px;
                                max-width: 100%;
                                top: 0;
                                left: 0;
                                right: 0;
                                margin: auto;
                            }
                        }

                        &__item {
                            text-align: center;

                            &__img {
                                @media (min-width: $tablet_m) {
                                    display: inline-block;
                                    vertical-align: middle;
                                    width: 350px;
                                    padding-left: 90px;
                                    left: 250px;
                                    position: relative;
                                    text-align: left;
                                }

                                img {
                                    display: inline-block;
                                    margin-bottom: 30px;
                                }
                            }

                            &__text {
                                width: 165px;
                                margin: 0 auto;
                                display: block;

                                @media (min-width: $tablet_m) {
                                    display: inline-block;
                                    vertical-align: middle;
                                    width: 250px;
                                    padding-right: 30px;
                                    left: -350px;
                                    position: relative;
                                    text-align: left;
                                    min-height: 150px;
                                }

                                span {
                                    display: block;
                                    background: #6798c6;
                                    font-family: Barlow;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 100%;
                                    width: 25px;
                                    height: 25px;
                                    border-radius: 50%;
                                    color: $white;
                                    margin: auto auto 20px;
                                    padding-top: 4px;
                                    text-align: center;

                                    @media (min-width: $tablet_m) {
                                        margin: 0 0 20px;
                                    }
                                }

                                p {
                                    font-family: Barlow;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 14px;
                                    line-height: 20px;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.medium {
    @include responsive-width($laptop-s) {
        bottom: 160px !important;
    }
}

.small {
    &.slider-for__child__card {
        background: linear-gradient(114.53deg, #1067DC 19.89%, #004FB9 63.65%);
        box-shadow: 4px 3px 9px rgba(0, 78, 184, 0.35);
        border-radius: 12px;
        display: flex !important;
        flex-direction: column;
        height: 112px;
        max-width: 270px;
        padding: 15px 10px 5px;
        margin: 20px auto 0;

        @include responsive-width($laptop-s) {
            max-height: 90px;
            max-width: 320px;
            margin-left: 20px;
            padding: 10px 24px;
        }

        .slider-for__child__card__title {
            display: inline;

            @include responsive-width($laptop-s) {
                padding-left: 10px;
            }

            h4 {
                font-weight: bold;
                font-size: 14px;
                line-height: 14px;
                color: #00B9EB;
                display: inline;

                @include responsive-width($laptop-s) {
                    font-size: 16px;
                    line-height: 19px;
                }

                img {
                    max-width: 23px;
                    display: inline;
                }
            }
        }

        .slider-for__child__card__text {
            padding-left: 0;

            @include responsive-width($laptop-s) {
                padding-left: 10px;
            }

            .number {
                position: absolute;
                top: -50px;
                left: 0;
                right: 0;
                font-weight: 900;
                font-size: 16px;
                z-index: 1;

                @include responsive-width($laptop-s) {
                    font-size: 24px;
                    top: -15%;
                    left: -40px;
                    right: initial;
                }

                &::before {
                    width: 30px;
                    height: 27px;
                    left: 4px;

                    @include responsive-width($laptop-s) {
                        width: 43px;
                        height: 39px;
                        left: -6px;
                    }
                }

            }
        }
    }

    @include responsive-width($laptop-s) {
        bottom: 66px !important;
    }

    .e-btn-bottom__right {
        display: flex;
        flex-direction: column-reverse;

        @include responsive-width($laptop-s) {
            // padding-top: 20px;
        }

        p {
            display: block;
            color: $white;

            &::before {
                content: '';
            }

            @include responsive-width($laptop-s) {
                margin: 0 !important;
            }
        }

        a {
            @include responsive-width($laptop-s) {
                // margin-left: 40px;
                max-width: 200px;
            }
        }

    }
}

.e-btn-bottom {
    position: relative;
    bottom: 72px;

    @include responsive-width($laptop-s) {
        bottom: 230px;
        margin: auto;
        text-align: center;
        display: flex;
        max-width: 1000px;
    }

    &__left {
        min-width: 500px;
        display: block;

        @include responsive-width($laptop-s) {
            display: flex;
        }
    }

    &__right {
        max-width: 100%;
        margin: auto;
        display: block;
        text-align: center;

        @include responsive-width($laptop-s) {
            min-width: 500px;
            margin: auto auto auto 0;
            // display: flex;
            text-align: left;
        }

        a {
            margin: 10px auto 0;

            &::before {
                background: none !important;
            }

            @include responsive-width($laptop-s) {
                margin-left: 20px;
                margin: initial;
            }
        }

        p {
            display: none;
            // display: block;

            @include responsive-width($laptop-s) {
                display: block;
                font-weight: 500;
                font-size: 10px;
                line-height: 16px;
                color: $white;
                position: relative;
                z-index: 1;
                margin: 10px;
                padding: 10px 40px;
            }

            &::before {
                content: url($m_image_common_path+"personas/2022/01/bg-text-wp.png");
                position: absolute;
                top: 0;
                left: 20px;
                z-index: -1;
            }
        }
    }
}

.e-btn-bottom.et-warning {
    .e-btn-bottom__right {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        @include responsive-width($laptop-s) {
            margin-top: 0px;
        }
        p {
            display: block;
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            color: $white;
            margin: auto;
            position: relative;
            text-align: left;
            max-width: 250px;
            padding-left: 40px;
            @include responsive-width($laptop-s) {
                max-width: 340px;
                margin: 0;
            }
            &::before {
                content: url($m_image_common_path+"personas/2023/02/extra-text-warning-icon.png");
                position: absolute;
                top: 25%;
                left: 0px;
                z-index: -1;
                @include responsive-width($laptop-s) {
                    left: -10px;
                }
            }
        }

        a {
            @include responsive-width($laptop-s) {
                margin-top: 15px;
            }
        }
    }
}

.autoh {
    height: auto !important;
}

.e-prepago-section-canales__subslider {
    position: relative;
}

.slider-for__child {
    .slick-slide {
        @include responsive-width($laptop_s) {
            max-width: 400px;
        }

        @include responsive-width($laptop_m) {
            max-width: 436px;
        }

    }
}

.slider-for__parent {
    .slick-list {

        // @include responsive-width($laptop_s){
        //   max-height: 760px;
        // }
    }
}

.e-btn-bottom {
    margin-top: 20px;
    bottom: 0 !important;

    @include responsive-width($laptop_s) {
        // position: absolute;
        margin-left: 30px;
        margin-top: 20px;
        // min-height: unset;

        p {
            margin-left: -20px;
        }
    }
}

.e-btn-bottom__right {
    @include responsive-width($laptop_s) {
        // padding-top: 70px !important;
        // a {
        //   margin-top: 95px !important;
        //   margin-left: 40px !important;
        // }

        // .btn-yape {
        //   margin-top: 0px !important;
        //   margin-left: 35px !important;
        // }

        // .eb-new-app {
        //   margin-top: 0 !important;
        // }
    }
}

.e-prepago-section-canales__tiendas {
    .m-accordion__content {
        padding: 20px 20px;

        @include responsive-width($laptop_s) {
            .list-tiendas {
                justify-content: center;
                padding: 0 50px;
            }

            .list-farmacias {
                justify-content: center;
            }

            .list-bodega {
                justify-content: center;
            }
        }

    }

}

.e-prepago-section-canales__subslider {
    align-items: flex-end;

    @include responsive-width($laptop_s) {
        .slick__persons {
            margin-top: 0;
            margin-bottom: 0px;
        }

        margin-bottom: 0;
    }
}

.slider-for__child__card__ico {
    display: flex;
    justify-content: center;

}

.small.slider-for__child__card {
    margin: 30px auto 0;

    @include responsive-width($laptop_s) {
        margin: 20px auto 0;
        margin-left: 20px;
    }
}

.slider-for__slider__image {
    margin-top: 23px;

    // picture{
    //   display: flex;
    //   align-items: flex-end;
    // }
}

.slider-for__parent {
    display: flex;
}

.slider-for__parent__content {
    display: flex;
    align-items: flex-end;
}

.slider-for__childnew_web_recargas,
.slider-for__childweb_mientel,
.slider-for__childwhatsapp {
    .slick-list {
        height: auto !important;
    }
}
.slider-nav__childyape{
    @include responsive-width($laptop_s){
        align-self: flex-start;
    }
}
.slider-for__parent{
    @include responsive-width($laptop_s){
        margin-bottom: -4px;
    }

}
.white-txt{
    color: $white;
}