.e-personas__term {
	background: $light_gray;
}

.m-accordion--personas {
	$accordion_toggle: add-class-modifier("__toggle");
	$accordion_content: add-class-modifier("__content");
	$accordion_box: add-class-modifier("__box");

	.e-title {
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 24px;

		@include responsive-width($tablet_m) {
			letter-spacing: -0.01em;
			font-weight: 300;
			font-size: 34px;
			line-height: 102%;
		}
	}

	#{$accordion_toggle},
	#{$accordion_content} {
		background: $light_gray;
	}

	#{$accordion_toggle} {
		margin-bottom: 0px;
		margin-top: 0px;
		border: none;
		&__title {
			color: $extra_dark_gray;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;

			@include responsive-width($tablet_m) {
				font-size: 18px;
				line-height: 18px;
			}
		}
	}

	#{$accordion_box} {
		border: 1px solid #dddddd;
		border-radius: 8px;
		margin: 1rem auto;
	}

	#{$accordion_content} {
		font-size: 10px;
		color: $blue;
		border-radius: 0px 0px 8px 8px;
		border-top: 1px solid #dddddd;
		border-right: none;
		border-bottom: none;
		border-left: none;
		@include responsive-width($tablet_m) {
			font-size: 16px;
		}
		ol {
			list-style-type: decimal;
			li {
				padding-left: 0px;
			}
			li:before {
				width: 0px;
				height: 0px;
			}
		}
	}
}