section.e-section.equifax.entel-data-layer-view
  .box-tecnology
    .box-tecnology__image 
      +mx_picture_retina_all('',img_path+'/2023/02/equifax-cintillo-home-img', 'png', 'Imagen de tinder')

    div.box-tecnology__text
      p Conmemoramos el #[span.orange día de la mujer con un webinar] para tu #[span.orange independencia financiera]
    div.box-tecnology__button
      a(class='e-button e-button--outline e-button--outline-orange e-data-layer-btn' href='https://docs.google.com/forms/d/e/1FAIpQLScLWCvUvhAsfRqTOyPSMAqwjAL_Ndbrnoy-B0A3_LPAzJXyiw/viewform' target='_blank' 
      data-gtm-category='Equifax' data-gtm-product='Personas' data-gtm-tipo='Informativo'
      data-gtm-action='Seleccionar botón' data-gtm-label='Cintillo - REGISTRATE AQUÍ')