.tinder {
  // background-color:black;
  width: 100%;
  height: auto;
  margin-top: 0px;
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 0px;
  background-image: m_image_url('2022/07/tinder-bg-11-07-22-mob.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include backgound_retina {
    background-image: m_image_url('2022/07/tinder-bg-11-07-22-mob@2x.png');
  }

  @include responsive-width($tablet_m) {
    background-image: m_image_url('2022/07/tinder-bg-11-07-22-tab.png');

    @include backgound_retina {
      background-image: m_image_url('2022/07/tinder-bg-11-07-22-tab@2x.png');
    }
  }

  @include responsive-width($laptop_s) {
    background-image: m_image_url('2022/07/tinder-bg-11-07-22-desk.png');

    @include backgound_retina {
      background-image: m_image_url('2022/07/tinder-bg-11-07-22-desk@2x.png');
    }
  }


  

  @include responsive-width($tablet_m) {
    // background: linear-gradient(90.01deg, #04AFDD -1.37%, #C7F3FF 31.27%, #C1F2FF 75.94%);
  }

  @include responsive-width($laptop_s) {
    // background: linear-gradient(90.04deg, #04AFDD 13.49%, #C7F3FF 29.41%, #C1F2FF 75.93%);
  }


  .box-tecnology {
    display: flex;
    margin: 0 auto;
    padding: 0px;
    justify-content: center;
    align-items: center;
    // position: relative;


    &__image {
      width: auto;
      flex-shrink: 0;
      position: relative;
      margin-right: 10px;

      img {
        -webkit-animation: beat 3s infinite;
        animation: beat 3s infinite;
      }

      .picture-view {
        position: absolute;
        left: 7px;
        top: -5px;
        opacity: 0;
        animation: laptop-view 6s linear infinite;

        &,
        img {
          max-width: inherit;
        }

        &-1 {
          // opacity: 1;
        }

        &-2 {
          animation: laptop-view 6s linear infinite 3s;
        }
      }

      .picture-base {
        position: absolute;
        left: -61px;
        bottom: -23px;
        z-index: -1;

        &,
        img {
          max-width: inherit;
        }
      }
    }

    &__text {
      width: 130px;
      max-width: 100%;
      flex-shrink: 0;
      padding-left: 5px;
      padding-right: 5px;

      @include responsive-width(360px) {
        width: auto;
        flex-shrink: 1;
        width: 168px;
      }

      @include responsive-width($tablet_m) {
        padding: 0 15px;
        width: 470px;
      }

      @include responsive-width($laptop_s) {
        width: auto;
      }

      p {
        color: #fff;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        letter-spacing: -0.03em;
        margin-bottom: 0;

        @include responsive-width($tablet_m) {
          font-size: 16px;
        }

        @include responsive-width($laptop_s) {
          font-size: 20px;
        }

        @include responsive-width($laptop_m) {
          font-size: 18px;
        }

        b {
          color: #004FB9;
          font-weight: bold;
        }

        br {
          display: none;

          @include responsive-width(360px) {
            display: inline-block;
          }

          @include responsive-width($laptop_s) {
            display: none;
          }
        }
      }
    }

    &__button {

      a {
        display: inline-block;
        min-width: 100px;
        padding: 7px 5px;
        min-width: 100px;
        font-size: 11px;
        background: transparent !important;
        border-color: transparent !important;
        position: relative;

        @include responsive-width($tablet_m) {
          background: #FF560A no-repeat left top !important;
          border-color: #FF560A !important;
          height: 30px;
        }

        @include responsive-width($laptop_s) {
          min-width: 160px;
          height: 40px;
        }

        &::before {
          content: "INGRESAR";
          color: #ffffff;
          font-weight: bold;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-decoration: underline;
          text-transform: uppercase;
          font-weight: 700;
          // font-size: 11px;
          line-height: 18px;

          @include responsive-width($tablet_m) {
            content: "ingresa aquí";
            text-decoration: none;
            width: 100%;
          }
        }
      }
    }

  }


  @keyframes bg-white {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -51px;
    }
  }

  @keyframes bg-blue {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -46px;
    }
  }

  @keyframes laptop-view {
    0% {
      transform: scale(0.4);
      opacity: 0;
    }

    10% {
      transform: scale(1);
      opacity: 1;
    }

    40% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(0.8);
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }



}