- banner_name = 'The Lord of the Rings'
- banner_link = 'https://www.entel.pe/afL'

.entel__slider--home__item(
    data-entel-slide-index='8' 
    data-entel-slide-time='8000' 
    data-layer-id='slider_'+banner_name  
    data-layer-name='Banner'+banner_name 
    data-layer-position='Home - Banner Superior 8' 
    data-layer-creative=banner_link
    )

    .entel__slider--home__item__content.entel__slider--home__item__content--thelordoftherings
        .e-container-flex

            .e-container-flex__item.e-container-flex__item--1.fadeInLeft
                div
                    //- +lazy_image_webp_retina('2021/12/e-home-banner-fms-entel', 'png', 'Logo Entel')
                    h2.title.e-tc--white Con #[strong Entel] disfruta #[strong Prime Video] hoy
                    .suscripcion
                        span.invitacion.e-tc--white Te invitamos los primeros
                        span.meses.e-tc--white 3 meses
                        span.descripcion.e-tc--white Suscríbete y a partir del 4to mes se cargará en tu recibo S/16.99 por mes.
                    a(class='e-button e-button--orange entel-data-layer-btn-header' href=banner_link 
                    target='_BLANK'
                    data-gtm-category='Home Banner' data-gtm-action='Seleccionar botón' data-gtm-label='The Lord of the Rings - Suscríbete aquí' data-gtm-product='Personas' data-gtm-tipo='Informativo'
                    ) Suscríbete aquí

            .e-container-flex__item.e-container-flex__item--2.fadeInRight
                +lazy_image_webp_retina("2022/08/prime-video-los-anillos-del-poder-texto-logo-v2", "png", banner_name, "")