@keyframes beat {
  from {
    transform: none;
  }

  80% {
    transform: scale(0.8);
  }

  to {
    transform: none;
  }
}
@keyframes beat-heart-right {
  from {
    transform: rotate(70deg) scale(1);
  }

  80% {
    transform: rotate(70deg) scale(2);
  }

  to {
    transform: rotate(70deg) scale(1);
  }
}
@keyframes beat-heart-left {
  from {
    transform: rotate(0) scale(1);
  }

  80% {
    transform: rotate(0) scale(2);
  }

  to {
    transform: rotate(0) scale(1);
  }
}

@keyframes beat-mob {
  from {
    transform: scale(0.75);
  }

  80% {
    transform: scale(0.8);
  }

  to {
    transform: scale(0.75);
  }
}

@keyframes heart-rotate {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(360deg);
  }
}

.heart-rotate {
  -webkit-animation: heart-rotate 6s infinite;
  animation: heart-rotate 6s infinite;
}

.parpadea {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes beat {
  from {
    transform: none;
  }

  80% {
    transform: scale(0.8);
  }

  to {
    transform: none;
  }
}

.beat {
  -webkit-animation: beat 3s infinite;
  animation: beat 3s infinite;
}

@keyframes beat-mob {
  from {
    transform: scale(0.75);
  }

  80% {
    transform: scale(0.8);
  }

  to {
    transform: scale(0.75);
  }
}

@keyframes heart-rotate {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(360deg);
  }
}

.heart-rotate {
  -webkit-animation: heart-rotate 6s infinite;
  animation: heart-rotate 6s infinite;
}

.parpadea {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes parpadeo {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes top-bottom {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.top-bottom {
  -webkit-animation: top-bottom 6s linear infinite;
  animation: top-bottom 6s linear infinite;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.rotar {
  animation: rotar 5s infinite linear;
}
