// Color text
$text_list: (
  ("white", $white),
  ("blue", $blue),
  ("extra-blue", $extra_blue),
  ("orange", $orange),
  ("black", $black),
  ("default", $extra_light_black),
  ("40DAFF", #40daff),
  ("383C47", #383c47),
  ("00B9EB", #00b9eb),
  ("191919", #191919),
  ("e-blue", #002EFF)
);
@each $text-nombre-list, $text-color-list in $text_list {
  .e-tc--#{$text-nombre-list} {
    color: $text-color-list !important;

    &:hover {
      color: $text-color-list !important;
    }
  }
}


//Anchos Fijos
$list-width: (0);
@each $width in $list-width {
  .e-w-#{$width} {
    width: $width * 1px;
    max-width: 100%;
  }
}

//Margin
$list-margin: (0);
@each $margin in $list-margin {
  .e-mt-#{$margin} {
    margin-top: $margin * 1px;
  }
  .e-mr-#{$margin} {
    margin-right: $margin * 1px;
  }
  .e-mb-#{$margin} {
    margin-bottom: $margin * 1px;
  }
  .e-ml-#{$margin} {
    margin-left: $margin * 1px;
  }

  @include responsive-width($tablet_m) {
    .e-mt-#{$margin}-768 {
      margin-top: $margin * 1px;
    }
    .e-mr-#{$margin}-768 {
      margin-right: $margin * 1px;
    }
    .e-mb-#{$margin}-768 {
      margin-bottom: $margin * 1px;
    }
    .e-ml-#{$margin}-768 {
      margin-left: $margin * 1px;
    }
  }
}

//Padding
$list-padding: (0);
@each $padding in $list-padding {
  .e-pt-#{$padding} {
    padding-top: $padding * 1px;
  }
  .e-pr-#{$padding} {
    padding-right: $padding * 1px;
  }
  .e-pb-#{$padding} {
    padding-bottom: $padding * 1px;
  }
  .e-pl-#{$padding} {
    padding-left: $padding * 1px;
  }

  @include responsive-width($tablet_m) {
    .e-pt-#{$padding}-768 {
      padding-top: $padding * 1px;
    }
    .e-pr-#{$padding}-768 {
      padding-right: $padding * 1px;
    }
    .e-pb-#{$padding}-768 {
      padding-bottom: $padding * 1px;
    }
    .e-pl-#{$padding}-768 {
      padding-left: $padding * 1px;
    }
  }
}

// Fuentes variables
// Fuentes variables
@mixin fz($fzs,$fzm,$fzl){
  font-size: $fzs * 1px!important;
  @include responsive-width($tablet_m){
      font-size: $fzm * 1px!important;
  }
  @include responsive-width($laptop_s){
      font-size: $fzl * 1px!important;
  }
}
// @include fz(1,2,3);

@mixin w($w) {
  width: $w * 1px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
.d-inline {
  display: inline;
}
.show-tablet{
  display: none;
  @include responsive-width($tablet_m){
    display: inherit;
  }
}

