$m_image_common_path: "../../../../assets/img/" !default;

// plugins
@import "../../../plugin/slick-carousel";

// base styles
@import "../../../base/base";
@import "../../../components/componentes";
@import "./components/_components";

$m_image_path: "../../../../assets/img/personas/home/" !default;
$container: 970px;
@import "custom";
@import "animations";

// @import "entel_bannerform"; // solo para formularios c2c
// common styles
// @import './theme/index';

// principal styles
//@import "./sections/top-banner";
// @import "./sections/entel-access";
@import "./sections/entel-access-test-a-b";
//- new countdown and pre cintillos

@import "./sections/headband/index.scss";
@import "./sections/banners";
// @import "./sections/countdown";
// @import "./sections/cintillo_entel_top";
@import "./sections/phones";
@import "./sections/menu";

// @import "./sections/entel-world";
@import "./sections/benefits";
@import "./sections/services";
// @import "./sections/app";
@import "./sections/roaming";

@import "./sections/contact";
// @import "./sections/autoservice";
@import "./sections/cintillo-footer";
@import "./resets/index";
@import "./sections/inbound";
// @import "./sections/btn-app";

@import "./modals/modal_migra.scss";
@import "./modals/modal_moviles.scss";

// sprites
@import "./sprite";
@include retina-sprites($retina-groups);

