// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-alcatel-name: 'icon-alcatel';
$icon-alcatel-x: 0px;
$icon-alcatel-y: 209px;
$icon-alcatel-offset-x: 0px;
$icon-alcatel-offset-y: -209px;
$icon-alcatel-width: 136px;
$icon-alcatel-height: 45px;
$icon-alcatel-total-width: 448px;
$icon-alcatel-total-height: 372px;
$icon-alcatel-image: '~spritev-home.2.2.png';
$icon-alcatel: (0px, 209px, 0px, -209px, 136px, 45px, 448px, 372px, '~spritev-home.2.2.png', 'icon-alcatel', );
$icon-apple-name: 'icon-apple';
$icon-apple-x: 0px;
$icon-apple-y: 77px;
$icon-apple-offset-x: 0px;
$icon-apple-offset-y: -77px;
$icon-apple-width: 136px;
$icon-apple-height: 46px;
$icon-apple-total-width: 448px;
$icon-apple-total-height: 372px;
$icon-apple-image: '~spritev-home.2.2.png';
$icon-apple: (0px, 77px, 0px, -77px, 136px, 46px, 448px, 372px, '~spritev-home.2.2.png', 'icon-apple', );
$icon-flags-v2-name: 'icon-flags-v2';
$icon-flags-v2-x: 0px;
$icon-flags-v2-y: 339px;
$icon-flags-v2-offset-x: 0px;
$icon-flags-v2-offset-y: -339px;
$icon-flags-v2-width: 47px;
$icon-flags-v2-height: 33px;
$icon-flags-v2-total-width: 448px;
$icon-flags-v2-total-height: 372px;
$icon-flags-v2-image: '~spritev-home.2.2.png';
$icon-flags-v2: (0px, 339px, 0px, -339px, 47px, 33px, 448px, 372px, '~spritev-home.2.2.png', 'icon-flags-v2', );
$icon-flags-v3-name: 'icon-flags-v3';
$icon-flags-v3-x: 67px;
$icon-flags-v3-y: 339px;
$icon-flags-v3-offset-x: -67px;
$icon-flags-v3-offset-y: -339px;
$icon-flags-v3-width: 41px;
$icon-flags-v3-height: 29px;
$icon-flags-v3-total-width: 448px;
$icon-flags-v3-total-height: 372px;
$icon-flags-v3-image: '~spritev-home.2.2.png';
$icon-flags-v3: (67px, 339px, -67px, -339px, 41px, 29px, 448px, 372px, '~spritev-home.2.2.png', 'icon-flags-v3', );
$icon-flags-name: 'icon-flags';
$icon-flags-x: 281px;
$icon-flags-y: 274px;
$icon-flags-offset-x: -281px;
$icon-flags-offset-y: -274px;
$icon-flags-width: 102px;
$icon-flags-height: 14px;
$icon-flags-total-width: 448px;
$icon-flags-total-height: 372px;
$icon-flags-image: '~spritev-home.2.2.png';
$icon-flags: (281px, 274px, -281px, -274px, 102px, 14px, 448px, 372px, '~spritev-home.2.2.png', 'icon-flags', );
$icon-huawei-name: 'icon-huawei';
$icon-huawei-x: 156px;
$icon-huawei-y: 0px;
$icon-huawei-offset-x: -156px;
$icon-huawei-offset-y: 0px;
$icon-huawei-width: 136px;
$icon-huawei-height: 46px;
$icon-huawei-total-width: 448px;
$icon-huawei-total-height: 372px;
$icon-huawei-image: '~spritev-home.2.2.png';
$icon-huawei: (156px, 0px, -156px, 0px, 136px, 46px, 448px, 372px, '~spritev-home.2.2.png', 'icon-huawei', );
$icon-lenovo-name: 'icon-lenovo';
$icon-lenovo-x: 156px;
$icon-lenovo-y: 209px;
$icon-lenovo-offset-x: -156px;
$icon-lenovo-offset-y: -209px;
$icon-lenovo-width: 136px;
$icon-lenovo-height: 45px;
$icon-lenovo-total-width: 448px;
$icon-lenovo-total-height: 372px;
$icon-lenovo-image: '~spritev-home.2.2.png';
$icon-lenovo: (156px, 209px, -156px, -209px, 136px, 45px, 448px, 372px, '~spritev-home.2.2.png', 'icon-lenovo', );
$icon-lg-name: 'icon-lg';
$icon-lg-x: 156px;
$icon-lg-y: 66px;
$icon-lg-offset-x: -156px;
$icon-lg-offset-y: -66px;
$icon-lg-width: 136px;
$icon-lg-height: 46px;
$icon-lg-total-width: 448px;
$icon-lg-total-height: 372px;
$icon-lg-image: '~spritev-home.2.2.png';
$icon-lg: (156px, 66px, -156px, -66px, 136px, 46px, 448px, 372px, '~spritev-home.2.2.png', 'icon-lg', );
$icon-motorola-name: 'icon-motorola';
$icon-motorola-x: 312px;
$icon-motorola-y: 0px;
$icon-motorola-offset-x: -312px;
$icon-motorola-offset-y: 0px;
$icon-motorola-width: 136px;
$icon-motorola-height: 45px;
$icon-motorola-total-width: 448px;
$icon-motorola-total-height: 372px;
$icon-motorola-image: '~spritev-home.2.2.png';
$icon-motorola: (312px, 0px, -312px, 0px, 136px, 45px, 448px, 372px, '~spritev-home.2.2.png', 'icon-motorola', );
$icon-nokia-name: 'icon-nokia';
$icon-nokia-x: 312px;
$icon-nokia-y: 65px;
$icon-nokia-offset-x: -312px;
$icon-nokia-offset-y: -65px;
$icon-nokia-width: 136px;
$icon-nokia-height: 45px;
$icon-nokia-total-width: 448px;
$icon-nokia-total-height: 372px;
$icon-nokia-image: '~spritev-home.2.2.png';
$icon-nokia: (312px, 65px, -312px, -65px, 136px, 45px, 448px, 372px, '~spritev-home.2.2.png', 'icon-nokia', );
$icon-own-name: 'icon-own';
$icon-own-x: 312px;
$icon-own-y: 130px;
$icon-own-offset-x: -312px;
$icon-own-offset-y: -130px;
$icon-own-width: 136px;
$icon-own-height: 45px;
$icon-own-total-width: 448px;
$icon-own-total-height: 372px;
$icon-own-image: '~spritev-home.2.2.png';
$icon-own: (312px, 130px, -312px, -130px, 136px, 45px, 448px, 372px, '~spritev-home.2.2.png', 'icon-own', );
$icon-poco-name: 'icon-poco';
$icon-poco-x: 312px;
$icon-poco-y: 195px;
$icon-poco-offset-x: -312px;
$icon-poco-offset-y: -195px;
$icon-poco-width: 136px;
$icon-poco-height: 45px;
$icon-poco-total-width: 448px;
$icon-poco-total-height: 372px;
$icon-poco-image: '~spritev-home.2.2.png';
$icon-poco: (312px, 195px, -312px, -195px, 136px, 45px, 448px, 372px, '~spritev-home.2.2.png', 'icon-poco', );
$icon-realme-name: 'icon-realme';
$icon-realme-x: 0px;
$icon-realme-y: 0px;
$icon-realme-offset-x: 0px;
$icon-realme-offset-y: 0px;
$icon-realme-width: 136px;
$icon-realme-height: 57px;
$icon-realme-total-width: 448px;
$icon-realme-total-height: 372px;
$icon-realme-image: '~spritev-home.2.2.png';
$icon-realme: (0px, 0px, 0px, 0px, 136px, 57px, 448px, 372px, '~spritev-home.2.2.png', 'icon-realme', );
$icon-samsung-name: 'icon-samsung';
$icon-samsung-x: 0px;
$icon-samsung-y: 143px;
$icon-samsung-offset-x: 0px;
$icon-samsung-offset-y: -143px;
$icon-samsung-width: 136px;
$icon-samsung-height: 46px;
$icon-samsung-total-width: 448px;
$icon-samsung-total-height: 372px;
$icon-samsung-image: '~spritev-home.2.2.png';
$icon-samsung: (0px, 143px, 0px, -143px, 136px, 46px, 448px, 372px, '~spritev-home.2.2.png', 'icon-samsung', );
$icon-sony-name: 'icon-sony';
$icon-sony-x: 0px;
$icon-sony-y: 274px;
$icon-sony-offset-x: 0px;
$icon-sony-offset-y: -274px;
$icon-sony-width: 136px;
$icon-sony-height: 45px;
$icon-sony-total-width: 448px;
$icon-sony-total-height: 372px;
$icon-sony-image: '~spritev-home.2.2.png';
$icon-sony: (0px, 274px, 0px, -274px, 136px, 45px, 448px, 372px, '~spritev-home.2.2.png', 'icon-sony', );
$icon-xiaomi-name: 'icon-xiaomi';
$icon-xiaomi-x: 156px;
$icon-xiaomi-y: 274px;
$icon-xiaomi-offset-x: -156px;
$icon-xiaomi-offset-y: -274px;
$icon-xiaomi-width: 105px;
$icon-xiaomi-height: 30px;
$icon-xiaomi-total-width: 448px;
$icon-xiaomi-total-height: 372px;
$icon-xiaomi-image: '~spritev-home.2.2.png';
$icon-xiaomi: (156px, 274px, -156px, -274px, 105px, 30px, 448px, 372px, '~spritev-home.2.2.png', 'icon-xiaomi', );
$icon-zte-name: 'icon-zte';
$icon-zte-x: 156px;
$icon-zte-y: 143px;
$icon-zte-offset-x: -156px;
$icon-zte-offset-y: -143px;
$icon-zte-width: 136px;
$icon-zte-height: 46px;
$icon-zte-total-width: 448px;
$icon-zte-total-height: 372px;
$icon-zte-image: '~spritev-home.2.2.png';
$icon-zte: (156px, 143px, -156px, -143px, 136px, 46px, 448px, 372px, '~spritev-home.2.2.png', 'icon-zte', );
$retina-icon-alcatel-name: 'retina_icon-alcatel';
$retina-icon-alcatel-x: 0px;
$retina-icon-alcatel-y: 154px;
$retina-icon-alcatel-offset-x: 0px;
$retina-icon-alcatel-offset-y: -154px;
$retina-icon-alcatel-width: 272px;
$retina-icon-alcatel-height: 90px;
$retina-icon-alcatel-total-width: 896px;
$retina-icon-alcatel-total-height: 740px;
$retina-icon-alcatel-image: '~spritev-home.2.2@2x.png';
$retina-icon-alcatel: (0px, 154px, 0px, -154px, 272px, 90px, 896px, 740px, '~spritev-home.2.2@2x.png', 'retina_icon-alcatel', );
$retina-icon-apple-name: 'retina_icon-apple';
$retina-icon-apple-x: 312px;
$retina-icon-apple-y: 0px;
$retina-icon-apple-offset-x: -312px;
$retina-icon-apple-offset-y: 0px;
$retina-icon-apple-width: 272px;
$retina-icon-apple-height: 90px;
$retina-icon-apple-total-width: 896px;
$retina-icon-apple-total-height: 740px;
$retina-icon-apple-image: '~spritev-home.2.2@2x.png';
$retina-icon-apple: (312px, 0px, -312px, 0px, 272px, 90px, 896px, 740px, '~spritev-home.2.2@2x.png', 'retina_icon-apple', );
$retina-icon-flags-v2-name: 'retina_icon-flags-v2';
$retina-icon-flags-v2-x: 0px;
$retina-icon-flags-v2-y: 674px;
$retina-icon-flags-v2-offset-x: 0px;
$retina-icon-flags-v2-offset-y: -674px;
$retina-icon-flags-v2-width: 94px;
$retina-icon-flags-v2-height: 66px;
$retina-icon-flags-v2-total-width: 896px;
$retina-icon-flags-v2-total-height: 740px;
$retina-icon-flags-v2-image: '~spritev-home.2.2@2x.png';
$retina-icon-flags-v2: (0px, 674px, 0px, -674px, 94px, 66px, 896px, 740px, '~spritev-home.2.2@2x.png', 'retina_icon-flags-v2', );
$retina-icon-flags-v3-name: 'retina_icon-flags-v3';
$retina-icon-flags-v3-x: 134px;
$retina-icon-flags-v3-y: 674px;
$retina-icon-flags-v3-offset-x: -134px;
$retina-icon-flags-v3-offset-y: -674px;
$retina-icon-flags-v3-width: 81px;
$retina-icon-flags-v3-height: 57px;
$retina-icon-flags-v3-total-width: 896px;
$retina-icon-flags-v3-total-height: 740px;
$retina-icon-flags-v3-image: '~spritev-home.2.2@2x.png';
$retina-icon-flags-v3: (134px, 674px, -134px, -674px, 81px, 57px, 896px, 740px, '~spritev-home.2.2@2x.png', 'retina_icon-flags-v3', );
$retina-icon-flags-name: 'retina_icon-flags';
$retina-icon-flags-x: 562px;
$retina-icon-flags-y: 544px;
$retina-icon-flags-offset-x: -562px;
$retina-icon-flags-offset-y: -544px;
$retina-icon-flags-width: 204px;
$retina-icon-flags-height: 28px;
$retina-icon-flags-total-width: 896px;
$retina-icon-flags-total-height: 740px;
$retina-icon-flags-image: '~spritev-home.2.2@2x.png';
$retina-icon-flags: (562px, 544px, -562px, -544px, 204px, 28px, 896px, 740px, '~spritev-home.2.2@2x.png', 'retina_icon-flags', );
$retina-icon-huawei-name: 'retina_icon-huawei';
$retina-icon-huawei-x: 312px;
$retina-icon-huawei-y: 130px;
$retina-icon-huawei-offset-x: -312px;
$retina-icon-huawei-offset-y: -130px;
$retina-icon-huawei-width: 272px;
$retina-icon-huawei-height: 90px;
$retina-icon-huawei-total-width: 896px;
$retina-icon-huawei-total-height: 740px;
$retina-icon-huawei-image: '~spritev-home.2.2@2x.png';
$retina-icon-huawei: (312px, 130px, -312px, -130px, 272px, 90px, 896px, 740px, '~spritev-home.2.2@2x.png', 'retina_icon-huawei', );
$retina-icon-lenovo-name: 'retina_icon-lenovo';
$retina-icon-lenovo-x: 0px;
$retina-icon-lenovo-y: 284px;
$retina-icon-lenovo-offset-x: 0px;
$retina-icon-lenovo-offset-y: -284px;
$retina-icon-lenovo-width: 272px;
$retina-icon-lenovo-height: 90px;
$retina-icon-lenovo-total-width: 896px;
$retina-icon-lenovo-total-height: 740px;
$retina-icon-lenovo-image: '~spritev-home.2.2@2x.png';
$retina-icon-lenovo: (0px, 284px, 0px, -284px, 272px, 90px, 896px, 740px, '~spritev-home.2.2@2x.png', 'retina_icon-lenovo', );
$retina-icon-lg-name: 'retina_icon-lg';
$retina-icon-lg-x: 312px;
$retina-icon-lg-y: 284px;
$retina-icon-lg-offset-x: -312px;
$retina-icon-lg-offset-y: -284px;
$retina-icon-lg-width: 272px;
$retina-icon-lg-height: 90px;
$retina-icon-lg-total-width: 896px;
$retina-icon-lg-total-height: 740px;
$retina-icon-lg-image: '~spritev-home.2.2@2x.png';
$retina-icon-lg: (312px, 284px, -312px, -284px, 272px, 90px, 896px, 740px, '~spritev-home.2.2@2x.png', 'retina_icon-lg', );
$retina-icon-motorola-name: 'retina_icon-motorola';
$retina-icon-motorola-x: 0px;
$retina-icon-motorola-y: 414px;
$retina-icon-motorola-offset-x: 0px;
$retina-icon-motorola-offset-y: -414px;
$retina-icon-motorola-width: 272px;
$retina-icon-motorola-height: 90px;
$retina-icon-motorola-total-width: 896px;
$retina-icon-motorola-total-height: 740px;
$retina-icon-motorola-image: '~spritev-home.2.2@2x.png';
$retina-icon-motorola: (0px, 414px, 0px, -414px, 272px, 90px, 896px, 740px, '~spritev-home.2.2@2x.png', 'retina_icon-motorola', );
$retina-icon-nokia-name: 'retina_icon-nokia';
$retina-icon-nokia-x: 312px;
$retina-icon-nokia-y: 414px;
$retina-icon-nokia-offset-x: -312px;
$retina-icon-nokia-offset-y: -414px;
$retina-icon-nokia-width: 272px;
$retina-icon-nokia-height: 90px;
$retina-icon-nokia-total-width: 896px;
$retina-icon-nokia-total-height: 740px;
$retina-icon-nokia-image: '~spritev-home.2.2@2x.png';
$retina-icon-nokia: (312px, 414px, -312px, -414px, 272px, 90px, 896px, 740px, '~spritev-home.2.2@2x.png', 'retina_icon-nokia', );
$retina-icon-own-name: 'retina_icon-own';
$retina-icon-own-x: 624px;
$retina-icon-own-y: 0px;
$retina-icon-own-offset-x: -624px;
$retina-icon-own-offset-y: 0px;
$retina-icon-own-width: 272px;
$retina-icon-own-height: 90px;
$retina-icon-own-total-width: 896px;
$retina-icon-own-total-height: 740px;
$retina-icon-own-image: '~spritev-home.2.2@2x.png';
$retina-icon-own: (624px, 0px, -624px, 0px, 272px, 90px, 896px, 740px, '~spritev-home.2.2@2x.png', 'retina_icon-own', );
$retina-icon-poco-name: 'retina_icon-poco';
$retina-icon-poco-x: 624px;
$retina-icon-poco-y: 130px;
$retina-icon-poco-offset-x: -624px;
$retina-icon-poco-offset-y: -130px;
$retina-icon-poco-width: 272px;
$retina-icon-poco-height: 90px;
$retina-icon-poco-total-width: 896px;
$retina-icon-poco-total-height: 740px;
$retina-icon-poco-image: '~spritev-home.2.2@2x.png';
$retina-icon-poco: (624px, 130px, -624px, -130px, 272px, 90px, 896px, 740px, '~spritev-home.2.2@2x.png', 'retina_icon-poco', );
$retina-icon-realme-name: 'retina_icon-realme';
$retina-icon-realme-x: 0px;
$retina-icon-realme-y: 0px;
$retina-icon-realme-offset-x: 0px;
$retina-icon-realme-offset-y: 0px;
$retina-icon-realme-width: 272px;
$retina-icon-realme-height: 114px;
$retina-icon-realme-total-width: 896px;
$retina-icon-realme-total-height: 740px;
$retina-icon-realme-image: '~spritev-home.2.2@2x.png';
$retina-icon-realme: (0px, 0px, 0px, 0px, 272px, 114px, 896px, 740px, '~spritev-home.2.2@2x.png', 'retina_icon-realme', );
$retina-icon-samsung-name: 'retina_icon-samsung';
$retina-icon-samsung-x: 624px;
$retina-icon-samsung-y: 260px;
$retina-icon-samsung-offset-x: -624px;
$retina-icon-samsung-offset-y: -260px;
$retina-icon-samsung-width: 272px;
$retina-icon-samsung-height: 90px;
$retina-icon-samsung-total-width: 896px;
$retina-icon-samsung-total-height: 740px;
$retina-icon-samsung-image: '~spritev-home.2.2@2x.png';
$retina-icon-samsung: (624px, 260px, -624px, -260px, 272px, 90px, 896px, 740px, '~spritev-home.2.2@2x.png', 'retina_icon-samsung', );
$retina-icon-sony-name: 'retina_icon-sony';
$retina-icon-sony-x: 624px;
$retina-icon-sony-y: 390px;
$retina-icon-sony-offset-x: -624px;
$retina-icon-sony-offset-y: -390px;
$retina-icon-sony-width: 272px;
$retina-icon-sony-height: 90px;
$retina-icon-sony-total-width: 896px;
$retina-icon-sony-total-height: 740px;
$retina-icon-sony-image: '~spritev-home.2.2@2x.png';
$retina-icon-sony: (624px, 390px, -624px, -390px, 272px, 90px, 896px, 740px, '~spritev-home.2.2@2x.png', 'retina_icon-sony', );
$retina-icon-xiaomi-name: 'retina_icon-xiaomi';
$retina-icon-xiaomi-x: 312px;
$retina-icon-xiaomi-y: 544px;
$retina-icon-xiaomi-offset-x: -312px;
$retina-icon-xiaomi-offset-y: -544px;
$retina-icon-xiaomi-width: 210px;
$retina-icon-xiaomi-height: 60px;
$retina-icon-xiaomi-total-width: 896px;
$retina-icon-xiaomi-total-height: 740px;
$retina-icon-xiaomi-image: '~spritev-home.2.2@2x.png';
$retina-icon-xiaomi: (312px, 544px, -312px, -544px, 210px, 60px, 896px, 740px, '~spritev-home.2.2@2x.png', 'retina_icon-xiaomi', );
$retina-icon-zte-name: 'retina_icon-zte';
$retina-icon-zte-x: 0px;
$retina-icon-zte-y: 544px;
$retina-icon-zte-offset-x: 0px;
$retina-icon-zte-offset-y: -544px;
$retina-icon-zte-width: 272px;
$retina-icon-zte-height: 90px;
$retina-icon-zte-total-width: 896px;
$retina-icon-zte-total-height: 740px;
$retina-icon-zte-image: '~spritev-home.2.2@2x.png';
$retina-icon-zte: (0px, 544px, 0px, -544px, 272px, 90px, 896px, 740px, '~spritev-home.2.2@2x.png', 'retina_icon-zte', );
$spritesheet-width: 448px;
$spritesheet-height: 372px;
$spritesheet-image: '~spritev-home.2.2.png';
$spritesheet-sprites: ($icon-alcatel, $icon-apple, $icon-flags-v2, $icon-flags-v3, $icon-flags, $icon-huawei, $icon-lenovo, $icon-lg, $icon-motorola, $icon-nokia, $icon-own, $icon-poco, $icon-realme, $icon-samsung, $icon-sony, $icon-xiaomi, $icon-zte, );
$spritesheet: (448px, 372px, '~spritev-home.2.2.png', $spritesheet-sprites, );
$retina-spritesheet-width: 896px;
$retina-spritesheet-height: 740px;
$retina-spritesheet-image: '~spritev-home.2.2@2x.png';
$retina-spritesheet-sprites: ($retina-icon-alcatel, $retina-icon-apple, $retina-icon-flags-v2, $retina-icon-flags-v3, $retina-icon-flags, $retina-icon-huawei, $retina-icon-lenovo, $retina-icon-lg, $retina-icon-motorola, $retina-icon-nokia, $retina-icon-own, $retina-icon-poco, $retina-icon-realme, $retina-icon-samsung, $retina-icon-sony, $retina-icon-xiaomi, $retina-icon-zte, );
$retina-spritesheet: (896px, 740px, '~spritev-home.2.2@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$icon-alcatel-group-name: 'icon-alcatel';
$icon-alcatel-group: ('icon-alcatel', $icon-alcatel, $retina-icon-alcatel, );
$icon-apple-group-name: 'icon-apple';
$icon-apple-group: ('icon-apple', $icon-apple, $retina-icon-apple, );
$icon-flags-v2-group-name: 'icon-flags-v2';
$icon-flags-v2-group: ('icon-flags-v2', $icon-flags-v2, $retina-icon-flags-v2, );
$icon-flags-v3-group-name: 'icon-flags-v3';
$icon-flags-v3-group: ('icon-flags-v3', $icon-flags-v3, $retina-icon-flags-v3, );
$icon-flags-group-name: 'icon-flags';
$icon-flags-group: ('icon-flags', $icon-flags, $retina-icon-flags, );
$icon-huawei-group-name: 'icon-huawei';
$icon-huawei-group: ('icon-huawei', $icon-huawei, $retina-icon-huawei, );
$icon-lenovo-group-name: 'icon-lenovo';
$icon-lenovo-group: ('icon-lenovo', $icon-lenovo, $retina-icon-lenovo, );
$icon-lg-group-name: 'icon-lg';
$icon-lg-group: ('icon-lg', $icon-lg, $retina-icon-lg, );
$icon-motorola-group-name: 'icon-motorola';
$icon-motorola-group: ('icon-motorola', $icon-motorola, $retina-icon-motorola, );
$icon-nokia-group-name: 'icon-nokia';
$icon-nokia-group: ('icon-nokia', $icon-nokia, $retina-icon-nokia, );
$icon-own-group-name: 'icon-own';
$icon-own-group: ('icon-own', $icon-own, $retina-icon-own, );
$icon-poco-group-name: 'icon-poco';
$icon-poco-group: ('icon-poco', $icon-poco, $retina-icon-poco, );
$icon-realme-group-name: 'icon-realme';
$icon-realme-group: ('icon-realme', $icon-realme, $retina-icon-realme, );
$icon-samsung-group-name: 'icon-samsung';
$icon-samsung-group: ('icon-samsung', $icon-samsung, $retina-icon-samsung, );
$icon-sony-group-name: 'icon-sony';
$icon-sony-group: ('icon-sony', $icon-sony, $retina-icon-sony, );
$icon-xiaomi-group-name: 'icon-xiaomi';
$icon-xiaomi-group: ('icon-xiaomi', $icon-xiaomi, $retina-icon-xiaomi, );
$icon-zte-group-name: 'icon-zte';
$icon-zte-group: ('icon-zte', $icon-zte, $retina-icon-zte, );
$retina-groups: ($icon-alcatel-group, $icon-apple-group, $icon-flags-v2-group, $icon-flags-v3-group, $icon-flags-group, $icon-huawei-group, $icon-lenovo-group, $icon-lg-group, $icon-motorola-group, $icon-nokia-group, $icon-own-group, $icon-poco-group, $icon-realme-group, $icon-samsung-group, $icon-sony-group, $icon-xiaomi-group, $icon-zte-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
