&--equipo-app {
  background-color: #fff;
  background-position: bottom;
  background-size: 100% 240px;
  background-repeat: no-repeat;
  background-image: m_image_url("2022/06/bg-app-equipo-mob.png");
  @include backgound_retina {
    background-image: m_image_url("2022/06/bg-app-equipo-mob@2x.png");
  }
  @include responsive-width($tablet_s) {
    background-size: 100% 280px;
    background-image: m_image_url("2022/06/bg-app-equipo-tab.png");
    @include backgound_retina {
      background-image: m_image_url("2022/06/bg-app-equipo-tab@2x.png");
    }
  }
  @include responsive-width($laptop_s) {
    background-size: 100% 300px;
    background-image: m_image_url("2022/06/bg-app-equipo-desk.png");
    @include backgound_retina {
      background-image: m_image_url("2022/06/bg-app-equipo-desk@2x.png");
    }
  }
  .e-container-flex {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 100% !important;
    &__item {
      width: 100%;
      height: 100% !important;
      // @include responsive-width($tablet_s){
      //   width: 50% !important;
      // }
    }
    @include responsive-width($tablet_s) {
      flex-direction: row;
      align-items: start;
      justify-content: center;
    }
  }
  .heart-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    @include responsive-width($tablet_s) {
      width: 30%;
      left: 0;
    }
   
    @include responsive-width($laptop_s) {
      width: 40%;
      left: 10%;
    }
  }
  .heart-blue {
    display: inline-block;
    position: relative;
    &__1,
    &__2,
    &__3,
    &__4 {
      svg {
        -webkit-animation: beat-heart-left 3s infinite linear;
        animation: beat-heart-left 3s infinite linear;
      }
    }

    &__5,
    &__6,
    &__7,
    &__8 {
      svg {
        -webkit-animation: beat-heart-right 3s infinite linear;
        animation: beat-heart-right 3s infinite linear;
      }
    }
    &__9,
    &__10,
    &__11,
    &__12 {
      @include responsive-width($tablet_s) {
        svg {
          -webkit-animation: beat-heart-right 3s infinite linear;
          animation: beat-heart-right 3s infinite linear;
        }
      }
    }
    &__1 {
      width: 30px;
      top: 10%;
      @include responsive-width($tablet_s) {
        left: 0px;
      }
      @include responsive-width($laptop_s) {
        width: 44px;
      }
    }
    &__2 {
      width: 19px;
      top: 40%;
      left: 0;
      @include responsive-width($tablet_s) {
        width: 30px;
        left: -40%;
      }
      @include responsive-width($laptop_s) {
        width: 27px;
      }
    }
    &__3 {
      width: 19px;
      top: 35%;
      left: 10%;
      @include responsive-width($tablet_s) {
        left: -50px;
        top: 45%;
      }
      @include responsive-width($laptop_s) {
        width: 27px;
      }
    }
    &__4 {
      width: 30px;
      top: 65%;
      left: 0;
      @include responsive-width($tablet_s) {
        left: -30%;
        top: 75%;
      }
      @include responsive-width($laptop_s) {
        width: 47px;
      }
    }
    &__5 {
      width: 32px;
      left: 60%;
      top: 10%;
      @include responsive-width($tablet_s) {
        width: 25px;
        left: 5%;
      }
      @include responsive-width($laptop_s) {
        width: 31px;
        // top: 0;
      }
    }
    &__6 {
      width: 22px;
      left: 20%;
      top: 30%;
      @include responsive-width($tablet_s) {
        width: 18px;
        left: 20%;
        top: 25%;
      }
      @include responsive-width($laptop_s) {
        width: 23px;
        // top: 20%;
        // left: -20%;
      }
    }
    &__7 {
      width: 22px;
      left: 38%;
      top: 42%;
      @include responsive-width($tablet_s) {
        width: 14px;
        left: 10%;
        top: 50%;
      }
      @include responsive-width($laptop_s) {
        width: 33px;
        // top: 32%;
        // left: 0%;
      }
    }
    &__8 {
      width: 32px;
      left: 30%;
      top: 60%;
      @include responsive-width($tablet_s) {
        width: 24px;
        left: 70%;
      }
      @include responsive-width($laptop_s) {
        width: 33px;
        top: 70%;
        left: -50px;
      }
    }
    &__9 {
      @include responsive-width($tablet_s) {
        width: 24px;
        left: 70%;
        top: 10%;
      }
      @include responsive-width($laptop_s) {
        width: 31px;
        // top: 10%;
        // left: 120%;
      }
    }
    &__10 {
      @include responsive-width($tablet_s) {
        width: 14px;
        left: 80%;
        top: 25%;
      }
      @include responsive-width($laptop_s) {
        width: 24px;
        // top: 20%;
        // left: 90%;
      }
    }
    &__11 {
      @include responsive-width($tablet_s) {
        width: 24px;
        left: 75%;
        top: 45%;
      }
      @include responsive-width($laptop_s) {
        width: 33px;
        // top: 50%;
        // left: 112%;
      }
    }
    &__12 {
      @include responsive-width($tablet_s) {
        width: 24px;
        top: 70%;
        left: 55%;
      }
      @include responsive-width($laptop_s) {
        width: 33px;
        // top: 100%;
        // left: 30%;
      }
    }
  }
  .e-container-flex__item--1 {
    z-index: 1;
    @include responsive-width($tablet_s) {
      width: 30% !important;
      margin-right: 3rem;
    }
    @include responsive-width($laptop_s) {
      width: 40% !important;
      margin-right: 0;
    }
  }
  .e-container-flex__item--2 {
    @include responsive-width($tablet_s) {
      width: 70% !important;
      padding-top: 3rem;
    }
    @include responsive-width($laptop_s) {
      width: 60% !important;
      padding-top: 1rem;
    }
  }
  .heart-container-desk {
    display: none;
    @include responsive-width($tablet_s) {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      left: 0;
    }
    // @include responsive-width($tablet_m) {
    //   left: 80%;
    // }
    @include responsive-width($laptop_s) {
      left: 10%;
    }
  }
  .titular-svg {
    width: 225px;
    // height: 60px;
    margin: 0 auto;
    @include responsive-width($tablet_s) {
      width: 318px;
      margin-left: 0;
      // height: 84px;
    }
    @include responsive-width($laptop_s) {
      width: 547px;
      // height: 146px;
    }
  }
  .equipo-img {
    position: relative;
    top: -35px;
    width: 80px;
    left: -10%;
    margin: 0 auto;
    @media screen and (max-width: 639px) {
      .top-bottom {
        -webkit-animation: none;
        animation: none;
      }
    }

    &::after {
      content: "XIAOMI REDMI NOTE 11 128GB NEGRO";
      position: absolute;
      font-weight: 600;
      font-size: 14px;
      right: 0;
      top: 40%;
      left: 80%;
      width: 102px;
      margin-left: 20px;
      @include responsive-width($tablet_s) {
        left: 60%;
        top: 30%;
        font-size: 16px;
        margin-left: 18px;
        width: 89px;
      }
      @include responsive-width($laptop_s) {
        left: 65%;
        top: 47%;
      }
    }
    @include responsive-width($tablet_s) {
      width: 150px;
      top: 60px;
      // left: 0px;
    }
    @include responsive-width($laptop_s) {
      width: 300px;
      top: 0;
      left: 0;
    }
  }
  .button-box {
    position: relative;
    z-index: 0;
    top: -60px;
    text-align: center;
    @include responsive-width($tablet_s) {
      position: absolute;
      left: 100%;
      top: 72%;
      margin-left: 3rem;
    }
    @include responsive-width($laptop_s) {
      margin-left: 0rem;
    }
    a {
      padding: 10px;
      // cursor: pointer;
      min-width: 150px !important;
    }
  }
  p.sub-title {
    // @include fz(14, 20, 24);
    font-weight: 400;
    text-align: center;
    width: 260px;
    margin: 0 auto;
    font-size: 14px;
    @include responsive-width($tablet_s) {
      font-size: 20px;
      width: 314px;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 0;
    }
    @include responsive-width($laptop_s) {
      font-size: 24px;
      width: 507px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  p.consideraciones {
    position: absolute;
    bottom: 0px;
    font-weight: 400;
    @include fz(9, 10, 11);
    margin: 10px;
    max-width: 700px;
    width: 100%;
    z-index: 1;
  }
}
