- banner_name = 'Entel la señal que te acompaña'
- banner_link = 'https://www.entel.pe/busqueda-cobertura/?utm_source=Web+Pública&utm_medium=Banner&utm_campaign=Campaña+de+cobertura+Entel&utm_id=COEN311122-1&utm_term=Prepago&utm_content=1'

.entel__slider--home__item(
    data-entel-slide-index='8' 
    data-entel-slide-time='8000' 
    data-layer-id='slider_'+banner_name  
    data-layer-name='Banner'+banner_name 
    data-layer-position='Home - Banner Superior 8' 
    data-layer-creative=banner_link
    )

    .entel__slider--home__item__content.entel__slider--home__item__content--cobertura
        .e-container
            .e-container-flex
                .e-container-flex__item.e-container-flex__item--1.fadeInLeft
                    div
                        h2 Entel,#[br] #[b la señal que #[br] te acompaña] 
                        
                        a(class='e-button e-button--orange entel-data-layer-btn-header' href=banner_link 
                        data-gtm-category='Banner Home' 
                        data-gtm-action='Seleccionar botón' 
                        data-gtm-label='Entel la señal que te acompaña - Ver cobertura' 
                        data-gtm-product='Personas' 
                        data-gtm-tipo='Informativo'
                ) VER COBERTURA
                .e-container-flex__item.e-container-flex__item--2.fadeInRight
                    +mx_picture_retina_all("",img_path+'2022/11/cobertura-banner-v2', 'png', banner_name)
