&--thelordoftherings {
  background: #000000;
  position: relative;
  .e-container-flex {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: m_image_url(
        "2022/08/prime-video-los-anillos-del-poder-bg-mob.jpg"
      );
      width: 100%;
      height: 120px;
      @include responsive-width($tablet_m) {
        width: 53vw;
        height: 100%;
        background-position: right top;
        background-image: m_image_url(
          "2022/08/prime-video-los-anillos-del-poder-bg-desk.png"
        );
      }
      @include responsive-width($desktop_m) {
        width: 50vw;
      }
    }
    padding: 0;
    flex-direction: column-reverse;
    @include responsive-width($tablet_m) {
      flex-direction: row-reverse;
    }
    &__item {
      &--1 {
        text-align: center;
        z-index: 2;
        width: 100% !important;
        padding: 0 12px;
        @include responsive-width($tablet_m) {
          width: 56% !important;
          padding: 0;
        }
        // @include responsive-width($tablet_l){
        //     width: 53% !important;
        // }

        @include responsive-width($laptop_s) {
          text-align: left;
          width: 50% !important;
          margin-left: 6rem;
        }
        // @include responsive-width($laptop_m) {
        //   width: 50% !important;
        // }
        // @include responsive-width($desktop_s) {
        //   width: 65% !important;
        // }
        .suscripcion {
          padding-top: 5px;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-image: m_image_url(
            "2022/08/prime-video-los-anillos-del-poder-suscripcion-blue.png"
          );
          width: 280px;
          height: 89px;
          @include responsive-width($tablet_m) {
            width: 372px;
            height: 152px;
            padding-top: 1rem;
          }
          span {
            display: block;
            line-height: normal;
          }
          span.invitacion {
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            @include responsive-width($tablet_m) {
              font-size: 22px;
            }
          }
          span.meses {
            font-weight: 700;
            font-size: 42px;
            text-align: center;
            line-height: 1;
            @include responsive-width($tablet_m) {
              font-size: 68px;
            }
          }
          span.descripcion {
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-image: m_image_url(
              "2022/08/prime-video-los-anillos-del-poder-suscripcion-light-blue.png"
            );
            font-weight: 400;
            font-size: 10px;
            width: 210px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: -50px;
            padding: 5px;
            @include responsive-width($tablet_m) {
              font-size: 14px;
              width: 299px;
              height: 47px;
              padding: 10px;
            }
          }
        }
        div {
          text-align: left;
          display: inline-block;
          .e-button {
            max-width: 160px;
            margin: auto;
            display: block;
            margin-top: 10px;
            @include responsive-width($tablet_m) {
              padding: 15px 10px;
              margin: 0;
              margin-top: 2rem;
              max-width: 200px;
            }
          }
        }
        h2.title {
          font-style: normal;
          font-weight: 400;
          font-size: 19px;
          color: $white;
          margin-bottom: 5px;
          transition-property: text-shadow;
          transition-duration: 2s;
          transition-timing-function: linear;
          &:hover {
            text-shadow: 0px 0px 10px #fff, 4px 2px 12px #dcb500,
              -4px 2px 12px #dcb500, 0px -6px 14px #ff7a00,
              0px -12px 14px #ff6300, 0px -20px 14px #ff4400,
              0px -30px 14px #0a7bff;
          }
          @include responsive-width($tablet_m) {
            font-size: 25px;
            margin-bottom: 1rem;
          }
          @include responsive-width($laptop_m) {
            font-size: 30px;
          }

          strong {
            font-weight: 800;
          }
        }
      }
      &--2 {
        text-align: right;
        z-index: 2;
        width: 100% !important;
        @include responsive-width($tablet_m) {
          width: 47% !important;
        }
        picture {
          width: 190px;
          max-width: 100%;
          text-align: center;
          top: -15px;
          position: relative;
          margin-right: 1rem;
          // @include responsive-width($tablet_m){
          // width: 150px;
          // }
          @include responsive-width($tablet_m) {
            width: 375px;
            // min-width: 440px;
            text-align: right;
            // margin-right: 4rem;
          }
          @include responsive-width($laptop_s) {
            // width: 254px;
            // margin-right: 6rem;
          }
        }
      }
    }
  }
}
