.e-container.app_mientel_box
    .app_mientel
        .img 
            +lazy_image_webp_retina_media("2021/12/logo-entel-mob", "png", "2021/12/logo-entel-desk", "768", "Icono de app mi entel")
        .text
            h4 App Mi Entel
            p Consulta, paga y recarga donde tú quieras. 
        .btn 
            a.entel-data-layer-btn.e-button.e-button--orange(href="https://pemientel.page.link/App/" target="_blank" data-gtm-category="Home Personas" data-gtm-gtm-action="Seleccionar boton" data-gtm-label=" App Mi Entel - conoce más")
                span    conoce más