section.e-home-roaming
    .e-container
        .e-home-roaming__box
            .img 
                - image = '2022/07/e-home-roaming-img' 
                +lazy_image_webp_retina(image, 'png', 'Imagen referencial al roaming')
            .text
                h2 Entel Roaming
                p Viaja y mantente siempre conectado
            .btn 
                a.entel-data-layer-btn.e-button.e-button--orange(href="https://www.entel.pe/roaming-internacional/" target="_blank" data-gtm-category="Home Personas" data-gtm-gtm-action="Seleccionar boton" data-gtm-label="Entel Roaming - conoce más")
                    span Conoce más