mixin style_btns(country)
    +style_modal(country)
    section(class="e-section entel-access entel-access__"+country)
        .e-container
            if country == 'peru'
                .e-access__text
                    h2 ¿Qué hacemos hoy?
            div(class="e-access__slider e-access_test_a_b__"+country).slick__persons
                -
                    slider_access = [
                        {
                            text: 'Móviles',
                            link: 'javascript:void(0)',
                            icon: 'icon-access-moviles-'+country+'-off',
                            icon2: 'icon-access-moviles-'+country,
                            popop: 'yes',
                        },
                        {
                            text: 'Accesorios',
                            link: 'https://miportal.entel.pe/personas/catalogo/accesorios',
                            icon: 'icon-access-accesorios-'+country+'-off',
                            icon2: 'icon-access-accesorios-'+country,
                        },
                        {
                            text: 'Hogar',
                            link: 'https://www.entel.pe/hogar/internet/planes/',
                            icon: 'icon-access-hogar-'+country+'-off',
                            icon2: 'icon-access-hogar-'+country,
                        },
                        {
                            text: 'Cobertura',
                            link: 'https://www.entel.pe/mapa-cobertura-entel/',
                            icon: 'icon-access-cobertura-'+country+'-off',
                            icon2: 'icon-access-cobertura-'+country,
                            class:'nuevo'
                        },
                        {
                            text: 'Recibo entel',
                            link: 'https://www.entel.pe/personas/ayuda-y-soporte/facturacion/formas-y-lugares-de-pago/',
                            icon: 'icon-access-recibo-'+country+'-off',
                            icon2: 'icon-access-recibo-'+country,
                        },
                        
                        {
                            text: 'Entel Play',
                            link: 'https://www.entel.pe/entelplay/',
                            icon: 'icon-access-entelplay-'+country+'-off',
                            icon2: 'icon-access-entelplay-'+country,
                            class:'nuevo'
                        },
                        
                    ]

                each slide,index in slider_access
                    - slide_class = ''

                    if(slide.class)
                        - slide_class = slide.class

                    div(class="entel-access__slider__card " + slide_class)
                        if slide.popop
                            a(href=slide.link class="entel-access__item m-modal__button" data-modal="modal_moviles_"+country)
                                .e-icon
                                    +iconAccessSVG(slide.icon)
                                    +iconAccessSVG(slide.icon2)
                                    if country == 'peru'
                                        include ../../../../../assets/img/personas/home/icon-stars-v2.svg
                                span 
                                    |!{slide.text}
                        else 
                            a(href=slide.link class="entel-access__item")
                                .e-icon
                                    +iconAccessSVG(slide.icon)
                                    +iconAccessSVG(slide.icon2)
                                    if country == 'peru'
                                        include ../../../../../assets/img/personas/home/icon-stars-v2.svg
                                span 
                                    |!{slide.text}


