section(class="e-section entel-autoservice")
    .e-container
        - 
            title_auto = 'Haz tus operaciones más fácil'
        
        h2(title=title_auto) #[b #{title_auto}]

    .e-auto-channel
        -
            medios = [
                {
                    image: '2021/05/e_auto_service_img-mientel',
                    title: 'Web Mi Entel',
                    title_img: '2021/05/e-auto_service_icon_img',
                    text: 'Hazlo todo desde nuestra nueva web.',
                    link: 'https://miperfil.entel.pe/Login/'
                },
                {
                    //- class: 'e-bg-white',
                    image: '2021/05/e_auto_service_img-app-mientel',
                    title: 'App Mi Entel',
                    title_img: '2021/05/e-auto_service_icon_img',
                    text: 'Consulta, paga y recarga donde tú quieras.',
                    link: 'https://pemientel.page.link/App/'
                }, 
            ]

        each medio in medios
            div.e-auto-channel_item
                .e-auto-channel_item_img
                    +mx_picture_retina('', img_path + medio.image, 'png', medio.text) 
                .e-auto-channel_item_box 
                    .e-auto-channel_item_box_left
                        .title
                            +lazy_image_webp_retina(medio.title_img, 'png')(class="e-lazy__img")
                            span #[strong !{medio.title}] 
                        p !{medio.text}
                    .e-auto-channel_item_box_right
                        a.e-button.e-button--orange(href=medio.link target="_blank") CONOCE MÁS