section(class="entel__wrapper__slider")
    .e-content__banner-cintillo
        //- JUEVES ENTEL
        //- include ./headband/jueves-entel/headband-jueves_entel

        //- CYBER ENTEL
        //- include ./headband/headband-cyberwow-countdown
        //- include ./headband/headband-cyberwow-2021-pre
        //- include ./headband/headband-cyberentel-2021-countdown

        //- PROD 1
        //- include ./headband/headband-app-mi-entel 

        //- PROD 2 
        //- include ./headband/headband-elige-tu-chip2

        //-PROD 3 
        //- include ./headband/headband-elige-tu-chip4

        //- PROD 4
        //- include ./headband/headband-sorteo-app-mi-entel-navidad 

        //-PROD 5
        //- include ./headband/headband-lineasadicionales

        //-PROD 6
        //- include ./headband/web-privada/08-03
        //- include ./headband/web-privada/tecnology

        //-PROD 7
        //- include ./headband/headband-accesorios2

        //-spotify
        //- include ./headband/spotify/spotify-recibo-entel
        //- include ./headband/headband-nuevos-planes-rio

        //-tinder
        //- include ./headband/tinder/tinder-recibo-entel

        //-campaña-equipos
        //- include ./headband/campaña-equipos/campaña-equipos


        //- senior de los anillos
        //- include ./headband/senior-anillos/prime-video

        //- dimitree
        //- include ./headband/headband-dimitree
        
        //-sorteo-verano 26/01/2023
        //- include ./headband/sorteo-verano/sorteo-verano

        //- san valentin
        include ./headband/san-valentin/san-valentin

        //- san valentin
        //- include ./headband/equifax/equifax

        .e-content__banner
            div(class="entel__bloque__animado entel__slider entel__slider--white-arrows entel__slider--home" id="slider-entel")
                
                
                //- include slider/2023/entel_slider_120gb
                include slider/2023/entel_slider_cuota0
                //- include slider/2023/entel_slider_summer_sale
                //- //- JUEVES ENTEL
                //- include slider/jueves-entel/entel_slider_jueves_entel
                //-Lanzamiento Honor x8a
                
                //- include slider/2023/entel_slider_nuevo_cuota0
                //- include slider/2023/entel_slider_contado2
                //- include slider/2023/entel_slider_lanzamiento_samsung
                //- include slider/2023/entel_slider_contado
                include slider/2023/entel_slider_40descuento
                //- include slider/2023/entel_slider_galaxy_day
                include slider/2023/entel_slider_lineas_adicionales
                include slider/2023/entel_slider_lanzamiento_honor_x8a
                include slider/2023/entel_slider_cuotas_sin_interes
                include slider/2023/entel_slider_lanzamiento_samsung2
                //- cobertura

                include slider/new-layout/cobertura/slide-04-11-22
                
                //- include slider/2023/entel_slider_liberados
                //- include slider/2023/entel_slider_liberados2
                //- include slider/2023/entel_slider_liberados3
                include slider/2023/entel_slider_liberados4
                //- include slider/2023/entel_slider_accesorios
                //- include slider/2023/entel_slider_accesorios2
                //- include slider/2023/entel_slider_accesorios3
                include slider/2023/entel_slider_accesorios4

                //- include slider/verano2022/entel_slider_nuevo_hogar
                include slider/2023/entel_slider_hogar
                //- include slider/new-layout/campania-equipo/slide-27-10-22
                //- include slider/new-layout/sorteo-equipos/slide-sorteo_equipos_23
                include slider/new-layout/san-valentin/san-valentin


    //- .e-content__banner-cintillo.e-content__banner-cintillo-down
        //- Caida de servicio
        //- include ./headband/caida-servicio/headband-caida-servicio

            //-.entel__slider__option
                .entel__slider__option__title ...
                button.entel__slider__option__prev(type='button' aria-label='Previous')
                nav(class="entel__slider entel__slider--custom-home-navigation" id="entel__slider")
                button.entel__slider__option__next(type='button' aria-label='Next')
