section(class="e-section e-benefits" id='home-benefits')
    .e-container
        .e-benefits-bg
            .e-benefits-bg-rectangle
                +mx_picture_retina('', img_path + '2021/05/e_beneficios_bg-rectangle', 'png', '')
            .e-benefits-bg-circle
                +mx_picture_retina('', img_path + '2021/05/e_beneficios_bg-circle', 'png', '')
        .e-home-benefits-peru.e-home-active
            .e-benefits__text
                -
                    title_text = '¡Preferirnos te da lo mejor!'

                h2(title=title_text) #{title_text}
                p Conoce estos beneficios incomparables

            div(id="slider-benefits-for" class="e-benefits_card_container")
                -
                    slider_benefits_for = [
                        {
                            title: '<strong> Jueves Entel </strong>',
                            text:'Con Entel, todos tus  <br> <strong>Jueves tienen sorpresas.</strong>',
                            link: 'https://www.entel.pe/juevesentel/',
                            class: 'e--sup e--entelday',
                            image: '2021/12/b-jueves-entel',
                            alt: 'jueves Entel',
                            gtm_category: '',
                            gtm_action: '',
                            gtm_label:''
                        },
                        {
                            title: '<strong> Entel 5G </strong>',
                            text:'Un gran cambio trae  <br><strong>una gran velocidad</strong>',
                            link: 'https://www.entel.pe/5g/',
                            class: 'e--sup e--web',
                            image: '2022/03/b-5g',
                            alt: '5G',
                            gtm_category: '',
                            gtm_action: '',
                            gtm_label:''
                        },
                        {
                            title: '<strong> Bembos </strong>',
                            text:'No la pienses más y <br><strong>disfruta tu antojo.</strong>',
                            link: 'https://www.entel.pe/bembos/',
                            class: 'e--sup e--web',
                            image: '2022/03/b-bembos-v4',
                            //- image: '2022/05/b-bembos-v5',
                            alt: 'Bembos',
                            gtm_category: '',
                            gtm_action: '',
                            gtm_label:''
                        },
                        {
                            title: '<strong>Eres Entel, eres cine</strong>',
                            text:'Solicita tus códigos <br><strong>y disfruta del cine </strong><br>cuando quieras',
                            link: 'https://www.entel.pe/e-cine/',
                            class: 'e--sup e--web',
                            image: '2022/03/b-cine',
                            alt: 'Cine',
                            gtm_category: '',
                            gtm_action: '',
                            gtm_label:''
                        },
                        //- {
                        //-     title: '<strong> Emprendedores Entel </strong>',
                        //-     text:'Publicita tu negocio <br> <strong>con ofertas exclusivas</strong>',
                        //-     link: 'https://emprendedoresentel.pe/clientes/',
                        //-     class: 'e--sup e--emprendedores-entel',
                        //-     image: '2021/05/e_beneficios_home-emprendimiento-sleeve',
                        //-     alt: 'emprendedores Entel',
                        //-     gtm_category: '',
                        //-     gtm_action: '',
                        //-     gtm_label:''
                        //- },
                        //- {
                        //-     //- title: '<strong> FMS Perú 2021</strong>',
                        //-     title: '<strong> FMS Perú 2022</strong>',
                        //-     text:'Disfruta lo mejor de <br><strong>nuestro freestyle. </strong>',
                        //-     link: 'https://www.entel.pe/freestyle/',
                        //-     class: 'e--smart-doctor',
                        //-     //- image: '2022/05/b-fms-v1',
                        //-     image: '2022/08/b-fms-v2',
                        //-     alt: 'FreeStyle Peru',
                        //-     gtm_category: '',
                        //-     gtm_action: '',
                        //-     gtm_label:''
                        //- },
                        //- {
                        //-     title: '<strong> ¡Tú salud es primero!</strong>',
                        //-     text:'Smart Doctor responde tu consulta estés donde estés.',
                        //-     link: 'https://www.entel.pe/smart-doctor/',
                        //-     class: 'e--smart-doctor',
                        //-     image: '2021/11/b-smart-doctor',
                        //-     alt: 'Smart Doctor',
                        //-     gtm_category: '',
                        //-     gtm_action: '',
                        //-     gtm_label:''
                        //- },
                        {
                            title: '<strong>Promos</strong>',
                            text:'¡Tenemos <strong>las promos</strong> que estabas esperando!',
                            link: 'https://www.entel.pe/promociones/',
                            class: 'e--prom',
                            image: '2021/11/b-promos-v2',
                            alt: 'Promos Entel',
                            gtm_category: '',
                            gtm_action: '',
                            gtm_label:''
                        }

                    ]

                each slide, index in slider_benefits_for
                    if index === 5
                        a(class="e-benefits_card_for" href=slide.link target="_blank")
                            .e-benefits_card_for_img.oferta-desk
                                //-+mx_picture_retina('', img_path + slide.image, 'png', slide.text)
                                +image_webp_retina_media(slide.image + '-mob', 'png', slide.image + '-desk', '1280', 'Beneficio de '+slide.alt) 

                            .e-benefits_card_for_txt.oferta-mob
                                div.e_title_card 
                                    if slide.title
                                        span !{slide.title}
                                    if slide.title_image
                                        +image_webp_retina_media(slide.title_image + '-mob', 'png', slide.title_image + '-desk', '1280', slide.alt) 
                                div.e_subtitle_card 
                                    p !{slide.text}
                    else
                        a(class="e-benefits_card_for" href=slide.link target="_blank")
                            .e-benefits_card_for_img 
                                //-+mx_picture_retina('', img_path + slide.image, 'png', slide.text)
                                +image_webp_retina_media(slide.image + '-mob', 'png', slide.image + '-desk', '1280', 'Beneficio de '+slide.alt) 

                            .e-benefits_card_for_txt
                                div.e_title_card 
                                    if slide.title
                                        span !{slide.title}
                                    if slide.title_image
                                        +image_webp_retina_media(slide.title_image + '-mob', 'png', slide.title_image + '-desk', '1280', slide.alt) 
                                div.e_subtitle_card 
                                    p !{slide.text}
                            //-a.entel-data-layer-btn-no-planes( class="")
        .e-home-benefits-chile
            -
                title_text_chile = 'Beneficios incomparables'

            h2(title=title_text_chile) #{title_text_chile}
            .benefits-home-b.slick__persons
                -
                    benefits_b = [
                        {   title1: 'Jueves Entel',
                            title2: 'Jueves Entel',
                            image: '2022/08/benefit-ab-je',
                            text: 'Con Entel, todos tus <strong>Jueves tienen sorpresas.</strong>',
                            link: 'https://www.entel.pe/juevesentel/'
                        },
                        {
                            title1: 'Entel 5G',
                            title2: 'Entel 5G',
                            image: '2022/08/benefit-ab-5g',
                            text: 'Un gran cambio trae <strong>una gran velocidad</strong>',
                            link: 'https://www.entel.pe/bembos/'
                        },
                        {
                            title1: 'Bembos',
                            title2: 'Bembos',
                            image: '2022/08/benefit-ab-bembos',
                            text: 'No la pienses más y <strong>disfruta tu antojo.</strong>',
                            link: 'https://www.entel.pe/bembos/'
                        },
                        {
                            title1: 'Eres Entel, eres Cine',
                            title2: 'Eres Entel, eres Cine',
                            image: '2022/08/benefit-ab-cine',
                            text: 'Solicita tus códigos <strong>y disfruta del cine</strong> cuando quieras.',
                            link: 'https://www.entel.pe/e-cine/'
                        },
                        {
                            title1: 'FMS Perú 2022',
                            title2: 'FMS Perú 2022',
                            image: '2022/08/benefit-ab-fma-v2',
                            text: 'Disfruta lo mejor de <strong>nuestro freestyle.</strong>',
                            link: 'https://www.entel.pe/freestyle/'
                        },
                        //- {
                        //-     title1: '¡Tú salud es primero!',
                        //-     title2: 'Primero tu salud!',
                        //-     image: '2022/08/benefit-ab-smart',
                        //-     text: 'Smart Doctor responde tu <strong>consulta estés donde estés.</strong>',
                        //-     link: '#'
                        //- },
                        {
                            title1: 'Mejores Promociones',
                            title2: 'Promociones',
                            image: '2022/08/benefit-ab-entel-v2',
                            text: '¡Tenemos <strong>las promos</strong> que estabas esperando!',
                            link: 'https://www.entel.pe/promociones/'
                        },
                    ]

                each benefit, index in benefits_b
                    div(class='benefits-home-b__card')
                        .benefits-home-b__image
                            - image_mobile = benefit.image+'-mob' 
                            - image = benefit.image+'-desk' 
                            +lazy_image_webp_retina_media(image_mobile, 'png', image, '768', '')
                        .benefits-home-b__content
                            .benefits-home-b__content__text 
                                h3.benefit-title-1 !{benefit.title1}
                                h3.benefit-title-2 !{benefit.title2}
                                p !{benefit.text}
                                a(class='entel-data-layer-btn' href=benefit.link target='_blank' 
                                data-gtm-category=landing_name 
                                data-gtm-action='Seleccionar boton' 
                                data-gtm-label='En la web - '+landing_name
                                ) CONOCE MÁS

        div(class="e-benefits-message")
            div.img
                +lazy_image_webp_retina("2021/11/info-b-desk-v2", "png", "Imágen de ¡Pasa la voz! Con Entel disfrutas de grandes beneficios.", "")
            p Recuerda que puedes cambiar de operadora sin perder tu número y el trámite de portabilidad es rápido y gratuito. #[strong ¡Pasa la voz! Con Entel disfrutas de grandes beneficios.]