section(class="e-section entel-cintillo-footer")
    .container-flex 
            .item-flex.left
                +image_webp_retina_media(img_path + '2021/12/cintillo-footer-mob-v2', "png", img_path + '2021/12/cintillo-footer-desk-v2', "768", "Imagen de Vacúnate, ¡no bajes la guardia!")
            .item-flex.right
                p.e-tc--white #[strong Vacúnate, ¡no bajes la guardia!] Conoce tu fecha y centro de vacunación 
                a.link.entel-data-layer-link(href="https://www.gob.pe/pongoelhombro" target="_blank" data-gtm-category="Entel Home" data-gtm-action="Seleccionar link" data-gtm-label="Cintillo footer Vacúnate, ¡no bajes la guardia - aquí") aquí 