section(class="e-section entel-contact")
    .e-container
        br
        br
        h2 Contáctanos y #[strong te atenderemos]
        .e-tab__texto--personas
            - 
                tab_list = [
                    {
                        nameData: "Consultas y solicitudes",
                        name: "Consultas y solicitudes",
                        category:"Home",
                        id: "tabConsultasSolicitudes"
                    },
                    {
                        nameData: "Productos y servicios",
                        name: "Productos y servicios",
                        category:"Home",
                        id: "tabProductosServicios"
                    },
                    {
                        nameData: "Roaming",
                        name: "Roaming",
                        category:"Home",
                        id: "tabRoaming"
                    },
                    {
                        nameData: "Bloqueo por robo",
                        name: "Bloqueo por robo",
                        category:"Home",
                        id: "tabBloqueo"
                    },
                ]
            +tab_nav(tab_list)
            .e-tab__texto--personas__content__parent
                each tab, index in tab_list 
                    div(
                        id="tab-texto-" + index
                        class="e-tab__content"
                        class={'js--open': index === 0}
                        data-contenedor="e-tab__texto--personas"
                            ) 
                        .e-tab__texto--personas__content.e-ta-c
                            if index === 0
                                h4 
                                    +image_webp_retina_media('2023/02/e-home-contactos-ico-consultas-solicitudes-mob', 'png', '2023/02/e-home-contactos-ico-consultas-solicitudes-desk', '768', 'Ícono Consultas y solicitudes - Entel Perú')
                                    |  #[strong Consultas y solicitudes:]
                                .contact-social-network
                                    a.contact-social-network--left(href='https://api.whatsapp.com/send?phone=51981002000&text=Hola%20WhatsApp%20Power!' target='_BLANK')
                                        div
                                            +image_webp_retina_media('2023/02/e-home-contactos-ico-wp-mob', 'png', '2023/02/e-home-contactos-ico-wp-desk', '768', 'ícono Whatsapp')
                                        div
                                            p.text-option.text-option-green Whatsapp Entel
                                    a.contact-social-network--right(href='https://www.messenger.com/login.php?next=https%3A%2F%2Fwww.messenger.com%2Ft%2F198975483478832%2F%3Fmessaging_source%3Dsource%253Apages%253Amessage_shortlink%26source_id%3D1441792%26recurring_notification%3D0' target='_BLANK')
                                        div
                                            +image_webp_retina_media('2023/02/e-home-contactos-ico-messenger-mob', 'png', '2023/02/e-home-contactos-ico-messenger-desk', '768', 'Ícono Messenger')
                                        div
                                            p.text-option.text-option-blue Messenger Entel
                            if index === 1
                                h4 
                                    +image_webp_retina_media('2023/02/e-home-contactos-ico-productos-servicios-mob', 'png', '2023/02/e-home-contactos-ico-productos-servicios-desk', '768', 'Ícono productos y servicios - Entel Perú')
                                    |  #[strong Adquirir productos y servicios:]
                                a.contact-number-phone(href='tel:+080009001' target='_BLANK')
                                    div
                                        +image_webp_retina_media('2023/02/e-home-contactos-ico-phone-mob', 'png', '2023/02/e-home-contactos-ico-phone-desk', '768', 'Ícono llamada')
                                    div
                                        p Desde Lima y provincias:
                                        p.num 0800-09001
                            if index === 2
                                h4 
                                    +image_webp_retina_media('2023/02/e-home-contactos-ico-roaming-mob', 'png', '2023/02/e-home-contactos-ico-roaming-desk', '768', 'Ícono roaming - Entel Perú')
                                    | Consultas sobre #[strong Roaming:]
                                .contact-roaming
                                    a.contact-roaming--left(href='https://api.whatsapp.com/send?phone=51981002000&text=Hola%20WhatsApp%20Power!' target='_BLANK')
                                        div
                                            +image_webp_retina_media('2023/02/e-home-contactos-ico-wp-mob', 'png', '2023/02/e-home-contactos-ico-wp-desk', '768', 'ícono Whatsapp')
                                        div
                                            p.text-option.text-option-green Whatsapp Entel
                                    a.contact-roaming--right(href='https://www.messenger.com/login.php?next=https%3A%2F%2Fwww.messenger.com%2Ft%2F198975483478832%2F%3Fmessaging_source%3Dsource%253Apages%253Amessage_shortlink%26source_id%3D1441792%26recurring_notification%3D0' target='_BLANK')
                                        div
                                            +image_webp_retina_media('2023/02/e-home-contactos-ico-messenger-mob', 'png', '2023/02/e-home-contactos-ico-messenger-desk', '768', 'ícono Messenger')
                                        div
                                            p.text-option.text-option-blue Messenger Entel
                                a.contact-roaming-2(href='tel:+016117779' target='_BLANK')
                                    div
                                        +image_webp_retina_media('2023/02/e-home-contactos-ico-phone-mob', 'png', '2023/02/e-home-contactos-ico-phone-desk', '768', 'Ícono llamada')
                                    div
                                        p También llama al:
                                        p.num (01) 611 7779
                            if index === 3
                                h4  #[strong Bloquea tu equipo por pérdida o robo:]
                                .contact-bloqueo
                                    a.contact-bloqueo--left(href='tel:+123' target='_BLANK')
                                        div
                                            +image_webp_retina_media('2023/02/e-home-contactos-ico-bloqueo-mob', 'png', '2023/02/e-home-contactos-ico-bloqueo-desk', '768', 'Ícono bloqueo')
                                        div
                                            p Gratis desde tu Entel: 
                                            p.num 123 
                                            span Opción 1 y luego 4.
                                    a.contact-bloqueo--right(href='tel:+016117777' target='_BLANK')
                                        div
                                            +image_webp_retina_media('2023/02/e-home-contactos-ico-bloqueo-mob', 'png', '2023/02/e-home-contactos-ico-bloqueo-desk', '768', 'Ícono bloqueo')
                                        div
                                            p Desde otro operador o un fijo:
                                            p.num (01) 611 7777
                                            span Opción 2 y luego 4.
        .contact-stores
            .contact-stores--left
                div
                    +image_webp_retina_media('2023/02/e-home-contactos-ico-store-mob', 'png', '2023/02/e-home-contactos-ico-store-desk', '768', 'Ícono tiendas - Entel Perú')
            .contact-stores--right
                h3 Tiendas Entel
                p Conoce todo lo que te ofrecemos en nuestras tiendas #[a(href='https://www.entel.pe/tiendas-apertura/' target='_BLANK') AQUÍ]