
section.e-section.e-countdown__reg#countdown
    .e-countdown__reg-container
        .e-countdown__reg-img
            +mx_picture_retina('', img_path+'2020/07/countdown-reloj', 'png', 'reloj')
        .e-countdown__reg-detail 
            p
                //- strong#countdownMessage Aprovecha el Cyber WOW! #[br]
                //- span No te quedes sin tus equipos #[br]
                //- strong ¡Quedan pocas horas! 

                strong#countdownMessage Prepárate para el Cyber WOW #[br]
                span Aprovecha los descuentos online #[br]
                strong que tenemos para ti!

        .e-countdown__reg-time   
            //- #reloj
            .e-time-container
                .e-time-item
                    .e-time-item__number#hours 
                    span Horas
                .e-time-item
                    .e-time-item__number#minutes 
                    span Mins
                .e-time-item
                    .e-time-item__number#seconds 
                    span Seg


//- section.e-section.e-countdown__reg.e-countdown__reg-fix#countdown
    .e-countdown__reg-container.e-countdown__reg-container-fix
        .e-countdown__reg-detail.e-countdown__reg-detail-fix
            p
                span #[strong Prepárate] para el

        .e-countdown__reg-img.e-countdown__reg-img-fix
            //- img(src="https://enteltest.vteximg.com.br/arquivos/outdoor-carro.png" alt="Aprovecha Cyber Entel")
            img(src="https://www.entel.pe/wp-content/uploads/2021/03/cyber_logo.png" alt="Cyber Entel")
            
        .e-countdown__reg-detail.e-countdown__reg-detail-fix
            p
                span este #[strong 22 al 26 Marzo], con nuestros grandes descuentos!

//- include ./headband/headband-enero-lgvelvet
//- include ./headband/headband-entel-telegram-singal
//- include ./headband/headband-febrero-padrino
//- include ./headband/headband-entel-day-enero-2021
//- include ./headband/headband-entel-day-feb-2021
//- include ./headband/headband-entel-day-abril-2021
