section(class="e-section entel-world")
    +figureSVG('figure-one')(class="e--one")
    +figureSVG('figure-two')(class="e--two")

    div(id="circle-one" class="e-circle")
    div(id="circle-two" class="e-circle e--sky-blue")
    div(id="circle-three" class="e-circle e--line")
    div(id="circle-four" class="e-circle e--sky-blue")
    div(id="circle-five" class="e-circle")
    div(id="circle-six" class="e-circle e--sky-blue")
    div(id="circle-seven" class="e-circle e--line")

    .e-container
        -
            title = '<strong>Un mundo Entel</strong> hecho a tu medida'

        h2(title=title class="e-title") !{title}

        -
            tabs = [
                {
                    id: 'tab-postpago',
                    name: 'Postpago',
                    class: 'e--postpago',
                    items: [
                        {
                            icon: 'icon-planes',
                            text: 'Planes',
                            link: 'https://www.entel.pe/celulares-postpago/planes/'
                        },
                        {
                            icon: 'icon-migra',
                            text: 'Migra o Renueva',
                            link: 'https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=renovacion-postpago'
                        },
                        {
                            icon: 'icon-internet',
                            text: 'Internet Móvil',
                            link: 'https://www.entel.pe/internet-postpago/planes/'
                        },
                        {
                            icon: 'icon-bolsa',
                            text: 'Bolsas Postpago',
                            link: 'https://www.entel.pe/celulares-postpago/bolsas/'
                        }
                    ],
                    pictures: {
                        polygon: 'picture-postpago-polygon',
                        person: 'picture-postpago-person-v2',
                        figure: 'picture-postpago-figure'
                    }
                },
                {
                    id: 'tab-prepago',
                    name: 'Prepago',
                    class: 'e--prepago',
                    items: [
                        {
                            icon: 'icon-prepago',
                            text: 'Prepago Power',
                            link: 'https://www.entel.pe/celulares-prepago/prepago-power/'
                        },
                        {
                            icon: 'icon-prepago-fresh',
                            text: 'Plan Flexible',
                            link: 'https://www.entel.pe/celulares-prepago/prepago-power-fresh/'
                        },
                        {
                            icon: 'icon-migra',
                            text: 'Migra a Prepago',
                            link: 'https://www.entel.pe/celulares-prepago/migra/'
                        },
                        {
                            icon: 'icon-beneficios-prepago',
                            text: 'Beneficios Prepago',
                            link: 'https://www.entel.pe/celulares-prepago/beneficios/'
                        },
                        {
                            icon: 'icon-recargas',
                            text: 'Recargas',
                            link: 'https://www.entel.pe/canales2/'
                        },
                        {
                            icon: 'icon-bolsa',
                            text: 'Bolsas Prepago',
                            link: 'https://www.entel.pe/celulares-prepago/bolsas/'
                        }
                    ],
                    pictures: {
                        polygon: 'picture-prepago-polygon',
                        person: 'picture-prepago-person-v2',
                        figure: 'picture-prepago-figure'
                    }
                },
                {
                    id: 'tab-hogar',
                    name: 'Hogar',
                    class: 'e--hogar',
                    items: [
                        {
                            icon: 'icon-internet-fijo',
                            text: 'Internet Fijo',
                            link: 'https://www.entel.pe/hogar/internet/planes/'
                        },
                        {
                            icon: 'icon-duo-hogar',
                            text: 'Dúo Hogar',
                            link: 'https://www.entel.pe/hogar/duo/planes/'
                        },
                        {
                            icon: 'icon-telefonia',
                            text: 'Telefonía Fija',
                            link: 'https://www.entel.pe/hogar/telefonia/beneficios/'
                        },
                        {
                            icon: 'icon-tips-hogar',
                            text: 'Tips Hogar',
                            link: 'https://www.entel.pe/hogar/tips/'
                        }
                    ],
                    pictures: {
                        polygon: 'picture-hogar-polygon',
                        person: 'picture-hogar-person',
                        figure: 'picture-hogar-figure'
                    }
                }
            ]

        +tabs(tabs)(id="entel-world-tabs" class="entel-world__tabs")
            each tab, index in tabs
                -
                    active = (index === 0) ? 'js--active' : ''

                div(id=tab.id class=active + ' ' + tab.class)
                    each item in tab.items
                        a(href=item.link class="entel-world__tabs__item")
                            +iconSVG(item.icon)
                                include ../../../../../assets/img/personas/home/icon-stars.svg
                            span #{item.text}

                    .entel-world__tabs__picture
                        +lazy_image_webp_retina_media('/2021/03/' + tab.pictures.polygon, 'png', '/2021/03/' + tab.pictures.polygon + '-desktop', '768')(class="e--one")
                        +lazy_image_webp_retina_media('/2021/03/' + tab.pictures.person, 'png', '/2021/03/' + tab.pictures.person + '-desktop', '768')(class="e--two")
                        +lazy_image_webp_retina_media('/2021/03/' + tab.pictures.figure, 'png', '/2021/03/' + tab.pictures.figure + '-desktop', '768')(class="e--three")
