section(class="e-section e-phones" id='home-phones') 


    .e-container2
        -
            title = '<strong>¡Migra a Entel!</strong> Descuentos exclusivos online'

        //- h2(title=title class="e-title") !{title}

        -
            tabs2 = [
                {
                    id: 'tab-planesmoviles',
                    name: 'Planes móviles',

                },
                {
                    id: 'tab-planesequipos',
                    name: 'Planes + equipos',
                },

            ]

        +tabs2(tabs2)(id="planesTab" class="migra-entel__tabs")
            each tab, index in tabs2
                -
                    active = (index === 0) ? 'js--active' : ''

                div(id=tab.id class=active)
                    if index == 0
                        include phones/phones_chips
                        //- include phones/phones_chips_test
                    if index == 1
                        include phones/phones_migra


    .brand-section
        h6 O encuentra tu equipo favorito según su marca
        include phones/brands.pug

//- include phones/phones_chips_popup.pug
//- include phones/phones_country_popup.pug