section(class="e-section entel-services")
    .e-container
        h2 Conoce cómo la #[strong experiencia Entel] te facilita la vida.

        .entel-services__flex
            .entel-services__flex-left
                div
                    #slider-services
                        -
                            slides = [
                                {
                                    image: '2021/03/e-services-garantia',
                                    link: 'https://www.entel.pe/comunicado-garantia-extendida/',
                                    text: 'Ante el COVID19, tu bienestar es lo primero.',
                                    title: 'Extensión de garantía del fabricante'
                                },
                                {
                                    class: 'e-bg-white',
                                    image: '2021/03/e-services-wholesale',
                                    title: 'Wholesale Services',
                                    link: 'https://www.entel.pe/wholesale-services/',
                                    text: 'Soluciones eficientes y seguras.'
                                },
                                {
                                    image: '2021/03/e-services-tienda-v2',
                                    title: 'Crea tu tienda online con Entel',
                                    link: 'https://mitiendaentel.pe/',
                                    text: 'y potencia tus ventas al máximo.'
                                },
                                {
                                    class: 'e-bg-white',
                                    image: '2022/01/e-services-empresas_2022',
                                    title: 'Dale poder digital a tu empresa RUC 20',
                                    link: 'https://www.entel.pe/empresas/',
                                    text: 'Visita nuestro canal dedicado a empresas.'
                                },
                            ]

                        each slide in slides
                            .e-services__slider__slide
                                a.entel-data-layer-btn-no-planes(href=slide.link target="_blank" class=slide.class)
                                    +lazy_image_webp_retina(slide.image, 'png')(class="e-lazy__img")
                                    h4 #{slide.title}
                                    p !{slide.text}

            //- .entel-services__flex-right
            //-     div
            //-         +lazy_image_webp_retina('2021/01/e-services-woman', 'png')(class="e-lazy__img")

            //-         .e-service-quote
            //-             p Conoce más sobre cómo la experiencia #[strong Entel] te facilita la vida.
    .e-container-sm 
        .entel-services-cobertura
            div
                +lazy_image_webp_retina('2021/03/e-contact-map', 'png')(class="e-lazy__img")
                p #[strong Nuestra red] es&nbsp; #[br] cada vez más grande.
            a.e-button.e-button--orange(href="https://www.entel.pe/mapa-cobertura-entel/" target="_blank") ver mapa de cobertura