section(class="e-top-banner", id="entel-top-banner")
    .e-top-banner__text
        span.hide-mob ¡Hola!
        span.e-top-banner__text_phone Te atendemos directamente llamando al
            a(href = "tel:+51080009001", target="_blank", class="")
                span.e-top-banner__text_phone_number 0800-09001
        span.e-top-banner__text_whatsapp o por Whatsapp al
            a(href = "https://api.whatsapp.com/send?phone=51981002000", target="_blank")
                include ../../../../../assets/img/personas/home/icon-top-banner-whatsapp.svg
                span 981 002 000
    .e-top-banner__close(id="close-entel-top-banner")
        include ../../../../../assets/img/personas/home/icon-top-banner-x.svg

