section.e-section.sorteo-verano.entel-data-layer-view
  .box-tecnology
    //- .bolita_navidad_izq
    //-   +lazy_image_webp_retina("2022/11/sorteo-equipos-cintillo-equipos-navidad-bolita_navidad_izq", "png", "Bolitas de navidad")
    .box-tecnology__image 
      //- +lazy_image_webp_retina('2022/03/e-headband-web-mi-entel-laptop', 'png', 'Laptop con pagina Mi Entel')
      //- +lazy_image_webp_retina('2022/03/e-headband-web-mi-entel-laptop-view-1', 'png', 'Laptop con pagina Mi Entel')(class="picture-view picture-view-1")
      //- +lazy_image_webp_retina('2022/03/e-headband-web-mi-entel-laptop-view-2', 'png', 'Laptop con pagina Mi Entel')(class="picture-view picture-view-2")
      //- +lazy_image_webp_retina('2022/03/e-headband-web-mi-entel-base', 'png', 'Laptop con pagina Mi Entel')(class="picture-base")
      //- +mx_picture_retina_all('',img_path+'/2022/09/sorteo-equipos-cintillo-equipos', 'png', 'Imagen de campaña-equipos')
      //- +lazy_image_webp_retina_media("2022/10/sorteo-equipos-cintillo-equipos-mob", "png", "2022/10/sorteo-equipos-cintillo-equipos-desk", "768", "Icono de gánate este equipazo")
      +lazy_image_webp_retina("2023/01/cintillo-iphone-sorteo-verano", "png", "Icono de gánate este equipazo")

    div.box-tecnology__container
      div.box-tecnology__text.text-1
        //- p Llévate este #[b equipazo]
        //- +mx_picture_retina_all('',img_path+'/2022/07/logo-power', 'png', 'Logo Power')
        p #[b Empieza este verano ganando este equipazo en la web Mi Entel!]
      div.box-tecnology__text.text-2
        p.text-2_legal Aplica Términos y Condiciones #[a(href="https://www.entel.pe/swp") AQUÍ.]
    div.box-tecnology__button
      a(class='e-button e-button--orange entel-data-layer-btn-header' href='https://www.entel.pe/frI' target='_blank' 
      data-gtm-category='Sorteo de equipos - Noviembre' data-gtm-product='Personas' data-gtm-tipo='Informativo'
      data-gtm-action='Seleccionar botón' data-gtm-label='Cintillo - Ingresa aquí')
    //- .bolita_navidad_der
    //-   +lazy_image_webp_retina("2022/11/sorteo-equipos-cintillo-equipos-navidad-bolita_navidad_der", "png", "Bolitas de navidad")

