.e-box-plan-tstng {
    max-width: 255px;
    position: relative;
    background: $white;
    margin: 3rem auto 4rem;
    border-radius: 12px;
    transition: all 200ms ease 0s;
    overflow: hidden;

    &:hover {
        transform: scale(1.05) translateY(-1px);
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #191919;
        padding: 16px 16px 8px;
        margin: 0;
        text-align: left;

        span {
            font-weight: 400;
        }
    }

    &__gb {
        color: $black;
        padding: 0px 0px 8px;
        margin: 0px 16px;
        text-align: left;
        border-bottom: 2.5px solid $black;
        position: relative;

        &::before {
            content: '';
            width: 33px;
            height: 40px;
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;

            background-image: url("data:image/svg+xml,%3Csvg width='33' height='40' viewBox='0 0 33 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.9 12.2222C8.68497 12.2222 7.7 13.2171 7.7 14.4444V32.2222C7.7 33.4495 8.68497 34.4444 9.9 34.4444H23.1C24.315 34.4444 25.3 33.4495 25.3 32.2222V14.4444C25.3 13.2171 24.315 12.2222 23.1 12.2222H9.9ZM23.1 14.4444H9.9V18.8889H23.1V14.4444ZM15.4 21.1111H9.9V25.5556H15.4V21.1111ZM17.6 21.1111V25.5556H23.1V21.1111H17.6ZM9.9 32.2222V27.7778H23.1V32.2222H9.9Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.70505 1.26957C10.5275 0.455783 11.6329 0 12.7841 0H28.6C31.0301 0 33 1.98985 33 4.44444V35.5556C33 38.0102 31.0301 40 28.6 40H4.4C1.96995 40 0 38.0102 0 35.5556V12.7407C0 11.5461 0.476092 10.4018 1.32092 9.56582L9.70505 1.26957ZM12.7841 2.22222C12.2085 2.22222 11.6558 2.45011 11.2446 2.85701L2.86046 11.1533C2.43805 11.5712 2.2 12.1434 2.2 12.7407V35.5556C2.2 36.7829 3.18497 37.7778 4.4 37.7778H28.6C29.815 37.7778 30.8 36.7829 30.8 35.5556V4.44444C30.8 3.21714 29.815 2.22222 28.6 2.22222H12.7841Z' fill='black'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
        }

        &::after {
            content: '';
            width: 40px;
            height: 32px;
            display: block;
            position: absolute;
            top: 7px;
            right: 0px;

            background-image: url("data:image/svg+xml,%3Csvg width='40' height='32' viewBox='0 0 40 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='32' rx='4' fill='%23004FB9'/%3E%3Cpath d='M17.4033 19.4239L18.0289 14.4167C17.2634 13.9377 16.3639 13.6975 15.3304 13.6961C14.3677 13.6884 13.4213 13.9456 12.595 14.4397C12.5774 14.4556 12.5559 14.4665 12.5327 14.4713C12.5095 14.476 12.4854 14.4745 12.4631 14.4667C12.4271 14.4487 12.4181 14.4047 12.4361 14.3338L12.9138 10.4839C12.9488 10.377 13.0137 10.324 13.0997 10.324H19.1823C19.2702 10.1741 19.3622 10.0242 19.4591 9.88226C19.8357 9.32754 20.2875 8.82772 20.8014 8.39709L20.9013 7.56356C20.9373 7.26373 20.8124 7.11182 20.5295 7.11182H10.1504C9.84985 7.11182 9.68328 7.2624 9.65063 7.56356L8.39833 17.8118C8.3457 18.1123 8.46963 18.2626 8.77012 18.2626H11.7435C11.9567 18.2626 12.1426 18.1476 12.3011 17.9178C12.5232 17.5886 12.8355 17.3304 13.2006 17.1742C13.5799 17.0133 13.9881 16.932 14.4 16.9353C14.933 16.9353 15.3621 17.0592 15.6872 17.3071C15.8531 17.4352 15.9916 17.5952 16.0946 17.7776C16.1975 17.9601 16.263 18.1613 16.2869 18.3695C16.3474 18.6658 16.3828 18.9667 16.3929 19.269C16.3871 19.4558 16.3694 19.6421 16.3399 19.8267C16.2822 20.202 16.1749 20.568 16.0211 20.9151C15.9681 21.021 15.8791 21.1899 15.7562 21.4148C15.5592 21.7857 15.2657 22.0964 14.9067 22.3143C14.5439 22.5288 14.1288 22.6388 13.7074 22.6321C13.2116 22.6321 12.8045 22.5085 12.486 22.2613C12.157 21.9959 11.9391 21.6169 11.8754 21.1989C11.8394 21.093 11.8044 20.969 11.7694 20.8271C11.7677 20.7742 11.755 20.7223 11.7324 20.6745C11.7097 20.6267 11.6774 20.584 11.6376 20.5492C11.5978 20.5143 11.5513 20.488 11.5009 20.4719C11.4505 20.4557 11.3973 20.4501 11.3447 20.4553H8.47829C8.41472 20.4522 8.3512 20.4624 8.29181 20.4853C8.23242 20.5082 8.17849 20.5433 8.13348 20.5883C8.08848 20.6333 8.0534 20.6872 8.0305 20.7466C8.00761 20.806 7.99741 20.8695 8.00056 20.9331C8.02001 21.3858 8.08973 21.835 8.20844 22.2723C8.45984 23.3401 9.09244 24.2795 9.98744 24.9138C10.8903 25.5595 11.9967 25.8823 13.3066 25.8823C14.5857 25.8959 15.8424 25.5462 16.9306 24.8739C17.4178 24.577 17.8631 24.2163 18.2548 23.8015C17.6551 22.872 17.3463 21.7546 17.3463 20.4613C17.3405 20.1146 17.3595 19.7679 17.4033 19.4239Z' fill='white'/%3E%3Cpath d='M31.2746 9.54935C30.7727 8.73903 30.0492 8.08943 29.1897 7.6774C28.2876 7.22699 27.2345 7.00144 26.0305 7.00078C24.78 6.9833 23.5429 7.26064 22.4195 7.81032C21.3581 8.33455 20.452 9.12695 19.791 10.109C19.106 11.1339 18.6782 12.3088 18.5437 13.5341L17.8041 19.4788C17.7628 19.8046 17.7451 20.1329 17.7511 20.4612C17.7511 22.1436 18.2865 23.4889 19.3572 24.497C20.428 25.5051 21.8752 26.0095 23.6988 26.0101C25.7157 26.0101 27.4014 25.4261 28.756 24.2581C30.1106 23.0901 30.9101 21.4883 31.1546 19.4528L31.5794 16.0807C31.6154 15.7802 31.4821 15.6296 31.1796 15.6289H25.153C24.8692 15.6289 24.7102 15.7799 24.6743 16.0807L24.4094 18.2575C24.3564 18.5573 24.4794 18.7092 24.7812 18.7092H27.5157C27.6036 18.7092 27.6486 18.7622 27.6486 18.8681L27.4887 20.0365C27.3828 20.9026 27.0376 21.5796 26.4533 22.0673C25.8689 22.5551 25.1263 22.7999 24.2255 22.8019C23.3927 22.8019 22.7157 22.5497 22.1947 22.0453C21.6736 21.541 21.4124 20.8817 21.4111 20.0675C21.4081 19.9078 21.4167 19.7481 21.4371 19.5897L22.1807 13.4292C22.3046 12.4737 22.6807 11.6995 23.309 11.1065C23.9373 10.5135 24.7119 10.217 25.6327 10.217C26.4823 10.217 27.1459 10.4502 27.6236 10.9166C28.1013 11.383 28.3402 11.9893 28.3402 12.7356C28.3427 12.86 28.334 12.9844 28.3142 13.1074L28.2872 13.2932C28.2693 13.3462 28.3012 13.3932 28.3802 13.4392C28.475 13.4865 28.5802 13.5092 28.686 13.5051H31.4465C31.7303 13.5051 31.8969 13.3549 31.9462 13.0544V13.0004C31.9765 12.754 31.9942 12.5061 31.9992 12.2578C32.016 11.305 31.7649 10.3665 31.2746 9.54935Z' fill='white'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
        } 

        &__amount {
            p {
                padding-left: 41px;
                font-weight: 700;
                font-size: 40px;
                line-height: 40px;
                margin: 0;
            }
        }

        &__subfix {
            p {
                padding-left: 41px;
                font-weight: 300;
                font-size: 14px;
                line-height: 98%;
                letter-spacing: 0.06em;
                margin: 0;
            }
        }      

        &.e-gb-ili {
            padding: 9px 0px 8px 39px;
            font-weight: 300;
            font-size: 14px;
            line-height: 98%;
            letter-spacing: 0.06em;

            span {
                font-weight: 700;
                font-size: 24px;
                line-height: 31px; 
                letter-spacing: -.025em;
            }
        }
    }

    &__month {
        margin: 30px 16px 0px;
        text-align: left;
        position: relative;
        font-weight: 600;
        font-size: 32px;
        letter-spacing: 0.0125em;
        color: $black;
        display: flex;
        align-items: flex-end;

        strong {
            font-weight: 500;
            font-size: 46px;
        }

        span {
            width: 75px;
            font-weight: 500;
            font-size: 20px;
            line-height: 14px;
            margin-left: 12px;
        }

        small {
            font-weight: 500;
            font-size: 20px;
            line-height: 14px;
        }

        p {
            margin: 0;
            height: 48px;
        }        
    }

    &__dto {
        position: relative;
        padding: 0px 3px;
        margin: 0;
        width: 62px;
        height: 14px;
        background: #42E8B4;
        border-radius: 3px;
        position: absolute;
        top: -6px;
        right: 0px;

        p {
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: -0.0125em;
            color: #191919;
            text-align: center;
            margin: 0;
        }
    }

    &__price {
        color: $extra_dark_gray;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        padding: 18px 16px 25px;
        letter-spacing: 0.0125em;
    }

    &__apps {
        margin: 0px 16px;
        padding: 11px 0px 0px 24px;
        text-align: left;
        color: $black;
        border-top: 1px solid $black;
        display: flex;
        justify-content: space-between;

        background-image: url("data:image/svg+xml,%3Csvg width='11' height='17' viewBox='0 0 11 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.96875 0.773438H1.03125C0.888864 0.773438 0.773438 0.888864 0.773438 1.03125V13.9219C0.773438 14.9186 1.58143 15.7266 2.57813 15.7266H8.42188C9.41858 15.7266 10.2266 14.9186 10.2266 13.9219V1.03125C10.2266 0.888865 10.1111 0.773438 9.96875 0.773438ZM1.03125 0C0.461706 0 0 0.461706 0 1.03125V13.9219C0 15.3457 1.15427 16.5 2.57813 16.5H8.42188C9.84574 16.5 11 15.3457 11 13.9219V1.03125C11 0.461706 10.5383 0 9.96875 0H1.03125Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.4287 13.206H0.792969V12.4326H10.4287V13.206Z' fill='black'/%3E%3Cpath d='M6.1875 14.4375C6.1875 14.8172 5.8797 15.125 5.5 15.125C5.1203 15.125 4.8125 14.8172 4.8125 14.4375C4.8125 14.0578 5.1203 13.75 5.5 13.75C5.8797 13.75 6.1875 14.0578 6.1875 14.4375Z' fill='black'/%3E%3Cpath d='M2.86829 4.09436C2.86829 3.95197 2.98371 3.83655 3.1261 3.83655H4.86601C5.0084 3.83655 5.12383 3.95197 5.12383 4.09436V5.83428C5.12383 5.97666 5.0084 6.09209 4.86601 6.09209H3.1261C2.98371 6.09209 2.86829 5.97666 2.86829 5.83428V4.09436Z' fill='%2357CDB1'/%3E%3Cpath d='M5.87585 4.09436C5.87585 3.95197 5.99128 3.83655 6.13367 3.83655H7.87358C8.01597 3.83655 8.1314 3.95197 8.1314 4.09436V5.83428C8.1314 5.97666 8.01597 6.09209 7.87358 6.09209H6.13367C5.99128 6.09209 5.87585 5.97666 5.87585 5.83428V4.09436Z' fill='%2357CDB1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.86614 7.10181H3.12622V8.84172H4.86614V7.10181ZM3.12622 6.84399C2.98383 6.84399 2.86841 6.95942 2.86841 7.10181V8.84172C2.86841 8.98411 2.98383 9.09953 3.12622 9.09953H4.86614C5.00852 9.09953 5.12395 8.98411 5.12395 8.84172V7.10181C5.12395 6.95942 5.00852 6.84399 4.86614 6.84399H3.12622Z' fill='%2357CDB1'/%3E%3Cpath d='M5.87585 7.10181C5.87585 6.95942 5.99128 6.84399 6.13367 6.84399H7.87358C8.01597 6.84399 8.1314 6.95942 8.1314 7.10181V8.84172C8.1314 8.98411 8.01597 9.09953 7.87358 9.09953H6.13367C5.99128 9.09953 5.87585 8.98411 5.87585 8.84172V7.10181Z' fill='%2357CDB1'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 3px 10px;

        strong {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.0125em;
        }

        a {
            text-decoration: underline;
            font-weight: 400;
            font-size: 13px;
            line-height: 98%;
            color: $blue;
            text-align: right;
        }
    }

    &__flags {
        margin: 0px 16px;
        padding: 16px 0px 14px 24px;
        text-align: left;
        color: $black;

        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.98609 0.231456C2.64518 -0.20794 3.44279 0.0316543 3.92941 0.504423L6.02241 2.53784C6.75745 3.25196 6.77683 4.42595 6.06575 5.16394L5.29141 5.96761C5.25334 6.00711 5.24911 6.06047 5.26956 6.09848C6.31308 8.03843 7.80535 9.57717 9.84532 10.6984C9.88337 10.7193 9.9367 10.7156 9.97646 10.6785L11.1127 9.61853C11.6422 9.12461 12.4653 9.13018 12.988 9.63122L15.589 12.1242C15.9632 12.4829 16.141 13.071 15.8674 13.5898C15.1434 14.9628 13.7028 15.9446 11.6568 15.7935C9.63851 15.6445 7.0752 14.3983 4.02472 11.457C1.24522 8.77704 0.120994 6.38871 0.00932161 4.43824C-0.102895 2.47829 0.812301 1.01398 1.98609 0.231456ZM3.41068 1.03835C3.08965 0.726454 2.67686 0.665616 2.39901 0.850847C1.43658 1.49247 0.655961 2.70919 0.752521 4.39569C0.849624 6.09168 1.83877 8.31524 4.54142 10.9211C7.53467 13.8072 9.94187 14.9205 11.7116 15.0511C13.4538 15.1797 14.6189 14.3614 15.2089 13.2426C15.2969 13.0757 15.2594 12.8394 15.0739 12.6617L12.4729 10.1686C12.2353 9.9409 11.8612 9.93836 11.6205 10.1629L10.4842 11.2228C10.2174 11.4717 9.81615 11.5318 9.48675 11.3508C7.3198 10.1597 5.7249 8.51639 4.61397 6.45113C4.43476 6.11797 4.50097 5.71509 4.75534 5.45109L5.52969 4.64743C5.95633 4.20464 5.9447 3.50024 5.50368 3.07177L3.41068 1.03835Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.56986 4.92258C10.0965 4.78798 11.4316 5.90674 11.5662 7.43333C11.5842 7.6381 11.4329 7.81874 11.2281 7.83679C11.0233 7.85485 10.8427 7.70348 10.8246 7.49871C10.7261 6.38166 9.7523 5.56563 8.63524 5.66412C8.43047 5.68217 8.24984 5.53081 8.23178 5.32604C8.21373 5.12127 8.36509 4.94063 8.56986 4.92258Z' fill='%2357CDB1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.85405 2.85581C11.2503 2.64454 13.3613 4.41351 13.5726 6.80972C13.5907 7.01449 13.4393 7.19513 13.2345 7.21318C13.0298 7.23124 12.8491 7.07988 12.8311 6.8751C12.6559 4.88843 10.9061 3.42218 8.91943 3.59735C8.71466 3.6154 8.53403 3.46404 8.51597 3.25927C8.49792 3.0545 8.64928 2.87386 8.85405 2.85581Z' fill='%2357CDB1'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 3px 15px;

        strong {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.0125em;
        }

        .e-icon-flags {
            strong {
                font-weight: 500;
                font-size: 11px;
                line-height: 120%;
                color: $extra_dark_gray;
                letter-spacing: 0.0025em;
            }
        }
    }

    &__see-more {
        font-weight: 600;
        font-size: 16px;
        line-height: 123.5%;
        color: $blue;
        text-decoration: underline;
        text-align: center;

        &.js--active {
            visibility: hidden;
            transition: all 0.1s ease-in-out;

            &::after {
                transition: all 0.1s ease-in;
                content: 'Ver menos';
                visibility: visible;
                margin-left: -58px;
            }
        }
    }

    &__extra {
        display: none;

        &.js--active {
            display: block;
            transition: all 0.4s ease-in-out;
        }

        &__sms {
            margin: 7px 16px 0px;
            padding: 0px 0px 0px 24px;
            text-align: left;
            color: $black;
    
            background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.6556 0.421852H1.40617C0.862547 0.421852 0.421852 0.862547 0.421852 1.40617V9.98383C0.421852 10.5275 0.862548 10.9681 1.40617 10.9681H12.6556C13.1992 10.9681 13.6399 10.5275 13.6399 9.98383V1.40617C13.6399 0.862548 13.1992 0.421852 12.6556 0.421852ZM1.40617 0C0.629565 0 0 0.629565 0 1.40617V9.98383C0 10.7604 0.629565 11.39 1.40617 11.39H12.6556C13.4322 11.39 14.0617 10.7604 14.0617 9.98383V1.40617C14.0617 0.629565 13.4322 0 12.6556 0H1.40617Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.23088 1.45737C0.280265 1.35187 0.405829 1.30637 0.511334 1.35576L6.52421 4.1703C6.8453 4.3206 7.21655 4.3206 7.53764 4.1703L13.5505 1.35576C13.656 1.30637 13.7816 1.35187 13.831 1.45737C13.8804 1.56288 13.8349 1.68844 13.7294 1.73783L7.71648 4.55236C7.28206 4.75571 6.77979 4.75571 6.34537 4.55236L0.332494 1.73783C0.226989 1.68844 0.181495 1.56288 0.23088 1.45737Z' fill='black'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: 3px 3px;
    
            strong {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.0125em;
            }
        }
        
        &__roaming {
            margin: 0px 16px;
            padding: 8px 0px 26px 24px;
            text-align: left;
            color: $black;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
    
            background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.34869 5.73926C6.52616 5.73926 6.67003 5.88313 6.67003 6.0606L6.67003 13.393C6.67003 13.5704 6.52616 13.7143 6.34869 13.7143C6.17121 13.7143 6.02734 13.5704 6.02734 13.393L6.02734 6.0606C6.02734 5.88313 6.17121 5.73926 6.34869 5.73926Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.34885 5.7427C7.19325 5.7427 7.87777 5.05818 7.87777 4.21378C7.87777 3.36938 7.19325 2.68486 6.34885 2.68486C5.50445 2.68486 4.81993 3.36938 4.81993 4.21378C4.81993 5.05818 5.50445 5.7427 6.34885 5.7427ZM6.34885 6.38539C7.5482 6.38539 8.52046 5.41313 8.52046 4.21378C8.52046 3.01444 7.5482 2.04218 6.34885 2.04218C5.14951 2.04218 4.17725 3.01444 4.17725 4.21378C4.17725 5.41313 5.14951 6.38539 6.34885 6.38539Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.04841 0.0867569C2.17797 0.208046 2.18467 0.411399 2.06338 0.540958C1.53483 1.10555 0.885279 2.18595 0.69648 3.50524C0.509674 4.8106 0.771587 6.35976 2.0741 7.8991C2.18874 8.03458 2.17184 8.23734 2.03636 8.35198C1.90088 8.46662 1.69812 8.44972 1.58349 8.31424C0.155806 6.62698 -0.151073 4.89105 0.0602752 3.41419C0.269631 1.95125 0.985176 0.752288 1.59421 0.101731C1.7155 -0.0278285 1.91885 -0.0345325 2.04841 0.0867569ZM3.73031 1.16249C3.86011 1.28351 3.86723 1.48685 3.74621 1.61666C3.38617 2.00282 2.93778 2.7504 2.80752 3.67935C2.67905 4.59547 2.85771 5.69928 3.7621 6.82977C3.87297 6.96835 3.8505 7.17057 3.71191 7.28144C3.57333 7.3923 3.37111 7.36983 3.26025 7.23125C2.24109 5.95731 2.01901 4.67444 2.17106 3.5901C2.32131 2.51858 2.83469 1.65187 3.27614 1.17839C3.39716 1.04858 3.6005 1.04146 3.73031 1.16249Z' fill='%235CDEB1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.7231 0.0867569C10.5935 0.208046 10.5868 0.411399 10.7081 0.540958C11.2367 1.10555 11.8862 2.18595 12.075 3.50524C12.2618 4.8106 11.9999 6.35976 10.6974 7.8991C10.5827 8.03458 10.5996 8.23734 10.7351 8.35198C10.8706 8.46662 11.0734 8.44972 11.188 8.31424C12.6157 6.62698 12.9226 4.89105 12.7112 3.41419C12.5019 1.95125 11.7863 0.752288 11.1773 0.101731C11.056 -0.0278285 10.8526 -0.0345325 10.7231 0.0867569ZM9.04118 1.16249C8.91137 1.28351 8.90425 1.48685 9.02527 1.61666C9.38531 2.00282 9.8337 2.7504 9.96397 3.67935C10.0924 4.59547 9.91378 5.69928 9.00938 6.82977C8.89852 6.96835 8.92099 7.17057 9.05957 7.28144C9.19815 7.3923 9.40037 7.36983 9.51124 7.23125C10.5304 5.95731 10.7525 4.67444 10.6004 3.5901C10.4502 2.51858 9.93679 1.65187 9.49535 1.17839C9.37432 1.04858 9.17099 1.04146 9.04118 1.16249Z' fill='%235CDEB1'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: 3px 8px;
    
            strong {
                max-width: 149px;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.0125em;
            }
    
            a {
                text-decoration: underline;
                font-weight: 400;
                font-size: 13px;
                line-height: 98%;
                color: $blue;
                text-align: right;
            }
    
            &.empty-block {
                background: none;
            }
        }
    }

    .e-button {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        width: 161px;
        display: block;
        margin: 14px auto 12px;
        text-transform: none;
    }

    &__msn {
        color: #383C47;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        padding: 0px 0px 11px;
        margin: 0;
        letter-spacing: 0.015em;
    }

    &__link {
        text-align: center;
        margin-bottom: 18px;

        a {
            font-weight: 600;
            font-size: 16px;
            line-height: 123.5%;
            color: $blue;
            text-decoration: none;
        }
    }
}