.e-circle {
    z-index: 0;
    width: 12px;
    opacity: .4;
    height: 12px;
    position: absolute;
    border-radius: 100%;
    border: 3px solid #5CDEB1;
    background-color: #5CDEB1;
    transition: top 300ms ease-in-out;

    &.e--line {
        background-color: transparent;
    }

    &.e--sky-blue {
        border-color: #00B9EB;
        background-color: #00B9EB;
    }
}