.entel-notify {
  &__body {
    .lq-wrapper__menu {
      // height: 110px;

      @media (min-width: 768px) {
        height: 40px;
      }
    }

    .lq-eheader {
      //top: 0px;

      @media (min-width: 768px) {
        top: 40px;
      }

      &.scroll-menu {
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.5);
      }

      .lq-container_menu {
        .lq-enav {
          top: 85px;

          @media (min-width: 768px) {
            top: 0;
          }
        }
      }

      .overlay_eheader {
        position: absolute;
        display: block;
        width: 100%;
        height: 57px;
        top: 0;
        background: rgba(0,0,0,0.4);
        left: 0;
        z-index: 201;

        @media (min-width: 768px) {
          height: 77px;
        }
      }
    }

    @media (min-width: 768px) {
      .lq-wrapper__menu,
      .lq-enav-page,
      .lq-eheader.scroll-menu {
        top: 0;
      }

      .e-page.home-entel-main {
        padding-top: 115px;
      }
    }

    @media (min-width: 1024px) {
      .lq-eheader.scroll-menu {
        .entel-notify__main {
          top: 0;
        }
      }
    }

    // .entel-notify__main {
    //   display: block;
    // }

    // @media (min-width: 1024px) {
    //   .lq-enav__user {
    //     right: 179px;
    //   }
    // }
  }

  &__main {
    //display: none;
    background: #00b9eb;
    left: 0;
    //position: fixed;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    text-align: center;

    // @media screen and (max-width:1024px) {
    // //    display: none; 
    // }

    @media (min-width: 1024px) {
      display: block;
      width: auto;
      //right: 20px;
      right: -150px;
      left: inherit;
      border-radius: 0 0 10px 10px;
      top: -42px;
    }

    // @media (min-width: 1300px) {
    //   right: inherit;
    //   left: 79%;
    // }

    .entel-notify__content {
      // height: 55px;
      // width: 280px;
      // margin: 0 auto;
      // padding-top: 9px;
      // display: none;

      // @media (min-width: 768px) {
      //   width: 100%;
      //   height: 50px;
      //   padding-top: 15px;
      // }

      @media (min-width: 1024px) {
        //left: inherit;
        width: 150px;
        height: auto;
        display: block;
        padding: 13px 10px;
        border-radius: 0 10px 10px 0;

        & > div:first-child {
          font-size: 11px;
        }
      }

      & > div {
        font-size: 12px;
        color: #ffffff;
        margin: 1px 0;

        i {
          font-style: normal;

          @media (min-width: 1024px) {
            display: none;
          }
        }

        @media (min-width: 768px) {
          display: inline;
          width: 300px;
          font-size: 17px;
        }

        @media (min-width: 1024px) {
          display: block;
          width: 100%;
          font-size: 20px;

          .contact {
            margin-top: 5px;
          }
        }

        * {
          display: inline-block;
          vertical-align: middle;
        }

        span.black {
          font-weight: 700;
          height: 15px;
        }

        a {
          text-decoration: underline;
          color: #ffffff;
          font-weight: 700;
        }
      }

      .entel-notify__close {
        text-decoration: underline;
        position: absolute;
        height: 26px;
        width: 26px;
        top: 4px;
        right: 10px;

        @media (min-width: 768px) {
          top: 0;
          bottom: 0;
          margin: auto;
        }

        @media (min-width: 1024px) {
          display: none;
        }

        span {
          border: 1px solid #ffffff;
          border-radius: 100%;
          display: block;
          height: 26px;
          width: 26px;
          opacity: 0.5;
          position: relative;
          transition: opacity 0.25s ease;
          text-indent: 999px;

          &::before {
            transform: rotate(45deg);
          }

          &::after {
            transform: rotate(-45deg);
          }

          &::before,
          &::after {
            background-color: #ffffff;
            content: "";
            height: 2px;
            left: 25%;
            margin-top: -1px;
            opacity: 1;
            position: absolute;
            top: 50%;
            width: 50%;
          }
        }
      }
    }
  }
}
