.popup-plans {
  position: absolute;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  background-color: transparent;
  transition: all 0.3s 0.12s;
  transform: translateY(-10%);

  &--show {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    z-index : 100;
  }

  &__close-btn {
    text-align: right;
    margin-bottom: 10px;

    span {
      color: #383C47;
      font-size: 20px;
      font-weight: bold;
      padding: 10px 0 10px 20px;
      cursor: pointer;
    }
  }

  &__wrapper {
    width: 286px;
    height: 231px;
    padding: 24px;
    padding-top: 10px;
    background: #FFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25), -4px 0.2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  &__content {
    &__title {
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      color: #383C47;
      margin-bottom: 20px;
    }

    &__button {
      padding: 12px 9px;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      font-weight: 600;
      font-size: 14px !important;

      &--default {
        background-color: #ffffff;
        color: #FF560A;
        border: 1px solid #FF560A;

        &:hover {
          color: #FF560A;
        }
      }

      &--fill {
        background-color: #FF560A;
        color: #fff;
        margin-bottom: 15px;

        &:hover {
          background-color: #ff3d00c2 !important;
          color: #fff !important;
          border: none !important;
        }

        span {
          font-size: 14px;
          line-height: 14px;
  
          u {
            font-size: 12px;
            text-decoration: none;
          }
        }
      }

      & .icon {
        margin-right: 10px;
      }
    }
  }
}

.popup-plans__access_item {
    position: absolute;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    background-color: transparent;
    transition: all 0.3s 0.12s;
    transform: translateY(-10%);

    &--show {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
        z-index : 100;
    }

    &__close-btn {
        text-align: right;
        margin-bottom: 10px;

        span {
        color: #383C47;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 0 10px 20px;
        cursor: pointer;
        }
    }

    &__wrapper {
        width: 286px;
        height: 231px;
        padding: 24px;
        padding-top: 10px;
        background: #FFF;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25), -4px 0.2px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    &__content {
        &__title {
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            color: #383C47;
            margin-bottom: 20px;
        }

        &__button {
            padding: 12px 9px;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            font-weight: 600;
            font-size: 14px !important;

            &--default {
                background-color: #ffffff;
                color: #FF560A;
                border: 1px solid #FF560A;

                &:hover {
                    color: #FF560A;
                }
            }

            &--fill {
                background-color: #FF560A;
                color: #fff;
                margin-bottom: 15px;

                &:hover {
                    background-color: #ff3d00c2 !important;
                    color: #fff !important;
                    border: none !important;
                }

                span {
                    font-size: 14px;
                    line-height: 14px;

                    u {
                        font-size: 12px;
                        text-decoration: none;
                    }
                }
            }

            & .icon {
            margin-right: 10px;
            }
        }
    }
}

.popup-plans-overlay__access_item {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;

    &--show {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
        z-index : 100;
    }
}

.popup-plans-overlay {
  position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: hsla(0, 0%, 0%, 0.5);
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s linear 0.3s, opacity 0.3s;

  &--show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    z-index : 100;
  }
}

.popup-planesmovil {
  position: absolute;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  background-color: transparent;
  transition: all 0.3s 0.12s;
  transform: translateX(-50%);
  left: 50%;
  top: 30%;

  @include responsive-width($tablet-s){
    top: 28%;
  }
  
  &--show {
    visibility: visible;
    opacity: 1;
    z-index : 100;
  }


  .e-button--small {
    width: 196px;
    text-transform: none;
  }

  &__close-btn {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-right: 15px;
    margin-top: 17px;

    &:before,
    &:after {
        content: "";
        background-color: $color-bluenew;
        display: block;
        height: 2px;
        width: 32px;
        top: 50%;
        left: 50%;
        margin-top: -1px;
        margin-left: -16px;
        border-radius: 1px;
        position: absolute;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
  }

  &__wrapper {
    width: 274px;
    height: 100%;
    // min-height: 176px;
    // max-height: 286px;
    padding: 53px 19px 30px;
    background: #FFF;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 16px;
  }

  &__content {
    text-align: left;
    &__title {
      font-weight: 300;
      font-size: 14px;
      color: #383C47;
      text-align: left;
      margin: 0;

      strong {
        font-weight: 700;

        &.blue {
          color: $color-bluenew;
        }
      }
    } 

    &__subtitle {
      color: $black;
      margin-bottom: 10px;

      strong {
        color: $color-bluenew;
        font-size: 36px;
      }
      &> span {
        display: inline-block; 
        vertical-align: baseline;
        text-transform: lowercase;
      }
    } 

    &__text {
      margin-top: 5px;
      color: $black;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-align: left;

      strong {
        font-weight: 700;
        display: block;
      }

      a {
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
        outline: 0;
        color: #007FFF;
        text-transform: lowercase;
        text-decoration: none !important;
      }
    }

    &__icon {
      margin-top: 13px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      .e-icon-apps {
        display: flex;
        align-items: center;
        width: 106px;
        margin-bottom: 10px;

        p {
          margin: 0;
          font-weight: 600;
          font-size: 10px;
          line-height: 12px;
          letter-spacing: 0.015em;
          color: $black;
          text-align: left;

          span {
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: #383C47;
          }
        }

        &__box {
          background-repeat: no-repeat;
          width: 28px;
          height: 23px;
          display: inline-block;
          margin-right: 3px;
        }

        &__what {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='22' height='22' rx='11' fill='black'/%3E%3Cpath d='M10.9873 6C8.22785 6 6 8.22785 6 10.9873C6 12.0759 6.35443 13.0886 6.96203 13.924L6.32911 15.7722L8.25316 15.1646C9.03797 15.6962 9.97468 16 11.0127 16C13.7722 16 16 13.7722 16 11.0127C15.9747 8.22785 13.7468 6 10.9873 6ZM13.8987 13.038C13.7722 13.3671 13.2911 13.6709 12.9114 13.7468C12.6582 13.7975 12.3038 13.8481 11.1646 13.3671C9.6962 12.7595 8.75949 11.2658 8.68354 11.1646C8.6076 11.0633 8.10127 10.3797 8.10127 9.67089C8.10127 8.96202 8.4557 8.60759 8.60759 8.4557C8.73418 8.32911 8.93671 8.27848 9.11392 8.27848C9.16456 8.27848 9.24051 8.27848 9.29114 8.27848C9.44304 8.27848 9.51899 8.3038 9.62025 8.53165C9.74683 8.81013 10.0253 9.5443 10.0759 9.62025C10.1013 9.6962 10.1519 9.79747 10.1013 9.89873C10.0506 10 10.0253 10.0506 9.94937 10.1266C9.87342 10.2025 9.79747 10.2785 9.72152 10.3797C9.64557 10.4557 9.56962 10.557 9.67089 10.6835C9.74683 10.8354 10.0506 11.3165 10.481 11.6962C11.038 12.2025 11.4937 12.3544 11.6456 12.4304C11.7722 12.481 11.8987 12.481 12 12.3797C12.1013 12.2532 12.2532 12.0506 12.3797 11.8734C12.481 11.7215 12.6076 11.7215 12.7342 11.7722C12.8608 11.8228 13.5696 12.1772 13.7215 12.2532C13.8734 12.3291 13.9747 12.3544 14 12.4304C14.0253 12.4051 14.0253 12.7089 13.8987 13.038Z' fill='white'/%3E%3C/svg%3E");
        }

        &__waze {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='22' height='22' rx='11' fill='black'/%3E%3Cpath d='M10.955 9.40624C10.955 9.7324 10.679 10.0084 10.3529 10.0084C10.0267 10.0084 9.75072 9.7324 9.75072 9.40624C9.75072 9.08007 10.0267 8.80408 10.3529 8.80408C10.679 8.80408 10.955 9.05498 10.955 9.40624Z' fill='white'/%3E%3Cpath d='M13.7404 9.40624C13.7404 9.7324 13.4644 10.0084 13.1382 10.0084C12.812 10.0084 12.5361 9.7324 12.5361 9.40624C12.5361 9.08007 12.812 8.80408 13.1382 8.80408C13.4644 8.80408 13.7404 9.05498 13.7404 9.40624Z' fill='white'/%3E%3Cpath d='M11.7336 12.5933C10.73 12.5933 9.80169 11.941 9.65115 11.0628C9.62606 10.8872 9.72642 10.7367 9.90205 10.7116C10.0777 10.6865 10.2282 10.7869 10.2533 10.9625C10.3537 11.4643 10.9558 12.0163 11.7838 11.9912C12.6368 11.9661 13.1888 11.4643 13.3143 10.9625C13.3644 10.7869 13.515 10.6865 13.6906 10.7367C13.8662 10.7869 13.9666 10.9374 13.9164 11.113C13.816 11.5145 13.5651 11.8908 13.1888 12.1668C12.8125 12.4428 12.3107 12.6184 11.8089 12.6184C11.7587 12.5933 11.7336 12.5933 11.7336 12.5933Z' fill='white'/%3E%3Cpath d='M16.8522 9.7079C16.7268 9.03048 16.4759 8.40324 16.0494 7.82617C15.5727 7.17384 14.9454 6.62187 14.1927 6.24552C13.44 5.86917 12.587 5.66846 11.759 5.66846C11.5332 5.66846 11.2823 5.69355 11.0565 5.71864C10.078 5.84408 9.12461 6.27061 8.34683 6.87276C7.46869 7.55019 6.91672 8.42833 6.74109 9.40682C6.69091 9.7079 6.66582 10.009 6.64073 10.3351C6.61564 10.8118 6.56546 11.3387 6.41492 11.6649C6.31456 11.8907 6.13894 12.0412 5.71241 12.0412C5.4866 12.0412 5.2608 12.1667 5.16044 12.3925C5.06008 12.5932 5.08517 12.8441 5.21062 13.0448C5.86295 13.8979 6.69091 14.4248 7.59414 14.7258C7.54396 14.8513 7.51887 14.9767 7.51887 15.1022C7.51887 15.7796 8.07084 16.3316 8.74827 16.3316C9.4006 16.3316 9.95257 15.8047 9.97766 15.1524C10.2787 15.1775 11.6336 15.1775 11.7841 15.1775C11.8092 15.8298 12.3612 16.3316 13.0135 16.3316C13.6909 16.3316 14.2429 15.7796 14.2429 15.1022C14.2429 14.9517 14.2178 14.8011 14.1676 14.6506C14.6443 14.4248 15.096 14.0986 15.4974 13.7223C16.0494 13.1954 16.4508 12.5681 16.6766 11.9158C16.9024 11.1882 16.9526 10.4355 16.8522 9.7079ZM8.72318 15.5287C8.49737 15.5287 8.32174 15.3531 8.32174 15.1273C8.32174 14.9015 8.49737 14.7258 8.72318 14.7258C8.94898 14.7258 9.12461 14.9015 9.12461 15.1273C9.12461 15.328 8.94898 15.5287 8.72318 15.5287ZM12.9884 15.5287C12.7626 15.5287 12.587 15.3531 12.587 15.1273C12.587 14.9015 12.7626 14.7258 12.9884 14.7258C13.2142 14.7258 13.3899 14.9015 13.3899 15.1273C13.415 15.328 13.2142 15.5287 12.9884 15.5287ZM16.0745 11.7402C15.7232 12.819 14.7698 13.7223 13.7913 14.1739C13.5906 13.9982 13.3146 13.8979 13.0135 13.8979C12.5368 13.8979 12.1103 14.1739 11.9096 14.5753C11.7089 14.5753 10.1533 14.5753 9.82712 14.5502C9.62641 14.1739 9.19988 13.8979 8.74827 13.8979C8.44719 13.8979 8.14611 14.0233 7.9454 14.199C7.09235 13.923 6.31456 13.4714 5.71241 12.6685C7.46869 12.6685 7.11743 10.7115 7.34324 9.53227C7.6945 7.7509 9.45078 6.57169 11.1569 6.34588C11.3576 6.32079 11.5834 6.2957 11.7841 6.2957C14.544 6.2957 17.0279 8.80467 16.0745 11.7402Z' fill='white'/%3E%3C/svg%3E");
        }

        &__fb {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='22' height='22' rx='11' fill='black'/%3E%3Cpath d='M13.8941 5C13.8941 5.68665 13.8941 6.3406 13.9294 7.02725C13.7529 7.02725 13.5765 7.02725 13.4353 7.02725C13.1176 7.02725 12.8353 7.02725 12.5176 7.02725C12.1647 7.02725 11.9529 7.19074 11.9529 7.51771C11.9529 7.97548 11.9529 8.40054 11.9529 8.85831C12.6235 8.85831 13.2941 8.85831 14 8.85831C13.9294 9.57766 13.8588 10.2643 13.7882 10.9837C13.1882 10.9837 12.5882 10.9837 11.9882 10.9837C12.0235 12.9782 12.0235 14.9728 12.0588 16.9673C11.1765 16.9673 10.2588 16.9673 9.37647 17C9.34118 15.0055 9.34118 13.0436 9.30588 11.049C8.88235 11.049 8.45882 11.049 8.03529 11.049C8.03529 10.3297 8.03529 9.64305 8 8.92371C8.42353 8.92371 8.84706 8.92371 9.27059 8.92371C9.27059 8.85831 9.27059 8.79292 9.27059 8.76022C9.27059 8.26975 9.23529 7.77929 9.27059 7.28883C9.34118 6.50409 9.65882 5.81744 10.4353 5.39237C10.8235 5.16349 11.2824 5.06539 11.7412 5.06539C12.4471 5.0327 13.1529 5.06539 13.8588 5.0327C13.8588 5 13.8588 5 13.8941 5Z' fill='white'/%3E%3C/svg%3E");
        }

        &__inst {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='22' height='22' rx='11' fill='black'/%3E%3Cpath d='M8.98077 10.9712C8.98077 9.875 9.875 8.98077 10.9712 8.98077C12.0673 8.98077 12.9615 9.875 12.9615 10.9712C12.9615 12.0673 12.0673 12.9615 10.9712 12.9615C9.875 12.9615 8.98077 12.0962 8.98077 10.9712ZM7.91346 10.9712C7.91346 12.6731 9.29808 14.0577 11 14.0577C12.7019 14.0577 14.0865 12.6731 14.0865 10.9712C14.0865 9.26923 12.7019 7.88462 11 7.88462C9.29808 7.88462 7.91346 9.29808 7.91346 10.9712ZM13.4519 7.79808C13.4519 8.20192 13.7692 8.51923 14.1731 8.51923C14.5769 8.51923 14.8942 8.20192 14.8942 7.79808C14.8942 7.39423 14.5769 7.07692 14.1731 7.07692C13.7692 7.07692 13.4519 7.39423 13.4519 7.79808ZM8.54808 15.8462C7.97115 15.8173 7.65385 15.7308 7.42308 15.6442C7.13462 15.5288 6.93269 15.4135 6.73077 15.1827C6.52885 14.9808 6.38462 14.7788 6.26923 14.4904C6.18269 14.2885 6.09615 13.9712 6.06731 13.3654C6.03846 12.7308 6.03846 12.5577 6.03846 10.9423C6.03846 9.32692 6.03846 9.15385 6.06731 8.51923C6.09615 7.94231 6.18269 7.625 6.26923 7.39423C6.38462 7.10577 6.5 6.90385 6.73077 6.70192C6.93269 6.5 7.13462 6.35577 7.42308 6.24038C7.625 6.15385 7.94231 6.06731 8.54808 6.03846C9.18269 6.00962 9.35577 6.00962 10.9712 6.00962C12.5577 6.00962 12.7596 6.00962 13.3942 6.03846C13.9712 6.06731 14.2885 6.15385 14.5192 6.24038C14.8077 6.35577 15.0096 6.47115 15.2115 6.70192C15.4135 6.90385 15.5577 7.10577 15.6731 7.39423C15.7596 7.59615 15.8462 7.91346 15.875 8.51923C15.9038 9.15385 15.9038 9.32692 15.9038 10.9423C15.9038 12.5288 15.9038 12.7308 15.875 13.3654C15.8462 13.9423 15.7596 14.2596 15.6731 14.4904C15.5577 14.7788 15.4423 14.9808 15.2115 15.1827C15.0096 15.3846 14.8077 15.5288 14.5192 15.6442C14.3173 15.7308 14 15.8173 13.3942 15.8462C12.7596 15.875 12.5865 15.875 10.9712 15.875C9.38462 15.9038 9.18269 15.875 8.54808 15.8462ZM8.51923 5.02885C7.88462 5.05769 7.45192 5.17308 7.07692 5.31731C6.67308 5.46154 6.35577 5.66346 6.00962 6.00962C5.66346 6.35577 5.46154 6.67308 5.31731 7.07692C5.17308 7.45192 5.05769 7.88462 5.02885 8.51923C5 9.15385 5 9.35577 5 11C5 12.6442 5 12.8173 5.02885 13.4808C5.05769 14.1154 5.17308 14.5481 5.31731 14.9231C5.46154 15.3269 5.66346 15.6442 6.00962 15.9904C6.35577 16.3365 6.67308 16.5385 7.07692 16.6827C7.45192 16.8269 7.88462 16.9423 8.51923 16.9712C9.15385 17 9.35577 17 11 17C12.6154 17 12.8173 17 13.4808 16.9712C14.1154 16.9423 14.5481 16.8269 14.9231 16.6827C15.3269 16.5385 15.6442 16.3365 15.9904 15.9904C16.3365 15.6442 16.5385 15.3269 16.6827 14.9231C16.8269 14.5481 16.9423 14.1154 16.9712 13.4808C17 12.8462 17 12.6442 17 11C17 9.35577 17 9.18269 16.9712 8.51923C16.9423 7.88462 16.8269 7.45192 16.6827 7.07692C16.5385 6.67308 16.3365 6.35577 15.9904 6.00962C15.6442 5.66346 15.3269 5.46154 14.9231 5.31731C14.5481 5.17308 14.1154 5.05769 13.4808 5.02885C12.8462 5 12.6442 5 11 5C9.35577 5 9.15385 5 8.51923 5.02885Z' fill='white'/%3E%3C/svg%3E");
        }

        &__msn {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='22' height='22' rx='11' fill='black'/%3E%3Cpath d='M11 6C8.23301 6 6 8.05811 6 10.6247C6 12.0775 6.72815 13.385 7.86893 14.2324V16L9.56796 15.0557C10.0291 15.1768 10.5146 15.2494 11 15.2494C13.767 15.2494 16 13.1913 16 10.6247C16 8.05811 13.767 6 11 6ZM11.4854 12.2228L10.199 10.8668L7.7233 12.2228L10.466 9.31719L11.7767 10.6731L14.2282 9.31719L11.4854 12.2228Z' fill='white'/%3E%3C/svg%3E");
        }

        &__tikt {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2904 22C17.5259 22 22.5807 17.0751 22.5807 11C22.5807 4.92487 17.5259 0 11.2904 0C5.05487 0 0 4.92487 0 11C0 17.0751 5.05487 22 11.2904 22Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M10.1365 9.47551V9.01969C9.97411 8.99466 9.81012 8.98099 9.64576 8.97877C8.05453 8.97566 6.64619 9.98002 6.16823 11.4583C5.69028 12.9366 6.25436 14.5465 7.5601 15.4317C6.19003 14.0031 6.26818 11.7629 7.73448 10.4281C8.38784 9.83383 9.24289 9.49475 10.1365 9.47551Z' fill='%2325F4EE'/%3E%3Cpath d='M10.2247 14.6369C11.1141 14.6358 11.8451 13.9532 11.8845 13.0871V5.36043H13.3332C13.3036 5.19907 13.2895 5.03537 13.2912 4.87146H11.3098V12.5904C11.2768 13.4606 10.5436 14.15 9.64994 14.1515C9.38305 14.1495 9.11989 14.0852 8.8833 13.9651C9.03671 14.1721 9.23819 14.3409 9.4713 14.4577C9.70441 14.5744 9.96255 14.6358 10.2247 14.6369ZM16.0388 7.98191V7.55251C15.5055 7.55251 14.984 7.39919 14.5401 7.11171C14.9292 7.55286 15.4554 7.85836 16.0388 7.98191Z' fill='%2325F4EE'/%3E%3Cpath d='M14.5412 7.11211C14.1035 6.62677 13.8624 6.00272 13.8628 5.35669H13.3338C13.4019 5.71392 13.5441 6.05385 13.7517 6.35568C13.9593 6.65752 14.2279 6.91491 14.5412 7.11211ZM9.64626 10.9099C8.72757 10.9146 7.98645 11.6439 7.99123 12.539C7.99275 12.8328 8.07621 13.1207 8.2327 13.3718C8.38918 13.623 8.61279 13.828 8.87962 13.965C8.34212 13.2419 8.508 12.2308 9.25018 11.7066C9.53376 11.5065 9.87508 11.3989 10.2252 11.3994C10.3916 11.4015 10.557 11.4269 10.7159 11.4745V9.50983C10.5538 9.486 10.3895 9.47357 10.2252 9.47254H10.137V10.9664C9.97695 10.9239 9.81161 10.9053 9.64626 10.9099Z' fill='%23FE2C55'/%3E%3Cpath d='M16.0388 7.98193V9.47578C15.0517 9.47393 14.0903 9.16949 13.2907 8.60558V12.5303C13.2864 14.4888 11.6559 16.0743 9.64568 16.0743C8.89915 16.0757 8.17058 15.8513 7.56055 15.432C8.92848 16.8652 11.23 16.9471 12.7016 15.6143C13.0677 15.2828 13.3597 14.8813 13.5594 14.4349C13.7591 13.9885 13.8622 13.5067 13.8622 13.0198V9.10594C14.6646 9.66588 15.6271 9.96627 16.614 9.96475V8.04202C16.4205 8.04098 16.228 8.0213 16.0388 7.98193Z' fill='%23FE2C55'/%3E%3Cpath d='M13.2912 12.5307V8.60596C14.0934 9.16634 15.056 9.46678 16.0431 9.46477V7.97092C15.46 7.85082 14.9327 7.54943 14.5406 7.11211C14.2275 6.91475 13.959 6.65731 13.7514 6.3555C13.5439 6.05369 13.4016 5.71384 13.3332 5.35669H11.8845V13.087C11.8467 13.9815 11.0727 14.6767 10.1545 14.6404C9.90332 14.6305 9.65771 14.5652 9.43616 14.4494C9.2146 14.3337 9.02286 14.1705 8.87535 13.9722C8.06246 13.5552 7.75038 12.5752 8.17836 11.7832C8.31881 11.5232 8.52921 11.3053 8.78704 11.1528C9.04486 11.0003 9.3404 10.9191 9.64199 10.9177C9.8084 10.9192 9.97374 10.9441 10.1327 10.9923V9.47616C8.12626 9.50931 6.52705 11.1435 6.56108 13.0984C6.57647 13.9836 6.93175 14.8312 7.55686 15.4738C8.17289 15.8792 8.90246 16.0893 9.64572 16.0752C11.6564 16.0747 13.287 14.4891 13.2912 12.5307Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='11.2896' y1='0' x2='11.2896' y2='21.9182' gradientUnits='userSpaceOnUse'%3E%3Cstop/%3E%3Cstop offset='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
        }

        &__spot {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='22' height='22' rx='11' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.1408 10.2059C12.8844 8.86591 9.16241 8.7427 7.0084 9.39645C6.66251 9.50135 6.29672 9.30609 6.1919 8.96028C6.08708 8.61414 6.28218 8.2486 6.62832 8.14345C9.10097 7.3929 13.2115 7.53785 15.8091 9.07981C16.1203 9.26446 16.2223 9.66636 16.0378 9.97697C15.8532 10.288 15.4511 10.3907 15.1408 10.2059ZM15.0672 12.1905C14.9089 12.4474 14.573 12.5279 14.3165 12.3702C12.4353 11.2139 9.56676 10.8789 7.34121 11.5545C7.05257 11.6417 6.74772 11.4789 6.66012 11.1909C6.57319 10.9023 6.73594 10.598 7.02407 10.5103C9.56643 9.73876 12.7269 10.1124 14.8876 11.4402C15.1442 11.5982 15.2249 11.9342 15.0672 12.1905ZM14.211 14.0964C14.0853 14.3027 13.8166 14.3673 13.6112 14.2416C11.9673 13.237 9.89838 13.0101 7.46176 13.5666C7.22687 13.6206 6.99291 13.4734 6.93933 13.2386C6.88558 13.0038 7.03211 12.7698 7.2675 12.7162C9.93399 12.1066 12.2212 12.369 14.0663 13.4964C14.272 13.6221 14.3368 13.8908 14.211 14.0964ZM11 4C7.13409 4 4 7.13401 4 10.9999C4 14.8662 7.13409 18 11 18C14.8661 18 18 14.8662 18 10.9999C18 7.13401 14.8661 4 11 4Z' fill='white'/%3E%3C/svg%3E");
        }

        &__applem {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='11' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.1461 13.3991V14.02C16.1459 14.4186 16.1102 14.8164 16.0396 15.2087C16.0052 15.4087 15.9309 15.5997 15.8212 15.7704C15.7114 15.941 15.5685 16.0879 15.4009 16.2023H15.3832C15.0295 16.4707 14.6026 16.6254 14.159 16.6458L13.8219 16.6813C13.5573 16.6975 13.2927 16.6514 13.0492 16.5466C12.8058 16.4418 12.5904 16.2813 12.4203 16.0781C12.2433 15.8637 12.1269 15.6058 12.0833 15.3313C12.0396 15.0567 12.0702 14.7755 12.1719 14.5168V14.4991C12.2648 14.246 12.4186 14.0197 12.6198 13.8402C12.8209 13.6608 13.0631 13.5336 13.3251 13.47L14.6558 13.1152C14.8231 13.0753 14.9721 12.98 15.0784 12.8447C15.1847 12.7094 15.2421 12.5421 15.2412 12.37V11.4652V7.65066C15.2425 7.60662 15.2335 7.56289 15.215 7.52288C15.1966 7.48287 15.1691 7.44767 15.1348 7.42002C15.0996 7.39399 15.0592 7.37578 15.0163 7.3666C14.9735 7.35742 14.9292 7.35749 14.8864 7.36679L9.20898 8.52002C9.10836 8.53611 9.01696 8.5881 8.95173 8.66639C8.88649 8.74468 8.85182 8.84395 8.85415 8.94583V15.0136V15.4571C8.85393 15.8557 8.81831 16.2535 8.74769 16.6458C8.71324 16.8458 8.63894 17.0368 8.52922 17.2074C8.4195 17.3781 8.27659 17.525 8.10898 17.6394H8.09124C7.73752 17.9078 7.31062 18.0625 6.86705 18.0829L6.54769 18.1007C6.28315 18.1169 6.0185 18.0707 5.77505 17.966C5.5316 17.8612 5.31616 17.7007 5.14608 17.4974C4.96912 17.283 4.85276 17.0252 4.80908 16.7506C4.7654 16.4761 4.796 16.1949 4.89769 15.9361V15.9184C4.9906 15.6653 5.14442 15.4391 5.34556 15.2596C5.5467 15.0801 5.78896 14.953 6.05092 14.8894L7.38157 14.5345C7.54894 14.4947 7.6979 14.3993 7.8042 14.264C7.9105 14.1287 7.9679 13.9614 7.96705 13.7894V12.8845V5.84099C7.96902 5.68962 8.02299 5.54353 8.1199 5.42724C8.21682 5.31094 8.35078 5.23151 8.49931 5.20228L15.6138 3.90712C15.7446 3.89178 15.8766 3.92321 15.9864 3.99583C16.0362 4.03675 16.0764 4.0882 16.104 4.14648C16.1316 4.20476 16.146 4.26843 16.1461 4.33292V13.3991Z' fill='white'/%3E%3C/svg%3E");
        }
      }
    }
    
  } 
}

.popup-planesmovil-overlay {
  position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: hsla(0, 0%, 0%, 0.5);
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s linear 0.3s, opacity 0.3s;

  &--show {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    z-index : 100;
  }
}
