.popup-country {
  position: absolute;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  background-color: transparent;
  transition: all 0.3s 0.12s;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);

  @include responsive-width($tablet-m){
    top: 110px;
  }

  &--show {
    visibility: visible;
    opacity: 1;
    z-index : 100;
    top: 20px;
  }

  &-back {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s 0.12s;
    position: fixed;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    left: 0;
    top: 0;
    z-index: 0;

    &--show {
      visibility: visible;
      opacity: 1;
      z-index: 99;
    }
  }

  &__close-btn {
    text-align: right;

    span {
      border: 1px solid #ffffff;
      border-radius: 20px;
      cursor: pointer;
      width: 40px;
      height: 40px;
      display: inline-block;
      margin-right: -13px;
      position: relative;

      @include responsive-width($tablet-m){
        margin-right: -53px;
      }

      &::after {
        content: '';
        display: block;
        width: 1px;
        height: 12px;
        background: #ffffff;

        position: absolute;
        transform: rotate(42deg);
        left: 19px;
        top: 13px;
      }

      &::before {
        content: '';
        display: block;
        width: 1px;
        height: 12px;
        background: #ffffff;

        position: absolute;
        transform: rotate(-42deg);    
        left: 19px;
        top: 13px;
      }
    }
  }

  &__wrapper {
    width: 290px;
    height: 530px;
    padding: 24px;
    padding-top: 10px;
    background: #004FB9;
    box-sizing: border-box;
    // box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25), -4px 0.2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    @include responsive-width($tablet-m){
      background: transparent;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='563' height='422' viewBox='0 0 563 422' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.152424 51.4466C-1.02353 37.3342 9.74605 25.0634 23.8918 24.3982L536.097 0.312116C550.982 -0.387821 563.17 12.0062 562.221 26.877L538.531 398.014C537.676 411.411 526.393 421.741 512.973 421.414L52.4405 410.19C39.6755 409.879 29.1963 399.998 28.136 387.273L0.152424 51.4466Z' fill='%23004FB9'/%3E%3C/svg%3E");
      width: 562px;
      height: 423px;
      padding-left: 64px;
      padding-right: 64px;
    }

  }

  &__content {
    &__title {
      font-family: $font_family;
      font-weight: 600;
      font-size: 24px;
      text-align: left;
      color: #ffffff;
      margin-bottom: 14px;

      @include responsive-width($tablet-m){
        font-size: 26px;
      }
    }

    &__detail {
      font-family: $font_family;
      color: #ffffff;
      font-size: 18px;
      font-weight: 300;

    }

    &__list {
      color: #ffffff;
      font-size: 12px;
      text-transform: uppercase;
      font-family: $font_family;
      line-height: 14px;
    }

    ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;

      @include responsive-width($tablet-m){
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
      }
    } 
  }
}