.e-tabs {
	nav {
		display: block;
		position: relative;

		ul {
			margin: 0;
		}
	
		li {
			z-index: 1;
			margin: 0 -2px;
			overflow: hidden;
			text-align: center;
			position: relative;
			vertical-align: top;
			display: inline-block;
	
			a {
				padding: 0;
				height: 36px;
				width: 96px;
				display: block;
				font-size: 12px;
				font-weight: 500;
				color: #66686C;
				line-height: 36px;
				// background-color: #EBEBEB;
				// border-left: 1px solid #ddd;
				border-bottom: 2px solid #E9E9E9;

				@include responsive-width($mobile_m) {
					width: 100px;
				}

				@include responsive-width($tablet_m) {
					width: 126px;
					font-size: 14px;
				}

				@include responsive-width($laptop_m) {
					width: 171px;
					height: 40px;
					line-height: 40px;
				}

				&:hover {
					
				}
	
				&.js--active {
					color: $color-bluenew;
					font-weight: bold;
					border-bottom: 2px solid $color-bluenew;
					// background-color: $extra_blue;
				}

				span {
					line-height: 1;
				}
			}

			&:first-child {
				border-radius: 8px 0 0 8px;

				a {
					border-left: 0;
				}
			}

			&:last-child {
				border-radius: 0 8px 8px 0;

				a {
					border-right: 0;
				}
			}
		}
	}

	&__content {
		padding: 10px 0 0;

		@include responsive-width($laptop_m) {
			padding: 30px 0 0;
		}

		> div {
			height: 0;
			opacity: 0;
			width: 100%;
			display: block;
			overflow: hidden;
			transition: opacity 300ms ease-in-out;

			&.js--active {
				opacity: 1;
				height: auto;
			}
		}
	}
}