//- Implementation examples: (you can change position of elements of the array and send less elements in the array)

    +section_canales('Recarga al toque a través de nuestros <strong>canales Entel</strong>',['app','web_recargas','mientel','whatsapp','tiendas','yape','bancos'], landing_name,campania_acoustic, 'bg-shape-blue')
    +section_canales('Recarga al toque a través de nuestros <strong>canales Entel</strong>',['app','whatsapp'], landing_name,campania_acoustic, 'bg-blue')
mixin section_canales(title,name_tabs,page,campania_acoustic,classAdd)
    div(class='e-prepago-section-canales '+classAdd) 
        .entel-container
            h2 !{title}
            .e-prepago-section-canales__slider
                .slider-nav.slider-nav__parent.slick__persons
                    each name_tab, index in name_tabs
                        div(class='slider-nav__parent__btns')
                            a(class="entel-data-layer-btn slider-nav__parent__btn slider-nav__parent__btn--" + name_tab
                                data-gtm-category= page
                                data-gtm-action="Canales recarga"
                                data-gtm-label=name_tab
                                title="Ir a "+ name_tab
                                id=name_tab) 
                            if name_tab === 'app'
                                span App Mi Entel
                            if name_tab === 'web_recargas'
                                span Web de recargas Entel
                            if name_tab === 'mientel'
                                span MiEntel.pe
                            if name_tab === 'whatsapp'
                                span Whatsapp
                            if name_tab === 'fb'
                                span Facebook
                            if name_tab === 'messenger'
                                span Messenger
                            if name_tab === 'tiendas'
                                span Tiendas
                            if name_tab === 'yape'
                                span Yape
                            if name_tab === 'bancos'
                                span Bancos
                            if name_tab === 'bolsas_app'
                                span App Mi Entel
                            if name_tab === 'bolsas_web'
                                span Web Mi Entel
                            if name_tab === 'bolsas_portal'
                                span Portal Lite
                            if name_tab === 'new_app'
                                span App Mi Entel
                            if name_tab === 'new_web_recargas'
                                span Web de recargas Entel
                            if name_tab === 'web_mientel'
                                span Web Mi Entel
                            if name_tab === 'new_tiendas'
                                span Locales comerciales
                            if name_tab === 'new_bancos'
                                span Banca Móvil

                .slider-for.slider-for__parent.slick__persons
                    each name_tab, index in name_tabs
                        div(class='slider-for__parent__content')
                            if name_tab === 'app'
                                -
                                    slider_list_app = [
                                        {
                                            text: 'Descarga el <strong>app Mi Entel</strong> y selecciona "Recargas".',
                                            image: '2021/12/app-step-1',
                                            ico: '2022/01/bg-phone-start'
                                        },
                                        {
                                            text: '<strong>Ingresa el número</strong> y el monto a recargar.',
                                            image: '2021/12/app-step-2',
                                            ico: '2022/01/bg-phone-sol'
                                        },
                                        {
                                            text: 'Ingresa los datos de tu <strong>tarjeta de crédito o débito y listo.</strong>',
                                            image: '2021/12/app-step-3',
                                            ico: '2022/01/bg-card'
                                        },
                                    ],
                                    name=name_tab,
                                    btn_link="https://pemientel.page.link/App",
                                    btn_name="IR A LA APP",
                                    btn_class="acustic-btn eb-app",
                                    data_gtm_action='Recarga por canal',
                                    data_gtm_label='Descarga el app aquí',
                                    data_acustic_campania=campania_acoustic,
                                    data_acustic_evento='AppMiEntel Descarga el app aquí',
                                    btn_title='Descarga el app aquí',
                                    extra_class="",
                                    extra_text=""
                                +subslider(slider_list_app, btn_link, btn_name, btn_class, data_gtm_action, data_gtm_label, data_acustic_campania, data_acustic_evento, extra_class,extra_text,page,name)
                            if name_tab === 'web_recargas'
                                -
                                    slider_list_web_recargas = [
                                        {
                                            text: 'Ingresa a <strong>Recarga tu Entel Prepago</strong> desde tu celular o desktop.',
                                            image: '2021/12/web-recargas-step-1',
                                            ico: '2022/01/bg-phone-start'
                                        },
                                        {
                                            text: '<strong>Ingresa el número</strong> y elige o ingresa el <strong>monto a recargar.</strong>',
                                            image: '2021/12/web-recargas-step-2',
                                            ico: '2022/01/bg-phone-sol'
                                        },
                                        {
                                            text: '<strong>Completa tus datos</strong>, lee y <strong>acepta</strong> los términos y condiciones, luego dale clic a <strong>“Recargar”.</strong>',
                                            image: '2021/12/web-recargas-step-3',
                                            ico: '2022/01/bg-phone-text'
                                        },
                                        {
                                            text: 'Ingresa los datos de <strong>tu tarjeta de crédito o débito ¡y listo!</strong> <br> Tu recarga ha sido realizada.',
                                            image: '2021/12/web-recargas-step-4',
                                            ico: '2022/01/bg-card'
                                        },
                                    ],
                                    name=name_tab,
                                    btn_link="https://www.entel.pe/pre",
                                    btn_name="RECARGA AQUÍ",
                                    btn_class="acustic-btn",
                                    data_gtm_action='Recarga por canal',
                                    data_gtm_label='web_recargas Recarga aquí',
                                    data_acustic_campania=campania_acoustic,data_acustic_evento='Prepago Recarga aquí',
                                    btn_title='Recarga aquí',
                                    extra_class="",
                                    extra_text=""
                                +subslider(slider_list_web_recargas, btn_link, btn_name, btn_class, data_gtm_action, data_gtm_label, data_acustic_campania, data_acustic_evento, extra_class,extra_text,page,name)
                            if name_tab === 'mientel'
                                -
                                    slider_list_mientel = [
                                        {
                                            text: 'Ingresa a <strong>mientel.pe</strong> desde tu celular usando tus datos Entel.',
                                            image: '2021/12/mientel-step-1',
                                            ico: '2022/01/bg-phone-start'
                                        },
                                        {
                                            text: 'Elige <strong>"Recargar tu saldo"</strong> e ingresa el monto a recargar.',
                                            image: '2021/12/mientel-step-2',
                                            ico: '2022/01/bg-phone-sol'
                                        },
                                        {
                                            text: 'Ingresa los datos de tu <strong>tarjeta de crédito o débito y listo.</strong>',
                                            image: '2021/12/mientel-step-3',
                                            ico: '2022/01/bg-card'
                                        },
                                    ],
                                    name=name_tab,
                                    btn_link="https://www.entel.pe/c44/",
                                    btn_name="RECARGA AQUÍ",
                                    btn_class="eb-mientel eb-privada-cautivo acustic-btn",
                                    data_gtm_action='Recarga por canal',
                                    data_gtm_label='MiEntel Recarga aquí',
                                    data_acustic_campania=campania_acoustic,data_acustic_evento='MiEntel Recarga aquí',
                                    btn_title='Recarga aquí',
                                    extra_class="",
                                    extra_text=""
                                +subslider(slider_list_mientel, btn_link, btn_name, btn_class, data_gtm_action, data_gtm_label, data_acustic_campania, data_acustic_evento, extra_class,extra_text,page,name)
                            if name_tab === 'whatsapp'
                                -
                                    slider_list_wp = [
                                        {
                                            text: 'Contáctanos a nuestro <strong> WhatsApp: 98 100 2000</strong>',
                                            image: '2023/02/wp-ene-step-1',
                                            ico: '2023/02/bg-phone-wsp'
                                        },
                                        {
                                            text: 'Elige la opción <strong>“Comprar Bolsa”</strong> y bríndanos tu número Entel.',
                                            image: '2023/02/wp-ene-step-2',
                                            ico: '2023/02/bg-phone-bag'
                                        },
                                        {
                                            text: '<strong>Selecciona la oferta</strong> que más se ajuste a ti.',
                                            image: '2023/02/wp-ene-step-3',
                                            ico: '2022/01/bg-phone-apps'
                                        },
                                        {
                                            text: 'Espera la confirmación del cargo de tu Bolsa. <strong>¡Y disfruta!</strong>',
                                            image: '2023/02/wp-ene-step-4',
                                            ico: '2022/01/bg-phone-happy'
                                        }
                                    ],
                                    name=name_tab,
                                    btn_link="http://www.entel.pe/3uC",
                                    btn_name="Compra tu Bolsa Aquí",
                                    btn_class="acustic-btn",
                                    data_gtm_action='Recarga por canal',
                                    data_gtm_label='Whatsapp Recarga aqui',
                                    data_acustic_campania=campania_acoustic,data_acustic_evento='Whatsapp Compra tu Bolsa Aquí',
                                    btn_title='Compra tu Bolsa Aquí',
                                    extra_class="et-warning",
                                    extra_text="<strong>*Recuerda</strong> que, para líneas Postpago, las bolsas se cargan a tu recibo Entel. Para líneas Prepago, se descuentan de tu saldo de recarga."
                                +subslider(slider_list_wp,btn_link, btn_name, btn_class, data_gtm_action, data_gtm_label, data_acustic_campania, data_acustic_evento, extra_class,extra_text,page,name)
                            if name_tab === 'messenger'
                                -
                                    slider_list_msn = [
                                        {
                                            text: '<strong>Ingresa al fanpage de Entel Perú</strong> y contáctanos por Messenger. ',
                                            image: '2023/02/msn-ene-step-1',
                                            ico: '2023/02/bg-phone-msn'
                                        },
                                        {
                                            text: 'Luego, especifica si eres cliente <strong>Postpago o Prepago y elige la opción Bolsas.</strong>',
                                            image: '2023/02/msn-ene-step-2',
                                            ico: '2023/02/bg-phone-apps_2'
                                        },
                                        {
                                            text: '<strong>Finalmente,</strong> un asesor se contactará contigo lo más pronto posible para <strong>concretar la compra.</strong>',
                                            image: '2023/02/msn-ene-step-3',
                                            ico: '2023/02/bg-phone-service'
                                        }
                                    ],
                                    name=name_tab,
                                    btn_link="http://www.entel.pe/3uC",
                                    btn_name="Compra tu Bolsa Aquí",
                                    btn_class="acustic-btn",
                                    data_gtm_action='Recarga por canal',
                                    data_gtm_label='Messenger Recarga aqui',
                                    data_acustic_campania=campania_acoustic,data_acustic_evento='Messenger Compra tu Bolsa Aquí',
                                    btn_title='Compra tu Bolsa Aquí',
                                    extra_class="et-warning",
                                    extra_text="<strong>*Recuerda</strong> que, para líneas Postpago, las bolsas se cargan a tu recibo Entel. Para líneas Prepago, se descuentan de tu saldo de recarga."
                                +subslider(slider_list_msn,btn_link, btn_name, btn_class, data_gtm_action, data_gtm_label, data_acustic_campania, data_acustic_evento, extra_class,extra_text,page,name)
                            
                            if name_tab === 'fb'
                                -
                                    slider_list_msn = [
                                        {
                                            text: 'Ingresa a <strong>Facebook</strong> y Selecciona <strong>“Comprar datos”</strong>',
                                            image: '2023/02/fb-ene-step-1',
                                            ico: '2023/02/bg-phone-fb-icon'
                                        },
                                        {
                                            text: 'Elige la bolsa que desees y selecciona <strong>“Comprar”</strong>',
                                            image: '2023/02/fb-ene-step-2',
                                            ico: '2022/01/bg-phone-apps'
                                        },
                                        {
                                            text: 'Selecciona <strong>“Confirmar”</strong>',
                                            image: '2023/02/fb-ene-step-3',
                                            ico: '2023/02/bg-phone-apps_2-long'
                                        },
                                        {
                                            text: 'Espera la confirmación del cargo de tu bolsa. <strong>¡Y disfruta!</strong>',
                                            image: '2023/02/fb-ene-step-4',
                                            ico: '2023/02/bg-phone-check'
                                        }
                                    ],
                                    name=name_tab,
                                    btn_link="http://www.entel.pe/qqn",
                                    btn_name="Compra tu Bolsa Aquí",
                                    btn_class="acustic-btn",
                                    data_gtm_action='Recarga por canal',
                                    data_gtm_label='Messenger Recarga aqui',
                                    data_acustic_campania=campania_acoustic,data_acustic_evento='Messenger Compra tu Bolsa Aquí',
                                    btn_title='Compra tu Bolsa Aquí',
                                    extra_class="",
                                    extra_text=""
                                +subslider(slider_list_msn,btn_link, btn_name, btn_class, data_gtm_action, data_gtm_label, data_acustic_campania, data_acustic_evento, extra_class,extra_text,page,name)

                            if name_tab === 'tiendas'
                                .e-prepago-section-canales__tiendas
                                    h2 Haz tus recargas en los locales comerciales #[strong que tengan este logo.]
                                    .e-prepago-section-canales__tiendas__content
                                        .e-prepago-section-canales__tiendas__img
                                            +image_webp_retina_media_path("2021/12/e-canales-prepago-tiendas-mob", "png", "2021/12/e-canales-prepago-tiendas-desk", "1024", "Imagen de una tienda Entel", "personas")
                                        .e-prepago-section-canales__tiendas__options
                                            - 
                                                accordion_list = [
                                                    {
                                                        'title' : '<img src="'+img_personas_path+'2022/01/bg-store.png" style="display: inline;padding-right: 10px;"/>Tiendas y Supermercados',
                                                        'gtm_category' : page,
                                                        'gtm_action' : 'Click Desplegable',
                                                        'gtm_label' : 'Desplegable',
                                                        'gtm_type' : 'click'
                                                    },
                                                    {
                                                        'title' : '<img src="'+img_personas_path+'2022/01/bg-pharmacy.png" style="display: inline;padding-right: 10px;"/>Cadenas de Farmacias',
                                                        'gtm_category' : page,
                                                        'gtm_action' : 'Click Desplegable',
                                                        'gtm_label' : 'Desplegable',
                                                        'gtm_type' : 'click'
                                                    },
                                                    {
                                                        'title' : '<img src="'+img_personas_path+'2022/01/bg-estaciones.png" style="display: inline;padding-right: 10px;"/>Estaciones de Servicio',
                                                        'gtm_category' : page,
                                                        'gtm_action' : 'Click Desplegable',
                                                        'gtm_label' : 'Desplegable',
                                                        'gtm_type' : 'click'
                                                    },
                                                    {
                                                        'title' : '<img src="'+img_personas_path+'2022/01/bg-financieras.png" style="display: inline;padding-right: 10px;"/>Entidades Financieras',
                                                        'gtm_category' : page,
                                                        'gtm_action' : 'Click Desplegable',
                                                        'gtm_label' : 'Desplegable',
                                                        'gtm_type' : 'click'
                                                    },
                                                    {
                                                        'title' : '<img src="'+img_personas_path+'2022/01/bg-bodegas.png" style="display: inline;padding-right: 10px;"/>Comercios y Bodegas',
                                                        'gtm_category' : page,
                                                        'gtm_action' : 'Click Desplegable',
                                                        'gtm_label' : 'Desplegable',
                                                        'gtm_type' : 'click'
                                                    },
                                                ]

                                            +accordion('e-prepago-canales__items')(class='m-accordion--persons')
                                                each accordion, index in accordion_list
                                                    +accordion_item(accordion.title)(class='entel-data-layer-toggle'
                                                        gtmCategory=accordion.gtm_category
                                                        gtmAction=accordion.gtm_action
                                                        gtmLabel=accordion.gtm_label
                                                    )
                                                        if index === 0
                                                            .content-list
                                                                -
                                                                    images_supermarket = [
                                                                        'tienda-plazavea',
                                                                        'tienda-vivanda'
                                                                    ]
                                                                each image in images_supermarket
                                                                    +image_webp_retina('2022/01/'+image, 'png', image, 'personas')
                                                        if index === 1
                                                            .content-list
                                                                -
                                                                    images_pharmacy = [
                                                                        'farmacia-inkafarma',
                                                                        'farmacia-arcangel',
                                                                        'farmacia-hogar-salud',
                                                                        'farmacia-mifarma',
                                                                        'farmacia-boticas-salud',
                                                                        'farmacia-fasa',
                                                                        'farmacia-btl',
                                                                        'farmacia-felicidad'
                                                                    ]
                                                                each image in images_pharmacy
                                                                    +image_webp_retina('2022/01/'+image, 'png', image, 'personas')
                                                        if index === 2
                                                            .content-list
                                                                -
                                                                    images_stations = [
                                                                        'estaciones-primax',
                                                                        'estaciones-repsol',
                                                                        'estaciones-pesca'
                                                                    ]
                                                                each image in images_stations
                                                                    +image_webp_retina('2022/01/'+image, 'png', image, 'personas')
                                                        if index === 3
                                                            .content-list
                                                                -
                                                                    images_financial = [
                                                                        'finacieras-bcp',
                                                                        'finacieras-bbva',
                                                                        'finacieras-sb',
                                                                        'finacieras-bn',
                                                                        'finacieras-interbank',
                                                                        'finacieras-servipe',
                                                                        'finacieras-cajasullana',
                                                                        'finacieras-wu',
                                                                        'finacieras-fullcarga',
                                                                        'finacieras-cellpower',
                                                                        'finacieras-red-digital',
                                                                        'finacieras-yape'
                                                                    ]
                                                                each image in images_financial
                                                                    +image_webp_retina('2022/01/'+image, 'png', image, 'personas')
                                                        if index === 4
                                                            .content-list
                                                                -
                                                                    images_bodega = [
                                                                        'bodegas-fullcarga',
                                                                        'bodegas-red-digital',
                                                                        'bodegas-disashop',
                                                                        'bodegas-cellpower',
                                                                        'bodegas-bim',
                                                                        'bodegas-kasnet',
                                                                        'bodegas-go',
                                                                        'bodegas-inkacel'
                                                                    ]
                                                                each image in images_bodega
                                                                    +image_webp_retina('2022/01/'+image, 'png', image, 'personas')
                            if name_tab === 'yape'
                                -
                                    slider_list_yape = [
                                        {
                                            title: 'Abre la App de',
                                            ico_title: '2022/01/ico-yape',
                                            text: 'En el menú principal, ubica la opción <strong>“Recarga de celular”.</strong>',
                                            image: '2021/12/yape-step-1',
                                        },
                                        {
                                            title: 'Recargar celular',
                                            text: 'Selecciona la opción <strong>“A mi número”</strong> o también <strong>“A otra persona”.</strong>',
                                            image: '2021/12/yape-step-2-v2',
                                        },
                                        {
                                            title: 'Selecciona tu operadora',
                                            text: 'Elige la operadora <strong>“Entel”.</strong>',
                                            image: '2021/12/yape-step-3',
                                        },
                                        {
                                            title: 'Menú Principal',
                                            text: 'Ingresa el <strong>monto que deseas recargar.</strong>',
                                            image: '2021/12/yape-step-4',
                                        },
                                        {
                                            title: '¡Listo!',
                                            text: 'Te notificarán si tu recarga fue realizada con éxito.',
                                            image: '2021/12/yape-step-5',
                                        }
                                    ],
                                    name=name_tab,
                                    btn_link="https://az7pj.app.goo.gl/pruebaweb",
                                    btn_name="recarga aquí",
                                    btn_class="btn-yape",
                                    data_gtm_action='Recarga por canal',
                                    data_gtm_label='',
                                    data_acustic_campania='',data_acustic_evento='',
                                    btn_title='',
                                    extra_class="small",
                                    extra_text="*Disponible para yaperos BCP"

                                +subslider(slider_list_yape, btn_link, btn_name, btn_class, data_gtm_action, data_gtm_label, data_acustic_campania, data_acustic_evento, extra_class,extra_text,page,name)
                            if name_tab === 'bancos'
                                .e-prepago-section-canales__bancos 
                                    h2 ¿A través de qué bancos puedes recargar tu saldo?

                                    .entel-slider-opciones5__top
                                        .entel-slider.entel-slider-opciones5-nav
                                            .entel-slider__item
                                                img(style="cursor:pointer;" src= img_personas_path + "2020/05/e-prepower-recarga-bancos-nav-1.png" alt="Banco BCP")
                                            .entel-slider__item
                                                img(style="cursor:pointer;" src= img_personas_path + "2020/05/e-prepower-recarga-bancos-nav-2.png" alt="Banco BBVA")
                                            .entel-slider__item
                                                img(style="cursor:pointer;" src= img_personas_path + "2020/05/e-prepower-recarga-bancos-nav-3.png" alt="Banco Scotiabank")
                                            .entel-slider__item
                                                img(style="cursor:pointer;" src= img_personas_path + "2020/05/e-prepower-recarga-bancos-nav-4.png" alt="Banco de la nación")
                                            .entel-slider__item
                                                img(style="cursor:pointer;" src= img_personas_path + "2020/05/e-prepower-recarga-bancos-nav-5.png" alt="Banco Interbank")


                                        .entel-slider.entel-slider-opciones5-content

                                            .entel-slider__item.entel-slider-opciones5-content__item

                                                p.lightblue Recarga fácilmente desde la Banca Móvil del BCP.

                                                .entel-slider.entel-slider-opciones5-detail.entel-slider-opciones5-detail-1

                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bcp-1.png" alt="Banco BCP")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 1
                                                            p Ingresa al app del BCP.
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bcp-2.png" alt="Banco BCP")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 2
                                                            p Entra al menú principal y selecciona Recarga de celulares.
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bcp-3.png" alt="Banco BCP")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 3
                                                            p Selecciona la forma de pago e ingresa el importe y el número Entel. Presiona el botón #[strong Continuar].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bcp-4.png" alt="Banco BCP")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 4
                                                            p Ingresa tu clave token y selecciona #[strong Confirmar].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bcp-5.png" alt="Banco BCP")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 5
                                                            p #[strong ¡Y listo!] #[br] Ya recargaste.

                                                .entel-slider-opciones3__right__button
                                                    a.e-button.entel-button.entel-data-layer-view.acustic-btn.e-button--orange(href='https://bcpzonasegurabeta.viabcp.com/#/iniciar-sesion' target="_blank" data-gtm-name='sección panel más opciones' data-gtm-category='prepagopower' data-gtm-action='Seleccionar botón' data-gtm-label='Recargar BCP' data-acustic-campania=campania_acoustic data-acustic-evento='BCP Quiero Recargar' title='Recargar BCP')
                                                        span Quiero recargar


                                            .entel-slider__item.entel-slider-opciones5-content__item

                                                p.lightblue Recarga súper fácil desde la web o la Banca Móvil del BBVA. 

                                                .entel-slider.entel-slider-opciones5-detail.entel-slider-opciones5-detail-2

                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bbva-1.png" alt="Banco BBVA")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 1
                                                            p Ingresa a la Banca Móvil del BBVA.
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bbva-2.png" alt="Banco BBVA")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 2
                                                            p Selecciona #[strong Pagos], ingresa a #[strong Recargas] y luego a #[strong Recargas Celulares].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bbva-3.png" alt="Banco BBVA")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 3
                                                            p Ingresa tu número Entel, el importe y el medio de pago y selecciona #[strong Continuar].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bbva-4.png" alt="Banco BBVA")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 4
                                                            p Ingresa tu clave token y selecciona #[strong Confirmar].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bbva-5.png" alt="Banco BBVA")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 5
                                                            p #[strong ¡Y listo!] #[br] Ya recargaste.

                                                .entel-slider-opciones3__right__button
                                                    a.e-button.entel-button.entel-data-layer-view.acustic-btn.e-button--orange(href='https://www.bbva.pe/personas/servicios-digitales/banca-movil.html' target="_blank" data-gtm-name='sección panel más opciones' data-gtm-category='prepagopower' data-gtm-action='Seleccionar botón' data-gtm-label='Recargar BBVA' data-acustic-campania=campania_acoustic data-acustic-evento='BBVA Quiero Recargar' title='Quiero recargar')
                                                        span Quiero recargar


                                            .entel-slider__item.entel-slider-opciones5-content__item

                                                p.lightblue Recarga rápidamente desde la web o la app de Scotiabank.

                                                .entel-slider.entel-slider-opciones5-detail.entel-slider-opciones5-detail-3

                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-scotiabank-1.png" alt="Banco Scotiabank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 1
                                                            p Ingresa a la app de Scotiabank.
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-scotiabank-2.png" alt="Banco Scotiabank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 2
                                                            p Ingresa tus datos para #[strong iniciar sesión].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-scotiabank-3.png" alt="Banco Scotiabank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 3
                                                            p Selecciona la opción #[strong Recarga].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/06/e-prepower-recarga-bancos-scotiabank-4-v2.png" alt="Banco Scotiabank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 4
                                                            p Selecciona una cuenta e ingresa tu número Entel, el monto a pagar y tu clave token. Presiona el botón #[strong Pagar].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-scotiabank-5.png" alt="Banco Scotiabank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 5
                                                            p #[strong ¡Y listo!] #[br] Ya recargaste.

                                                .entel-slider-opciones3__right__button
                                                    a.e-button.entel-button.entel-data-layer-view.acustic-btn.e-button--orange(href='https://www.scotiabank.com.pe/Personas/Canales-digitales/canales/banca-por-internet' target="_blank" data-gtm-name='sección panel más opciones' data-gtm-category='prepagopower' data-gtm-action='Seleccionar botón' data-gtm-label='Recargar Scotiabank' data-acustic-campania=campania_acoustic data-acustic-evento='Scotiabank Quiero Recargar' title='Quiero recargar')
                                                        span Quiero recargar


                                            .entel-slider__item.entel-slider-opciones5-content__item

                                                p.lightblue Recarga sin complicaciones desde la web o la app del Banco de la Nación.

                                                .entel-slider.entel-slider-opciones5-detail.entel-slider-opciones5-detail-4

                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-nacion-1.png" alt="Banco Nación")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 1
                                                            p Ingresa a la app del Banco de la Nación.

                                                .entel-slider-opciones3__right__button
                                                    a.e-button.entel-button.entel-data-layer-view.acustic-btn.e-button--orange(href='https://zonasegura1.bn.com.pe/BNWeb/Inicio' target="_blank" data-gtm-name='sección panel más opciones' data-gtm-category='prepagopower' data-gtm-action='Seleccionar botón' data-gtm-label='Recargar Banco de la Nación' data-acustic-campania=campania_acoustic data-acustic-evento='Banco de la Nación Quiero Recargar' title='Quiero recargar')
                                                        span Quiero recargar


                                            .entel-slider__item.entel-slider-opciones5-content__item

                                                p.lightblue Recarga fácilmente desde la web o el App de Interbank.

                                                .entel-slider.entel-slider-opciones5-detail.entel-slider-opciones5-detail-5

                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-interbank-1.png" alt="Banco Interbank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 1
                                                            p Ingresa a la app de Interbank.
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-interbank-2.png" alt="Banco Interbank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 2
                                                            p Selecciona #[strong Operaciones], ingresa a #[strong Pagos y recargas] y luego #[strong Recarga de celular].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-interbank-3.png" alt="Banco Interbank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 3
                                                            p Ingresa tu número Entel y el importe y selecciona #[strong Recargar].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-interbank-4.png" alt="Banco Interbank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 4
                                                            p Selecciona la cuenta de cargo e ingresa tu clave SMS y presiona #[strong Confirmar].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-interbank-5.png" alt="Banco Interbank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 5
                                                            p #[strong ¡Y listo!] #[br] Ya recargaste.

                                                .entel-slider-opciones3__right__button
                                                    a.e-button.entel-button.entel-data-layer-view.acustic-btn.e-button--orange(href='https://bancaporinternet.interbank.pe/login' target="_blank" data-gtm-name='sección panel más opciones' data-gtm-category='prepagopower' data-gtm-action='Seleccionar botón' data-gtm-label='Recargar Interbank' data-acustic-campania=campania_acoustic data-acustic-evento='Interbank Quiero Recargar' title='Quiero recargar')
                                                        span Quiero recargar

                            if name_tab === 'bolsas_app'
                                -
                                    slider_list_bolsas_app = [
                                        {
                                            text: 'Entra al menú del <strong>app Mi Entel</strong> y selecciona la opción de "Bolsas".',
                                            image: '2022/11/bolsas_app-step-1',
                                            ico: '2022/01/bg-phone-start'
                                        },
                                        {
                                            text: '<strong>Selecciona la bolsa</strong> que deseas adquirir.',
                                            image: '2022/11/bolsas_app-step-2',
                                            ico: '2022/01/bg-phone-sol'
                                        },
                                        {
                                            text: 'Ahora, <strong> selecciona tu línea y elige la bolsa que deseas </strong> comprar.',
                                            image: '2022/11/bolsas_app-step-3',
                                            ico: '2022/01/bg-card'
                                        },
                                    ],
                                    name=name_tab,
                                    btn_link="https://pemientel.page.link/App",
                                    btn_name="Compra tu bolsa aquí",
                                    btn_class="acustic-btn eb-bolsas_app",
                                    data_gtm_action='Recarga por canal',
                                    data_gtm_label='Descarga el app aquí',
                                    data_acustic_campania=campania_acoustic,
                                    data_acustic_evento='AppMiEntel Descarga el app aquí',
                                    btn_title='Descarga el app aquí',
                                    extra_class="",
                                    extra_text=""
                                +subslider(slider_list_bolsas_app, btn_link, btn_name, btn_class, data_gtm_action, data_gtm_label, data_acustic_campania, data_acustic_evento, extra_class,extra_text,page,name)

                            if name_tab === 'bolsas_web'
                                -
                                    slider_list_bolsas_web = [
                                        {
                                            text: 'Primero, ingresa a la <strong>web Mi Entel</strong> desde tu celu o desktop.',
                                            image: '2022/11/bolsas_web-step-1-v2',
                                            ico: '2022/11/bg-laptop'
                                        },
                                        {
                                            text: 'Luego, en el menú principal, dale clic a la opción <strong> “Bolsas”. </strong>',
                                            image: '2022/11/bolsas_web-step-2-v2',
                                            ico: '2022/11/bg-phone-lines'
                                        },
                                        {
                                            text: 'Ahora, <strong> selecciona tu línea y elige la bolsa que deseas </strong> comprar.',
                                            image: '2022/11/bolsas_web-step-3',
                                            ico: '2022/01/bg-phone-sol'
                                        },
                                    ],
                                    name=name_tab,
                                    btn_link="https://miperfil.entel.pe/Login/?utm_source=Web+P%C3%BAblica&utm_medium=Bot%C3%B3n&utm_campaign=Web+p%C3%BAblica+-+Bolsas+prepago&utm_id=WPRE100123&utm_term=Web+privada&utm_content",
                                    btn_name="Compra tu bolsa aquí",
                                    btn_class="acustic-btn eb-bolsas_web",
                                    data_gtm_action='Recarga por canal',
                                    data_gtm_label='Descarga el app aquí',
                                    data_acustic_campania=campania_acoustic,
                                    data_acustic_evento='AppMiEntel Descarga el app aquí',
                                    btn_title='Descarga el app aquí',
                                    extra_class="",
                                    extra_text=""
                                +subslider(slider_list_bolsas_web, btn_link, btn_name, btn_class, data_gtm_action, data_gtm_label, data_acustic_campania, data_acustic_evento, extra_class,extra_text,page,name)

                            if name_tab === 'bolsas_portal'
                                .canales-mensaje-portal
                                    - image_mobile = '../2022/11/canales-mensaje-mob' 
                                    - image = '../2022/11/canales-mensaje-desk' 
                                    +lazy_image_webp_retina_media(image_mobile, 'png', image, '768', alt)

                                -
                                    slider_list_bolsas_portal = [
                                        {
                                            text: 'Ingresa a <strong>mientel.pe</strong> desde desde el navegador usando tus datos Entel.',
                                            image: '2022/11/bolsas_portal-step-1',
                                            ico: '2022/01/bg-phone-start'
                                        },
                                        {
                                            text: 'Elige <strong>"Compra de bolsa"</strong> e ingresa el monto a recargar.',
                                            image: '2022/11/bolsas_portal-step-2',
                                            ico: '2022/01/bg-phone-sol'
                                        },
                                        {
                                            text: 'Ahora, <strong> elige la bolsa que deseas comprar </strong> y esta se cargará a tu saldo.',
                                            image: '2022/11/bolsas_portal-step-3',
                                            ico: '2022/01/bg-card'
                                        },
                                    ],
                                    name=name_tab,
                                    btn_link="https://www.entel.pe/c44",
                                    btn_name="Compra tu bolsa aquí",
                                    btn_class="acustic-btn eb-bolsas-portal",
                                    data_gtm_action='Recarga por canal',
                                    data_gtm_label='Descarga el app aquí',
                                    data_acustic_campania=campania_acoustic,
                                    data_acustic_evento='AppMiEntel Descarga el app aquí',
                                    btn_title='Descarga el app aquí',
                                    extra_class="",
                                    extra_text=""
                                +subslider(slider_list_bolsas_portal, btn_link, btn_name, btn_class, data_gtm_action, data_gtm_label, data_acustic_campania, data_acustic_evento, extra_class,extra_text,page,name)

                            if name_tab === 'new_app'
                                -
                                    slider_list_new_app = [
                                        {
                                            text: 'Descarga el <strong>app Mi Entel</strong> y selecciona "Recargas".',
                                            image: '2022/11/new-app-step-1',
                                            ico: '2022/01/bg-phone-start'
                                        },
                                        {
                                            text: '<strong>Ingresa el número</strong> y el monto a recargar.',
                                            image: '2022/11/new-app-step-2',
                                            ico: '2022/01/bg-phone-sol'
                                        },
                                        {
                                            text: 'Ingresa los datos de tu <strong>tarjeta de crédito o débito y listo.</strong>',
                                            image: '2022/11/new-app-step-3',
                                            ico: '2022/01/bg-card'
                                        },
                                    ],
                                    name=name_tab,
                                    btn_link="https://pemientel.page.link/App",
                                    btn_name="IR A LA APP",
                                    btn_class="acustic-btn eb-new-app",
                                    data_gtm_action='Recarga por canal',
                                    data_gtm_label='Descarga el app aquí',
                                    data_acustic_campania=campania_acoustic,
                                    data_acustic_evento='AppMiEntel Descarga el app aquí',
                                    btn_title='Descarga el app aquí',
                                    extra_class="",
                                    extra_text=""
                                +subslider(slider_list_new_app, btn_link, btn_name, btn_class, data_gtm_action, data_gtm_label, data_acustic_campania, data_acustic_evento, extra_class,extra_text,page,name)

                            if name_tab === 'new_web_recargas'
                                -
                                    slider_list_new_web_recargas = [
                                        {
                                            text: 'Ingresa a <strong> <a href="https://entelrecarga.puntopago.pe/" class="white-txt">entelrecarga.puntopago.pe</a> </strong> desde tu celular o desktop.',
                                            image: '2021/12/web-recargas-step-1',
                                            ico: '2022/01/bg-phone-start'
                                        },
                                        {
                                            text: '<strong>Ingresa el número</strong> y elige o ingresa el <strong>monto a recargar.</strong>',
                                            image: '2021/12/web-recargas-step-2',
                                            ico: '2022/01/bg-phone-sol'
                                        },
                                        {
                                            text: '<strong>Completa tus datos</strong>, lee y <strong>acepta</strong> los términos y condiciones, luego dale clic a <strong>“Recargar”.</strong>',
                                            image: '2021/12/web-recargas-step-3',
                                            ico: '2022/01/bg-phone-text'
                                        },
                                        {
                                            text: 'Ingresa los datos de <strong>tu tarjeta de crédito o débito ¡y listo!</strong> <br> Tu recarga ha sido realizada.',
                                            image: '2021/12/web-recargas-step-4',
                                            ico: '2022/01/bg-card'
                                        },
                                    ],
                                    name=name_tab,
                                    btn_link="https://www.entel.pe/pre",
                                    btn_name="RECARGA AQUÍ",
                                    btn_class="acustic-btn eb-new_web_recargas",
                                    data_gtm_action='Recarga por canal',
                                    data_gtm_label='web_recargas Recarga aquí',
                                    data_acustic_campania=campania_acoustic,data_acustic_evento='Prepago Recarga aquí',
                                    btn_title='Recarga aquí',
                                    extra_class="",
                                    extra_text=""
                                +subslider(slider_list_new_web_recargas, btn_link, btn_name, btn_class, data_gtm_action, data_gtm_label, data_acustic_campania, data_acustic_evento, extra_class,extra_text,page,name)

                            if name_tab === 'web_mientel'
                                -
                                    slider_list_web_mientel = [
                                        {
                                            text: 'Primero, ingresa a la <strong>web Privada</strong> desde tu celu o desktop.',
                                            image: '2022/11/web-mientel-recargas-step-1',
                                            ico: '2022/11/bg-laptop'
                                        },
                                        {
                                            text: 'Luego, en el menú principal, dale clic a la opción <strong>“Recargas”.</strong>',
                                            image: '2022/11/web-mientel-recargas-step-2',
                                            ico: '2022/11/bg-phone-lines'
                                        },
                                        {
                                            text: 'Ahora, <strong>selecciona tu línea</strong> y elige o ingresa el <strong>monto a recargar. </strong>',
                                            image: '2022/11/web-mientel-recargas-step-3',
                                            ico: '2022/01/bg-phone-sol'
                                        },
                                        {
                                            text: 'Finalmente, ingresa los datos de <strong>tu tarjeta de crédito o débito, ¡y ya! Recargaste en una.</strong>',
                                            image: '2022/11/web-mientel-recargas-step-4',
                                            ico: '2022/01/bg-card'
                                        },
                                    ],
                                    name=name_tab,
                                    btn_link="https://miperfil.entel.pe/Login/",
                                    btn_name="RECARGA AQUÍ",
                                    btn_class="acustic-btn",
                                    data_gtm_action='Recarga por canal',
                                    data_gtm_label='web_mientel Recarga aquí',
                                    data_acustic_campania=campania_acoustic,data_acustic_evento='Prepago Recarga aquí',
                                    btn_title='Recarga aquí',
                                    extra_class="",
                                    extra_text=""
                                +subslider(slider_list_web_mientel, btn_link, btn_name, btn_class, data_gtm_action, data_gtm_label, data_acustic_campania, data_acustic_evento, extra_class,extra_text,page,name)

                            if name_tab === 'new_tiendas'
                                .e-prepago-section-canales__tiendas
                                    h2 Haz tus recargas en los locales comerciales #[strong que tengan este logo.]
                                    .e-prepago-section-canales__tiendas__content
                                        .e-prepago-section-canales__tiendas__img
                                            +image_webp_retina_media_path("2021/12/e-canales-prepago-tiendas-mob", "png", "2021/12/e-canales-prepago-tiendas-desk", "1024", "Imagen de una tienda Entel", "personas")
                                        .e-prepago-section-canales__tiendas__options
                                            - 
                                                accordion_list = [
                                                    {
                                                        'title' : '<img src="'+img_personas_path+'2022/01/bg-store.png" style="display: inline;padding-right: 10px;"/>Tiendas y Supermercados',
                                                        'gtm_category' : page,
                                                        'gtm_action' : 'Click Desplegable',
                                                        'gtm_label' : 'Desplegable',
                                                        'gtm_type' : 'click'
                                                    },
                                                    {
                                                        'title' : '<img src="'+img_personas_path+'2022/01/bg-pharmacy.png" style="display: inline;padding-right: 10px;"/>Cadenas de Farmacias',
                                                        'gtm_category' : page,
                                                        'gtm_action' : 'Click Desplegable',
                                                        'gtm_label' : 'Desplegable',
                                                        'gtm_type' : 'click'
                                                    },
                                                    {
                                                        'title' : '<img src="'+img_personas_path+'2022/01/bg-estaciones.png" style="display: inline;padding-right: 10px;"/>Estaciones de Servicio',
                                                        'gtm_category' : page,
                                                        'gtm_action' : 'Click Desplegable',
                                                        'gtm_label' : 'Desplegable',
                                                        'gtm_type' : 'click'
                                                    },
                                                    {
                                                        'title' : '<img src="'+img_personas_path+'2022/01/bg-financieras.png" style="display: inline;padding-right: 10px;"/>Agentes y entidades autorizadas',
                                                        'gtm_category' : page,
                                                        'gtm_action' : 'Click Desplegable',
                                                        'gtm_label' : 'Desplegable',
                                                        'gtm_type' : 'click'
                                                    },
                                                    {
                                                        'title' : '<img src="'+img_personas_path+'2022/01/bg-bodegas.png" style="display: inline;padding-right: 10px;"/>Comercios y Bodegas',
                                                        'gtm_category' : page,
                                                        'gtm_action' : 'Click Desplegable',
                                                        'gtm_label' : 'Desplegable',
                                                        'gtm_type' : 'click'
                                                    },
                                                ]

                                            +accordion('e-prepago-canales__items')(class='m-accordion--persons')
                                                each accordion, index in accordion_list
                                                    +accordion_item(accordion.title)(class='entel-data-layer-toggle'
                                                        gtmCategory=accordion.gtm_category
                                                        gtmAction=accordion.gtm_action
                                                        gtmLabel=accordion.gtm_label
                                                    )
                                                        if index === 0
                                                            .content-list.list-tiendas
                                                                -
                                                                    images_supermarket = [
                                                                        '01/tienda-plazavea',
                                                                        '01/tienda-vivanda',
                                                                        '11/tienda-tottus',
                                                                        '11/tienda-tambo'
                                                                    ]
                                                                each image in images_supermarket
                                                                    +image_webp_retina('2022/'+image, 'png', image, 'personas')
                                                        if index === 1
                                                            .content-list.list-farmacias
                                                                -
                                                                    images_pharmacy = [
                                                                        '01/farmacia-inkafarma',
                                                                        '01/farmacia-arcangel',
                                                                        '01/farmacia-hogar-salud',
                                                                        '01/farmacia-mifarma',
                                                                        '01/farmacia-boticas-salud',
                                                                        //- 'farmacia-fasa',
                                                                        //- 'farmacia-btl',
                                                                        '11/farmacia-boticas-peru',
                                                                        '01/farmacia-felicidad'
                                                                    ]
                                                                each image in images_pharmacy
                                                                    +image_webp_retina('2022/'+image, 'png', image, 'personas')
                                                        if index === 2
                                                            .content-list.list-grifos
                                                                -
                                                                    images_stations = [
                                                                        'estaciones-primax',
                                                                        'estaciones-repsol',
                                                                        'estaciones-pesca'
                                                                    ]
                                                                each image in images_stations
                                                                    +image_webp_retina('2022/01/'+image, 'png', image, 'personas')
                                                        if index === 3
                                                            .content-list
                                                                -
                                                                    images_financial = [
                                                                        '01/finacieras-bcp',
                                                                        '01/finacieras-bbva',
                                                                        '01/finacieras-sb',
                                                                        '01/finacieras-bn',
                                                                        '01/finacieras-interbank',
                                                                        //- 'finacieras-servipe',    
                                                                        '01/finacieras-wu',
                                                                        //- 'finacieras-fullcarga',
                                                                        //- 'finacieras-cellpower',
                                                                        //- 'finacieras-red-digital',
                                                                        '01/finacieras-yape',
                                                                        '11/finacieras-cajashuancayo',
                                                                        '01/finacieras-cajasullana',
                                                                        '11/finacieras-cajastacna',
                                                                        '11/finacieras-cajascusco',
                                                                    ]
                                                                each image in images_financial
                                                                    +image_webp_retina('2022/'+image, 'png', image, 'personas')
                                                        if index === 4
                                                            .content-list.list-bodega
                                                                -
                                                                    images_bodega = [
                                                                        'bodegas-fullcarga',
                                                                        'bodegas-red-digital',
                                                                        'bodegas-disashop',
                                                                        'bodegas-cellpower',
                                                                        'bodegas-bim',
                                                                        'bodegas-kasnet',
                                                                        'bodegas-go',
                                                                        //- 'bodegas-inkacel'
                                                                    ]
                                                                each image in images_bodega
                                                                    +image_webp_retina('2022/01/'+image, 'png', image, 'personas')

                            if name_tab === 'new_bancos'
                                .e-prepago-section-canales__bancos 
                                    h2 ¿A través de qué bancos puedes recargar tu saldo?

                                    .entel-slider-opciones5__top
                                        .entel-slider.entel-slider-opciones5-nav
                                            .entel-slider__item
                                                img(style="cursor:pointer;" src= img_personas_path + "2020/05/e-prepower-recarga-bancos-nav-1.png" alt="Banco BCP")
                                            .entel-slider__item
                                                img(style="cursor:pointer;" src= img_personas_path + "2020/05/e-prepower-recarga-bancos-nav-2.png" alt="Banco BBVA")
                                            .entel-slider__item
                                                img(style="cursor:pointer;" src= img_personas_path + "2020/05/e-prepower-recarga-bancos-nav-3.png" alt="Banco Scotiabank")
                                            .entel-slider__item
                                                img(style="cursor:pointer;" src= img_personas_path + "2020/05/e-prepower-recarga-bancos-nav-4.png" alt="Banco de la nación")
                                            .entel-slider__item
                                                img(style="cursor:pointer;" src= img_personas_path + "2020/05/e-prepower-recarga-bancos-nav-5.png" alt="Banco Interbank")


                                        .entel-slider.entel-slider-opciones5-content

                                            .entel-slider__item.entel-slider-opciones5-content__item

                                                p.lightblue Recarga fácilmente desde la Banca Móvil del BCP.

                                                .entel-slider.entel-slider-opciones5-detail.entel-slider-opciones5-detail-1

                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bcp-1.png" alt="Banco BCP")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 1
                                                            p Ingresa al app del BCP.
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bcp-2.png" alt="Banco BCP")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 2
                                                            p Entra al menú principal y selecciona Recarga de celulares.
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bcp-3.png" alt="Banco BCP")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 3
                                                            p Selecciona la forma de pago e ingresa el importe y el número Entel. Presiona el botón #[strong Continuar].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bcp-4.png" alt="Banco BCP")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 4
                                                            p Ingresa tu clave token y selecciona #[strong Confirmar].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bcp-5.png" alt="Banco BCP")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 5
                                                            p #[strong ¡Y listo!] #[br] Ya recargaste.

                                                .entel-slider-opciones3__right__button
                                                    a.e-button.entel-button.entel-data-layer-view.acustic-btn.e-button--orange(href='https://bcpzonasegurabeta.viabcp.com/#/iniciar-sesion' target="_blank" data-gtm-name='sección panel más opciones' data-gtm-category='prepagopower' data-gtm-action='Seleccionar botón' data-gtm-label='Recargar BCP' data-acustic-campania=campania_acoustic data-acustic-evento='BCP Quiero Recargar' title='Recargar BCP')
                                                        span Quiero recargar


                                            .entel-slider__item.entel-slider-opciones5-content__item

                                                p.lightblue Recarga súper fácil desde la web o la Banca Móvil del BBVA. 

                                                .entel-slider.entel-slider-opciones5-detail.entel-slider-opciones5-detail-2

                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bbva-1.png" alt="Banco BBVA")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 1
                                                            p Ingresa a la Banca Móvil del BBVA.
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bbva-2.png" alt="Banco BBVA")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 2
                                                            p Selecciona #[strong Pagos], ingresa a #[strong Recargas] y luego a #[strong Recargas Celulares].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bbva-3.png" alt="Banco BBVA")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 3
                                                            p Ingresa tu número Entel, el importe y el medio de pago y selecciona #[strong Continuar].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bbva-4.png" alt="Banco BBVA")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 4
                                                            p Ingresa tu clave token y selecciona #[strong Confirmar].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-bbva-5.png" alt="Banco BBVA")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 5
                                                            p #[strong ¡Y listo!] #[br] Ya recargaste.

                                                .entel-slider-opciones3__right__button
                                                    a.e-button.entel-button.entel-data-layer-view.acustic-btn.e-button--orange(href='https://www.bbva.pe/personas/servicios-digitales/banca-movil.html' target="_blank" data-gtm-name='sección panel más opciones' data-gtm-category='prepagopower' data-gtm-action='Seleccionar botón' data-gtm-label='Recargar BBVA' data-acustic-campania=campania_acoustic data-acustic-evento='BBVA Quiero Recargar' title='Quiero recargar')
                                                        span Quiero recargar


                                            .entel-slider__item.entel-slider-opciones5-content__item

                                                p.lightblue Recarga rápidamente desde la web o la app de Scotiabank.

                                                .entel-slider.entel-slider-opciones5-detail.entel-slider-opciones5-detail-3

                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-scotiabank-1.png" alt="Banco Scotiabank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 1
                                                            p Ingresa a la app de Scotiabank.
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-scotiabank-2.png" alt="Banco Scotiabank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 2
                                                            p Ingresa tus datos para #[strong iniciar sesión].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-scotiabank-3.png" alt="Banco Scotiabank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 3
                                                            p Selecciona la opción #[strong Recarga].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/06/e-prepower-recarga-bancos-scotiabank-4-v2.png" alt="Banco Scotiabank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 4
                                                            p Selecciona una cuenta e ingresa tu número Entel, el monto a pagar y tu clave token. Presiona el botón #[strong Pagar].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-scotiabank-5.png" alt="Banco Scotiabank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 5
                                                            p #[strong ¡Y listo!] #[br] Ya recargaste.

                                                .entel-slider-opciones3__right__button
                                                    a.e-button.entel-button.entel-data-layer-view.acustic-btn.e-button--orange(href='https://www.scotiabank.com.pe/Personas/Canales-digitales/canales/banca-por-internet' target="_blank" data-gtm-name='sección panel más opciones' data-gtm-category='prepagopower' data-gtm-action='Seleccionar botón' data-gtm-label='Recargar Scotiabank' data-acustic-campania=campania_acoustic data-acustic-evento='Scotiabank Quiero Recargar' title='Quiero recargar')
                                                        span Quiero recargar


                                            .entel-slider__item.entel-slider-opciones5-content__item

                                                p.lightblue Recarga sin complicaciones desde la web o la app del Banco de la Nación.

                                                .entel-slider.entel-slider-opciones5-detail.entel-slider-opciones5-detail-4

                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-nacion-1.png" alt="Banco Nación")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 1
                                                            p Ingresa a la app del Banco de la Nación.

                                                .entel-slider-opciones3__right__button
                                                    a.e-button.entel-button.entel-data-layer-view.acustic-btn.e-button--orange(href='https://zonasegura1.bn.com.pe/BNWeb/Inicio' target="_blank" data-gtm-name='sección panel más opciones' data-gtm-category='prepagopower' data-gtm-action='Seleccionar botón' data-gtm-label='Recargar Banco de la Nación' data-acustic-campania=campania_acoustic data-acustic-evento='Banco de la Nación Quiero Recargar' title='Quiero recargar')
                                                        span Quiero recargar


                                            .entel-slider__item.entel-slider-opciones5-content__item

                                                p.lightblue Recarga fácilmente desde la web o el App de Interbank.

                                                .entel-slider.entel-slider-opciones5-detail.entel-slider-opciones5-detail-5

                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-interbank-1.png" alt="Banco Interbank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 1
                                                            p Ingresa a la app de Interbank.
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-interbank-2.png" alt="Banco Interbank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 2
                                                            p Selecciona #[strong Operaciones], ingresa a #[strong Pagos y recargas] y luego #[strong Recarga de celular].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-interbank-3.png" alt="Banco Interbank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 3
                                                            p Ingresa tu número Entel y el importe y selecciona #[strong Recargar].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-interbank-4.png" alt="Banco Interbank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 4
                                                            p Selecciona la cuenta de cargo e ingresa tu clave SMS y presiona #[strong Confirmar].
                                                    .entel-slider__item.entel-slider-opciones5-detail__item
                                                        .entel-slider-opciones5-detail__item__img
                                                            img(src= img_personas_path + "2020/05/e-prepower-recarga-bancos-interbank-5.png" alt="Banco Interbank")
                                                        .entel-slider-opciones5-detail__item__text
                                                            span 5
                                                            p #[strong ¡Y listo!] #[br] Ya recargaste.

                                                .entel-slider-opciones3__right__button
                                                    a.e-button.entel-button.entel-data-layer-view.acustic-btn.e-button--orange(href='https://bancaporinternet.interbank.pe/login' target="_blank" data-gtm-name='sección panel más opciones' data-gtm-category='prepagopower' data-gtm-action='Seleccionar botón' data-gtm-label='Recargar Interbank' data-acustic-campania=campania_acoustic data-acustic-evento='Interbank Quiero Recargar' title='Quiero recargar')
                                                        span Quiero recargar
