mixin subslider(sliders, btn_link, btn_name, btn_class, data_gtm_action, data_gtm_label, data_acustic_campania, data_acustic_evento, extra_class,extra_text, page,name)
    .e-prepago-section-canales__subslider

        div(class="div-canales-img slider-nav slick__persons slider-nav__child slider-nav__child"+name)
            each slide, index in sliders
                div(class='slider-nav__child__card')
                    .slider-for__slider__image
                        +image_webp_retina_media_path(slide.image+"-mob", "png", slide.image+"-desk", "1024", "Imagen descriptiva de paso", "personas")
        div.div-canales-cards
            div(class="slider-for slick__persons slider-for__child slider-for__child"+name)
                each slide, index in sliders
                    div(class='slider-for__child__card '+extra_class)
                        if slide.title
                            .slider-for__child__card__title
                                h4 !{slide.title}
                                    if slide.ico_title
                                        |&nbsp;#[img(src=img_personas_path+slide.ico_title+".png" alt="Yape")]
                        if slide.ico
                            .slider-for__child__card__ico
                                +image_webp_retina_media_path(slide.ico, "png", slide.ico, "1024", "Icono del paso", "personas")
                        .slider-for__child__card__text
                            span.number !{index+1}
                            p !{slide.text}
            div(class="e-btn-bottom "+extra_class)
                //- .e-btn-bottom__left
                .e-btn-bottom__right
                    if data_acustic_campania != ""
                        a(href=btn_link target="_blank" class="entel-data-layer-btn e-button e-button--orange "+btn_class data-gtm-name='sección panel más opciones' data-gtm-category=page data-gtm-action=data_gtm_action data-gtm-label=data_gtm_label data-acustic-campania=data_acustic_campania data-acustic-evento=data_acustic_evento title=btn_name) !{btn_name}
                    else 
                        a(href=btn_link target="_blank" class="entel-data-layer-btn e-button e-button--orange "+btn_class data-gtm-name='sección panel más opciones' data-gtm-category=page data-gtm-action=data_gtm_action data-gtm-label=data_gtm_label title=btn_name) !{btn_name}
                    if extra_text != ""
                        p  !{extra_text}
