- banner_name = 'Equipo galaxy app'
//- - banner_link = 'https://pemientel.page.link/App'

.entel__slider--home__item(
  data-entel-slide-index='8' 
  data-entel-slide-time='8000' 
  data-layer-id='slider_'+banner_name  
  data-layer-name='Banner'+banner_name 
  data-layer-position='Home - Banner Superior 8' 
  data-layer-creative="https://www.entel.pe/app/"
  )

  .entel__slider--home__item__content.entel__slider--home__item__content--equipo-app#equipo-app-container
    .e-container
      .e-container-flex
        .heart-container
          .heart-blue.heart-blue__1
            +iconSVG('equipo-app-banner-heart-blue')
          .heart-blue.heart-blue__2
            +iconSVG('equipo-app-banner-heart-blue')
          .heart-blue.heart-blue__3
            +iconSVG('equipo-app-banner-heart-blue')
          .heart-blue.heart-blue__4
            +iconSVG('equipo-app-banner-heart-blue')
          .heart-blue.heart-blue__5
            +iconSVG('equipo-app-banner-heart-blue')
          .heart-blue.heart-blue__6
            +iconSVG('equipo-app-banner-heart-blue')
          .heart-blue.heart-blue__7
            +iconSVG('equipo-app-banner-heart-blue')
          .heart-blue.heart-blue__8
            +iconSVG('equipo-app-banner-heart-blue')

        .e-container-flex__item.e-container-flex__item--1.fadeInLeft
          div
            .equipo-img
              picture
                source(srcset=img_path+'/2022/06/redmi_note_11_desk.png 1x, '+img_path+'/2022/06/redmi_note_11_desk@2x.png 2x' media='(min-width: 1024px)')
                source(srcset=img_path+'/2022/06/redmi_note_11_tab.png 1x, '+img_path+'/2022/06/redmi_note_11_tab@2x.png 2x' media='(min-width: 640px)')
                img(src=img_path+'/2022/06/redmi_note_11_mob.png' srcset=img_path+'/2022/06/redmi_note_11_mob.png 1x, '+img_path+'/2022/06/redmi_note_11_mob@2x.png 2x' alt="XIAOMI REDMI NOTE 11 128GB NEGRO" )(class="top-bottom")
            .button-box
              a#equipo-app-inscripcion(class='e-button e-button--orange entel-data-layer-btn-header'  target='_BLANK' data-gtm-category='Home Banner' data-gtm-action='Seleccionar botón' data-gtm-label='Equipo app - inscríbete aquí' data-gtm-product='Personas' data-gtm-tipo='Informativo') #[span inscríbete aquí]
        .e-container-flex__item.e-container-flex__item--2.fadeInRight
          div
            .titular-svg
              +iconSVG('equipo-app-banner-titular')
            p.sub-title Ahora haz tus operaciones en nuestra #[strong app Mi Entel y participa] por un nuevo equipo
          .heart-container-desk
            .heart-blue.heart-blue__9
              +iconSVG('equipo-app-banner-heart-blue')
            .heart-blue.heart-blue__10
              +iconSVG('equipo-app-banner-heart-blue')
            .heart-blue.heart-blue__11
              +iconSVG('equipo-app-banner-heart-blue')
            .heart-blue.heart-blue__12
              +iconSVG('equipo-app-banner-heart-blue')

        p.consideraciones #[strong Consideraciones y restricciones:] Inscripción al sorteo válida hasta el 12/07. Stock del sorteo: 01 equipo Xiaomi Note Redmi 11. El sorteo será realizado el 15/07, por línea activa inscrita. Condiciones y detalles en #[strong #[a(target="_blank" href="https://www.entel.pe/yGz")  https://www.entel.pe/yGz]]