section.e-section.web-privada
    .confetti
      .confetti-piece
      .confetti-piece
      .confetti-piece
      .confetti-piece
      .confetti-piece
      .confetti-piece
      .confetti-piece
      .confetti-piece
      .confetti-piece
      .confetti-piece
      .confetti-piece
      .confetti-piece
      .confetti-piece
      .web-privada_icono
        +iconSVG('icono-web-privada')
      .web-privada_logo
        .heart-rotate
          +iconSVG('logo-app-web-privada')
      .web-privada_texto
        p !Haz todas tus operaciones y consultas desde la #[span Web Mi Entel!]
      .web-privada_btn
        a.e-button.e-button--orange.entel-data-layer-btn-header(href="https://miperfil.entel.pe/Login/" target="_blank" data-gtm-category="Home Cintillo" data-gtm-action="Seleccionar botón" data-gtm-label="Web Mi Entel - ingresar aquí" data-gtm-product='Personas' data-gtm-tipo='Informativo') #[span ingresar aquí]
      .web-privada_icono_desk
        +iconSVG('icono-celeste-web-privada-desk')
