section.e-section.e-headband-web-privada-tecnology.entel-data-layer-view
    .box-tecnology
      .box-tecnology__image 
        +lazy_image_webp_retina('2022/03/e-headband-web-mi-entel-laptop', 'png', 'Laptop con pagina Mi Entel')
        +lazy_image_webp_retina('2022/03/e-headband-web-mi-entel-laptop-view-1', 'png', 'Laptop con pagina Mi Entel')(class="picture-view picture-view-1")
        +lazy_image_webp_retina('2022/03/e-headband-web-mi-entel-laptop-view-2', 'png', 'Laptop con pagina Mi Entel')(class="picture-view picture-view-2")
        +lazy_image_webp_retina('2022/03/e-headband-web-mi-entel-base', 'png', 'Laptop con pagina Mi Entel')(class="picture-base")
      div.box-tecnology__text
        p ¡Haz todas tus operaciones y consultas desde la #[b Web Mi Entel!]
      div.box-tecnology__button
        a(class='e-button e-button--orange entel-data-layer-btn-header' href='https://miperfil.entel.pe/Login/' target='_blank' 
        data-gtm-category='Home Cintillo'
        data-gtm-action='Seleccionar boton' 
        data-gtm-label='web privada tecnology - INGRESA AQUÍ' data-gtm-product='Personas' data-gtm-tipo='Informativo'
        ) INGRESA AQUÍ
