.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Migra_Postpago_Power' data-layer-name='Migra Postpago Power' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.e-banner__slide.entel__slider--home__cuota0_fiestaspatrias
        .principalcontent
            .principalcontent__banderas 
                +mx_retina('izq', img_path + '2022/07/banner-cuota0-fiestaspatrias-banizq', 'png', 'viva el perú')
                +mx_retina('der', img_path + '2022/07/banner-cuota0-fiestaspatrias-bander', 'png', 'viva el perú')

            .principalcontent__textbanner
                .principalcontent__imgbanner-img
                    +mx_picture_retina('', img_path + '2022/07/banner-cuota0-fiestaspatrias-tit', 'png', 'Migra Postpago Celu nuevo en el mes de Perú!')
                    
            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/07/banner-cuota0-fiestaspatrias-prod', 'png', 'Equipos desde: cuota inicial S/0 desde plan Entel Power 55.9 págalo en 12 meses')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer.bannerform-call(href='#' data-bannerorder="1" data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Cuota0 - 1') Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones") AQUÍ!]]
