.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Delivery_Express' data-layer-name='Delivery Express' data-layer-position='Home - Banner Superior 1' data-layer-creative='')
    .entel__slider--home__item__content.e-banner__slide.entel__slider--home__lineas_adicionales6
        .principalcontent
            .principalcontent__textbanner
                +mx_picture_retina_all(' ', img_path + '2022/11/banner-migrarenueva-tit', 'png', '')
                
                .e-button-buy
                    a.btn-buy.animated.btn-datalayer.bannerform-call(href='javacript:void(0);') LO QUIERO

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/11/banner-migrarenueva-prod', 'png', '')

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://miportal.entel.pe/personas/catalogo/postpago/migra#terminos-y-condiciones") AQUÍ!]]