.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Accesorios' data-layer-name='Accesorios' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://www.entel.pe/ofertas-y-promociones/accesorios-ofertas/')
    .entel__slider--home__item__content.entel__slider--home__item__interbank_accesorios
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_all('', img_path + '2022/10/banner-acc-itbk-tit-v1', 'png', 'Encuentra el accesorio perfecto para tu celu en: entel.pe')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://miportal.entel.pe/personas/catalogo/accesorios') Lo quiero

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/10/banner-acc-itbk-prod-v1', 'png', 'Xiaomi Mi True Wless EP Basic 2 - Apple Cargador 20W')

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://miportal.entel.pe/personas/catalogo/postpago/migra#terminos-y-condiciones") AQUÍ!]]