.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Accesorios' data-layer-name='Accesorios' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://www.entel.pe/ofertas-y-promociones/accesorios-ofertas/')
    .entel__slider--home__item__content.entel__slider--home__accesorios_v2
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_extra('', img_path + '2022/04/banner-acc-tit-v1', 'png', 'Encuentra el  accesorio perfecto para tu celu en: entel.pe')

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/05/banner-acc-prod', 'png', 'JBL Audífonos Tune - Xiaomi Redmi Buds 3 Lite - Lenovo TB-8505FS 8')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://entelstore.pe/') Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ!]]
            //- small.e-legal-small.e-legal-small__desk Promoción válida en #[a(href="https://entel.pe" ) entel.pe] hasta el 31/12/2021. Stock mínimo: 30 unidades. Se devolverá S/200 en el primer estado de cuenta de la tarjeta Interbank. Máximo una devolución por tarjeta. No aplica para RUC 20. Condiciones de tarjeta Interbank y restricciones en #[a(href="https://catalogo.entel.pe" ) catalogo.entel.pe].