.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='' data-layer-name='' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__item__samsung_flip
     
        .principalcontent
            .principalcontent-detail
            .principalcontent__textbanner 
                .principalcontent__textbanner-text
                    form.banner__form(data-codorigen="C2C_Banner")
                        .form--content
                            .form--head
                                +mx_picture_retina_extra('title', img_path + '2022/10/banner-samsung-flip-tit', 'png', 'Migra o renueva Galaxy Z Fold 4 y Z Flip 4')
                                //- +mx_picture_retina_extra('testb ', img_path + '2022/09/banner-doslineas-tit-v2', 'png', 'Migra Postpago Ahorra S/720 al año')


                            .form--body
                                h3 Déjanos tus datos y te llamamos:
                                .form--number
                                    input.validonlynumeric(type='tel' placeholder='Número de celular' maxlength='9' name='form_lead_phone' autocomplete='on')
                                .form--check
                                    span Al hacer clic en “Llámame” declaras haber leído la
                                        a(href='http://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')   
                                            span Política de Privacidad
                                        | de Entel

                                    input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                    .input-mask-top 

                                button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='banner dos lineas - 01') LLÁMENME
                                
                            .form--button
                                a.animated.e-button.e-button--orange(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#productos')
                                    span Lo quiero

                            .form--loading
                                img(class="no-lazy e-banner-white" srcset="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" alt="loading")
                                //- <img class="e-banner-blue" src="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" title="loading">
                                
                                
                            .form--duplicate
                                p ¡Hola! Ya contamos con tu número. 
                                p Estate atento a nuestra pronta llamada.
                            .form--error
                                p Lo sentimos Ocurrió un error
                                p al procesar tus datos.
                            .form--thanks
                                img(class="e-banner-white" srcset="https://www.entel.pe/wp-content/uploads/2022/06/ico-gracias-white.png" alt="Entel")
                                //- <img class="e-banner-blue" src="https://www.entel.pe/wp-content/uploads/2022/06/ico-gracias-blue.png" title="Gracias">
                                
                                p ¡Gracias por confiar 
                                    span  en nosotros!

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                +mx_picture_retina_extra('', img_path + '2022/10/banner-samsung-flip-prod', 'png', 'Galaxy Z Fold 4 y Z Flip 4: Lleva la pasión del fútbol a donde vayas y Y llévate uno de los siguientes premios: TV Samsung 43”, Gift Card S/900, Parlante Bluetooth Samsung 106w y más!') 


            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://miportal.entel.pe/personas/catalogo/postpago/migra#terminos-y-condiciones") AQUÍ!]]