.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Migra_Postpago_Power' data-layer-name='Migra Postpago Power' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.e-banner__slide.entel__slider--home__verano2022_lineas_adicionales 
        .principalcontent
            .principalcontent__textbanner
                .principalcontent__textbanner-text
                    form.banner__form(data-codorigen="C2C_Banner")
                        .form--content
                            .form--head
                                +mx_picture_retina_extra('active testb', img_path + '2022/03/banner-verano2022-lineas-tit', 'png', 'Postpago Migra en familia y ahorra más!')


                            .form--body
                                h3 Déjanos tus datos y te llamamos:
                                .form--number
                                    input.validonlynumeric(type='tel' placeholder='Número de celular' maxlength='9' name='form_lead_phone' autocomplete='on')
                                .form--check
                                    span Al hacer clic en “Llámame” declaras haber leído la
                                        a(href='http://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')   
                                            span Política de Privacidad
                                        | de Entel

                                    input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                    .input-mask-top 

                                button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Verano 2022 Cuota 0 - 01') LLÁMAME
                                
                            .form--button
                                a.animated.e-button.e-button--orange(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#productos')
                                    span Lo quiero

                            .form--loading
                                //- img(class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" alt="loading")
                                <img src="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" title="loading">
                                
                                
                            .form--duplicate
                                p ¡Hola! Ya contamos con tu número. 
                                p Estate atento a nuestra pronta llamada.
                            .form--error
                                p Lo sentimos Ocurrió un error
                                p al procesar tus datos.
                            .form--thanks
                                <img src="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" title="Gracias">
                                
                                p ¡Gracias por confiar 
                                    span  en nosotros!


            .principalcontent__imgbanner.active.testa
                .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/03/banner-verano2022-lineas-prod', 'png', 'Tus Líneas Adicionales cada una a S/ 29.90')

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones") AQUÍ!]]