.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Accesorios' data-layer-name='Accesorios' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://www.entel.pe/ofertas-y-promociones/accesorios-ofertas/')
    .entel__slider--home__item__content.entel__slider--home__flujo
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina('', img_path + '2022/05/banner-flujo-tit', 'png', 'Migra online Chip Postpago')

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/05/banner-flujo-prod', 'png', 'Plan Entel Power S/55.9 ahora al mes: S/44.72 x6 meses')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://miportal.entel.pe/personas/planes' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Verano 2022 Flujo - 04') Quiero migrar

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ!]]