.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Accesorios' data-layer-name='Accesorios' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://www.entel.pe/ofertas-y-promociones/accesorios-ofertas/')
    .entel__slider--home__item__content.entel__slider--home__verano2022_flujo(id='entel-slider-home-migra-online')
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_extra('', img_path + '2022/01/banner-verano2022-flujo-tit', 'png', 'Migra online Chip Postpago Exclusivo en entel.pe')

            //- .principalcontent__imgbanner.testa
            //-     .principalcontent__imgbanner-img
            //-         +mx_picture_retina_extra('', img_path + '2022/01/banner-verano2022-flujo-prod', 'png', '20% Dto. en tu plan Entel Power 55.9 por 6 meses Datos ilimitados 14 GB de alta velocidad')

            .principalcontent__imgbanner.testb.active
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/01/banner-verano2022-flujo-prod-tb', 'png', 'Plan Entel Power S/55.9 Ahora al mes: S/44.72 x 6 meses Datos ilimitados 14GB de alta velocidad')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://miportal.entel.pe/personas/planes' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Verano 2022 Flujo - 04') Quiero migrar

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ!]]
            //- small.e-legal-small.e-legal-small__desk Promoción válida en #[a(href="https://entel.pe" ) entel.pe] hasta el 31/12/2021. Stock mínimo: 30 unidades. Se devolverá S/200 en el primer estado de cuenta de la tarjeta Interbank. Máximo una devolución por tarjeta. No aplica para RUC 20. Condiciones de tarjeta Interbank y restricciones en #[a(href="https://catalogo.entel.pe" ) catalogo.entel.pe].