.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='' data-layer-name='' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__item__interbank_liberados_2
     
        .principalcontent
            .principalcontent-detail
            .principalcontent__textbanner 
                +mx_picture_retina_extra('title', img_path + '2022/08/banner-lib-ago-tit', 'png', 'Encuentra tu equipo liberado en: entel.pe')

                .e-button-buy
                    a.btn-buy.animated.btn-datalayer(href='https://miportal.entel.pe/personas/catalogo/liberados') LO QUIERO

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                +mx_picture_retina_extra('', img_path + '2022/11/banner-lib-ago-prod', 'png', 'Samsung Galaxy A03core - moto e20 - Redmi Note 11') 

            //- .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=accesorios' target="_blank") Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://miportal.entel.pe/personas/catalogo/postpago/migra#terminos-y-condiciones") AQUÍ!]]