.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Liberados' data-layer-name='Equipos Liberados' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres')
    .entel__slider--home__item__content.entel__slider--home__liberados_diapadre
        .principalcontent
            .principalcontent__textbanner 
                .principalcontent__textbanner-detail
                +mx_picture_retina_extra('', img_path + '2022/06/banner-lib-diapadre-tit', 'png', 'Regálale un equipo liberado para Papá')

            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/06/banner-lib-diapadre-prod-v1', 'png', 'Interbank - Te devuelve s/200 solicitando una nueva tarjeta de crédito')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres#productos') Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ!]]