.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Accesorios' data-layer-name='Accesorios' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://www.entel.pe/ofertas-y-promociones/accesorios-ofertas/')
    .entel__slider--home__item__content.entel__slider--home__verano2022_acc_2
        .principalcontent
            .principalcontent-detail
            .principalcontent__textbanner 
                +mx_picture_retina('', img_path + '2022/01/banner-verano2022-accesorios-tit-v1', 'png', 'Encuentra el accesorio perfecto para tu celu en: entel.pe')

            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/03/banner-verano2022-accesorios-prod-v1', 'png', 'JBL Audífonos Tune - Xiaomi Redmi Buds 3 Lite - Lenovo 8" Helio A22')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://entelstore.pe/ofertas-entel' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Verano 2022 Accesorios - 06') Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ!]]