.entel__slider--home__item(data-entel-slide-index='1' data-entel-slide-time='8000' data-layer-id='cuota0' data-layer-name='Cuota 0' data-layer-position='Home - Banner Superior 1' data-layer-creative='')
    .entel__slider--home__item__content.e-banner__slide.entel__slider--home__nuevo_cuota02
        .principalcontent
            .principalcontent__textbanner
                .principalcontent__textbanner-text
                    form.banner__form(data-codorigen="C2C_Banner")
                        .form--content
                            .form--head
                                +mx_picture_retina(' ', img_path + '2022/11/banner-nue-cuota0-tit-v1', 'png', 'Postpago Migra con Dimitree')

                            .form--body
                                h3 Déjanos tus datos y te llamamos:
                                .form--number
                                    input.validonlynumeric(type='tel' placeholder='Número de celular' maxlength='9' name='form_lead_phone' autocomplete='on')
                                .form--check
                                    span Al hacer clic en “Llámame” declaras haber leído la
                                        a(href='http://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')   
                                            span Política de Privacidad
                                        | de Entel

                                    input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                    .input-mask-top 

                                button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='banner Cuota 0 - 01') LLÁMAME
                                
                            .form--button
                                a.animated.e-button.e-button--orange(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#productos')
                                    span Lo quiero

                            .form--loading
                                img(class="no-lazy e-banner-white" srcset="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" alt="loading")
                                //- <img class="e-banner-blue" src="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" title="loading">
                                
                                
                            .form--duplicate
                                p ¡Hola! Ya contamos con tu número. 
                                p Estate atento a nuestra pronta llamada.
                            .form--error
                                p Lo sentimos Ocurrió un error
                                p al procesar tus datos.
                            .form--thanks
                                //- img(class="e-banner-white" srcset="https://www.entel.pe/wp-content/uploads/2022/06/ico-gracias-white.png" alt="Entel")
                                //- <img class="e-banner-blue" src="https://www.entel.pe/wp-content/uploads/2022/06/ico-gracias-blue.png" title="Gracias">
                                div.ico--thanks
                                
                                p ¡Gracias por confiar 
                                    span  en nosotros!


            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/12/banner-nue-cuota0-prod-v5', 'png', 'Equipos con cuota inicial desde S/0 desde plan Entel Power+ 74.90 Págalos en 12 meses Además. llévate un Dimitree a S/9')

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://miportal.entel.pe/personas/catalogo/postpago/migra#terminos-y-condiciones") AQUÍ!]]