.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Accesorios' data-layer-name='Accesorios' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://www.entel.pe/ofertas-y-promociones/accesorios-ofertas/')
    .entel__slider--home__item__content.entel__slider--home__accesorios_test
        .principalcontent
            .testa.active
                .principalcontent__textbanner 
                    +mx_picture_retina_extra('', img_path + '2022/04/banner-acc-tit-v1', 'png', 'Encuentra el  accesorio perfecto para tu celu en: entel.pe')

                .principalcontent__imgbanner
                    .principalcontent__imgbanner-detail
                    .principalcontent__imgbanner-img
                        +mx_picture_retina_extra('', img_path + '2022/05/banner-acc-prod-v4', 'png', 'Xiaomi Mi Watch Black - Xiaomi Redmi Buds 3 Pro - Apple Audífonos Earpods con conector Lightning')

                .e-button-buy
                    a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=accesorios') Lo quiero

                small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ!]]

            .testb
                .principalcontent__textbanner 
                    +mx_picture_retina_extra('', img_path + '2022/05/banner-acc-chi-tit', 'png', 'Encuentra el accesorio perfecto para Mamá')

                .principalcontent__imgbanner
                    .principalcontent__imgbanner-img
                        +mx_picture_retina_extra('', img_path + '2022/05/banner-acc-chi-prod-v2', 'png', 'Xiaomi Mi Watch Black - Xiaomi Redmi Buds 3 Pro')

                .e-button-buy
                    a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=accesorios') Ver Más

                small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ!]]
