.entel__slider--home__item(data-entel-slide-index='6' data-entel-slide-time='8000' data-layer-id='' data-layer-name='' data-layer-position='Home - Banner Superior 6' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__item__slider_hogar_test
        //- .principalcontent_bg
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_extra('title testb ', img_path + '2022/05/banner-form-hogar-tit-v1', 'png', 'Nuevo Hogar fibra óptica')
                +mx_picture_retina_extra('title testa active', img_path + '2022/05/banner-form-hogar-tit-v3', 'png', 'Nuevo Hogar fibra óptica')

                form.banner__form(data-codorigen="Hogar_C2C_Banner")
                    .form--content
                        .form--body
                            p.desk Déjanos tu número y te llamamos:

                            .form--number
                                input.validonlynumeric(type='tel' maxlength='9' placeholder=' ' name='form_lead_phone' autocomplete='on')
                                span 
                                    span Número de celular
                            .form--check
                                span Al hacer clic en “Llámame” declaras haber leído la
                                    a(href='http://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')   
                                        span Política de Privacidad
                                    | de Entel
                                    
                                input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                .input-mask-top 

                            button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='form superior' data-gtm-category='catalogo' data-gtm-label='LLÁMAME') LLÁMAME

                        .form--button
                            a.animated.e-button.e-button--orange.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#productos' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Verano 2022 Hogar - 07')
                                span Lo quiero

                        //- .form--head
                        //-     h3 o llámanos al 
                        //-         strong 0800 - 09002

                        .form--loading
                            img(class="testb " srcset="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" alt="loading")
                            <img class="testa active" src="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" title="loading">

                        .form--duplicate
                            p ¡Hola! Ya contamos con tu número. 
                            p Estate atento a nuestra pronta llamada.
                        .form--error
                            p Lo sentimos Ocurrió un error
                            p al procesar tus datos.
                        .form--thanks
                            img(class="testb " srcset="https://www.entel.pe/wp-content/uploads/2022/01/entel-message-thanks-top@2x.png" alt="Entel")
                            <img class="testa active" src="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" title="Gracias">
                            

                            p ¡Gracias por confiar 
                                span  en nosotros!

            .principalcontent__imgbanner.testb
                .principalcontent__imgbanner-detail
                +mx_picture_retina_extra('', img_path + '2022/05/banner-form-hogar-prod-v1', 'png', '¡Llegó una nueva era de velocidad!') 

            .principalcontent__imgbanner.testa.active
                .principalcontent__imgbanner-detail
                +mx_picture_retina_extra('', img_path + '2022/05/banner-form-hogar-prod-v3', 'png', 'Instalación gratis!') 

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://www.entel.pe/hogar/internet/planes/#terminos" ) AQUÍ!]] #[span Llámanos al #[strong 0800 - 09002]]