.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Accesorios' data-layer-name='Accesorios' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://www.entel.pe/ofertas-y-promociones/accesorios-ofertas/')
    .entel__slider--home__item__content.entel__slider--home__item__interbank_accesorios_2
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_extra('', img_path + '2022/08/banner-acc-itbk-tit', 'png', 'Encuentra el accesorio perfecto en: entel.pe')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://entelstore.pe/promociones') Lo quiero

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_all('', img_path + '2022/09/banner-acc-itbk-prod', 'png', '')
                    //- <picture>
                    //-     <source srcset="https://www.entel.pe/wp-content/uploads/2022/09/banner-acc-itbk-v3-prod-big.png" media="(min-width: 1280px)">
                    //-     <source srcset="https://www.entel.pe/wp-content/uploads/2022/09/banner-acc-itbk-v3-prod-desk.png, https://www.entel.pe/wp-content/uploads/2022/09/banner-acc-itbk-v3-prod-desk@2x.png 2x" media="(min-width: 1024px)">
                    //-     <source srcset="https://www.entel.pe/wp-content/uploads/2022/09/banner-acc-itbk-v3-prod-tab.png, https://www.entel.pe/wp-content/uploads/2022/09/banner-acc-itbk-v3-prod-tab@2x.png 2x" media="(min-width: 768px)">
                    //-     <img src="https://www.entel.pe/wp-content/uploads/2022/09/banner-acc-itbk-v3-prod-mob.png" srcset="https://www.entel.pe/wp-content/uploads/2022/09/banner-acc-itbk-v3-prod-mob.png, https://www.entel.pe/wp-content/uploads/2022/09/banner-acc-itbk-v3-prod-mob@2x.png 2x" alt="Philips Audifono BT On Ear negro - Huawei Smart band 6 Fara Rosa - Philips Audifono  On Ear blanco" title="Philips Audifono BT On Ear negro - Huawei Smart band 6 Fara Rosa - Philips Audifono  On Ear blanco">
                    //- </picture>

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://miportal.entel.pe/personas/catalogo/postpago/migra#terminos-y-condiciones") AQUÍ!]]