.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Oppo' data-layer-name='Moto' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago&marca=motorola')
    .entel__slider--home__item__content.entel__slider--home__iphone14_nuevo
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_all('', img_path + '2022/11/banner-iphone14-nuevo-tit', 'png', 'Postpago Renueva Es iPhone, es Entel, es más iPhone14 -iPhone14 Pro Max')

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/11/banner-iphone14-nuevo-prod', 'png', '12 cuotas mensuales desde S/ 199 desde plan Entel Power 74.9 *Aplica cuota inicial, sujeto  evaluación crediticia.')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://miportal.entel.pe/personas/catalogo/postpago/renovacion?marca=apple' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='iphon14 - 04') Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) #[strong AQUÍ!]]