.entel__slider--home__item(data-entel-slide-index='2' data-entel-slide-time='8000' data-layer-id='Migra_Postpago_Power' data-layer-name='Migra Postpago Power' data-layer-position='Home - Banner Superior 2' data-layer-creative='')
    .entel__slider--home__item__content.e-banner__slide.entel__slider--home__lineas_adicionales_fiestaspatrias
        .principalcontent
            //- .principalcontent__banderas 
            //-     +mx_retina('izq', img_path + '2022/07/banner-cuota0-fiestaspatrias-banizq', 'png', 'viva el perú')
            //-     +mx_retina('der', img_path + '2022/07/banner-cuota0-fiestaspatrias-bander', 'png', 'viva el perú')

            .principalcontent__textbanner
                //- .principalcontent__imgbanner-img
                //-     +mx_picture_retina_all('', img_path + '2022/07/banner-lineas-fiestaspatrias-tit', 'png', 'Migra Postpago Celu nuevo en el mes de Perú!')
                .principalcontent__textbanner-text
                    form.banner__form(data-codorigen="C2C_Web_Banner_LLAA")
                        .form--content
                            .form--head
                                +mx_picture_retina_all('', img_path + '2022/07/banner-lineas-fiestaspatrias-tit', 'png', 'Migra Postpago Celu nuevo en el mes de Perú!')

                            .form--body
                                h3 Déjanos tus datos y te llamamos:
                                .form--number
                                    input.validonlynumeric(type='tel' placeholder='Número de celular' maxlength='9' name='form_lead_phone' autocomplete='on')
                                .form--check
                                    span Al hacer clic en “Llámame” declaras haber leído la
                                        a(href='http://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')   
                                            span Política de Privacidad
                                        | de Entel

                                    input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                    .input-mask-top 

                                button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Verano 2022 Cuota 0 - 01') LLÁMAME
                                
                            .form--button
                                a.animated.e-button.e-button--orange(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#productos')
                                    span Lo quiero

                            .form--loading
                                //- img(class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" alt="loading")
                                <img src="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" title="loading">
                                
                                
                            .form--duplicate
                                p ¡Hola! Ya contamos con tu número. 
                                p Estate atento a nuestra pronta llamada.
                            .form--error
                                p Lo sentimos Ocurrió un error
                                p al procesar tus datos.
                            .form--thanks
                                //- img(class="" srcset="https://www.entel.pe/wp-content/uploads/2022/06/ico-gracias-white.png" alt="Entel")
                                <img class="" src="https://www.entel.pe/wp-content/uploads/2022/06/ico-gracias-blue.png" title="Gracias">
                                
                                p ¡Gracias por confiar 
                                    span  en nosotros!


            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/07/banner-lineas-fiestaspatrias-prod', 'png', 'Tus Líneas Adicionales cada una a S/29.90* para cualquier plan Entel Power Familiar')

            //- .e-button-buy
            //-     a.btn-buy.animated.btn-datalayer(href='https://www.entel.pe/ofertas-y-promociones/lineasadicionales/' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='lineas adicionales - 3') Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones") AQUÍ!]]
