.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Dos_Lineas' data-layer-name='Dos Lineas' data-layer-position='Home - Banner Superior 2' data-layer-creative='')
    .entel__slider--home__item__content.e-banner__slide.entel__slider--home__bbva2
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina(' ', img_path + '2022/11/banner-bbva-tit', 'png', '')
                
                .e-button-buy
                    a.btn-buy.animated.btn-datalayer.bannerform-call(href='javacript:void(0);' data-codorigen="C2C_Web_Banner_Contado") LO QUIERO


            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/11/banner-bbva-prod', 'png', '')

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://miportal.entel.pe/personas/catalogo/postpago/migra#terminos-y-condiciones") AQUÍ!]]