.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Oppo' data-layer-name='Oppo' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago&marca=oppo')
    .entel__slider--home__item__content.entel__slider--home__oppo
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_extra('', img_path + '2022/08/banner-oppo-tit', 'png', 'Renueva en los: Oppo days de l8 al 14 de agosto')

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/08/banner-oppo-prod', 'png', 'cuota inicial S/0 desde plan Entel Power+ 74.9 págalo en 12 meses')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago&marca=oppo' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Oppo - 04') Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ!]]