.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Oppo' data-layer-name='Moto' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago&marca=motorola')
    .entel__slider--home__item__content.entel__slider--home__moto
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_all('', img_path + '2022/08/banner-moto-tit', 'png', 'Renueva tu celu hoy! moto week del 15 al 21 de agosto')

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/08/banner-moto-prod', 'png', 'Equipos Postpago desde: cuota inicial S/0 plan Entel Power+ 74.90')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago&marca=motorola' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Moto - 04') Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ!]]