.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Migra_Postpago_Power' data-layer-name='Migra Postpago Power' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.e-banner__slide.entel__slider--home__cuota0_fiestaspatrias_form
        //- .principalcontent_bg
        .principalcontent
            //- .principalcontent-detail
            .principalcontent__banderas 
                +mx_retina('izq', img_path + '2022/07/banner-cuota0-fiestaspatrias-banizq', 'png', 'viva el perú')
                +mx_retina('der', img_path + '2022/07/banner-cuota0-fiestaspatrias-bander', 'png', 'viva el perú')
            .principalcontent__textbanner
                .principalcontent__textbanner-text
                    form.banner__form(data-codorigen="C2C_Banner")
                        .form--content
                            .form--head
                                //- +mx_picture_retina('active testa', img_path + '2021/11/banner-navidad-vep-21-v2-title', 'png', 'Postpago Migra con Dimitree!')
                                //- +mx_picture_retina('active testb', img_path + '2022/04/banner-xiaomi-festival-tit', 'png', 'Cuota - 0')
                                +mx_picture_retina('', img_path + '2022/07/banner-cuota0-fiestaspatrias-tit', 'png', 'Migra Postpago Celu nuevo en el mes de Perú!')
                            .form--body
                                h3 Déjanos tus datos y te llamamos:
                                .form--number
                                    input.validonlynumeric(type='tel' placeholder='Número de celular' maxlength='9' name='form_lead_phone' autocomplete='on')
                                .form--check
                                    span Al hacer clic en “Llámame” declaras haber leído la
                                        a(href='http://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')   
                                            span Política de Privacidad
                                        | de Entel

                                    input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                    .input-mask-top
                                    //- label(for='checkt')
                                        a(href='http://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')
                                            | Acepto las 
                                            span Política de Privacidad
                                button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Verano 2022 Cuota 0 - 01') LLÁMAME
                            .form--button
                                a.animated.e-button.e-button--orange(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#productos')
                                    span Lo quiero
                            .form--loading
                                img(class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" alt="loading")
                                //- img(class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" alt="loading")

                            .form--duplicate
                                p ¡Hola! Ya contamos con tu número. 
                                p Estate atento a nuestra pronta llamada.
                            .form--error
                                p Lo sentimos Ocurrió un error
                                p al procesar tus datos.
                            .form--thanks
                                img(class="" srcset="https://www.entel.pe/wp-content/uploads/2022/06/ico-gracias-white.png" alt="Entel")
                                //- <img class="" src="https://www.entel.pe/wp-content/uploads/2022/06/ico-gracias-blue.png" title="Gracias">
                                
                                p ¡Gracias por confiar 
                                    span  en nosotros!

            
            //- .principalcontent__imgbanner.testb
            //-     .principalcontent__imgbanner-img
            //-         <picture>
            //-             <source srcset="https://www.entel.pe/wp-content/uploads/2022/01/banner-verano2022-cuota0-prod-2-big.png" media="(min-width: 1280px)">
            //-             <source srcset="https://www.entel.pe/wp-content/uploads/2022/01/banner-verano2022-cuota0-prod-2-desk.png, https://www.entel.pe/wp-content/uploads/2022/01/banner-verano2022-cuota0-prod-2-desk@2x.png 2x" media="(min-width: 1024px)">
            //-             <source srcset="https://www.entel.pe/wp-content/uploads/2022/01/banner-verano2022-cuota0-prod-2-tab.png, https://www.entel.pe/wp-content/uploads/2022/01/banner-verano2022-cuota0-prod-2-tab@2x.png 2x" media="(min-width: 768px)">
            //-             <img src="https://www.entel.pe/wp-content/uploads/2022/01/banner-verano2022-cuota0-prod-2-tb-mob.png" srcset="https://www.entel.pe/wp-content/uploads/2022/01/banner-verano2022-cuota0-prod-2-tb-mob.png, https://www.entel.pe/wp-content/uploads/2022/01/banner-verano2022-cuota0-prod-2-tb-mob@2x.png 2x" alt="Equipos desde cuota inicial S/0 desde plan Entel Power 55.9" title="Equipos desde cuota inicial S/0 desde plan Entel Power 55.9">
            //-         </picture>

            .principalcontent__imgbanner.active.testa
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/07/banner-cuota0-fiestaspatrias-v3-prod', 'png', 'Equipos desde: cuota inicial S/0 desde plan Entel Power +74.90 págalo en 12 meses')
                //- .principalcontent__imgbanner-detail

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones") AQUÍ!]]
            //- small.e-legal-small.e-legal-small__desk Válido en entel.pe hasta el 31/12/2021 en portabilidad (origen postpago) para personas naturales o RUC 10 con planes indicados y acuerdo de equipo en cuotas a 12 meses. Stock mínimo a nivel nacional: 10 unidades. Descuento del 50% aplica solo sobre el cargo fijo del plan y será válido por los 6 primeros meses desde la contratación (incluye el prorrateo). No es acumulable con otras promociones de descuento de cargo fijo. No aplica en Iquitos ni para RUC 20. Cobertura de delivery y restricciones: #[a( href="https://catalogo.entel.pe") catalogo.entel.pe]
