.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Migra_Postpago_Galaxydays' data-layer-name='Migra Postpago Migra_Postpago_Galaxy Days' data-layer-position='Home - Banner Superior 2' data-layer-creative='')
    .entel__slider--home__item__content.e-banner__slide.entel__slider--home__cuota0_samsung
        .principalcontent
            .principalcontent-detail
            .principalcontent__textbanner
                .principalcontent__textbanner-text
                    form.banner__form(data-codorigen="C2C_Banner")
                        .form--content
                            .form--head
                                +mx_picture_retina('', img_path + '2022/06/banner-cuota0-samsung-tit-v1', 'png', 'Migra Postpago')

                            .form--body
                                h3 Déjanos tus datos y te llamamos:
                                .form--number
                                    input.validonlynumeric(type='tel' maxlength='9' placeholder=' ' name='form_lead_phone' autocomplete='on')
                                    span 
                                        span Número de celular
                                .form--check
                                    span Al hacer clic en “Llámame” declaras haber leído la 
                                        a(href='http://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')   
                                            span Política de Privacidad
                                        | de Entel

                                    input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                    .input-mask-top
                                    //- label(for='checkt')
                                        a(href='http://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')
                                            | Acepto las 
                                            span Política de Privacidad
                                button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Verano 2022 Cuota 0 - 01') LLÁMAME
                                
                            .form--button
                                a.animated.e-button.e-button--orange(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#productos')
                                    span Lo quiero

                            .form--loading
                                <picture>
                                    <source srcset="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" media="(min-width: 768px)">
                                    <img src="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" title="Loading">
                                </picture>

                            .form--duplicate
                                p ¡Hola! Ya contamos con tu número. 
                                p Estate atento a nuestra pronta llamada.

                            .form--error
                                p Lo sentimos Ocurrió un error
                                p al procesar tus datos.

                            .form--thanks
                                <picture>
                                    <source srcset="https://www.entel.pe/wp-content/uploads/2022/06/ico-gracias-white.png" media="(min-width: 768px)">
                                    <img src="https://www.entel.pe/wp-content/uploads/2022/06/ico-gracias-blue.png" title="Gracias">
                                </picture>
                                
                                p ¡Gracias por confiar 
                                    span  en nosotros!

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/06/banner-cuota0-samsung-prod-v1', 'png', 'Llegaron los Galaxy days del 13 al 22 de junio')

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones") AQUÍ!]]
