.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='' data-layer-name='' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__item__honor_week
     
        .principalcontent
            .principalcontent-detail
            .principalcontent__textbanner 
                +mx_picture_retina_all('title', img_path + '2022/09/banner-honor-week-tit', 'png', 'Llévatelo en pack solo por lanzamiento HONOR 70 5G')

                .e-button-buy
                    a.btn-buy.animated.btn-datalayer(href='https://miportal.entel.pe/personas/producto/Equipos/prod320043?poId=PO_BSC_EQP_25830&modalidad=Renovacion&planId=PO_POS_OO_24336&oferta=especial&cuota=12&flow=equipos') LO QUIERO

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                +mx_picture_retina_extra('', img_path + '2022/09/banner-honor-week-prod', 'png', 'Postpago Renueva cuota inicial S/0 Págalo en 12 cuotas mensuales desde el plan Entel Power +74.9') 


            small.e-legal-small.e-legal-small__mob *Aplican términos y condiciones #[strong #[a(href="https://miportal.entel.pe/personas/catalogo/postpago/migra#terminos-y-condiciones" ) AQUÍ!]]
            //- small.e-legal-small.e-legal-small__desk Válido hasta el 18/07/2021 en #[a(href="https://entel.pe") entel.pe]. Stock min: 10 unidades por modelo. Cobertura de delivery, condiciones y restricciones: #[a(href="https://catalogo.entel.pe" ) catalogo.entel.pe]