.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Migra_Postpago_Power' data-layer-name='Migra Postpago Power' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.e-banner__slide.entel__slider--home__pagounico#testABPagoUnico
        .principalcontent
            .principalcontent__textbanner
                .principalcontent__textbanner-text
                    form.banner__form(data-codorigen="C2C_Web_Banner_Contado")
                        .form--content
                            .form--head
                                //- +mx_picture_retina('active testa', img_path + '2021/11/banner-navidad-vep-21-v2-title', 'png', 'Postpago Migra con Dimitree!')
                                +mx_picture_retina('active testb', img_path + '2022/04/banner-pagounico-tit', 'png', 'Celu nuevo para Mamá')


                            .form--body
                                h3 Déjanos tus datos y te llamamos:
                                .form--number
                                    input.validonlynumeric(type='tel' placeholder='Número de celular' maxlength='9' name='form_lead_phone' autocomplete='on')
                                .form--check
                                    span Al hacer clic en “Llámame” declaras haber leído la
                                        a(href='http://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')   
                                            span Política de Privacidad
                                        | de Entel

                                    input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                    .input-mask-top
                                    //- label(for='checkt')
                                        a(href='http://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')
                                            | Acepto las 
                                            span Política de Privacidad
                                button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Verano 2022 Cuota 0 - 01') LLÁMAME
                                
                            .form--button
                                a.animated.e-button.e-button--orange(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#productos')
                                    span Lo quiero

                            .form--loading
                                //- img(class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" alt="loading")
                                <img src="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" title="loading">

                            .form--duplicate
                                p ¡Hola! Ya contamos con tu número. 
                                p Estate atento a nuestra pronta llamada.
                            .form--error
                                p Lo sentimos Ocurrió un error
                                p al procesar tus datos.
                            .form--thanks
                                //- img(class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2022/01/entel-message-thanks-top@2x.png" alt="Entel")
                                <img src="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" title="Gracias">
                                
                                p ¡Gracias por confiar 
                                    span  en nosotros!

            
            .principalcontent__imgbanner.testb
                .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/05/banner-pagounico-prod-v5', 'png', 'Migra Postpago Equipos hasta con: 40% dto.* en pago único desde plan Entel Power 69.9')

            .principalcontent__imgbanner.testa.active
                .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/05/banner-pagounico-prod-v6', 'png', 'Migra Postpago Equipos hasta con: 40% dto.* en pago único desde plan Entel Power 69.9')

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones") AQUÍ!]]
            //- small.e-legal-small.e-legal-small__desk Válido en entel.pe hasta el 31/12/2021 en portabilidad (origen postpago) para personas naturales o RUC 10 con planes indicados y acuerdo de equipo en cuotas a 12 meses. Stock mínimo a nivel nacional: 10 unidades. Descuento del 50% aplica solo sobre el cargo fijo del plan y será válido por los 6 primeros meses desde la contratación (incluye el prorrateo). No es acumulable con otras promociones de descuento de cargo fijo. No aplica en Iquitos ni para RUC 20. Cobertura de delivery y restricciones: #[a( href="https://catalogo.entel.pe") catalogo.entel.pe]
