.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Interbank' data-layer-name='Interbank' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres')
    .entel__slider--home__item__content.entel__slider--home__interbank_lib
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina('', img_path + '2022/03/banner-interbank-tit', 'png', 'Equipos Liberados CYBER Interbank del 14 al 16 de marzo')

            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/03/banner-interbank-prod', 'png', 'Hasta 20% dto adicional pagando con tu tarjeta Interbank')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Verano 2022 Interbank - 05') Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ!]]