.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Liberados' data-layer-name='Equipos Liberados' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres')
    .entel__slider--home__item__content.entel__slider--home__xiaomi
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_extra('', img_path + '2022/04/banner-xiaomi-tit', 'png', 'Lanzamiento Xiaomi 12 Domina cada escena')

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/04/banner-xiaomi-prod', 'png', 'Xiaomi 12 5G')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/redmi-12-5g-gris-buds-3-chip-69-w/p?modalidad=postpago-migra&plan=chip-55.9&oferta=especial&cuota=12') Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ!]]
            //- small.e-legal-small.e-legal-small__desk Promoción válida en #[a(href="https://entel.pe" ) entel.pe] hasta el 31/12/2021. Stock mínimo: 30 unidades. Se devolverá S/200 en el primer estado de cuenta de la tarjeta Interbank. Máximo una devolución por tarjeta. No aplica para RUC 20. Condiciones de tarjeta Interbank y restricciones en #[a(href="https://catalogo.entel.pe" ) catalogo.entel.pe].