.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Samsung' data-layer-name='Samsung' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-5G&marca=samsung')
    .entel__slider--home__item__content.entel__slider--home__samsung
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_extra('', img_path + '2022/03/banner-samsung-tit-v1', 'png', 'Ya llegó! Galaxy S22 | S22+ | S22 Ultra')

            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/03/banner-samsung-prod', 'png', 'Equipos desde: cuota inicial S/0 desde plan Entel Power 69.9')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-5G&marca=samsung' data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Samsung - 04') Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ!]]