.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Accesorios' data-layer-name='Accesorios' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://www.entel.pe/ofertas-y-promociones/accesorios-ofertas/')
    .entel__slider--home__item__content.entel__slider--home__verano2022_samsung
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_extra('', img_path + '2022/01/banner-verano2022-samsung-tit', 'png', 'Ya llegó! Galaxy S21 FE 5G Vuelve únicos todos tus días')

            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2022/01/banner-verano2022-samsung-prod', 'png', 'Samsung Galaxy S21 FE (Tres colores nuevos, Pantalla Súper fruida de 120 Hz, El mejor procesador de Galaxy)')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/Samsung-Galaxy-S21-FE-5G-Graphite-Chip-55-w/p?modalidad=postpago-migra&plan=chip-69.9&oferta=especial&cuota=12') Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ!]]