.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='Liberados' data-layer-name='Equipos Liberados' data-layer-position='Home - Banner Superior 4' data-layer-creative='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres')
    .entel__slider--home__item__content.entel__slider--home__liberados_test
        .principalcontent
            .testa.active
                .principalcontent__textbanner 
                    +mx_picture_retina_extra('', img_path + '2022/04/banner-lib-tit', 'png', 'Regálale un equipo liberado para Mamá')

                .principalcontent__imgbanner
                    .principalcontent__imgbanner-detail
                    .principalcontent__imgbanner-img
                        +mx_picture_retina_extra('', img_path + '2022/05/banner-lib-prod-v1', 'png', 'Interbank te devuelve S/ 200 solicitando una nueva tarjeta de crédito.')

                .e-button-buy
                    a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres#productos') Lo quiero

                small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ!]]
            
            .testb
                .principalcontent__textbanner 
                    +mx_picture_retina_extra('', img_path + '2022/05/banner-lib-tit-v2', 'png', 'Regálale un equipo liberado para Mamá')

                .principalcontent__imgbanner
                    .principalcontent__imgbanner-img
                        +mx_picture_retina_extra('', img_path + '2022/05/banner-lib-prod-v2', 'png', 'Interbank te devuelve S/ 200 solicitando una nueva tarjeta de crédito.')

                .e-button-buy
                    a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres#productos') Lo quiero

                small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ!]]