mixin planName(plan,pref,suf)
    if pref
        - prefix = pref
    else
        - prefix = (plan > 49) ? 'Entel power ' :  'Entel chip '
    if suf
        - sufix = suf
    else
        - sufix = (plan > 49) ? '' :  '+'

    h4 !{prefix + plan + '.90' + sufix}