mixin figureSVG(icon)
    .e-figure&attributes(attributes)
        case icon
            when 'figure-one'
                include ../../../../../assets/img/personas/home/figure-one.svg

            when 'figure-two'
                include ../../../../../assets/img/personas/home/figure-two.svg