mixin iconSVG(icon)
    .e-icon
        case icon
            when 'icon-planes'
                include ../../../../../assets/img/personas/home/icon-planes.svg

            when 'icon-migra'
                include ../../../../../assets/img/personas/home/icon-migra.svg

            when 'icon-internet'
                include ../../../../../assets/img/personas/home/icon-internet.svg

            when 'icon-bolsa'
                include ../../../../../assets/img/personas/home/icon-bolsa.svg

            when 'icon-prepago'
                include ../../../../../assets/img/personas/home/icon-prepago.svg

            when 'icon-prepago-fresh'
                include ../../../../../assets/img/personas/home/icon-prepago-fresh.svg

            when 'icon-beneficios-prepago'
                include ../../../../../assets/img/personas/home/icon-beneficios-prepago.svg

            when 'icon-recargas'
                include ../../../../../assets/img/personas/home/icon-recargas.svg

            when 'icon-internet-fijo'
                include ../../../../../assets/img/personas/home/icon-internet-fijo.svg

            when 'icon-duo-hogar'
                include ../../../../../assets/img/personas/home/icon-duo-hogar.svg

            when 'icon-telefonia'
                include ../../../../../assets/img/personas/home/icon-telefonia.svg

            when 'icon-tips-hogar'
                include ../../../../../assets/img/personas/home/icon-tips-hogar.svg

            when 'icon-gift'
                include ../../../../../assets/img/personas/home/icon-gift.svg
            when 'icono-web-privada'
                include ../../../../../assets/img/personas/home/2022/03/icono-web-privada.svg
            when 'logo-app-web-privada'
                include ../../../../../assets/img/personas/home/2022/03/logo-app-web-privada.svg
            when 'icono-celeste-web-privada-desk'
                include ../../../../../assets/img/personas/home/2022/03/icono-celeste-web-privada-desk.svg
            when 'banner-app-entel-logo'
                include ../../../../../assets/img/personas/home/2022/03/banner-app-entel-logo.svg
            when 'equipo-app-banner-titular'
                include ../../../../../assets/img/personas/home/2022/06/titular-svg.svg
            when 'equipo-app-banner-heart-blue'
                include ../../../../../assets/img/personas/home/2022/06/heart-blue.svg

        if (block)
            block