mixin iconAppSVG(icon)
    .e-icon
        case icon
            when 'icon-facebook'
                include ../../../../../assets/img/personas/home/icon-facebook.svg

            when 'icon-whatsapp'
                include ../../../../../assets/img/personas/home/icon-whatsapp.svg

            when 'icon-messenger'
                include ../../../../../assets/img/personas/home/icon-messenger.svg

            when 'icon-instagram'
                include ../../../../../assets/img/personas/home/icon-instagram.svg

            when 'icon-waze'
                include ../../../../../assets/img/personas/home/icon-waze.svg

            when 'icon-sms'
                include ../../../../../assets/img/personas/home/icon-sms.svg

            when 'icon-tick-tock'
                include ../../../../../assets/img/personas/home/icon-tick-tock.svg

            when 'icon-signal'
                include ../../../../../assets/img/personas/home/icon-signal.svg

            when 'icon-telegram'
                include ../../../../../assets/img/personas/home/icon-telegram.svg

        if (block)
            block