mixin iconAccessSVG(icon)

    case icon
        when 'icon-access-equipo'
            include ../../../../../assets/img/personas/home/icon-access-equipo.svg
        when 'icon-access-equipo-gray'
            include ../../../../../assets/img/personas/home/icon-access-equipo-gray.svg
        when 'icon-access-dream-equipo'
            include ../../../../../assets/img/personas/home/icon-access-dream-equipo.svg
        when 'icon-access-dream-equipo-gray'
            include ../../../../../assets/img/personas/home/icon-access-dream-equipo-gray.svg
        when 'icon-access-catalogo'
            include ../../../../../assets/img/personas/home/icon-access-catalogo.svg
        when 'icon-access-catalogo-gray'
            include ../../../../../assets/img/personas/home/icon-access-catalogo-gray.svg
        when 'icon-access-migra'
            include ../../../../../assets/img/personas/home/icon-access-migra.svg
        when 'icon-access-migra-gray'
            include ../../../../../assets/img/personas/home/icon-access-migra-gray.svg
        when 'icon-access-elibres'
            include ../../../../../assets/img/personas/home/icon-access-elibres.svg
        when 'icon-access-elibres-gray'
            include ../../../../../assets/img/personas/home/icon-access-elibres-gray.svg
        when 'icon-access-renueva'
            include ../../../../../assets/img/personas/home/icon-access-renueva.svg
        when 'icon-access-renueva-gray'
            include ../../../../../assets/img/personas/home/icon-access-renueva-gray.svg
        when 'icon-access-buy-chip'
            include ../../../../../assets/img/personas/home/icon-access-buy-chip.svg
        when 'icon-access-buy-chip-gray'
            include ../../../../../assets/img/personas/home/icon-access-buy-chip-gray.svg
        when 'icon-access-postpago'
            include ../../../../../assets/img/personas/home/icon-access-postpago.svg
        when 'icon-access-postpago-gray'
            include ../../../../../assets/img/personas/home/icon-access-postpago-gray.svg
        when 'icon-access-prepago'
            include ../../../../../assets/img/personas/home/icon-access-prepago.svg
        when 'icon-access-prepago-gray'
            include ../../../../../assets/img/personas/home/icon-access-prepago-gray.svg
        when 'icon-access-recibo'
            include ../../../../../assets/img/personas/home/icon-access-recibo.svg
        when 'icon-access-recibo-gray'
            include ../../../../../assets/img/personas/home/icon-access-recibo-gray.svg
        when 'icon-access-recargar'
            include ../../../../../assets/img/personas/home/icon-access-recargar.svg
        when 'icon-access-recargar-gray'
            include ../../../../../assets/img/personas/home/icon-access-recargar-gray.svg
        when 'icon-access-hogar'
            include ../../../../../assets/img/personas/home/icon-access-hogar.svg
        when 'icon-access-hogar-gray'
            include ../../../../../assets/img/personas/home/icon-access-hogar-gray.svg
        when 'icon-access-ayuda'
            include ../../../../../assets/img/personas/home/icon-access-ayuda.svg
        when 'icon-access-ayuda-gray'
            include ../../../../../assets/img/personas/home/icon-access-ayuda-gray.svg
        when 'icon-access-mundoapple'
            include ../../../../../assets/img/personas/home/icon-access-mundoapple.svg
        when 'icon-access-mundoapple-gray'
            include ../../../../../assets/img/personas/home/icon-access-mundoapple-gray.svg
        when 'icon-access-recompra'
            include ../../../../../assets/img/personas/home/icon-access-recompra.svg
        when 'icon-access-recompra-gray'
            include ../../../../../assets/img/personas/home/icon-access-recompra-gray.svg
        when 'icon-access-migra-equipo'
            include ../../../../../assets/img/personas/home/icon-access-migra-equipo.svg
        when 'icon-access-migra-equipo-gray'
            include ../../../../../assets/img/personas/home/icon-access-migra-equipo-gray.svg
        when 'icon-access-accesories'
            include ../../../../../assets/img/personas/home/icon-access-accesories.svg
        when 'icon-access-accesories-gray'
            include ../../../../../assets/img/personas/home/icon-access-accesories-gray.svg
        when 'icon-access-accesories-v2'
            include ../../../../../assets/img/personas/home/icon-access-accesories-v2.svg
        when 'icon-access-accesories-v2-gray'
            include ../../../../../assets/img/personas/home/icon-access-accesories-v2-gray.svg
        when 'icon-access-roaming-v2'
            include ../../../../../assets/img/personas/home/icon-access-roaming-v2.svg
        when 'icon-access-roaming-v2-gray'
            include ../../../../../assets/img/personas/home/icon-access-roaming-v2-gray.svg
        when 'icon-access-chip-autoactivable'
            include ../../../../../assets/img/personas/home/icon-access-chip-autoactivable.svg
        when 'icon-access-chip-autoactivable-gray'
            include ../../../../../assets/img/personas/home/icon-access-chip-autoactivable-gray.svg
        when 'icon-access-lineas-adicionales'
            include ../../../../../assets/img/personas/home/icon-access-lineas-adicionales.svg
        when 'icon-access-lineas-adicionales-gray'
            include ../../../../../assets/img/personas/home/icon-access-lineas-adicionales-gray.svg
        when 'modal-equipos-chip-gray'
            include ../../../../../assets/img/personas/home/modal-equipos-chip-gray.svg
        when 'modal-equipos-chip'
            include ../../../../../assets/img/personas/home/modal-equipos-chip.svg
        when 'icon-access-entel-play'
            include ../../../../../assets/img/personas/home/icon-access-entel-play.svg
        when 'icon-access-entel-play-gray'
            include ../../../../../assets/img/personas/home/icon-access-entel-play-gray.svg


        //- start icons test A/B
        when 'icon-access-moviles-peru'
            include ../../../../../assets/img/personas/home/icon-access-moviles-peru.svg
        when 'icon-access-accesorios-peru'
            include ../../../../../assets/img/personas/home/icon-access-accesorios-peru.svg
        when 'icon-access-hogar-peru'
            include ../../../../../assets/img/personas/home/icon-access-hogar-peru.svg
        when 'icon-access-recibo-peru'
            include ../../../../../assets/img/personas/home/icon-access-recibo-peru.svg
        when 'icon-access-entelplay-peru'
            include ../../../../../assets/img/personas/home/icon-access-entelplay-peru.svg
        when 'icon-access-cobertura-peru'
            include ../../../../../assets/img/personas/home/icon-access-cobertura-peru.svg
        when 'icon-access-migra-peru'
            include ../../../../../assets/img/personas/home/icon-access-migra-peru.svg
        when 'icon-access-linea-adicional-peru'
            include ../../../../../assets/img/personas/home/icon-access-linea-adicional-peru.svg
        when 'icon-access-renueva-peru'
            include ../../../../../assets/img/personas/home/icon-access-renueva-peru.svg
        when 'icon-access-equipos-liberados-peru'
            include ../../../../../assets/img/personas/home/icon-access-equipos-liberados-peru.svg



        when 'icon-access-moviles-peru-off'
            include ../../../../../assets/img/personas/home/icon-access-moviles-peru-off.svg
        when 'icon-access-accesorios-peru-off'
            include ../../../../../assets/img/personas/home/icon-access-accesorios-peru-off.svg
        when 'icon-access-hogar-peru-off'
            include ../../../../../assets/img/personas/home/icon-access-hogar-peru-off.svg
        when 'icon-access-recibo-peru-off'
            include ../../../../../assets/img/personas/home/icon-access-recibo-peru-off.svg
        when 'icon-access-entelplay-peru-off'
            include ../../../../../assets/img/personas/home/icon-access-entelplay-peru-off.svg
        when 'icon-access-cobertura-peru-off'
            include ../../../../../assets/img/personas/home/icon-access-cobertura-peru-off.svg
        when 'icon-access-migra-peru-off'
            include ../../../../../assets/img/personas/home/icon-access-migra-peru-off.svg
        when 'icon-access-linea-adicional-peru-off'
            include ../../../../../assets/img/personas/home/icon-access-linea-adicional-peru-off.svg
        when 'icon-access-renueva-peru-off'
            include ../../../../../assets/img/personas/home/icon-access-renueva-peru-off.svg
        when 'icon-access-equipos-liberados-peru-off'
            include ../../../../../assets/img/personas/home/icon-access-equipos-liberados-peru-off.svg




        when 'icon-access-moviles-chile-off'
            include ../../../../../assets/img/personas/home/icon-access-moviles-chile-off.svg
        when 'icon-access-accesorios-chile-off'
            include ../../../../../assets/img/personas/home/icon-access-accesorios-chile-off.svg
        when 'icon-access-hogar-chile-off'
            include ../../../../../assets/img/personas/home/icon-access-hogar-chile-off.svg
        when 'icon-access-recibo-chile-off'
            include ../../../../../assets/img/personas/home/icon-access-recibo-chile-off.svg
        when 'icon-access-entelplay-chile-off'
            include ../../../../../assets/img/personas/home/icon-access-entelplay-chile-off.svg
        when 'icon-access-migra-chile-off'
            include ../../../../../assets/img/personas/home/icon-access-migra-chile-off.svg
        when 'icon-access-linea-adicional-chile-off'
            include ../../../../../assets/img/personas/home/icon-access-linea-adicional-chile-off.svg
        when 'icon-access-renueva-chile-off'
            include ../../../../../assets/img/personas/home/icon-access-renueva-chile-off.svg
        when 'icon-access-equipos-liberados-chile-off'
            include ../../../../../assets/img/personas/home/icon-access-equipos-liberados-chile-off.svg


        when 'icon-access-moviles-chile'
            include ../../../../../assets/img/personas/home/icon-access-moviles-chile.svg
        when 'icon-access-accesorios-chile'
            include ../../../../../assets/img/personas/home/icon-access-accesorios-chile.svg
        when 'icon-access-hogar-chile'
            include ../../../../../assets/img/personas/home/icon-access-hogar-chile.svg
        when 'icon-access-recibo-chile'
            include ../../../../../assets/img/personas/home/icon-access-recibo-chile.svg
        when 'icon-access-entelplay-chile'
            include ../../../../../assets/img/personas/home/icon-access-entelplay-chile.svg
        when 'icon-access-migra-chile'
            include ../../../../../assets/img/personas/home/icon-access-migra-chile.svg
        when 'icon-access-linea-adicional-chile'
            include ../../../../../assets/img/personas/home/icon-access-linea-adicional-chile.svg
        when 'icon-access-renueva-chile'
            include ../../../../../assets/img/personas/home/icon-access-renueva-chile.svg
        when 'icon-access-equipos-liberados-chile'
            include ../../../../../assets/img/personas/home/icon-access-equipos-liberados-chile.svg
        //- End icons test A/B
    if (block)
        block