mixin mx_picture_retina(myclass, imgurl, exten, altt)
    picture
        source(srcset=imgurl+'-desk.'+exten+' 1x, '+imgurl+'-desk@2x.'+exten+' 2x' media='(min-width: 768px)')
        img(class=myclass src=imgurl+'-mob.'+exten srcset=imgurl+'-mob.'+exten+' 1x, '+imgurl+'-mob@2x.'+exten+' 2x' alt=altt title=altt)
mixin mx_picture_retina_media(myclass, imgurl, exten, altt,mediaa)
    picture
        source(srcset=imgurl+'-desk.'+exten+' 1x, '+imgurl+'-desk@2x.'+exten+' 2x' media='(min-width: '+mediaa+')')
        img(class=myclass src=imgurl+'-mob.'+exten srcset=imgurl+'-mob.'+exten+' 1x, '+imgurl+'-mob@2x.'+exten+' 2x' alt=altt title=altt)

mixin mx_picture_retina_all(myclass, imgurl, exten, altt)
    picture
        source(srcset=imgurl+'-desk.'+exten+' 1x, '+imgurl+'-desk@2x.'+exten+' 2x' media='(min-width: 1024px)')
        source(srcset=imgurl+'-tab.'+exten+' 1x, '+imgurl+'-tab@2x.'+exten+' 2x' media='(min-width: 768px)')
        img(class=myclass src=imgurl+'-mob.'+exten srcset=imgurl+'-mob.'+exten+' 1x, '+imgurl+'-mob@2x.'+exten+' 2x' alt=altt title=altt)

mixin mx_picture_retina_extra(myclass, imgurl, exten, altt)
    picture
        source(srcset=imgurl+'-big.'+exten media='(min-width: 1280px)')
        source(srcset=imgurl+'-desk.'+exten+' 1x, '+imgurl+'-desk@2x.'+exten+' 2x' media='(min-width: 1024px)')
        source(srcset=imgurl+'-tab.'+exten+' 1x, '+imgurl+'-tab@2x.'+exten+' 2x' media='(min-width: 768px)')
        img(class=myclass src=imgurl+'-mob.'+exten srcset=imgurl+'-mob.'+exten+' 1x, '+imgurl+'-mob@2x.'+exten+' 2x' alt=altt title=altt)