mixin tabs(tabs)
    div(class="e-tabs")&attributes(attributes)
        nav
            ul
                each item, index in tabs
                    -
                        active = (index === 0) ? 'js--active' : ''

                    li.menu-item-has-children
                        a(href=`#${item.id}` class=active + ' ' + item.class)
                            span !{item.name}

        .e-tabs__content
            block
mixin tabs2(tabs)
    div(class="e-tabs")&attributes(attributes)
        nav
            ul
                each item, index in tabs
                    -
                        active = (index === 0) ? 'js--active' : ''

                    li
                        a(href=`#${item.id}` class=active + ' ' + item.class)
                            span !{item.name}

        .e-tabs__content
            block