&--iphone-14 {
  background-color: #000000;

  @include responsive-width($tablet_m) {
  }
  .e-container-flex {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include responsive-width($tablet_m) {
      flex-direction: row;
    }
  }
  .e-container-flex__item {
    width: auto;
    @include responsive-width($tablet_m) {
      width: 50% !important;
    }
  }
  .e-container-flex__item_logo-iphone-14 {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    @include responsive-width($tablet_m) {
      margin: 1.5rem auto;
      justify-content: start;
    }
  }
  .e-container-flex__item_title-iphone-14 {
    h2 {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      b {
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        @include responsive-width($tablet_m) {
          font-size: 34px;
          line-height: 41px;
        }
        @include responsive-width($laptop_s) {
          font-size: 50px;
          line-height: 60px;
        }
      }
      @include responsive-width($tablet_m) {
        font-size: 24px;
        text-align: left;
      }
      @include responsive-width($laptop_s) {
        font-size: 40px;
        line-height: 48px;
      }
    }
  }
  .e-button {
    min-width: 250px !important;
    height: 40px;
    @include responsive-width($tablet_m) {
      min-width: 273px !important;
      height: 52px;
    }
    span {
      font-weight: 700;
      font-size: 14px;
    }
  }
  small.tyc{
    color: #ffffff;
    display: block;
    text-align: center;
    @include responsive-width($tablet_m){
      text-align: left;
      margin-top: 1rem;
      margin-left: 5px;
    }
  }
  .e-container-flex__item--2 {
    @include responsive-width($tablet_m) {
      align-self: end;
    }
  }
}
