&--campania-equipo {
  background-color: #004fb9;
  .e-container-flex {
    justify-content: space-between;
    display: inherit;
    // @include responsive-width($laptop_s){
    //   display: flex;
    // }
  }
  .e-container-flex__item {
    width: 50% !important;
  }
  .e-container-flex__item--2 {
    align-self: flex-end;
    margin-bottom: 1rem;
    position: relative;
    width: 73% !important;
    right: 0;
    bottom: 10px;
    top: -100px;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 0;
    @include responsive-width($tablet_m){
      top: -200px;
    }
    @include responsive-width($laptop_s){
      top: -300px;
    }
    img,picture {
      margin-right: 0;
      margin-left: auto;
    }
  }
  h2,
  p,
  small {
    color: #ffffff;
  }
  h2 {
    font-size: 21px;
    font-weight: 500;
    width: 200px;
    margin-top: 1rem;
    @include responsive-width($tablet_m) {
      font-size: 53px;
      width: 400px;
    }
    @include responsive-width($laptop_s) {
      font-size: 63px;
      width: 600px;
    }
    b {
      font-weight: 700;
    }
    img,
    picture {
      display: inline-block;
    }
  }
  small {
    display: none;
    @include responsive-width($laptop_s) {
      display: block;
      font-weight: 400;
      font-size: 10px;
      margin-top: 1rem;
      max-width: 50%;
    }
  }
  p {
    font-weight: 400;
    font-size: 13px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include responsive-width($tablet_m) {
      font-size: 20px;
    }
    @include responsive-width($laptop_s) {
      font-size: 24px;
    }
  }
  a.e-tc--orange {
    text-decoration-line: underline;
    font-weight: 600;
  }
}
