.m-accordion {
    margin-left: auto;
    margin-right: auto;

    &__toggle {
        background-color: $white;
        position: relative;
        padding: 12px 20px;
        border: 1px solid darken($white, 13.5%);
        border-radius: 8px;
        margin-bottom: 10px;
        margin-top: 10px;
        cursor: pointer;
        text-align: left;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;

        @include responsive-width($tablet-m) {
            padding-bottom: 16px;
            padding-top: 16px;
        }

        &:after {
            content: '';
            position: absolute;
            right: 20px;
            top: 0;
            height: 100%;
            width: 25px;
            background-image: m_image_common_url("2020/08/select_arrow.png");
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 22px auto;
            transition-property: all;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
            @include backgound_retina{
                background-image: m_image_common_url("2020/08/select_arrow@2x.png");
            }
        }

        &__title {
            padding-right: 30px;
            color: $dark_blue;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0;
            transition-property: all;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;

            @include responsive-width($tablet-m) {
                font-size: 18px;
            }
        }
    }

    &__content{
        display: none;
        background-color: $white;
        border: 1px solid darken($white, 13.5%);
        padding: 20px 25px;
        border-radius: 8px;
        @include responsive-width($tablet-m) {
            padding: 30px;
        }
    }

    &__box {
        &.js--active {
            .m-accordion__toggle {
                &:after{
                    transform: scale(1,-1);
                }
            }
        }
    }

    &--empresas{
        max-width: 850px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }

    &--gray{
        $accordion_toggle: add-class-modifier("__toggle");
        $accordion_content: add-class-modifier("__content");
        $accordion_box: add-class-modifier("__box");

        #{$accordion_toggle} {
            margin-top: 0;
            margin-bottom: 0;
            border-radius: 0;
            border-width: 0;
        }
        
        #{$accordion_content} {
            background-color: darken($white,4.5%);
            border-width: 0;
            border-top: 1px solid darken($white, 13.5%);
            padding: 16px 20px;
            border-radius: 0;
            .e-content-editor{
                color: $dark_blue;
            }
        }
        
        #{$accordion_box} {
            border-radius: 8px;
            margin-bottom: 20px;
            overflow: hidden;
            border: 1px solid darken($white, 13.5%);
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    &--people,&--persons{
        .m-accordion__toggle__title{
            color: $extra_light_black;
        }
        .e-content-editor{
            p,li{
                color: $blue;
            }
        }
    }

    @import "accordion_filter";
}