&--filter{
    $accordion_toggle : add-class-modifier("__toggle");
    $accordion_box : add-class-modifier("__box");
    $accordion_content : add-class-modifier("__content");

    #{$accordion_toggle}{
        padding: 0;
        margin: 0;
        border-width: 0;
        border-radius: 0;
        &:after{
            right: 0;
            top: 50%;
            transform: translateY(-50%) scale(1,-1);
            background-size: auto;     
            @include retina-sprite($empresas-filter-icon-group);
        }
        &__title{
            color: $dark_blue;
            font-size: 14px;
            font-weight: 700;
            padding-top: 20px;
            padding-bottom: 20px;
            text-transform: uppercase;
            border-top: 1px solid darken($white, 8%);
            padding-right: 15px;
        }
    }
    #{$accordion_content}{
        border-width: 0;
        padding: 0;
        p{
            margin-bottom: 5px;
        }
    }
    #{$accordion_box}{
        &.js--active {
            margin-bottom: 20px;
            #{$accordion_toggle}{
                &:after{
                    transform: translateY(-50%) scale(1,1);            
                }    
            }
        }
    }

    &__plans{
        display: none;
    }
} 