.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='' data-layer-name='' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__item__bicentenario_liberados
     
        .principalcontent
            .principalcontent-detail
            .principalcontent__textbanner 
                +mx_picture_retina_extra('title', img_path + '2022/07/banner-lib-bicentenario-tit', 'png', 'Encuentra tu equipo liberado en: entel.pe')

                .e-button-buy
                    a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=equipos-libres') LO QUIERO

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                +mx_picture_retina_extra('', img_path + '2022/07/banner-lib-ibk-prod', 'png', '') 

            //- .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=accesorios' target="_blank") Lo quiero

            small.e-legal-small.e-legal-small__mob *Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) AQUÍ!]]
            //- small.e-legal-small.e-legal-small__desk Válido hasta el 18/07/2021 en #[a(href="https://entel.pe") entel.pe]. Stock min: 10 unidades por modelo. Cobertura de delivery, condiciones y restricciones: #[a(href="https://catalogo.entel.pe" ) catalogo.entel.pe]