.entel__slider--home__item(data-entel-slide-index='6' data-entel-slide-time='8000' data-layer-id='' data-layer-name='' data-layer-position='Home - Banner Superior 6' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__item__bicentenario_hogar_form
        //- .detailcontent
        //-     img(src="https://www.entel.pe/wp-content/uploads/2021/07/mask_julio_hogar_prod_mob.png", alt="")
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina('title', img_path + '2021/07/banner-form-bicentenario-tit', 'png', '')
                
                form#banner-form-cyber-hogar
                    .form--content
                        .form--head
                            h3 Llámanos al 
                                strong 0800 - 09002
                        .form--body
                            p o déjanos tu número y te llamamos!
                            .form--number
                                input.validonlynumeric(type='tel' maxlength='9' placeholder=' ' name='form_lead_phone' autocomplete='on')
                                span 
                                    span Número de celular
                            .form--check
                                input#checktop(type='checkbox' value='1' name='form_lead_policy' checked='checked')
                                .input-mask-top
                                label(for='checkt')
                                    a(href='https://www.entel.pe/politica-de-proteccion-de-datos-personales/' target='_blank')
                                        | Declaro haber leído la 
                                        span política de privacidad
                            button#form-btn.form-btn(type='submit' data-origin='catalogo' data-gtm-action='form superior' data-gtm-category='catalogo' data-gtm-label='LLÁMENME') LLÁMENME
                            //- .form--callback
                                p Si ya eres cliente Entel haz clic #[a(href="https://www.entel.pe") aquí].
                        .form--loading
                            //- <picture>
                            //-     <source srcset="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" media="(min-width: 768px)">
                            //-     <img src="https://www.entel.pe/wp-content/uploads/2020/02/loading-c2c-fixd.png" title="loading">
                            <img src="https://www.entel.pe/wp-content/uploads/2019/08/enviando-c2c.png" title="loading">
                            //- </picture>
                            
                        .form--duplicate
                            p ¡Hola! Ya contamos con tu número. 
                            p Estate atento a nuestra pronta llamada.
                        .form--error
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" alt="Entel">
                            //- <img class="no-lazy" srcset="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" alt="Entel">
                            //- p ¡Gracias por registrarte! 
                            p Lo sentimos Ocurrió un error
                            p al procesar tus datos.
                        .form--thanks
                            //- <picture>
                            //-     <source srcset="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" media="(min-width: 768px)">
                            //-     <img src="https://www.entel.pe/wp-content/uploads/2020/06/entel-message-thanks-top@2x.png" title="Gracias">
                            //- </picture>
                            <img src="https://www.entel.pe/wp-content/uploads/2019/12/thanks-icon.png" title="Gracias">

                            p ¡Gracias por confiar 
                                span  en nosotros!

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                +mx_picture_retina_extra('', img_path + '2021/07/banner-form-bicentenario-hogar-prod', 'png', '') 

            //- .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago' target="_blank") Lo quiero

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago#terminos-y-condiciones" ) aquí!]]
            small.e-legal-small.e-legal-small__desk Válido hasta el 31/07 .Internet Fijo Inalámbrico, bajo cobertura 4G, sujeto a factibilidades técnicas y validación de cobertura en Arequipa, Chiclayo, Piura, Trujillo, Ica y Lima Metropolitana. Stock min 50. El descuento de los 6 meses es a partir de la instalación (equivale a S/59.40). No incluye prorrateo. No aplica a RUC 20. Velocidad mín. garantizada es del 40% de la contratada. No acumulable con otras promociones. Costos de instalación, condiciones de velocidad y restricciones: #[a(href="https://www.entel.pe/hogar/internet/planes/") www.entel.pe/hogar/internet/planes/]. Sorteo Bicentenario para clientes Entel que se registren del 05/07 al 04/08/2021. Serán 4 sorteos de 50 premios cada uno: 15/07; 22/07; 30/07; y 05/08 Stock: 200 premios (equipo Xiaomi Redmi Note 10 5G + plan). Máximo 1 premio por línea. Internet Ilimitado se entregará en el Plan Entel Chip 159.90 Plus para Postpago y en plan Empresa Power 159.50 para RUC 20. Descuentos por 12 meses comenzando desde agosto 2021, luego el plan será cobrado. Cobertura 5G y restricciones: #[a(href="https://www.entel.pe/sorteobicentenario") www.entel.pe/sorteobicentenario]