.entel__slider--home__item__content_jueves_entel {
  .principalcontent {
    width: 100% !important;
    max-width: 100% !important;
    position: relative;
    top: inherit;
    left: inherit;
    transform: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    @include responsive-width($tablet-m) {
        min-width: 700px !important;
    }
    @include responsive-width($laptop-s) {
      min-width: 1000px !important;
    }
    @include responsive-width($laptop-m) {
      min-width: 1100px !important;
      max-width: 1100px !important;
    }
    &__textbanner {
      width: 50%;
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      @include responsive-width($mobile_m) {
        width: 54%;
      }
      @include responsive-width(539px) {
        width: 70%;
      }
      @include responsive-width($tablet-m) {
        width: 55%;
      }
      //Navidad
      &.e-icons-navidad {
        &:before {
          content: m_image_url("2021/12/e-je-nieve-azul.png");
          position: absolute;
          left: -140px;
          animation:2s linear infinite rotate-con;
        }

        &:after {
          content: m_image_url("2021/12/e-je-nieve-azul-small.png");
          position: absolute;
          right: 100px;
          top: -60px;
          animation:2s linear infinite rotate-con;

          @include responsive-width($tablet-m) {
            right: 20px;
            top: -38px;
          }
        }
      }
    }
    &__textbanner-text {
      h2,
      p {
        color: #004fb9;
      }
      h2 {
        position: relative;
        font-weight: 800;
        font-size: 20px;
        line-height: 20px;
        text-align: left;
        font-weight: bold;
        max-width: 150px;
        @include responsive-width($tablet-m) {
          font-size: 40px;
          line-height: 40px;
          max-width: inherit;
        }
        @include responsive-width($laptop-s) {
          font-size: 50px;
          line-height: 50px;
        }
      }
      p {
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: left;
        max-width: 141px;
        @include responsive-width($tablet-m) {
          font-weight: normal;
          font-size: 14px;
          line-height: 30px;
          text-align: left;
          max-width: 380px;
        }
        @include responsive-width($laptop-s) {
          font-size: 16px;
          max-width: initial;
        }
      }
      .e-button-buy {
        position: relative;
        .btn-buy {
          height: 40px;
          padding: 0;
          line-height: 36px;
          width: 141px;
          margin-left: 0;
          margin-right: auto;
        }
  
        &.e-icons-navidad {
          &:before {
            content: m_image_url("2021/12/e-je-nieve-rosado.png");
            position: absolute;
            left: -100px;
            animation: 3s linear infinite rotate-con;
          }
  
          &:after {
            content: m_image_url("2021/12/e-je-nieve-rosado-small.png");
            position: absolute;
            right: -20px;
            animation: 2.5s linear infinite rotate-con;
  
            @include responsive-width($tablet-m) {
              right: -50px;
            }
          }
        }
      }
    }

    &__imgbanner {
      width: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0;
      @include responsive-width($mobile_m) {
        width: 46%;
        margin: 0;
      }
      @include responsive-width(539px) {
        width: 30%;
      }
      @include responsive-width($tablet-m) {
        width: 27%;
        padding-right: 160px;
        padding-top: 60px;
      }

      @include responsive-width($laptop_m) {
        width: 45%;
        padding-right: 0px;
        padding-top: 0px;
      }
      &::before {
        content: '';
        background-image: m_image_url("2022/01/e-je-sol-mob.png");
        width: 64px;
        height: 64px;
        position: absolute;
        top: -55px;
        left: -50px;
        animation: 5s linear infinite rotate-con;
        @include responsive-width($mobile_m) {
          top: -30px;
        }
        @include responsive-width($tablet-m) {
          background-image: m_image_url("2022/01/e-je-sol-desk.png");
          width: 84px;
          height: 84px;
          top: 5px;
          left: -18px;
        }
        @include responsive-width($tablet-l) {
          left: -100px;
        }
        @include responsive-width($laptop-s) {
          top: -5px;
          left: -118px;
        }
        @include responsive-width($laptop-m) {
          // top: -5px;
          left: 10px;
        }
      }
      &::after {
        @include responsive-width($laptop-s) {
          content: '';
          background-image: m_image_url("2022/01/e-je-emojis-desk.png");
          width: 84px;
          height: 84px;  
          position: absolute;
          bottom: 50px;
          right: 0;
          animation: 10s linear infinite rotate-con;
        }
      }
      img {
        max-width: 100%;
        min-width: 110px;
        display: inline-block;
        padding-left: 0;
        -webkit-animation: beat-mob 2.5s infinite;
        animation: beat-mob 2.5s infinite;
        @include responsive-width($mobile_m) {
          min-width: 181px;
        }
        @include responsive-width($tablet-m) {
          -webkit-animation: beat 1.5s infinite;
          animation: beat 1.5s infinite;
          min-width: 152px;
        }
        @include responsive-width($laptop_m) {
          -webkit-animation: beat 2.5s infinite;
          animation: beat 2.5s infinite;
          min-width: 292px;
        }
      }
    }

    // &:before {
    //   content: m_image_url("2022/01/e-banner-tag-je-mob-v2.png");
    //   position: absolute;
    //   top: 0;
    //   right: 0;

    //   @include responsive-width($tablet-m) {
    //     content: m_image_url("2022/01/e-banner-tag-je-desk.png");
    //     right: 0;
    //   }

    //   @include responsive-width($laptop_m) {
    //     right: -130px;

    //   }

    //   @include responsive-width($desktop_m) {
    //     right: -200px;
    //   }
    // }
  }
}
.entel__slider--home__item__content_jueves_entel {
  display: flex;
  background-color: #ffffff;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 60%;
    background-position: left bottom;
    @include responsive-width(538px){
      width: 58%;
    }
    @include responsive-width($tablet-m) {
      width: 55%;
      background-image: m_image_url("2021/11/slider-bg-je-nov-v2-desk.png");
      @include backgound_retina {
        background-image: m_image_url("2021/11/slider-bg-je-nov-v2-desk@2x.png");
      }
    }
    @include responsive-width($desktop_s){
      width: 50%;
    }
    
  }
  &.bg-lines-1 {
    &::before {
      background-image: m_image_url("2021/09/e-home-banner-jueves-entel-bg-sept-mob.png");
      @include backgound_retina {
        background-image: m_image_url("2021/09/e-home-banner-jueves-entel-bg-sept-mob@2x.png");
      }

      @include responsive-width($tablet-m) {
        background-image: m_image_url("2021/09/e-home-banner-jueves-entel-bg-sept-desk.png");
        @include backgound_retina {
          background-image: m_image_url("2021/09/e-home-banner-jueves-entel-bg-sept-desk@2x.png");
        }
      }
    }
  }
  &.bg-lines-2 {
    &::before {
      background-image: m_image_url("2022/01/slider-bg-je-nov-v2-mob.png");
      @include backgound_retina {
        background-image: m_image_url("2022/01/slider-bg-je-nov-v2-mob@2x.png");
      }

      @include responsive-width($tablet-m) {
        background-image: m_image_url("2022/01/slider-bg-je-nov-v2-desk.png");
        @include backgound_retina {
          background-image: m_image_url("2021/11/slider-bg-je-nov-v2-desk@2x.png");
        }
      }
    }
  }
  &.bg-lines-3 {
    &::before {
      background-image: m_image_url("2021/09/e-home-banner-jueves-entel-bg-sept-v5-mob.png");
      @include backgound_retina {
        background-image: m_image_url("2021/09/e-home-banner-jueves-entel-bg-sept-v5-mob@2x.png");
      }

      @include responsive-width($tablet-m) {
        background-image: m_image_url("2021/09/e-home-banner-jueves-entel-bg-sept-v5-desk.png");
        @include backgound_retina {
          background-image: m_image_url("2021/09/e-home-banner-jueves-entel-bg-sept-v5-desk@2x.png");
        }
      }
    }
  }
  &.bg-lines-4 {
    &::before {
      
      background-image: m_image_url("2021/11/slider-bg-je-24-11-21-mob.png");
      @include backgound_retina {
        background-image: m_image_url("2021/11/slider-bg-je-24-11-21-mob@2x.png");
      }

      @include responsive-width($tablet-m) {
        background-image: m_image_url("2021/11/slider-bg-je-24-11-21-desk.png");
        @include backgound_retina {
          background-image: m_image_url("2021/11/slider-bg-je-24-11-21-desk@2x.png");
        }
      }
    }
  }
  &.bg-lines-5 {
    &::before {
      
      background-image: m_image_url("2021/12/slider-bg-je-02-12-21-mob.png");
      @include backgound_retina {
        background-image: m_image_url("2021/12/slider-bg-je-02-12-21-mob@2x.png");
      }

      @include responsive-width($tablet-m) {
        background-image: m_image_url("2021/12/slider-bg-je-02-12-21-desk.png");
        @include backgound_retina {
          background-image: m_image_url("2021/12/slider-bg-je-02-12-21-desk@2x.png");
        }
      }
    }
  }
  &.bg-lines-6 {
    &::before {
      
      background-image: m_image_url("2021/12/slider-bg-je-16-12-21-mob.png");
      @include backgound_retina {
        background-image: m_image_url("2021/12/slider-bg-je-16-12-21-mob@2x.png");
      }
      @include responsive-width($tablet-m) {
        background-image: m_image_url("2021/12/slider-bg-je-16-12-21-desk.png");
        @include backgound_retina {
          background-image: m_image_url("2021/12/slider-bg-je-16-12-21-desk@2x.png");
        }
      }
    }
  }
  &.bg-lines-7 {
    &::before {
      
      background-image: m_image_url("2022/01/slider-bg-je-ondas-mob.png");
      @include backgound_retina {
        background-image: m_image_url("2022/01/slider-bg-je-ondas-mob@2x.png");
      }
      @include responsive-width($tablet-m) {
        background-image: m_image_url("2022/01/slider-bg-je-ondas-desk.png");
        @include backgound_retina {
          background-image: m_image_url("2022/01/slider-bg-je-ondas-desk@2x.png");
        }
      }
    }
  }
  &.bg-lines-navidad {
    &::before {
      
      background-image: m_image_url("2021/12/slider-bg-je-23-12-21-mob.png");
      @include backgound_retina {
        background-image: m_image_url("2021/12/slider-bg-je-23-12-21-mob@2x.png");
      }
      @include responsive-width($tablet-m) {
        background-image: m_image_url("2021/12/slider-bg-je-23-12-21-desk.png");
        @include backgound_retina {
          background-image: m_image_url("2021/12/slider-bg-je-23-12-21-desk@2x.png");
        }
      }
    }
  }
  &.confetti-new-year-slider {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 5%;
      background-size: cover;
      animation-name: parpadeo;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      -webkit-animation-name: parpadeo;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      background-color: transparent;
      width: 50%;
      background-position: left bottom;
      background-image: m_image_url("2021/12/confetti-slider-mob.png");
      @include backgound_retina {
        background-image: m_image_url("2021/12/confetti-slider-mob@2x.png");
      }
      @include responsive-width($tablet-m) {
        right: 0%;
        background-image: m_image_url("2021/12/confetti-slider-desk.png");
        @include backgound_retina {
          background-image: m_image_url("2021/12/confetti-slider-desk@2x.png");
        }
      }
    }
  }
}

@keyframes rotate-con {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
