.entel__slider--home__item__content_jueves_entel {
  .principalcontent {
    width: 100% !important;
    max-width: 100% !important;
    position: relative;
    top: inherit;
    left: inherit;
    transform: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    // &::after {
    //   content: "";
    //   // content:none;
    //   position: absolute;
    //   z-index: -1;
    //   right: 0;
    //   top: 0;
    //   width: 121px;
    //   height: 56px;
    //   background-size: cover;
    //   background-repeat: no-repeat;
    //   //dia de la madre
    //   // background-image: m_image_url('2022/05/tag-j-m-mob-v2.png');
    //   background-image: m_image_url('2022/05/tag-aniversario-m-mob.png');

    //   @include backgound_retina {
    //     //dia de la madre
    //    // background-image: m_image_url('2022/05/tag-j-m-mob-v2@2x.png');
    //    background-image: m_image_url('2022/05/tag-aniversario-m-mob@2x.png');
    //   }

    //   @include responsive-width($laptop_m) {
    //     left: 90%;
    //   }

    //   @include responsive-width($laptop_s) {
    //     width: 243px;
    //     height: 127px;
    //     //dia de la madre
    //     //background-image: m_image_url('2022/05/tag-j-m-desk-v2.png');
    //     background-image: m_image_url('2022/05/tag-aniversario-m-desk.png');

    //     @include backgound_retina {
    //       //dia de la madre
    //       //background-image: m_image_url('2022/05/tag-j-m-desk-v2@2x.png');
    //       background-image: m_image_url('2022/05/tag-aniversario-m-desk@2x.png');
    //     }
    //   }
    // }

    @include responsive-width($tablet-m) {
      min-width: 700px !important;
    }

    @include responsive-width($laptop-s) {
      min-width: 1000px !important;
    }

    @include responsive-width($laptop-m) {
      min-width: 1100px !important;
      max-width: 1100px !important;
    }

    &__textbanner {
      width: 50%;
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;

      //Navidad
      &.e-icons-navidad {
        &:before {
          content: m_image_url("2021/12/e-je-nieve-azul.png");
          position: absolute;
          left: -140px;
          animation: 2s linear infinite rotate-con;
        }

        &:after {
          content: m_image_url("2021/12/e-je-nieve-azul-small.png");
          position: absolute;
          right: 100px;
          top: -60px;
          animation: 2s linear infinite rotate-con;

          @include responsive-width($tablet-m) {
            right: 20px;
            top: -38px;
          }
        }
      }
    }

    &__textbanner-text {

      h2,
      p {
        color: #004fb9;
      }

      h2 {
        position: relative;
        font-weight: 800;
        font-size: 20px;
        line-height: 20px;
        text-align: left;
        font-weight: bold;
        max-width: 150px;

        @include responsive-width($tablet-m) {
          font-size: 40px;
          line-height: 40px;
          max-width: inherit;
        }

        @include responsive-width($laptop-s) {
          font-size: 50px;
          line-height: 50px;
        }
      }

      p {
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: left;
        max-width: 141px;

        @include responsive-width($tablet-m) {
          font-weight: normal;
          font-size: 14px;
          line-height: 30px;
          text-align: left;
          max-width: 380px;
        }

        @include responsive-width($laptop-s) {
          font-size: 16px;
          max-width: initial;
        }
      }

      .e-button-buy {
        position: relative;

        .btn-buy {
          height: 40px;
          padding: 0;
          line-height: 36px;
          width: 141px;
          margin-left: 0;
          margin-right: auto;
        }

        &.e-icons-navidad {
          &:before {
            content: m_image_url("2021/12/e-je-nieve-rosado.png");
            position: absolute;
            left: -100px;
            animation: 3s linear infinite rotate-con;
          }

          &:after {
            content: m_image_url("2021/12/e-je-nieve-rosado-small.png");
            position: absolute;
            right: -20px;
            animation: 2.5s linear infinite rotate-con;

            @include responsive-width($tablet-m) {
              right: -50px;
            }
          }
        }
      }
    }

    &__imgbanner {
      width: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0;

      @include responsive-width($mobile_m) {
        width: 56%;
        margin: 0;
      }

      @include responsive-width($laptop_s) {
        width: 50%;
        justify-content: left;
        padding-left: 70px;
      }

      @include responsive-width($desktop_s) {
        justify-content: center;
        padding-left: 0;
      }

      .i-banner{
        position: absolute;
        picture,img{
          width: auto;
          display: inline-block;
          min-width: auto;
        }

        // &-1{
        //   width: 62px;
        //   left: -15px;
        //   top: -35px;
        //   @include responsive-width($tablet_s){
        //     width: 100px;
        //     top: 0px;
        //     left: -10px;
        //   }
        //   @include responsive-width($tablet_m){
        //     width: 77px !important;
        //     left: 40px !important;
        //   }
        //   @include responsive-width($desktop_s){
        //     width: 77px;
        //   }
        // }
        // &-2{
        //   display: none;
        //   @include responsive-width($tablet_m){
        //     display: block;
        //     width: 63px !important;
        //     left: 50px !important;
        //     bottom: 110px;
        //     top: inherit !important;
        //   }
        //   @include responsive-width($laptop_s){
        //     left: 60px !important; 
        //   }
        //   @include responsive-width($desktop_s){
        //     left: 60px !important;
        //     // bottom: 10px;
        //     width: 63px;
        //   }
        // }
        // &-3{
        //   display: none;
        //   @include responsive-width($tablet_m){
        //     display: block;
        //     width: 75px !important;
        //     left: 50% !important;
        //     // top: 23px;
        //     bottom: 65px !important;
        //     margin-left: 126px !important;
        //   }
        //   @include responsive-width($laptop_m){
        //     margin-left: 155px !important;
        //   }
        //   @include responsive-width($desktop_s){
        //     margin-left: 155px;
        //   }
        // }
        // &-4{
        //   display: none;
        //   width: 44px;
        //   left: inherit;
        //   right: 0;
        //   bottom: 0;
        //   top: inherit;
        //   @include responsive-width($tablet_m){
        //     display: block;
        //     width: 100px !important;
        //     max-width: 100px !important;
        //     bottom: 195px !important;
        //     left: 50%;
        //     margin-left: 130px;
        //     right: inherit;
        //   }
        //   @include responsive-width($tablet_m){
        //     margin-left: 120px;
        //   }
        //   @include responsive-width($desktop_s){
        //     margin-left: 140px;
        //     width: 100px;
        //   }
        // }
      }

      img {
        max-width: 100%;
        min-width: 110px;
        display: inline-block;
        padding-left: 0;
        -webkit-animation: beat-mob 2.5s infinite;
        animation: beat-mob 2.5s infinite;

        @include responsive-width($mobile_m) {
          min-width: 181px;
        }

        @include responsive-width($tablet-m) {
          -webkit-animation: beat 1.5s infinite;
          animation: beat 1.5s infinite;
          min-width: 152px;
          max-width: 80%;
        }

        @include responsive-width($laptop_m) {
          -webkit-animation: beat 2.5s infinite;
          animation: beat 2.5s infinite;
          min-width: 292px;
          max-width: 100%;
        }
      }
    }

    &:before {
      content: none !important;
      // content: m_image_url("2022/01/e-banner-tag-je-mob-v2.png");
      position: absolute;
      top: 0;
      right: 0;

      @include responsive-width(1125px) {
        content: m_image_url("2022/01/e-banner-tag-je-desk.png");
        right: 0;
      }

      @include responsive-width($laptop_m) {
        right: -87px;

      }

      @include responsive-width($desktop_m) {
        right: -200px;
      }
    }
  }
}

.heart {

  &::after,
  &::before {
    content: "";
    position: absolute;

  }

  &::before {
    background-repeat: no-repeat;
    background-image: m_image_url('2022/05/corazon-1-mob.png');
    width: 57px;
    height: 56px;
    -webkit-animation: heart-rotate 6s infinite;
    animation: heart-rotate 6s infinite;
    top: 0;
    left: -1vw;


    @include responsive-width($laptop_s) {
      background-image: m_image_url('2022/05/corazon-1-desk.png'), m_image_url('2022/05/corazon-2-desk.png'), m_image_url('2022/05/corazon-3-desk.png');
      background-position: 15% 0px, 0 100px, 15% 250px;
      width: 300px;
      height: 100%;
      -webkit-animation: parpadeo 1s infinite linear;
      animation: parpadeo 1s infinite linear;
      left: -10%;
    }

    @include responsive-width($desktop_s) {
      left: 0 !important;
    }
  }

  &::after {
    background-repeat: no-repeat;
    background-image: m_image_url('2022/05/corazon-2-mob.png');
    width: 50px;
    height: 49px;
    -webkit-animation: heart-rotate 6s infinite;
    animation: heart-rotate 6s infinite;
    bottom: 0px;
    left: 13vw;

    @include responsive-width($laptop_m) {
      left: 66% !important;
    }

    @include responsive-width($laptop_s) {
      background-image: m_image_url('2022/05/corazon-4-desk.png'), m_image_url('2022/05/corazon-5-desk.png'), m_image_url('2022/05/corazon-6-desk.png');
      background-position: 0% 0px, 10% 120px, 60% 160px;
      width: 300px;
      height: 100%;
      -webkit-animation: parpadeo 1s infinite linear;
      animation: parpadeo 1s infinite linear;
      right: 0;
      left: inherit;
    }
  }
}

.entel__slider--home__item__content_jueves_entel {
  display: flex;
  background-color: #ffffff;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 60%;
    background-position: left bottom;

    @include responsive-width(538px) {
      width: 58%;
    }

    @include responsive-width($tablet-m) {
      width: 55%;
      background-image: m_image_url("2021/11/slider-bg-je-nov-v2-desk.png");

      @include backgound_retina {
        background-image: m_image_url("2021/11/slider-bg-je-nov-v2-desk@2x.png");
      }
    }

    @include responsive-width($desktop_s) {
      width: 50%;
    }

  }

  &.pica-pica {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      animation-name: parpadeo_JE;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      -webkit-animation-name: parpadeo_JE;
      -webkit-animation-duration: 2s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;


      background-size: cover;
      background-repeat: no-repeat;
      background-color: transparent;
      width: 52%;
      background-position: top center;
      background-image: m_image_url("2022/12/e-home-banner-jueves-entel-bg-pica-pica-gold-mob.png");

      @include backgound_retina {
        background-image: m_image_url("2022/12/e-home-banner-jueves-entel-bg-pica-pica-gold-mob@2x.png");
      }

      @include responsive-width($tablet-m) {
        width: 50%;
        background-image: m_image_url("2022/12/e-home-banner-jueves-entel-bg-pica-pica-gold-desk.png");
        background-position: top left;
      }

      @include responsive-width($desktop_s) {
        // width: 54%;
        height: 113%;
      }
    }
  }

  &.bg-lines-1 {
    &::before {
      background-image: m_image_url("2022/03/e-home-banner-jueves-entel-bg-sept-mob.png");

      @include backgound_retina {
        background-image: m_image_url("2022/03/e-home-banner-jueves-entel-bg-sept-mob@2x.png");
      }

      @include responsive-width($tablet-m) {
        background-image: m_image_url("2021/09/e-home-banner-jueves-entel-bg-sept-desk.png");

        @include backgound_retina {
          background-image: m_image_url("2021/09/e-home-banner-jueves-entel-bg-sept-desk@2x.png");
        }
      }
    }
  }

  &.bg-lines-2 {
    &::before {
      background-image: m_image_url("2022/01/slider-bg-je-nov-v2-mob.png");

      @include backgound_retina {
        background-image: m_image_url("2022/01/slider-bg-je-nov-v2-mob@2x.png");
      }

      @include responsive-width($tablet-m) {
        background-image: m_image_url("2022/01/slider-bg-je-nov-v2-desk.png");

        @include backgound_retina {
          background-image: m_image_url("2021/11/slider-bg-je-nov-v2-desk@2x.png");
        }
      }
    }
  }

  &.bg-lines-3 {
    &::before {
      background-image: m_image_url("2021/09/e-home-banner-jueves-entel-bg-sept-v5-mob.png");

      @include backgound_retina {
        background-image: m_image_url("2021/09/e-home-banner-jueves-entel-bg-sept-v5-mob@2x.png");
      }

      @include responsive-width($tablet-m) {
        background-image: m_image_url("2021/09/e-home-banner-jueves-entel-bg-sept-v5-desk.png");

        @include backgound_retina {
          background-image: m_image_url("2021/09/e-home-banner-jueves-entel-bg-sept-v5-desk@2x.png");
        }
      }
    }
  }

  &.bg-lines-4 {
    &::before {

      background-image: m_image_url("2022/02/slider-bg-je-24-11-21-mob.png");

      @include backgound_retina {
        background-image: m_image_url("2022/02/slider-bg-je-24-11-21-mob@2x.png");
      }

      @include responsive-width($tablet-m) {
        background-image: m_image_url("2022/02/slider-bg-je-24-11-21-desk.png");

        @include backgound_retina {
          background-image: m_image_url("2022/02/slider-bg-je-24-11-21-desk@2x.png");
        }
      }
    }
  }

  &.bg-lines-4-verano {
    &::before {

      background-image: m_image_url("2023/02/slider-bg-je-verano23_type3-mob.png");

      @include backgound_retina {
        background-image: m_image_url("2023/02/slider-bg-je-verano23_type3-mob@2x.png");
      }

      @include responsive-width($tablet-m) {
        background-image: m_image_url("2023/02/slider-bg-je-verano23_type3-desk.png");

        @include backgound_retina {
          background-image: m_image_url("2023/02/slider-bg-je-verano23_type3-desk@2x.png");
        }
      }
    }
  }

  &.bg-lines-circulos {
    &::before {

      background-image: m_image_url("2022/05/slider-bg-mob-04-05-22.png");

      @include backgound_retina {
        background-image: m_image_url("2022/05/slider-bg-mob-04-05-22@2x.png");
      }

      @include responsive-width($tablet-m) {
        background-image: m_image_url("2022/05/slider-bg-desk-04-05-22.png");

        @include backgound_retina {
          background-image: m_image_url("2022/05/slider-bg-desk-04-05-22@2x.png");
        }
      }
    }
  }

  &.bg-lines-5 {
    &::before {

      background-image: m_image_url("2021/12/slider-bg-je-02-12-21-mob.png");

      @include backgound_retina {
        background-image: m_image_url("2021/12/slider-bg-je-02-12-21-mob@2x.png");
      }

      @include responsive-width($tablet-m) {
        background-image: m_image_url("2021/12/slider-bg-je-02-12-21-desk.png");

        @include backgound_retina {
          background-image: m_image_url("2021/12/slider-bg-je-02-12-21-desk@2x.png");
        }
      }
    }
  }

  &.bg-lines-6 {
    &::before {

      background-image: m_image_url("2021/12/slider-bg-je-16-12-21-mob.png");

      @include backgound_retina {
        background-image: m_image_url("2021/12/slider-bg-je-16-12-21-mob@2x.png");
      }

      @include responsive-width($tablet-m) {
        background-image: m_image_url("2021/12/slider-bg-je-16-12-21-desk.png");

        @include backgound_retina {
          background-image: m_image_url("2021/12/slider-bg-je-16-12-21-desk@2x.png");
        }
      }
    }
  }

  &.bg-lines-7 {
    &::before {

      background-image: m_image_url("2022/01/slider-bg-je-ondas-mob.png");

      @include backgound_retina {
        background-image: m_image_url("2022/01/slider-bg-je-ondas-mob@2x.png");
      }

      @include responsive-width($tablet-m) {
        background-image: m_image_url("2022/01/slider-bg-je-ondas-desk.png");

        @include backgound_retina {
          background-image: m_image_url("2022/01/slider-bg-je-ondas-desk@2x.png");
        }
      }
    }
  }

  &.bg-lines-8 {
    &::before {

      background-image: m_image_url("2022/02/slider-bg-je-ondas-2-mob.png");

      @include backgound_retina {
        background-image: m_image_url("2022/02/slider-bg-je-ondas-2-mob@2x.png");
      }

      @include responsive-width($tablet-m) {
        background-image: m_image_url("2022/02/slider-bg-je-ondas-2-desk.png");

        @include backgound_retina {
          background-image: m_image_url("2022/02/slider-bg-je-ondas-2-desk@2x.png");
        }
      }
    }
  }

  &.bg-lines-navidad {
    &::before {

      background-image: m_image_url("2021/12/slider-bg-je-23-12-21-mob.png");

      @include backgound_retina {
        background-image: m_image_url("2021/12/slider-bg-je-23-12-21-mob@2x.png");
      }

      @include responsive-width($tablet-m) {
        background-image: m_image_url("2021/12/slider-bg-je-23-12-21-desk.png");

        @include backgound_retina {
          background-image: m_image_url("2021/12/slider-bg-je-23-12-21-desk@2x.png");
        }
      }
    }
  }

  &.confetti-new-year-slider {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 5%;
      background-size: cover;
      animation-name: parpadeo;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      -webkit-animation-name: parpadeo;
      -webkit-animation-duration: 1s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      background-color: transparent;
      width: 50%;
      background-position: left bottom;
      background-image: m_image_url("2021/12/confetti-slider-mob.png");

      @include backgound_retina {
        background-image: m_image_url("2021/12/confetti-slider-mob@2x.png");
      }

      @include responsive-width($tablet-m) {
        right: 0%;
        background-image: m_image_url("2021/12/confetti-slider-desk.png");

        @include backgound_retina {
          background-image: m_image_url("2021/12/confetti-slider-desk@2x.png");
        }
      }
    }
  }
}
@-webkit-keyframes parpadeo_JE {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes parpadeo_JE {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes rotate-con {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.principalcontent__imgbanner_icon {
  &.jueves-hincha{
    .i-banner-1 {
      top: 10px !important;
    }
    .i-banner-2{
      display: block !important;
      bottom: -30px;
      left: 0;
    }
    .i-banner-3{
      top: 103px !important;
    }
  }
  &.jueves-san-valentin{
    position: absolute;
    width: 100%;
    height: 325px;
    @include responsive-width($mobile_l) {
      width: 65%;
    }
    @include responsive-width($tablet-m) {
      height: 370px;
      width: 100%;
      margin-left: -10%;
    }
    @include responsive-width($laptop-s) {
      height: 350px;
      margin-left: -25%;
    }
    @include responsive-width($laptop-m) {
      margin-left: -23%;
    }
    @include responsive-width($desktop_s) {
      margin-left: auto;
    }
    .i-banner-1 {
      top: 16px;
      left: 50%;
      margin-left: -115px;
      @include responsive-width($tablet-m) {
        // top: 35px;
        // left: -3px;
        margin-left: 0;
      }
    }
    .i-banner-2{
      top: 20px;
      left: 50%;
      margin-left: 50px;
      width: 51px;
      @include responsive-width($tablet-m) {
        // top: 18px;
        // left: 94px;
        margin-left: 0;
      }
    }
    .i-banner-3{
      display: none !important;
      left: 20px;
      bottom: 0px;  
      @include responsive-width($tablet-m) {
        bottom: 35px;
        display: block !important;
        margin: auto;
        top: auto;
        left: -25px;
      }
    }
    .i-banner-4{
      // @include responsive-width($tablet-m) {
      //   margin: auto;
      //   left: auto;
      //   right: 85px;
      //   max-width: 38.3px;
      //   bottom: 152px;
      // }
    }
    .i-banner-5{
      @include responsive-width($tablet-m) {
        right: 85px;
        max-width: 50px;
        top: 45px;
      }
    }
    .i-banner-6{
      @include responsive-width($tablet-m) {
        right: -62px;
        bottom: 28px;
        transform: scaleX(-1);
      }
    }
    .i-banner-1, .i-banner-2, .i-banner-3 {
      display: block;
      width: auto;
      height: auto;
    }
    .i-banner-4, .i-banner-5, .i-banner-6 {
      display: none;
      @include responsive-width($tablet-m) {
        display: block;
        width: auto;
        height: auto;
      }
    }
    .i-banner-1, .i-banner-2, .i-banner-4, .i-banner-5, .i-banner-3 {
      img {
        animation: none;
      }
    }
  }

  &.jueves-verano{
    position: absolute;
    width: 100%;
    height: 325px;
    @include responsive-width($mobile_l) {
      width: 70%;
    }
    @include responsive-width($tablet-m) {
      height: 370px;
      width: 100%;
      max-width: 425px;
      margin-left: -10%;
    }
    @include responsive-width($laptop-s) {
      height: 350px;
      margin-left: -16%;
    }
    @include responsive-width($laptop-m) {
      max-width: 100%;
      margin-left: -23%;
    }
    @include responsive-width($desktop_s) {
      margin-left: auto;
    }
    .i-banner-1 {
      // top: 36px;
      // left: -15%;
      right: 0;
      bottom: 29px;
      @include responsive-width($tablet-m) {
        left: auto;
        top: 46%;
      }
      @include responsive-width($laptop-m) {
        right: 6%;
      }

    }
    .i-banner-2{
      top: 14px;
      left: 10%;
      display: none !important;
      @include responsive-width($tablet-m) {
        display: block !important;
        left: auto;
        right: -8%;
        top: 14%;
      }
      @include responsive-width($laptop_m) {
        right: -17%;
        top: 32%;
      }
    }
    .i-banner-3{
      left: -19%;
      top: 8px;
      @include responsive-width($tablet-m) {
        // bottom: 78px;
        // left: 40px;
        bottom: 162px;
        left: 5px;
        top: initial;
      }
    }
    .i-banner-4{
      @include responsive-width($tablet-m) {
        left: 7%;
        top: 9%;
      }
    }
    .i-banner-5{
      @include responsive-width($tablet-m) {
        right: 5%;
        max-width: 76px;
        bottom: 15%;
      }
    }
    .i-banner-1, .i-banner-2, .i-banner-3 {
      display: block;
      width: auto;
      height: auto;
    }
    .i-banner-4, .i-banner-5{
      display: none;
      @include responsive-width($tablet-m) {
        display: block;
        width: auto;
        height: auto;
      }
    }
    .i-banner-1, .i-banner-2, .i-banner-4, .i-banner-5, .i-banner-3 {
      img {
        animation: none;
        @include responsive-width($laptop-s) {
          max-width: 100%;
        }
      }
    }
  }
  
  &.fiestas-patrias{
    .i-banner-1 {
      width: 86px !important;
      top: -40px !important;
      @include responsive-width($mobile_l){
        left: 0 !important;
      }
      @include responsive-width($tablet_m){
        top: -9px !important;
        left: 0px !important;
        width: 116px !important;
      }
      @include responsive-width($laptop_m){
        top: 40px !important;
      }
    }
    .i-banner-2{
      width: 58px;
      display: block !important;
      bottom: -23px;
      left: 70%;
      margin-left: -70px;
      @include responsive-width($tablet_m){
        // display: none !important;
        left: 0 !important;
        width: 84px;
        bottom: -35px !important;
        margin-left: 40px !important;
      }
      @include responsive-width($laptop_m){
        bottom: 40px !important;
        // margin-left: 5px;
        margin-left: 65px;
      }
    }
    .i-banner-3{
      display: none !important;
      top: -50px !important;
      width: 40px;
      margin-left: 100px;
      @include responsive-width($tablet_m){
        display: inline-block !important;
        top: 50px !important;
        width: 112px;
      }
      @include responsive-width($laptop_m){
        top: 103px !important;    
      }
      @include responsive-width($desktop_s){
        margin-left: 290px !important;
        top: 115px !important;
      }
    }
    .i-banner-4{
      // display: none !important;
      display: inline-block !important;
      left: 50% !important;
      margin-left: 40px;
      bottom: -11px !important;
      width: 40px;
      @include responsive-width($tablet_m){
        display: inline-block !important;
        // margin-left: 210px !important;
        bottom: 50px !important;
        width: 166px !important;
      }
    }
  }
}

.tag{
  position: absolute;
  top: 0;
  right: 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: m_image_url('2022/06/bg-tag-jueves-entel.png');
  @include backgound_retina {
    background-image: m_image_url('2022/06/bg-tag-jueves-entel@2x.png');
  }

  @include responsive-width($desktop_s){
    right: -90px;
  }
  
  p{
    padding: 10px 20px 30px;
    font-size: 18px;
    line-height: 1;
    @include responsive-width($tablet_m){
      font-size: 20px;
    }
    @include responsive-width($laptop_s){
      font-size: 28px;
    }
  }


  &.jueves-san-valentin {
    z-index: -1;
    width: 118px;
    height: 71px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='118' height='71' viewBox='0 0 118 71' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M118 0H14.6307L1.02451 55.5648C-0.942017 63.5957 5.61203 71.1627 13.8414 70.3626L110.774 60.9382C114.873 60.5397 118 57.0942 118 52.9758V0Z' fill='white'/%3E%3C/svg%3E");
    // @include responsive-width($tablet-m){
    //   width: auto;
    //   height: auto;
    // }
    @include responsive-width($laptop-m){
      width: 243px;
      height: 156px;
      right: -100px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='243' height='156' viewBox='0 0 243 156' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M243 0H35.4072L7.3535 123.601C3.73247 139.555 16.7848 154.377 33.0684 152.802L224.925 134.248C235.177 133.257 243 124.641 243 114.341V0Z' fill='white'/%3E%3C/svg%3E");
    }
    @include responsive-width($desktop_s){
      right: -150px;
    }
      
    p {
      padding: 5px 10px 10px 20px;
      font-size: 18px;

      @include responsive-width($laptop-m){
        padding: 10px 10px 10px 40px;
        font-size: 40px;
        line-height: 38px;
      }
      strong {
        font-weight: 800;
      }
    }
  }

  &.jueves-verano {
    z-index: -1;
    width: 121px;
    height: 56px;
    background-size: cover;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg preserveAspectRatio='none' viewBox='0 0 118 71' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M118 0H14.6307L1.02451 55.5648C-0.942017 63.5957 5.61203 71.1627 13.8414 70.3626L110.774 60.9382C114.873 60.5397 118 57.0942 118 52.9758V0Z' fill='white'/%3E%3C/svg%3E");
    // @include responsive-width($tablet-m){
    //   width: auto;
    //   height: auto;
    // }
    @include responsive-width($laptop-m){
      width: 243px;
      height: 127px;
      right: -100px;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg preserveAspectRatio='none' viewBox='0 0 243 156' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M243 0H35.4072L7.3535 123.601C3.73247 139.555 16.7848 154.377 33.0684 152.802L224.925 134.248C235.177 133.257 243 124.641 243 114.341V0Z' fill='white'/%3E%3C/svg%3E");
    }
    @include responsive-width($desktop_s){
      right: -150px;
    }
      
    p {
      padding: 5px 10px 10px 20px;
      font-size: 18px;

      @include responsive-width($laptop-m){
        padding: 20px 10px 20px 40px;
        font-size: 40px;
        line-height: 38px;
      }
      strong {
        font-weight: 800;
      }
    }
  }
}