section.e-section.e-countdown.e-countdown--jueves-entel.entel-data-layer-view.bg-headband-5.jueves-verano
    .box--jueves-entel
        .box-img-desk
            //- div
            //-     +lazy_image_webp_retina('2022/12/papa-hb-desk', 'png', 'Estadio de Fútbol').display-none-mob
            div
                +image_webp_retina_media(img_path+'2021/12/JE-logo-mob', 'png', img_path+'2021/12/JE-logo-desk', '768', 'JUEVES ENTEL')

        .box-texto
            p Aprovecha los regalos, sorteos, ofertas, #[a.e-link.entel-data-layer-btn-header(href='https://www.entel.pe/juevesentel/' data-gtm-category='Home Cintillo' data-gtm-action='Seleccionar botón' data-gtm-label='Jueves Entel - Ingresa ahora' data-gtm-product='Personas' data-gtm-tipo='Informativo' target="_blank" title='INGRESA AHORA') INGRESA AHORA]  #[br] &nbsp; que se acaban en:
            //- San valentin 2023
            .box-texto-icon
                +lazy_image_webp_retina_media('2023/03/e-home-headband-student-mob', 'png', '2023/03/e-home-headband-student-desk', '768','Icono de etudiante')
        .box-timer
            //- .ico-mob.display-none-desk
                //- +lazy_image_webp_retina('2022/12/arbol-hb-mob', 'png', 'Pelota de Fútbol')
            .hours
                p#hours  
                p Hrs. 
            .minutes
                p#minutes 
                p Min.
            .seconds
                p#seconds  
                p Seg.
            //- .ico.display-none-mob
                +lazy_image_webp_retina('2022/12/arbol-hb-desk', 'png', 'Pelota de Fútbol')
