- banner_name = 'Campaña equipos'
- banner_link = 'https://www.entel.pe/qaI'

.entel__slider--home__item(
    data-entel-slide-index='8' 
    data-entel-slide-time='8000' 
    data-layer-id='slider_'+banner_name  
    data-layer-name='Banner'+banner_name 
    data-layer-position='Home - Banner Superior 8' 
    data-layer-creative=banner_link
    )

    .entel__slider--home__item__content.entel__slider--home__item__content--sorteo-equipos-enero23
        .e-container_bg
        .e-container
            .e-container-flex
                .e-container-flex__item.e-container-flex__item--1.fadeInLeft
                    div
                        h2 #[b.e-tc--e-blue Empieza el verano ganando este equipazo!] 
                        p.e-tc--black Regístrate ingresando a la #[b.e-tc--e-blue Web Mi Entel.]
                        a(class='e-button entel-data-layer-btn-header' href=banner_link 
                        data-gtm-category='Sorteo de equipos - Noviembre' 
                        data-gtm-action='Seleccionar botón' 
                        data-gtm-label='Banner - Ingresa aquí' 
                        data-gtm-product='Personas' 
                        data-gtm-tipo='Informativo'
                ) Ingresa aquí
                small.e-banner-legales Aplica Términos y Condiciones #[a.e-tc--orange(href="https://www.entel.pe/swp") AQUÍ]

                .e-container-flex__item.e-container-flex__item--2.fadeInRight
                    +mx_picture_retina_all("",img_path+'2023/01/e-home-banner-sorteo_equipos_23-img-v2', 'png', 'Equipo Iphone 13')
