section.e-section.entel-data-layer-view
    .box--caida-masiva
        .box-img-desk
            +image_webp_retina_media(img_path+'2022/10/logo-usuaria-entel-mob-v2', 'png', img_path+'2022/10/logo-usuaria-entel-desk-v2', '768', 'Caída de Servicio Entel')

        .box-texto
            p Te informamos sobre la situación de nuestros servicios de comunicación en el sur #[a.e-link.entel-data-layer-btn(href='/wp-content/uploads/2022/10/comunicado-entel.jpg' data-gtm-category='​Cintillo comunicado' data-gtm-action='Seleccionar link' data-gtm-label='Home Entel - ​AQUÍ' target="_blank" title='AQUÍ') AQUÍ]