&--honor-week {
    position: relative;
    background-size: cover;
    // background-attachment: fixed;
    // background-color: $white;
    overflow: hidden;
    background-image: m_image_url('2022/11/e-home-banner-honor-week-bg-mob.png');

    @include backgound_retina {
        background-image: m_image_url('2022/11/e-home-banner-honor-week-bg-mob@2x.png');
    }

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include responsive-width($tablet_m) {
        background-image: m_image_url('2022/11/e-home-banner-honor-week-bg-tab.png');

        @include backgound_retina {
            background-image: m_image_url('2022/11/e-home-banner-honor-week-bg-tab@2x.png');
        }
    }

    @include responsive-width($laptop_m) {
        background-image: m_image_url('2022/11/e-home-banner-honor-week-bg-desk.png');

        @include backgound_retina {
            background-image: m_image_url('2022/11/e-home-banner-honor-week-bg-desk@2x.png');
        }
    }

    &::before {
        @include responsive-width($tablet_m) {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='741' height='370' viewBox='0 0 741 370' fill='none'%3E%3Cpath d='M78 -47H758V377H146L34.1408 302.19C7.20659 284.176 -5.11392 250.903 3.59376 219.692L78 -47Z' fill='%230051B8'/%3E%3C/svg%3E");
            display: inline-block;
            position: absolute;
            width: 741px;
            height: 370px;
            top: 0;
            left: 50%;
            margin-left: 105px;
        }

        // @include responsive-width($laptop_s) {

        // }

        @include responsive-width($desktop_s) {
            margin-left: 260px;
        }
    }

    .e-container-flex {
        display: block;

        .main-container {
            padding-top: 15px;
            display: flex;
            justify-content: center;
            gap: 15px;

            @include responsive-width($tablet_m) {
                padding-top: 0;
            }

            @include responsive-width($laptop_s) {
                gap: 45px;
            }
        }

        .e-container-flex__item--1 {
            width: 150px;
            margin-top: 40px;

            @include responsive-width($tablet_m) {
                margin-top: 60px;
            }

            @include responsive-width($laptop_s) {
                margin-top: 40px;
            }

            p {
                margin-left: 5px;
                font-size: 14px;

                @include responsive-width($tablet_m) {
                    font-size: 20px;
                }
            }

            a {
                margin-top: 25px;

                @include responsive-width($tablet_m) {
                    margin-top: 35px;
                    min-width: 185px !important;
                }

                @include responsive-width($laptop_s) {
                    margin-top: 15px;
                }
            }
        }

        .e-container-flex__item--2 {
            width: 130px;

            @include responsive-width($tablet_m) {
                display: flex;
                width: 400px !important;
                padding-top: 45px;
            }

            @include responsive-width($laptop_s) {
                padding-top: 22px;
                width: 585px !important;
            }

            @include responsive-width($laptop_m) {
                gap: 40px;
            }

            .text-container {
                @include responsive-width($tablet_m) {
                    margin-top: 40px;
                }
            }

            .text-price {
                display: flex;

                @include responsive-width($tablet_m) {
                    margin-bottom: 10px;
                    gap: 5px;
                }

                &-left {
                    width: 50px;
                    margin-bottom: 9px;
                    @include responsive-width($tablet_m) {
                        width: 70px;
                    }

                    p {
                        font-size: 17px;
                        margin-bottom: 0;

                        @include responsive-width($tablet_m) {
                            font-size: 26px;
                        }

                        b {

                            @include responsive-width($tablet_m) {
                                font-size: 26px;
                                margin-top: 0;
                            }

                           
                        }
                    }

                    span {
                        font-size: 53px;
                        line-height: 0.7;
                        color: $orange;

                        @include responsive-width($tablet_m) {
                            font-size: 82px;
                        }
                    }
                }

                &-right {
                    span {
                        font-size: 120px;
                        line-height: 0.5;
                        font-weight: 700;

                        @include responsive-width($tablet_m) {
                            font-size: 165px;
                            line-height: 0.7;
                        }
                    }
                }
            }

            p {
                font-size: 13px;

                @include responsive-width($tablet_m) {
                    font-size: 14px;

                    span {
                        display: none;
                    }
                }

                b {
                    @include responsive-width($tablet_m) {
                        font-size: 17px;
                        margin-top: 10px;
                    }
                }
            }

            picture {
                @include responsive-width($tablet_m) {
                    flex-shrink: 0;
                }
            }
        }

        .terms {
            width: 320px;
            margin: auto;
            font-size: 10px;
            color: #9E9FA1;
            margin-top: 0;

            a {
                color: #9E9FA1;
                font-weight: 700;
                text-decoration: underline;
            }

            @include responsive-width($tablet_m) {
                width: 768px;
            }

            @include responsive-width($laptop_s) {
                width: 970px;
            }

            @include responsive-width($tablet_m) {
                width: 1010px;
                padding-left: 55px;
            }
        }
    }
}