.bannerform-overlay {
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    @include transition(all 300ms ease 0s);

    &.active {
        opacity: 1;
        visibility: visible;
        z-index: 999;
    }
}

.bannerform-popup {
    font-family: 'Barlow', sans-serif !important;
    position: fixed;
    height: 387px;
    width: 100%;
    max-width: 296px;
    background-color: #FFFFFF;
    @include border-radius(15px);
    @include transition(all 300ms ease 0s);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    &.active {
        z-index: 999;
        visibility: visible;
        opacity: 1;
        @include swoosh;
    }

    @media (min-width: 768px) {
        max-width: 366px;
    }

    &__close {
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        top: 18px;
        right: 16px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15' r='14.5' stroke='%23002EFF'/%3E%3Cpath d='M11.25 11.25L18.75 18.75' stroke='%23002EFF' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3Cpath d='M11.25 18.75L18.75 11.25' stroke='%23002EFF' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
    }

    &__forms {
        position: absolute;
        top: 0;
        left: 50%;
        margin-top: 60px;
        margin-left: -115px;
        width: 100%;
        // margin: 55px auto 0;
        max-width: 230px;
        text-align: left;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        // display: none;

        @media (min-width: 768px) {
            max-width: 250px;
            margin-left: -125px;
        }

        &.active {
            visibility: visible;
            opacity: 1;
            @include bounce_upper_popup;
        }

        form {
            .form-legal {
                bottom: -26px;
                color: #9e9fa1;
                font-size: 10px;
                text-align: left;
                position: absolute;
                letter-spacing: 0;

                @media (min-width: 768px) {
                    display: none;
                }

                a {
                    font-size: 10px;
                    color: #9e9fa1;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }

            .form--content {

                .form--head {
                    margin-bottom: 20px;
                    @media (min-width: 768px) {
                        margin-bottom: 18px;
                    }

                    p {
                        margin: 0px;
                        color: #002EFF;
                        font-size: 14px;
                        text-align: left;
                        font-weight: 600;
                        line-height: 14px;
                        font-style: normal;

                        span {
                        font-weight: 400;
                        }

                        @media (min-width: 768px) {
                        font-size: 19px;
                        line-height: 19px;
                        }
                    }

                    h2 {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 20px;
                        text-align: left;
                        text-transform: uppercase;
                        color: #00b9eb;
                        margin: 4px 0px 5px;

                        @media (min-width: 768px) {
                            font-size: 34px;
                            line-height: 30px;
                            margin: 6px 0px 11px;
                        }
                    }

                    h3 {
                        font-style: normal;
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 12px;
                        text-align: left;
                        color: #002EFF;
                        margin: 0px 0px 5px;

                        @media (min-width: 768px) {
                        font-size: 20px;
                        line-height: 18px;
                        margin: 0px 0px 15px;
                        }
                        strong {
                        font-weight: bold;
                        }
                    }

                    img {
                        margin-bottom: 0px;
                        max-width: none;
                        width: auto;
                    }
                }

                .form--body {
                    h3 {
                        font-family: "Inter", "Barlow", sans-serif;
                        color: #002EFF;
                        font-size: 32px;
                        font-weight: 500;
                        margin-bottom: 16px;
                        letter-spacing: -0.04em;

                        @media (min-width: 768px) {
                            display: block;
                            font-size: 36px;
                        }

                        strong {
                            font-weight: 500;
                        }
                    }

                    p {
                        color: #000000;
                        margin-bottom: 10px;
                        font-size: 14px;

                        @media (min-width: 768px) {
                            font-size: 14px;
                        }
                    }

                    .form--number {
                        position: relative;
                        margin-bottom: 7px;

                        @media (min-width: 768px) {
                            margin-bottom: 10px;
                        }

                        &> span {
                            position: absolute;
                            left: 8px;
                            top: 0px;
                            width: 100%;
                            transition: all 0.3s ease;
                            cursor: text;
                            display: block!important;
                            transform: none !important;

                            @media (min-width: 768px) {
                                top: 3px;
                            }

                            span {
                                font-size: 10px;
                                color: #9E9FA1;
                                padding: 0 3px;
                                transition: all 0.3s ease;

                                @media (min-width: 768px) {
                                    font-size: 12px;
                                }
                            }
                        }

                        input {
                            box-sizing: border-box;
                            border-radius: 11px;
                            width: 100%;
                            height: 44px;
                            padding: 16px 10px 6px;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 15px;
                            align-items: center;
                            letter-spacing: 0.0015em;
                            color: #9E9FA1;
                            background-color: #FFFFFF;
                            border: 1px solid #9e9fa1;

                            @media (min-width: 768px) {
                                height: 51px;
                                font-size: 14px;
                                line-height: 17px;
                            }

                            &:placeholder-shown + span {
                                top: 10px;

                                @media (min-width: 768px) {
                                    top: 16px;
                                }

                                span {
                                    font-size: 11px;

                                    @media (min-width: 768px) {
                                        font-size: 14px;
                                    }
                                }
                            }

                            &:focus{
                                border-color: #00B8EA;
                            }

                            &:focus + span {
                                top: 0px;

                                @media (min-width: 768px) {
                                    top: 3px;
                                }

                                span {
                                    font-size: 10px;
                                    color: #00B8EA;

                                    @media (min-width: 768px) {
                                        font-size: 12px;
                                    }
                                }
                            }

                            &.error {
                                border-color: red !important;
                            }

                            &.error::placeholder {
                                color: red !important;
                            }

                            &.error + span {
                                span {
                                color: red;
                                }
                            }
                        }
                    }

                    .form--check {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    
                    &>span {
                        font-weight: normal;
                        color: #002EFF;  
                        line-height: 10px;
                        font-size: 8.5px;

                        @media (min-width: 768px) {
                            font-size: 10px;
                        }
                        
                        a {
                            color: #00B8EA;
                            margin-left: 3px;
                            margin-right: 3px;
                            line-height: 18px;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 8.5px;

                            @media (min-width: 768px) {
                                font-size: 10px;
                            }

                            span {
                                text-decoration: underline;
                                font-weight: normal;
                            }
                        }
                    }

                        input {
                            display: none;
                        }

                        label {
                            @media (min-width: 768px) {
                                font-size: 11px;
                            }
                        }

                        .input-mask-top {
                            display: none;
                            width: 18px;
                            height: 18px;
                            border: 1px solid #FF560A;
                            box-sizing: border-box;
                            border-radius: 4.58325px;
                            margin-top: 2px;
                            position: relative;

                            &.error {
                                border-color: #f10101;

                                &::after {
                                    border-color: transparent;
                                }
                            }

                            &::after {
                                content: "";
                                left: 6px;
                                top: 2px;
                                width: 4px;
                                height: 9px;
                                border: solid #FF560A;
                                border-width: 0px 2px 2px 0px;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                                position: absolute;
                            }
                        }

                        a {
                            color: #002EFF;
                            margin-left: 5px;
                            line-height: 18px;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;

                            span {
                                font-weight: bold;
                                text-decoration: underline;
                            }
                        }
                    }

                    button {
                        background-color: #002EFF;
                        border-radius: 45.8325px;
                        color: #ffffff;
                        cursor: pointer;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 15px;
                        line-height: 1px;
                        text-align: center;
                        padding: 15px 5px;
                        text-transform: uppercase;
                        margin-top: 15px;
                        border: 0px;
                        width: 100%;
                        height: 40px;
                        display: block;

                        @media (min-width: 768px) {
                            padding: 21px 36px;
                            height: 50px;
                        }
                    }
                }

                .form--loading {
                    display: none;
                    padding: 80px 25px 0px;
                    text-align: center;

                    img {
                        -webkit-animation: rotloading 2s linear infinite;
                        -moz-animation: rotloading 2s linear infinite;
                        -ms-animation: rotloading 2s linear infinite;
                        -o-animation: rotloading 2s linear infinite;
                        animation: rotloading 2s linear infinite;
                        width: 100px;

                        @-webkit-keyframes rotloading {
                        from {
                            -webkit-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                        }
                        to {
                            -webkit-transform: rotate(360deg);
                            -o-transform: rotate(360deg);
                            transform: rotate(360deg);
                        }
                        }
                        @keyframes rotloading {
                        from {
                            -ms-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -webkit-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                        }
                        to {
                            -ms-transform: rotate(360deg);
                            -moz-transform: rotate(360deg);
                            -webkit-transform: rotate(360deg);
                            -o-transform: rotate(360deg);
                            transform: rotate(360deg);
                        }
                        }
                    }
                }

                .form--thanks {
                    display: none;
                    width: 160px;
                    text-align: center;
                    color: #000000;
                    margin: 0 auto;
                    padding-top: 40px;

                    @media (min-width: 768px) {
                        width: 200px;
                    }
                    
                    .ico--thanks {
                        content: '';
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='135' height='175' viewBox='0 0 135 175' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='67.2576' cy='166.887' rx='66.6017' ry='7.65537' fill='%23F3F3F3'/%3E%3Cpath d='M24.1365 29.0904C24.1365 23.5941 28.5921 19.1384 34.0884 19.1384H100.061C105.557 19.1384 110.013 23.5941 110.013 29.0904V143.127C110.013 155.388 100.073 165.328 87.8124 165.328H46.337C34.076 165.328 24.1365 155.389 24.1365 143.127V29.0904Z' fill='white' stroke='%23002EFF' stroke-width='4.59322'/%3E%3Cpath d='M93.5812 42.1705C92.451 37.7148 103.859 16.8418 108.456 16.8418H111.127C111.78 16.8418 112.309 17.3713 112.309 18.0244V144.063C112.309 157.076 101.76 167.625 88.7475 167.625C88.2685 167.625 86.0107 161.753 86.2837 161.359C92.0514 153.043 98.8381 133.711 98.3934 88.8023C98.1844 67.6929 96.2636 52.7462 93.5812 42.1705Z' fill='%23F3F3F3'/%3E%3Cpath d='M24.1365 29.0904C24.1365 23.5941 28.5921 19.1384 34.0884 19.1384H100.061C105.557 19.1384 110.013 23.5941 110.013 29.0904V143.127C110.013 155.388 100.073 165.328 87.8124 165.328H46.337C34.076 165.328 24.1365 155.389 24.1365 143.127V29.0904Z' stroke='%23002EFF' stroke-width='4.59322'/%3E%3Ccircle cx='110.312' cy='24.6736' r='24.6736' fill='%23FF3D00'/%3E%3Cpath d='M110.276 17.3453C109.533 16.0188 107.157 13.3658 103.593 13.3658C99.1387 13.3658 96.911 16.5489 96.911 19.7333C96.911 22.9164 96.911 24.5092 99.8808 27.6924C102.257 30.2388 107.801 35.6514 110.276 38.0394C112.751 35.6514 118.295 30.2388 120.671 27.6924C123.641 24.5092 123.641 22.9164 123.641 19.7333C123.641 16.5489 121.413 13.3658 116.958 13.3658C113.395 13.3658 111.019 16.0188 110.276 17.3453Z' fill='white'/%3E%3Cpath d='M24.3419 133.596H110.641' stroke='%23002EFF' stroke-width='4.59322' stroke-miterlimit='10'/%3E%3Ccircle cx='67.3665' cy='148.384' r='6.28262' fill='%23002EFF'/%3E%3Cpath d='M56.0597 86.5496C56.0597 89.6573 53.5404 92.1766 50.4327 92.1766C47.325 92.1766 44.8057 89.6573 44.8057 86.5496C44.8057 83.4419 47.325 80.9226 50.4327 80.9226C53.5404 80.9226 56.0597 83.4419 56.0597 86.5496Z' fill='%23002EFF'/%3E%3Cpath d='M89.8253 86.5496C89.8253 89.6573 87.3061 92.1766 84.1983 92.1766C81.0906 92.1766 78.5714 89.6573 78.5714 86.5496C78.5714 83.4419 81.0906 80.9226 84.1983 80.9226C87.3061 80.9226 89.8253 83.4419 89.8253 86.5496Z' fill='%23002EFF'/%3E%3Cpath d='M82.3167 97.2231C82.3167 99.0327 81.9603 100.825 81.2678 102.496C80.5753 104.168 79.5603 105.687 78.2807 106.967C77.0011 108.246 75.4821 109.261 73.8103 109.954C72.1384 110.646 70.3466 111.003 68.537 111.003C66.7274 111.003 64.9356 110.646 63.2638 109.954C61.5919 109.261 60.0729 108.246 58.7933 106.967C57.5138 105.687 56.4988 104.168 55.8063 102.496C55.1138 100.825 54.7574 99.0327 54.7574 97.2231' stroke='%23002EFF' stroke-width='4.59322'/%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-size: 100%;
                        width: 99px;
                        height: 128px;
                        margin: 0 auto;
                        display: block;

                    }

                    p,
                    span {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        color: #000000;

                        @media (min-width: 768px) {
                            font-size: 16px;
                            line-height: 18px;
                            margin: 0px 0px 15px;
                        }

                        small {
                            font-weight: normal;
                            display: block;
                        }
                    }

                    strong {
                        color: #002EFF;
                    }
                }

                .form--duplicate {
                    display: none;
                    padding-top: 75px;
                    text-align: center;
                    padding-top: 90px;
                    p {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 15px;
                        margin: 0px;
                        color: #002EFF;

                        @media (min-width: 768px) {
                        font-size: 16px;
                        line-height: 18px;
                        }
                    }

                    @media (min-width: 768px) {
                        width: 250px;
                    }
                }

                .form--error {
                    display: none;
                    padding-top: 75px;
                    text-align: center;
                    padding-top: 90px;

                    p {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 15px;
                        margin: 0px;
                        color: #002EFF;

                        @media (min-width: 768px) {
                        font-size: 16px;
                        line-height: 18px;
                        }
                    }

                    @media (min-width: 768px) {
                        width: 250px;
                    }
                }
                
                .form--button {
                    display: none;
                    text-align: left;
                    padding-top: 70px;

                    @media (min-width: 768px) {
                        padding-top: 100px;
                    }

                    a {
                        border-radius: 45.8325px;
                        min-width: 141px;
                        height: 40px;

                        @media (min-width: 768px) {
                        min-width: 186px;
                        height: 50px;
                        }

                        span {
                        font-size: 12px;

                        @media (min-width: 768px) {
                            font-size: 13px;
                        }
                        } 
                    }
                }
            }
        }
    }
}