#modal_moviles_peru{

  .m-modal__container{
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 30px 20px;
    @include responsive-width($tablet_m){
      width: 670px;
      padding-top: 45px;
      padding-bottom: 45px;
    }

    h2{
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: $blue;
      margin-bottom: 32px;
      @include responsive-width($tablet_m){
        font-size: 22px;
        margin-bottom: 45px;
      }
    }

    .e-access__slider{
      display: flex;
      flex-wrap: wrap;
      @include responsive-width($tablet_m){
        width: 520px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        justify-content: space-between;
      }

      .entel-access__slider__card{
        width: 50%;
        text-align: center;
        padding-bottom: 20px;
        @include responsive-width($tablet_m){
          width: auto;
        }

        .entel-access__item{
          width: 74px;
          height: 95px;
          padding: 10px 15px 2px;
          @include responsive-width($tablet_m){
            width: 100px;
            height: 132px;
          }

          .e-icon{
            margin: 0 auto 1px;
            @include responsive-width($tablet_m){
              margin: 0 auto 10px;
            }
          }

          span{
            font-weight: 500;
            font-size: 10px;
            @include responsive-width($tablet_m){
              font-size: 14px;
            }
          }
        }

        &.card-label{
          .e-label{
            position: absolute;
            width: 54px;
            height: 28px;
            z-index: 1;
            background-size: 100% 100%;
            display: flex;
            justify-content: center;
            top: -11px;
            align-items: center;
            left: -26px;
            background-image: m_image_url('2022/07/e-home-access-label-bg.png');
            @include backgound_retina {
              background-image: m_image_url('2022/07/e-home-access-label-bg@2x.png');
            }
            @include responsive-width($tablet_m){
              width: 57px;
              height: 32px;
            }

            p{
              font-weight: 400;
              font-size: 9px;
              color: $white;
              line-height: 1.1;
              margin-bottom: 0;
              @include responsive-width($tablet_m){
                font-size: 10px;
              }
            }
            
          }
        }

      }
    }

  }

}

#modal_moviles_chile{

  .m-modal__container{
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 15px 20px;
    @include responsive-width($tablet_m){
      width: 670px;
      padding-top: 60px;
      padding-bottom: 50px;
    }

    h2{
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: $blue;
      margin-bottom: 32px;
      @include responsive-width($tablet_m){
        font-size: 22px;
        margin-bottom: 45px;
      }
    }

    .e-access__slider{
      display: flex;
      flex-wrap: wrap;
      @include responsive-width($tablet_m){
        width: 586px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        justify-content: space-between;
      }

      .entel-access__slider__card{
        width: 50%;
        text-align: center;
        padding-bottom: 20px;
        @include responsive-width($tablet_m){
          width: auto;
        }

        .entel-access__item{
          width: 110px;
          height: 96px;
          padding: 20px 5px 3px;
          @include responsive-width($tablet_m){
            width: 120px;
            height: 136px;
          }

          .e-icon{
            margin: 0 auto 5px;
            @include responsive-width($tablet_m){
              margin: 0 auto 10px;
            }
          }

          span{
            font-weight: 500;
            font-size: 10px;
            @include responsive-width($tablet_m){
              font-size: 14px;
            }
          }
        }

        &.card-label{
          .e-label{
            position: absolute;
            z-index: 1;
            display: block;
            bottom: -6px;
            padding: 4px 12px;
            background: #F46C8F;
            border-radius: 4px;
            left: 50%;
            transform: translateX(-50%);
            max-width: 500px;
            width: fit-content;
            height: 17px;
            @include responsive-width($tablet_m){
              height: 20px;
            }

            p{
              font-weight: 400;
              font-size: 9px;
              color: $white;
              line-height: 1.1;
              margin-bottom: 0;
              @include responsive-width($tablet_m){
                font-size: 10px;
              }
              br{
                display: none;
              }
              b{
                display: inline;
                margin-left: 5px;
              }
            }
            
          }
        }

      }
    }

  }

  .m-modal__close{
    background: $blue;
    border-color: rgba($white,0.7);
    &:before,&:after{
      background: rgba($white,0.7);
    }
    &:hover{
      border-color: $orange;
      &:before,&:after{
        background: $orange;
      }
    }
  }

}