#modal_migra {
  .dscto-migra {
    position: relative;
    &::before {
      position: absolute;
      top: 22px;
      left: 98px;
      transform: translate(-50%, -50%);
      content: "50% dto";
      color: white;
      font-weight: bold;
      font-size: 10px;
      z-index: 1;
      padding: 0px 8px;
      line-height: 20px;
      background-color: #f46c8f;
      border-radius: 10px;
      width: 55px;
      @include responsive-width($tablet_m) {
        font-size: 12px;
        width: 70px;
        top: 30px;
        left: 124px;
        padding: 0px 12px;
      }
    }
  }
  .dscto-migra20 {
    position: relative;
    &::before {
      position: absolute;
      top: 22px;
      left: 98px;
      transform: translate(-50%, -50%);
      content: "20% dto";
      color: white;
      font-weight: bold;
      font-size: 10px;
      z-index: 1;
      padding: 0px 8px;
      line-height: 20px;
      background-color: #f46c8f;
      border-radius: 10px;
      width: 55px;
      @include responsive-width($tablet_m) {
        font-size: 12px;
        width: 70px;
        top: 30px;
        left: 124px;
        padding: 0px 12px;
      }
    }
  }
  .entel-access__slider__card {
    display: flex;
    justify-content: center;
    width: 141px;
    margin: auto;
    @include responsive-width($tablet_m) {
      width: 180px;
    }
  }
  .entel-access__item {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 141px;
    height: 72px;
    span {
      height: auto;
    }
    @include responsive-width($tablet_m) {
      width: 180px;
      height: 75px;
    }
  }
}
