.sorteo-verano {
  width: 100%;
  height: auto;
  padding: 0px;
  display: flex;
  margin-top: 0px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(90.05deg, #00b9eb 18.95%, #004fb9 100%);
  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 768px;
    height: 63px;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: center;
    background-size: 100% 100%;
    background-image: m_image_url("2023/01/cintillo-sorteo-verano-bg-mob.png");
    @include backgound_retina {
      background-image: m_image_url(
        "2023/01/cintillo-sorteo-verano-bg-mob@2x.png"
      );
    }
    @include responsive-width($tablet_m) {
      width: 1060px;
      height: 63px;
      background-image: m_image_url(
        "2023/01/cintillo-sorteo-verano-bg-tab.png"
      );
      @include backgound_retina {
        background-image: m_image_url(
          "2023/01/cintillo-sorteo-verano-bg-tab@2x.png"
        );
      }
    }
    @include responsive-width($laptop_s) {
      width: 2235px;
      height: 63px;
      background-image: m_image_url(
        "2023/01/cintillo-sorteo-verano-bg-tab.png"
      );
      @include backgound_retina {
        background-image: m_image_url(
          "2023/01/cintillo-sorteo-verano-bg-tab@2x.png"
        );
      }
    }
  }

  // @include responsive-width($laptop_s) {
  //   &::after{
  //     content: "";
  //     position: absolute;
  //     left: 0;
  //     bottom: 0;
  //     width: 30px;
  //     height: 30px;
  //     background-repeat: no-repeat;
  //     background-image: m_image_url('2022/09/sorteo-equipos-cintillo-equipos-caja-regalo-desk.png');
  //     @include backgound_retina {
  //       background-image: m_image_url('2022/09/sorteo-equipos-cintillo-equipos-caja-regalo-desk@2x.png');
  //     }

  //   }
  //   // background: linear-gradient(90.04deg, #04AFDD 13.49%, #C7F3FF 29.41%, #C1F2FF 75.93%);
  // }

  .box-tecnology {
    padding: 0px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    // position: relative;
    justify-content: center;

    &__image {
      width: auto;
      flex-shrink: 0;
      position: relative;
      margin-bottom: 1px;
      // margin-right: 10px;

      img {
        animation: beat 3s infinite;
        -webkit-animation: beat 3s infinite;
      }

      .picture-view {
        left: 7px;
        top: -5px;
        opacity: 0;
        position: absolute;
        animation: laptop-view 6s linear infinite;

        &,
        img {
          max-width: inherit;
        }

        &-1 {
          // opacity: 1;
        }

        &-2 {
          animation: laptop-view 6s linear infinite 3s;
        }
      }

      .picture-base {
        left: -61px;
        z-index: -1;
        bottom: -23px;
        position: absolute;

        &,
        img {
          max-width: inherit;
        }
      }
    }

    &__container {
      width: 100%;
      display: flex;
      max-width: 155px;
      // align-items: center;
      flex-direction: column;
      gap: 3px;
      @include responsive-width($tablet_m) {
        max-width: 100%;
        margin-right: 50px;
        align-items: flex-start;
      }

      @include responsive-width($laptop_s) {
        max-width: 820px;
        margin-bottom: 0px;
        gap: 8px;
      }

      .text-1 {
        // width: 71px;
        flex-shrink: 0;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          display: inline-block;
          @include responsive-width(360px) {
            width: 80px;
            height: 52px;
            background-size: 100% 100%;
            bottom: -27px;
            left: 50%;
            margin-left: -170px;
            background-image: m_image_url(
              "2023/01/cintillo-sorteo-verano-elemento-1-v2-mob.png"
            );
            @include backgound_retina {
              background-image: m_image_url(
                "2023/01/cintillo-sorteo-verano-elemento-1-v2-mob@2x.png"
              );
            }
          }
          @include responsive-width($tablet_m) {
            width: 98px;
            height: 60px;
            bottom: -32px;
            left: 50%;
            margin-left: -315px;
            background-image: m_image_url(
              "2023/01/cintillo-sorteo-verano-elemento-1-v2-tab.png"
            );
            @include backgound_retina {
              background-image: m_image_url(
                "2023/01/cintillo-sorteo-verano-elemento-1-v2-tab@2x.png"
              );
            }
          }
          @include responsive-width($laptop_s) {
            width: 98px;
            height: 60px;
            left: 50%;
            bottom: -34px;
            margin-left: -360px;
            background-image: m_image_url(
              "2023/01/cintillo-sorteo-verano-elemento-1-v2-desk.png"
            );
            @include backgound_retina {
              background-image: m_image_url(
                "2023/01/cintillo-sorteo-verano-elemento-1-v2-desk@2x.png"
              );
            }
          }
        }

        p {
          font-size: 9.5px;
          color: #002eff;
          line-height: 12px;
          @include responsive-width($tablet_m) {
            font-size: 15px;
            font-weight: 500;
            line-height: 15px;
          }

          @include responsive-width($laptop_s) {
            font-size: 18px;
          }
        }

        picture {
          @include responsive-width($tablet_m) {
            margin-left: 2px;
            display: flex;
            align-items: flex-end;
          }
        }

        @include responsive-width($tablet_m) {
          display: flex;
          align-items: end;
        }

        // @include responsive-width($laptop_s) {
        //   width: 320px;
        // }
        // @include responsive-width($laptop_m) {
        //   width: 390px;
        // }
      }

      .text-2 {
        // width: 126px;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          display: inline-block;
          @include responsive-width($tablet_m) {
            width: 71px;
            height: 50px;
            background-size: 100% 100%;
            bottom: -14px;
            right: -50%;
            margin-right: -285px;
            background-image: m_image_url(
              "2023/01/cintillo-sorteo-verano-elemento-2-v2-tab.png"
            );
            @include backgound_retina {
              background-image: m_image_url(
                "2023/01/cintillo-sorteo-verano-elemento-2-v2-tab@2x.png"
              );
            }
          }
          @include responsive-width($laptop_s) {
            width: 81px;
            height: 60px;
            background-size: 100% 100%;
            bottom: -14px;
            margin-right: -380px;

            background-image: m_image_url(
              "2023/01/cintillo-sorteo-verano-elemento-2-v2-desk.png"
            );
            @include backgound_retina {
              background-image: m_image_url(
                "2023/01/cintillo-sorteo-verano-elemento-2-v2-desk@2x.png"
              );
            }
          }
        }

        p {
          color: $black;
          font-size: 8px;
          @include responsive-width($tablet_m) {
            font-size: 8px;
          }
          @include responsive-width($laptop_s) {
            font-size: 8.5px;
            text-align: center;
          }

          a {
            color: inherit;
            text-decoration: underline;
            // font-weight:bold;
          }

          // &.text-2_legal {
          //   font-size: 8px;
          //   line-height: 12px;
          //   max-width: 100%;
          //   @include responsive-width($tablet_m) {
          //     min-width: 130px;
          //   }
          //   @include responsive-width($laptop_s) {
          //     font-size: 12px;
          //     line-height: 16px;
          //   }
          //   @include responsive-width($laptop_s) {
          //     line-height: 20px;
          //   }
          // }
        }
      }
    }

    &__text {
      // width: 110px;
      // max-width: 100%;
      // flex-shrink: 0;
      padding-left: 5px;
      padding-right: 5px;

      p {
        color: #fff;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        // letter-spacing: -0.03em;
        margin-bottom: 0;

        @include responsive-width($tablet_m) {
          font-size: 12px;
        }

        @include responsive-width($laptop_s) {
          font-size: 12px;
        }

        @include responsive-width($laptop_m) {
          font-size: 12px;
        }

        b {
          font-weight: bold;
        }

        br {
          display: none;

          @include responsive-width(360px) {
            display: inline-block;
          }

          @include responsive-width($laptop_s) {
            display: none;
          }
        }
      }
    }

    &__button {
      margin-left: 0;
      a {
        display: inline-block;
        min-width: 100px;
        padding: 7px 5px;
        min-width: 105px;
        font-size: 9px;
        background: transparent !important;
        border-color: #002eff !important;
        position: relative;
        // background: #FF560A no-repeat left top !important;
        // border-color: #FF560A !important;
        height: 30px;

        &::before {
          content: "REGÍSTRATE AQUÍ";
          color: #002eff;
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          // text-decoration: underline;
          text-transform: uppercase;
          font-weight: 700;
          // font-size: 11px;
          line-height: 18px;

          @include responsive-width($tablet_m) {
            text-decoration: none;
            width: 100%;
            font-weight: 700;
          }
        }
        @include responsive-width($tablet_m) {
          min-width: 125px;
          font-size: 12px;
        }
        @include responsive-width($laptop_s) {
          margin-left: 30px;
          min-width: 145px;
        }
      }
    }
  }

  @keyframes bg-white {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -51px;
    }
  }

  @keyframes bg-blue {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 -46px;
    }
  }

  @keyframes laptop-view {
    0% {
      transform: scale(0.4);
      opacity: 0;
    }

    10% {
      transform: scale(1);
      opacity: 1;
    }

    40% {
      transform: scale(1);
      opacity: 1;
    }

    50% {
      transform: scale(0.8);
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }
}
