- banner_name = 'HonorWeek'
//- - banner_link = 'https://catalogo.entel.pe/personas/celulares?para=personas&marca=apple'

.entel__slider--home__item(
    data-entel-slide-index='4' 
    data-entel-slide-time='8000' 
    data-layer-id='slider_'+banner_name  
    data-layer-name='Banner'+banner_name 
    data-layer-position='Home - Banner Superior 5' 
    data-layer-creative=banner_link
    )

    .entel__slider--home__item__content.entel__slider--home__item__content--honor-week
        .e-container
            .e-container-flex
                .main-container
                    .e-container-flex__item.e-container-flex__item--1
                        div.item1-container
                            p Renueva en el
                            - image_mobile = '2022/11/e-home-banner-honor-week-text-mob' 
                            - image = '2022/11/e-home-banner-honor-week-text-desk' 
                            +lazy_image_webp_retina_media(image_mobile, 'png', image, '768', alt)
                            a(class='e-button e-button--orange e-data-layer-btn' href='https://miportal.entel.pe/personas/catalogo/postpago/renovacion?marca=honor' target='_blank' 
                            data-gtm-category=landing_name 
                            data-gtm-action='Seleccionar boton' 
                            data-gtm-label='En la web - '+landing_name
                            ) LO QUIERO
                            
                    .e-container-flex__item.e-container-flex__item--2
                        .text-container
                            .text-price 
                                .text-price-left 
                                    p cuota #[b inicial]
                                    span S/
                                .text-price-right
                                    span 0
                            .text-plan     
                                p #[span.desde desde] plan Entel Power+ 74.9
                                p #[b págalo en 12 meses]
                        - image_mobile = 'image' 
                        - image = 'image' 
                        +mx_picture_retina_all('',img_path+'/2022/11/e-home-banner-honor-week-cel', 'png', 'Equipos Honor')
                p.terms Aplican términos y condiciones #[a(href='https://miportal.entel.pe/personas/catalogo/postpago/migra?&_ga=2.176965733.1940839642.1667829535-1598310196.1643726931&_gac=1.153292300.1667492425.EAIaIQobChMI5pubk7SS-wIVFy2tBh3dVAIAEAAYASAAEgJ8fPD_BwE#terminos-y-condiciones' target='_blank') AQUÍ]