&--san-valentin {
  position: relative;
  background-size: cover;
  // background-attachment: fixed;
  background-color: #fef4f3;
  overflow: hidden;

  &::before {
    @include responsive-width($desktop_s) {
      content: "";
      display: inline-block;
      position: absolute;
      width: 1920px;
      height: 350px;
      background-size: 100% 100%;
      top: 0;
      left: 50%;
      margin-left: -960px;
      background-image: m_image_url("2023/02/san-valentin-home-bg-banner.png");
      @include backgound_retina {
        background-image: m_image_url(
          "2023/02/san-valentin-home-bg-banner@2x.png"
        );
      }
    }
  }

  .e-container-flex {
    display: block;

    .main-container {
      padding-top: 10px;
      display: flex;
      justify-content: flex-start;
      gap: 15px;

      @include responsive-width($tablet_m) {
        padding-top: 0;
        justify-content: center;
      }

      @include responsive-width($laptop_s) {
        gap: 10px;
      }
      @include responsive-width($desktop_s) {
        gap: 45px;
      }
    }

    .e-container-flex__item--1 {
      width: 190px;
      margin-top: 40px;

      @include responsive-width($tablet_m) {
        margin-top: 60px;
        width: 300px !important;
        margin-right: -50px;
      }

      @include responsive-width($laptop_s) {
        margin-top: 20px;
        width: 520px !important;
        margin-right: 0px;
      }
      @include responsive-width($laptop_m) {
        width: 570px !important;
      }

      h4 {
        font-size: 26px;
        color: $black;
        font-weight: 400;
        position: relative;
        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          width: 21px;
          height: 19px;
          bottom: 5px;
          right: 55px;
          background-size: 100% 100%;
          background-image: m_image_url(
            "2023/02/san-valentin-home-text-icon-mob.png"
          );
          @include backgound_retina {
            background-image: m_image_url(
              "2023/02/san-valentin-home-text-icon-mob@2x.png"
            );
          }
          @include responsive-width($tablet_m) {
            width: 48px;
            height: 33px;
            bottom: 0px;
            right: 70px;
            background-image: m_image_url(
              "2023/02/san-valentin-home-text-icon-desk.png"
            );
            @include backgound_retina {
              background-image: m_image_url(
                "2023/02/san-valentin-home-text-icon-desk@2x.png"
              );
            }
          }
          @include responsive-width($laptop_s){
            width: 62px;
            height: 44px;
            bottom: 3px;
            right: 190px;
          }
        }

        @include responsive-width($tablet_m) {
          font-size: 42px;
        }
        @include responsive-width($laptop_s) {
          font-size: 63px;
          margin-top: 0;
        }
      }

      p {
        margin-top: 10px;
        // margin-left: 5px;
        font-size: 12px;
        color: $black;

        @include responsive-width($tablet_m) {
          font-size: 16px;
        }
        @include responsive-width($laptop_s) {
          font-size: 22px;
        }
        @include responsive-width($laptop_m) {
          font-size: 24px;
        }
      }

      a {
        margin-top: 15px;
        min-width: 102px !important;
        width: 102px;
        background-color: #002eff;
        font-size: 9px;
        padding: 10px 5px;

        @include responsive-width($tablet_m) {
          margin-top: 25px;
          width: 135px;
          min-width: 135px !important;
          font-size: 11.6px;
          padding: 15px 15px;
        }

        @include responsive-width($laptop_s) {
          margin-top: 22px;
          width: 160px;
          min-width: 160px !important;
          font-size: 14px;
        }
      }
    }

    .e-container-flex__item--2 {
      width: 262px;
      position: absolute;
      left: 50%;
      top: 5px;
      margin-left: -60px;
      z-index: 0;

      @include responsive-width($tablet_m) {
        display: flex;
        width: 446px !important;
        padding-top: 0px;
        position: relative;
        left: inherit;
        top: inherit;
        margin-left: 0;
        margin-top: -5px;
      }

      @include responsive-width($laptop_s) {
        padding-top: 10px;
        width: 448px !important;
      }

      @include responsive-width($laptop_m) {
        // gap: 40px;
      }

      .text-container {
        @include responsive-width($tablet_m) {
          margin-top: 40px;
        }
      }

      p {
        font-size: 13px;

        @include responsive-width($tablet_m) {
          font-size: 14px;

          span {
            display: none;
          }
        }

        b {
          @include responsive-width($tablet_m) {
            font-size: 17px;
            margin-top: 10px;
          }
        }
      }

      picture {
        @include responsive-width($tablet_m) {
          flex-shrink: 0;
        }
      }
    }

    .terms {
      display: none;
      @include responsive-width($laptop_m) {
        width: 100%;
        padding-left: 45px;
        display: inline-block;
        position: absolute;
        bottom: 20px;
        p {
          font-size: 10px;
          color: $black;
          width: 505px;
          a {
            color: $black;
            font-weight: 700 !important;
            text-decoration: underline;
          }
        }
      }
      @include responsive-width($desktop_s) {
        padding-left: 25px;
      }
    }
  }
}
