.entel__slider--home__item__content.entel__slider--home__bf_liberados {
    background: $black;
    padding: 0;
        
    background-image: url($m_image_path+'2021/11/banner-lib-back-mob.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;

    @include responsive-width($tablet-m) {
        background-image: url($m_image_path+'2021/11/banner-lib-back-tab.jpg');
        background-size: cover;
    }

    @include responsive-width($laptop-s) {
        background-image: url($m_image_path+'2021/11/banner-lib-back-desk.jpg');
        background-position: bottom center;
    }

    @include responsive-width($laptop-m) {
        background-image: url($m_image_path+'2021/11/banner-lib-back-big.jpg');
    }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
            height: 100%;
            top: 0;
            -ms-transform: none;
            transform: none;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 60px 0 0 20px;
        
            @include responsive-width($tablet-m) {
                width: 100%;
                text-align: left;
                padding-left: 60px;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 40px;
            }

            @include responsive-width($laptop-m) {
                margin-bottom: 15px;
            }

            img {
                position: relative;
                display: inline-block;
                width: auto;

                @include responsive-width($tablet-m) {
                    margin-left: 0;
                    width: auto;
                }

                // @include responsive-width($laptop-m) {
                //     margin-left: -100px;
                // }
            }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            top: 0;
            right: 0;
            margin: 0;
            width: 100%;
            position: absolute;
            text-align: right;
            padding-right: 15px;
            padding-top: 8px;
        
            @include responsive-width($tablet-m) {
                margin: 0;
                padding: 0;
                position: absolute;
                top: auto;
                bottom: 50px;
                left: auto;
                right: 0;
                -ms-transform: none;
                transform: none;
            }

            @include responsive-width($laptop-m) {
                // right: -20px;
            }

            &-img {
                position: relative;
                display: block;
                height: 100%;
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;   
                margin-right: 0;
        
                @include responsive-width($tablet-m) {    
                    margin-right: 60px;
                }

                @include responsive-width($laptop-s) {
                    margin-right: 40px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                    // margin-right: -110px;
                }
            }
        }

        .e-button-buy {
            margin-top: 22px;
            text-align: left;
            margin-left: 15px;
        
            @include responsive-width($tablet-m) {
                margin-top: 20px;
                margin-left: 54px;
            }

            @include responsive-width($laptop-s) {
                margin-left: 40px;
            }

            // @include responsive-width($laptop-m) {
            //     // margin-left: 0;
            // }

            .btn-buy {
                height: 40px;
                width: 142px;
                padding: 0;
                margin: 0;
                line-height: 36px;
                font-size: 12px;
        
                @include responsive-width($tablet-m) {
                    margin: 0;
                    width: 186px;
                    height: 50px;
                    font-size: 14px;
                    line-height: 48px;
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $white;
            text-align: right;
            letter-spacing: -0.01em;
            z-index: 4;
    
            &__mob {
                padding-left: 10px;
                margin: 7px auto 0;
                text-align: left;
                padding-right: 0;
                bottom: 12px;
    
                @include responsive-width($tablet-m) {
                    width: 460px;
                    bottom: 20px;
                    padding-left: 65px;
                }
    
                @include responsive-width($laptop-s) {
                    display: none;
                }
            }
    
            &__desk {
                display: none;
    
                @include responsive-width($laptop-s) {
                    font-size: 9px;
                    display: block;
                    right: auto;
                    padding: 0;
                    margin: 0;
                    text-align: justify;
                    line-height: 10px;
                    max-width: 910px;
                    right: auto;
                    left: 40px;
                    bottom: 15px;
                    color: #9E9FA1;
    
                    a {
                        color: #9E9FA1 !important;
                    }
                }
    
                @include responsive-width($laptop-m) {
                    left: 50px;
                    max-width: 1000px;
                }
            }
    
            a {
                color: $white;
                text-decoration: underline;
                @include responsive-width($laptop-s) {
                    text-decoration: none;
                }
            }
        }
    }
}
