- banner_name = 'Lanzamiento - Apple iPhone 14'
- banner_link = 'https://miportal.entel.pe/personas/catalogo/postpago/renovacion?marca=honor#productos'

.entel__slider--home__item(
  data-entel-slide-index='1' 
  data-entel-slide-time='8000' 
  data-layer-id='slider_'+banner_name  
  data-layer-name='Banner'+banner_name 
  data-layer-position='Home - Banner Superior 1' 
  data-layer-creative=banner_link
  )

  .entel__slider--home__item__content.entel__slider--home__item__content--honor-x7a
    .e-container
      .e-container-flex
        .e-container-flex__item.e-container-flex__item--1.fadeInLeft
          .e-container-flex__item_title-honor-x7a
            h2 Lanzamiento
            .logo-honor-x7a
              +mx_picture_retina_all("", img_path+"2023/01/logo-honor-x7a-enero", "png", "Logo de Honor x7A")
          .e-container-flex__item_specs-honor-x7a 
            p Energía eXtraordinaria
            .specs_list
              .specs_list__item 
                +mx_picture_retina("", img_path+"2023/01/banner-lanzamiento-honor-x7a-enero-icon-spec1", "png", "Logo de Honor x7A")
                span Gran almacenamiento de 6+128GB¹
              .specs_list__item 
                +mx_picture_retina("", img_path+"2023/01/banner-lanzamiento-honor-x7a-enero-icon-spec2", "png", "Logo de Honor x7A")
                span Batería de 5330mAh con carga reversible²
              .specs_list__item 
                +mx_picture_retina("", img_path+"2023/01/banner-lanzamiento-honor-x7a-enero-icon-spec3", "png", "Logo de Honor x7A")
                span Cámara cuádruple de 50MP³
          a(class='e-button e-button--orange e-container-flex__item_btn-honor-x7a' href=banner_link 
              target='_BLANK' 
              data-gtm-category='Home Banner' 
              data-gtm-action='Seleccionar botón' 
              data-gtm-label='Lanzamiento - Apple iPhone 14 - regístrate para la preventa' 
              data-gtm-product='Personas' 
              data-gtm-tipo='Informativo') #[span Lo quiero]
          //- small.tyc Stock Mínimo a nivel nacional: 200 equipos

        .e-container-flex__item.e-container-flex__item--2.fadeInRight
          .e-container-flex__item_img-honor-x7a_detail
          +mx_picture_retina_all("", img_path+"2023/01/banner-lanzamiento-honor-enero", "png", "Imágenes de Iphone 14 Pro")(class="top-bottom")
        //- .e-container-flex__item.e-container-flex__item--3.fadeInRight
          +lazy_image_webp_retina_media('2021/12/e-home-banner-fms-img-mob', 'png', '2021/12/e-home-banner-fms-img-desk', '768', 'Participantes FMS')(class="zoom")