.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='' data-layer-name='' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__item__lanzamiento_samsung2

        .principalcontent
            //- .principalcontent-detail
            .principalcontent__textbanner 
                +mx_picture_retina_extra('title', img_path + '2023/02/banner-lanzamiento-samsung-tit2', 'png', '')

                .e-button-buy
                    a.btn-buy.animated.btn-datalayer(href='https://miportal.entel.pe/personas/catalogo/postpago/renovacion?marca=samsung' target='_blank'  data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Liberados - 04') Lo quiero

            .principalcontent__imgbanner
                //- .principalcontent__imgbanner-detail
                +mx_picture_retina_extra('', img_path + '2023/02/banner-lanzamiento-samsung-pro2', 'png', '') 

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://miportal.entel.pe/personas/catalogo/postpago/migra#terminos-y-condiciones") AQUÍ!]]