- banner_name = 'Lanzamiento - Honor X8a'
- banner_link = 'https://miportal.entel.pe/personas/producto/Equipos/prod460043?poId=PO_BSC_EQP_27107&modalidad=Portabilidad&oferta=especial'

.entel__slider--home__item(
  data-entel-slide-index='1' 
  data-entel-slide-time='8000' 
  data-layer-id='slider_'+banner_name  
  data-layer-name='Banner'+banner_name 
  data-layer-position='Home - Banner Superior 2' 
  data-layer-creative=banner_link
  )

  .entel__slider--home__item__content.entel__slider--home__item__content--honor-x8a
    .e-container
      .e-container-flex
        .e-container-flex__item.e-container-flex__item--1.fadeInLeft
          .e-container-flex__item_title-honor-x8a
            h2 Lanzamiento
            .logo-honor-x8a
              +mx_picture_retina_all("", img_path+"2023/02/logo-honor-x8a-feb", "png", "Logo de Honor X8a")
          .e-container-flex__item_specs-honor-x8a 
            p Energía eXtraordinaria
            .specs_list
              .specs_list__item 
                +mx_picture_retina("", img_path+"2023/01/banner-lanzamiento-honor-x7a-enero-icon-spec3", "png", "Icon de cámara")
                span Cámara Triple de 100MP¹
              .specs_list__item 
                +mx_picture_retina("", img_path+"2023/01/banner-lanzamiento-honor-x7a-enero-icon-spec1", "png", "Icon de memoria")
                span Super Memoria de 8+128GB²
              .specs_list__item 
                +mx_picture_retina("", img_path+"2023/02/banner-lanzamiento-honor-x8a-feb-icon-spec3", "png", "Icon de diseño")
                span Elegante y delgado con 7.48 mm³
          a(class='e-button e-button--orange e-container-flex__item_btn-honor-x8a' href=banner_link 
              target='_BLANK' 
              data-gtm-category='Home Banner' 
              data-gtm-action='Seleccionar botón' 
              data-gtm-label='Lanzamiento - Honor X8a' 
              data-gtm-product='Personas' 
              data-gtm-tipo='Informativo') #[span Lo quiero]
          //- small.tyc Stock Mínimo a nivel nacional: 200 equipos

        .e-container-flex__item.e-container-flex__item--2.fadeInRight
          .e-container-flex__item_img-honor-x8a_detail
          +mx_picture_retina_all("", img_path+"2023/02/banner-lanzamiento-honor-feb", "png", "Imágenes de Honor X8a")(class="top-bottom")
        //- .e-container-flex__item.e-container-flex__item--3.fadeInRight
          +lazy_image_webp_retina_media('2021/12/e-home-banner-fms-img-mob', 'png', '2021/12/e-home-banner-fms-img-desk', '768', 'Participantes FMS')(class="zoom")