.entel__slider--home__item(data-entel-slide-index='4' data-entel-slide-time='8000' data-layer-id='' data-layer-name='' data-layer-position='Home - Banner Superior 4' data-layer-creative='')
    .entel__slider--home__item__content.entel__slider--home__item__cuotas_sin_interes

        .principalcontent
            .principalcontent-detail
            .principalcontent__textbanner 
                +mx_picture_retina('title', img_path + '2023/02/banner-cuotasininteres-tit', 'png', 'Migra Postpago El celu que tanto deseas')

                .e-button-buy
                    a.btn-buy.animated.btn-datalayer(href='https://miportal.entel.pe/personas/catalogo/postpago/migra' target='_blank'  data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Cuotas Sin Interes - 04') Lo quiero

            .principalcontent__imgbanner
                .principalcontent__imgbanner-detail
                +mx_picture_retina_extra('', img_path + '2023/02/banner-cuotasininteres-prod', 'png', 'hasta en 6 cuotas sin interes') 

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://miportal.entel.pe/personas/catalogo/postpago/migra#terminos-y-condiciones") AQUÍ!]]