.entel__slider--home__item(data-entel-slide-index='5' data-entel-slide-time='8000' data-layer-id='Accesorios' data-layer-name='Accesorios' data-layer-position='Home - Banner Superior 5' data-layer-creative='https://miportal.entel.pe/personas/catalogo/accesorios')
    .entel__slider--home__item__content.entel__slider--home__item__accesorios
        .principalcontent
            .principalcontent__textbanner 
                +mx_picture_retina_extra('', img_path + '2022/11/banner-nuevo-acc-tit', 'png', 'Encuentra el accesorio perfecto para tu celu')

            .e-button-buy
                a.btn-buy.animated.btn-datalayer(href='https://miportal.entel.pe/personas/catalogo/accesorios' target='_blank'  data-gtm-action='Accion en banner ' data-gtm-category='Entel home_Banners' data-gtm-label='Accesorios - 05') Lo quiero

            .principalcontent__imgbanner
                .principalcontent__imgbanner-img
                    +mx_picture_retina_extra('', img_path + '2023/01/banner-nuevo-acc-prod', 'png', 'Earpods con conector Lightning - Xiaomi Redmi Buds 3 Lite - Mi Smart Speaker Asistente de voz')

            small.e-legal-small.e-legal-small__mob Aplican términos y condiciones #[strong #[a( href="https://miportal.entel.pe/personas/catalogo/postpago/migra#terminos-y-condiciones") AQUÍ!]]