.app_mientel_box {
  background-color: #004fb9;
  //   border-radius: 15px;
  position: relative;
  top: 25px;
  z-index: 2;
  box-shadow: 2.69975px 2.69975px 13.4988px rgba(48, 106, 184, 0.25);
  border-radius: 8px;
  margin: 0 1rem;
  max-width: 734px;
  @include responsive-width($tablet_m){
    margin: 0 auto;
  }
  .app_mientel {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    @include responsive-width($tablet_m) {
      justify-content: space-around;
    }
  }
  .img {
    position: absolute;
    top: 17px;
    left: 0;
    @include responsive-width($tablet_m) {
      position: relative;
      top: inherit;
      left: inherit;
    }
  }
  .btn {
    a {
      min-width: 140px;
    }
  }
  .text {
    h4,
    p {
      color: #fff;
      margin-right: 10px;
    }
    h4 {
      text-align: left;
      margin-left: 35px;
      @include responsive-width($tablet_m){
          text-align: inherit;
          margin-left: inherit;
      }
    }
  }
}
