.entel-autoservice {
    padding: 50px 0 0;
    background-color: #DDECFF;

    @include responsive-width($tablet_m) {
        padding: 80px 14px 0;
    }
    @include responsive-width($tablet_l) {
        padding: 80px 0 0;
        overflow: hidden;
    }

    .e-container {
        width: 900px;
        max-width: 100%;
    }

    h2 {
        font-weight: 300;
        color: #383C47;
        text-align: center;
        margin-bottom: 21px;
    }

    .e-auto-channel {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;

        &_item {
            display: flex;
            position: relative;
            margin-bottom: 20px;
            padding-bottom: 15px;
            justify-content: center;
            @include responsive-width($tablet_m) {

            }
            &_box {
                bottom: 0px;
                width: 304px;
                height: 88px;
                display: flex;
                border-radius: 8px;
                position: absolute;
                align-items: center;
                background: #F3F7F9;
                box-shadow: 2.69975px 2.69975px 13.4988px rgba(48, 106, 184, 0.25);
                @include responsive-width($tablet_m) {
                    width: 407px;
                    height: 130px;
                }

                .e-button {
                    min-width: 140px;
                    @include responsive-width($tablet_m) {
                        width: 150px;
                    }
                }

                &_left {
                    width: 111px;   
                    margin: 5px 20px 0 14px;
                        @include responsive-width($tablet_m) {
                            width: 165px;             
                            margin: 0 31px;
                    }

                    span {
                        font-size: 12px;
                        color: #004FB9;
                        line-height: 20px;
                        @include responsive-width($tablet_m) {
                            font-size: 18px;
                            line-height: 20px;                        
                        }
                    }
                    p {
                        margin: 6px 0;
                        font-size: 10px;
                        color: #383C47;
                        line-height: 15px;
                        @include responsive-width($tablet_m) {
                            font-size: 14px;
                            line-height: 20px;                 
                        }
                    }

                    .title {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        @include responsive-width($laptop_m) {
            width: auto;
            margin-bottom: 0;
            margin: 35px 0 60px;
            flex-direction: row;
            align-items: center;

            & > div {
                height: 430px;
                min-width: 560px;
            }

            .e-title {
                font-size: 30px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    h5 {
        color: #111111;
        font-weight: 400;
        text-align: center;
        margin-bottom: 42px;

        @include responsive-width($tablet_m) {
            text-align: left;
        }
    }

    .e-container-sm {
        width: 900px;
        margin: 0 auto;
        max-width: 100%;
    }
}
