.e-benefits {
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 1rem;

  @include responsive-width($laptop_s) {
    position: relative;
  }

  &-bg {
    &-rectangle {
      left: 10px;
      bottom: 192px;
      position: absolute;

      @include responsive-width($laptop_s) {
        left: -90px;
        bottom: 210px;
      }
    }

    &-circle {
      top: 100px;
      right: 10px;
      position: absolute;
      position: absolute;

      @include responsive-width($laptop_s) {
        top: 110px;
        right: -20px;
      }

      @include responsive-width($laptop_m) {
        right: -140px;
      }
    }
  }

  h2 {
    margin: 0 auto;
    font-size: 24px;
    max-width: 266px;
    color: #383c47;
    line-height: 108%;
    font-weight: bold;
    text-align: center;
    padding-bottom: 14px;
    letter-spacing: -0.01em;

    @include responsive-width($tablet_s) {
      font-size: 34px;
      line-height: 44px;
      max-width: inherit;
      letter-spacing: -0.03em;
    }
  }

  .e_title_card {
    margin-top: 25px;
    margin-bottom: 5px;

    @include responsive-width($laptop_s) {
      //   max-width: 200px;
      text-align: center;
      margin-bottom: 12px;
    }

    span {
      font-size: 16px;
      color: #004fb9;
      line-height: 10px;

      @include responsive-width($laptop_m) {
        font-size: 20px;
        // line-height: 20px;
        margin-bottom: 12px;
      }
    }
  }

  .e_subtitle_card {
    p {
      font-size: 14px;
      max-width: 221px;
      text-align: left;
      color: #191919;
      line-height: 20px;
      margin: 0 10px 0 0;

      @include responsive-width($laptop_m) {
        font-size: 16px;
        // line-height: 22px;
        max-width: inherit;
        text-align: center;
      }
    }
  }

  .e-benefits__text p {
    padding: 14px;
    font-size: 20px;
    color: #004fb9;
    line-height: 24px;

    @include responsive-width($tablet_s) {
      font-size: 30px;
      line-height: 24px;
      padding-top: 30px;
      padding-bottom: 25px;
    }
  }

  .e-benefits_card+p {
    line-height: 12px;
    padding-bottom: 15px;

    @include responsive-max-width($laptop_s) {
      font-size: 10px;
    }
  }

  p {
    margin: 0 auto;
    font-size: 14px;
    color: #383c47;
    line-height: 20px;
    max-width: 321px;
    text-align: center;
    font-weight: normal;
    padding-bottom: 23px;

    @include responsive-width($tablet_s) {
      max-width: inherit;
    }

    @include responsive-width($laptop_s) {
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      max-width: inherit;
    }
  }

  #slider-benefits-nav {
    max-width: 330px;
    margin: 0 auto;

    @include responsive-width($laptop_s) {
      max-width: 630px;
    }

    p {
      color: #9e9fa1;
      margin-top: 5px;
    }
  }

  #slider-benefits-for {
    .slick-list {
      min-height: 435px;
    }
  }

  &_card_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    @include responsive-width($tablet_m) {
      //   display: block;
      //   text-align: center;
    }

    &_item {
      margin: 8px 0;
    }
  }

  &_card_for {
    width: 290px;
    position: relative;
    display: flex;
    transition: transform 400ms ease-in-out;
    margin: 0.5rem 1rem;

    &:hover {
      transform: translate(0, -3px);
    }

    @include responsive-width($laptop_m) {
      flex-direction: column;
    }

    // @include responsive-width($tablet_m) {
    //   margin: 10px 20px;
    //   text-align: left;
    //   display: inline-block;
    // }

    // @include responsive-width($laptop_m) {
    //   width: 465px;
    //   transform: translate(0, 0);
    // }

    &_img {
      text-align: center;

      picture {
        display: inline-block;
      }

      img {
        margin: 0 auto;
      }
    }

    &_txt {
      left: 6px;
      z-index: -1;
      width: 289px;
      bottom: 12px;
      height: 100px;
      display: flex;
      margin: 0 auto;
      position: absolute;
      border-radius: 15px;
      padding-left: 110px;
      box-sizing: border-box;
      background: #f7f8fa;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      border: 1px solid #c9def8;
      box-shadow: 1px 3px 14px rgba(48, 106, 184, 0.25);

      @include responsive-width($laptop_m) {
        width: 220px;
        height: 205px;
        padding-left: 0px;
        bottom: 40px;
        position: relative;
        left: inherit;
        justify-content: center;
        align-items: center;
      }

      &_headline {
        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
          margin: 0;
        }
      }
    }

    a {
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      position: absolute;
    }
  }

  &-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;

    p {
      padding: 0;
      @include fz(9, 10, 12);
      line-height: inherit;
      text-align: left;
      width: 100%;
      margin-left: 0;
      margin-right: 0;

      @include responsive-width($mobile_l) {
        width: 50%;
      }
    }

    .img {
      width: 67px;

      @include responsive-width($tablet_m) {
        width: 100px;
      }
    }
  }

  .oferta-mob {
    &::after {
      position: absolute;
      content: "Ofertas exclusivas";
      font-weight: 600;
      font-size: 9px;
      color: #f3f7f9;
      background-color: #FF7F4F;
      right: 0;
      top: 0;
      width: 92.25px;
      height: 21px;
      text-align: center;
      line-height: 19px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 10px;

      @include responsive-width($laptop_m) {
        content: none;
      }
    }
  }

  .oferta-desk {
    &::after {
      content: none;

      @include responsive-width($laptop_m) {
        position: absolute;
        content: "Ofertas exclusivas";
        font-weight: 600;
        font-size: 12px;
        color: #f3f7f9;
        background-color: #FF7F4F;
        width: 123px;
        height: 28px;
        text-align: center;
        line-height: 26px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        left: 22px;
        top: 6px;
      }
    }
  }
  .e-home-benefits-peru,.e-home-benefits-chile{
    display: none;
  }

  .e-home-benefits-chile {
    h2 {
      max-width: 280px;
      margin-bottom: 45px;
      color: #383C47;

      @include responsive-width($tablet_m) {
        max-width: 370px;
        margin-bottom: 55px;
      }
    }

    .slick__persons {
      padding-left: 0px;
      padding-right: 0px;
    }

    .benefits-home-b {
      @include responsive-width($tablet_m) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
      }
      @include responsive-width($laptop_s){
        gap: 70px;
      }

      &__card {
        width: 265px;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;

        @include responsive-width($tablet_m) {
          display: flex;
          width: 450px;
          margin: 0;
          margin-bottom: 35px;
        }
        @include responsive-width($laptop_s){
          margin-bottom: 65px;
        }
      }

      &__image {
        @include responsive-width($tablet_m) {
          order: 2;
          flex-shrink: 0;
        }
      }

      &__content {
        @include responsive-width($tablet_m) {
          order: 1;
          margin-right: -35px;
        }

        &__text {
          text-align: left;
          margin: auto;
          margin-top: -8px;
          padding-top: 18px;
          padding-bottom: 10px;
          padding-right: 20px;
          padding-left: 20px;
          background-color: #F7F8FA;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;

          @include responsive-width($tablet_m) {
            margin-top: 0px;
            width: 280px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            height: 300px;
            padding-left: 32px;
            padding-top: 50px;
          }

          h3 {
            font-size: 14px;
            margin-bottom: 5px;
            color: #383C47;

            @include responsive-width($tablet_m) {
              font-size: 30px;
              height: 65px;
              margin-bottom: 25px;
              width: 208px;
              align-items: center;
            }
          }
          .benefit-title-1{
            @include responsive-width($tablet_m){
              display: none;
            }
          }
          .benefit-title-2{
            display: none;
            @include responsive-width($tablet_m){
              display: flex;
            }
          }

          p {
            color: #383C47;
            text-align: left;
            font-size: 10px;
            margin-bottom: 8px;
            padding: 0;

            @include responsive-width($tablet_m) {
              width: 170px;
              font-size: 14px;
              margin: 0;
              margin-bottom: 25px;
              line-height: 130%;
            }
          }

          a {
            font-weight: 700;
            font-size: 14px;
            text-decoration: underline;
            text-decoration-color: #FF560A;

            @include responsive-width($tablet_m) {
              background-color: #FF560A;
              color: $white;
              width: 175px;
              text-decoration: none;
              display: inline-block;
              text-align: center;
              padding: 17px 0;
              border-radius: 50px;
            }
          }
        }
      }

    }
  }
  .benefits-home-b__card:nth-child(3){
    .benefits-home-b__content{
      &__text{
        @include responsive-width($tablet_m){
          p{
            width: 180px;
          }
        }
      }
    }
  }
  .e-home-benefits-peru,.e-home-benefits-chile{
    display: none;
    &.e-home-active{
      display: block;
    }
  }
}