.entel-cintillo-footer {
  position: relative;
  background: linear-gradient(91deg, #14a6f8 30.23%, #0f54ba 66.37%),
    linear-gradient(90deg, #05b9f1 1.64%, #05b9f1 115%);
  padding: 0;
 
  
  .container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // max-width: 1120px;
    // margin-left: auto;
    // margin-right: auto;
    .item-flex {
      //   position: relative;
    //   width: 50%;
      > picture {
        display: inline-block;
        vertical-align: bottom;
        float: right;
        img {
          display: block;
          margin-left: auto;
          margin-right: 0;
        }
      }
      > p {
        margin-bottom: 0;
      }
      > p,
      > a {
        display: inline;
        font-size: 13px;
        @include responsive-width($tablet_m){
            font-size: 20px;
        }
      }
      > a {
        text-transform: uppercase;
        text-decoration-line: underline;
        font-weight: bold;
        margin-left: 5px;
      }
    }
    .right {
      width: 70%;
      text-align: left;
      padding-right: 1rem;
      height: 60px;
      display: flex;
      justify-content: left;
      align-items: center;
      padding-left: 1rem;
        &::after {
          content: "";
          right: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: -1;
          top: 0;
          background-position: left;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: m_image_url("2021/12/cintillo-footer-bg-rigth-mob.png");
          @include backgound_retina {
            background-image: m_image_url(
              "2021/12/cintillo-footer-bg-rigth-mob@2x.png"
            );
          }
          @include responsive-width($tablet_m) {
            background-image: m_image_url(
              "2021/12/cintillo-footer-bg-rigth-desk.png"
            );
            @include backgound_retina {
              background-image: m_image_url(
                "2021/12/cintillo-footer-bg-rigth-desk@2x.png"
              );
            }
          }
        }
        
    }
    .left,.right {
      position: relative;
    }
    .left {
      padding-right: 30px;
      width: 35%;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        background-position: right;
        background-size: cover;
        position: absolute;
        background-repeat: no-repeat;
        background-image: m_image_url("2021/12/cintillo-footer-bg-left.png");
        @include backgound_retina {
          background-image: m_image_url("2021/12/cintillo-footer-bg-left@2x.png");
        }
      }
    }
  }
}
