.entel-contact {
  background-color: #f7f8fa;
  padding-top: 20px;

  @include responsive-width($tablet_m) {
    padding-top: 40px 14px 80px;
  }

  @include responsive-width($tablet_l) {
    padding: 60px 0 80px;
  }

  .e-container {
    width: 100%;
    max-width: 680px;
    text-align: center;
    @include responsive-width($laptop_m) {
      max-width: 1130px;
    }
  }
  .e-tab__texto--personas__nav span {
    font-size: 10px;
    @include responsive-width($tablet_m) {
      font-size: 12px;
    }
    @include responsive-width($laptop_s) {
      font-size: 14px;
    }
  }
  .e-tab__texto--personas__button-css {
    padding: 7px;
  }
  .e-tab__texto--personas__content {
    padding-top: 30px;
  }
  h2 {
    color: #111111;
    margin-bottom: 21px;
    font-weight: 300;
    text-align: center;

    @include responsive-width($tablet_m) {
      text-align: center;
      margin-bottom: 60px;
    }
  }
  h4 {
    font-size: 16px;
    line-height: 24px;
    color: #383C47;
    font-weight: 500;
    picture {
      margin-right: 10px;
    }
  }
  .text-option {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 12px;
    @include responsive-width($tablet_m) {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      margin-left: 15px;
      margin-top: 0;
    }
    @include responsive-width($laptop_s) {
      font-size: 16px;
      line-height: 20px;
    }
    &-green {
      color: #43D854;
    }
    &-blue {
      color: #007FFF;
    }
  }
  .contact-social-network,
  .contact-roaming {
    display: flex;
    flex-direction: row;
    justify-content: center;
    &--left {
      position: relative;
      &::before {
        content: url("data:image/svg+xml;charset=utf8,%3Csvg width='1' height='61' viewBox='0 0 1 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.75' y1='60.739' x2='0.749997' y2='0.738953' stroke='%239E9FA1' stroke-width='0.5'/%3E%3C/svg%3E");
        position: absolute;
        right: -30px;
        top: 0;
        bottom: 0;
        margin: auto;
        @include responsive-width($tablet_m) {
          right: -40px;
        }
      }
    }
    &--right,
    &--left {
      margin: 0 30px;
      @include responsive-width($tablet_m) {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 40px;
      }
    }
  }
  .contact-number-phone,
  .contact-roaming-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    div {
      margin: 0 10px;
      text-align: left;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #383C47;
      margin-bottom: 10px;
    }
    .num {
      font-weight: 700;
      font-size: 24px;
      line-height: 20px;
      color: #004FB9;
    }
  }
  .contact-roaming-2 {
    margin-top: 30px;
  }
  .contact-bloqueo {
    display: flex;
    flex-direction: column;
    max-width: 606px;
    margin: auto;
    @include responsive-width($tablet_m) {
      flex-direction: row;
    }
    &--left {
      position: relative;
      @include responsive-width($tablet_m) {
        width: 50%;
        &::before {
          content: url("data:image/svg+xml;charset=utf8,%3Csvg width='1' height='61' viewBox='0 0 1 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.75' y1='60.739' x2='0.749997' y2='0.738953' stroke='%239E9FA1' stroke-width='0.5'/%3E%3C/svg%3E");
          position: absolute;
          right: 25px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    &--right {

      @include responsive-width($tablet_m) {
        width: 50%;
      }
    }
    &--left,
    &--right {
      display: flex;
      flex-direction: row;
      text-align: left;
      margin: 15px 0;
      div:first-child {
        width: 30%;
        @include responsive-width($tablet_m) {
          width: 25%;
        }
      }
      div:last-child {
        width: 70%;
        @include responsive-width($tablet_m) {
          width: 75%;
        }
      }
    }
    p {
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: #004FB9;
      margin-bottom: 0;
      @include responsive-width($tablet_m) {
        font-size: 16px;
        line-height: 24px;
      }
    }
    span {
      font-size: 14px;
      line-height: 24px;
      color:#383C47
    }
    .num {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #004FB9;
      @include responsive-width($tablet_m) {
        font-size: 24px;
      }
    }
  }
  .contact-stores {
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    @include responsive-width($tablet_m) {
      border: 0.8px solid #9E9FA1;
      border-radius: 10px;
      padding: 20px;
      max-width: 556px;
      margin: auto;
    }
    &--right {
      text-align: left;
      width: 70%;
      @include responsive-width($tablet_m) {
        width: 80%;
      }
    }
    &--left {
      width: 30%;
      @include responsive-width($tablet_m) {
        width: 20%;
      }

    }
    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #004FB9;
      margin-bottom: 10px;
      @include responsive-width($tablet_m) {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
      }
      @include responsive-width($laptop_s) {
        font-size: 20px;
        line-height: 24px;
      }
    }
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #191919;
      @include responsive-width($tablet_m) {
        font-size: 14px;
        line-height: 16px;
      }
      @include responsive-width($laptop_s) {
        font-size: 16px;
        line-height: 19px;
      }
      a {
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
  &-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: 300px;

    @include responsive-width($tablet_m) {
      width: 100%;
      margin: auto;
    }

    &>div {
      display: flex;
      position: relative;
      flex-direction: row;
      background-size: cover;
      justify-content: center;
      align-items: center;
      padding: 0 21px 21px 0;
      background-repeat: no-repeat;

      @include responsive-width($tablet_m) {
        margin: auto;
      }

      &:last-of-type {
        img {
          width: 80px;
          margin-right: 24px;
        }
      }

      img {
        margin-right: 14px;
        width: 90px;
      }

      .e-title {
        color: $blue;
        font-size: 20px;
        font-weight: 700 !important;
        text-align: left;
        margin-bottom: 0;
        // color: inherit;
        // cursor: pointer;
        // line-height: 0;

        // span {
        //   color: #191919 !important;
        //   font-size: 12px !important;
        // }

        a {
          color: inherit;
          cursor: pointer;
          font-weight: 700 !important;

          // span {
          //   color: #191919 !important;
          //   font-size: 12px !important;
          // }
        }
      }

      p {
        color: #383c47;
        margin-bottom: 0;
        font-size: 15px;

        @include responsive-width($mobile_m) {
          font-size: 16px;
        }
      }
    }

    @include responsive-width($tablet_m) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 0;
      padding: 21px 0;
      width: auto;
      flex-wrap: wrap;

      &>div {
        padding: 0 56px 21px 0;
      }

      .e-title {
        font-size: 30px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  h5 {
    color: #111111;
    margin-bottom: 42px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;

  }

  &-redes {
    text-align: center;

    @include responsive-width($tablet_m) {
      text-align: center;
      max-width: 800px;
      margin: auto;
    }

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 7px;

      @include responsive-width($tablet_m) {
        padding-right: 14px;
        display: inline-block;
      }
    }

    a {
      font-weight: 500;
      display: inline-block;
      text-align: center;
      margin: 0 19px;
      transform: translateY(0);
      transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;

      &:hover {
        transform: translateY(-2px);
      }

      &:active {
        transform: translateY(2px);
      }

      span {
        display: block;
        max-width: 50px;

        @include responsive-width($tablet_m) {
          margin: 10% 0;
          display: inherit;
          max-width: inherit;
        }
      }

      @include responsive-width($tablet_m) {
        font-size: 16px;
        margin-right: 60px;
        margin-left: 0;
      }

      @include responsive-width($laptop_s) {
        margin-right: 80px;
      }
    }

    .e-wsp {
      color: $wsp_green;
    }

    .e-fb {
      color: #007fff;
    }

    .e-tienda {
      color: $blue;
    }
  }

  .e-container-sm {
    width: 900px;
    margin: 0 auto;
    max-width: 100%;
  }
}