// @import 'headband/headband-entel-telegram-singal.scss';
// @import 'headband/headband-entel-day-enero-2021.scss';
// @import 'headband/headband-enero-lgvelvet.scss';
// @import 'headband/headband-febrero-padrino.scss';
// @import 'headband/headband-entel-day-feb-2021.scss';
// @import 'headband/headband-vivo-y20-feb-2021.scss';
// @import 'headband/headband-entel-day-abril-2021.scss';
// @import 'headband/headband-jueves-entel-02-06-21.scss';
// @import 'headband/headband-cyberwow-pre-2021.scss';
// @import 'headband/headband-cyberentel-countdown-2021.scss';

// .e-countdown__reg {
//     // border-top: 1px solid #ffffff;
//     // background-color: $extra_blue;
//     background-image: url('https://www.entel.pe/wp-content/uploads/2020/10/cyberwow-cintillo.jpg');
//     background-position: center center;
//     background-size: cover;

//     position: relative;
//     width: 100%;
//     height: 62px;
//     bottom: 0;
//     left: 0;
//     z-index: 5;
//     padding: 0;
//     // display: none;
//     text-align: center;
//     cursor: default;
//     -moz-user-select: none; 
//     -webkit-user-select: none;
//     -ms-user-select: none;
//     user-select: none; 

//     @media (min-width: $tablet-s) {
//         // position: relative;
//         height: 100px;
//     }

//     &-fix {
//         @media (min-width: $tablet-s) {
//             height: 50px;
//         }
//     }

//     &-container{
//         display: inline-flex;
//         flex-wrap: wrap;
//         justify-content: center;
//         height: 62px;
//         // max-width: 290px;
//         margin: 0 auto;

//         @media (min-width: $tablet-s) {
//             height: 100px;
//             // max-width: 542px;
//         }

//         &-fix {
//             // max-width: 220px;

//             @media (min-width: $tablet-s) {
//                 height: 50px;
//                 // max-width: 510px;
//             }
//         }
//         .e-time {
//             &-container {
//                 display: flex;
//             }

//             &-item {
//                 padding: 0 7px;
//                 text-align: center;

//                 &:first-child {
//                     padding-left: 0px;
//                 }

//                 &:last-child {
//                     padding-right: 0px;
//                 }

//                 &__number {
//                     display: block;
//                     font-weight: bold;
//                     font-size: 16px;
//                     background: $white;
//                     margin-bottom: 4px;
//                     line-height: 30px;
//                     height: 30px;
//                     width: 30px;
//                     -webkit-border-radius: 2px;
//                     -moz-border-radius: 2px;
//                     border-radius: 2px;

//                     @media (min-width: $tablet-s) {
//                         height: 60px;
//                         width: 60px;
//                         line-height: 60px;
//                         -webkit-border-radius: 6px;
//                         -moz-border-radius: 6px;
//                         border-radius: 6px;
//                         font-size: 35px;
//                     }
//                 }

//                 span {
//                     display: block;
//                     color: $white;
//                     font-weight: bold;
//                     font-size: 10px;
//                     line-height: 1.5em;

//                     @media (min-width: $tablet-s) {
//                         font-size: 12px;
//                     }
//                 }
//             }
//         }
//     }

//     &-detail {
//         text-align: left;
//         // width: 155px;
//         padding-left: 7px;
//         padding-right: 7px;
//         font-size: 10px;
//         color: $white;
//         display: flex;
//         align-items: center;

//         @media (min-width: $tablet-s) {
//             position: relative;
//             height: 100px;
//             // width: 320px;
//             font-size: 17px;
//             padding-left: 9px;
//             padding-right: 9px;
//             // padding-left: 24px;
//             // padding-right: 40px;
//         }
        
//         &-fix {
//             // width: 176px;
//             font-size: 14px;
//             // font-weight: bold;

//             @media (min-width: $tablet-s) {
//                 height: 50px;
//                 font-size: 20px;
//                 // width: 643px;
//             }
//         }
//         p {
//             margin: 0;
//             color: $white;
//             font-size: 10px;
//             line-height: 12px;

//             @media (min-width: $tablet-s) {
//                 font-size: 17px;
//                 line-height: 19px;
//             }

//             span {
//                 // font-weight: bold;
//             }
//             br {

//                 // @media (min-width: $laptop-s) {
//                 //     display: none;
//                 // }

//             }
//         }
//         strong {
//             // display: block;
//             @media (min-width: $tablet-s) {
//                 display: inline;
//             }
//             &:first-child {
//                 // text-transform: uppercase;
//             }        
//         }
//     }

//     &-time {
//         display: flex;
//         align-items: center;
//     }

//     &-img {
//         display: flex;
//         align-items: center;
//         width: 24px;

//         @media (min-width: $tablet-s) {
//             width: 50px;
//         }
        
//         &-fix {
//             width: 44px;

//             @media (min-width: $tablet-s) {
//                 width: 53px;
//                 height: 50px;
//             }

//             img {
//                 width: 80px;
//             }
//         }
//     }
// }

// .entel-product .e-countdown {
//     background-color: $blue;
// }