.entel-world {
    overflow: hidden;
    text-align: center;
    background-color: #1D80C9;

    .e-container {
        padding: 0;

        @include responsive-width($tablet_s) {
            width: 560px;
            text-align: right;
        }

        @include responsive-width($tablet_m) {
            width: 700px;
        }

        @include responsive-width($laptop_m) {
            width: 920px;
        }

        @include responsive-width($desktop_s) {
            width: 970px;
        }
    }

    h2 {
        z-index: 1;
        color: $white;
        position: relative;

        @include responsive-width($tablet_s) {
            text-align: left;
            padding-left: 20px;
        }

        @include responsive-width($desktop_s) {
            padding-left: 50px;
        }

        strong {
            display: block;

            @include responsive-width($tablet_s) {
                display: initial;
            }
        }
    }

    &__tabs {
        z-index: 1;
        margin: 30px auto 0;
        max-width: 380px;
        position: relative;

        @include responsive-width($tablet_s) {
            text-align: center;
            display: inline-block;
        }

        @include responsive-width($tablet_m) {
            max-width: 450px;
        }

        @include responsive-width($laptop_s) {
            padding: 30px 0;
        }

        @include responsive-width($laptop_m) {
            max-width: 535px;
        }

        @include responsive-width($desktop_s) {
            padding: 80px 0;
        }

        nav li a.js--active {
            &.e--prepago {
                background-color: #5CDEB1;
            }

            &.e--hogar {
                background-color: #F46C8F;
            }
        }

        &__item {
            width: 140px;
            height: 60px;
            padding: 12px 0;
            margin: 20px 4px 0;
            border-radius: 10px;
            vertical-align: top;
            display: inline-block;
            background-color: $white;
            transform: translate(0, 0);
            transition: background-color 300ms ease-in-out, transform 100ms ease-in-out;

            @include responsive-width($mobile_m) {
                margin: 20px 8px 0;
            }

            @include responsive-width($tablet_m) {
                width: 180px;
            }

            @include responsive-width($laptop_m) {
                height: 90px;
                width: 245px;
                padding: 14px 0;
                margin: 20px 10px 0;
            }

            &:hover {
                background-color: #00B9EB;

                .e-icon {
                    background-color: $white !important;
                }

                span {
                    color: $white !important;
                }

                svg:last-child {
                    opacity: 1;
                    display: none;
                    transform: scale(1);
                    transition-delay: .2s;
                    transition: opacity 500ms ease-in-out, transform 300ms ease-in-out;

                    @include responsive-width($laptop_m) {
                        display: block;
                    }
                }
            }

            &:active {
                transform: translate(0, 2px);
            }

            svg,
            > * {
                display: inline-block;
                vertical-align: middle;
            }

            .e-icon {
                width: 36px;
                height: 36px;
                line-height: 36px;
                position: relative;
                border-radius: 10px;
                background-color: rgba(#00B9EB, .2);
                transition: background-color 300ms ease-in-out;

                @include responsive-width($laptop_m) {
                    width: 62px;
                    height: 62px;
                    line-height: 62px;
                }
            }

            svg {
				@include responsive-width($laptop_m) {
                    width: 46px;
                    height: 46px;
                }

                &:last-child {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                    width: 60px;
                    margin: auto;
                    height: 27px;
                    position: absolute;
                    transform: scale(.5);
                }
            }

            span {
                width: 70px;
                font-size: 12px;
                font-weight: 500;
                color: #383C47;
                text-align: left;
                line-height: 14px;
                margin: 0 0 0 12px;

                @include responsive-width($tablet_m) {
                    width: 95px;
					font-size: 14px;
                }
                
                @include responsive-width($laptop_m) {
                    width: 132px;
                    font-size: 20px;
                    line-height: 24px;
                    margin: 0 0 0 20px;
                }
            }
        }

        &__picture {
            height: 183px;
            margin: 25px 0 0;
            position: relative;

            @include responsive-width($tablet_s) {
                top: 0;
                bottom: 0;
                left: -77%;
                width: 300px;
                margin: auto 0;
                position: absolute;
            }

            @include responsive-width($tablet_m) {
                width: 450px;
                height: 452px;
                transform: scale(.5);
            }

            @include responsive-width($laptop_s) {
                left: -80%;
                transform: scale(.6);
            }

            @include responsive-width($laptop_m) {
                left: -88%;
                transform: scale(.8);
            }

            @include responsive-width($desktop_s) {
                left: -95%;
                transform: scale(1);
            }

            picture {
                top: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                display: block;
                position: absolute;
                transition: opacity 300ms ease-in-out, transform 600ms ease-in-out;
            }
            
            .e--one {
                top: 44px;
                opacity: 0;
                transform: translateY(-10px) scale(.9);

                @include responsive-width($tablet_m) {
                    top: 126px;
                }

                &.js--active {
                    opacity: 1;
                    transform: translateY(0) scale(.9);
                }
            }

            .e--two {
                transform: translateY(10px);

                &.js--active {
                    transform: translateY(0);
                }

                &.js--animation {
                    animation-duration: 1.5s;
                    animation-direction: alternate;
                    animation-name: animation_vertical;
                    animation-iteration-count: infinite;
                    animation-timing-function: ease-in-out;
                }
            }

            .e--three {
                opacity: 0;
                margin-left: -2px;
                transform: translateX(5px);

                @include responsive-width($tablet_m) {
                    margin-left: -4px;
                }

                &.js--active {
                    opacity: 1;
                    transition-delay: .5s;
                    transform: translateX(0);
                }

                &.js--animation {
                    animation-delay: .5s;
                    animation-duration: 1s;
                    animation-direction: alternate;
                    animation-iteration-count: infinite;
                    animation-name: animation_horizontal;
                    animation-timing-function: ease-in-out;
                }
            }

            @keyframes animation_vertical {
                from {
                    transform: translateY(0);
                }

                to {
                    transform: translateY(15px);
                }
            }

            @keyframes animation_horizontal {
                from {
                    transform: rotateY(0deg);
                }

                to {
                    transform: rotateY(-30deg);
                }
            }
        }

        .e--postpago {
            .entel-world__tabs__picture {
                height: 197px;

                @include responsive-width($tablet_m) {
                    height: 466px;
                }

                .e--one {
                    top: 10px;

                    @include responsive-width($tablet_m) {
                        top: 14px;
                    }
                }

                .e--two {
                    margin-left: -11px;

                    @include responsive-width($tablet_m) {
                        margin-left: -48px;
                    }
                }

                .e--three {
                    margin: 5px 0 0 70px;

                    @include responsive-width($tablet_m) {
                        margin: 10px 0 0 182px;
                    }
                }
            }
        }

        .e--prepago {
            .e-icon {
                background-color: rgba(#5CDEB1, .2);

                svg:last-child {
                    path {
                        stroke: #5CDEB1;
                    }
                }
            }

            .entel-world__tabs__item:hover {
                background-color: #5CDEB1;
            }

            .entel-world__tabs__picture {
                .e--three {
                    transform: translateX(0);

                    &.js--animation {
                        animation-delay: 1s;
                        animation-duration: 2s;
                        animation-name: animation_vertical;
                    }
                }
            }
        }

        .e--hogar {
            .e-icon {
                background-color: rgba(#F46C8F, .2);

                svg:last-child {
                    path {
                        stroke: #F46C8F;
                    }
                }
            }

            .entel-world__tabs__picture {
                height: 168px;

                @include responsive-width($tablet_m) {
                    height: 470px;
                }

                .e--three {
                    margin: 5px 100px 0 0;

                    @include responsive-width($tablet_m) {
                        margin: 15px 286px 0 0;
                    }
                }
            }

            .entel-world__tabs__item:hover {
                background-color: #F46C8F;
            }
        }
    }

    .e-figure {
        z-index: 0;
        opacity: .4;
        position: absolute;
        display: inline-block;

        &.e--one {
            top: 0;
            left: 1%;
            transform: translate(0, -50%);

            @include responsive-width($laptop_s) {
                left: 15%;
                transform: translate(0, -60%);

                svg {
                    width: 120px;
                    height: 120px;
                }
            }
        }

        &.e--two {
            right: 0;
            bottom: 0;
            transform: translate(30%, 60%);

            @include responsive-width($laptop_s) {
                right: 15%;
                transform: rotate(20deg) translateX(50%) translateY(50%);

                svg {
                    width: 180px;
                    height: 180px;
                }
            }
        }
    }

    .e-circle {
        &#circle-one {
            top: 57px;
            left: 3%;

            @include responsive-width($laptop_s) {
                left: 5%;
                width: 34px;
                height: 34px;
            }
        }

        &#circle-two {
            top: 20px;
            width: 60px;
            height: 60px;
            right: -30px;

            @include responsive-width($laptop_s) {
                right: 5%;
                top: -80px;
                width: 156px;
                height: 156px;
            }
        }

        &#circle-three {
            top: 90px;
            right: 6%;

            @include responsive-width($laptop_s) {
                top: 120px;
                right: 17%;
                width: 38px;
                height: 38px;
                border-width: 5px;
            }
        }

        &#circle-four {
            left: -25px;
            width: 64px;
            height: 64px;
            bottom: 157px;

            @include responsive-width($laptop_s) {
                bottom: 30px;
                left: 4%;
                width: 110px;
                height: 110px;
            }
        }

        &#circle-five {
            top: 255px;
            right: 75px;

            @include responsive-width($laptop_s) {
                right: 27%;
                width: 28px;
                bottom: 50px;
                top: initial;
                height: 28px;
            }
        }

        &#circle-six {
            right: 26px;
            width: 26px;
            height: 26px;
            bottom: 225px;
        }

        &#circle-seven {
            left: 10%;
            width: 25px;
            height: 25px;
            bottom: 26px;
            border-width: 4px;

            @include responsive-width($laptop_s) {
                left: 17%;
                width: 47px;
                height: 47px;
                bottom: -15px;
                border-width: 5px;
            }
        }
    }
}