.entel-access {
  overflow: hidden;
  text-align: center;
  padding-top: 20px;

  .nuevo {
    position: relative;
    &::before{
      position: absolute;
      content: '';
      left: -5px;
      top: 5px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% auto;
      background-image: m_image_url('2022/03/e-home-acces-icon-nuevo.png');
      @include backgound_retina {
        background-image: m_image_url('2022/03/e-home-acces-icon-nuevo@2x.png');
      }
      height: 16px;  
      width: 38px;
      z-index: 1;
      @include responsive-width($tablet_m){
        width: 47px;
        left: -0px;
        top: 16px;
        height: 21px;
      }
    }
  }
  .dscto20 {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      color: white;
      
      font-size: 10px;
      z-index: 1;
      padding: 5px 10px;
      background-size: 100% 100%;
      left: -5px;
      top: -14px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='61' height='41' viewBox='0 0 61 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.701945 5.77455C0.341156 2.80652 2.81478 0.264358 5.79156 0.54393L58.6528 5.50853C59.9129 5.62688 60.8513 6.72472 60.7719 7.98794L58.8371 38.804C58.7596 40.0384 57.7358 41 56.4989 41H7.0592C5.87462 41 4.87641 40.1158 4.73347 38.9399L0.701945 5.77455Z' fill='%23F46C8F'/%3E%3Cpath d='M15.669 13.4416C15.669 13.5041 15.6378 13.5353 15.5753 13.5353H12.1266C12.1016 13.5353 12.0891 13.5478 12.0891 13.5728V15.8875C12.0891 15.9125 12.1016 15.925 12.1266 15.925H14.5444C14.6069 15.925 14.6382 15.9563 14.6382 16.0187V16.4123C14.6382 16.4748 14.6069 16.5061 14.5444 16.5061H12.1266C12.1016 16.5061 12.0891 16.5185 12.0891 16.5435V18.8958C12.0891 18.9208 12.1016 18.9333 12.1266 18.9333H15.5753C15.6378 18.9333 15.669 18.9645 15.669 19.027V19.4206C15.669 19.483 15.6378 19.5143 15.5753 19.5143H11.5175C11.455 19.5143 11.4238 19.483 11.4238 19.4206V13.048C11.4238 12.9855 11.455 12.9543 11.5175 12.9543H15.5753C15.6378 12.9543 15.669 12.9855 15.669 13.048V13.4416ZM16.5637 19.5143C16.5262 19.5143 16.4981 19.5018 16.4794 19.4768C16.4669 19.4518 16.4731 19.4268 16.4981 19.4018L18.0631 17.1714C18.0756 17.1527 18.0756 17.1339 18.0631 17.1152L16.4981 14.8848C16.4856 14.8723 16.4794 14.8567 16.4794 14.8379C16.4794 14.7942 16.5075 14.7723 16.5637 14.7723H17.0698C17.1197 14.7723 17.1572 14.7911 17.1822 14.8286L18.4099 16.5998C18.4161 16.606 18.4255 16.6091 18.438 16.6091C18.4505 16.6091 18.4598 16.606 18.4661 16.5998L19.6844 14.8286C19.7094 14.7911 19.7469 14.7723 19.7968 14.7723H20.3498C20.3872 14.7723 20.4122 14.7848 20.4247 14.8098C20.4372 14.8286 20.431 14.8536 20.406 14.8848L18.841 17.1152C18.8347 17.1339 18.8347 17.1527 18.841 17.1714L20.406 19.4018C20.4185 19.4143 20.4247 19.4331 20.4247 19.4581C20.4247 19.4705 20.4185 19.483 20.406 19.4955C20.3935 19.508 20.3747 19.5143 20.3498 19.5143H19.8343C19.7843 19.5143 19.7469 19.4955 19.7219 19.4581L18.5036 17.6869C18.4973 17.6744 18.488 17.6681 18.4755 17.6681C18.463 17.6681 18.4536 17.6744 18.4474 17.6869L17.2103 19.4581C17.1853 19.4955 17.1478 19.5143 17.0979 19.5143H16.5637ZM23.0213 19.5893C22.5715 19.5893 22.1842 19.4737 21.8593 19.2425C21.5407 19.0051 21.322 18.6865 21.2033 18.2866C21.1221 18.0117 21.0815 17.6244 21.0815 17.1246C21.0815 16.6747 21.1221 16.2936 21.2033 15.9813C21.3157 15.5939 21.5344 15.2846 21.8593 15.0535C22.1842 14.8161 22.5715 14.6974 23.0213 14.6974C23.4774 14.6974 23.871 14.8129 24.2021 15.0441C24.5395 15.2753 24.7582 15.5627 24.8581 15.9063C24.8894 16.0187 24.9081 16.1125 24.9144 16.1874V16.2062C24.9144 16.2499 24.8863 16.278 24.83 16.2905L24.3615 16.3561H24.3427C24.299 16.3561 24.2709 16.328 24.2584 16.2718L24.2303 16.1312C24.174 15.8938 24.0366 15.6939 23.8179 15.5314C23.5992 15.3627 23.3337 15.2784 23.0213 15.2784C22.709 15.2784 22.4466 15.3627 22.2341 15.5314C22.028 15.6939 21.8936 15.9125 21.8312 16.1874C21.7749 16.4248 21.7468 16.7403 21.7468 17.1339C21.7468 17.5463 21.7749 17.8649 21.8312 18.0898C21.8936 18.371 22.028 18.5959 22.2341 18.7646C22.4466 18.927 22.709 19.0082 23.0213 19.0082C23.3275 19.0082 23.5899 18.9301 23.8085 18.7739C24.0335 18.6115 24.174 18.4053 24.2303 18.1554V18.1179L24.2396 18.0805C24.2459 18.018 24.2834 17.993 24.3521 18.0055L24.8113 18.0805C24.8738 18.0929 24.9019 18.1273 24.8956 18.1835L24.8581 18.371C24.7644 18.7333 24.5489 19.027 24.2115 19.2519C23.8741 19.4768 23.4774 19.5893 23.0213 19.5893ZM26.1939 19.5143C26.1314 19.5143 26.1001 19.483 26.1001 19.4206V13.048C26.1001 12.9855 26.1314 12.9543 26.1939 12.9543H26.6718C26.7343 12.9543 26.7655 12.9855 26.7655 13.048V19.4206C26.7655 19.483 26.7343 19.5143 26.6718 19.5143H26.1939ZM31.1276 14.8661C31.1276 14.8036 31.1589 14.7723 31.2213 14.7723H31.6993C31.7618 14.7723 31.793 14.8036 31.793 14.8661V19.4206C31.793 19.483 31.7618 19.5143 31.6993 19.5143H31.2213C31.1589 19.5143 31.1276 19.483 31.1276 19.4206V19.0176C31.1276 19.0051 31.1214 18.9957 31.1089 18.9895C31.0964 18.9832 31.087 18.9864 31.0808 18.9989C30.8184 19.3862 30.4029 19.5799 29.8344 19.5799C29.5345 19.5799 29.2565 19.5205 29.0003 19.4018C28.7504 19.2769 28.5505 19.0988 28.4005 18.8677C28.2568 18.6365 28.185 18.3585 28.185 18.0336V14.8661C28.185 14.8036 28.2162 14.7723 28.2787 14.7723H28.7567C28.8191 14.7723 28.8504 14.8036 28.8504 14.8661V17.8368C28.8504 18.1929 28.9503 18.4772 29.1503 18.6896C29.3502 18.8958 29.622 18.9989 29.9656 18.9989C30.3217 18.9989 30.6028 18.8926 30.809 18.6802C31.0214 18.4678 31.1276 18.1867 31.1276 17.8368V14.8661ZM34.84 19.5611C34.4901 19.5611 34.1777 19.5049 33.9028 19.3925C33.6342 19.28 33.4249 19.1301 33.2749 18.9426C33.1312 18.7552 33.0594 18.5459 33.0594 18.3147V18.2023C33.0594 18.1398 33.0906 18.1086 33.1531 18.1086H33.6029C33.6654 18.1086 33.6966 18.1398 33.6966 18.2023V18.2773C33.6966 18.4834 33.8029 18.6646 34.0153 18.8208C34.2339 18.9707 34.5057 19.0457 34.8306 19.0457C35.1555 19.0457 35.4179 18.9739 35.6178 18.8302C35.8177 18.6802 35.9177 18.4928 35.9177 18.2679C35.9177 18.1117 35.8646 17.9836 35.7584 17.8837C35.6584 17.7837 35.5366 17.7056 35.3929 17.6494C35.2554 17.5931 35.0399 17.5213 34.7462 17.4338C34.3964 17.3339 34.109 17.2339 33.8841 17.1339C33.6592 17.034 33.4686 16.8965 33.3124 16.7216C33.1625 16.5404 33.0875 16.3124 33.0875 16.0375C33.0875 15.6376 33.2437 15.319 33.5561 15.0816C33.8685 14.8442 34.2808 14.7255 34.7931 14.7255C35.1367 14.7255 35.4397 14.7817 35.7021 14.8942C35.9708 15.0066 36.1769 15.1628 36.3206 15.3627C36.4643 15.5564 36.5362 15.7751 36.5362 16.0187V16.0469C36.5362 16.1093 36.5049 16.1406 36.4425 16.1406H36.002C35.9395 16.1406 35.9083 16.1093 35.9083 16.0469V16.0187C35.9083 15.8063 35.8052 15.6283 35.599 15.4846C35.3991 15.3409 35.1273 15.269 34.7837 15.269C34.4651 15.269 34.2089 15.3346 34.0153 15.4658C33.8216 15.5908 33.7248 15.7657 33.7248 15.9906C33.7248 16.203 33.8185 16.3655 34.0059 16.4779C34.1933 16.5904 34.4838 16.7029 34.8774 16.8153C35.2398 16.9215 35.5334 17.0215 35.7584 17.1152C35.9833 17.2089 36.1769 17.3464 36.3394 17.5275C36.5018 17.7025 36.583 17.9336 36.583 18.221C36.583 18.6271 36.4237 18.952 36.1051 19.1957C35.7865 19.4393 35.3648 19.5611 34.84 19.5611ZM38.246 13.9102C38.096 13.9102 37.9711 13.8602 37.8711 13.7602C37.7711 13.6603 37.7212 13.5353 37.7212 13.3854C37.7212 13.2292 37.7711 13.1042 37.8711 13.0105C37.9711 12.9105 38.096 12.8606 38.246 12.8606C38.3959 12.8606 38.5209 12.9105 38.6208 13.0105C38.7208 13.1042 38.7708 13.2292 38.7708 13.3854C38.7708 13.5353 38.7208 13.6603 38.6208 13.7602C38.5209 13.8602 38.3959 13.9102 38.246 13.9102ZM37.9836 19.5049C37.9211 19.5049 37.8898 19.4737 37.8898 19.4112V14.8567C37.8898 14.7942 37.9211 14.763 37.9836 14.763H38.4615C38.524 14.763 38.5552 14.7942 38.5552 14.8567V19.4112C38.5552 19.4737 38.524 19.5049 38.4615 19.5049H37.9836ZM41.3937 19.5143C41.3374 19.5143 41.2999 19.4893 41.2812 19.4393L39.7443 14.8754L39.7349 14.8379C39.7349 14.7942 39.763 14.7723 39.8193 14.7723H40.3534C40.4097 14.7723 40.4471 14.7973 40.4659 14.8473L41.6373 18.5209C41.6436 18.5334 41.6529 18.5397 41.6654 18.5397C41.6779 18.5397 41.6873 18.5334 41.6935 18.5209L42.865 14.8473C42.8837 14.7973 42.9212 14.7723 42.9774 14.7723L43.5116 14.7817C43.5803 14.7817 43.6053 14.8161 43.5866 14.8848L42.0497 19.4393C42.0309 19.4893 41.9934 19.5143 41.9372 19.5143H41.3937ZM46.2856 19.5893C45.8358 19.5893 45.4484 19.4737 45.1236 19.2425C44.7987 19.0113 44.5738 18.6927 44.4488 18.2866C44.3614 17.9992 44.3176 17.615 44.3176 17.1339C44.3176 16.6529 44.3614 16.2718 44.4488 15.9906C44.5675 15.5908 44.7893 15.2753 45.1142 15.0441C45.4391 14.8129 45.8327 14.6974 46.295 14.6974C46.7386 14.6974 47.1197 14.8129 47.4383 15.0441C47.7632 15.2753 47.985 15.5877 48.1037 15.9813C48.1911 16.2499 48.2349 16.6341 48.2349 17.1339C48.2349 17.64 48.1911 18.0242 48.1037 18.2866C47.985 18.6927 47.7632 19.0113 47.4383 19.2425C47.1197 19.4737 46.7355 19.5893 46.2856 19.5893ZM46.2856 19.0082C46.5855 19.0082 46.8417 18.927 47.0541 18.7646C47.2665 18.5959 47.4102 18.371 47.4852 18.0898C47.5414 17.8649 47.5695 17.5494 47.5695 17.1433C47.5695 16.731 47.5445 16.4155 47.4945 16.1968C47.4196 15.9157 47.2727 15.6939 47.0541 15.5314C46.8417 15.3627 46.5824 15.2784 46.2763 15.2784C45.9701 15.2784 45.7108 15.3627 45.4984 15.5314C45.286 15.6939 45.1423 15.9157 45.0673 16.1968C45.0174 16.4155 44.9924 16.731 44.9924 17.1433C44.9924 17.5557 45.0174 17.8712 45.0673 18.0898C45.1361 18.371 45.2766 18.5959 45.4891 18.7646C45.7077 18.927 45.9732 19.0082 46.2856 19.0082ZM13.2723 32.0266C13.2567 32.0422 13.2528 32.0578 13.2606 32.0734C13.2684 32.089 13.284 32.0969 13.3074 32.0969H16.482C16.521 32.0969 16.5523 32.1125 16.5757 32.1437C16.6069 32.1671 16.6226 32.1984 16.6226 32.2374V33.3737C16.6226 33.4128 16.6069 33.4479 16.5757 33.4791C16.5523 33.5026 16.521 33.5143 16.482 33.5143H11.2106C11.1715 33.5143 11.1364 33.5026 11.1051 33.4791C11.0817 33.4479 11.07 33.4128 11.07 33.3737V32.296C11.07 32.2257 11.0934 32.1671 11.1403 32.1203C11.5229 31.7454 11.9134 31.3393 12.3117 30.902C12.71 30.4569 12.9599 30.1796 13.0614 30.0703C13.2801 29.8126 13.5027 29.5666 13.7291 29.3323C14.4398 28.5435 14.7951 27.9578 14.7951 27.5751C14.7951 27.3018 14.6975 27.0792 14.5023 26.9074C14.307 26.7278 14.0532 26.638 13.7408 26.638C13.4285 26.638 13.1747 26.7278 12.9794 26.9074C12.7842 27.0792 12.6866 27.3096 12.6866 27.5986V27.8914C12.6866 27.9305 12.6709 27.9656 12.6397 27.9969C12.6163 28.0203 12.585 28.032 12.546 28.032H11.1637C11.1247 28.032 11.0895 28.0203 11.0583 27.9969C11.0348 27.9656 11.0231 27.9305 11.0231 27.8914V27.3409C11.0466 26.9191 11.1793 26.5482 11.4214 26.228C11.6635 25.9 11.9837 25.6501 12.382 25.4783C12.7881 25.3065 13.241 25.2206 13.7408 25.2206C14.2953 25.2206 14.7756 25.326 15.1817 25.5369C15.5956 25.7399 15.9119 26.0171 16.1306 26.3686C16.357 26.72 16.4703 27.1105 16.4703 27.54C16.4703 27.868 16.3883 28.2038 16.2243 28.5474C16.0603 28.891 15.8143 29.262 15.4863 29.6603C15.2442 29.9649 14.9826 30.2655 14.7014 30.5623C14.4203 30.859 14.0025 31.2886 13.448 31.8509L13.2723 32.0266ZM20.4247 33.6431C19.5656 33.6431 18.8862 33.4049 18.3864 32.9286C17.8866 32.4444 17.6367 31.7884 17.6367 30.9606V27.868C17.6367 27.0558 17.8866 26.4115 18.3864 25.9351C18.8862 25.4588 19.5656 25.2206 20.4247 25.2206C21.2837 25.2206 21.9631 25.4588 22.463 25.9351C22.9706 26.4115 23.2244 27.0558 23.2244 27.868V30.9606C23.2244 31.7884 22.9706 32.4444 22.463 32.9286C21.9631 33.4049 21.2837 33.6431 20.4247 33.6431ZM20.4247 32.2257C20.7761 32.2257 21.0533 32.1203 21.2564 31.9094C21.4672 31.6908 21.5727 31.4018 21.5727 31.0426V27.8211C21.5727 27.4619 21.4672 27.1769 21.2564 26.966C21.0533 26.7473 20.7761 26.638 20.4247 26.638C20.0811 26.638 19.8038 26.7473 19.593 26.966C19.3899 27.1769 19.2884 27.4619 19.2884 27.8211V31.0426C19.2884 31.4018 19.3899 31.6908 19.593 31.9094C19.8038 32.1203 20.0811 32.2257 20.4247 32.2257ZM26.3675 28.9106C26.0239 28.9106 25.7076 28.8286 25.4186 28.6646C25.1375 28.5006 24.911 28.278 24.7392 27.9969C24.5752 27.7079 24.4932 27.3955 24.4932 27.0597C24.4932 26.7239 24.5752 26.4154 24.7392 26.1343C24.911 25.8531 25.1375 25.6306 25.4186 25.4666C25.7076 25.2948 26.0239 25.2089 26.3675 25.2089C26.7033 25.2089 27.0118 25.2948 27.2929 25.4666C27.574 25.6306 27.7966 25.8531 27.9606 26.1343C28.1324 26.4154 28.2183 26.7239 28.2183 27.0597C28.2183 27.3955 28.1363 27.7079 27.9723 27.9969C27.8083 28.278 27.5819 28.5006 27.2929 28.6646C27.0118 28.8286 26.7033 28.9106 26.3675 28.9106ZM25.9106 33.5143C25.856 33.5143 25.8208 33.4987 25.8052 33.4674C25.7896 33.4362 25.7935 33.3971 25.8169 33.3503L30.2332 25.408C30.2722 25.3455 30.3308 25.3143 30.4089 25.3143H31.2758C31.3304 25.3143 31.3656 25.3299 31.3812 25.3611C31.3968 25.3924 31.3929 25.4314 31.3695 25.4783L26.9649 33.4206C26.9259 33.483 26.8673 33.5143 26.7892 33.5143H25.9106ZM26.3675 27.95C26.6096 27.95 26.8126 27.8641 26.9766 27.6923C27.1484 27.5205 27.2343 27.3096 27.2343 27.0597C27.2343 26.8176 27.1484 26.6107 26.9766 26.4389C26.8126 26.267 26.6096 26.1811 26.3675 26.1811C26.1176 26.1811 25.9067 26.267 25.7349 26.4389C25.5631 26.6107 25.4772 26.8176 25.4772 27.0597C25.4772 27.3096 25.5631 27.5205 25.7349 27.6923C25.9067 27.8641 26.1176 27.95 26.3675 27.95ZM30.936 33.6197C30.6002 33.6197 30.2879 33.5377 29.9989 33.3737C29.7178 33.2019 29.4913 32.9754 29.3195 32.6943C29.1555 32.4053 29.0735 32.0929 29.0735 31.7571C29.0735 31.4213 29.1555 31.1129 29.3195 30.8317C29.4913 30.5506 29.7178 30.328 29.9989 30.164C30.2879 30 30.6002 29.918 30.936 29.918C31.2719 29.918 31.5803 30 31.8615 30.164C32.1504 30.328 32.3769 30.5506 32.5409 30.8317C32.7127 31.1129 32.7986 31.4213 32.7986 31.7571C32.7986 32.0929 32.7127 32.4053 32.5409 32.6943C32.3769 32.9754 32.1504 33.2019 31.8615 33.3737C31.5803 33.5377 31.2719 33.6197 30.936 33.6197ZM30.936 32.6474C31.1781 32.6474 31.3851 32.5615 31.5569 32.3897C31.7287 32.2179 31.8146 32.007 31.8146 31.7571C31.8146 31.515 31.7287 31.3081 31.5569 31.1363C31.3851 30.9645 31.1781 30.8786 30.936 30.8786C30.694 30.8786 30.487 30.9645 30.3152 31.1363C30.1434 31.3003 30.0575 31.5072 30.0575 31.7571C30.0575 32.007 30.1395 32.2179 30.3035 32.3897C30.4753 32.5615 30.6861 32.6474 30.936 32.6474ZM36.6455 33.5143C36.6064 33.5143 36.5713 33.5026 36.5401 33.4791C36.5166 33.4479 36.5049 33.4128 36.5049 33.3737V25.4549C36.5049 25.4158 36.5166 25.3846 36.5401 25.3611C36.5713 25.3299 36.6064 25.3143 36.6455 25.3143H39.5741C40.1598 25.3143 40.6713 25.4197 41.1086 25.6306C41.5538 25.8336 41.8974 26.1226 42.1395 26.4974C42.3816 26.8723 42.5026 27.3057 42.5026 27.7977V31.0309C42.5026 31.5229 42.3816 31.9563 42.1395 32.3311C41.8974 32.706 41.5538 32.9989 41.1086 33.2097C40.6713 33.4128 40.1598 33.5143 39.5741 33.5143H36.6455ZM38.1566 32.0383C38.1566 32.0773 38.1761 32.0969 38.2152 32.0969H39.6326C39.9919 32.0969 40.2808 31.9758 40.4995 31.7337C40.726 31.4916 40.8431 31.1675 40.8509 30.7614V28.0671C40.8509 27.661 40.7377 27.3369 40.5112 27.0949C40.2925 26.8528 39.9958 26.7317 39.6209 26.7317H38.2152C38.1761 26.7317 38.1566 26.7512 38.1566 26.7903V32.0383ZM47.0279 28.6763C47.0279 28.7153 47.0123 28.7505 46.981 28.7817C46.9576 28.8051 46.9264 28.8169 46.8873 28.8169H45.7628C45.7237 28.8169 45.7042 28.8364 45.7042 28.8754V31.3589C45.7042 31.6166 45.755 31.8079 45.8565 31.9329C45.9658 32.0578 46.1376 32.1203 46.3719 32.1203H46.7585C46.7975 32.1203 46.8288 32.1359 46.8522 32.1671C46.8834 32.1906 46.899 32.2218 46.899 32.2609V33.3737C46.899 33.4596 46.8522 33.5104 46.7585 33.526C46.4305 33.5416 46.1962 33.5494 46.0556 33.5494C45.4074 33.5494 44.9232 33.444 44.603 33.2331C44.2829 33.0145 44.1189 32.6084 44.111 32.0149V28.8754C44.111 28.8364 44.0915 28.8169 44.0525 28.8169H43.3848C43.3457 28.8169 43.3106 28.8051 43.2793 28.7817C43.2559 28.7505 43.2442 28.7153 43.2442 28.6763V27.6337C43.2442 27.5947 43.2559 27.5634 43.2793 27.54C43.3106 27.5088 43.3457 27.4931 43.3848 27.4931H44.0525C44.0915 27.4931 44.111 27.4736 44.111 27.4346V26.0406C44.111 26.0015 44.1228 25.9703 44.1462 25.9469C44.1774 25.9156 44.2126 25.9 44.2516 25.9H45.5636C45.6027 25.9 45.6339 25.9156 45.6573 25.9469C45.6886 25.9703 45.7042 26.0015 45.7042 26.0406V27.4346C45.7042 27.4736 45.7237 27.4931 45.7628 27.4931H46.8873C46.9264 27.4931 46.9576 27.5088 46.981 27.54C47.0123 27.5634 47.0279 27.5947 47.0279 27.6337V28.6763ZM50.6013 33.608C49.9453 33.608 49.383 33.4362 48.9145 33.0926C48.4459 32.7489 48.1257 32.2804 47.9539 31.6869C47.8446 31.3198 47.7899 30.9215 47.7899 30.492C47.7899 30.0312 47.8446 29.6173 47.9539 29.2503C48.1335 28.6724 48.4576 28.2194 48.9262 27.8914C49.3947 27.5634 49.957 27.3994 50.613 27.3994C51.2534 27.3994 51.8001 27.5634 52.253 27.8914C52.706 28.2116 53.0262 28.6607 53.2136 29.2386C53.3386 29.629 53.401 30.039 53.401 30.4686C53.401 30.8903 53.3464 31.2847 53.237 31.6517C53.0652 32.2609 52.745 32.7411 52.2765 33.0926C51.8157 33.4362 51.2573 33.608 50.6013 33.608ZM50.6013 32.1906C50.859 32.1906 51.0777 32.1125 51.2573 31.9563C51.4369 31.8001 51.5658 31.5853 51.6439 31.312C51.7064 31.0621 51.7376 30.7888 51.7376 30.492C51.7376 30.164 51.7064 29.8868 51.6439 29.6603C51.558 29.3948 51.4252 29.1878 51.2456 29.0394C51.066 28.891 50.8473 28.8169 50.5896 28.8169C50.3241 28.8169 50.1015 28.891 49.9219 29.0394C49.7501 29.1878 49.6251 29.3948 49.547 29.6603C49.4846 29.8477 49.4533 30.1249 49.4533 30.492C49.4533 30.8434 49.4806 31.1168 49.5353 31.312C49.6134 31.5853 49.7423 31.8001 49.9219 31.9563C50.1093 32.1125 50.3358 32.1906 50.6013 32.1906Z' fill='white'/%3E%3C/svg%3E");
      width: 51px;
      height: 34px;

      @include responsive-width($tablet_m) {  
        left: -5px;
        top: -7px;    
        width: 60px;
        height: 41px;
      }

    }
  }
  .dscto {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      color: white;

      font-size: 10px;
      z-index: 1;
      padding: 5px 10px;
      background-size: 100% 100%;
      left: -5px;
      top: -14px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='61' height='42' viewBox='0 0 61 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.702931 5.78266C0.341634 2.81045 2.81875 0.26473 5.79971 0.544696L58.7353 5.51628C59.9972 5.6348 60.9369 6.73418 60.8575 7.99918L58.9199 38.8586C58.8423 40.0948 57.817 41.0577 56.5784 41.0577H7.06914C5.88289 41.0577 4.88327 40.1722 4.74013 38.9947L0.702931 5.78266Z' fill='%23F46C8F'/%3E%3Cpath d='M19.7768 18.0577C19.7205 18.0577 19.6829 18.0327 19.6642 17.9827L19.2888 16.8002C19.2825 16.7814 19.27 16.772 19.2512 16.772H16.4452C16.4265 16.772 16.4139 16.7814 16.4077 16.8002L16.0323 17.9827C16.0135 18.0327 15.976 18.0577 15.9197 18.0577H15.4129C15.3441 18.0577 15.3191 18.0233 15.3378 17.9545L17.4118 11.5636C17.4306 11.5135 17.4682 11.4885 17.5245 11.4885H18.1626C18.2189 11.4885 18.2565 11.5135 18.2752 11.5636L20.3586 17.9545L20.368 17.992C20.368 18.0358 20.3398 18.0577 20.2835 18.0577H19.7768ZM16.5954 16.1808C16.5891 16.1933 16.5891 16.2058 16.5954 16.2184C16.6079 16.2246 16.6204 16.2277 16.6329 16.2277H19.0542C19.0667 16.2277 19.0761 16.2246 19.0823 16.2184C19.0948 16.2058 19.0979 16.1933 19.0917 16.1808L17.8717 12.3519C17.8654 12.3394 17.8561 12.3331 17.8435 12.3331C17.831 12.3331 17.8216 12.3394 17.8154 12.3519L16.5954 16.1808ZM24.8878 18.1047C24.5374 18.1047 24.2246 18.0484 23.9493 17.9357C23.6803 17.8231 23.4707 17.673 23.3206 17.4853C23.1767 17.2976 23.1047 17.088 23.1047 16.8565V16.7439C23.1047 16.6813 23.136 16.65 23.1986 16.65H23.649C23.7116 16.65 23.7429 16.6813 23.7429 16.7439V16.819C23.7429 17.0254 23.8492 17.2069 24.0619 17.3633C24.2809 17.5134 24.5531 17.5885 24.8784 17.5885C25.2037 17.5885 25.4665 17.5166 25.6667 17.3727C25.8669 17.2225 25.967 17.0348 25.967 16.8096C25.967 16.6532 25.9138 16.5249 25.8075 16.4248C25.7074 16.3247 25.5854 16.2465 25.4415 16.1902C25.3038 16.1339 25.088 16.0619 24.7939 15.9744C24.4436 15.8743 24.1558 15.7741 23.9306 15.674C23.7053 15.5739 23.5145 15.4363 23.3581 15.2611C23.2079 15.0797 23.1329 14.8513 23.1329 14.576C23.1329 14.1756 23.2893 13.8566 23.6021 13.6188C23.9149 13.3811 24.3278 13.2622 24.8409 13.2622C25.185 13.2622 25.4884 13.3185 25.7512 13.4311C26.0202 13.5437 26.2267 13.7001 26.3706 13.9004C26.5145 14.0943 26.5864 14.3133 26.5864 14.5573V14.5854C26.5864 14.648 26.5551 14.6793 26.4926 14.6793H26.0515C25.9889 14.6793 25.9576 14.648 25.9576 14.5854V14.5573C25.9576 14.3446 25.8544 14.1663 25.6479 14.0224C25.4477 13.8785 25.1756 13.8065 24.8315 13.8065C24.5124 13.8065 24.2559 13.8722 24.0619 14.0036C23.868 14.1287 23.771 14.3039 23.771 14.5291C23.771 14.7418 23.8649 14.9045 24.0526 15.0171C24.2403 15.1297 24.5312 15.2424 24.9253 15.355C25.2882 15.4613 25.5823 15.5614 25.8075 15.6553C26.0327 15.7491 26.2267 15.8868 26.3893 16.0682C26.552 16.2434 26.6333 16.4749 26.6333 16.7627C26.6333 17.1693 26.4738 17.4947 26.1547 17.7387C25.8356 17.9827 25.4133 18.1047 24.8878 18.1047ZM29.6594 18.1328C29.2089 18.1328 28.821 18.0171 28.4957 17.7856C28.1703 17.5541 27.9451 17.235 27.82 16.8284C27.7324 16.5406 27.6886 16.1558 27.6886 15.674C27.6886 15.1923 27.7324 14.8107 27.82 14.5291C27.9388 14.1287 28.1609 13.8128 28.4863 13.5813C28.8116 13.3498 29.2058 13.234 29.6687 13.234C30.1129 13.234 30.4946 13.3498 30.8137 13.5813C31.139 13.8128 31.3611 14.1256 31.48 14.5197C31.5676 14.7888 31.6114 15.1735 31.6114 15.674C31.6114 16.1808 31.5676 16.5656 31.48 16.8284C31.3611 17.235 31.139 17.5541 30.8137 17.7856C30.4946 18.0171 30.1098 18.1328 29.6594 18.1328ZM29.6594 17.551C29.9597 17.551 30.2162 17.4696 30.4289 17.307C30.6416 17.138 30.7855 16.9128 30.8606 16.6313C30.9169 16.406 30.945 16.0901 30.945 15.6834C30.945 15.2705 30.92 14.9546 30.87 14.7356C30.7949 14.454 30.6479 14.2319 30.4289 14.0693C30.2162 13.9004 29.9565 13.8159 29.65 13.8159C29.3434 13.8159 29.0838 13.9004 28.871 14.0693C28.6583 14.2319 28.5144 14.454 28.4394 14.7356C28.3893 14.9546 28.3643 15.2705 28.3643 15.6834C28.3643 16.0964 28.3893 16.4123 28.4394 16.6313C28.5082 16.9128 28.6489 17.138 28.8617 17.307C29.0806 17.4696 29.3465 17.551 29.6594 17.551ZM33.0559 18.0577C32.9933 18.0577 32.962 18.0265 32.962 17.9639V11.5824C32.962 11.5198 32.9933 11.4885 33.0559 11.4885H33.5345C33.597 11.4885 33.6283 11.5198 33.6283 11.5824V17.9639C33.6283 18.0265 33.597 18.0577 33.5345 18.0577H33.0559ZM36.9361 18.1328C36.4856 18.1328 36.0977 18.0171 35.7724 17.7856C35.4471 17.5541 35.2218 17.235 35.0967 16.8284C35.0091 16.5406 34.9653 16.1558 34.9653 15.674C34.9653 15.1923 35.0091 14.8107 35.0967 14.5291C35.2156 14.1287 35.4377 13.8128 35.763 13.5813C36.0884 13.3498 36.4825 13.234 36.9455 13.234C37.3897 13.234 37.7713 13.3498 38.0904 13.5813C38.4157 13.8128 38.6378 14.1256 38.7567 14.5197C38.8443 14.7888 38.8881 15.1735 38.8881 15.674C38.8881 16.1808 38.8443 16.5656 38.7567 16.8284C38.6378 17.235 38.4157 17.5541 38.0904 17.7856C37.7713 18.0171 37.3866 18.1328 36.9361 18.1328ZM36.9361 17.551C37.2364 17.551 37.4929 17.4696 37.7056 17.307C37.9184 17.138 38.0623 16.9128 38.1373 16.6313C38.1936 16.406 38.2218 16.0901 38.2218 15.6834C38.2218 15.2705 38.1968 14.9546 38.1467 14.7356C38.0716 14.454 37.9246 14.2319 37.7056 14.0693C37.4929 13.9004 37.2333 13.8159 36.9267 13.8159C36.6202 13.8159 36.3605 13.9004 36.1478 14.0693C35.9351 14.2319 35.7912 14.454 35.7161 14.7356C35.666 14.9546 35.641 15.2705 35.641 15.6834C35.641 16.0964 35.666 16.4123 35.7161 16.6313C35.7849 16.9128 35.9257 17.138 36.1384 17.307C36.3574 17.4696 36.6233 17.551 36.9361 17.551ZM18.531 33.1516C17.9053 33.1516 17.3579 33.0538 16.8887 32.8583C16.4194 32.655 16.0558 32.3695 15.7977 32.002C15.5474 31.6266 15.4223 31.1925 15.4223 30.6999V30.4418C15.4223 30.4027 15.434 30.3714 15.4575 30.3479C15.4888 30.3166 15.524 30.301 15.5631 30.301H16.9004C16.9395 30.301 16.9708 30.3166 16.9942 30.3479C17.0255 30.3714 17.0412 30.4027 17.0412 30.4418V30.6177C17.0412 30.9306 17.1858 31.1965 17.4752 31.4154C17.7646 31.6266 18.1556 31.7322 18.6483 31.7322C19.0628 31.7322 19.3717 31.6461 19.575 31.4741C19.7783 31.2942 19.88 31.0752 19.88 30.8172C19.88 30.6295 19.8174 30.4731 19.6923 30.3479C19.5672 30.215 19.3951 30.1016 19.1762 30.0077C18.965 29.9061 18.6248 29.7692 18.1556 29.5972C17.6316 29.4173 17.1858 29.2335 16.8183 29.0458C16.4585 28.8581 16.1535 28.604 15.9033 28.2833C15.6608 27.9549 15.5396 27.5521 15.5396 27.075C15.5396 26.6058 15.6608 26.1952 15.9033 25.8433C16.1457 25.4914 16.482 25.2216 16.9121 25.0339C17.3422 24.8462 17.8388 24.7524 18.4019 24.7524C18.9963 24.7524 19.5242 24.8579 19.9856 25.0691C20.4548 25.2802 20.8185 25.5774 21.0765 25.9606C21.3424 26.336 21.4754 26.774 21.4754 27.2745V27.4504C21.4754 27.4895 21.4597 27.5247 21.4285 27.556C21.405 27.5795 21.3737 27.5912 21.3346 27.5912H19.9856C19.9465 27.5912 19.9113 27.5795 19.88 27.556C19.8565 27.5247 19.8448 27.4895 19.8448 27.4504V27.3566C19.8448 27.0281 19.7079 26.7505 19.4342 26.5237C19.1683 26.2891 18.8008 26.1718 18.3315 26.1718C17.964 26.1718 17.6746 26.25 17.4635 26.4064C17.2601 26.5628 17.1585 26.7779 17.1585 27.0516C17.1585 27.2471 17.2171 27.4113 17.3344 27.5443C17.4596 27.6772 17.6394 27.7984 17.874 27.9079C18.1165 28.0096 18.4879 28.1504 18.9885 28.3302C19.5437 28.5336 19.9778 28.7134 20.2906 28.8699C20.6112 29.0263 20.8967 29.2609 21.1469 29.5737C21.405 29.8787 21.534 30.2775 21.534 30.7702C21.534 31.5054 21.2642 32.088 20.7246 32.5181C20.185 32.9404 19.4538 33.1516 18.531 33.1516ZM22.3754 33.0577C22.2581 33.0577 22.219 33.003 22.2581 32.8935L25.2729 24.9518C25.2964 24.8814 25.3512 24.8462 25.4372 24.8462H26.7979C26.9153 24.8462 26.9544 24.9009 26.9153 25.0104L23.9004 32.9522C23.877 33.0225 23.8222 33.0577 23.7362 33.0577H22.3754ZM30.2545 31.5679C30.2389 31.5836 30.2349 31.5992 30.2428 31.6149C30.2506 31.6305 30.2662 31.6383 30.2897 31.6383H33.4687C33.5078 31.6383 33.5391 31.654 33.5626 31.6852C33.5939 31.7087 33.6095 31.74 33.6095 31.7791V32.917C33.6095 32.9561 33.5939 32.9913 33.5626 33.0225C33.5391 33.046 33.5078 33.0577 33.4687 33.0577H28.1899C28.1508 33.0577 28.1156 33.046 28.0843 33.0225C28.0608 32.9913 28.0491 32.9561 28.0491 32.917V31.8377C28.0491 31.7674 28.0726 31.7087 28.1195 31.6618C28.5027 31.2864 28.8937 30.8797 29.2926 30.4418C29.6914 29.996 29.9417 29.7184 30.0433 29.6089C30.2623 29.3508 30.4852 29.1045 30.712 28.8699C31.4237 28.08 31.7795 27.4934 31.7795 27.1102C31.7795 26.8365 31.6817 26.6136 31.4862 26.4416C31.2907 26.2617 31.0365 26.1718 30.7237 26.1718C30.4109 26.1718 30.1567 26.2617 29.9612 26.4416C29.7657 26.6136 29.668 26.8443 29.668 27.1337V27.427C29.668 27.4661 29.6523 27.5013 29.621 27.5325C29.5976 27.556 29.5663 27.5677 29.5272 27.5677H28.143C28.1039 27.5677 28.0687 27.556 28.0374 27.5325C28.0139 27.5013 28.0022 27.4661 28.0022 27.427V26.8756C28.0256 26.4533 28.1586 26.0818 28.401 25.7612C28.6435 25.4327 28.9641 25.1825 29.363 25.0104C29.7696 24.8384 30.2232 24.7524 30.7237 24.7524C31.279 24.7524 31.7599 24.8579 32.1666 25.0691C32.5811 25.2724 32.8978 25.55 33.1168 25.902C33.3436 26.2539 33.457 26.6449 33.457 27.075C33.457 27.4035 33.3749 27.7398 33.2106 28.0839C33.0464 28.428 32.8001 28.7995 32.4716 29.1983C32.2292 29.5033 31.9672 29.8044 31.6856 30.1016C31.4041 30.3988 30.9857 30.8289 30.4305 31.392L30.2545 31.5679ZM39.6106 26.336C39.7436 26.6566 39.81 27.0399 39.81 27.4856V31.0166C39.81 31.4389 39.7005 31.8143 39.4816 32.1427C39.2626 32.4634 38.9537 32.7136 38.5548 32.8935C38.156 33.0656 37.6985 33.1516 37.1823 33.1516C36.674 33.1516 36.2243 33.0656 35.8333 32.8935C35.4423 32.7136 35.1373 32.4673 34.9183 32.1545C34.6993 31.8338 34.5898 31.4663 34.5898 31.0518V30.7233C34.5898 30.6842 34.6016 30.6529 34.625 30.6295C34.6563 30.5982 34.6915 30.5825 34.7306 30.5825H36.1031C36.1422 30.5825 36.1735 30.5982 36.197 30.6295C36.2282 30.6529 36.2439 30.6842 36.2439 30.7233V30.8289C36.2439 31.087 36.3299 31.302 36.502 31.4741C36.6818 31.6461 36.9086 31.7322 37.1823 31.7322C37.4717 31.7322 37.7063 31.6461 37.8862 31.4741C38.0661 31.2942 38.156 31.0674 38.156 30.7937V29.7027C38.156 29.6793 38.1482 29.6636 38.1325 29.6558C38.1169 29.648 38.1012 29.6519 38.0856 29.6675C37.765 29.9413 37.3427 30.0781 36.8187 30.0781C36.3495 30.0781 35.9271 29.9725 35.5518 29.7614C35.1842 29.5424 34.8948 29.2296 34.6837 28.8229C34.4882 28.4554 34.3904 28.0057 34.3904 27.4739C34.3904 27.0125 34.4686 26.6058 34.625 26.2539C34.8205 25.7925 35.1334 25.4288 35.5635 25.1629C36.0014 24.897 36.5137 24.7641 37.1002 24.7641C37.6946 24.7641 38.2107 24.9049 38.6487 25.1864C39.0945 25.4601 39.4151 25.8433 39.6106 26.336ZM37.1002 28.6939C37.5069 28.6939 37.8002 28.5336 37.98 28.2129C38.0973 28.0096 38.156 27.7476 38.156 27.427C38.156 27.1689 38.1052 26.9304 38.0035 26.7114C37.8314 26.3673 37.5343 26.1952 37.112 26.1952C36.7053 26.1952 36.4081 26.3673 36.2204 26.7114C36.1031 26.9304 36.0445 27.1767 36.0445 27.4504C36.0445 27.7476 36.1109 28.0057 36.2439 28.2247C36.4394 28.5375 36.7248 28.6939 37.1002 28.6939ZM41.8424 33.1047C41.5765 33.1047 41.3536 33.0186 41.1737 32.8466C41.0017 32.6667 40.9157 32.4438 40.9157 32.1779C40.9157 31.9042 41.0017 31.6813 41.1737 31.5093C41.3458 31.3372 41.5687 31.2512 41.8424 31.2512C42.1161 31.2512 42.339 31.3372 42.511 31.5093C42.6831 31.6813 42.7691 31.9042 42.7691 32.1779C42.7691 32.4438 42.6792 32.6667 42.4993 32.8466C42.3273 33.0186 42.1083 33.1047 41.8424 33.1047ZM49.0044 26.336C49.1373 26.6566 49.2038 27.0399 49.2038 27.4856V31.0166C49.2038 31.4389 49.0943 31.8143 48.8753 32.1427C48.6564 32.4634 48.3475 32.7136 47.9486 32.8935C47.5498 33.0656 47.0923 33.1516 46.5761 33.1516C46.0678 33.1516 45.6181 33.0656 45.2271 32.8935C44.8361 32.7136 44.5311 32.4673 44.3121 32.1545C44.0931 31.8338 43.9836 31.4663 43.9836 31.0518V30.7233C43.9836 30.6842 43.9953 30.6529 44.0188 30.6295C44.0501 30.5982 44.0853 30.5825 44.1244 30.5825H45.4969C45.536 30.5825 45.5673 30.5982 45.5907 30.6295C45.622 30.6529 45.6377 30.6842 45.6377 30.7233V30.8289C45.6377 31.087 45.7237 31.302 45.8957 31.4741C46.0756 31.6461 46.3024 31.7322 46.5761 31.7322C46.8655 31.7322 47.1001 31.6461 47.28 31.4741C47.4598 31.2942 47.5498 31.0674 47.5498 30.7937V29.7027C47.5498 29.6793 47.542 29.6636 47.5263 29.6558C47.5107 29.648 47.495 29.6519 47.4794 29.6675C47.1587 29.9413 46.7364 30.0781 46.2125 30.0781C45.7432 30.0781 45.3209 29.9725 44.9455 29.7614C44.578 29.5424 44.2886 29.2296 44.0775 28.8229C43.882 28.4554 43.7842 28.0057 43.7842 27.4739C43.7842 27.0125 43.8624 26.6058 44.0188 26.2539C44.2143 25.7925 44.5271 25.4288 44.9573 25.1629C45.3952 24.897 45.9075 24.7641 46.494 24.7641C47.0884 24.7641 47.6045 24.9049 48.0425 25.1864C48.4882 25.4601 48.8089 25.8433 49.0044 26.336ZM46.494 28.6939C46.9007 28.6939 47.1939 28.5336 47.3738 28.2129C47.4911 28.0096 47.5498 27.7476 47.5498 27.427C47.5498 27.1689 47.4989 26.9304 47.3973 26.7114C47.2252 26.3673 46.928 26.1952 46.5057 26.1952C46.0991 26.1952 45.8019 26.3673 45.6142 26.7114C45.4969 26.9304 45.4382 27.1767 45.4382 27.4504C45.4382 27.7476 45.5047 28.0057 45.6377 28.2247C45.8332 28.5375 46.1186 28.6939 46.494 28.6939Z' fill='white'/%3E%3C/svg%3E");
      width: 51px;
      height: 34px;

      @include responsive-width($tablet_m) {   
        left: -5px;
        top: -7px;   
        width: 60px;
        height: 41px;
      }
    }
  }
  .e-container {
    width: auto;
  }

  h2 {
    z-index: 1;
    opacity: 1;
    color: #454752;
    position: relative;
    font-weight: normal;
    transform: translateY(5px);
    transition: opacity 200ms ease-in-out, transform 300ms ease-in-out;

    strong {
      display: block;

      @include responsive-width($tablet_s) {
        display: initial;
      }
    }
  }

  .e-access__slider {
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 32px auto 0;

    .slick-dots {
      bottom: 0;
      margin-top: 20px;
      position: relative;
    }

    .slick-slide {
      padding-left: 10px;
      padding-right: 10px;

      .entel-access__slider__card {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .slick-prev,
    .slick-next {
      background: none;
      height: 22px;
      opacity: 1;
      visibility: visible;
      width: 22px;

      &::before {
        background: none;
        border: solid #9e9fa1;
        border-width: 0 2px 2px 0;
        height: auto;
        content: "";
        opacity: 1;
        position: absolute;
        padding: 6px;
        top: 7px;
        width: auto;
      }

      &:hover {
        &::before {
          border-color: $blue;
        }
      }
    }

    .slick-prev {
      left: -25px;
      right: inherit;

      &::before {
        transform: rotate(135deg);
      }
    }

    .slick-next {
      left: inherit;
      right: -25px;

      &::before {
        transform: rotate(-45deg);
      }
    }
  }

  &__slider__card {
    display: inline-block;
    padding: 5px;
    text-align: left;

    @media screen and (min-width: 768px) {
      padding: 10px;
    }

    .entel-access__item {
    }

    &.hidden-lg {
      display: inline-block;

      @include responsive-width($tablet_m) {
        display: none;
      }
    }
  }

  &__item {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    position: relative;
    width: 72px;
    height: 110px;
    padding: 5px;
    border-radius: 20px;
    background-color: #f7f8fa;
    border: 1px solid #c9def8;
    filter: drop-shadow(2px 2px 4px rgba(48, 106, 184, 0.15));

    @include responsive-width($tablet_m) {
      height: 132px;
      padding: 14px;
      width: 90px;
      padding-top: 15px;
    }

    &:hover {
      background-color: $blue;

      .e-icon {
        background-color: $white !important;
      }

      span {
        color: $white !important;
      }

      svg {
        &:first-child {
          opacity: 0;
        }

        &:nth-child(2) {
          opacity: 1;
        }

        &:last-child {
          opacity: 1;
          transform: scale(1.5);
        }
      }
    }

    &:active {
      transform: translateY(0) !important;
    }

    .e-icon {
      width: 48px;
      height: 48px;
      position: relative;
      border-radius: 50%;
      background-color: $white;
      transition: background-color 300ms ease-in-out;

      @include responsive-width($tablet_m) {
        width: 60px;
        height: 60px;
      }
    }

    svg {
      height: 24px;
      left: 50%;
      margin-left: -12px;
      margin-top: -12px;
      width: 24px;
      position: absolute;
      top: 50%;

      @include responsive-width($tablet_m) {
        height: 30px;
        margin-left: -15px;
        margin-top: -15px;
        width: 30px;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        opacity: 0;

        path {
          stroke: $teal;
        }
      }
    }

    span {
      font-size: 11px;
      font-weight: 500;
      color: #383c47;
      padding-left: 4px;
      text-align: center;
      width: 70px;
      height: 30px;

      @include responsive-width($tablet_m) {
        font-size: 13.5px;
        padding-left: 6px;
        width: 88px;
      }
    }
  }
}
