.entel-access {
  overflow: hidden;
  text-align: center;
  &__peru {
    padding-top: 0;
    padding-bottom: 30px;
    @include responsive-width($tablet_m){
      padding-top: 15px;
      padding-bottom: 50px;
    }
    h2 {
      z-index: 1;
      opacity: 1;
      color: #454752;
      position: relative;
      font-weight: normal;
      transform: translateY(5px);
      transition: opacity 200ms ease-in-out, transform 300ms ease-in-out;
      margin-bottom: 23px;
      @include responsive-width($tablet_m){
        margin-bottom: 40px;
      }
  
      strong {
        display: block;
  
        @include responsive-width($tablet_s) {
          display: initial;
        }
      }
    }
    .entel-access__slider__card {
      padding: 5px;
      @media screen and (min-width: 768px) {
        padding: 10px;
      }
    }
    .entel-access__item {
      padding: 10px 0px 5px;
      border-radius: 20px;
      background-color: #f7f8fa;
      border: 1px solid #c9def8;
      filter: drop-shadow(2px 2px 4px rgba(48, 106, 184, 0.15));
      @include responsive-width($tablet_m){
        padding: 15px 0px 5px;
      }

      &:hover {
        background-color: $blue;
  
        .e-icon {
          background-color: $white !important;
        }
      }
      .e-icon {
        width: 42px;
        height: 42px;
        display: block;
        margin: 0 auto 6px;
        border-radius: 50%;
        background-color: #fff;
        transition: background-color 300ms ease-in-out;
  
        @include responsive-width($tablet_m) {
          width: 60px;
          height: 60px;
          margin: 0 auto 12px;
        }
      }
      span {
        font-size: 10px;
        color: #383c47;
        width: 70px;
        max-width: 100%;
        @include responsive-width($tablet_m) {
          font-size: 13.5px;
          width: 88px;
          max-width: 100%;
        }
      }
    }
    .nuevo {
      &::before {
        left: -5px;
        top: 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='46' height='21' viewBox='0 0 46 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.105423 5.15864C-0.449681 2.56815 1.62137 0.16343 4.26553 0.328282L43.9058 2.79967C45.0458 2.87074 45.8948 3.88052 45.7692 5.01581L44.197 19.22C44.0849 20.2333 43.2286 21 42.2092 21H5.11683C4.17376 21 3.35883 20.3412 3.16123 19.4191L0.105423 5.15864Z' fill='%23F46C8F'/%3E%3C/svg%3E");
        height: 16px;  
        width: 38px;
        @include responsive-width($tablet_m){
          width: 47px;
          left: -7px;
          top: 14px;
          height: 23px;
        }
      }
    }
  }
  &__chile {
    // padding: 15px 0;
    padding: 10px 0 15px;
    background: $blue!important;
    @include responsive-width($tablet_m){
      // padding: 30px 0 40px;
      padding: 25px 0 40px;
    }
    h2 {
      z-index: 1;
      opacity: 1;
      color: #454752;
      position: relative;
      font-weight: normal;
      transform: translateY(5px);
      transition: opacity 200ms ease-in-out, transform 300ms ease-in-out;
      margin-bottom: 23px;
      @include responsive-width($tablet_m){
        margin-bottom: 40px;
      }
  
      strong {
        display: block;
  
        @include responsive-width($tablet_s) {
          display: initial;
        }
      }
    }
    .e-access__slider{
      background: #004fb9!important;
    }
    .entel-access__slider__card {
      padding: 5px;
      @media screen and (min-width: 768px) {
        padding: 10px;
      }
    }
    .entel-access__item {
      padding: 13px 0px 5px;
      border-radius: 10px;
      background-color: transparent;
      height: 92px;
      width: 74px;
      @include responsive-width($tablet_m){
        padding: 22px 0px 5px;
        width: 120px;
        height: 132px;
      }

      &:hover {
        background: #0436A1!important;
      }
      .e-icon {
        width: auto;
        height: 36px;
        display: block;
        margin: 0 auto 10px;
        border-radius: 50%;
        transition: background-color 300ms ease-in-out;
  
        @include responsive-width($tablet_m) {
          width: 60px;
          height: 60px;
          margin: 0 auto 12px;
        }

        svg{
          height: 100%;
          left: 50%;
          margin-left: 0;
          margin-top: 0;
          width: auto;
          position: absolute;
          top: 0;
          transform: translateX(-50%);
        }
      }
      span {
        font-size: 10px;
        color: #ffffff;
        width: 70px;
        max-width: 100%;
        @include responsive-width($tablet_m) {
          width: 88px;
          max-width: 100%;
          font-size: 14px;
        }
      }
    }

    .nuevo{
      &:before{      
        background: #F46C8F;
        background-image: none;
        border-radius: 4px;
        font-size: 8px;
        left: 0;
        top: inherit;
        right: 0;
        margin: auto;
        bottom: 0px;
        height: 16px;  
        width: 38px;
        @include responsive-width($tablet_m){
          font-size: 10px;
          padding: 4px 5px;
          width: 54px;
          height: 23px;
        }
      }

    }

    .slick-arrow{
      background: transparent!important;
      &:before,&:after{
        background: #fff!important;
      }
    }
  }
  &__slider__card {
    display: inline-block;
    // text-align: left;
    &.hidden-lg {
      display: inline-block;

      @include responsive-width($tablet_m) {
        display: none;
      }
    }
  }
  &__item {
    display: inline-block;
    position: relative;
    width: 62px;
    max-width: 100%;
    text-align: center;
    height: 95px;
    line-height: 1.05;

    @include responsive-width(360px){
      width: 66px;
    }
    @include responsive-width($tablet_m){
      width: 100px;
      height: 132px;
    }

    &:hover {
      span {
        color: $white !important;
      }
      svg {
        &:first-child {
          opacity: 0;
        }

        &:nth-child(2) {
          opacity: 1;
        }

        &:nth-child(3) {
          opacity: 1;
          transform: scale(1.5);
        }
      }    
    }
    &:active {
      transform: translateY(0) !important;
    }
    .e-icon {
      position: relative;
    }
    svg {
      height: 18px;
      left: 50%;
      margin-left: -9px;
      margin-top: -9px;
      width: 18px;
      position: absolute;
      top: 50%;

      @include responsive-width($tablet_m) {
        height: 30px;
        margin-left: -15px;
        margin-top: -15px;
        width: 30px;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        opacity: 0;

        path {
          stroke: $teal;
        }
      }
    }
    span {
      font-weight: 500;
      text-align: center;
      height: 30px;
    }

  }
  .nuevo {
    position: relative;
    &::before{
      content: 'Nuevo';
      position: absolute;
      z-index: 1;
      color: $white;
      text-align: center;
      font-weight: 700;
      font-size: 8px;
      padding: 2px 6px;
      @include responsive-width($tablet_m){
        font-size: 10px;
        padding: 4px 6px;  
      }
    }
  }
  .e-container {
    width: auto;
  }

  .slick__persons{
    padding-left: 0;
    padding-right: 0;
    @include responsive-width(360px){
      width: 340px;
      max-width: 100%!important;
      margin: 0 auto;
    }
    @include responsive-width(640px){
      width: 440px;
    }
    @include responsive-width($tablet_m){
      width: 660px;
    }

    .slick-slide{
      &:nth-child(6){
        svg{
          &:nth-child(1),&:nth-child(2){
            width: 25px;
            height: 25px;
            left: 40%;
            @include responsive-width($tablet_m){
              width: 60px;
              height: 40px;
              left: 25%;
            }
          }
        }
      }
      opacity: 0!important;
      overflow: hidden!important;
      &.slick-active{
        opacity: 1!important;
        overflow: visible!important;
      }
    }
    .slick-arrow{
      background: transparent!important;
      &:before,&:after{
        background: #9E9FA1;
      }
      &.slick-prev{
        left: -20px;
        @include responsive-width(360px){
          left: -17px;
        }
      }
      &.slick-next{
        right: -20px;
        @include responsive-width(360px){
          right: -17px;
        }
      }
    }
  }
  
}

.e-home-btns-peru,.e-home-btns-chile{
  opacity: 0;
  visibility: hidden!important;
  height: 0;
  &.js--active{
    visibility: visible!important;
    opacity: 1;
    height: auto;
  }
}

.m-modal--form {
  .m-modal {
    &__container {
      margin: auto;
      @include responsive-width($tablet_m) {
        max-width: 485px !important;
      }
      .m-modal__body {
        max-width: 330px;
        margin: 0 auto;
      }
    }

    &__head {
      h2 {
        font-size: 18px;
        letter-spacing: -0.04em;
        font-weight: 500;

        @include responsive-width($tablet_m) {
          font-size: 24px;
        }
      }
    }

    &__body {
      p {
        font-size: 10px;
        line-height: 12px;
        font-weight: 400;
        color: #383C47;

        a {
          color: #00B8EA;
          font-size: 13px;
          line-height: 15px;
        }
        
        @include responsive-width($tablet_m) {
          font-size: 13px;
          line-height: 15px;
        }
      }

      .e-text--center {
        text-align: center;
      }

      .subtext {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -0.04em;
        color: #383C47;
        margin: 13px 0;
      }

      input:not([type=radio]):not([type=checkbox]):not([type=file]){
        padding: 10px 12px 0 20px;
      }

      input[type=text] {
        & + div + span {
          position: absolute;
          top: 16px;
          font-size: 10px;
        }
        
        &:placeholder-shown + div + span {
          top: 24px;
          font-size: 14px;

          @include responsive-width($tablet-m) {
            top: 24px;
            font-size: 14px;
          }
        }

        &:focus{
            border-color: $extra_blue;
        }

        &:focus + div + span {
          top: 16px;
          font-size: 10px;
          color: $extra_blue;

          @include responsive-width($tablet-m) {
            font-size: 10px;
          }
        }
      }

      .e-button {
        width: 233px;
        font-weight: 600;
        font-size: 13px;
        // margin-top: 20px;
        height: 46px;
        padding: 0;
        position: relative;
        text-transform: initial;

        @include responsive-width($tablet_m) {
          width: 100%;
          height: 60px;
          font-size: 20px;
        }

        span {
          display: block;
          text-align: left;
          padding-left: 82px;
          padding-top: 4px;
          text-transform: initial;
          font-weight: 600;

          @include responsive-width($tablet_m) {
            font-size: 20px;
            padding-left: 119px;
            padding-top: 1px;
          }

          &:before {
            content: '';
            position: absolute;
            top: 7px;
            left: 42px;
            display: block;
            width: 26px;
            height: 26px;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='26' height='27' viewBox='0 0 26 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.10424 0.458713C4.13439 -0.273527 5.38106 0.125749 6.14164 0.913604L9.41299 4.30223C10.5619 5.49229 10.5921 7.44871 9.48074 8.67855L8.27044 10.0178C8.21095 10.0837 8.20433 10.1726 8.23629 10.2359C9.86732 13.4688 12.1997 16.033 15.3882 17.9016C15.4476 17.9364 15.531 17.9302 15.5932 17.8683L17.3691 16.102C18.1967 15.2789 19.4832 15.2882 20.3002 16.1231L24.3656 20.2777C24.9504 20.8754 25.2283 21.8553 24.8007 22.72C23.669 25.008 21.4173 26.6441 18.2196 26.3924C15.0649 26.1441 11.0585 24.0673 6.29062 19.1658C1.94627 14.6997 0.189114 10.7196 0.0145696 7.46919C-0.160824 4.20298 1.26962 1.76277 3.10424 0.458713ZM5.33087 1.80338C4.8291 1.28361 4.18392 1.18223 3.74965 1.49091C2.24537 2.56016 1.02526 4.58778 1.17619 7.39828C1.32796 10.2246 2.87398 13.9301 7.09822 18.2727C11.7766 23.0823 15.5391 24.9375 18.3052 25.1552C21.0282 25.3696 22.8493 24.0059 23.7715 22.1413C23.909 21.8633 23.8503 21.4695 23.5605 21.1733L19.4951 17.0187C19.1237 16.6392 18.539 16.635 18.1628 17.0091L16.3868 18.7755C15.9698 19.1903 15.3426 19.2905 14.8277 18.9887C11.4408 17.0039 8.94799 14.2653 7.21161 10.8236C6.9315 10.2684 7.035 9.59701 7.43257 9.15707L8.64287 7.81779C9.30971 7.07989 9.29154 5.90604 8.60222 5.192L5.33087 1.80338Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.3953 8.27627C15.7813 8.05196 17.8681 9.91634 18.0785 12.4604C18.1067 12.8016 17.8701 13.1026 17.5501 13.1327C17.23 13.1628 16.9477 12.9106 16.9195 12.5693C16.7655 10.7078 15.2434 9.34789 13.4975 9.51202C13.1774 9.5421 12.8951 9.28986 12.8669 8.94862C12.8387 8.60738 13.0752 8.30635 13.3953 8.27627Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.8392 4.83211C17.5845 4.48003 20.8841 7.42797 21.2143 11.4212C21.2425 11.7624 21.006 12.0634 20.6859 12.0935C20.3658 12.1236 20.0835 11.8714 20.0553 11.5301C19.7815 8.21941 17.0466 5.77595 13.9414 6.06786C13.6214 6.09795 13.339 5.8457 13.3108 5.50446C13.2826 5.16322 13.5192 4.86219 13.8392 4.83211Z' fill='white'/%3E%3C/svg%3E");

            @include responsive-width($tablet_m) {
              background-size: 100%;
              top: 11px;
              left: 65px;
              width: 34px;
              height: 34px;
            }
          }
        }
      }
    }

  }
}
