
.entel-inboundweb {
    display: none;
}

p.entel-inbound__web-header {
    margin: 0;
    margin-top: 44px;
}

@media (min-width: 1024px) {
    .entel-inboundweb {
        display: none;
    }

    .entel-notify__main {
        display: none;
    }
}

@media (min-width: 1024px) {
    .lq-enav__user {
        right: 150px !important;
    }

    .entel-notify__main {
        display: none;
        right: 4px;
    }

    .lq-esearch--open {
        width: 784px;
    }

    .lq-eheader .lq-container_menu .lq-enav .lq-eheader__button.show-search-desktop {
        padding: 5px 0;
    }

    .lq-eheader .lq-container_menu .lq-enav .lq-enav__primary ul.lq-emenu.lq-emenu__primary>li a {
        padding: 29px 15px 30px;
    }
}


@media (min-width: 1120px) {
    .entel-inboundweb {
        display: none !important;
    }

    .entel-notify__main {
        // display: block;
        right: 10px;
    }

    .lq-esearch--open {
        width: 854px;
    }

    .lq-enav__user {
        right: 160px !important;
    }
    
    .lq-eheader .lq-container_menu .lq-enav .lq-eheader__button.show-search-desktop {
        padding: 5px 25px;
    }
    .lq-eheader .lq-container_menu .lq-enav .lq-enav__primary ul.lq-emenu.lq-emenu__primary>li a {
        padding: 29px 16px 30px;
    }
}

@media (min-width: 1480px) {

    .lq-esearch--open {
        width: 934px;
    }

    .entel-notify__main {
        right: -150px;
    }

    .lq-enav__user {
        right: 0 !important;
    }
}