// Fixed por padding menu
@media (min-width: 768px) {
    .lq-eheader .lq-container_menu .lq-enav .lq-enav__primary ul.lq-emenu.lq-emenu__primary>li a {
        padding: 29px 8px 30px;
    }  
}

@media (min-width: 992px) {
    .lq-eheader .lq-container_menu .lq-enav .lq-enav__primary ul.lq-emenu.lq-emenu__primary>li a {
        padding: 29px 16px 30px;
    }
}
