.e-phones {
    background: #f7f8fa;
    .js--animation {
        animation-delay: 0.5s;
        animation-duration: 1s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-name: animation_vertical;
        animation-timing-function: ease-in-out;
    }

    @keyframes animation_vertical {
        from {
            transform: translateY(0);
        }

        to {
            transform: translateY(15px);
        }
    }

    @keyframes animation_horizontal {
        from {
            transform: rotateY(0deg);
        }

        to {
            transform: rotateY(-30deg);
        }
    }

    h2 {
        font-family: Barlow;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 108%;
        text-align: center;
        color: #383c47;
        margin: 20px 0 0 0;

        @include responsive-width($tablet-m) {
            font-weight: 600;
            font-size: 20px;
        }

        &.e-title {
          // margin-bottom: 0;
          strong {
            display: block;

            @include responsive-width($tablet-m) {
              display: inline;
            }

          }
        }
    }
    // .e-tabs nav {
    //   display: none;
    // } 

    .e-tabs nav li a {
        width: 140px;

        @media screen and (min-width: 768px) {
            width: 268px;
        }
    }

    .migra-entel__tabs {
        text-align: center;

        .slick-slider .slick-prev,
        .slick-slider .slick-next {
            background-image: none !important;
        }

        .slick-slider .slick-next {
            @media screen and (min-width: 768px) and (max-width: 1023px) {
                right: -11%;
            }
            @media screen and (min-width: 1024px) {
                right: -4%;
            }
        }

        .slick-slider .slick-prev {
            @media screen and (min-width: 1024px) {
                left: -1%;
            }
        }
    }

  #tab-planesmoviles {
    .plan-tstng-link {
      display: none;
    }
    > p {
      font-family: Barlow;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      text-align: center;
      color: #383c47;
      position: relative;
      top: -26px;
      display: none;
      @media screen and (min-width: 1024px) {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 50px;
        margin-top: 12px;
        display: block;
      }

      a {
        font-family: Barlow;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #ff560a;
      }
    }

    .slick-slider .slick-prev {
      @media screen and (max-width: 1024px) {
        left: 4% !important;
      }
    }

    .slick-slider .slick-prev,
    .slick-slider .slick-next {
      bottom: 58% !important;
      width: 14px;
    }
    
    .slick-slider .slick-prev {
      left: 2% !important;
    }
    .slick-slider .slick-next {
      right: 2% !important;
      
      @include responsive-width($laptop-s) {
        right: 2% !important;
      }

      &::before {
        position: absolute;
        right: 0;
      }
    }
  }
  
  .e-brands__slider {
    @include responsive-width($laptop-s) {
      .slick-next {
            &:before {
                left: 23px;
            }
        }        
    }
  }
  .slick-initialized .slick-slide {
    background-color: #f7f8fa !important;
  }

  .slider-planesmovil {
    max-width: 420px;
    margin: auto;
    background: #f7f8fa!important;

    @media screen and (min-width: 1024px) {
      max-width: 1240px;
    }

    .slick-dots {
      bottom: 20px;
      @media screen and (min-width: 1024px) {
        bottom: -45px;
      }
    }
  }
  //test a/b
  .slider-planesmovil-tstng {
    display: none;
    max-width: 420px;
    margin: auto;
    background: #f7f8fa!important;

    @media screen and (min-width: 1024px) {
      max-width: 1240px;
    }

    .slick-dots {
      bottom: 20px;
      @media screen and (min-width: 1024px) {
        bottom: -45px;
      }
    }
  }

  //fin test a/b

  .slider-planesequipos {
    max-width: 420px;
    margin: auto;

    @media screen and (min-width: 1024px) {
      max-width: 1240px;
    }

    .slick-dots {
      bottom: 20px;

      @media screen and (min-width: 1024px) {    
        bottom: 10px;
      }
    }

    &_item {
      transition: all 200ms ease 0s;
      background: #ffffff;
      border: 1px solid #c9def8;
      box-shadow: 0px 10px 40px rgba(89, 114, 148, 0.3);
      border-radius: 20px;
      max-width: 328px;
      height: 456px;
      margin-top: 3rem;
      margin-bottom: 55px;
      position: relative;
      text-align: center;
      padding: 34px 20px 0;

      @include responsive-width($tablet_m) {
        height: 479px;
      }

      .equipo {
        &-title {
          color: #383C47;
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 14px;

          @include responsive-width($tablet_m) {
            font-size: 16px;
          }
        }

        &-img {
          height: 175px;

          img {    
            // width: 100px;
            height: 180px;
            margin: 0 auto;
          }

          &.label-5g {
            &::after {
              top: 28%;
              left: 30%;
              content: '';
              width: 31px;
              height: 26px;
              position: absolute;
              background-size: 31px 26px;
              background-repeat: no-repeat;
              background-image: url($m_image_path + "2022/07/planes-home-5g@2x.png");

            }
          }
        }

        &-plan {
          color: #383C47;
          font-size: 11px;
          font-weight: 500;
          margin-top: 14px;
          margin-bottom: 14px;

          @include responsive-width($tablet_m) {
            font-size: 12px;
          }
        }

        &-descuento {
          color: #383C47;
          font-size: 11px;
          font-weight: 500;
          margin-bottom: 14px;

          @include responsive-width($tablet_m) {
            font-size: 12px;
          }

          small {
            color: $color-blue;
            font-weight: 600;
            font-size: 11px;

            @include responsive-width($tablet_m) {
              font-size: 12px;
            }
          }
        }

        &-tipos {
          display: flex;
          width: 100%;
          justify-content: center;
        }

        &-cuotas {
          width: 46%;
          display: flex;
          flex-direction: column;
          font-size: 11px;
          font-weight: 500;
          color: #383C47;

          @include responsive-width($tablet_m) {
            font-size: 12px;
          }

          span {
            &:nth-child(1) {
              display: block;
              line-height: 20px;
              height: 20px;
              background: #EEF2F6;
              border-radius: 10px;
              margin-bottom: 6px;
            }

            &:nth-child(2) {
              color: $color-blue;
              font-size: 12px;
              margin-bottom: 2px;

              @include responsive-width($tablet_m) {
                font-size: 14px;
              }
            }

            &:nth-child(3) {
              small {
                font-size: 11px;
                font-weight: 600;

                @include responsive-width($tablet_m) {
                  font-size: 12px;
                }
              }
            }
          }
        }

        &-o {
          width: 8%;
          color: #383C47;
          font-size: 11px;
          font-weight: 500;
          line-height: 20px;
          height: 20px;
          position: relative;

          @include responsive-width($tablet_m) {
            font-size: 12px;
          }

          &:after {
            content: '';
            display: block;
            position: absolute;
            width: 1px;
            height: 30px;
            left: 50%;
            top: 27px;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bcd2e6+1,ff7891+10,004fb9+81 */
            background: #bcd2e6; /* Old browsers */
            background: -moz-linear-gradient(top,  #bcd2e6 1%, #ff7891 10%, #004fb9 81%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  #bcd2e6 1%,#ff7891 10%,#004fb9 81%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  #bcd2e6 1%,#ff7891 10%,#004fb9 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcd2e6', endColorstr='#004fb9',GradientType=0 ); /* IE6-9 */

            @include responsive-width($tablet_m) {
              top: 30px;
            }
          }
        }

        &-pagounico {
          width: 46%;
          display: flex;
          flex-direction: column;
          font-size: 11px;
          font-weight: 500;
          color: #383C47;

          @include responsive-width($tablet_m) {
            font-size: 12px;
          }

          span {
            &:nth-child(1) {
              display: block;
              line-height: 20px;
              height: 20px;
              background: #EEF2F6;
              border-radius: 10px;
              margin-bottom: 6px;
            }

            &:nth-child(2) {
              color: $color-blue;
              font-size: 12px;
              line-height: 34px;
              margin-bottom: 0;

              @include responsive-width($tablet_m) {
                font-size: 14px;
              }
            }

            // &:nth-child(3) {
            //   color: #b2b2b2;

            //   small {
            //     font-size: 11px;
            //     font-weight: 500;
            //     text-decoration: line-through;

            //     @include responsive-width($tablet_m) {
            //       font-size: 12px;
            //     }
            //   }
            // }
          }
        }

        &-link {
          border: 1px solid $orange;
          border-radius: 15px;
          line-height: 28px;
          height: 30px;
          width: 175px;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 700;
          display: block;
          margin: 11px auto 14px;
          transition: all .2s ease;

          @include responsive-width($tablet_m) {
            font-size: 14px;
            width: 199px;
            height: 36px;
            line-height: 34px;
          }

          &:hover {
            color: $white;
            background-color: $orange;
          }
        } 

        &-disclaimer {
          color: #838383;
          font-size: 9px;
          line-height: 11px;

          @include responsive-width($tablet_m) {
            font-size: 10px;
          }
        }
      }
    }
  }

  .linea-adicional {
    margin-top: 2rem;
    .box {
      background-image: url($m_image_path + "2020/11/linea-adicional-bg-mob.png");
      // height: 617px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      max-width: 308px;
      margin: auto;
      height: 560px;
      @media screen and (min-width: 1024px) {
        background-image: url($m_image_path + "2020/11/linea-adicional-bg-desk.png");
        max-width: 910px;
        display: flex;
        height: 190px;
      }
    }
    .box-text {
      @media screen and (min-width: 1024px) {
        width: 100%;
        align-self: center;
      }
    }
    .img {
      width: 164px;
      margin: auto;
      @media screen and (min-width: 1024px) {
        margin: initial;
        position: relative;
        left: -24px;
        top: -4px;
        width: 210px;
      }
    }
    .text1 {
      @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .box-tex {
        p:nth-child(1) {
          font-family: Barlow;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          letter-spacing: -0.02em;
          color: #383c47;
          max-width: 246px;
          margin: 5px auto 15px;
          strong:nth-child(2) {
            color: #004fb9;
          }
          @media screen and (min-width: 1024px) {
            line-height: 30px;
            margin: auto;
          }
        }
        p:nth-child(2) {
          display: none;
          @media screen and (min-width: 1024px) {
            display: block;
            font-family: Barlow;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 30px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #4e5057;
            margin: auto;
          }
        }
      }

      img {
        width: 213px;
        @media screen and (min-width: 1024px) {
          width: 216px;
        }
      }
      p:nth-child(3) {
        font-family: Barlow;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #4e5057;
        @media screen and (min-width: 1024px) {
          font-size: 12px;
          display: none;
        }
      }
      a:nth-child(4) {
        font-family: Barlow;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 38px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        background: #ff560a;
        border-radius: 50px;
        width: 140px;
        height: 40px;
        display: block;
        margin: inherit;
        @media screen and (max-width: 1023px) {
          margin: 0 auto 15px auto;
        }
      }
    }
    .text2-desk {
      @media screen and (max-width: 1024px) {
        display: none;
      }
      p {
        font-family: Barlow;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #4e5057;
        max-width: 672px;
        margin: 2rem auto;
      }
    }
    .text2 {
      @media screen and (min-width: 1024px) {
        display: none;
      }
      p {
        font-family: Barlow;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #4e5057;
        max-width: 260px;
        margin: auto;
        @media screen and (min-width: 1024px) {
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }
  .brand-section {
    .slick-slider .slick-prev,
    .slick-slider .slick-next {
      background-image: none !important;
    }
    // .slick-slider .slick-next {
    //   @media screen and (min-width: 768px) and (max-width: 1023px) {
    //     right: 0;
    //   }
    //   @media screen and (min-width: 1024px) {
    //     right: -1%;
    //   }
    // }
    // .slick-slider .slick-prev {
    //  @media screen and (min-width: 768px) and (max-width: 1023px) {
    //    left: 1%;
    //  }
    //   @media screen and (min-width: 1024px) {
    //     left: -1%;
    //   }
    // }
    @media screen and (min-width: 1024px) {
      margin-top: 4rem;
    }
    h6 {
      font-family: Barlow;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #383c47;
      @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 108%;
      }
    }
  }

  .e-brands__slider {
    max-width: 240px;
    margin: auto;
    background: #f7f8fa;
    @media screen and (min-width: 768px) {
      max-width: 700px;
    }
    @media screen and (min-width: 1024px) {
      max-width: 920px;
    }
    .slick-slide {
      div {
        text-align: center;
      }
    }
    .slick-prev:before,
    .slick-next:before {
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      top: 0;
      // width: 12;
      // transform: translateX(50%);

      
      @media screen and (min-width: 1024px) {
        top: 10px;
      }
    }
    .slick-prev {
      left: 0;
      top: 28px;
      bottom: auto;
      width: auto;
      height: auto;

      @media screen and (min-width: 1024px) {
        top: 20px;
      }
    }
    .slick-next {
      right: 0;
      top: 28px;
      bottom: auto;
      width: auto;
      height: auto;
      
      @media screen and (min-width: 1024px) {
        top: 20px;
      }
    }
    .slick-prev:before {
      left: -20px;
    }
    .slick-next:before {
      right: -26px;
      
      @media screen and (min-width: 1024px) {
        right: -30px;
      }
    }

    .e-brand__box {
      max-width: 100px;
      margin: 0 auto;
      position: relative;

      a {
          height: 40px;
          display: inline-flex;
          position: relative;
          align-items: center;
      }

      img {
        margin: auto;
      }
      
      div {
          top: 75%;
          left: 50%;
          position: absolute;
          transform: translate(-50%, -50%) scale(.8);
          filter: grayscale(100%);
      }

      .icon-oppo {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='136' height='45' viewBox='0 0 136 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='136' height='45' fill='white'/%3E%3Cpath d='M24.6546 9.00061H24.4816H24.3086C16.4795 9.13677 11 13.3687 11 19.2898C11 25.2109 16.4795 29.4503 24.3068 29.5791H24.6546C32.4892 29.4503 37.9614 25.2201 37.9614 19.2898C37.9614 13.3595 32.4874 9.13677 24.6546 9.00061ZM24.4816 26.2247C18.7556 26.1659 15.0572 23.4427 15.0572 19.2898C15.0572 15.137 18.7556 12.4138 24.4816 12.3531C30.2076 12.4138 33.9079 15.137 33.9079 19.2898C33.9079 23.4427 30.2076 26.1659 24.4834 26.2247' fill='%23046A38'/%3E%3Cpath d='M111.303 9H111.13H110.957C103.121 9.12696 97.6487 13.3589 97.6487 19.2892C97.6487 25.2195 103.121 29.4496 110.955 29.5784H111.303C119.138 29.4496 124.61 25.2195 124.61 19.2892C124.61 13.3589 119.138 9.13616 111.303 9ZM111.13 26.2241C105.406 26.1653 101.706 23.4421 101.706 19.2892C101.706 15.1364 105.406 12.4132 111.13 12.3525C116.858 12.4132 120.557 15.1364 120.557 19.2892C120.557 23.4421 116.858 26.1653 111.132 26.2241' fill='%23046A38'/%3E%3Cpath d='M82.4781 9H82.3052H82.1322C78.3989 9.06072 75.2028 10.0525 72.8789 11.7158V9.96232H68.8309V36H72.8789V26.8608C75.2028 28.5168 78.3989 29.5177 82.1304 29.5784H82.4781C90.3128 29.4496 95.7849 25.2195 95.7849 19.2892C95.7849 13.3589 90.3128 9.13616 82.4781 9ZM82.3052 26.2241C76.5791 26.1653 72.8808 23.4421 72.8808 19.2892C72.8808 15.1364 76.5791 12.4132 82.3052 12.3525C88.0312 12.4132 91.7314 15.1364 91.7314 19.2892C91.7314 23.4421 88.0312 26.1653 82.307 26.2241' fill='%23046A38'/%3E%3Cpath d='M53.5663 9H53.3933H53.2203C49.487 9.06072 46.2873 10.0562 43.967 11.7121V9.95864H39.9191V36H43.967V26.8608C46.2909 28.5168 49.487 29.5177 53.2185 29.5784H53.5663C61.4009 29.4496 66.8731 25.2195 66.8731 19.2892C66.8731 13.3589 61.4009 9.13616 53.5663 9ZM53.3933 26.2241C47.6673 26.1653 43.9689 23.4421 43.9689 19.2892C43.9689 15.1364 47.6673 12.4132 53.3933 12.3525C59.1194 12.4132 62.8196 15.1364 62.8196 19.2892C62.8196 23.4421 59.1194 26.1653 53.3951 26.2241' fill='%23046A38'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        width: 136px;
        height: 45px;
      }
    }
  }
  .half-dscto-message {
    P {
      display: none;
      @media screen and (min-width: 768px) {
        font-family: Barlow;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #383c47;
      }
    }
  }
}
