.e-home-roaming {
  // background: #fea;
  position: relative;

  &:before{
    content:'';
    background: #f7f8fa;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }

  &__box {
    background: $blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    position: relative;
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 2.69975px 2.69975px 13.4988px rgba(48, 106, 184, 0.25);
    border-radius: 8px;
    gap: 20px;
    @include responsive-width($tablet_m){
      width: 630px;
      padding: 30px 42px;
      border-radius: 14px;
    }
  }
  .img {
    position: absolute;
    top: 29px;
    left: 20px;
    width: 23px;
    max-width: 100%;
    @include responsive-width(340px){
      top: 21px;
    }
    @include responsive-width($tablet_m) {
      position: relative;
      top: inherit;
      left: inherit;
      width: 68px;
      flex-shrink: 0;
    }
  }
  .text {
    width: 100px;
    flex-shrink: 0;
    @include responsive-width(340px){
      width: auto;
      flex-shrink: 1;
    }
    @include responsive-width($tablet_m){
      text-align: left;
    }
    h2 {
      font-weight: 700;
      font-size: 12px;
      color: #fff;
      padding-left: 29px;
      margin-bottom: 8px;
      @include responsive-width($tablet_m){
        font-weight: 700;
        font-size: 24px;
        padding-left: 0;
      }
    }
    p {
      color: #fff;
      font-weight: 400;
      font-size: 10px;
      margin-bottom: 0;
      @include responsive-width($tablet_m){
        font-size: 16px;
      }
    }
    h4 {
      text-align: left;
      margin-left: 35px;
      @include responsive-width($tablet_m){
          text-align: inherit;
          margin-left: inherit;
      }
    }
  }
  .btn {
    a {
      min-width: 120px;
      @include responsive-width($tablet_m){
        min-width: 170px;
      }
    }
  }
}
