.entel-services {
  background-color: #ddecff;
  padding-bottom: 0;
  .e-container {
    padding: 0;
  }
  // .slick-initialized .slick-slide {
  //   background-color: #ddecff !important;
  // }
  h2 {
    margin-bottom: 42px;
    color: #383c47;
    font-weight: 300;
    text-align: center;
    font-size: 24px;
    padding: 0 12px;
    @include responsive-width($tablet_m) {
      // text-align: left;
      // padding-left: 90px;
      font-size: 34px;
    }
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;

    @include responsive-width($tablet_m) {
      flex-direction: row;
    }

    &-left {
      width: 100%;

      // @include responsive-width($tablet_m) {
      //   width: auto;
      // }
    }

    .e-services__slider__slide {
      // padding: 42px 10px;
      background-color: #ddecff;
      @include responsive-width($tablet_m) {
        // padding: 0;
        margin: 1rem auto;
        padding: 0 5px;
      }

      & > a {
        background-repeat: no-repeat;
        background-image: m_image_url("2021/12/experiencia-bg-mob.png");
        @include backgound_retina {
          background-image: m_image_url("2021/12/experiencia-bg-mob@2x.png");
        }
        display: flex;
        height: 200px;
        align-items: center;
        background-size: contain;
        background-position: center;
        max-width: 273px;
        margin: 1rem auto;
        // display: flex;
        position: relative;
        // border-radius: 15px;
        // margin-bottom: 40px;
        flex-direction: column;
        justify-content: center;
        // background-color: $sky_blue;
        // padding: 33px 42px 21px 14px;
        transition: all 500ms ease-in-out;
        transform: translate(0px, 0px) scale(1);
        -moz-transition: all 500ms ease-in-out;
        filter: drop-shadow(1px 0px 6px rgba(48, 106, 184, 0.2));

        @include responsive-width($tablet_m) {
          // width: 390px;
          // filter: none;
          // height: 117px;
          // padding: 21px 55px 21px 50px;
          background-image: m_image_url("2021/12/experiencia-bg-desk.png");
          @include backgound_retina {
            background-image: m_image_url("2021/12/experiencia-bg-desk@2x.png");
          }

          &:hover,
          &.js--active {
            transform: translate(-18px, -4px) scale(1.1);
          }
        }

        &.e-bg-white {
          // background-color: $white;

          p,
          h4 {
            // color: $sky_blue;
          }

          // &::after {
          //   top: 50%;
          //   width: 21px;
          //   right: 17px;
          //   height: 21px;
          //   content: "";
          //   position: absolute;
          //   background-size: 21px 21px;
          //   transform: translate(0, -50%);
          //   background-image: url($m_image_path + "2020/11/e-services-arrow-purple.png");
          // }
        }

        &:hover {
          filter: drop-shadow(10px 10px 25px rgba(48, 106, 184, 0.2));
        }

        // &::after {
        //   top: 50%;
        //   width: 21px;
        //   right: 17px;
        //   height: 21px;
        //   content: "";
        //   position: absolute;
        //   background-size: 21px 21px;
        //   transform: translate(0, -50%);
        //   background-image: url($m_image_path + "2020/11/e-services-arrow-white.png");
        // }
      }

      &:nth-child(2) {
        > a.js--active {
          transition-delay: 0.5s;
        }
      }

      &:nth-child(3) {
        > a.js--active {
          transition-delay: 1s;
        }
      }

      &:last-of-type {
        a {
          margin-bottom: 0;
        }
      }

      img {
        left: -20px;
        top: inherit;
        width: 80px;
        position: absolute;
        // transform: translate(-50%, 0);

        @include responsive-width($tablet_m) {
          left: 10px;
          transform: none;
          top: -20px;
          width: auto;
        }
      }
      p,
      h4 {
        max-width: 160px;
        width: 100%;
        margin-left: 10px;
        @include responsive-width($tablet_m) {
          max-width: 210px;
        }
      }
      p {
        color: #383c47;
        font-size: 12px;
        margin-bottom: 0;

        @include responsive-width($tablet_m) {
          font-size: 14px;
          padding-right: 20px;
        }
      }

      h4 {
        color: #004fb9;
        font-size: 16px;
        margin-top: 12px;
        margin-bottom: 2px;
        font-weight: bold;
        @include responsive-width($tablet_m) {
          font-size: 20px;
          height: 40px;
          margin-bottom: 1rem;
        }
      }
    }

    &-right {
      position: relative;
      margin-bottom: 28px;

      picture {
        img {
          opacity: 0;
          left: -44px;
          width: 140px;
          position: relative;
          transform: translateY(25px);
          transition: opacity 300ms ease-in-out, transform 500ms ease-in-out;

          &.js--active {
            opacity: 1;
            transform: translateY(0);
          }

          @include responsive-width($tablet_l) {
            width: 100%;
            left: auto;
          }
        }
      }

      .e-service-quote {
        position: absolute;
        background: url($m_image_path + "2020/11/e-services-quote.png")
          no-repeat 0 0;
        width: 156px;
        height: 84px;
        background-size: cover;
        display: flex;
        align-items: center;
        color: $white;
        padding: 28px 16px;
        top: 20px;
        right: -50px;
        animation-duration: 2s;
        animation-direction: alternate;
        animation-name: animation_vertical;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

        @include responsive-width($tablet_l) {
          width: 229px;
          height: 124px;
          right: -90px;
        }
        @include responsive-width($laptop_s) {
          right: -80px;
        }
        @include responsive-width($laptop_m) {
          right: -90px;
        }

        p {
          margin-bottom: 0;
          font-size: 12px;

          @include responsive-width($tablet_l) {
            font-size: 16px;
          }
        }
      }
    }
  }

  &-cobertura {
    display: flex;
    padding: 35px 21px 21px;
    height: 200px;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: url($m_image_path + "2021/05/e-contact-bg-map_v2@2x.png");

    a {
      margin: 21px 0;
      padding: 10px 30px;
    }

    p {
      margin-bottom: 0;
      display: inline-block;
      vertical-align: middle;
      margin-left: 21px;
    }

    br {
      display: block;
    }

    & > div {
      display: flex;
      align-items: center;
    }

    @include responsive-width($tablet_m) {
      width: 100%;
      height: 112px;
      margin-top: 70px;
      padding: 21px 0 0;
      padding-top: 14px;
      flex-direction: row;
      background-size: contain;
      background-position: center 1px;
      background-image: url($m_image_path + "2021/05/e-contact-bg-map_v2.png");
      p {
        font-size: 20px;
      }

      a {
        margin-left: 21px;
      }

      br {
        display: none;
      }
    }

    @include responsive-width($tablet_l) {
      height: 120px;
    }
  }

  .slick-dots {
    bottom: 0;
      @media(min-width: 768px){
      bottom: -25px;      
      }
  }
}

#slider-services{
  @media(min-width: 768px){
    .slick-dots{

    }
  }
}