.e-top-banner {
    top: 0;
    width: 100%;
    height: 65px;
    z-index: 99999;
    line-height: 3;
    position: fixed;
    text-align: initial;
    background-color: $light_gray;

    @include responsive-width($tablet_s) { 
        height: 40px;
        text-align: center;
        padding: 10px 21px;
    }

    &__text {
        width: 90%;
        font-size: 12px;
        color: #383C47;
        font-weight: 500;
        line-height: 18px;
        font-style: normal;
        padding: 3% 0% 0% 4.5%;

        .hide-mob {
            display: none;

            @include responsive-width($tablet_s) { 
                display: inline;
                margin: 0px 3px;
            }
        } 

        @include responsive-width($tablet_l) { 
            width: 100%;
            padding: 2.4% 0% 0% 4.5%;
        }

        @include responsive-width($tablet_s) { 
            padding: 0%;
            width: 100%;
        }
        
        &_phone {
            a {
                color: $orange;
                margin: 0px 3px;
                font-weight: bold;
                white-space: nowrap;

                span {
                    color: $orange;
                    font-weight: bold;
                }
            }
        } 
 
        &_whatsapp {
            a {
                margin-left: 5px;
                position: relative;
                white-space: nowrap;

                span {
                    color: #2AB53A;
                    font-weight: bold;
                    padding-left: 17px;
                }
                svg {
                    top: 0px;
                    position: absolute;
                }
            }
        }
    }

    &__close {
        cursor: pointer;
        position: absolute;
        top: 24.4%;
        line-height: 3;
        right: 4.5%;
        @include responsive-width($tablet_s) { 
            top: 10px;
            top: 3.5px;
            position: absolute;
        }

        @include responsive-width($laptop_s) {
            right: 9%;
        }
    }
}

// theme
.lq-esearch__input {
    margin: 0 !important;
}

.hide-top-banner {
    display: none;
}

.lq-eheader {
    &.js--active {
        top: 65px !important;

        @include responsive-width($tablet_s) {
            top: 40px !important;
        }

        @include responsive-width($tablet_m) {
            top: 80px !important;
        }

        &.scroll-menu {
            top: 0 !important;
        }
    }
}

.lq-wrapper__menu {
    &.js--active {
        height: 120px !important;

        @include responsive-width($tablet_s) {
            top: 95px !important;
        }

        @include responsive-width($tablet_m) {
            top: 0 !important;
            height: 55px !important;
        }
    }
}

nav.lq-enav-page {
    &.js--active {
        @include responsive-width($tablet_s) {
            top: 40px !important;
        }
    }
}

.lq-no-header {
    &.js--active {
        @include responsive-width($tablet_m) {
            height: 155px !important;
        }
    }
}
