@media (max-width: 767px) {
  .entel-notify__body .lq-eheader .lq-container_menu .lq-enav.no-btn-app-mob{
    top: 85px;
  }
  .entel-notify__body .lq-eheader .lq-container_menu .lq-enav{
    top: 151px ;
  }
  .lq-eheader {
    top: inherit;
  }
  #btn-app {
    background: #c9def8;
    display: flex;
    height: 66px;
    justify-content: space-around;
    align-items: center;
  }
  .btn-app-text {
    color: #383c47;
    width: 75%;
    font-size: 12px;
    line-height: 14px;
  }
  .e-link-orange,
  .e-link-orange:active,
  .e-link-orange:hover,
  .e-link-orange:visited {
    color: #ff560a;
    text-transform: uppercase;
    text-decoration-line: underline;
    font-weight: bold;
  }
  .btn-app-close {
    align-self: start;
  }
  .e-close,
  .e-close:active,
  .e-close:hover,
  .e-close:visited {
    color: #004fb9;
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  #btn-app {
    display: none !important;
  }
}
