@import url('https://fonts.cdnfonts.com/css/hertine---personal-use');
.cf,
%cf {
    &::before,
    &::after {
        content: '';
        display: table;
    }

    &::after {
        clear: both;
    }
}
body{
    background-image: url($m_image_path + 'bg-boda-jym-mob.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    height: 3560px;
    color: #000;
    // overflow: hidden;

    @include responsive-width($tablet_m){
        background-image: url($m_image_path + 'bg-boda-jym-desk.png');
        height: 3270px;

    }

    @include responsive-width($laptop_s){
        height: 4460px;
    }
}

.wedding-jym_flowers{
    position: absolute;
    img{
        max-width: none;
        width: 56%;

        @include responsive-width($tablet_m){
            width: 120%;
        }
        @include responsive-width($laptop_s){
            width: 160%;
        }
    }
}
.top-flower{
    top: 0;
    left: 0;
}
.bottom-flower{
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.wedding-jym_soundtrack{
    position: absolute;
    top: 1%;
    right: 5%;
    animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    z-index: 20;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 7px;
        @include responsive-width($laptop_s){
            gap: 21px;
        }

        p{
                font-family: 'Hertine - Personal Use', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                margin: 0;
                color: #000;

                @include responsive-width($laptop_s){
                    font-size: 28px;
                }
        }
        img{
            @include responsive-width($laptop_s){
                width: 184%;
                max-width: none;
            }
        }
        
    }

    
}
.wedding-jym{
    &__content{

        width: 320px;
        margin: 0 auto;
        overflow: hidden;

        @include responsive-width($tablet_m){
            width: 768px;
        }

        @include responsive-width($laptop_s){
            width: 1000px;
        }

        h1{
            font-family: 'Hertine - Personal Use', sans-serif;
            font-style: normal;
            font-weight: 400;
            text-align: center;
            margin-top: 133px;
            font-size: 35px;
            color: black;
            transform: rotate(-4deg);
            animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

            @include responsive-width($laptop_s){
                margin-top: 182px;
                font-size: 56px;
            }
        }


    }

    &__date{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 28px;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        p{
            font-family: HurmeLight;
            font-size: 42px;
            margin: 0;
            margin-left: 7px;
            margin-right: 7px;

            @include responsive-width($laptop_s){
                font-size: 49px;
            }

            &:first-child{
                font-size: 14px;
                padding-right: 7px;
                margin: 0;
                border-right: 1px solid #000;
                @include responsive-width($laptop_s){
                    font-size: 21px;
                }
            }
            &:last-child{
                font-size: 14px;
                padding-left: 7px;
                margin: 0;
                border-left: 1px solid #000;
                @include responsive-width($laptop_s){
                    font-size: 21px;
                }
            }
        }

    }
    &__img1{
        text-align: center;
        margin: 0 auto;
        margin-top: 7px;
        transform: rotate(-4deg);
        animation: puff-in-top 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        animation-delay: 1.3s;

        img{
            width: 70%;

            @include responsive-width($tablet_m){
                width: 45%;
                max-width: none;
            }
            @include responsive-width($laptop_s){
                width: 56%;
            }
        }
    }

    &__countdown{
        margin-top: 21px;
        font-family: 'Hertine - Personal Use', sans-serif;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        font-size: 19px;
        color: #304D77;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation-delay: 1.4s;

        @include responsive-width($laptop_s){
            font-size: 35px;
        }

        &__days{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 14px;

            p,span {
                font-family: HurmeRegular;
            }

            p{
                color: #000;
                font-size: 14px;
                margin-top: 28px;
                margin-bottom: 0;
                position: relative;

                @include responsive-width($laptop_s){
                    font-size: 21px;
                }

                &::after{
                    content:'\2191' ;
                    position: absolute;
                    top: -140%;
                    left: 31%;
                    font-size: 21px;
                    font-family: HurmeLight;

                    @include responsive-width($laptop_s){
                        font-size: 28px;
                        top: -124%;
                        left: 34%;
                    }
                }
            }

            span{
                display: flex;
                justify-content: center;
                align-items: center;
                background: #304D77;
                width: 37px;
                height: 34px;
                border-radius: 5.25191px;
                color: #fff;
                margin: 0 auto;
                font-size: 14px;

                @include responsive-width($laptop_s){
                    width: 60px;
                    height: 60px;
                    font-size: 28px;
                }
            }

            .today{
                color: #000;
                font-family: HurmeSemiBoldOblique;
                // font-weight: regular;
            }
        }
    }

    &__words{
        margin-top: 21px;
        text-align: center;
        font-family: HurmeRegular;
        font-size: 14px;

        @include responsive-width($laptop_s){
            font-size: 21px;
        }
    }
    &__images{
        @include responsive-width($tablet_m){
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__img2{
        text-align: center;
        margin-top: 28px;
        @include responsive-width($tablet_m){
            z-index: 12;
            position: relative;
            left: 4%;
            top: -29px;
        }
        @include responsive-width($laptop_s){
            left: 0%;
            top: -16px;
        }
        img{
            transform: rotate(-6deg);
            width: 70%;

            @include responsive-width($tablet_m){
                width: auto;
            }
            @include responsive-width($laptop_s){
                width: 120%;
                max-width: none;
            }
        }
    }
    &__img3{
        text-align: center;
        margin-top: -15px;
        margin-left: 21px;
        height: 180px;
        
        @include responsive-width($tablet_m){
            position: relative;
            z-index: 11;
            height: 329px;
            right: 2%;
            bottom: -86px;
        }
        img{
            transform: rotate(6deg);
            width: 70%;
            @include responsive-width($tablet_m){
                width: auto;
            }
            @include responsive-width($laptop_s){
                width: 120%;
                max-width: none;
            }
        }
    }

    &__place{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 14px;
        @include responsive-width($tablet_m){
            flex-direction: row;
            flex-wrap: wrap;
        }
        @include responsive-width($laptop_s){
            margin-top: 63px;
            margin-bottom: 45px;
        }

        .first-block{
            margin: 0 33%;
            @include responsive-width($laptop_s){
            }
        }
        .fourth-block{
            margin: 0 33%;
            @include responsive-width($laptop_s){
            }
        }

        .third-block{
            padding-top: 28px;
            p{
                margin-top: 14px;
            }
        }
    }
    &__block{
        width: 163px;
        height: 210px;
        background-color: #fff;
        border-radius: 11px;
        text-align: center;
        padding-top: 14px;

        @include responsive-width($laptop_s){
            width: 224px;
            height: 273px;
        }

        h3{
            font-family: 'Hertine - Personal Use', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #304D77;
            margin-top: 7px;
            margin-bottom: 14px;
            @include responsive-width($laptop_s){
                font-size: 21px;
            }
        }

        p{
            font-family: HurmeRegular;
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 14px;
            @include responsive-width($laptop_s){
                font-size: 21px;
                line-height: 24px;
            }
        }

        a{
            font-family: HurmeRegular;
            font-style: normal;
            font-weight: 400;
            background-color: #304D77;
            color: #fff;
            border-radius: 7px;
            padding: 7px 14px;
            @include responsive-width($laptop_s){
                font-size: 21px;
            }
        }
    }

    &__confirmation{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 14px;
        @include responsive-width($tablet_m){
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include responsive-width($laptop_s){
            margin-top: 74px;
        }

        .second-block-confirmation{
            background-color: transparent;
            border-radius: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            height: 287px;
            @include responsive-width($laptop_s){
                width: 294px;
                height: 382px;
            }
            &--one{
                background-color: #fff;
                border-radius: 11px;
                padding: 14px 0 0;
                width: 163px;
                height: 140px;
                @include responsive-width($laptop_s){
                    width: 294px;
                    height: 203px;
                }
            }
            &--two{
                background-color: #fff;
                border-radius: 11px;
                padding: 7px 0 0;
                width: 163px;
                height: 136px;
                @include responsive-width($laptop_s){
                    width: 294px;
                    height: 169px;
                }
                p{
                    margin: 7px 0 0;
                }
            }
        }
        .third-block-confirmation{
            margin: 0 33%;
            height: 224px;

            @include responsive-width($laptop_s){
                height: 295px;
            }
        }
    }
    &__block-confirmation{
        width: 163px;
        height: 223px;
        background-color: #fff;
        border-radius: 11px;
        text-align: center;
        padding-top: 14px;

        @include responsive-width($laptop_s){
            width: 294px;
            height: 283px;
        }

        h3{
            font-family: 'Hertine - Personal Use', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #304D77;
            margin-top: 7px;
            margin-bottom: 14px;

            @include responsive-width($laptop_s){
                font-size: 21px;
            }
        }
        p{
            font-family: HurmeRegular;
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 14px;
            @include responsive-width($laptop_s){
                font-size: 21px;
                line-height: 25px;
            }
        }
        a{
            font-family: HurmeRegular;
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 14px;
            background-color: #304D77;
            color: #fff;
            border-radius: 7px;
            padding: 7px 14px;
            display: block;
            width: fit-content;
            margin: 7px auto;
            @include responsive-width($laptop_s){
                font-size: 21px;
            }
        }
    }
    &__img4{
        text-align: center;
        margin: 0 auto;
        margin-top: 21px;

        img{
            transform: rotate(-4deg);
            width: 80%;
    
            @include responsive-width($tablet_m){
                width: 45%;
                max-width: none;
            }
            @include responsive-width($laptop_s){
                width: 56%;
            }
        }
        
    }

    &__thanks{
        margin-top: 21px;
        font-family: 'Hertine - Personal Use', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: center;

        color: #304D77;

        @include responsive-width($laptop_s){
            font-size: 28px;

            p{
                margin: 28px 0;
            }
        }
    }
    &__btn-download {
        margin-top: 35px;
        @include responsive-width($tablet_m){
            margin-top: 42px;
        }
        @include responsive-width($laptop_s){
            margin-top: 98px;

        }
        a{
            font-family: HurmeRegular;
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 14px;
            background-color: #304D77;
            color: #fff;
            border-radius: 7px;
            padding: 7px 14px;
            display: block;
            width: fit-content;
            margin: 7px auto;
            @include responsive-width($laptop_s){
                font-size: 21px;
                padding: 21px 35px;
            }
        }
    }
}


