$m_image_common_path: "../../../../assets/img/" !default;
// Slider
// @import "../../../plugin/slick-carousel.scss";

// Estilos básicos
@import "../../../base/base.scss";
@import "../../../components/componentes.scss";
$m_image_path: "../../../../assets/img/freelo/boda-jym/" !default;

@font-face {
    font-family: HurmeRegular;
    font-weight: regular;
    src: url('../../../../fonts/freelo/boda-jym/HurmeGeometricSans1.otf') format("opentype");
}

@font-face {
    font-family: HurmeLight;
    src: url('../../../../fonts/freelo/boda-jym/HurmeGeometricSans1 Light.otf') format("opentype");
}
@font-face {
    font-family: HurmeSemiBoldOblique;
    src: url('../../../../fonts/freelo/boda-jym/HurmeGeometricSans1SemiBoldOblique.otf') format("opentype");
}

//Estilos de pagina
@import "animation";
@import "content";
@import "aos/aos";
