section.e-section.spotify.entel-data-layer-view
  .box-tecnology
    .box-tecnology__image 
      //- +lazy_image_webp_retina('2022/03/e-headband-web-mi-entel-laptop', 'png', 'Laptop con pagina Mi Entel')
      //- +lazy_image_webp_retina('2022/03/e-headband-web-mi-entel-laptop-view-1', 'png', 'Laptop con pagina Mi Entel')(class="picture-view picture-view-1")
      //- +lazy_image_webp_retina('2022/03/e-headband-web-mi-entel-laptop-view-2', 'png', 'Laptop con pagina Mi Entel')(class="picture-view picture-view-2")
      //- +lazy_image_webp_retina('2022/03/e-headband-web-mi-entel-base', 'png', 'Laptop con pagina Mi Entel')(class="picture-base")
      +mx_picture_retina_all('',img_path+'/2022/05/spotify-girl', 'png', 'Imagen de spotify')

    div.box-tecnology__text
      p Obtén #[strong 1 mes gratis] en #[strong.text-color-27D678 Spotify] con tu recibo #[strong Entel]
    div.box-tecnology__button
      a(class='e-button e-button--orange entel-data-layer-btn-header' href='https://www.entel.pe/spotify/?utm_source=entel_home&utm_medium=cintillo&utm_campaign=ott_spotifyjunio#30-dias-gratis' target='_blank' 
      data-gtm-category='Home Cintillo' data-gtm-product='Personas' data-gtm-tipo='Informativo'
      data-gtm-action='Seleccionar botón' data-gtm-label='Spotify Junio')

