.entel__slider--home__item.noclient(data-entel-slide-index='2' data-layer-id='​Banner_Home_02​' data-layer-name='​Jueves Entel' data-layer-position='​Home - Banner Superior - 2​' data-layer-creative='​https://www.entel.pe/juevesentel​/')
    .entel__slider--home__item__content.entel__slider--home__item__content_jueves_entel.bg-lines-5
        .principalcontent    
            .principalcontent__textbanner
                .principalcontent__textbanner-text
                    h2 ¡Todos los jueves #[br] son de Entel!
                    p Porque una vez al mes no era suficiente para engreirte.
                    br
                    .e-button-buy
                        a.btn-buy.animated.btn-entelday.entel-data-layer-btn-header(href='https://www.entel.pe/juevesentel/' data-gtm-category='Home Banner' data-gtm-action='Seleccionar botón' data-gtm-label='Jueves Entel - ENTÉRATE MÁS' data-gtm-product='Personas' data-gtm-tipo='Informativo' target='_blank' title='ENTÉRATE MÁS') ENTÉRATE MÁS

            //- Agregar clase Heart para animacion corazones
            //- .principalcontent__imgbanner.heart
            .principalcontent__imgbanner
                +image_webp_retina_media(img_path+'2021/11/banner-je-logo-nov-mob', "png", img_path+'2021/11/banner-je-logo-nov-desk', "768", "Banner Jueves Entel")

                //- juevesDeFútbol
                //- .i-banner.i-banner-1
                //-     +lazy_image_webp_retina_media('2022/12/papa-noel-banner-mob', 'png', '2022/12/nieve-banner-desk', '768', 'Estadio de Fútbol')
                //- .i-banner.i-banner-2
                //-     +lazy_image_webp_retina_media('2022/12/nieve-banner-mob', 'png', '2022/12/arbol-banner-desk', '768', 'Pelota de Fútbol')
                //- .i-banner.i-banner-3
                //-     +lazy_image_webp_retina_media('2022/11/pelota-big-mob', 'png', '2022/12/nieve-2-banner-desk', '768', 'Pelota de Fútbol')
                //- .i-banner.i-banner-4
                //-     +lazy_image_webp_retina_media('2022/12/arbol-banner-mob', 'png', '2022/12/papa-noel-banner-desk', '768', 'Estadio de Fútbol')
                //- Verano
                .principalcontent__imgbanner_icon.jueves-verano
                    .i-banner.i-banner-1
                        +lazy_image_webp_retina_media('2023/03/e-home-banner-je-books-mob','png', '2023/03/e-home-banner-je-books-desk', '768','Icono de libros')
                    .i-banner.i-banner-2
                        +lazy_image_webp_retina_media('2023/03/e-home-banner-je-student-mob','png', '2023/03/e-home-banner-je-student-desk', '768','Icono de estudiante')
                    .i-banner.i-banner-3
                        +lazy_image_webp_retina_media('2023/03/e-home-banner-je-laptop-backpack-mob','png', '2023/03/e-home-banner-je-laptop-backpack-desk', '768','Icono de laptop y mochila')
                    //- .i-banner.i-banner-4
                    //-     +lazy_image_webp_retina('2023/03/e-home-je-icon-4-banner-verano-desk', 'png', 'Icono de fuego')
                    //- .i-banner.i-banner-5
                    //-     +lazy_image_webp_retina('2023/03/e-home-je-icon-3-banner-verano-desk', 'png', 'Icono de sol')
                //- Corazones
                //- .i-banner.i-banner-1
                //-     +lazy_image_webp_retina('2022/02/e-home-banner-je-icon-1', 'png', 'Icono de corazon')
                //- .i-banner.i-banner-2
                //-     +lazy_image_webp_retina('2022/02/e-home-banner-je-icon-1', 'png', 'Icono de corazon')
                //- .i-banner.i-banner-3
                //-     +lazy_image_webp_retina('2022/02/e-home-banner-je-icon-2', 'png', 'Icono de corazon')
                //- .i-banner.i-banner-4
                //-     +lazy_image_webp_retina('2022/02/e-home-banner-je-icon-2', 'png', 'Icono de corazon')
                
                //- San Valentin
                //- .principalcontent__imgbanner_icon.jueves-san-valentin
                //-     .i-banner.i-banner-1
                //-         +lazy_image_webp_retina_media('2023/02/e-home-je-icon-1-banner-je-mob', 'png', '2023/02/e-home-je-icon-1-banner-je-desk', '768','Icono de corazon')
                //-     .i-banner.i-banner-2
                //-         +lazy_image_webp_retina_media('2023/02/e-home-je-icon-2-banner-je-mob', 'png', '2023/02/e-home-je-icon-2-banner-je-desk', '768','Icono de corazon')
                //-     .i-banner.i-banner-3
                //-         +lazy_image_webp_retina_media('2023/02/e-home-je-icon-3-banner-je-desk', 'png', '2023/02/e-home-je-icon-3-banner-je-desk', '768','Icono de corazon')
                //-     .i-banner.i-banner-4
                //-         +lazy_image_webp_retina_media('2023/02/e-home-je-icon-4-banner-je-desk', 'png', '2023/02/e-home-je-icon-4-banner-je-desk', '768','Icono de corazon')
                    //- .i-banner.i-banner-5
                        +lazy_image_webp_retina_media('2023/02/e-home-banner-je-sv-icon-2-mob', 'png', '2023/02/e-home-banner-je-sv-icon-2-desk', '768','Icono de corazon')
                    //- .i-banner.i-banner-6
                        +lazy_image_webp_retina_media('2023/02/e-home-banner-je-sv-icon-3-mob', 'png', '2023/02/e-home-banner-je-sv-icon-3-desk', '768','Icono de corazon')
                
                //- jueves del hincha
                //- .i-banner.i-banner-1
                //-     +lazy_image_webp_retina('2022/06/celebracion-left', 'png', 'Icono de corazon')
                //- .i-banner.i-banner-2
                //-     +lazy_image_webp_retina('2022/06/Pelota-left', 'png', 'Icono de corazon').heart-rotate
                //- .i-banner.i-banner-3
                //-     +lazy_image_webp_retina('2022/06/celebracion-right', 'png', 'Icono de corazon')
                //- .i-banner.i-banner-4
                //-     +lazy_image_webp_retina('2022/06/Pelota-right', 'png', 'Icono de corazon').heart-rotate
                
                //- Aviones
                //- .i-banner.i-banner-1
                //-     +lazy_image_webp_retina('2022/03/e-home-banner-avion-icon-1', 'png', 'Icono de avion 1')
                //- .i-banner.i-banner-2
                //-     +lazy_image_webp_retina('2022/03/e-home-banner-maleta-icon-1', 'png', 'Icono de maleta')
                //- .i-banner.i-banner-4
                //-     +lazy_image_webp_retina('2022/03/e-home-banner-avion-icon-2', 'png', 'Icono de maleta')
                
                //- Celebracion
                //- .i-banner.i-banner-1
                //-     +lazy_image_webp_retina('2022/05/e-home-banner-icon-celebracion-1', 'png', 'Icono de Celebracion')
                //- .i-banner.i-banner-2
                //-     +lazy_image_webp_retina('2022/05/e-home-banner-icon-celebracion-2', 'png', 'Icono de Celebracion')
                //- .i-banner.i-banner-4
                //-     +lazy_image_webp_retina('2022/05/e-home-banner-icon-celebracion-3', 'png', 'Icono de Celebracion')
                
                //- Fiestas Patrias
                //- .i-banner.i-banner-1
                //-     - image_mobile = '2022/07/escarapela-1-mob' 
                //-     - image = '2022/07/bandera-1-desk' 
                //-     +lazy_image_webp_retina_media(image_mobile, 'png', image, '768', 'Simbolos Patrios')
                //- .i-banner.i-banner-2
                //-     - image_mobile = '2022/07/bandera-1-mob' 
                //-     - image = '2022/07/escarapela-1-desk' 
                //-     +lazy_image_webp_retina_media(image_mobile, 'png', image, '768', 'Simbolos Patrios')
                //- .i-banner.i-banner-3
                //-     +lazy_image_webp_retina('2022/07/bandera-2-desk', 'png', 'Simbolos Patrios')
                //- .i-banner.i-banner-4
                //-     +lazy_image_webp_retina('2022/07/escarapela-2-desk', 'png', 'Simbolos Patrios')
                
                //- Fotos
                //- .i-banner.i-banner-1
                //-     +lazy_image_webp_retina('2022/08/camara-1', 'png', 'Camara')
                //- .i-banner.i-banner-2
                //-     +lazy_image_webp_retina('2022/08/camara-2', 'png', 'Camara')
                //- .i-banner.i-banner-3
                //-     - image_mobile = '2022/08/camara-4' 
                //-     - image = '2022/08/camara-3' 
                //-     +lazy_image_webp_retina_media(image_mobile, 'png', image, '768', 'Camara')
                //- .i-banner.i-banner-4
                //-     - image_mobile = '2022/08/camara-3' 
                //-     - image = '2022/08/camara-4' 
                //-     +lazy_image_webp_retina_media(image_mobile, 'png', image, '768', 'Camara')
                
                //- Mando
                //- .i-banner.i-banner-1
                //-     - image_mobile = '2022/08/mando-2' 
                //-     - image = '2022/08/mando-1' 
                //-     +lazy_image_webp_retina_media(image_mobile, 'png', image, '768', 'Camara')
                //- .i-banner.i-banner-2
                //-     +lazy_image_webp_retina('2022/08/mando-2', 'png', 'Camara')
                //- .i-banner.i-banner-3
                //-     +lazy_image_webp_retina('2022/08/mando-1', 'png', 'Camara')
                //- .i-banner.i-banner-4
                //-     +lazy_image_webp_retina('2022/08/mando-2', 'png', 'Camara')
                
                //- Feliz
                //- .i-banner.i-banner-1
                //-     +lazy_image_webp_retina('2022/09/home-girasol', 'png', 'Icono de Girasol').heart-rotate
                //- .i-banner.i-banner-2
                //-     +lazy_image_webp_retina('2022/09/home-emote', 'png', 'Icono de Lentes').heart-rotate
                //- .i-banner.i-banner-4
                //-     +lazy_image_webp_retina('2022/09/home-emote', 'png', 'Icono de Lentes').heart-rotate

            .tag.jueves-verano
                p #[strong Jueves] #[br] de #[strong Clases]

