@mixin gradient() {
    background: rgba(0,184,235,1);
    background: -moz-linear-gradient(-45deg, rgba(0,184,235,1) 0%, rgba(0,80,185,1) 39%, rgba(0,80,185,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,184,235,1)), color-stop(39%, rgba(0,80,185,1)), color-stop(100%, rgba(0,80,185,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,184,235,1) 0%, rgba(0,80,185,1) 39%, rgba(0,80,185,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,184,235,1) 0%, rgba(0,80,185,1) 39%, rgba(0,80,185,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,184,235,1) 0%, rgba(0,80,185,1) 39%, rgba(0,80,185,1) 100%);
    background: linear-gradient(135deg, rgba(0,184,235,1) 0%, rgba(0,80,185,1) 39%, rgba(0,80,185,1) 100%);
}

@mixin border-radius($property) {
    -webkit-border-radius: $property;
    -moz-border-radius: $property;
    border-radius: $property;
}

@mixin rotate($property) {
    -moz-transform: rotate($property);
    -webkit-transform: rotate($property);
    -o-transform: rotate($property);
    -ms-transform: rotate($property);
    transform: rotate($property);
}

@mixin transition($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -o-transition: $property;
    transition: $property;
}

@mixin spin($property) {
    -webkit-animation:spin $property;
    -moz-animation:spin $property;
    animation:spin $property;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }