// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Barlow:300,300i,400,400i,500,500i,700,700i&display=swap');

body,html {
    background-color: #fff;
    color: #0154a0;
    font-size: 16px;
    height: 100%;
    line-height: 1;
    text-rendering: optimizeLegibility;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%
}

*,body,html {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    box-sizing: border-box;
    font-weight: 400
}

:focus {
    outline: none
}

strong {
    font-family: Barlow,sans-serif!important;
    font-weight: 700
}

a {
    color: #0154a0;
    outline: none
}

a,a:hover {
    text-decoration: none
}

a:focus {
    outline: none
}

img {
    display: inline-block;
    max-width: 100%
}