&__back-to-top {
    position: fixed;
    z-index: 9;
    bottom: 95px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border-width: 0;
    background-color: $orange;
    text-align: center;
    cursor: pointer;

    background-image: m_image_common_url("2020/08/icon_back_to_top.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px auto;

    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    visibility: hidden;

    @include backgound_retina{
        background-image: m_image_common_url("2020/08/icon_back_to_top@2x.png");
    }

    @include responsive-width($mobile_l) {
        display: none;
    }

    &.js--active {
        opacity: 1;
        visibility: visible;
    }

}