.e-button {
    &--loading-inline {
        color: transparent !important;
        position: relative;
        cursor: no-drop;
        pointer-events: none;
        user-select: none;
        opacity: 0.7;
        &::before {
            content: "";
            width: 25px;
            height: 25px;
            top: 0;
            right: 0;
            border-radius: 100%;
            position: absolute;
            margin-top: -7px;
            pointer-events: none;
            border-top: 5px solid rgba(255, 255, 255, 0.2);
            border-right: 5px solid rgba(255, 255, 255, 0.2);
            border-bottom: 5px solid rgba(255, 255, 255, 0.2);
            border-left: 5px solid #fff;
            transform: translateZ(0);
            animation: loading 1.1s infinite linear;
            margin: auto;
            left: 0;
            bottom: 0;
        }
    }
    @at-root &,
        input[type="button"],
        input[type="submit"] {
        cursor: pointer;
        font-style: normal;
        font-weight: 600;
        border-radius: 50px;
        font-size: 12px;
        margin: 0 auto;
        display: inline-block;
        vertical-align: top;
        min-width: 170px;
        padding: 10px 15px;
        text-align: center;
        background-color: $color-bluenew;
        border: 1px solid $color-bluenew;
        border-width: 2px;
        color: $white;
        text-transform: uppercase;
        letter-spacing: normal;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;

        @include responsive-width($tablet_m) {
            font-size: 14px;
            padding: 15px 30px;
        }

        @include responsive-width($laptop_m) {
            min-width: 235px;
        }

        &:hover {
            color: $white;
            background-color: lighten($color-bluenew, 7%);
            border-color: lighten($color-bluenew, 7%);
        }
    }

    @each $button-nombre-list, $button-color-list, $button-background-list, $button-border-list,
        $button-color-hover-list, $button-background-hover-list, $button-border-hover-list in $button-list
    {
        @at-root input[type="button"].e-button--#{$button-nombre-list},
            input[type="submit"].e-button--#{$button-nombre-list},
            .e-button--#{$button-nombre-list} {
            color: $button-color-list;
            background: $button-background-list no-repeat left top !important;
            border-color: $button-border-list !important;

            &:hover {
                background: $button-background-hover-list no-repeat left top !important;
                border-color: $button-border-hover-list !important;
                color: $button-color-hover-list !important;
                text-decoration: none;
            }
        }
    }

    &--disabled {
        cursor: default;
        pointer-events: none;
    }

    &--orange-degraded {
        position: relative;
        overflow: hidden;

        span {
            position: relative;
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: $orange_degraded;
            opacity: 0;
            transition-property: all;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
        }

        &:hover {
            &:before {
                opacity: 1;
            }
        }
    }

    &--narrow {
        min-width: auto;

        @include responsive-width($tablet_m) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &--small {
        font-size: 14px;
        /* padding-top: 18px;
        padding-bottom: 18px; */
        min-width: 140px;
        padding: 10px 0;

        @include responsive-width($mobile_l) {
            //min-width: auto;
            min-width: 160px;
            /*  padding-top: 13px;
            padding-bottom: 13px; */
        }
    }

    &--fibra-orange {
        position: relative;
        content: "";
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #FF560A;
        border-color: #FF560A;
        color: $white;
        background-image: m_image_common_url("2022/03/icono-button-conocelos-aqui.png");
        background-repeat: no-repeat;
        padding-left: 3em;
        background-position-x: 1rem;
        background-position-y: center;
        transition-property: left, right;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;

        span {
            position: relative;
        }

        &:hover {
            background-color: #FF560A;
            border-color: #FF560A;

            &:before {
                opacity: 1;
            }
        }
    }
    &--messenger-celeste {
        position: relative;
        text-transform: none !important;
        content: "";
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        text-transform: capitalize;
        background-color: #7EB1F6;
        border-color: #7EB1F6;
        color: $white;
        background-image: m_image_common_url("2022/03/icono-fb-msg-btn.png");
        background-repeat: no-repeat;
        padding-left: 3em;
        background-position-x: 1rem;
        background-position-y: center;
        transition-property: left, right;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;

        span {
            position: relative;
        }

        &:hover {
            background-color: #7EB1F6;
            border-color: #7EB1F6;

            &:before {
                opacity: 1;
            }
        }
    }
    &--whatsapp-green {
        position: relative;
        content: "";
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $wsp_green;
        border-color: $wsp_green;
        color: $white;
        background-image: m_image_common_url("2022/03/e-button-whatsapp-green-icon.png");
        background-repeat: no-repeat;
        padding-left: 3em;
        background-position-x: 1rem;
        background-position-y: center;
        transition-property: left, right;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;

        span {
            position: relative;
        }

        &:hover {
            background-color: #4ee25f;
            border-color: #4ee25f;

            &:before {
                opacity: 1;
            }
        }
    }

    &--llamanos {
        color: #7eb1f6;
        background-color: transparent;
        border: 1px solid #7eb1f6;
        border-radius: 30px;
        font-weight: bold;
        font-size: 12px;
        line-height: 10px;
        padding: 14px 30px;
        position: relative;
        content: "";
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-color: #7eb1f6;
        background-image: m_image_common_url("2021/12/e_boton_llamada_icon.png");
        background-repeat: no-repeat;        
        background-position-x: 1.2rem;
        background-position-y: center;
        transition-property: left, right;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        text-transform: capitalize;
        @include responsive-width(768px) {
            font-size: 14px;
        }
        &:hover {
            background-color: transparent;
            border-color: #7eb1f6;
            color: #7eb1f6;
            &:before {
                opacity: 1;
            }
        }
    }

    &--whatsapp-white {
        content: "";
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        color: $wsp_green;
        background-color: $white;
        border-color: $white;
        background-image: m_image_common_url("2021/02/e-button-whatsapp-white-icon.png");
        background-repeat: no-repeat;
        padding-left: 2.5rem;
        background-position-x: 1.5rem;
        background-position-y: center;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        span {
            position: relative;
        }

        &:hover {
            color: $white;
            background-color: $wsp_green;
            border-color: $wsp_green;
            &:before {
                opacity: 1;
            }
        }
        /*  span {
            position: relative;

            &:after {
                content: "";
                position: absolute;
                left: 50%;
                right: 50%;
                bottom: -5px;
                height: 2px;
                color: $wsp_green;
                background-color: $white;
                background-image: m_image_common_url("2021/02/e-button-whatsapp-white-icon.png");;
                transition-property: left, right;
                transition-duration: 0.3s;
                transition-timing-function: ease-in-out;
            }
        }

        &:hover {
            span {
                &:after {
                    left: 0;
                    right: 0;
                }
            }
        } */
    }

    &--orange-degraded {
        position: relative;
        overflow: hidden;

        span {
            position: relative;
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: $orange_degraded;
            opacity: 0;
            transition-property: all;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
        }

        &:hover {
            &:before {
                opacity: 1;
            }
        }
    }
    &--logo-entel{
        position: relative;
        text-align: right;
        min-width: 152px;
        @include responsive-width($tablet_m){
            min-width: 181px;
        }
        &::before{
            content: "";
            position: absolute;
            background-size: cover;
            width: 22px;
            height: 22px;
            top: 50%;
            left: 18%;
            transform: translate(-50%, -50%);
            background-repeat: no-repeat;
            background-image: m_image_common_url('2022/01/logo-entel.png');
            @include backgound_retina {
                background-image: m_image_common_url('2022/01/logo-entel@2x.png');
            }
            @include responsive-width($tablet_m){
                width: 24px;
                height: 24px;
            }
        }
        
    }

    @import "loading";
    @import "back_to_top";
}

%button_140_40,
%button_130_40,
%button_120_40 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}

%button_120_40 {
    min-width: 120px;
}
%button_130_40 {
    min-width: 130px;
}
%button_140_40 {
    min-width: 140px;
}
%button_150_50 {
    min-width: 150px;
}

%button_150_50_2 {
    min-width: 150px;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
    @include responsive-width($tablet_m - 1) {
        height: 50px;
        min-width: 150px;
    }
}

%button_160_50 {
    min-width: 150px;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
    @include responsive-width($tablet_m - 1) {
        height: 50px;
        min-width: 160px;
    }
}

%button_170_50 {
    min-width: 170px;
    padding-left: 0;
    padding-right: 0;
    @include responsive-max-width($tablet_m - 1) {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

%button_170 {
    min-width: 170px;
    padding-left: 0;
    padding-right: 0;
}

%button_160 {
    min-width: 160px;
    padding-left: 0;
    padding-right: 0;
}

%buttom_close_circle {
    position: absolute;
    color: $dark_blue;
    cursor: pointer;
    border-radius: 100%;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-color: darken($white, 13.5%);
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgb(34 30 120 / 0%);
    border: 1px solid #9e9fa1;
    @include responsive-width($mobile_l) {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-right: 20px;
        margin-top: 20px;
    }

    &:before,
    &:after {
        content: "";
        background-color: darken($white, 13.5%);
        display: block;
        height: 1.6px;
        width: 14px;
        top: 50%;
        left: 50%;
        margin-top: -1px;
        margin-left: -7px;
        border-radius: 1px;
        position: absolute;
        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        background-color: $white;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

button[disabled],
button[disabled]:hover {
    background-color: rgba(255, 86, 10, 0.3) !important;
    border: rgba(255, 86, 10, 0.3) !important;
    font-weight: 600;
}
.e-button--icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    span {
        margin-left: 5px;
    }
}
