&--loading {
    position: relative;
    pointer-events: none;

    &:after {
        content: '';
        width: 16px;
        height: 16px;
        top: 50%;
        right: 10px;
        border-radius: 100%;
        position: absolute;
        margin-top: -7px;
        pointer-events: none;
        
        border-top: 2px solid rgba($white, 0.2);
        border-right: 2px solid rgba($white, 0.2);
        border-bottom: 2px solid rgba($white, 0.2);
        border-left: 2px solid $white;
        transform: translateZ(0);
        animation: loading 1.1s infinite linear;

        @keyframes loading {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}