.e-content__banner-cintillo-down {
  background-color: #0436A1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 40px;

  @include responsive-width($tablet_m) {
    padding-left: 20px;
    padding-right: 20px;
  }
  .e-section.entel-data-layer-view {
    background-color: transparent;
    padding: 0;
    margin: auto;
  }
  .box--caida-masiva {
    display: flex;
    width: 90%;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    @include responsive-width($tablet_m) {
      width: 100%;
    }
  }

  .box-img-desk {
    picture {
      img {
        min-width: 26px !important;
        max-width: 26px !important;
      }
    }

    @include responsive-width($tablet_m) {
      position: relative;
      left: 0;
    }
  }

  .box-texto {
    margin: 0 0.5rem;
    position: relative;
    z-index: 3;
    p {
      font-size: 10px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
      color: $white;
      font-style: normal;
      margin: 6px 0;
      // max-width: 160px;
      text-align: left;
      @include responsive-width($tablet_m) {
        font-size: 12px;
      }
      a {
        color: #FF560A;
        text-decoration-line: underline;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }
}