- banner_name = 'Lanzamiento - Xiaomi 12T'
//- - banner_link = 'https://miportal.entel.pe/personas/catalogo/postpago/migra?marca=xiaomi'
- banner_link = 'https://miportal.entel.pe/personas/catalogo/postpago/renovacion?marca=xiaomi'
.entel__slider--home__item(
  data-entel-slide-index='1' 
  data-entel-slide-time='8000' 
  data-layer-id='slider_'+banner_name  
  data-layer-name='Banner'+banner_name 
  data-layer-position='Home - Banner Superior 1' 
  data-layer-creative=banner_link
)

  .entel__slider--home__item__content.entel__slider--home__item__content--xiaomi-12t
    .e-container
      .e-container-flex
        .e-container-flex__item.e-container-flex__item--1.fadeInLeft
          div
            .e-container-flex__item_title-xiaomi-12t
              h2 Postpago Renueva #[p Nuevos Lanzamientos]
              +mx_picture_retina("", img_path+"2022/10/e-home-banner-xiaomi-12t-logo", "png", "Logo de Xiaomi 12T")
              a(class='e-button e-button--orange entel-data-layer-btn-header' href=banner_link 
              target='_BLANK' 
              data-gtm-category='Home Banner' 
              data-gtm-action='Seleccionar botón' 
              data-gtm-label='Lanzamiento - Xiaomi 12T - Lo quiero' 
              data-gtm-product='Personas' 
              data-gtm-tipo='Informativo'
              ) #[span Lo Quiero]
            small.tyc Aplican términos y condiciones #[a(href="https://miportal.entel.pe/personas/catalogo/postpago/renovacion?_ga=2.214272595.596470665.1667224556-1435757179.1666382045&_gac=1.226256360.1666581278.CjwKCAjwzNOaBhAcEiwAD7Tb6FVMluLtHGSBGwjzt6Okyrb-EYgc_p6HLd-_g27-bjuufJpkg4bB4xoCiygQAvD_BwE#terminos-y-condiciones" target="_BLANK") #[strong AQUÍ]]

        .e-container-flex__item.e-container-flex__item--2.fadeInRight
          .e-container-flex__general
            .e-container-flex__item_price-xiaomi-12t
              +mx_picture_retina("", img_path+"2022/10/e-home-banner-xiaomi-12t-cuota0", "png", "Cuota inicial desde S/0")(class="top-bottom")
              p Págalo en 12 cuotas #[br] mensuales desde el plan #[br] #[strong Entel Power+ 74.9]
            .e-container-flex__item_image-xiaomi-12t
              +mx_picture_retina_extra("", img_path+"2022/10/e-home-banner-xiaomi-12t", "png", "Imágenes de Xiaomi 12T")(class="top-bottom")
          //- .e-container-flex__item.e-container-flex__item--3.fadeInRight
          //- +lazy_image_webp_retina_media('2021/12/e-home-banner-fms-img-mob', 'png', '2021/12/e-home-banner-fms-img-desk', '768', 'Participantes FMS')(class="zoom")