&--sorteo-equipos-enero23 {
  position: relative;
  .e-container_bg {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 768px 100%;
    background-position: center;
    background-image: m_image_url(
      "2023/01/e-home-banner-sorteo_equipos_23-bg-mob.png"
    );
    width: 100%;
    height: 100%;
    @include responsive-width($tablet_m) {
      background-size: 1024px 100%;
      background-image: m_image_url(
        "2023/01/e-home-banner-sorteo_equipos_23-bg-tab.png"
      );
    }
    @include responsive-width($laptop_s) {
      background-size: 1920px 100%;
      background-image: m_image_url(
        "2023/01/e-home-banner-sorteo_equipos_23-bg-desk.png"
      );      
    }
    @include responsive-width($desktop_m) {
      background-size: cover;
    }
  }

  .e-container {
    @include responsive-width($tablet_m) {
      max-width: 620px;
    }
    @include responsive-width($laptop_s){
      max-width: 100%;
    }
  }
  .e-container-flex {
    flex-direction: column;
    justify-content: space-between;
    align-items:unset;
    // @include responsive-width($laptop_s){
    //   display: flex;
    // }  .e-container-flex {

  }
  .e-container-flex__item--1 {
    min-width: 170px;
    position: relative;
    z-index: 1;
    @include responsive-width($tablet_m){
      min-width: 360px;
    }
    @include responsive-width($laptop_s){
      width: 50% !important;
    }
    .e-button {
      min-width: 100px !important;
      width: 102px;
      font-size: 9px;
      background-color: #002EFF;
      border-color: #002EFF;
      @include responsive-width($tablet_m){
        width: 133px;
        font-size: 12px;
        padding: 12px;
      }
      @include responsive-width($laptop_s){
        margin-bottom: 1rem;
        width: 160px;
      }
      @include responsive-width($laptop_m){
        margin-top: 15px;
      }
    }

    p {
      @include responsive-width($tablet_m){
        max-width: 240px;
      }
      @include responsive-width($laptop_s){
        max-width: 100%;
      }
    }
  }
  .e-container-flex__item--2 {
    align-self: flex-end;
    margin-bottom: 1rem;
    // position: relative;
    position: absolute;
    width: 100%;
    right: 0;
    min-width: 100%;
    bottom: 0;
    // top: -100px;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 0;
    @include responsive-width($tablet_m){
      right: -50px;
    }
    @include responsive-width($laptop_s){
      // top: -300px;
    }
    img,picture {
      margin-right: 0;
      margin-left: auto;
    }
  }
  h2,
  p,
  small {
    color: #ffffff;
  }
  h2 {
    font-size: 21px;
    font-weight: 500;
    width: 200px;
    margin-top: 1rem;
    @include responsive-width($tablet_m) {
      font-size: 44px;
      width: 400px;
    }
    @include responsive-width($laptop_s) {
      font-size: 63px;
      width: 600px;
    }
    @include responsive-width($laptop_m) {
      width: 700px;
    }
    b {
      font-weight: 700;
    }
    img,
    picture {
      display: inline-block;
    }
  }
  small {
    &.e-banner-legales {
      font-size: 8px;
      bottom: 1px;
      z-index: 1;
      position: relative;
      @include responsive-width($tablet_m) {
        color: $black;
        font-size: 12px;
        bottom: 55px;
        font-weight: 400;
      }
      @include responsive-width($laptop_s) {
        font-size: 16px;
        bottom: 12px;
      }
      @include responsive-width($laptop_m) {
        bottom: 35px;
      }
    }
  }
  p {
    font-weight: 400;
    font-size: 13px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include responsive-width($tablet_m) {
      font-size: 20px;
    }
    @include responsive-width($laptop_s) {
      font-size: 24px;
    }
  }
  a.e-tc--orange {
    text-decoration-line: underline;
    font-weight: 600;
  }
}
