section.e-cintillo_entel_top.e-cintillo_entel_top-fix
    .e-cintillo_entel_top-container.e-cintillo_entel_top-container-fix
        a(href='https://entelstore.pe/')
            +mx_picture_retina_all('', img_path + '2021/06/cinto-entel-store-v1', 'png', 'Conoce el nuevo Entel Store! Comercializado por IX Comercio!')
            