section.e-section.e-headband-nuevos-planes-rio.entel-data-layer-view
  .box-content
    .box-content__image
      .box-content__image__detail

      +mx_picture_retina_all('',img_path+'/2022/07/headband-nuevos-planes-rio-content', 'png', 'Nuevos Planes Entel')

    .box-content__button
      a(class='e-button entel-data-layer-btn-header' href='javascript:void(0)'
      data-gtm-category='Home Cintillo' data-gtm-product='Personas' data-gtm-tipo='Informativo'
      data-gtm-action='Seleccionar botón' data-gtm-label='Nuevos Planes')

