section.e-section.e-countdown.e-headband--xiaomi-especial
    .box--xiaomi-especial
        .box-img
            img(src=img_path+"2021/05/e_xiaomi_especial-equipo.png" srcset=img_path+"2021/05/e_xiaomi_especial-equipo@2x.png 2x" alt="Participa por un genial LG Velvet en 1 sólo paso. ¡Rápido y sin floros! ")
        .box-texto
            p Llévate la edición especial del #[b Xiaomi Redmi Note 10 Pro] al mejor precio. #[strong ¡Aprovecha, que ya quedan pocos!]
            
            //- p Ya estamos contando las horas para engreírte. #[strong Solo faltan:
        .box-btn
            
            a.e-button.entel-data-layer-btn(href=' https://catalogo.entel.pe/Xiaomi-Redmi-Note-10-Pro-Edicion-Especial-Bronce-Chip-85-w/p?modalidad=postpago-migra&plan=chip-85.9&oferta=especial&cuota=12' data-gtm-category="Home - Cintillo Xiaomi Redmi Note 10 Pro" data-gtm-action="Seleccionar botón" data-gtm-label="Ingresa aquí" target="_blank" title='ingresa aquí') ingresa aquí