section.e-section.headband-sorteo-vacuum-xiaomi-05-21.entel-data-layer-view
    .box
        p Compra el equipo #[+mx_picture_retina('',img_path+'2021/06/headband-sorteo-vacuum-xiaomi-05-21-logo','png','Cintillo Sorteo')]  Mi 11 Lite 5G #[+mx_picture_retina('hide-mob-xiaomi',img_path+'2021/06/headband-sorteo-vacuum-xiaomi-05-21-equipo','png','Cintillo Sorteo') ]#[span y gana una de las 50 Mi Vacuum Cleaner min]  #[a.show-mob-xiaomi.entel-data-layer-btn(href='https://catalogo.entel.pe/xiaomi-mi-11-lite-5g-negro-chip-85-w/p?modalidad=postpago-migra&plan=chip-85.9&oferta=regular&cuota=0' data-gtm-category="Home - Cintillo Sorteo" data-gtm-action="Seleccionar botón" data-gtm-label="Mi 11 Lite 5G Vacuum Cleaner - ​Lo Quiero" target="_blank" title='Mi 11 Lite 5G Vacuum Cleaner - ​Lo Quiero') Lo quiero]

        +mx_picture_retina('show-mob-xiaomi',img_path+'2021/06/headband-sorteo-vacuum-xiaomi-05-21-equipo','png','Cintillo Sorteo')
        +mx_picture_retina('ml-1-5rem',img_path+'2021/06/headband-sorteo-vacuum-xiaomi-05-21-equipo-cleaner','png','Cintillo Sorteo')
        a.hide-mob-xiaomi.entel-data-layer-btn(href='https://catalogo.entel.pe/xiaomi-mi-11-lite-5g-negro-chip-85-w/p?modalidad=postpago-migra&plan=chip-85.9&oferta=regular&cuota=0' data-gtm-category="Home - Cintillo Sorteo" data-gtm-action="Seleccionar botón" data-gtm-label="Mi 11 Lite 5G Vacuum Cleaner - ​Lo Quiero" target="_blank" title='Mi 11 Lite 5G Vacuum Cleaner - ​Lo Quiero') Lo quiero
       
