section.e-section.e-headband-lovers.entel-data-layer-view
    .box-lovers
        .box-lovers__text
            .box-lovers__text__logo
                a(class="e-lover-logo entel-data-layer-btn" href="https://www.entel.pe/lovers/" target="_blank" data-gtm-category='Landing Entel Lovers - Merch' data-gtm-action='Seleccionar boton' data-gtm-label='cintillo logo Lovers')
                    //- +image_webp_retina('2021/07/headband-lovers-logo', 'png', 'Logo entel lovers')
                    +image_webp_retina_media('2021/07/headband-lovers-logo', 'png', '2021/07/headband-lovers-logo-big', '768', 'Logo entel lovers')
            .box-lovers__text__content
                p(style="padding-right: 4px;") ¡Conoce #[a(class="e-link entel-data-layer-btn" href="https://www.entel.pe/lovers/" target="_blank" data-gtm-category='Landing Entel Lovers - Merch' data-gtm-action='Seleccionar boton' data-gtm-label='cintillo enlace AQUI') AQUÍ] los artículos de
                p #[b edición limitada] que tenemos #[b para ti!]            
        .box-lovers__img
            +image_webp_retina('2021/07/headband-lovers-img-r', 'png', 'camiseta')
            +image_webp_retina('2021/07/headband-lovers-img-mandil', 'png', 'mandil')
            +image_webp_retina('2021/07/headband-lovers-img-l', 'png', 'pines')
        .box-lovers__hearts
            include ../../../../../../assets/img/personas/home/2021/07/elovers-cintillo-heart.svg
            include ../../../../../../assets/img/personas/home/2021/07/elovers-cintillo-heart.svg
            include ../../../../../../assets/img/personas/home/2021/07/elovers-cintillo-heart.svg           
