- link_miportal = 'https://catalogo.entel.pe/xiaomi-mi-watch-negro-accesorio-equipo-libre-el/p?modalidad=libres&plan=Libre&oferta=regular&cuota=0'
section.e-section.e-headband-accesorios

    .e-headband-accesorios-container
        .e-headband-accesorios-title
            //- p Llévate el Xiaomi #[br]Mi Watch Black con
            h3 Llévate el #[strong Xiaomi #[br]Mi Watch Black con]

            .e-headband-accesorios-title__price
                strong 40#[span Dto.*]
                span %

        .e-headband-accesorios-detail
            .e-headband-accesorios-detail__text S/#[strong 399] #[span Antes: #[span S/ 699]]
            //- .e-headband-accesorios-detail__text Mismos beneficios #[br]que la línea titular
            
        .e-headband-accesorios-button
            a.e-link__button(href=link_miportal target='_blank') COMPRAR
            //- .e-headband-lineasadicionales-detail-text
                .e-headband-lineasadicionales-detail-text-plan
                    p Migra ahora y Navega Ilimitado
                .e-headband-lineasadicionales-detail-text-dscto
                    div
                        span.dscto-number S/ 50.90
                    div
                        strong.dscto-time S/
                            span 44
                            span .72
                        span.dscto-online x 6 meses
                    

            //- +mx_retina('e-headband-lineasadicionales-back02', 'https://www.entel.pe/wp-content/uploads/2022/01/cintillo-verano2022-palmera', 'png', '') 
    a.e-headband-lineasadicionales-link-all(href=link_miportal target='_blank') 
