section.e-section.e-countdown.e-countdown--xiaomi-mayo-2021.entel-data-layer-view
    .box-xiaomi
        .box-xiaomi--text
            p #[span Hasta el 14 de Junio &nbsp;&nbsp;&nbsp;&nbsp;] Compra un equipo &nbsp;  
                +mx_picture_retina('',img_path+'2021/05/e-home-head-band-xiaomi-mayo','png','Xiaomi')
                | &nbsp;de la promo  y #[strong participa por uno de los 182 grandes premios!]
            a.e-button.entel-data-layer-btn(href='https://catalogo.entel.pe/xiaomi?para=personas' data-gtm-category="Cintillo Sorteo" data-gtm-action="Seleccionar botón" data-gtm-label="182 premios - ​Lo Quiero" target="_blank" title='Lo quiero') Lo quiero
        .box-xiaomi--img
            +mx_picture_retina('',img_path+'2021/05/e-home-head-band-xiaomi-mayo-prizes','png','Premios Xiaomi')

            a.e-button.entel-data-layer-btn(href='https://catalogo.entel.pe/xiaomi?para=personas' data-gtm-category="Cintillo Sorteo" data-gtm-action="Seleccionar botón" data-gtm-label="182 premios - ​Lo Quiero" target="_blank" title='Lo quiero') Lo quiero
