- link_miportal = 'https://catalogo.entel.pe/xiaomi-mi-smart-band-6-black-accesorio-equipo-libre-el/p?modalidad=libres&plan=0&oferta=regular&cuota=0'
section.e-section.e-headband-accesorios

    .e-headband-accesorios-container
        .e-headband-accesorios-title
            h3 Llévate un #[strong Mi Smart #[br]Band 6 Black con]

            .e-headband-accesorios-title__price
                strong 35#[span Dto.*]
                span %

        .e-headband-accesorios-detail
            .e-headband-accesorios-detail__text S/#[strong 129] #[span Antes: #[span S/ 199]]
            
        .e-headband-accesorios-button
            a.e-link__button(href=link_miportal target='_blank') COMPRAR 
    a.e-headband-lineasadicionales-link-all(href=link_miportal target='_blank') 
