section.e-section.e-countdown.e-headband--app-mi-entel
    .box--app-mi-entel
        .e-box-images
            +mx_picture_retina('e-img-logo', img_path + "2021/09/e-cintillo-app-mi-entel-phone", 'png', '')
            
        .box-texto
            a.entel-data-layer-btn-header(href='https://pemientel.page.link/cintilloweb' data-gtm-category="Home Cintillo" data-gtm-action="Seleccionar botón" data-gtm-label="Descarga la App Mi Entel" data-gtm-product='Personas' data-gtm-tipo='Informativo' target="_blank" title='Descarga Aquí') Descarga Aquí

            p #[span la] #[b app Mi Entel]
            
            //- p Ya estamos contando las horas para engreírte. #[strong Solo faltan:
        .box-texto
            p.text-gray Pide tus códigos de #[strong Jueves Entel, 2x1 en Cineplanet, Bembos y más beneficios.]
