section.e-section.e-headband--sorteo-app-mi-entel
    .box--sorteo-app-mi-entel
        .box--sorteo-app-mi-entel__blue
            .box--sorteo-app-mi-entel__blue-content
              .img-dimitri
                  +lazy_image_webp_retina_media('/2021/11/e-home-headband-sorteo-app-entel-dimitri-mob', 'png', '/2021/11/e-home-headband-sorteo-app-entel-dimitri-desk', '768')
              p.e-tc--white #[strong ¿Quieres ganarte #[span.e-tc--extra-blue 1 Xiaomi Mi 11 Lite?]]
              .img-phones
                  +lazy_image_webp_retina_media('/2021/11/e-home-headband-sorteo-app-entel-phones-mob', 'png', '/2021/11/e-home-headband-sorteo-app-entel-phones-desk', '768')
        .box--sorteo-app-mi-entel__white
            .box--sorteo-app-mi-entel__white-content
                p #[strong ¡Inscríbete] al sorteo!
                a.entel-data-layer-btn(href='https://pemientel.page.link/cintilloweb' data-gtm-category="Home - cintillo IR A LA APP Mi entel" data-gtm-action="Seleccionar link" data-gtm-label="IR A LA APP Mi entel" target="_blank" title='IR A LA APP Mi entel') IR A LA APP Mi entel
