section.e-section.e-countdown.e-countdown--vivo-y20-2021
    .box--vivo-y20-enero-2021

        .box-texto
            picture 
                source(srcset=img_path+"2021/02/headband-vivo-y20-feb-2021-texto-v2-desk.png 1x,"+img_path+"2021/02/headband-vivo-y20-feb-2021-texto-v2-desk@2x.png 2x" media='(min-width: 768px)')
                img(srcset=img_path+"2021/02/headband-vivo-y20-feb-2021-texto-mob.png 1x,"+img_path+"2021/02/headband-vivo-y20-feb-2021-texto-mob@2x.png 2x" src=img_path+"2021/02/headband-vivo-y20-feb-2021-texto-mob.png" alt="vivo-y20-febreo-2021")
           
        .box-img
            img(srcset=img_path+"2021/02/headband-vivo-y20-feb-2021.png 1x,"+img_path+"2021/02/headband-vivo-y20-feb-2021@2x.png 2x" src=img_path+"2021/02/headband-vivo-y20-feb-2021.png" alt="vivo-y20-febreo-2021")
        .box-btn
            a.e-button.entel-data-layer-btn(href='https://catalogo.entel.pe/vivo-y20-azul-parlante-altec-verde-chip-65-w/p?modalidad=postpago-migra&plan=chip-65.9&oferta=regular&cuota=0' data-gtm-category="Home - Cintillo VIVO Y20" data-gtm-action="Seleccionar botón" data-gtm-label="compralo aquí" target="_blank" title='compralo aquí') compralo aquí