section.e-section.e-countdown.e-countdown--interbank
    .e-countdown-container.e-countdown-container-fix.box-interbank
        a(href='https://compradigital.interbank.pe/solicitar/tarjeta/credito/inicio?htienda=enteloneshot&hsede=online' target='_blank')
            +mx_picture_retina_all('',img_path+'2021/06/e-headband-interbank', 'png', 'Interbank - Te devuelve S/100 adquiriendo una tarjeta de crédito Pídele online aquí, úsala hoy y disfruta de este gran beneficio.')
