section.e-section.e-countdown.e-countdown--enero-lgvelvet
    .box--enero-lgvelvet
        .box-img
            img(src=img_path+"2021/01/headband-enero-lgvelvet-mb.png" srcset=img_path+"2021/01/headband-enero-lgvelvet-mb@2x.png 2x" alt="Participa por un genial LG Velvet en 1 sólo paso. ¡Rápido y sin floros! ")
        .box-texto
            p Participa por un genial LG Velvet en 1 sólo paso.  #[strong ¡Rápido y sin floros!]
             
            //- p Ya estamos contando las horas para engreírte. #[strong Solo faltan:
        .box-btn
            
            a.e-button.entel-data-layer-btn(href='https://www.entel.pe/beneficios-exclusivos-online' data-gtm-category="Home -  Cintillo LG Velvet" data-gtm-action="Seleccionar botón" data-gtm-label="Descubre cómo" target="_blank" title='ingresa aquí') descubre cómo