section.e-section.e-countdown.e-countdown--jueves-entel-02-06-21.entel-data-layer-view
    .box--jueves-entel
        .box-img-desk
            //- +mx_retina('',img_path+'2021/07/headband-jueves-entel-logo','png','Jueves Entel')
            +image_webp_retina_media(img_path+'2021/10/wow-logo-mob', "png", img_path+'2021/10/wow-logo-desk', "768", "Wow Jueves Entel")

        .box-texto
            p Aprovecha los regalos, sorteos, ofertas, #[a.e-link.entel-data-layer-btn(href='https://www.entel.pe/juevesentel/' data-gtm-category="Home - Cintillo JUEVES 14 DE OCTUBRE" data-gtm-action="Seleccionar botón" data-gtm-label="Ingresa ahora" target="_blank" title='INGRESA AHORA') INGRESA AHORA] que se acaban en:
        .box-timer
            .hours
                p#hours  
                p Hrs. 
            .minutes
                p#minutes 
                p Min.
            .seconds
                p#seconds  
                p Seg.
