- link_miportal = 'https://miportal.entel.pe/personas/planes?_ga=2.191734121.236041361.1626651643-76759963.1610385750'
section.e-section.e-headband-eligetuchip2
    +mx_picture_retina_all('e-headband-eligetuchip2-back', img_path + '2021/09/cintillo-elige-tu-chip-bg_v5', 'png', '') 
    .e-headband-eligetuchip2-container
        .e-headband-eligetuchip2-detail
        
            .e-headband-eligetuchip2-detail-text
                .e-headband-eligetuchip2-detail-text-dscto
                    div
                        span.dscto-number 50
                        div 
                            p.dscto-symbol % 
                            p.dscto-text dto.
                    div
                        p.dscto-time #[strong x 6 meses] 
                        p.dscto-online solo Online
                    //- +mx_picture_retina_all('', img_path + '2021/07/cintillo-elige-tu-chip-20', 'png', '20% dto') 
                .e-headband-eligetuchip2-detail-text-plan
                    p.only-mob Migra a Entel 100% online aquí!
                    p.only-desk
                        span.plan-chip #[strong Migra a Entel 100% online aquí!] #[br] #[span.plan-amount Desde Plan Entel Power 55.90]
            a.e-link__button(href=link_miportal target='_blank') COMPRAR
    a.e-headband-eligetuchip2-link-all(href=link_miportal target='_blank') 

        //- .e-headband-eligetuchip-img
        //-     +mx_picture_retina_extra('', img_path + '2021/07/cintillo-elige-tu-chip', 'png', '') 
            //- img(src=img_path+'2021/04/cart-ico-headband-cyberwow.png' alt="CyberWow Entel")