//- //- CUANDO SE EXTENDIO EL TIEMPO
section.e-section.e-countdown.e-countdown-fix#countdown
    .e-countdown-container.e-countdown-container-fix
        //- .e-countdown-img.e-countdown-img-fix
        //-     img(src='https://enteltest.vteximg.com.br/arquivos/outdoor-carro.png' alt="Cyber Entel")

        .e-countdown-detail.e-countdown-detail-fix
            p
                span ¡Migra o Renueva desde casa! #[strong Delivery gratis en 24 horas] #[small Aplican Términos y Condiciones]
                //- Disfruta nuestro Cyber Entel! Este #[strong 23, 24 y 25 de noviembre]
            a.e-button.e-button__line(href="https://catalogo.entel.pe/personas/celulares?para=personas&modalidad=migra-postpago") IR A CATÁLOGO