section.e-section.e-countdown.e-countdown--entel-day-mayo-2021.entel-data-layer-view
    .box--entel-day-enero-2021
        //- .box-img-desk
            +mx_picture_retina('',img_path+'2021/05/headband-entel-day-mayo-2021','png','Entel day Mayo 2021')
                        
        .box-texto
            p Aprovecha que los regalos, sorteos y ofertas se acaban en:
            //- p Ya estamos contando las horas para engreírte. #[strong Solo faltan:]
            a.e-button.entel-data-layer-btn(href='https://www.entel.pe/juevesentel/' data-gtm-category="Home - Cintillo Entel Day Mayo 2021" data-gtm-action="Seleccionar botón" data-gtm-label="Ingresa aqui" target="_blank" title='ingresa aquí') ingresa aquí
        .box-timer
            //- .days
            //-     p#days  
            //-     p Dys. 
            .hours
                p#hours  
                p Hrs. 
            .minutes
                p#minutes 
                p Min.
            .seconds
                p#seconds  
                p Seg.
