- link_miportal = 'https://miportal.entel.pe/personas/planes?_ga=2.191734121.236041361.1626651643-76759963.1610385750'
section.e-section.e-headband-eligetuchip4
    .e-headband-eligetuchip4-container
        .e-headband-eligetuchip4-detail
        
            .e-headband-eligetuchip4-detail-text
                .e-headband-eligetuchip4-detail-text-plan
                    p Migra ahora y Navega Ilimitado
                .e-headband-eligetuchip4-detail-text-dscto
                    div
                        span.dscto-number S/ 50.90
                    div
                        strong.dscto-time S/
                            span 44
                            span .72
                        span.dscto-online x 6 meses
                    a.e-link__button(href=link_miportal target='_blank') COMPRAR

            +mx_retina('e-headband-eligetuchip4-back02', 'https://www.entel.pe/wp-content/uploads/2022/01/cintillo-verano2022-palmera', 'png', '') 
    a.e-headband-eligetuchip4-link-all(href=link_miportal target='_blank') 
