section.e-section.e-countdown.e-countdown--febrero-padrino
    .box--enero-lgvelvet
        //- .box-img
            //- +mx_picture_retina_all('', img_path + "2021/03/headband-marzo-padrino", 'png', 'Padrino')
        .box-texto
            p Ahijado, participa aquí por el #[strong Xiaomi Mi 10T]
        .box-img2
            +mx_picture_retina('', img_path + "2021/03/headband-abril-padrino-xiaomi-mi10t", 'png', 'Ahijado, participa aquí por el Xiaomi Mi 10T')
        .box-btn
            a.e-button.entel-data-layer-btn(href='https://www.entel.pe/sorteo-el-padrino/' data-gtm-category="Home -  Cintillo sorteo Padrino" data-gtm-action="Seleccionar botón" data-gtm-label="informate aquí" target="_blank" title='ENTÉRATE CÓMO') ENTÉRATE CÓMO
            