- link_miportal = 'https://catalogo.entel.pe/philips-audifono-on-ear-negro-accesorio-equipo-libre-el/p?modalidad=libres&plan=0&oferta=regular&cuota=0'
section.e-section.e-headband-accesorios

    .e-headband-accesorios-container
        .e-headband-accesorios-title
            h3 Llévate un #[strong Philips #[br]Audífono On Ear Negro]

            .e-headband-accesorios-title__price
                strong 40#[span Dto.*]
                span %

        .e-headband-accesorios-detail
            .e-headband-accesorios-detail__text S/#[strong 59.9] #[span Antes: #[span S/ 99.9]]
            
        .e-headband-accesorios-button
            a.e-link__button(href=link_miportal target='_blank') COMPRAR 
    a.e-headband-lineasadicionales-link-all(href=link_miportal target='_blank') 
