section.e-section.e-countdown.e-countdown--entel-day-enero-2021
    .box--entel-day-enero-2021
        .box-img-desk
            //-img(srcset=img_path+"2021/02/headband-entel-day-feb-2021-desk.png 1x,"+img_path+"2021/02/headband-entel-day-feb-2021-desk@2x.png 2x" src=img_path+"2021/02/headband-entel-day-feb-2021-desk.png" alt="entel-day-febreo-2021")
            img(src=img_path+"2021/03/headband-entel-day-marzo-2021.png" alt="Entel Day Perú")
        .box-texto
            p ¡No te quedes sin disfrutar lo que tenemos para ti hoy! #[strong Entel Day termina en:]
            //- p Ya estamos contando las horas para engreírte. #[strong Solo faltan:]
            a.e-button.entel-data-layer-btn(href='https://www.entel.pe/entelday/' data-gtm-category="Home - Cintillo Entel Day" data-gtm-action="Seleccionar botón" data-gtm-label="Ingresa aqui" target="_blank" title='ingresa aquí') ingresa aquí
        .box-timer
            //- .days
            //-     p#days  
            //-     p Dys. 
            .hours
                p#hours  
                p Hrs. 
            .minutes
                p#minutes 
                p Min.
            .seconds
                p#seconds  
                p Seg.
        .box-img
            //-img(srcset=img_path+"2021/02/headband-entel-day-feb-2021-mob.png 1x,"+img_path+"2021/02/headband-entel-day-feb-2021-mob@2x.png 2x" src=img_path+"2021/02/headband-entel-day-feb-2021-mob.png" alt="entel-day-febreo-2021")
            img(src=img_path+"2021/03/headband-entel-day-marzo-2021.png" alt="Entel Day Perú")
            a.e-button.entel-data-layer-btn(href='https://www.entel.pe/entelday/' data-gtm-category="Home - Cintillo Entel Day" data-gtm-action="Seleccionar botón" data-gtm-label="Ingresa aqui" target="_blank" title='ingresa aquí') ingresa aquí