section.e-section.e-headband-lovers.entel-data-layer-view
    .box-lovers
        .box-lovers__hearts.box-lovers__hearts-l
            include ../../../../../../assets/img/personas/home/2021/07/elovers-cintillo-heart.svg
            include ../../../../../../assets/img/personas/home/2021/07/elovers-cintillo-heart.svg
            include ../../../../../../assets/img/personas/home/2021/07/elovers-cintillo-heart.svg
        .box-lovers__img-left
            +image_webp_retina('2021/07/headband-lovers-img-l', 'png', 'pines')
        .box-lovers__text
            p #[b ¡Conoce] #[a(class="e-link entel-data-layer-btn" href="https://www.entel.pe/lovers/" target="_blank" data-gtm-category='Landing Entel Lovers - Merch' data-gtm-action='Seleccionar boton' data-gtm-label='cintillo enlace AQUI') AQUÍ] los #[b artículos]
            a(class="e-lover-logo entel-data-layer-btn" href="https://www.entel.pe/lovers/" target="_blank" data-gtm-category='Landing Entel Lovers - Merch' data-gtm-action='Seleccionar boton' data-gtm-label='cintillo logo Lovers')
                +image_webp_retina('2021/07/headband-lovers-logo', 'png', 'Logo entel lovers')
            p de #[b edición limitada] que tenemos #[b para ti!]
            //- +mx_retina('',img_path+'2021/06/headband-jueves-entel-desk','png','Jueves Entel 17 Junio 2021')
        .box-lovers__img-right
            +image_webp_retina('2021/07/headband-lovers-img-r', 'png', 'camiseta')
        .box-lovers__hearts.box-lovers__hearts-r
            include ../../../../../../assets/img/personas/home/2021/07/elovers-cintillo-heart.svg
            include ../../../../../../assets/img/personas/home/2021/07/elovers-cintillo-heart.svg
            include ../../../../../../assets/img/personas/home/2021/07/elovers-cintillo-heart.svg           
