
//- section.e-section.e-countdown__reg#countdown
//-     .e-countdown__reg-container
//-         .e-countdown__reg-img
//-             +mx_picture_retina('', img_path+'2020/07/countdown-reloj', 'png', 'reloj')
//-         .e-countdown__reg-detail 
//-             p
//-                 strong#countdownMessage Aprovecha el Cyber WOW! #[br]
//-                 span No te quedes sin tus equipos #[br]
//-                 strong ¡Quedan pocas horas! 

//-         .e-countdown__reg-time   
//-             //- #reloj
//-             .e-time-container
//-                 .e-time-item
//-                     .e-time-item__number#countdownHou 
//-                     span Horas
//-                 .e-time-item
//-                     .e-time-item__number#countdownMin 
//-                     span Mins
//-                 .e-time-item
//-                     .e-time-item__number#countdownSec 
//-                     span Seg


section.e-section.e-headband-cyberwow__reg.e-headband-cyberwow__reg-fix
    .e-headband-cyberwow__reg-container.e-headband-cyberwow__reg-container-fix
        .e-headband-cyberwow__reg-img.e-headband-cyberwow__reg-img-fix
            img(src=img_path+'2021/04/cart-ico-headband-cyberwow.png' alt="CyberWow Entel")

        .e-headband-cyberwow__reg-detail.e-headband-cyberwow__reg-detail-fix
            p
                span Ya comenzó #[strong Cyber WOW!] #[br]disfrútalo del #[strong 24 al 28 de octubre]