section.e-section.e-countdown.e-countdown--xiaomi
    .box--xiaomi

        .box-texto
            p 
                span Del 11 al 18 de abril&nbsp;
                span compra un&nbsp;
                    +mx_picture_retina_all('', img_path + '2021/04/headband-xiomi', 'png', 'Xiaomi')
                    |&nbsp;y&nbsp;
                    strong  gana uno de los 50 premios&nbsp;
                span Más detalle en: 
                    a.entel-data-layer-btn(href="https://www.mifanfestivalperu.com" data-gtm-id="Home - Cintillo VIVO Y20" data-gtm-name="Compra Xiaomi y gana uno de los 50 premios" data-gtm-position="Cintillo-1" data-gtm-creative="https://www.mifanfestivalperu.com/") www.mifanfestivalperu.com
            //- picture 
                source(srcset=img_path+"2021/02/headband-vivo-y20-feb-2021-texto-v2-desk.png 1x,"+img_path+"2021/02/headband-vivo-y20-feb-2021-texto-v2-desk@2x.png 2x" media='(min-width: 768px)')
                img(srcset=img_path+"2021/02/headband-vivo-y20-feb-2021-texto-mob.png 1x,"+img_path+"2021/02/headband-vivo-y20-feb-2021-texto-mob@2x.png 2x" src=img_path+"2021/02/headband-vivo-y20-feb-2021-texto-mob.png" alt="vivo-y20-febreo-2021")
            //- +mx_picture_retina_all('', img_path + '2021/04/headband-xiomi-text', 'png', 'Del 11 al 18 de abril compra un Xiaomi y gana uno de los 50 premios')
           
        //- .box-img
        //-     img(srcset=img_path+"2021/02/headband-vivo-y20-feb-2021.png 1x,"+img_path+"2021/02/headband-vivo-y20-feb-2021@2x.png 2x" src=img_path+"2021/02/headband-vivo-y20-feb-2021.png" alt="vivo-y20-febreo-2021")
        //- .box-btn
        //-     a.e-button.entel-data-layer-btn(href='https://catalogo.entel.pe/vivo-y20-azul-parlante-altec-verde-chip-65-w/p?modalidad=postpago-migra&plan=chip-65.9&oferta=regular&cuota=0' data-gtm-category="Home - Cintillo VIVO Y20" data-gtm-action="Seleccionar botón" data-gtm-label="compralo aquí" target="_blank" title='compralo aquí') compralo aquí