- link_miportal = 'https://miportal.entel.pe/personas/planes?_ga=2.191734121.236041361.1626651643-76759963.1610385750'
section.e-section.e-headband-eligetuchip
    +mx_picture_retina_all('e-headband-eligetuchip-back', img_path + '2021/07/cintillo-elige-tu-chip-v', 'png', '') 
    .e-headband-eligetuchip-container
        .e-headband-eligetuchip-detail
            p
                span Elige tu chip Entel&nbsp;#[br] #[strong exclusivo online] #[br]#[span en planes desde Entel Chip 49.90 Plus por 6 meses]

            div 
                +mx_picture_retina_all('', img_path + '2021/07/cintillo-elige-tu-chip-20', 'png', '20% dto') 
            a.e-link__button(href=link_miportal target='_blank') COMPRAR
    a.e-headband-eligetuchip-link-all(href=link_miportal target='_blank') 

        //- .e-headband-eligetuchip-img
        //-     +mx_picture_retina_extra('', img_path + '2021/07/cintillo-elige-tu-chip', 'png', '') 
            //- img(src=img_path+'2021/04/cart-ico-headband-cyberwow.png' alt="CyberWow Entel")