- link_miportal = 'https://miportal.entel.pe/personas/producto/accesorios/prod410038?poId=ACC_ECOM_301&modalidad=Accesorios'

section.e-section.e-headband-dimitree
    div
        - for (i = 0; i < 5; i++)
            div(class="snowflake1")
                img(src=img_path + '2022/11/dimitree-snow.png')

        - for (i = 6; i < 30; i++)
            div(class="snowflake")
        

    .e-headband-dimitree-container
        .e-headband-dimitree-title
            h3 Llévate un #[strong Dimitree pelotero] a S/39.9!

            //- .e-headband-dimitree-title__price
            //-     strong #[span S/] 39.9
            //-     span Antes: S/59.9

        .e-headband-dimitree-detail
            //- .e-headband-dimitree-detail__text S/#[strong 39.9] #[span Antes: #[span S/ 59.9]]
            
        .e-headband-dimitree-button
            a.e-link__button(href=link_miportal target='_blank') COMPRAR 
    a.e-headband-lineasadicionales-link-all(href=link_miportal target='_blank') 
