
section.e-section.e-countdown-cyberentel__reg#countdown
    .e-countdown-cyberentel__reg-container
        .e-countdown-cyberentel__reg-img
            //- img(src=img_path+'2021/04/countdown-icon-cyberwow-2021.png' alt="Reloj")
        .e-countdown-cyberentel__reg-detail 
            p
                //- strong#countdownMessage Prepárate para el Cyber WOW! #[br]
                //- span Aprovecha los descuentos online #[br]
                //- span para comprar el #[strong regalo de mamá!] 
                span Ya llega  
                strong#countdownMessage Cyber Entel!  #[br]
                span Desde el 28 de marzo 
                //- span 
                //-     strong ¡Quedan pocas horas!

        .e-countdown-cyberentel__reg-time   
            #reloj
                .e-time-container
                    .e-time-item
                        .e-time-item__number#hours
                        span Horas
                    .e-time-item
                        .e-time-item__number#minutes
                        span Minutos
                    .e-time-item
                        .e-time-item__number#seconds
                        span Segundo


//- section.e-section.e-headband-cyberwow__reg.e-headband-cyberwow__reg-fix
    .e-headband-cyberwow__reg-container.e-headband-cyberwow__reg-container-fix
        .e-headband-cyberwow__reg-img.e-headband-cyberwow__reg-img-fix
            img(src=img_path+'2021/04/cart-ico-headband-cyberwow.png' alt="CyberWow Entel")

        .e-headband-cyberwow__reg-detail.e-headband-cyberwow__reg-detail-fix
            p
                span Seviene #[strong Cyber Wow!] #[br] disfrútalo del #[strong 19 al 23 Abril]
