section.e-section.e-countdown.e-countdown--jueves-entel-02-06-21.entel-data-layer-view
    .box--jueves-entel
        .box-img-desk
            //- +mx_retina('',img_path+'2021/07/headband-jueves-entel-desk-v2','png','Jueves Entel 8 Julio 2021')
                        
        .box-texto
            p Aprovecha los regalos, sorteos, ofertas, #[a.e-link.entel-data-layer-btn(href='https://www.entel.pe/juevesentel/' data-gtm-category="Home - Cintillo JUEVES 26 DE AGOSTO" data-gtm-action="Seleccionar botón" data-gtm-label="Ingresa ahora" target="_blank" title='INGRESA AHORA') INGRESA AHORA] que se acaban en:
            
        .box-timer
            //- .days
            //-     p#days  
            //-     p Dys. 
            .hours
                p#hours  
                p Hrs. 
            .minutes
                p#minutes 
                p Min.
            .seconds
                p#seconds  
                p Seg.
        .box-img-mob
            //- +mx_retina('',img_path+'2021/07/headband-jueves-entel-mob-v2','png','Jueves Entel 8 Julio 2021')
