- link_miportal = 'https://www.entel.pe/ofertas-y-promociones/lineasadicionales/'
section.e-section.e-headband-lineasadicionales

    .e-headband-lineasadicionales-container
        .e-headband-lineasadicionales-title
            p Post pago
            h3 Tus #[strong Líneas Adicionales]
            .e-headband-lineasadicionales-title__price
                span Cada una a: #[strong S/]
                strong 29.#[span 90]

        .e-headband-lineasadicionales-detail
            .e-headband-lineasadicionales-detail__text para cualquier #[strong plan Entel #[br]Power Familiar]
            .e-headband-lineasadicionales-detail__text Mismos beneficios #[br]que la línea titular
            
        .e-headband-lineasadicionales-button
            a.e-link__button(href=link_miportal target='_blank') COMPRAR
            //- .e-headband-lineasadicionales-detail-text
                .e-headband-lineasadicionales-detail-text-plan
                    p Migra ahora y Navega Ilimitado
                .e-headband-lineasadicionales-detail-text-dscto
                    div
                        span.dscto-number S/ 50.90
                    div
                        strong.dscto-time S/
                            span 44
                            span .72
                        span.dscto-online x 6 meses
                    

            //- +mx_retina('e-headband-lineasadicionales-back02', 'https://www.entel.pe/wp-content/uploads/2022/01/cintillo-verano2022-palmera', 'png', '') 
    a.e-headband-lineasadicionales-link-all(href=link_miportal target='_blank') 
