section.e-section.e-countdown.e-countdown--entel-day-abril-2021.entel-data-layer-view
    .box--entel-day-enero-2021
        .box-img-desk
            +mx_picture_retina('',img_path+'2021/04/headband-entel-day-abril-2021','png','Entel day abril 2021')
                        
        .box-texto
            p ¡No te quedes sin disfrutar lo que tenemos para ti hoy! #[strong Entel Day termina en:]
            //- p Ya estamos contando las horas para engreírte. #[strong Solo faltan:]
            a.e-button.entel-data-layer-btn(href='https://www.entel.pe/entelday/' data-gtm-category="Home - Cintillo Entel Day Abril 2021" data-gtm-action="Seleccionar botón" data-gtm-label="Ingresa aqui" target="_blank" title='ingresa aquí') ingresa aquí
        .box-timer
            //- .days
            //-     p#days  
            //-     p Dys. 
            .hours
                p#hours  
                p Hrs. 
            .minutes
                p#minutes 
                p Min.
            .seconds
                p#seconds  
                p Seg.
        .box-img
            
            
            +mx_picture_retina('',img_path+'2021/04/headband-entel-day-abril-2021','png','Entel day abril 2021')
            a.e-button.entel-data-layer-btn(href='https://www.entel.pe/entelday/' data-gtm-category="Home - Cintillo Entel Day" data-gtm-action="Seleccionar botón" data-gtm-label="Ingresa aqui" target="_blank" title='ingresa aquí') ingresa aquí