.entel__slider--home__item__content.entel__slider--home__item__liberados_cyber_entel_22 {
    background-color: $color-blue;
    padding: 0;
    
    // @include responsive-width($mobile_m) {
    // background-image: url($m_image_path +'2021/07/banner-bicentenario-liberados-back-mob.png');
    // background-position: top center;
    // // background-size: 100%;
    // background-repeat: no-repeat;
    // // background-size: 314px;
    // // }
    // @include responsive-width($tablet-m) {
    //     background-color: $white;
    // //     background-image: url($m_image_path +'2021/07/banner-bicentenario-liberados-back-tab.png');
    // //     background-size: auto;
    // //     background-position: center -70px;
    // }

    // @include responsive-width($laptop-s) {
    //     background-image: url($m_image_path +'2021/07/banner-bicentenario-liberados-back-desk.png');
    //     // background-size: auto;
    //     background-position: center 40px;
    // }

    // @include responsive-width($laptop-s) {
    //     background-image: url($m_image_path +'2021/07/banner-bicentenario-liberados-back-big.png');
    //     // background-size: auto;
    //     background-position: center top;
    // }
    
    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1030px !important;
        }

        @include responsive-width($laptop-m) {
            max-width: 1040px !important;
        }
        
        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 18px 0 0 25px;            
            margin: 0;
            width: 100%;
            max-width: 100%;
            z-index: 5;
            position: absolute;
            // position: relative;
        
            @include responsive-width($tablet-m) {
                padding-top: 35px;
                padding-left: 60px;
                width: 100%;
                max-width: none;
            }
        
            @include responsive-width($laptop-s) {   
                padding-left: 50px;
                padding-top: 20px;
            }

            @include responsive-width($laptop-m) { 
                padding-left: 14px;
                padding-top: 16px;
            }

            img {
                position: relative;
                z-index: 2;
                margin-bottom: 0px;
        
                @include responsive-width($tablet-m) {
                    width: auto;
                    // margin: 20px;
                    margin-left: 0;
                }
            }

            &-detail {
                position: absolute;
                left: 50%;
                top: 0;
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 auto 0;
            width: 100%;
            text-align: right;
            position: absolute;
            top: auto;
            bottom: 22px;
            left: -11px;
            z-index: 4;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: auto;
                bottom: 46px;
                right: 49px;
                width: auto;
                z-index: 3;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            
            @include responsive-width($laptop-s) {
                right: 50px;
                bottom: 20px;
            }
        
            @include responsive-width($laptop-m) {
                right: 62px;
                bottom: 23px;
            }
            
            &-detail {
                position: absolute;
                left: 50%;
                bottom: 0;
    
                &:before {
                    content: '';
                    width: 3000px;
                    height: 3000px;
                    display: none;
                    position: absolute;
                    left: 0;
                    bottom: 0;
        
                    @include responsive-width($tablet-m) {
                        display: block;
                        background: #08439C;
                        border-radius: 40px;
                        -moz-transform: translate(302px, 2279px) rotate(-18deg) skew(-9deg);
                        -webkit-transform: translate(302px, 2279px) rotate(-18deg) skew(-9deg);
                        -o-transform: translate(302px, 2279px) rotate(-18deg) skew(-9deg);
                        -ms-transform: translate(302px, 2279px) rotate(-18deg) skew(-9deg);
                        transform: translate(302px, 2279px) rotate(-18deg) skew(-9deg);
                    }
        
                    @include responsive-width($laptop-s) {
                        border-radius: 50px;
                        -moz-transform: translate(420px, 2220px) rotate(-20deg) skew(-9deg);
                        -webkit-transform: translate(420px, 2220px) rotate(-20deg) skew(-9deg);
                        -o-transform: translate(420px, 2220px) rotate(-20deg) skew(-9deg);
                        -ms-transform: translate(420px, 2220px) rotate(-20deg) skew(-9deg);
                        transform: translate(420px, 2220px) rotate(-20deg) skew(-9deg);
                    }
        
                    @include responsive-width($laptop-m) {
                        -moz-transform: translate(390px, 2299px) rotate(-17deg) skew(-9deg);
                        -webkit-transform: translate(390px, 2299px) rotate(-17deg) skew(-9deg);
                        -o-transform: translate(390px, 2299px) rotate(-17deg) skew(-9deg);
                        -ms-transform: translate(390px, 2299px) rotate(-17deg) skew(-9deg);
                        transform: translate(390px, 2299px) rotate(-17deg) skew(-9deg);
                    }
                }
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                // margin-right: 30px;
                // margin-top: 0;
        
                // @include responsive-width($tablet-m) {
                //     max-width: none;
                //     width: auto;
                //     margin-right: 60px;
                // }
        
                // @include responsive-width($laptop-s) {
                //     // width: 740px;
                //     margin-right: 70px;
                // }
        
                // @include responsive-width($laptop-m) {
                //     width: auto;
                //     margin-right: 0;
                // }

                // @include responsive-width($desktop_s) {
                //     margin-right: -45px;
                // }
            }
        }

        .e-button {

            &-buy {    
                position: relative;
                z-index: 5;
                margin-left: 4px;
                margin-top: 15px;
                @include responsive-width($tablet-m) {
                    margin-left: 8px;
                    margin-top: 26px;
                }
        
                @include responsive-width($laptop-s) {
                    margin-top: 20px;
                }
        
                @include responsive-width($laptop-m) {
                    margin-right: 40px;
                    margin-top: 18px;
                }

                .btn-buy {
                    height: 40px;
                    margin-left: 0;
                    padding: 7px 15px;
                    font-size: 12px;
                    line-height: 18px;
                    width: 126px;
                    background-color: $orange;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 0;
                        line-height: 30px;
                        width: 186px;
                        height: 50px;
                        font-size: 14px;
                    }
            
                    @include responsive-width($laptop-s) {
                        width: 176px;
                        margin-top: 0;
                    }
            
                    @include responsive-width($laptop-m) {
                        width: 176px;
                        font-size: 14px;
                        line-height: 30px;
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: right;
            letter-spacing: -0.01em;
            z-index: 4;
        
            &__mob {
                padding-left: 30px;
                margin: 7px auto 0;
                text-align: left;
                padding-right: 0;
                bottom: 10px;
            
                @include responsive-width($tablet-m) {
                    width: 460px;
                    bottom: 18px;
                    padding-left: 64px;
                }
            
                @include responsive-width($laptop-s) {
                    padding-left: 58px;
                    bottom: 18px;
                }
            
                @include responsive-width($laptop-m) {
                    padding-left: 18px;
                    bottom: 24px;
                }
            }
        
            a {
                color: $extra_dark_gray;
                text-decoration: underline;
                @include responsive-width($laptop-s) {
                    text-decoration: none;
                }
            }
        }
    }
}