.entel__slider--home__item__content.entel__slider--home__item__cyberentel_cuota0_form {
    background-color: $blue;
    padding: 0;
    
    // // @include responsive-width($mobile_m) {
    // background-image: url($m_image_path +'2021/07/banner-form-bicentenario-cuota0-back-mob.png');
    // background-position: top center;
    // background-size: auto;
    // background-repeat: no-repeat;
    // // background-size: 314px;
    // // }
    // @include responsive-width($tablet-m) {
    //     background-image: url($m_image_path +'2021/07/banner-form-bicentenario-cuota0-back-tab.png');
    // }

    // @include responsive-width($laptop-s) {
    //     background-image: url($m_image_path +'2021/07/banner-form-bicentenario-cuota0-back-desk.jpg');
    // }

    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        max-width: 320px !important;
        width: 100%;
        margin: 0 auto;

        @include responsive-width($tablet-m) {
            height: 100%;
            max-width: 768px !important;
        }

        @include responsive-width($laptop-s) {
            margin-top: 0;
            max-width: 1030px !important;
        }

        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }
        
        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            padding: 10px 0 0 15px;
            margin: 0;
            width: 100%;
            max-width: 190px;
            // z-index: 3;
            // position: relative;
        
            @include responsive-width($tablet-m) {
                padding: 5px 25px;
                padding-top: 46px;
                padding-left: 60px;
                width: 100%;
                max-width: none;
            }
        
            @include responsive-width($laptop-s) {   
                margin-left: 0px;
                padding-left: 50px;
                padding-top: 42px;
                z-index: 1;
            }

            // @include responsive-width($laptop-m) { 
            //     margin-left: -100px;
            //     // padding-top: 42px;
            // }

            // @include responsive-width($desktop_s) { 
            //     margin-left: -10px;
            //     padding-top: 35px;
            // }

            img {
                position: relative;
                z-index: 2;
                margin: 0;
                margin-bottom: 0px;
        
                @include responsive-width($tablet-m) {
                    width: auto;
                    margin-left: 0;
                }
        
                @include responsive-width($laptop-s) {
                    width: auto;
                    margin-left: 0px;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-left: 0;
                }
            }

            &-detail {
                position: absolute;
                left: 50%;
                top: 0;
            }

            form {
                z-index: 5;
                text-align: left;
                position: relative;
                margin-top: 4px;

                @include responsive-width($tablet-m) {
                    margin-top: 15px;
                }

                @include responsive-width($laptop-s) {
                    margin-top: 10px;
                }
                

                .form--content {    
                    width: 172px;
                    text-align: left;
                    margin: 0;

                    @include responsive-width($tablet-m) {
                        width: auto;
                        text-align: left;
                    }

                    .form--head {
                        p {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 14px;
                            text-align: left;
                            color: #004CC1;
                            margin: 0px;

                            span {
                                font-weight: 400;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 19px;
                                line-height: 19px;
                            }
                        }
                        
                        h2 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 20px;
                            text-align: left;
                            text-transform: uppercase;
                            color: #00B9EB;
                            margin: 4px 0px 5px;

                            @include responsive-width($tablet-m) {
                                font-size: 34px;
                                line-height: 30px;
                                margin: 6px 0px 11px;
                            }
                        }

                        h3 {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: left;
                            color: $blue;
                            margin: 0px 0px 5px;

                            @include responsive-width($tablet-m) {
                                color: $white;
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }

                            strong {
                                font-weight: bold;
                            }
                        }
                    }

                    .form--body {
                        p {
                            color: $white;
                            margin: 0 0 10px 0;
                            font-weight: normal;
                            text-align: left;
                            font-size: 11px;
                        
                            @include responsive-width($tablet-m) {
                                font-size: 14px;
                                color: $white;
                            }
    
                        }
                        .form--number {
                            position: relative;
                            margin-bottom: 14px;

                            @include responsive-width($tablet-m) {
                                margin-bottom: 10px;
                            }

                            span {
                                left: 9px;
                                top: 10px;

                                @include responsive-width($tablet-m) {
                                    top: 10px;
                                }

                                span {
                                    font-size: 10px;
                                    color: $extra_dark_gray;
                                    padding: 0 3px;
                                    transition: all 0.3s ease;

                                    @include responsive-width($tablet-m) {
                                        font-size: 12px;
                                    }
                                }
                            }

                            input {
                                box-sizing: border-box;
                                border-radius: 7.3332px;
                                width: 100%;
                                height: 44px;
                                padding: 14px 10px 6px;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                align-items: center;
                                letter-spacing: 0.0015em;
                                color: $extra_light_black;
                                background-color: $white;
                                border: 2px solid $white;

                                @include responsive-width($tablet-m) {
                                    width: 217px;
                                    height: 51px;
                                    font-size: 14px;
                                    line-height: 17px;
                                }

                                &:placeholder-shown + span {
                                    top: 20px;

                                    @include responsive-width($tablet-m) {
                                        top: 22px;
                                    }

                                    span {
                                        font-size: 11px;

                                        @include responsive-width($tablet-m) {
                                            font-size: 14px;
                                        }
                                    }
                                }

                                &:focus{
                                    border-color: $extra_blue;
                                }

                                &:focus + span {
                                    top: 10px;

                                    @include responsive-width($tablet-m) {
                                        top: 10px;
                                    }

                                    span {
                                        font-size: 10px;
                                        color: $extra_blue;

                                        @include responsive-width($tablet-m) {
                                            font-size: 12px;
                                        }
                                    }
                                }

                                &.error {
                                    border-color: $pink !important;
                                }

                                &.error::placeholder {
                                    color: $pink !important;
                                }

                                &.error + span {
                                    span {
                                        color: $pink;
                                    }
                                }
                            }
                        }

                        .form--check {
                            display: flex;
                            align-items: center;
                            width: 162px;
            
                            @include responsive-width($tablet-m) {
                                margin-top: 8px;
                                width: 220px;
                            }
            
                            &>span {
                                font-weight: normal;
                                color: $white;
                                font-size: 8.5px;
                                line-height: 10px;
                
                                @include responsive-width($tablet-m) {
                                    font-size: 11px;
                                }
                
                                @include responsive-width($laptop-s) {
                                    color: $white;
                                }
                                
                                a {
                                    color: $extra_blue;
                                    margin-left: 3px;
                                    margin-right: 3px;
                                    line-height: 18px;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 8.5px;
                
                                    @include responsive-width($tablet-m) {
                                    font-size: 11px;
                                    }
                
                                    span {
                                    text-decoration: underline;
                                    font-weight: normal;
                                    }
                                }
                            }
            
                            input {
                                display: none;
                            }
            
                            label {
                                @include responsive-width($tablet-m) {
                                    font-size: 11px;
                                }
                            }
            
                            .input-mask-top {
                                display: none;
                                width: 18px;
                                height: 18px;
                                border: 1px solid $orange;
                                box-sizing: border-box;
                                border-radius: 4.58325px;
                                margin-top: 2px;
                                position: relative;
            
                                &.error {
                                    border-color: #f10101;
                
                                    &::after {
                                    border-color: transparent;
                                    }
                                }
            
                                &::after {
                                    content: "";
                                    left: 6px;
                                    top: 2px;
                                    width: 4px;
                                    height: 9px;
                                    border: solid $orange;
                                    border-width: 0px 2px 2px 0px;
                                    -webkit-transform: rotate(45deg);
                                    -ms-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                    position: absolute;
                                }
                            }
            
                            a {
                                color: $white;
                                margin-left: 5px;
                                line-height: 18px;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 10px;
                
                                span {
                                    font-weight: bold;
                                    text-decoration: underline;
                                }
                            }
                        }

                        button {
                            background-color: $orange;
                            border-radius: 45.8325px;
                            color: #ffffff;
                            cursor: pointer;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 1px;
                            text-align: center;
                            padding: 15px 5px;
                            text-transform: uppercase;
                            margin-top: 10px;
                            border: 0px;
                            width: 126px;
                            height: 40px;
                            display: block;
                            // margin-left: 36px;

                            @include responsive-width($tablet-m) {
                                margin-top: 15px;
                                margin-left: 0px;
                                width: 142px;
                                height: 46px;
                                font-size: 13px;
                                line-height: 4px;
                            }

                            @include responsive-width($laptop-m) {
                                padding: 15px 28px;
                                width: 142px;
                                height: 46px;
                                font-size: 13px;
                                line-height: 4px;
                            }
                        }
                    }

                    .form--loading{
                        display: none;
                        padding: 25px 25px 0px;
                        // background: $blue;
                        height: 122px;
                        width: 160px;
                        margin-top: 0;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            // background: $blue;
                            // margin-top: -31px;    
                            width: 190px;
                            height: 180px;
                        }

                        img {
                            animation: rotating 2s linear infinite;
                            width: 70px;
                            display: inline-block;

                            @keyframes rotating {
                                from {
                                    transform: rotate(0deg);
                                }
                                to {
                                    transform: rotate(360deg);
                                }
                            }

                            @include responsive-width($tablet-m) {
                                width: 100px;
                            }
                        }

                    }

                    .form--thanks {
                        display: none;
                        // background: $blue;
                        height: 122px;
                        width: 160px;
                        margin-top: 0;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            // background: $blue;
                            // margin-top: -31px;
                            width: 190px;
                            height: 180px;
                        }

                        img {
                            margin-bottom: 5px;
                            @include responsive-width($tablet-m) {
                                margin-bottom: 0px;
                            }
                        }

                        p, span {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 10px;
                            line-height: 12px;
                            text-align: center;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                color: $white;
                                font-size: 16px;
                                line-height: 18px;
                                margin: 0px 0px 15px;
                            }
                        }
                    }

                    .form--duplicate {
                        display: none;
                        padding-top: 15px;
                        // background: $blue;
                        height: 122px;
                        width: 160px;
                        margin-top: 0;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            // background: $blue;
                            // margin-top: -31px;
                            width: 190px;
                            height: 180px;
                        }

                        p{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                color: $white;
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                    }

                    .form--error {
                        display: none;
                        // background: $blue;
                        height: 113px;
                        width: 160px;
                        margin-top: 0;
                        position: relative;
                        text-align: center;
                        
                        @include responsive-width($tablet-m) {
                            // background: $blue;
                            // margin-top: -31px;
                            width: 190px;
                            height: 180px;
                        }

                        p {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 12px;
                            line-height: 15px;
                            margin: 0px;
                            color: $white;

                            @include responsive-width($tablet-m) {
                                color: $white;
                                font-size: 16px;
                                line-height: 18px;
                            }
                        }
                    }

                    .form--callback {
                        margin-top: 2px;

                        @include responsive-width($tablet-m) {
                            margin-top: 8px;
                        }

                        p {
                            margin: 0px;
                            font-size: 10px;
                            line-height: 11px;
                            font-style: normal;
                            font-weight: normal;

                            a {
                                color: #004FB9;
                                text-decoration: underline;
                                font-weight: bold;
                            }

                            @include responsive-width($tablet-m) {
                                font-size: 12px;
                                line-height: 14px;
                            }
                        }
                    }
                }
            }
        }

        &__text {
            font-weight: bold;
            color: $blue;
            margin-top: 11px;
            margin-bottom: 16px;
            display: none;
        
            @include responsive-width($tablet-m) {
                display: block;
                padding-left: 10px;
            }
        }
        
        &__imgbanner {
            display: block;
            margin: 0 auto 0;
            width: 100%;
            text-align: right;
            position: absolute;
            top: 10px;
            z-index: 4;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
        
            @include responsive-width($tablet-m) {
                position: absolute;
                top: auto;
                bottom: 0;
                right: 50px;
                width: auto;
                z-index: 3;
                -moz-transform: none;
                -webkit-transform: none;
                -o-transform: none;
                -ms-transform: none;
                transform: none;
            }
            
            @include responsive-width($laptop-s) {
                bottom: 0;
                right: 50px;
            }
        
            @include responsive-width($laptop-m) {
                bottom: 0;
                right: 40px;
            }

            &-detail {
                position: absolute;
                left: 50%;
                bottom: 0;

                &:before {
                    content: '';
                    width: 3000px;
                    height: 3000px;
                    display: block;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: #08439C;
                    border-radius: 40px;
                    -moz-transform: translate(342px, 2536px) rotate(-13deg);
                    -webkit-transform: translate(342px, 2536px) rotate(-13deg);
                    -o-transform: translate(342px, 2536px) rotate(-13deg);
                    -ms-transform: translate(342px, 2536px) rotate(-13deg);
                    transform: translate(342px, 2536px) rotate(-13deg);
        
                    @include responsive-width($tablet-m) {
                        -moz-transform: translate(162px, 2229px) rotate(-18deg) skew(-9deg);
                        -webkit-transform: translate(162px, 2229px) rotate(-18deg) skew(-9deg);
                        -o-transform: translate(162px, 2229px) rotate(-18deg) skew(-9deg);
                        -ms-transform: translate(162px, 2229px) rotate(-18deg) skew(-9deg);
                        transform: translate(162px, 2229px) rotate(-18deg) skew(-9deg);
                    }
        
                    @include responsive-width($laptop-s) {
                        border-radius: 60px;
                        -moz-transform: translate(292px, 2169px) rotate(-20deg) skew(-9deg);
                        -webkit-transform: translate(292px, 2169px) rotate(-20deg) skew(-9deg);
                        -o-transform: translate(292px, 2169px) rotate(-20deg) skew(-9deg);
                        -ms-transform: translate(292px, 2169px) rotate(-20deg) skew(-9deg);
                        transform: translate(292px, 2169px) rotate(-20deg) skew(-9deg);
                    }
        
                    @include responsive-width($laptop-m) {
                        -moz-transform: translate(362px, 2089px) rotate(-24deg) skew(-9deg);
                        -webkit-transform: translate(362px, 2089px) rotate(-24deg) skew(-9deg);
                        -o-transform: translate(362px, 2089px) rotate(-24deg) skew(-9deg);
                        -ms-transform: translate(362px, 2089px) rotate(-24deg) skew(-9deg);
                        transform: translate(362px, 2089px) rotate(-24deg) skew(-9deg);
                    }
                }
            }

            img {
                max-width: 100%;
                display: inline-block;
                position: relative;
                z-index: 1;
                margin-right: 2px;
                margin-top: 10px;
        
                @include responsive-width($tablet-m) {
                    max-width: none;
                    width: auto;
                }
        
                @include responsive-width($laptop-s) {
                    // width: 740px;
                    margin-right: 0;
                }
        
                @include responsive-width($laptop-m) {
                    width: auto;
                    margin-right: 0;
                }

                // @include responsive-width($desktop_s) {
                //     margin-right: -45px;
                // }
            }
        }

        .e-button {

            &-buy {    
                margin-top: -22px;
                position: relative;
                z-index: 2;
    
                .btn-buy {
                    height: 40px;
                    padding: 0;
                    line-height: 36px;
            
                    @include responsive-width($tablet-m) {
                        font-size: 12px;
                        margin-left: 40px;
                        margin-top: 30px;
                        // margin-top: 58px;
                    }
            
                    @include responsive-width($laptop-s) {
                        margin-top: 30px;
                        margin-left: 30px;
                    }
            
                    @include responsive-width($laptop-m) {
                        margin-top: 30px;
                        margin-left: 0;
                    }
                    
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: right;
            letter-spacing: -0.01em;
            z-index: 4;
        
            &__mob {
                padding-left: 10px;
                margin: 7px auto 0;
                text-align: left;
                padding-right: 0;
                bottom: 10px;
            
                @include responsive-width($tablet-m) {
                    width: 460px;
                    bottom: 20px;
                    padding-left: 65px;
                }
            
                // @include responsive-width($laptop-s) {
                //   padding-left: 65px;
                // //   display: none;
                // }
                @include responsive-width($laptop-m) {
                    padding-left: 50px;
                    bottom: 14px;
                }
            }
        
            &__desk {
                display: none;
            
                @include responsive-width($laptop-s) {
                    font-size: 9px;
                    // display: block;
                    max-width: 930px;
                    right: auto;
                    left: 45px;
                    bottom: 15px;
                    padding: 0;
                    margin: 0;
                    text-align: justify;
                    line-height: 10px;
                }
            
                @include responsive-width($laptop-m) {
                    left: 50px;
                    max-width: 1000px;
                }
            }
        
            a {
                color: $extra_dark_gray;
                text-decoration: underline;
                @include responsive-width($laptop-s) {
                    text-decoration: none;
                }
            }
        }
    }
}