.entel__slider--home__item__content.entel__slider--home__item__cyberentel_accesorios {
    background-color: $white;
    padding: 0;
    -webkit-box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
    box-shadow:inset 0 -5px 20px 0 rgba(0,0,0,.05);
    
    .principalcontent {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        -ms-transform: none;
        transform: none;
        max-width: 315px !important;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        
        @include responsive-width($tablet-m) {
            max-width: 768px !important;
        }
        
        @include responsive-width($laptop-s) {
            max-width: 1000px !important;
        }
        
        @include responsive-width($laptop-m) {
            max-width: 1100px !important;
        }

        &__textbanner {
            font-weight: bold;
            text-align: left;
            display: block;
            margin: 0;
            padding: 40px 0 0 20px;
        
            @include responsive-width($tablet-m) {    
                padding-top: 26px;
                padding-left: 50px;
                width: 100%;
                text-align: left;
            }
            
            @include responsive-width($laptop-s) {
                padding-left: 38px;
                padding-top: 30px;
            }

            @include responsive-width($laptop-m) {
                padding-left: 60px;
                padding-top: 25px;
            }

            img {
                position: relative;
                display: inline-block;

                @include responsive-width($tablet-m) {
                    // margin-left: 60px;
                    margin-right: auto;
                    width: auto;
                }

                @include responsive-width($laptop-s) {
                    margin-left: 0;
                }
            }

            // &-detail {                
            //     position: absolute;
            //     top: 0;
            //     left: 0;

            //     &::before {
            //         position: absolute;
            //         content: '';
            //         display: block;
            //         width: 2000px;
            //         height: 2000px;
            //         background-color: $extra_blue;
            //         -webkit-border-radius: 28px;
            //         -moz-border-radius: 28px;
            //         border-radius: 28px;
            //         z-index: 0;
            //         -moz-transform: rotate(-15deg) skew(3deg) translate(436px, 97px);
            //         -webkit-transform: rotate(-15deg) skew(3deg) translate(436px, 97px);
            //         -o-transform: rotate(-15deg) skew(3deg) translate(436px, 97px);
            //         -ms-transform: rotate(-15deg) skew(3deg) translate(436px, 97px);
            //         transform: rotate(-15deg) skew(3deg) translate(436px, 97px);
        
            //         @include responsive-width($tablet-m) {
            //             -webkit-border-radius: 36px;
            //             -moz-border-radius: 36px;
            //             border-radius: 36px;
            //             -moz-transform: rotate(21deg) skew(-2deg) translate(-1806px, 474px);
            //             -webkit-transform: rotate(21deg) skew(-2deg) translate(-1806px, 474px);
            //             -o-transform: rotate(21deg) skew(-2deg) translate(-1806px, 474px);
            //             -ms-transform: rotate(21deg) skew(-2deg) translate(-1806px, 474px);
            //             transform: rotate(21deg) skew(-2deg) translate(-1806px, 474px);
            //         }
            
            //         @include responsive-width($laptop-s) {
            //             -webkit-border-radius: 36px;
            //             -moz-border-radius: 36px;
            //             border-radius: 36px;
            //             -moz-transform: rotate(19deg) skew(-2deg) translate(-1739px, 404px);
            //             -webkit-transform: rotate(19deg) skew(-2deg) translate(-1739px, 404px);
            //             -o-transform: rotate(19deg) skew(-2deg) translate(-1739px, 404px);
            //             -ms-transform: rotate(19deg) skew(-2deg) translate(-1739px, 404px);
            //             transform: rotate(19deg) skew(-2deg) translate(-1739px, 404px);
            //         }

            //         @include responsive-width($laptop-m) {
            //             -moz-transform: rotate(19deg) skew(-2deg) translate(-1681px, 372px);
            //             -webkit-transform: rotate(19deg) skew(-2deg) translate(-1681px, 372px);
            //             -o-transform: rotate(19deg) skew(-2deg) translate(-1681px, 372px);
            //             -ms-transform: rotate(19deg) skew(-2deg) translate(-1681px, 372px);
            //             transform: rotate(19deg) skew(-2deg) translate(-1681px, 372px);
            //         }
        
            //     } 

            //     &::after {
            //         position: absolute;
            //         content: '';
            //         display: block;
            //         width: 2000px;
            //         height: 2000px;
            //         background-color: $white;
            //         -webkit-border-radius: 28px;
            //         -moz-border-radius: 28px;
            //         border-radius: 28px;
            //         z-index: 0;
            //         -moz-transform: rotate(-14deg) skew(3deg) translate(429px, 7px);
            //         -webkit-transform: rotate(-14deg) skew(3deg) translate(429px, 7px);
            //         -o-transform: rotate(-14deg) skew(3deg) translate(429px, 7px);
            //         -ms-transform: rotate(-14deg) skew(3deg) translate(429px, 7px);
            //         transform: rotate(-14deg) skew(3deg) translate(429px, 7px);
        
            //         @include responsive-width($tablet-m) {
            //             -webkit-border-radius: 56px;
            //             -moz-border-radius: 56px;
            //             border-radius: 56px;
            //             -moz-transform: rotate(14deg) skew(-2deg) translate(-1758px, 224px);
            //             -webkit-transform: rotate(14deg) skew(-2deg) translate(-1758px, 224px);
            //             -o-transform: rotate(14deg) skew(-2deg) translate(-1758px, 224px);
            //             -ms-transform: rotate(14deg) skew(-2deg) translate(-1758px, 224px);
            //             transform: rotate(14deg) skew(-2deg) translate(-1758px, 224px);
            //         }
            
            //         @include responsive-width($laptop-s) {
            //             -webkit-border-radius: 36px;
            //             -moz-border-radius: 36px;
            //             border-radius: 36px;
            //             -moz-transform: rotate(14deg) skew(-2deg) translate(-1701px, 204px);
            //             -webkit-transform: rotate(14deg) skew(-2deg) translate(-1701px, 204px);
            //             -o-transform: rotate(14deg) skew(-2deg) translate(-1701px, 204px);
            //             -ms-transform: rotate(14deg) skew(-2deg) translate(-1701px, 204px);
            //             transform: rotate(14deg) skew(-2deg) translate(-1701px, 204px);
            //         }

            //         @include responsive-width($laptop-m) {
            //             -moz-transform: rotate(14deg) skew(-2deg) translate(-1641px, 204px);
            //             -webkit-transform: rotate(14deg) skew(-2deg) translate(-1641px, 204px);
            //             -o-transform: rotate(14deg) skew(-2deg) translate(-1641px, 204px);
            //             -ms-transform: rotate(14deg) skew(-2deg) translate(-1641px, 204px);
            //             transform: rotate(14deg) skew(-2deg) translate(-1641px, 204px);
            //         }
        
            //     } 
            // }

            &-text {
                position: relative;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;
                padding: 10px 20px 0;
                
                @include responsive-width($tablet-m) {
                    max-width: 100%;
                    width: 330px;
                    margin-left: 30px;
                    // padding: 58px 0 0 0;
                                    
                    text-align: left;
                    padding: 0;
                }

                @include responsive-width($laptop-m) {
                    margin-left: -70px;
                }

                h2 {
                    color: $extra_blue;
                    font-size: 34px;
                    line-height: 38px;
                
                    @include responsive-width($tablet-m) {
                        font-size: 50px;
                        line-height: 54px;
                    }
                }

                span {
                    color: $white;
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: normal;
                    display: inline-block;
                
                    @include responsive-width($tablet-m) {
                        font-size: 16px;
                        line-height: 18px;
                        margin-top: 5px;
                    }

                    br{
                        display: inline;
                
                        @include responsive-width($tablet-m) {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &__imgbanner {
            // display: none;
            margin: 0;
            width: 100%;
            height: 100%;
            text-align: right;
            right: -10px;
            bottom: -42px;
            position: absolute;
        
            @include responsive-width($tablet-m) {
                // margin: -10px 0 0 0;
                margin: 0;
                position: absolute;
                top: 40px;
                left: 0;
                -ms-transform: none;
                transform: none;
                text-align: right;
            }

            @include responsive-width($laptop-s) {
                top: 16px;
                left: 0;
            }

            @include responsive-width($laptop-m) {
                top: 20px;
                left: 0;
            }

            &-img {
                position: relative;
                display: block;
                height: 100%;

                // @include responsive-width($laptop-m) {
                //     &::before {
                //         content: '';
                //         display: block;
                //         position: absolute;
                //         bottom: 0;
                //         right: -110px;
                //         width: 398px;
                //         height: 334px;
                //         background-image:  url($m_image_path+'2021/05/banner-lib-backv2.png');
                //     }
                // }
            }

            img {
                max-width: none;
                width: auto;
                display: inline-block;  
                margin-right: 10px; 
        
                @include responsive-width($tablet-m) {    
                    margin-top: 0;
                    margin-right: 50px;
                }
        
                @include responsive-width($laptop-s) {
                    margin-right: 35px;
                }

                @include responsive-width($laptop-m) {
                    max-width: none;
                    width: auto;
                    margin-right: 55px;
                }
            }
        }

        .e-button-buy {
            padding-top: 10px;
            padding-left: 20px;
            text-align: left;
        
            @include responsive-width($tablet-m) {
                margin-top: 0;
                padding-top: 10px;
                padding-left: 56px;
            }

            @include responsive-width($laptop-s) {
                padding-top: 12px;
                padding-left: 38px;
            }

            @include responsive-width($laptop-m) {
                padding-top: 30px;
                padding-left: 60px;
            }

            .btn-buy {
                width: 126px;
                display: inline-block;
                height: 40px;
                padding: 0;
                line-height: 36px;
        
                @include responsive-width($tablet-m) {
                    font-size: 14px;
                    margin: 0;
                    width: 176px;
                    height: 50px;
                    line-height: 50px;
                    // margin-left: 30px;
                    // margin-top: 0;
                }

                @include responsive-width($laptop-s) {
                    height: 55px;
                    width: 176px;
                    font-size: 14px;
                    line-height: 50px;
                }
            }
        }
    
        .e-legal-small {
            position: absolute;
            font-size: 10px;
            line-height: 12px;
            width: 100%;
            padding: 0 10px 0 0;
            color: $extra_dark_gray;
            text-align: right;
            letter-spacing: -0.01em;
            z-index: 4;
        
            &__mob {
                padding-left: 20px;
                margin: 7px auto 0;
                text-align: left;
                padding-right: 0;
                bottom: 15px;
            
                @include responsive-width($tablet-m) {
                    width: 460px;
                    bottom: 20px;
                    padding-left: 60px;
                }
            
                @include responsive-width($laptop-s) {
                    padding-left: 50px;
                    bottom: 14px;
                }
            
                @include responsive-width($laptop-m) {
                    padding-left: 70px;
                }
            }
        
            a {
                color: $extra_dark_gray;
                text-decoration: underline;
                @include responsive-width($laptop-s) {
                    text-decoration: none;
                }
            }
        }
    }
}
    