- banner_name = 'Campaña equipos'
- banner_link = 'https://www.entel.pe/rxp'

.entel__slider--home__item(
    data-entel-slide-index='8' 
    data-entel-slide-time='8000' 
    data-layer-id='slider_'+banner_name  
    data-layer-name='Banner'+banner_name 
    data-layer-position='Home - Banner Superior 8' 
    data-layer-creative=banner_link
    )

    .entel__slider--home__item__content.entel__slider--home__item__content--campania-equipo
        .e-container
            .e-container-flex
                .e-container-flex__item.e-container-flex__item--1.fadeInLeft
                    div
                        h2 Llévate este #[b Equipazo]&nbsp; #[+mx_picture_retina_all("",img_path+'2022/10/banner-campania-equipos-logo-power', 'png', 'Logo Power')]
                        p Regístrate ingresando a la #[b Web Mi Entel.]
                        a(class='e-button e-button--orange entel-data-layer-btn-header' href=banner_link 
                        data-gtm-category='Sorteo de equipos - Noviembre' 
                        data-gtm-action='Seleccionar botón' 
                        data-gtm-label='Banner - Ingresa aquí' 
                        data-gtm-product='Personas' 
                        data-gtm-tipo='Informativo'
                ) Ingresa aquí
                small Válido para clientes Postpago, Prepago y Hogar Entel con líneas activas que ingresen sus datos en el landing page formulario del 28/10/22 al 28/11/22. Fecha de sorteo 30/11/22 y publicación de ganadores: 05/12/22. Stock de premio: 1 Iphone 11 de 64GB color negro. No aplica para RUC 20. Más información en #[a.e-tc--orange(href="https://www.entel.pe/swp") www.entel.pe/swp]

                .e-container-flex__item.e-container-flex__item--2.fadeInRight
                    +mx_picture_retina_all("",img_path+'2022/10/banner-campania-equipo-iphone-11', 'png', 'Equipo Iphone 11')
