section.e-section.thelordoftherings
    .thelordoftherings_icono
        .thelordoftherings_icono_item
             +lazy_image_webp_retina("2022/08/prime-video-logo-v2", "png", "Prime video", "")
        .thelordoftherings_icono_item
            +lazy_image_webp_retina("2022/08/los-anillos-de-poder-logo-v2", "png", "The lord of the rings", "")
    .thelordoftherings_texto
        p Disfruta #[strong Prime Video HOY!] Te invitamos los primeros #[strong 3 meses]
    .thelordoftherings_btn
        a.e-button.e-button--outline.e-button--outline-orange.entel-data-layer-btn-header(href="https://www.entel.pe/IsG" target="_blank" data-gtm-category="Home Cintillo" data-gtm-action="Seleccionar botón" data-gtm-label="The lord of the rings - Suscríbete aquí" data-gtm-product='Personas' data-gtm-tipo='Informativo') #[span Suscríbete #[span.show-tablet aquí]]