p Los clientes DNI, RUC 10, Pasaporte o CE que adquieran mínimo 2 líneas en el mismo plan y cargo fijo Entel Power Familiar en portabilidad, líneas nuevas, renovación o cambio de plan, podrán acceder al beneficio por líneas adicionales, pagando en 1 de sus líneas el cargo fijo completo y S/ 34.90 en las demás líneas. Teniendo como máximo 4 líneas con costo S/ 34.90. Para ello, se deberá cumplir con las siguientes condiciones:
//- p No aplica para líneas de titularidad de trabajadores Entel
br
p.e-tc--blue #[b Sobre las condiciones para adquirir la promoción.]
ul
    li El beneficio aplica para clientes con líneas postpago que cuenten con mínimo 2 líneas activas en el plan Entel Power Familiar.
    li Las líneas deberán tener el mismo plan Entel Power Familiar y cargo fijo.
    li Deben pertenecer al mismo titular y facturarse en el mismo recibo.
    li De contar con líneas con planes diferentes al Entel Power Familiar deberán solicitar el cambio de plan.
    li De contar con líneas Entel Power Familiar con diferentes cargos fijos deberán solicitar el cambio de plan y tener toda la cuenta en el mismo Plan Entel Power Familiar y cargo fijo.
    li El cargo fijo de cada una de las líneas postpago Entel Power Familiar deberá ser igual o superior a S/39.90; siempre y cuando aprueben la evaluación crediticia.
    li El cargo fijo del plan Entel Power Familiar y el beneficio en el cargo fijo por las líneas adicionales está sujeto a variaciones tarifarias de acuerdo con el Reglamento General de Tarifas aprobado por Resolución N°060-2000-CD-OSIPTEL.

br
p.e-tc--blue #[b Sobre las condiciones del beneficio]
ul
    li Se aplicará siempre y cuando el cliente mantenga como mínimo 2 líneas activas y sean del mismo plan y cargo fijo de Entel Power Familiar.
    li En caso el cliente desee mantener el beneficio al realizar un cambio de plan a otro plan Entel Power Familiar de diferente cargo fijo al actual, deberá efectuar el cambio de plan de todas sus líneas Entel Power Familiar hacia el nuevo cargo fijo Entel Power Familiar deseado.
    li Si al momento de la facturación, el cliente presenta línea(s) suspendida(s), dicha(s) línea(s) pierden el beneficio de todo el mes. Una vez reactivada(s) la(s) línea(s) citada(s) continuará(n) con el beneficio. Cabe señalar que el cliente podrá seguir recibiendo el beneficio por las líneas activas cumpliendo con las condiciones para la aplicación del presente beneficio.
    li En caso el cliente haya realizado un cambio de plan o contratado una o más líneas en los Planes Entel Power Familiar adquiriendo de esta manera el beneficio; y, posteriormente haya perdido las condiciones para contar con dicho beneficio, acepta que su línea será cambiada a su plan de origen o a un plan vigente de la oferta con el mismo cargo fijo y beneficios que se encuentran publicados en el SIRT de forma automática.
    li Aquellos clientes que cuentan con alguno de los siguientes planes Entel Power Familiar:

        table.entel-table(cellpadding='0', cellspacing='0', align='center', border='0' )
            tbody
                //- tr
                    td(width='100').entel-table-blue-title &nbsp;
                    td.entel-table-blue-title(colspan='2') #[span Velocidad ofrecida]
                    td.entel-table-blue-title(colspan='2') #[span Velocidad mínima garantizada]

                tr
                    td.entel-table-blue #[span Plan]
                    td.entel-table-blue #[span Código SIRT*]
                    td.entel-table-blue #[span Código SIRT**]
                tr
                    td Entel Power Familiar+ 39.90*
                    td TECNV2022000907
                    td TECNV2023000850
                tr
                    td Entel Power Familiar+ 49.90*
                    td TECNV2022001255
                    td TECNV2023000853
                tr
                    td Entel Power Familiar+ 55.90*
                    td TECNV2022000906
                    td TECNV2023000854
                tr
                    td Entel Power Familiar+ 59.90*
                    td TECNV2022001201
                    td TECNV2023000856
                tr
                    td Entel Power Familiar+ 74.90*
                    td TECNV2022000909
                    td TECNV2023000858
                tr
                    td Entel Power Familiar 89.90 SD*
                    td TECNV2022001253
                    td TECNV2023000859
                tr
                    td Entel Power Familiar 99.90 SD*
                    td TECNV2022000914 
                    td TECNV2023000861

        | Y deseen adquirir una línea adicional aplicando al presente beneficio, deberán migrar todas sus líneas a cualquiera de los Planes Entel Power Familiar de la oferta comercial vigente. Esta condición tambien aplica para aquellos planes familiares superiores a 99.90.#[br]#[br]*Planes comercialmente vigentes hasta el 26/01.
        br
        |  *Planes comercialmente vigentes hasta el 29/01. 
        br
        | **Planes comercialmente vigentes hasta el 04/02.




p El beneficio otorgado se perderá en su totalidad cuando el cliente:
ul
    li Tenga en total en su cuenta menos de 2 líneas activas en el plan Entel Power Familiar con el mismo cargo fijo.
    li Realice un cambio de plan, migración a prepago, una portabilidad a otro operador desactive la línea, realice una cesión de titularidad o suspensión ya sea a solicitud o no del cliente, y no mantenga al menos de 2 líneas activas con el plan Entel Power Familiar con el mismo cargo fijo.
    li Si el cliente realiza un uso indebido o prohibido, el beneficio se perderá para toda la cuenta.

br
p.e-tc--blue #[b Sobre la aplicación del beneficio]
ul
    li El beneficio aplicará sobre cualquiera de las líneas del titular que cumplan con las condiciones, dejando solo una de las líneas con el cargo fijo regular. En caso el cliente presente dos (2) o más grupos de planes Entel Power Familiar de diferentes cargos fijos, solo podrá disfrutar del beneficio en uno de los grupos del Plan Entel Power Familiar, el cual presente el menor cargo fijo.
    li En el recibo se visualizará de la siguiente manera: el monto del cargo fijo contratado para cada una de las líneas y como un “descuento” a partir de la segunda línea. Este “descuento” total se visualizará en la sección “Cuenta cliente”.
    li El beneficio se asignará desde el primer recibo, de forma automática.
    li Aplica sobre el cargo fijo (incluye prorrateo), sin incluir montos facturados por conceptos adicionales (por ejemplo, bolsas, servicios de valor agregado, cargo por LDI, cargos por Roaming, entre otros que no correspondan al cargo fijo).
    li El beneficio en el cargo fijo solo se brindará para máximo 4 líneas, es decir el cliente deberá activar 5 líneas, en una se cobrará el cargo fijo regular y en las otras 4 el beneficio indicado. A partir de la sexta (6) línea se cobrará el cargo fijo regular del plan que contrate el cliente.
    li El presente beneficio no es acumulable con descuentos de cargo fijo. Este beneficio tendrá prioridad sobre cualquier otro.


p Planes Postpago Entel Power Familiar vigentes:
//- .e-img-wrapper
//-     +lazy_image_webp_retina('2022/08/e-convergente-legal-planes-tarifarios-v6', 'png', 'Planes tarifarios')

table.entel-table(cellpadding='0', cellspacing='0', align='center', border='0' )
    tbody
        //- tr
            td(width='100').entel-table-blue-title &nbsp;
            td.entel-table-blue-title(colspan='2') #[span Velocidad ofrecida]
            td.entel-table-blue-title(colspan='2') #[span Velocidad mínima garantizada]

        tr
            td.entel-table-blue #[span Planes Tarifarios]
        tr
            td Entel Power Familiar+ 39.90*
        tr
            td Entel Power Familiar+ 49.90*
        tr
            td Entel Power Familiar+ 55.90*
        tr
            td Entel Power Familiar+ 59.90*
        tr
            td Entel Power Familiar+ 74.90*
        tr
            td Entel Power Familiar 89.90 SD*
        tr
            td Entel Power Familiar 99.90 SD*
        tr
            td Entel Power Familiar 129.90 SD*

p *Nuevos planes comercialmente vigentes desde el 05.02
//- p *En la ciudad de Iquitos estarán disponibles los planes Entel Power Familiar 35.90, Entel Power Familiar 45.90 y Entel Power Familiar 51.90. Asimismo, el Plan Entel Power Familiar 51.90, sólo estará disponible en esta ciudad (para portabilidad, líneas nuevas, renovación o cambio de plan)
//- br
//- p ** Planes disponibles desde el 20/03/22 y solo para cambio de plan (no aplican para línea nueva o Portabilidad)
//- br
//- p *** Planes disponibles desde el 08/04/22 para portabilidad, líneas nuevas, renovación o cambio de plan.
