h4 Condiciones Generales
p #[b 1. Planes Postpago Móvil:]
ul
    li Planes postpago en portabilidad, línea nueva, cambio de plan o renovación disponibles para personas naturales o RUC 10. Sujeto a evaluación crediticia.
br
p #[b 2. Minutos Todo Destino ilimitados]
ul
    li Minutos todo destino permiten llamar a cualquier operador móvil y fijos a nivel nacional, y para realizar llamadas de Larga Distancia Internacional Preferencial (Estados Unidos, Canadá y Chile).
    li De manera promocional desde el 27/01/2023 para los planes Entel Power Familiar+ 39.90, Entel Power Familiar+ 55.90, Entel Power Familiar+ 74.90 y Entel Power Familiar 89.90, Entel Power Familiar 99.90 SD, Entel Power Familiar 129.90 SD, los Minutos Todo Destino para realizar llamadas de Larga Distancia Internacional incluyen solo los países LDI Preferencial.
    li Esta promoción aplica únicamente marcando 1990, el código de larga distancia internacional de Entel.
    li Todas las llamadas de Larga Distancia Internacional se realizarán mediante el Sistema de Llamada por Llamada, independientemente de la modalidad de pago del servicio contratado por el cliente.
    li Este sistema no aplica al servicio de radio troncalizado Entel. Si usas este servicio aún podrás comunicarte con otros clientes de radio sin necesidad de anteponer el código de algún operador.


br
p #[b 3. Tarifas adicionales]
h4 Condiciones tarifarias:
p Una vez consumida la totalidad de los minutos de interconexión telefónica, mensajes de texto o MB de capacidad de transmisión de datos otorgados en el plan contratado por el abonado, éste podrá continuar utilizando dichos servicios mediante la activación de tarjetas prepago o Entel Recarga, siendo aplicables las tarifas indicadas a continuación.
br
p #[b 1. Costos adicionales:]
ul
    li LDI tiene un costo de S/0.69.
    li LDI Especial 1 tiene un costo de S/2.09.
    li LDI Especial 2 tiene un costo de S/9.78.
    li LDI Especial 3 tiene un costo de S/18.34.
    li LDI Especial 4 tiene un costo de S/3.90.
    li Costo adicional SMS Internacional: S/0.49.


p Una vez consumida la totalidad de alguno o todos los servicios otorgados por el plan tarifario contrato, este podrá continuar utilizando dichos servicios mediante la activación de tarjetas Prepago o recargas Entel según las tarifas indicadas como cargos adicionales. Planes Libre no cuentan con corte.
br
p #[b 2. Larga Distancia Internacional:]
ul
    li LDI Preferencial: Canadá, Chile y Estados Unidos.
    li LDI esp.1: Haití, Liechtenstein, Zaire, Somalia, Albania, Birmania, Mali y Trinidad y Tobago.
    li LDI esp.2: Bélgica, Filipinas, Marruecos, Argelia, Libia, Mauritania, Burkina Fasso, Liberia, Ghana, Chad, Cabo Verde, Gabón, Isla Seychelles, Etiopía, Djibouti, Mozambique, Lesotho, Botswana, Mayote, Aruba, Islas Feroe, Gibraltar, Irlanda, Islandia, Bulgaria, Belize, San Pierre y Miquelon, Guadalupe, República Guyana, Martinica, Papua New Guinea, Tonga, Palau, New Caledonia, Marshall Island, Vietnam, Oman, Andorra, Croacia, Bosnia, Afganistan, Eritrea, Monaco, Estonia, Moldavia, Armenia, Yugoslavia, Eslovenia, Macedonia, Azerbaiyan, Granada, San Kitts y Nevis y Montenegro.
    li LDI esp.3: Túnez, Gambia, Senegal, Costa de Marfil, Togo, Sierra Leona, Central Africa, Cameroon, Sao Tome y Principe, Congo, Isla Ascensión, Rwanda, Madagascar, Zimbabwe, Namibia, Swaziland, Groenlandia, Islas Falkland, Guyana Francesa, Surinam, Timor Este, Isla Norkfolk, Nauru, Islas Solomon, Vanuatu, Islas Cook, Samoa Americana, Kiribati, Polinesia Francesa, República Democrática de Corea, Macao, Maldivas, Bielorusia, Is. Virg. Am., Isla Cayman, Bermudas, Guinea Bissau, Diego Garcia, Santa Elena, Letonia (Latvia), San Marino, Wallis y Futuna, Niue, Tuvalu, Tokelau, Mongolia, Barbados, Turcos y Caicos, Santa Lucia.
    li LDI esp.4: Cuba y Australia.
    li LDI: Bangladesh, Bolivia, China, Colombia, El Salvador, Francia, Guatemala, Hong Kong, Japón, India, Venezuela, Malasia, Panamá, Paraguay, Puerto Rico, Singapur, Taiwán, Tailandia, España, Italia y todos los destinos menos LDI Preferencial, LDI esp1, LDI esp2 , LDI esp3 y LDI esp4.


br
p #[b 3. Mensajes de Texto (SMS)]
ul
    li Costo adicional SMS Internacional: S/0.49.
    li Los SMS permiten al abonado enviar SMS a teléfonos móviles y fijos a nivel nacional y de cualquier operador. El envío de SMS a otros países, serán considerados como mensajería internacional y serán tarificados como consumos adicionales a los mensajes incluidos en el Plan Tarifario.
    li El uso de los SMS no permite el envío de mensajería masiva unidireccional, si el cliente realiza dicho uso, se podrán tomar las medidas regulatorias y contractuales que correspondan.
    li Los mensajes son válidos para todo destino nacional. Sólo podrán utilizarse para enviar mensajes de un equipo móvil Entel para uso personal a un equipo móvil de cualquier operador nacional para uso personal, no pudiendo usarse un Software/aplicación o Hardware distinto a dichos terminales. Los SMS no se podrán usar para los fines de los servicios: Publicitarios, Cobranzas, Alertas informativas. En caso de uso no personal, se podrán tomar las medidas regulatorias y contractuales que correspondan.


br
p #[b 4. Gigabytes (GB)]
ul
    li GB incluidos permiten navegar en territorio nacional peruano, a través del servicio navegador Entel y servicio módem Entel.
    li Los GB de capacidad de transmisión de datos permiten al cliente navegar en Internet en territorio nacional peruano, a través del servicio de Navegador (el “Servicio Navegador”). El Plan Tarifario permite al abonado navegar por Internet con las tecnologías 5G, 4G, 3G y 2G. Para disfrutar de las tecnologías el abonado deberá contar con los siguientes elementos:

    ul
        li Equipo compatible con las tecnologías 5G, 4G, 3G y 2G
        li Encontrarse dentro de la zona en la cual Entel cuenta con cobertura de la tecnología 5G.

    li Encaso el abonado no se encuentre dentro de la de zona de cobertura 5G de Entel, navegará con la tecnología 4G, 3G o 2G según la cobertura que se encuentre disponible y siempre y cuando su equipo terminal lo permita.



h4 Navegación en alta velocidad
//- .e-img-wrapper
//-     +lazy_image_webp_retina_media('2022/02/e-convergente-legal-nav-alta-velocidad-mob', 'png', '2022/02/e-convergente-legal-nav-alta-velocidad-desk', '768', 'Navegación en alta velocidad')
//- h4 Navegación con velocidad degradada
//- .e-img-wrapper
//-     +lazy_image_webp_retina_media('2022/02/e-convergente-legal-nav-velocidad-degradada-mob', 'png', '2022/02/e-convergente-legal-nav-velocidad-degradada-desk', '768', 'Navegación en velocidad degradada')
h4 Condiciones Planes Entel Power Familiar SD
ul
    li Las siguientes condiciones aplican para el Plan Entel Power Familiar 89.90 SD, Entel Power Familiar 99.90 SD y Entel Power Familiar 129.90 SD, para personas naturales DNI y RUC 10.
    li Para todos los siguientes beneficios el usuario debe tener configurado la navegación en el APN ENTEL.PE.


br
p #[b 1. Gigabytes (GB)]
ul
    li El cliente navegará en las siguientes velocidades
p #[b Navegación en alta velocidad]
.e-img-wrapper
    +lazy_image_webp_retina_media('2022/09/e-convergente-legal-condiciones-familiar-1-v4-mob', 'png', '2022/09/e-convergente-legal-condiciones-familiar-1-v4-desk', '768', 'Condiciones plan familiar')
//- ul 
//-     li Una vez consumidos los GB de alta velocidad, se navegará en las siguientes velocidades y tecnologías: 
//- .e-img-wrapper
//-     +lazy_image_webp_retina_media('2022/03/e-convergente-legal-condiciones-familiar-2-v2-mob', 'png', '2022/03/e-convergente-legal-condiciones-familiar-2-v2-desk', '768', 'Condiciones plan familiar')
ul 
    li Los clientes con los planes Entel Power Familiar 89.90 SD y Entel Power Familiar 99.90 SD, Entel Power Familiar 129.90 SD tendrán por defecto la visualización de videos en una calidad estándar 480p para todo streaming de video. La reproducción de música tendrá por defecto una calidad estándar SD para todo streaming de música. El cliente podrá superar la calidad antes mencionada adquiriendo las bolsas disponibles de datos o video para el plan contratado.
    li Según el plan contratado, se tendrá una cantidad determinada de GB para el uso de tethering.
    li Únicamente se podrá usar la totalidad de las gigas para tethering durante el tiempo que dure la Emergencia Sanitaria a nivel nacional declarada mediante Decreto Supremo N°008-2020-SA y sus modificatorias.
    li Si por motivos ajenos a Entel el cliente logra efectuar alguna manipulación para habilitar el tethering en los datos (GB) ilimitados una vez consumidos los datos (GB) para uso exclusivo de tethering, no se le cobrará ninguna tarifa adicional, sin perjuicio de que Entel se reserve el derecho de tomar las acciones regulatorias correspondientes por el incumplimiento de las condiciones pactadas.




h4 Condiciones Redes Sociales
p #[b 1. Generales]
ul
    li Aplica para el uso de redes sociales sin consumo de datos y sin necesidad de que el cliente cuente con saldo de recargas o GB en su cuenta de abonado.
    li La navegación es válida para smartphones navegando vía APN entel.pe.
    li No incluye contenidos externos ni futuras funcionalidades que no estén expresamente indicadas en esta publicación.
    li Entel no se responsabiliza por el funcionamiento de las aplicaciones.
    li Para hacer uso de esta aplicación el usuario deberá tener un equipo compatible.
    li No incluye cargos por suscripción o contenido de terceros. El usuario deberá estar previamente registrado y suscrito a la aplicación.
    li No aplica durante el servicio de Roaming.
    li No aplica para la descarga y actualización de las aplicaciones incluidas


br
p #[b 2. WhatsApp]
ul
    li Válido para planes de telefonía celular postpago de la oferta vigente en Entel Power Familiar+ 39.90, Entel Power Familiar+ 49.90, Entel Power Familiar+ 55.90, Entel Power Familiar+ 59.90 y Entel Power Familiar+ 74.90.
    li Aplica solo para envío/recepción de texto, imágenes, fotos, videos, notas de voz, archivo de audio, y contactos. No aplica para enviar ubicación, descargar la aplicación, actualizar la aplicación, configurar su número (la primera vez que se utiliza la aplicación o si es que vuelve instalar), abrir contenidos y links externos a WhatsApp.


br
p #[b 3. Facebook Fotos]
ul
    li Válido para planes de telefonía celular postpago de la oferta vigente en Entel Power Familiar+ 39.90 y Entel Power Familiar+ 49.90.
    li El aplicativo Facebook y Facebook Messenger deben estar actualizados a la última versión disponible para hacer uso de la promoción.
    li Facebook gratuito con fotos podrán ver imágenes y texto.
    li No aplica para terminales configurados con proxy o con sistema operativo Windows Mobile o iOS, llamadas de voz sobre IP, videollamadas y envío de notas de Audio en Facebook Messenger.


br
p #[b 4. Facebook Full]
ul
    li Válido para planes de telefonía celular postpago de la oferta vigente en Entel Power Familiar+ 55.90, Entel Power Familiar+ 59,90 y Entel Power Familiar+ 74.90.
    li El aplicativo Facebook y Facebook Messenger deben estar actualizados a la última versión disponible para hacer uso de la promoción.
    li No aplica para terminales configurados con proxy o con sistema operativo Windows Mobile o iOS, llamadas de voz sobre IP.
    li Permite el uso ilimitado de las aplicaciones móviles Facebook, Facebook Messenger y Website de Facebook para móviles: m.facebook.com
    li Facebook gratuito con videos podrán ver imágenes, texto y video.


br
p #[b 5. Waze]
ul
    li Válido para planes de telefonía celular postpago de la oferta vigente en Entel Power Familiar+ 39.90, Entel Power Familiar+ 49.90, Entel Power Familiar+ 55.90, Entel Power Familiar+ 59.90 y Entel Power Familiar+74.90
    li No incluye: Sugerencia de direcciones, búsqueda de direcciones por voz, descarga ni actualizaciones de la aplicación, funciones relacionadas a redes sociales Facebook y Twitter (registro de usuario por Facebook o compartir información en cualquiera de estas redes sociales), acceso al centro de ayuda ni futuras funcionalidades que no estén expresamente indicadas en esta promoción.
    li Aplica para smartphones con APN entel.pe con los sistemas operativos Android (a partir de 4.0), IOS (a partir de 7.0).
    li No aplica para terminales configurados con proxy.
    li En caso el abonado migre a otro plan que no está incluido en la promoción, perderá los beneficios de Waze ilimitado.


br
p #[b 6. Instagram Fotos]
ul
    li Válido para planes de telefonía celular postpago de la oferta vigente en Entel Power Familiar+ 39.90 y Entel Power Familiar+ 49.90. 
    li Aplica para: ver y descargar fotos, publicar fotos, ver y descargar historias que contengan solo fotos, publicar historias que contengan fotos, realizar búsqueda de usuarios, utilizar mensajes directos solo para el envío/recepción de fotos y texto.
    li Smartphones con sistema operativo Android: a través de la APP “Instagram®” o Smartphones con otros sistemas operativos: entrando desde un navegador a www.instagram.com
    li No aplica para compartir, reproducir, cargar o descargar videos fuera de la aplicación oficial de Instagram.
    li La funcionalidad no aplica para descargar, publicar y ver videos.
    li No aplica para ver y realizar transmisiones de vivo.
    li No aplica para cargar y ver historias que contengan videos.


br
p #[b 7. Instagram Full]
ul
    li Válido para planes de telefonía celular postpago de la oferta vigente en Entel Power Familiar+ 55.90, Entel Power Familiar+ 59.90 y Entel Power Familiar+ 74.90.
    li Aplica para: ver y descargar fotos o videos, publicar fotos o videos, ver y descargar historias que contengan fotos o videos, publicar historias que contengan fotos o videos, realizar búsqueda de usuarios, utilizar mensajes directos para el envío/recepción de fotos, texto o videos.
    li Smartphones con sistema operativo Android: a través de la APP “Instagram®” o Smartphones con otros sistemas operativos: entrando desde un navegador a www.instagram.com
    li No aplica para compartir, reproducir, cargar o descargar videos fuera de la aplicación oficial de Instagram.


br
p #[b 8. Spotify]
ul
    li Válido para planes de telefonía celular postpago de la oferta vigente en Entel Power Familiar+ 55,90, Entel Power Familiar+ 59.90 y Entel Power Familiar+ 74.90. 
    li Aplica para escuchar música en streaming o para su descarga dentro de la aplicación.
    li Aplica para navegar desde su browser ingresando al siguiente acceso: https://www.Spotify®.com
    li No se podrá iniciar sesión por Google
    li No se podrá compartir música con otra plataforma (gmail, google , etc.)
    li No incluye la afiliación a la cuenta Premium.


br
p #[b 9. Apple Music]
ul
    li Válido para planes de telefonía celular postpago de la oferta vigente en Entel Power Familiar+ 55,90, Entel Power Familiar+ 59.90 y Entel Power Familiar+ 74.90. 
    li Aplica para escuchar música en streaming o para su descarga dentro de la aplicación.
    li No se podrá iniciar sesión por Google
    li No se podrá compartir música con otra plataforma (gmail, google, etc.)
    li No incluye la afiliación a la cuenta Premium.


br
h4 Condiciones Roaming
ul
    li Válido para planes contratados del 05/02/23 hasta el 15/02/2023. Apps Roaming para planes desde Entel Power Familiar SD 89.90 y GBs Roaming válido para planes desde Entel Power Familiar+ 55.90.
    li Sujeto a evaluación crediticia
    li Válido para smartphones navegando vía APN entel.pe.
    li Los GB y Apps serán asignados al inicio del ciclo de facturación y estarán vigentes durante el ciclo hasta que sean consumidos, lo que ocurra primero.
    li La promoción tiene validez para consumos de datos vía Roaming Internacional sólo en los países de Zona Promocional para planes desde S/69.90: Estados Unidos, Chile, Colombia, Argentina, España, Puerto Rico, México, Brasil, Ecuador, Panamá, Bolivia. WhatsApp aplica para envío y recepción de texto, notas de voz, imágenes, videos y documentos adjuntos.
    li Waze no incluye funcionalidades relacionadas a redes sociales ni sugerencias de direcciones ni búsquedas por voz ni centro de ayuda.
    li Google Maps no aplica para compartir ubicación, enviar mensajes, sugerencias de direcciones ni búsqueda por voz. Ni para descarga de mapas para usar fuera de línea.
    li Google Traductor no aplica para traducciones instantáneas con la cámara, escritura a mano, conversación ni búsqueda por voz. Ni para la descarga de idiomas para usar fuera de línea.
    li Gmail, Yahoo! y Outlook a partir de un consumo de 5 GB en el envío y/o recepción de correos electrónicos durante el ciclo de facturación, la velocidad se reducirá a 64 kbps para dichas funcionalidades. Para contar con las funciones antes mencionadas en los servidores de correo indicados el cliente deberá configurar la cuenta de correos sobre la aplicación móvil (App) de cada servidor. Beneficios no incluyen cargos por suscripción a servicios premium de las aplicaciones.
    li Entel no se responsabiliza por el funcionamiento de las aplicaciones. WhatsApp, Waze, Google Maps, Google Traductor, Uber, Gmail, Yahoo!, Outlook, Tripadvisor y Booking no incluyen descarga y actualización de aplicaciones, tethering por wifi, HubSpot o contenidos externos a dichos aplicativos ni funcionalidades que no estén expresamente indicadas.
    li El abonado deberá contar con el servicio de Roaming Activo.


h4 Condiciones Migra
p.e-tc--orange #[b BONO TIK TOK POR 3 MESES]
ul
    li Promoción válida del 05/02/2023 hasta el 15/02/2023 contratando planes Entel Power Familiar+ 39.90 de la oferta vigente en portabilidad para personas naturales con DNI o RUC 10.
    li Se otorga el doble de MB por los primeros 3 luego de la contratación del plan.
    li Los planes permiten navegar con la tecnología 4G o LTE. Siempre y cuando el cliente tenga un equipo compatible con 4G LTE y se encuentre en una zona de cobertura Entel 4G.
    li No aplica para compartir datos o roaming.
    li No aplica para la descarga y actualización de las aplicaciones incluidas
    li Lo GB otorgados no son acumulables, por lo que una vez transcurrido el plazo de vigencia correspondiente al bono otorgado, la totalidad de los GB recibidos que no hubiesen sido utilizados se perderán o hasta que se consuman, lo que ocurra primero
    li Para hacer uso de las aplicaciones el usuario deberá tener un equipo compatible con estas.
    li No incluye cargos por suscripción o contenido de terceros. El usuario deberá estar previamente registrado y suscrito a las aplicaciones.


br
p #[b El cliente perderá el bono si:]
ul
    li Realiza la baja de su línea móvil
    li Cambia de plan fuera de los planes de la promoción (a partir de la fecha de migración)
    li Cambia de titularidad o cede línea
    li Desactiva la línea o migra a prepago
    li Suspende la línea por morosidad, robo, pérdida o de manera temporal


p En caso de que el abonado luego de acceder a la Promoción realice alguna de estas acciones, perderá la promoción asignada a partir de la fecha de ejecución de algunos de estos escenarios.
br
p #[b Tik Tok aplica para:]
ul
    li Navegar: ver, crear, editar, compartir y guardar videos.
    li Seguir usuarios: enviar y recibir mensajes; dar me gusta o comentar.
    li Cargar videos o imágenes: añadir efectos disponibles durante y después de la grabación.
    li Cambiar la dirección de la cámara durante la grabación.
    li Configurar o ajustar la velocidad y duración durante la grabación.
    li Establecer un límite de grabación.
    li Aplicar voz superpuesta después de grabación y recibir notificaciones.
    li No aplica para contenidos externos a la aplicación ni funcionalidades que no estén expresamente indicadas.


p Entel no se responsabiliza por el funcionamiento de la aplicación.
br

h4 Políticas de Privacidad
ul
    li El Cliente autoriza expresamente a Entel a hacer uso y tratar los datos personales que le proporciona a través de la página Web, así como la información que se derive de su uso, de acuerdo con la Ley N 29733 y su Reglamento. El tratamiento de la información implicará el uso de esta para las finalidades concernientes a la presente promoción, de ser el caso, así como el envío de anuncios y oferta de servicios por medio del correo electrónico registrado en la página web, envío de SMS, locuciones y llamadas al número telefónico que el Cliente ha registrado. Asimismo, el Cliente autoriza a Entel a transferir los datos personales proporcionados a empresas que brinden servicios de almacenamiento, pudiendo basarse en infraestructura en la nube ya sea en territorio nacional o en el extranjero, a fin de poder alojar, almacenar, procesar y ejecutar los mismos.
    li El Cliente puede ejercer los derechos de acceso a sus datos personales proporcionados, como a la actualización, rectificación e inclusión de nuevos datos.
    li Si el cliente lo desea puede oponerse al uso de sus datos personales registrados en la página web, mediante una comunicación simple en cualquiera de nuestros centros de atención.

